[2020-02-16 07:39] Some-random commented on #1582
Thanks for the answer! I will share my results when I finished per-speaker normalization training of HKUST.

[2020-02-16 07:39] #1582 closed

[2020-02-16 13:14] teinhonglo opened #1587 "How to implement custom forward layer in ASR model?"
Hi everyone!

I recently tried to customize the forward layer of the network, but I have some trouble.
The code changes in "espnet/nets/pytorch_backend/e2e_asr.py" are as follows:

First, I add this code to [L193](https://github.com/espnet/espnet/blob/master/espnet/nets/pytorch_backend/e2e_asr.py#L193):
`self.enc_2 = encoder_for(args, idim, self.subsample)`

Second, I add this code to [L259](https

[2020-02-16 15:38] sw005320 commented on #1578
Actually, the ASR part is almost fixed and we have performed a number of tests. It will be converged hopefully in a month and will have some initial release then. We'll keep both 1 & 2 for a while.

[2020-02-16 16:31] SeanNaren commented on #1578
That's awesome! Will close this for now, thanks guys :)

[2020-02-16 16:31] #1578 closed

[2020-02-17 08:34] b-flo commented on #1587
Hi,

The code changes in "espnet/nets/pytorch_backend/e2e_asr.py" are as follows:

self.enc_2 = encoder_for(args, idim, self.subsample)

hs_2_pad, hlens_2, _ = self.enc_2(hs_2_pad, hlens_2)

I'm not sure which forward layer you're talking about but you don't need to modify these lines if you're doing modifications within the encoder? As if, it look likes you only rename variables.

Does this mean

[2020-02-17 14:19] desothier1 commented on #1579
thanks, I will see what I can make of it

[2020-02-17 14:52] palle-k opened #1590 "Tedlium 2: Pretrained transformer model not available"
The pretrained Transformer (large model + specaug + large LM) model files for Tedlium 2 are unavailable at the link in the [RESULTS.md](https://github.com/espnet/espnet/blob/master/egs/tedlium2/asr1/RESULTS.md) file for Tedlium 2, as well as in the [Results and Demo section of the README of this project](https://github.com/espnet/espnet#results-and-demo) (tedlium2.transformer.v1).

In both cases,

[2020-02-18 00:33] qmpzzpmq opened #1591 "could retrain from model.acc.best or model.loss.best"
Is there any method resume from model.acc.best or model.loss.best and using a opt from the setting conf/train.yaml
if there is no this method and your guys want it, I can add this function.

[2020-02-18 01:23] #1360 closed

[2020-02-18 07:27] ahmedalbahnasawy commented on #1590
I think you are using recog_wav.sh file, you can replace it with your model if you have one.

[2020-02-18 07:40] b-flo commented on #1591
Hi,

You mean loading a pre-trained model and changing the optimizer? If so, you could use these options: https://github.com/espnet/espnet/blob/master/espnet/bin/asr_train.py#L179-L189

[2020-02-18 12:02] palle-k commented on #1590
My issue is that I cannot access the pre-trained model. I know how to train my own model.

[2020-02-18 13:08] sw005320 commented on #1590
@ShigekiKarita, can you fix the link?
I also confirmed that the link is broken.
Also, it would be better to put it to my google drive so that I could manage to fix it by myself.

[2020-02-18 13:18] ShigekiKarita commented on #1590
sorry I do not have access to that model file and GPU servers anymore. I
wish someone can rerun this exp and upload it...

2020年2月18日(火) 22:08 Shinji Watanabe <notifications@github.com>:

[2020-02-18 13:22] ShigekiKarita commented on #1590
If you can wait for 2 weeks, I will get back my GPU machine. I expect that I have downloaded the file there.

[2020-02-19 10:41] jnoelvictorino opened #1597 "Using Trained Model with Microphone"
Hi,

I have read this issue about Online Decoding (#324). I am wondering if this idea will work.
My goal is to train a multi-speaker ASR based on WSJ-2mix recipe. I want to use trained model for transcribing speech to text from microphone. I looked at Kaldi's documentation and found [Online Decoding](https://kaldi-asr.org/doc/online_programs.html#audio_server).

I was thinking if training in ESPne

[2020-02-19 13:44] #1417 closed

[2020-02-19 16:23] iustinaabc commented on #1496
Hi,

[2020-02-19 16:44] iustinaabc commented on #1496
Hi, I have a related issue.
In my application I need to invert some adversarial features created with ESPnet for the VoxForge ASR task. As such, instead of using Kaldi's feature extraction (_compute-fbank-pitch_), I used the Librosa-based **compute-fbank-feats.py** to get 80 mel-fbanks from regular input wavs, and then applied convert_fbank_to_wav.py to invert those features, just as a sanity chec

[2020-02-19 17:48] sw005320 commented on #1597
Unfortunately, we don't support such on-line decoding yet (we have ongoing projects though).

[2020-02-20 00:37] kan-bayashi commented on #1496
@iustinaabc Did you perform de-normalization?
 If you apply to normalized feature, the power is very small so it will be almost zero.

[2020-02-20 06:05] leonardltk opened #1600 "ASR experiment with the VoxForge Italian Corpus - error: unrecognized arguments"
Hi,

I just installed ESPNet and was following the tutorial in https://espnet.github.io/espnet/tutorial.html

Installation went fine without errors.

But at the stage of running the example script in `egs/voxforge/asr1/run.sh`
There is error in stage 3 :
[code]
In this log:
[code]

What should i do about these two unrecognized arguments ?

[2020-02-20 08:54] b-flo commented on #1600
Hi,

`lsm_type` and `sampling_probability` are not available for Transformer, you can safely remove these arguments in config. If you want label smoothing loss, you can use `transformer-length-normalized-loss` and `lsm_weight`

[2020-02-20 09:25] jnoelvictorino commented on #1597
I understand. Thank you for the quick response and I look forward to initial release of your projects. I am also ESPnet a lot. Thank you

[2020-02-20 09:25] #1597 closed

[2020-02-20 09:26] qmpzzpmq commented on #1384
I have some experience with ngram implemented into decoding as I asking, if you need help.
#1228

[2020-02-20 12:57] Fhrozen opened #1603 "Move text.cleaner inside espnet.tts"
I was testing TTS and following the code from the [guide](https://espnet.github.io/espnet/notebook/tts_realtime_demo.html), however, the part of `from text.cleaners import custom_english_cleaners` give me a little of trouble because I could not find any git related to that, until I looked into [ljspeech dir](https://github.com/espnet/espnet/tree/master/egs/ljspeech/tts1/local/text). This part is r

[2020-02-20 13:31] #1508 closed

[2020-02-20 13:34] sw005320 commented on #1490
Hi all,
Could you please check the new config in #1601 and redo experiments?
Please carefully check the difference between espnet1 and espnet2.

[2020-02-20 14:00] kamo-naoyuki commented on #1490
Please also use pytorch=1.4 and builtin-ctc i.e. don't use warp-ctc. In my voxforge experiments, there are no big difference about it.

[2020-02-21 00:48] sw005320 commented on #1384
#1228

As you may know, this new decoder interface allows log-linear interpolation of multiple scorer instances  (including encoder-decoder, RNNLM, etc. This can be also used to combine multiple encoder-decoder and language models) in a unified way.
And, yes we're very interested in n-gram implementation.
It would be great if you consider some contributions.

[2020-02-21 01:38] qmpzzpmq commented on #1384
@sw005320 yes, I know that, I implement a simple ngram through ScorerInterface.
And I tested it implemented through _openfst_python _(@ShigekiKarita ) and _kenlm_ both.
It seems _kenlm_ is faster than _openfst_python_.

[2020-02-21 02:42] sw005320 commented on #1384
Very cool. Could you make a PR?
I think this is great to have both kenlm and openfst_python options.

[2020-02-21 04:38] ShigekiKarita commented on #1384
can't wait to see it!

2020年2月21日(金) 11:42 Shinji Watanabe <notifications@github.com>:

[2020-02-21 09:38] gandolfxu commented on #1371
@sw005320
I'm runing the example egs/aishell/asr1

[2020-02-21 09:49] TitouanT opened #1604 "torch unsqueeze is not inplace"
Unless I am missing something the `unsqueeze` method does not change the tensor inplace.
So in the lines below, since the result of the call is not stored, either these calls are artifact of debugging, either they are meant as inplace calls. Either way something is wrong here.

https://github.com/espnet/espnet/blob/226449ad2f9cc55b42b03393337c2586d41f688d/espnet/nets/pytorch_backend/rnn/decoders.p

[2020-02-21 11:26] iustinaabc commented on #1496
I did not apply any CMVN in the forward feature extraction. The only normalization was the implicit scaling done in **compute-fbank-feats.py**
[code]

I tried to debug this separately in a jupyter notebook - I loaded the features for a single audio utterance and did plots at different stages of the feature inversion. There seems to be some signal after griffin_lim is applied:
![image](https://user

[2020-02-21 16:20] cookingbear opened #1607 "MUST-C Transformer + ASR-MTL config"
what is the config of Transformer + ASR-MTL in the must-c RESULT?
I did not find any config with asr-weight!=0

[2020-02-21 22:51] sw005320 commented on #1607
I think it must be https://github.com/espnet/espnet/blob/master/egs/must_c/asr1/conf/tuning/train_pytorch_transformer.yaml
@hirofumi0810, could you confirm it, and also add the config info to the `RESULTS.md`?

[2020-02-22 01:31] cookingbear commented on #1607
I found this Transformer + ASR-MTL result at the RESULT.md in the st directory, so does this "ASR-MTL" mean that ST is trained with ASR simultaneously or ASR is pre-trained using mtl?

[2020-02-22 22:28] iustinaabc opened #1609 "VoxForge Task - much worse recognition without pitch feature"
Hello,
I am currently working on the VoxForge ASR task and encounter some issues when using only the 80 log-mel filterbank features (no CMVN, no pitch features). The features were extracted with Kaldi script **make_fbank.sh**

I have been training an attention-based RNN with following architecture:

[code]

I get error rates of 115% WER and 85 % CER.
The same results occur when I use the same 80 l

[2020-02-23 01:58] kamo-naoyuki commented on #1609
I have tested no pitch feats with voxforge with cmvn and got slightly worse result, about 1-2% in that time.
Recently I try same task again and I found there are no difference between w/ and w/o pitch https://github.com/espnet/espnet/blob/v.0.7.0/egs2/voxforge/asr1/README.md.
(though this is espnet2' result), so potentially it can give same performance at voxforge task.

How about trying CMVN? CMV

[2020-02-23 05:28] #1420 closed

[2020-02-23 07:05] ahmedalbahnasawy commented on #1590
I downloaded Librispeech pre trained model before @palle-k
I can share it with you if you don't mind

[2020-02-23 09:01] iustinaabc commented on #1609
By _no pitch_ do you mean raw features or fbanks?

These graphs are for **83 feats (fbanks + pitch)** and **CMVN** (_make_fbank_pitch.sh_)
![image](https://user-images.githubusercontent.com/46626614/75109427-2bfbfc80-5623-11ea-9dda-c82ed51605f9.png)

These graphs are for **83 feats (fbanks + pitch)** and **no CMVN** (_make_fbank_pitch.sh_)
![image](https://user-images.githubusercontent.com/4662661

[2020-02-23 13:13] iustinaabc commented on #1609
Also, forgot to mention that I'm experimenting with the **English Voxforge**, not Italian

[2020-02-24 05:55] #1424 closed

[2020-02-24 05:55] #1248 closed

[2020-02-24 05:55] #1418 closed

[2020-02-24 11:30] iustinaabc commented on #1496
I did this from scratch and inversion worked, with audio sounding very close to the original. There must have been a parameter mismatch somewhere, but didn't investigate further.

[2020-02-24 12:55] #1389 closed

[2020-02-24 13:13] sw005320 commented on #1371
This would happen when all the hypotheses reach the end of the sentence. This is normal behavior.

[2020-02-24 13:24] sw005320 commented on #1604
Many thanks.
This seems to be a problem.
@ShigekiKarita, do you have a bandwidth to take care of it?

[2020-02-24 13:27] ShigekiKarita commented on #1604
I see but it is not problem. We can safely delete them.

2020年2月24日(月) 22:24 Shinji Watanabe <notifications@github.com>:

[2020-02-24 13:48] sw005320 commented on #1590
@ahmedalbahnasawy, this is very helpful!
And also to avoid this issue, it would be better to put the model under my Google drive.
Could you send me your email address to shinjiw@ieee.org? Then, I'll send you an invitation.

[2020-02-24 13:51] sw005320 commented on #1609
Yes, please post it with no pitch, with CMVN, once it is finished. The use of CMVN changes the result a lot.

[2020-02-24 14:43] gandolfxu commented on #1371
@sw005320
But all the decoding results meet the same problem. I think that there may be some errors.

[2020-02-24 15:28] sw005320 commented on #1371
Could you share your decoding config?
You seem to set something wrong.

[2020-02-25 07:05] fly12357 opened #1613 "Disallowed UTF-8 whitespace character for “CSMSC” validate_text"
When I run the "CSMSC" recipe, I meet the follwing ERROR:

utils/validate_text.pl: The line for utterance 000001 contains CR (0x0D) character
utils/validate_text.pl: ERROR: text file 'data/train/text' contains disallowed UTF-8 whitespace character(s)

![image](https://user-images.githubusercontent.com/40494145/75222946-5c3cca00-57e0-11ea-9ac5-58c702b7d061.png)

[2020-02-25 23:18] sw005320 commented on #1590
@ahmedalbahnasawy, @palle-k is asking about the Tedlium 2 model. Do you still have that?

[2020-02-26 06:19] fly12357 commented on #1613
I solved this problem by convert the "^M" in "data/train/text" and "data/train/segments" .to "tab"

![image](https://user-images.githubusercontent.com/40494145/75317234-67582e80-58a2-11ea-832f-7316263150dc.png)

Will this convert bring new problems for "kaldiio"?

[2020-02-26 14:54] sw005320 commented on #1613
Could you give me the example sentence including "^M"?

I don't think so.

[2020-02-26 15:11] kan-bayashi commented on #1613
@fly12357 The newline code of the original phone label file is CRLF. Maybe this causes your problem. We convert it with `nkf` command to change to `LF` in the following lines.
https://github.com/espnet/espnet/blob/8bae85b68b2b2e890c0e6706c102033898aebe4f/egs/csmsc/tts1/local/data_download.sh#L23
Did you perform this conversion?

[2020-02-26 15:56] wentaoxandry opened #1619 "Error when building docker"
When I building docker, I run espnet/docker/build.sh: sudo ./build.sh local 10.0, but I got this error:

. venv/bin/activate && pip install cupy-cuda==6.0.0

ERROR: Could not find a version that satisfies the requirement cupy-cuda==6.0.0 (from versions: none)
ERROR: No matching distribution found for cupy-cuda==6.0.0
Makefile:77: recipe for target 'cupy.done' failed
make: *** [cupy.done] Error 1
T

[2020-02-26 16:15] sw005320 commented on #1613
Oh, I see (I forgot the CRLF issue).
Is #1618 related to this issue?

[2020-02-26 16:28] cookingbear commented on #1607
@hirofumi0810, I just saw this result (Transformer + ASR-MTL | 22.31) of must-c st1 and wanna figure out what value the asr-weight and the mtlalpha is, thank you for sharing.

[2020-02-27 01:45] kan-bayashi commented on #1613
@sw005320 Right. The path is wrong, so it causes the error in the nkf converison part. Now it works correctly, I think.

[2020-02-27 04:58] #1385 closed

[2020-02-27 07:14] fly12357 commented on #1613
Thanks～， I will update my code

[2020-02-27 07:14] #1613 closed

[2020-02-27 10:13] iustinaabc commented on #1609
Hi, on second attempt with the same architecture as above and the **Librosa 80 log mel fbank (no CMVN, no Pitch)** features, I got **pretty good results** for decoding: **41 % WER, 17% CER**. I think somewhere in the _run.sh_ I was reading the data from the wrong directories, which messed up the training and results.

I did not train a new network on the same features with CMVN, because in my appl

[2020-02-27 10:34] Fhrozen commented on #1619
I am testing this. I hope to solve soon. No ETC.

[2020-02-27 14:56] kan-bayashi commented on #1603
Sorry for the late reply.
That is a nice idea. The problem is that the interface of text cleaning for each language is different. We might want to make a unified text cleaning interface. So I'm wondering just moving `egs/ljspeech/tts1/local/text` is good or not.

[2020-02-27 23:58] #1434 closed

[2020-02-28 01:05] #1604 closed

[2020-02-28 01:11] kamo-naoyuki commented on #1609
18% CER.is still too bad. If you can't use CMVN, then it's better to tune other configuration.

[2020-02-28 21:55] hirofumi0810 commented on #1607
@cookingbear Sorry for the late reply. I was asr-weight: 0.3. Although the corresponding yaml file is not placed under `conf`, you can just set asr-weight to 0.3. I didn't modify any other settings.

[2020-02-28 21:55] hirofumi0810 commented on #1607
@cookingbear And mtlalpha (CTC weight) was 1.0.

[2020-02-28 22:58] #1328 closed

[2020-02-29 10:39] cookingbear opened #1629 "questions about librispeech asr learning rate"
We have built an e2e training system for librispeech with the same architecture and configuration as in the espnet librispeech recipe. The only difference is that our batch size is smaller(64) and we use the fbank with 40 dims. However, we found that your lr is set to 10.0 which in our system is too large to converge. In our system, lr can only be set to 1.0 but the final acc is lower(about 1.8 po

[2020-02-29 17:03] tu1258 opened #1630 "Error while installing"
My full script is as below:

And there are many errors when executing

There is one error talking about "install pysptk" and there is one claiming that protobuf would not match requirement(I pip install protobuf but still) and many others error.
The code is very short. I think it would be simpler to try it again by yourself than figure out my description.

Thanks!

[2020-02-29 17:28] kamo-naoyuki commented on #1630
Do you use python=3.8? If so use python3.7. pysptk and nnmnkwii don't support 3.8 yet due to cython.

[2020-02-29 17:38] sw005320 commented on #1629
This is very difficult to answer since the definition of the learning rate is quite different across the implementation. I think it would be better to find the optimal value of your system by yourself. Also, the fbank dimension and batchsize greatly change the performance. But again it depends on which feature extractor you use or how to make a minibatch. I hope you'll find the best configurations

[2020-03-01 10:08] tu1258 commented on #1630
@kamo-naoyuki
Hi, I use python 3.6 and there is only one error
`conda create --name espnet python=3.6`

`

[2020-03-01 10:22] kamo-naoyuki commented on #1630
Update protobuf, actually it requirements of chainer, or ignore the version warning.

[2020-03-01 12:02] kamo-naoyuki commented on #1603
Related to #1559, I also considered same thing.
I created the following repository for this discussion in advance. https://github.com/espnet/espnet_tts_frontend

This is temporal idea and in addition, I'm not  particular about this structure much.

My intentions to create this repo are:

- It's unclear what modules used for tts recipes. e.g. `g2p_en` because we write all dependencies in setup.py t

[2020-03-01 14:24] Fhrozen commented on #1512
WIP

[2020-03-01 15:31] tu1258 commented on #1630
I update it to 3.11.4, but when I execute `pip install -e .` . It uninstall protobuf and install 3.7.1 version.
![image](https://user-images.githubusercontent.com/59950011/75628519-ca382580-5c14-11ea-8bc0-1ace70936af1.png

[2020-03-01 15:36] kamo-naoyuki commented on #1630
Of course. You don't need to install espnet after it. I say again, you can ignore this warning. Actually no problems happens.

[2020-03-01 15:37] tu1258 commented on #1630
OK, thanks!

[2020-03-01 15:47] ahmedalbahnasawy commented on #1590
yes i have it
could you send me an invitation so i can share it with you

[2020-03-02 01:45] kan-bayashi commented on #1603
@kamo-naoyuki This is great!

Right. This is one of my reasons why I did not include them under `espnet`.

How about the following example?

[code]

The output format should be str or list of str, which is better to use?

[2020-03-02 07:24] Fhrozen opened #1631 "Update support version on check_install.py"
I observed that the current ESPnet with Pytorch backend can support torch > 1.0 (1.1 ...) but the supported versions on check_install has not been updated.
Is there any problem to update the supported version on check_install.
I cannot install docker with cuda 10.1 bc torch 1.0.1 does not support it.
Should I update it?

[2020-03-02 13:42] thrfdth opened #1632 "How to train Transformer on your own dataset?"
Thanks for such a great repo!

I've worked on training a vocoder(Parallel wavegan) for Japanese but after training the vocoder on my own dataset and i changed the path for it to my tranined vocoder in e2etts colab file, i still hear the original speaker's voice even though the intermediate wav result which you get while training with kan-bayashi/ParallelWaveGAN sounds pretty good. so I'm guessing

[2020-03-02 13:47] ldeseynes opened #1633 "ASR decoding with time codes"
Hi there, is there a way to retrieve time stamps from an audio file during decoding ? I mean something like a ctm file in Kaldi with every decoded word and related time code.

Thanks in advance,

[2020-03-02 13:56] kan-bayashi commented on #1632
Hi @thrfdth.
For Japanese, you can follow the egs/jsut/tts1 recipe.
(The model in colab notebook is trained on this recipe).

[2020-03-02 14:05] sw005320 commented on #1633
This is possible but not straightforward to get the time stamps for every token.
If we check the attention weight, we could get such information (but this is not precise).

[2020-03-02 14:27] thrfdth commented on #1632
Thanks for your quick reply! @kan-bayashi
I'll give it a try.

[2020-03-02 14:37] #1632 closed

[2020-03-02 15:04] Fhrozen commented on #1631
Yes, I will do.
Just to clarify:
In case of pytorch 1.2+, warpctc seems to not be working with (https://github.com/espnet/warp-ctc#for-pytorch-12).
So should I add an `if` in the Makefile https://github.com/espnet/espnet/blob/9bcab950d076808045bf48ece4be6385f1bd929a/tools/Makefile#L81 to avoid installing warpctc if `pytorch >=1.2`
and also in check_install.py
to avoid checking warpctc version in t

[2020-03-02 16:06] sw005320 commented on #1590
Thanks! I just sent an invitation.

[2020-03-02 16:12] sw005320 commented on #1631
Yes, I think this is a very good idea.
Probably, it would be better to have such handlings in https://github.com/espnet/espnet/blob/master/espnet/nets/pytorch_backend/ctc.py#L20 ?

Also, we may not seem to include the test for buildin ctc.
I think it is worth to add it.

[2020-03-02 19:39] yash-s20 commented on #1571
What CUDA version are you using? I think I've encountered a similar issue.

[2020-03-03 00:46] windtoker commented on #1591
Hi. Just wondering if its also available in tts module as well. found out what you mentioned is defined in asr_train.py but not in tts_train.py and also as a background defined in asr.py but not in tts.py.  Im asking to confirm if there would be any problem applying that fine tuning part to tts module as well.

[2020-03-03 06:49] yash-s20 commented on #1571
I would recommended checking this out - https://pypi.org/search/?q=warpctc-pytorch10. While in the virtualenv, find what version of warpctc is installed, find what CUDA version is installed, and most likely they're not compatible. Remove and install the right package if so, and run make check_install again to make sure nothing went wrong. Let me know if this works!

[2020-03-03 08:44] tu1258 commented on #1630
Hi, @kamo-naoyuki

I decide to follow the entire installation procedure in https://espnet.github.io/espnet/installation.html
But got problem at
`make -j <NCPU>`
What should I insert in <NCPU> ?

[2020-03-03 08:47] b-flo commented on #1591
Yes, these methods are defined for ASR/MT/ST. There is no equivalent for TTS that I'm aware of.
Maybe you have some comments @kan-bayashi ?

[2020-03-03 10:27] kan-bayashi commented on #1591
OK. I will implement it!

[2020-03-03 11:44] tu1258 commented on #1630
Hi, Since I finally install my cuda now, I decide to follow the entire instruction in https://espnet.github.io/espnet/installation.html

Here is my command

step1
[code]
step 2
[code]
step 3
[code]
step4
[code]

When I execute `make check_install`, it shows

It seems it's because I didn't execute this?
`mkdir -p espnet/tools/venv/bin; touch espnet/tools/venv/bin/activate`
It's in [Recipe](https://

[2020-03-03 12:50] sw005320 commented on #1630
It says `/bin/sh: 1: cmake: not found`. Please install `cmake`.
(Check https://github.com/espnet/espnet/blob/master/.circleci/config.yml
You may need to install them in https://github.com/espnet/espnet/blob/master/.circleci/config.yml#L35-L36)
It is very difficult to give an entire install instruction since each person has a different environment.

[2020-03-03 12:52] sw005320 commented on #1571
Many thanks, @yash-s20!
@potato-inoue, could you check your environment again according to @yash-s20's suggestions?

[2020-03-03 13:43] qmeeus opened #1634 "[Feature Request]: allow to specify which gpu to use"
As far as I could see, there is no such option. To clarify, this is useful when running a script on a machine with more than one GPU, having a flag such as `--gpu 1` or `--device cuda:1` would be of great help!

Thanks for all the work!

[2020-03-03 13:51] bob80333 opened #1635 "Validation loss starts increasing after 20k steps, Tacotron2"
I am using a custom ~10hr single male speaker dataset.  I used LJSpeech as the base, and trained using `train_pytorch_tacotron2.yaml`.  I expected it would take longer than 20k iterations to train, and the validation loss only gets to ~.48 before it starts to increase.  On Nvidia's tacotron2 repo I was able to get a validation loss of ~.2 when finetuning from their pretrained ljspeech model.

Here

[2020-03-03 14:06] sw005320 commented on #1634
The GPU ID specification is different from the environment, and we did not prepare such options (we use to have that though).
The safe way is to do that through CUDA_VISIBLE_DEVICES, e.g., `CUDA_VISIBLE_DEVICES=0,1,2 ./run.sh --ngpu 3`

[2020-03-03 14:35] kamo-naoyuki opened #1636 "Too often failed ci at downloading from google drive"
We all may know, ci is often failed with the following part:

https://github.com/espnet/espnet/blob/b55cbcc50090e56808b1b2f3abc7f9327b1af27b/test/test_e2e_compatibility.py#L33-L57

e.g.

https://github.com/espnet/espnet/pull/1570/checks?check_run_id=482370468

Can't we solve this?

[2020-03-03 14:50] sw005320 commented on #1636
How about using https://github.com/wkentaro/gdown that @kan-bayashi introduced?

[2020-03-03 15:15] thrfdth opened #1637 "RuntimeError: Error(s) in loading state_dict for Transformer: Unexpected key(s) in state_dict: "criterion.bce_criterion.pos_weight"."
Hi,
I've come across the following error.

[code]

At first I trained Transformer on my own dataset on colab, and changed the model path to `model_path = "/content/drive/My Drive/model.loss.best"` in the colab file. After running the following cell in colab, i've got the error.

[code]

Do I need to change something in config file? If so, which file is it?
Thanks in advance.

[2020-03-03 15:25] qmeeus commented on #1634
Correct me if I'm wrong, but [this](https://github.com/espnet/espnet/blob/master/espnet/bin/asr_train.py#L301) says otherwise.
From what I understand, you set the number of available gpus by counting the number of elements in `CUDA_VISIBLE_DEVICES` but it does not allow to choose a specific device.
If I may ask, why did you remove the option?

[2020-03-03 15:30] sw005320 commented on #1634
This is because it is very safe to specify it through CUDA_VISIBLE_DEVICES. Otherwise, multiple jobs are wrongly thrown into the same GPU, which causes a lot of problems (memory and inefficiency).

[2020-03-03 15:33] qmeeus commented on #1634
Is it possible that you are missing a line after [this](https://github.com/espnet/espnet/blob/master/espnet/bin/asr_train.py#L324)?
[code]

[2020-03-03 15:43] sw005320 commented on #1634
Oh, this might be an issue.
@kan-bayashi, what do you think?
If we do not set this, the batch size of the multiple GPU is wrongly set (e.g., https://github.com/espnet/espnet/blob/9bcab950d076808045bf48ece4be6385f1bd929a/espnet/asr/pytorch_backend/asr.py#L409-L410)

[2020-03-03 16:54] qmeeus opened #1638 "New argument `embed_unit` in language model breaks an4 recipe"
Following [this commit](https://github.com/espnet/espnet/commit/943c9933fc047133a1ba8adc07be79957416316e):
[code]
This is happening for recipe `an4/asr1` but I suspect that it is causing more issues in other recipes

[2020-03-03 18:41] CookiePPP commented on #1635
To start things off
https://github.com/NVIDIA/tacotron2/blob/master/loss_function.py#L16
[code]
NVIDIA/Tacotron2 uses MSE Loss, so I believe you should be comparing the mse_loss graph to Nvidia's implementation. (Please correct me if I'm misunderstanding this).
To further add fun for comparing the models. NVIDIA's masks like
https://github.com/NVIDIA/tacotron2/blob/master/model.py#L487
[code]
I do

[2020-03-03 19:33] sw005320 commented on #1638
Did it happen even you train it from scratch?

[2020-03-04 01:14] kan-bayashi commented on #1637
Hi @thrfdth.
I think this problem already is fixed by the following part.
https://github.com/espnet/espnet/blob/3cc3f4c651f601a422ae091a105fd98693beb286/espnet/nets/pytorch_backend/e2e_tts_tacotron2.py#L183-L184
https://github.com/espnet/espnet/blob/3cc3f4c651f601a422ae091a105fd98693beb286/espnet/nets/pytorch_backend/e2e_tts_tacotron2.py#L231-L243
Did you change github hash in colab?

[2020-03-04 01:18] kan-bayashi commented on #1637
Oh, now I understand what is happened.
Maybe the version of espnet in colab is old while your training environment is the latest.
Could you try to use the current master in colab?

[2020-03-04 01:35] kan-bayashi commented on #1635
Thank you for your clarification. @CookiePPP!
In terms of `mse` loss, your graph shows the model already achieved less than 0.2.

The difference between ours and nvidia is that
- we use both `l1` and `mse` losses to make the attention learning faster
- we use guided attention loss to make the attention learning faster
Therefore, you should carefully compare the loss value, as @CookiePPP said.

If

[2020-03-04 02:48] kamo-naoyuki commented on #1634
Oh, this is my fault and must be a bug, but It's just giving args.ngpu with None to train(), so simply the program will be aborted.

[2020-03-04 04:22] #1457 closed

[2020-03-04 05:12] thrfdth commented on #1637
Thanks! @kan-bayashi
You were right!
The espnet in E2E-TTS demo was older and it caused the error. I changed it to the latest one, and works fine now!

[2020-03-04 05:14] #1637 closed

[2020-03-04 08:31] kan-bayashi commented on #1591
I implemented the function to load pretrained model for TTS in #1536
I will close this issue.

[2020-03-04 08:31] #1591 closed

[2020-03-04 08:54] fly12357 opened #1640 "Problem about the "char" based CSMSC recipes?"
I trained a char based tacotron2 model for  "CSMSC" recipe. Then I used the "csmsc.parallel_wavegan.v1" model as the vocoder to synthesis Chinese. But, the result is bad.

Can you give me some advice about how to improve the performance?

[2020-03-04 09:30] qmeeus commented on #1638
No you are right, when trained from scratch the error disappears, thanks for the pointer !

[2020-03-04 09:30] #1638 closed

[2020-03-04 10:48] tuanphan09 commented on #1420
![Screenshot from 2020-03-04 17-41-45](https://user-images.githubusercontent.com/30728127/75871973-f4216000-5e3f-11ea-8771-ebecebc389b7.png)

I'm training on a Vietnamese dataset, the ACC curve is pretty good but the validation loss (CTC loss)  seems meaningless. Is something wrong?

[2020-03-04 13:01] sw005320 commented on #1420
I've never seen such trends. The training CTC loss looks OK, so the problem would be some issue in the validation transcriptions?

[2020-03-04 13:08] kan-bayashi commented on #1640
I'm not familiar with Mandarin, so let me ask some questions.
- What does "char" mean in Mandarin? (kanji?)
- What is the motivation for the use of "char" instead of pinyin?
- "Bad" means what? For example, totally failed (just like a noise) or the sound quality is not so good while it has meaningful content.

[2020-03-04 13:11] kan-bayashi commented on #1420
I faced similar CTC value when the length of transcription is shorter than that of inputs. It is better to check the length of transcription is longer than that of inputs / subsampling factor.

[2020-03-04 13:55] #1633 closed

[2020-03-04 15:19] fly12357 commented on #1640
1. The "char" doesn't has meaning in Mandarin. I just split the pinyin to single character.
     e.g.  "zhong1 guo2"  -> "z h o n g 1 g u o 2"
     p.s. I add the "prosodic boundaries" in the training step.  #1, #2... in the "./downloads/CSMSC/ProsodyLabeling/000001-010000.txt"
2. The "initial" and "final" of the CSMCS dataset was not complete for any Chinese sentence; So I use the char as the inp

[2020-03-05 03:51] michael1b opened #1642 "installation error at bandmat"
Hi, I'm trying to install `espnet` with the following command

[code]
And came across this error

[code]

I installed the `numpy` package and checked if it was successful just by opening python and importing the library. But when I ran the same command above, I still get the same error. Please help, I don't know what I missed.

PS. I'm following this installation guide: [LINK](https://espnet.githu

[2020-03-05 05:55] wolverineq opened #1643 "Cannot reproduce WSJ Transformer RESULTS"
Hi I have noticed the latest WSJ RESULTS reporting WER 2.x% in eval92 using ctc-transformer models.
However I cannot reproduce the results with the same configurations.

My results:
PyTorch:1.1.0 espnet: 0.6.1 cuda: 9.0
data:using sample filtering (however with no utts excluded for train set )
model: ctc(PyTorch builtin)-transformer
WER: 5.2% CER:2.5%

Even I cannot decode similar results using th

[2020-03-05 06:31] liusongxiang opened #1644 "Bugs: tacotron2 tts attention visualization for version 0.7.0"
@kamo-naoyuki
I tried to use espnet2 tacotron2 model to conduct TTS on LJSpeech. The whole pipeline is ok with some minor modifications in the TEMPLATE/tts.sh, and the sysnthesis performance is also acceptable (currently use Griffin-Lim to generate).
But I found that there are bugs for attention weight visualization using  https://github.com/espnet/espnet/blob/v.0.7.0/espnet2/torch_utils/calculate

[2020-03-05 07:54] tu1258 commented on #1630
It goes well. Thanks!

[2020-03-05 07:54] #1630 closed

[2020-03-05 08:44] tu1258 opened #1645 "Error while stage 1(feature generation)"
It is similar to #505
log file has this
[code]
path.sh is alright
but `your_espnet_root/tools/kaldi/src/featbin` only contains .cc file
then I `./check_dependencies.sh` and find that Intel MKL is not installed
so I run `./install_mkl.sh` but it fails
![89357470_1072629139789660_5036405640587640832_n](https://user-images.githubusercontent.com/59950011/75963470-825d1b00-5f00-11ea-85da-9b8bd6c88890.p

[2020-03-05 09:32] unilight opened #1646 "New argument `embed_unit` in language model breaks backward compability"
I'm using the pretrained Transformer ASR model on Librispeech as in [here](https://github.com/espnet/espnet/blob/master/egs/ljspeech/tts1/local/ob_eval/evaluate_cer.sh#L36-L40). Similar to issue #1638 , I think the new argument `embed_unit` in language model is breaking backward compatibility. In the original issue the solution seemed to be retraining it from scratch. I'm wondering if it is possib

[2020-03-05 09:49] b-flo commented on #1646
Hi,

I guess you could use `git revert commit-sha`?

[2020-03-05 09:59] b-flo commented on #1645
Hi,

There was a problem reported in Kaldi some time ago with MKL (and also MKL repo) but it was fixed for what I remember. Is you kaldi up-to-date?

Also, if MKL is the only problem, you could to clean-up and try rebuilding with OPENBLAS.

[2020-03-05 10:44] kan-bayashi commented on #1646
This issue seems to affect all of the pretrained models. We should carefully keep backward compatibility.

[2020-03-05 10:46] kan-bayashi commented on #1646
I will fix this issue this evening.

[2020-03-05 11:41] kamo-naoyuki commented on #1490
Hi all. I'll be off from github for 2-3 weeks, sorry.

[2020-03-05 11:45] kamo-naoyuki commented on #1644
I 'm relieved to hear that since I didn't test tts part yet. Really helpful!

I'll be busy, so maybe my reply will be late, but I'll be back surely after 2-3weeks. Please wait and if you find other bugs, please stack it also.

[2020-03-05 13:18] sw005320 commented on #1643
@Emrys365, could you follow up on this discussion?

[2020-03-05 13:29] sw005320 commented on #1642
Could you test it without `PYTHON=~/.pyenv/versions/3.6.8/envs/espnet_env/bin/python3.6`? This option is intended for the system python.

[2020-03-05 13:39] Emrys365 commented on #1643
I just looked at the [RESULTS](https://github.com/espnet/espnet/blob/master/egs/wsj/asr1/RESULTS.md). It seems that I mistakenly used the wrong eval set (330 utterances) instead of the true eval92 set (333 utterances). I will check the setup again.

[2020-03-05 13:40] kan-bayashi commented on #1646
Maybe fixed in #1649
@unilight Could you check?

[2020-03-05 14:11] Emrys365 commented on #1643
The best result in [RESULTS](https://github.com/espnet/espnet/blob/master/egs/wsj/asr1/RESULTS.md) turns out to be evaluated on eval92_5k, instead of eval92...
Can't believe I hadn't seen the bug in my setup for so long! Sorry for this.

I will test the model again on the true eval92 set and update the RESULTS.

[2020-03-05 14:12] xinqipony opened #1651 "transducer memory question?"
I tried on librispeech with 4 gpu, always CUDA OOM, even if I use a very small model and very small batch.

Is there a recipe I could follow?

thx

[2020-03-05 14:17] sw005320 commented on #1651
How many GPU memory do you have?
Many of our recipes are tuned based on 11GB GPU memory.

[2020-03-05 14:22] wolverineq commented on #1643
OK...that's a pity

[2020-03-05 14:23] xinqipony commented on #1651
hi,
I use  Tesla P100,  16280MiB , on the same machine, I can train a transformer ASR with espnet, but the transformer transducer always failed as I said

[2020-03-05 14:24] sw005320 commented on #1651
OK. As far as I know, we have not tested transformer transducer with the Librispeech recipe. @b-flo, could you give him some comments.

[2020-03-05 14:37] wolverineq commented on #1643
BTW, anyone tries specaug on WSJ? any good results?

[2020-03-05 14:59] b-flo commented on #1651
Hi,

Thanks for your interest! I did try some dataset (voxforge, vivos and ester, a french corpus) but not Librispeech. For all of them I trained with a single 12Gb GPU. I did have a weird memory access issue in one of my runs but it was because of the batch number (I'm trying to pinpoint the problem in warp-transducer).

Some notes though (I'll update if I remember other things):

- More GPUs doe

[2020-03-05 17:42] bob80333 commented on #1635
I did another training run with the v4 configuration, as you suggested.

For some reason, I am noticing that the output of the model trained for 60-70k steps (~.52 total loss), which has a higher validation loss, sounds better / has more accurate pronunciation than the model with the lowest validation loss from ~20k training steps (~.48 total loss).

[2020-03-05 19:50] unilight commented on #1646
Thank you for the fix!

Sorry because in [the ASR evaluation script](https://github.com/espnet/espnet/blob/master/egs/ljspeech/tts1/local/ob_eval/evaluate_cer.sh), v2 was used. After using the fix, I still have trouble. But I can now successfully run by setting api to v1.
Could you also fix, I guess `espnet/asr/pytorch_backend/recog.py` for api v2?
Also I wonder what is the difference between v1 a

[2020-03-06 00:11] kan-bayashi commented on #1646
Thanks, I will fix it in #1653.

[2020-03-06 00:13] kan-bayashi commented on #1635
Right, in terms of perceptual quality, the validation loss best model is not the best. (This is one of the difficult issues of TTS...) Therefore, I recommend checking the quality even if the validation loss is increasing.

[2020-03-06 00:35] kan-bayashi commented on #1646
Fixed.

[2020-03-06 01:34] xinqipony commented on #1651
@b-flo  this is my config, and I just use linear bottleneck not VGG2L or Conv2D:
adim: 64
aheads: 2
backend: pytorch
batch-bins: 1000
dlayers: 1
dunits: 128
elayers: 2
eunits: 128
joint-dim: 64

[2020-03-06 01:42] qmpzzpmq opened #1654 "conflict with use_transfer=true with conf/train_transformer_transducer.yaml"
Hi, when run with config file train_transformer_transducer.yaml copied from vivos egs in egs voxforge with variable use_tranfer=true and  type_transfer=enc or `both`.
there is bug said:
[code]

it is seems get_parser.py in the asr_train.py haven't include the "transformer type". It encoder of transformer couldn't be initialized by pure CTC.

[2020-03-06 02:12] tu1258 commented on #1645
I think I might make a mistake. In [installation](https://espnet.github.io/espnet/installation.html), it git clone both kaldi and espnet. I am not sure the `/path/to/kaldi` in `make KALDI=/path/to/kaldi PYTHON=/usr/bin/python3.6 `. Is it ./kaldi (which means espnet/tools/kaldi) or ../../kaldi (which means "git clone kaldi").

I try ../../kaldi and the "git clone kaldi"  has correct file(there is n

[2020-03-06 05:20] xinqipony opened #1655 "is there a plan to support transformer xl for ASR?"
https://arxiv.org/pdf/1901.02860.pdf
I think it's better for  ASR transformer

[2020-03-06 07:37] b-flo commented on #1651
Such small model shouldn't failed. Btw, as indicator: I just re-trained vivos with [this config](https://github.com/espnet/espnet/blob/master/egs/vivos/asr1/conf/tuning/transducer/train_transformer_transducer.yaml) and a linear layer instead of vgg2l and end up with max 8Gb used.

Could you share your complete config and log please?

[2020-03-06 07:56] b-flo commented on #1654
Hi,

Sorry this script was not updated since transformer support was added. I'll take a closer look but I guess the problem in this case is that the model-module is not changed from `espnet.nets.pytorch_backend.e2e_asr:E2E` to `espnet.nets.pytorch_backend.e2e_asr_transformer:E2E` in created config.

Finetuning options should work with transformer-transducer though, the problem is in ` egs/voxforge

[2020-03-06 11:00] b-flo commented on #1654
Hum, in fact I'm wondering if I should "fix" this as it's not really a bug. `egs/voxforge/asr1/run_rnnt.sh` was made to 1) highlight how to use finetuning/pre-training for RNN-T, 2) create needed files on-fly instead of adding all of them from scratch in conf dir) and 3) easily reproduce reported results for voxforge.
The script can be used with other recipes but it is not intended as a general pr

[2020-03-06 12:11] #1646 closed

[2020-03-06 12:53] qmpzzpmq commented on #1654
I will test it tomorrow. And give you the feedback

[2020-03-06 12:57] sw005320 commented on #1655
I know that a couple of people tried it, but we're not planning to do it now.

[2020-03-06 13:00] sw005320 commented on #1651
Another possibility is that the input or output length is too long.
We may use BPE to reduce the output length. or prune the long sequences by tuning https://github.com/espnet/espnet/blob/master/egs/librispeech/asr1/run.sh#L109-L110, although our transformer and RNN can train the model with these default values.

[2020-03-06 14:32] b-flo commented on #1654
Sorry, I found out there are another problems:
 - Transformer has `--transformer-attn-dropout-rate` whereas T-T has `--transformer-attn-dropout-rate-encoder` and `--transformer-attn-dropout-rate-decoder` (parameters shouldn't be copied during pre-training configs creation)
-  Another rule should be added with `dtype: transformer` and `transfer_type=dec|both`, as if `rnnt_mode=rnnt` will create a L

[2020-03-07 06:11] #1645 closed

[2020-03-07 06:40] david11252 opened #1656 "Import error: No module named sentencepiece"
Hi, I tried to execute `run.sh` in LibriSpeech. At stage 2, there is an import error.

I `pip install sentencepiece` and it shows requirements already satisfied.
path `anaconda3/envs/espnet/lib/python3.7/site-packages` is also in sys.path
Is there any solution? Thanks!

[2020-03-07 07:21] #1557 closed

[2020-03-07 08:16] EsmaeilFarhang opened #1657 "TTS(tacotron2-v3) frequency min and max for man voice"
Hi,
I have a dataset with man voice, I'm trained tacotron2-v3, config but the loss cureve decrease very slowly. this dataset is 19 hours wave file. frequency min and frequency max for man voice should be change?  With 120 epoch training, The sentences produced are meaningless. And they don't match with the text.
one sample is below for this sentense ('oui, j'Fteignais le gaz de l'escalier, il a po

[2020-03-07 09:55] ahmedalbahnasawy commented on #1651
I faced the same CUDA OOM using 4 GPU 1080 TI after 2 hours.

[2020-03-07 10:54] b-flo commented on #1651
Can you share some more details (config, dataset, error, etc) please?
I'm currently doing some experiments in voxforge using a 12Gb TITAN X and didn't meet any OOM with architecture similar to [this one](https://github.com/espnet/espnet/blob/master/egs/voxforge/asr1/conf/tuning/train_pytorch_transformer.yaml) (with batchsize reduced obviously).

Maybe there's a memory leak or a problem somewhere t

[2020-03-07 17:55] #1440 closed

[2020-03-09 04:10] kimjohn1 opened #1660 "Real time E2E-TTS Demo issue"
Failed Synthesis:
Attempted the English demo in your excellent TTS Demo colab notebook.  I installed Install, FastSpeech, Parallel WaveGAN, Setup and Synthesis with no error.  Typed in a sentence at the prompt and got an error message that torch is undefined in the Synthesis module.  I added import torch at the top of the Synthesis module.  Tried again and got an error message that config is undef

[2020-03-09 04:28] kimjohn1 commented on #1660
Update:  I left the TTS Demo notebook page, then came back and attempted the English demo again.  It worked, with no issue.  Call this one resolved.

[2020-03-09 04:28] #1660 closed

[2020-03-09 08:14] fly12357 commented on #1640
It's my mistake. I have retrain the char based "CSMSC" model. The result is OK.

[2020-03-09 08:14] #1640 closed

[2020-03-09 13:15] kan-bayashi commented on #1657
Did you check attention weight? Loss curve is not so meaningful in the case of TTS. You should the attention weight is diagonal. If the attention weight is not clear and diagonal, please check the following points:

- Trim the silence at the beginning and the end of utterance carefully. Power-based trimming scripts are available in espnet (`utils/trim_silence.sh`), but the best is to use the force

[2020-03-09 16:12] #1590 closed

[2020-03-10 06:09] ahmedalbahnasawy commented on #1651
Sorry for the late response
This is my config file
dataset==Librispeech
batch-size: 24
maxlen-in: 800
maxlen-out: 150

# optimization related
criterion: loss
early-stop-criterion: "validation/main/loss"
sortagrad: 1
opt: noam
epochs: 30
patience: 0
accum-grad: 4
grad-clip: 5.0

# transformer related
transformer-lr: 10.0
transformer-warmup-steps: 8000
transformer-attn-dropout-rate-encoder: 0.4

# n

[2020-03-10 08:50] Arafat4341 commented on #1619
I want to run docker in t2.micro ec2 instance of aws. I don't have GPU.
`./run.sh --docker_gpu 0 --docker_egs chime4/asr1 --docker_folders /export/corpora4/CHiME4/CHiME3 --dlayers 1 --ngpu 1`
is this command okay for me to work?

[2020-03-10 08:53] Fhrozen commented on #1619
@Arafat4341, For not GPU should be `./run.sh --docker_gpu -1 --docker_egs chime4/asr1 --docker_folders /export/corpora4/CHiME4/CHiME3 --dlayers 1 --ngpu 0 `

[2020-03-10 09:05] Arafat4341 commented on #1619
@Fhrozen Thank you so much! Lets try!

[2020-03-10 09:15] Arafat4341 commented on #1619
`useradd: UID 0 is not unique`
I get this after completing pulling.

[2020-03-10 09:23] Arafat4341 opened #1663 "useradd: UID 0 is not unique"
I ran docker on my t2.micro ec2 instance. I have a single CPU, 1gb RAM with no GPU.

I ran this command: `./run.sh --docker_gpu -1 --docker_egs chime4/asr1 --docker_folders /export/corpora4/CHiME4/CHiME3 --dlayers 1 --ngpu 0`

after completion of run I get this:
`
useradd: UID 0 is not unique
The command '/bin/sh -c if [ ! -z "${THIS_UID}"  ]; then     useradd -m -r -u ${             THIS_UID} -g

[2020-03-10 09:26] Fhrozen commented on #1619
Are you executing `run.sh` as Root?, which is the ID=0. IF that is the case then use `./run.sh docker_user false ...`

[2020-03-10 10:01] Arafat4341 commented on #1619
I used `sudo` .
After adding `--docker_user false` I get `./run.sh: invalid option --dlayers`

`Using image espnet/espnet:cpu-u18.
Executing application in Docker
docker run -i --rm --name espnet_cpu_20200310T0958 -v /home/ubuntu/espnet/espnet/egs:/espnet/                                                                           egs -v /home/ubuntu/espnet/espnet/espnet:/espnet/espnet -v /home/ubun

[2020-03-10 12:25] sw005320 commented on #1663
See #1512

[2020-03-10 13:16] Fhrozen commented on #1619
Sorry I forgot to tell you that the problem is that `--dlayers` is no longer accepted in recipe `run.sh`. For this, you will need to write a new `train_config` file in `conf` folder and call it with:
[code]
You can use [this file](https://github.com/espnet/espnet/blob/master/egs/chime4/asr1/conf/tuning/train_pytorch_transformer.yaml) as reference.

[2020-03-10 13:23] tuanphan09 commented on #1370
I'm training on Vietnamese (no. words=7128), when i set ```bpe=1000,2000,3000```, it works fine, but when i change ```bpe=5000,7000,8000```, I got error. Do u have any advise to set a good ```bpe``` on other dataset @sw005320 ?
[code]

[2020-03-10 16:06] kamo-naoyuki commented on #1644
Do you mean same module is invoked multiple times  in a forward()?
If so, how about the following?

[code]

[2020-03-10 17:27] liusongxiang commented on #1644
On my point of view, even during training, Tacotron2 model use iterative way to compute predicted mel-spec (Plz see
 https://github.com/espnet/espnet/blob/v.0.7.0/espnet/nets/pytorch_backend/tacotron2/decoder.py#L359). At every step, the attention module is called once (of course, it has only the unique name). So at the end of one forward pass, only the attention weights at the last step is keeped

[2020-03-10 18:49] rdevans0 commented on #1642
I am also getting this issue with a system installed python and the default installation guide.

Make command:
[code]

System configuration:
[code]

[2020-03-10 19:21] rdevans0 commented on #1642
I've circumvented this issue by manually installing numpy in the venv before main installation. It looks like there is an issue where using a non-default python leads to not installing numpy first from from the setup_requirements (setup.py).

Temporary fix:
[code]

[2020-03-10 22:15] sw005320 commented on #1642
Thanks for your TIPS.
We could not fully support all environments (especially system python since it highly depends on their own environments), and recommend `conda` based installation instead.

[2020-03-11 00:06] michael1b commented on #1642
Ah, if I do this then it will proceed with the `conda`-based installation.

And if I do the same thing that rdevans0 did:

`make KALDI=/path/to/kaldi PYTHON=/usr/bin/python3.6`

I get the same problem. It seems that if I identify the locally-installed python, the packages are still downloaded into the `/usr/bin/python3.6` in the `espnet` directory. However that same directory does not include `num

[2020-03-11 00:35] kamo-naoyuki commented on #1644
Thanks, I see. I forgot it, but my code solve this problem. It avoid to register values as same key.

The problem of your version is stack(). The output tensor is supposed to be 2-3 dimension and 3 dimension is comes from MultiHeadedAttention , but stack() creates 4 dim tensor if MultiHeadedAttention is called twice or more.

[2020-03-11 00:48] Arafat4341 commented on #1619
Can't I directly use `train_pytorch_transformer.yaml` ?
If not then which part to edit?! Can kindly tell?!

[2020-03-11 00:58] Fhrozen commented on #1619
`train_pytorch_transformer.yaml` is the default config file used for training: https://github.com/espnet/espnet/blob/9e2bfc5cdecbb8846f5c6cb26d22010b06e98c40/egs/chime4/asr1/conf/train.yaml#L1

https://github.com/espnet/espnet/blob/9e2bfc5cdecbb8846f5c6cb26d22010b06e98c40/egs/chime4/asr1/run.sh#L23

so you do not need to any additional modification.
[code]
In case that you want to train your self

[2020-03-11 01:18] Arafat4341 commented on #1619
Okay!
But I am getting `find: '/export/corpora4/CHiME4/CHiME3/data/WSJ0': No such file or directory`

[2020-03-11 01:33] teinhonglo commented on #1587
OK, I got it.
Thanks!

[2020-03-11 01:34] Fhrozen commented on #1619
well, that depends on your system. For CHiME 4, you will need to download the data from the official page: http://spandh.dcs.shef.ac.uk/chime_challenge/CHiME3/. http://spandh.dcs.shef.ac.uk/chime_challenge/CHiME4/.
 Then, save it in you local dir and add this to the run command, such as:
[code]

In case that you do not have access to WSJ then I will recommend you try another recipe, such as libris

[2020-03-11 01:50] #1473 closed

[2020-03-11 01:50] #1474 closed

[2020-03-11 01:57] Arafat4341 commented on #1619
I ran `./run.sh --docker_gpu -1 --docker_egs an4/asr1   --docker_user false  --ngpu 0` .
Now I get:
`run.pl: job failed, log is in exp/train_nodev_pytorch_train_mtlalpha1.0/train.log`

[2020-03-11 02:02] liusongxiang commented on #1644
Sorry, my mistake, your code does solve the issue.
I did a small test to verify this:
[code]
The only thing to do is collate the `return_dict` such that the plot module can directly use it.
Thanks for your reply.
BTW, in this line in your code, I think `if not` should be `if`?
[code]

[2020-03-11 02:17] sw005320 commented on #1619
@Arafat4341, could you read our documentation carefully? Some of the answers to your questions can be found there. It would be great if you put questions related to this issue.

[2020-03-11 02:19] kamo-naoyuki commented on #1644
Oh, sorry, yes, should be if, thanks.

[2020-03-11 02:52] shanguanma opened #1664 "warpctc_pytorch installation failed when using pytorch1.1.0"
I test newest Makefile, but I using pytorch 1.1.0， warpctc_pytorch can't install successfully.
My environment is as follow:
CentOS Linux 7
gcc: 5.2.0
PYTHON_VERSION = 3.7.3
CUPY_VERSION = 6.0.0
CUDA_VERSION = 10.0

[2020-03-11 02:58] sw005320 opened #1665 "TTS evaluation metrics"
The VCC'20 recipe is getting a good shape (#1641), and I think it's good time to discuss about the TTS evaluation metrics (this was partly discussed in https://github.com/espnet/espnet/issues/1329 already).

- [ ] ASR token error rate evaluation (both or either of CTC and Attention)
- [ ] spectral objective measure (e.g. RMSE, CD)
- [ ] [deepSpeechDistances](https://github.com/mbinkowski/DeepSpeec

[2020-03-11 03:01] Arafat4341 commented on #1619
@sw005320 well, firstly I worked according to the documentation. Things were not working properly that's why I asked questions here! Still facing errors! I am sorry for your troubles!

[2020-03-11 03:20] kan-bayashi commented on #1665
An interesting measure is DeepSpeechDistances.
https://github.com/mbinkowski/DeepSpeechDistances
We can use our pretrained model to calculate this measure.

[2020-03-11 07:08] ArtemisZGL commented on #1282
the hkust checkpoint also have this problem

[2020-03-11 10:43] hajime9652 commented on #1297
I can use streaming_mode only in here?
https://github.com/espnet/espnet/blob/master/egs/tedlium2/asr1/local/recog_wav.sh

then I need to train a model using CTC-based VAD?

[2020-03-11 10:49] david11252 commented on #1656
I reinstalled with python=3.7.3. The problem still exists. Any advice?

[2020-03-11 11:06] sw005320 commented on #1656
Did you install sentencepieice via our Makefile?

[2020-03-11 12:08] sw005320 commented on #1664
We do support the pytorch1.1.0 warpctc (see https://github.com/espnet/warp-ctc#for-pytorch-10-or-11). Could you give us more information?

[2020-03-11 16:31] #1631 closed

[2020-03-11 17:35] wentaoxandry opened #1666 "Error when run with multi-GPU"
I run code in docker and use multi-GPU (5 gpus), but I always got this error,  I have tried different batch-size, but not working.

File "/espnet/espnet/avpretrain/asr.py", line 218, in update
    self.update_core()
  File "/espnet/espnet/avpretrain/asr.py", line 187, in update_core
    loss = data_parallel(self.model, x, range(self.ngpu)).mean() / self.accum_grad
  File "/espnet/tools/venv/lib/py

[2020-03-11 17:41] unilight commented on #1665
In VC we often measure MelCD and we already have a script for calculating it. I can help with it.

[2020-03-11 18:19] sw005320 commented on #1665
Many thanks.
I think the VCC recipe would be a good test case to implement such measures.
We can make some actions after the baseline is finished.

[2020-03-11 19:33] wentaoxandry commented on #1666
Hallo,
I changed some parameters now it works :)

[2020-03-11 19:33] #1666 closed

[2020-03-11 19:41] sw005320 commented on #1666
Which parameters did you change?
It might be good information for others.
(I don't have good multiple GPU environments, and cannot test it so much).

[2020-03-12 01:12] david11252 commented on #1656
Hi, @sw005320

Yes! Below is my whole workflow.

step1
[code]
step2
[code]
step3
[code]
[Warning] torch 1.0.1 is not in .......
[code]
step4
[code]

[2020-03-12 01:22] Fhrozen commented on #1664
The problem is that warpctc is installed assuming  pytorch 1.0.1:
https://github.com/espnet/espnet/blob/9e2bfc5cdecbb8846f5c6cb26d22010b06e98c40/tools/Makefile#L90-L92
for pytorch 1.1.0 modify: `warpctc-pytorch10` to `warpctc-pytorch11`

[2020-03-12 02:28] Arafat4341 opened #1667 "Failure in Network Training"
I am trying to run the docker image of espnet on t2.micro ec2 instance of AWS.
I ran this command: `./run.sh --docker_gpu -1 --docker_egs an4/asr1   --docker_user false  --ngpu 0`

Job fails at Stage 4: Network Training. I get this:

`stage 4: Network Training
bash: line 1:  6508 Killed
( asr_train.py --config conf/train_mtlalpha1.0.yaml --ngpu 0 --backend pytorch --outdirexp/train_nodev_pytorch_t

[2020-03-12 02:33] kan-bayashi commented on #1656
We make virtualenv or conda in `tools/venv`. If you specify the PYTHON, the virtualenv will be created based on the specified python. I'm not sure when we use already created conda as a base python to create virtualenv.

So, my recommendation is that:
- Deactivate your conda env before step3
- Run `make` without specification of PYTHON

[2020-03-12 02:48] shanguanma commented on #1664
@sw005320  @Fhrozen . Thank you for your reply. According to your suggestion,I modified warpctc-pytorch10 to warpctc-pytorch11. I just re-installed  espnet again. Now warpctc_pytorch works. Thank you for the help.

[2020-03-12 04:46] xinqipony commented on #1651
I am using a very big word piece size over 40k, I will try to use a smaller one

[2020-03-12 05:01] xinqipony opened #1668 "librispeech feature extraction details"
hi @sw005320 , @b-flo
I am trying to finding out the  window length, hop_length, time stride, etc of the librispeech feature

is this the right doc?
https://github.com/espnet/espnet/blob/master/egs/chime4/asr1_multich/conf/preprocess.json

thx

[2020-03-12 05:01] #1655 closed

[2020-03-12 06:36] ahmedalbahnasawy commented on #1651
40k for unigram sentiencepeice model its too much try BPE with 32K
but i think the problem is different

[2020-03-12 07:04] wentaoxandry commented on #1666
I changed the GPUs number to 4 and change batch-size to 20. I have found similar error (#1369 ), so I follow your advice remove the utterances which are too short. I think the too short utterances are the reason for this error.

[2020-03-12 12:49] sw005320 commented on #1668
Librispeech feature extraction is based on Kaldi.
So, please change https://github.com/espnet/espnet/blob/master/egs/librispeech/asr1/conf/fbank.conf
(Please check the Kaldi documentation for the configuration).

[2020-03-12 12:50] sw005320 commented on #1667
Please check `exp/train_nodev_pytorch_train_mtlalpha1.0/train.log` to see what happened.

[2020-03-12 13:23] Syrup274 opened #1669 "Reproduce SOTA TTS result on LJspeech"
I want to reproduce the SOTA TTS result on LJspeech, which based on Transformer.v3 and its MOS is 4.25.
Does "train_pytorch_transformer.v3.yaml" corresponds to the SOTA model configuration? I notice that these also exists "train_pytorch_transformer.v3.single.yaml"， is this config for single_gpu training? How many GPUS should I use and do I have to modify these yaml files to reproduce the SOTA TTS

[2020-03-13 04:46] kan-bayashi commented on #1669
Hi @Syrup274. I will answer your questions.
- The model used in the paper is [this result](https://github.com/espnet/espnet/blob/master/egs/ljspeech/tts1/RESULTS.md#v053-transformerv3-1024-pt-window--256-pt-shift--gl-1000-iters). You can access the model and samples. This model is trained with `trans_type=phn`, `train_pytorch_transformer.v3.yaml`, and full band mel (`fmin=0` `fmax=11025`).
- The v

[2020-03-13 05:58] Syrup274 commented on #1669
Thanks for your reply.

[2020-03-13 06:19] windtoker commented on #1591
Thank you for the implementation.

[2020-03-13 07:15] #1517 closed

[2020-03-13 10:07] anushaprakash90 opened #1670 "Guided attention and spectrogram conversion"
Hi,

I have a couple of queries:
1) Does guided attention constrain the attention weights to be almost diagonal (as given in this paper: http://150.162.46.34:8080/icassp2018/ICASSP18_USB/pdfs/0004784.pdf)? Or do you also include knowledge about (HMM) alignments?
2) Do you have any recipe for spectrogram-to-spectrogram conversion (as in the case of voice conversion with parallel data) ?

Thanks

[2020-03-13 14:22] kan-bayashi commented on #1670
Hi @anushaprakash90. I will answer your question.

1. Does guided attention constrain the attention weights to be almost diagonal (as given in this paper: http://150.162.46.34:8080/icassp2018/ICASSP18_USB/pdfs/0004784.pdf)? Or do you also include knowledge about (HMM) alignments?

We use the former one. We do not use HMM-alignment information.

2. Do you have any recipe for spectrogram-to-spectrog

[2020-03-13 14:29] kan-bayashi commented on #1669
Three gpus. I can accelerate the training with 6 gpus by setting `accum_grad: 1` in config.

Use `v.0.5.4` or modify the parameters fmin and fmax in `run.sh` with current master.

https://github.com/espnet/espnet/blob/9e2bfc5cdecbb8846f5c6cb26d22010b06e98c40/egs/ljspeech/tts1/conf/decode.yaml#L5-L7
These above options are available for only Tacotron2. So no effect for Transformer-TTS.

[2020-03-13 15:54] bob80333 opened #1671 "The CMVN transform is different between Kaldi and espnet"
When using a Tacotron2 model I trained, I noticed that the espnet implementation of CMVN differs from Kaldi's implementation.  Specifically, Kaldi scales before biasing, and espnet biases before scaling. Is there some advantage to doing it the way espnet does it, instead of the way Kaldi does it?

[2020-03-14 02:25] kamo-naoyuki commented on #1671
In my memory tts recipe uses kaldi's cmvn, doesn't it @kan-bayashi ?
Anyway,  kaldi does equal operation to  `(x - mean) / std`:

https://github.com/kaldi-asr/kaldi/blob/c78875a685b8bf5907b5eeb49fc958e6dd44f436/src/transform/cmvn.cc#L92-L115

What kaldi does is:

[code]

[2020-03-14 03:44] kan-bayashi commented on #1671
Right. We use kaldi's method as the same as ASR.
https://github.com/espnet/espnet/blob/94a066e7b669f5e78be6aba5863255d0a1a2d44e/egs/ljspeech/tts1/run.sh#L118-L127

@bob80333 Which part do you mean?

[2020-03-14 05:46] Syrup274 commented on #1669
Thanks for your reply.

[2020-03-14 05:46] #1669 closed

[2020-03-14 06:15] yash-s20 opened #1672 "AttributeError: 'dict' object has no attribute 'start_shuffle'"
this is the complete traceback -

`Traceback (most recent call last):                                                                                                                                                                  File ".../espnet/bin/asr_train.py", line 370, in <module>                                                                                      main(sys.argv[1:])

[2020-03-14 06:54] yash-s20 commented on #1672
Here's what I see in espnet/asr/pytorch_backend/asr_mix.py -
a list containing just train_iter is passed to ShufflingEnabler, which is a dictionary, and in the call method a start_shuffle attribute is called on the this, which is causing the error. Why is this so?

[2020-03-14 07:14] WanderingSven opened #1673 "transformer model with pure ctc loss doesnot convergence"
In order to use ctc loss only, I change ctc-weight and mtlalpha to one. And I use the following configuration，but I find it doesn't convergence.
![图片](https://user-images.githubusercontent.com/26950286/76677181-4adc2600-6606-11ea-9b9f-acd5b018f622.png)
![图片](https://user-images.githubusercontent.com/26950286/76677190-66473100-6606-11ea-9f1b-cd8b15deb6d9.png)

[2020-03-14 07:44] Fhrozen commented on #1673
Do you mind giving some information about the recipe you are using?. And also the output from exp/train**/results/train.log These two would be useful.

[2020-03-14 11:25] WanderingSven commented on #1673
ok, thanks. I am using librispeech recipe.

[train.log](https://github.com/espnet/espnet/files/4332630/train.log)

[2020-03-14 11:28] WanderingSven commented on #1673
@Fhrozen

[2020-03-14 18:34] david11252 commented on #1656
Hi, @kan-bayashi

I try to install without any virtual environment(and change to `PYTHON := `), but still the same. Btw, I would only train/test grapheme model actually. It didn't show any error when I run the mtlalpha1.0 script in an4 and rnn-t in voxforge.(but I will  train a model for LibriSpeech eventually, which has import error now.) Is it necessary to install sentence piece? Thanks!

[2020-03-14 18:39] bob80333 commented on #1671
https://github.com/espnet/espnet/blob/master/espnet/transform/cmvn.py and https://github.com/espnet/espnet/blob/master/utils/apply-cmvn.py are espnet's versions of kaldi's tools was my assumption.

[2020-03-15 06:51] kan-bayashi commented on #1671
As @kamo-naoyuki shown, the operation is equal to kaldi operation. I will close this issue.

[2020-03-15 06:51] #1671 closed

[2020-03-15 06:52] kan-bayashi commented on #1670
@anushaprakash90 I will close this issue. If you have an additional questions, please re-open this issue.

[2020-03-15 06:52] #1670 closed

[2020-03-15 06:55] kan-bayashi commented on #1656
Actually sentencepiece is included in requirements, so usually we do not need to install manually.
https://github.com/espnet/espnet/blob/94a066e7b669f5e78be6aba5863255d0a1a2d44e/setup.py#L42
But it is worthwhile to try it, e.g.,

cd egs/librispeech/asr1
. ./path.sh
pip install sentencepiece

If you do not use subword, sentencepiece is not needed.

[2020-03-15 13:03] anushaprakash90 commented on #1670
@kan-bayashi Thanks. That answers my questions.

[2020-03-16 05:05] Arafat4341 commented on #1667
I ran `run.sh`.  It exceeded the `stage 4: Network Training` and went to `stage 5: Decoding`.
Finally It completed and gave a `run.sh done.` message.
Then I went on to test a pretrained model on ljspeech dataset. I tried this command: `../../../utils/synth_wav.sh example.txt` on an example text I created. I get `The standard file /home/arafat/espnet/egs/ljspeech/tts1/../../../tools/kaldi/tools/con

[2020-03-16 05:05] #1667 closed

[2020-03-16 05:31] #1663 closed

[2020-03-16 12:19] tu1258 commented on #1248
Hi, @hanqichen

Would you mind sharing the `run.sh` of RNN-T for LibriSpeech? I couldn't reproduce the same performance, if you could help that would be great!

[2020-03-16 18:40] chris-crucible commented on #1619
Any update here on the original posted issue? I'm also getting the error ``No matching distribution found for cupy-cuda==6.0.0`` when running ``./build.sh local 10.0`` on AWS EC2 instance.

[2020-03-16 19:57] sw005320 commented on #1673
Your warp CTC may not be correctly installed.
Please check it or use the pytorch default ctc by with `--ctc_type builtin`

[2020-03-16 20:05] sw005320 commented on #1619
@chris-crucible, we just merged it today. Could you check it?

[2020-03-16 20:09] sw005320 commented on #1672
Could you tell me a little bit more detail?
What kind of recipes you are using and where did you modify based on it?
Only `sortagrad`?

[2020-03-16 23:38] chris-crucible commented on #1619
I updated to latest master and still receive the same error. Seems like line 82 in tools/Makefile is resolving to ``cupy-cuda==6.0.0`` instead of ``cupy-cuda100==6.0.0``. I tried manually editing the Makefile to force it to that, but changes the Makefile seem to have no effect. Is there some cached version of it? What is the correct way to change it?

[2020-03-16 23:57] sw005320 commented on #1619
@Fhrozen, could you check it?

[2020-03-17 01:20] gandolfxu commented on #1371
I used the default config.

asr_recog.py --config conf/decode.yaml --ngpu 0 --backend pytorch --batchsize 0 --recog-json dump/test/deltafalse/split16utt/data.1.json      --result-label exp/train_sp_pytorch_train/decode_test_decode_lm/data.1.json --model exp/train_sp_pytorch_train/results/model.last10.avg.b     est --rnnlm exp/train_rnnlm_pytorch_lm/rnnlm.model.best

conf/decode.yaml
batchsize: 0
b

[2020-03-17 01:42] sw005320 commented on #1371
I'm expecting your CTC part is not working.
Please check the warp CTC installation and/or CTC training loss.

[2020-03-17 01:53] Fhrozen commented on #1619
@chris-crucible Thank you for your report.
PR #1677 solves the problems you mentioned.

[2020-03-17 02:36] WanderingSven commented on #1673
Thanks for your reply . I used existing python for the installation and Check that all libraries are installed correctly. I find pure transorfomer without ctc loss also doesn't  convergence.In the previous use of espnet, it can convergence without using existing python  installation.
@sw005320
![%%L_UV87E%H6JDH4$(9REG3](https://user-images.githubusercontent.com/26950286/76816185-924af800-683a-11ea

[2020-03-17 03:45] yash-s20 commented on #1672
I've used a mix of an4 and minian4 recipes, and the error does not occur when I use sortagrad: 0 or sortagrad: -1. I've not modified much except for number of units in the model from an4.

[2020-03-17 06:25] Arafat4341 opened #1679 "Error while loading pre-trained model"
I installed docker image of espnet and kaldi. kaldi inside the `espnet/tools/` directory.
I wanted to synthesize an example text with pre-trained models. I followed the instructions.

while downloading the pre-trained model I get this error:

`gzip: stdin: not in gzip format`

`tar: Child returned status 1`

`tar: Error is not recoverable: exiting now`

`/home/arafat/espnet/egs/ljspeech/tts1/../..

[2020-03-17 07:34] Arafat4341 commented on #19
Hello everyone! I tried to synthesize example text with pre-trained models. I get this:
`Traceback (most recent call last):`
  `File "/home/arafat/espnet/egs/ljspeech/tts1/../../../utils/merge_scp2json.py", line 15, in <module>
    from espnet.utils.cli_utils import get_commandline_args`
`ModuleNotFoundError: No module named 'espnet'`

[2020-03-17 07:36] #1679 closed

[2020-03-17 07:49] Arafat4341 opened #1680 "Espnet Module missing"
I ran docker image of espnet and kaldi. Immediately after I tried to synthesize example text with pre-trained models. I tried the command:
`../../../utils/synth_wav.sh example.txt`

I get this error:
`  File "/home/arafat/espnet/egs/ljspeech/tts1/../../../utils/merge_scp2json.py", line 15, in <module>`
    `from espnet.utils.cli_utils import get_commandline_args`
`ModuleNotFoundError: No module na

[2020-03-17 07:58] Arafat4341 commented on #1045
@kan-bayashi I ran docker image of espnet. I get
`File "/home/arafat/espnet/egs/ljspeech/tts1/../../../utils/merge_scp2json.py", line 15, in <module>
from espnet.utils.cli_utils import get_commandline_args
ModuleNotFoundError: No module named 'espnet'`

Why am I getting this?

[2020-03-17 08:00] EsmaeilFarhang commented on #1657
Hi, thank you

yes, attention is poor

i'm also for this model used trim_silence

I'm not Sure texts are clean so I'm trying to check then and train again,

What should I put in this reduction factor?  and how to fine-tune that?

[2020-03-17 08:04] EsmaeilFarhang commented on #1657
I'm trying with tacotron2_v4  and Trim the silence.
 attention weight after 103 epoch is in below:
![LJ8152](https://user-images.githubusercontent.com/24624344/76834900-333db100-6843-11ea-92dc-bf16e6f9472f.gif)
![LJ8150](https://user-images.githubusercontent.com/24624344/76834882-2ae57600-6843-11ea-9dd2-de0dd37727fc.gif)
![LJ8151](https://user-images.githubusercontent.com/24624344/76834896-30db570

[2020-03-17 08:21] kan-bayashi commented on #1657
You can try 3 or 5 at first. If you cannot train well with 3 or 5, there is a problem in preprocessing, I think.

From your figure, the beginning of the audio contains something.
Could you check the figures in `exp/trim_silence/figs`?

[2020-03-17 08:48] Fhrozen commented on #1680
How are you running the docker container? using run.sh? or with docker run?
In case of using the second option, then I recommend you to check the file [runs.h](https://github.com/espnet/espnet/blob/master/docker/run.sh)

Specially the following lines:
https://github.com/espnet/espnet/blob/45183b7f8160ee19a31f444d6ed1cc491371acd1/docker/run.sh#L117-L124

the original espnet folder is deleted from t

[2020-03-17 09:31] Arafat4341 commented on #1680
@Fhrozen I am running docker container for espnet with:
`./run.sh --docker_gpu -1 --docker_egs an4/asr1   --docker_user false  --ngpu 0`

By the way, I have an espnet folder inside `espnet/`. Will copying the `espnet` folder inside `espnet/tools` be good?

[2020-03-17 09:37] Arafat4341 commented on #1680
@Fhrozen that solved the problem.

`Traceback (most recent call last):`
  `File "/home/arafat/espnet/egs/ljspeech/tts1/../../../utils/merge_scp2json.py", line 15, in <module>`
    `from espnet.utils.cli_utils import get_commandline_args`
  `File "/home/arafat/espnet/utils/espnet/utils/cli_utils.py", line 5, in <module>`
    `import numpy`
`ModuleNotFoundError: No module named 'numpy'`

Am I suppos

[2020-03-17 09:51] #1680 closed

[2020-03-17 09:53] xiechen0692 opened #1682 "How to change backbond to RNN-T?"
I can not find the tutorial on the main page. Can someone share how to use it and the performance results? Thanks a lot!

[2020-03-17 10:02] Arafat4341 opened #1683 "`venv/bin/activate` directory missing from `tools/`"
I wanted to synthesize example text with pre-trained model after I ran docker image of espnet on my virtual ubuntu machine.
I get the following issue:
`./path.sh: line 12: /home/arafat/espnet/egs/ljspeech/tts1/../../../tools/venv/bin/activate: No such file or directory`
`stage 0: Data preparation`
`/home/arafat/espnet/egs/ljspeech/tts1/../../../utils/data2json.sh --trans_type char decode/example/d

[2020-03-17 10:25] Fhrozen commented on #1680
If you are using the docker container, then you should not have these errors.
This last shows that the program is not loading the python env (conda) and is using the python from /usr/bin. I will try to check but when I did test I did not have any of these errors.
Not sure if it is related to root users or something like that

[2020-03-17 10:31] Fhrozen commented on #1680
I tested
[code]
In my computer, and have no problem. Can you test the same command in a personal PC. If I can remember you were using AWS. so not sure exactly where is the error. (But if is docker then it should not have any problem)

[2020-03-17 11:17] EsmaeilFarhang commented on #1657
thank you,
there are some figures:
![Screenshot from 2020-03-17 14-38-40](https://user-images.githubusercontent.com/24624344/76851226-2b3f3a80-685e-11ea-85b4-8115ad1b3196.png)
![Screenshot from 2020-03-17 14-39-38](https://user-images.githubusercontent.com/24624344/76851233-2d08fe00-685e-11ea-8be5-ae7c0623b98d.png)
![Screenshot from 2020-03-17 14-41-05](https://user-images.githubusercontent.com/24

[2020-03-17 11:26] kan-bayashi commented on #1657
If the number of figures like the third one is small, it is ok but if most of them are like the third one, it is better to tune the silence threshold.

[2020-03-17 12:28] vcjob opened #1686 "results are not stable | very slow"
Hello everyone!

I am using one of the ASR egs. When I try to decide which beam-size, ctc-weight and lm-weight should I use, but while repeating inference with the same parameters, results are different each time!
This is how the model is being loaded:
[code]
How to make it return the same results each time? I use beam search with size 2 and always get the 1st result out of it.
-------
Another que

[2020-03-17 12:45] EsmaeilFarhang commented on #1657
Thank you,
I'm trying with v4, trimming the silence and change the reduction factor to 3.

[2020-03-17 16:09] sw005320 commented on #1682
Thanks for your comment.
You could find some examples and results in `egs/vivos/asr1/RESULTS.md` `egs/voxforge/asr1/run_rnnt.sh`,

@b-flo, I think this is a good idea to put more detailed documentation about examples and results somewhere in the main `README.md`. Could you think of it?

[2020-03-17 16:12] sw005320 commented on #1672
Thanks.
You mean that it's caused by `espnet/asr/pytorch_backend/asr_mix.py`?
@simpleoier, could you take a look at it?

[2020-03-17 16:16] sw005320 commented on #1673
This looks very strange.
Please check your experimental configurations again.

[2020-03-17 16:21] b-flo commented on #1682
Hi,

Thank you for your interest and sorry for the lack of information! I'll add some documentation to highlight current results and usage for transducer when I have time, you can take a look at voxforge and vivos recipes for now as shinji said. I'm currently too busy to work on it right now, my apologies.

[2020-03-17 16:55] sw005320 commented on #1686
Thanks for the report.
Could you let us know more details?
We might make some part non-deterministic (we try not to do it as much as possible).

We have several issues in the decoder but I have never had serious issues in the encoder. Could you let us know how long it would take for the encoder calculations for ~15 sec utterances?

[2020-03-17 18:45] simpleoier commented on #1672
Hi @yash-s20 , I'm a bit confused. From the traceback and the config, I guess you are training the normal single-speaker ASR system. Is it true?

[2020-03-17 21:33] chris-crucible commented on #1679
@Arafat4341 I just ran into this myself. Did you solve it? What was the issue?

[2020-03-17 23:33] chris-crucible commented on #1679
I just switched the download_from_google_drive.sh to use wget instead of curl, but not sure why curl is unavailable in the image as it seems like it's listed in the base Dockerfile install.

[2020-03-18 00:38] Arafat4341 commented on #1680
@Fhrozen Thanks for your kind response!
I am using virtual ubuntu machine on my pc.
In that case, was the docker not properly installed?

[2020-03-18 00:41] Arafat4341 commented on #1679
@chris-crucible curl was not installed. I also wonder why!

[2020-03-18 01:04] Arafat4341 opened #1690 "run.pl: job failed, log is in decode/example/log/decode.log"
Tried to synthesize example text with pre-trained models. Ran `../../../utils/synth_wav.sh example.txt`.
Getting this:

`./path.sh: line 12: /home/arafat/espnet/egs/ljspeech/tts1/../../../tools/venv/bin/activate: No such file or directory`
`stage 0: Data preparation`
`/home/arafat/espnet/egs/ljspeech/tts1/../../../utils/data2json.sh --trans_type char decode/example/data decode/download/ljspeech.tr

[2020-03-18 01:06] #1690 closed

[2020-03-18 01:15] Fhrozen commented on #1680
I cannot be sure if it is the docker installation.  But, the error is quite strange .

Usually are folder access.

Anyway, can you try running `./build.sh test`. This will test the docker containers.

[2020-03-18 01:19] xiechen0692 commented on #1682
thanks you guys, is it available for other dataset?

[2020-03-18 01:31] Arafat4341 commented on #1680
Ran `./build.sh test` . Got this:

`Using Docker Ver.19.03.6
Testing docker containers
Building docker image...`
`Now running docker build --build-arg FROM_TAG=cpu-u18 --build-arg THIS_USER=arafat --build-arg THIS_UID=0 -f prebuilt/Dockerfile -t espnet/espnet:cpu-u18-user-arafat .`
`Sending build context to Docker daemon  51.71kB`
`Step 1/8 : ARG FROM_TAG`
`Step 2/8 : FROM espnet/espnet:${FROM_TAG

[2020-03-18 03:02] #1484 closed

[2020-03-18 04:39] thrfdth opened #1693 "RuntimeError: Error(s) in loading state_dict for Transformer: size mismatch for encoder.embed.0.weight: copying a param with shape torch.Size([43, 384]) from checkpoint, the shape in current model is torch.Size([37, 384])."
Hi,
I tried transfer learning with my own dataset but it didn't work.I used a pretrained model which I trained with jsut recipe.

Firstly i ran `./run.sh --backend pytorch --ngpu 1 --stage 0 --stop_stage 2` and ran `tts_train.py --backend pytorch --ngpu 1 --minibatches 0 --outdir exp/phn_train_no_dev_pytorch_train_pytorch_transformer/results \
--tensorboard-dir tensorboard/phn_train_no_dev_pytorch

[2020-03-18 05:51] yash-s20 commented on #1672
Hmm I see I was looking at the wrong file, but that part of code is similar in both, I'll make the changes and re-run.

[2020-03-18 07:59] Ella77 commented on #1693
In my opinion, as I had encountered same errors at past , it is about difference about the number of language features you used
(e.g) stop token, or character depending on your language)
you can see it in

The error code says that the pretrained model you used uses 43 number of cleaned features, but you used about 37 features.

     `   size mismatch for encoder.embed.0.weight: copying a param wit

[2020-03-18 08:17] kan-bayashi commented on #1693
You can use the following options to select load pretrained parameters.
https://github.com/espnet/espnet/blob/a360dbb5f21923bdea867c2c3ed002020163cfeb/espnet/bin/tts_train.py#L125-L135
In your case, you can load all of the parameters except for `encoder.0.embed`.

[2020-03-18 08:19] kan-bayashi commented on #1693
Or if your dict is subset of the dict of pretrained model, you can use pretrained model's dict in making json.

[2020-03-18 08:20] b-flo commented on #1682
Yes, transducer is available for any dataset! You just need to have `model-module: "espnet.nets.pytorch_backend.e2e_asr_transducer:E2E"` in your config. However be aware there are some differences in terms of training and decoding parameters between MTL and transducer!

[2020-03-18 09:42] Ella77 opened #1696 "TTS long sentence inference alignment"
First of all, thank you for great and well arranged repository friendly for developers.

I am working on doing my own recipe using Korean TTS Fastspeech distilled from Transformer.v.3, Tacotron2 based on LJSpeech. Inferred results from sentence of normal lengths sound Ok, but as my dataset's wav length averaged about 3 seconds, long sentence inference sounds bad at the end of the statement.

I hav

[2020-03-18 09:49] Arafat4341 opened #1697 "Python version conflict"
While installing kaldi, I see python 2.7 as a requirement. When I ran extras/check_dependencies.sh in kaldi, I noticed python 2.7 as on of the required package.
But the machine has also python 3.
Now when I run `python --version`, machine doesn't recognize the command. And it tells to install python. But `python3 --version` or `python2.7 --version` works.

Which one should I set as default python?

[2020-03-18 11:11] qmpzzpmq commented on #1654
![image](https://user-images.githubusercontent.com/21037898/76954688-bd713c80-694b-11ea-8440-72732b51a7f3.png)
there is another bug, I am not certain sure. but when I initialize my RNNT main module from the enc pre-train model. It seems the name of the main module is mismatched with the pre-train module.
so I guess https://github.com/espnet/espnet/blob/a360dbb5f21923bdea867c2c3ed002020163cfeb/espn

[2020-03-18 11:25] dzungcamlang commented on #1517
Hi @xiaoyangnihao, I want to train fastspeech v4 as same you, but I have confuse that, I has must training complete  with conf train_pytorch_tacotron2.v4.yaml or only traing first 1 epoch,
then I can start training fastspeech v4  with teacher model is result of train_pytorch_tacotron2.v4:
Am I correct?

[2020-03-18 11:32] b-flo commented on #1654
Ha yes, when I did unification for RNN and Transformer I used `self.encoder` instead of `self.enc` but didn't change default modules parameters to transfer (https://github.com/espnet/espnet/blob/master/espnet/bin/asr_train.py#L182-L184), you can specify the correct one in conf though!

I'll soon do a PR to extend transfer learning examples and also add more documentation. Sorry for the delay, it's

[2020-03-18 11:47] kan-bayashi commented on #1517
@dzungcamlang You must complete the training of teacher model at first.

[2020-03-18 11:59] sw005320 commented on #1696
I just would like to make sure what is an issue.
Is your long sentence example working with c.v.3 and Tacotron2?
If you still have some issues with Transformer but OK with Tacotron2, we could conclude that the problem comes from the self-attention and https://github.com/espnet/espnet/pull/1599 would be a good solution.

[2020-03-18 12:01] sw005320 commented on #1697
Please use Python 3.6.1+
See https://espnet.github.io/espnet/installation.html#requirements

[2020-03-18 12:06] qmpzzpmq commented on #1654
Just make it clear. @b-flo
I think I can just rename the weight name in "model.acc.best" and change the conf file. I guess these works, isn't it?

[2020-03-18 12:15] b-flo commented on #1654
Oh sorry, you mean you already had a transducer model from before unification. In that case, you could change `self.encoder` to `self.enc` and `self.decoder` to `self.dec` as you said previously or change the model keys before loading (`enc.*` -> `encoder.*`, `dec.*` -> `decoder.*`), yes.

[2020-03-18 12:19] vcjob commented on #1686
Thank you for the reply!
Regarding the inference time - apparently it seems to be RAM issue - it uses almost all available ram on long wavs, so Linux uses slow swap.
Now, this is longer script I used to get ASR results:

[code]
The results I get changes from time to time with the same file.
The parameters I have on decode.yaml are:
[code]
Thank you!

[2020-03-18 13:19] kan-bayashi commented on #1696
Hi @Ella77, thank you for raising interesting discussions.

I have no experience data augmentation for TTS, especially in terms of long sentence generation. I tried several attention mechanisms, but the most effective one is attention constraint in decoding, which is introduced in Deep Speech 3. Did you try it?  (only available for Tacotron2)

Could you provide more information about this? Which p

[2020-03-18 15:57] ahmedalbahnasawy commented on #1672
@sw005320 I faced the same issue before 2 weeks but when I changed sortgrad to 0 it works fine. I was using asr_train.py (Transducer model).

[2020-03-18 16:28] simpleoier commented on #1672
I think the reason is because of this [ShufflingEnabler](https://github.com/espnet/espnet/blob/a360dbb5f21923bdea867c2c3ed002020163cfeb/espnet/asr/pytorch_backend/asr.py#L520), in which the [train_iter](https://github.com/espnet/espnet/blob/a360dbb5f21923bdea867c2c3ed002020163cfeb/espnet/asr/pytorch_backend/asr.py#L503) was defined as a dictionary. When the ShufflingEnabler is activated, it will c

[2020-03-19 01:29] Arafat4341 commented on #741
Hello!
I am setting up espnet. I don't have GPU.
I ran `make check_install CUPY_VERSION=''`

I get:
`WARNING: --> warpctc_pytorch is not installed.
INFO: library availableness check done.
INFO: 7 / 8 libraries are correctly installed.
INFO: please try to setup again and then re-run this script.
Makefile:163: recipe for target 'check_install' failed
make: *** [check_install] Error 1`

I can't find

[2020-03-19 02:20] Arafat4341 opened #1699 "'warpctc_pytorch is not installed' warning even after installing"
I am trying to setup espnet on a CPU machine. I checked install inside tools/ then it said:
`WARNING: --> warpctc_pytorch is not installed.
INFO: library availableness check done.
INFO: 7 / 8 libraries are correctly installed.
INFO: please try to setup again and then re-run this script.
Makefile:163: recipe for target 'check_install' failed
make: *** [check_install] Error 1`

Then I installed from

[2020-03-19 04:37] shanguanma commented on #1699
Now warp_ctc of espnet is from https://github.com/espnet/warp-ctc, your error may be version of pytorch mismatch warp_ctc, Now Makefile of espnet only support pytorch 1.0.0 or 1.0.1 or 0.4 ，if you use pytorch 1.1.0，you must modify Makefile. you convert "warpctc-pytorch10-cuda" to "warpctc-pytorch11-cuda".

[2020-03-19 05:06] Arafat4341 commented on #1699
But I have torch 1.0.1. And I don't have GPU. I ran `make check_install` This is what I get:
`. venv/bin/activate; python check_install.py --no-cupy --torch-version 1.0.1
INFO: python version = 3.7.3 (default, Mar 27 2019, 22:11:17)
[GCC 7.3.0]
INFO: library availableness check start.
INFO: # libraries to be checked = 8
INFO: --> espnet is installed.
INFO: --> kaldiio is installed.
INFO: --> matpl

[2020-03-19 05:37] shanguanma commented on #1699
Have you try to do ". venv/bin/activate && pip install warpctc-pytorch10-cpu; "?

[2020-03-19 05:43] Arafat4341 commented on #1699
I haven't manually ran it. No

[2020-03-19 05:49] Arafat4341 commented on #1699
I just ran `venv/bin/activate && pip install warpctc-pytorch10-cpu`.
The `warpctc-pytorch10-cpu-0.1.3` is successfully installed.
After that I ran check_install, still getting: `warpctc_pytorch is not installed`.

Should I change anything in makefile?

[2020-03-19 07:42] cstirling commented on #1656
I also have this problem. And I found it caused by kaldi/tool/env.sh. So remove the first line ‘export PATH=/xxx/kaldi/tools/python:${PATH}’ then it works!

[2020-03-19 09:09] ahmedalbahnasawy commented on #1699
@Arafat4341 in the tools path do git clone https://github.com/espnet/warp-ctc.git build &make manually .

[2020-03-19 12:21] 943274923 opened #1700 "How to use multi-GPU decoing in ASR"
How to use multiple GPUs decoing in ASR

[2020-03-19 12:25] sw005320 commented on #1700
We don't support multiple GPU decoding.

[2020-03-19 12:54] Arafat4341 commented on #1699
@ahmedalbahnasawy git cloned https://github.com/espnet/warp-ctc.git built and made. But still get the error `warpctc_pytorch is not installed`

How can I use the python of virtual env?

[2020-03-19 13:04] #1693 closed

[2020-03-19 13:06] #1700 closed

[2020-03-19 13:50] yash-s20 opened #1701 "Question: Max Input Length and Max Output Length disregarded on batch_sort_key == "shuffle"?"
Hi, I was interested in loading two datasets on the fly, and decided to switch the batch_sort_key to "shuffle" mode for one of them. However I notice in the source code that on shuffle, adaptive batching isn't used (adaptive batching btw, thumbs up, is a great idea). While this would otherwise be no issue, suddenly my GPUs don't have enough space to load many utterances of very long length.
How sh

[2020-03-19 13:56] desothier1 opened #1702 "time stamp per word"
Hi,

Is there a way to have the time stamps at word boundary level
for reference and hypothesis transcriptions ?

Thanks

[2020-03-19 13:57] desothier1 opened #1703 "time stamps"
Hi,

Is there a way to have the time stamps at word boundary level
for reference and hypothesis transcriptions ?

Thanks

[2020-03-19 13:57] #1703 closed

[2020-03-19 15:27] sw005320 commented on #1702
It is not easy to get the word boundary level, but the token level is possible if we check the attention weight (or probably CTC results). We will think of implementing such functions upon the request.

[2020-03-19 15:32] ahmedalbahnasawy commented on #1699
@Arafat4341 source venu/bin/activate

[2020-03-19 15:33] desothier1 commented on #1702
Ok, I can do with token level.
would it be ok, to give some advice about which script or which function to
use to extract time stamps per word for CTC?

Thanks

On Thu, Mar 19, 2020 at 4:28 PM Shinji Watanabe <notifications@github.com>
wrote:

[2020-03-19 15:43] sw005320 commented on #1702
I think it is possible if we take the best path from CTC prefix in https://github.com/espnet/espnet/blob/master/espnet/nets/ctc_prefix_score.py#L197 (but still token level).

[2020-03-19 15:49] desothier1 commented on #1702
thanks!

On Thu, Mar 19, 2020 at 4:43 PM Shinji Watanabe <notifications@github.com>
wrote:

[2020-03-19 15:50] sw005320 commented on #1701
Actually, `batch_sort_key == 'shuffle'` is intended to disable adaptive batching with max Input length and max output length. Could you explain more about why you want to use `batch_sort_key == 'shuffle'`? Note that we perform shuffling across mini-batches, which is enough for shuffling the data. Also, shuffling utterances inside a mini-batch does not change the result (it slightly changes the res

[2020-03-19 15:55] sw005320 commented on #1686
We usually assume ~10 seconds of the utterance. 1 min length is too large and it's better to chunk the audio by using VAD or whatever.

Did you fix the seed appropriately and make the operation deterministic?
We need such treatment (e.g., all our binaries call https://github.com/espnet/espnet/blob/master/espnet/utils/deterministic_utils.py)

[2020-03-19 18:25] tu1258 opened #1704 "RNN-T recipe for LibriSpeech"
Based on test by #1248. I modified `run_rnnt.sh` from voxforge and try to run on LibriSpeech, but I then got permission denied.
[My version rnnt.sh](https://github.com/espnet/espnet/files/4356328/rnnt_librispeech.txt)
Actually I think my version may not be correct to reproduce same performance as #1248. Is there anyone sharing about RNN-T script for LibriSpeech? If no, I wish someone will do since

[2020-03-19 20:51] b-flo commented on #1704
Hi,

I suppose default run script (https://github.com/espnet/espnet/blob/master/egs/librispeech/asr1/run.sh) was used in #1248, with `recog_model=model.loss.best` and the config(s) shared in the post. Did you try? Is there any degradation compared to reported results?

[2020-03-19 23:31] thrfdth commented on #1693
Thanks! @Ella77  @kan-bayashi

[2020-03-20 02:51] Arafat4341 commented on #1699
@ahmedalbahnasawy Thanks a lot!

When I run: `python setup.py install`
I get: `could not create 'build/lib.linux-x86_64-3.7': Permission denied`

[2020-03-20 03:03] Arafat4341 commented on #1699
The problem is solved. I was using system's python instead of venv's python. That's why problem occured. Thanks a lot for being co-operative!

[2020-03-20 03:03] #1699 closed

[2020-03-20 06:12] jamesMuWB opened #1708 "how derease speed of speech"
i used  tts script synth_wav.sh synthesis a wav, but speed of speech is to fast.

how derease the speed

[2020-03-20 06:30] qmpzzpmq commented on #1654
@b-flo sorry to bother, but it seems, there is another initialization bug when the main RNN-T module is initialized with a pre-trained lm.
the state dictionary in lm file is stored named as "predictor.rnn". Meanwhile, the part in the decoder of RNN-T should be initialized with lm is named decoder.decoder.
Do you have any idea to unify them?

[2020-03-20 09:51] SeanNaren opened #1709 "Processing of audio folder to convert data format to ESPNET2"
Hey guys!

After speaking to Shinji who pointed me to a few issues it seems ESPNET2 is kaldi-free which is awesome! Still uses the kaldi format which is a good idea.

We currently use a simple file structure to hold our data. Basically a folder with a /wav /txt directory where the filenames match inside except for the extension. This is also the chosen format for [deepspeech.pytorch](https://githu

[2020-03-20 11:57] kamo-naoyuki commented on #1709
Hi, @SeanNaren

I recommend you to run `egs2/mini_an4/asr1` once and I believe you can understand what is required quickly

You need to prepare two text files at least, referred as `scp` to describe the file id and the file path or the transcription (that are almost same as Kaldi format)

[code]

(We use soundfile to read audiofile, so not only wav format, all format which it supports can be also

[2020-03-20 11:59] SeanNaren commented on #1709
Perfect thank you! This is exactly what I wanted :) will close

[2020-03-20 11:59] #1709 closed

[2020-03-20 12:54] tu1258 commented on #1704
The scripts are so different. What should I set `nbpe` and `bpemode` if I use grapheme model

[2020-03-20 13:21] b-flo commented on #1704
Sorry, I think there is some misunderstanding.

- To use transducer, you only need to set the following in train config:

[code]

- `run_rnnt.sh` was originally created to demonstrate rnn-t and finetuning, however it is recipe-dependant and was not intended as a general template like `run.sh`.
It is just an "all-in-one" training script with some control parameters at bash level, that's why it's so

[2020-03-20 13:38] tu1258 commented on #1704
OK, I'll try it. Thanks!

[2020-03-20 13:57] #1488 closed

[2020-03-20 14:21] Fhrozen commented on #1683
As I can see, you are no running the program inside the docker container.
First. espnet folder is located at `/espnet` inside the docker container, and when a recipe is execute, it runs in `/espnet/egs/<recipe>` in this case <recipe>= ljspeech. It seems that it is executed outside the docker container that is why you have `/home/arafat` in the output.

Could you please copy the command you are usi

[2020-03-20 15:46] tu1258 commented on #1704
Hi, @b-flo
I tried it and get `basename: missing operand` error at Dictionary and Json Data Preparation

[2020-03-20 16:02] b-flo commented on #1704
Looking at librispeech run script, the only `basename` would could produce this error at this stage (well it's between stage 2 and 3) is this one:
[code]
`lm_tag` is not set by default, so except if you set the value and `lm_config` was empty, I'm not sure what happened. Are you using librispeech run script with only `recog_model=model.loss.best` and configs modified?

[2020-03-21 04:11] EsmaeilFarhang commented on #534
HI,
Im trained transformer model in egs/just/tts1 config file with 11 hours data, and the result is so good   But there is still the problem of missing words,
can I try fastspeech with use this model as a teacher mode? Have you tried the fstspeech model with Japanese data? Does the lack of data cause problems?

[2020-03-21 09:01] gandolfxu commented on #1371
In the log file "exp/train_sp_pytorch_train/results/log",
"main/loss_ctc": 0.0

[2020-03-21 12:20] yash-s20 commented on #1701
Shuffling across mini-batches is ok.
I was tweaking around to perform [mixup](https://arxiv.org/abs/1710.09412) on 2 datasets. In the case where both loaded datasets are the same, unless I use shuffle, both load the same features in the same order and mixup becomes useless. Utterance lengths are not an issue, but combining them with non-adaptive batching and the GPU cannot fit the same.

[2020-03-22 00:19] LightTemplar opened #1715 "GPU config without CudNN possible?"
I've got an old NVIDIA Tesla M2090, which can be used with Cuda 9.1 and r390 drivers, but it doesn't support CudNN at all. Can ESPnet still use it for speech recognition tasks?

[2020-03-22 05:34] ohadianoush opened #1716 "errro by running run.sh : /home/ai/espnet/egs/ljspeech/tts1/../../../tools/kaldi/tools/config/common_path.sh is not present"
hi,

~/espnet/egs/ljspeech/tts1$ ./run.sh --backend chainer
The standard file /home/ai/espnet/egs/ljspeech/tts1/../../../tools/kaldi/tools/config/common_path.sh is not present -> Exit!

note1:both of kaldi & espnet is in home directory (/home/ai/ )ai is my username

note2: first lines of path.sh file:
MAIN_ROOT=$PWD/../../..
KALDI_ROOT=$MAIN_ROOT/tools/kaldi

note3: i do all step from https://espn

[2020-03-22 05:56] #1489 closed

[2020-03-22 08:43] b-flo commented on #1715
Hi,

Can pytorch be used without cudNN enabled? Yes, if not detected cudnn wrappers will be switched off. For espnet, cudnn is a requirement and there are multiple direct references/tests to it so I'm not really sure if it could work without modifications.

By the way I don't think using a GPU with a compute capability of 2.0 like yours would be better over using CPUs.

[2020-03-22 08:49] yash-s20 commented on #1701
I was thinking, could I just shuffle the list of minibatches at will after collecting them in adaptive style? Would that break anything?

[2020-03-22 08:53] b-flo commented on #1716
Hi,

You didn't have any error at `Step 4) installation check`?

The paths are correct.

Do you have a symbolic link to your kaldi directory in `espnet/tools` (`kaldi -> /home/ai/kaldi/`)?

[2020-03-22 09:36] #1634 closed

[2020-03-22 15:30] jujusudhur commented on #664
@simpleoier could you please explain the use of wsj_mix_scheme.tar.gz

In the wsj_mix recipe ./run.sh there is no data download stage, where we can download the wsj dataset?

[2020-03-22 17:18] jujusudhur opened #1721 "ASR demo with wsj_mix dataset"
References to do ASR demo using wsj_mix dataset. Getting error in Data Preparation stage while following steps from ASR demo with an4 dataset in interspeech tutorial.

[2020-03-22 17:24] EsmaeilFarhang commented on #1657
@kan-bayashi
Hi
I'm trying with tacotron.v4 config file and changed some parameters:
silence threshold= 25 DB (fine-tuned that)
normalized text
reduction factor = 3
the attention weights are in below:
![LJ8150](https://user-images.githubusercontent.com/24624344/77255755-748cf100-6c87-11ea-8bd6-79aee8b8f76b.gif)
![LJ8151](https://user-images.githubusercontent.com/24624344/77255769-8078b300-6c87-11e

[2020-03-23 02:33] #1697 closed

[2020-03-23 03:02] Arafat4341 opened #1722 "pyopenjtalk error - TTS on Japanese"
I am trying to test TTS on Japanese text. The pyopenjtalk is missing. I am inside virtual environment.
I tried `pip install pyopenjtalk`. Got `OSError: openjtalk library cannot be found`

Tried to install openjtalk with `sudo apt-get install open-jtalk open-jtalk-mecab-naist-jdic hts-voice-nitech-jp-atr503-m001`.
It gets installed. Then I ran again `pip installed pyopenjtalk`. I get same error: `O

[2020-03-23 05:15] LCF2764 opened #1723 "KeyError: 'validation/main/loss' in pytorch when use multiple gpu in training"
hi,
I use aishell recipe and running asr_train.py. When I use single GPU, it work well. However, when I use 2GPU, it finish training at the end of first epoch and throw the error: KeyError: 'validation/main/loss' error.
[code]
How to fix this?

[2020-03-23 09:11] b-flo commented on #1722
Hi,

I never used it so someone correct me if I'm wrong, but searching for `pyopenjtalk` leads to:

[code]

`${MAIN_ROOT}` being espnet directory.

[2020-03-23 10:11] LCF2764 commented on #1723
The problem seems to be in this code snippet：
espnet/espnet/asr/pytorch_backend/asr.py
line571-575
[code]
when I comment out these code, it can be trained normally. But can't save the best model and can't show the "main/loss_ctc", "main/loss_att", "main/acc", and "main/loss" in the log file.

[2020-03-23 11:07] #1722 closed

[2020-03-23 11:08] #1493 closed

[2020-03-23 12:15] kan-bayashi commented on #534
You can find some results.
https://github.com/espnet/espnet/blob/master/egs/jsut/tts1/RESULTS.md

[2020-03-23 12:23] kan-bayashi commented on #1657
Hmm. Even if you cannot get clear attention with upsampling factor=3, it seems there is a problem in training data. How did you normalize the text? Could you show the `text` for training data?

[2020-03-23 12:28] sw005320 commented on #1371
OK, it seems that CTC is not working. Please make your CTC work or set the `maxlenratio` and `minlenratio` appropriately.

[2020-03-23 12:58] simpleoier commented on #664
Hi @jujusudhur , the wsj_mix_scheme.tar.gz contains the mixture information that is necessary to generate the mixture data. And the script to generate the mixture is available [here](http://www.merl.com/demos/deep-clustering/create-speaker-mixtures.zip).

[2020-03-23 13:25] sw005320 commented on #1721
wsj_mix dataset has special ways for data preparation because it requires multiple references. Please follow the data preparation in the wsj_mix recipe. Also, the Interspeech tutorial is not intended for the multispeaker case.

[2020-03-23 13:28] sw005320 commented on #1723
What kind of multiple GPU environments are you using?
The other people have never reported such errors.

[2020-03-23 13:52] sw005320 commented on #1701
Hmm. We may hack to do it, but it might be better to read the multiple datasets separately and modify https://github.com/espnet/espnet/blob/master/espnet/asr/pytorch_backend/asr.py#L140
This would be more flexible.

[2020-03-23 14:21] LCF2764 commented on #1723
thanks for your reply！
this is my Environments
[code]

[2020-03-23 16:52] sw005320 commented on #1723
OK. I'm concerning the following warning.
[code]
Could you try it with an older version of pytorch?
Some interface change may happen in the latest pytorch.

[2020-03-23 17:48] jujusudhur commented on #1721
![Screenshot from 2020-03-23 22-21-36](https://user-images.githubusercontent.com/18646215/77346440-3f9e9e00-6d5c-11ea-89e6-fb3c9ecf314f.png)

Getting this error while running wsj_mix recipe ./run.sh at Stage 0 - Data Preparation

[2020-03-23 18:43] sw005320 commented on #1721
Do you have the WSJ data?
Then, you have to set the path of your WSJ data correctly instead of `/export/corpora/...`

[2020-03-23 18:58] jujusudhur commented on #1721
WSJ data needs license. I don't have. Are there any alternative?

[2020-03-23 19:00] sw005320 commented on #1721
No.
It would be better to make it by yourself by following the wsj_mix data preparation.
We're creating the librispeech mixture data but it will not be finished soon.

[2020-03-23 19:41] jujusudhur commented on #664
@simpleoier where can I download wsj data for creating the small dataset wsj0_mix created in this example using the above mentined mixture generating scripts?

[2020-03-23 19:59] simpleoier commented on #664
Hi @jujusudhur, you can refer to [WSJ0(CSR-I)](https://catalog.ldc.upenn.edu/LDC93S6A) and [WSJ1(CSR-II)](https://catalog.ldc.upenn.edu/LDC94S13A) for more information.

[2020-03-23 20:02] simpleoier opened #1726 "An issue related to "train_iter/valid_iter" from asr/pytorch_backend/asr.py"
Start from the ESPnet v.0.6.0, data loader was modified as a dictionary.
[code]
This modification is incompatible with some functions, such as the `sortagrad` and the preprocessing functions for STFT features in ASR task due to the `converter([load_tr(data)])`.
E.g.
[code]

[2020-03-23 20:50] sw005320 commented on #1726
@naxingyu, could you take a look at it? This causes a problem in several places including #1672 and I also got a report about this issue from the others.

[2020-03-23 21:32] bobchennan commented on #1726
In #1138 I did't check sortagrad cases since I didn't find any cases using sortagrad.

Let me fix it.

[2020-03-23 22:42] bobchennan commented on #1726
The problem is that we define iterator as a dictionary as mentioned in https://docs.chainer.org/en/stable/reference/generated/chainer.training.updaters.StandardUpdater.html :
`iterator – Dataset iterator for the training dataset. It can also be a dictionary that maps strings to iterators. If this is just an iterator, then the iterator is registered by the name 'main'.`

So maybe I should define di

[2020-03-24 02:56] Arafat4341 opened #1727 "TTS issue: All OOV instances gets replaced with 1"
I am trying to test pre-trained `jsut.tacotron2.v1` and `jsut.molgan.mol.v1` on Japanese text. I get very poor synthesized audio.
I noticed in Data Preparation Stage, All of the Japanese characters of the input text gets replaced by 1.
I don't know whats going on! I also tried to synthesize English text. English input text with all caps does okay but with small letters it does the same thing. All

[2020-03-24 03:02] xinqipony opened #1728 "decoding speed for transducer model"
i tried to decode a transformer transducer model, it's very slow, any algo or plan we could speed it up?

[2020-03-24 03:25] xinqipony commented on #1728
anyone runs large set on the recog code, I think maybe there'e a bug in;
espnet\espnet\nets\pytorch_backend\transducer\transformer_decoder.py
ytu = torch.log_softmax(self.joint(hi, y[0]), dim=0)

should y[0] be y[0][0] here?

[2020-03-24 03:26] #1728 closed

[2020-03-24 04:00] LCF2764 commented on #1723
I have try many older version of pytorch include:
- pytorch 1.0.0
- pytorch 1.0.1
- pytorch 1.1.0
- pytorch 1.2.0
but all have the same problem.

[2020-03-24 04:03] kan-bayashi commented on #1727
Sorry, `synthesis_wav.sh` does not include text cleaning part.
Please try our colab notebook.
https://colab.research.google.com/github/espnet/notebook/blob/master/tts_realtime_demo.ipynb

[2020-03-24 08:55] hajime9652 opened #1729 "ASR issue: the recog_wav.sh with segment require the RNN model?"
CTC-based VAD with espnet.nets.pytorch_backend.e2e_asr_transformer:E2E does not work.
What is needed for CTC-based VAD.
Please let me know that.

[2020-03-24 11:04] hajime9652 commented on #1729
I was mistaken about CTC-based VAD.
this is not supported for Transfomer.

[2020-03-24 11:04] #1729 closed

[2020-03-24 11:42] sw005320 commented on #1723
Many thanks.
This would be a bug.
I'll test it but I'd not use multiple GPUs easily and I'm not sure I could debug it.
Please keep post the update.

[2020-03-24 12:50] jujusudhur commented on #664
To download from the suggested pages LDC license is needed. I don't have one. Are there any alternatives?

[2020-03-24 13:15] simpleoier commented on #664
@jujusudhur I'm afraid there is no free way to download the wsj data. I would suggest you use other free corpus, create your own mixture data and prepare the corresponding transcription files for each speaker.

[2020-03-24 19:56] sw005320 commented on #1723
I just tested it and I did not get any errors.
My environment is as follows:
(You may try chainer 6.0.0?)

- python version: `3.7.3 (default, Mar 27 2019, 22:11:17)  [GCC 7.3.0]`
- espnet version: `espnet 0.6.2`
- chainer version: `chainer 6.0.0`
- pytorch version: `pytorch 1.0.1.post2`
- Git hash: `41cfa571c273f4c68ce9826914ee03e28305702f`
  - Commit date: `Mon Mar 23 09:10:14 2020 -0400`

[2020-03-25 15:35] LCF2764 commented on #1723
Thank you very mush!
After I instasll chainer=6.0.0, the problem was solved.
Thanks!

[2020-03-25 15:38] sw005320 commented on #1723
Cool!
This is a very good note.
We may need to stick to use `chainer 6.0.0`.
I want to leave it as it is (because our default chainer version in Makefile is 6.0.0) but if many people are stacked about it due to that, we'll ask people to fix to use chainer 6.0.0 or fix this bug.

[2020-03-25 16:40] #1600 closed

[2020-03-26 11:44] JoeyHeisenberg commented on #1672
I got the same problem when I was training the FastSpeech on 3 GPU, which I set the sortagrad to 5
![image](https://user-images.githubusercontent.com/33407667/77643275-0a7f8f00-6f9a-11ea-9d45-504386efeca5.png)

[2020-03-26 12:41] sw005320 commented on #1726
Year, I think it would be better.
We have another report in #1672, so it would be great if you work on it soon.

[2020-03-26 12:50] yash-s20 commented on #1672
@simpleoier what you mentioned works. Thanks! You could make the changes if you haven't already.
@JoeyHeisenberg try it.

[2020-03-26 14:26] dzungcamlang opened #1740 "TTS - RAM keep increasing in inference"
Hi all,
I had try this [demo](https://colab.research.google.com/github/espnet/notebook/blob/master/tts_realtime_demo.ipynb#scrollTo=3lMJyJcLCsd4) and when I synthesize on CPU with multiple sentence, I encountering ram increases every iteration and out memory.
This code like this:

[code]
Any help would be very much appreciated.
Thanks.

[2020-03-26 17:26] tu1258 commented on #1704
Sorry my bad. I thought RNN-T don't need LM and set it empty. Will try it!

[2020-03-27 02:54] chen1399 commented on #1228
Are you training the ngram and rnnlm using the same corpus？

[2020-03-27 04:31] windtoker commented on #1740
Did you try gc.collect?

[2020-03-27 06:19] ajd12342 opened #1745 "Default RNNLM rescoring works really badly even with dev set added to training set"
I am trying to use an sentencepiece token-based(with unigram BPE) RNNLM to rescore my CTC+attention ASR model (which also uses sentencepiece tokens) using the training script at the end of this text (it is very similar to stage 3 of the mini-an4/asr1 recipe) and using the configuration from the lm.yaml file at the end of this text. Trying the numbers in the comments of the yaml file(configurations

[2020-03-27 07:33] dzungcamlang commented on #1740
Not yet FIXED,
I could found that, `y = vocoder(*xx).view(-1)` increase RAM ever step mel to audio,  when I try TTS split into two part, the first is text to mel and the second is mel to audio, the process mel to audio has consume multiple memory ram.
@kan-bayashi can you help me part vocoder?
Thanks...

[2020-03-27 07:36] kan-bayashi commented on #1740
@dzungcamlang Do you mean CPU memory?

[2020-03-27 07:56] dzungcamlang commented on #1740
@kan-bayashi  yes, i tried on cpu, When I synthesized multi sentence and  vocoder has occupied memory after returning the result, and I has try again synthesize encountering RAM (cpu) load full...
code I modified on your [demo](https://colab.research.google.com/github/espnet/notebook/blob/master/tts_realtime_demo.ipynb#scrollTo=3lMJyJcLCsd4) and same is [repo](https://github.com/NaoyaTAKIMOTO/auto

[2020-03-27 08:53] b-flo commented on #1745
Hi,

I'm confused by that (and similar parts):
[code]

1) `text2token.py -s 1 -n 1 data/${train_set}/text` will map original space to `<space>` and introduce a normal space between each characters
2) `cut -f 2- -d" "` will then cut the first field which would be... the first character of the spk_id
3) `spm_encode` will encode text into sentence pieces. Thus, each character will be treated as a wor

[2020-03-27 11:57] sw005320 commented on #1745
I agree with @b-flo, please first check your commands.
What kind of data are you using to train your LM? If you use the transcription or mismatched external text data, it may not improve the performance.

[2020-03-27 14:01] ajd12342 commented on #1745
Thanks a lot for the really useful input. I realize my command is incorrect and have fixed it. Apologies for bothering, I am new to espnet and did not realize my mistake on my own. I was using the transcriptions to train the data and as a sanity check even added the dev set transcriptions to the training set as a sanity check to see the dev WER improve, but it didn't happen. Hopefully it should wo

[2020-03-27 14:02] #1745 closed

[2020-03-27 20:14] delip commented on #1417
Had a related question: If I wanted to recover phoneme-level timing, instead of word-level timing information as above, would it be sufficient to just train espnet's tacotron model with phonemes enabled and follow the above suggestion?

[2020-03-28 01:53] dzungcamlang commented on #1740
@kan-bayashi can you help me,
Thanks.

[2020-03-28 02:04] kan-bayashi commented on #1740
Hmm, I've never met your problem.
Is your problem happened even when using the same sentence multiple times?
e.g.
[code]
What is the your pytorch version? Is your problem happened with different version?

Since the `vocoder.forward()` function just calls pytorch the methods such as Conv1d, I have no idea about the memory consumption.

[2020-03-28 02:45] dzungcamlang commented on #1740
Can you give me your email, I will send you my source, sorry I can't publish.
Thanks.

[2020-03-28 02:46] kan-bayashi commented on #1740
Could you answer my questions?

[2020-03-28 02:56] dzungcamlang commented on #1740
oh, I'm sorry, I don't  using the same sentence multiple times, and I tried on Pytorch 1.4.0, and I don't try with different version.

[2020-03-28 02:59] kan-bayashi commented on #1740
I want you to check what is happened when using the same sentence multiple times as shown the above in order to find the reason of the problem.

[2020-03-28 03:17] dzungcamlang commented on #1740
Thanks your suggest, I found the problem is version Pytorch 1.4, when I reinstall pytorch 1.1 everything is ok.
Thanks so much.

[2020-03-28 03:17] #1740 closed

[2020-03-28 21:35] #1495 closed

[2020-03-29 11:03] #1507 closed

[2020-03-29 20:03] #1503 closed

[2020-03-30 00:32] Arafat4341 opened #1749 "Synthesis takes long time (~40 sec for English, much more for Japanese)"
I am trying to synthesis English and Japanese text using pre-trained models. I have made an API endpoint with a POST request containing Input text. The API is supposed to respond back to the client with synthesized audio as attachment.

Problem is synthesis takes a long time (~40 sec for English only). I also tried Japanese text synthesis. That takes even longer. Are there any solution to this?
Th

[2020-03-30 07:16] #1668 closed

[2020-03-30 09:33] david1125222 opened #1750 "Missing and unexpected key error in decoding"
Hi all,
I'm the beginner for ESpnet and I downloaded librispeech pretrained model and run the stage 5 (decoding) of run.sh. Then, the following error occurs. It seems that this issue is similar to  issue #154, but I'm not so sure about it.

[code]

[2020-03-30 11:23] chen1399 commented on #1384
You can do it in decode program by yourself.

[2020-03-30 12:32] #1672 closed

[2020-03-30 12:32] #1726 closed

[2020-03-30 12:33] sw005320 commented on #1672
It was fixed by @1741.
Could you test it?

[2020-03-30 15:05] sw005320 commented on #1750
We may have some compatibility issues.
Could you test it with v.0.6.0?

[2020-03-31 04:49] qmpzzpmq opened #1751 "built in ctc conflict with apex"
[code]

[2020-03-31 10:28] qo4on opened #1752 "What is the best english TTS available pretrained for today?"
Sorry for a noob question, what is the best (in terms of quality) english TTS available pretrained for today? Is it a following combination or there is something better?

1. Tacotron2 | char_train_no_dev_pytorch_train_pytorch_tacotron2.v3 | https://drive.google.com/open?id=1Jo06IbVlq79lMA5wM9OMuZ-ByH1eRPkC

2. Parallel WaveGAN | ljspeech.parallel_wavegan.v1.limit | https://drive.google.com/open?id

[2020-03-31 10:38] fly12357 opened #1753 "Some questions about the TTS attention alignment"
I trained the Tactron2 based on my own dataset; First, I use the default parameters in the CSMSC recipe. The alignment is:
![image](https://user-images.githubusercontent.com/40494145/78016906-0bd7ff80-737e-11ea-8cf2-355fd5036e2d.png)
Then I do the trim and set the reduction factor to 3, follows the steps mentioned in #1360 .
Then the alignment change to:
![image](https://user-images.githubusercont

[2020-03-31 12:37] sw005320 commented on #1751
Which version of pytorch are you using?
I'm expecting CTC loss must be normal precision to avoid over/underflow and it would be intended normal behavior.
Also, was it OK for warpctc?

[2020-03-31 12:45] sw005320 commented on #1752
Best in terms of speed or quality?
If you're talking about the quality, according to https://arxiv.org/pdf/1910.10909.pdf, Transformer.v3 is slightly better than Tacotron2.v3.
As far as I know, we do not test the MOS evaluation across our recent vocoders, but Parallel WaveGAN is quite good quality and very fast. So, Parallel WaveGAN is a reasonable option.

[2020-03-31 13:07] kan-bayashi commented on #1752
I will add information.
There are several conditions to decide the quality.

1. Input format: Char VS Phoneme
Char- and phoneme-based models are almost the same quality but the phoneme-based one is slightly better than the char-based.
From the paper Shinji mentioned, Transformer.v3 is slightly better than Taco2.v3 but I think this difference comes from the difference of the input format.

2. Text2

[2020-03-31 13:23] qmpzzpmq commented on #1751
1.0.1 pytorch
It is ok with warpctc.
So I think one of ctc function should be registed as float function in amp module, How do you think fix by this idea?
@sw005320

[2020-03-31 13:24] qo4on commented on #1752
What do you mean by `stableness of generation`? Quality or speed?

[2020-03-31 13:28] kan-bayashi commented on #1752
Text2Mel model sometimes causes the deletion of the words or fails to stop the generation, especially in the case of the very long input sentence. High stableness means less these kind of problems.

[2020-03-31 13:33] qo4on commented on #1752
Can you share links for these?

[2020-03-31 13:36] kan-bayashi commented on #1753
Sorry, this is a bug of the attention visualization.
Maybe the attention itself is diagonal.

[2020-03-31 13:38] kan-bayashi commented on #1749
It depends on the model type and the length of the inputs.
What kind of the model did you use?
Taco2, Transformer, or FastSpeech?
WaveNet, Parallel WaveGAN, or MelGAN?

[2020-03-31 13:40] kan-bayashi commented on #1752
Phoneme-based Text2Mel models:
https://github.com/espnet/espnet/blob/master/egs/ljspeech/tts1/RESULTS.md#v060-with-frequency-limit-transformer-and-tacotron-2

Compatible MoL-WaveNet:
https://drive.google.com/open?id=1es2HuKUeKVtEdq6YDtAsLNpqCy4fhIXr

[2020-03-31 14:53] qo4on commented on #1752
I found that low robustness of Taco 2 and Transformer can greatly reduce "quality". So, can you share a link to best FastSpeech model?

[2020-03-31 14:55] kan-bayashi commented on #1752
See.
https://github.com/espnet/espnet/blob/master/egs/ljspeech/tts1/RESULTS.md#v061-knowledge-distillation-fastspeech

For Tacotron2, it is better to try `use-attention-constraint: true`.

[2020-03-31 15:31] sw005320 commented on #1751
I see, but I'm bit confused because the loss (including CTC function) is used in an `amp` module
https://github.com/espnet/espnet/blob/95ecf5f15fe2577ec649363e9700cd5721885c02/espnet/asr/pytorch_backend/asr.py#L193-L198

[2020-03-31 16:01] qo4on commented on #1752
Sorry, I'm confused. There are three models there:
[code]
What is the difference?

[2020-03-31 16:03] kan-bayashi commented on #1752
Teacher model for knowledge distillation is different.

[2020-03-31 16:08] qo4on commented on #1752
I don't understand. How can they be tacotron2 and at fastspeech at the same time?

[2020-03-31 16:10] kan-bayashi commented on #1752
FastSpeech requires teacher model for the training.
Please read fastspeech paper for more detail.

[2020-03-31 16:59] qo4on commented on #1752
This WaveNet arhive contains `pth` and `json`. But your Colab example takes `pkl` and `yml`. Is there any example of using WaveNet vocoder with FastSpeech?

[2020-03-31 18:56] vjdtao opened #1754 "Mandarin Chinese TTS with the input text in Chinese characters"
I've reproduced the results in the CSMSC recipe. I'd like to use Chinese characters in the input text. For example, I randomly chose an utterance (009831) from CSMSC, and extracted 3 different annotations/labels as follows:
From CSMSC/ProsodyLabeling/000001-010000.txt,
`至于#1当初#1报考#1南科大#3，他也#1只是想#1逃避#1高考#3，随便#1考着#1玩玩#4。`
`zhi4 yu2 dang1 chu1 bao4 kao3 nan2 ke1 da4 ta1 ye2 zhi3 shi4 xiang3 tao2 bi4

[2020-03-31 23:27] #1715 closed

[2020-04-01 00:37] qmpzzpmq commented on #1751
the line from 193, 194, 197, 198 seems the standard code from apex example.

[2020-04-01 00:44] Arafat4341 commented on #1749
Transformer
Parallel WaveGAN

[2020-04-01 01:24] kan-bayashi commented on #1749
Transformer is the slowest model since the calculation cost O(len(input)^2).
If you want to speed up, try taco2 or FastSpeech.

[2020-04-01 01:24] #1749 closed

[2020-04-01 01:28] kan-bayashi commented on #1754
This is because the difference of text-frontend.
I use phone label provided by the CSMSC dataset, but that is slightly different from pypinyin results.
Actually I'm not familiar with Chinese, what is the difference between CSMSC phone label and pypinyin results.
One possible way is to train the model with the label created by prosody label + pypinyin.

[2020-04-01 01:30] kan-bayashi commented on #1752
See this part.
https://github.com/espnet/espnet/blob/95ecf5f15fe2577ec649363e9700cd5721885c02/utils/synth_wav.sh#L317-L329

[2020-04-01 04:40] Arafat4341 opened #1756 "ImportError: libopenjtalk.so.1.10: cannot open shared object file: No such file or directory"
Running script to synthesis with Japanese. Getting this error:

`Traceback (most recent call last):`
  `File "jp_setup_all.py", line 38, in <module>`
    `import pyopenjtalk`
  `File "/home/yasin/espnet/tools/pyopenjtalk/pyopenjtalk/__init__.py", line 20, in <module>`
    `from .openjtalk import OpenJTalk`
`ImportError: libopenjtalk.so.1.10: cannot open shared object file: No such file or director

[2020-04-01 04:45] kan-bayashi commented on #1756
openjtalk is not installed as the log said.
Make sure that you finished the installation.

See also:
https://github.com/espnet/espnet/tree/master/egs/jsut#tts1

[2020-04-01 04:55] r9y9 commented on #1756
The log clearly says what was going wrong there. Please do investigate issues yourself before asking any questions.

Also, if you have a problem about pyopenjtalk, please file an issue to https://github.com/r9y9/pyopenjtalk repository instead.

[2020-04-01 04:56] #1756 closed

[2020-04-01 07:44] unilight commented on #1754
Hi.
In https://github.com/espnet/espnet/blob/master/egs/vcc20/vc1_task2/local/clean_text_mandarin.py I have manually defined some rules to align the results from `pypinyin` with the label provided by the CSMSC dataset.
When using the rules to parse text in VCC2020 dataset, no warning appears.
If you use some other datasets or your own input text, errors might occur.

[2020-04-01 08:56] Arafat4341 commented on #1756
@kan-bayashi @r9y9  I installed openjtalk.

-- Configuring done
-- Generating done
-- Build files have been written to: /home/yasin/new_espnet/espnet-20200331T011351Z-001/espnet/tools/open_jtalk/src/build
[100%] Built target openjtalk
Install the project...
-- Install configuration: "Release"
-- Up-to-date: /usr/local/lib/libopenjtalk.so.1.10
-- Up-to-date: /usr/local/lib/libopenjtalk.so
-- Up-to-

[2020-04-01 09:03] #1727 closed

[2020-04-01 11:21] yash-s20 opened #1757 "Cannot load pretrained dec layers as term searched for is ' dec.' and not 'dec.'"
[code]

This is the train.log. I noticed the decoder layers it was looking for were named 'dec.*' but the term used is ' dec.'. This is because of this line in asr_train - https://github.com/espnet/espnet/blob/master/espnet/bin/asr_train.py#L187-L188

Simple fix - remove the space between att. and dec.

I hope my interpretation of the bug is right.

[2020-04-01 11:43] sw005320 commented on #1757
Oh, I see.
@b-flo and @hirofumi0810, could you check this?

[2020-04-01 12:07] b-flo commented on #1757
Hi,

I'm aware of the problem, sorry about that. It is fixed locally alongside transfer learning and other things but I didn't create a PR yet. I'll do that as soon as possible but I'm currently a bit overwhelmed by other works and the current situation.

[2020-04-01 13:20] ahmedalbahnasawy commented on #1285
Hi @sw005320 @kan-bayashi
i'm still facing the same problem
<img width="938" alt="Screen Shot 2020-03-29 at 4 49 28 PM" src="https://user-images.githubusercontent.com/50653875/78139632-dee92280-7439-11ea-90fc-fa69ce9c0000.png">
<img width="851" alt="Screen Shot 2020-04-01 at 4 46 37 PM" src="https://user-images.githubusercontent.com/50653875/78140079-7ea6b080-743a-11ea-9485-e24ab36deb0b.png">
i us

[2020-04-01 14:18] qo4on commented on #1752
Thank you.
As I see you are looking for `.mol.` in the name and if it found downloading a wavenet. I'm sorry, I'm not very familiar with bash. but I cant run wavenet. I downloaded model, changed paths:
[code]

But got an error in setup:
[code]

Do you know what I'm doing wrong?

By the way, you have a mistake in naming, if I understand correctly it should be a wavenet v2:
[code]

[2020-04-01 14:30] kan-bayashi commented on #1752
I'm not sure what you are doing. Parallel WaveGAN and WaveNet are different.
You cannot use the code for Parallel WaveGAN, which is shown in the colab notebook.
MoL-WaveNet is based on https://github.com/r9y9/wavenet_vocoder, as shown in README.
Please check it by yourself and see my post https://github.com/espnet/espnet/issues/1752#issuecomment-606973232.

We are not a support desk service. Pleas

[2020-04-01 14:34] #1752 closed

[2020-04-01 15:22] sw005320 commented on #1285
This perplexity range looks normal. The loss is also gradually decreased. It is well trained I believe. If you have some doubts, you can just use some n-gram toolkit and compare it with the n-garm perplexity.

[2020-04-01 17:59] yash-s20 commented on #1757
Hi, thanks for your reply. Yep it's a small error and not of priority. Except the decoding layer loading fails with no error, just logs, and so

[2020-04-01 17:59] #1757 closed

[2020-04-02 02:02] Peidong-Wang commented on #1425
Nice job on #1372 @kamo-naoyuki ! I personally like a feature extracting features from wav files on the fly (on GPU) to achieve "real" end-to-end processing. What is your opinion?

[2020-04-02 10:46] ahmedalbahnasawy commented on #1285
[pp.txt](https://github.com/espnet/espnet/files/4420438/pp.txt)
sounds good. The best perplexity was at epoch 48 out of 50. I 'm thinking to resume training up to 100 epochs. is it good ?

[2020-04-02 10:53] sw005320 commented on #1285
more matched-domain data is always helpful.
I think you may not have to train more epochs. It would be already converged.

[2020-04-02 11:13] ahmedalbahnasawy commented on #1285
currently I use the acoustic text to train the LM. If i want to re train my LM by another data from specific domain for example :health or science. Do you think i can customize my ASR model in this case ? Note : I have no acoustic data for those types of domain

[2020-04-02 11:55] sw005320 commented on #1285
A straightforward way is to just train LM with the specific data. There are several studies to transfer the ASR model itself to this target domain only with text data, but it is in a research-level.

[2020-04-02 14:05] kamo-naoyuki commented on #1425
@Peidong-Wang ESPnet2 adopts feature extraction in the model by default and also supports the training using the prepared features both.

[2020-04-02 15:21] ahmedalbahnasawy commented on #1285
@sw005320
Thank you so much

[2020-04-02 16:29] qo4on opened #1759 "FastSpeech robustness"
Your [FastSpeech model](https://colab.research.google.com/github/espnet/notebook/blob/master/tts_realtime_demo.ipynb) fails to pass [robustness test](https://speechresearch.github.io/fastspeech/) which official microsoft model does.
[code]
Why does this happen?

[2020-04-03 01:54] Arafat4341 commented on #1727
@kan-bayashi I tried colab notebook Its works fine!
I tried to setup espnet in my local machine the same approach like colab notebook. I got it right for English Synthesis.
But for Japanese Synthesis, I am getting `ImportError: libopenjtalk.so.1.10: cannot open shared object file: No such file or directory` .
Though openjtalk is installed.

I noticed in the colab notebook in "Install Japanese depe

[2020-04-03 02:59] Arafat4341 commented on #1727
Solved the problem!

[2020-04-03 03:00] Arafat4341 commented on #1756
Solved the problem!
I just had to copy *.so* files from openjtalk to usr/lib/

[2020-04-03 09:19] fly12357 commented on #1753
Thanks for your reply. I'll check the bug of the attention visualization.
BTW, Is there any length limitation of the input tokens in Tactron2 model?

[2020-04-03 13:19] kan-bayashi commented on #1753
I think this is also related to the bug of attention plot.
I made patch to fix the plot #1761.
Please check it.

[2020-04-03 13:24] kan-bayashi commented on #1753
The patch #1761 does not fix the issue of `reduction_factor`.
We need to cut the decoder index according to the reduction factor but currently it is not performed.
I will make another PR to fix it.

[2020-04-03 14:04] kan-bayashi commented on #1759
Could you tell me the detail? How failed?
I think the text frontend did not work well.

[2020-04-03 14:52] qo4on commented on #1759
Open your [notebook](https://colab.research.google.com/github/espnet/notebook/blob/master/tts_realtime_demo.ipynb). Run english FastSpeech, Parallel WaveGAN, Setup.
Place this in Synthesis:
[code]
Listen the result and compare it with [official](https://speechresearch.github.io/fastspeech/). It is totally wrong.

[2020-04-03 14:58] kan-bayashi commented on #1759
As I mentioned above, this is caused by text frontend.
When we use `H T T P 0 X X, H T T P 1 X X, H T T P 2 X X, H T T P 3 X X. ` as the input, it works correctly.

[2020-04-03 15:00] #1759 closed

[2020-04-03 15:07] qo4on commented on #1759
It is clearly written, they use in robustness text:
[code]
not
[code]
And your model fails to pass it.

[2020-04-03 15:16] kan-bayashi commented on #1759
I know. The text frontend part is different.
The reason why the generation is failed is our used g2p module could not parse the input sentence since if we use modified text, the generation does well.
Therefore, the reason of the failure is the text frontend, not fastspeech itself.

[2020-04-03 15:17] kan-bayashi commented on #1759
What do you want to know? I could not understand your intension.

[2020-04-03 15:21] JaejinCho commented on #513
@kan-bayashi Was there any kind of comparison done between AttForwardTA and any other attention regarding TTS?

[2020-04-03 15:33] qo4on commented on #1759
Ok, it's your text frontend fault, not a model. All I want is to let you know about this, so you'll be able to fix this in your later models, if you want to, of course.
Thanks.

[2020-04-03 15:39] tu1258 opened #1762 "How does wordpiece model decode?"
Sorry if this is a dumb question.

As far as I know, the output layer size is the same as the number of output tokens. Take grapheme model for example, the tokens are a-z and space. Then the output layer weight matrix would be (26+1)*n (n is the output of the previous layer). After the softmax activation, we choose the token with highest value (assume greedy decoding).

If we use 10k wordpiece, th

[2020-04-04 04:29] xingchensong commented on #1762
Also confused about it.

[2020-04-04 06:34] fly12357 commented on #1753
Thanks for your reply. I'll update my code and check the result.

[2020-04-04 08:53] EsmaeilFarhang commented on #1657
@kan-bayashi
thanks.
I've used normalized text form the main dataset.
this is all text files.
[metadata.zip](https://github.com/espnet/espnet/files/4430996/metadata.zip)

[2020-04-04 11:01] #1516 closed

[2020-04-04 12:55] kan-bayashi commented on #1657
Not directly related to your problem, #1761 fixed attention plot bug.
Please check it.
About the text, did you try with lower-case or upper-case inputs?

[2020-04-04 13:23] EsmaeilFarhang commented on #1657
I'm converting all characters to lowercase and map some characters to uppercase as below:
'''
ce_dict = {'à':'A', 'â':'B', 'æ':'D', 'ç':'C', 'è':'E', 'é':'F', 'ê':'G','ë':'H', 'î':'I', 'ï':'J', 'ô':'O', 'ù':'U', 'û':'V', 'œ':'W'}
'''
this is France language and with using this mapping, I successfully trained transformer_v1 with another dataset.

[2020-04-04 15:51] xinqipony opened #1763 "support Minimum Bayes Risk Training for rnnt or las asr training?"
does espnet support it?

[2020-04-04 17:19] ahmedalbahnasawy commented on #964
I'm running RNN-T experiment (phoneme unit)
char_list=['<blank>', '<unk>', '<space>', 'AA', 'AE', 'AH', 'AO', 'AW', 'AX', 'AY', 'B', 'CH', 'D', 'DH', 'EH', 'EL', 'ER', 'EY', 'F', 'G', 'HH', 'IH', 'IY', 'JH', 'K', 'L', 'M', 'N', 'NG', 'OW', 'OY', 'P', 'R', 'S', 'SH', 'T', 'TH', 'UH', 'UW', 'V', 'W', 'Y', 'Z', 'ZH', '<eos>']
I created my own data2json in python to create the train and test json file

[2020-04-04 20:27] b-flo commented on #1763
Hi,

No, I suppose you're referring to: https://arxiv.org/abs/1911.12487
There are no plans to add mbr training right now, I'll look into it when the current works on transducer are finished. Any help is welcomed though!

[2020-04-05 07:55] david1125222 commented on #1750
Thank you for your reply. I have test it on  v.0.6.0, but the same issue still occurs. By the way, I read the RESULTS.md file and the pretained model (pytorch Transformer, accum grad 8, single GPU) I use is based on v.0.3.1. However, run.sh in v.0.3.1 doesn't import the training and decoding config files, which are listed in the  RESULTS.md file. So, should I try to  test it with v.0.3.1 or there

[2020-04-05 07:59] yash-s20 opened #1768 ""WARNING: Target sequences include empty token id (batch 2 -> 0)" and then error"
Hi! Three of my experiments with different datasets and configurations have all ended with the same error. The last 200 lines of a train.log are here attached -[train.log](https://github.com/espnet/espnet/files/4433137/train.log) (you can see all characters here are in devanagari, but other expts have english characters too).
It's seems that the batch is empty? What could cause this problem?
Any i

[2020-04-05 08:44] cookingbear opened #1770 "rnn transducer beam search decoding"
I saw your rnnt beam search decoding strategy in recognize_beam() of decoders_transducer.py and wonder if it is not a final or completed version because I did not see the merge procedure as below:
<img width="601" alt="image" src="https://user-images.githubusercontent.com/6813944/78470494-9fce1080-775c-11ea-858e-e6f10223ad8e.png">

[2020-04-05 09:23] Strong-Gavin opened #1771 "Chinese ASR and TTS"
Does the project support Chinese ASR and TTS? Can I directly use the model without training. Is there any document about Chinese AST and TTS. Thank you

[2020-04-05 09:31] b-flo commented on #1770
Hi,

It is intentional. Prefix search was removed based on https://arxiv.org/abs/1303.5778 and my experiments. The performance gain is omittable while decoding procedure is considerably faster.

I won't add it for the default version but it's an option for another search algorithm for transducer which is not available yet.

[2020-04-05 09:58] b-flo commented on #1771
Hi,

If you're asking for ASR or TTS recipes for chinese corpora, there are several that I know of, such as [Aishell (ASR)](https://github.com/espnet/espnet/tree/master/egs/aishell/asr1), [HKUST (ASR)](https://github.com/espnet/espnet/tree/master/egs/hkust/asr1) and [CSMSC (TTS)](https://github.com/espnet/espnet/tree/master/egs/csmsc/tts1)

Yes, the [main README](https://github.com/espnet/espnet/b

[2020-04-05 13:44] kamo-naoyuki commented on #1636
@kan-bayashi What do you think if we remove this test?

Possibly there seems to be some limitations to access google drive per day(?), so it's not appropriate to test in the main repo's ci, anyway.
How about creating another repository to manage our pre-trained model and test there?

[2020-04-05 14:04] Strong-Gavin commented on #1771
sorry,i can't see pretrainned models  in both ASR and TTS for chinese and demos for  chinese .can you point at where they are.

[2020-04-05 14:24] b-flo commented on #1771
No problem!

Aishell (ASR): [models informations and download link](https://github.com/espnet/espnet/blob/master/egs/aishell/asr1/RESULTS.md#transformer-result-default-transformer-with-initial-learning-rate--10-and-epochs--50)
HKUST (ASR) : [model informations and download link](https://github.com/espnet/espnet/blob/master/egs/hkust/asr1/RESULTS.md#transformer-only-20-epochs)
CSMSC (TTS): [differe

[2020-04-05 14:54] Strong-Gavin commented on #1771
but the asr demo list some available pretrained models not about chinese,how can i use pre-trained models for chinese.
![demo](https://user-images.githubusercontent.com/17334234/78501870-6ca57480-7790-11ea-9e96-b5e402a9930d.png)

[2020-04-05 15:33] b-flo commented on #1771
The pre-trained ASR models I linked can be used with `recog_wav.sh`. You need to pass `recog_model`, `cmvn` and `lang_model` (if available) from the downloaded archive.

[2020-04-05 15:57] Strong-Gavin commented on #1771
So can't this  `recog_wav.sh`  script be used directly for Chinese ASR？And how should I use the Chinese ASR pre training model?

[2020-04-05 16:13] b-flo commented on #1771
I think you should take a look at [recog_wav.sh](https://github.com/espnet/espnet/blob/master/egs/tedlium2/asr1/local/recog_wav.sh). As I said, you can use the script and specify the pre-trained models I mentioned.

[2020-04-05 16:23] Strong-Gavin commented on #1771
Well. I'll try. Thank you anyway

[2020-04-05 17:46] EsmaeilFarhang commented on #534
thank you,
I'm trained fastspeech.v1 from egs/jsut for my data but only the first line of each paragraph has good sound quality. And the continuation of the paragraph is not qualitative.
(training with char base trans_type)
Which one config do you suggest?
Does the fastspeech.v4( Knowledge distillation) model supports the transformer as a teacher mode?

[2020-04-05 19:21] b-flo commented on #964
You can use phonemes instead of characters, `data2json.sh` has a `--trans_type` option to specify "char" or "phn".

If validation loss is not correct, an error is thrown. Not sure what was your problem though.

[2020-04-05 23:24] kan-bayashi commented on #1636
I agree. It is no problem.

[2020-04-06 00:04] Peidong-Wang commented on #1425
Thanks. I would also like a MWER training objective function. What do you think of it?

[2020-04-06 00:18] kan-bayashi commented on #534
How long is your input sentence? For better quality, it is better to crop your paragraph into each sentence in decoding. And phoneme is better in the case of Japanese.

Yes. Please follow the procedure in egs/ljspeech/README.md.

[2020-04-06 00:24] kan-bayashi commented on #1657
I see.
Why don’t you use large —guided-attn-loss-lambda? Say, 10 or 100.

[2020-04-06 01:31] Ella77 commented on #1696
experiment results

-> for transformer, alignment gets better by combining data.

-> alignment gets little better when using attention constraint

-> I tried hard with transformer to align well on any long sentence but tacotron2 v3 works for any long sentence!

[2020-04-06 02:19] kamo-naoyuki commented on #1425
@Peidong-Wang Please throw a feature request in another thread.
ESPnet2 is just a refactoring project and any essential features shouldn't be discussed in espnet2 if it can be also in espnet1.

I haven't used something like MWER for att based ASR personally and I don't know whether it is successful. Do you have some results?

[2020-04-06 03:05] vjdtao commented on #1754
@kan-bayashi @unilight Thanks for your reply and helpful suggestions. The CSMSC phone labels look like a "finer version" of the pinyin labels that can be obtained by pypinyin. I guess the solution is to find the mapping between the CSMSC phone and pinyin labels.

[2020-04-06 03:05] #1754 closed

[2020-04-06 03:18] cookingbear commented on #1770
sorry I still did not understand that if the merge procedure did not exist, "hyps" may contains candidates with same "yseq", how to explain this situation?

[2020-04-06 05:51] EsmaeilFarhang commented on #534
thanks

[2020-04-06 06:22] b-flo commented on #1770
Prefix search was used to avoid searching among all labels, similarly to CTC, by looking at prefixes of hypotheses. However, 1) the number of prefixes to expand will grows exponentially with the input sequence length, and 2) it does not necessary insure that the search space won't be redundant as no pruning is done.

While we cannot guarantee duplicates won't appear, in the end, most probable hypo

[2020-04-06 06:24] EsmaeilFarhang opened #1773 "Exception occurs in fastspeech tts when set reduction-factor=1"
I try to use knowledge_dist fast speech(fastspeech.v4  and use transformer as a teacher mode), but in below config file when setting `reduction-factor=1` this exception occurs:
config_file:
[code]
Exception;
[code]
I check the scripts can run with `reduction-factor=3`

[2020-04-06 06:26] kan-bayashi commented on #1773
This is because your teacher model is trained with `reduction-factor=3`.
You need to use the same `reduction-factor` for both teacher and fastspeech.

[2020-04-06 06:26] #1773 closed

[2020-04-06 06:50] Arafat4341 opened #1774 "ASR failure: no segments file exists"
I am trying recognize speech.
Job fails. Getting this:

`steps/make_fbank_pitch.sh: [info]: no segments file exists: assuming wav.scp indexed by utterance.`
`run.pl: job failed, log is in decode/example/log/make_fbank_pitch_data.1.log`

I tried to test `librispeech.transformer.v1` and `tedlium2.rnn.v2`. Both case I get this error.
Why is this happening?

[2020-04-06 07:22] #1636 closed

[2020-04-06 07:25] b-flo commented on #1774
Hi,

Could you share the logs in `decode/example/log/make_fbank_pitch_data.1.log` please?

[2020-04-06 07:26] #1770 closed

[2020-04-06 07:27] #1771 closed

[2020-04-06 07:51] ShigekiKarita commented on #1763
FYI: Our beam search implementation is already `torch.nn.Module` and uses `forward` to return hypotheses. I designed it for such training but it needs a little fix to backprop through this module. I expect the changes are not so large.
- https://github.com/espnet/espnet/blob/v.0.7.0/espnet/nets/batch_beam_search.py

[2020-04-06 08:09] ShigekiKarita commented on #1762
It is not magic. For exmaple, see the largest model, librispeech

- The output size is 5000
https://github.com/espnet/espnet/blob/efaf2106cfe976ec4b90de224740518c2416cdb7/egs/librispeech/asr1/run.sh#L55
- The final layer size is 512 (maybe smaller than you expected)
https://github.com/espnet/espnet/blob/efaf2106cfe976ec4b90de224740518c2416cdb7/egs/librispeech/asr1/conf/tuning/train_pytorch_transfo

[2020-04-06 08:19] ShigekiKarita commented on #1751
Cast builtin ctc to float32 explicitly. I did the trick for warp ctc here because it also did not support float16/64. Maybe you can simply erase this if statement to apply all.
https://github.com/espnet/espnet/blob/a97a270aa581d7788bf4d71d108a1e5bd3d23f7d/espnet/nets/pytorch_backend/ctc.py#L90-L92

[2020-04-06 08:24] ShigekiKarita commented on #1751
Also we should update this test to include the built-in ctc mode in float16 https://github.com/espnet/espnet/blob/master/test/test_train_dtype.py

[2020-04-06 08:30] kan-bayashi commented on #1696
Thank you for sharing your experiments!
That is very useful.

So, your conclusion is that for long sentences, tacotron2 is better than transformer?

[2020-04-06 08:37] kan-bayashi commented on #1768
As the log said, it seems that your data includes empty target.
Please check your `data/*/text` does not contain empty line.

[2020-04-06 08:38] qmpzzpmq commented on #1751
I register the loss_fn as a float function in amp module, But your advice seems more efficient, I will use that implement.

[2020-04-06 08:40] ShigekiKarita commented on #1750
The name was changed in v.0.4.0 https://github.com/espnet/espnet/commit/21d70286c354c66c0350e65dc098d2ee236faccc#diff-bffb1396f038b317b2b64dd96e6d3563

A possible fix is renaming the state dict and upload it to the URL. Or we can rename the key on the fly like what we have done for positional encoding before https://github.com/espnet/espnet/blob/a97a270aa581d7788bf4d71d108a1e5bd3d23f7d/espnet/nets

[2020-04-06 08:48] ShigekiKarita commented on #1751
In addition to the efficiency, I prefer the cast because pytorch recently merged `amp` module in master, and its API has changed from NVIDIA APEX. When you find it works, can you send us PR? That would be super helpful for us.

[2020-04-06 08:59] Arafat4341 commented on #1774
Sure. Here it is:

`# paste-feats --length-tolerance=2 "ark:compute-fbank-feats  --write-utt2dur=ark,t:decode/example/log/utt2dur.1    --verbose=2 --config=conf/fbank.conf scp,p:decode/example/log/wav_data.1.scp ark:- |" "ark,s,cs:compute-kaldi-pitch-feats --verbose=2       --config=conf/pitch.conf scp,p:decode/example/log/wav_data.1.scp ark:- |     process-kaldi-pitch-feats  ark:- ark:- |" ark:-

[2020-04-06 09:05] b-flo commented on #1774
The issue is described here

[code]

[2020-04-06 09:06] kan-bayashi commented on #1754
@unilight I updated text frontend in the notebook by using your code.
Thank you so much!

[2020-04-06 09:10] ahmedalbahnasawy commented on #964
@b-flo when i make --trans_type=phn all the text replaced to 1. should i convert all the text to phonemes first then run it.  Is my dictionary looks correct ?
WARNING: loss (=nan) is not correct
WARNING: grad norm is nan. Do not update model.
ERROR : KeyError: 'validation/main/loss'

[2020-04-06 09:15] qmpzzpmq commented on #1751
Yes, it works, I can make a PR for it. but you might find a more smart way to implement it as well.

[2020-04-06 09:36] ShigekiKarita commented on #1751
Thanks!

2020年4月6日(月) 18:15 Charlie_Tang <notifications@github.com>:

[2020-04-06 09:37] qmpzzpmq commented on #1751
@ShigekiKarita But one more thing, my implement is based amp from but apex not pytorch. I have to make it clear

[2020-04-06 10:05] ShigekiKarita commented on #1751
Oh I see. I will do that with the if statement fix.

2020年4月6日(月) 18:37 Charlie_Tang <notifications@github.com>:

[2020-04-07 01:14] Arafat4341 commented on #1774
@b-flo Here, option `--allow-downsample=true` is told to be added.
But in recog_wav.sh, no such option is allowed.

[2020-04-07 01:35] #1751 closed

[2020-04-07 01:36] #1750 closed

[2020-04-07 03:28] JaejinCho commented on #1496
@kan-bayashi Do you know by any chance the parameter values to extract fbank in Kaldi that corresponds to fbank extracted by librosa?

[2020-04-07 05:26] Arafat4341 commented on #1774
Is the input audio causing the problem? @b-flo

[2020-04-07 06:24] kamo-naoyuki commented on #1774
The error came from `compute-kaldi-pitch-feats` command because your input is 22050hz, but the configuration for pitch, and also fbank, is 16000hz.
You could understand just by reading the message more.

`--allow-downsample=true` is an optional argument for `compute-kaldi-pitch-feats` and you can also give it from the configuration file: conf/fbank.conf, conf/pitch.conf

Or, you can also solve jus

[2020-04-07 07:43] qmeeus opened #1780 "Probably no dropout applied to the encoder in the RNN encoder/decoder ASR"
Hi,

When trying to apply dropout on the rnn encoder, I get this warning:
[code]
Indeed, [after a quick check in the code](https://github.com/espnet/espnet/blob/master/espnet/nets/pytorch_backend/rnn/encoders.py#L35):
[code]

[2020-04-07 08:10] b-flo commented on #1780
Hi,

Thanks for the report. We are aware of the problem: dropout won't be applied if `use_projection=True`, as RNNP is a stack of 1-layer torch.nn.LSTM and dropout is disabled if `num_layers=1`.

@sw005320 It was already reported in multiple discussions but I'm not sure why we didn't fix that? There may have been a reason.

[2020-04-07 09:56] Strong-Gavin commented on #1771
I tried to test Chinese TTS with scripts, but I didn't get the expected results. What is the format of Chinese Pinyin input?

[2020-04-07 10:04] MohammedAmmar2 commented on #621
Running setup.py install for mecab-python3 ... error
    ERROR: Command errored out with exit status 1:
     command: 'C:\Users\My PC\Anaconda3\python.exe' -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\MYPC~1\\AppData\\Local\\Temp\\pip-install-jfc1zfzx\\mecab-python3\\setup.py'"'"'; __file__='"'"'C:\\Users\\MYPC~1\\AppData\\Local\\Temp\\pip-install-jfc1zfzx\\mecab-python3\

[2020-04-07 11:09] Strong-Gavin opened #1781 "Chinese Pinyin format"
I tried to test Chinese TTS with scripts, but I didn't get the expected results. What is the format of Chinese Pinyin input?

[2020-04-07 11:11] qmeeus commented on #1780
I wrote a fix, I will do a merge request after testing

[2020-04-07 11:25] kan-bayashi commented on #1781
See https://github.com/espnet/espnet/issues/1754

[2020-04-07 11:25] #1781 closed

[2020-04-07 11:28] tu1258 commented on #1762
So we don't need to increase decoding layer, we just use a linear projection to project from (n_hidden) to (# of output tokens)? Correct me if I am wrong, thanks!

[2020-04-07 11:35] sw005320 commented on #1780
It should be fixed...

That is really helpful.
It would be great if you make a PR about it.

[2020-04-07 11:59] Strong-Gavin commented on #1781
How do you use Chinese Pinyin speech synthesis？

[2020-04-07 12:04] kan-bayashi commented on #1781
Try https://colab.research.google.com/github/espnet/notebook/blob/master/tts_realtime_demo.ipynb

[2020-04-07 12:10] qmeeus commented on #1780
Here you go
https://github.com/espnet/espnet/pull/1784

[2020-04-07 12:24] qmeeus commented on #1780
Before closing this, is it intentional to use the same dropout rate for the attention layer and the encoder? If not, I suggest adding a dropout rate specific to the attention layer and renaming the argument "dropout_rate" to "encoder_dropout" or something like that

[2020-04-07 12:28] sw005320 commented on #1780
I think this is a good idea in general. Personally, I did not have good success in introducing dropout anyway and making dropout related development items in a lower priority due to that. But I think this function is quite reasonable.

[2020-04-07 12:32] qmeeus commented on #1780
My model overfits on the encoder side (CTC) but if I'm using dropout in the attention, the decoder is not able to attend to the right parts of the input anymore. I will look into it

[2020-04-07 12:49] Strong-Gavin commented on #1781
I have tried.But I can't get the result.And I need to produce wav file,so I want to use synth_wav.sh script to synthesis chinese pinyin,but i cant't know the chinese pinyin format in the txt file for recognize.I tried "ni2 hao3"but not done well

[2020-04-07 12:52] kan-bayashi commented on #1781
Why you cannot get results?
You can download the wav file from the notebook.
And you can make the script to save generated wav by copy & paste of the code in notebook.

[2020-04-07 12:55] Strong-Gavin commented on #1781
I use it in vmvare workstation

[2020-04-07 12:59] kan-bayashi commented on #1781
Sorry, I do not understand your meaning.
Why you did not use colab?

Anyway, you can follow the manner in `frontend` function in the notebook to get the pinyin format text.

[2020-04-07 13:01] Strong-Gavin commented on #1781
I want know

Now I wonder if I can use the synth_wav.sh script for Chinese speech synthesis instead of tts_realtime_demo. Thank you

[2020-04-07 13:08] Strong-Gavin commented on #1781
I have tried use the chinese pin result produced by frontend function.But I cant't get the correct voice.So I don't know which format of pinyin should be used for speech synthesis。

[2020-04-07 13:13] Strong-Gavin commented on #1781
What is the sample file data for Chinese speech synthesis, like "ni2 hao3" or "164 73" or other formats?

[2020-04-07 13:19] kan-bayashi commented on #1781
I could not understand the reason why you did not use the notebook's code...

See the below example.
You can use `n i3 h ao3` as input text for `synth_wav.sh`.

[code]

[2020-04-07 13:30] Strong-Gavin commented on #1781
yes.I have tried "n i3 h ao3".But I can't recognize the mean from the result wav file.I will put the detail steps and logs later

[2020-04-07 13:40] kan-bayashi commented on #1781
`synth_wav.sh` requires to set various parameters, so I recommend to use notebook code.
Here is the example.
[code]

[2020-04-07 14:03] Strong-Gavin commented on #1781
![QQ截图20200407215546](https://user-images.githubusercontent.com/17334234/78678364-6c85b000-791b-11ea-8ee5-80c79ee2e6d4.png)
This is I use synth_wav.sh result。If I use notebook code,how can I produce result wav in local disk

[2020-04-07 14:06] kan-bayashi commented on #1781
See the above example.
To save wav file in colab, please google it by yourself.

[2020-04-07 14:20] #1644 closed

[2020-04-07 14:27] kan-bayashi commented on #513
@JaejinCho I compared `AttForwardTA` (`tacotron.v2`) with Locaiton-sensitive attention (`tacotron.v3`). You can find some comparison in our paper. https://arxiv.org/pdf/1910.10909.pdf

[2020-04-07 14:28] kan-bayashi commented on #1496
@JaejinCho Sorry, I'm not familiar with kaldi's implementation. I have no idea about it.

[2020-04-07 14:50] kamo-naoyuki commented on #1496
Impossible. There are some fashions  for mel-filter bank and Kaldi's filter is different from librosa, but torchaudio supports it, https://pytorch.org/audio/compliance.kaldi.html#functions

The implementation looks same as Kaldi as I read.

[2020-04-07 14:55] JaejinCho commented on #1496
I see. Thank you all for the answers.

[2020-04-07 14:59] JaejinCho commented on #513
Interesting. Thank you, Tomoki!

On Tue, Apr 7, 2020 at 10:27 AM Tomoki Hayashi <notifications@github.com>
wrote:

[2020-04-07 15:48] Strong-Gavin opened #1786 "tts and asr"
I use the result wav  produce by synth_wav.sh to recognize txt by recog_wav.sh,but it will threw error info as below.how shoud i do?
![image](https://user-images.githubusercontent.com/17334234/78690618-4287ba00-792a-11ea-9fae-8d94ee9d803b.png)

[2020-04-07 15:52] kan-bayashi commented on #1786
See log. Maybe sampling rate is different.

[2020-04-07 15:52] #1786 closed

[2020-04-07 15:58] #1774 closed

[2020-04-07 18:51] kamo-naoyuki opened #1787 "TIMIT results?"
I'd like to use timit recipe for sanity check now, but the result seems not to exist.

https://github.com/espnet/espnet/tree/master/egs/timit/asr1

Anyone has?

[2020-04-07 18:53] sw005320 commented on #1787
I haven't tested it.
@sknadig, do you have some results?
Could you make a PR to put your results like the other recipe?

[2020-04-08 07:49] anushaprakash90 opened #1790 "Speaker embedding in TTS"
Hi,

Do you have a TTS recipe that includes speaker embedding in the **Tacotron2** framework? There is no parameter about speaker information in the config files, although speaker_embedding is a variable in the scripts that are called for training.

Is speaker embedding automatically considered from information in the utt2spk and spk2utt files in a multi-speaker scenario? Or do we need to explicit

[2020-04-08 09:41] kan-bayashi commented on #1790
Yes, we have. This is the config example.
https://github.com/espnet/espnet/blob/master/egs/libritts/tts1/conf/train_pytorch_tacotron2%2Bspkemb.yaml

In our multi-speaker model, we use pretrained x-vector as speaker embeddings.
The following part is x-vector extraction.
https://github.com/espnet/espnet/blob/1fce0db473812265fcbdb874f847125366f91d51/egs/libritts/tts1/run.sh#L143-L159
During the stage

[2020-04-08 09:42] yash-s20 commented on #1768
Thanks. I had added the flag "allow-one-column" and thought everything would work fine with empty utterances. What these experiments had in common was a small batch size, and 2 continuous utterances were empty. Thanks. Resolved.

[2020-04-08 09:42] #1768 closed

[2020-04-08 14:37] r9y9 commented on #1754
FYI, I just noticed that kakaobrain released a new g2p package for Mandarin Chinese: https://github.com/kakaobrain/g2pM. I'm not familir with Mandarin, but the [result](https://github.com/kakaobrain/g2pM#evaluation-result) looks promising and worth considering to replace pypinyin to it. That would solve some of pronunciation issues.

[2020-04-08 22:44] argideritzalpea opened #1792 "Multiple decoders"
Hello - I was wondering if there were any recipes / options for single encoder-to-multi-decoder models for espnet to jointly learn for two outputs (transcripts) from a single input audio source?

Thanks

[2020-04-09 00:13] xingchensong commented on #1792
As far as I know, `Hybrid CTC/attention`  can be seen as a simplified version of single-encoder-multi-decoder model to handle your different outputs?

[2020-04-09 01:00] sw005320 commented on #1792
We have several studies including preparing multiple decoders (https://arxiv.org/abs/1804.08050 this is not merged to the master branch but it's based on espnet), multispeaker ASR (https://github.com/espnet/espnet/tree/master/egs/wsj_mix/asr1), and so on.
And yes, Hybrid CTC/attention can potentially handle different outputs (but there are a lot of assumptions that both outputs are the same).

Pro

[2020-04-09 07:13] kamo-naoyuki opened #1795 "Development plan for v0.10.0"
Feel free to fill.

## General

- [ ] More smart installation #1559
- [x] [ESPnet Model Zoo](https://github.com/espnet/espnet_model_zoo) ~~More smart eco-system #2168~~
    - The procedures from downloading to inference are too complicated for new.
    - I think the tar file should include the repository itself in that time.
    - Using zenodo? It seems better  for such usage.
- [x] Support pytorc

[2020-04-09 07:36] kamo-naoyuki commented on #1795
I'd like to make sure the branching rule because our rule was collapsed during development of espnet2.

- If a new feature will be implemented => next version
- Bug fix, refactoring, or new recipe without any drastic changing => Merge into Master

The reason why we need to prepare a development branch is to avoid merging the bug/issue related to new features into master. Such issues from early dev

[2020-04-09 08:03] kamo-naoyuki commented on #1603
Now the cleaners was placed in espnet_tts_frontend and it's used now in master #1794

[2020-04-09 08:03] #1603 closed

[2020-04-09 08:20] kamo-naoyuki commented on #1795
I prepared `develop` branch instead of `v.0.8.0` because it's meaningless to switch development branch.

[2020-04-09 14:18] sknadig commented on #1787
Yes, I have the results but not the trained models. I'll make a PR with the results.

[2020-04-09 14:37] #1780 closed

[2020-04-09 16:31] argideritzalpea opened #1796 "ESPnet2 results"
I am hoping to run models for CommonVoice data using ESPnet2 without Chainer or Kaldi dependencies.

I noticed Kabyle model run results posted at the following location: https://github.com/espnet/espnet/blob/master/egs2/commonvoice/asr1/RESULTS.md
From my interpretation, it appears that the test WER for the kabyle data set is 37.5. Is this correct?

However, I don't see any configurations logged t

[2020-04-09 16:50] kamo-naoyuki commented on #1796
The configuration files is placed here? https://github.com/espnet/espnet/tree/master/egs2/commonvoice/asr1/conf

Yes. The first priority is just moving recipes. We may prepare the second round to retune recipes.
If you'll tune for now, it would be helpful.

[2020-04-09 19:32] qo4on opened #1798 "WaveFlow vocoder"
Recently Baidu [released](https://github.com/PaddlePaddle/Parakeet#pre-trained-models-and-audio-samples) mel2wav pretrained model which is close to WaveNet in terms of quality but much faster. Its config:

[code]

I have a few questions:
1. Can this model work with your `phn_train_no_dev_pytorch_train_tacotron2.v3_fastspeech.v4.single`?
2. Are you going to train WaveFlow?

I [managed to run](https

[2020-04-10 01:33] jubang0219 opened #1799 "How does multi-head attention settings in train_rnn.yaml"
Hi there,

I want to train multi-head attention in RNN architecture (not transformer architecture).
I would like to ask about the settings for using this.

In the "espnet/egs/wsj/asr1/conf/tuning/train_rnn.yaml", I found a config-file to use the multi-head attention with "atype: location" and "aheads: 4" settings.

_# attention related
atype: location
adim: 320
awin: 5
aheads: 4
aconv-chans: 10
ac

[2020-04-10 01:51] GreenGarnets commented on #1708
I had the same problem as this. This problem is related to sampleRate. The sampleRate should be adjusted to 22040 or 24000 to relearn and output the results.

[2020-04-10 02:10] sw005320 commented on #1799
I think it should be `multi_head_add` but @kan-bayashi, could you clarify it?
It's actually confusing and some configs use `aheads` for non-multi-head attention modes.
It should be fixed and it would also be better to clarify it in the help message or documentation???

[2020-04-10 05:16] Cescfangs opened #1801 "espnet2 large dataset memory issue"
I'm trying 45k hours ASR data(fbank created by kaldi) under espnet2, at stage 10 loading `feats.scp` , `text` and `feats_shape` will run out of memory(256G, 8GPU), is there a way for multiple jobs sharing training resource to reduce memory usage?

[2020-04-10 05:17] anushaprakash90 commented on #1790
Thanks for your reply @kan-bayashi . I will look into the libriTTS recipe.

Just to confirm, the tts1 recipe of ljspeech does not include speaker embedding right?

[2020-04-10 05:25] kamo-naoyuki commented on #1801
How many number of lines in each file?

[2020-04-10 05:33] kamo-naoyuki commented on #1801
Where did you got memory error? Please show log.

[2020-04-10 06:29] Arafat4341 commented on #1774
`ERROR (compute-fbank-feats[5.5.675~1-0185c]:Read():wave-reader.cc:190) WaveData: can read only PCM data, format id in file is: 3`

Thanks for responding!
I am getting this now. Can you tell whats wrong?

[2020-04-10 06:41] kamo-naoyuki commented on #1774
Search it in google yourself.

https://sourceforge.net/p/kaldi/mailman/message/32595491/

[2020-04-10 07:15] Cescfangs commented on #1801
37,701,285 lines each
here is the log detail:
[code]

[2020-04-10 07:16] kamo-naoyuki commented on #1801
The traceback is not correct. Show more.

[2020-04-10 07:24] Cescfangs commented on #1801
up

I've updated

[2020-04-10 07:29] kamo-naoyuki commented on #1801
The log is really all? Something is strange.

I can't figure out yet, but `--max_cache_size 20G` requires 20GB for each process (=8x 20GB) at least, you shouldn't use it in this case.

[2020-04-10 07:56] Cescfangs commented on #1801
the log is complete for sure.  I didn't use `--max_cache_size` at first, I thought this may help, here is the log without  `--max_cache_size`:
[code]

and I've been debugging with PyCharm step by step,  loading `feats.scp` , `text`  and `feats_shape` of train set each will cosume over 8Gb memory, that's about 25Gb memory each job.

[2020-04-10 07:57] zrsjta opened #1802 "install of warpctc_pytorch and warprnnt_pytorch"
Hi！
when i am trying to install espnet, the installation of warpctc_pytorch and warprnnt_pytorch seems problematic. Here is the information

interpreter:
`(base) [tyriontian@0b32827b-9545-469b-a768-73fc6c6297ad ~/espnet/espnet/tools]$ which python
~/espnet/espnet/tools/venv/bin/python`

linux os information:
`Linux version 4.14.105-1-tlinux3-0010 (root@TENCENT64.site) (gcc version 4.8.2 20140120 (

[2020-04-10 08:01] zrsjta commented on #1802
`(base) [tyriontian@0b32827b-9545-469b-a768-73fc6c6297ad ~/espnet/espnet/tools]$ gcc -v
Using built-in specs.
COLLECT_GCC=gcc
COLLECT_LTO_WRAPPER=/dockerdata/home/tyriontian/gcc/gcc-build-9.3.0/bin/../libexec/gcc/x86_64-pc-linux-gnu/9.3.0/lto-wrapper
Target: x86_64-pc-linux-gnu
Configured with: ../gcc-9.3.0/configure --prefix=/home/tyriontian/gcc/gcc-build-9.3.0/ --with-gmp=/home/tyriontian/gcc/gm

[2020-04-10 08:10] zrsjta commented on #1802
I also try to install the warpctc_pytorch but it still does not work.
`(base) [tyriontian@0b32827b-9545-469b-a768-73fc6c6297ad ~/espnet/espnet/tools/warp-ctc]$ pip install warpctc-pytorch10-cuda100
Looking in indexes: https://mirrors.tencent.com/pypi/simple
Requirement already satisfied: warpctc-pytorch10-cuda100 in /dockerdata/home/tyriontian/espnet/espnet/tools/venv/lib/python3.7/site-packages (

[2020-04-10 08:32] kamo-naoyuki commented on #1801
(I couldn't understand why the traceback from the worker wasn't shown. Some other killer prevented it. The exception `SIGKILL` proves it. Maybe docker?)
Anyway your files are too large. Your text files themselves have ~10GB as a total, right?

The memory footprint is less than using JSON files, but, of course, there are still some limitations. I noticed this issue at the first designing, but actua

[2020-04-10 08:33] kan-bayashi commented on #1790
Yes, ljspeech recipe does not include speaker embedding.
Multispeaker model is `egs/libritts/tts1` and `egs/jnas/tts1`.

[2020-04-10 08:42] kamo-naoyuki commented on #1801
Another workaround is using HDF5 instead of feats.scp and text as `--train_data_path_and_name_and_type data.h5,speech,hdf5`.

[2020-04-10 08:45] Cescfangs commented on #1801
Thanks for the reply.
text files sum to 6.4GB, and yes I am using data augemntation which doubled dataset, I've compared `DataParallel` and `DistributedParallel` before,  there was about 10% relative perfermance gap (`DistributedParallel` is better).
I'll try HDF5 next to see if it works, then data augmentation online

[2020-04-10 09:17] kamo-naoyuki commented on #1801
I didn't test hdf5 enough, so if you meet some errors, please report it.

[2020-04-10 09:21] Cescfangs commented on #1801
Sure

Naoyuki Kamo <notifications@github.com> 于2020年4月10日周五 下午5:17写道：

--
Best Regards
From Cescfangs

[2020-04-10 09:52] #1790 closed

[2020-04-10 09:54] jubang0219 commented on #1799
Thanks S. Watanabe.

I have one more question.

In RNN, when using "adim:1024, aheads:8" settings, each head has a "1024" dimension. (Total 8*1024=#heads*adim)
(they are calculated by #aheads*adim on Class AttMultiHeadAdd)
https://github.com/espnet/espnet/blob/master/espnet/nets/pytorch_backend/rnn/attentions.py

On the other hand, in transformer, when using "adim:1024, aheads:8", each head has a

[2020-04-10 09:57] Cescfangs commented on #1801
how to convert `feats.scp` to HDF5 format?

[2020-04-10 10:08] kamo-naoyuki commented on #1801
You can convert manually using kaldiio and h5py, or use utils/copy-feats.py

[code]

(I'm not sure actually. It's better to test small data.)

[2020-04-10 11:38] sw005320 commented on #1799
Yes, they are different because we implement them independently (and transformer one refers to the other existing implementations).
Sorry for the confusion.

[2020-04-10 11:48] sw005320 commented on #1802
I'm not sure but it might be due to the gcc version due to

[code]

Could you try to use `gcc 4.9+`?
(I noticed that you list `gcc version 9.3.0` in your second post but the installation may use the system gcc)

[2020-04-10 11:55] kan-bayashi commented on #1802
Could you try this one?
https://github.com/espnet/espnet/issues/1656#issuecomment-601033168
After removing, could you try to install warpctc again?

[2020-04-10 12:40] zrsjta commented on #1802
I tried this but failed. I comment that line in `env.sh` (only one line there exactly), and re-log in my machine. The check_install.py still give the warnings that warpctc_pytorch and warprnnt_pytorch are not installed. I try to delete these two libraries in site-package manually and re-install warpctc_pytorch，the it still cannot be imported. I try to uninstall it by pip and re-install it but stil

[2020-04-10 12:46] zrsjta commented on #1802
it may not be. the gcc is checked before installation by `gcc -v`. and the path of gcc is in my ~/.bashrc
`export PATH="/home/tyriontian/gcc/gcc-build-9.3.0/bin:/home/tyriontian/gcc/gcc-build-9.3.0/lib:/home/tyriontian/gcc/gcc-build-9.3.0/lib64:$PATH"
export LD_LIBRARY_PATH="/home/tyriontian/gcc/gcc-build-9.3.0/lib:$LD_LIBRARY_PATH"`
Also, there are several insertions in the MakeFile, which would

[2020-04-10 12:52] zrsjta commented on #1802
here is the related file in conda:
`(base) [tyriontian@0b32827b-9545-469b-a768-73fc6c6297ad ~/espnet/espnet/tools/venv/lib/python3.7/site-packages]$ ls warp*
warpctc_pytorch:
__init__.py  __pycache__  _warp_ctc.cpython-37m-x86_64-linux-gnu.so  lib

warpctc_pytorch10_cuda100-0.1.3.dist-info:
INSTALLER  METADATA  RECORD  WHEEL  top_level.txt

warprnnt_pytorch-0.1-py3.7-linux-x86_64.egg:
EGG-INFO  wa

[2020-04-10 13:00] zrsjta commented on #1802
could be problem be this?
I configure kaldi by cuda8.0 but the espnet is installed by cuda10.0. I don't know if both the ctc and rnnt warpper of pytorch is kaldi-based? if so, that could be the problem.
but when i try to configure kaldi with cuda10.0, it reports:

``***configure failed: CUDA 10_0 does not support g++ (g++-9.3.0).
                 You need g++ < 8.0. ***`

how can this be fixed? or

[2020-04-10 16:17] ajd12342 opened #1806 "Unable to decode with Word RNNLM when <space> is not in corpus"
I have trained a SentencePiece BPE token based E2E system and a word-based RNNLM.
While decoding, I get an error:
[code]
Is there any solution to this?
This is similar to #1473 but the setup described in that issue was different.

[2020-04-10 16:41] sw005320 commented on #1806
BPE token is not supported for word RNNLM.
Also, it is not easy to make some error handling for this condition and we just leave it as it is.

[2020-04-11 03:00] shanguanma opened #1808 "espnet2 can't use batch_type=folded"
When I use  master of espnet currently, I will test espnet2  to train asr with transformer configure,
When I want to get asr_states(e.g: stage 9 of asr.sh ), an error occurred.

My environment is as follows:
[code]
transformer configure:
[code]
The error log is as follows:
[code]

[2020-04-11 08:43] ohadianoush opened #1809 "change for persian language"
hi, i download ljspeech and change csv file & waves file to my own language (persian) وwhat other changes are needed?
note: i do these changs in ParallelWaveGAN and build model but its not work fine and they said:
E2E-TTS model consists of two types networks:
    1-Text2Mel
    2-Mel2Wav (=vocoder, this repository)
Text2Mel model converts text sequence into mel spectrogram, which is basically lang

[2020-04-11 10:17] #1808 closed

[2020-04-11 10:18] kamo-naoyuki commented on #1808
Thanks, this issue was fixed.

[2020-04-11 13:14] #1796 closed

[2020-04-11 14:09] shanguanma opened #1812 "espnet2 CUDA out of memory in small dataset(300hours with perturbation)"
When   I test espnet2 by espnet master today. I run it with transformer configure at 16GB V100.
when I run it at stage 10 of asr.sh, an error occurred.
The error log is as follows:
[dgx4103:0/3] 2020-04-11 21:53:28,356 (abs_task:1065) INFO: Scheduler: <torch.optim.lr_scheduler.ReduceLROnPlateau object at 0x1542d5ebba20>
[dgx4103:0/3] 2020-04-11 21:53:28,358 (abs_task:1073) INFO: Saving the configu

[2020-04-11 14:17] kamo-naoyuki commented on #1812
Would you show the config and the log about batch_size?
The batch_size is too large simply?

[2020-04-11 14:28] shanguanma commented on #1812
Sure, the configure is as follows:

# network architecture
# encoder related
encoder: transformer
encoder_conf:
    input_layer: "conv2d"
    num_blocks: 12
    linear_units: 2048
    dropout_rate: 0.1
    output_size: 256  # dimension of attention
    attention_heads: 4
    attention_dropout_rate: 0.0

# decoder related
# decoder related
decoder: transformer
decoder_conf:
    input_layer: "embed"

[2020-04-11 14:46] kamo-naoyuki commented on #1812
Why batch_type=unsorted? It consumes more memory, of course.
See here about batch_type: https://espnet.github.io/espnet/espnet2_training_option.html#change-mini-batch-type

[2020-04-11 14:46] #1812 closed

[2020-04-11 19:46] #1534 closed

[2020-04-11 19:46] #1523 closed

[2020-04-12 02:51] jubang0219 commented on #1799
Thank you for the reply.

[2020-04-12 02:51] #1799 closed

[2020-04-12 12:58] shanguanma opened #1816 "time_warp of espnet2 occurred an illegal memory access"
When I test espnet2 for ASR, I use speaug  technology to train ASR mode with transformer.
But it occurred error.
My environment is as follows:
cuda: 10.0
python:3.7.3
pytorch version: 1.1.0

The error log is as follows:
THCudaCheck FAIL file=/opt/conda/conda-bld/pytorch_1556653114079/work/aten/src/THCUNN/generic/SpatialUpSamplingBicubic.cu line=76 error=77 : an illegal memory access was encountere

[2020-04-12 13:27] kamo-naoyuki commented on #1816
The error looks a bug of pytorch. Update pytorch to latest.

[2020-04-12 13:30] shanguanma commented on #1816
OK, I will test it on pytorch=1.4.0, thank you for your reply.

[2020-04-12 14:51] #1536 closed

[2020-04-12 16:57] qo4on opened #1817 "Espnet text frontend"
Does Espnet offer more sophisticated text frontend which could split words (`taxidriver -> taxi driver`) and correctly convert abbreviations like `http, rfc` into phonemes?
`G2p` which you use returns bad results very often.

[2020-04-12 17:04] Derek-Gong opened #1818 "Hardcoded weights dict in espnet/asr/pytorch_backend/recog.py"
Hi, I was trying to develop my own scorer with ScorerInterface and found this issue.
In recog.py, below line hardcoded weights dict, so scorers other than those shown in weights dict will not take effect. Because beam_search.py requires a scorer with a weight.
I guess this weights dict should be specified by users?

 scorers = model.scorers()
    scorers["lm"] = lm
    scorers["length_bonus"] = Le

[2020-04-13 02:50] Arafat4341 opened #1820 "ASR failure - NotImplementedError: streaming mode is not implemented"
I am trying to test pre-trained ASR model. I am getting this error in espnet/asr/pytorch_backend/recog.py:

`NotImplementedError: streaming mode is not implemented`

Full log:
 asr_recog.py --config decode/download/tedlium2.rnn.v1/conf/decode_streaming.yaml --ngpu 0 --backend pytorch --debugmode 1 --verbose 1 --recog-json decode/ex_16000_mono_16bit/dump/data.json --result-label decode/ex_16000_mon

[2020-04-13 07:19] b-flo commented on #1820
Hi,

It means streaming mode is not implemented/available yet. `streaming-mode` option should be `None`.

[2020-04-13 07:39] b-flo commented on #1817
Hi,

I'm aware of : https://github.com/espnet/espnet_tts_frontend but I don't know its full scope, sorry. I'll let you take a look or others can comment on that.

Again, I'm not familiar with the g2p used in espnet (https://github.com/Kyubyong/g2p), however from what I see the algorithm looks-up the CMU dict for non-homographs. For an OOV, a neural net is used to predict the corresponding pronunci

[2020-04-13 08:02] Arafat4341 commented on #1820
I tried to add this option `--streaming-mode None` while running recog_wav.sh but its not a supported option.
Where should I add this option?

[2020-04-13 08:15] b-flo commented on #1820
It should be put in your decode config (`streaming-mode: None`).
Btw, if you want to use streaming mode, you should use `--api v1`

[2020-04-13 08:36] Arafat4341 commented on #1820
I used --api v1 option while running recog_wav.sh. It was finished without any error but I didn't get any output! It was a blank output on the console and no result.json file in there.
Anyways I get results for other models. I am closing this issue! Thanks for your help!

[2020-04-13 08:36] #1820 closed

[2020-04-13 09:14] Arafat4341 opened #1823 "Odd output in ASR on English: Kanji character appears in output"
I am trying pre-trained models (librispeech.transformer.v1 and commonvoice.transformer.v1) for generating text from English speech.

However I am getting weird output Such as:
笆〆OUR笆？AVE笆。EEN笆￣OPULARLY笆ヽEVERED笆、S笆；ARDS笆！N笆。EZ笆ヾINCE笆！NT笆＾F笆ゝIMES笆、ND笆ヽELIGION笆ヾUCH笆、S笆、MAZON

(Actual text of the speech: `Deer have been popularly revered as "gods and beasts" since ancient times in religions such as an

[2020-04-13 09:16] kan-bayashi commented on #1798
1. Please check the following items:
	- mel range (mel_fmin and mel_fmax)
	- normalization (we perform mean-var normalization. If the different normalization is performed in waveflow, you need to generate Mel -> de-normalization with epsnet -> normalization with WaveFlow -> decode with WaveFlow
)
2. Currently, no. Since I'm focusing on GAN-based vocoder (MelGAN and Parallel WaveGAN). Do you think

[2020-04-13 10:09] qo4on commented on #1817
Thanks, @b-flo .
A few notes:
- [espnet_tts_frontend](https://github.com/espnet/espnet_tts_frontend/blob/master/tacotron_cleaner/cleaners.py) does not solve problems like `taxidriver, http, rfc`
- `predict` function which uses neural net returns wrong phonemes for `taxidriver, http, rfc...`. Adding these words to exception list is not the best solution. It's impossible to add all concatenated word

[2020-04-13 11:12] qo4on commented on #1798
Thanks for your answer.
1. I opened a test audio (`phn_train_no_dev_pytorch_train_tacotron2.v3_fastspeech.v4.single` and `Parallel WaveGAN` from your Colab example) in Audition and found much wider 0-11000 Hz mel range than 80-7600 Hz:
![image](https://user-images.githubusercontent.com/35609308/79114647-3cb42d80-7d9d-11ea-8f26-48c3e730a8d1.png)
Can you clarify how these frequencies are related? Wh

[2020-04-13 11:39] b-flo commented on #1817
Sorry about that. @kan-bayashi can comment for other possible solution.

Yes, I took a look at cmu dict and these words are not defined.

Sorry, that was not what I implied. Given the base dict coverage and g2p procedure, I thought the list of additional/problematic words you wanted covered would be rather specific. Not "add all concatenated words and abbreviations" covered, which is not a realist

[2020-04-13 11:48] kan-bayashi commented on #1798
I have some discussions (see https://github.com/espnet/espnet/issues/1192).
According to preliminary experiments, the limit of the Mel range can alleviate the over-smoothing problem.

2. OK. I will check their samples. Thank you for your info.

[2020-04-13 12:24] qo4on commented on #1817
They trained on `cmudict.dict`. But `cmudict.dict` does not have compound words and abbreviations. So it is expected that the model can't predict right phonemes for them.

[2020-04-13 13:04] sw005320 commented on #1817
Right now, we did not fully integrate text preprocessing but we call external scripts or tools for each recipe since the text preprocessing fully depends on the language and task. In other words, if you find some external tools that perform what you want to do, you can use them in some espnet recipes by referring their ways of calling external scripts or tools.

[2020-04-13 13:08] shanguanma commented on #1816
You are right, I test it on pytorch=1.4.0, it is OK. Thank you very much.

[2020-04-13 13:09] sw005320 commented on #1809
You need to prepare Kaldi-like data preparation (see https://github.com/espnet/espnet/blob/master/egs/m_ailabs/tts1/local/data_prep.sh and others).
For example, you need to make a subdirectory under the `data` director, which contains `text`, `wav.scp`, `utt2spk`, and `spk2utt` (but `utt2spk`, and `spk2utt` can be dummy).

[2020-04-13 13:11] kamo-naoyuki commented on #1816
@shanguanma Thank you for reporting.

[2020-04-13 13:11] #1816 closed

[2020-04-13 13:11] sw005320 commented on #1818
@ShigekiKarita, do you have some comments about this?

[2020-04-13 13:20] qo4on commented on #1817
Unfortunately, I did not find a tool which correctly converts abbreviations and concatenated words to phonemes.
To retrain g2p model which you used we need an `abbreviations to phonemes` dataset.

[2020-04-13 13:54] ShigekiKarita commented on #1818
This is for compatibility with `--api v1`. Maybe it is time to stop to use `1.0 - args.ctc_weight`. IMO, the decoding config should be more flexible and extensible as well as our training config. We should stop hardcode for example, `ctc_window` or something model-specific or task-specific configs.

Maybe in espnet2, maybe we can use a YAML-based structured config.
[code]
Thanks to [configargparse

[2020-04-13 13:59] qo4on opened #1827 "Parallel WaveGAN settings"
I have very strange [sound artifacts](https://dl.dropboxusercontent.com/s/9nvab95nbcnq05g/test_pwg.wav) with Parallel WaveGAN (with FastSpeach in Colab example). Listen how "for awhile` sounds.
1. Is there something I can tune in inference to fix that?
2. Also I found that sound is a little better when I feed several sentences at once instead of just one. Which is the best approach with Parallel W

[2020-04-13 15:41] xia999 opened #1829 "computing WER/CER"
Sloved

[2020-04-13 16:31] #1829 closed

[2020-04-13 16:31] xia999 commented on #1829
Solved

[2020-04-13 19:15] #1459 closed

[2020-04-13 20:17] dmitriy-serdyuk opened #1831 "`__init__.py` files missing?"
`__init__.py` files seem to be missing in all directories under `espnet/`. This causes various import errrors.

[code]

[code]

[2020-04-13 21:38] Daniel-asr commented on #509
@sw005320 what do you mean with "or only use the transcriptions"?

[2020-04-13 23:29] sw005320 commented on #1831
We did not assume such cases, but maybe this is a good idea to do it.
@kamo-naoyuki and @kan-bayashi, what do you think?

[2020-04-13 23:33] sw005320 commented on #509
Librispeech has external text data for language model training.
We usually mix the external text data and ASR transcriptions for language model training (see https://github.com/espnet/espnet/blob/master/egs/librispeech/asr1/run.sh#L181-L184).
The above suggestion is to only use ASR transcriptions that is `data/local/lm_train/${train_set}_text.gz`

[2020-04-13 23:52] Daniel-asr commented on #509
Got it. Thank you!

[2020-04-14 01:10] kan-bayashi commented on #1831
If we install without `--editable` option, I think this error will be happened.
https://github.com/espnet/espnet/blob/f70d6b163bce0d8743877faa654a8345dfdd56b2/setup.py#L113
In my understanding, `find_package` could not find them without `__init__.py`.
(We added at first but we removed them... I could not remember the reason...)

It is better to add `__init__.py` to all of the directories as the sa

[2020-04-14 01:19] kan-bayashi commented on #1827
1. In the inference, we use random noise. So if you perform the generation again, the outputs will be a little bit changed but not so large.

2. Not sure. It depends on the Text2Mel part, I think. From your results, the FastSpeech model may be able to generate Mel well with a long sentence since it can consider the context in the long sentence (?).

Currently, we separately trained Text2Mel and Me

[2020-04-14 02:06] RobotGF opened #1832 "transformer bug in Pytorch 1.2.0"
espnet/espnet/nets/pytorch_backend/transformer/mask.py
`is_torch_1_2_plus = LooseVersion(torch.__version__) >= LooseVersion('1.2.0')
datatype = torch.bool if is_torch_1_2_plus else torch.uint8

def subsequent_mask(size, device="cpu", dtype=datatype):
    """Create mask for subsequent steps (1, size, size).
    :param int size: size of mask
    :param str device: "cpu" or "cuda" or torch.Tensor.dev

[2020-04-14 02:09] sw005320 commented on #1831
I think so.
Could you just add them?
I believe it would not have issues.

[2020-04-14 02:14] sw005320 commented on #1832
I thought that transformer is working on any pytorch versions.
Does it only happen in pytorch 1.2.0?

[2020-04-14 03:50] #1753 closed

[2020-04-14 03:53] fly12357 opened #1833 "Strange loss cure for Tactron2 TTS?"
I train the Tactron2 TTS model on my own dataset, but the loss curve  increase sharply at some epoch.
![image](https://user-images.githubusercontent.com/40494145/79184274-42198280-7e46-11ea-95c3-eed0c1112320.png)

Have you ever meet this case?

[2020-04-14 04:28] kamo-naoyuki commented on #1831
I didn't know we don't have it.  This should be a bug.  #1016 removed it.

[2020-04-14 05:00] kamo-naoyuki commented on #1831
TL;DR
If you don't indent to use `Namespace packages`, we must put __init__.py.

(I think almost all people don't have to understand about __init__.py strictly.)

From python3.3, there are two types of module: https://docs.python.org/3/reference/import.html#regular-packages

- Regular packages: With __init__.py
- Namespace packages: Without __init__.py

To install `Namespace packages` from setup.p

[2020-04-14 05:21] #1823 closed

[2020-04-14 05:28] Arafat4341 opened #1834 "Encode result with utf-8 rather than ShiftJIS in ASR"
I am testing librispeech.transformer model for English STT.

I found out an encoding issue. The Text Output in the result.json file is written with ShiftJIS which is standard for Japanese. As a result getting weird output such as:
"笆？OW笆ヾOON笆，AN笆〆OU笆´AND笆！笆，AN'T笆ゝELL笆〆OU笆，AN笆ゝELL笆｀E笆！'M笆、笆．OCTOR笆¨O笆！笆｀EAN笆！'M笆゛UST笆¨OT笆ヾURE笆。UT笆，AN'T笆〆OU笆ゝAKE笆、笆；UESS笆仝ELL笆¨OT笆：OR笆、NOTHER笆ゝWO笆？OURS笆〆OU笆，AN'T笆ゝAKE笆、笆

[2020-04-14 05:59] unilight commented on #1833
In my experience, this happens when your training set is too small or the learning rate is too large. Try tuning some hyperparameters like learning rate, batch size, etc.

[2020-04-14 06:31] fly12357 commented on #1833
Thanks for your reply. I'll try update my hyperparameters.

[2020-04-14 09:13] RobotGF commented on #1832
Yes，I test with 1.0.0 1.1.0 1.2.0 1.3.0 . It only happen in pytorch 1.2.0. Before 1.2.0 ,pytorch Tensor doesn't have Boolean Type, So it works. But when in 1.2.0, tril not implemented for Bool tensor. > 1.2.0 tril works for bool.

[2020-04-14 10:45] SeanNaren opened #1836 "CTC loss and feature extractor in espnet model with mixed precision"
Hey guys! When I use `--train_dtype O1` as a parameter for `espnet2.bin.asr_train` I run into the below error message.

[code]
In deepspeech.pytorch this is handled by converting the loss to float32 as seen [here](https://github.com/SeanNaren/deepspeech.pytorch/blob/master/train.py#L253). We've tested this internally on a variety of scales and this works well for us.

Is this something acceptable

[2020-04-14 10:49] kamo-naoyuki commented on #1836
Thanks. I know it. It should be fixed as you said.

[2020-04-14 11:01] SeanNaren commented on #1836
@kamo-naoyuki will you be handling this? I'm more than happy to work on this if it will help you out!

[2020-04-14 11:08] kamo-naoyuki commented on #1836
Thanks. If you send PR, it's helpful.
The reason I didn't is just laziness. There are too many things to do about espnet2.

[2020-04-14 11:14] anushaprakash90 commented on #1790
Another doubt, how is the x-vector considered for test sentences, i.e., during evaluation?

[2020-04-14 11:51] SeanNaren commented on #1836
haha 100%, I'll make a PR today

[2020-04-14 12:28] #1827 closed

[2020-04-14 14:46] SeanNaren commented on #1836
Hey @kamo-naoyuki just wanted to confirm something, the `espnet_model.py` wraps everything including the extraction of the features. Does this mean if we convert the model via Apex, that the input speech tensor will be converted to FP16? This I think is causing me issues

[2020-04-14 15:12] kamo-naoyuki commented on #1836
Are you concerned about O2/O3 case? Hmm, in my understanding, yes.

I don't know the detail of apex API. How should we do it if we exclude the extraction from apex?
These APIs are appropriate?
https://github.com/NVIDIA/apex/tree/master/apex/amp

[2020-04-14 15:13] dmitriy-serdyuk commented on #1831
Right, I installed without editable assuming that editable is only for development.

[2020-04-14 17:43] SeanNaren commented on #1836
I was running into this issue using O1, should I not be running into this issue?

[2020-04-14 23:41] machineko opened #1837 "Question about Fastspeech transfer learning"
Did anyone ever try to do transfer learning without teacher model on fastspeech?
In normal traning we need taco2 or transformer as teacher but what about transfer learning on new dataset did anyone have experience with it?

[2020-04-15 02:14] RobotGF commented on #1836
I think CTC loss has reduce operation which is not suitable for mix precision training.

[2020-04-15 03:19] xiuyayang opened #1838 "How do I get multi-speaker FastSpeech config in LibriTTS"
Hi @kan-bayashi
I had found your [PR](https://github.com/espnet/espnet/commit/04be9dc3c7c4e0d4778d05b4c3b1ff807229c093) multi_spk_fastspeech, but I not found in LibriTTS file config train_pytorch_fastspeech+spkemb.yaml.
Can you share this config.
Thanks.

[2020-04-15 10:22] SeanNaren commented on #1836
After further inspection this is going to be a difficult problem to solve and may require modifying the pipeline.

Using Apex, there are wrappers added to the forward methods to automatically convert specific modules into half, this is done to reduce the amount of boilerplate by users.

Since feature extraction is a part of the converted model and a lot of the functions are defined as torch module

[2020-04-15 10:56] ORlGlN opened #1839 "model link for transformer in espnet/egs/tedlium3/asr1 not working"
The model link with the following details returned 404 on Google Drive, anyone able to fix the link?
file path: espnet/egs/tedlium3/asr1/RESULTS.md
model name: Transformer (elayers=12, dlayers=6, units=2048, 8 GPUs, specaug) + large LM
model link: https://drive.google.com/open?id=1wYYTwgvbB7uy6agHywhQfnuVWWW_obmO

Thanks in advance.

[2020-04-15 12:01] kamo-naoyuki commented on #1836
@SeanNaren Thank you for clarification.
Can't we use `amp.register_float_function(module, function_name)` or `@amp.float_function` for the feature extraction?

[2020-04-15 12:07] qo4on commented on #1798
I found that you have the same wrong values in the `config.yml` for `pwg_v3`.
Can you tell the difference between these two models, am I right that `v3` is better?

[code]

[2020-04-15 12:13] sw005320 commented on #1839
This is the same problem as https://github.com/espnet/espnet/issues/1590.
@ahmedalbahnasawy, do you also have a tedlium3 model?

[2020-04-15 12:25] kan-bayashi commented on #1798
Note that the mel range is different from the range of frequency in the waveform.
Even if the mel range is limited (e.g. 80-7600 Hz) but the actual waveform has full range frequency components (0-11025 Hz).

I will show the table of the relationship between [espnet pretrained model](https://github.com/espnet/espnet#tts-results) and [my PWG pretrained model links](https://github.com/kan-bayashi/Par

[2020-04-15 12:57] kan-bayashi commented on #1795
I want to summarize the functions which are not exported to espnet2 from espnet.

[2020-04-15 13:15] kamo-naoyuki commented on #1795
What part do you mean? I roughly wrote the items in the above table.

[2020-04-15 13:25] kan-bayashi commented on #1795
Sorry, I missed. I will update them.

[2020-04-15 14:10] ahmedalbahnasawy commented on #1839
@sw005320 done
I uploaded it to your drive.

[2020-04-15 15:00] SeanNaren commented on #1836
I tried wrapping [extract_feats](https://github.com/espnet/espnet/blob/master/espnet2/asr/espnet_model.py#L204) with the `@amp.float_function` as well as using the `amp.register_float_function` before we convert the model via amp initialize [here](https://github.com/espnet/espnet/blob/master/espnet2/tasks/abs_task.py#L1038) but both seemed to not work, it seems like the internal functions such as

[2020-04-15 15:24] sw005320 commented on #1839
Many thanks!

[2020-04-15 15:24] kamo-naoyuki commented on #1836
Thanks. Hmm. I'll read the apex code for detail and think about it.

[2020-04-15 15:38] sw005320 commented on #1832
Many thanks.
Hmm. This is very strange...
Please check PR in #1840
@kamo-naoyuki, thanks for taking care of it.

[2020-04-15 15:43] sw005320 commented on #1838
I think it is a good idea to share the config of multi-speaker FastSpeech.
@kan-bayashi, can you provide it?
Or if we have some issues (e.g., the performance is not good enough or it is not well trained), please share your experience.

[2020-04-15 16:08] SeanNaren commented on #1836
Cheers if I find out anything more will let you know!

[2020-04-15 17:02] #1831 closed

[2020-04-15 17:05] ShigekiKarita commented on #1831
Thanks for reporting this issue. #1842 fixed it.

[2020-04-15 17:10] #1839 closed

[2020-04-16 04:32] 200987299 opened #1845 "where is change_yaml.py"
hello guys,

I am new to this, and may I ask where is change_yaml.py? My computer tells me it can't find it. And I can't run ./run.sh --train-config $(change_yaml.py conf/train.yaml -a batch-size=24 -a epochs=10). Thanks for your help.

Bests

[2020-04-16 07:04] b-flo commented on #1845
Hi,

The file is located here: https://github.com/espnet/espnet/blob/master/utils/change_yaml.py (or `espnet/utils`, given you're in espnet directory root )

[2020-04-16 17:28] qo4on commented on #1798
Thank you. Your wavegan.v3 generates less background noise than wavegan.v2. But overall quality seems to be a bit better in wavegan.v2.

I managed to run inference of WaveFlow. It's impressive! I don't hear the difference between generated file and the original. Of course it is for ground truth mel from original `wav`, not from generated mel.

Can you tell how to do `de-normalization with espnet's

[2020-04-16 23:56] #1787 closed

[2020-04-17 04:07] ferb2015 opened #1847 "install PackagesNotFoundError: The following packages are not available from current channels: cudatoolkit=8.0"
Hello, while installing espnet:
. venv/bin/activate && conda install -y pytorch=1.0.0 cudatoolkit=8.0 -c pytorch
Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Collecting package metadata (repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.

Packages

[2020-04-17 05:35] #1833 closed

[2020-04-17 06:42] ferb2015 commented on #1847
but,conda has cudatoolkit 8.0：

$ conda search cudatoolkit

cudatoolkit                8.0                           3  defaults

i use miniconda to install

[2020-04-17 07:47] kamo-naoyuki commented on #1847
This question is not related to espnet. You should ask at pytorch forum.
cudatoolkit=8.0 doesn't exist. Use cuda80 or pip: https://pytorch.org/get-started/previous-versions/

[2020-04-17 07:47] #1847 closed

[2020-04-17 08:49] ferb2015 commented on #1847
thank you, i install pytorch by "conda install pytorch==1.0.0 torchvision==0.2.1 cuda80 -c pytorch", and it works.

import torch
device = torch.device("cuda:0" if torch.cuda.is_available() else "cpu")
print(torch._C._cuda_getCompiledVersion())
print(device)

output:
1.0.0
8000
cuda:0

[2020-04-17 09:31] #1832 closed

[2020-04-17 10:08] zqs01 opened #1848 "espnet0.6.0 transformer model suport GPU decoding or not?"
Hello everyone, I have a question, when I use Transformer in espnet0.6.0 for GPU decoding, there is an error `RuntimeError: Input type (torch.FloatTensor) and weight type (torch.cuda.FloatTensor) should be the same` , what I should do to fix this problem? Thanks in advance.

[2020-04-17 11:17] kamo-naoyuki commented on #1848
Thanks, that's a bug.  Would you show the log?

[2020-04-17 11:38] zqs01 commented on #1848
`# asr_recog.py --config conf/decode.yaml --ngpu 1 --backend pytorch --recog-json dump/test_eval92/deltafalse/split1utt/data.1.json --result-label exp/train_si284_pytorch_kqdot/decode_test_eval92_decode/data.1.json --model exp/train_si284_pytorch_kqdot/results/model.last10.avg.best
# Started at Fri Apr 17 19:36:33 CST 2020
#
2020-04-17 19:36:34,692 (asr_recog:162) INFO: python path = (None)
2020-0

[2020-04-17 12:41] kamo-naoyuki commented on #1848
@sw005320 v1 decoding seems not to support GPU decode? Is this a bug?
@zqs01 Anyway, you can use v2 api: `--api v2`

[2020-04-17 13:02] sw005320 commented on #1848
It is actually fully supported and faster than v2 (this is the reason that we have to maintain v1 and v2 for now).

@zqs01,
See https://espnet.github.io/espnet/tutorial.html#use-of-gpu
You may need to set `--batchsize 1` (or more)

[2020-04-17 13:24] kamo-naoyuki commented on #1848
Very confusing. It should raise an error if `--batchsize 0` and `--ngpu 1`, or it's better to change the batch mode if `--ngpu 1`.

[2020-04-17 13:29] zqs01 commented on #1848
@kamo-naoyuki @sw005320  I follow your suggestions, thank you. I add `api: v2` to the `decode.yaml`, then it can decoding on the GPU correctly.
 batchsize: 0
beam-size: 10
penalty: 0.0
maxlenratio: 0.0
minlenratio: 0.0
ctc-weight: 0.0
lm-weight: 0.0
api: v2

[2020-04-17 13:29] #1848 closed

[2020-04-17 16:51] kamo-naoyuki commented on #1836
We can't solve this problem in any way!
I concluded that apex.amp is non sense idea because it patches all torch functions globally regardless whether the model uses them or not.

[code]

It means that any torch functions can't coexist at non training places with apex.amp.  This is crazy. They ought to implement some function to limit the scope.

I gave up to support apex.amp from now and I'll con

[2020-04-18 06:05] EsmaeilFarhang opened #1851 "pause bettween sentences in TTS"
I've trained transformer and fastspeech. used egs/jsut config parameters(just train char base ).
but after training, those models cannot pause after the sentence is over and start another sentence.
in the case of fastspeech speed of reading is faster.
some examples are in below:

[samples.zip](https://github.com/espnet/espnet/files/4496141/samples.zip)