[2018-11-27 01:54] kan-bayashi commented on #476
Sorry, I missed `using numpy`.
Please forget about it.

[2018-11-27 02:44] #410 closed

[2018-11-27 06:47] marvinzh commented on #479
Thank you for reply!

here is the epoch-acc curve
![acc](https://user-images.githubusercontent.com/6829031/49063513-fa975400-f25a-11e8-98f8-89eb56765fa8.png)

here is the epoch-loss curve
![loss](https://user-images.githubusercontent.com/6829031/49063523-fec37180-f25a-11e8-9911-1717323edd92.png)

It looks like normal through learning curve.

here is the hyper-parameter setting
[code]
Basically, I

[2018-11-27 14:50] ShigekiKarita commented on #476
Thanks. Anyway we need to make the scripts python3 compatible until EOL of python2, Jan 2020.

[2018-11-27 14:54] ShigekiKarita commented on #476
Maybe this PR can fix it. https://github.com/42qu/mmseg/pull/2

[2018-11-28 16:15] muntasir2000 opened #482 "How to infer single wav file?"
How can I get the transcription of a single wav file? Is there any other way to run `asr_recog.py` for a single wav file? I have looked into kaldi tools used to extract filterbank and pitch features like `make_fbank_pitch.sh `. They all seems to take a directory as input, not a single file. Any thought?

[2018-11-28 16:22] gtache opened #483 "Improvements, additions, fixes"
Hi, thanks for the framework, it does a good job given how small and easy to use it is, which also allows to easily modify it !
I'm using it for a project and had to make quick modifications, but now that I have more time I'd want to merge them to allow everyone else to benefit from them. It may take some time to rewrite them (I want to do it in a cleaner way) but here are some things I've already

[2018-11-29 01:46] kan-bayashi commented on #470
I also confirmed that decodig is quite slow in the case of CSJ recipe.
I will change the recipe default to batchsize=0.

[2018-11-29 01:48] sw005320 commented on #470
@mn5k, I think it's better to use original CTC-prefix score computation even during the batch processing. Can you consider it?

[2018-11-29 02:34] sw005320 commented on #482
This recognition script is designed for off-line experiments, which is good enough for research purpose or off-line decoding purpose, but not for on-line decoding purpose or recognizing a single WAV file.

[2018-11-29 02:42] sw005320 commented on #474
@ShigekiKarita I agree.

@sas91, does your model include it? If not, please include it. Also, thanks for your comments. I agree with you that we should prepare some storages about this. About the usage, I think it would be good enough if you prepare it for both resume training and recognition, but I think you could do it with special options in `run.sh` for resume training or some command lines fo

[2018-11-29 02:53] kan-bayashi commented on #479
I tested with current master, and it seems to be fine.

[code]

If you use old version, please test with current master.

[2018-11-29 03:01] sw005320 commented on #483
Thanks!
All of them look very interesting. Yes, let's try to incorporate it one-by-one.
I'm also curious how these additions will improve the performance, e.g., Sortagrad and Dynamic batchsize.

[2018-11-29 11:45] marvinzh commented on #479
sorry for late reply

here is the decoding log,
[decode.1.log](https://github.com/espnet/espnet/files/2628898/decode.1.log)

I currently use this commit `df13d7315daf83712a0d7b4e8cd54772f7fa9a94`, which I cloned from the GitHub just 2 weeks ago.

may be this issue related to my system environment?

[2018-11-29 12:31] kan-bayashi commented on #479
Thank you for sharing!
It seems that there is a bug when calculating max & min output length.
[code]
I will investigate about it.

For quick fixing, please set `--batchsize 0` in `asr_recog.py`  in `run.sh` as follows:
[code]

[2018-11-29 12:44] kan-bayashi commented on #479
I found the reason.
https://github.com/espnet/espnet/blob/02941c89e4826fe6104afbea2cdf2e305ee293c0/espnet/nets/e2e_asr_th.py#L2323-L2327
Here we calculate LongTensor * float value.
But it will be 0 :(
[code]
I don't know why... This is very dangerous....
Anyway, I will fix it.

[2018-11-29 12:52] kan-bayashi commented on #479
Fixed in #487.

[2018-11-29 14:48] gtache commented on #482
What I've used to do that is [create_corpus](https://github.com/kaldi-asr/kaldi/blob/master/egs/apiai_decode/s5/local/create-corpus.sh) with a single file, and then make_fbank, dump, data2json, etc. like in any run.sh
Obviously it's way too slow for online decoding but if you just want to decode some files it's good enough.

[2018-11-30 10:52] ShigekiKarita opened #488 "Why batch-beam search is different from non batch-beam search"
@mn5k @takaaki-hori @sw005320
First, I apologize my late catchup (not reviewed). Because I am trying to refactor the beam search implementation for various models like transformer now, I want to understand this change between them.

## prunning (topk)

non-batch implementation does prunning (topk) before ctc and lm scoring
https://github.com/espnet/espnet/blob/60682e8823d8fb44bf54ef157ddf7ae2c8797

[2018-11-30 17:40] ShigekiKarita opened #489 "Discussion to refactor beam search"
Recently, we have several issues like #429, #436, #470 etc and improvements like #318, #478 etc related to beam search. As far as I know, every PRs related to beam search (except for the wide refactoring #484) has been merged at this time. Maybe it is good time to refactor current complex and adhoc implentations to be simpler and generalized for v0.3.0.

These are my thoughts on the problems in cu

[2018-12-01 06:34] marvinzh commented on #479
@kan-bayashi I test with the current master, it's OK now!
thanks again for fixing the bug!

BTW, I think the problem is caused by PyTorch's type casting.

the PyTorch support 8 different datatypes, and it does not support the operation under different datatype.
so when it meets
[code]
it convert the python primitive datatype float (i.e the 0.5) with `torch.LongTensor(0.5)`, then do the computation

[2018-12-02 01:47] kan-bayashi commented on #479
@marvinzh Thank you. I see.
I want pytorch to fix this behavior :(
Anyway, thank you again for your cooperation.
I close this issue.

[2018-12-02 01:47] #479 closed

[2018-12-02 04:39] mn5k commented on #488
Sorry for the late reply.
Yes, it causes the difference of recognition performance.

I compared the batch-beam search with the non-batch one in some tasks,
and the batch-beam search obtained the same (and sometimes better) performance as the non-batch beam search though it is just heuristic.

[2018-12-02 06:38] ShigekiKarita commented on #488
OK, maybe I will also investigate it in next implementation. Thanks!

[2018-12-02 06:38] #488 closed

[2018-12-03 21:59] sw005320 commented on #489
I like this idea. I have to admit that my initial beam search was not well implemented to consider such flexibilities. Your idea of `BeamSearch` class and providing the scoring interface is more flexible. Since this would affect a lot of people, I newly created the v.0.3.0 branch. I fully agree with your implementation, and I ask you to work on this branch.

[2018-12-03 22:01] sw005320 commented on #444
I just made a branch for this development plan https://github.com/espnet/espnet/tree/v.0.3.0, as it affects to many people if we work on the master.
Please work on the above items in this branch.

[2018-12-03 22:03] sw005320 commented on #489
@kan-bayashi, do you think this way will be applied to the TTS inference?

[2018-12-04 03:16] kobenaxie opened #492 "Confusion about label for ctc and attention"
Generally, suppose my vocab is 'a b c' with index '0 1 2', and  in CTC mod the output dim will be 4 {a b c <blank>}, and we also need not model <sos> <eos> and <pad>, while in ATTENTION mod the output dim will be 6 {a b c <sos> <eos> <pad>}, so how to deal with the output dim mis-match problem ?

[2018-12-04 03:43] kan-bayashi commented on #489
In the case of TTS, we do not perform beam search (Just perform a kind of one-best decoding), because TTS model has only score of eos.

[2018-12-04 15:09] sw005320 commented on #492
I don't fully understand your question, as we are using the same output dimensions for both CTC and attention models including a blank symbol, which is only used for CTC.

[2018-12-05 03:41] kobenaxie commented on #492
I have update my question.
As you mean, the CTC label and ATTENTION label has same output dim, will be 7 `{a b c <sos> <eos> <pad> <blank>}` ?

[2018-12-05 06:00] kamo-naoyuki commented on #412
I came back to tackle this. Just a note.

[2018-12-05 13:19] sw005320 commented on #412
@kamo-naoyuki, OK. Please work on the v.0.3.0 branch.

[2018-12-05 14:04] hirofumi0810 commented on #492
@sw005320, I agree with having an additional <pad> class.
It is crucial text translation.
Also, having such a class is useful for future extensions since it's super easy to detect the end point of the sequence.

[2018-12-06 14:40] kamo-naoyuki opened #494 "importlib.import_module in test codes"
The test codes in espnet often use dynamically importing  by ``importlib.import_module``, why?
I believe `importlib.import_module`` should not be used as possible. It is unreadable and easy to make some bugs because static code analysis can't work.

[2018-12-10 18:20] #402 closed

[2018-12-10 18:24] dneelagiri commented on #429
I havent seen a considerable improvement by using about 1.5G data apart from Libri data for generating bpe units. There is only about 0.5 reduction in WER on an average.

[2018-12-10 18:24] #429 closed

[2018-12-11 11:46] xuhan1202 opened #500 ". utils/parse_options.sh: Not a directory"
I haved installed the toolkit successfully, but  when I try to run the run.sh file in egs. It comes to error like this.

[2018-12-11 18:54] sw005320 commented on #500
Probably you did not set the Kaldi path correctly. Could you check it?

[2018-12-12 07:01] xuhan1202 commented on #500
I have solved the problem, thank you.

[2018-12-12 07:01] #500 closed

[2018-12-13 02:35] Magic-Bubble opened #503 "Impact of batch size on librispeech"
I was trying to increase batch size on Librispeech, but I got a drop performance on WER. When I use batch size of 24 in default config, I got exactly the same WER as the reported result (4.1%). But when I increase batch size to 40 (without modify any other hyper parameters), I got 4.7%.

I don't know why just add batch size causes this significant drop on WER. Maybe I need to modify some other hyp

[2018-12-13 13:39] tsauri commented on #482
espnet is based off kaldi. Kaldi is quite notorious to be put on production/deployment (bash scripts, python, c++, perl eveywhere)
until we can fully detach kaldi off espnet, deployment remains hard.

[2018-12-13 16:07] #430 closed

[2018-12-14 02:48] ZhuoranLyu commented on #503
@Magic-Bubble Same situation, may be because of padding for different lengths in a batch.

[2018-12-14 02:50] kobenaxie commented on #503
@Magic-Bubble @ZhuoranLyu what is label in you experiment, english chars or words ?

[2018-12-14 02:53] Magic-Bubble commented on #503
@kobenaxie using the default config, 5000 unigrams

[2018-12-14 02:57] ZhuoranLyu commented on #503
default config. @kobenaxie

[2018-12-14 03:08] Magic-Bubble commented on #503
The padding will be masked in an batch, maybe it is not the key point for this issue. @ZhuoranLyu

[2018-12-14 03:43] ShigekiKarita commented on #489
I'm working on prototype on transformer. https://github.com/ShigekiKarita/espnet/blob/pytorch-transformer/espnet/nets/beam_search.py

I think it is possible to share the almost all part of `BeamSearch` between chainer and pytorch if `prune` and `init_state` functions are implemented separately.

[2018-12-14 11:10] Ruhewang commented on #500
i just met the same problem. Could you tell me how you fixed it? thank you

[2018-12-14 11:12] Ruhewang commented on #500
Do i need to install Kaldi toolkit separately, then set to path to Kaldi?

[2018-12-14 12:33] Ruhewang commented on #392
could you tell me how do you solve the symlinks problem?

[2018-12-14 13:54] sw005320 commented on #500
If you simply follow one of the installation instructions in https://github.com/espnet/espnet, you'll fix the issue.

[2018-12-14 19:36] gtache commented on #503
I'm not sure if that's the case here, but it could be simply due to the fact that [having a bigger batch size means in general poorer results](https://stats.stackexchange.com/questions/164876/tradeoff-batch-size-vs-number-of-iterations-to-train-a-neural-network).

[2018-12-15 15:16] ShigekiKarita opened #504 "[Info] Tensorboard-like experiment browser prototype"
As suggested in #483 by @gtache, some people including me want tensorboard integration. Because I found that tensorboard integration with chainer reporters can be hell, I made tiny flask based web app, which explore `espnet/egs/**/exp/results` and report something useful for me.

demo: https://shigekikarita.github.io/espnet-browser/
repo: https://github.com/ShigekiKarita/espnet-browser/tree/v0.0.1

[2018-12-16 09:48] Fhrozen commented on #504
Thank for contribution. I am using it to check the progress of the experiments.
It will be better if you put the version of python. I tried with python 2.7 and I got indent errors. Python 3.6 has no problem.
Is the implementation for mainly python3.6?

[2018-12-16 09:50] ShigekiKarita commented on #504
Yes, this heavily uses f-string in python3.6 https://www.python.org/dev/peps/pep-0498/

[2018-12-17 02:35] Ruhewang commented on #500
thank you, the problem fixed. i found the cause is that an4/ars1/utils file vanishes accidentally. I just redo the installation then everything goes fine.

[2018-12-17 03:17] kobenaxie commented on #489
what's the difference of beam search between E2E model and Transformer ? I realize your new beam-search in transformer .

[2018-12-17 10:40] Ruhewang opened #505 "Error: stop at stage1 Feature generation"
Hi, I'm total a newbie of ASR. Thank you for sharing such great toolkit sincerely. But there comes a problem when i strictly follow the instructions step by step.
In command `source venv/bin/activate && python check_install.py` , everything goes well. But when i try examples with `$ ./run.sh --backend chainer`, here comes error
`stage -1: Data Download`
`local/download_and_untar.sh: an4 directory

[2018-12-17 14:45] gtache commented on #505
Hello, could you post the content of the exp/make_fbank/test/make_fbank_pitch_test.1.log file ?

[2018-12-18 02:47] Ruhewang commented on #505
yep. of course.
`# paste-feats --length-tolerance=2 "ark:compute-fbank-feats  --verbose=2 --config=conf/fbank.conf scp,p:exp/make_fbank/test/wav.8.scp ark:- |" "ark,s,cs:compute-kaldi-pitch-feats --verbose=2 --config=conf/pitch.conf scp,p:exp/make_fbank/test/wav.8.scp ark:- | process-kaldi-pitch-feats  ark:- ark:- |" ark:- | copy-feats --compress=true --write-num-frames=ark,t:exp/make_fbank/test/u

[2018-12-18 06:21] #291 closed

[2018-12-18 10:49] Ruhewang commented on #505
thank you for the reply
`your_espnet_root/tools/kaldi/src/featbin` does contain copy-feats.cc and paste-feats.cc.
and the `path.sh` in `egs/an4/asr1` is exactly same as yours

personal hypothesis:  In `path.sh` file, i don't find that we export `my_kaldi/src/featbin` path to any environment variable. So it leads to `copy-feats: command not found`? (it's just a silly guess, i know it must be much m

[2018-12-18 11:42] gtache commented on #505
It's not good if it only contains .cc files, it means that they haven't been compiled. My `ls` output looks like this
![2018-12-18_12h34_14](https://user-images.githubusercontent.com/14289171/50151489-520c6b00-02c1-11e9-916c-68633dcc8e83.png)
To install kaldi, go to :
- kaldi/tools/extras, run check_dependencies.sh and check that everything is okay
- kaldi/tools, run `make OPENFST_VERSION=1.6.9 -j

[2018-12-18 12:11] Ruhewang commented on #505
i got it,i didnt compile cc file to executable file. Thank you for the generous help. it works now.

[2018-12-18 13:03] #505 closed

[2018-12-19 02:18] GaofengCheng opened #507 "Is this a bug in splitjson.py?"
Under python3.7 the splitjson.py will break down, at least under my setup.

Should this line: https://github.com/espnet/espnet/blob/master/utils/splitjson.py#L47
be:     utt_id_lists = np.array_split(np.array(list(utt_ids)), args.parts) ?

[2018-12-19 10:36] gtache commented on #507
Yes, the splitjson on master only supports Python2, however the new utils scripts on the v0.3.0 branch should support Python3 too.

[2018-12-19 14:16] sw005320 commented on #494
I'm actually not sure about this. @kan-bayashi, do you have any comments? If this is true, we can avoid to use this.

[2018-12-19 14:17] kan-bayashi commented on #494
I followed the Shigeki’s manner to implement test codes.
So @ShigekiKarita may have some comments.

[2018-12-20 09:04] Ruhewang opened #509 "Language model training time"
Hi
I'm trying to train a ASR model of 100-hrs-librispeech data with 1 GPU, and mainly follow the `run.sh` script in `egs`.
However, in Stage 3, the training of the language model `librispeech-lm-norm` has already taken me 8 hrs and there is no sign to stop. I wonder that is it normal? Should i keep waiting.
best regard
Ruhe

[2018-12-20 09:31] Ruhewang commented on #509
oh, just found that i can check it in train.log. it estimates three days to train the language model. Is it because my CPU is too slow? cuz I dint even enter stage 4 to train network.

[2018-12-20 14:58] sw005320 commented on #509
RNNLM training for the Librispeech takes long time (3-4 days). You can reduce the training data or only use the transcriptions.

[2018-12-21 01:37] #509 closed

[2018-12-21 11:01] Ruhewang commented on #322
Dear sw005320
Sry for disturbing again, I ran the Stage 0,1,2 & 5 with the trained model above. But in decoding process, it comes error in  decode.1.log:
`# asr_recog.py --ngpu 0 --backend pytorch --recog-json dump/dev_clean/deltafalse/split32utt/data_unigram2000.1.json --result-label exp/train_960_vggblstm_e3_subsample1_2_2_1_1_unit1024_proj1024_d1_unit1024_location1024_aconvc10_aconvf100_mtlalph

[2018-12-23 01:30] wbgxx333 opened #510 "multi_head_multi_res_loc attention type decode error"
hi,
   when i use the multi_head_multi_res_loc attention type,the training is ok.but decode is error.and is
 File "/*/espnet/espnet/asr/asr_pytorch.py", line 464, in recog
    nbest_hyps = e2e.recognize_batch(feats, args, train_args.char_list, rnnlm=rnnlm)
  File "/*/espnet/espnet/nets/e2e_asr_th.py", line 515, in recognize_batch
    y = self.dec.recognize_beam_batch(hpad, hlens, lpz, recog_args,

[2018-12-24 02:59] Magic-Bubble commented on #503
I changed the optimizer from Adadelta to Adam, but the convergence seems too slowly! Have you got some other ideas from other people's report?

[2018-12-25 09:11] kan-bayashi commented on #510
Hi @wbgxx333.
Sorry for late reply.
This is fixed in #481.
Could you test this patch?

[2018-12-26 16:03] #434 closed

[2018-12-27 12:21] #141 closed

[2018-12-28 04:00] shanguanma opened #513 "AttForwardTA attention type training error"
HI,
Although AttForwardTA class in ESPnet does not have this option in the note mechanism type, I will add it to espnet/nets/e2e_asr_th.py as follows.

 elif args.atype == 'att_forward_transition_agent':
            self.att = AttForwardTA(args.eunits, args.dunits, args.adim,
                                    args.aconv_chans, args.aconv_filts, args.odim)

I will add it to espnet/bin/asr_train.p

[2018-12-28 04:07] kan-bayashi commented on #513
Hi @shanguanma.
`AttForwardTA` is basically used in TTS recipe and it requires additional inputs.
(See original paper [link](https://arxiv.org/abs/1807.06736))

In the case of TTS, we use additional inputs as follows:
https://github.com/espnet/espnet/blob/b6ac2878f29cfe7ad1524cb702b34dc34eb27637/espnet/nets/e2e_tts_th.py#L722-L725

In the case of TTS, additional inputs are estimated acoustic featu

[2018-12-28 04:15] shanguanma commented on #513
Well, I have read this paper before, that is, under the current espnet configuration, this type of attention mechanism can not be used in ASR. This paper has two kinds of attention mechanism, but the first kind of AttForward, I put it in ASR, training is ok.

[2018-12-28 05:13] kan-bayashi commented on #513
Yes, currently we do not support `AttForwardTA` in ASR.
But if you modify the code as like tts, you can use it.

Yes, AttForward does not require additional inputs, and therefore, we can use it for ASR without modification.

[2018-12-28 05:52] shanguanma commented on #513
Thank you for your advice. I'll try to modify it briefly.

[2018-12-28 10:54] kamo-naoyuki opened #514 "Support PyTorch1.0"
Please add to the milestones of v0.3.0 #444 :

- Support PyTorch1.0: https://github.com/pytorch/pytorch/releases/tag/v1.0.0
- Remove deprecated warning from PyTorch

[code]

I haven't tested pytorch1.0 at all.

[2018-12-28 11:14] kamo-naoyuki commented on #514
Note: I won't help about this matter.

[2018-12-28 18:54] sw005320 commented on #514
Thanks for your suggestion.
I added them to our milestone #444.

[2018-12-28 20:38] sw005320 commented on #322
Sorry for my late response. I'm not completely sure from the log file, but it should be better to use 0.1.5 consistently. We have changed several data format.

Now, we're working on version 0.3.0 (#444), and could release the model with that version.

[2018-12-29 04:10] shanguanma opened #516 "Place support wav2letter by pytorch"
We hope you to add a variant of CTC (ASG)
reference: Letter-Based Speech Recognition with Gated ConvNets.
and gate cnn lm:
reference: Language Modeling with Gated Convolutional Networks.

[2018-12-29 11:14] kan-bayashi commented on #513
I will close this issue.

[2018-12-29 11:14] #513 closed

[2018-12-30 02:47] sw005320 commented on #516
Thanks for the suggestion.
Gated ConvNet is one of our future plans, but for now we set higher priorities on the transformer #465.

[2019-01-04 17:19] ShigekiKarita commented on #514
Or maybe we can use pytorch's own torch.nn.functional.ctc_loss instead. https://pytorch.org/docs/stable/nn.html#ctc-loss

[2019-01-04 17:20] ShigekiKarita commented on #494
As pytorch backend starts as optional, it did not import torch directly. However, we should not care now.

[2019-01-04 17:23] ShigekiKarita opened #524 "[Info] C++ backend"
As a proof of concept, I'm making a C++ backend of ESPnet during my winter vacation. It can read ESPnet's dump features (json/scp) and train neural networks. Here is tiny AN4 example. Have fun.
https://github.com/ShigekiKarita/thxx/blob/master/example/speech_recognition/main.cpp

[2019-01-07 08:14] cjjjy opened #525 "GPUs training freezes ?"
HI ,when I run the
   cd espnet-master/egs/an4/asr1
   ./run.sh --ngpu 1

The train.log 's content in exp directory seems did not change  after a long time.

but when i run the command without GPU
 cd espnet-master/egs/an4/asr1
   ./run.sh
it seems OK.

[2019-01-07 09:02] ShigekiKarita commented on #524
I found that current C++ backend is little bit faster than Python in training. (base transformer with minibatch 16)
- Python backend 5.0 iter/sec
- C++ backend 6.5 iter/sec

30% speed up!

[2019-01-07 18:53] 0x10cx0 opened #527 "CHiME4 Training"
Hi there,

I'm new to ASR and trying to use espnet to train models of CHiME4 dataset. I'm confused w/ the training data in the run.sh file. I appreciate it if anyone can help me understand.

My question is that: what are the **tr05_real_noisy**, **tr05_simu_noisy**, **train_si284** data mapping to the chime4 dataset? I can find “dt05_bth, dt05_caf_real, dt05_ped_simu, …” in the isolated folder and

[2019-01-08 13:46] ShigekiKarita opened #528 "Forum announcement"
We are planning many improvements in v0.3.0 https://github.com/espnet/espnet/issues/444 (e.g., modularization, hdf5, and transformer). I have discussed with @sw005320 and @Fhrozen where to announce this release. For example,
- Library forum: chainer, pytorch
- ASR community: kaldi
- General: reddit
If you know something else, please let us know.

[2019-01-08 13:47] sw005320 commented on #528
Thanks.
We should also announce it on facebook, twitter, linkedin.

[2019-01-08 14:09] sw005320 commented on #525
Can you check whether your GPU environments are appropriately configured by following https://github.com/espnet/espnet#step-3-installation-check?

[2019-01-08 14:12] sw005320 commented on #527
Yes.

[2019-01-10 02:54] lilian0118 opened #533 "mergejson.py out of memory"
I have 10,000h 16K audio data, when load all *.json in mergejson.py, it will out of memory. My computer only have 128GB memory, can we split big jsons to small piece? and run every small piece one by one?

[2019-01-10 04:35] kamo-naoyuki commented on #533
For my reference, can you tell me the number of lines of your feats.scp file?

[2019-01-10 04:44] lilian0118 commented on #533
2019-01-10 11:36:41,138 (mergejson:41) INFO: data/train_nodev/tmp-FO1kr/feat.json: has 43873228 utterances
2019-01-10 11:41:53,678 (mergejson:41) INFO: data/train_nodev/tmp-FO1kr/idim.json: has 43873228 utterances
2019-01-10 11:49:17,102 (mergejson:41) INFO: data/train_nodev/tmp-FO1kr/ilen.json: has 43873228 utterances
2019-01-10 11:56:36,597 (mergejson:41) INFO: data/train_nodev/tmp-FO1kr/odim.js

[2019-01-10 06:26] anushaprakash90 opened #534 "Poor synthesis quality for an Indian English dataset."
Hi,

I used ESPNet's Tacotron code (ljspeech/tts1 folder) to build a TTS using ljspeech dataset. Speech synthesis quality was ok. I am now training Tacotron on an Indian English dataset. The dataset is of duration 8 hours and sampling frequency of wave files is 48KHz. After making necessary changes in run.sh, the code ran without errors with a batch size of 8 (to avoid memory issues). But the synt

[2019-01-10 06:32] kan-bayashi commented on #533
I think this problem is the same as #449.
Could you try to use `--output-json` option for `mergejson.py`?

[2019-01-10 06:46] kamo-naoyuki commented on #533
@kan-bayashi This problem is not related to #449. That memory error happens when writing JSON file, but @lilian0118 met it when loading time.

[2019-01-10 07:19] kan-bayashi commented on #534
I’ve never tried 48k Hz setting, so I have no clear idea.ft
But I have some questions and suggestions:
- Have you ever checked the attention weights? Is it clear compared with LJspeech model?
   If there is not clear diagonal attention pattern, the model cannot generate speech.
   The point to check the training is success or not is that clear attention is appeared or not.
- In the case of 48k Hz,

[2019-01-10 07:26] SreeramGanji opened #535 "How are the WER values obtained"
Hi everyone
Sorry for asking a noob question, I am new to ESPNET.
If i understand it correctly, we are modelling characters throughout the ASR pipeline and thus it makes sense to obtain Character Error Rate as output. But I have noticed that we also get WER values in result.wrd.txt . How is the mapping from CER to WER in the toolkit? I would really appreciate if anybody can help me with the approp

[2019-01-10 07:31] kan-bayashi commented on #535
In the case of English, the words in sentence are separated with <space>.
The target characters of character-based E2E model includes <space>, so we can easily convert the sequence of characters into that of words.
e.g., T H I S <space> I S <space> A <space> P E N . -> THIS IS A PEN.

[2019-01-10 07:41] kan-bayashi commented on #534
I also recommend that at first, build 24k Hz setting with downsampled data in order to check that the reason of poor quality is comes from a small amount of training data.

[2019-01-10 10:30] anushaprakash90 commented on #534
Hi Tomoki,

Thanks for your reply. I will perform experiments as you suggested and see what happens. I checked the attention weights for the Indian English data. There is no clear attention at all.

I heard that you got ESPNet working for Japanese. If possible can you give me specifications about the dataset, like duration of data, sampling frequency, and specific parameters of the code that you t

[2019-01-10 12:35] #535 closed

[2019-01-10 13:53] sw005320 commented on #533
@lilian0118, thanks for the report.
I'm curious why the number of utterances is so large (43,873,228).
For example, in the Librispeech cases (~1000 hours), the number of utterances is 281,241. If you use the spontaneous speech, the number of utterances tend to be larger than the read speech one, but I feel that yours is still too large.
There might be some problems in the data preparation.

But, r

[2019-01-10 18:27] yonasdw opened #536 "KeyError: u'ilen' with the an4/asr1 setup"
I’ve tried to run the ‘an4/asr1’ setup. While the data preparation and feature generation stages work fine, network training returns error as shown below. Tried to debug what KeyError: u'ilen'
is, but I didn’t fix it yet. Do you have any idea? thanks in advance!

/espnet/egs/an4/asr1$ sudo ./run.sh --ngpu 1 --backend pytorch
stage -1: Data Download
local/download_and_untar.sh: an4 directory alread

[2019-01-10 18:30] yonasdw commented on #536
The log says:
# asr_train.py --ngpu 1 --backend pytorch --outdir exp/train_nodev_pytorch_blstmp_e4_subsample1_2_2_1_1_unit320_proj320_d1_unit300_location_aconvc10_aconvf100_mtlalpha0.5_adadelta_sampprob0.0_bs30_mli800$
# Started at Thu Jan 10 19:10:46 CET 2019
#
2019-01-10 19:10:46,424 (asr_train:187) WARNING: CUDA_VISIBLE_DEVICES is not set.
2019-01-10 19:10:46,424 (asr_train:193) INFO: python pa

[2019-01-10 19:18] sw005320 commented on #536
I just tested it but it's working in my environment. I'm curious about why it says `cp: cannot stat 'data/train_nodev/utt2num_frames': No such file or directory`, as I did not observe this message.

[2019-01-11 04:37] yonasdw opened #537 "Babel datasets error"
I’m working on babel datasets to create a network trained on Amharic and Swahili and tests on both. I’ve added a lexicon for both languages and edited the lexicon related paths in the lang.conf file in /espnet/egs/babel/asr1/conf.

./run.sh --langs "307 202" --recog "307 202" --ngpu 1 --backend pytorch, complains “ls: cannot access '/home/yonasd/1111/espnet/egs/babel/AMHSWA/data/307/data/raw_train

[2019-01-11 06:14] lilian0118 commented on #533
@sw005320 , thanks for you kind reply.
Because I have 10,000 hours audio data, and I also run perturb_data_dir_speech_3way.sh on this dataset.
I also trained on Kaldi, I believe the data is all right.

[2019-01-11 15:17] sw005320 commented on #537
Did you get the Babel data (e.g., Swahili https://catalog.ldc.upenn.edu/LDC2017S05), and correctly set the paths in https://github.com/espnet/espnet/blob/master/egs/babel/asr1/conf/lang.conf?

[2019-01-11 16:14] sw005320 commented on #533
I see. Then, it happens. Thanks to try such large-scale data to ESPnet. This has to be solved then.

[2019-01-12 00:15] kan-bayashi commented on #534
For Japanese TTS, we use JUST corpus (~10 hours, 48k Hz).
https://arxiv.org/pdf/1711.00354.pdf
It is general to perform resampling to 24k Hz or 22.05k Hz at first, (I’ve never seen 48k Hz setting E2E-TTS).
In some studies of Japanese E2E-TTS, the network setting is the same as original one, but using extra symbol about pronunciation is often used to improve the pronunciation.

[2019-01-14 04:19] anushaprakash90 commented on #534
I downsampled the data from 48 kHz to 24 kHz and trained the model. The synthesis quality is slightly better compared to the previous quality, but is still poor and attention is also not clear (attached). I have now increased the reduction factor to see if attention is captured.  A couple of questions:
1) What values did you change for feature extraction, especially n_fft and n_shift for a samplin

[2019-01-14 06:20] fatihkiralioglu opened #543 "TTS training recipe"
Hi,
I'am new to ESPNet and i wonder where can I get TTS training recipe.
Thanks, Best Regards.

[2019-01-14 09:07] fatihkiralioglu commented on #543
ok, i have found it, it is in espnet-master\egs\ljspeech directory.

[2019-01-14 09:07] #543 closed

[2019-01-14 12:13] xuhan1202 opened #545 "TypeError: expected string or Unicode object, NoneType found"
I tried to save the whole net model with function torch.save(model, path) (I know it maybe not the best way to save model, but it is more convennient for my work). But it doesn't work and comes to error like this:

  File "/net/ageha/storage5/hanxu/espnet/egs/an4/asr1/../../../espnet/bin/asr_train_ts.py", line 238, in <module>
    main()
  File "/net/ageha/storage5/hanxu/espnet/egs/an4/asr1/../../

[2019-01-15 23:11] sw005320 commented on #545
I don't know exactly what happens, but we have been struggling with python 2.7 unicode issues and some of our previous issues/PRs may help you to solve it. https://github.com/espnet/espnet/search?q=unicode&type=Issues

[2019-01-15 23:20] kan-bayashi commented on #545
Did you use our prepared torch_save or torch_snapshot?

[2019-01-15 23:36] kan-bayashi commented on #534
I think in the case of 24kHz the same setting is OK (n_fft=1024, n_shift=256).

Sorry, I have no idea about the network size.
I have tried to change only feature extraction, reduction_factor, and attention type.

BTW, how did you clean your transcription?
(In the case of ljspeech, the transcription is really clean)

[2019-01-16 01:11] xuhan1202 commented on #545
It seems that the pickel.dump(obj) can't save object which is in NoneType.

The prepared torch_save or torch_snapshort have no problem. But it is not the most convenient way fot my work to save the model in this way.

[2019-01-16 01:17] kan-bayashi commented on #545
Do you want to save `trainer` object?
`torch_save` is almost same as `torch.save`, so you can save the model with `torch.save`.
https://github.com/espnet/espnet/blob/c6b78d73eee35c2116d19d24a8ccbb03653c6749/espnet/asr/asr_utils.py#L364-L373

But if you want to save `trainer`, you cannot use `torch.save` directly.
https://github.com/espnet/espnet/blob/c6b78d73eee35c2116d19d24a8ccbb03653c6749/espnet

[2019-01-16 01:57] xuhan1202 commented on #545
I think I don't need the trainer.
But if I torch_save(), I need to import a network with the same architecture before I load the model because it only save the state. I will need to load several network with different architectures in my work. So it is not convinient.

[2019-01-16 05:56] anushaprakash90 commented on #534
The transcription was cleaned previously, by manual checking. Text is at the sentence level and contains few punctuation marks.

[2019-01-16 08:01] xuhan1202 commented on #545
I will try to use python3, thank you.

[2019-01-16 16:18] sw005320 commented on #444
Hi all, HDF5 extension seems to be working and I'm thinking of merging this v.0.3.0 to the master in a month.

I just want to list the ongoing items that I want to include to v.0.3.0
- Transformer: @ShigekiKarita (and @Fhrozen) is working on it, and we could get his PR in a week, and possibly merge it in two weeks
- Beam search interface: again @ShigekiKarita is working on it. This may be only use

[2019-01-16 18:51] sw005320 commented on #533
Yes, this seems to be an easy solution for now.

[2019-01-16 20:00] 0x10cx0 commented on #527
Thanks for the reply.

I notice in the code that "Additionally use WSJ clean data. Otherwise the encoder decoder is not well trained". Any comments on this? Why do we need the clean data?

[2019-01-16 20:37] sw005320 commented on #527
This is probably, because, during joint optimization, the attention, and the decoder network training easily gets collapsed by the noises, while the corresponding HMM-based alignment, lexicon, and language model in the hybrid system are separately processed without being affected by noises. Then, we found that mixing clean speech data can well regularize the attention and decoder networks.

[2019-01-16 21:04] #527 closed

[2019-01-16 21:33] yonasdw commented on #537
thanks Shinji! As I couldn't find the Amharic corpus in both LDC and IARPA, I tried to use the datasets available in http://www.openslr.org/25/ and set all the necessary paths in lang.conf. But sudo ./run.sh --langs "307 202" --recog "307 202" --ngpu 1 --backend pytorch, keeps failing. Have you tried the setup with non-Babel languages? Or do you've any idea where I could get the Amharic (IARPA-bab

[2019-01-17 01:40] kan-bayashi commented on #534
I see.
I think it requires a lot of iterations to learn attention.
So maybe it is needed to set a large epochs than usual.

[2019-01-17 08:13] fatihkiralioglu opened #549 "ljspeech synthesis from snapshot"
Hi,
Is there a separate synthesis script for ljspeech training? There is a decoding and synthesis stage at the end of the training. It would be great if there is a separate script for synthesizing custom text using a given snapshot.
Best Regards.

[2019-01-17 08:34] kan-bayashi commented on #549
That is nice but currently there is no such a script.
I will consider to implement it.

[2019-01-17 08:35] #549 closed

[2019-01-17 12:52] sw005320 commented on #537
I haven't tried it. @creatorscan, @m-wiesner, do you have some comments?

[2019-01-18 01:53] creatorscan commented on #537
@sw005320 , Martin has replied to  @yonasdw  by email to obtain Amharic corpus. Hope it solves the issue. Thanks.

[2019-01-18 02:53] m-wiesner commented on #537
I think what you'll want to do is write a separate ./local/prepare_data.sh for the new set of data you are hoping to combine. Check local/setup_languages.sh to see what sorts of directories are assumed to be created in local/prepare_data.sh so that your script conforms to that.

We really only wrote the prep script with the BABEL languages in mind and it will require more tweaking than just settin

[2019-01-21 09:32] b-flo opened #556 "Attention, LM and decoding parameters"
Hi,

 I'm currently re-doing some experiments using only attention (mtlalpha=0.0, ctc_weight=0.0) and I came across a similar problem as in #135 : using a language model leads to increased WER/CER, with an high number of insertions compared to deletions. However there are some differences :

- Without a LM my best results are with a wide beam and no decoding parameters. Tuning any coverage terms (

[2019-01-21 13:56] ErnstTmp opened #557 "Inference"
Hello,
thank you very much for creating ESP-Net, this is great!!!

We have trained a model on LibriSpeech, and now I would like to due inference on real sentences (WAV-Files). Can you point to a resource how this can be done or give me a short outline what I need to do?

Thanks and kind regards
Ernst

[2019-01-21 20:53] sw005320 commented on #557
We developed ESPnet for the research purpose and did not spend so much efforts on such cases.
The simple answer is that we still follow our `run.sh` as follows:
1. Make a data directory based on your real sentences in the stage 0.
2. Perform feature extraction in the stage 1
3. Make a `data.json` file with the data directory and feature file (scp) information in the stage 2
4. Perform inference in

[2019-01-21 20:59] sw005320 commented on #556
Could you share your complete report? I want to figure out what happened in more details with these results.

[2019-01-21 21:07] ErnstTmp commented on #557
Thank you very much for your fast answer, it is very helpful.
I will try as you suggest!
Kind regards
Ernst

[2019-01-21 21:07] #557 closed

[2019-01-22 01:17] kamo-naoyuki opened #558 "Python3 incompatible codes in egs/*/local"
[code]

are still incompatible with python3.

I can change all of them 2/3 compatible, but this is related to the development policy.

How do we write any policy in Readme.md or plan to throw away python2, as [numpy](https://docs.scipy.org/doc/numpy-1.14.1/neps/dropping-python2.7-proposal.html) or [pandas](https://pandas.pydata.org/pandas-docs/stable/install.html)?

(In my opinion)
we have to supp

[2019-01-22 01:41] sw005320 commented on #558
Thanks for the suggestion.
I'm still hesitating because these are simply copied from Kaldi. If there are some update in the Kaldi, we may have some conflicts due to our own changes. Also, we may need more work if we also try to maintain these local scripts, since local scripts are highly depending on their tasks and corpora, and these coding styles are very different. But maybe i'm wrong
Sorry for

[2019-01-22 16:04] sw005320 commented on #558
I agree with this idea of gradually changing it.
1st season change is a minimal change, but greatly contributes to avoid confusions.
Could you work on it then?

[2019-01-23 00:19] vjdtao opened #559 "network training failed on CTC"
I run egg/csj/asr1, and failed on the stage 4, network training. exp/train_nodup_chainer_vggblstm_e4_subsample1_2_2_1_1_unit1024_proj320_d1_unit1024_location_adim320_aconvc10_aconvf100_mtlalpha0.5_adadelta_sampprob0.0_bs32_mli800_mlo150/train.log shows as follows, but not very informative. I'd really appreciate if anyone help resolve it

[code]

[2019-01-23 02:36] kamo-naoyuki commented on #558
O.K, I'll work for "1st season" anyway. As far 2nd, I'll discussed at that time, perhaps it is not necessary for local/*.py.

(Is "1st season" strange in English?  1st step?)

So, should I change the shebang of all local/*.py?
I think some scripts are python2/3 compatible with confidence, for example,` ljspeech/local/**.py` may be compatible, but I don't know which one is compatible or not.

[2019-01-23 06:57] kamo-naoyuki commented on #558
I noticed that Kaldi's local  already became python2/3 compatible.

https://github.com/kaldi-asr/kaldi/pull/2925
https://github.com/kaldi-asr/kaldi/blob/master/egs/voxforge/s5/local/make_trans.py

[2019-01-23 10:49] b-flo commented on #556
Sorry for the delay.
You can find below results for some tests I did using attention-only model. I'll update it later, I currently can't access all my directories as we have some network issues in my lab.
If you want I can send you by email decode logs (with verbose=1) for different decoding, recipe details, extra informations, some fix I tried, etc. Just tell me what you want!

| Beam | RNNLM | L

[2019-01-23 14:09] sw005320 commented on #558
I see. Then we can just copy it.

[2019-01-23 14:24] sw005320 commented on #559
warpctc may not be correctly installed. Please check https://github.com/espnet/espnet#step-3-installation-check

[2019-01-23 14:31] sw005320 commented on #556
Which task are you working on, and which data are you using to train RNNLM?
Also, please send email to me with logs.

[2019-01-23 14:59] b-flo commented on #556
I'm currently doing an analysis of several end-to-end SR approaches for French language using the broadcast news corpora ESTER and EPAC. The sentences from the training set (reconstructed from segments) and slightly augmented with data from other works are used to train the RNNLM.
Note that I also made, with the same data, a 3-gram and a RNNLM for a phone-based system to compare with the 3-gram pr

[2019-01-23 15:54] #436 closed

[2019-01-23 17:38] vjdtao commented on #559
Here is the output of installation check, but it looks fine.
[code]

[2019-01-23 19:07] sw005320 commented on #559
Hmm. It seems to be similar to the problem in https://github.com/espnet/espnet/issues/270. Could you check your installation again?

[2019-01-23 19:51] vjdtao commented on #559
It seems to be similar. I just simply followed the step 2-A) installation with compiled Kaldi, and the Makefile is under the tools/ directory. I'm not sure where I did incorrectly.

[2019-01-25 08:08] gtache commented on #559
@vjdtao I'm using 9.2 so it shouldn't be the problem. Have you tried simply rebuilding warp-ctc and chainer-ctc ?

[2019-01-25 11:30] b-flo commented on #556
Hi,

 I still can not access some of my directories but I sent some logs to your John Hopkins' email address.
Thanks for your help.

[2019-01-25 15:53] vjdtao commented on #559
@gtache to rebuild warp-ctc and chainer-ctc, are the following command lines correct?
[code]

[2019-01-25 22:12] sw005320 commented on #556
That's interesting project. Yes, please send them (normal one and one with RNNLM (w=0.3) are fine) to my JHU address.

[2019-01-26 01:58] kan-bayashi opened #561 "Development plan of TTS recipes"
@kan-bayashi and @takenori-y plan to improve TTS recipes.
Action items are as follows:
- [x] Add Japanese TTS recipe using JSUT corpus #569
- [x] Add other language recipes using M-AILABS speech dataset #562
- [x] Replace libspeech with libriTTS
- [x] Add instant decoding script (generate a wav file  from a given text) #549 #871
- [ ] Integrate neural vocoder
- [ ] Add another types of neural voco

[2019-01-28 20:08] hirofumi0810 commented on #444
@sw005320 Is it possible to include pure machine translation modules to v.0.3.0?
I'm ready to send a PR and show results on fisher callhome spanish recipe.

[2019-01-28 20:10] sw005320 commented on #444
This is great. Yes, you could make a directory `egs/XXX/mt1` and include it.

[2019-01-29 17:30] kelvin-pfp opened #564 "New recipe for THCHS30 database"
I'm trying to perform ASR experiment on Chinese. Although there is a HKUST recipe, I cannot access the database.
Would there be any plan on adding a new recipe for another Chinese (Mandarin) database such as THCHS30, please?

[2019-01-29 18:25] sw005320 commented on #564
We can work on making a recipe upon request, but `THCHS30` seems to be too small database (30 hours) to build end-to-end ASR.

[2019-01-29 18:46] kelvin-pfp commented on #564
Yes, I understand that but I just want an available sample for experiment.

[2019-01-30 04:32] liuchenbaidu opened #565 "don,t have model h5py when docker run example"
don,t have model h5py when docker run example
cd docker
sh -x run.sh --docker_gpu 0 --docker_egs ami/asr1 --docker_folders /export/corpora4/CHiME4/CHiME3 --dlayers 1 --ngpu 1
raceback (most recent call last):
  File "/espnet/egs/ami/asr1/../../../utils/splitjson.py", line 20, in <module>
    from espnet.utils.cli_utils import get_commandline_args
  File "/espnet/espnet/utils/cli_utils.py", line 4,

[2019-01-30 06:16] liuchenbaidu commented on #565
using docker images ,the images don't have h5py

[2019-01-30 13:48] sw005320 commented on #444
We have several pending items, but I think it's time to make v.0.3.0 to the master branch and we can continue the rest of items (e.g., @gtache's items, @hirofumi0810's MT, @kamo-naoyuki's pytorch 1.0 and @simpleoier's separation). But I still want to include the transformer (prototype is fine), and I want @ShigekiKarita to work on this.

[2019-01-31 00:03] kamo-naoyuki commented on #514
Completed at #553
I also removed deprecated warning from PyTorch.

[2019-01-31 00:03] #514 closed

[2019-01-31 12:56] sw005320 commented on #565
This should be fixed by #568.

[2019-01-31 12:56] #565 closed

[2019-01-31 13:01] kan-bayashi commented on #534
@anushaprakash90

I and @takenori-y have tried to build several language datasets (Japanese, German, Italy).
If you are still trying, maybe following tips will help you.

1. 48k setting can be trained with only 10 hours training data.
@takenori-y have made Japanese TTS recipe using JSUT dataset (#569), this recipe tries to build Japanese TTS model with 10 hours of 48k audios.
Without any change of

[2019-01-31 23:15] nshmyrev commented on #564
There are [Surfingtech](http://openslr.org/38/) and [Aishell](
http://openslr.org/33/) and [Primewords](
http://openslr.org/47/), all available on OpenSLR.

[2019-01-31 23:20] sw005320 commented on #564
Thanks.
Aishell seems to be good. I'll play with it.

[2019-02-01 01:33] sw005320 commented on #564
I just finished to port the Kaldi aishell recipe to the ESPnet recipe. I summarized the procedure of how we port the Kaldi recipe to the ESPnet recpe. Please follow this instruction when you want to create a new recipe:
https://github.com/espnet/espnet/wiki/How-to-port-the-Kaldi-recipe-to-the-ESPnet-recipe%3F

[2019-02-01 01:35] sw005320 commented on #564
See #571

[2019-02-01 03:08] kelvin-pfp commented on #564
Thank you very much! I will try it later.

[2019-02-01 06:54] Ruhewang opened #572 "How long it takes for training librispeech example"
Hi everyone
I've download a english language model, and want to try the 1000hr librispeech example. But i only have one 1080GPU, does anyone know how long it going to take for the end2end training.

i really appreciate that if anyone can share your training experience about the training time, number of GPU, dataset size and the model you use. And then i can estimate my training time roughly

[2019-02-01 13:09] SreeramGanji opened #573 "Character sequence to word mapping algorithm"
Hello everyone.
It would be really helpful if someone could please help me understanding the algorithm used for mapping character sequence to words while calculating WER.
While decoding, it may happen that one of the characters in a word is deleted/substituted/inserted. Thus simple mapping of character sequence to words will give rise to many <unk>s and hence a large WER. I guess that there must a

[2019-02-01 15:31] b-flo commented on #556
Hi @sw005320,

I am retraining some of my models as my latest experiment demonstrated great performances (+3% WER difference with subword units, joint ctc-attention model and RNNLM against chain model and 62,3K lexicon + word 3-gram LM from LIUM)
I'll sent you the new logs if I observe some differences using my retrained attention-only model!

[2019-02-02 15:29] kamo-naoyuki opened #575 "[Discussion] The configuration system for experiments"
This is a discussion for the general configuration for experiments. This topic is also related to #551 #555

Epsnet depends on `argparase` and `parse_options.sh` for configuration. This style works well only for a simple tool, but now espnet becomes a large project and is going to be more. I will also implement a big feature about dnn-frontend for asr.
I think now is the time to reconsider the sty

[2019-02-02 16:39] LukasDrude commented on #575
Sacred has been our tool of choice for a few years now. The main benefits we make use of are:

- [File Storage Observer](https://sacred.readthedocs.io/en/latest/observers.html#file-observer): Most importantly, this logs the config, the code actually ran with. This simplifies reconstruction.
- Arbitrarily deep config: We pull the config of all child objects into the config such that the resulting l

[2019-02-04 20:41] sw005320 commented on #572
It would be 3-4 days with GeForce GTX 1080 Ti, and 7> days with Tesla K80. All with a single GPU.

[2019-02-04 20:45] sw005320 commented on #573
We don't have a such mapping. The WER is computed by simply mapping a character sequence with the space symbol to the corresponding word sequence in most cases. In the WSJ recipe, we have advanced word-level decoding by considering a word constraint (see https://github.com/espnet/espnet/blob/master/egs/wsj/asr1/run.sh).

[2019-02-04 20:58] sw005320 commented on #575
That looks really cool. I was actually feeling about the limitation of the current ways of configurations, especially when I reviewed the PR of #551. We had to add a lot of options everywhere and this makes the python binary files (handling argparse options) and run.sh complicated, as @kamo-naoyuki pointed out. Also there are some certain requests of using config based configuration handling. This

[2019-02-06 09:03] gtache commented on #575
I'd never heard of sacred, but it seems to be a lot better than the current implementation (you can see that I tried to at least simplify the argparse part in my refactoring branch, but that didn't help with the run.sh files), and it seems that we would just have modify one file (`generate_x_conf`) to change an argument, which would be amazing!
So if it delivers like expected it would be a lot bet

[2019-02-06 17:33] sw005320 commented on #575
@gtache and @kamo-naoyuki, do you think custom layer configurations (e.g., #551) can be included? We may need to define the model definition configuration with a little bit more structured ways.

[2019-02-06 17:35] sw005320 commented on #564
I did not do any tuning, but the aIshell number is quite competitive to the one in Kaldi.
https://github.com/espnet/espnet/blob/v.0.3.0/egs/aishell/asr1/RESULTS#L1

[2019-02-07 00:52] kamo-naoyuki commented on #558
Solved at #567

[2019-02-07 00:52] #558 closed

[2019-02-07 10:15] anushaprakash90 commented on #534
@kan-bayashi,

Sorry for the delayed reply, I missed your post.

I am still working on this. I will try trimming silence at the beginning and end of the audio files and change to atype=forward_ta. But, I don't understand what attention_type is forward_ta?

[2019-02-07 10:23] kan-bayashi commented on #534
`forward_ta` is Forward Attention with Transition Agent proposed in following paper.
https://arxiv.org/abs/1807.06736

[2019-02-07 10:28] anushaprakash90 commented on #534
Thanks I will go through the paper.

[2019-02-08 16:06] sw005320 commented on #444
We'll merge v.0.3.0 branch to the master soon as a beta release. I still want to ask some of you to finish new functions (@simpleoier, @ShigekiKarita, @hirofumi0810) for the official release.

[2019-02-08 23:42] #473 closed

[2019-02-10 01:24] #480 closed

[2019-02-10 08:55] #475 closed

[2019-02-10 17:55] #476 closed

[2019-02-11 12:41] SujathaSIyer commented on #572
I tried training on a single 1080Ti GPU on LibriSpeech 100 hour clean data with the default hyper parameters specified in the code with PyTorch as backend. Took me 3.5 days for the training to complete.

[2019-02-12 05:23] #474 closed

[2019-02-12 08:42] wbgxx333 commented on #510
yes, it test ok.but use the multi_head_multi_res_loc attention type is worse than default.

[2019-02-12 08:42] #510 closed

[2019-02-12 11:37] gtache opened #582 "<unk> and non-lang-symbols"
I was wondering if leaving \<unk\> out of non-lang-syms makes sense. The problem right now is that \<unk\> is tokenized as `< u n k >` by data2json.sh.
![2019-02-12_12h22_04](https://user-images.githubusercontent.com/14289171/52632073-d265db80-2ec0-11e9-9641-7bfd1ab71a52.png)
You can see that if text2token.py isn't supplied with \<unk\> as a nls, it will be split, and other OOV words will be mappe

[2019-02-12 22:57] sw005320 commented on #582
Thanks for raising an issue.

This would be better, as it makes the whole recipe consistent. But I'm not sure whether it solves the issue or not. Could you test it with your case?

[2019-02-13 03:20] Ruhewang commented on #572
Thank you !!

[2019-02-13 05:44] SujathaSIyer commented on #572
@Ruhewang One more thing, this includes training the RNN Language model too. The ASR training part takes 45-47 minutes per epoch. And in the code, the number of epochs is set to 10. So the ASR training (excluding the LM training) took around 7.5 hours

[2019-02-13 07:47] b-flo commented on #582
Hi,

I faced the problem for some experiments a little time ago and I supplied `<unk>` as nlsyms as @gtache described. I can confirm it worked for me.

[code]

However I'm still wondering if it make sense to do a one-to-one mapping from word level to character level for unknown words?
On the same note, for BPE I had to remove `<unk>` when training model (it was not recognized and we can't specify

[2019-02-13 08:04] gtache commented on #582
Yes, that solves it as @b-flo said. I can work on a PR for this.
And I confirm the same problem with BPE.

[2019-02-15 08:44] nipengmath commented on #470
I found that batchsize=64 is slower than batchsize=0, so what is the reason, can you give me some insight please, thanks.

[2019-02-15 08:52] nipengmath opened #586 "recognize_beam_batch is much more slower than recognize_beam"
Hi~
When I run asr_recog.py, I find that it's much more slower when I set batchsize=64 than batchsize=0.
what's the reason about this problem, can you give me some advise, thanks.

[2019-02-15 19:55] sw005320 commented on #470
@nipengmath, what kind of tasks did you use?
Also, this batch decoding has significant benefits when we use GPU. Please also consider it.

@mn5k, again if the problem comes from the CTC and other parts get some speed benefits, we could need to find some solutions (e.g., partly disable the parallelization of CTC).

[2019-02-18 05:05] marvinzh commented on #236
same issue, anyone got a solution?

[2019-02-18 14:35] #412 closed

[2019-02-20 14:10] sw005320 commented on #444
I just merged the v.0.3.0 branch to the main branch as a beta version :)
I'd like to thank all (@gtache, @hirofumi0810, @kan-bayashi, @kamo-naoyuki, @ShigekiKarita, @takenori-y, @simpleoier, @Fhrozen, @sas91, @mn5k, @JaejinCho. @Xiaofei-Wang, @jnishi, @Magic-Bubble).

There are still pending issues and we also need to fix bugs to make a stable version.
I really appreciate if you test some recipes

[2019-02-20 15:04] sw005320 opened #591 "RNN transducer"
There are several requests for the RNN transducer implementation. For me, transformer #555 is higher priority, but since Google spends a lot of efforts on this direction (mainly due to the online processing I believe), we could also consider to implement it. I welcome any comments and suggestions. Also, it would be great if someone volunteer to help the development.

[2019-02-20 15:22] sw005320 commented on #482
Check #581

[2019-02-21 09:02] b-flo commented on #591
Hi,

I started working on a RNN implementation two months ago for my current analysis but I discarded it as I couldn't reproduce state-of-art performances and lacked time. I wanted to work on it again starting mid-march so I would gladly help the development!

[2019-02-21 09:59] Fhrozen commented on #444
@sw005320, I am rebuilding the docker containers to support v.0.3.0. There are some issues, as the mecab installation (PR done).
I will recommend to split the mecab label from the Makefile into 2-3 labels > mecab, swig, mecab-python. I just got the problem during the installation of mecab-python3, but the current label erase and rebuild from mecab.
I will continue with the containers once the PR i

[2019-02-22 14:16] sw005320 commented on #591
This is great!

[2019-02-23 01:50] Fhrozen opened #597 "Issues v0.3.0 - Backend Chainer + Verbosity"
I have been testing the docker containers with the AN4/ASR1 recipe before uploading them, and found that the backend chainer is not working, neither in cpu or gpu mode.  So I tested it without docker.
It seems that it freeze at some point of the kaldiio execution
![bug](https://user-images.githubusercontent.com/11988996/53279919-00b4a800-3758-11e9-86ea-d1ebfa554a4d.png)
I write "it seems" because

[2019-02-23 01:58] sw005320 commented on #597
I observed the same issue (but I was too busy to report it).
@kamo-naoyuki, could you take a look at it?

I agree with you. We may not need detailed command lines.

[2019-02-23 02:02] sw005320 commented on #597
I personally feel the training and data preparation parts are OK. The recognition part is a bit too much.

[2019-02-23 03:42] kamo-naoyuki commented on #597
I could reproduce it, I'll take it tater.

It' o.k for me to decrease the verbosity level as you like.
Basically kaldi/espnet style is likely to cause a bug because of using multiple wrappers of shell scripts, so printing command line arguments is helpful for debugging.
If I need to do, I reduced the the other parts such as

[code]

[2019-02-23 04:08] kamo-naoyuki commented on #597
O.K. This is nothing related to kaldiio. I didn't see recent updating, but maybe caused by sortagrad?

https://github.com/espnet/espnet/blob/61bda035819e8fd3750f09b12e44694e61241f0d/espnet/asr/chainer_backend/asr.py#L300-L308

The list creation caused takes much times. I don't know the intension.
@gtache Is this a bug?

[2019-02-23 04:51] Fhrozen commented on #597
If you check on pytorch, the list is not included, and works fine.
https://github.com/espnet/espnet/blob/61bda035819e8fd3750f09b12e44694e61241f0d/espnet/asr/pytorch_backend/asr.py#L302
Both backend should not be similar, or just chainer requires lists?

[2019-02-23 09:32] brijmohan opened #598 "VAD on fbank_pitch features"
Hi @sw005320 @kan-bayashi ,

I want to `compute_vad_decision` on the features obtained from `make_fbank_pitch.sh`. Could you please help me set the proper configurations in conf/vad.conf?

Here are the default configurations for mfcc features.
[code]

Any idea how to deduce right values for fbank_pitch features?

[2019-02-23 15:14] gtache commented on #597
Yes, I forgot to fix this one. The thing with chainer is that it requires one iterator per gpu (apparently, I just adapted the code when implementing sortagrad).
I guess when using `list` it will try to load the whole iterator and gets eventually killed by the OS due to OutOfMemory.
However you said that it doesn't work with CPU ? That's strange given that it shouldn't execute this code in this ca

[2019-02-23 19:42] sw005320 commented on #598
I haven't played with it.
How about simply using `make_fbank.sh` or `make_mfcc.sh`?
We'd not have big difference with this change.

[2019-02-23 21:52] #442 closed

[2019-02-25 13:54] Fhrozen commented on #597
Ok, I just tested one of the containers using gpu and chainer, and worked fine.
However, IMO the verbosity in the decoding part is a little much:
[code]

[2019-02-25 13:54] #597 closed

[2019-02-26 06:16] zh794390558 opened #605 "Install error"
What can do with this error?

[code]

[2019-02-26 06:29] tfygg opened #606 "Download failed in the installation of mecab-ipadic-NEologd"
install-mecab-ipadic-NEologd] : Make mecab-ipadic-NEologd
[make-mecab-ipadic-NEologd] : Start..
[make-mecab-ipadic-NEologd] : Check local seed directory
[make-mecab-ipadic-NEologd] : Check local seed file
[make-mecab-ipadic-NEologd] : Check local build directory
[make-mecab-ipadic-NEologd] : create /home/luban/tongfeiyang/speech/espnet/tools/mecab/mecab-ipadic-neologd/libexec/../build
[make-mecab-

[2019-02-26 07:04] zh794390558 commented on #605
[code]
this work for cuda10 on my host

[2019-02-26 10:28] SujathaSIyer opened #607 "Unable to train on multi GPU"
I tried training on 2 GPU's (GeForce 1080Ti) with the same hyper parameters as specified in the code on the LibriSpeech 100 hour clean dataset using the attention mode and Pytorch as backend. Both the GPU utilisation is always 0% and there is no progress in training even after 2-3 hours.
Pytorch version : 0.4.1
I tried with Pytorch 1.0 too and I faced the same problem again.
PS : Training on singl

[2019-02-26 10:33] zh794390558 commented on #605
[code]

[2019-02-26 10:51] zh794390558 commented on #605
Need gcc >= 4.9 , using this to update gcc on centOS7
[code]

[2019-02-26 10:53] zh794390558 commented on #605
https://github.com/RcppCore/Rcpp/issues/770

`conda install gxx_linux-64`
provides x86_64-conda_cos6-linux-gnu-c++

[2019-02-26 10:59] zh794390558 commented on #605
[code]

[2019-02-26 11:07] zh794390558 commented on #605
too hard to install

` make KALDI=/packages/kaldi-master PYTHON_VERSION=3.6 `

[2019-02-26 11:14] zh794390558 commented on #605
download ` pytorch-1.0.0-py3.6_cuda9.0.176_cudnn7.4.1_1.tar.bz2` and `mkl-2019.1-144.tar.bz2` manual.

[2019-02-26 12:56] sw005320 commented on #607
@kan-bayashi, could you reply? I haven't used multiple GPUs for a while....

[2019-02-26 13:46] kan-bayashi commented on #607
I will test it.

[2019-02-26 13:46] kan-bayashi commented on #606
Could you test the patch #608?

[2019-02-26 14:44] zh794390558 commented on #605
`cd chainer_ctc && chmod +x install_warp-ctc.sh && ./install_warp-ctc.sh` error when `scl enable devtoolset-3 bash`

[code]

[2019-02-26 15:22] kan-bayashi commented on #607
I tested with csj recipe using default conda setting (python 3.7).
It looks woking correctly. GPU utilization of both gpus is around 80~90 %.

[code]

Which environment do you use? (e.g. conda with python3)
And could you attach your train.log?

[2019-02-26 16:33] SujathaSIyer commented on #607
# Started at Wed Feb 27 05:51:34 IST 2019
#
2019-02-27 05:51:35,098 (asr_train:169) WARNING: Skip DEBUG/INFO messages
2019-02-27 05:51:36,806 (e2e_asr_th:257) WARNING: Subsampling is not performed for vgg*. It is performed in max pooling layers at CNN.
/home/Sujatha/ESPNet/espnet/tools/venv/local/lib/python3.6/site-packages/torch/nn/parallel/data_parallel.py:24: UserWarning:
    There is an imbala

[2019-02-27 01:57] zh794390558 commented on #605
[code]

[2019-02-27 02:33] zh794390558 commented on #605
[code]
Does this matter?

[2019-02-27 03:31] kan-bayashi commented on #605
torch version is OK. This is my bug. I will fix it.
cupy version should be the same as the chainer version (v5.0.0)
But if you want to use pytorch backend, maybe it is OK.

[2019-02-27 06:08] zh794390558 commented on #605
@kan-bayashi Thanks.

[code]

[2019-02-27 08:08] zh794390558 opened #612 "vocab"
https://github.com/espnet/espnet/blob/cb3e479b33d9d23eb58f6d8f30ed207dcd20846b/utils/data2json.sh#L77

https://github.com/espnet/espnet/blob/afc458e988aabeff1ede336e443f491e9d326d04/egs/librispeech/asr1/run.sh#L181

Does this conflict?

I think the vocab maybe like below:
[code]

[2019-02-27 14:29] zh794390558 commented on #605
@kan-bayashi If I have kaldi , pytorch with conda install on my host,  I only want to use pytorch backend, which target under Makefile should be installed?

Which targets is only for egs ?

[2019-02-27 15:26] kan-bayashi commented on #605
You should run `make KALDI=<your_kaldi_path>`.
Our scripts uses both chainer and pytorch even in the case of `backend=pytorch`.
And our scripts assume that python environment should be located in `tools/venv`.
So you should not use your conda located in other places.

[2019-02-27 16:09] kan-bayashi opened #616 "Conversion of AttributeDict with vars() returns unexpected results"
I found a bug.
In training phase, `train_args` is `argparse.Namespace`.
So `vars(train_args)` convert into dict as follows.

[code]

However, in the testing phase, loaded `train_args` is `AttributeDict`.
Therefore, `vars(train_args)` return different results.
[code]

This causes unexpected behavior in following line.
https://github.com/espnet/espnet/blob/fb1cbd605c5fefc6e82c829cafc01840918c90c4/es

[2019-02-27 16:18] gtache commented on #616
Well it looks like it is @simploier [code](https://github.com/espnet/espnet/commit/86cd16bd05934ee8791698906ed7a38624e486c4), so I can't really answer that. But given that we have access to `args` here args.ctc_type makes more sense to me yes.

[2019-02-27 16:21] gtache commented on #616
My bad, it's @kamo-naoyuki [in fact](https://github.com/espnet/espnet/commit/95dec2c6d167cd289f51d054f4b610681175f3a8), @simpleoier only merged it I think

[2019-02-28 00:11] kamo-naoyuki commented on #616
I see. It may not necessary to use `get()`, I'll fix it.

So, I found that my previous result at #553 is not correct for this bug.
(Using warpctc at training phase,  while using pytorch.CTC at test phase.)

[2019-02-28 01:10] kan-bayashi commented on #616
Thanks, @kamo-naoyuki.
But in testing phase, `ctc_loss()` is not called.
Just use `log_softmax` and `CTCPrefixScore`, so your results are correct, I think.

https://github.com/espnet/espnet/blob/1e1a92822ce2e50f95e705afc56e6c7308e6d1b7/espnet/nets/pytorch_backend/e2e_asr.py#L317-L318
https://github.com/espnet/espnet/blob/fb1cbd605c5fefc6e82c829cafc01840918c90c4/espnet/nets/pytorch_backend/ctc.py#L

[2019-02-28 01:14] #616 closed

[2019-02-28 01:14] kan-bayashi commented on #616
Fixed #617

[2019-02-28 02:14] zh794390558 commented on #605
Thanks, I see.

[2019-02-28 08:26] shubham-IISc opened #619 "replicating baseline results for WSJ"
Hi everyone! I am trying to replicated wsj baseline results with character LM.
Default attention type in the script is "location". But, in RESULTS file, can someone please explain what does the highlighted part mean? Is it multi-head attention with 4 heads?
![image](https://user-images.githubusercontent.com/35381101/53552052-87a2bf80-3b60-11e9-9f21-b1b947287d29.png)

I am achieving WER-9.9 with ba

[2019-02-28 09:04] brijmohan commented on #598
Ok. As David Snyder suggested, if I use `--use-energy=true` with fbank_pitch features, I might get desired results with the `sid/compute_vad_decision` script. I will test this and get back with results.

Thanks!

[2019-02-28 12:49] sw005320 commented on #616
@simpleoier told me that we could also solve it by
[code]
to
[code]

[2019-02-28 13:09] sw005320 commented on #619
I used the location. This degradation might be due to
1. several internal changes
If you test it with the old version (e.g., https://github.com/espnet/espnet/commit/9b61729d2b2147fc43bc14e4b172d71601aebe94#diff-cd0f4b445a379e6e191f6fcae30782b5), you could reproduce the same result.

2. just due to some randomization. It is very hard to re-produce the same result with this range of the training dat

[2019-02-28 18:08] shubham-IISc commented on #619
Thanks @sw005320!! that was helpful!

[2019-02-28 18:08] #619 closed

[2019-03-01 05:44] #605 closed

[2019-03-01 13:19] #504 closed

[2019-03-02 07:58] #489 closed

[2019-03-02 10:01] coalboss opened #621 "Error while install mecab-python3"
while **PATH=$(PWD)/swig/bin:$(PWD)/mecab/bin:$(PATH) pip install mecab-python3**, there is a error:

1. Collecting mecab-python3
2.   Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x7fe4446514a8>: Failed to establish a new connection: [Errno 101] Netwo

[2019-03-04 06:46] anushaprakash90 commented on #534
@kan-bayashi

I was finally able to get it working for Indian English. Had somehow missed the fact that the text is case sensitive. We also cleaned up the data. Thanks a lot for your help.

[2019-03-04 06:46] #534 closed

[2019-03-04 10:15] EgorLakomkin commented on #621
Same thing

[2019-03-04 11:13] kan-bayashi commented on #621
I will check it. Could you tell your environment?

[2019-03-04 11:33] EgorLakomkin commented on #621
Mine is Ubuntu 16.04

[2019-03-04 11:45] kan-bayashi commented on #621
@coalboss @EgorLakomkin Could you test this patch #622?

[2019-03-04 13:28] coalboss commented on #621
I use this method to install mecab successfully.
sudo apt-get install mecab mecab-ipadic-utf8 libmecab-dev swig
pip install mecab-python3

[2019-03-04 13:30] #621 closed

[2019-03-04 13:58] EgorLakomkin commented on #621
@kan-bayashi worked like a charm, thank you!

[2019-03-04 19:14] #507 closed

[2019-03-06 09:33] ZhishengWang commented on #606
same error occured on ubuntu16.04, tested on patch #622：
[make-mecab-ipadic-NEologd] : Check local seed directory
[make-mecab-ipadic-NEologd] : Check local seed file
[make-mecab-ipadic-NEologd] : Check local build directory
[make-mecab-ipadic-NEologd] : create /home/zswang/githubs/espnet/tools/mecab/mecab-ipadic-neologd/libexec/../build
[make-mecab-ipadic-NEologd] : Download original mecab-ipadic

[2019-03-06 09:35] kan-bayashi commented on #606
I could find the reason from this error.
Could you run `make` without `-j` option?

[2019-03-06 13:46] brijmohan commented on #598
After using `--use-energy=true` in `conf/fbank.conf` I am able to use `sid/compute_vad_decision` as expected. Closing this issue. Thanks!

[2019-03-06 13:46] #598 closed

[2019-03-06 13:47] kan-bayashi commented on #606
I checked NEologd installation code, It uses google drive to download files.
I doubt that you cannot use google drive.

[2019-03-06 17:00] karanMal opened #626 "Decoding Results"
After decoding is done there is a file generated results.wrd.txt in which there are two rows Sum/Avg and mean like in the following screenshot
![image](https://user-images.githubusercontent.com/15909866/53898923-15017a80-405f-11e9-9af3-16ee65dd0808.png)
So which of the value should be considered if I want to post my results somewhere.

[2019-03-07 02:32] ZhishengWang commented on #606
Thanks. Google service is blocked in my country, I will try to figure out if this is the reason for the issue. Belowings are the logs realted to NEologd installation when run with **make mecab.done**:

cd mecab && git clone --depth 1 https://github.com/neologd/mecab-ipadic-neologd.git
Cloning into 'mecab-ipadic-neologd'...
remote: Enumerating objects: 75, done.
remote: Counting objects: 100% (75/7

[2019-03-07 06:32] kan-bayashi commented on #606
Actually, the installation of `mecab.done` is needed for only the Japanese TTS recipe `egs/just/tts1`.
So maybe you can skip it.
I made minimum installation in Makefile (#628).
It will help you.

[2019-03-07 12:17] sw005320 commented on #626
Please use the `Sum/Avg` line.

[2019-03-07 14:33] fanlu commented on #591
May [https://github.com/HawkAaron/warp-transducer/tree/master](url) [https://github.com/awni/transducer](url) will be helpful.

[2019-03-07 15:40] karanMal commented on #626
Okay, thanks.

[2019-03-07 15:40] #626 closed

[2019-03-08 01:59] ZhishengWang commented on #606
The installation succeeded withou installing mecab, thanks @kan-bayashi !

[2019-03-08 02:03] kan-bayashi commented on #606
I will close this issue.

[2019-03-08 02:03] #606 closed

[2019-03-08 06:54] kan-bayashi commented on #586
Duplicated #470

[2019-03-08 06:54] #586 closed

[2019-03-08 06:55] #564 closed

[2019-03-09 06:26] #503 closed

[2019-03-11 02:11] vyouman opened #633 "wsj_mix cracks in min_pit_process if report_cer and report_wer set to be True"
I want to do some experiments on WSJ0_mix, but it seems that it cracks at the end of an epoch.
Here is the exception in the main training loop.

Traceback (most recent call last):
  File "/home/user/vyouman/espnet/tools/venv/lib/python3.7/site-packages/chainer/training/trainer.py", line 318, in run
    entry.extension(self)
  File "/home/user/vyouman/espnet/tools/venv/lib/python3.7/site-packages/c

[2019-03-11 02:14] vyouman commented on #633
Here is the configuration.

# Started at Fri Mar  8 12:55:55 HKT 2019
#
2019-03-08 12:55:56,087 (asr_train:214) WARNING: CUDA_VISIBLE_DEVICES is not set.
2019-03-08 12:55:56,087 (asr_train:220) INFO: python path = (None)
2019-03-08 12:55:56,087 (asr_train:223) INFO: random seed = 1
2019-03-08 12:55:56,088 (asr_train:240) INFO: backend = pytorch
2019-03-08 12:55:56,939 (deterministic_utils:24) INFO

[2019-03-11 02:23] vyouman commented on #633
There are 1517 minibatches. I checked the training log. It seems OK with the first 1500 minibatches, but cracks almost at the end of an epoch.

This is part of the log in the exp/tr_pytorch_vggblstmp_sde1_rece2_subsample1_2_2_1_unit1024_proj1024_d1_unit300_location_spatrue_aconvc10_aconvf100_mtlalpha0.2_adadelta_sampprob0.2_bs10_mli800_mlo150_seed1_lsmunigram0.05_delta/results/log.

[2019-03-11 08:21] luckmoon opened #635 "Is it possible to including kaldi's wfst decoding paradigm to fasten the decoding phrase?"
maybe should tune the wfst because there is no lexicon, context or HMM, but att and ctc.

[2019-03-11 12:40] dbj15 opened #636 "Resume acoustic model training"
Hi,

My neural network training (stage 4 in run.sh) in ESPnet using Chainer back-end was stopped because of a gpu machine crash problem. The training was stopped at the 13th epoch out of 15 epoches.

I see that there is an option --resume to continue the training in run.sh and asr_train.py. However, it is not clear how I can pass this option to the run.sh script to continue the training. I have be

[2019-03-11 14:02] b-flo commented on #636
Hi,

You have to specify the path to the snapshot file. It should look like this :

`--resume ${expdir}/results/snapshot.ep.5`

[2019-03-11 14:24] dbj15 commented on #636
It works.
Thank you very much.

[2019-03-11 14:53] sw005320 commented on #633
Thanks for the report. We did not test in such a case, and there may be some issues. I'm also thinking that some wrong behaviors may happen with multiple GPUs. @simpleoier, could you also test it with your environment by making report_cer and report_wer True?

[2019-03-11 15:48] sw005320 commented on #635
It is possible, but I'm not sure we can perform some efficient decoding with it. The attention decoder is based on an autoregressive model, which considers whole history in an utterance without the Markov assumption. The beam search with the attention decoder is not input-time-synchronous. We may require a lot of adjustment due to these issues. It is possible to combine it with CTC though.

[2019-03-12 10:27] simpleoier commented on #633
It's my fault. I didn't test report_cer and report_wer for multi-speaker case. The ``PIT'' computation of cer and wer was incomplete. I already create a PR to correct it.

[2019-03-12 12:09] sw005320 commented on #633
Thanks @simpleoier for your quick action!
@vyouman, could you test it with the new version?

[2019-03-12 13:09] #433 closed

[2019-03-13 02:31] vyouman opened #640 "JSONDecodeError raised in wsj_mix decoding step"
There's something wrong with the json IO format in the decoding step. I checked the generated json in the tmp directory. The generated result_r*h*.wrd.json files are normal, but the format of all_result.wrd.json is kind of weird. Maybe there is some bug in mergeresultjson.py. Could you please check it?

[2019-03-13 02:44] sw005320 commented on #640
@simpleoier, could you check it?

[2019-03-13 05:10] simpleoier commented on #640
Thank you for pointing out these errors. It is because the encoding/decoding of json string is incompatible with Python 3.x. I have fixed it.

[2019-03-13 06:37] vyouman commented on #633
@sw005320 @simpleoier I tested with the new version with 2 GPUs and set  2 minibatches (N) to use for debugging with report_cer and report_wer set to be True. The program is so slow that I suspect that if it is working. Maybe it's not a good choice to set report_cer and report_wer in the training procedure.  It is very time-consuming. I started the program at 11:44 am but the program is still runn

[2019-03-13 07:15] #640 closed

[2019-03-13 07:17] vyouman commented on #640
Thanks for your quick response.

[2019-03-13 07:35] eastonYi opened #642 "cannot reach the published performance"
I run the HKUST and Librispeech recipes, but achieved the performances  far behind the published ones. I didn't use rnnlm since it costs much time. I wander whether it is normal to get there results since LM decoding cannot bring great improvement.

HKUST's  final validation log dring training:
[code]

HKUST's final results in stage 5:
[code]

Librispeech's final validation log during training:
[c

[2019-03-13 07:46] eastonYi commented on #642
By the way, I used pytorch 1.0.0 as the backend and build-in ctc for traing. Other settings are preserved as default.

[2019-03-13 11:57] sw005320 commented on #642
Thanks for the report. Could you run it with warp_ctc? I still found some strange behaviors in the build-in CTC. (The Librispeech attention loss is very high and this may not be due to the warp_ctc.) I just want to make sure this is a same setup. Also, did you use multiple GPUs? This also changes the performance.

[2019-03-13 11:59] sw005320 commented on #633
Thanks for the report. This function is a tentative implementation, and I recommend not to use it.

[2019-03-13 22:22] #322 closed

[2019-03-14 01:40] vyouman commented on #633
Thanks for your help!

[2019-03-14 01:40] #633 closed

[2019-03-14 01:54] zh794390558 commented on #612
@sw005320 Does it ?

[2019-03-14 06:31] eastonYi opened #647 "cannot wrapctc error for pytorch 1.0"
I found this error when training the model with wrapctc under pytorch 1.0.0
[code]
It is used in `espnet` as blew:
[code]
However, I checked the up-to-date [wraper-ctc api](https://github.com/SeanNaren/warp-ctc/blob/pytorch_bindings/pytorch_binding/warpctc_pytorch/__init__.py) and
[code]
It seems that espnet-0.3.0 is incompatible with wraper-ctc.

[2019-03-14 06:33] eastonYi commented on #642
Thanks for your replay! I used 4 gpus for training. I found error when using warper-ctc so I avoided using it. I put this in https://github.com/espnet/espnet/issues/647#issue-420852361

[2019-03-14 06:36] kan-bayashi commented on #647
How did you install pytorch 1.0.0?
We change to warp-ctc version according to pytorch version during `make`.
https://github.com/espnet/espnet/blob/fc9037e432cbd496850b497af0e73d6525485ba0/tools/Makefile#L68-L81

So if you manually update pytorch version after setup, it will cause some errors.

[2019-03-14 06:41] eastonYi commented on #647
I install Pytorch externally from it's official website. I will try the corresponding warp-ctc version. Thanks for your remind!

[2019-03-14 07:50] #647 closed

[2019-03-14 11:03] stefbraun commented on #642
Also pytorch integrated CTC may or may not be deterministic on GPU(the algorithm may be chosen dynamically for each batch), while warp-ctc is deterministic on GPU (to the best of my knowledge).
See issue [17798](https://github.com/pytorch/pytorch/issues/17798)

[2019-03-14 12:01] sw005320 commented on #642
OK, this explains some of them. Multiple GPU corresponds to use larger minibatch, which often degrades the performance in the RNN training. If we use asynchronous update, we may avoid the issue, but we don't implement it yet. Also, again, I don't recommend to use the build-in CTC for now. In addition to the above deterministic issue, I feel like the current implementation does not correctly handle

[2019-03-14 23:30] sw005320 commented on #612
Sorry that I don't fully get the point. Our usual vocab set is like that
[code]
And then, internally, we'll add two additional symbols (which corresponds to the comment of "+2 comes from CTC blank and EOS ")
[code]

[2019-03-15 02:37] vyouman commented on #642
@sw005320 So if I want to use a minibatch of N using n gpus, I should set the batchsize to be N/n then, right? I also found great performance degradation on WSJ_mix corpus using multi-gpu training with the default parameters.

[2019-03-15 03:13] #516 closed

[2019-03-15 03:24] kan-bayashi commented on #642
@vyouman Right. If you use N gpus,batchsize will be automatically changed to N * (original batchsize).
Basically, our recipe can be performed using a single gpu with 12GB memory.
So if you want to reproduce our results, we recommend to run the recipe with a single gpu.

And batch size have a larger effect for the performance especially in the case of small size task like wsj.

[2019-03-15 03:25] zh794390558 commented on #612
thanks, my fault , i think the last two symbols is <blank> and <eos>. Maybe adding doc of vocab is useful.

[2019-03-15 03:25] #612 closed

[2019-03-15 12:15] sw005320 commented on #612
Thanks. Will do.

[2019-03-15 13:46] sw005320 opened #650 "Development plan for v.0.4.0"
There are a lot of exciting on-going PRs.
I'm making an issue of summarizing development items for v.0.4.0.
Please let us know if you have any request for the major update.
If you guys are interested in helping the development, that is also great!

- [x] multichannel end-to-end #596
- [x] SpecAugment #734
- [ ] neural machine translation #563
- [x] transformer #555 #465 #690
- [x] transformer TTS

[2019-03-16 02:34] lixx0105 opened #652 "inference speed is really slow"
Hi there,

I've been testing ctc+attention joint method on AISHELL 1 CHINESE dataset recently. The WER result looks very good but the inference speed is really slow... like it takes 15sec to predict a 5sec long audio..
Can you kindly give some advice on this? Thanks a lot.

ps. i'm using pytorch and following the code in egs/aishell

[2019-03-16 04:40] #636 closed

[2019-03-16 04:40] #573 closed

[2019-03-16 04:41] #482 closed

[2019-03-17 08:35] vyouman opened #654 "Results not reproducible with a LM on wsj0_mix"
I used the default parameters of the script without training a language model because I don't have wsj1 transcriptions. I set the language model weight to be 0 and use spa. I used 1 gpu throughout the training and decoding steps with a batchsize of 10. But the result is far from the RESULTS given in this example. Does the language model matter that much in the wsj0_mix task? Do you have any idea?

[2019-03-17 08:43] vyouman commented on #654
Some of the log.

[2019-03-17 09:35] vyouman commented on #654
I observed a great performance drop during the training loop.
![Screenshot from 2019-03-17 17-22-33](https://user-images.githubusercontent.com/9965927/54488268-d4b1c000-48da-11e9-91f9-7d62c76f2138.png)

This is the validation log.
![Screenshot from 2019-03-17 17-35-04](https://user-images.githubusercontent.com/9965927/54488292-16426b00-48db-11e9-99a0-94ebb8dff031.png)

[2019-03-18 02:42] lixx0105 commented on #652
Hi,
i just did a quick test and found the speed per utterance is much faster if i reduce the #jobs.
Bigger OMP_NUM_THREADS also helps.
thanks.

[2019-03-18 03:24] kan-bayashi commented on #652
In the recipe, we decode recog set using 32 parallel jobs, so we limit OMP_NUM_THREADS=1.
If your machine has less than 32 threads, it is better to resuce #jobs.

Also, we provide gpu / cpu batch decoding.
It is much faster than usual decoding.
(But it has a problem in the case of large vocabulary size now #470)

[2019-03-18 04:01] lixx0105 commented on #652
@kan-bayashi Thanks for your reply. From your experience, what is RTF we can achieve for this joint decoding method?
My test shows that decoding with beam size 3 or 5 has roughly 1x RTF for the aishell case (4233 vocabulary size), does this make sense to you?
If I want to achieve 10x RTF, definitely I need to reduce the model size and most probably degrade the WER performance.

Thanks again.

[2019-03-18 12:49] sw005320 commented on #652
I observed the similar speed.

Or you can use GPU for decoding.
Making the decoder faster is one of our ongoing items.

[2019-03-19 07:07] lixx0105 commented on #533
hi @lilian0118 and @kamo-naoyuki
I plan to test espnet on internal large volume dataset and I believe I'm going to face the same issue as you pointed out.
After reading your comments, i think there're two problems here:
1. memory issue when try merge scp files into one json file
2. memory issue of loading a huge json file when we input this json file to asr train code

@kamo-naoyuki: problem 1 is

[2019-03-20 00:21] liuchenbaidu opened #656 "there is a problem in installation with compiled Kaldi"
when i run make KALDI=mykaldipath,it gives error. my pip version is 19.0.3.the python version is 2.7.15

Matplotlib 3.0+ does not support Python 2.x, 3.0, 3.1, 3.2, 3.3, or 3.4.
    Beginning with Matplotlib 3.0, Python 3.5 and above is required.

    This may be due to an out of date pip.

    Make sure you have pip >= 9.0.1.

    ----------------------------------------
Command "python setup.py

[2019-03-20 03:42] kan-bayashi commented on #656
Thank you for your report!
Did you use current master?
Now we use Makefile which uses conda with Python3.7 as default,
so if you run `make KALDI=<your_kaldi_path>`, it should be working.
(Maybe you run `make KALDI=<your_kaldi_path> PYTHON=<your_kaldi_path>` ?)

Anyway, we will fix matplotlib version for python2.

[2019-03-20 03:55] simpleoier commented on #654
The performance is not satisfactory without the LM. But from the acc and loss in the log, the model was trained moderately well.

[2019-03-20 06:30] liuchenbaidu commented on #656
i use a old v.0.3.0.and i find the version of python must be 2.7.15.

[2019-03-20 08:00] lixx0105 commented on #652
hi @sw005320 , thanks for your advice and I'll try GPU decoding.

[2019-03-20 12:40] lixx0105 opened #657 "How to save model within epoch"
hi,
I found the code only save model once per epoch. Can we do the evaluation and model saving after some training steps rather than after one whole epoch?

thanks.

[2019-03-20 15:48] vyouman commented on #654
Maybe it's my fault. The example script is not for wsj_mix, so I prepared wsj0_mix by myself. I found that the transcriptions I used to prepare the dictionary was wrong. I simply concatenated the text_spk1 and text_spk2 in the train set to generate the text file. Since there are repeated sentences in text_spk* files, the word counts are not accurate. I guess this leads to the performance degradati

[2019-03-20 17:46] #494 closed

[2019-03-20 22:14] sw005320 commented on #657
You can do it by changing the following line
[code]
to (e.g., every 100 training iterations)
[code]
in https://github.com/espnet/espnet/blob/master/espnet/asr/pytorch_backend/asr.py#L370

You can do the same thing for the evaluator by adding `trigger = (100, 'iteration')` in the argument of the CustomEvaluator

[2019-03-21 07:52] #652 closed

[2019-03-21 09:14] lixx0105 commented on #657
@sw005320 thanks, it works.

[2019-03-21 09:14] #657 closed

[2019-03-22 17:09] shinotk15 opened #659 "ami recipe: RuntimeError: The keys are mismatch"
In run.sh in the ami recipe, the following command is skipped in the default setting.
   if [ ! -d data/local/downloads ]; then
       local/ami_text_prep.sh data/local/downloads
   fi
But then, the following error occurs.
Error: File data/local/annotations/train.txt no found (run ami_text_prep.sh).

If we comment out the "if" condition and force the ami_text_prep.sh script is executed, data/local

[2019-03-23 00:37] sw005320 commented on #659
@kamo-naoyuki, can you check it?
I also have the same error
[code]

[2019-03-23 10:26] #524 closed

[2019-03-24 06:46] kamo-naoyuki commented on #659
@sw005320 Can you apply `validate_data_dir.sh` to data/ihm_train?
The feats.scp or text seems to have a problem. They must have same and sorted ids due to my recent changing.

[2019-03-24 07:22] kamo-naoyuki commented on #659
It is possible if the feature extraction was failed, then we need to use `fix_data_dir.sh`.

https://github.com/kaldi-asr/kaldi/blob/1ac8c922cbf6b2c34756d4b467cfa6067a6dba90/egs/wsj/s5/steps/make_fbank_pitch.sh#L170-L173

The duration time, i.e. 0218816 - 0218806 = 100ms, looks too short, but I'm not sure.

[2019-03-24 15:11] #525 closed

[2019-03-25 02:26] vyouman commented on #654
Recently, I rerun the experiment from the beginning with the language model pretrained with WSJ1 train_si284 transcription and external corpus used to train a language model provided by wsj1. In the last experiment without LM, I mixed the mixtures by myself using python. Since there is performance gap, I install matlab and use the merl tools to mix the speech. However, the performance is still far

[2019-03-25 02:30] vyouman commented on #654
tensorboard log:
![Screenshot from 2019-03-25 10-27-53](https://user-images.githubusercontent.com/9965927/54891565-c9692080-4ee8-11e9-8cce-59eb2115f53b.png)
![Screenshot from 2019-03-25 10-28-14](https://user-images.githubusercontent.com/9965927/54891568-ccfca780-4ee8-11e9-9b5c-725197d391aa.png)

[2019-03-25 02:33] vyouman commented on #654
LM log:

part of the train log:

[2019-03-25 02:41] vyouman commented on #654
The result of decoding.

Some worse decoding examples.
![Screenshot from 2019-03-25 10-37-49](https://user-images.githubusercontent.com/9965927/54891922-46e16080-4eea-11e9-9eb0-26720e732da0.png)
![Screenshot from 2019-03-25 10-39-17](https://user-images.githubusercontent.com/9965927/54891924-48ab2400-4eea-11e9-8233-58d1a9faddef.png)
And I wonder what does "*" mean in the decoding? Is it padding or

[2019-03-25 03:19] simpleoier commented on #654
The "*" means "Insertion" error!

[2019-03-26 20:00] #536 closed

[2019-03-27 12:18] sknadig opened #661 "AttributeError: 'list' object has no attribute 'repeat' in recognize_batch( ) because hlens is not a torch.tensor( )"
Linux ppc64le GNU/Linux
PyTorch  0.4.1
Ubuntu 18.04

In /espnet/espnet/nets/pytorch_backend/e2e_asr.py [line 355](https://github.com/espnet/espnet/blob/master/espnet/nets/pytorch_backend/e2e_asr.py#L355)
`y = self.dec.recognize_beam_batch(hpad, hlens, lpz, recog_args, char_list, rnnlm)`
throws an error `AttributeError: 'list' object has no attribute 'repeat'` during decoding.

If I convert the arr

[2019-03-27 12:41] sw005320 commented on #661
Thanks for the report!
Could you make a PR for this with the above comments?

[2019-03-27 21:25] sw005320 commented on #659
@shinotk15, can you confirm whether #660 fix your issue?

[2019-03-28 06:26] gentaiscool opened #662 "How to do multilingual training using your code?"
I cannot find any way to do multilingual training in your documentation. Is there any way to reproduce "Language Independent End-to-End Architecture For Joint Language and Speech Recognition" results using this code?

Thanks

[2019-03-28 06:30] kan-bayashi commented on #662
That is the recipe `egs/li10/asr1`, please check it.

[2019-03-28 06:50] gentaiscool commented on #662
I checked the code. Is it only concatenating all datasets? or you did some sampling in the training? Do you have any special argument for multilingual training?

[2019-03-28 07:02] khassanoff opened #663 "Computing oracle WER on N-best hypotheses list"
Hi All,

Is there any script that computes the oracle WER from the N-best list?

I have a 50-best list and want to know what is the minimum achievable WER.
I know how to compute oracle WER on KALDI (http://kaldi-asr.org/doc/lattices.html#lattices_operations_oracle),
but I need to compute it for N-best output generated by ESPNET.

Thank you,
Khassan

[2019-03-28 08:04] vyouman opened #664 "Is there any script to produce WSJ_mix dataset？"
It seems that the wsj_mix example only provides the scripts for generating the small dataset wsj0_mix but not the larger one, WSJ_MIX, used in the papers "Chang X, Qian Y, Yu K, et al. End-to-End Monaural Multi-speaker ASR System without Pretraining[J]. 2019" and "Seki H, Hori T, Watanabe S, et al. A Purely End-to-End System for Multi-speaker Speech Recognition[J]. 2018". But the RESULTS file give

[2019-03-28 08:08] kan-bayashi commented on #662
In the preparation, language code is added to the front of text and then all of data are concatenated.
I think the difference is only the use of language code compared with standard  e2e-asr training.
@sw005320 Is it right?

[2019-03-29 09:20] sknadig opened #665 "recognize_beam_batch throws an error AttributeError: 'list' object has no attribute 'view' because a_prev is None (fails for all coverage, location, multi_head variants)"
In [decoders.py#L457](https://github.com/espnet/espnet/blob/master/espnet/nets/pytorch_backend/decoders.py#L457) `a_prev` is not updated, it is always `None`.
This results in the [condition for handling list](https://github.com/espnet/espnet/blob/master/espnet/nets/pytorch_backend/decoders.py#L515) `if not isinstance(a_prev, list)` to be True always.
`att_w` will be a list for thest attention mech

[2019-03-29 15:33] sw005320 commented on #663
We don't prepare a such tool, unfortunately, but an edit distance computation module is included. You could compute the oracle WER by yourself by referring https://github.com/espnet/espnet/blob/a54a001dcc3a8797febbb9c332df17f03e9afdd5/espnet/nets/pytorch_backend/e2e_asr.py#L223 as an example.

[2019-03-31 18:52] sknadig commented on #665
For location_recurrent type attention, the return values are `return c, (w, (att_h, att_c))`
This needs to be handled separately.
[code]

[2019-04-01 05:03] kobenaxie opened #666 "Confusion about char-level LM or word-level LM ?"
For Librispeech dataset, what is the label unit, characters or words ?  And which kind of LM need to train ?

[2019-04-01 07:03] boeddeker opened #667 "Inconsistenant calculation of WER/CER"
I found two ways of calculating the CERs in espnet.
The first has problems with zero length reference transcriptions.
AFAIK is the second the way kaldi calculates the WER.

https://github.com/espnet/espnet/blob/a54a001dcc3a8797febbb9c332df17f03e9afdd5/espnet/nets/pytorch_backend/e2e_asr.py#L222-L225

https://github.com/espnet/espnet/blob/a54a001dcc3a8797febbb9c332df17f03e9afdd5/espnet/nets/pytorch

[2019-04-01 11:58] #666 closed

[2019-04-01 12:25] sw005320 commented on #662
The recipe does not even include the language code. This recipe simply combines the data directories obtained by `egs/voxforge/asr1/run.sh`, `egs/wsj/asr1/run.sh`, `egs/csj/asr1/run.sh`, and `egs/hkust/asr1/run.sh`.

[2019-04-01 12:28] sw005320 commented on #665
I see, thanks. @kan-bayashi, could you fix it? Probably better to add the test for this.

[2019-04-01 12:44] sw005320 commented on #667
Thanks. This must be done with the KALDI way.
@simpleoier and @takenori-y, could you fix this scoring part to compute it from the summation of all errors and chars.

@simpleoier, also `ref_words` in https://github.com/espnet/espnet/blob/a54a001dcc3a8797febbb9c332df17f03e9afdd5/espnet/nets/pytorch_backend/e2e_asr_mix.py#L318 should be `ref_chars`?

[2019-04-01 14:21] karanMal opened #668 "Training data size of csj"
in the script it is mentioned training data is 233 hrs in case of CSJ
![image](https://user-images.githubusercontent.com/15909866/55334413-d96b9c00-54b6-11e9-9ec3-3d52afddafe7.png)

But online it is mentioned that the data is around 600 hrs.
After calculating form utt2num_frames in folder train_nodup it is coming to be around 512hrs.

[2019-04-01 14:26] sw005320 commented on #668
Thanks. This is a typo when we copied it from the original Kaldi CSJ recipe. It should be ~500 hours.

[2019-04-01 14:30] karanMal commented on #668
Thanks for confirming.

[2019-04-01 14:30] #668 closed

[2019-04-01 14:45] gentaiscool commented on #662
@sw005320 for multilingual training, we don't need to do any sampling?

[2019-04-01 15:02] sw005320 commented on #662
Maybe better to do it, but I did not test it.

[2019-04-01 17:42] gentaiscool commented on #662
thanks

[2019-04-01 17:42] #662 closed

[2019-04-02 02:28] vyouman opened #669 "Tips on training"
I did experiments on wsj0_mix dataset but got worse results with the current recipe. I tried to change the default parameters (different initialization seeds and different scheduled sampling probs) but didn't improve so much. The WER of my current best model is 41.46. It's far from the result 25.40 in the published paper. Can you give me some tips on training the CTC/Attention model? Which paramet

[2019-04-02 06:20] shinotk15 commented on #659
Thank you for the update and I'm sorry for my late response.
I have confirmed that the "RuntimeError: The keys are mismatch at 64th line" has been solved.
The same level of WERs as the RESULT file is obtained.
When I run run.sh, I manually commented out "if [ ! -d data/local/downloads ]; then" condition.
I tested it on a CentOS7 machine with NVIDIA driver of version 410.78.

[2019-04-02 13:32] kobenaxie commented on #404
@creatorscan thanks ~

[2019-04-03 01:40] sw005320 commented on #669
@simpleoier, what is your validation accuracy? As far as I remember, you got more than 90%. The training seems to be wrong then.

[2019-04-03 01:49] simpleoier commented on #669
Yes, I got nearly 90% (89.8% to be precise).

[2019-04-03 01:50] simpleoier commented on #667
OK, I will take care of this as soon as possible.

[2019-04-03 01:53] sw005320 commented on #669
OK, the difference is not so large than I expected. It may be decoding. @vyouman, what kind of LM are you using? Same with the recipe one?

[2019-04-03 01:59] simpleoier commented on #669
Actually, we have discussed the LM thing before. The decoding results without the LM are also different between mine and hers. Her result is about 10% worse than mine, if I recall it correctly.

[2019-04-03 02:09] vyouman commented on #669
@sw005320 The 1000-unit word-level RNNLM as the recipe. The training corpus for the language model is training transcription of train_si284 and external LM training corpus provided by wsj1. The wer of the model without LM on the test set is about 51%.

[2019-04-03 02:11] sw005320 commented on #669
OK. I'll run the recipe to check it. It may take time.

[2019-04-03 03:29] #537 closed

[2019-04-04 00:31] kobenaxie opened #670 "How to use transfer learning ?"
https://github.com/espnet/espnet/blob/f7e3dbb8f1e011c41973c4c77403edf8ac684126/espnet/bin/asr_train.py#L182-L184

Hi, I can't find where the `--asr-model` arg is used, anyone do me a favor please ?

[2019-04-04 01:27] vyouman commented on #669
@sw005320 OK, I'll wait for your result. Thanks!

[2019-04-04 15:11] GabrielLin opened #671 "Difference between docker images"
There two types of docker in https://hub.docker.com/r/espnet/espnet/tags.
gpu-cuda-xxxxxxx
cuda-xxxxx

What are the difference? Thanks.

[2019-04-04 15:17] GabrielLin opened #672 "Github commit hash and docker tag"
Could you please add the Github commit hash to the tag of docker. I am afraid that time is not a good element to match the docker image to the Github version.

By the way, could you please tell me the current 20190321 docker image link to which commit of Github version? Thanks.

[2019-04-04 18:57] sw005320 commented on #671
@Fhrozen, could you answer it?

[2019-04-04 19:29] qmpzzpmq opened #673 "How use custom dnn model"
hi, can you guys told how to My custom dnn network？

[2019-04-05 00:26] Fhrozen commented on #671
@GabrielLin, `cuda-xxxxx` based images are intermediate images without ESPnet, `gpu-cuda-xxxxxxx` are the final images that are used for the egs.
I suppose the intermediate images should be removed from hub.docker to avoid this kind of problem.
I will clean up the hub in the next update.

[2019-04-05 00:33] Fhrozen commented on #672
@GabrielLin Could you please tell me where I am using time in the tag of docker. None of the tags in hub.docker uses time. The only moment the time tag are used is during docker run, so you can execute multiple docker images for the same example. I think this could be modified later.

Docker images are built after a large commit in git. Right now, all images were built with ESPnet v0.3.1

Let me k

[2019-04-05 02:46] GabrielLin commented on #672
Thanks for your reply. I meant that I can see the building time of docker images and those time might be used to match the Github commit version, though it is not a good method.

[2019-04-05 02:48] GabrielLin commented on #671
OK. Got it. Thanks.

[2019-04-05 02:48] #671 closed

[2019-04-05 02:59] vkothapally opened #674 "Run decoding on local cpu"
We have two machines, one has GPUs built in it with only 8 cores. On the other server, we have no GPUs but many computing nodes to speed up tasks. I was able to install Espnet successfully on the GPU machine and use it to train end-to-end architectures. However, it consumes a lot of my time to decode (which makes sense - Espnet doesn't use GPUs to decode and my machine has only 8 cores). So, I was

[2019-04-06 03:18] GabrielLin opened #675 "Python version in docker"
It seems that the default python version is 2 in docker. How to switch to Python 3? I am afraid that Python 2 is going to die within one year. Thanks.

[2019-04-06 13:42] #673 closed

[2019-04-07 12:49] Fhrozen commented on #674
If you want to install ESPnet in nogpu pc, you just only need to remove the cupy lines from Makefile.
as example you can check the Dockerfile that remove the cupy install to generate the CPU images:
https://github.com/espnet/espnet/blob/master/docker/prebuilt/devel/Dockerfile

[2019-04-07 12:55] Fhrozen commented on #675
It is true that the main runtime file install python2. This is only for kaldi.
If you access to the containers, activate venv and check the python version, it will show for all the containers that the version of python is 3.7.2.

It seems better to check the version of ubuntu and probably move to 18.04, given the deadline for python 2 is approaching.

Best.

[2019-04-07 12:57] Fhrozen commented on #672
I understand your point of view, but given that docker is supported for the last version it seems unnecessary. Anyway, is one more thing to concern about later for the implementation of docker environments.
Thank you for your advice.

[2019-04-08 09:40] GabrielLin commented on #672
OK. Thanks.

[2019-04-08 09:40] #672 closed

[2019-04-08 10:00] GabrielLin commented on #675
OK. Thank you @Fhrozen .

[2019-04-08 10:00] #675 closed

[2019-04-08 14:15] sw005320 commented on #674
Yes, if you remove the cupy lines you can install even with such machines, but maybe we can think of supporting the cpu only installation with Makefile options. @Fhrozen, could you make such options and corresponding documents?

@vkothapally, you could also enjoy the GPU decoding by using --ngpu 1 and --batchsize 8.

[2019-04-08 14:25] sw005320 commented on #670
Sorry, this option was added with some pending projects. If you want to perform transfer learning, you can check some ongoing PR (e.g., https://github.com/espnet/espnet/pull/563).

[2019-04-08 14:40] Fhrozen commented on #674
@sw005320 How should be this implemented? to disable cupy installation automatically or by user selection. In case of be automatically, I can move the commands from the dockerfile to makefile that disable cupy installation if nvcc is not detected or if it does not return a response. So there is no need for user to set any additional flag.

[2019-04-08 14:41] sw005320 commented on #674
A user selection is easier.

[2019-04-09 07:45] b-flo commented on #591
Hi,

 Sorry for the delay, I had to finish some papers and projects before working on the RNN Transducer. I'll start working on the implementation this week!

[2019-04-09 08:58] vyouman commented on #669
@sw005320 Hi, have you got the result? I've tried to tune other parameters (encoding units, encoding layers, lsm_weight, penalty and etc) last week, but it didn't make much difference.

[2019-04-09 12:00] sw005320 commented on #669
Not yet. The cluster was busy due to Interspeech deadline. I think I'll get the result in a day.

[2019-04-10 07:37] kan-bayashi commented on #656
Fixed in (#679)

[2019-04-10 07:37] #656 closed

[2019-04-10 07:37] kan-bayashi commented on #661
Fixed (#680)

[2019-04-10 07:37] #661 closed

[2019-04-10 07:38] kan-bayashi commented on #665
Fixed (#681)

[2019-04-10 07:38] #665 closed

[2019-04-10 17:39] sw005320 commented on #669
I got the result, which is a similar range to @vyouman's ones

[code]
The validation accuracy is `validation/main/acc": 0.8765130770576979`, and slightly lower than the on @simpleoier reported. This might be a bug in the training. I'm also concerning about the scoring part. @simpleoier, we have to fix this issue.

[2019-04-10 19:00] #559 closed

[2019-04-11 23:53] vkothapally commented on #674
Thanks a lot for the help. I was able to decode using GPU (I guess for now it is just limited to using a single GPU). Also, I edited the Makefile and checkinstall.py files to remove any cupy instances. It worked for me.

[2019-04-11 23:53] #674 closed

[2019-04-12 07:48] qmpzzpmq opened #682 "unmatch of two ctc loss in pytorch backend"
https://github.com/espnet/espnet/blob/32dc93735d5e4d3e5b7edef743784d1582ecae85/espnet/nets/pytorch_backend/ctc.py#L29

when default ctc reduction is true, which should means that is reducted, and it should be "mean" here

[2019-04-12 13:23] qmpzzpmq commented on #470
@sw005320 I still wondering. is the single GPU decoding work or not at librispeech script?

[2019-04-12 14:45] sw005320 commented on #470
The bottleneck above comes from the softmax computation with a large character set (e.g., BPE used in Librispeech). This can be efficiently (very fastly) computed by a GPU. GPU decoding could not have this issue.

[2019-04-12 14:56] sw005320 commented on #682
I just want to clarify. We intend not to perform "mean" across time but only across utterance. We keep not to normalize the cost function by the length. Does that "mean" works like that?

[2019-04-14 12:29] qmpzzpmq commented on #682
@sw005320 here is some description of two ctc_loss about "mean" and "sum": https://discuss.pytorch.org/t/ctcloss-performance-of-pytorch-1-0-0/27524/6

let me clear that, if `reduce` is set true here, which means warp_ctc computation is normalized not only in utterances (by size_average=True) but also in time (by length_average = reduction). Meanwhile, the built-in ctc is set as "torch.nn.CTCLoss(r

[2019-04-16 19:37] sw005320 commented on #682
I see. This is not our intention. We'll fix it.

[2019-04-16 21:19] qmpzzpmq commented on #682
if you want to normalize at time and utterance both, just change to "sum"

[2019-04-16 21:19] qmpzzpmq commented on #682
Sorry  i mean “mean”

[2019-04-18 08:00] kan-bayashi commented on #682
@qmpzzpmq @sw005320 Let me confirm.
In the case of warp-ctc, we use `size_average=True`, so the normalization is performed in direction of batch, not length of each utterances.
https://github.com/jnishi/warp-ctc/blob/8002586417759c664ab056faf5d6d6a960ca8b6d/pytorch_binding/warpctc_pytorch/__init__.py#L35-L46

In the case of pytorch ctc, we use `reduction_type=“sum”`, so the normalization is not pe

[2019-04-18 11:59] sw005320 commented on #682
@kan-bayashi, I think you're right.
But I actually found that the CTC loss (warp CTC) is higher than (e.g., twice higher) before, and I was thinking that this may be a reason.

[2019-04-18 14:19] vyouman commented on #669
@simpleoier @sw005320 I used the Espnet 0.2v wsj0_2mix recipe @simpleoier gave me to run the multi-speaker recipe. Yeah, it seemed like the new version (0.3v) of Espnet degraded the performance of multi-talker ASR. With Espnet 0.2v, I got the result like this.

Interestingly, I compared the performance of wsj recipe (single-speaker ASR) between Espnet 0.2 and Espnet 0.3 under the same configuratio

[2019-04-18 15:55] sw005320 commented on #669
Thanks. Which pytorch version are you using? We observed the significant CTC loss difference between old and new versions.

[2019-04-19 02:20] vyouman commented on #669
@sw005320 I'm using pytorch 0.4.

[2019-04-19 02:21] sw005320 commented on #669
for both Espnet 0.2 and Espnet 0.3?

[2019-04-19 03:11] vyouman commented on #669
@sw005320 Yeah. I used the warp-ctc loss.

[2019-04-19 06:05] ShigekiKarita opened #686 "pytorch own trainer without chainer"
Hi, all

I'm one of authors of chainer trainer used in pytorch. From beginning, I would reimplement pytorch's trainer without chainer.

Pros:
- **main purpose** integrate with pytorch distributed data sampler and iterator
- no chainer/cupy installation and knowledge for pytorch only users
- free from bug and monkey patch at chainer.MultiProcessIterator https://github.com/espnet/espnet/blob/master/

[2019-04-19 06:51] vyouman commented on #686
I think this is cool. It may make it easier and more flexible to work in a pytorch-only way.

[2019-04-20 04:59] adarshjaju opened #689 "ESPnet toolkit for Spoken Translation"
Hi,
I am using the ESPnet toolkit for the task of Spoken Translation(ST) on the Augmented Librispeech dataset. Trained a char level end to end ASR system which worked fine (using char level librispeech recipe, enabling only the attention loss, mtalpha set to zero, ctc weight set to 0). Using the same recipe for the ST task (changed the English transcriptions to French translations and increasing t

[2019-04-22 15:55] sw005320 commented on #689
Probably you should follow https://github.com/espnet/espnet/pull/563 by @hirofumi0810. This includes a lot of TIPS to make ST work.

[2019-04-22 19:29] adarshjaju commented on #689
Ok. Thanks

[2019-04-23 01:45] kan-bayashi opened #693 "Drop Python 2.7 support in v.0.4.0"
As you know, several libraries (matplotlib, numpy, etc.) discontinue Python2 support.

- https://github.com/numpy/numpy/blob/master/doc/neps/nep-0014-dropping-python2.7-proposal.rst
- https://github.com/matplotlib/matplotlib/issues/9404

ESPnet will also drop Python2 support in v.0.4.0.
If you have any suggestion about this change, please discuss here.

[2019-04-23 01:49] ShigekiKarita commented on #650
The End Of Life date (EOL, sunset date) for Python 2.7 is Jan. 1 2020
https://legacy.python.org/dev/peps/pep-0373/
https://www.numpy.org/neps/nep-0014-dropping-python2.7-proposal.html

[2019-04-23 03:13] fanlu opened #694 "tedlium asr1 problem"
When I user docker to run tedlium asr1 recipe
[code]
I got some bugs in stage 5
[code]
[code]

[2019-04-23 07:44] fanlu commented on #686
Cool!!!

[2019-04-23 11:52] ShigekiKarita opened #695 "plot spectrogram on istft enhanced signal"
I happened to find bug (?) in the chime4 recipe during my PR #690
https://github.com/espnet/espnet/blob/a58b032d866af027ecf5cc74c10d2afedf6b025f/espnet/asr/pytorch_backend/asr.py#L664-L719
In this code block, `write enhanced wav` -> `plot spectrogram` will cause error on enhanced signal because the variable `enh` is already `istft` and is not spectrogram anymore. I think it should be  `plot spectr

[2019-04-23 12:04] ShigekiKarita commented on #695
I think the fix works well (this enhance model is not fully trained)
![F01_050C010G_BUS_SIMU](https://user-images.githubusercontent.com/6745326/56579483-3ae0df80-660b-11e9-9472-6b71554ded1e.png)

[2019-04-23 12:24] ShigekiKarita commented on #650
here is incomplete egs list

- found but not PRed task
  - timit/asr1 https://github.com/sknadig/espnet/tree/timit/egs/timit/asr1 @sknadig
  - jsut/asr1 https://github.com/ShigekiKarita/espnet/tree/jsut/egs/just/asr1 @ShigekiKarita
- missing but important task (what kaldi already has)
  - tedlium v3 (large free dataset)
  - common voice (large free dataset)
  - aurora4 (noisy dataset)
  - libri tt

[2019-04-23 12:29] sknadig commented on #650
I'll submit a PR for the TIMIT recipe.
It has scripts for both phoneme and character level decoding.

[2019-04-23 12:31] ShigekiKarita commented on #650
@sknadig cool. thanks!

[2019-04-23 12:41] sw005320 commented on #694
It seems that you duplicate the `--rnnlm` and `--word-rnnlm`. Please use either option. @takaaki-hori, could you add some checks to avoid both options are used at the same time?

[2019-04-23 12:43] sw005320 commented on #695
I see. This must be a bug. @kamo-naoyuki, could you fix it?

[2019-04-23 12:46] sw005320 commented on #695
#690 seems to fix this.

[2019-04-23 12:48] sw005320 commented on #693
I'm fine with this. We can keep our current style, but in the near future (next next version?), we can just remove python 2.X treatments in our code.

[2019-04-23 12:59] sw005320 opened #696 "Interspeech 2019 tutorial"
Dear all,

Our tutorial proposal was accepted at  Interspeech 2019! ("Advanced methods for neural end-to-end speech processing – unification, integration, and implementation". See https://www.interspeech2019.org/program/tutorials/). Although this tutorial was not purely aimed for ESPnet, the second part of the tutorial will cover the use of ESPnet. Toward this tutorial, we'll boost our development

[2019-04-23 13:02] sw005320 commented on #696
We can also have an offline meeting at ICASSP.

[2019-04-23 14:06] lucgeo opened #697 "Librispeech pretrained models"
Hi,

Are there available the pretrained Librispeech models?

Thank you!

[2019-04-23 14:54] #695 closed

[2019-04-23 20:09] sw005320 opened #699 "merge_json behavior when no labels."
@kamo-naoyuki, I've found that there is a case when we don't have any label output in some utterances for the switchboard evaluation data (`rt03`). But current `data2json.sh` cannot allow such cases
https://github.com/espnet/espnet/blob/master/utils/merge_scp2json.py#L210-L214
Can you relax this?
This check is good for the training data, but it excludes such utterances in the evaluation set, and m

[2019-04-24 02:11] fanlu commented on #694
OK, I see.thanks you very much. @sw005320

[2019-04-24 02:11] #694 closed

[2019-04-24 02:39] #654 closed

[2019-04-24 12:17] sw005320 opened #700 "pytorch warp CTC issue"
From #669, it turns out that the warp CTC has an issue (larger loss) when we use pytorch 1.0.0. (no problem when 0.4.1).
@jnishi, I think your fork does not reflect the latest update of https://github.com/SeanNaren/warp-ctc. Could you check it?

Another option is to use https://github.com/jpuigcerver/pytorch-baidu-ctc (or others?).
@simpleoier, could you test the latest https://github.com/jpuigcer

[2019-04-24 16:42] jan-schuchardt opened #701 "make installing pytorch-cpu instead of pytorch"
When trying to build espnet today, I noticed the following problem:

Even though I have a GPU and CUDA is installed, conda always installs pytorch-cpu into the virtual environment that is created upon executing _make_.

I think this problem can be traced back to 1f758b5445dc8963d0785a612fae8c886342cc10

[code]

1.) Syntactically, shouldn't the condition be `$(shell which nvidia-smi)` instead of `(

[2019-04-24 17:09] jan-schuchardt commented on #701
Created a pull request https://github.com/espnet/espnet/pull/702

[2019-04-25 03:44] jnishi commented on #700
I think it doesn't fix the problem because latest change fixes a issue of building with pytorch 1.1, and it is reverted.
I reflected update of `pytorch_binding` branch of upstream to `pytorch-1.0.0-1` branch https://github.com/jnishi/warp-ctc/tree/pytorch-1.0.0-1 . Please check it by modifying here (https://github.com/espnet/espnet/blob/master/tools/Makefile#L97).

I'll merge it to `pytorch-1.0.0`

[2019-04-25 06:59] kan-bayashi commented on #701
Thank you for your contribution!
The PR has been merged.

[2019-04-25 06:59] #701 closed

[2019-04-25 12:31] Nickerchen opened #703 "fails to build on warp-ctc"
Hello everyone,
the make process fails during the installation of warp-ctc and I am not sure why, all the dependencies should be there.

[code]

[2019-04-25 14:41] jnishi commented on #703
It seems the same error as https://github.com/SeanNaren/warp-ctc/issues/116.
It is suggested that some lines of `CMakelists.txt`  to be deleted. I applied them to ` pytiorch-1.0.0-gcc-6` branch  (https://github.com/jnishi/warp-ctc/tree/pytorch-1.0.0-gcc-6). Please check it by fixing https://github.com/espnet/espnet/blob/master/tools/Makefile#L97 this line.

[2019-04-26 11:43] Nickerchen commented on #703
thank you for the fast reply!
changing the line
`cd warp-ctc; git checkout -b pytorch-1.0.0 remotes/origin/pytorch-1.0.0; \`
to
`cd warp-ctc; git checkout -b pytorch-1.0.0-gcc-6 remotes/origin/pytorch-1.0.0-gcc-6; \`
fixed it

[2019-04-26 20:19] newlunsu opened #706 "computing validation accuracy while training"
Hi, all,

I got a validation accuracy of 82% after convergence while training but got the Corr 62.1%, Sub 24% Del 14.1% Ins 12.3% CER 50.2% after using beam search for decoding. How could it be possible to get a higher validation accuracy without beam search? Thank you!

[2019-04-27 08:57] gruly opened #707 "Missing file in iwslt18st recipe"
Line 106 in run.sh from egs/iwslt18st/st1/:
    local/data_prep_train.sh ${datadir}
--> data_prep_train.sh is missing in local/ directory

[2019-04-29 01:57] Rpersie commented on #650
Anyone has run  the PR #120 "added multichannel end-to-end setup" ? I run the PR #120 but I can not get the reasonable results as the description in the paper.
![image](https://user-images.githubusercontent.com/12673020/56873474-25cddb80-6a65-11e9-8eba-16101aba40d8.png)

[2019-04-30 01:27] Rpersie opened #710 ""multichannel end-to-end setup" can not reach the results in the paper"
Does anyone run the PR #120 "added multichannel end-to-end setup" ? I run the PR #120 but I can not get the reasonable results as the description in the paper.
![image](https://user-images.githubusercontent.com/12673020/56936463-23818500-6b2a-11e9-95fd-8f6e08a90391.png)
Then I compare the paper configuration and the github configuration. In the paper , the fbank is 40-dim, the encoder is 4-layer,

[2019-05-01 02:04] sw005320 commented on #650
@Rpersie, I strongly recommend you to try https://github.com/espnet/espnet/blob/v.0.4.0/egs/chime4/asr1_multich

[2019-05-01 02:05] sw005320 commented on #710
@Rpersie, again I strongly recommend you to try https://github.com/espnet/espnet/blob/v.0.4.0/egs/chime4/asr1_multich

[2019-05-01 02:08] sw005320 commented on #707
@hirofumi0810, can you upload this?

[2019-05-02 07:15] sjonathans commented on #696
Enhancement proposal:
Integrate a pre-trained Speech2Vec embedding layer for Speech To Text models

Train an embedding using all audio data in the train set - optional setting in config file
Use it in the data layer instead of audio features only
Based on the paper:
https://arxiv.org/abs/1803.08976

[2019-05-02 11:47] sw005320 commented on #696
@sjonathans, thanks for the proposal!
This is interesting.
Another idea came up to me.
We actually found that the bottleneck feature is super powerful especially in the multilingual setup (@karaf or @creatorscan).

[2019-05-06 21:16] gruly commented on #694
Same problem in the tedlium/asr1 recipe (not in docker container) :
# asr_recog.py --ngpu 0 --backend pytorch --debugmode 1 --verbose 0 --recog-json dump/dev/deltafalse/split32utt/data.13.json --result-label exp/train_trim_pytorch_vggblstmp_e
6_subsample1_2_2_1_1_unit320_proj320_d1_unit300_location_adim320_aconvc10_aconvf100_mtlalpha0.5_adadelta_sampprob0.0_bs30_mli800_mlo150/decode_dev_beam20_emo

[2019-05-06 21:26] gruly commented on #694
I think the problem comes from the run.sh script: line 315 should be removed since line 317 manages the use of word or character (?) rnnlm.

[code]

[2019-05-06 22:50] gruly opened #713 "Problem is tedlium/asr1"
The issue #694 was closed but the problem is still existing in the run.sh file of the tedlium/asr1 recipe.
I suggested a fix: https://github.com/espnet/espnet/issues/694

[2019-05-06 23:58] kan-bayashi commented on #713
I will fix this issue today.

[2019-05-07 08:05] gruly commented on #713
Thanks.

[2019-05-07 08:46] jennifer1995 opened #715 "how to infer the audio files to obtain the transcript?"
How can I use the model to infer audio files?Is it avaliable for batch audio files?

[2019-05-07 12:30] #699 closed

[2019-05-07 12:38] #713 closed

[2019-05-08 07:17] jennifer1995 opened #718 "How to feed aishell2(or my own corpus) to espnet?"
If I want to feed aishell2(1000h) into espnet, comparing to the origin aishell part, what should I do to change the format of aishell2?

[2019-05-08 14:49] ShigekiKarita commented on #686
https://github.com/pytorch/pytorch/releases/tag/v1.1.0

[2019-05-08 15:40] jennifer1995 opened #719 "Why the aishell result(CER) is different with the official one?"
I train the model on aishell, and the result shows that err is 11.9(test) and 10.6(dev), does it refer to the value of CER?Or where can i see the CER? Why the result is different with the official one? Does batchsize affect the result? Backend is chainer. Thank you!

[2019-05-08 22:53] bravewolf commented on #707
I switched to branch iwslt18st then i found the working recipe
[https://github.com/espnet/espnet/tree/iwslt18/egs/iwslt18st/st1/local](url)
However, at stage 4 - Network Training, the training process always be idle after training some epochs without reporting any error.

[2019-05-09 13:17] zz12375 opened #720 "Decoding with rnnLM badly increases CER/WER when ctc_weight=0"
Hi! I am using egs/wsj/asr1/run.sh to train my E2E ASR model. I used the default model architecture and default lsm_weight(0.05) and mtlalpha(0.2). But I noticed a big increase of CER/WER when decoding with word rnnLM and ctc_weight=0. Here is my result on test set eval92:

lm_weight=xxx, ctc_weight=xxx, CER/WER
lm_weight=0.0, ctc_weight=0.0, 5.4/15.9
lm_weight=1.0, ctc_weight=0.3, 2.6/5.7
lm_weig

[2019-05-10 16:25] sw005320 commented on #715
See an example in https://github.com/espnet/espnet/blob/master/egs/wsj/asr1/local/recog_wav.sh once you finish building the model

[2019-05-10 16:28] sw005320 commented on #718
If you import the data preparation part from Kaldi (https://github.com/kaldi-asr/kaldi/blob/master/egs/aishell2/s5/local/prepare_all.sh#L34-L38) and follow the other parts in the aishell1 recipe (https://github.com/espnet/espnet/tree/master/egs/aishell), I believe you could make it.

[2019-05-10 16:31] sw005320 commented on #719
This would be CER. I cannot tell why because you use the different setup. Please try to use the exactly same setup.

[2019-05-10 16:32] sw005320 commented on #707
@hirofumi0810, could you answer it?

[2019-05-10 16:36] sw005320 commented on #720
Can you try a character LM? I just want to know the problem comes from the character/word LM or general shallow fusion issues.

[2019-05-10 16:38] sw005320 commented on #706
The validation accuracy during the training is computed based on teacher forcing and it would be better in general.

[2019-05-11 12:15] adarshjaju commented on #707
Can you please upload the file local/data_prep_train.sh

[2019-05-11 15:21] jennifer1995 commented on #718
Thank you !

[2019-05-11 15:23] jennifer1995 commented on #715
Thank you ! I will try it

[2019-05-11 15:23] #715 closed

[2019-05-12 09:08] jennifer1995 opened #723 "When infer the audio file, AttributeError: 'NoneType' object has no attribute 'startswith'"
When I infer the audio file, the stage 3 Decoding encounters a problem, the error log is below:
Traceback (most recent call last):
  File "/espnet/egs/aishell/asr1/../../../espnet/bin/asr_recog.py", line 135, in <module>
    main(sys.argv[1:])
  File "/espnet/egs/aishell/asr1/../../../espnet/bin/asr_recog.py", line 120, in main
    recog(args)
  File "/espnet/espnet/asr/chainer_backend/asr.py", li

[2019-05-12 11:34] Rpersie opened #724 "Why the "asr1_multich" results in espnet v0.4.0 can not reach the official results ?"
![image](https://user-images.githubusercontent.com/12673020/57581650-e08dbd00-74ec-11e9-9305-8df19b0a34cc.png)

The first line is the official results and the second line is my results.
I just run the official scripts and use only 1 gpu.  But the results is worse than the official results.
It is normal ? Thank you!

[2019-05-12 12:45] hirofumi0810 commented on #707
@gruly @bravewolf @adarshjaju
Very sorry for the late reply.
I already have the correct files in the local repo.
I will soon complete this issued after PR #563 because there are some conflicts between them.

[2019-05-12 17:23] #607 closed

[2019-05-12 21:42] Natalia-T commented on #707
There are several other files that are missing:
local/parse_xml.py
local/remove_punctuation.pl
local/ctm2segments.py

[2019-05-13 06:22] kan-bayashi commented on #723
Which recipe did you use?

[2019-05-13 08:06] jennifer1995 commented on #723
I use the  recog_wav.sh to infer audio

[2019-05-13 08:59] jennifer1995 commented on #723
The below is in recog_wav.sh line 119
` --result-label ${decode_dir}/result.json \`
But I can't find the file result.json in corresponding folder, maybe it's the reason?

[2019-05-13 10:59] sw005320 commented on #724
This is normal. The result can be changed depending on the environment, and we cannot control it across the environment (but you can compare the result within the same environment).

[2019-05-13 15:46] Dreyn opened #726 "SWBD run.sh, text preprocessing"
https://github.com/espnet/espnet/blob/049b8236b160d2e48cfd13dd2891363ade9a13ec/egs/swbd/asr1/run.sh#L107

Hello,

There is, in this line, a Perl command :
[code]
If I'm correct, this command is executed on the transcriptions files, in order to take off every parenthesis like **(%HESITATION)**. But, Perl beeing greedy by default, if a transcription line had to groups of parenthesis with text betwee

[2019-05-14 02:41] jennifer1995 opened #727 "Stage2 Dictionary preparation got the error : the value of $nj"
When I train the model with a dataset of 1000 hours, it comes to the error as below:

Stage 2 Dictionary and Json Data Preparation

split_scp.pl: error: empty input scp file dump/dev/deltafalse/feats.scp , You are splitting into too many pieces! [reduce $nj] at utils/split_scp.pl line 209.

Is it the value of $nj in stage1 when create feats.scp is too big?
What rules should I follow to set the val

[2019-05-14 03:16] kan-bayashi commented on #727
Is the `feats.scp` generated correctly?
Or you can set $nj to be less than #speakers.

[2019-05-14 03:27] kan-bayashi commented on #723
This file will be created.
Could you tell me the all of commands?

[2019-05-14 05:54] kan-bayashi commented on #723
I checked the behavior with current v.0.4.0 as follows:

[code]

I will check the behavior with language model soon.

[2019-05-14 06:57] jennifer1995 commented on #727
Thank you for your reply. There is something wrong with  `feats.scp` , and i will try it again!

[2019-05-14 09:14] xdcesc commented on #718
@jennifer1995 Where can aishell2 be downloaded?

[2019-05-14 09:40] jennifer1995 commented on #723
[code]
I used the command above, but still failed to recognize, and it just stop at the step3 decoding
It shows:
[code]

And the log is just as before, and file  `result.json` isn't created.
Thank you

[2019-05-14 09:41] kan-bayashi commented on #723
Please add `--lm_weight 0` option.

[2019-05-14 09:49] kan-bayashi commented on #726
Thank you for your report, @Dreyn!
I checked this issue is reproduced.
We will fix it accordingly.

[2019-05-14 10:03] jennifer1995 commented on #723
Is it related to the python version? I use python 2.7

[2019-05-14 10:05] jennifer1995 commented on #723
I add it, but it remains the same
[code]

[2019-05-14 10:06] kan-bayashi commented on #723
According to your log, you look using python 3.7.

[2019-05-14 10:10] jennifer1995 commented on #723
yes but I use command `python --version` ,it prints `python  2.7.12`

[2019-05-14 10:15] kan-bayashi commented on #723
Maybe I got the reason.
Make sure that `model.json` in the same directory of `recog_model`.
(In your case `decode`)
Please check the `"model_module"` parameter in `model.json`.
It should be as follows in the case of chainer.
[code]
If not, please modify the parameter to be the same as above example.

[2019-05-14 10:22] kan-bayashi commented on #723
If you setup using default Makefile, we create python3 conda env in `tools/venv`.
The environment is activated in `path.sh`, which is sourced at the top of `recog_wav.sh` script.

And maybe you try to use the model trained on old version, right?

[2019-05-14 10:23] jennifer1995 commented on #723
Oh . I made it!! Thank you very much.
By the way, the recognize text for Chinese is in the format of UNICODE, is it right?

[2019-05-14 10:27] jennifer1995 commented on #723
yes , I train it on python2.7, but recognize the text on python3

[2019-05-14 10:46] jennifer1995 commented on #723
Can I infer batch audio files instead of a single one per time?

[2019-05-14 11:21] kan-bayashi commented on #723
If you want to get the human-readable results, use `echo -en "$(cat result.json)"`
Or please add `ensure_ascii=False` in `json.dumps` here
https://github.com/espnet/espnet/blob/049b8236b160d2e48cfd13dd2891363ade9a13ec/espnet/asr/chainer_backend/asr.py#L545

I think it is better to use `ensure_ascii=False` as default. I will fix this issue later.

Currently, we do not have such a scripts, but maybe

[2019-05-14 11:40] kan-bayashi commented on #723
If you want to fix the result not readable issue, please check #730.

[2019-05-15 02:48] kan-bayashi commented on #650
@Masao-Someki will try to make `tedlium_v3` recipe.

[2019-05-15 09:16] jennifer1995 commented on #723
When I train on the aishell2, in the stage4 Network Training, it comes to the error that
[code]
and the log is as below:
[code]

Is it the same reason with the parameter of  `model.json` you said before?

[2019-05-15 09:22] kan-bayashi commented on #723
It looks the same.
It is better to avoid using different version at the same time.

[2019-05-15 09:35] jennifer1995 commented on #723
I add the parameter to` model.json `, it remains the same error.
So, if I want to use the same version as before(python 2.7), I should set it in `path.sh`?

[2019-05-15 09:40] kan-bayashi commented on #723
I do not understand how you setup your environment.
I assume that you have two espnet directories.
One is master and the other is v.0.4.0, right?
You should only use v.0.4.0 espnet with v.0.4.0 espnet/tools.

[2019-05-15 09:53] jennifer1995 commented on #723
How should I check the version of espnet?

[2019-05-15 10:12] kan-bayashi commented on #723
[code]
`model_module` argument is defined here.
https://github.com/espnet/espnet/blob/049b8236b160d2e48cfd13dd2891363ade9a13ec/espnet/bin/asr_train.py#L50-L51

The error comes from here.
https://github.com/espnet/espnet/blob/049b8236b160d2e48cfd13dd2891363ade9a13ec/espnet/asr/chainer_backend/asr.py#L248

So, this error should not be happend.
Maybe your `/espnet` directory is old, and you source `v

[2019-05-15 10:40] kan-bayashi commented on #723
[code]

[2019-05-16 00:52] jennifer1995 commented on #723
It shows that
`espnet                 0.3.1    /espnet `

[2019-05-16 00:55] jennifer1995 commented on #723
The  espnet directory is `/espnet/...`
My recipe location is `/espnet/data/aishell2/asr1/..`
Is it right?

[2019-05-16 00:57] kan-bayashi commented on #723
Hmm... I have no idea anymore :(
Please check the parts mentioned above to fix the error.

[2019-05-16 01:05] jennifer1995 commented on #723
Thank you very much! I will check it

[2019-05-16 03:00] jennifer1995 commented on #723
I update the file `asr_train.py` for the latest version and it works 👍

[2019-05-16 03:04] kan-bayashi commented on #723
Great!

[2019-05-16 03:04] kan-bayashi commented on #723
I will close this issue.

[2019-05-16 03:04] #723 closed

[2019-05-16 03:06] #727 closed

[2019-05-16 03:06] #719 closed

[2019-05-16 03:09] jennifer1995 commented on #718
you can contact them in []((http://www.aishelltech.com/aishell_2)) , and ask for permission.
It can't be downloaded by yourself without permission

[2019-05-16 03:09] #718 closed

[2019-05-16 03:21] jennifer1995 opened #732 "When infer the audio file with lang_model : AttributeError: 'list' object has no attribute 'char_list_dict'"
When I infer the audio file with lang_model, I come to the problem as below
[code]
The log is
[code]

My command is as below
[code]

[2019-05-16 11:44] jennifer1995 commented on #732
I got it
I should set `use_wordlm =false` to use lang_model

[2019-05-16 11:44] #732 closed

[2019-05-17 09:33] Fhrozen opened #733 "GPU issues with new devices [RTX 2080Ti/V100] inside docker containers"
I've been having a problem to execute the training in a server with V100, for chainer with mtlalpha > 0. I think that the code of WarpCTC is not supporting them.
I just got a new gpu (RTX2080Ti) and is showing the same issue:
[code]
I did this with docker cuda 10.0 ( on a pc with ubuntu 18.04 and cuda 10.1)
The training does not raise this error when the mtlalpha is set to 0.0 (but the WER is pret

[2019-05-17 10:26] ShigekiKarita commented on #733
Actually I've been using 2080ti and v100 with pytorch and chainer but I have not met such errors. What is your CUDA related library versions?

[2019-05-17 10:28] ShigekiKarita commented on #650
I met many people  concerning about decoding speed in CPU. How about making that op in native C++/CUDA. I know how to do that in pytorch. Do you have any idea? @Fhrozen @jnishi  https://github.com/tensorflow/lingvo/blob/master/lingvo/core/ops/beam_search_step_op_kernels.cc

[2019-05-17 10:31] ShigekiKarita commented on #650
maybe some guys are interested in transformer TTS cc: @kan-bayashi @r9y9

[2019-05-17 10:42] Fhrozen commented on #733
From chainer.print_report:
[code]
these are the versions inside the docker container. I did not try outside the container.

[2019-05-18 06:14] jnishi commented on #703
@Nickerchen Hi, did you check the result of decoding with `pytorch-1.0.0-gcc-6` branch? In my environment,  decoding output is bad in CSJ and Librispeech datasets with the branch, though loss becomes smaller in training.
An example of decode output is like this.

[code]
I checked to run correctly with built-in CTC in pytorch.
Did it run correctly in your environment?

[2019-05-18 06:33] jnishi commented on #650
You can use ChainerX from Chainer v 6.0.0. ChainerX is native implementation. Chainer code can be run with ChainerX. https://docs.chainer.org/en/v6.0.0/chainerx/tutorial/index.html#run-your-chainer-code-with-chainerx
If full code of Chainer backend is replaced to ChainerX, it is stiill faster than Chainer. https://chainer.org/announcement/2018/12/03/chainerx.html

[2019-05-18 09:06] ShigekiKarita commented on #650
Thanks. So there will be a way to port op in next chainer v6. That sounds
great.

2019年5月18日(土) 7:33 jnishi <notifications@github.com>:

[2019-05-20 03:20] ictnlp-wshugen opened #735 "How can I generate audio feats without speaker information ?"
Hi, recently, I want to use the [zh-TW common voice dataset ](https://voice.mozilla.org/zh-CN/datasets) to train a ASR model.

After running your example provided in README file, i.e. egs/an4/as1. I try to follow the spirit of the example, but was stuck in the Feature Generation step due to the dataset I try to preprocessed with is lacked in speakers information, i.e. common voice dataset is anony

[2019-05-20 13:15] ShigekiKarita opened #736 "kaldi-free recipe"
Recent espnet already has an ability to generate fbank (make_fbank.sh, espnet.transform module) thanks to @kan-bayashi  @kamo-naoyuki. Maybe it is time to discuss kaldi-free roadmap. However I know kaldi is an only way to format legacy dataset. Here is my opinion for v0.4.0 or later:

- start from an4 or tiny dataset
- copy minimal scripts that we need from kaldi/egs/wsj/s5/{steps,utils} and kaldi

[2019-05-20 21:15] ShigekiKarita commented on #575
Dear all,

Long time no see but recently @kamo-naoyuki have proposed PR #722. Maybe it is time to make our first decision. He chooses https://github.com/bw2/ConfigArgParse rather than Sacred. I agree with him because sacred requires too many changes and decisions in our chaotic development in v0.4.0 (#650). Instead, @kamo-naoyuki implemented minimal CLI tools to support the config generation (log)

[2019-05-20 21:21] ShigekiKarita commented on #696
In ICASSP19 discussion, we consider using Google Colab for demonstrating practical things. I'm making minimal ASR recipe/demo on notebook. I will ask your feedback later.

[2019-05-20 22:49] sw005320 commented on #735
You can just use one global speaker for all utterances, e.g.,
- utt2spk
[code]
- spk2utt
[code]
etc.

Also, please check some Mandarin recipes for details (`egs/{aishell,hkust}`)

[2019-05-20 22:51] sw005320 commented on #736
`fbank+pitch -> fbank` does not have so much degradation except for the HKUST recipe. I'm fine to use `fbank` because it's differentiable.

[2019-05-21 01:08] ictnlp-wshugen commented on #735
Thanks for your helpful advice, I have used different speaker ids, i.e. I use sample id as the speaker id.

[2019-05-21 01:08] #735 closed

[2019-05-21 09:29] sw005320 commented on #650
Can someone try the transformer #690 and specaugment #734 for Librispeech? I think we'll get the SOTA result.

[2019-05-21 09:48] kan-bayashi commented on #650
I can do it after adding missing file (#734).

[2019-05-21 15:14] desothier1 opened #741 "no module 'warpctc_pytorch'"
1.In spite of the comments read in this thread I keep getting the issue No module named 'warpctc_pytorch'
2.In espnet/tools/warp-ctc/build 'make' worked for cpu, but not for gpu:
CMakeFiles/test_gpu.dir/all » failed

2019-05-21 16:59:57,957 (asr_train:235) INFO: python path = (None)
2019-05-21 16:59:57,958 (asr_train:238) INFO: random seed = 1
2019-05-21 16:59:57,958 (asr_train:255) INFO: backend

[2019-05-22 01:59] kan-bayashi commented on #650
I’m running CSJ & librispeech recipe with transformer + specaug.
Please wait a few days :)

[2019-05-22 07:10] zz12375 commented on #720
Sorry for the late, now I have trained a character LM using the following parameters:
 "--use_wordlm false --lm_layers 2 --lm_units 650 --lm_opt adam --lm_batchsize 768 --lm_maxlen 150"

and then test the decoding result on WSJ eval_92, using the current E2E model:

lm_weight=1.0, ctc_weight=0.3, Sub(1.5) Del(1.1) Ins(1.2) Cer(3.8), Wer(9.1)
lm_weight=1.0, ctc_weight=0.0, Sub(2.5) Del(11.6) Ins(8.

[2019-05-22 07:29] karanMal opened #743 "Modify speaker info in Tedlium"
![image](https://user-images.githubusercontent.com/15909866/58154350-1110ec00-7c8f-11e9-8e15-994738a94346.png)
In the above image of the script to run tedium asr, the train, test, dev speaker's information is changed with the spk2utt file being changed. I was wondering that is the spk2utt and utt2spk files are affecting training of the network as mean and variance are calculated globally.
![image]

[2019-05-22 07:37] kan-bayashi commented on #743
Currently, we do not perform any speaker based processing in ASR.
So speaker information in `utt2spk` and `spk2utt` can be dummy.

[2019-05-22 09:04] karanMal commented on #743
Thanks.

[2019-05-22 09:56] adarshjaju commented on #707
Can you please update on the issue?

[2019-05-22 11:11] zhengyiuestc opened #744 "Any plan for Trigger Attention as a option of streaming decoder?"
Dear all,

It seems that the newly released paper "Triggered Attention for End-to-End Speech Recognition" can be a opiton of streaming deocoer. Is there any official plan or other information about the implemention of this new idea?

[2019-05-22 11:16] hirofumi0810 commented on #707
@adarshjaju
OK. I'm back on this.

[2019-05-22 12:18] sw005320 commented on #744
@takaaki-hori, can you consider this possibility?

[2019-05-22 14:42] sw005320 commented on #720
Could you tune `--penalty` and/or `--minlenratio`?
You may fix most of these types of errors with --minlenratio 0.2 or 0.3.

[2019-05-22 22:42] sw005320 commented on #650
Also, could someone try to combine the transformer and specaug for the WSJ recipe?

[2019-05-22 23:46] ShigekiKarita commented on #650
I'm running that.

[2019-05-22 23:48] ShigekiKarita commented on #650
@bobchennan Do you really use `W=5` in specaug? It seems to be much shorter than the paper (W=40 or 80) https://arxiv.org/pdf/1904.08779.pdf

[2019-05-23 11:26] #743 closed

[2019-05-23 11:38] creatorscan commented on #720
In this case, you have applied mtlalpha as 0.2, which denoted ctc has been used during training. Thus, during decoding ctc-weight has to be enabled by default. Disabling ctc-weight by setting it as 0 will result in inefficient decoding.

[2019-05-23 14:20] ShigekiKarita commented on #650
#722 (Support configuration files). As I talked before, it has no break change. cmd line args are still supported. See new [README.md](https://github.com/espnet/espnet/tree/v.0.4.0#changing-the-configuration) for usage.

Maybe you can check this WSJ diff with YAML files and run.sh for the practical example.
https://github.com/espnet/espnet/commit/b9291ae02dd9914b8d04ba768f9f757825a66691#diff-9d8ec

[2019-05-23 14:39] ShigekiKarita commented on #650
I attached "milestone" to the PRs listed in https://github.com/espnet/espnet/issues/650#issue-421526628
You can check opened and closed PR in v.0.4.0 here https://github.com/espnet/espnet/milestone/1
If you find something missing, feel free to attach it to the milestone.

[2019-05-23 17:43] takenori-y opened #748 "Decoding is slow"
In my environment, decoding requires much computational time. Given an input signal whose duration was about 15 seconds, the RTFs in the encoder and the decoder were larger than 0.2 and 3.0, respectively.

By increasing the value of OMP_NUM_THREADS in `path.sh`, the RTF in the encoder was improved twice. However, any improvements could not be observed in the decoder.

I investigated the cause of t

[2019-05-24 01:16] feddybear opened #751 "m_ailabs TTS results"
m_ailabs RESULTS file only seems to point to the info.txt file and not the folder for the generated wav files themselves.

[2019-05-24 01:18] ShigekiKarita commented on #748
Thank you for your feedback.  Could you report `E2E.recognize_beam` instead of `Decoder.recognize_beam` to see how the encoder runs?

- write C++ op (pybind11) for `self.att` https://pytorch.org/tutorials/advanced/cpp_extension.html#writing-a-c-extension
- use jit. see transformer decoder jit example but it is buggy https://github.com/espnet/espnet/blob/5a034cc328fbdea0624bfcde3e0b70558d6fc158/esp

[2019-05-24 01:22] ShigekiKarita commented on #748
Before writing C++ op, we can make this block parallel over hyps
[code]

[2019-05-24 01:28] sw005320 commented on #748
That can be done in `recognize_beam_batch`. However, the CTC prefix score calculation in `recognize_beam_batch` does not include pruning (see #470). If we solve this, the decoding becomes faster, and also multithread makes att-decoder faster.

[2019-05-24 01:32] ShigekiKarita commented on #748
https://github.com/espnet/espnet/blob/5a034cc328fbdea0624bfcde3e0b70558d6fc158/espnet/nets/pytorch_backend/rnn/attentions.py#L285-L295

I believe you use `AttLoc` right? I think you should use inplace API (e.g., `e.e.masked_fill_`) as many as possible to reduce the overhead of mem alloc.

- `e = self.gvec(torch.tanh(att_conv + self.pre_compute_enc_h + dec_z_tiled)).squeeze(2)` use ` e = self.gvec(

[2019-05-24 03:15] kan-bayashi commented on #751
Sorry, the link is wrong.
You can access from following url:
https://drive.google.com/open?id=1q_66kyxVZGU99g8Xb5a0Q8yZ1YVm2tN0

[2019-05-24 13:48] sw005320 commented on #748
- @takenori-y, could you also perform the same profile for `recognize_beam_batch`?
- @takaaki-hori, could you watch this issue? I may need your help.

[2019-05-24 13:50] sw005320 commented on #748
Also, note that `recognize_beam_batch`  is designed to use it even for training. This was implemented to carefully keep the computational graph.

[2019-05-24 14:38] sw005320 opened #755 "cer_ctc is not working for the transformer"
It is always 0...
@ShigekiKarita, could you fix it?

![image](https://user-images.githubusercontent.com/11741550/58335658-0d58a300-7e10-11e9-9f4e-b82df0a56d0f.png)

[2019-05-24 15:33] jnishi opened #756 "Which version of pytorch is used?"
Pytorch 1.1 was released. I'll fix espnet to use  it.

Now espnet supports pytorch of 0.4.0 and 1.0.1. Older versions of pytorch need to be supported?

[2019-05-24 16:03] sw005320 commented on #756
This is great. I think it's good to keep 0.4.0 due to the warp CTC issue, which is critical for the multispeaker ASR #669. If we solve the warp CTC issue, I think we could stop the support for 0.4.0. So, it would be great if you keep supporting the older versions for now.

[2019-05-24 16:24] sw005320 commented on #748
Probably, we should make a simplified `recognize_beam_batch`, which just aims to make CPU/GPU decoding faster, and then consider to keep computational graphs later like our current `recognize_beam_batch`, which is a little bit too complicated. I also want to ask @mn5k's opinions.

[2019-05-24 19:44] sw005320 commented on #741
Could you share the information more?
(Which version of ESPnet, conda or system python, python version, cuda version, Linux version, and distributions).

[2019-05-25 00:10] sw005320 commented on #650
Can someone work on transformer LM? I think it's a good addition.

[2019-05-25 09:42] sw005320 commented on #755
Monitoring the CTC CER is quite important to see whether the encoder is well trained.

[2019-05-25 12:56] desothier1 commented on #741
Hi,
I finally managed to install it on a server with gcc 4.9.2 in one fell swoop, with all components functional :)

However, on several other servers on which i work, the  gcc version is higher than 4.9.2.
On one of the servers with gcc higher than 4.9.2, i can use the functionality of using several gpu s

I did the complete installation on a server with gcc 4.9.2.
About the usage + possibility t

[2019-05-25 14:23] jnishi opened #760 "Chainer 6.0.0 caused some errors."
There are several internal modification in version 6.0.0 and they cause errors when running with pytorch backends.

For example, `Evaluator.device` returns `GpuDevice` instead of `int` (in Chainer version 5.0.0).
This causes following error in `lm/pytorch_backend/lm.py`.
[code]

There seems also to be some change to serialization. The following error happened.
[code]

I'm going to create PR that r

[2019-05-25 16:09] desothier1 opened #762 "dump.sh issue"
Hi

When running dump.sh
a UnicodeDecodeError occurs
'utf-8' codec can't decode byte 0xc3 in position 0: unexpected end of data
More precisly in
espnet/tools/venv/lib/python3.7/site-packages/kaldiio/matio.py, line 306, in read_token

the error is generated in a log file in exp/dump_feats folder

The reason of the error are filename containing characters with accents such as Ï,é,à ..., but only for

[2019-05-25 16:52] kamo-naoyuki commented on #762
This should be a bug of kaldiio due to multibyte character. I'll fix it.

[2019-05-25 17:25] kamo-naoyuki commented on #700
I created a script to compare ctcloss between pytorch and chainer.
warpctc looks to have no problem with v1.0, while pytorch.CTC looks obviously strange.

[code]

![warpctc_vs_chainer](https://user-images.githubusercontent.com/19261024/58372680-36864a00-7f5c-11e9-940e-ac91e80e03b2.png)

![pytorch_vs_chainer](https://user-images.githubusercontent.com/19261024/58372675-2ff7d280-7f5c-11e9-8078-d7071d

[2019-05-25 21:44] ShigekiKarita commented on #748
I'm measuring Transformer decoding performance. I have known that it is too slow :snail:

I decoded two utts `4k0c0301` (12.95619 sec speech, 257.061 sec to decode) and `4k0c0302` (10.06588 sec speech,  245.860 to decode) in WSJ dev93 with `egs/wsj/asr2` at the v.0.4.0 commit `88c81722113bb83a20128c38eceeb951c2d7964e`

- run benchmark
[code]

- Print the profile.
[code]

[code]

[2019-05-25 22:12] ShigekiKarita commented on #748
Highlights
- `e2e_asr_transformer.py:E2E.recognize` **530.042/541.607=97.8%** 11 sec overhead outside of `recognize`
- `transformer/decoder.py` **365.923/541.607 = 67.5%** we need to speedup this.
  - `transformer/attention.py` **229.794/541.607 = 42.4%**
- `logging.debug` **126.634/541.607 = 23.3%**. I haven't know such overhead in `--verbose`.
- `lm.py` **17.268/541.607 = 3.1%**
- `ctc_prefix_sc

[2019-05-26 05:00] ShigekiKarita commented on #748
Hmm, the torch.nn.Multihead supports incremental state for the cache in 1.1.0 but it's gone in master https://github.com/pytorch/pytorch/blob/83fe92870dbdb489a0be564e54a647448eca80a0/torch/nn/modules/activation.py#L746

[2019-05-26 05:03] ShigekiKarita commented on #748
https://github.com/pytorch/pytorch/issues/20132 According to this issue, they have not implemented several features for incremental forward in fact. Also, it does not support `batch_first`. Therefore, I need to create MHA with the state by myself.

[2019-05-26 05:28] ShigekiKarita commented on #760
Maybe we should add the `master` or `nightly` version of chainer and pytorch in Travis-CI. We can ignore their failure but keep them in touch.

[2019-05-26 05:56] ShigekiKarita commented on #650
Does anyone use pytorch 0.4.1? When we support pytorch 1.1.0, we should drop pytorch 0.4.1.

[2019-05-26 05:59] ShigekiKarita commented on #650
Also we should drop Ubuntu 14.04 support because of EOL. We should use Ubuntu 16.04 (xenial).

PS: I found shellcheck in xenial becomes much more strict. We need some help to update run.sh. See #110

[2019-05-26 09:07] Rpersie opened #764 "Why the multichannel data is randomly processed by the " chime4/asr1_multich " in v0.4.0"
I check the procedures in the  chime4/asr1_multich of v0.4.0 and have some questions about the code in line 90 of espnet/espnet/nets/pytorch_backend/frontends/frontend.py.
![image](https://user-images.githubusercontent.com/12673020/58379540-73435700-7fd7-11e9-9bcb-062a2760244f.png)

It means that in the training "use_beamformer"  is randomly set true or false. So not all the data is processed by

[2019-05-26 09:49] kamo-naoyuki commented on #764
It have made better result experimentally, just following previous research.

It is said that if always the beamformer part is trained, the backend asr system cannot be trained with noisy data, without any enhancement, then it  weakens the base recognition performance for noisy data.

And, there is no need to care about not using all data, in an epoch, because almost all data are given over all ep

[2019-05-26 11:55] jennifer1995 opened #765 "It takes a long time to infer the audio file in Chinese"
For an audio file about 5 seconds, it will take more than 30 seconds to recognize and output the text with gpu. Is there anything wrong? Or it is normal?
Thank you.

[2019-05-26 12:25] Rpersie commented on #764
How about the gap? It will behind the custom delay-sum beamformer ?  You do this just to improve the ASR performance just like the MCT.

[2019-05-26 12:53] kamo-naoyuki commented on #764
I forgot the precise value, maybe 3~5% worse in CER.

[2019-05-26 12:54] Rpersie commented on #764
It will behind the custom delay-sum beamformer ?

[2019-05-26 13:07] kamo-naoyuki commented on #764
I compared it with only beamformit, which is the baseline system for chime4, and got worse result than it.

[2019-05-27 01:53] kan-bayashi opened #766 "First layer_norm in transformer {encoder,decoder}_layer"
Hi @ShigekiKarita. I have a question about transformer `{encoder,decoder}_layer` op.

https://github.com/espnet/espnet/blob/88c81722113bb83a20128c38eceeb951c2d7964e/espnet/nets/pytorch_backend/transformer/encoder_layer.py#L25-L35
https://github.com/espnet/espnet/blob/88c81722113bb83a20128c38eceeb951c2d7964e/espnet/nets/pytorch_backend/transformer/decoder_layer.py#L28-L42

Here, we first apply `lay

[2019-05-27 02:03] kan-bayashi commented on #766
In my understanding, `decoder_layer` op should be as follows:

[code]

[2019-05-27 04:05] ShigekiKarita commented on #766
So your question is if we need layernorm on the first input (i.e., embedding)?

Yeah, the paper does not mention on that but it has in fact.
- tensor2tensor default (according to fairseq https://github.com/pytorch/fairseq/blob/8ce2c35d8e2dfb2b6dd220058710f81df5eb5729/fairseq/models/transformer.py#L814)
- opennmt https://github.com/OpenNMT/OpenNMT-py/blob/master/onmt/decoders/transformer.py#L69

[2019-05-27 04:06] ShigekiKarita commented on #766
If you wanna remove that on TTS, you can add some options like fairseq. I do not have strong opinion about that. I just wanna followed the default impl (t2t)

[2019-05-27 04:42] kan-bayashi commented on #766
I see. Thanks.

[2019-05-27 04:42] #766 closed

[2019-05-27 04:47] takenori-y commented on #748
@sw005320, I performed the same profile for `recognize_beam_batch`. The computational time was half of that of `recognize_beam`. The main bottlenecks were the same. I will try to reduce computational time for calculating the attention based on the proposal by @ShigekiKarita.

[code]

[2019-05-27 05:26] takenori-y commented on #748
@ShigekiKarita, The below is the result of profiling `E2E.recognize`. The profiler could not work on `self.enc`. This may be because `self.enc` is based on a pytorch class.

[code]

[2019-05-27 05:30] Emrys365 commented on #726
Hello,

I encountered a problem related to this issue.
When testing the model trained with default config in SWBD, I got the following results:

| No. | model | (eval2000) WER/S.Err | (eval2000/callhm) WER/S.Err | (eval2000/swbd) WER/S.Err |
| --- | --- | --- | --- | --- |
| 1 | blstmp (default) | 39.8/68.8 | 43.5/73.0 | 35.7/62.6 |
| 2 |   + fix issue 726 | 33.4/68.3 | 42.0/72.7 | 24.6/61.9 |
| 3

[2019-05-27 06:11] kamo-naoyuki commented on #762
Maybe it was fixed, please try it again with ``pip install -U kadiio``

[2019-05-28 14:47] sw005320 commented on #765
Could you please explicitly specify `--batchsize 0` during decoding (e.g., https://github.com/espnet/espnet/blob/master/egs/hkust/asr1/run.sh#L319)? There is a bottleneck for the CTC prefix score computations when we use larger outputs. If it does not solve, you may reduce the beam size. Making decoder faster is one of our important action items now #748.

[2019-05-28 14:58] sw005320 commented on #748
Thanks. You could see that in `recognize_beam_batch` the bottleneck comes from the CTC prefix score computation. The attention part is still a big portion (~30%) though. Let's try to see how the attention calculation above reduces the computational cost.

[2019-05-28 15:02] sw005320 commented on #650
We still have some problems on warp CTC in pytorch 1.1.0, which is critical for the WSJ-2mix recipe. I want to keep pytorch 0.4.1 unless we fix the issue.

[2019-05-28 15:06] ShigekiKarita commented on #650
I could not find any problem on pytorch 1.1.0 and warp-ctc in my recent CI updates https://github.com/espnet/espnet/pull/763
Is there any reported issue?

[2019-05-28 15:09] sw005320 commented on #650
https://github.com/espnet/espnet/issues/669

Also, @simpleoier confirmed the difference between these versions.
I also found that the final CTC loss is very different between these versions.
@simpleoier, could you summarize your observations?

[2019-05-28 15:13] ShigekiKarita commented on #650
Can you add unit tests that fails in pytorch 1.x?

[2019-05-28 15:16] sw005320 commented on #650
Sure, but the problem may be more difficult because the initial ranges of loss values are similar but they gradually become different.

[2019-05-28 15:19] ShigekiKarita commented on #650
OK... Have you ran training without ctc loss? If they (0.4 and 1.0) still result different then, it might not be caused by ctc.

[2019-05-28 15:20] sw005320 commented on #650
Also, see https://github.com/espnet/espnet/issues/700

That may be true. I'll check it. But the attention loss looks quite normal...

[2019-05-28 15:21] ShigekiKarita commented on #700
Nice test. Pytorch has two ctc impl by "aten" and "cudnn". The cudnn and aten result same. Therefore, we can compare the aten impl with chainer impl because they are readable.

[2019-05-28 15:22] sw005320 commented on #700
Thanks. This is very strange. One conclusion is that we should not use pytorch build-in CTC.

[2019-05-28 15:23] ShigekiKarita commented on #700
Maybe we can report this to pytorch/pytorch issue.

[2019-05-28 15:34] sw005320 commented on #760
I agree. Let me check #763.

[2019-05-28 16:06] sw005320 commented on #726
Thanks, @Emrys365.
This issue is only related to the test set, and during training, No 2. and 3 should not have so much difference except for the validation loss/accuracies. During recognition, we should use the correct reference (#726) and even if the score is better, we should use No.2.

Maybe I misunderstood No.3. Could you let me know how No.2 and No.3 are different during recognition/scoring

[2019-05-28 19:04] sw005320 commented on #741
Good to know that you solved the issue by yourself, and thanks for your TIPS.

I'm actually using gcc 6.3,
[code]
and I don't have such installation issues.
(We have some error messages in pytorch warp-ctc for test code, but we just ignored them).

[2019-05-29 00:01] sw005320 commented on #760
If this is the only reason, I think we can fix it easily. Can someone do it?

[2019-05-29 12:37] sw005320 commented on #760
#772 fixed this issue.

[2019-05-29 12:37] #760 closed

[2019-05-30 01:04] kan-bayashi opened #777 "#iterations with accum_grad > 1"
Hi, @ShigekiKarita.
In chainer’s trainer, the number of interation count is every updated when `update_core` called.
So, if we use `accum_grad = 2`, the actual iteration will be halved.
I have modified this issue as follows:
https://github.com/espnet/espnet/blob/75f7a14751d0bb51e96faa42fa313a595ef2b1a2/espnet/tts/pytorch_backend/tts.py#L150-L153

[2019-05-30 02:41] ShigekiKarita commented on #777
thanks! @Fhrozen can you also fix this in #774 ?

[2019-05-30 03:17] Fhrozen commented on #777
Ok, i will add this modification, thanks for reporting it

[2019-05-30 05:05] #642 closed

[2019-05-30 05:05] #635 closed

[2019-05-30 05:05] #556 closed

[2019-05-30 05:05] #582 closed

[2019-05-30 05:46] Emrys365 commented on #726
Sorry I didn't make it clear.
No.2 and No.3 are different only in the decoding stage. In No.3, I modified `local/score_sclite.sh` to keep the original `stm` as the reference, rather than using the following code to remove the parentheses in it:

[code]

And the rest parts are the same for both No.2 and No.3.

[2019-05-30 07:37] jennifer1995 commented on #765
ok, i will try it
Thank you

[2019-05-30 12:54] sw005320 opened #779 "cmvn"
Currently, `cmvn.ark` file is put under `data` directory, and it is not easy to make the model file portable (e.g., when we distribute the trained model, we also have to provide this cmvn.ark file in the `data` directory in addition to the model directory in `exp`. See https://github.com/espnet/espnet/blob/master/egs/wsj/asr1/local/recog_wav.sh. We have to specify `cmvn.ark` in addition to the mod

[2019-05-30 12:57] sw005320 commented on #726
I see. Is this (keeping the parentheses) a normal way? Could you check the Kaldi recipe to double check it?

[2019-05-30 17:00] sw005320 opened #784 "noam for RNN"
@ShigekiKarita, noam optimizer should be used for RNN (e.g., specaugment) but the current implementation could only use it for the transformer architecture. Can you change it?

[2019-05-30 19:25] sw005320 commented on #650
Can someone make a JSUT ASR recipe?

[2019-05-31 00:40] sw005320 opened #786 "New RESULTS style"
I think the result information should be more structured. I'm thinking of the following format (`voxforge/asr1/RESULTS.md`) so that we could also attach the model files corresponding to the result. Also, we try to put the link of the model files here.
Any thoughts?

----

# Transformer 300 epochs, decoder 6 layer 2048 units
- config file: `conf/tuning/train_pytorch_transformer_d6-2048.yaml`
- syst

[2019-05-31 02:19] kan-bayashi commented on #650
It seems that now chainer trainer support asynchronous snapshot saving.
https://docs.chainer.org/en/stable/reference/generated/chainer.training.extensions.snapshot.html#chainer.training.extensions.snapshot

It is better to use this function to reduce i/o bottleneck in saving model in future.

[2019-05-31 02:23] sw005320 commented on #650
Thanks. I added it to our action item list.

[2019-05-31 02:31] kan-bayashi opened #787 "Online demo using Google Colaboratory"
We will plan to prepare online demo using Google Colaboratory.
If you any suggestion about this, please discuss here.

[2019-05-31 04:47] takenori-y commented on #748
I used in-place API in `AttLoc`. It improved the computational speed very slightly. The major bottleneck in the function comes from the convolution (80%). Reducing the number of parameters in the convolution may make the decoding fast.

[code]

I also used in-place `sort` instead of `sorted`. It obtained the slightly better performance.
https://github.com/espnet/espnet/blob/75e54046a9d22a4d33b096e

[2019-05-31 08:14] kan-bayashi commented on #751
Fixed in #780.

[2019-05-31 08:14] #751 closed

[2019-05-31 13:44] sw005320 commented on #787
I think it's very good to make espnet as a conda package. Then, we can easily build an environment at colab.

[2019-05-31 22:44] sw005320 commented on #786
I added RESULTS.md for voxforge and chime5 in #790

[2019-06-01 01:59] kan-bayashi commented on #786
Nice. Why don’t you make script to show the above information automatically?
e.g.
[code]

[2019-06-01 02:02] sw005320 commented on #786
good idea. let me try

[2019-06-01 02:23] kamo-naoyuki commented on #786
How about showing modules version ?

- python version
[code]

I think it is better to create a symlink to the config file in `run.sh`, `exp/tr_it_debug_alpha0.5/train.yaml
 -> conf/tuning/train_pytorch_transformer_d6-2048.yaml`, then `show_results.sh` can get the real path from the input expdir. It also makes clear that which experiments used what config file.

[2019-06-01 04:21] takenori-y opened #791 "Warning in installation"
In `v.0.4.0`, the default value of `TH_VERSION` is 1.0.1 in `tools/Makefile`, but the value is not included in `tools/check_install.py`. This causes a warning.
https://github.com/espnet/espnet/blob/94fdb49217c7d632b2ccdbd45c3e867246ada3e4/tools/Makefile#L8-L9
https://github.com/espnet/espnet/blob/94fdb49217c7d632b2ccdbd45c3e867246ada3e4/tools/check_install.py#L23

[2019-06-01 14:29] kamo-naoyuki opened #792 "- or _"
Very trivial matter.
The name of scripts in utils sometimes has `-` and the other has `_`.

- `make_stft.sh`
-  `compute-fbank-feats.py`

I want to unify them.

[2019-06-02 03:50] kamo-naoyuki commented on #736
Another choice is using [pykaldi](https://github.com/pykaldi/pykaldi). It can be installed by conda. All feature types in kaldi are supported and they can be also integrated in `espnet.transform`.

[2019-06-02 08:00] #533 closed

[2019-06-02 14:57] sky1170447398 commented on #744
Does anyone consider this problem?

[2019-06-02 15:38] takaaki-hori commented on #744
Niko might be able to work on that, but we need to solve our internal issues before starting that. I will talk to some related people.

[2019-06-02 18:34] luvwinnie commented on #733
I'm wondering how's is this issues going ?

[2019-06-03 04:04] takenori-y opened #794 "Default value of ngpu"
The default value of `ngpu` in `run.sh` is 0 or 1. I think it should be same in all the recipes to avoid confusion.

[2019-06-03 09:52] adarshjaju commented on #707
Thank you for making the changes.
The updated code for IWSLT18 ST runs without any errors. But in the last phase of stage 2: Dictionary and JSON Data Preparation, the JSON files are updated, and it contains target sequences for both the languages. But in the training phase,  in the Custom batch converter function, LoadInputsAndTargets utility is called with 'ASR' mode, which returns the batch only

[2019-06-03 10:25] kan-bayashi commented on #792
When I implemented this function, I wanted to replace kaldi commands, so I used "-".
It is OK to replace all of "-" with "_" in file name.

[2019-06-03 10:27] kan-bayashi commented on #791
When installing pytorch == 1.0.1, the version name became "1.0.1.post2".
So I added "1.0.1.post2" in `check_install.py`.
[code]

[2019-06-03 13:55] sw005320 commented on #736
I like it as a temporal solution to replace the kaldi feature with the pykaldi feature. But switching to fbank only and using espnet's impl seem to be straightforward.

[2019-06-03 15:06] sw005320 commented on #794
I agree with you. I'm trying to make everything `ngpu=0`, but it seems that I could not carefully check everything. It would be great if you fix it to `ngpu=0`.

[2019-06-04 06:42] kan-bayashi commented on #794
Why don’t you use `ngpu=1` as default?
I think non-cuda users are less than the others.

[2019-06-04 11:09] hirofumi0810 commented on #707
@adarshjaju
I prepared 2nd target references for multi-task learning. I just used it for my internal experiments.
I'll make it option for v.0.4.0 branch. Thank you for letting me know.
I recommend you to follow v.0.4.0 branch if you want to do it ASAP.

[2019-06-04 11:53] sw005320 commented on #794
OK. Let's do it.

[2019-06-04 11:54] #794 closed

[2019-06-04 14:51] gruly commented on #707
In the iwslt18 st1 recipe:

by default the $set variable of the local/data_prep_eval.sh is defined as the second argument ${part} in line 127 of the run.sh script:

126     for part in dev2010 tst2010 tst2013 tst2014 tst2015; do
127         local/data_prep_eval.sh ${st_ted} ${part}
128     done

Then, in local/data_prep_eval.sh, line 26, there is:
26     yml=$src/test-db.yaml

Last, the yml variab

[2019-06-04 15:58] sw005320 commented on #786
I agree. In addition, we should also add the symlink of `cmvn.ark` to the training directory.

[2019-06-04 21:21] sw005320 commented on #707
Thanks, @gruly for pointing out the issue. I just checked that these yaml files are not so large and I'm fine for either option of creating them from LIUM_SpkDiarization or uploading these files in the local directory as a part of recipe.
@hirofumi0810. do you have comments?
[code]

[2019-06-04 23:41] sw005320 opened #804 "fisher_callhome_spanish/asr1 is not working"
@JaejinCho, I just ran your recipe, but it did not work in the beginning stage.
The number of transcription directories is 755, not 819.
Could you please fix it?

[code]

[2019-06-05 00:15] hirofumi0810 commented on #707
@sw005320 Can I upload them? LIUM_SpkDiarization is not perfect, so it's possible to enhance segmentation using better VAD (will be implemented in future ESPnet?).
I mean we can update them by overwriting segmentation files in `local`.

[2019-06-05 12:52] sw005320 commented on #707
@hirofumi0810, in `iwslt18/asr1`, I found the following error:
[code]
It seems that `data.json` does not include the output text, which may be come from https://github.com/espnet/espnet/blob/master/egs/iwslt18/asr1/run.sh#L280-L283
Can you fix it?

[2019-06-05 16:36] jan-schuchardt opened #807 "Incorrect number of feature dimensions with VGG + RNN"
Hi,

I just ran into the following problem when trying to train with the VGG convnet (encoder type 'vggblstmp').

For an input of size B x T x F, VGG always returns a tensor of size Batch x T/4 x 128.
One would assume that the number of feature dimensions for the subsequent RNN should also be 128.

But to determine the number of feature dimensions for the RNN, we call

[code]

which yields F / 4 /

[2019-06-05 17:06] sw005320 commented on #807
Thanks. This might be a problem, but I just want to understand.
I thought that VGG (normal 2-D CNN) returns Batch x T/4 x F/4 x 128... (Batch x (2-d image) x out_channel). Am I wrong?

[2019-06-05 17:15] jan-schuchardt commented on #807
The problem was actually on my side, because I passed the wrong in_channel parameter to the VGG constructor.

It returns Batch x T/4 x (128 * F/4). This is consistent with what is calculated in get_vgg2l_odim.

I think only the docstring of the forward() method must be corrected. That is what got me confused in the first place.

[2019-06-05 17:17] sw005320 commented on #807
Sure, I'll fix it.

[2019-06-05 17:20] sw005320 commented on #807
This part?
https://github.com/espnet/espnet/blob/master/espnet/nets/pytorch_backend/encoders.py#L163-L165

[2019-06-05 17:21] jan-schuchardt commented on #807
Exactly. It should be

'return: batch of padded hidden state sequences (B, Tmax // 4, 128 * D // 4)'

[2019-06-05 17:24] sw005320 commented on #807
Done. Thanks!

[2019-06-05 17:32] #807 closed

[2019-06-06 01:57] Rpersie commented on #764
I have run the baseline many times, but it is different. Sometimes, the results vary greatly.
![image](https://user-images.githubusercontent.com/12673020/59001294-932d1300-8840-11e9-9157-3c1fa9c03a22.png)
Do you think it may cause by this random?
If I just split the multichannel data to single channel and  dump them to json file, it will perform better and stably than the random training methods ?

[2019-06-06 02:18] sw005320 commented on #764
Hmm.
We try to make things deterministic (specify a fixed seed for python, numpy, pytorch, chainer and use the deterministic mode).
We still observe some slight difference in the same machine and environment, but this difference seems to be too large.
@kamo-naoyuki, do you have comments?

[2019-06-06 09:42] hirofumi0810 commented on #707
dev2010.en and tst*.en should not include any outputs becasue there is no reference per utterance.
So that is the correct observation. Instead i will fix in the recognition part.

[2019-06-06 09:44] sw005320 commented on #707
oh I see.
thanks for the clarification!

[2019-06-06 10:54] kamo-naoyuki commented on #764
I have no idea, sorry. All random seeds are fixed as I known, but  some bugs might be existing, I'm not sure because I didn't read all codes in espnet.

Could you show the loss or acc values among them? WER/CER is not the direct result, so I want to split the problem.

[2019-06-06 11:31] gruly commented on #707
My opinion is that you could indeed consider these test-db.yaml files as a part of the recipe (as suggested by sw005320) and upload them. And write an information about this somewhere in the recipe, maybe simply as a comment.

[2019-06-06 11:39] hirofumi0810 commented on #707
@gruly Yes. Please follow #808. You can check how to obtain test-db.yaml.
Another option is to upload other types of segmentation files (time information) then modify scripts in `local`.
Do you have segmentation files in your local environments? And is it possible to upload them Google Drive if you have?

[2019-06-06 11:49] gruly commented on #707
Thank you @hirofumi0810.
I have segmentation files provided by IWSLT18 organizers last year: https://sites.google.com/site/iwsltevaluation2018/Lectures-task

I can share if you are interested. They also were computed with LIUM_SpkDiarization (by organizers)

[2019-06-06 12:02] hirofumi0810 commented on #707
@gruly Accutually I was a participant of IWSLT2018.
But their segmentation files were very noisy, which was a crucial problem for evaluation.
Almost all participants implemented their own VAD to obtain better segmentation.

[2019-06-06 12:05] gruly commented on #707
OK. So, I do not have other files.

[2019-06-06 13:30] desothier1 opened #810 "tts synthesis issue"

[2019-06-06 13:31] #810 closed

[2019-06-06 13:34] desothier1 opened #811 "TTS synthesis using yes-no dataset"
HI

For using the yes-no dataset to train a TTS model,
training and testing generated no errors.

However the final wav files in outputs_model.loss.best_th0.5_mlr0.0-10.0_denorm,
generated with convert_fbank.sh, that convertes fbank features,

are empty.

Any help is welcome

Thanks!

[2019-06-06 13:52] kan-bayashi commented on #811
Hi @desothier1.
`egs/yes-no/tts1` recipe is for just debugging.
The trained model cannot generate any speech because the dataset is too small.
I recommend to use `egs/ljspeech/tts1` or `egs/m_ailabs/tts1` to build speech generatable model.

[2019-06-06 17:52] kamo-naoyuki commented on #811
Empty is strange, it should generate some sound files though It's not like speech.
I ran the run.sh just now and I can see some wav files at 'exp/train_nodev_pytorch_train_pytorch_tacotron2/outputs_model.loss.best_decode_denorm/test_yesno/wav/, so maybe your script may was exited with some errors.

[2019-06-06 19:43] desothier1 commented on #811
hi, yes, indeed it generated sound files, but not like speech.
As suggested by kan-bayashi, using egs/m_ailabs/tts1, works.
I let it run on only one epoch, and this time wav files with (garbled) speech generated.
Now running it on the 200 default epochs...
Thx!

[2019-06-06 19:50] desothier1 opened #814 "question - check which train data/acoustic features used for test data"
Hi

This is a question, and maybe not the right place to ask:
With ESPnet ASR, is there a way to check which train data, or which acoustic features from the train data are most used is test data, in order to check the quality of the train data,
or from certain speakers in the train data.

Thx for helping

[2019-06-07 01:46] #811 closed

[2019-06-07 05:20] j-pong commented on #733
Just upgrade to pytorch-1.1.0 with cudatoolkit-10.0 but evaluation error occur
RuntimeError: set_storage is not allowed on Tensor created from .data or .detach()

[2019-06-07 05:47] Rpersie commented on #764
ok, below is the training log. The log label 1,2,3,4 crospond to the order of the table.
Additionly, the 2train.log is interrupted in 9epoch , and I resume training from 9epoch
[1train.log](https://github.com/espnet/espnet/files/3264537/1train.log)
[2train.log](https://github.com/espnet/espnet/files/3264539/2train.log)
[3train.log](https://github.com/espnet/espnet/files/3264540/3train.log)
[4train

[2019-06-07 07:24] j-pong commented on #733
I add this lines to asr.py after version up pytorch 1.1.0 and wrap_CTC

from torch.nn.parallel.replicate import replicate
from torch.nn.parallel.data_parallel import DataParallel

class DataParallel_(DataParallel):
    def __init__(self, module, device_ids=None, output_device=None, dim=0):
        super(DataParallel_, self).__init__(module, device_ids=device_ids, output_device=output_device, dim=d

[2019-06-07 18:12] desothier1 commented on #670
Hi, do I understand it correctly that in current version, resuming is possible, but transfer learning not yet ?

[2019-06-07 22:42] sw005320 commented on #670
You're right.

Yes, several people internally use it.
I think it's relatively simple. We may use the resume function or check the recognition codes to load the pre-trained model and reuse that part of codes for the transfer learning.

I'd not support it officially since I want to stick to use the flat start (no pre-training) for the official recipe to fully make use of the benefit of simple end-to

[2019-06-07 22:43] sw005320 commented on #733
Thanks a lot! @Fhrozen, does it solve your issue? I don't have RTX 2080Ti/V100, and cannot check it...

[2019-06-07 23:22] Fhrozen commented on #733
I just tested again the containers:
In a server with ubuntu 16.04, V100, Cuda 10.0 (driver), I could run pytorch with mtlalpha 0.5 and there is no more trouble. However, the chainer backend is still showing the same error:

[code]
I suppose that this has to do with the chainer_ctc instead of the container or the driver.

Then the other setup is having problem with both pytorch and chainer
in the p

[2019-06-08 03:03] kamo-naoyuki opened #820 "Common run.sh and new style egs/asr2"
In Kaldi/ESPNet style, each `egs` has different `run.sh` even though they are almost all parts are same.
I think this system is not good for maintenance because all run.sh need to be modified if some new feature are appended. It also makes noises for reviewing when a new recipe is created. cmd.sh, path.sh and conf/slurm.conf etc. are also enough if one exists.

I'm planning that

1. Create it as `

[2019-06-08 11:36] kan-bayashi opened #822 "Output dimension of Conv2dSubsampling"
`Conv2dSubsampling` layer cause dimension mismatch when idim is multiple of 4.
https://github.com/espnet/espnet/blob/577baff5c5d229c860ca9936daba3cb51b9857cb/espnet/nets/pytorch_backend/transformer/subsampling.py#L14-L25

[code]

[2019-06-08 11:38] sw005320 commented on #814
If you want to check the speaker overlap between training and test data, you could check `data/train_960/spk2utt` to get the speaker information. But it is difficult to check the `quality` in general.

[2019-06-08 12:00] sw005320 commented on #820
Thanks for your great suggestion.
These are my comments/thoughts:
- I like your idea of working on such a new recipe procedure in `asr2`.
Once we fix it, we can follow the same style for TTS (@kamo-naoyuki and @takenori-y, please watch this issue carefully).
- For `cmd.sh` and `conf/*`, we can put them in the base directory, but I think it's better not to use symlinks because I'm changing them dep

[2019-06-09 08:05] Rpersie commented on #764
@kamo-naoyuki @sw005320  can you give me some ideas how to solve or debug this problem ? I have some ideas to improve the baseline. But now I can not ensure if it is the effects of the improvement or just the random factors

[2019-06-09 10:21] kamo-naoyuki commented on #764
The randomness at the frontend part is not relevant. The seed is  obviously fixed. You can easily check it without training.
(It's not just using the first channel but using random channel at the feature transform part.)

I'll check the code tomorrow, just a moment.

[2019-06-09 10:47] #575 closed

[2019-06-09 12:25] sw005320 commented on #820
Another thought.
We can switch from bash to python for the main script, i.e., `run.py` instead of `run.sh`.
Then, we could further modularize the above train, lm train, and decode functions more efficiently.
I'm concerning the compatibility with the main Kaldi bash style, but Kaldi also has such a python main script, and it is possible.

[2019-06-09 14:18] kamo-naoyuki commented on #820
I'm against to `run.py`. This is just my experience, but I have many times tackle such challenge in recent years and my conclusion is that shell script way is the best for gluing the training recipe.
Bash has very very restricted functions, so we don't need to use too complex design excessively.

Python can use more flexible design, but it means that it can be more complex. Maybe the kaldi's pytho

[2019-06-09 14:24] sw005320 commented on #820
Sounds good.
I also prefer bash gluing and I agree with you but I just raised it because there are always certain amount of requests for making everything with python.

[2019-06-10 01:32] Rpersie commented on #764
I debug the program and find that in asr.py
`with open(args.train_json, 'rb') as f:
        train_json = json.load(f)['utts']
    with open(args.valid_json, 'rb') as f:
        valid_json = json.load(f)['utts']
`
I print the train_json and find it is different every training time.
if use ` train_json = json.load(f,object_pairs_hook=collections.OrderedDict)['utts']`.
So it is caused by this ? @kamo

[2019-06-10 03:02] kamo-naoyuki commented on #764
Yes. Maybe, you are right.

As of python3.7, the order of `dict` is deterministic.
As of Python3.5, or lower, the order is depending on the PYTHONHASHSEED. It means that the reulst of following code can be changed by the hash seed.
[code]

For Python3.6, the behaviour may be different by its internal implementation.
As same as 3.5, the order is not deterministic as its strict specification, but ac

[2019-06-10 03:12] Rpersie commented on #764
Ok, I will try to fix the bug, and test it before sending a PR? Thank you !
Expect this, I also find a bug in mask_estimator.py.
![image](https://user-images.githubusercontent.com/12673020/59170233-4d3dbb00-8b70-11e9-99b2-101886044a0c.png)
I think the Zero padding should be done after the sigmoid. Because in beamformer.py, you do the normalization like this:
![image](https://user-images.githubuser

[2019-06-10 04:38] kamo-naoyuki commented on #764
As i noted there, it's no problem. The summation is same with zero padding.

[2019-06-10 04:41] kamo-naoyuki commented on #764
Hmm, but why can you use Python3.5? These code doesn't work at python3.5 because fstring is used.
If you are really using Python3.5, you should Python3.6+. This is requirement of espnet.

[2019-06-10 05:55] Rpersie commented on #764
no, sigmoid(0.0)  does not equal 0.So the mask should be done after sigmoid not before sigmoid .
I just change the fstring

[2019-06-10 06:10] kamo-naoyuki commented on #764
Oh, you are  right, sorry. sigmoid and padding should be swapped.
Use python3.6+. I can't guaranteed any results, so you don't need to fix the bug about reproducibility.

[2019-06-10 06:19] Rpersie commented on #764
OK, I will try the python3.6+. Thank you !  Do you have ever try spliting the multichannel data into single  channels and dump into the json file. In this way , all five noisy channels can be used to train the acoustic model.

[2019-06-10 06:27] kamo-naoyuki commented on #764
No I haven't, but all data can be used during many epochs because they are randomly picked.
Even if the recipe achieve better result than current, I think it's meaningless. It is accidental event.

[2019-06-10 06:39] Rpersie commented on #764
ok! thank you! I want to do some contributions to this "multichannel ".  I want to implement the GEV beamformer, but the pytorch does not support svd.  Can you give some advices ? Or do you have some unfinished work i can help .

[2019-06-10 07:14] kamo-naoyuki commented on #764
I was also interested in GEV (and I gave up.). so, maybe my advise is not so helpful.
We need general eig decomposition for Complex Matrix, you know. But pytorch supports only

- (Not general) symmetric eigen value decomposition
- Real Tensor
https://pytorch.org/docs/stable/torch.html#torch.symeig

If not considering the speed, the most easy way may be using Tensorflow as this way: https://pytorch

[2019-06-10 07:18] Rpersie commented on #764
So do you have any plan or unfinished ideas to improve this multichannel work ? eg. GAN, Teacher-Student Learning.

[2019-06-10 07:29] kamo-naoyuki commented on #764
No, sorry. I'm tackling another tasks now. Actually, I'm a programmer rather than researcher.
If you are planning them, it could be great contribution for ESPNet. If you meet some issues at program level with ESPNet, I would help you.

Thank you for some reporting.

[2019-06-10 07:35] Rpersie commented on #764
Ok, thanks

[2019-06-10 11:04] desothier1 commented on #670
Hi,
About a transfer learning use case,
For instance, instead of resuming with the same train data set,
It would be interesting if one could just start another training using another train data set (of course within the same target language).
With a ESPnet version of about a year ago that I used, I tried a resume training, using another train data set, but that yielded errors.

Thanks

Thierry

[2019-06-10 13:56] sw005320 commented on #764
Thanks a lot for your investigation.

We need to fix  at least two part, could you send a PR? @Rpersie (If you won't, I would)

Yes, it is right.
Could either of you make a PR about this?

[2019-06-10 15:11] sw005320 commented on #670
@creatorscan, could you share your experience? I guess this is exactly what you did last year.

[2019-06-11 00:53] kamo-naoyuki commented on #764
I'm rethinking whether it should be fixed... because it may not happen on CPython3.6.
OrderedDict usage looks a little ugly, and we need to use `dict` very carefully since now if we deal this problem as a bug even though it's really nothing.

I'll send PR about the padding bug after checking the performance changing.

[2019-06-11 01:40] Rpersie commented on #764
As the machine in our lab is not collected with the internet, it is troublesome to install the software offline.
So I try to fix this dict on my version and test the results. I check  the input data, now it is the same.
While I run two experiments at the same, the loss is different. I think it is caused by the pytorch initiation ? Am I right ?  @kamo-naoyuki
I will wait the final results.  If you

[2019-06-11 01:57] Fhrozen commented on #822
let me fix this in #774

[2019-06-11 02:18] Rpersie commented on #764
Sorry, I use different machine. I will test it more.

[2019-06-11 08:39] Fhrozen commented on #733
I just finished with the research and found a possible solution for this error:
For cuda 10.0 and GTX-series seems that making warp-ctc with `-gencode arch=compute_70,code=sm_70` has no problem, but for 10.1 and RTX (probably more the cuda version) this is no longer possible, so I took the recommendation from the code to build with  `gencode arch=compute_60,code=sm_70"` and it successfully execute

[2019-06-11 11:21] Fhrozen commented on #822
Fixed in #774

[2019-06-11 11:21] Fhrozen commented on #755
Fixed in #774

[2019-06-11 11:22] Fhrozen commented on #777
Fixed in #774

[2019-06-11 14:23] jnishi commented on #733
Could you create PR for this? ,and does this modification also work in CUDA10.0?

[2019-06-11 14:39] Fhrozen commented on #733
I tested this in docker container build with CUDA 10.0, inside a PC with CUDA 10.1 drivers/runtime so I suppose that yes. Besides, this solution was taken from the builder itself. When the warp-ctc is building, it suggest to make it with `compute_60` and `sm_70` in order to use `__shlf_down`, i will PR this to your fork. But the chainer one will be still failing, because of it uses the original co

[2019-06-11 15:33] simpleoier commented on #700
Hi guys. Based on my work (wsj-mix), the ESPnet (v.0.3.0) tool has a large performance gap with different version of Pytorch (0.4.1 vs. 1.0). I was trying to match the performance between the previous version and current one on wsj-2mix recipe, during which I found that on the single batch of data, the forward process and backward process result in different outputs. Though the difference is small

[2019-06-11 16:32] sw005320 commented on #700
@simpleoier, can you check it with only CTC? If not, can you test it? Also, can you share the part of your analysis?

[2019-06-12 14:13] Fhrozen commented on #733
@sw005320, Could you comment about this?

[2019-06-12 15:11] sw005320 commented on #733
Sorry... I just could not fully follow the discussion. For the chainer warp ctc, @jheymann85 may help. @jheymann85, could you help us with the new GPU support?

[2019-06-13 00:23] Natalia-T opened #832 "Error in SentencePiece installation."
From June, SentencePiece has started to use Bazel instead of CMake. This causes an installation error for SentencePiece.

[2019-06-13 01:19] sw005320 commented on #832
Thanks for your report.
@jnishi, could you test it?

[2019-06-13 03:48] Fhrozen commented on #733
@jheymann85 , do you mind changing the warp-ctc link from https://github.com/baidu-research/warp-ctc.git to the one forked by jnishi https://github.com/jnishi/warp-ctc, this last one has already updated to support new CUDA versions and new devices. This may help the problem for now.

[2019-06-13 04:39] jheymann85 commented on #733
Done. Could you please check if that resolves the issue? I don't have access to the hardware.

[2019-06-13 04:48] Fhrozen commented on #733
I just started to rebuild the containers. I will notify and close this issue once I got the results testing in V100 with CUDA 10.0 and RTX 2080Ti with CUDA 10.1.

[2019-06-13 11:59] Fhrozen opened #834 "[FYI - Docker] Chainer in CUDA 8.0 is not working"
During testing the containers with the recent updates for new devices I found that for the container with CUDA 8.0, chainer is not working, generating part of the following ouput error:

[code]
This seems a problem with the cuh file in cupy so I suppose that there is not easy solution.

I just wanted to inform about it. The pytorch backend is working without problem and chainer with other CUDA ver

[2019-06-13 13:18] sw005320 commented on #832
Maybe we can use `pip install`?

[2019-06-13 15:09] Fhrozen commented on #733
RTX with CUDA 10.1 now is working with and observation that the pytorch backend is still not supported. I tested a docker container with espent 0.4 and pytorch 1.0.1 and it has not problem. So suppose that this error will be resolve when v.0.4.0 is merged.

For V100 and can not run test for now, but the only problem was chainer so I suppose that the containers that run in the newer version should

[2019-06-13 15:09] #733 closed

[2019-06-13 15:12] jnishi commented on #832
According to the README, `Note: We're actively refactoring the codebase to simplify support for open source releases and Google internal needs. During this time, builds and tests will be unstable and not all features will be supported.` , and python binding is removed.

We'd better use latest released(v0.1.82) tagged version until their refactoring is finished.

[2019-06-13 15:28] sw005320 commented on #832
Thanks. Could you make a PR to fix to use v0.1.82 temporally?

[2019-06-13 16:17] sw005320 commented on #832
@Natalia-T, we just used v0.1.82 to avoid the issue. We fixed this at https://github.com/espnet/espnet/tree/v.0.4.0 (v.0.4.0 branch), which will be merged to the master soon.

[2019-06-13 16:48] Natalia-T commented on #832
Thank you.

[2019-06-14 00:20] Natalia-T opened #841 "json2trn_mt.py is missing"
An error message appears in the IWSLT18 recipe, in local/score_bleu.sh.

local/score_bleu.sh: line 28: json2trn_mt.py: command not found

https://github.com/espnet/espnet/blob/master/egs/iwslt18/st1/local/score_bleu.sh

json2trn_mt.py ${dir}/data.json ${dic_tgt} --ref ${dir}/ref.trn.org \
    --hyp ${dir}/hyp.trn.org --src ${dir}/src.trn.org --dict-src ${dic_src}

[2019-06-14 00:55] sw005320 commented on #841
Thanks for the report.
@hirofumi0810, I checked master, v.0.4.0, and your PR, but I could not find it. Could you prepare it?

[2019-06-15 01:41] #832 closed

[2019-06-15 04:05] ShigekiKarita commented on #650
@sw005320 should we create new issue for v.0.4.1?

[2019-06-15 04:12] sw005320 commented on #650
Yeah, let's make it.

[2019-06-15 04:19] #650 closed

[2019-06-15 04:22] ShigekiKarita opened #849 "Development plan for 0.5.0"
This issue is derived from 0.4.0 #650. Feel free to add or remove items.

- general functions
  - [x] measure coverage #850
  - [ ] achieve 80% test coverage
  - [ ] asynchronous snapshot saving
  - [ ] completely fix pytorch warp_ctc
- new functions
  - [x] neural machine translation #563
  - [ ] transformer LM
  - [ ] RNN transducer
  - [ ] cycle consisntency based semi-supervised training #712

[2019-06-15 16:37] ghost opened #856 "Error when installing espnet"
Hello,

I am getting an error when installing espnet.

Warning: IRSTLM is not installed by default anymore. If you need IRSTLM
Warning: use the script extras/install_irstlm.sh
All done OK.
make[1]: Leaving directory '/home/nvm/espnet/tools/kaldi/tools'
cd kaldi/src; ./configure --shared --use-cuda=no; make depend; make all
Configuring KALDI to use MKL.
Checking compiler g++ ...
Checking OpenFst li

[2019-06-15 16:57] ShigekiKarita commented on #856
Recently, kaldi assume MKL as default BLAS library. See also
https://github.com/kaldi-asr/kaldi/pull/3257
https://github.com/kaldi-asr/kaldi/pull/3194

You have two options
- install MKL https://kaldi-asr.org/doc/matrixwrap.html#matrixwrap_mkl
- patch this line as `cd kaldi/src; ./configure --shared --use-cuda=no --mathlib=ATLAS; $(MAKE) depend; $(MAKE) all `
https://github.com/espnet/espnet/blob/

[2019-06-15 17:15] hirofumi0810 commented on #841
@Natalia-T , thank you for letting me know. I fixed it in #808.

[2019-06-15 20:32] nvidiaman commented on #856
@ShigekiKarita  thank you! i am on a gpu machine, will use-cuda==no still be true?

[2019-06-15 21:29] nvidiaman commented on #856
@ShigekiKarita now i get:

2019-06-15 17:25:20,039 (lm:311) INFO: #tokens in the validation$
2019-06-15 17:25:20,039 (lm:312) INFO: oov rate in the validatio$
2019-06-15 17:25:20,040 (lm:321) INFO: #iterations per epoch = 3
2019-06-15 17:25:20,040 (lm:322) INFO: #total iterations = 60
Traceback (most recent call last):
  File "/home/nvm/espnet/egs/an4/asr1/../../../espnet/bin/lm$
    main(sys.argv

[2019-06-15 21:46] sw005320 commented on #856
Can you perform `make check_install` at `espnet/tools` directory, and show me the log?
If this looks normal, the problem might be your GPU/CUDA environment.

[2019-06-16 04:10] ShigekiKarita commented on #856
Or you can try `--backend pytorch` to check your CUDA is sane.

[2019-06-16 05:22] Jzmo opened #863 "Negative CTC loss"
Hey guys,

I am working on AMI multichannel recipe, and encounter a negative CTC loss issue. In training process the CTC loss sometimes appear to be nan, large positive and negative value as shown below:
`2019-06-13 02:30:01,545 (e2e_asr:302) WARNING: loss (=nan) is not correct`
`2019-06-13 03:52:24,416 (e2e_asr:302) WARNING: loss (=14484257.000000) is not correct`
`2019-06-13 04:22:57,220 (e2e_as

[2019-06-16 07:11] ShigekiKarita commented on #863
When the text is shorter than its subsampled speech, ctc loss results nan. Maybe 0.1s is not enough. Anyway, this warning does no harm because our implementation simply ignores this awful loss value before `loss.backward()`.

[2019-06-16 13:44] ShigekiKarita commented on #820
I agree with @kamo-naoyuki idea. I think async/multi processing in Bash is much easier and readable than one in Python. However, for Jupyter users including me, the handy commands written in Python (data generation, train, decode, scoring) is very welcome.

[2019-06-16 14:36] sw005320 commented on #863
I have never had the negative CTC loss in the single channel system. Always positive. This seems to be a specific issue in the multichannel system. Besides that, I'm concerning about the current utterance wise BF algorithm because some of the AMI utterances are too short to compute the BF filter.

[2019-06-17 01:48] ghost opened #870 "How to put data in babel experiment"
Hi

I followed the babel ReadMe and in this step:

./run.sh --langs "102" --recog "102"

I get the error:

Unable to open vocabulary file /export/babel/data/102-assamese/release-current/conversational/reference_materials/lexicon.txt at local/prepare_acoustic_training_data.pl line 131.
cat: data/train.tmp/segments: No such file or directory
./utils/subset_data_dir.sh: no such file data/train.tmp/ut

[2019-06-17 02:42] Jzmo commented on #863
Thanks for your reply and advice. I'm now train the network by just ignoring of negative loss. However, there is a new observation confused me a lot: When running on Tesla K80 GPU, the number of bad loss value is much less than running on GTX 1080ti.
For example for the first 600 iterations on GTX 1080ti:
[code]
... and on Tesla K80:
[code]
Do you have any idea about this phenomenon?

[2019-06-17 08:38] tomotious commented on #849
I am looking forward to the development of RNN transducer

[2019-06-17 08:47] b-flo commented on #849
Hi @tomotious ,

 RNN Transducer (vanilla & attention) is close to completion. We are doing validation on some datasets and we will push it into ESPNET soon.

[2019-06-17 08:53] b-flo commented on #863
Hi,

I observed the same phenomenon when training with CTC a single channel system on a French corpus. In my case it only occured when using VGG bottleneck and was mainly due to the fact the corpus contains irregular segment-utterance pairs.
However as @ShigekiKarita said it, it didn't harm the training.

[2019-06-17 09:19] creatorscan commented on #870
You need to change the path ("/export/babel/data/102-assamese/") of your BABEL data directory in conf/lang.conf, as the default setup works only at JHU.

[2019-06-17 15:05] sw005320 commented on #863
This is very interesting.
Could you test the same setup at the single channel (normal `asr1`) recipe?
I just want to make sure this happens from CTC or something in the multichannel recipe.

Best,
Shinji

[2019-06-18 14:55] r9y9 opened #876 "Documentation"
Current documentation in README explains how to install the toolkit and how to run examples. However, I don't think this is enough for users who want to make some changes to the existing recipes or make their own new recipe. In that case, one needs to understand what `run.sh` does step by step, but I think docs for that are missing at the moment. It would be great if we provide documentation for:

[2019-06-18 14:59] r9y9 commented on #57
Is this still working now?

[2019-06-18 15:01] ShigekiKarita commented on #57
Yes

[2019-06-18 15:03] ShigekiKarita commented on #876
Maybe it is time to enrich
- CONTRIBUTING.md https://github.com/espnet/espnet/blob/master/CONTRIBUTING.md or docs
- sphinx doc https://github.com/espnet/espnet/tree/master/doc

[2019-06-18 15:14] r9y9 commented on #57
Ah okay, doc building system is working but API docs are just missing in https://github.com/espnet/espnet/blob/master/doc/apis/nets.rst.

[2019-06-18 15:18] ShigekiKarita commented on #876
Everything is undocumented as you mentioned but I just gather info

See https://github.com/espnet/espnet/pull/493#issuecomment-447731276

Never documented but I do not think it is difficult to make doc on these. Their input and output are just NN models and `data.json` with its external files basically.

For documenting input/output of tools under `utils/`, these tests are helpful. https://github.

[2019-06-18 15:37] r9y9 commented on #876
Thank you for the information! As for the json format, I already looked into the actual data and your mentioned thread, but I was a little confused because the format used in ljspeech/tts1 recipe is a bit different from what mentioned in the thread:

[code]

As you can see, there's no `filetype` field. Anyway, it would be nice if its format is documented.

As for the CLI tools, I'm thinking about

[2019-06-18 15:41] ShigekiKarita commented on #876
Maybe in the later discussion, we decided `filetype` is optional because we can see the extensions `.ark`, `.h5`, etc. Thanks for the good example. Fairseq always shows us the best way to go...

[2019-06-18 15:44] ShigekiKarita commented on #57
https://espnet.github.io/espnet/apis/nets.html
this page is listed in the left column. maybe it is nice to add index.rst

[2019-06-18 15:45] ShigekiKarita commented on #57
this nets page has not been updated so far... we need to add more (ASR/TTSInterface, Transformer, Frontend, etc)

[2019-06-18 18:00] sw005320 commented on #876
Thanks for raising the issue.
Yes, you're right.
We'll need to have a special project to enrich the document...

@ShigekiKarita and @kan-bayashi, could you make one or two hours to do it?
Let's try to distribute our efforts to fix the above items.
We basically update https://espnet.github.io/espnet/. `README.md` is also getting bigger, and we should move some contents to https://espnet.github.io/e

[2019-06-18 18:47] Jzmo commented on #863
I did this test and the result seems indicate is not only appear in multichannel recipe.
The normal asr1 recipe has less awful loss. But it reports 4 times bad loss when training on K80 with in 10000 iterations while 14 times on 1080ti.