[2021-09-04 02:14] WanderingSven commented on #3521
@sw005320 Thanks for your reply.  In [espnet/nets/pytorch_backbend/lm/default](https://github.com/espnet/espnet/blob/51e3299fb706bd2860afae6ef2f5dcb8fbb0f67b/espnet/nets/pytorch_backend/lm/default.py#L135):
`loss += loss_batch.mean() * non_zeros
`
if loss batch=[2,4,0], non zeros=3 then loss batch.mean()=2,loss=6, however, the true loss=6. Why do we need to calculate the mean of loss_batch? I thin

[2021-09-04 02:17] WanderingSven commented on #3521
@sw005320 Thanks for your reply.  In [espnet/nets/pytorch_backbend/lm/default](https://github.com/espnet/espnet/blob/51e3299fb706bd2860afae6ef2f5dcb8fbb0f67b/espnet/nets/pytorch_backend/lm/default.py#L135):
`loss += loss_batch.mean() * non_zeros
`
if loss batch=[2,4,0], non zeros=2 then loss batch.mean()=2,loss=4, however, the true loss=6. Why do we need to calculate the mean of loss_batch? I thin

[2021-09-04 06:14] zzxiang commented on #3520
Thank you very much for the detailed answer!

[2021-09-04 06:14] #3520 closed

[2021-09-04 10:33] marcoyang1998 opened #3559 "RNN-T beam search decoding"
Hi, thanks for the wonderful project. I am using ESPnet1 to train a conformer transducer ASR model and would like to use beam search decoding to get WER results with a transformer LM. However, I noticed that ESPnet1 only supports RNN LM for transducer decoding. I was wondering if there is a way to use transformer LM for transducer decoding in ESPnet?

Thanks!

[2021-09-04 18:38] gafsd commented on #3536
I am looking into it more and I think it is very strange issue I am having. It hang here every time I run it: https://github.com/espnet/espnet/blob/master/espnet2/train/gan_trainer.py#L261
It hangs after a few iters and always on discriminator optimizer (Adam) idx=1 grad_norm=None no scaler. I will keep looking but do you have any idea?

Also I will check VITS finetune too and compare if I fix thi

[2021-09-04 23:52] kan-bayashi commented on #3536
@gafsd Thank you for your investigation.
I'm wondering your issue is only happened in the case of gan training or not.
e.g.,

If you fill out the bug report template, I may be able to say something more.

[2021-09-05 05:20] gafsd opened #3562 "Hang when training"
**Describe the bug**
Sometimes in training espnet hang while iterating

**Basic environments:**
 - OS information: `Linux 5.10.43 #1 SMP Ubuntu Bionic Beaver 18.04.5 x86_64`
 - python version: Python 3.7.10 (default, Feb 26 2021, 18:47:35) [GCC 7.3.0]
 - espnet version: main
 - Git hash 65e1d4627ba84401fb68176b6aace2a9e321a79c
 - pytorch 1.9.0

**Environments from `torch.utils.collect_env`:**
[cod

[2021-09-05 07:39] b-flo commented on #3559
Hi,

It's already supported! Compared to other ASR model, only decoding with N-gram is not supported for Transducer.

[2021-09-05 08:46] kan-bayashi commented on #3562
Thank you for your report.
Could you also attach the config (`conf/tuning/train_joint_conformer_fastspeech2_hifigan_discrim.yaml`)?

Did this message appear?

[2021-09-05 08:49] gafsd commented on #3562
[code]

[2021-09-05 08:51] gafsd commented on #3562
Yes the scheduler message appears during iterations but after it hangs it just prints 'pre_optim' and does not print 'pre_scheduler'
At the moment I suspect that it happened during other training but I can't confirm (no debug messages at those times and it took longer to hang so I am working on get debug output now)

[2021-09-05 10:46] pengchengguo opened #3563 "`nvidia-smi` command show weird information when running with DDP"
**Describe the bug**

Hi everyone, when running ASR experiments on 1 node w/ 4 RTX 3090 GPUs and w/ EPSnet2 DDP training, the `nvidia-smi` command shows weird information like this:

<img width="714" alt="image" src="https://user-images.githubusercontent.com/23135280/132123763-95037008-5e3d-4a57-b799-02589a81409e.png">

For the DPP params, I just use the default settings.
I am not sure why each jo

[2021-09-06 01:17] kan-bayashi commented on #3563
I also confirmed this issue. But no harmful effect.

[2021-09-06 01:48] v-yunbin commented on #3506
I did it that  you said，constructing the model instance for each thread,  fastspeech model works, transfomer model met follows errors.

[2021-09-06 01:50] v-yunbin commented on #3506
I  did it that you said,  and construct the model instance for each thread, but fastspeech model works, transformer met follows errors.

[2021-09-06 02:06] gafsd commented on #3562
After 6 hours the other joint config now hang as well same section

[code]

[code]

[2021-09-06 04:39] nellorebhanuteja commented on #3547
There are two ways you can do this

[code]

or

[code]

Later, check which tag your cloned repo belongs to
[code]

[2021-09-06 06:06] pengchengguo commented on #3563
Thanks for your reply.

Yeah, it is no harm to the performance. Besides, when running experiments on 2 Tesla P40 GPUs and w/ Nvidia driver version equals to 450.66, it will be normal. So, the problem may be caused by DDP on different Nvidia drivers or GPUs.

[2021-09-06 06:12] b-flo commented on #3548
It seems related to @qmpzzpmq's cluster CUDA loader and I couldn't reproduce the issue with different setup.
I'm closing the issue, I'll reopen if needed.

[2021-09-06 06:12] #3548 closed

[2021-09-06 18:12] TalhaKhalil commented on #3547
Alright. Thanks

[2021-09-06 18:12] #3547 closed

[2021-09-07 12:57] gafsd commented on #3562
I have found a fix I think. I set CUDA_LAUNCH_BLOCKING=1 and the hang is fix.

[2021-09-07 12:57] #3562 closed

[2021-09-07 12:58] kan-bayashi commented on #3562
Thank you for sharing the solution!

[2021-09-07 13:10] terbed opened #3571 "Voice Conversion training (arctic) error"
Hi there,

I followed the demo training steps, and run the following command:
`./run.sh --stop_stage 4 --norm_name judy --pretrained_model m_ailabs.judy.vtn_tts_pt --train_config conf/train_pytorch_transformer.tts_pt.single.yaml --tag vtn_tts_pt`
Which results in the following training error:
[code]

Any idea what could be the problem?

Thanks,
Daniel

[2021-09-08 11:48] gafsd commented on #3536
I check fs2 pretrain + hifigan G + D pretrain trained 39epochs and the metallic noise is reduced a lot but still present. Is there anything else I can adjust to reduce or more training? And have you tried multispeaker finetune? Overall I am impressed as the result is much better than finetuning separately. I wonder if using PWG discrim or generator would be good too.

Next I will try on another da

[2021-09-08 12:00] kan-bayashi commented on #3536
Thanks for sharing your experiments.
Multi-speaker has not yet tried but VITS finetuning works well (easy and good quality in Japanese dataset).
You can find examples in `egs2/jvs/tts1`.

[2021-09-08 15:52] wanwen1405 opened #3574 "Input phonemes as text input to generate audio output"
Hi!

Does anybody know I can input phonemes to generate audio output instead of inputting a text sentence?

for example

Text = " HH AH0 L OW1 , HH AW1 AA1 R Y UW1 ?"

instead of

Text = "hello, how are you?"

[2021-09-09 00:01] kan-bayashi commented on #3574
You can use `g2p=none` in the recipe level.
https://github.com/espnet/espnet/tree/master/egs2/TEMPLATE/tts1#supported-text-frontend

If you want to overwrite the g2p in the pretrained model, you have two choices:
1. Edit `config.yaml` and change to `g2p: null` and `cleaner: null`.
2. Overwrite after loading in the python as follows:
[code]

[2021-09-09 07:18] wanwen1405 commented on #3574
@kan-bayashi  thank you for the prompt reply. I am giving it a try now.

Meanwhile, is there anywhere in this https://colab.research.google.com/gist/sayakmisra/2bf6e72fb9eed2f8cfb2fb47143726b6/-e2e-tts.ipynb#scrollTo=i8JXOfRfqMFN demo under Setup where I can try using phoneme as input instead of text language?

[2021-09-09 09:38] cedilla1312 opened #3577 "How to make cross-lang transfer learning feasible? | Ampere RTX GPU support"
1. Hey, I want to transfer learn (TL) selected English ASR model to Slovak ASR model.
My 1st alternative is to use `Gigaspeech` (probably the one accessible at `Zenodo`)... or it could be `LibriSpeech` or `Voxforge` model, as well.
The 2nd alternative (depends on the obstacles/feasibility in ESPnet(v2) to transfer learn between languages) is to transfer learn some English ASR model (at `Zenodo` or

[2021-09-09 11:10] gafsd commented on #3536
Ok I've trained 39epoch of VITS and it sound good but have some prosody issue (chopping of syllable). I am quite impress with both actually so it is tricky but I think VITS have better smoother wave output (no metallic noise) but worse prosody and sometimes mispronounce, fs2+hifigan have good prosody but metallic noise in some sentence and more monotone.

Couple questions:
Any suggestions you have

[2021-09-09 12:13] kan-bayashi commented on #3536
From my experiments, the vocoders without noise inputs (e.g., MelGAN / HiFiGAN) tend to cause metallic noise when the inputs are mismatched. The vocoders like PWG and StyleMelGAN are more robust to the mismatch and produce less noise. So joint training with Style MelGAN might be interesting (I've not yet tried). And joint training from scratch seems better than joint fine-tuning.

In the early sta

[2021-09-09 12:19] kan-bayashi commented on #3574
Just skip cleaner and g2p.
[code]

[2021-09-09 12:20] #3574 closed

[2021-09-09 16:58] gafsd commented on #3536
Hmm you mean joint training with pretrain fs2 but no pretrain vocoder? I only have small datasets so might be hard to train fs2 scratch. I can try with fresh StyleMelGAN if I have config (I think some changes need made from ParallelWaveGAN cfg).

[2021-09-09 20:49] sw005320 commented on #3577
Thanks!
For cross-lang transfer learning of espent2, please check
https://espnet.github.io/espnet/espnet2_training_option.html?highlight=fine%20tuning#transfer-learning-fine-tuning-using-pretrained-model

[2021-09-10 04:36] kan-bayashi commented on #3536
No, train the initialized fs2 + hifigan g & d from scratch.
I updated the results #3578, finetuning form this model might be interesting?

You can copy `generator_params` and `discriminator_params` in PWG pretrained model and copied to `vocoder_params` and `discriminator_params` in espnet2 finetuning config.

[2021-09-10 04:48] gafsd commented on #3536
Ok I try finetune from all three pretrain today. I think initial fs2 hard to train from scratch on small single speaker data... I can maybe try though. And then StyleMelGAN

[2021-09-10 10:13] D-X-Y commented on #2673
@panpanli521 did you solved this issue? I met the same issue, where I slightly changed the loss function.
After several iterations not a full epoch, this error occurs

[2021-09-10 15:21] gafsd commented on #3536
I try with pretrain all three finetuned and it sound worse actually than pretrain fs2 + hifigan generator (although training only at 18epoch so far); is this init_param wrong?
[code]

[2021-09-11 00:44] kan-bayashi commented on #3536
It seems fine, the optimizer setting may be slightly different.
Please check carefully.

For style melgan, you need to use `segment_size = prod(noise_upsample_scales)`.

[2021-09-11 16:03] gafsd commented on #3536
I notice you train vctk vits. How do you find results? Compare to single speaker?

[2021-09-11 23:29] kan-bayashi commented on #3536
Compared with a single speaker, the quality is almost the same (not yet compared strictly). But in terms of multi-speaker model, it is much better than FS2 + x-vector approach.

[2021-09-12 16:25] gafsd commented on #3536
I try style_melgan finetune but result is very bad, (complete corrupt audio) not sure if my config is wrong
[code]

[2021-09-12 23:26] kan-bayashi commented on #3536
Optimizer setting is very sensitive.
How was it?

[2021-09-13 05:20] gafsd commented on #3536
[code]

[2021-09-13 07:04] tzyll opened #3582 "New version got worse results"
The espnet2 baselines of 2 datasets all got worse results than older one with the same machine.
Is that because default conf changed or something else?

# Env
Old version:
pytorch1.7.1-cuda9.2
New version:
pytorch1.9.0-cuda11.1

# WSJ
conf  | dev93 | eval92
-- | -- | --
conf/train_asr_transformer.yaml  | 6.2 | 3.9
conf/train_asr_transformer_new_version.yaml | 7.9 | 5.0

conf diff:
[code]

# HKUST

[2021-09-13 08:32] kan-bayashi commented on #3536
Please check this finetune config.
https://github.com/espnet/espnet/blob/master/egs2/ljspeech/tts1/conf/tuning/finetune_joint_conformer_fastspeech2_hifigan.yaml#L218

[2021-09-13 09:59] popcornell opened #3583 "Sub-linear Multi-GPU scaling on LibriSpeech with Transformer"
Hello ESPNet team,

I have observed sub-linear scaling when more than 1 GPU is used at least on LibriSpeech ASR recipe with transformer.

I used this transformer config:  https://github.com/espnet/espnet/blob/master/egs2/librispeech/asr1/conf/tuning/train_asr_transformer.yaml

This is what i get:
(NOTE: i disabled speed augmentation, so I iterate only on original LibriSpeech data.)

N GPUs | Time

[2021-09-13 13:53] sw005320 commented on #3582
Thanks for the report.
I'm expecting that it happened due to that we wrongly disabled the model averaging.
So, could you use `--inference_asr_model valid.acc.ave.pth`?
The latest one already fixed this issue.

[2021-09-13 14:27] sw005320 commented on #3583
Thanks, @popcornell for pointing out the issue.
This is very important.
We actually had some internal discussion about it.

[2021-09-14 10:47] tzyll commented on #3582
Thanks. OK now with --inference_asr_model valid.acc.ave.pth.

[2021-09-14 10:48] #3582 closed

[2021-09-15 16:23] gafsd commented on #3536
Trying it on a different dataset now. Get this error - probably my data size too short but I expect one of the stages to remove it if too short?
[code]

[2021-09-16 02:12] Mddct commented on #2893
Any update on this？

[2021-09-16 06:18] #3563 closed

[2021-09-16 09:17] kan-bayashi commented on #3536
You can filter short samples in stage 3.
[code]

[2021-09-16 10:19] b-flo commented on #3559
Closing the issue. Feel free to re-open it if you encounter a bug with Transformer LM or if you've additional questions!

[2021-09-16 10:19] #3559 closed

[2021-09-17 09:15] kamo-naoyuki commented on #3255
`--num_att_plot 0` should indicate disabling only attention plotting, but this modification disables all plotting. This is incorrect. We need to fix.

[2021-09-17 09:43] tjysdsg commented on #3255
Does the correct way of doing this be excluding the `att_plot` key [here](https://github.com/espnet/espnet/blob/master/espnet2/train/reporter.py#L503) when `--num_att_plot 0`?

[2021-09-17 09:47] kamo-naoyuki commented on #3255
I fixed it in #3592. Please use `--use_matplotlib` option after merging.

[2021-09-17 11:56] abdul756 opened #3595 "How to write a custom decoder and integrate it with BERT OR Transformer based LM model and to the output of accoustic model provided by other framework"
### Discussed in https://github.com/espnet/espnet/discussions/3594

<div type='discussions-op-text'>

<sup>Originally posted by **abdul756** September 17, 2021</sup>
Please help me in writing a custom decoder for  integrating  it with BERT OR Transformer based LM model and to the output of accoustic model provided by other framework</div>

[2021-09-17 21:37] sw005320 commented on #3595
Thanks for the discussion!
Actually, @akreal implemented the use of BERT in the post-processing of the encoder.
@akreal, can you explain it a bit to @abdul756?

[2021-09-18 08:36] terbed commented on #3194
Hi @unilight @vishal16babu!
I could not execute the basic steps presented in the readme. I received the following error in the log file:

Somehow the model cannot be initialized with the pretrained weights. Do you have any ideas about what could go wrong?

[2021-09-18 09:33] zzxiang opened #3598 "The data download link in vcc20 does not exist anymore"
I'm trying the cross-lingual voice conversion recipe of https://github.com/espnet/espnet/tree/master/egs/vcc20

But failed at step -1 of data downloading. The data URL http://www.caito.de/data/ does not exist any more:

https://github.com/espnet/espnet/blob/3b1d78de9ef00d44714365ef9a1ab1b465d755b4/egs/vcc20/tts1_en_zh/local/download_mailabs.sh#L31

[2021-09-18 10:36] akreal commented on #3595
Hi @abdul756!
I'm not sure I understand the question. Currently it is possible to put a pre-trained NLU (BERT or some other pre-trained Transformer) in the middle between Encoder and Decoder:

[code]
This way, the output of Encoder gets processed by NLU and may have more information about its linguistic properties (e.g. semantics). Decoder is trained as usual and should learn how to decode this in

[2021-09-18 13:06] sw005320 commented on #3598
Thanks for the report!
@unilight, could I ask you to handle it!

[2021-09-18 14:56] unilight commented on #3598
Hi @zzxiang, from https://www.caito.de/2019/01/the-m-ailabs-speech-dataset/, looks like they changed the links. I will send a PR to update the links as soon as possible. Meanwhile, you can download the dataset manually from the link above if you want to proceed!

[2021-09-18 17:59] gafsd commented on #3536
I still get same error :/

[2021-09-18 21:16] zzxiang commented on #3598
Thank you very much!

[2021-09-18 23:12] kan-bayashi commented on #3536
You may changed dumpdir?
https://github.com/espnet/espnet/tree/master/egs2/jvs/tts1#1-run-the-recipe-until-stage-5-with-2205khz-setup

[2021-09-19 03:58] gafsd commented on #3536
Sorry I get this error when finetune style melgan. segment_size: 88
[code]

[2021-09-19 04:08] kan-bayashi commented on #3536
Then `88 * 256 (shift) / 22050 (fs) = 1.021678` so `--min_wav_duration 1.022`.

[2021-09-19 14:23] learnabitmore opened #3601 "segment_size in mini_librispeech decoding config"
May I ask if an audio is longer than the segment_size, will the predictions have the same speaker order across all segments? Say if the predictions for both segments are [[1, 0], [1, 0], [1, 0]], i.e. only one speaker speaks in individual segments, do we know if the same speaker speaks in both segments or the speakers can be different?

[2021-09-19 17:42] sw005320 commented on #3601
Are you talking about the diarization recipe?
If so, we cannot maintain the same speaker information across the segment.
We usually perform it for the entire recording or combine it with a clustering method.

[2021-09-19 18:14] learnabitmore commented on #3601
Yes it's about the diarization recipe. Thank you for your answer.
When the recording is very long, what would be the best way to "combine it with a clustering method" using ESPnet2?

[2021-09-20 01:31] sw005320 commented on #3601
We can compute an x-vector of each speaker segment and perform clustering.
But we can also extend a network to explicitly have an embedding output like https://arxiv.org/pdf/2010.13366.pdf

https://arxiv.org/pdf/2006.02616.pdf does not require so much change in training

[2021-09-20 05:18] gafsd commented on #3536
Thank you it work now. I find even with the optimizer setting above style melgan is slow to converge and sound bad even after 20 epoch, high pitch, speak too fast.

[2021-09-20 07:36] D-X-Y opened #3604 "Difference between "espnet2.bin.launch" and "asr_train"
Hi ESPNet team,

In the documentation, the explanation for espnet2.bin.launch remains "Coming soon…".
I'm wondering what is the difference if I run jobs via "espnet2.bin.launch" and "espnet2.bin.asr_train", especially that for:
- Multi-threading with single host
- Multi-processing with single host
-
Will there be any differences?

Thanks for your time in advance.

[2021-09-20 07:38] D-X-Y opened #3605 "[Questions] Difference between running jobs from "espnet2.bin.launch" and "espnet2.bin.asr_train""
Hi ESPNet team,

In the documentation, the explanation for  espnet2.bin.launch remains "Coming soon…".
I'm wondering what is the difference if I run jobs via  "espnet2.bin.launch" and "espnet2.bin.asr_train", especially that for:
- Multi-threading with single host
- Multi-processing with single host

Will there be any differences?

Thanks for your time in advance.

[2021-09-20 07:49] D-X-Y commented on #3604
Closed as identical to #3605

[2021-09-20 07:49] #3604 closed

[2021-09-20 12:49] 200987299 opened #3609 "no module named tranformers"
Dear developers,

I am using a recently downloaded espent version, and I got error when training asr, the error is:

  File "/espnet/espnet2/asr/postencoder/hugging_face_transformers_postencoder.py", line 9, in <module>
    from transformers import AutoModel
ModuleNotFoundError: No module named 'transformers'

I could not find this transformers module, can anyone help me here?

Bests

[2021-09-20 15:15] abnerLing opened #3610 "s3prl pretrained model inference"
I am trying to just test the inference of the pretrained hubert-conformer mode using the model uploaded on HuggingFace, but I get an error regarding state_dict keys.
[code]
I'm simply using the below code.

[code]

[code]

[2021-09-20 15:23] sw005320 commented on #3609
Thanks for the report.
@akreal, could you answer it for me?
Maybe, we need to add a check for HF transformer libraries?

[2021-09-20 16:03] akreal commented on #3609
HF transformers is currently in the requirements and should be installed together with the other dependencies:

https://github.com/espnet/espnet/blob/a9c032b0bb3dcc64f1cb27896fd0746f8e1e4a59/setup.py#L50

If it is an old installation and requirements have changed since the installation was done, then the installation should be repeated, I guess.

[2021-09-20 16:04] simpleoier commented on #3610
@abnerLing Thanks for reporting this. Actually, I also met this error last week when I tried decoding with pretrained model. It is because a parameter `label_embs_concat` was missing in the pretrained models (could be due to the fairseq version issues). I need some further discussion with the original author who provided the model. There is a solution which worked in my case:  In `espnet/tools/s3p

[2021-09-20 16:07] 200987299 commented on #3609
Dear Akreal,

Could you also update the docker file so that transformer is automaticly installed?

Thanks

[2021-09-20 16:12] sw005320 commented on #3609
@Fhrozen, could you do that for us?

[2021-09-21 01:35] Fhrozen commented on #3609
@sw005320, to confirm that the containers were updated and built with the `transformer` package.
I am currently uploading. will be ready in a few mins.

[2021-09-21 08:11] 200987299 commented on #3609
Thank you!

[2021-09-21 08:11] #3609 closed

[2021-09-21 22:46] jinpoon opened #3611 "AIShell results for Conformer not reproducible"
Hi team,
I am following the instructions on the aishell [README.md](https://github.com/espnet/espnet/blob/master/egs2/aishell/asr1/README.md) and trying to reproduce the conformer results.  I downloaded the data from the link (https://zenodo.org/record/4105763#.X40xe2j7QUE). The instructions ask to checkout the commit `20b0c89369d9dd3e05780b65fdd00a9b4f4891e5`, but in this commit `./conf/tuning/tr

[2021-09-21 22:48] sw005320 commented on #3611
@pengchengguo, can you answer it for me?
I'm expecting the compatibility issue of the relative positional encoding.

[2021-09-22 04:52] srikanthk20 opened #3612 "Looking for Streaming ASR : RNN-T or Transformer Transducer Recipe"
Hi,

I am new to Espnet and looking for streaming ASR support either with RNN-T or Transformer transducer.
Can someone guide me to the appropriate recipe to start for this and the documentation if any.
Thanks in advance

[2021-09-22 07:34] b-flo commented on #3612
Hi,

Streaming Transducer is not available right now but this is the next objective. I have to fix quantization and n-gram decoding, refactor my streaming utilities and we're good to go. It will be available in a few weeks I guess.

[2021-09-22 09:25] gafsd commented on #3536
I think all the finetuning I tried so far have issues with the same pronunciation on VITS and hifigan (hifigan is bit better). Seems like words with "OY1 L" have bad pronunce e.g. coil, soil, toil, oil, boil. Any ideas on how can fix this?

[2021-09-22 09:28] kan-bayashi commented on #3536
Now I'm trying a new G2P (#3597), which gives me better intelligibility performance (~= ASR CER).

[2021-09-22 09:31] gafsd commented on #3536
Hmmm. I look forward to it - I think your work have produce good sounding tts now improve on pronounciation is next step. How big is new G2p vocab size? Do you think it will finetune well? How many iters trained so far? I wonder if I use multispeaker VITS train scratch then all my small dataset may have better pronunciation.

[2021-09-22 13:13] pengchengguo commented on #3611
Hi @jinpoon,
Thanks for your report. Maybe it is caused by the compatibility issue of the relative positional encoding as @sw005320 mentioned. I will check it ASAP.

Before fixing it, you can try different relative position encodings by modifying the `rel_pos_type` in the `config.yaml` file like `rel_pos_type: legacy` or `rel_pos_type: latest`.

[2021-09-22 13:37] srikanthk20 commented on #3612
Will look forward to it. Thanks to the team for the great work

[2021-09-24 22:50] jinpoon commented on #3611
@pengchengguo thanks for the reply. I am on a [commit](https://github.com/espnet/espnet/tree/70d16d210cdce28e71b7892a0ec96eaaa6474d64) that doesn't support `rel_pos_type` option, while the decode for the librispeech conformer model could match the reported values. Does it mean that positional encoding is probably not the main cause?

[2021-09-26 13:51] #3416 closed

[2021-09-27 10:01] #3267 closed

[2021-09-27 10:02] #3247 closed

[2021-09-27 10:02] #3245 closed

[2021-09-27 10:02] #3242 closed

[2021-09-27 10:03] #3229 closed

[2021-09-27 10:03] #3233 closed

[2021-09-27 10:03] #3203 closed

[2021-09-27 10:04] #3196 closed

[2021-09-27 10:04] #3188 closed

[2021-09-27 10:04] #3186 closed

[2021-09-27 10:05] #3158 closed

[2021-09-27 14:49] #1723 closed

[2021-09-27 14:49] #1899 closed

[2021-09-27 14:50] #2001 closed

[2021-09-27 14:51] #2146 closed

[2021-09-27 14:53] #2186 closed

[2021-09-27 14:53] #2540 closed

[2021-09-27 14:54] #2606 closed

[2021-09-27 14:55] #2609 closed

[2021-09-27 14:57] #2638 closed

[2021-09-27 15:00] #2698 closed

[2021-09-27 15:00] #2651 closed

[2021-09-27 15:01] #2806 closed

[2021-09-27 15:01] #2819 closed

[2021-09-28 06:40] arabae opened #3626 "ModuleNotFoundError: No module named 'espnet2'"
**Describe the bug**
I was performed ASR task using espnet2 and librispeech, But got the error "ModuleNotFoundError: No module named 'espnet2'" at stage 6 of asr.sh.

If I run python in the espnet folder and import espnet2, no error occurs, and when I run python in espnet/egs2/librispeech/asr1 and import espnet2, an error occurs.

It seems to have something to do with this, how can I fix it?

**Ba

[2021-09-28 07:32] wac81 opened #3627 "Speech classifier that can identify the PORN voice"
Speech classifier that can identify the PORN voice and NORMAL voice

which one i can use algorithm with ESPNET？

[2021-09-28 08:24] arabae commented on #3626
I solved it by adding PYTHONPATH to ~/.bashrc. 🙂

[2021-09-28 11:36] Fhrozen commented on #3627
Well, you could use a transformer encoder followed by an attention layer similar to X-vectors extractors and classify the voice. Now, I am not sure if there is any available corpus for the task. ;)

[2021-09-28 11:45] Fhrozen commented on #3627
You can also check for some ideas for sound event detection from the last DCASE challenge (http://dcase.community/challenge2021/task-sound-event-detection-and-separation-in-domestic-environments-results)

[2021-09-29 03:29] kiyosumaeda opened #3630 "asr training stops in 2epoch"
I'm using espnet2 to finetune models with our custom dataset.
During asr training on conformer and transformer, there are many warinigs.
[code]

Finally, the training ended at 2epoch.
[code]

Although I dealt with previous related issues (e.g. adding ignore nan grad in config file as described in [https://github.com/espnet/espnet/issues/3170](https://github.com/espnet/espnet/issues/3170)), there a

[2021-09-29 06:57] guoyifan97 opened #3633 "ESPnet2: How to train a multi-channel asr system on the CHiME4 corpus and use the WSJ0 data to help training."
I am trying to use the espnet2 to train a multi-channel asr system on the CHiME4 corpus.
And I am also trying to use the single-channel data from WSJ0 to help training the recognition backend.
In Espnet1, it has a category label like SINGLE-CHANNEL or MULTI-CHANNEL to create different channel data to separated mini-batch.
But it seems that Espnet2 does not have such a feature.
How can I deal with

[2021-09-29 11:32] sw005320 commented on #3630
This would often happen if the data preparation is not correctly done (especially when the (down-sampled) input feature is relatively shorter than the output length.
Could you check the audio file and corresponding text files again?

[2021-09-29 18:47] Emrys365 commented on #3633
@guoyifan97
Do you mean ① training a multi-channel ASR system with a multi-channel frontend or ② just a single ASR model to process multi-channel features?

For the former purpose, we are currently in a PR to introduce the joint training task of the SE frontend and ASR, which supports the use of a `utt2category` file to specify the category of each sample, just like in ESPnet1.

For the latter pur

[2021-09-30 01:27] guoyifan97 commented on #3633
Cool! Thanks a lot!

[2021-09-30 01:27] #3633 closed

[2021-09-30 02:12] kiyosumaeda commented on #3630
thank you for your reply. I’ll check the audio and text files and report the result.

[2021-10-01 10:58] r406 opened #3637 "failure at inference with multi-speaker on espnet1"
Hi,  I trained multi-speaker TTS with around 100 users using template of "espnet/egs/Libritts" with non-English language. Before I successfully trained and tested non-English single speaker.  During my multi-speakaer inference testing I tried to use the speaker embedding generated in "exp" directory   and it fails at  e2e_tts_tacotron2.inference. with error message
**Caught exception: AttributeErr

[2021-10-01 11:49] r406 commented on #3637
I have tested the non-English speaker embedding ( xvectors) with Libritts inference with example code for enspnet2  and no error is shown.

[2021-10-01 13:15] yinxx opened #3638 "AttributeError: module 'regex' has no attribute 'Pattern'"
just run demo of espnet2_tts_realtime_demo.ipynb there throw  an error:

AttributeError Traceback (most recent call last)
in ()
----> 1 from espnet2.bin.tts_inference import Text2Speech
2 from espnet2.utils.types import str_or_none
3
4 text2speech = Text2Speech.from_pretrained(
5 model_tag=str_or_none(tag),

9 frames
/usr/local/lib/python3.7/dist-packages/nltk/tokenize/casual.py in TweetTokenizer(

[2021-10-02 05:24] kan-bayashi commented on #3638
I cannot reproduce. Which model did you try?

[2021-10-02 08:22] redorangeyellowy opened #3639 "RuntimeError: cuDNN error: CUDNN_STATUS_EXECUTION_FAILED"
I don't know what happened in my model.
The error message is following:
[code]
My CUDA version is 11.2, and CUDNN version is following:
[code]
I want to find the solution ASAP.
Thanks.

[2021-10-02 12:29] kan-bayashi commented on #3637
Give me the whole log?

[2021-10-02 13:32] r406 commented on #3637
Number of speakers = 444
[nltk_data] Downloading package punkt to /home/posicube/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
Now ready to synthesize!
Input your favorite sentencne
종목별 허용 인원은 경기에 필요한 인원의 1.5배까지 가능합니다.
Cleaned text -: 종목뼐 허용 이눠는 경기에 피료하 니눠늬 일.오배까지 가능함니다.
 Speaker ID selected  = 426
Caught exception: AttributeError("'NoneType' object has no attribute 'norm'",)

[2021-10-02 13:37] r406 commented on #3637
example code
trans_type = "char"
dict_path = "dls/kr/multispeaker_tacotran2/data/lang_1char/train_clean_100_units.txt"
model_path = "dls/kr/multispeaker_tacotran2/exp/train_clean_100_pytorch_train_pytorch_tacotron2+spkemb/results/model.last1.avg.best"
vocoder_path = "dls/kr/multispeaker_wavgan_v1/checkpoint-1000000steps.pkl"
vocoder_conf = "dls/kr/multispeaker_wavgan_v1/config.yml"

from jamo impo

[2021-10-02 13:45] kan-bayashi commented on #3637
I want to check the traceback log.

[2021-10-02 13:50] kan-bayashi commented on #3639
Please provide info written in issue template.
Maybe pytorch wheel is mismatched with your cuda version.

[2021-10-02 15:35] redorangeyellowy commented on #3639
Oh, sorry. I missed them.
The followings are template:

**Describe the bug**
A clear and concise description of what the bug is.

**Basic environments:**
- OS information: Linux 5.4.0-73-generic #82-Ubuntu SMP Wed Apr 14 17:39:42 UTC 2021 x86_64
- python version: \`3.8.11 (default, Aug  3 2021, 15:09:35)  [GCC 7.5.0]\`
- espnet version: \`espnet 0.10.3a4\`
- pytorch version: \`pytorch 1.9.1+cu102\

[2021-10-03 03:13] kan-bayashi commented on #3639
As you can see, CUDA version is mismatched.
Maybe this is the reason.
[code]

[2021-10-03 07:26] redorangeyellowy commented on #3639
Oh, thank you.

So, how can I change the version?
I tried to install with this command:
`conda install pytorch torchvision torchaudio cudatoolkit=11.1 -c pytorch -c conda-forge`
but it doens't change anything.

Do you know any other idea?

[2021-10-03 07:31] kan-bayashi commented on #3639
From your log, your environment is mixed with conda and pip env.
This is very difficult to determine which one will be used for me.

[code]

I recommend re-creating portable conda env by following:
https://espnet.github.io/espnet/installation.html

[2021-10-03 08:21] redorangeyellowy commented on #3639
Thanks. As you recommended, I re-created new conda env.
So, when I enter this command `python3 -m torch.utils.collect_env`, the results are following:
[code]
I think this env matches CUDA version.
Isn't this okay?

[2021-10-03 08:55] redorangeyellowy commented on #3639
omg... I faced `RuntimeError: cuDNN error: CUDNN_STATUS_EXECUTION_FAILED` again...
I'm at a loss what to do next.
How can I solve this problem?

[2021-10-03 10:12] MingjieChen commented on #2763
Hello, I still get this error on M-AILAB TTS1 recipe (ESPNET1).
Is this bug fixed?
My pytorch version is 1.9

Thanks

[2021-10-04 12:39] keiouok opened #3640 "poetry update failed with {path = espnet, develop=true}"
Hello.

I tried to install espnet in python poetry environment.
Then I did `poetry add` with this `pyproject.toml`. However I had the following error.

(Now I'm using this environment with `pip3 install -e ./espnet`. It was no problem. )

After this error, I did `poetry add {numpy, Cython, scipy}` in this poetry env and `pip3 install {numpy, Cython, scipy}` in pyenv. However the same error still o

[2021-10-05 04:37] zzxiang opened #3641 "/usr/bin/env: 'bash -e': No such file or directory"
Some recipe scripts use `-e` option in shebang lines. For example,

https://github.com/espnet/espnet/blob/66facd2859977d23349cf74d5c8f5394e5cb6784/egs/vcc20/tts1_en_zh/local/download_csmsc.sh#L1

This may cause errors in some environments:

[code]

[The solution](https://stackoverflow.com/a/57049647/444860) is to add `-S` in the shebang lines:

[code]

[2021-10-05 05:08] kamo-naoyuki commented on #3639
I didn't know  that the official installation selects `nvidia` channel for pytorch1.9+cuda11.1, while  using `conda-forge` for pytorch1.8+cuda11.1.

https://pytorch.org/get-started/locally/

`conda install pytorch torchvision torchaudio cudatoolkit=11.1 -c pytorch -c nvidia`

I'm not sure this is the problem. In my side, this is no problem.

If you disabling cudnn and you still meet some errors, t

[2021-10-05 07:37] b-flo commented on #3641
Hi,

I think the proper solution would be :

[code]

If I remember correctly, the issue is with `execve()` system call. It parses the line and invokes `env` but depending on the system (Linux, MacOS, BSD, etc), it will yield an incorrect or unallowed tokenized set of arguments.

[2021-10-05 13:58] r406 commented on #3637
random_spk_idx = np.random.randint(0, len(spks))
            spk = spks[random_spk_idx]
            spembs = torch.FloatTensor(xvectors[spk]).to(device)
            c, _, _ = model.inference(x, inference_args, spembs=spembs)

[2021-10-05 14:00] r406 commented on #3637
i still get the same error. I even tried with Libritts dataset. Kindly could you please let me know how to get traceback log?

[2021-10-05 15:19] arabae opened #3642 "How to use Transducer in Librispeech with ESPnet2?"
Hi, thanks for the wonderful project.

I'm using ESPnet2 to train a conformer-transformer ASR model and would like to use RNN-T or Transformer transducer.
Can someone guide me to the appropriate recipe to start for this and the documentation if any.
Espnet Usage shows to add model_module to training config. but facing "asr_train.py: error: unrecognized arguments: model_module", and I don't know ho

[2021-10-05 15:36] b-flo commented on #3642
Transducer models are not available in ESPnet2, the documentation is intended for ESPnet1.
You can make a working ESPnet2 version using #2533, but most features  (e.g.: auxiliary tasks, FastEmit, mAES, etc) and optimizations won't be available compared to ESPnet1 version.

[2021-10-05 23:04] kan-bayashi commented on #3637
Please remove try except.

[2021-10-06 00:09] r406 commented on #3637
Traceback (most recent call last):
  File "testlibri.py", line 100, in <module>
    c, _, _ = model.inference(x, inference_args, spembs=spembs)
  File "/home/work/ParallelWaveGAN/tools/venv/lib/python3.6/site-packages/espnet/nets/pytorch_backend/e2e_tts_tacotron2.py", line 820, in inference
    spemb = F.normalize(spemb, dim=0).unsqueeze(0).expand(h.size(0), -1)
  File "/home/work/ParallelWaveGAN/

[2021-10-06 00:48] #3637 closed

[2021-10-06 05:51] r406 commented on #3637
Thanks for your help

[2021-10-06 12:21] #3642 closed

[2021-10-06 13:18] ronitd opened #3643 "Question: Is there any referral paper for "keep_n_model" method that is used in config file? I am unable to find a paper. Or should I cite ESPNet for it?"

[2021-10-06 14:21] ronitd commented on #3643
Yes, Thank you so much for the prompt reply. So in addition to averaging the last _n_ epochs of the Transformer, ESPNet provides this for the Conformer model as well with different criterion choice.

[2021-10-06 17:48] zzxiang opened #3644 "egs/vc1/local/update_json.sh does not exist any more"
The following symbolic links seems to be changed to `../../vc1_task2/local/update_json.sh`

https://github.com/espnet/espnet/blob/66facd2859977d23349cf74d5c8f5394e5cb6784/egs/vcc20/tts1_en_zh/local/update_json.sh#L1

https://github.com/espnet/espnet/blob/66facd2859977d23349cf74d5c8f5394e5cb6784/egs/vcc20/tts1_en_de/local/update_json.sh#L1

https://github.com/espnet/espnet/blob/66facd2859977d23349c

[2021-10-06 20:31] #3643 closed

[2021-10-08 09:23] zzxiang opened #3645 "StopIteration exception was raised when running vcc20"
**Describe the bug**
When running stage 4 of [egs/vcc20/tts1_en_zh/run.sh](https://github.com/espnet/espnet/blob/66facd2859977d23349cf74d5c8f5394e5cb6784/egs/vcc20/tts1_en_zh/run.sh), StopIteration exception was raised and the training process failed.

**Basic environments:**
 - OS information: Linux 5.11.0-1020-gcp 20.04.1-Ubuntu SMP x86_64
 - python version: 3.8.10
 - cudatoolkit version: 11.1.1

[2021-10-08 09:44] zzxiang commented on #3645
I found the reason. It's because I set `ngpu` to 2 to try to use 2 GPUs.
I overcame this issue by using only 1 GPU.

The same problem is also mentioned in https://github.com/espnet/espnet/issues/2169
But it's strange that the problem still occurred even if I downgraded pytorch to 1.4.0.

[2021-10-08 15:54] kormoczi opened #3646 "Inference problem with text-to-speech (custom model)"
Hi,

I started to play with the egs2/css10/tts1 recipe, to create a text-to-speech model.
I went through the steps from 1 to 7 (mostly with the default settings, just with fewer number of epochs at the beginning).
The results from step 7 (inference) looks nice (not the best quality yet, of course, but quite good).

But when I try to do the inference from my own python app, the result is bad (the w

[2021-10-09 04:18] Fhrozen commented on #3646
It will be better if u use `from_pretrained`
[code]

[2021-10-09 04:40] kan-bayashi commented on #3646
Since css10 is multilingual, we perform the g2p conversion in data prep stage.
So the input is needed to be phoneme, not text.
And css10 does not include english.

[2021-10-09 04:41] kan-bayashi commented on #3646
Give me the command and log.

[2021-10-09 04:45] kan-bayashi commented on #3646
https://github.com/espnet/espnet/blob/66facd2859977d23349cf74d5c8f5394e5cb6784/egs2/TEMPLATE/tts1/tts.sh#L1075
You can pack usage here.

[2021-10-09 14:06] kormoczi commented on #3646
I went forward with the training... To my big surprise, around epoch no 60, the logs started to say, that "There are no improvements in this epoch" (num_items_per_epoch=500).
Is this normal?
I have downloaded only one language, and trained for that one only (modified the langs parameter in the local/data.sh accordingly).
Is it better to train with multiple languages, even if I am planning to use j

[2021-10-10 15:34] aarora8 opened #3647 "nnet training failing on chime6"
**Describe the bug**
I am running CHiME-6 egg 1 script. At stage 6 in run.sh (https://github.com/espnet/espnet/blob/master/egs/chime6/asr1/run.sh). I am getting the following error "unrecognized arguments: --atype=location --adim=256 --aheads=1 --awin=5 --aconv-chans=10 --aconv-filts=100 --rnnt-mode=rnnt". I did not made any modification in the scripts.

**Basic environments:**
 - OS information:

[2021-10-11 09:19] kan-bayashi commented on #3536
@gafsd FYI: https://espnet.github.io/icassp2022-tts/

[2021-10-11 10:34] Alchemist2077 opened #3652 "can't find espnet2 module in docker container"
image: docker.io/espnet/espnet         cpu-latest

in container:

root@9c5727ed01ef:/# python3
Python 3.7.4 (default, Aug 13 2019, 20:35:49)
[GCC 7.3.0] :: Anaconda, Inc. on linux
Type "help", "copyright", "credits" or "license" for more information.

<module 'espnet' (namespace)>

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ModuleNotFoundError: No module named 'espnet

[2021-10-11 12:15] Alchemist2077 commented on #3652
thans for repley
I just pull latest dockers images with command "docker pull espnet/espnet".
so i need to use shell script in docker directory if i want to use espnet2 module?
and what if i just want to build a docker images with espnet2 module in it, what should i do.

[2021-10-12 05:49] zzxiang opened #3654 "The result of cross-lingual VC was bad"
I tried [egs/vcc20/tts1_en_zh](https://github.com/espnet/espnet/tree/master/egs/vcc20/tts1_en_zh) and [egs/vcc20/vc1_task2](https://github.com/espnet/espnet/tree/master/egs/vcc20/vc1_task2), and the result was bad. Even if I tried the downloaded finetuned TTS model, the result was still the same.

Did the same thing happen during the event of Voice Conversion Challenge 2020?

Here's the result of

[2021-10-12 06:09] Alchemist2077 commented on #3652
thanks for your effective reply
I already build a docker image with espnet2 module in it.
by the way, it seems like that it's not a right way to run lauch command in  "docker/.. " directory. must run it in <espnet_root> to link espnet2 to proper position( <espnet_root>/espnet2)

[2021-10-12 06:09] #3652 closed

[2021-10-12 12:55] Daniel-asr commented on #2603
Is there currently a streaming solution implemented for a model I trained on ESPnet - one that outputs intermediate transcriptions during speech?

I checked https://github.com/cywang97/StreamingTransformer but I wanted to check if there is more native option already implemented on ESPnet.

TIA

[2021-10-13 01:34] kamo-naoyuki commented on #3640
@kan-bayashi I don't know poetry, but, probably, https://github.com/espnet/espnet/tree/master/espnet2/gan_tts/vits/monotonic_align has the problem because they don't appear in setup.py, but I don't also think it's good idea to build cython files directly in our espnet setup.py.

How about moving them as an external module, like https://github.com/lumaku/ctc-segmentation?

[2021-10-13 04:48] kan-bayashi commented on #3640
I added pyproject.toml file in #3657.
@keiouok Could you test it?

[2021-10-13 08:20] yjiangling opened #3659 "Question about calculating subsampled mask after TDNN"
Hi,

     I read the code of tdnn.py in "espnet/nets/pytorch_backend/transducer/tdnn.py", and the content about re_calculate mask after TDNN layer like this:

`    def create_outputs(
        self,
        sequence: torch.Tensor,
        pos_emb: torch.Tensor,
        mask: torch.Tensor,
        bidir_pos_emb: bool,
    ) -> Tuple[Union[torch.Tensor, Tuple[torch.Tensor, torch.Tensor]], torch.Tenso

[2021-10-13 10:35] kan-bayashi commented on #3536
The latest one leads to faster convergence.

[2021-10-13 11:51] #3646 closed, assigned to nobody

[2021-10-15 07:05] miziworld opened #3662 "How to check the model and weight file"
Hi, Thank you for your development.
I'm using this project by using espnet/egs2/ksponspeech,
but it's first time for me to use this project, I have many difiicult things to finish the training.

First. In general, when we learn neural networks with a pythorch, model files such as model.pt and weight files are stored separately, and how can I get them?

Second, I want to quantize some weights. Just

[2021-10-15 09:00] Linus-win opened #3664 "Using own Corpus for training and testing of ASR"
Hi,

I am trying to build a E2E ASR model using my own corpus. I have both a training set and a testing set of prepared corpus. (8K wave files and stm of each wave file) I read the instructions on "github.com/espnet/espnet/tree/master/eg2/TEMPLATE/" and followed the instructions to create a new asr1 task.

1) Can I know where should I place my training and test set of prepared corpus? Do I placed

[2021-10-15 11:02] khassanoff opened #3665 "Speed perturbation error: "Utterance list differs between data/build_sp1.1/utt2spk and data/build_sp1.1/segments""
Hi All,

I am getting the following error when I try to run my recipe (based on egs2) using my own data with the SpeedPerturb:

2021-10-15T10:41:31 (data.sh:20:main) local/data.sh
2021-10-15T10:41:31 (data.sh:44:main) stage 2: Data preparation
utils/fix_data_dir.sh: file data/dev/wav.scp is not in sorted order or not unique, sorting it
fix_data_dir.sh: kept all 27210 utterances.
fix_data_dir.sh: o

[2021-10-15 14:55] sw005320 commented on #3665
Can you identify which utterances cause this issue?
The audio might be broken or at least it would be an irregular file.

[2021-10-16 03:42] khassanoff commented on #3665
I found those two utterances and checked the corresponding audio files. The audio files are fine.
The utterances are very short and are the last segments of the audio files.
I presume that this might be the cause of the problem.

Actually, the utterances are valueless for my application and should be filtered out automatically at a later stage.
However, the recipe is failing at the 'SpeedPerturb'

[2021-10-16 16:36] AdityaYadavalli1 opened #3666 "Question about LMs in ESPnet 2"
Hi,

By default we use only word embeddings in language models. I was wondering if I could also concatenate character embeddings to word embeddings and train the language model in ESPnet 2. An example of such is in this [paper](https://aclanthology.org/E17-1040.pdf).

Thanks in advance

[2021-10-17 13:25] sw005320 commented on #3665
Year.
They are too short and useless utterances. So, you can remove them safely.

[2021-10-18 03:19] stalevna opened #3670 "How to uninstall espnet +kaldi"
**Describe the issue**
I would like to re-install espnet and kaldi because it seems like I am missing some folders that are supposed to be there
like this one

 $MAIN_ROOT/tools/venv/

But I couldn't find instructions on how uninstall espnet anywhere

[x] python=3.8.10 (default, Jun  2 2021, 10:49:15)  [GCC 9.4.0]

Python modules:
[x] torch=1.9.0+cpu
[ ] torch cuda
[ ] torch cudnn
[ ] torch nccl
[

[2021-10-18 12:51] supernirmesh opened #3671 "GPU Decoding Segmentation Faults"
Hi, while trying to decode model on GPU, we are getting segmentation fault error. Log file doesnot contain any error.  Decoding on CPU works  fine but it is taking too much time. We are using conformer-based model,

batchsize: 0
beam-size: 10
penalty: 0.0
maxlenratio: 0.0
minlenratio: 0.0
ctc-weight: 0.5
lm-weight: 0.7
ngram-weight: 0.3

----------------------------------
we have tried nj=1,2 4 8,

[2021-10-18 13:22] miziworld opened #3672 "Installation error in armv7l environment"
I want to install this project on Raspberry 4 (armv7l ).
But, when  I enter make command at /espnet/tools , the installation error of llvmlite occured.

We removed the installation line for librosa and sentencepiece and proceeded to make. If so, the llvmlite installation error has not disappeared and cannot be used. Can you suggest a way to use espnet in a raspberry environment? I want to know how

[2021-10-18 13:44] Fhrozen commented on #3672
Hello there.

Thank you for using ESPnet on mobile devices.
I am wondering which python are you using for installing ESPnet.
Did you try conda:

[code]
Ref:
- https://www.anegron.site/2020/06/18/how-to-install-conda-and-docker-on-your-raspberry-pi/

Try again with this conda.
If it is still not possible, I will try to check for the installation on my own RPi3

[2021-10-18 16:37] sw005320 commented on #3671
Can you change `--batchsize 0` to `--batchsize 1`?

[2021-10-19 00:42] qmpzzpmq commented on #3671
yes I can

[2021-10-19 02:44] kamo-naoyuki commented on #3670
Is your problem `./recog_wav.sh: line 78: basename: command not found`?
You don't have `basename` command in your system, so you need to modify the part. https://github.com/espnet/espnet/blob/867484e1023a35e0e5a852df00e3a05847dc5b11/utils/recog_wav.sh#L193

To uninstall espnet module from python:

[code]

To remove python and reinstall fom scratch

[code]

To uninstall Kaldi

[code]

See also:

ht

[2021-10-19 05:56] himanshucodz55 opened #3675 "Your compiler (g++ 4.8) may be ABI-incompatible with PyTorch!"
sh-4.2$ ./installers/install_warp-transducer.sh
Cloning into 'warp-transducer'...
remote: Enumerating objects: 590, done.
remote: Counting objects: 100% (116/116), done.
remote: Compressing objects: 100% (60/60), done.
remote: Total 590 (delta 68), reused 75 (delta 54), pack-reused 474
Receiving objects: 100% (590/590), 183.49 KiB | 26.21 MiB/s, done.
Resolving deltas: 100% (285/285), done.
CMake

[2021-10-19 05:58] himanshucodz55 commented on #3675
It gives me error at the installation of warp_transducer... thanks in advance

[2021-10-19 06:11] #3675 closed, assigned to nobody

[2021-10-19 09:47] himanshucodz55 opened #3676 "CMake Error at warprnnt_generated_rnnt_entrypoint.cu.o.cmake:220"
**Describe the bug**
I have installed espnet in sagemaker notebook. it's installed successfully. but when i try to install wrap_transducer it's gives me error.

**Basic environments:**
 - OS information: Sagemaker notebook x86_64
 - python version: 3.8  [GCC 6.4]]
 - espnet version: espnet 0.10.3a4
 - pytorch  pytorch 1.9.1

**Error logs**
sh-4.2$ ./installers/install_warp-transducer.sh
Cloning in

[2021-10-21 09:42] kamo-naoyuki commented on #3672
I merged a PR just now to use librosa stft instead of torch stft when using cpu without MKL env. #3668

[2021-10-21 11:44] Fhrozen commented on #3672
It will be better if you check where is this illegal instruction happening.

You can use the command:
[code]
to obtain the number of line from which the code is dumping.
`my_python.py` is your program running the decoding.

[2021-10-21 15:47] huangruizhe opened #3681 "--non-print option"
https://github.com/espnet/espnet/blob/4ab6912ae80bcc4454b30b62b36f6b40c03cf8cf/egs2/TEMPLATE/asr1/asr.sh#L497

Was wondering if `utils/copy_data_dir.sh` or `utils/validate_data_dir.sh` supports this `--non-print` option in the command line above, as it causes the script to stop.

[code]

[2021-10-22 08:41] lin-nerd opened #3683 "How to use BERT as a pre-trained model in language model"
Hello everyone, I use ESPnet2 in the ASR task.

- python version: 3.8.5 (default, Sep  4 2020, 07:30:14) [GCC 7.3.0]
- espnet version: espnet=0.10.4a1

I have already run **installers/install_transformers.sh**, and how to use the pre-trained model to fine-tune LM.

[2021-10-22 09:18] guijuzhejiang opened #3684 "About ncnn deployment"
I want to use the NCNN framework to deploy the ASR model on Android phones, is there any guidance?

[2021-10-24 17:48] siddhu001 opened #3687 "ESPnet2-SLU development plan"
# TODO

- [X] Documentation
  - [X] Readme.md

## New Features
- [X] Task
  - [X] Intent Classification @siddhu001
  - [X] Slot Filling @siddhu001
  - [X] Dialogue Act Classification @akreal
  - [X] Emotion Recognition @YushiUeda
- [X] ASR Multitasking @siddhu001
- [ ] NLU Multitasking @siddhu001
- [X] Pretrained ASR models as feature extractor @simpleoier
- [X] Pretrained NLU models as feature ex

[2021-10-25 01:36] shf2020 opened #3688 "kaldi [Lengths are /tmp/kaldi.ljtb/utts=4620 versus /tmp/kaldi.ljtb/utts.utt2dur=5607]"
Preparing data/local/train spk2utt utt2spk wav.scp
Preparing data/local/test spk2utt utt2spk wav.scp
local/timit_data_prep.sh: TIMIT data preparation succeeded
steps/make_mfcc.sh --cmd run.pl --nj 8 data/train exp/make_mfcc/train mfcc
steps/make_mfcc.sh: moving data/train/feats.scp to data/train/.backup
fix_data_dir.sh: no utterances remained: not proceeding further.
utils/validate_data_dir.sh: Su

[2021-10-25 02:53] BuaaAlban opened #3689 "GPU OOM in gigaspeech"
**Describe the bug**
GPU OOM when training gigaspeech baseline using tesla V100 (32G)* 4 with conf
"This configuration requires TITAN RTX (24GB) x 4 GPUs It takes about XX days"

**Basic environments:**
 - OS information: Ubuntu 18.04.1 LTS
 - python version: [e.g. 3.8.5 (default, Sep 24 2020, 16:55:52)  [GCC 7.5.0]`]
 - espnet version: [e.g. espnet 0.9.6]
 - Git hash [e.g. c84da5743b7ef70c0c62127

[2021-10-25 03:51] caohongnga opened #3690 "Espnet2 ASR with fs=8k error"
I train ASR with fs=8k at stage 3 has an error with the command: soundfile.write(str(wav), signal, rate) of espnet2/fileio/sound_scp.py

The soundfile.py, line 1299, in _check_dtype sorted(_ffi_types.keys()), dtype))
ValueError: dtype must be one of ['float32', 'float64', 'int16', 'int32'] and not 'uint8'

if I set fs=16k or I format data to int16 (soundfile.write(str(wav), np.int16(signal), rate)

[2021-10-25 04:07] huangruizhe opened #3691 "White space in model names"
I noticed there are some models in [espnet_model_zoo](https://github.com/espnet/espnet_model_zoo/blob/master/espnet_model_zoo/table.csv) having white space in their names. This can make bash to unexpectedly stop, when we try to download and evaluate the models, following the instruction [in the tutorial](https://espnet.github.io/espnet/espnet2_tutorial.html#evaluation-without-training-using-pretra

[2021-10-25 08:22] redorangeyellowy opened #3694 "real-time TTS demo with my model"
Hi. I want to implement real-time TTS demo with my model.
(link : https://colab.research.google.com/github/espnet/notebook/blob/master/espnet2_tts_realtime_demo.ipynb#scrollTo=J-Bvca5mE7bT)

But in the link, there are only for English, Japanese, and Mandarin, NOT Korean.

I already trained text2mel model and mel2wav model with my own dataset (which is Korean corpus, not KSS),
so how can I implemen

[2021-10-25 08:39] miziworld opened #3695 "no module named 'espnet2'"
Hi, I'm using the "example /espnet/egs2/ksponspeech/asr1/run.sh" and met some errors.
I think the stage 6 have the problem.
![image](https://user-images.githubusercontent.com/17849068/138662638-9bc601ab-7619-4b1a-bb21-85a19e5516bd.png)

1. run.pl : 32/32 failed log can be ignored?
If not, how can I remove this error?

2. In this directory /espnet/egs2/ksponspeech/asr1 , when I import espnet2 with

[2021-10-25 09:14] kormoczi opened #3696 "Questions regarding the CommonVoice asr recipe (inference quality, LM model, inference speed)"
Hi,
I am started to play with the commonvoice asr repice, until now with limited success.
(First, it looks strange for me, that the run.sh script referring to conf/tuning/train_asr_conformer5.yaml, as the asr_config directly, and not via the conf/train_asr.yaml link, but this is not a big issue...)
I have a small database (val: 12532 utterances, test: 3427, dev: 3058), so maybe the default paramet

[2021-10-25 09:53] #3695 closed, assigned to nobody

[2021-10-25 12:52] #3690 closed, assigned to nobody

[2021-10-26 02:53] #3694 closed, assigned to nobody

[2021-10-26 06:29] ican24 opened #3702 "How can we deploy the ESPNET TTS model on Android"
Dear Team,

Is it possible to deploy the ESPNET TTS model on Android?
If yes, could you advise right way for this purpose?

Thank you in advance!

[2021-10-26 13:27] #3702 closed, assigned to nobody

[2021-10-27 09:20] lheuveline opened #3705 "[Usage] VITS finetuning"
Hi,

First of all, thanks for this incredible work, I hope to be able to contribute soon !

I'm trying to finetune VITS using espeak VCTK 44100 version, but after 245 epochs, the generated audio has serious "early stopping" issues. When I try to generate some audio using resultng checkpoint, the generated audio stops more or less after the first phoneme. I only use sentences tested with the pretra

[2021-10-27 10:34] Adliyan opened #3706 "A strange problem in gst+speaker train"
I am training a fastspeech2 model with gst, but when initializing self.convs of the ReferenceEncoder class in style_encoder.py, the weight of the batchnorm2d layer in self.convs is automatically initialized to 0. I added the following code, and the weight becomes 1, but in the forward phase, it is initialized to 0 again. Have you encountered this problem,please?

[code]

[2021-10-28 01:09] gdebayan opened #3708 "Wandb 0.12.6 leads to Import Failure. Works on reverting to 0.12.2"
While Looking up ESPNet using this Tutorial: https://colab.research.google.com/drive/1L85G7jdhsI1QKs2o0qCGEbhm5X4QV2zN

I came across this issue when the Library "Wandb" is imported.

[code]

[code]

This was in Wandb version 0.12.6 .

However, when I reverted to Wandb version 0.12.2, it started working as expected.

Feel free to reach out if any questions!

[2021-10-28 04:57] BSen007 opened #3710 "Suggestion: Espnet1 vs Espnet2"
Hi Team,

Thanks for this wonderful project! I would like to explore this toolkit for developing ASR. I wonder which one shall I consider for this. Is there any performance difference in Espnet1 vs Espnet2.   I would like to build a model that could be potentially for production and could be imported using C++ APIs(preferable). Can anyone please put some light on the same?

Shall I start with Espn

[2021-10-28 13:24] #3676 closed, assigned to nobody

[2021-10-29 07:07] sucveria opened #3716 "Fix accent phrase border in pyopenjtalk_g2p_prosody"
In pyopenjtalk_g2p_prosody of espnet/espnet2/text/phoneme_tokenizer.py, the condition of the accent phrase boundary on the 163st line is
if a3 == 1 and a2_next == 1:
Since there is no distinction between consonants and vowels, the delimiter'#' will be inserted between the consonants and vowels.
Add the case where the phoneme corresponds to a vowel,  syllabic nasal/N/ and choked sounds/cl/ to the c

[2021-10-29 10:18] zzxiang opened #3717 "[TTS] Finetuning on small data takes too much time"
According to the comment written at the beginning in [egs2/jsut/tts1/conf/tuning/train_tacotron2.yaml](https://github.com/espnet/espnet/blob/9e1b9d533593ee632efd44d15448a3b4a6e44678/egs2/jsut/tts1/conf/tuning/train_tacotron2.yaml#L3),

So I guess it should take just a few hours to run fine-tuning with the same yaml file on a small data which contains only 200 wav files, though my GPU is Tesla T4,

[2021-10-29 11:54] arunbaby0 opened #3718 "AttributeError: module 'torch_optimizer' has no attribute 'RAdam'"
I have created a docker image for espnet for a custom recipe. Was facing the issue [#3708](https://github.com/espnet/espnet/issues/3708),so downgraded to 0.12.2.
Now facing this new issue. Is this because of the latest release of **torch-optimizer==0.2.0**?
In that case, how should we standardise all the python dependencies while installing?

**Basic environments:**
 - OS information: Linux 5.11.0

[2021-10-29 12:02] #3718 closed, assigned to nobody

[2021-10-29 15:43] zzxiang opened #3719 "[TTS] Why VITS consumes so large amount of CUDA memory?"
I tried to fine-tune VITS with [egs2/jsut/tts1/conf/tuning/
train_full_band_vits.yaml ](https://github.com/espnet/espnet/blob/master/egs2/jsut/tts1/conf/tuning/train_full_band_vits.yaml) on a small data of 200 wav files, but failed to start stage 6 because of out of CUDA memory.

According to the comment at the beginning of the yaml file, the training of VITS on JSUT and the fine-tuning of VITS on

[2021-10-29 19:30] sw005320 commented on #3708
If the protobuf version is an issue, should we specify the version in https://github.com/espnet/espnet/blob/master/setup.py?

[2021-10-29 23:31] kan-bayashi commented on #3719
Actually, it does not fully utilize 32GB memory (around ~20GB).
You can reduce the batch_bins (say, 5000000).
https://github.com/espnet/espnet/blob/51f267310c6159e688d3f1cf66353f65a14effef/egs2/tsukuyomi/tts1/conf/tuning/finetune_full_band_vits.yaml#L163

If the actual batch size is not too small, maybe it works.
(You can see the actual batch size in `train.log`.)
[code]

[2021-10-29 23:31] #3717 closed

[2021-10-29 23:31] #3706 closed

[2021-10-30 00:52] zzxiang commented on #3719
Thank you! I reduced the batch_bins to 3000000 and it works!

[2021-10-30 00:52] #3719 closed

[2021-10-30 08:12] zzxiang opened #3721 "Conformer FastSpeech2 fine-tuning suspended at 24epoch"
I'm fine-tuning a conformer_fastspeech2_tacotron2 model on a custom data with `g2p=pyopenjtalk_prosody`. I used [egs2/jsut/tts1/conf/tuning/train_conformer_fastspeech2.yaml](https://github.com/espnet/espnet/blob/master/egs2/jsut/tts1/conf/tuning/train_conformer_fastspeech2.yaml) but modified `lr` to 0.1.

The training of tacotron2 has already completed. But while I trained conformer_fastspeech2, t

[2021-10-30 08:56] kan-bayashi commented on #3721
It seems pytorch issue.
https://github.com/pytorch/pytorch/issues/57273

I have no idea to solve it but if you provide your environmental information in issue template, I may get some insights to solve it.

[2021-10-30 10:15] zzxiang commented on #3721
Thanks for your kindly response, Tomoki.

Here's my environmental information:

**Basic environments:**

- OS information: Linux 5.11.0-1021-gcp #23~20.04.1-Ubuntu SMP Fri Oct 1 19:04:32 UTC 2021 x86_64
- python version: `3.8.10 (default, Jun  4 2021, 15:09:15)  [GCC 7.5.0]`
- espnet version: `espnet 0.10.3`
- pytorch version: `pytorch 1.9.0`
- Git hash: `9e1b9d533593ee632efd44d15448a3b4a6e44678`

[2021-10-30 11:47] zzxiang commented on #3721
It seems that pytorch issue is indeed not the reason. The same warning message also appears in those training which succeeded.

[2021-10-31 02:11] kan-bayashi commented on #3721
Hmm. It seems your env is fine.
nvidia-smi shows the maximum supported cuda version so it should be no problem.
For now, resuming from the hung epoch is workaround from myside.

[2021-10-31 02:37] zzxiang commented on #3721
I tried restarting the machine and resuming from the hung epoch but didn't succeed. It still hung at the same epoch.

Finally I deleted the experiment folder (tts1/exp/...) and restarted from 1 epoch. Also, this time I only run one training process and use only one GPU.  Now it has been moving forward to 75epoch.

I'm not sure about it, but it might be a pytorch or CUDA issue which happens on some

[2021-10-31 02:37] #3721 closed

[2021-10-31 03:21] kan-bayashi commented on #3708
This is a little bit complicated.
Chainer requires lower version of protobuf, which will conflict.
I have no smart way to solve this problem :(

[2021-10-31 06:24] Fhrozen commented on #3708
Weeelll, ESPnet 1 employs chainer and not wandb, while ESPnet2 employs wandb and not chainer. IMO, the best solution will be to slip the projects, so we reduce the dependency on older pkg.

[2021-10-31 19:28] dv66 opened #3726 "On Real-Time ASR"
Hello,

We are currently using a Bengali ASR model which we trained using espnet's Librispeech recipe [(config).](https://github.com/espnet/espnet/blob/master/egs/librispeech/asr1/conf/tuning/train_pytorch_transformer_lr5.0_ag8.v2.yaml) It works great with very good accuracy levels. On an average we are decoding 10 second long audio clips within 3-4 seconds. We are using cpu-only decoding.

Now, w

[2021-11-01 07:47] ican24 opened #3729 "How to improve Text2Speech.from_pretrained performance on CPU?"
Dear Team,

I am trying to learn possibility of ESPnet2 TTS usage in the modest computer devices like PC, notebook and others.
Currently I am testing it in my notebook:
LENOVO B590
Intel(R) Celeron(R) CPU 1005M @
8GiB System Memory

Here is a performance of my hardware with very small phrase (2-3 words only)
[code]

Could you advise how can I improve a little or more performance on such conditions

[2021-11-01 08:17] psydok opened #3730 "How do I skip the installation of kaldi for espnet2 if a symbolic link to kaldi tools is still required??"
**Describe the bug**
You write on the [site ](https://espnet.github.io/espnet/installation.html) that you can skip the installation of Kaldi:
![image](https://user-images.githubusercontent.com/47638600/139641552-b3f282b2-2871-4a55-bff7-e4727272345b.png)

At the same time, you will not be able to run the recipe from egs2 if you have not installed kaldi:
![image](https://user-images.githubuserconten

[2021-11-01 08:21] kan-bayashi commented on #3730
For ESPnet2, kaldi compile is not needed but we use kaldi utility tools.
(Kaldi installation ~= kaldi compile)
Therefore, we need to put kaldi in `espnet/tools/`.

[2021-11-01 08:25] psydok commented on #3730
@kan-bayashi Sad, but understandable. Thank you very much!

[2021-11-01 08:31] #3730 closed

[2021-11-01 08:36] its-ogawa opened #3731 "I can't install espnet_model_zoo."
**Describe the issue**

I would like to run the following demo.
[ESPnet2-ASR realtime demonstration](https://colab.research.google.com/github/espnet/notebook/blob/master/espnet2_asr_realtime_demo.ipynb#scrollTo=nRo9Gx__BT1-)

However, I am unable to install espnet_model_zoo.

**Basic environments:**
 - OS information: Windows10
 - python version: 3.8.10
 - espnet version: 0.10.4a1
 - pytorch versi

[2021-11-01 10:04] kan-bayashi commented on #3731
Basically, we do not support windows environment.
How about using WSL2?

[2021-11-01 10:28] yt605155624 opened #3732 "why don't you use torch.nn.TransformerEncoder in fastspeech"
pytorch has provide TransformerEncoder, why did you write it yourself?
What 's the diff

[2021-11-01 10:34] kan-bayashi commented on #3732
Because we implemented it before pytorch official support.

[2021-11-01 10:53] its-ogawa commented on #3731
Thanks for the quick reply.

I see that windows is not supported. I am very disappointed.
I will consider using WSL2.

[2021-11-01 10:57] kan-bayashi commented on #3731
Maybe using conda may enable us to install in windows but it may need extra steps to install, so I think using WSL2 or docker is much easier.

[2021-11-01 11:06] nikich340 commented on #2487
Any news?

[2021-11-01 11:14] kan-bayashi commented on #3729
If you want to deploy as the TTS service, it is better to stop the loading the model in each inference.

e.g.,
- REST API with flask
	- https://pytorch.org/tutorials/intermediate/flask_rest_api_tutorial.html
- Gradio API
	- https://github.com/gradio-app/gradio
	- https://huggingface.co/spaces/akhaliq/ESPnet2-TTS

If you want to accelerate the inference speed of model, it needs to change the model.

[2021-11-01 12:03] kamo-naoyuki commented on #3731
Actually, editdistance and matplotlib are not required for inference and editdistance is used in espnet1 only. You can solve this issue by removing them from  https://github.com/espnet/espnet/blob/master/setup.py and installing.

If you'll try to install them on windows:

Current editdistance provides a wheel binary for windows, https://pypi.org/project/editdistance/0.5.2/#files, but we specify ed

[2021-11-01 13:11] sw005320 commented on #3708
I see.
This would be a smart solution, but it may take some time.

For now, how about using older versions of wandb?
It is a little bit unfortunate, but I think this will be fixed in the future.

[2021-11-01 13:24] sw005320 commented on #3726
There are several directions (all are in the development stage)
1. use quantization: this is implemented in epsnet1 but not in espnet2 https://github.com/espnet/espnet/blob/3c30eab699d8c3a0c61331e3cac38050345527de/espnet/bin/asr_recog.py#L282-L289
2. use RNN transducer in espnet1
2. use (block-wise) streaming decoder in espnet2, e.g., https://github.com/espnet/espnet/pull/3614
3. use k2 decoder in

[2021-11-01 15:38] ftshijt commented on #3040
@YushiUeda Hi, probably you could also update the status based on your implementation

[2021-11-01 16:55] ican24 commented on #3729
Thank you very much!

[2021-11-01 16:55] #3729 closed

[2021-11-01 18:16] YushiUeda commented on #3040
@ftshijt Thanks for the suggestion! I will update the status.

[2021-11-02 00:55] its-ogawa commented on #3731
In Google Colab, I was able to install espnet and espnet_model_zoo by explicitly specifying the versions of imgaug and matplotlib.

[code]

On windows, I use anaconda, but the same operation was not valid.

[2021-11-02 01:13] its-ogawa commented on #3731
What a surprise.
So there is a way to not use editdistance?

Is it to simply not install editdistance?
Or do I need to get a wheel for windows?
Can you install it with python 3.7, even though it supports python>=3.8????

---
As a side note, my motivation for using espnet is that I am not getting satisfactory results with Google's SpeechRecognition.
One of the reasons is that I have multiple people

[2021-11-02 02:58] Fhrozen commented on #3731
Instead of using Windows, you can use the models from Hugging Face. It has already implemented an inference API, so you do not need to download the models: https://huggingface.co/models?library=espnet&pipeline_tag=text-to-speech&sort=downloads. Also, windows with conda should not be a problem. Install matplotlib using `conda install`.

remove editdistance from `setup.py`
comment or delete:
https:/

[2021-11-02 03:42] its-ogawa commented on #3731
I am very interested in how to use huggingface. How can I do this?
Is it the matplotlib installation that you are guiding me to?
If so, I already have matplotlib 3.4.1.
However, I am not able to install espnet, espnet_model_zoo.

---
I commented out editdistance from setup.py and ran `python setup.py install`.

Unfortunately, the result is the following error.

[code]

[2021-11-02 05:07] Fhrozen commented on #3731
All Pretained model hosted on Hugging face, have the option to convert your text into speech.
There should be a textbox to input your next on the right side of the page, at each model repo.
Press compute and get the wav output.

![api](https://user-images.githubusercontent.com/11988996/139785716-81098773-fde8-418c-a665-1cab28751ea0.png)

[2021-11-02 05:09] Fhrozen commented on #3731
Also, Just in case, you can use this script on a batch file and execute it in order to install conda.
[code]

I just tested using ipython and have no problem generating a wav file, just need to use `device='cpu'` in case that you let pip install pytorch.

[2021-11-02 06:01] its-ogawa commented on #3731
It's amazing. It's really cool.
You're very kind to even prepare the script for me!

By the way, do you have a reverse conversion (wav to text) available?

I have a wav file of a conversation between two people, and I want to transcribe the conversation into text.
It would be perfect if espnet could separate the two conversations and transcribe each person's voice.

I've tried something similar wi

[2021-11-02 06:08] Fhrozen commented on #3731
The script is only to install espnet_model_zoo in windows. For executing TTS or ASR you will need to copy the code from:

ASR: https://github.com/espnet/notebook/blob/master/espnet2_asr_realtime_demo.ipynb
TTS: https://github.com/espnet/notebook/blob/master/espnet2_tts_realtime_demo.ipynb

HOWEVER, ASR on WINDOWS is difficult/impossible if the model has been trained using WapCTC, you will need to

[2021-11-02 06:26] LinJinghuidev opened #3737 "about csmsc vits train"
The Vits model of csmsc in colab is very effective. I use csmsc to do mono pronunciation training locally, batch_bins is 100000 and 150 epochs have been run, but the synthesis effect is still not good. How many epochs do you have to run for these 10000 data to make the effect obvious

[2021-11-02 06:34] BSen007 commented on #3726
Hi @dv66, I wonder how you calculate RTF for your experiments? Using time command? Thanks

[2021-11-02 06:35] LinJinghuidev commented on #3737
The csmsc + Vits model in colab is generated by how many epochs the 10000 pieces of csmsc data run

[2021-11-02 07:04] LinJinghuidev commented on #3737
This is the synthetic audio of 150 epochs, and the text is the first article of csmsc

https://user-images.githubusercontent.com/42993920/139800629-b3aa1c23-acb5-4ebe-a49b-425695331401.mp4

[2021-11-02 07:12] kan-bayashi commented on #3737
For demo, we use the following configs
https://github.com/espnet/espnet/blob/master/egs2/csmsc/tts1/conf/tuning/train_full_band_vits.yaml#L161-L162

The total iterations is 1M (1000 iters / epoch * 1000 epochs with batch_bins= 10000000).
(For GAN-based traning, `#iters` is more important than `#epochs`)
In my experiments, 500k iters can produce good quality.

[2021-11-02 07:30] LinJinghuidev commented on #3737
Can you confirm it for me

1、The dataset has only csmsc

2、The FS of the configuration file is 44100. Do I need to manually process the csmsc dataset from 48000 to 44100, or has it been uniformly processed in your step

3、Operation process is
     1、./run.sh --stage 1 --stop-stage

     2、./run.sh \
    --stage 2 \
    --ngpu 4 \
    --fs 44100 \
    --n_fft 2048 \
    --n_shift 512 \
    --win_le

[2021-11-02 07:32] LinJinghuidev commented on #3737
Can you confirm it for me

1、The dataset has only csmsc

2、The FS of the configuration file is 44100. Do I need to manually process the csmsc dataset from 48000 to 44100, or has it been uniformly processed in your step

3、Operation process is
       1、./run.sh --stage 1 --stop-stage

       2、./run.sh \
       --stage 2 \
       --ngpu 4 \
       --fs 44100 \
       --n_fft 2048 \
       --n_shift

[2021-11-02 07:55] kan-bayashi commented on #3737
Yes.

If you specify `--fs 44100`, the audio is automatically downsampled in stage 2. So you do not need to process manually.

Right.

Not sure but the same iters with smaller batch size should work. So you can reduce only batch bins.

[2021-11-02 08:12] LinJinghuidev commented on #3737
OK, thank you very much

[2021-11-02 08:14] its-ogawa commented on #3731
Thank you for contacting.

I am just about to run that notebook too.

However, being a Windows user, it fails to run from the first line.

The same problem occurs with WSL2, so I'm wondering what to do!

[2021-11-02 09:29] LinJinghuidev commented on #3737
With so many model combinations(tag+vocoder_tag), which combination has the best speech synthesis effect? For the Chinese multi speaker data set, similar to aishell3

[2021-11-02 10:44] kan-bayashi commented on #3737
For multi-spk case, vits is definitely better.

[2021-11-02 11:42] LinJinghuidev commented on #3737
You're great, too. It is always hard for me to imagine that when there is only csmsc data set and no pre training model, the synthesis effect is so good and the word coverage is so comprehensive

[2021-11-02 11:43] LinJinghuidev commented on #3737
Have you ever trained aishell 3 (multi speaker), and is the synthetic effect better than csmsc (single speaker)

[2021-11-02 11:44] LinJinghuidev commented on #3737
Have you ever trained aishell 3 (multi speaker), and is the synthetic effect better than csmsc (single speaker)?

[2021-11-02 11:45] LinJinghuidev commented on #3737
The csmsc model in colab is trained from scratch, and there is no pre training model, right?

[2021-11-02 11:48] kan-bayashi commented on #3737
Sorry, I've never touched aishell 3 corpus.
But in terms of sound quality, I think full-band (44.1 kHz) csmsc model is quite good (because csmsc recording itself is also very good).

Yes, the model is trained with only csmsc data from scratch.

[2021-11-03 10:13] Fhrozen opened #3740 "[ESPnet2-TTS] Espeak-ng realtime computational issues."
I have been testing VITS pre-trained models for audio generation (LibriTTS and VCTK)
The synthesis using espeak-ng seems better than g2p-no-space. However, I found some issues at decoding time I am not sure how to deal with.

The pre-trained model using g2p-no-space takes about 5 mins to generate around 8 utterances per each speakers-xv id available on the xvector.scp at train/dev/eval. (https://z

[2021-11-03 10:27] henry034 commented on #3708
It also happend to me today with a fresh installation on Ubuntu 20.0.4. Python 3.8
Only downgrading **wandb** to 0.12.2 is not work for me.
I have to downgrande **protobuf** to 3.18.0 (from 3.19.1) too to fix the issue.

[2021-11-03 12:13] wangjg19 opened #3741 "CUDA 11.0 compatibility"
I want to deploy Espnet on the Tesla A100, which can only install CUDA 11.0.  Does Espnet support CUDA 11.0？

[2021-11-03 13:46] b-flo commented on #3741
Hi,

I can't give an answer for all tasks but you shouldn't have any issues with ASR at least. I'm working with A100s and CUDA=11.1 currently.

[2021-11-04 02:46] kamo-naoyuki commented on #3708
How about patching chainer=6.0.0 to use newer protobuf?

[code]

[2021-11-04 06:12] kan-bayashi commented on #3708
+1 for kamo-san's idea :)

[2021-11-04 10:25] its-ogawa commented on #3731
The installation was done in a jupyter lab built on linux environment.

Before installing espnet and espnet_model_zoo, the following statement was required.

[code]

Here, I get a module error for six when importing Speech2Text.
What version of six do I need?

[code]

[2021-11-04 10:49] kan-bayashi commented on #3740
Phonimizer with Espeak-ng is really slow.
So in my case, dump phonemized text in data prep stage.
See command section:
https://github.com/espnet/espnet/tree/master/egs2/vctk/tts1#vctk_tts_train_full_band_multi_spk_vits_raw_phn_tacotron_espeak_ng_english_us_vits_traintotal_countave-1

Recently, phonemizer is updated not to use subprocess.
https://github.com/bootphon/phonemizer/releases/tag/v3.0
It

[2021-11-04 10:52] kan-bayashi commented on #3731
https://github.com/reportportal/agent-python-pytest/issues/237#issuecomment-718000412

[2021-11-04 14:17] JoesSattes opened #3745 "Diarization model is NoneType"
First of all, I would like to thank you for your contribution to EDA-EEND model. I try to train diarization model without RNN attractor like a SA-EEND by setting None in the attractor configuration based on mini_librispeech/diar1/conf,  NoneType issue is reported. My assumption is this code section that has a return None in attractor_class and then attractor_class try to get value of None.
https:/

[2021-11-04 14:20] sw005320 commented on #3745
@YushiUeda, could you check this?

[2021-11-04 17:32] YushiUeda commented on #3745
Thank you for reporting the issue. I will make a PR for fixing this. Sorry for the inconvenience.
FYI, this can be fixed by changing the following 3 parts as follows.

1. https://github.com/espnet/espnet/blob/7a1329a6fb713a17f5860ea7aed2315ade8d9860/espnet2/tasks/diar.py#L84-L91
[code]
2. https://github.com/espnet/espnet/blob/7a1329a6fb713a17f5860ea7aed2315ade8d9860/espnet2/tasks/diar.py#L258-L262

[2021-11-05 00:48] its-ogawa commented on #3731
@kan-bayashi
Thanks for the advice.

Ah. I read that topic too, but I get the same error.

[2021-11-05 05:29] miziworld opened #3748 "I have some questions about LM(transformer)"
Hello, I'm using espnet2 asr recipe ( asr model = conformer, LM = transformer) and it works well.
1. According to recipe, the asr model and the lm model are trained separately and then the lm model is used for decoding. Is there any difference between the asr model itself(conformer_asr) when use_lm is true and false?

2. Is the lm model used independently, not integrated with the asr model?

3. Ca

[2021-11-05 10:57] its-ogawa commented on #3731
I used the above method to pickle the model created by Speech2Text from the google colab environment, which is the only environment where espnet can be installed.

However, as a result of loading the pickle, I get a TensorBoard error.

`ImportError: TensorBoard logging requires TensorBoard version 1.15 or above`.

I have brought tensorflow and tensorboard up to date because it tells me to use vers

[2021-11-05 11:32] sw005320 commented on #3748
no difference.

independently

You can set the lm_weight 0 during inference by changing the config.

Could you clarify your questions more?

[2021-11-05 22:25] kamo-naoyuki commented on #3708
If there is no disagreement, I'll proceed in my direction.

[2021-11-06 10:33] JoesSattes commented on #3745
Thank you! It's fixed.

[2021-11-06 10:34] #3745 closed

[2021-11-07 15:41] sameerkhurana10 opened #3758 "num_iters_per_epoch"
Hi,

Maybe I don't understand `num_iters_per_epoch`. I saw the following explanation given [here](https://github.com/espnet/espnet/blob/master/espnet2/tasks/abs_task.py#L1421):

        Note that the definition of "epoch" doesn't always indicate
        to run out of the whole training corpus.
        "--num_iters_per_epoch" option restricts the number of iterations for each epoch
        and the

[2021-11-08 05:35] Emrys365 commented on #3691
My workaround was replace the space symbols with underscores in this [line](https://github.com/espnet/espnet/blob/c31c1a132d7825aa4742ba0f89f5b55f8d5546e7/egs2/TEMPLATE/asr1/asr.sh#L1105):
[code]

[2021-11-08 08:36] BuaaAlban opened #3760 "conformer-ctc small not converge"
**Describe the bug**
Not a bug, ask for help and training techniques
conformer-ctc small can't  converge on Librispeech 960h

**Basic environments:**
 - OS information: Ubuntu 18.04.1 LTS
 - python version: [e.g. 3.8.5 (default, Sep 24 2020, 16:55:52)  [GCC 7.5.0]`]
 - espnet version: [e.g. espnet 0.9.6]
 - Git hash [e.g. c84da5743b7ef70c0c6212715859bdebdcf873b2]
   - Commit date [e.g. Tue Sep 1 0

[2021-11-08 09:48] BuaaAlban opened #3761 "transformer ASR overfitting on librispeech100h"
**Describe the bug**
Not a bug, ask for help and training techniques.
The baseline config is the config for training transformer ASR on librispeech **960h**, and I have trained model on 960h sucessfully. This config also **works** for **aishell-1(160h),** but I can't get results on librispeech**100h**.

**Basic environments:**
 - OS information: Ubuntu 18.04.1 LTS
 - python version: [e.g. 3.8.5 (d

[2021-11-08 11:18] mudong0419 opened #3762 "Multi-speaker Japanese VITS pretrained model."
Thanks to your great work on Japanese TTS. I'm working on Japanese TTS, and VITS model is so fast on inference on GPU. I'have found many single-speaker pretrained models, are there any multi-speaker Japanese VITS models? Thanks in advance.

[2021-11-08 12:03] 200987299 opened #3763 "task stopped before asr starts"
Dear developers,

I got this error but I don't know where to fix it. :
_

_
This happens after lm trained, and during generating asr_stats_raw_zh_char_sp folder. Does anyone has any idea where to fix it?

Bests

[2021-11-08 16:23] sw005320 commented on #3760
We often observed such issues.

- Can you reduce the learning rate from the default (insetead of increasing it)?
- Can you also include the encod-decoder traininng? (make the ctc weight < 1.0) We found that the encod-decoder traininng well regularizes CTC training. We can just ignore them during the inference like the standard multi-task learning.

[2021-11-08 16:26] sw005320 commented on #3761
Did you reduce `lr`?

[2021-11-08 16:29] sw005320 commented on #3763
This is not an error but a warning.

[2021-11-08 23:21] Fhrozen commented on #3762
You can find all the available models at: https://huggingface.co/models?language=ja&library=espnet&pipeline_tag=text-to-speech&sort=downloads

[2021-11-09 03:40] liu-x-p opened #3766 "ASR with s3prl model"
Hi, I wonder how to use model pretrained by s3prl toolkit for ASR test. I found the script _espnet2/asr/frontend/s3prl.py_, but I'm not sure how to use it.

[2021-11-09 06:26] 200987299 commented on #3763
Sorry, you are right, this is not the issue. I wrote a bug somewhere and caused the task stopped here.

[2021-11-09 06:26] #3763 closed

[2021-11-09 12:50] sw005320 commented on #3766
@simpleoier, I think it's better to add more documentation about it, including the main README.md in addition to https://github.com/espnet/espnet/blob/2a3f8954f0fc820c32820cbae86747e2570c5407/README.md#L76. You can add more descriptions to the main README.md and add a section to the tutorial document.

Hi @liu-x-p, you can easily use it by adding a configuration, e.g., https://github.com/espnet/es

[2021-11-09 13:53] simpleoier commented on #3766
Hi @sw005320, thanks for the comment. I will add more document about it.

[2021-11-09 14:06] lance6716 opened #3771 "完整的 tts 文本前端"
这个仓库的中文文本前端只是用了 pypinyin, 缺少基础的文本正则化模块，在三声变调上表现地也不是很好，https://github.com/PaddlePaddle/DeepSpeech 里面有一些文本前端模块，还有哪些仓库提供了完整的文本前端呢（变调，多音字，停顿预测等）

[2021-11-10 03:43] Shengqiang-Li opened #3773 "Issue of data preparation in egs/wsj"
**Describe the bug**
I have a problem about the  wsj_data_prep.sh in egs/wsj/asr1 of espnet, the information is as follows:

stage 0: Data preparation
Disk id 11_1_1 not found at /home/lsq/espnet/examples/wsj/asr1/local/ndx2flist.pl line 52, <STDIN> line 8.
Warning: expected 7138 lines in train_si84.flist, got 0
Disk id 11_1_1 not found at /home/lsq/espnet/examples/wsj/asr1/local/ndx2flist.pl line

[2021-11-10 07:48] arunbaby0 opened #3774 "asr.sh stops at stage 10, ASR stats collection with user warning."
`
[7340ae05d216] 2021-11-10 07:33:20,284 (abs_task:1150) INFO: Scheduler: WarmupLR(warmup_steps=25000)
[7340ae05d216] 2021-11-10 07:33:20,284 (abs_task:1159) INFO: Saving the configuration in exp/asr_stats_raw_hin_bpe5000/logdir/stats.1/config.yaml
[7340ae05d216] 2021-11-10 07:33:20,723 (abs_task:1170) INFO: Namespace(accum_grad=8, allow_variable_data_keys=False, batch_bins=40000000,.....

/opt/es

[2021-11-10 07:53] BuaaAlban commented on #3760
Thanks for your suggestion, I have tried decreasing the lr from 0.001 to 0.0005 with ctc-weight=1.0 or 0.9(transformer decoder) and it didn't work,
![image](https://user-images.githubusercontent.com/25258181/141071948-6e5f6699-0eed-462e-9a9d-27ae27f0aedc.png)
![image](https://user-images.githubusercontent.com/25258181/141071973-44b27995-ef3e-4184-81f2-d26454c8fd90.png)

I am doing an experience wi

[2021-11-10 07:54] kan-bayashi commented on #3771
Sorry I could not understand Mandarin. Please write in English.

[2021-11-10 07:55] kan-bayashi commented on #3762
There is no large-scale Japanese multi-speaker TTS corpus.
Therefore, unfortunately, we do not provide multi-speaker Japanese TT S model.

[2021-11-10 07:57] BuaaAlban commented on #3761
It appears to be overfited, so I didn't try reducing 'lr'.
I will try to reduce it in the original setting except for 'lr 0.002 --> 0.0002 and  warmup steps 25000 -> 400'

[2021-11-10 07:57] kan-bayashi commented on #3758
Thank you for raising the issue.
I think your suggestion is correct.

[2021-11-10 07:57] #3737 closed

[2021-11-10 08:34] imae-sound opened #3775 "Changing pitch and duration on a phoneme basis"
Is there a way to change the pitch, duration and maybe other parameters for each phoneme, so that I can fine tune the results of the speech synthesis? I have been looking at the code but I have not found a way to do so...

[2021-11-10 08:38] kan-bayashi commented on #3775
Could you clarify your motivation more clearer?
Currently we have an option to control the speed by multiplying the constant value for FastSpeech-based models.

[2021-11-10 08:45] imae-sound commented on #3775
We are working on TTS for Japanese and would like to modify the pitch accent for certain words. Additionally, we would also like to add custom stress to sentences by modifying the duration and loudness of certain phonemes.

[2021-11-10 08:48] kan-bayashi commented on #3775
So do you want to change these components in inference?

[2021-11-10 08:51] kan-bayashi commented on #3775
We did not provide such kind of options but you can modify e_outs and p_outs here
https://github.com/espnet/espnet/blob/eee2566f2395d676e3978376315a4cd116a4e335/espnet2/tts/fastspeech2/fastspeech2.py#L665
which are token averaged energy and pitch.

[2021-11-10 08:57] imae-sound commented on #3775
Thank you! I will have a look at it.

[2021-11-10 10:03] yt605155624 commented on #3536
If input noise will get more robust result, do you known why the paper remove noise ? have you input noise when train melgan and hifigan?

[2021-11-10 13:03] liu-x-p commented on #3766
Thank you!

[2021-11-10 13:19] sw005320 commented on #3760
Hmm. I just want to make sure. Can you make it work with the original config (joint CTC/attention)?

[2021-11-10 13:52] Fhrozen commented on #3774
I can remember this behavior, and I think that it has nothing to do with `UserWarning` but I think that it is related to nltk. If I can remember, downloading some files from nltk for the first time on asr_stat_collects makes some of the other jobs break.

If you see, this one ended with `Ended (code 0)`.
Can you check all of the `collect.logs` and confirm pls?

[2021-11-10 21:37] pyf98 commented on #3761
I think there are a few things you could try.

1. Keep the dropout probability as the default value 0.1. We usually don't need to change this hyperparameter. A too large value can make the model diverge.
2. Try different learning rates and warmup steps. For example, you can try `lr=5e-4, 1e-3, 2e-3, 5e-3, 1e-2, etc`. I think `1e-3` or `2e-3` could work. The number of warmup steps is more tricky. I

[2021-11-11 01:00] #3601 closed

[2021-11-11 01:18] kan-bayashi commented on #3536
StyleMelGAN is one of approaches what you said.

[2021-11-11 01:32] learnabitmore opened #3776 "output from a beamformer"
It says in the CHIME-5 paper that "Beamforming is performed by using four microphone signals attached to the reference array", I wonder what the input and output of the beamformer are?
There are  6 Kinect devices each with 4 channels. Is the input to the beamformer a 6-array 4-channel audio, i.e. dimension is [6, 4, time] or a stack of all channels [24, time], and the output of the beamformer is a

[2021-11-11 01:59] BuaaAlban commented on #3760
Yes, it works well for the original ctc/attention model config in the repo on librispeech 960h.

But I want to try a smaller model with 144/176 dimension instead of 512, 4 attention heads instead of 8 attention heads, 16layers encoder instead of 12layers, ctc decoder instead of seq2seq (reproduce the nvidia conformer-ctc model )， and i wrote the config based on the original one.

I found it diffic

[2021-11-11 02:03] adsf0078 opened #3777 "use_teacher_forcing mode error"
Hi,
Thank you for your good work.
I 'd like to train hifigan vocoder with GTA from fastspeech2 results.
When I run fastspeech2 in use_teacher_forcing mode for GTA, I get the following error regarding durations.
What was wrong?
Prior to fastspeech2 training, there was no problem when I ran the same stage, i.e. 7 in tacotron2.
Please any advices.
Thank you in advance!
[code]

[2021-11-11 02:06] kan-bayashi commented on #3777
Since groundtruth `durations` must be provided, you need to specify `--teacher_dumpdir`.

[2021-11-11 02:13] sw005320 commented on #3760
At least the CNN frontend part is different from the original one.
We use conv2d with 1/6 subsampling.

How about the BPE size?
This may make it difficult for CTC training.

Did you also adjust the kernel size?

We did not try small/medium/large conditions in the librispeech data.
We have such investigations in the aishell data.
@pengchengguo, could you also give some comments to @BuaaAlban?

[2021-11-11 02:16] sw005320 commented on #3776
The reference array means that we used one Kinect device among 6 Kinect devices.
This reference array information is written in the original CHiME-5 annotations, and we used it.

Thus, the input audio file is [4, time], and the beamformed output is [1, time]

[2021-11-11 02:37] learnabitmore commented on #3776
Thank you!

In CHIME-6, it mentions that the alternative front-end applies BeamformIt to the reference array, but later sections indicate that SAD, Diarization and ASR all use U06 for simplicity. Does that mean the BeamformIt is applied to U06 instead of the reference array for Track 2 baseline while Track 1 baseline applies BeamformIt on the reference array?

[2021-11-11 02:37] BuaaAlban commented on #3760
The sucessfully trained one (maybe a little different from the one in the repo) has something  different with the conformer-ctc.

The sucessfully trained  one using the default config have conv2d vs con2d6(mine)
BPE size are both 5000
kernel size are both 31 .
I noted that the accum_grad (1 vs 3  ) and batch_bins (140000000 vs 30000000) are different
lr 0.0015 vs 0.001
init null vs xavier_uniform

[2021-11-11 03:44] adsf0078 commented on #3777
Thank you, for your quick reply.

then do  I use the durations from tacotron2 results  as teacher_dumpdir ?

[2021-11-11 03:48] BuaaAlban commented on #3760
Besides I found the warning
 "espnet/espnet2/train/reporter.py:91: UserWarning: No valid stats found
  warnings.warn("No valid stats found") "
is due to  ctc_weight=1.0

[2021-11-11 04:11] arunbaby0 commented on #3774
yes, this looks like nltk error.
`[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.
Traceback (most recent call last):
  File "/miniconda/envs/espnet/lib/python3.8/site-packages/g2p_en/g2p.py", line 22, in <module>
    nltk.data.find('taggers/averaged_perceptron_tagger.zip')
  File "/mini

[2021-11-11 04:22] kan-bayashi commented on #3777
Right. Same as the training stage.

[2021-11-11 04:54] adsf0078 commented on #3777
Thank you.

[2021-11-11 08:19] ican24 commented on #3702
Dear @Fhrozen,

I have 2 questions:
1. Is it correct to use  such frontend function taken from espnet1 examples?
`trans_type = "phn"
dict_path = "phn_train_no_dev_units2.txt"
device="cpu"
with open(dict_path) as f:
    lines = f.readlines()
lines = [line.replace("\n", "").split(" ") for line in lines]
char_to_id = {c: int(i) for c, i in lines}
print("char_to_id:")
print(char_to_id)

def frontend(t

[2021-11-11 09:49] Fhrozen commented on #3702
I am wondering if you are looking for this: https://huggingface.co/julien-c/ljspeech_tts_train_tacotron2_raw_phn_tacotron_g2p_en_no_space_train/tree/main/exp/tts_stats_raw_phn_tacotron_g2p_en_no_space/train

I would recommend you to use frontend from ESPnet2.
You can find plenty examples of using the frontend from ESPnet2 https://github.com/espnet/espnet/blob/08feae5bb93fa8f6dcba66760c8617a4b5e39d

[2021-11-11 10:25] ican24 commented on #3702
Thank you very much!
Firstly I'll try to move huggingface's ljspeech model to ONNX to understand full process and details than I'll try same for my custom model, which is used self-made g2p method for my language.

[2021-11-11 12:25] sw005320 commented on #3776
CHiME-6 is a different story.
They use all arrays.

[2021-11-11 13:56] pengchengguo commented on #3760
Hi @BuaaAlban,

I am not familiar with Nvidia's Conformer model, but it is a little weird that reduces the attention dimension to 144/176 while keeping the FNN dimension as 2048. Do train w/ `Ir = 0.0001` and w/ `subsampling=conv2d` work?

Sorry, I didn't do experiments w/ different model sizes. For the Aishell experiments, I only tried relative positional type, the learning rate scheduler, and La

[2021-11-11 14:51] ican24 commented on #3702
Dear @Fhrozen,

This frontend exmaple does not explain converting from G2P list to tensor.
Meanwhile in your exmaple frontend(input_text) returns value, which must be unsqueezed in the next step:
xs = x.unsqueeze(0)

Below is my code. Practically just I need to solve this issue with the help of ESP2 to force it to work.

`from espnet2.bin.tts_inference import Text2Speech
from espnet2.utils.types i

[2021-11-11 15:03] Fhrozen commented on #3702
Ok, i will need to research a little longer. Some conditions are quite different from what I usually do.
For using TTS in real-time (No ONNX) it is just straightforward, you can even check here: https://github.com/espnet/notebook/blob/master/espnet2_tts_realtime_demo.ipynb

But, for ONNX I think that first, you will need to implement the FrontEnd as a previous step.
In the Notebook, the input is p

[2021-11-12 02:09] #3777 closed

[2021-11-12 02:28] BuaaAlban commented on #3760
Thanks a lot for your help and I found some feeling of tuning with your help.

The lr=0.0005 is still too big for this small model and lr =0.0001 seems working( though it's acc may not be that high, it converges at least.)

The model@epoch16 has about 80% acc. The followings are the figs for lr=0.0001 and ctcweight=0.7, the loss of the model with ctcweight=1.0 is similar, but I didn't put the fig

[2021-11-12 17:49] mirishkarganesh opened #3779 "ESPNET2 error at stage 3"
Hi Folks,

I am trying to train ASR on espnet2, I am facing the following issue, can you please help out in solving this issue.

2021-11-12T17:48:52 (asr_local.sh:434:main) Stage 3: Format wav.scp: data/ -> dump2/raw
utils/copy_data_dir.sh: copied data from data/train_sp to dump2/raw/org/train_sp
Usage: utils/validate_data_dir.sh [--no-feats] [--no-text] [--no-wav] [--no-spk-sort] <data-dir>
The -

[2021-11-14 05:39] lzc16 commented on #3117
Hi @shanguanma
Have you solved the problem? I met the same problem with you that  use multichannel to pass E2E ASR model in the espnet2.
 Hope your reply!

[2021-11-14 07:02] ddlBoJack opened #3780 "app Ly_map. pl: undefined key POD10000000040000012 in /home/share/maziyang/gigaspeech/data/dump/raw/dev/utt_map"
**Describe the bug**
[code]
when running `./run.sh`. It happen in `Stage 4: Remove long/short data: ${data_feats}/org -> ${data_feats}` in`asr.sh`

[2021-11-14 14:11] srikanthk20 commented on #3612
@b-flo ... are the updates available...

[2021-11-15 04:10] maxwellzh opened #3781 "Index error in Transducer beam search ALSD"
**Describe the bug**
The index of `(t, u)` is wrong. Since indices of `u` and `i` are beginning with  0, the `t` should be `t = i - u`. In current impl, `t` is beginning with 1, and the encoder output at `t=0` is never used.
https://github.com/espnet/espnet/blob/3c30eab699d8c3a0c61331e3cac38050345527de/espnet/nets/beam_search_transducer.py#L467-L469

[2021-11-15 08:05] lixucuhk opened #3782 "One issue about the CustomUpdater."
Hello, I would like to ask for help if someone is familiar with this issue. : )
I am implementing the `egs/librispeech/asr1` project. I have successfully installed all requirements.

Then, I ran the `run.sh` script step by step. When comes to Step 4, i.e. network training with the `asr_train.py` script, I met the issue indicated in the picture.
![image](https://user-images.githubusercontent.com/44

[2021-11-15 08:10] kan-bayashi opened #3783 "make: command: Command not found"
**Describe the bug**

`$(shell command -v nvcc)` in Makefile causes `command: Command not found` error even if `command` is available as the shell built-in command.

https://github.com/espnet/espnet/blob/c6139d5f0dc79fc4676fd908bbce05486a6672e1/tools/Makefile#L14

Then, `CPU_ONLY = 0` is always used.

This is also caused in CI except for centos.
https://github.com/espnet/espnet/runs/4206382740?che

[2021-11-15 08:28] kamo-naoyuki commented on #3783
I see.

`command` is a builtin command for bash:  See [man command](https://linux.die.net/man/1/builtins),  but the shell of Makefile is POSIX-sh (/bin/sh) actually, so it can be not found.

CentOS7 has a shell script at `/usr/bin/command`, so this error doesn't happen on CentOS7.

`type` is also a builidin command for bash, so we should use `which` command for POSIX-sh compatible.

[2021-11-15 08:31] 123srikanth opened #3785 "runtime error(need help)"
## Describe issue
I am trying to train a TTS model for hindi language using espnet/egs/ljspeech/tts1/ model. I have prepared my own data for hindi dataset but when I run the script I'm getting the following error. I'm not sure what's wrong with my dataset. Can someone help me to sort out this issue.

compute-fbank-feats.py --fs 22050 --fmax 7600 --fmin 80 --n_fft 1024 --n_shift 256 --win_length --

[2021-11-15 08:37] kan-bayashi commented on #3785
Could you attach the head of your `wav.scp`?
Maybe workaround is using acsii for filename and utt_ids.

[2021-11-15 08:42] 123srikanth commented on #3785
/home/srikanth/Documents/train_data/data_prep/char_train/wav.scp

[2021-11-15 08:43] kan-bayashi commented on #3785
I mean the contents of `wav.scp`.

[2021-11-15 08:44] BuaaAlban commented on #3760
2021.11.15Update： The model has converged.  Thanks a lot for your help!
The following are the results.
![image](https://user-images.githubusercontent.com/25258181/141749893-f92240c3-95a2-4da0-9269-5ebd2e7cb777.png)

@pengchengguo Do you have any update for the "warning" ? I will close this issue after your update

[2021-11-15 08:49] kan-bayashi commented on #3785
Could you show me lines of your hindi corpus?

[2021-11-15 08:51] 123srikanth commented on #3785
you mean these
LJ001-0001 एयरटेल ने रिलायंस जियो को टक्कर देने के इरादे से अपने प्रीपेड ग्राहकों
LJ001-0002 और उसे तीन स्टॉफ नर्सों की देखरेख में रखा गया था बावजूद इसके वह आवारा कुत्तों का शिकार बन गई
LJ001-0003 बैंक खाते खोलकर कई लोगों ने अपने काले धन को सफेद करने की कोशिश करने
LJ001-0004 इसके बाद अमित मिश्रा ने जैक
LJ001-0005 की मात्रा
LJ001-0006 अपने प्लान के बारे में बताते हुए बीएसएनएल के चेयर

[2021-11-15 08:53] kan-bayashi commented on #3785
Ah, did you save your hindi audio as `downloads/LJSpeech-1.1/wavs/LJXXX-XXXX.wav`?

[2021-11-15 08:53] 123srikanth commented on #3785
yes

[2021-11-15 08:57] kan-bayashi commented on #3785
I see. Then, maybe the problem is your audio file format.
You can check your file format via `soxi`.
This is an example of LJspeech audio.
[code]
If your audio is not `16-bit Signed Integer PCM`, it is better to convert.

[2021-11-15 09:00] lixucuhk commented on #3782
Find the answer in https://github.com/espnet/espnet/issues/1925.
Thanks!

[2021-11-15 09:00] #3782 closed

[2021-11-15 09:02] 123srikanth commented on #3785
can you please suggest an application to convert them I'm using Qwinff but it has only sample rate and bitrate parameters to convert

[2021-11-15 09:03] kan-bayashi commented on #3785
Please use sox
[code]

[2021-11-15 09:12] 123srikanth commented on #3785
sox downloads/LJSpeech-1.1/wavs/LJ001-0001.wav -t wav -r 16000 -b 16 test.wav
when I run the above command I'm facing the following error

sox FAIL formats: can't open input file `downloads/LJSpeech-1.1/wavs/LJ001-0001.wav': WAVE: RIFF header not found

[2021-11-15 09:28] pengchengguo commented on #3760
Sorry, I haven't completely solved this problem, it works well on the Aishell 1 corpus. Does it only appear in the pure CTC training (ctc_weight=1) or also appear in joint ctc/attention training. I am preparing the librispeech data to reproduce this issue.

[2021-11-15 09:44] BuaaAlban commented on #3760
It only appears when ctc_weight=1 and is okay in  joint ctc/attention training.

[2021-11-15 09:48] kan-bayashi commented on #3785
The option depends on your file format.
[code]

[2021-11-15 10:44] 123srikanth commented on #3785
even this option throws the same error

srikanth@instance-1:~/espnet/egs/ljspeech/tts1$ sox -t wav downloads/LJSpeech-1.1/wavs/LJ001-0001.wav -t wav -r 16000 -b 16 test.wav
sox FAIL formats: can't open input file `downloads/LJSpeech-1.1/wavs/LJ001-0001.wav': WAVE: RIFF header not found

[2021-11-15 10:49] kan-bayashi commented on #3785
Since I did not know your audio detail, I need to investigate by yourself.
Maybe if you provide the results of soxi command, I give you some insights.

[2021-11-15 10:51] 123srikanth commented on #3785
the output remains same with soxi command as well

srikanth@instance-1:~/espnet/egs/ljspeech/tts1$ soxi downloads/LJSpeech-1.1/wavs/LJ001-0001.wav
soxi FAIL formats: can't open input file `downloads/LJSpeech-1.1/wavs/LJ001-0001.wav': WAVE: RIFF header not found

[2021-11-15 10:52] kan-bayashi commented on #3785
Then, I have no idea to determine your audio file format.
Please check your software used for the conversion.

[2021-11-15 12:22] #3783 closed

[2021-11-16 07:25] kan-bayashi commented on #3779
Maybe your kaldi is old.

[2021-11-16 09:49] b-flo commented on #3781
Hi,

Seems right to me, thanks for catching that! Could you make a PR, please? If not, I will do it at the end of the week.

[2021-11-16 10:15] b-flo commented on #3612
Hi,

Sorry for the delay, I'm overloaded with some other works and we had some internal discussion related to streaming Transducer in ESPnet and production side which changed the scope of the work. The streaming part is mostly done but it'll take a bit more time before I push/present what we have in mind. I'll keep you updated.

[2021-11-16 13:19] maxwellzh commented on #3781
@b-flo I have make the PR. Only one line changes. It should be easy to review.

[2021-11-17 03:43] nguyenhuy1209 opened #3797 "Conformer encoder layer as decoder in Transducer ESPNETv1"
Hi, I am trying to use a Conformer Encoder as a Transducer Decoder in the VIVOS recipe:

[code]

As I read the code, if we use conformer for the decoder type, the build_blocks() function in transducer/blocks.py will create a ConformerEncoderLayer instance for the transducer decoder. The model was able to train smoothly, but the loss went down rapidly in a weird way (in the figure). When I use the

[2021-11-17 07:54] yt605155624 opened #3798 "`torch.to` for pe"
https://github.com/espnet/espnet/blob/b22953621a76efd8a5d9e68811056874fdcc2acc/espnet/nets/pytorch_backend/transformer/embedding.py#L78
there is a `torch.to` for pe, Is it because if not, the GPU memory will be leaked..

[2021-11-17 07:58] yt605155624 commented on #3798
Pytorch's `to` truncates the gradient, I want to know your design in this line, do you want to truncates the gradient of pe here?

[2021-11-17 08:36] 123srikanth opened #3799 "which data to use (need help)"
I have prepared the data inside the data folder with hindi dataset for espnet/egs/ljspeech/tts1 model and I have run the model it has successfully ran 3 stages and to proceed with 4th stage i.e training stage I had a doubt. Inside the dump folder for data2json file it is creating tokens in english even though I have prepared the data in hindi so later I have prepared the data in english and ran th

[2021-11-17 08:39] b-flo commented on #3781
Fixed by #3794.

[2021-11-17 08:39] #3781 closed

[2021-11-17 08:54] 123srikanth commented on #3799
@kan-bayashi  can you please clear this doubt for me.

[2021-11-17 09:14] b-flo commented on #3797
Hi,

Conformer decoder is not supported (or at least we don't have a definition for ConformerDecoderLayer). I forgot to add back a check when refactoring custom model building.

[2021-11-17 09:43] nguyenhuy1209 commented on #3797
Hi, @b-flo , thank you for your reply. I still have a question on why can't we use a Conformer as a decoder, is it because of technical issues or because it is theoretically impractical?

[2021-11-17 10:41] b-flo commented on #3797
It was only intended as an encoder for ASR models when it was added. Conformer could be used as decoder for Transducer model but some things need to be modified. I'll check that when I have time.

[2021-11-17 13:10] #3797 closed

[2021-11-17 18:47] u-hubar opened #3802 "Espnet1 TTS with EU languages"
Hello, I have a question related to pretrained TTS models for fr-FR, es-ES and it-IT languages. There are only demos for English, Japanese and Mandarin languages and usage of G2P isn't clear enough. Where can I find G2P modules for other languages? Otherwise, where can I found instruction how to use custom G2P modules to produce input for TTS models?

[2021-11-17 23:56] kan-bayashi commented on #3802
Do you need to stick to ESPnet1?
In the case of ESPnet2, you can find
https://github.com/espnet/espnet/blob/master/egs2/TEMPLATE/tts1/README.md#supported-text-frontend

[2021-11-18 00:01] kan-bayashi commented on #3799
It seems fine, I am not sure what is happened.

1. Prepare the `data` directory for your dataset
2. Run the recipe from stage 2. (Please check you did not overwrite data dir by running from stage 1)

[2021-11-18 00:15] u-hubar commented on #3802
ESPnet2 is also OK, but I haven't found any pretrained models for languages I need. Are there any pretrained TTS models for es-ES, fr-FR and it-IT for ESPnet2?

[2021-11-18 00:18] u-hubar commented on #3802
Or maybe I can use this text frontends with ESPnet1 TTS?

[2021-11-18 00:20] kan-bayashi commented on #3802
The pretrained models in EPSnet1 for these langs, we do not use G2P, just using char.
So if you want to just use the pretrained model, you do not need.

[2021-11-18 00:24] u-hubar commented on #3802
Oh, I only have found this demo with the ESPnet1 usage: https://colab.research.google.com/github/espnet/notebook/blob/master/tts_realtime_demo.ipynb
And G2P is used here for audio synthesis. Where can I find some examples of usage with pretrained models without G2P?

[2021-11-18 00:28] kan-bayashi commented on #3802
You can skip cleaner part and follow trans_type=char processing.

[2021-11-18 00:30] u-hubar commented on #3802
Thanks a lot! Appreciate your help

[2021-11-18 01:22] lin-nerd opened #3803 "An error occurred in the ASR task using the streaming conformer config on ESPnet2"
- python=3.8.5
- torch=1.10.0+cu102
- torch cuda=10.2
- espnet=0.10.5a1

I want to use streaming conformer config for my dataset of the ASR task, but this error occurs after the first epoch training.
The log is:
[user] 2021-11-17 21:07:07,236 (trainer:668) INFO: 1epoch:train:26767-28253batch: iter_time=7.281e-05, forward_time=0.133, loss=150.549, loss_att=116.794, loss_ctc=229.310, acc=0.325, back

[2021-11-18 04:26] arunbaby0 commented on #3774
this nltk crash can be observed for LM stats collection, ASR stats collection and ASR decode from a downloaded model.
But only for the first time in docker.

[2021-11-18 05:14] arunbaby0 commented on #3774
@Fhrozen How about pre-downloading all required packages in the dockerFile?

[2021-11-18 05:36] Fhrozen commented on #3774
If you setup the `NLTK_DATA` environmental variable to target one on your repository will be better.
This folder may change depending on the user.

[2021-11-18 09:00] ningbiubiu123 commented on #3773
Hi, excuse me. Have you solved the WSJ data preparation problem?
I am on the WSJ data preparation, but because forget the data backup and data merged, so don't know the specific data directory, such as the correct file directory is WSJ / 11-13-1 / data, but my file directory is WSJ/wsj0 / data. The WSJ/wsj1 / data, Not knowing the directory structure of the file prevents me from preparing the data

[2021-11-18 14:22] #3705 closed

[2021-11-18 17:44] 123srikanth opened #3804 "How to know if training is completed successfully"
Hi I have started my espnet training on aws instance but after sometime I'm **getting packet_write_wait: Connection to 65.0.160.161 port 22: Broken pipe** due to inactivity. So i'm not able to proceed further in training. How can I stop my connection from breaking?

[2021-11-19 03:19] #3804 closed

[2021-11-19 03:20] #3799 closed

[2021-11-20 16:14] #3780 closed

[2021-11-21 12:00] srikanthk20 commented on #3612
@b-flo ... thanks for the info and your contributions

[2021-11-21 12:34] srikanthk20 commented on #3612
@b-flo ... is there a experiment branch that i can refer to in the meanwhile

[2021-11-21 14:08] neuronx1 commented on #3241
@sw005320 Thanks for your work. I wanted to ask where I find the pretrained german vocoder. That would really help me.

[2021-11-22 09:35] ranchlai opened #3805 "Change of learning rate when using scheduler during training?"
It is possible to change learning rate during training when using a Scheduler?
I see that Scheduler state will be loaded when training resumes, so changing learning is not supported? Any plan to make training more flexible?

[2021-11-22 12:25] sw005320 commented on #3241
Actually, I don't know.
@kan-bayashi, can you answer it?

[2021-11-22 12:46] sw005320 commented on #3803
Thanks for testing our new functions.
Could you tell me more details about the recipe and config?

[2021-11-22 15:51] sscheng216 opened #3809 "greedy search for Hybrid CTC/attention based end-to-end ASR"
Hi,
in the Hybrid CTC/attention based end-to-end ASR, does setting beam-size at 1 means that greedy search is applied?

Thank you in advance.

[2021-11-22 15:53] sw005320 commented on #3809
Yes!

[2021-11-22 15:57] #3809 closed

[2021-11-23 00:10] kan-bayashi commented on #3241
You can find `hui_acg_hokuspokus_parallel_wavegan.v1`, which is German female model.
https://github.com/kan-bayashi/ParallelWaveGAN#results

[2021-11-23 01:25] liu-x-p commented on #3766
Hi, when I use this toolkit for ASR, there are several lines for nltk_data in the log files in many different stages
[code]
it seems the scripts need to download nltk_data, but it can still work without it. Should it make any influence for the results?

[2021-11-23 01:27] simpleoier commented on #3766
@liu-x-p I think it makes no difference. Out of curiosity, at which stage did you get these errors?

[2021-11-23 01:35] liu-x-p commented on #3766
Stage 7(LM training), Stage 10(ASR collect stats), Stage 11(ASR Training) and Stage 12(Decoding)

[2021-11-23 01:36] liu-x-p commented on #3766
@simpleoier  Stage 7(LM training), Stage 10(ASR collect stats), Stage 11(ASR Training) and Stage 12(Decoding)

[2021-11-23 02:47] simpleoier commented on #3766
@liu-x-p Can you be more specific about where the error comes from? Is it from a specific bash script or a python script?

[2021-11-23 04:07] lin-nerd commented on #3803
@sw005320 Thanks for your reply.
I use the recipe of Aishell and use my own Mandarin corpus.

The following is my config file:

# network architecture
# encoder related
encoder: contextual_block_conformer    # contextual_block_conformer is the core of streaming conformer
encoder_conf:
    output_size: 256    # dimension of attention
    attention_heads: 4
    linear_units: 2048  # the number of un

[2021-11-23 05:58] IceCreamWW opened #3811 "incorrect olens result for stft when win_length is not same as n_fft"
In torch.stft, win_length is not used when calculating the number of frames, which is same as libriosa.stft,  see also http://librosa.org/doc/main/_modules/librosa/core/spectrum.html#stft.

In espnet2/layers/stft.py
[code]
should be
[code]

[2021-11-23 08:27] #3774 closed

[2021-11-23 08:51] b-flo commented on #3612
Sorry, all related branches and repo related to that work are currently private.

[2021-11-23 10:29] Emrys365 commented on #3811
Thanks for the report! I agree there is some bug in the current code.

According to the implementation in `librosa.stft`, the parameter `n_fft` is used instead of `win_length` to construct frames:
[code]
So we should follow the same strategy for `espnet2/layers/stft.py`.

[2021-11-23 10:54] neuronx1 commented on #3241
Thank you very much @kan-bayashi.
Do you know if this vocoder is compatible with the german female text to mel model provided here: https://github.com/espnet/espnet/tree/master/egs/m_ailabs/tts1

[2021-11-23 10:57] kan-bayashi commented on #3241
The recording quality of mailabs is not good and it is 16khz so you cannot use.
You can use HUI-ACG corpus pretrained models.
https://github.com/espnet/espnet/tree/master/egs2/hui_acg/tts1#pretrained-models

[2021-11-23 11:04] neuronx1 commented on #3241
Thank you very much!

[2021-11-23 11:38] sw005320 commented on #3803
Sorry again.
Does the aishell recipe have some issues or does your own data has some issues?
@D-Keqi, have you faced this issue?

[2021-11-23 11:52] D-Keqi commented on #3803
No, I have not faced this issue. I think maybe you can check the data preparation stage of your own corpus. The encoder_out_lens shouldn't be None during the training stage.

[2021-11-24 01:15] lin-nerd commented on #3803
@sw005320 @D-Keqi I used the same Mandarin corpus to work on the transformer streaming config.
At the same time, I also ran through stage 2 to stage 4 and stage 9 before training, but still faced the same issue.

[2021-11-24 02:57] D-Keqi commented on #3803
OK, thanks for your response.

[2021-11-24 03:46] BuaaAlban commented on #3761
With dropout=0.1, I tried all the lr with warmup steps=1000 (around 15 epochs) and they all didn't work.
Tuning is really a trick work.

[2021-11-24 05:19] lin-nerd commented on #3803
@D-Keqi Sorry again.
I ran again stage 2 to stage 4 and stage 9 before training, but still faced the same issue, and the blank of --resume seems to have nothing to do with this issue.

The log file as follow:
[user] 2021-11-24 12:46:01,219 (trainer:668) INFO: 1epoch:train:26767-28253batch: iter_time=1.183e-04, forward_time=0.134, loss=114.915, loss_att=123.177, loss_ctc=95.638, acc=0.348, backward

[2021-11-24 06:24] D-Keqi commented on #3803
Do you mean it is ok with the streaming Transformer but you come into some issues with the streaming Conformer? Have you tested it with the AISHELL-1 corpus?

[2021-11-24 08:04] inconnu11 commented on #2764
Hi, the repo provided the pretrained model [libritts_tts_train_xvector_conformer_fastspeech2_transformer_teacher_raw_phn_tacotron_g2p_en_no_space_train.loss ](https://zenodo.org/record/4418754). I inferenced on the LibriTTS using this pretrained ckpt. I see that you upload some samples of VCTK in google drive. Could you please upload some LibriTTS samples on train-set, dev-set and test-set for me

[2021-11-24 08:16] kamo-naoyuki commented on #3805
Do you mean, changing the learning rate manually instead of the scheduled learning rate?

1. Start training
2. Stop training
3. Manual operation for hyper parameters
4. Resume

If you really want to do it, please modify the optimizer state directly from the saved file. It's easy, but why don't you use a custom scheduler? I think it's enough.

[2021-11-24 08:32] pengchengguo commented on #3760
Hi @BuaaAlban,

For a pure CTC training, only `cer_ctc` will be computed. Both `acc_att` and `cer_attn` will be set to `None` (please refer to https://github.com/espnet/espnet/blob/master/espnet2/asr/espnet_model.py#L171 for more detail).

So you should modify the config file as
[code]
for the pure CTC training.

[2021-11-24 08:49] sw005320 commented on #3761
Did you keep warmup steps=25000 for this search?
warmup steps=1000 makes your learning rate too steep.
I feel that you seem to change too many hyperparameters.
Before changing various hyperparameters at the same time, I recommend you just start from our default transformer configs in the repo and only change the learning rate.

[2021-11-24 09:44] lin-nerd commented on #3803
@D-Keqi
I tried to use streaming Transformer config on Mandarin corpus and found that I also encountered this issue.
But I can be training with my corpus in streaming Transformer config before git pull to the current version.

[2021-11-24 09:51] ranchlai commented on #3805
I think it is much easier to modify config.yaml than to modify checkpoint, and it is scary  and troublesome for most people to load checkpoint, modify it and save it back.  May be we can change the checkpointing features to enable using new scheduler parameters?

[2021-11-24 10:01] kamo-naoyuki commented on #3805
Learning rates are saved in the scheduler state.  I have no idea to enable it. Maybe, it's impossible.

[2021-11-24 10:09] kamo-naoyuki commented on #3805
Anyway, modifying config.yaml is not recommended as well as checkpoint. Samely troublesome.

We never provide such a feature officially.

[2021-11-24 11:00] D-Keqi commented on #3803
Can you check if you are using forward_train instead of forward_infer during training? https://github.com/espnet/espnet/blob/master/espnet2/asr/encoder/contextual_block_conformer_encoder.py#L222 If you use forward_infer, the encoder_out_lens will be None. But, normally, the forward_train should be employed during training.

[2021-11-24 14:11] ranchlai commented on #3805
Changing hyper-parameters during training seems to be very common, especially in research/competition. How about checking diff between checkpoint and config.yaml, and if possible, use params from config to update the checkpoint? I did that in my private fork and I think it is useful.

[2021-11-24 14:33] kamo-naoyuki commented on #3805
Hmm. I never did it. How  do you change hyperparameters? By checking loss curve? If so, why don't you scheduler?

[2021-11-24 15:17] ranchlai commented on #3805
For LR, sometimes we need to manually set the LR to see how the loss goes. Even the scheduler has its own parameters that we need to take care of. But this is not just the for LR. For ASR, there are other hyper-params such as spect-augment, rir, ctc-weights and so on.  If changing these params requires training from scratch, it will cost a lot of energy.

[2021-11-24 16:10] kamo-naoyuki commented on #3805
Okay, I'll consider it (Though I believe such people should modify the checkpoint file directly because it's a rare case for reseachers)

At the first, trainer can't get the inforamation of the configuration directly because trainer is indepedent from the configuration in the current design. Thus we need to give the information from AbsTask to trainer.

[code]

Next, to change hyperparameters afte

[2021-11-24 16:10] kamo-naoyuki commented on #3805
Does it work for you?

[2021-11-24 16:23] kamo-naoyuki commented on #3805
Hmm. I thought my idea is a bad design because someone may want to load the optimizer state even if changing the configuration, e.g. the changed parameter is not saved in the state. We can't know what parameters are saved in the state in general.

How about adding such options as `--disable_load_optimizer_state` and `--disable_load_scheduler_state`?

[2021-11-24 16:53] kamo-naoyuki commented on #3805
Maybe, with no change, it's enough to launch a new training process with `--init_param`?  I think this is a better way for reproducibility. How about it?

[2021-11-24 19:29] kamo-naoyuki commented on #3805
Another idea is adding an option to set attributes directly for optimizer, such as `--overwrite_optim1_param`

[code]

In this way, we can set attributes directly because we don't need to know the parameter names in advance.

[2021-11-24 21:42] AdolfVonKleist opened #3814 "Reference Example Result WER/CER for Hubert SSL librilight_limited_10hr"
Hi, I was wondering if there are still some reference example results pending for the Hubert SSL librilight_limited_10hr tuning, using either the pre-existing fairseq models, or the espnet-trained models referenced here:

 * https://github.com/espnet/espnet/tree/master/egs2/librispeech/ssl1
 * https://github.com/espnet/espnet/tree/master/egs2/librilight_limited/asr1
   * https://github.com/espnet/

[2021-11-25 01:17] lin-nerd commented on #3803
@D-Keqi
I just confirmed that the forward part in contextual_block_transformer_encoder.py and contextyal_block_conformer_encoder.py is as follows:

    def forward(
        self,
        xs_pad: torch.Tensor,
        ilens: torch.Tensor,
        prev_states: torch.Tensor = None,
        is_final=True,
    ) -> Tuple[torch.Tensor, torch.Tensor, Optional[torch.Tensor]]:
        """Embed positions in

[2021-11-25 02:02] duj12 commented on #2673
This problem may caused by Memory Limit Exceeded
let num_splits_asr be greater than 1, to reduce the number of utts in .scp file loaded per time.
In my case, total utts' number is about 70 million, i split it into 16 subsets, then this error disappear.

[2021-11-25 02:29] BuaaAlban commented on #3761
Actually I didn't keep warmup steps=25000 . Due to the dataset size, lr will keep going up during training with warmup=25000. Though it works with aishell with the arugmenting lr.
![image](https://user-images.githubusercontent.com/25258181/143366643-89b3436e-40bf-4f3c-a871-103bbba4a78d.png)

warup steps = 1000 seems better
![image](https://user-images.githubusercontent.com/25258181/143366939-ad057

[2021-11-25 02:37] pyf98 commented on #3761
Not very sure if the BPE size plays a key role here. I actually used 300 and it worked. But I was using a different model. Maybe you could try a smaller BPE size, e.g. 300. @BuaaAlban

[2021-11-25 02:50] BuaaAlban commented on #3761
Thanks， I will try it.

[2021-11-25 08:14] BuaaAlban commented on #3760
@pengchengguo Thanks a lot for your guide, I will close the issue now.

[2021-11-25 08:14] #3760 closed

[2021-11-25 18:58] kamo-naoyuki commented on #3805
I think there are two cases to modify lr in practice:

- Reducing lr with keeping the lr curve ( I mean keeping the state of scheduler with reducing lr relatively)
- Reseting the scheduler and optimizer and setting new hyper parameters.

The second can be enabled by `--init_param`. I think this is the best way for the second case.

The behaviour of `--disable_load_*_state` differs depending on the

[2021-11-26 00:25] liu-x-p commented on #3766
I think it may come from s3prl fronend and maybe during the model-building. I tried to train a model without s3prl fronend and the problem disappeared

[2021-11-26 04:40] ranchlai commented on #3805
Sorry for late reply and thank you very much for your following-up.
I raise the issue based on the simple thinking:   The model state is most expensive(cost lot of energy) to obtain while the others (e.g., augmentation, scp, spect-augment, scheduler, and even the optim state) are dispensable. In other words, Users should be able to change every other configs  without cause trouble(except model con

[2021-11-26 06:15] sciai-ai opened #3817 "Inference speed comparison"
@kan-bayashi I am comparing the inference time of PWG + taco2 vs Mbmelgan + taco2 in the notebook below. I believe mbmelgan should be much much faster than PWG however the RTF are the same. Can you please check?
[https://colab.research.google.com/github/espnet/notebook/blob/5102f52d01b6bcd191c1f428f95e3fa0a74813b7/espnet2_tts_realtime_demo.ipynb](url)

[2021-11-26 06:41] ranchlai commented on #3805
I have checked speechbrain just now.  It seems more flexible for them to decide what to checkpoint and what to load by setting "recoverables", e.g.,
[code]
They have a checkpoint.py to [https://github.com/speechbrain/speechbrain/blob/9fdce2bbf8129583883769a3728e5964d0b36149/speechbrain/utils/checkpoints.py](url) to do make that possible.

For us,  can we just detect the diff of hyper-params betwee

[2021-11-26 06:57] sciai-ai commented on #3702
@Fhrozen Do you have a working example of TTS onxx with espnet? Thank you!

[2021-11-26 07:34] Pydataman opened #3818 "do you any plan for adaspeech or adaspeech2?"

[2021-11-26 10:44] Fhrozen commented on #3702
@sciai-ai, Sorry I do not have any available example for TTS ONNX.
I will try to prepare one later using a notebook or a gist.

[2021-11-26 10:48] sciai-ai commented on #3702
Thank you @Fhrozen it owuld be great if you can do one with Espnet 2 TTS as I have a custom model trained using egs2 ljspeech style recipe

[2021-11-26 12:17] ican24 commented on #3702
Thank you very much! It is so important to bring this wonderful solution to the wide-scale equipment. It could be a breakthrough solution in TTS like VOSK for Kaldi ASR.
We look forward to it.

[2021-11-26 12:18] kan-bayashi commented on #3817
I think the calculation time of Tacotron 2 is dominant, and therefore, the vocoder effect for RTF is not so much.
For vocoder speed comparison, please check the following page.
https://github.com/kan-bayashi/ParallelWaveGAN#speed

[2021-11-26 14:42] sciai-ai commented on #3817
Yes i saw that but it needs .scp file but i do not find this file after i trained model with tts egs2 ljspeech on my data

[2021-11-26 16:22] kamo-naoyuki commented on #3805
We must keep generality for trainer design. Your idea is actually impossible because It's not guaranteed that the parameter name for `__init__` is as same as the name of state, for example

[code]

Only we can do is detecting the difference between a new configuration and the previous config file, which is saved at the previous run.

However, I think it's not good idea to detect the dfference and

[2021-11-26 16:36] kamo-naoyuki commented on #3805
Maybe, if removing `scheduler ` from `recoverables`, not only loading but also saving is avoided at the same time.

Anyway, we can also add options to control what state will be saved and loaded, but I think this is not your intention.

I guess you need to modify the lr with keeping the scheduler state.

If it's okay to reset the scheduler state, please use `--init_param` option instead.

[2021-11-26 23:23] kan-bayashi commented on #3817
Please check https://github.com/kan-bayashi/ParallelWaveGAN#decoding-with-espnet-tts-models-features

[2021-11-27 04:29] ranchlai commented on #3805
Ok, I understand your concern. It's quite ok for me to use --init_param.

[2021-11-27 04:30] ranchlai commented on #3805
I think recoverables can be be edited before training resumes.

[2021-11-27 04:31] ranchlai commented on #3805
Thank you very much for thinking about this !

[2021-11-28 16:46] 123srikanth opened #3820 "How can I use trained espnet/egs/ljspeech/tts1 model to generate audio"
Hi, I have completed my espnet/egs/ljspeech/tts1 model training sucessfully can someone help me in how to generate realtime audios by passing text to model. In the internet I found this https://colab.research.google.com/github/espnet/notebook/blob/master/espnet2_tts_realtime_demo.ipynb#scrollTo=as4iFXid0m4f
to make use of model but it seems like it works for espnet2 and I'm not getting how to use

[2021-11-28 16:52] 123srikanth opened #3821 "Do I need metadata.csv file to train Parallel Wave Gan vocoder"
Hi I want to train Parallel Wave Gan vocoder for my dataset for which I'm going through this documentation https://github.com/kan-bayashi/ParallelWaveGAN/blob/master/egs/README.md (Run training using ESPnet2-TTS recipe within 5 minutes) where I have made everything as relevant to espnet/egs/ljspeech/tts1 model but my doubt is do I actually need to create downloads folder with data because in the d

[2021-11-29 06:17] sciai-ai commented on #3702
@Fhrozen I am getting theis error while doing the conversion step

`---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
/tmp/ipykernel_13419/3336720621.py in <module>
      3 text2speech,
      4 inputs,
----> 5 onnx_model_name
      6 )

/opt/conda/lib/python3.7/site-packages/torch/onnx/__init__.py

[2021-11-29 06:39] Fhrozen commented on #3702
It is because the Text2Speech is just an object and not the model to be moved to onnx. The model is found at `Text2speech.tts`

[2021-11-29 06:50] sciai-ai commented on #3702
Thanks @Fhrozen

Now i am getting this error `TypeError: forward() missing 3 required positional arguments: 'text_lengths', 'speech', and 'speech_lengths'
`

`# Export the model
torch.onnx.export(text2speech.tts,               # model being run
                  x,                         # model input (or a tuple for multiple inputs)
                  "super_resolution.onnx",   # where to save th

[2021-11-29 06:51] sciai-ai commented on #3702
Thanks @Fhrozen

Now i get another error

`TypeError: forward() missing 3 required positional arguments: 'text_lengths', 'speech', and 'speech_lengths'`

[2021-11-29 06:52] nosuke505 opened #3823 "VITSの学習時に出力されるTensorboardのvalid_discriminator_loss_epochなどの計算式"
VITSでfine-tuningを行い、Tensorboardで学習状況の確認を行いました。
validationデータ数は5個になります。
なぜ下の画像のようにepoch数が増加するほどlossが増加しているのか分かりません。
<img width="353" alt="スクリーンショット 2021-11-29 15 03 04" src="https://user-images.githubusercontent.com/86777259/143818567-ba50a18c-9181-4128-9bbe-dd6867edef47.png">
trainのlossはepoch数が進むほど減少しているのですがvalidは増加しています。
<img width="366" alt="スクリーンショット 2021-11-29 15 01 18" src="https://user-image

[2021-11-29 07:01] Fhrozen commented on #3702
In this case, you will need to check the code of them call from Text2speech object https://github.com/espnet/espnet/blob/4615a5871ea886ebd9852ae9b5d2140f50a453b0/espnet2/bin/tts_inference.py#L154-L219

Here, you will need yo copy the configuration dict (cfg) for running the `.model` part

[2021-11-29 07:11] sciai-ai commented on #3702
@Fhrozen I think it actually comes from

https://github.com/espnet/espnet/blob/08feae5bb93fa8f6dcba66760c8617a4b5e39d70/espnet2/tts/tacotron2.py

I only need x which is token ids for getting output but when converting to onxx input=x seems to be causing this error

`def forward(
        self,
        text: torch.Tensor,
        text_lengths: torch.Tensor,
        speech: torch.Tensor,
        spee

[2021-11-29 08:40] Fhrozen commented on #3702
In the conversion code

[2021-11-29 10:02] sciai-ai commented on #3702
I am a bit confused as the code here is already doing inference, in lines 200-219. I thought that the inference part should be calculated within the Text2speech.tts so that the inference speed is faster when we convert to onxx?

[2021-11-29 13:09] Fhrozen commented on #3702
Yes, but when you use `Text2Speech.tts` to obtain the onnx model, you are skipping the preparation of the input for the `.tts` part. So you need to add each of the arguments for performing the inference that is done in L203.
`output_dict = self.model.inference(**batch, **cfg) `

[2021-11-29 14:51] sw005320 commented on #3818
Thanks for the suggestion.
Could you give us more about adaspeech and adaspeech2 and how it is important for you and the community?
We're happy to increase the priority based on it.

[2021-11-29 21:57] u-hubar commented on #3802
Hello, I have one more question related to Espnet1 TTS.

Where can I find pretrained vocoders for this TTS models: https://drive.google.com/drive/folders/1AzB7xtNY1LJM9aMQMOWCvLnq07KbH7gJ ?

I'm interested in de-DE, es-ES, fr-FR and it-IT languages, but I've founded only de-DE vocoder: https://drive.google.com/drive/folders/1rwzpIwb65xbW5fFPsqPWdforsk4U-vDg

[2021-11-30 00:16] kan-bayashi commented on #3802
Unfortunately, I have not prepared the vocoders for these models, I think.

This german model is trained on different dataset, and the sampling rate is different form M-AILABS (The recording quality is much better). So you cannot use it.

[2021-11-30 00:24] kan-bayashi commented on #3823
こんにちは、林です。
コードはこの辺になります。
https://github.com/espnet/espnet/blob/4615a5871ea886ebd9852ae9b5d2140f50a453b0/espnet2/gan_tts/vits/vits.py#L400-L412

VITSに限らず、少量のデータを使ったTTSモデルの学習は過学習のような学習曲線が見られる事が多いです。例えば以下はJVSの010の話者の適応時の学習曲線です。

<img width="590" alt="スクリーンショット 2021-11-30 9 18 40" src="https://user-images.githubusercontent.com/22779813/143963093-903d091b-f589-4f45-a45d-8339ed0cb60f.png">

同じような曲線かと思いま

[2021-11-30 00:27] kan-bayashi commented on #3821
If you used ESPnet1, it is better to follow to create the recipe for your dataset.
https://github.com/kan-bayashi/ParallelWaveGAN/blob/master/egs/README.md#how-to-make-the-recipe-for-your-own-dateset

[2021-11-30 00:28] kan-bayashi commented on #3820
Please check this one.
https://colab.research.google.com/github/espnet/notebook/blob/master/tts_realtime_demo.ipynb

[2021-11-30 00:28] #3820 closed

[2021-11-30 00:28] #3817 closed

[2021-11-30 00:29] #3762 closed

[2021-11-30 00:29] #3775 closed

[2021-11-30 00:30] kan-bayashi commented on #3716
@r9y9 Could you give your comment?

[2021-11-30 02:17] nosuke505 commented on #3823
お忙しい中、丁寧なご回答ありがとうございます！

[2021-11-30 02:17] #3823 closed

[2021-11-30 03:39] sciai-ai commented on #3702
I have prepared the batch and config dictionaries, but I am getting the error below. It seems that the durations need to be calculated before hand? My batch is just having the text in it.

`/opt/conda/lib/python3.7/site-packages/espnet2/tts/tacotron2.py in forward(self, text, text_lengths, speech, speech_lengths, spembs)
    281
    282         """
--> 283         text = text[:, : text_lengths.max

[2021-11-30 06:14] Fhrozen commented on #3702
@sciai-ai @ican24 I wrote a gist for this issue: https://gist.github.com/Fhrozen/60b38bd3ee23492d28b602a0c9f92217
However, the it still required more tuning.
The issue is that some internal parts of the code employs python dicts, list that become constant and cannot be traced by ONNX.
I will try to check the code on weekend (or next week).

[2021-11-30 07:20] sciai-ai opened #3825 "Reduction in tacotron2 audio quality after the new update of espnet"
@kan-bayashi I have recently upgraded to the latest release of espnet, I have noticed that the quality of LJSpeech taco2 + PWG (MBmelgan) is reduced after upgrading and it sounds more clean with the  0.10.0 release . I think this maybe due to a pytorch version issue. Can you check.

[2021-11-30 07:22] kan-bayashi commented on #3825
Could you attach the samples?

[2021-11-30 08:04] sciai-ai commented on #3825
[Archive 3.zip](https://github.com/espnet/espnet/files/7623978/Archive.3.zip)

[2021-11-30 08:11] kan-bayashi commented on #3825
Could you provide more detailed information?
E.g., pytorch version / espnet version / pwg version for both samples

[2021-11-30 08:23] sciai-ai commented on #3825
PWG: 0.5.1

espnet version is filename, 0.10.0 vs 0.10.4

pytorch 1.8

[2021-11-30 09:09] sciai-ai commented on #3702
Thanks @Fhrozen I tried your code and got another error

RuntimeError: Exporting the operator _thnn_fused_lstm_cell to ONNX opset version 13 is not supported. Please feel free to request support or submit a pull request on PyTorch GitHub.

[2021-11-30 10:10] Fhrozen commented on #3702
@sciai-ai I think that it will be better to discuss inside the gist.
But for the moment change the version of the opset:
https://gist.github.com/Fhrozen/60b38bd3ee23492d28b602a0c9f92217#file-convert_tts2onnx-py-L118
Try: `opset_version=12,` or less

[2021-11-30 10:37] sciai-ai commented on #3825
@kan-bayashi The audio quality suggests that maybe it is griffin-lim vocoder without using the pwg or mlmelgan?

with torch.no_grad():
    start = time.time()
    wav = text2speech(x)["wav"]

[2021-11-30 10:56] kan-bayashi commented on #3825
It seems that the files are generated from the GL.
So, what is your question? Do you want to compare the GL vocoder quality?

[2021-11-30 10:59] sciai-ai commented on #3825
I relaized i needed to change the code for the latest relase of espnet to call text2speech. frompretrained model. I supplied vocoder tag but got this error

---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
/tmp/ipykernel_23477/2657595050.py in <module>
     59     # Only for FastSpeech & FastSpee

[2021-11-30 11:02] kan-bayashi commented on #3825
If you want to use the vocoder model file in local, please use `vocoder_file` instead of `vocodoer_tag`.
Please check https://github.com/espnet/espnet/blob/master/egs2/TEMPLATE/tts1/README.md#how-to-use-trained-model-in-python

[2021-11-30 11:16] sciai-ai commented on #3825
Seems the problem with audio quality exists. i used the vocoder file and this is the output

[download (3).wav.zip](https://github.com/espnet/espnet/files/7625257/download.3.wav.zip)

[2021-11-30 13:35] kan-bayashi commented on #3825
Could you provide two samples which are generated by the different versions?
Actually, your provided three audio seems too different, so I'm wondering you made something wrong.
<img width="918" alt="スクリーンショット 2021-11-30 22 32 34" src="https://user-images.githubusercontent.com/22779813/144056910-2acb42b5-9ac6-43ce-a454-b45acf15dc85.png">

[2021-11-30 13:52] sciai-ai commented on #3825
The text is the same "Hello world" and you can listen it in the wav too. The 3 files are defined below:

0.10.0 is espnet 0.10.0 where i used vocoder file and it works fine
0.10.4  is espnet 0.10.4 where i forgot to add vocoder_file so its griffin lim vocoder
download(3) is espnet 0.10.4 where i specify vocoder file and it doesnot sound good. I tried both pwg and mmbmelgan and both don not work we

[2021-11-30 14:31] sciai-ai commented on #3825
I found the problem is stats.h5, I do not need it for version 0.10.0 but why do I need it for 0.10.4?

[2021-11-30 17:41] skol101 commented on #3536
So help me here: if I have N number of my speakers, I cannot just fine tune pretraned VITS VCTK model, instead I have to train the whole joint dataset  from scratch.
And do it every time I have new speakers ?

[2021-11-30 23:40] u-hubar commented on #3802
Are there possibilities to train vocoders on my own or any other solution?

[2021-12-01 02:53] D-Keqi opened #3829 "Issues with speech translation on COVOST2"
Hi! @hirofumi0810 I am running the example on COVOST2, I want to translate English speech into Chinese text. During the stage 2: Dictionary and Json Data Preparation, it makes a joint source and target dictionary based on BPE. But for Chinese or Japanese, we always employ character units, is it proper to make a joint dictionary based on English and Chinese?

[2021-12-01 05:57] kan-bayashi commented on #3825
Sorry for the confusion.
From v.0.10.2, we integrated the vocoder part in Text2Speech.
If you use the vocoder, basically it assumes the existence of
- config.yaml
- stats.h5
in the same directory of the model file.

The reason why we use stats.h5 is to use the vocoder which trained by the different dataset from the text2mel models.
The processing flow is as follows:
1. text -> text2mel -> normaliz

[2021-12-01 06:04] kan-bayashi commented on #3802
Since we have no good 16khz pretrained vocoder, it is better to train by yourself.
https://github.com/kan-bayashi/ParallelWaveGAN/tree/master/egs#how-to-make-the-recipe-for-your-own-dateset

[2021-12-01 15:19] r9y9 commented on #3716
I am super sorry for being unresponsive. I will look into the issue carefully in a couple of days and keep you updated.

[2021-12-01 17:53] kehanlu commented on #777
Hi,
does it mean that if we increase the number of gradient accumulation, the training time will be longer since one iteration means one `optimizer.step()` but not one `loss.backward()`?  Then each data point will be seen `gradient_acc*epoch` times.

I saw other implementation(e.g. speechbrain) that one iteration means one `loss.backward()` and after `gradient_acc` times of backpropagation it perf

[2021-12-01 18:39] skol101 commented on #3705
@lheuveline how did you manage to generate Lab files? I'm scratching my head here. I managed to install this script https://github.com/r9y9/deepvoice3_pytorch/tree/master/vctk_preprocess .
But generates one '*.lab' file.

[2021-12-01 22:09] simpleoier commented on #3766
I tried not to uninstall NLTK from my environment and it works. I'm not sure.
s3prl frontend does not even import NLTK. If it comes from s3prl frontend, it is strange that stage7 (LM training) also output the error message.

[2021-12-02 06:37] csukuangfj opened #3834 "Missing learning rate scheduler in RNN LM training in the librispeech recipe"
There is no learning rate scheduler from the following LM config:
https://github.com/espnet/espnet/blob/9827dfe37f69e8e55f902dc4e340de5108596311/egs/librispeech/asr1/conf/tuning/lm_large.yaml#L1-L9

Also, the default value for the learning rate scheduler is `None`:
https://github.com/espnet/espnet/blob/9827dfe37f69e8e55f902dc4e340de5108596311/espnet/bin/lm_train.py#L158-L166

---

However, there i

[2021-12-02 09:38] lheuveline commented on #3705
@skol101 I tried to use deepvoice3_pytorch preprocessing scripts, but I finally directly used https://github.com/lowerquality/gentle, which is used by deepvoice3_pytorch to generate lab files, if I remember correctly. It's quite slow, but you can easily run Gentle in docker (https://hub.docker.com/r/lowerquality/gentle/) and get the process run in the background.

[2021-12-02 09:44] Pydataman commented on #3818
personalized speech generation is now in high demand for many applications

[2021-12-02 11:33] tarunsaib1997 opened #3835 "Tried replicating AIShell recipe with a custom dataset and failed due to an error"
# asr_train.py --config conf/train_conformer.yaml --preprocess-conf --ngpu 1 --backend pytorch --outdir exp/train_IISC_pytorch_train_conformer/results --tensorboard-dir tensorboard/train_IISC_pytorch_train_conformer --debugmode 1 --dict data/lang_1char/train_IISC_units.txt --debugdir exp/train_IISC_pytorch_train_conformer --minibatches 0 --verbose 0 --resume --train-json dump/train_IISC/deltafalse

[2021-12-02 12:24] sw005320 commented on #3835
As the error message says, there would be an issue with the input data.
Can you check whether your audio data have enough length or feature extraction configuration is correctly set?

[2021-12-02 12:28] tarunsaib1997 commented on #3835
I checked the audio files and the feature extraction configuration.  There was a similar issue with audio files length https://github.com/espnet/espnet/issues/2746. You have rectified in espnet2 folder but not in espnet. Could you please help this out?

[2021-12-02 12:34] sw005320 commented on #3835
As #2746, this is due to too short sentences, which would not produce meaningful recognition results during inference or would be just harmful during training.
You seem to encounter this issue during training, but if you follow our recipe, these files should be removed https://github.com/espnet/espnet/blob/master/egs2/TEMPLATE/asr1/asr.sh#L570 unless you set the wrong feature configurations.

[2021-12-02 12:36] sw005320 commented on #3834
@ShigekiKarita, can you answer it?

[2021-12-02 20:39] asadolahzade opened #3836 "Problem with installing ESPnet"
**Describe the issue**
Hi, I tried to install ESPnet2 on my system. But I get the following error:

What should I do to fix it? Should I necessarily install Python 3.8 according to the error I get ```RuntimeError: Python version >= 3.8 required. ```? However, I've seen in Github that some use ESPnet by python3.6 without any problem.

Thanks a lot for any help or suggestion.

**`check_install.py` s

[2021-12-02 22:13] kamo-naoyuki commented on #3836
I found Python3.7 was dropped from numpy supporting recently.

https://github.com/numpy/numpy/releases

For a workaround, please install numpy=1.21.4 before `make`.

@sw005320 @kan-bayashi PyTorch<=1.3.1 doesn't provide binary build for Python>=3.8, so we need to select one of the followings:

- Fix numpy version to 1.21.4 in setup.py and keep Python3.7 supporting
- Drop pytorch=1.3.1 from our sup

[2021-12-02 22:19] kamo-naoyuki commented on #3836
Or, only when using Python3.7, install numpy=1.21.4 in the Makefile.

[2021-12-02 22:59] sw005320 commented on #3836
Year, it's good to keep Python3.7.

sounds good to me.

[2021-12-02 23:44] kan-bayashi commented on #3836
Maybe colab has numpy as the default library, we do not need to fix.

[2021-12-02 23:57] asadolahzade commented on #3836
Thanks a lot for your help. But I use python 3.6.9 I think the latest supported numpy for that is "1.19.5". I run ```python3 -m pip install numpy==1.19.5``` and after that, I run ```make TH_VERSION=1.10.0 CUDA_VERSION=11.3```. Again I get the same error.
Thanks.

[2021-12-03 01:24] lin-nerd commented on #3803
@D-Keqi
Sorry to ask again.
I re-built an ESPnet and used AISHELL corpus and didn't encounter this issue, but I also used my own Mandarin corpus to run train_asr_streaming_transformer.yaml and didn't encounter this problem, but I tried to use train_asr_streaming_conformer.yaml and still encountered the same issue.

[2021-12-03 03:40] kamo-naoyuki commented on #3836
@asadolahzade  Oh, sorry, I didn't notice you are using Python3.6. Python3.6 is not supported by espnet. Please use python>=3.7.

[2021-12-03 07:50] tarunsaib1997 commented on #3835
Thanks, it's worked.

[2021-12-03 07:50] #3835 closed

[2021-12-03 08:24] kamo-naoyuki commented on #3836
I tested this, but there is no error because pip automatically check the requirement of package for Python version and installs the proper version.

Maybe we don't need to do nothing for this issue. I don't know how to reproduce this error.

[2021-12-03 08:47] kamo-naoyuki commented on #3836
@asadolahzade Could you show your setuptools version?

I don't know the detail of pip, but your log includes `    File "/tmp/easy_install-93mnczc4/numpy-1.22.0rc1/setup.py", line 34, in <module>`, and maybe your setuptools doesn't support wheel, so it selects the latest numpy ignoring Python requirement.

[2021-12-03 10:33] csukuangfj opened #3837 "Incorrect implementation of greedy search in transducer decoding"
See the code below:
https://github.com/espnet/espnet/blob/9827dfe37f69e8e55f902dc4e340de5108596311/espnet/nets/beam_search_transducer.py#L229-L243

when `pred` is not `self.blank_id`, it should not update the time index.
We go to the next time step only if `pred` is equal to `self.blank_id`.

The current implementation always goes to the next time step, no matter what it decoded.

[2021-12-03 11:52] skol101 commented on #3536
@gafsd , please, help me understand here: you are tuning the trained model vctk_tts_train_multi_spk_vits_raw_phn_tacotron_g2p_en_no_space_train.total_count.ave by training on your custom multi-speaker VCTK-like dataset?

[2021-12-03 12:09] b-flo commented on #3837
Hi,

You're right! It's intended in our case, greedy search was limited to only one prediction by timestep.
However, I didn't use greedy search in a while and I don't have a strong opinion on the current implementation, we can change it to the normal behaviour if asked.

[2021-12-03 12:31] asadolahzade commented on #3836
Hi,
By running ```python3 -m easy_install --version```, I get ```setuptools 39.0.1 from /usr/lib/python3/dist-packages (Python 3.6)```.
Thanks.

[2021-12-03 15:36] ShigekiKarita commented on #3834
This is simply because of differences in reference implementations. IIRC, Transformer LM and LR scheduler were based on https://github.com/NVIDIA/Megatron-LM#gpt-pretraining. On the other hand, the LSTM LM config was based on some configs in https://github.com/rwth-i6/returnn

As it has been outdated, adding LR schedulers sounds good to me :+1:

[2021-12-04 06:35] tarunsaib1997 opened #3840 "Getting only one letter in decoding. What could be the reason?"
2021-12-04 11:28:57,027 (asr:1107) INFO: (1/83) decoding f_39_1
2021-12-04 11:29:00,425 (asr_utils:890) INFO: groundtruth: अर्जुन
2021-12-04 11:29:00,425 (asr_utils:891) INFO: prediction : ह
2021-12-04 11:29:00,425 (asr:1107) INFO: (2/83) decoding f_39_10
2021-12-04 11:29:07,351 (asr_utils:890) INFO: groundtruth: कोई ऐसा क्यों करना चाहता है
2021-12-04 11:29:07,351 (asr_utils:891) INFO: prediction

[2021-12-04 14:26] mrazizi opened #3841 "Can I delete audio files in "download" directory after steps/make_fbank_pitch.sh ?"
I'm using Commonvoice recipe in ESPNet V1. Inside step 1 (Feature Extraction), after running ``steps/make_fbank_pitch.sh``, my disk's free space becomes too low. Can I delete audio files in ``download`` directory  after the following piece of code in ``run.sh``?

https://github.com/espnet/espnet/blob/23bee1a584e1138b0a07ff8ff03f7c3eaec79904/egs/commonvoice/asr1/run.sh#L107-L121

[2021-12-04 15:30] kamo-naoyuki commented on #3841
Yes, it's okay.

[2021-12-04 16:58] asadolahzade opened #3842 "The required version for pytorch"
Hi there,
I installed ESPnet2 on my system. My goal task is ASR.  By ```./installers/install_warp-ctc.sh```, I get this:

**Error logs**
```[WARNING] warp-ctc is not prepared for pytorch>=1.7.0 now```

Do I have to install pytorch<1.7.0?
I ask this because I've noticed that some guys do ASR task while using pytorch>=1.7.0.

Thanks a lot for any clarification.

**`check_install.py` status **
[code]

[2021-12-04 17:24] #3841 closed

[2021-12-04 18:24] sw005320 commented on #3840
Can you also share the inference config?

[2021-12-04 19:35] tarunsaib1997 commented on #3840
batchsize: 0
beam-size: 20
penalty: 0.0
maxlenratio: 0.0
minlenratio: 0.0
ctc-weight: 0.3
lm-weight: 1.0

[2021-12-04 21:05] sw005320 commented on #3840
It seems that the model is not trained as it produces the same token.
I recommend you to review training configurations and/or data preparation.

[2021-12-05 04:22] tarunsaib1997 commented on #3840
The train logs are perfect and the data preparation is also fine. If I change the decode conf, to the following, it's working.

# decoding parameters
batch: 0
beam-size: 10
search-type: default
score-norm: True

Can you help me why is it so?

[2021-12-05 14:46] 123srikanth opened #3843 "where can I found the generated audio?"
Hi I have completed my training of both the espnet and vocoder model and I'm trying to generate the audios using the script https://colab.research.google.com/github/espnet/notebook/blob/master/tts_realtime_demo.ipynb#scrollTo=nQDFNuQ2dK-M
but ultimately I don't see any wave files generated in local while the output is as follows when I run the setup.py script:

sucessfully finished download.
Suces

[2021-12-05 16:11] r9y9 commented on #3716
I confirmed that @sucveria's proposed change is right. In my original implementation, the problem only happens if the number of moras is 1 in an accent phrase  (e.g., こ、こんにちは), but it shouldn't do otherwise (e.g., ここ、こんにちは). The problematic cases are rare and I believe it doesn't cause significant impacts for most users. I fixed this in https://github.com/r9y9/ttslearn/pull/29.

[2021-12-05 18:17] lumaku commented on #3842
It depends on how you plan to use espnet.
My setup for ASR is with pytorch 1.10.0 and only the required dependencies for regular espnet 2 ASR.
In most cases, warp-ctc is not needed, as you could use as well either the built-in CTC or other CTC-variants like GTN.
Espnet 2 with the latest pytorch version is already a good setup.
If I remember correctly, the reasons to use warp-CTC are due to speed a

[2021-12-05 19:13] asadolahzade commented on #3842
Thank you very much.

[2021-12-05 23:57] kan-bayashi commented on #3716
Thank you for your confirmation, Ryuichi.
I will follow your modification.

[2021-12-06 00:15] kan-bayashi commented on #3843
Please save by yourself.

[code]

[2021-12-06 00:15] #3843 closed

[2021-12-06 00:16] kan-bayashi commented on #3825
@sciai-ai Did you solve this issue? If you still have a problem, please re-open.

[2021-12-06 00:16] #3825 closed

[2021-12-06 00:17] #3802 closed

[2021-12-06 00:17] #3821 closed

[2021-12-06 03:20] 123srikanth opened #3845 "where to find the generate audios"
I have completed training of espnet and vocoder for hindi language and trying to generate audios using E2E-TTS script (https://colab.research.google.com/github/espnet/notebook/blob/master/tts_realtime_demo.ipynb#scrollTo=gtSZpF-mCjTr) but I don't find any generated audios in my working directory and the output of the script is as follows

sucessfully finished download.
Sucessfully finished downloa

[2021-12-06 04:25] kan-bayashi commented on #3845
Duplicated.
https://github.com/espnet/espnet/issues/3843

[2021-12-06 04:25] #3845 closed

[2021-12-06 09:33] 123srikanth opened #3846 "vague output"
Hi @kan-bayashi , I have trained espnet1 and parallel wave gan model with hindi dataset for hindi language but when I checked with output it was totally different and vague. /home/srikanth/Desktop/tts/out.wav

[2021-12-06 09:39] 123srikanth commented on #3846
Can you please tell me what could have went wrong with my taining.

[2021-12-06 09:40] kan-bayashi commented on #3846
At first, please check the following points:
https://github.com/espnet/espnet/tree/master/egs2/TEMPLATE/tts1#why-the-model-cannot-be-trained-well-with-my-own-dataset
Please report your status about each item.

[2021-12-06 10:45] 123srikanth commented on #3846
How can I know which model has G2P available?

[2021-12-06 11:02] 123srikanth commented on #3846
reduction factor how much I should keep for 5 hours of dataset

[2021-12-06 11:53] 123srikanth commented on #3846
and in ljspeech there is G2P available but what changes do I need to generate phonemes because currently I'm using ljspeech but I could only see tokens being created and nowhere I found phonemes

[2021-12-06 12:05] tarun73 commented on #3612
Hi @b-flo , thanks for your contributions. Just curious if you can share the timeline for this feature. or any other relevant update.

[2021-12-06 13:35] 123srikanth commented on #3846
in run.sh I can see trans_type = "char" if I change it to "phn"  will it solve my issue and could you please elaborate what is the difference betwenne "char" and "phn" trans_type

[2021-12-07 02:40] sravani40 opened #3847 "changes required in ljspeech script for using it to other languages tts"
i have 25 hours of telugu language voice recordings and transcriptions.  i want to train tacotron and fastspeech on this dataset. what are changes that are required when compared to english language training.  what changes should we do in run.sh file?

[2021-12-07 04:17] 123srikanth commented on #3846
I have changed trans_type to "phn" and this the output of my lang1_phn folder is this correct?
[phn_train_no_dev_units (1).txt](https://github.com/espnet/espnet/files/7665436/phn_train_no_dev_units.1.txt)

[2021-12-07 04:17] 123srikanth commented on #3846
@kan-bayashi can you please clear my doubts.

[2021-12-07 04:38] kan-bayashi commented on #3847
At first, I recommend creating the recipe for your corpus.
https://github.com/espnet/espnet/tree/master/egs2/TEMPLATE#run-espnet-with-your-own-corpus
https://github.com/espnet/espnet/blob/master/egs2/TEMPLATE/tts1/README.md

I did not know about telugu language.
If you want to use phn based TTS, you need to implement G2P by yourself.
https://github.com/espnet/espnet/blob/master/egs2/TEMPLATE/tts1/

[2021-12-07 04:41] kan-bayashi commented on #3846
Around 5 is good choice for the debugging.

First of all, ljspeech recipe is prepared for English.
So the script assumes that the input text is English.
If you use different language, the results will be incorrect.

[2021-12-07 04:42] 123srikanth commented on #3846
can you please suggest which model I can use for hindi language

[2021-12-07 04:58] kan-bayashi commented on #3846
At first, in general the model structure is the same for all languages.
The different point is only the type of input token.
So what you need to do is convert your `text` file into phoneme.

Now you follow the ESPnet1 ljspeech recipe, right?
Since ESPnet1 does not support hindi G2P, it is necessary to prepare such a function.

https://github.com/espnet/espnet/blob/23bee1a584e1138b0a07ff8ff03f7c3ea

[2021-12-07 05:32] sravani40 commented on #3847
if we use char instead of phn do we still need to use G2P??

[2021-12-07 05:35] kan-bayashi commented on #3847
If you use token_type=char, you do not need g2p.

[2021-12-07 05:48] sravani40 commented on #3847
i am trying to use ljspeech dataset and thinking to use char instead of phone.. but ljspeech is for english..what other changes i might need to do for using  with other langugaes???

[2021-12-07 06:03] kan-bayashi commented on #3847
Again, I recommend creating a recipe for your corpus as I wrote above.
Creating the recipe is good for reproducible experiments.
Don't be afraid. It can be done by copy & paste.
Copy template / create data.sh by following ljspeech recipe / create run.sh
Language dependent part is only g2p and cleaner options.

[2021-12-07 06:11] sravani40 commented on #3847
okay sir, thank you.

[2021-12-07 06:52] 123srikanth commented on #3846
sir we have tool to generate english phonemes for hindi text can we use english phonemes for hindi language?

[2021-12-07 07:44] 123srikanth commented on #3846
COMPOUND_WORD----- K AA M P AW N D W ER D this is the phoneme generated using tool
LOKSBHAA------- L AA1 K S B AA2 HH AH0 this are being generated in the model

the phonemes generated in the model looks very different than generated using tool and the phonemes from model conatins numbers i.e, "AA2" @kan-bayashi can you please explain why the phonemes generated from model are like that with numbers

[2021-12-07 13:53] #3716 closed, assigned to nobody

[2021-12-08 03:40] 91205074 opened #3850 "Integrated SE + ASR"
Hi,

I am wondering if ESPNET2 includes any integrated speech enhancement and ASR, how about integrated speech separation and ASR?
Thank you so much.

[2021-12-08 09:21] kan-bayashi commented on #3847
That is kind of the design of ESPnet. When we do some experiments, first, we create the recipe for each corpus, not language. Most of the parts is the same for each recipe, but only `local/data.sh` is corpus dependent. If your corpus format is the same as the ljspeech, you may reuse ljspeech data.sh script. If you master this recipe creation, you can do all tasks (asr, tts, se, ...) with the same

[2021-12-08 10:48] chullin opened #3851 "Question about torch mismatch, when using the "egs/csmsc" TTS model for fine-tuning"
Hi everyone,
I'm new in speech recognition and running now the script in dataset egs/csmsc. In the stage4: Text-to-speech model fine-tuning.
I got an error(s) in loading state_dict for Transformer. It's written as the picture shows. I don't know how to fix it. I really appreciate if someone could help me with this.

![image](https://user-images.githubusercontent.com/26464609/145187020-6155b7f4-054

[2021-12-08 12:00] funboarder13920 opened #3853 "Error in ASR streaming training validation step"
Hello,

ASR streaming training raises an issue during the validation step.

forward_infer methods from transformer/conformer contextual block encoder with default param is_final=True always return (_, None, _) which triggers an error in espnet_model as this second element aka encoder_out_lens is not expected to be None.

forward_infer : https://github.com/espnet/espnet/blob/36653907ad1e00363d2bc12

[2021-12-08 12:54] Gavin90s opened #3854 "BatchBeamSearch error"
I try to use batchbeamsearch to calculate mwer_loss in the training process but get some errors!  @sw005320

append batchbeamsearch in espnet_model __init__ function
[code]
then call it in forward function
[code]

error occurred
File "/disk4/works/tops/anaconda3/envs/espnet_env/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/disk4/works/tops/anaconda3/env

[2021-12-08 16:22] SaadBazaz commented on #3018
Is this available in the latest espnet?

[2021-12-08 16:43] Emrys365 commented on #3850
Hi @91205074 , we are still preparing the PR (https://github.com/espnet/espnet/pull/3226) for joint training of SE and ASR. Before we finish, you could try the forked branch (https://github.com/LiChenda/espnet/tree/develop_rebased/egs2/TEMPLATE/enh_asr1) which has been verified for some recipes.

[2021-12-08 17:40] 91205074 commented on #3850
Thank you so much, it's so helpful.

[2021-12-08 18:38] lumaku commented on #3018
@SaadBazaz The code still works, nevertheless, I updated the code, because a few default settings have changed since then, e.g., the parameter `kaldi_style_text`.
In your case, it seems that you also have other code around this that interferes with the import of `espnet_model_zoo`.
Use a fresh python notebook, take the updated code form above, and try again. Good luck.

[2021-12-08 20:06] sw005320 commented on #3854
I see thanks.
This is one of our initial ideas for the batchbeamsearch project. Glad to hear that you're working on it.

Can you clarify that you're using multiple utterances?
Can you test it with a single utterance?
batchbeamsearch through the scorer does not support the multiple utterances (@ShigekiKarita, correct me if I'm wrong).

[2021-12-08 20:08] sw005320 commented on #3853
@D-Keqi, can you answer it for me?

[2021-12-09 02:00] D-Keqi commented on #3853
Sure!

[2021-12-09 02:02] D-Keqi commented on #3853
Hi, @funboarder13920 ! The forward_infer is not used during training and validation steps, it is used for inference during decoding.

[2021-12-09 02:09] Gavin90s commented on #3854
Thank you for your prompt reply.

[2021-12-09 07:17] SaadBazaz commented on #3018
@lumaku Thanks for the quick response. So in this fresh environment, should I install espnet via ```pip install espnet```, and then espnet-model-zoo through ```pip install espnet-model-zoo```? Sorry for the noob question, I'm new to this. If you redirect me to another source that's ok too.

[2021-12-09 07:53] SaadBazaz commented on #3018
@lumaku I tried with a fresh install with Python 3.9 and PyTorch 1.1.0, and am on **macOS** now (I was on Linux before).
I put your code in a .py file and executed from the Terminal.

I installed in the following order in a new conda environment:
[code]

Then I ran using ```sudo python3 <the_file>.py```.

It gives me the same error [as above](https://github.com/espnet/espnet/issues/3018#issuecomme

[2021-12-09 10:51] funboarder13920 commented on #3853
Hi,

Are you sure it is not called during validation steps ?

At one point self.encoder calls forward_infer.
https://github.com/espnet/espnet/blob/799e24d0fcbb97ee8bafa9f4e5a91da25881117b/espnet2/asr/espnet_model.py#L232

The stack trace starts at validate_one_epoch:
https://github.com/espnet/espnet/blob/799e24d0fcbb97ee8bafa9f4e5a91da25881117b/espnet2/train/trainer.py#L293

If it is not during va

[2021-12-09 13:30] lumaku commented on #3018
As already written in the error message above, your issue is a circular import: You import `espnet_model_zoo` and then at the same time import another file that also imports `espnet_model_zoo`.

[2021-12-09 13:46] SaadBazaz commented on #3018
Hmm. I am using only the code you've written above (legit, nothing else). Is it possible that espnet-model-zoo is now integrated in espnet?

[2021-12-09 14:36] kamo-naoyuki commented on #3018
There is a circular import as lumaku said.

[code]

This is not an issue for espnet side obviously, but this problem comes from `extract/transcription/alignment/espnet.py`.  I guess you are executing at `extract/transcription/alignment/`, or setting python path to there.

[2021-12-09 14:54] D-Keqi commented on #3853
Please avoid the valid_batch_size to be 1, if this is hard for you. I recommend you to directly set the condition to True for training the model. https://github.com/espnet/espnet/blob/master/espnet2/asr/encoder/contextual_block_transformer_encoder.py#L197

[2021-12-09 15:05] SaadBazaz commented on #3018
Oh.
My.
God.

[2021-12-09 15:05] SaadBazaz commented on #3018
I am ashamed.

[2021-12-09 15:09] SaadBazaz commented on #3018
That was a super noob mistake. Sorry for taking your time.

[2021-12-09 15:42] funboarder13920 commented on #3853
valid_batch_size is set to the default (None = batch_size != 1 in my case), I didn't change the config. Whatever the valid_batch_size value, it is not a guarantee that a batch won't be of size 1.
https://github.com/espnet/espnet/blob/799e24d0fcbb97ee8bafa9f4e5a91da25881117b/egs2/aishell/asr1/conf/train_asr_streaming_transformer.yaml#L40

For example, if my batch size is 10 and I have 21 examples i

[2021-12-09 15:50] funboarder13920 commented on #3853
Here are a few solutions I can thing of:
- enforce valid batch size to be different from 1, but it might not be possible to do that without changing the behavior of all asr tasks
- make forward_infer return a valid second output
- change the condition to switch from forward_train to forward_infer to a more reliable one

[2021-12-10 03:21] D-Keqi commented on #3853
Are you running the example of AISHELL? You can set the "drop_last" to True to avoid the situation you mentioned. If “ you have this error with the transformer encoder but not with the conformer transformer encoder” it’s weird. Please check what batch_size is when an error occurs?

[2021-12-10 07:28] 123srikanth opened #3857 "ModuleNotFoundError: No module named 'phonemizer'"
Hi I'm facing the following error while running the espnet/egs2/ljspeech/tts1 model for hindi language with g2p = espeak_ng_hindi and language as hi. I have installed phonemizer but still it is giving no module phonemizer.
<code>$bash run.sh --stage 4 --stop-stage 4
</code>
<code>
2021-12-10T07:20:57 (tts.sh:205:main) ./tts.sh --lang hi --feats_type raw --fs 22050 --n_fft 1024 --n_shift 256 --toke

[2021-12-10 10:10] jerryuhoo commented on #3818
I would love to see it. ADASpeeh 2 seems very interesting to me.

[2021-12-10 10:25] funboarder13920 commented on #3853
Thank you.
I have a different batch_size for the conformer.

I opened this issue to warn you about this bug because it will affect people trying to run asr_streaming for the first time.

[2021-12-10 11:49] 123srikanth commented on #3857
@kan-bayashi can please guide in this

[2021-12-10 12:31] #3857 closed

[2021-12-11 20:03] 123srikanth opened #3858 "OSError: /tmp/tmpy4lr98to/libespeak-ng.so.1.1.49: cannot change memory protections"
I'm running espnet/egs2/ljspeech/tts1 model in the 4th stage of training I'm getting the following error can someone please help in figuring this out

`Traceback (most recent call last):
  File "/usr/lib/python3.9/runpy.py", line 197, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "/usr/lib/python3.9/runpy.py", line 87, in _run_code
    exec(code, run_globals)
  File

[2021-12-12 07:19] hagakure333 opened #3859 "Every single value of speech_lengths is not different in espnet2 asr"
Hi I often use espnet2 asr
I'd like each of the speech_lengths tensors to have a different value, like text_lengths.
speech_lengths is a series of identical values
In some cases, it is not, and I don't know the difference.

Below are the speech_lengths and text_lengths when running the an4 recipe by default.

speech_shape torch.Size([20, 32000])
speech_lengths tensor([32000, 32000, 32000, 32000, 3

[2021-12-13 10:35] kan-bayashi commented on #3858
It seems on-the-fly processing with phonemizer is not stable.
Could you try to dump the phonemized text in data prep stage as follows (see command section)?
https://github.com/espnet/espnet/tree/master/egs2/ljspeech/tts1#ljspeech_tts_train_vits_raw_phn_tacotron_espeak_ng_english_us_vits_traintotal_countave

[2021-12-13 12:50] sw005320 commented on #3859
I don't fully understand your question, but this may happen before/after padding.

[2021-12-13 16:16] b-flo commented on #3612
My apologies for the delay.

I'm aiming mid january for streaming alongside some other works. You can look at my comment in this [PR](https://github.com/espnet/espnet/pull/2533#issuecomment-992631822) for further details on the current situation with Transducer.

[2021-12-14 00:56] kan-bayashi commented on #3851
Sorry for the late reply. I miss your post.
Maybe this is because reduction_factor is set to 2.
Then, at each time step, the model outputs 2 frames so the dimension is doubled.

[2021-12-15 00:39] hagakure333 commented on #3859
thank you for your reply

[2021-12-15 00:39] #3859 closed

[2021-12-15 00:52] csukuangfj opened #3863 "Incorrect usage of the `cache` in the method `score()` for transducer beam search"
See the code below
https://github.com/espnet/espnet/blob/ae635955ff79efde9c4df007bb8324fea386c169/espnet/nets/pytorch_backend/transducer/rnn_decoder.py#L180-L183

It concatenates all the integers in `yseq` and uses it as a key into the `cache`.

The issue is that it places no separators during the concatenation. The consequence is that different `yseq` may map to the same key. For instance, both `

[2021-12-15 05:30] 123srikanth commented on #3858
yeah I have tried it but my entire system is getting stuck totally with this output

srikanth@simpragma147:~/Desktop/workspace/TTS/espnet/egs2/ljspeech/tts1$ ./run.sh --stage 1 --stop-stage 1
apply_map.pl: undefined key LJ001-0001|एयरटेल in data/tr_no_dev_phn/utt_map

[2021-12-15 09:30] adsf0078 opened #3865 "How to change cuda version"
Dear

I use two espnets  for different tts developments.
One is the updated version for developing TTS for well-known benhmark dataset and the other one is older version for my customized TTS.

When I installed the updated version in my RTX A5000 GPU-based UBUNTU system, everything  works ok.
But, when I installed the older version in the same system, it has error saying 'no kernel image is avalia

[2021-12-15 10:04] kamo-naoyuki commented on #3865
Although ESPnet provides own installing system, there are nothing special things. Please follow PyTorch documentation:

https://pytorch.org/get-started/locally/

[code]

[code]

[2021-12-15 10:48] b-flo commented on #3863
Good catch, same bug for `batch_score`. It's surprising no one caught that before.

[2021-12-15 12:48] timolohrenz opened #3866 "Transformer on WSJ without CTC training yields bad results"
**Bug Description**
Hi,
    first some background: On this year's ASRU we introduced our novel relaxed attention method [(arXiv paper)](https://arxiv.org/abs/2107.01275). In the paper, we ran experiments with the fairseq espresso toolkit and already contributed our code there. Unfortunately, no joint CTC training is natively implemented there so I want to try out our method in espnet2 and upon suc

[2021-12-15 13:12] scufan1990 opened #3867 "Train RNN-T ASR model on 960h Librispeech?"
Hi,
There is a problem about training  a  conformer+RNN-T model.
How about the cer and wer with one GPU?
i'm train the model on one RTX TITAN GPU, training the conformer(encoder layers 16, encoder dim 144, decoder layer 1, decoder dim 320), after 50 epoch training the CER is about 27 and don't reduce anymore.

[2021-12-15 14:04] scufan1990 commented on #3867
i train the model on Librispeech 960h

[2021-12-15 14:17] sw005320 commented on #3866
Thanks for your report!
(I missed your talk due to the conflict of the other meetings... but my colleagues checked yours, and I'll watch your video later)

Can you check https://espnet.github.io/espnet/tutorial.html#ctc-attention-and-hybrid-ctc-attention and set `maxlenratio` and `minlenratio` by changing the inference config?
Many tools (e.g., espresso) actually have such parameters to adjust the

[2021-12-15 14:20] sw005320 commented on #3867
Can you paste the learning rate?
BTW, I can actually train the conformer+RNN-T model by only tuning the learning rate.

[2021-12-15 14:36] b-flo commented on #3867
Hi,

If I'm not mistaken, we only have results for RNN-T (trained with 1x RTX8000 45Gb). The best one being:

| dev-clean | dev-other | test-clean | test-other |
| - | - | - | - |
| 3.8 | 10.8 | 4.0 | 10.9 |

For Conformer-T, we trained with 2 or 4 GPUs (depending on the number of BPE units). Current results are, without LM:

| dev-clean | dev-other | test-clean | test-other |
| - | - | - | - |
|

[2021-12-15 14:37] sw005320 commented on #3867
I did not add it simply because I forgot it.
Sorry.
I'll do it in the next week...

[2021-12-15 18:09] AdolfVonKleist commented on #3814
Any further update here?  Is this maybe an ongoing experiment?

[2021-12-15 21:58] 123srikanth opened #3870 "can we use phonemes generated using phonemizer for espnet/egs/ljspeech/tts1 model"
Hi @kan-bayashi sir I have created data folder for espnet/egs/ljspeech/tts1 model for hindi language where I have created the text files inside data folder with the phonemes generated using the phonemizer for each corresponding line of text. This is how I have seen the data folder which is created for default data in the model with trans_type as phn. So in the same manner I have created for my own

[2021-12-16 01:29] adsf0078 commented on #3865
Hi,

Of course, I followed the routine of installing pytorch at first as

moris@sys11:/data1/moris/espnet_2/tools$conda create -n espnet_2 python=3.7
moris@sys11:/data1/moris/espnet_2/tools$conda activate espnet_2
(espnet_2)moris@sys11:/data1/moris/espnet_2/tools$ conda install pytorch torchvision torchaudio cudatoolkit=11.3 -c pytorch
Collecting package metadata (current_repodata.json): done
Solv

[2021-12-16 03:31] kamo-naoyuki commented on #3865
After setup is done, please install pytorch.

[2021-12-16 03:31] #3865 closed

[2021-12-16 04:57] adsf0078 commented on #3865
Hi,

Thank you for your quick reply.
I followed your recommendation as follows.
Unfortunately, after installing the pytorch, I found a new error at the run phase as shown in below.

(espnet_2) moris@sys11:/data1/moris/espnet_2/tools$conda install pytorch=1.10.0 torchvision torchaudio cudatoolkit=11.3 -c pytorch
...
...

(espnet_2) moris@sys11:/data1/moris/espnet_2/tools$ . ./activate_python.sh; py

[2021-12-16 04:57] adsf0078 commented on #3865
Hi,

Thank you for your quick reply.
I followed your recommendation as follows.
Unfortunately, after installing the pytorch, I found a new error at the run phase as shown in below.

(espnet_2) moris@sys11:/data1/moris/espnet_2/tools$conda install pytorch=1.10.0 torchvision torchaudio cudatoolkit=11.3 -c pytorch
...
...

(espnet_2) moris@sys11:/data1/moris/espnet_2/tools$ . ./activate_python.sh; py

[2021-12-16 05:41] kamo-naoyuki commented on #3865
I see. The bug is fixed in the current version.

To use old espnet, you need to fix it by yourself. Please change `Iterable ` to `Iterator `.

[2021-12-16 07:12] scufan1990 commented on #3867
I found the results for Librispeech to ESPnet , but i don't know  the result train on one GPU(RTX TITAN 24G)
And i'm confused the RNN-T model (training on one GPU)isn't get  close performance with the result.

Thank you!

I found the results for Librispeech to ESPnet , but i don't know  the result train on how many GPU . And i'm confused the RNN-T model (training on one GPU)isn't get  close perfor

[2021-12-16 08:57] chullin commented on #3851
Thank you very much, I will try the way you said 😀

[2021-12-16 08:58] adsf0078 commented on #3865
I solved this problem.
Thanks to your reply.

[2021-12-16 09:14] lumaku commented on #3866
I observed similar effects with attention-only decoding of RNN-based networks with `ctc_weight = 0`, also described in [this](https://link.springer.com/chapter/10.1007/978-3-030-26061-3_27) paper. You may also observe word loops. Setting `maxlenratio` and `minlenratio` to reasonable values should fix this.

[2021-12-16 09:36] #3863 closed

[2021-12-16 17:01] saiakarsh193 opened #3872 "Training ESPNet TTS for new languages"
How do we train an existing TTS model for new languages? Can you please point out some resources to do this? The language I intend to train for is a very different writing system from that of English. How do we make changes to account for this?

[2021-12-17 01:18] sw005320 commented on #3814
@simpleoier, can you explain our current examples?

[2021-12-17 01:32] pkyoung commented on #3803
the same error here with espnet.v.0.10.4

[2021-12-17 01:54] kamo-naoyuki opened #3873 "Too many configuration files"
There are too many configuration files to run espnet-experiment (Though this is my fault partially). This is troublesome especially for beginners.

- path.sh (tools/extra_path.sh, local/path.sh)
- db.sh
- cmd.sh
- conf/slurm.conf, conf/queue.conf
- conf/train.yaml, conf/decode.yaml, etc

At least, `db.sh` is a bad idea, and now I think it should be written in `run.sh`. I might refactor them.

[2021-12-17 03:26] simpleoier commented on #3814
@AdolfVonKleist Sorry for my late reply. I missed this thread before.
Yes, we have some results as reference.
* As for the librispeech ssl1 recipe, we have 2 iterations of training: 1st iteration using the KMeans clustering on MFCC feature, and 2nd iteration using KMeans clustering on the 6th-layer hidden vectors of the 1st iteration.
  * 1st iteration
     * After training 150k steps, the `mack_a

[2021-12-17 06:00] ftshijt commented on #3873
I would vote for combining `path.sh` and reflect `db.sh`

[2021-12-17 18:47] 123srikanth opened #3874 "How to know if the TTS training is going good."
Hi there I'm training for espnet/egs/ljspeech/tts1 receipe for hindi tts model. My training stage is started and I just want to know that my training is going good without any flaws that will bring any unappropriate output at the end.  I'm raising this query because earlier also I have trained the model but at the end I didn't get expected output while it was totally vague. So can someone confirm

[2021-12-17 22:32] zzxiang opened #3875 "What's the difference between validation data and eval data?"
During training, the data is divided into three groups: training data, validation (also known as dev) data and eval data.

The training data is used to train the neural network.

The validation data is used to compute validation loss applying the trained network to let us prevent over-fitting.

But what about eval data?

[2021-12-18 03:41] kan-bayashi commented on #3870
If you want to use phn text, each phoneme should be separated with space.
In your case, it seems to each token is separated with double space, which should be single space.
[code]
And I'm not familiar with your language but splitting each token into each character is another option.
e.g.`LJ051-0001 hˈə ʰχˈeː ɖˈə lˈə` -> `LJ051-0001 h ˈ ə ʰ χ ˈ e ː ɖ ˈ ə l ˈ ə`

[2021-12-18 03:49] kan-bayashi commented on #3872
First, I recommend making recipe for your dataset.
https://github.com/espnet/espnet/tree/master/egs2/TEMPLATE/tts1#how-to-make-a-new-recipe-for-my-own-dataset
To make the recipe, any language specific processing is not needed.

Then, you can try to build your TTS model using your created recipe with `--token_type char` and `--cleaner none` options, which will build char-based TTS model.

If you wa

[2021-12-18 03:51] kan-bayashi commented on #3874
In the case of TTS, you should carefully check the attention weight plots, which will be found in `exp/your_model/att_ws` directory. If the attention is not diagonal, the model is not trained well.

[2021-12-18 04:18] kan-bayashi commented on #3875
The evaluation data (= test data) is a set used to provide an unbiased evaluation of the model.
The evaluation data must be unknown for the model during the training to calculate the performance without any cheating.

[2021-12-18 04:19] #3851 closed

[2021-12-18 04:19] #3846 closed

[2021-12-18 10:21] zzxiang commented on #3875
I thought the validation data is also unknown for the model. It is used only to compute some indicators such as loss values, but has no effect on the training of network. So doesn't the validation data provide the same evaluation of the model?

[2021-12-18 11:10] kan-bayashi commented on #3875
Validation data is not used for updating the parameters, but it is often used to decide the best parameters (e.g., early stopping).
In that case, the model is decided to maximize the performance of the validation data, and therefore, the evaluation result for the validation provide a kind of biased results.

[2021-12-18 11:23] zzxiang commented on #3875
I see. So a model with good performance on validation data does not necessarily mean it has good generalization ability (i.e. such as in TTS, can synthesize good speech for any text input).

Thanks for kindly explanation. Seems that it's a basic knowledge of machine learning.

I wonder where can I check the evaluation result? Seems that tensorboard only shows the train and validation results.

[2021-12-18 17:17] 123srikanth commented on #3874
these are the plots that are being generated in training. Some of them are very diagonal while some of them are not and sometimes for the same recording it varied and produced different plots like some are very diagonal and some are not why like these

[2021-12-18 19:28] 123srikanth opened #3879 "why is the tts training duration reduced to half with reduction factor"
I have 23 hours of data for training when I used reduction factor as 1 the training duration it showed was 8 days but when I changed the reduction factor to 2 the training duration reduced to 4 days why is like that. I just wanted to make it attention learning. and I think attention learning would increase the training duration but it happened vice versa.

[2021-12-19 01:37] kan-bayashi commented on #3879
I recommend reading the paper about reduction factor.
https://arxiv.org/pdf/1703.10135.pdf
If we increase the reduction factor, the number of output frames per time step is increased.
(e,g., R = 3, the model output 3 frames at each time step)
This means the decoder loop is decreased w.r.t. reduction factor and therefore, the required time is halved in the case of R=2.

I could not understand your

[2021-12-19 01:44] kan-bayashi commented on #3874
It seems the diagonal attention is learnt somehow.
But it seems the your audio includes unnecessary silence at the end of audio.
Again, please carefully check these points.
https://github.com/espnet/espnet/tree/master/egs2/TEMPLATE/tts1#why-the-model-cannot-be-trained-well-with-my-own-dataset
Careful trimming the silence makes the attention learning more stable.
Or you can reduce the learning rate

[2021-12-19 02:04] kan-bayashi commented on #3875
Right.
Most of the classification task models monitors the validation score to decide the best parameters and it leads the reasonable score for evaluation data in the most of cases.
However, in the case of TTS (generative models), the validation score monitoring is not the best way to decide. Even if the model show the overfitting tendency for the validation score, the models often generate better

[2021-12-19 06:52] D-Keqi commented on #3803
Thanks for your response! It seems that using valid_batch_size to distinguish between forward_infer and forward_train is not stable. I habe made a PR to fix this issue.

[2021-12-20 04:57] seastar105 opened #3882 "[QUESTION] dict and cmvn equivalent in synth_wav.sh usage with xvector+phoneme tacotron2 model and pwg vocoder"
I trained korean tacotron2 with xvector model(espnet2 recipe) and neural vocoder(parallelwavegan repo). Now, trying to generate wav files from arbitrary reference audio, by modifying synth_wav.sh

where can i find ${dict} file and ${cmvn} file when trained espnet2 tts recipe?

below is my training direcotry

![image](https://user-images.githubusercontent.com/30820469/146714244-2d5a9e3b-1a99-445e-9

[2021-12-20 07:12] jcn199729 opened #3883 "[QUESTION] espnet2 jtubespeech data cleaning"
Hi, is there a data cleaning process in the espnet2-jtubespeech to identify if the audio files is spoken in the correct language? Since the jtubespeech data is from Youtube, so the source is not official and standard and the language spoken in the video may not be Japanese, I couldn't find the script for the language identification. Appreciate if there's a step to identify that.

[2021-12-20 08:52] 123srikanth commented on #3874
where can I exactly change the learning rate in the receipe? when I searched for learninrg rate I have got a list of files with learning rate option

/espnet/egs/ljspeech/tts1$ grep -r -l learning_rate *
steps/libs/nnet3/xconfig/attention.py
steps/libs/nnet3/train/chain_objf/acoustic_model.py
steps/libs/nnet3/train/common.py
steps/libs/nnet3/train/frame_level_objf/common.py
steps/info/nnet3_disc_d

[2021-12-20 09:12] kan-bayashi commented on #3882
You do not need to use synth_wav.sh, which is for espnet1.
Please check the following part
https://github.com/espnet/espnet/tree/master/egs2/TEMPLATE/tts1#how-to-test-my-model-with-an-arbitrary-given-text
Or
https://colab.research.google.com/github/espnet/notebook/blob/master/espnet2_tts_realtime_demo.ipynb

[2021-12-20 09:13] kan-bayashi commented on #3874
It depends on the dataset but it should start from 1/2, 1/4, ....

[2021-12-20 09:48] 123srikanth commented on #3874
if I use 1/2 it will be more than 1e-3 then it get increased but you have asked to reduce it.

[2021-12-20 09:49] kan-bayashi commented on #3874
I means the default value * 1/2.

[2021-12-20 09:52] 123srikanth commented on #3874
okay thank you I'll try that.

[2021-12-20 09:55] kan-bayashi commented on #3874
@123srikanth Did you clean your data?
In my experiences, all I need to train good TTS models is cleaning.

[2021-12-20 10:07] 123srikanth commented on #3874
yes sir I have cleaned it but when I ran the model it is not proceeding further after first stage and this is what I found in logs

$ cat make_fbank_phn_train.32.log
# compute-fbank-feats.py --fs 22050 --fmax 7600 --fmin 80 --n_fft 1024 --n_shift 256 --win_length --window hann --n_mels 80 --write-num-frames=ark,t:exp/phn_make_fbank/train/utt2num_frames.32 --compress=true --filetype mat --normalize

[2021-12-20 10:36] zzxiang commented on #3875
Thank you very much for the explanation!

[2021-12-20 10:36] #3875 closed

[2021-12-20 13:29] sairitwik27 opened #3885 "-Infinity and Large Negative CTC Loss values in training Transformer,ESPNET-1"
I am training a hybrid CTC+Attention Transformer ASR architecture on a custom English dataset in ESPNET-1.

While training, in certain epochs the CTC loss is a large negative value or -Infinity, as seen in the Logs below. Is it some bug? Am I encountering log(0) here? How does ESPNET deal with this when proceeding to train further?

What could be some reasons this might happen, or any pointers on

[2021-12-20 14:50] sw005320 commented on #3885
This would happen when the output length is relatively longer than the input length (after downsample).
During training, we remove such irregular minibatch, so, if this only happens rarely, you can ignore it.
If it happens everywhere, I recommend you check the data of such particular files.
Usually, this is caused by noisy transcriptions or the error of VAD/segment information.

[2021-12-20 15:02] sairitwik27 commented on #3885
Thanks! It happens about 5-7 times over 40 epochs. I would probably ignore it.

[2021-12-20 15:02] #3885 closed

[2021-12-20 18:50] lumaku commented on #3883
Yes, there were many videos with spoken English with Japanese subtitles. The alignment step computes a score how well the subtitles fit to the audio using CTC segmentation. The score of those videos with a different language is clearly distinguishable using this score, as in our setup, language-mismatches have a score less than `-5.0` (estimated by inspection), and "the good" audio has `>= -1.0`.

[2021-12-21 05:38] 123srikanth commented on #3874
sir I have trimmed the silence using the script mentioned here https://github.com/espnet/espnet/blob/f03101557753517ebac8c432f0793d97d68fa5f0/egs2/hui_acg/tts1/local/data.sh#L73-L82 but it did not make any changes to my audio files and neither created any new audio files but just created some figures and tmp directories with scp files in each and there is a segment file. How can I use them in my r

[2021-12-21 12:19] pkyoung commented on #3803
@D-Keqi  I am afraid your PR patched to v.0.10.4 seems to cause another error as follows:
[code]

[2021-12-21 12:56] D-Keqi commented on #3803
Could you tell me more details? Do you come into this issue during training or decoding?

[2021-12-21 14:59] D-Keqi commented on #3803
Hi! Thanks for your response, I found the issue. And I have modified my PR accordingly. Please let me know if it works for you.

[2021-12-21 18:10] kehanlu commented on #3370
@sw005320 Hi, I have similar issue.
I use Espnet1 as library  and try to reproduce the results of intermediate CTC(https://arxiv.org/abs/2102.03216) on AISHELL1.

First of all, my architecture is 12 layer transformer and CTC loss only(`mtlalpha=1.0`). Use the config modified from WJS, I can reproduce the result from paper on AISHELL1.

Then I try to implement the codes without Chainer and use ESPN

[2021-12-21 22:09] asadolahzade opened #3889 "Recipe for training Conformer with LibriSpeech train-100h using ESPnet2"
Hi,
I'd like to train a conformer model with train-100 hours of LibriSpeech corpus using ESPnet2.
Please if someone has any experience share with me what changes of parameters or hyperparameters (e.g. lr, ...) I should make to the current recipe of LS-960 to train this model? Let me know for any point I should consider for training conformer with this amount of data?
Thanks a lot for any help.

[2021-12-21 22:35] sw005320 commented on #3889
@YosukeHiguchi has a very good configuration but it is based on espnet1 (in my understanding. Correct me if I'm wrong), but he will make a recipe for train-100 hours of LibriSpeech in the near future based on espnet2.
@YosukeHiguchi, can you let me know your plan?
Would it happen in the next year?

[2021-12-21 22:41] sw005320 commented on #3370
Which GPU did you use? I'm just curious.

I also had the same experience that the first iteration of the gradient (first backpropagation) changes the result even if we set all the configurations the same.
Someone told me a way to fix it but I forgot.
I'm checking some old discussions about reproducing the same result.

Anyway, due to various reasons, it would be difficult to reproduce the exact sa

[2021-12-22 02:11] pkyoung commented on #3803
@D-Keqi I've confirmed your modified PR (patched on v.0.10.4) fixed the problem. Thank you.

[2021-12-22 02:14] D-Keqi commented on #3803
Thanks!

[2021-12-22 04:34] kan-bayashi commented on #3874
You can the figure to check the trimming is performed well.

If the `segments` file is included in data directory, the trimmed audio will be used in extracnting mel-filterbank automatically.
https://github.com/espnet/espnet/blob/682dad150bb13c7d852600583c53ce8d24fd1d6e/egs/ljspeech/tts1/run.sh#L99-L109
https://github.com/espnet/espnet/blob/682dad150bb13c7d852600583c53ce8d24fd1d6e/utils/make_fbank.

[2021-12-22 08:07] kehanlu commented on #3370
@sw005320  I use nvidia V100 on both experiments. Note that I can reproduce exact same result when I rerun same code, but different with different codes(mines vs. ESPNET run.sh).

I want to reproduce the result because I want to first make sure that my codes are correct. However, the resutls seems worse than expected with speed perturbation (test:6.4 vs. 7.1) but worked fine without speed perturba

[2021-12-22 09:18] jcn199729 commented on #3883
Greatly thanks! Will try to run the alignment

[2021-12-22 10:56] srikanthk20 commented on #3803
@D-Keqi ... i have the same issue. The Streaming Transformer was training well and moved to Streaming Conformer and have the similar issue. I am only running the training stage and the data prep is common to both the algos. Updated the repo to the latest and still see the same issue.

[2021-12-22 11:01] D-Keqi commented on #3803
Hi! I have made a PR to fix this issue, but it has not been merged yet. Here is my PR https://github.com/espnet/espnet/pull/3880, I think it will help you solve this issue.

[2021-12-22 11:02] D-Keqi commented on #3803
Hi! I have made a PR to fix this issue, but it has not been merged yet. Here is my PR #3880, I think it will help you solve this issue.

[2021-12-22 12:30] YosukeHiguchi commented on #3889
Hi @asadolahzade, I can share my conformer configuration on LS-100 (train-clean-100):
[code]
Please note that the above configuration is for espnet1 and assumes a single GPU training. I hope this helps you to tune a model on espnet2.

@sw005320, I'm planning to prepare the LS-100 recipe on espnet1 (and espnet2). Sorry for being late but I will do it by the end of this year.

[2021-12-22 12:35] sw005320 commented on #3889
Thanks, @YosukeHiguchi!
I'm looking forward to your PR!

[2021-12-22 13:58] asadolahzade commented on #3889
Hi @YosukeHiguchi ,
Thanks a lot for your recipe.
I'm looking forward to your recipe in ESPnet2 too. Meanwhile, I try to tune your ESPnet1 recipe.
Thanks a lot.

[2021-12-22 13:59] sw005320 commented on #3370
I see.
Thanks for the clarification.
This is very strange.
I'll discuss it.

Given that the speed perturbation issue is fixed, I think your way is very reasonable.
We'll try to help you as much as possible.

[2021-12-22 14:04] #3811 closed

[2021-12-22 14:19] 123srikanth commented on #3874
I have implemented the segments file in my train data and ran the training again and this is what I could see the plots generated. It looks like there is no much difference before and after removing the silence
[plots.zip](https://github.com/espnet/espnet/files/7763124/plots.zip)

[2021-12-22 15:49] 123srikanth commented on #3879
yes, I think if I make learning the diagonal attention easier I will get better output. as you mentioned the same in other issues.

[2021-12-22 23:05] #3879 closed

[2021-12-23 03:41] srikanthk20 commented on #3803
-- Thanks @D-Keqi ... its resolved

[2021-12-23 11:03] 123srikanth opened #3905 "How can we adapt male voice to female voiced pretrained model"
Hi I have a pretrained english model with female voice now I want to adapt the same to male voice using finetuning how can I do it?

[2021-12-23 12:21] kobenaxie opened #3907 "RNN-T ALSD beam search decoder bug ???"
https://github.com/espnet/espnet/blob/682dad150bb13c7d852600583c53ce8d24fd1d6e/espnet/nets/pytorch_backend/transducer/utils.py#L296

return `final` rather than `hyps`  here ?

[2021-12-23 12:49] b-flo commented on #3907
wow that's a good one. Thanks for the catch!

[2021-12-23 14:09] #3907 closed

[2021-12-23 21:03] asadolahzade commented on #3889
Hi @YosukeHiguchi ,

I changed the recipe of training LS-960 (https://github.com/espnet/espnet/blob/master/egs2/librispeech/asr1/conf/tuning/train_asr_conformer7_n_fft512_hop_length256.yaml) based on your recipe of LS-100 as follows:
[code]
But I'm not sure about some hyper-parameters. I keep the list following the same as the recipe of the above link.
Are they suitable in your opinion? If not, co

[2021-12-24 10:54] godzilla-123 opened #3911 "How to run Hubert Training"
I've glanced through the code in [this directory](https://github.com/espnet/espnet/tree/1c88acf771d19d824cca26d50fe2155ddd558bba/espnet2/hubert) but I can't find any recipe to train Hubert on my own data.

Do we have plans to add Hubert training and inference recipe (like for LibriSpeech, use LibriLight with Hubert as pre-training stage before stage 10, then run the training in stage 10 to see if

[2021-12-24 13:25] simpleoier commented on #3911
Hi, the recipe is in the egs2 directory.
Here are the [pretraining](https://github.com/espnet/espnet/tree/master/egs2/librispeech/ssl1) and [finetuning](https://github.com/espnet/espnet/tree/master/egs2/librilight_limited/asr1) recipes.

[2021-12-24 16:28] skol101 opened #3912 "Error when running inference through script."
**Describe the bug**
A clear and concise description of what the bug is.

**Basic environments:**
[code]

**Environments from `torch.utils.collect_env`:**
[code]

**Task information:**
 - Task: TTS
 - Recipe: vctk vits fine tuning
 - ESPnet2

**To Reproduce**
Steps to reproduce the behavior:
1. Convert inference notebook espnet2_tts_realtime_demo to python script
2. Run python tts.py

**Error logs

[2021-12-25 03:39] seastar105 commented on #3882
It seems the demo has no speaker embedding(x-vector) extraction from arbitrary audio. Anyway, I could make speech from arbitrary audio with espnet2 tts recipe's stage 2 and stage 7. Thanks

[2021-12-26 11:41] sravani40 opened #3918 "finetuning pretrained model"
i  have one pretrained model trained on female voice, i want to finetune it to male voice. shall i follow the regular procedure of finetuning to do like that?

[2021-12-26 12:20] kan-bayashi commented on #3874
The trimming depends on the threshold parameter. You need to tune by yourself.
But your training curve seems no problem. Let you check the results at first.