[2020-06-24 00:14] sw005320 commented on #2084
I just want to figure out the problem.
Does it happen without cer/wer reporters?
Sorry that we don't fully test the multiple GPU decoding.

[2020-06-24 01:57] kan-bayashi commented on #2039
I mean the recipe is like `egs/XXX/tts1`.
If your corpus is free to access, you can make a PR for other researchers.

[2020-06-24 03:59] Fuxuandi-Michelle commented on #1507
I am setting the same error as well,

I am still getting the same error after setting the environment. Does anyone know how to fix this?

[2020-06-24 04:34] psridhar-asapp commented on #2084
It does not happen without CER/WER reporters. No worries. I'm glad to help debug things. Doing some googling it looks like this is a problem when .to() or cuda() is used improperly

https://discuss.pytorch.org/t/dataparallel-arguments-are-located-on-different-gpus/42054

Not sure where in the recog step this is happening

[2020-06-24 06:35] RuslanSel opened #2089 "TTS Quality in the middle of training"
I want to train ljspeech.tacotron2.v3, gpu 1.
But after 119 (from 200) epochs wav file sounds like this - https://www.sendspace.com/file/egdzmj.
Is it normal?
Thanks in advance.

[2020-06-24 07:05] kan-bayashi commented on #2083
If you want to use pre-calculated x-vector, it can be within Python.
See https://github.com/espnet/espnet/issues/1973
But since x-vector is extracted using kaldi, we cannot extract x-vector within python.

[2020-06-24 07:05] kan-bayashi commented on #2089
It sounds strange. How did you synthesize the audio?

[2020-06-24 07:30] rppravin commented on #2033
Thanks for the link.

Best,
Pravin

[2020-06-24 07:30] #2033 closed

[2020-06-24 07:33] kan-bayashi commented on #1507
@Fuxuandi-Michelle Why don't your add `CPATH`?

[code]

[2020-06-24 08:45] ican24 commented on #2039
Dear @kan-bayashi,

Unfortunately our corpuses have no free access, but the reason is not a copyright or fear of commercial competition. It is much more deeper. I can not explain it publicly.
Below is my email address:
artak.hovsepian@gmail.com
Please send me empty message, I'll send you download link of recipe content without "dump", "fbank", "exp", "tensorboard" folders from Google Drive or our

[2020-06-24 08:56] kan-bayashi commented on #2039
OK. In that case, you do not need to send me.

By the way at 11th June we asked Japan International Cooperation Agency and Japan Development Service Co․ to intercede to Nagoya University and Human Dataware Lab. Co., Ltd., when they applied us in the frame of "Data Collection Survey on Promotion of Solution Business with Advanced ICT" initiative.

I'm not sure what you mean.
This open-source work i

[2020-06-24 09:04] RuslanSel commented on #2089
1) average_checkpoints.py --backend ${backend} \
                         --snapshots snapshot.ep.119 \
                         --out model.119 \
                         --num 1
2) replaced decode/download/ljspeech.tacotron2.v3/exp/train_no_dev_pytorch_train_pytorch_tacotron2.v3/results/model.last1.avg.best with new model
3) run synth_wav.sh with
fmax=7600     # maximum frequency
fmin=80       #

[2020-06-24 09:17] kan-bayashi commented on #2089
Thank you for your info.
The `ljspeech.parallel_wavegan.v1` is trained with no-limit mel-spectrogram (0-11025 Hz).
Please use this one.
https://drive.google.com/open?id=1Grn7X9wD35UcDJ5F7chwdTqTa4U7DeVB

[2020-06-24 09:25] ican24 commented on #2039
It is a just plain request for consultation and support.
Your agencies asked us how they can help us as reply we told your name using information from your page https://github.com/kan-bayashi.
After TTS we would like to start development of other espnet solutions. Therefore we would not look like annoying.
Just a plain desire to make relations more solid.
That's all.

[2020-06-24 10:12] RuslanSel commented on #2089
It seems the quality has not changed.
https://www.sendspace.com/file/ncz8ql
For ljspeech.wavenet.mol.v1 and 100 epochs the sound is also strange: https://www.sendspace.com/file/c7og5d

[2020-06-24 10:23] RuslanSel commented on #2089
May be the snapshot will help - https://www.sendspace.com/file/4jotmj.

[2020-06-24 10:25] ican24 commented on #2039
As you have no chance to investigate our case with grapheme-to-phoneme conversation, could you provide a piece of text of Japanese recipe? I'll try to analyse it. Do'nt worry a have a good friend from Japan, who may help me.
unfortunately I could not find  grapheme-to-phoneme converted exmaples of espnet.
Thank you

[2020-06-24 10:27] kan-bayashi commented on #2089
Really? Did you change the vocoder model?
As you can see in README, `ljspeech.parallel_wavegan.v1` and `ljspeech.wavenet.mol.v1` are traiend with no-limit mel-spectrogram. You need to use the vocoder trained with matched condition.
https://github.com/espnet/espnet#tts-results

[2020-06-24 10:33] kan-bayashi commented on #2039
Try JSUT recipe `egs/jsut/tts1`.
You can find the phoneme sequence example.
https://github.com/espnet/espnet/blob/f34eee89813573482ab66d7030e93a7edd88edca/egs/jsut/tts1/run.sh#L31

[2020-06-24 10:35] RuslanSel commented on #2089
Yes. Included directory with the same name confused me.
Thank you very much!

[2020-06-24 10:35] #2089 closed

[2020-06-24 10:35] kan-bayashi commented on #2039
See also:
https://github.com/espnet/espnet_tts_frontend#japanese

[2020-06-24 11:09] ican24 commented on #2039
Thank you!
As my case I had discovered that the best sounding is possible, when I am removing double spaces between the words keeping single space only. The double spaces between the words generate unpredictable results with word missing and wrong speech.
If you like to see how espnet TTS Tacotron2 + Parallel WaveGAN differs from the Pythorch-DC+SSRN (highly tuned by me) sounding you may compare h

[2020-06-24 12:50] lonnietc opened #2093 "QUESTION Does ESPnet suport Melgan"
Hello,

I am a bit new to TTS & STT systems but am on the lookout for a very good implementation.

From my research so far, it seems that Melgan based vocoders are the latest and greatest thing as they have a much smaller footprint, are faster, and can even run in real-time on CPU based systems (At least from what I have read):

https://blog.descript.com/ultra-fast-audio-synthesis-with-melgan/

Wi

[2020-06-24 12:53] rbracco opened #2094 "Make install fails to find installed cupy"
Cuda version: 10.0.130

Runing the make command `make KALDI=../../kaldi/` I get

[code]

Cupy was installed with `pip install -U setuptools pip` and `pip install cupy-cuda100` and completed successfully with messages
[code]
but the error persists. Thank you for your help.

[2020-06-24 12:56] kan-bayashi commented on #2093
You can use my implementation with my MelGAN (or multi-band MelGAN) implementation.
https://github.com/kan-bayashi/ParallelWaveGAN
Docker image is also available.
But we do not provide the system like API using flask.

[2020-06-24 12:58] kan-bayashi commented on #2094
That is fixed in #2091.
To fix quickly, we can run `make cupy.done` and then check via `make check_install`.
ESPnet creates portable conda env, so you need to install within the conda env.

[2020-06-24 13:04] lonnietc commented on #2093
Thanks for the quick reply.

Let me dig into it more and see if I can figure out how to use the base system after which I can see about taking the next steps.

Cheers

[2020-06-24 13:06] kan-bayashi commented on #2093
For quick demonstration, you can try the following notebook:
https://colab.research.google.com/github/espnet/notebook/blob/master/tts_realtime_demo.ipynb

[2020-06-24 13:06] #2093 closed

[2020-06-24 13:14] lonnietc commented on #2093
I was just trying to colab code and the first part gave some errors, but I am not sure if they are critical:

  Building wheel for parallel-wavegan (setup.py) ... done
  Building wheel for ConfigArgparse (setup.py) ... done
  Building wheel for librosa (setup.py) ... done
  Building wheel for kaldiio (setup.py) ... done
  Building wheel for distance (setup.py) ... done
  Building wheel for jaconv

[2020-06-24 13:18] kan-bayashi commented on #2093
You can ignore the errors.
ESPnet mainly focuses on the research so we do not have such a web API but it sounds great.

[2020-06-24 13:28] lonnietc commented on #2093
Thanks again.

I actually have two projects that I am working on.

One is a rudimentary IPA with Search Engine capabilities that I call "Scarlet" and which is based upon a number of existing libraries like Rasa-Chatbot, etc..

But, the other project is an advanced version of that system which will be Scarlet 2 and that system is highly based on AI and Neural Networks (Perception Evolution Networks

[2020-06-24 13:34] #2094 closed

[2020-06-24 13:34] rbracco commented on #2094
Thank you so much for the prompt reply and fixed, that worked. I'll close the issue.

[2020-06-24 15:21] seanle24245 commented on #2083
Thank you.

[2020-06-24 15:21] #2083 closed

[2020-06-24 15:34] jefflai108 commented on #2060
hi @kan-bayashi
Sorry, I solved the error. I didn't set up the environment correctly (I did `pip install espnet`).

[2020-06-24 16:16] Fuxuandi-Michelle commented on #1507
Thank you so much! The problem is solved. Turns out I typed the CUDA path wrongly.

[2020-06-24 18:45] lonnietc commented on #2093
Hello Tomoki,

You gave me a link to the Google Colab:

For quick demonstration, you can try the following notebook:
https://colab.research.google.com/github/espnet/notebook/blob/master/tts_realtime_demo.ipynb

For the Colab testing, I chose the Fasespeech and Multi-band MelGAN after
which the output was really nice and reasonably fast.

I was able to run it on their system but am now wondering if

[2020-06-24 21:05] seanle24245 opened #2096 "Using an4 ASR recipe on new WAV file"
I am following the an4 speech recognition recipe.  I ran run.sh and now have a trained model.  I have tested the ASR on different examples by changing the number 10 in the following code, which refers to the 10th speech in data.json, which is in dump/test/deltafalse:

`key, info = list(test_json.items())[10]`

If I want to use this an4 model to decode a WAV file I have, how would I go about doing

[2020-06-25 04:46] Fpooyan opened #2099 "commonvoice pretrained model bpe missing"
Hi
I am trying to use commonvoice pretrained models provided in the repo. while running run.sh in strage 2, bpe model should be provided but it is missing from the downloaded model dir.
any help is highly appreciated!

[2020-06-25 06:36] seantempesta commented on #1951
For my 2 cents, I'm having wonderful results with Glow-TTS.  It's easy to train, trains super fast and is really stable.  I can generate minutes of audio and it sounds great.  :)

[2020-06-25 08:43] seantempesta commented on #1951
@dathudeptrai  So this is still pretty early (I've only been training for about 24 hours on a single 2080 on my laptop), but here's Trump performing Shakespeare:

https://soundcloud.com/sean-tempesta/trump-performing-shakespeare

I've mostly been fighting with Waveglow to get decent audio quality, so I'm looking into switching over to MelGAN.  I haven't tried FastSpeech2.

[2020-06-25 08:51] dathudeptrai commented on #1951
@seantempesta can you check out my fastspeechv2 + mb-melgan and compared with ur glow-tts + waveglow here ? https://dathudeptrai.github.io/TensorflowTTS/

[2020-06-25 08:59] seantempesta commented on #1951
Yeah, the fastspeech2 + mb-melgan samples sound good.  I really can't judge what Glow-TTS is capable of yet, as I'm still very early in my experimentation.  The author has some pretty good samples on their github site though.

https://jaywalnut310.github.io/glow-tts-demo/index.html

[2020-06-25 09:40] kan-bayashi commented on #2093
We are developing such a function in #2092, but not yet merged.
I think just copy & paste the code in the notebook should be working.

[2020-06-25 12:44] sw005320 commented on #2099
@ftshijt, could you re-pack the model by including the BPE model?

[2020-06-25 14:48] marcosnetopires opened #2100 "Early stop during TTS model training"
Hi, just wondering if there is a method to do early stopping during training so that I don't have to be constantly monitoring the progress of training.
I'm using the recipe for LJSpeech/tts1 with espnet (not espnet2) and training a Transformer.v3 model.
Thanks

[2020-06-25 14:55] kan-bayashi commented on #2100
You can change `patience` option.
https://github.com/espnet/espnet/blob/4073e00143e16a6e268b7b5da024cf1db3cf81a1/egs/ljspeech/tts1/conf/tuning/train_pytorch_transformer.v3.yaml#L69
But in the case of TTS model, the validation best model is not always the best in terms of the quality.
please be careful.

[2020-06-25 14:55] #2100 closed

[2020-06-25 22:15] jefflai108 commented on #1921
i also got the same error as @ivanelgran23 when i set batchsize larger than 0. Reducing `beam-size` definitely helps (default is 60) but you may want to experiment the optimal trade-off between performance and speed.

[2020-06-26 01:28] ftshijt commented on #2099
Sure, I will repack it soon.

[2020-06-26 06:40] RuslanSel opened #2103 "TTS Multi-band Melgan"
ljspeech.multi_band_melgan.v1 or ljspeech.multi_band_melgan.v2 give this strange result https://www.sendspace.com/file/98j4j4.
With ljspeech.full_band_melgan.v1 or other vocoders everything ok.
Thanks in advance.

[2020-06-26 06:52] kan-bayashi commented on #2103
You forgot to apply PQMF.
If you use `parallel-wavegan-decode` command, please update `parallel_wavegan` (version 0.4.0).

[2020-06-26 06:52] #2103 closed

[2020-06-26 09:54] TParcollet opened #2104 "CommonVoice data splitting tr/dev/test"
Hi there !

Just a quick question on the data preparation of the CommonVoice recipe. From my understanding the Dev and Test are obtained from a split on the validated.tsv file (full set of audio files). Nonetheless, dev.tsv and test.tsv are also given by CommonVoice, why not using these files that already do not contain any duplicate in terms of speakers ?

Thanks !

[2020-06-26 13:49] sw005320 commented on #2104
As you may know, the original commonvoice training/dev/eval split has a (very critical) problem for e2e research.
The same prompt is shared across training/dev/eval and e2e models can easily get 100% accuracy due to this overlap since e2e models also learn the LM context (which is OK for hybrid acoustic model training BTW).
(I was reporting it to Mozzila, already and sorry if they already fix the

[2020-06-26 13:55] TParcollet commented on #2104
I see, but prompts from the test / dev / train sets aren't uttered by the same speakers right?

[2020-06-26 14:08] sw005320 commented on #2104
Yes for the original division.
Again, we actually tried to remove the sentences in the training data that appeared in the dev/evaluation data by keeping the original divisions as much as possible.
But it turns out that it loses a lot of training utterances in some languages, and decided the current solution (not perfect but open/close speaker conditions are not very important in these days).

[2020-06-26 15:48] TParcollet commented on #2104
Do you mean that validated.tsv contains couples of sentences+speakers that are also contained in the official dev and test?

[2020-06-26 15:49] sw005320 commented on #2104
no only sentences

[2020-06-26 15:50] sw005320 opened #2105 "espnet2 data preparation for the test sets"
@kamo-naoyuki, in espnet2, I found that the eval sets are also pruned in stage 4, which we should not do because we cannot compare it with the other reports.
We should not even remove the utterance that does not have any token because it also changes the sentence error rate.
Could you fix it?

[2020-06-26 15:51] TParcollet commented on #2104
Alright thanks for the clarifications. I am unsure if this truly is a problem though, since it is most likely to happen in realistic conditions.

[2020-06-26 16:00] sw005320 commented on #2104
This is OK for a real conversation since it happens naturally in the small portion.
But it is a problem in the prompt based read speech. commonvoice has relatively very large portions of unnatural text overlap with unrealistic occurrences (just sampling I guess).

Again, I could get really really good WER in the commonvoice task with the original devision, but this is simply over-training (we just

[2020-06-26 16:04] TParcollet commented on #2104
Well for now I use a custom "clean" subset in the same manner as for librispeech, and it doesn't contain any sentence in common with the test and dev. But thanks for the pointer. I'll consider that. But then, we need to fix or release a new fixed test set so we can compare our different models ...

[2020-06-26 16:07] sw005320 commented on #2104
Of course, it is no problem to use the original split or whatever for the training only purpose and apply it to the other test sets.
That is a normal use case and their main intention is also like that. So, there is no issue for their main purpose. It would be an issue for researchers to report the numbers by only using commonvoice data setup.

[2020-06-26 16:09] sw005320 commented on #2104
I agree.

[2020-06-26 16:10] kamo-naoyuki commented on #2105
Okay

[2020-06-26 16:24] sw005320 commented on #2104
Also, probably our information is too old(?). It was one year ago. Again, I asked them to fix it but I did not get any response, but probably they might fix it. If so, we should use the original split. @ftshijt, could you review their newest release?

[2020-06-26 16:26] TParcollet commented on #2104
The only new information I got: there is a train.tsv file that corresponds to the validated.tsv but without duplicate prompts. I don't know about the test and dev. Please keep me updated :D

[2020-06-26 16:39] TParcollet commented on #2104
Just in case, this is the official "data preparer" : https://github.com/mozilla/CorporaCreator

[2020-06-26 16:43] sw005320 commented on #2104
Thanks! We only access to the original release directory. Probably we should follow this one. @ftshijt, could you check it?

[2020-06-26 16:44] TParcollet commented on #2104
The official data release follows this script, this is just a pointer given by Josh to me.

[2020-06-26 16:45] sw005320 commented on #2104
I see.

[2020-06-26 16:57] ftshijt commented on #2104
Thanks for bringing out the issue and appreciate your information @TParcollet . I just took a look at the commonvoice release. It seems that there was a big update in Dec 2019 (most corpora have expended). The current ESPNet recipe is based on the release in Aug 2019, a bit out-of-date. I will update the recipe & pre-trained models and also see if the train-test split is usable for our e2e system.

[2020-06-26 17:48] kamo-naoyuki commented on #2105
Maybe I can't work until the next weekend.

[2020-06-26 17:55] sw005320 opened #2106 "espnet2/bin/split_scps.py is slow"
I found that `split_scps.py` is very slow.
I'm now trying to split the Librispeech text data (40,699,501), which is normal size as a text data, and it takes 20 minutes to process 1,000,000.
So, it would take approximately 800 minutes to split the data.

It may be specific to my own environments to some extent (because CPU load average is ~30%, which means that some data access bottleneck happens).

[2020-06-26 18:01] sw005320 opened #2107 "qsub -N issue"
I encountered qsub job name issue.
In espnet2, the job name is provided by the following option:
`--cmd "${cuda_cmd} --name ${asr_exp}/train.log"`
However, my grid engine qsub does not accept the name with "/".
Probably this is only for SGE and other job schedulers may not have this issue, but several institutes still use SGE and it's better to avoid using "/".

[2020-06-26 18:12] #2106 closed

[2020-06-26 18:14] kamo-naoyuki commented on #2107
Hmm. SGE Is really bad.
If avoiding "/", the advantage of this option loses totally.
I'll investigate the supporting of the other system, anyway.

[2020-06-26 18:15] kamo-naoyuki commented on #2106
Maybe the following part is the reason: https://github.com/espnet/espnet/blob/e1873ef5cd514fd5aec0ec23d71be98e70ae6448/espnet2/bin/split_scps.py#L58-L62

[2020-06-26 19:17] sw005320 commented on #2107
Yes, SGE is outdated and has a lot of problems, but it is very difficult to change the job scheduler...

[2020-06-27 05:28] Fpooyan commented on #2099
Hi.
Thanks for your quick response, but I can not find the added model file in the Persian model directory.
Is it also included?

[2020-06-27 08:43] #2105 closed

[2020-06-27 10:50] Fpooyan opened #2113 "Docker image for raspbian"
Hi
I've been trying to install espnet on raspberry pi for a couple of days with no success!! I am having trouble installing sentencepices.
I was wondering if I could use a raspbian-compatible docker image to run on raspberry (I am totally new to docker!).
could you please provide the raspbian image?
Thanks in advance

[2020-06-27 11:08] kamo-naoyuki commented on #2113
What is your purpose using espnet? It's not always necessary to install all dependencies.
(However, I think sentencepieces can be built on arm)

Raspberry pi is arm architecture and it is incompatible with espnet docker image, which is based on x_86, so you need to build docker image by yourself, but it's same cost as setup espnet without docker.

[2020-06-27 11:20] Fpooyan commented on #2113
Thanks for your quick response!
I am trying to test one of the pretrained models on RPi just for inference. Without sentencepiece, I could not install espnet and so I can not import it. is there any way to bypass sentencepiece installation?

[2020-06-27 11:30] kamo-naoyuki commented on #2113
Remove the following line.

https://github.com/espnet/espnet/blob/cb4e446ee220d3a52fd5b05dd85a283424163515/setup.py#L32

Your task is ASR?

The python module for sentencepiece for arm is not provided, you need to build sentencepiece yourself. See the following link.

https://github.com/google/sentencepiece/tree/master/python

[2020-06-27 11:39] Fpooyan commented on #2113
yes I am working on ASR models.
I once tried to build sentencepiece from source but it failed with the same error as installing using pip. but I'd try to test building from source again.
BTW, thanks for providing the link.

[2020-06-27 19:45] jlian2 opened #2115 "/kaldi/tools/config/common_path.sh is not present"
Once I am running a recipe, it shows: The standard file /home/ubuntu/espnet/egs/an4/asr1/../../../tools/kaldi/tools/config/common_path.sh is not present -> Exit!

Once I checked tools under kaldi, there is actually no "config".
When "make check_install", it succeeds.

So, where is "config"?

[2020-06-27 20:18] ftshijt commented on #2099
Thanks for bringing it out. Please check again.

[2020-06-28 04:38] mlxu995 opened #2116 "copy-feats: command not found"
I try to run eg2/aishell/asr1/run.sh and it seems I should compile Kaldi first?
the bug is :
      bash: line 1: copy-feats: command not found
      bash: line 1: paste-feats: command not found
How can I run it without compiling Kaldi?

[2020-06-28 04:54] kamo-naoyuki commented on #2116
Aishell recipe now uses feats_type=fbank_pitch.
It should be feats_type=raw, but pitch feats may give good performance for Mandarin speech @sw005320 ?

You can run without Kaldi as follows

[code]

[2020-06-28 04:54] #2116 closed

[2020-06-28 04:56] kamo-naoyuki commented on #2115
You seems not to install Kaldi correctly. It exists here: https://github.com/kaldi-asr/kaldi/tree/master/tools/config

[2020-06-28 04:56] #2115 closed

[2020-06-28 13:22] sw005320 commented on #2116
Yes, the effectiveness of the pitch feature for Mandarin was significant (e.g., relative 10% improvement in HKUST in our old trial in 2016).

By considering the Kaldi-free policy, unifying the feature extraction setup for multilingual ASR, and the computational graph point of view, it would be better to use the default `—feat_type=raw` mode in the future, even for the Mandarin task. Now, the ASR e

[2020-06-28 15:08] AyaHamdy opened #2118 "synthesis using multi-speaker tacotron libitts pre-trained model"
Please i need help,
i download multispeaker tacotron pretrained model, how i can use it for synthesizing wav using specific speaker ?

[2020-06-28 15:52] gothiswaysir opened #2119 "issue about CHIME4 multi-channel recipe"
Dear all,

I encountered some problems when I run the latest version of espnet's CHIME4 recipe.

Something went wrong with the data2json.sh,

Import requested from: 'numba.decorators', please update to use 'numba.core.decorators' or pin to Numba version 0.48.0. This alias will not be present in Numba version 0.50.0.
  from numba.decorators import jit as optional_jit
/data_a7/xinyuan/espnet/tools/v

[2020-06-28 16:13] gothiswaysir commented on #2119
During installation, the default versions are not compatible with each other, so I changed the version of some libraries

------------------------- ------------------- -------------------------------
absl-py                   0.9.0
args                      0.1.0
attrs                     19.3.0
audioread                 2.1.8
Bottleneck                1.3.2
brotlipy                  0.7.0
cacheto

[2020-06-28 16:35] sw005320 commented on #2118
There are several similar questions/discussions, e.g., https://github.com/espnet/espnet/issues/1973
Could you check them first?

@kan-bayashi, if @AyaHamdy still cannot follow it, maybe it’s good time to add some more documentations about multi-speaker tacotron. This is really nice function (thought the performance in the open speaker would be an issue (an interesting research direction)), and thi

[2020-06-28 16:49] sw005320 commented on #2096
I think you can follow https://github.com/espnet/espnet/blob/master/utils/recog_wav.sh
If you want to use your trained an4 model, you can specify your model and other related files instead of pre-trained models in the above shell script.

Note that an4 is used to test whether our program is working well since it is based on a very small amount of training data. So, the performance of an4 trained m

[2020-06-28 16:59] sw005320 commented on #2052
In addition to this issue, we have several requests about the segmentation, and currently preparing CTC-based segmentation in #2095

[2020-06-28 19:34] AyaHamdy commented on #1973
@mapa17  please i need your help, if you can tell me the steps you followed to synthesize wavs using specific speaker

[2020-06-28 20:46] mapa17 commented on #1973
@AyaHamdy here is a copy of instructions I recently wrote to someone else with similar issues

* clone and install Kaldi (https://github.com/kaldi-asr/kaldi/blob/master/INSTALL)
* clone ParallelWaveGAN
* clone the espnet repo

Within espnet, run the following script until step 3 (you need to adjust the script setting the end stage:3, number of gpus and parallel jobs you want to run).

	espnet/egs/

[2020-06-29 03:15] jefflai108 commented on #1656
hi @kan-bayashi
I followed the installation step carefully and got the same error mentioned by @david11252
However, @cstirling's suggestion solve the issue

[2020-06-29 06:32] housebaby commented on #1860
Hello, I install espnet and warp_transducer on May 8.
The version is "commit 97bb94a850743551289e8bb3921c1adef5da7b7e
Merge: 075cee8 f69512f
Author: mergify[bot] <37929162+mergify[bot]@users.noreply.github.com>
Date:   Wed May 6 10:04:21 2020 +0000 "
I still got the promblem of illegal memory access after several iterations.

2020-06-29 11:58:52,876 (e2e_asr_transducer:37) INFO: loss:1350.66650390

[2020-06-29 06:47] housebaby commented on #1888
@WanderingSven Did it work out ? Is the "illegal memory access" problem fixed?

[2020-06-29 06:49] housebaby commented on #1888
I think my warp-transducer is up-to-date, but the same problem still exists

[2020-06-29 07:29] b-flo commented on #1860
Hi,

Could you give me additional informations such as dataset used, training config and scripts, numbers of GPUs, system informations, commit version of warp-transducer (in `tools/warp-transducer`), etc?
I'm extensively working on transducer right now and I didn't not met any illegal memory so far. In your case, the error seems to different from the previous one we discussed here.

[2020-06-29 08:12] housebaby commented on #1860
Dataset: librispeech
run.sh
espnet commit version:
commit 97bb94a850743551289e8bb3921c1adef5da7b7e
Merge: 075cee8 f69512f
Author: mergify[bot] <37929162+mergify[bot]@users.noreply.github.com>
Date:   Wed May 6 10:04:21 2020 +0000

warp-commit version:
commit f546575109111c455354861a0567c8aa794208a2
Merge: c1a265f 5098002
Author: Mingkun Huang <mingkunhuang95@gmail.com>
Date:   Mon Apr 27 23:07:35

[2020-06-29 08:19] b-flo commented on #1860
OK thanks, could you give me some informations about your espnet setup please?
Also, just to be sure could you check if the problem exists with ngpu=2 please? I don't have access to more than 2 GPUs right now and I want to reproduce exactly your test environment.

[2020-06-29 08:23] housebaby commented on #1860
I try many other options , most of them failed. Some of them worked out
![image](https://user-images.githubusercontent.com/9246556/85990216-45bfad00-ba24-11ea-8665-d7bc6adfe4a2.png)
It is very confusing.
The location of the collapse  is not always the same, but all of the failure is "an illegal memory access was encountered"
Another failure case is like this
j1-asr-train-v100-02:489125:489125 [7]

[2020-06-29 08:26] housebaby commented on #1860
OK ， I will try 2 gpu. Actually sometimes 4 or 8 GPU can work.
python: 3.6.1
pytorch : 1.4.0+cu100

[2020-06-29 11:01] kamo-naoyuki commented on #1860
I believe this is a bug of warp transducer with DataParallel, and not problem of espnet. You should report it as a warp transducer issue with minimum reproducing code, could you?

In general we can't always reproduce such errors in multi threading because the threads run in parallel and the timing of accessing depends on the environment. This is the reason sometimes happens and sometimes doesn't h

[2020-06-29 12:38] lyjzsyzlt opened #2120 "rnn-t streaming decoding"
Is there an implementation of rnn-t streaming decoding?

[2020-06-29 13:25] ican24 commented on #2039
I'll try to publish main results of my experinece and impressions/thoughts here hoping it may be useful for other developers of the custom dataset/languages, if you do not mind.

- my best dataset, which genereted best sounding on the pytorch-dc+ssrm allows me to synthesize perfect voice on ESPNet TTS + PWG, but it is not useful because of lack of training data. The dataset volume is about 10 hour

[2020-06-29 15:56] #2096 closed

[2020-06-29 16:08] AyaHamdy commented on #1973
@mapa17 Thanks for your help, i will follow your steps and if i face any problem i will back to you.

[2020-06-29 16:08] seanle24245 opened #2121 "Libritts run.sh error"
I'm getting this error when I try to run run.sh in the libritts tts1 directory:

utils/validate_data_dir.sh: text contains 1 lines with non-printable characters

I don't know where I could be getting this error from.  I haven't made any modifications to anything inside of libritts.

[2020-06-30 03:03] mailong25 opened #2123 "TTS Vocoder for new languages"
Thanks for amazing repository. I'm interested in building TTS engine for Vietnamese language (with Vietnamese single-speaker dataset).

I have been successfully synthesize speech with Tacotron2(trained on Vietnamse dataset) and WaveGlow(trained on ljspeech).

However, when I try to use tacotron2 + parallel wavegan(trained on ljspeech) ([via this](https://github.com/kan-bayashi/ParallelWaveGAN/issu

[2020-06-30 04:01] kan-bayashi commented on #2123
Yes, you should. ljspeech is a single speaker dataset. So the model has not so much robustness for different speakers. Or you can try a multi-speaker model (But I did not prepare 22.05k multi-speaker model, all models are 24k).

In the case of vocoder, the language difference is not so affected. So I think you can use the ljspeech model as an initial model.

[2020-06-30 04:46] mailong25 commented on #2123
Thanks for a quick response. I'm start the training now and will notify the result when it completed.

[2020-06-30 05:41] #2071 closed

[2020-06-30 08:24] b-flo commented on #2120
Hi,

Streaming RNN-T is not available in espnet. Some work was done internally but it was put in standby. I can't really say when we'll work on it again as there are a lot of other works related to RNN-T/T-T we have to finish.

[2020-06-30 08:40] lyjzsyzlt commented on #2120
Thank you for your reply! I found that rnn-t beam search decoding was very slow. Will you optimize this next?

[2020-06-30 09:21] b-flo commented on #2120
Yes, I'll propose different beam search algorithms which significantly improve decoding time. It should be available really soon.

[2020-06-30 11:09] tranctan opened #2125 "Where is the recipe of Multi-speaker TTS ?"
Hi, I saw an announcement of **Multi-speaker TTS with pretrained speaker embedding** in README file, but i cannot find which recipe and which model is used specifically.

Can anyone tell me about this one. Thanks a lot !

[2020-06-30 12:02] kan-bayashi commented on #2125
Try `egs/libritts/tts1` for English or `egs/jnas/tts1` for Japanese.

[2020-06-30 12:02] #2125 closed

[2020-06-30 17:02] sw005320 opened #2126 "`dev_set` and `eval_sets` in espnet2"
I've found some issues in the current design for `dev_set` and `eval_sets` in https://github.com/espnet/espnet/blob/master/egs2/TEMPLATE/asr1/asr.sh

The role of the development set is different depending on as a part of the test set to tune some search parameters/hyperparameters **after recognition** or monitoring the loss **during the training process** (and also tune the optimizer based on this

[2020-06-30 18:26] sw005320 opened #2127 "scoring flexibility in espnet2"
The current espnet2 scoring only deals with `sclite`. However, several measure tasks (e.g., SWBD and the original AMI Kaldi recipe) use a special scoring script (e.g., https://github.com/espnet/espnet/blob/master/egs/swbd/asr1/run.sh#L301-L305), special filtering, different tools (e.g., asclite). So this part should have some flexibility. We need some re-design for the scoring part.

[2020-06-30 18:27] sw005320 commented on #2127
We can do it when we create the espnet2 swbd recipe.

[2020-07-01 09:31] Fpooyan opened #2131 "inconsistent sampling rate"
Hi
While doing inference using the commonvoice pretrained ASR models, I noticed that the train set sampling rate is 48000 while the sampling rate is set to 16000 in .conf files for feature extraction.
I would appreciate it if anyone could explain this!!

[2020-07-01 09:36] kan-bayashi commented on #2131
The sampling rate is changed to 16k during feature extraction stage on-the-fly manner.
https://github.com/espnet/espnet/blob/1bba19c599c1acc799b6da79bd8db4e3e86f1c92/egs/commonvoice/asr1/local/data_prep.pl#L57

[2020-07-01 09:36] #2131 closed

[2020-07-01 09:38] mmmmayi opened #2132 "can I ignore the logging in espnet.nets.pytorvh_backend.ctc ?"
I want to use CTC module in my project, but there are too many lines to present in my log. Such like the code:
[code]
in CTC.forward().

It will print the hlens when I use ctc for each sample and the log disturbs me. Can you help me about it? Thank you

[2020-07-01 09:44] Fpooyan commented on #2131
could you please explain a bit more? I am wondering if sampling rate of both train and inference stages must be the same.

[2020-07-01 09:47] kan-bayashi commented on #2131
Yes, all of the sets (train, dev, and eval) are downsampled to 16k during feature extraction.
If you want to use pretrained model, you must downsample your audio to 16k Hz.

[2020-07-01 09:57] Fpooyan commented on #2131
Yes your'e right! I didnt notice that
Thanks a lot

On Wed, 1 Jul 2020, 14:17 Tomoki Hayashi, <notifications@github.com> wrote:

[2020-07-01 11:26] tzhang001 opened #2133 "Tone problem while training Tacotron model on mandarine corpus (CSMSC)"
Hi,
I noticed there're transformer and fast-speech pretrained model in CSMSC recipe, but no Tacotron model. I have tired 2 Tacotron configs, v2 using forward attention , and v3 using loc sensitive attention with guided loss. The quality of the generated wav is not good,  which has many wrong tones.
I used the same corpus, resampled to 16K, and used pinyin as phoneme( I also used these settings to

[2020-07-01 14:44] unilight commented on #2133
I have never strictly compared, but this result sounds reasonable to me since the Transformer model is larger and has multiple attention heads, which can possibly better model the relatively complex relationship between Chinese input representations and the corresponding speech.

This sounds reasonable. Feel free to try and share your findings!
Also, I think many languages such as Chinese and Japa

[2020-07-02 01:50] BuaaAlban commented on #2015
I also need 7 days to train 120 epoch using 4 gpus, but it seems it converge with a ok result in one day.

[2020-07-02 02:17] QianYing1996 opened #2135 "ESPnet-TTS, ASR-TTS joint training"
May I ask which recipe combines ASR and TTS modules or use the ASR-TTS cycle training ?

In article "ESPNET-TTS: UNIFIED, REPRODUCIBLE, AND INTEGRATABLE OPEN SOURCE END-TO-END TEXT-TO-SPEECH TOOLKIT", it said that the ESPNET-TTS toolkit is integrated in ESPNET and has recipes about ASR-TTS joint training, but I couldn't find them.
It seems that all the recipes run ASR and TTS separately.

Can anyo

[2020-07-02 02:17] mailong25 commented on #2123
It works beautifully !

[2020-07-02 02:17] #2123 closed

[2020-07-02 07:18] zyzpower opened #2136 "regarding streaming transformer asr"
Hi, I see in latest release, streaming mode for transformer is not implemented, may I ask when will code in paper "Streaming Transformer ASR with Blockwise Synchronous Inference" be released? that includes chunkwise CBP-ENC and decoding such as mocha or BS-DEC.
Thanks.

[2020-07-02 07:19] TParcollet commented on #2104
@ftshijt Josh Meyer mentioned that all the train.tsv only contain unique sentences with respect to the dev / test and itself. I think that the condition on itself is too restrictive and might remove a lot of audio files. I'll try to verify and confirm you that.

[2020-07-02 07:58] #2132 closed

[2020-07-02 08:11] BuaaAlban commented on #1883
Hi, I have used the default config for transformer train.yaml for librispeech, for stage5 decode, I have runned for 10 minutes without using an rnnlm, although the ngpu=4, I found this step didn't use GPU, how long it takes to get the result?
(I have commented this line for asr_recog.py #--rnnlm ${lmexpdir}/${lang_model})

the following is the log.
`$sh run.sh --train-config conf/train.yaml --stag

[2020-07-02 08:45] BuaaAlban opened #2137 "ASR transformer decode on librispeech using GPU bug"
the training config is default.
For stage 5 decoding , I have set ngpu=1
For nj =32 or 16, it will meet CUDA memory error.
But when I reduce nj to 4, anothor  error occurs.

`
Traceback (most recent call last):
  File "/scratch/workspace/bokangz/project/espnet-master/egs/librispeech/asr1/../../../espnet/bin/asr_recog.py", line 296, in <module>
    main(sys.argv[1:])
  File "/scratch/workspace/boka

[2020-07-02 09:52] BuaaAlban commented on #2137
I have sucessfully run the decoding by debugging by the log, however it is not that fast using nj=3, it takes maybe 1-2 days.

[2020-07-02 10:10] tranctan opened #2138 "TTS Tacotron 2 trained on JSUT generates gibberish sound at the end"
Hi, after generating certain samples using JSUT-Tacotron 2 , i found this unusual behavior. The model sometimes generates gibberish sound at the end.

May i ask if this bug is expected for the current Tacotron 2? Or do we have any way to fix this ?

Thank you a lot!

[2020-07-02 12:48] sw005320 commented on #2136
Yes, we're planning to implement the variants of the streaming modes, but it takes time to finish the project.

[2020-07-02 22:56] hchung12 opened #2143 "Error of default language model setting for espnet2 WSJ task"
In the default LM training configuration file "espnet/egs2/wsj/asr1/conf/tuning/train_lm.yaml", the best_model_criterion may be wrong:
best_model_criterion:
-   - valid
    - acc
    - max

It should be
best_model_criterion:
-   - valid
    - loss
    - min

[2020-07-03 00:44] kamo-naoyuki commented on #2143
Thanks! You are right.

[2020-07-03 03:06] #1809 closed

[2020-07-03 03:07] #1817 closed

[2020-07-03 03:07] #1818 closed

[2020-07-03 09:50] housebaby commented on #1860
Ok . Thank you . I have reported the problem in warp transducer.
 Another quesion to bother. Is accum-grad related to num of Gpus or batch size? How to set this parameter ?

[2020-07-03 13:29] WanderingSven commented on #1888
it works now @housebaby

[2020-07-03 17:02] sw005320 opened #2146 "CTC align test often failed"
@simpleoier, `test_utils/integration_test_ctc_align_wav.bats` often failed....
Do you have some ideas to fix it?
[code]

[2020-07-03 20:07] sw005320 commented on #2146
Now, it's even worse.

[code]

My guess is that we may avoid including the download of such a large file in CI.
@simpleoier, do you have some ideas?
We may make a smaller model for this particular integration test.

[2020-07-03 20:09] simpleoier commented on #2146
Yes, I was thinking that the reason is because the `download_from_google_drive.sh` cannot download wsj.transformer.v1. I'll think of another way.

[2020-07-03 20:15] simpleoier commented on #2146
Before this problem being solved, I think it's better to disable the test of ctc_align for others.

[2020-07-03 20:17] sw005320 commented on #2146
Sure. I'll do it.

[2020-07-03 20:20] simpleoier commented on #2146
Thank you.

[2020-07-04 02:08] JiayiFu opened #2147 "The GPU-Util is a little low when I training the model using Librispeech recipe."
Hi all,
  I'm new to espnet and if I ask some stupid questions, I hope you don’t mind.
  I'm trying to use the Librispeech recipe of the master branch to do some experiments. But I found the GPU-Util is a litter low, about: 40%-50%. I'm training the model on an 8-GPUs(1080Ti) server and the log shows the total training time is about 5-6 days.
  My system info is Ubuntu 18.04, Cuda 10.0, Cudnn 7.6,

[2020-07-04 03:54] mailong25 opened #2148 "Adding more training data to improve speech quality?"
Hi there

I'm currently building an Vietnamese TTS apps with FastSpeech (Text2Mel) + Multi-banned GAN (Vocoder) using character-based. The number of training hours is around 10 hours.

The inference speed is super fast, but the speech quality is not good, compared to Tacotron2+WaveGlow.

**Do you think increase the amount of training data (x2 or x3) will bring a big improvement on the speech quali

[2020-07-04 05:36] astikbiswas opened #2151 "TypeError: 'kenlm.State' object is not subscriptable"
Hello All,

I have been trying to follow aishell/asr1/run.sh recipe to implement n-gram scorer using kenlm. Everything went fine. However, I have encountered an error during decoding as given below:
 2020-07-03 15:16:48,343 (recog:133) INFO: (1/514) decoding engsot_00002_u00001_engsot
2020-07-03 15:16:48,607 (beam_search:353) INFO: max output length: 54
2020-07-03 15:16:48,607 (beam_search:354) IN

[2020-07-04 07:28] ming024 commented on #2019
@sw005320 I just finished my PyTorch implementation of [FastSpeech2](https://github.com/ming024/FastSpeech2).

The implementation mostly follows the paper. You can find my samples [here](https://ming024.github.io/FastSpeech2/). I think it is good enough but still slightly inferior to @dathudeptrai 's implementation.

[2020-07-04 07:51] dathudeptrai commented on #2019
@ming024 i will take a look ur implementation and help you reproduce my results. BTW, it's hard to compared ur samples and my samples since you using **waveglow** as vocoder which is much **larger** and **slower** than the vocoder i'm using (MB-melgan). Quick glance ur samples, it's ok but somehow i feel there is no **stress**, i guess the problem is ur f0 predicted is overfit or it always predict

[2020-07-04 19:25] #2126 closed

[2020-07-04 19:39] rishikksh20 commented on #2019
Checkout I got decent result by combining MelGAN and WaveGlow with FastSpeech 2 trained @ 58k step with batch of 16 here:
https://colab.research.google.com/drive/1dmGAR0C9xPSFT0G_PEsBlWR7Vatc3N5U?usp=sharing
My implementation based on ESPNet's Fastspeech.

[2020-07-05 04:07] lyjzsyzlt opened #2152 "About segment and window streaming implementation"
Could you tell me the implementation of segment and window streaming recognition in espnet based on which papers?

[2020-07-05 04:56] #1851 closed

[2020-07-05 16:52] #2143 closed

[2020-07-06 05:39] astikbiswas commented on #2151
Update: I did encountered this problem only when I choose **--ngram-scorer "part"**. If I set **--ngram-scorer "full"**, it is working fine.

[2020-07-06 07:46] jubang0219 opened #2154 "Performance when #bpe is increased."
Hi there,

I'm investigating the performance of Korean speech data (960 hours) according to various #bpe.
(Our data consists approximately 2,300 characters (=syllables in Korean).)

So, I'm training the transformer model by increasing #bpe to 2.3k, 5k, 8k, 10k, and 12k.
(The same parameter setting, only #bpe is different.)

But, I observed that training is performing strangely, when #bpe is 10k an

[2020-07-06 13:46] sw005320 commented on #2154
I think such strange behaviors can be fixed by tuning either of the following parameters
[code]
This would not be due to the small amount of training data.

[2020-07-06 13:49] sw005320 commented on #2151
Thanks for your report (and thanks for testing our new function).
@qmpzzpmq, could you take a look at this issue?

[2020-07-06 13:51] kan-bayashi commented on #2154
I think one of the reasons of the strange behavior is `batch-bins: 12000000`.
If you change the BPE size while fixing batch-bins, the actual batch size will be small.

[2020-07-06 13:51] sw005320 commented on #2152
The implementation is based on this technique
https://ieeexplore.ieee.org/abstract/document/9054358/
However, this technique only uses utterance-level streaming based on VAD.
We're planning to implement several streaming techniques, which have some latency control based on the window size.

[2020-07-06 13:55] sw005320 commented on #2154
You're right.
Now, I understood this strange behavior well.
Instead of tuning the above hyperparameter, please tune batch-bins (make it higher).
Check the documentation about batch-bins.

[2020-07-06 13:56] kan-bayashi commented on #2148
The performance may be improved but not no significant, I think.
Especially, in the case of the vocoder of the single speaker, 10 hours of data is enough to train.
Why don't you try with phoneme-based modeling? That will improve the pronunciation.

[2020-07-06 14:00] lyjzsyzlt commented on #2152
ok,thank you~

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Shinji Watanabe"<notifications@github.com&gt;;
发送时间:&nbsp;2020年7月6日(星期一) 晚上9:52
收件人:&nbsp;"espnet/espnet"<espnet@noreply.github.com&gt;;
抄送:&nbsp;"爱可乐的松鼠"<444190504@qq.com&gt;;"Author"<author@noreply.github.com&gt;;
主题:&nbsp;Re: [espnet/espnet] About segment and window streaming implementation (#2152)

The implementatio

[2020-07-06 14:08] qmpzzpmq commented on #2151
yes, I will check it later. Thanks for you feedback @astikbiswas

[2020-07-06 15:16] jubang0219 commented on #2154
Thank you for your comments.

I understood that the batch-bins is related to the output dimension (#BPE).

_# Batch bins :: Dynamic batch size depending on size of samples
batch-bins = avg batch-size * (mean_out * dim_out + mean_in * dim_in)_

Based on your comments, I will increase the "batch-bins" from 12M to 18M.
And, if the OOM problem occurs, I will increase #gpus from 4 to 6. (<- is this oka

[2020-07-06 16:51] sw005320 commented on #2154
Yes, you're right.
But probably, you can get some normal behaviors when you try to increase the batch size to the limit of the GPU memory.
Then if you still encounter the strange learning curve behavior, tuning the following hyperparameters is another option.
[code]

[2020-07-06 16:55] sw005320 commented on #2147
Could you check https://espnet.github.io/espnet/tutorial.html#multiple-gpu-tips?
Usually, `--n-iter-processes` will solve this issue.

Please follow https://espnet.github.io/espnet/installation.html#step-4-installation-check

[2020-07-06 17:00] sw005320 commented on #2137
Could you check ` GPU-Util` in the `nvidia-smi`?
If the GPU usage is low, it may be a bug.

[2020-07-06 17:02] sw005320 commented on #2121
I encountered the same problem, which is recently introduced in Kaldi.
I'll report it to Kaldi people, but you can avoid this by directly editing `validate_data_dir.sh` as follows for now:
`non_print=true`

[2020-07-06 17:25] sw005320 commented on #2138
Are you using a pre-trained model or did you train it by yourself?
Yes, this is a known issue in Tacotraon 2 TTS, but a good model (e.g., espnet pre-trained models) with normal prompts do not often have such issues.

[2020-07-06 17:27] sw005320 commented on #2135
You can find it at https://github.com/espnet/espnet/pull/818.
It is based on old espnet and it may not be working easily.

[2020-07-06 17:27] tranctan commented on #2138
Hi, thanks for coming by !

I used pre-trained model that are trained on JSUT corpus, both Tacotron 2 and ParallelWaveGAN.

[2020-07-06 17:29] sw005320 commented on #2138
OK. What kind of the text input causes such an issue?

[2020-07-06 17:31] sw005320 commented on #2019
Thanks, @rishikksh20!
Are you still interested in contributing espnet?

[2020-07-06 17:48] rishikksh20 commented on #2019
@sw005320 Yes, I just at last stage of finish up FastSpeech2 at my repo, then I will work on ESPNet. Actually, architectural changes are quite simple only challenge is to incorporate the extra pre-processing of FastSpeech2 (`energy and pitch calculation`) with espnet's pre-processing. I will work on this and probably raise PR around this weekend.

[2020-07-06 17:58] sw005320 commented on #2019
Many thanks.
We actually want to discuss how we proceed with it.
As you may know, now we try to switch from espnet1 to espnet2 and want to think of developing on new implementations in espnet2 as much as possible.
Espnet2 does not change the internal model description and high-level concept is similar but it makes the development easy, simple, and scalable. @kan-bayashi is working on porting sever

[2020-07-06 18:42] rishikksh20 commented on #2019
@sw005320 Frankly, I think it's good decision as espnet1 seems very confusing, too many functions and jumbled, Kaldi & Chainer like dependencies make it more difficult to understand proper structure for newbie. Great to see new development approach as espnet2, it's much more pytorch friendly structure and removing Kaldi is big relief.
On point I don't have any problem to implement FastSpeech2 with

[2020-07-06 18:56] sw005320 commented on #2019
Yes.
It will be merged soon.

[2020-07-07 01:30] BuaaAlban commented on #2137
As s matter of fact, it has been running for 3 days with nj=2 for decoding, and there is no log for decoding part, the usage is always 100% .

Every 0.1s: nvidia-smi                                                                                                                                               Tue Jul  7 09:29:06 2020

Tue Jul  7 09:29:07 2020
+----------------------------------------

[2020-07-07 02:05] qmpzzpmq commented on #2151
@astikbiswas could you test  --ngram-scorer "part" in aishell egs? I tried it in aishell egs with "part" ngram-scorer, it looks fine.

[2020-07-07 03:20] JiayiFu commented on #2147
Thx for your relay. I will check these tips and compare the speed performance.

[2020-07-07 04:28] JiayiFu commented on #2154
Maybe change the batch mode from bins to sequences or frames can eliminate the impact of BPE number on batch size.

[2020-07-07 04:33] JiayiFu commented on #2154
Hi @sw005320, I found the librispeech recipe also uses the same transformer-lr and transformer-warmup-steps values, 10.0 and 25k. When there are more or fewer data, how to tune these hyperparameters?

[2020-07-07 04:56] astikbiswas commented on #2151
Thanks for response @qmpzzpmq. I did ran an experiment with a subset of aishell data using aishell egs recipe and encountered same problem when using default part option. Decoding log is:
------------------------------------
   # asr_recog.py --config conf/decode.yaml --ngpu 0 --backend pytorch --batchsize 0 --recog-json dump/test/deltafalse/split12utt/data.1.json --result-label exp/train_sp_pytor

[2020-07-07 05:33] kamo-naoyuki commented on #2121
Should we fix kaldi version? I think the updating of Kaldi is unnecessary for us.

[2020-07-07 07:01] housebaby commented on #1888
How to make it work. Update warp_transducer or update espnet. I am using espnet1

[2020-07-07 07:06] BuaaAlban commented on #2137
It was caused by the default decoding beam size, 60 is too big and too slow.
I set it to 5 to speed up the decoding

[2020-07-07 07:09] BuaaAlban commented on #2137
BTW, the slow decoding is not a bug,  but the previous unmatched tensor type (cuda) might be a bug, I will close the issue and If you have time you can check this bug for librispeech transformer decoding.

[2020-07-07 07:09] #2137 closed

[2020-07-07 07:09] qmpzzpmq commented on #2151
@astikbiswas Could you update to the newest version? It seems already fixed by new ngram batch PR

[2020-07-07 09:18] astikbiswas commented on #2151
My Espnet version is not older than two week. However I will do as per your suggestion. Thanks @qmpzzpmq .

[2020-07-07 18:13] sw005320 commented on #2154
You can decrease `transformer-lr`.

[2020-07-08 06:43] gnlenfn opened #2156 "Is there any recipe provides knowledge distillation for ASR?"
Hello,

I'm planning to adopt knowledge distillation on asr.
Is there any recipe to use in espnet?

[2020-07-08 07:51] BuaaAlban commented on #1651
accum-grad: 4
adim: 64
aheads: 8
backend: pytorch
#batch-bins: 15000000
batch-bins: 100000
dlayers: 2
dropout-rate: 0.1
dunits: 2048
elayers: 8
epochs: 120
eunits: 2048
grad-clip: 5
lsm-weight: 0.1
criterion: loss
mtlalpha: 1.0
model-module: espnet.nets.pytorch_backend.e2e_asr_transducer:E2E
etype: transformer
dtype: transformer
opt: noam
patience: 0
sortagrad: 0
transformer-attn-dropout-rate-enco

[2020-07-08 09:17] jubang0219 commented on #2154
Thank you for your advice.

I got the normal behaviors when I 1) increased the batch-bins, 2) decreased the learning-rate, or 3) increased the warmup-steps.

![acc_new](https://user-images.githubusercontent.com/21096732/86900916-e90c7280-c146-11ea-8987-071bc86d769a.png)

Thanks.

Bang

[2020-07-08 09:18] b-flo commented on #1651
Hi,

You can reduce a lot of things to reduce memory usage: batch-bins / batch size, number of layers and units in each, adim, aheads, etc. The main limitation in transducer being the joint procedure part. You can also reduce input and output lengths as @sw005320 suggested:

Btw, your config is missing `joint-dim` parameter. You may want to modify it.

[2020-07-08 09:21] #2154 closed

[2020-07-08 09:37] BuaaAlban commented on #1651
Thanks for your advice,   I have reduced the number of layers compared to the setting of the original paper.
And the input and output lengths  setting is default '--maxframes 3000 --maxchars 400'.
I have a question about  the joint procedure part , because it is only some FC，why you think it's the limitation?
BTW, I do miss the 'joint-dim' parameter, and do you have some offical documents for batc

[2020-07-08 09:51] b-flo commented on #1651
Well the problem is not the FC part, it's the matrices you're manipulating. For example, before applying tanh and last FC the matrix shape is: `(B, max(T), max(U), joint_dim)`. It can easily blow up memory if you have some relatively long input/output lengths

[2020-07-08 09:57] BuaaAlban commented on #1651
Thanks a lot, I see. There is an expanding of dimension for the lattice during training. which make it expanded from 3 d tensor to 4 d tensor. And in this process, OOM easily occurred,  do I understand right?

[2020-07-08 10:09] b-flo commented on #1651
Yes, hidden representation for encoder (`B, max(T), enc_dim`) and decoder (`B, max(U), dec_dim`) are expanded (`B, max(T), 1, enc_dim`, `B, 1, max(U), dec_dim`), linear transformation is applied to both (`enc_dim` -> `joint_dim`, `dec_dim` -> `joint_dim`) and then broadcasting is done. Resulting in the matrix shape I mentioned.

[2020-07-08 10:16] BuaaAlban commented on #1651
Thanks a lot, at the same time, it meets OOM again lol, I have change joint-dim from 320 to 240, hope this setting can work.
BTW, transformer transducer seems hard to reproduce due to memory limitaion.( my GPU is 4*16 G, and always meet OOM)

[2020-07-08 10:47] b-flo commented on #1651
Yeah, most of the papers from the GAFAM using RNN-T or T-T use GPUs/TPUs with a lot of VRAM, some are hard to reproduce. Btw, note that more GPU won't fix the memory problem as batchsize will be multiplied according the number of GPUs before parallelization.

There are several techniques to reduce memory usage in transducer architecture. I already have some work in progress but it's pending until

[2020-07-08 10:50] sw005320 commented on #2154
Thanks!
This is a very good TIPS!

[2020-07-08 13:04] AdolfVonKleist commented on #2154
This is not directly related to espnet, but the topics in this thread are also addressed in a general fashion in this paper:

Training Tips for the Transformer Model
* https://arxiv.org/abs/1804.00247

which is definitely interesting, and worth reading IMO if you have not come across it yet.

[2020-07-08 13:27] sw005320 commented on #2156
We don't have such a recipe in ASR, but the TTS based on fastspeech https://github.com/espnet/espnet/search?q=knowledge+distilation&unscoped_q=knowledge+distilation uses knowledge distillation, and you may check it.

[2020-07-08 18:04] gnlenfn commented on #2156
Thanks for the reference.
Actually, I'm pretty new in KD.
Is it possible to make KD with  of tts to asr?

[2020-07-08 21:10] sw005320 commented on #2137
Thanks.
We'll have some follow up.

[2020-07-09 04:43] gafsd opened #2159 "TTS training with small datasets"
Hello, I am trying to use transfer learning with your pretrained tacotron v4 model on a small phoneme-based dataset (1 hour) and just wondering how to optimise this. It trains pretty well and quickly but the final model sometimes has issues generalising and will change pitch/fade away in long sentences even though attention looks good in training. What can I change to improve this?

Thoughts:
- I

[2020-07-09 06:14] BuaaAlban commented on #1651
I still wonder if joint net is the bottleneck of the Memory, why LSTM transducer doesn't have this OOM problem

[2020-07-09 06:43] b-flo commented on #1651
Obviously the joint procedure is not the only reason you will end up with an OOM, but the procedure is memory-wasteful by "default". Large linear layers, feeding long sequences to RNN (more so bi-RNN), holding temporary large tensors among other things are ones of the most memory consuming things. You also have to take into account batchsize, number of network parameters, etc.

[2020-07-09 06:53] b-flo commented on #1651
Btw, if you see something done incorrectly or inneficiently feel free to open an issue to point it out! Any help or advice is welcomed :)

[2020-07-09 06:57] BuaaAlban commented on #1651
Thanks a lot, your work is great, I will point out if I have any suggestion to make it better.

[2020-07-09 06:59] JiayiFu opened #2160 "Use GPU decoding but raise CUDA error: all CUDA-capable devices are busy or unavailable"
Hi,
    I'm running the LibriSpeech recipe. Up to stage 4, all went well. Next, I run stage 5 for decoding.
    I modified the run.sh refer to https://espnet.github.io/espnet/tutorial.html#use-of-gpu:
        1. remove ngpu=0; 2. set batch-size=1 and then run the cmd:`run.sh --stage 5 --ngpu 1 --nj 1`.
    It failed and returned an error:

[code]

But the training stages(stage 3 and 4) can run wil

[2020-07-09 07:15] tranctan commented on #2138
Sorry for the late response. Here is what i tried:

`多くの異なる質問をすることで彼と話し始めることができます。 何か面白いものから始めましょう。 言ってみて`

I tried generates this sentence for multiple times (20 times), and half of the times it ends up with gibberish sound at the end.

[2020-07-09 12:48] sw005320 commented on #2138
I don't know whether you can read Japanese, but anyway, the above examples include three sentences.
`。` means the period in Japanse.
I also checked the original JSUT training sentences and they are base on **one** sentence.
So, the pre-trained model may behave irregularly if you throw multiple sentences at the same time.
My suggestion is to generate the sentence one-by-one, instead.

[2020-07-10 03:47] tranctan commented on #2138
Thanks for your suggestion ! I understand what you mean, but here's another trial, this sentence pattern is as same as the sentences in JSUT corpus:
`計画をたてることとそれを実行する事は、言ってみて。`

After the 3.5 seconds, the gibberish sound is generated.
![1](https://user-images.githubusercontent.com/42478131/87114295-6d233f00-c29a-11ea-9847-3382cdde252f.png)

[2020-07-10 04:49] wxt1997 opened #2162 "'mtl_mode' in espnet/asr/pytorch_backend/asr.py"
Is this should be 'elif' in ctc mode? Otherwise, the "transducer" mode is not used. The source codes are as follows:
`if " transducer" in args.model_module:
    assert args.mtlalpha == 1.0
    mtl_mde = "transducer"
    logging.info("Pure transducer mode")
if args.mtlalpha == 1.0:
    mtl_mde = "ctc"
    logging.info("Pure CTC mode")`
Another question: why we must use ctc in transducer mode ?

[2020-07-10 04:56] wxt1997 commented on #2162
[code]

[2020-07-10 08:14] vikrantsharma7 opened #2163 "Q: egs2 still largely mentions Kaldi dir structures"
I was under the assumption that espnet2 would largely be kaldi-free, but the TEMPLATE readme still has a huge section devoted to Kaldi data directory structures.
At least for TTS,  the LJSpeech directory structure is quite usable and straightforward and yet there are a bunch of steps just to transform the data to Kaldi expectations.
It may be beneficial for combining ASR and TTS "recipes", is what

[2020-07-10 08:39] b-flo commented on #2162
Hi,

Thanks for pointing it out, I found out another typo after checking the file. I'll add the fixes in my current PR.
Btw, bote that it doesn't impact transducer training, only the log message displayed.

Short answer: because ESPnet ASR was created and designed for CTC/Attention MTL. It was easier to base transducer mode on CTC mode rather than making global changes or duplicating a lot of part

[2020-07-10 09:18] kamo-naoyuki commented on #2163
We meant Kaldi-free by independent from the executable binary file of Kaldi and it doesn't mean discarding Kaldi style.

The benefit is that we can run experiment without compiling Kaldi and, for ASR, we can inference without Kaldi, that means, we can inference only using Python.

I'm not sure what you desire. Even if we discarded kaldi style and selected any other formats, there are still a trasf

[2020-07-10 09:22] wxt1997 commented on #2162
Thanks for your awesome work!
I noticed that in `espnet/asr/asr.py` the use of transducer is to jump directly to `espnet/nets/pytorch_backend/e2e_asr_transducer.py` through `espnet/utils/dynamic_import.py` and the `mlt_mode` in asr.py is uselss.
Therefore, is it possible to create a pure transducer without ctc by making some changes on `espnet/nets/pytorch_backend/e2e_asr_transducer.py` without ch

[2020-07-10 09:45] b-flo commented on #2162
`mtl_mode`, which is defined by `mtlalpha`, in `asr.py` controls several things such as used criterion and trainer definition! It may be easier to do a "pure" transducer mode now though, I'll have to check recent changes as I'm not up-to-date on some general modifications done is last months.

[2020-07-10 11:23] #2163 closed

[2020-07-10 13:23] sw005320 commented on #2138
I see. @kan-bayashi, could you give us some comments?

[2020-07-10 13:28] kan-bayashi commented on #2138
I could not understand from the figure but it seems that stop prediction is failed.
You can try `use-att-constraint: true` or adjust the `threshold`.

[2020-07-10 13:32] kan-bayashi commented on #2159
Short utterance is OK? In that case, you can try `use-att-constraint` to make the long sentence generation stable.

In the case PWG, fine-tunning with a small amount of training data works well.

[2020-07-10 13:46] gafsd commented on #2159
I am already using this for vocoder inference:
"threshold": 0.5,
"minlenratio": 0.0,
"maxlenratio": 15.0,
"use_attention_constraint": True,
"backward_window": 1,
"forward_window": 3,

Short utterance <2s is usually ok but long deteriorates. https://www.dropbox.com/s/gcz3e2hknt0ljzu/individualImage.png?dl=0 example attention during training (not perfect but I expected reasonable output). I am tryin

[2020-07-10 13:51] kan-bayashi commented on #2159
OK.
How was the preprocessing of your dataset?
You must carefully check the unnecessary silence.
Especially, if there is a silence which does not correspond to any token, that affects the performance.

[2020-07-10 13:57] gafsd commented on #2159
The dataset is not high quality recording and there is some background noise (unavoidable) but I have tried to remove all unnecessary silence. There may be some silences of 20ms or so at the start of some recordings - is that ok?

Example waveform:
![Capture](https://user-images.githubusercontent.com/62999745/87162307-54e20d00-c2f8-11ea-91ce-ed79b2495fe1.PNG)

[2020-07-10 20:56] #2162 closed

[2020-07-11 01:13] #1854 closed

[2020-07-11 10:04] wxt1997 opened #2166 "Transformer encoder with rnn attention ecoder is not supported yet"
May I ask the reason for ESPnet does not supported Transformer encoder in rnnt-att is the attention type will include both `MultiHeadedAttention` and attention types in `espnet/nets/pytorch_backend/rnn/attentions` ?

And an error occured when I run a `etype=Transformer`, `dtype=Transformer`, `rnnt_mode=rnnt` transducer model and returned:
[code]
I don't understand why the `att_w` is a 'str' type.

[2020-07-11 10:18] wxt1997 commented on #2166
It seems that the return from `e2e_asr_transducer.calculate_all_attentions` is a `dict`, and when `att_w` is emumberated from `att_ws`, it becomes a 'str' which is a layer name.

[2020-07-11 12:06] wxt1997 commented on #2166
I already fixed it by pointing `att_ws` is a `dict` in `/home/oshindo/espnet/espnet/asr/asr_utils.py`, maybe it's a bug.

[2020-07-11 13:44] b-flo commented on #2166
I don't recall the specific reason but it was due to some incompatibility between `MultiheadedAttention` and other attention used in RNN decoder. I

[code]

In master branch? That is weird, the only time I met this error was... well yesterday evening in an integration test when I push a fix related to our discussion in #2162. But it's not merged.
The problem start within `asr.py`, I'm currently wo

[2020-07-11 14:14] wxt1997 commented on #2166
Really thanks for your awsome work!

What is the meaning of incompatibility? I thought it will be easier to find an attention-type like `AttAdd` in `rnn/attentions` with `MultiheadedAttention` together in `e2e_asr_transducer.calculate_all_attentions`.

Emm, actually it's not a big deal. I just add a sentence like `att_w_npy = att_w[key]` in `asr/asr_utils.PlotAttentionReport.get_attention_weights`

[2020-07-12 03:19] kan-bayashi commented on #2019
Hey guys, thank you for sharing great samples.
I finished the initial setup of ESPnet2 TTS. so I will start to implement FastSpeech2.

[2020-07-12 03:36] kan-bayashi commented on #2019
I briefly checked @ming024 and @dathudeptrai implementation.
It seems that the main difference is the quantization of f0 and energy.
Did you check the effectiveness of the quantization? @ming024 @dathudeptrai

[2020-07-12 03:40] dathudeptrai commented on #2019
@kan-bayashi yes i checked. The way you using f0/energy is the key to reproduce fastspeech2. If ur f0/energy overfit too much, ur samples is still ok but as i said above, the samples tend to be no **stress**

[2020-07-12 04:10] kan-bayashi commented on #2019
@dathudeptrai Thanks. So your conclusion is quantization is not needed?

[2020-07-12 04:16] dathudeptrai commented on #2019
@kan-bayashi quantization is just a one way to using f0/energy. The most important thing is the range of f0/energy and the number of bins.  The paper use n_bins = 256 but not mention about the range min max. In my experiment, if f0 in range [0, 7600] and n_f0_bins = 256, based on the valid loss, my f0 has deviation around 6-10 bins :)) that is too much and explain why on the real inference, the au

[2020-07-12 04:27] kan-bayashi commented on #2019
I see. F0 range is very important to avoid half pitch or double pitch.
We need to tune the range w.r.t. the target speaker as the same as voice conversion.
(Extract f0 -> check histogram -> refine the F0 range).
For example, in this case, 140 - 340.
<img width="628" alt="スクリーンショット 2020-07-12 午後1 26 04" src="https://user-images.githubusercontent.com/22779813/87238871-43f1e280-c443-11ea-97bd-3065101

[2020-07-12 04:44] dathudeptrai commented on #2019
@kan-bayashi yeah, i also tried to clip f0 to 40> 400 based on historam visualization then take log(f0) then quantization to 256 unique value. Note that we use the real log(f0) to train, when inference we just need to lookup it into 256 value. But in my mind, the real important factor is the a = (log(f0_max) - log(40)) / n_bins. For example, f0_max = 400, f0_min = 40, n_bins = 256 then a = (2.6 -

[2020-07-12 04:47] kan-bayashi commented on #2019
Yeah, maybe the use of large bins with adjusted range brings improvement but makes it difficult to predict.
It seems that there is a trade-off.

[2020-07-12 04:53] dathudeptrai commented on #2019
@kan-bayashi if  you can't make it work as paper suggest :)), let work together to make our implementation synchronized :)). Since my framework now support TFLIte for inference on mobile/low-end devices so it's good if user want to training by pytorch but still want to deploy on mobile devices :D.

[2020-07-12 08:08] rishikksh20 commented on #2019
@kan-bayashi actual problem is to train f0 and energy without overfitting, I did 5 experiments like `adjusting different range for bins, use normalized f0 and energy, changing the threshold to calculate f0, etc` to train f0 and energy differently with exact paper details but the only problem in all is after 60k (batch=16, accum_grad=4) both variation predictor start overfitting and after 120k step

[2020-07-12 08:12] dathudeptrai commented on #2019
@rishikksh20 you can not use predicted f0/energy to train since it doesn't have gradient unless you train fp/energy the same as my repo.

[2020-07-12 08:17] rishikksh20 commented on #2019
I know What I say instead of using GT use predicted values I don't want to say train Variation Adaptor on Mel loss.

[2020-07-12 09:58] rishikksh20 commented on #2019
@dathudeptrai Have you start working on `fastspeech2s` ?

[2020-07-12 10:01] dathudeptrai commented on #2019
@rishikksh20 finished but confic of interest so ... i have a plan to play with EATS instead

[2020-07-12 10:42] b-flo commented on #2166
Sorry, I had other things to deal with.

What I mean by "incompatibility" is that some issues occurred due to the use of MultiheadedAttention coupled to other attentions, but I can't recall. I may investigate after my current PR, to be honest it wasn't a priority at that time.

In `asr.py`, these conditions seems wrong to me: https://github.com/espnet/espnet/blob/master/espnet/asr/pytorch_backend/

[2020-07-12 11:44] rishikksh20 commented on #2019
@dathudeptrai I actual I am about to complete the implementation but one hurdle is there, the author didn't mention the kernel size, padding, and stride for the first Transpose Convolution layer only mentioned the number of filters i.e 64, do you have any idea regarding this?

[2020-07-12 17:47] unilight opened #2169 "Multi-GPU training failure with PyTorch 1.5.1"
E.g. in `egs/libritts/tts1`, `$ CUDA_VISIBLE_DEVICES=0,1 ./run.sh --ngpu 2 --trans_type phn` will result in the following error in the log file,
[code]

According to this issue: https://github.com/pytorch/pytorch/issues/40457 , a quick fix is to use PyTorch 1.4.0.
But as the answer states, https://github.com/pytorch/pytorch/issues/40457#issuecomment-648396469 , accessing model parameters with `par

[2020-07-13 10:08] tranctan commented on #2138
Hi ! Thanks for your suggestion!

I tried playing around with `threshold` and `use-att-constraint`.

The change `use-att-constraint` to `true` seemed not affecting anything.

I tried adjusting the `threshold` and the best value could be **0.045**, it really reduces the chance of gibberish sound generated at the end (although not 100%). However, there's another problem of too-low `threshold`, that

[2020-07-13 10:53] Jxu-Thu opened #2172 "How to debug in espnet code"
How can I use debug tool like. 'PDB' to debug codes?

[2020-07-13 18:32] sw005320 commented on #2169
Thanks for the report, @unilight.
I think this would not be a serious issue in the near future once we start to use espnet2 (espnet2 [`to_device`](https://github.com/espnet/espnet/blob/536d163870e29ea52bbaa4cc0b03cfc407df0c0b/espnet2/torch_utils/device_funcs.py#L8) does not use the `parameter()`).
So, I'll leave it as it is for now.

[2020-07-13 19:38] sw005320 commented on #2172
I'm often using `pudb`. Then, my way is as follows:

1. set a path `. ./path.sh`
2. install `pudb` by `pip install pudb` (only first time)
3. get a full command argument from the log file, e.g. the third line in `head exp/exp/train_nodev_pytorch_train_mtlalpha1.0/train.log`
4. execute it with `pudb3 ../../../espnet/bin/asr_train.py <full command arguments>`

[2020-07-14 03:56] #1994 closed

[2020-07-14 03:57] 200987299 commented on #1994
it an issue caused by not extracting data folders properly. Thanks for your time!

[2020-07-14 06:29] qmpzzpmq opened #2173 "StreamingTransformer"
is possible to merge this repo's work into espnet
https://github.com/cywang97/StreamingTransformer

[2020-07-14 14:17] Jxu-Thu commented on #2172
Thanks for your kind reply!

[2020-07-14 15:52] gafsd commented on #2159
@kan-bayashi I wonder if this is result of text preprocessing? In my dataset I have removed all punctuation except apostrophe (no full stops or commas due to transcription process). Would adding 'fake' punctuation based on perceived sentence boundaries improve things do you think?

[2020-07-14 19:38] seanle24245 opened #2174 "Multi-Speaker Tacotron 2 Tensor Size Mismatch"
I'm trying to use the pre-trained multi speaker tacotron 2 combined with extracted speaker embeddings to produce individual speaker's voices.  I have the speaker embeddings stores in a .pkl file, and I am choosing one at random to produce.  Most of my code is identical to the TTS colab demo, except that I have changed the model and dict path to the respective places in the multi-tacotron2 folder.

[2020-07-14 19:57] sw005320 commented on #2173
Many thanks.
This looks very interesting.
I'm thinking of implementing some streaming ASR in the near future with espnet2.
@hirofumi0810 has a very good technique https://arxiv.org/pdf/2005.04712.pdf https://arxiv.org/pdf/2005.09394.pdf and he is planning to implement it in espnet2
Sony and I also have some recent efforts of streaming ASR https://arxiv.org/pdf/2006.14941.pdf
This is also based on

[2020-07-15 03:27] r406 opened #2175 "Training TTS on Korean langauage"
I would like to train the TTS with korean language speaker similar to that of of ljspeech using conf/tuning/train_pytorch_tacotron2.v3.yaml. Kindly could you guide on how to process the korean text data associated with audio recordings.

[2020-07-15 08:57] #2166 closed

[2020-07-15 08:58] #2172 closed

[2020-07-15 10:05] #2152 closed

[2020-07-15 10:05] #2120 closed

[2020-07-15 12:29] kan-bayashi commented on #2159
If your data includes pause which does not correspond to any symbol, it causes performance degradation and blurred attention. It is better to consider adding some punctuation.

[2020-07-15 12:30] gafsd commented on #2159
How long pause do you consider? Because the transcription has no punctuation I will have to add in commas and fullstops based on pause length.

[2020-07-15 12:33] kan-bayashi commented on #2159
I have no idea about the clear definition of the pause length.
Maybe more than a few frames.

[2020-07-15 12:39] kan-bayashi commented on #2174
How did you extract x-vector?
I want to know the `sps.shape`.

[2020-07-15 13:17] seanle24245 commented on #2174
I'm using @mapa17 's xvector_extractor.py linked here: [https://gist.github.com/mapa17/aa9ef769d8b1a906e75908e9686513a3](https://gist.github.com/mapa17/aa9ef769d8b1a906e75908e9686513a3)

For my last run I got `torch.Size([461])` for sps.shape.  Also the m1 dimension that I thought didn't change went from 3 to 5 this run.

[2020-07-15 13:49] ican24 commented on #2039
Dear @kan-bayashi,

Just I would like to say thank you and your and your team for great project.
All my issues were resolved!
Below is my last synthesized voice, which is really wonderful and practically natural like.
https://www.youtube.com/watch?v=7fVLj0Gsc8Q

I am fully satisfied with ESPnet quality and your team professionalism.  I'll recommend it to my friends with pleasure.

Now I am going t

[2020-07-16 01:51] kan-bayashi commented on #2174
Our used X-vector is 512 dimension.
So `sps.shape` should be `torch.Size([512])`.

[2020-07-16 07:39] Arafat4341 opened #2177 "Unsupported GPU architecture 'compute_30'"
I am trying to setup espnet on a google cloud machine with Ubuntu 20.04.
`NVIDIA-SMI 450.51.05    Driver Version: 450.51.05    CUDA Version: 11.0`

I am receiving an error while setting up:
`nvcc fatal   : Unsupported gpu architecture 'compute_30'`

Can anyone tell me the reason?!
Thanks in advance!

[2020-07-16 08:24] kamo-naoyuki commented on #2177
CUDA11 drops supporting of Kepler GPUs.

[2020-07-16 08:24] #2177 closed

[2020-07-16 08:31] Arafat4341 commented on #2177
@kamo-naoyuki Thanks for responding!
Can I install cuda10 for ubuntu 20.04 ?

[2020-07-16 08:36] kamo-naoyuki commented on #2177
See cuda documentation.

[2020-07-16 08:41] Arafat4341 commented on #2177
Yes I have seen.. For ubuntu 20.04 they give cuda11.
I am finding the answer: if I uninstall cuda11 completely and install cuda 10, will it work!
Just not finding the answer!
Sorry for bothering you!

[2020-07-16 10:10] ajaysg opened #2178 "How can I use custom data in Data Preparation pipeline?"

[2020-07-18 06:07] #1490 closed

[2020-07-18 06:07] #1892 closed

[2020-07-18 06:07] #1802 closed

[2020-07-18 15:49] ElinaBaral opened #2180 "Is the Multilingual ASR recipe in "li10" a Universal Speech Recognizer?"
Since the multilingual recipes seems to concatenate the data of different language and train them with the same ASR training script so I wanted to know if it works as universal speech recognizer or does it performs language identification task as a part of multitask learning by taking language code/set as language identifier.

[2020-07-19 06:07] 200987299 opened #2182 "espnet/egs/chime4 notes"
Dear all,

If you are going to run chime4 script, please be careful how you organized your export folder (data files). Make sure you generated isolated_1ch_track, isolated_2ch_track and the isolated_6ch_track according to the chime4 official website. Be aware that you need to delete the channel number part on all .wav files' name under 1 channel track folder. The Espnet recipe doesn't do that auto

[2020-07-19 12:00] alucassch opened #2183 "Report stats between iterations to tensorboard in espnet2"
Is it possible somehow to use see the training status log(loss, loss_att, loss_ctc, acc and valid, etc) like:
`[gpu01:0/2] 2020-07-19 08:49:04,080 (trainer:464) INFO: 1epoch:train:1-682batch: iter_time=2.878e-04, forward_time=0.134, loss=123.963, loss_att=77.448, loss_ctc=232.499, acc=0.013, backward_time=0.111, optim_step_time=0.030, lr_0=3.460e-06, train_time=1.816`
`[gpu01:0/2] 2020-07-19 08:54

[2020-07-19 12:43] kamo-naoyuki commented on #2183
Okay.

[2020-07-19 16:39] Jxu-Thu opened #2184 "asr librispeech's results is much better than reported results"
I follow librispeech ASR trainning recipe at espnet/egs/librispeech/asr1/run.sh.
I rerun run.sh and get the results as follows:
test clean

write a CER (or TER) result in ###/checkpoint_asr_nas/exp/train_960_pytorch_train_specaug/decode_test_clean_model.acc.best_decode_lm_no_avg/result.txt
|    SPKR           |    # Snt       # Wrd     |    Corr          Sub          Del          Ins           Err

[2020-07-19 16:41] #2184 closed

[2020-07-20 03:26] ReinholdM commented on #2160
Hi! Have you solved your problem? Did you attempt modifying _batchsize_ in `asr_recog.py`?

[2020-07-20 03:45] #2156 closed

[2020-07-20 04:11] nzhoward commented on #2107
I am also encountering the same issue with SGE. I have to manually change the name to something without a "/".

[2020-07-20 04:15] kamo-naoyuki commented on #2107
Sorry, I'll solve somehow if I have time.

[2020-07-20 04:15] Jxu-Thu opened #2186 "ASR support batch inference? Or any other methods to speed up inference?"
Espnet is a good codebase. Thanks very much!
But I find that It is slow for inference. It takes about 10 hours to infer test-clean dataset of librispeech (utterances = 2620)
Could espnet support batch inference?  (Or I haven't found it but already support?)

I run the codes follow espnet/egs/librispeech/asr1/run.sh

[2020-07-20 05:13] RuslanSel opened #2187 "FastSpeech training results gradually deteriorate"
I trained FastSpeech on Tacotron2 (custom dataset), but model gradually deteriorate.
https://www.sendspace.com/file/ce4trv - 10 epochs.
https://www.sendspace.com/file/ieel3r - 20 epochs.
https://www.sendspace.com/file/eyr5sz - 30 epochs.

Thanks in advance.

[2020-07-20 06:13] JiayiFu commented on #2160
@ReinholdM No, I haven't solved this problem. I tried to change the batch size to 1 but it still raised the same error. Did you meet the same problem? or do you have any solutions?

[2020-07-20 06:13] JiayiFu commented on #2184
@Jxu-Thu Hi Jxu-Thu, have you found the cause of this result? How about the results if you remove the LM fusion?

[2020-07-20 08:22] gafsd commented on #2159
Tried with reworked punctuation but still having issues. I wonder if my inference setup is wrong? I am using modified colab notebook for espnet 1.x.

https://gist.github.com/gafsd/0b397bdccb08b61078dda948092ef52d

[2020-07-20 10:39] Jxu-Thu commented on #2184
I am sorry that I made a mistake. The results was close to the published results.
The results above are only part of all sentences. (328 / 2260)

[2020-07-20 12:11] JiayiFu commented on #2184
@Jxu-Thu I get it. Thanks for your reply.

[2020-07-20 12:13] JiayiFu commented on #2184
@Jxu-Thu How about your results if you remove the LM fusion? The RESULT file doesn't contain the WER without LM. So I'm curious about this. :-)

[2020-07-20 12:34] kamo-naoyuki opened #2188 "Update chainer to v6.7.0?"
I'm ignoring the version conflict of protobuf between chainer=6.0.0 and tensorboardX in a long time because we doesn't use chainer except for its trainer and also note that we doesn't need to use tensorboardX because pytorch already includes its function. It's really waste of time to spend our energy for this topic.
However, now I faced a problem about version conflicting, so I must solve this pro

[2020-07-20 15:41] sw005320 commented on #2180
It's working as universal speech recognizer.
The recipe does not explicitly include the language ID token (https://github.com/espnet/espnet/blob/master/egs/li42/asr1/run.sh includes language ID tokens)

[2020-07-21 03:23] lvchigo opened #2190 "cuDNN error: CUDNN_STATUS_EXECUTION_FAILED"
- hi, when i test espnet-master/egs/yesno/asr1, error come: "cuDNN error: CUDNN_STATUS_EXECUTION_FAILED":
- `./run.sh --backend pytorch --ngpu 1 --verbose 0`
- cuda:10.0
- cudnn:7.5.0
- python version = 3.6.8 (default, Apr  2 2020, 13:34:55)
- [GCC 4.8.5 20150623 (Red Hat 4.8.5-39)]
- INFO: pytorch version = 1.0.1
- INFO: --> cupy version is matched (6.0.0).
- INFO: --> warpctc_pytorch version is

[2020-07-21 04:22] kamo-naoyuki commented on #2190
Maybe You didn't correctly install torch with cuda=10.0 simply.

[2020-07-21 05:47] lvchigo commented on #2190
@kamo-naoyuki
- i test pytorch with:
`
import torch
flag = torch.cuda.is_available()
print(flag)
ngpu= 1
device = torch.device("cuda:0" if (torch.cuda.is_available() and ngpu > 0) else "cpu")
print(device)
print(torch.cuda.get_device_name(0))
print(torch.rand(3,3).cuda())
`
- and result is :
`
True
cuda:0
GeForce RTX 2080 Ti
tensor([[0.8830, 0.0118, 0.4879],
        [0.6869, 0.9426, 0.1066],

[2020-07-21 05:53] kamo-naoyuki commented on #2190
This is not problem of espnet. If you can't solve your problem by yourself, ask at something like stack overflow or pytorch forum.

[2020-07-21 05:53] #2190 closed

[2020-07-21 06:01] kamo-naoyuki commented on #2190
Note that  even if torch is not correctly installed, in some cases you can use torch.cuda while cudnn doesn't work. I recommend you installing torch using conda. It is most easiest way to install with correct setup.

[2020-07-21 08:26] mindmapper15 opened #2191 "Synthesized audio quality is poor by using pre-trained WaveNet vocoder model"
I trained tacotron 2 model with LJSpeech Dataset with default setting.

Synthesized mel spectrogram seems to fine but when I converted synthesized mel spectrogram to audio with pre-trained WaveNet Vocoder model (ljspeech.wavenet.mol.v2) described in README page, the synthesized audio has very poor quality compared to synthesized mel spectrogram.

I extracted synthesized mel spectrogram from feats.

[2020-07-21 09:04] kan-bayashi commented on #2191
It seems something wrong.
Please check the following points:
- Are the feature setting the same among the models? (fmax, fmin, ...)
- Did you use normalized features? (not `denorm`)

[2020-07-21 09:06] kan-bayashi commented on #2191
For reference:
https://drive.google.com/drive/folders/1JFNZapygWsHiP2CXMjTraLzf98h-tEBF?usp=sharing

[2020-07-21 09:07] kan-bayashi commented on #2187
Could you provide the training curve?

[2020-07-21 09:42] RuslanSel commented on #2187
all_loss.png - [https://www.sendspace.com/file/2528kc](url)

[2020-07-21 10:28] mindmapper15 commented on #2191
I used ljspeech.wavenet.mol.v2 model which was trained with mel range 80 ~ 7600Hz
This mel range is same as default setting in LJSpeech TTS recipe in espnet.

I extracted mel spectrogram from egs/ljspeech/tts1/exp/char_train_no_dev_pytorch_train_pytorch_tacotron2/outputs_model.last1.avg.best_decode_denorm/feats.ark. As far as I know, this feature file contains synthesized mel spectrogram which is

[2020-07-21 10:33] kan-bayashi commented on #2191
Yes, that is de-normalized feature.
Please use outputs_model.last1.avg.best_decode/feats.ark as the  input of WaveNet.

[2020-07-21 11:24] lumaku opened #2192 "CTC-segmentation of large corpora"
In our work, we used the segmentation with CTC as originally proposed by Graves et al. in his original publication on CTC (for protein structures etc.).

With that, our approach to CTC-segmentation uses an ASR model pre-trained with CTC to boot-strap more training data from unsegmented or unlabeled training data.
Utterances are then extracted from label probabilities obtained from the network trai

[2020-07-21 16:27] okkteam opened #2193 "The loss_att is significantly less than other loss"
Hi, recently I noticed that the loss_rnnt is significantly less than other loss when I tried a multi task Transducer mode. For example:
`iteration` `main/loss_ctc` `main/loss_rnnt` `main/loss_att`
----100---------637.238---------732.851--------8.422218
----200---------631.205---------615.779--------8.46106

So is this a normal phenomenon？

[2020-07-21 19:42] sw005320 commented on #2193
@b-flo, could you answer it?
I'm also confused, but probably `loss_rnnt` is normalized by the length?

[2020-07-21 19:43] RuslanSel opened #2194 "Pretrained multi-speaker Tacotron2 with LJSpeech xvector"
I made xvector for 1272_128104 speaker from LJSpeech corpus (18 files) with sid/nnet3/xvector/extract_xvectors.sh.
Then I run tts_decode.py with pretrained model train_clean_460_pytorch_train_pytorch_tacotron2+spkemb.
Then parallel-wavegan-decode with ljspeech.multi_band_melgan.v1.
The resulting wav file on utterance LJ049-0008 from LJSpeech is not so good - https://www.sendspace.com/file/hzloas.

[2020-07-21 19:53] xkr1 opened #2195 "RNN-T beam search loop break condition possibly sub-optimal"
In the current implementation of the RNN-T beam search (https://github.com/espnet/espnet/blob/0fe5068a356f5e48beac25117fa1d6c2ad799452/espnet/nets/pytorch_backend/transducer/rnn_decoders.py#L214), analysing the code suggests to me that the following happens:

- At each timestep, pick the best existing hypothesis, new_hyp, from hyps and run prediction/joint network on final symbol using existing st

[2020-07-21 20:02] xkr1 opened #2196 "RNN-T greedy search cannot emit >1 symbol per time-step"
Regarding the implementation of the greedy decoder, I believe the following if statement should be replaced with a while loop:

https://github.com/espnet/espnet/blob/0fe5068a356f5e48beac25117fa1d6c2ad799452/espnet/nets/pytorch_backend/transducer/rnn_decoders.py#L201

The current implementation looks like it allows only one symbol to be emitted at each time step.

At each time step, if a non-blank

[2020-07-21 20:15] b-flo commented on #2195
Hi,

You're right, it could be a risk! After extensive test on several part of the algorithm, I found out the current condition was always satisfied but it could potentially end-up in a similar scenario that the one you described.
I already changed the condition to the original one in #2082 ;)

I'll close the issue, feel free to ask further questions if you want though!

[2020-07-21 20:15] #2195 closed

[2020-07-21 20:21] b-flo commented on #2193
Hi,

Hum I'm also confused... Could you give us more information please (espnet version, warp-rnnt commit, dataset used, etc)?
Btw, what is multi-task transducer mode?

[2020-07-21 20:38] b-flo commented on #2196
This is intended! I didn't observe any issues with that restriction though. Did you?
It's also a restriction applied in several beam search variant.

[2020-07-21 20:46] sw005320 commented on #2192
This is very impressive work (and quite timely for me, @jnishi, and @simpleoier).
Many thanks for introducing it!
And, yes, we definitely want to include it in espnet.
(As you may notice), we recently made a prototype [alignment tool](https://github.com/espnet/espnet/blob/master/utils/ctc_align_wav.sh), but your tool is more complete.

What I'm thinking is to include it in `espnet/utils` as you me

[2020-07-21 20:58] sw005320 commented on #2160
`RuntimeError: CUDA error: all CUDA-capable devices are busy or unavailable`

It seems that you wrongly used a GPU, which is already occupied by the other job.
Please check the correct usage of using a GPU job.

[2020-07-21 21:00] sw005320 commented on #2186
api v1 is rather fast, and also support GPU decoding (with multiple utterance batch processing).
We're also fixing api v2 speed, so if you want to use the default setup, please wait for a while.

[2020-07-22 01:11] mindmapper15 commented on #2191
![Figure_1](https://user-images.githubusercontent.com/40658807/88122308-3981d680-cc03-11ea-9087-aa55cb50fe34.png)
[LJ049-0151.zip](https://github.com/espnet/espnet/files/4957236/LJ049-0151.zip)

I changed wavenet input to normalized feature and now it seems work!
Thank you for the corrections!

Problem solved so I'll close this issue.

[2020-07-22 01:11] #2191 closed

[2020-07-22 02:24] JiayiFu commented on #2160
@sw005320 I also think there should be some mistakes with the way of my use. I close this first.

[2020-07-22 02:24] #2160 closed

[2020-07-22 03:58] Jxu-Thu commented on #2186
How to use api v1?
Just change the "api --v2" to "api --v1"  and change the batchsize  at the run.sh script?

[2020-07-22 04:11] sw005320 commented on #2186
yes, please try `--api v2` and increase the batch size.

[2020-07-22 05:21] Jxu-Thu commented on #2186
I tried it.
for --api v1 , it raise error
"NotImplementedError: Batch decoding is not supported yet."

for --api v2, it raise error
"NotImplementedError: multi-utt batch decoding is not implemented"

[2020-07-22 06:41] wxt1997 commented on #2193
Sorry, I don't really understand this normalization and how to located the codes. I only know a normalization by the length during beam search.

espnet version: master brunch
warp-rnnt: warprnnt-pytorch 0.1
dataset: aishell
Transducer config:
[code]
The loss_att is the same as the attention loss in joint-ctc/attention. Although it's an offline operation, it could be used just during training. The

[2020-07-22 07:11] wxt1997 commented on #2193
I'm so sorry, I made a mistake in train.log output order. The loss which is significantly small is `loss_att`.

[2020-07-22 07:24] b-flo commented on #2193
OK, let me understand something first: this is not standard behaviour, what you're trying to do MTL with transducer included. Right?
There are many training and decoding difference between MTL and transducer architecture, it's a bit difficult to pinpoint what would be the reason. Can we access the code somewhere or it's private work?

[2020-07-22 07:37] b-flo commented on #2186
Hi,

`--api v2` should be used with `batchsize: 1` in decode config to enable "batch decoding".
The issue is due to a naming which can be confusing for some users: "batch decoding" (processing multiple hypotheses in parallel) and "multi-utterances batch" (processing of multiple utterances and hypotheses in parallel).

Some documentation or changes will be added soon related to that.

[2020-07-22 08:10] ATLAKT commented on #1982
hello，Arafat4341 . I'm going to do some work about Japanese synthesis,could you tell me some open-source dataset for Japanese synthesis?Thank you very much.

[2020-07-22 09:37] kan-bayashi opened #2198 "`TypeError: cannot serialize '_io.BufferedReader' object` in single node multi-gpu distributed training"
I met the following errors when `num_workers > 0` + single node multi-gpu distributed training in ESPnet2.

[code]

## Environment:

- CentOS 7.7
- Conda / Python 3.7.3 / Pytorch 1.5.1 / cuda 10.1
- ESPnet2

## Note:

- Use `cmd_backend="local"`
- Single GPU + `num_workers > 0` is fine.
- Single node multi-gpu distributed training + `num_workers=0` is fine.

[2020-07-22 12:23] LiChenda opened #2200 "Development plan for ESPnet2 speech enhancement"
We have been developing (enhancing) speech enhancement functions in ESPnet2.
We particularly design it to tightly integrate it with downstream speech processing tasks (I.e., ASR and ST).
Phase 1 is to implement a stand alone basic speech enhancement and separation techniques as a reference technique. In Phase 2, they are flexibly called as a front-end processing subnetwork from ASR/ST/SLU/DIAR wit

[2020-07-22 12:57] wxt1997 commented on #2193
Yes, I'm trying to do a multi-task learning with transducer included.
Thanks for your edit! I would like to push the code in my fork repository as soon as possible.

[2020-07-22 13:27] b-flo commented on #2193
No problem, feel free to ping us when the code is available!
Btw what is the motivation behind MTL with transducer?

[2020-07-22 13:33] wxt1997 commented on #2193
The hint of MTL transducer is from comparing the alignment compution of ctc and rnnt. Both of them are force alignment, so I just want to see what will happen after swapping ctc-rnnt.

[2020-07-22 13:52] jnishi commented on #2192
That sounds great. I agree with @sw005320.  It is good to add their core method to `espnet/utils` and align with pre-trained model listed in https://github.com/espnet/espnet#asr-demo. After that, it is good to add data preparation code as recipes to align with the model trained by users.

@sw005320 I think the recipe of an alignment tool requires the corresponding asr recipe. Which is better that

[2020-07-22 14:35] lumaku commented on #2192
@sw005320 Yes, I noticed your current work on `ctc_align`; that was also the motivation to post our work.

The CTC-Segmentation repository contains scripts to evaluate alignments and to compare them with MAUS and Gentle; these scripts would not be needed for usage in ESPnet. Starting from your current implementation of `ctc_align()` in `espnet/asr/pytorch_backend/asr.py`, roughly speaking, additio

[2020-07-22 14:53] #2198 closed

[2020-07-22 19:04] seanle24245 commented on #2194
I'm having this issue as well except on the libritts experiment.  I'm using the same multi-speaker model as you and the audio is unintelligible.

[2020-07-22 19:36] seanle24245 commented on #2174
I was extracting from the wrong folder.  I was able to extract x-vectors with the proper dimensions (512).  However, when I pass them into the multi-speaker tacotron2 the audio is unintelligible.  Strange.

[2020-07-23 02:46] CathyW77 opened #2207 "retrain ASR if I expand dataset"
Hi, I want to know how should I do if I want to expand my dataset and train new model based on my original model, just load "resume=/path_to_original_model" seems useless

[2020-07-23 03:58] sw005320 commented on #2192
Thanks for the detailed suggestions.
Our `ctc_align()` is an experimental function. So, we don’t have to maintain separate tools.
If merge is easy, it is better for me.
But it is no problem if we can just use yours and we can disable `ctc_align()`.

[2020-07-23 04:00] sw005320 commented on #2192
This is a good point.
My preference is the first one (having the ASR recipe link).

[2020-07-23 13:21] Jxu-Thu opened #2211 "WSJ dataset processing error - AttributeError: 'Namespace' object has no attribute 'etype'"
When run the run.sh at espnet/egs/wsj/asr1/run.sh,  run this command
`
local/filtering_samples.py \
        --config ${train_config} \
        --preprocess-conf ${preprocess_config} \
        --data-json ${feat_tr_dir}/data.json \
        --mode-subsample "asr" \
        --arch-subsample "rnn" \
        ${min_io_delta:+--min-io-delta $min_io_delta} \
        --output-json-path ${feat_tr_dir}/data.

[2020-07-23 13:46] kamo-naoyuki commented on #2188
Can anyone help, please.

[2020-07-23 14:47] seanle24245 opened #2213 "Modifications to Colab TTS demo to work with Multi Speaker Model and LibriTTS"
I'm modifying the colab TTS demo code to work with speaker embeddings extracted from the libriTTS experiment.  In the TTS demo portion of the README it is stated that:

"Important Note:
This code does not include text frontend part. Please clean the input text manually. Also, you need to modify feature configuration according to the model. Default setting is for ljspeech models, so if you want to

[2020-07-23 14:50] wxt1997 commented on #2193
hi, the loss_att is indeed very small, I also found this phenomenon in `e2e_asr` model, the calculation result is similar to the MTL transducer mentioned earlier. But this is how you use it in `e2e_asr` model
[code]
In other words, multiply loss_att by the mean value of sentence length before using it. May I ask what is the reason for this.

[2020-07-23 17:11] lumaku commented on #2192
Then the plan is to port the CTC segmentation tool to ESPnet, while re-using existing components of `ctc_align()` and of `forced_align()` in `pytorch_backend/ctc.py`.

Regarding the timeline, I think that we can provide a pull request for this in about two or max. three weeks.

[2020-07-23 20:10] xkr1 commented on #2196
I've certainly seen cases where multiple symbols are emitted on a single time step in other implementations. It may be possible to recover on the next time step in this implementation, but it will depend very much on the type of output units and frame-rate of the model.

In the case that zero or one symbols are emitted on each time step the while-loop implementation should be equivalent to the cur

[2020-07-23 21:22] b-flo commented on #2196
From what we experimented the performance/decoding time trade-off was worth the limitation and caused no issues. However,  I'm always open to modify/upgrade any part related to transducer! I just need some feedback or someone to run some experiments as most of my ressources are allocated on other things for now :)

There are several interesting techniques to train rnn-transducer (or transformer-tr

[2020-07-24 07:16] Emrys365 commented on #2211
You are right, [espnet/egs/wsj/asr1/run.sh#L149](https://github.com/espnet/espnet/blob/master/egs/wsj/asr1/run.sh#L149) should not specify `rnn` explicitly. It should be determined by the architecture in the model conf.
For a quick fix, could you try changing `--arch-subsample "rnn"` to `--arch-subsample "transformer"` to make it work?

[2020-07-24 08:23] Emrys365 commented on #2211
I just made a PR to fix this issue. Now the argument `--arch-subsample` is removed, and it will be parsed from `model-module` in the config file.
@Jxu-Thu, Could you try it?

[2020-07-24 08:48] kan-bayashi commented on #2188
I will check it this evening!

[2020-07-24 11:41] kan-bayashi commented on #2188
I tested with:

- chainer 6.7.0
- cupy 6.7.0

I confirmed that `egs/yesnot/asr1` worked well with both --backend chainer and pytorch.
And `ci/test_ingregration.sh` finished without errors.

[2020-07-24 11:47] kamo-naoyuki commented on #2188
Okay, thanks! Multi gpus also works well?

[2020-07-24 12:13] kan-bayashi commented on #2188
Hmm... Multi-GPU did not work well with chainer backend.

|    | cupy 6.0.0 | cupy 6.5.0 | cupy 6.7.0 |
| :-: | :-: | :-: | :-: |
| chainer 6.0.0 | ○ | - | - |
| chainer 6.5.0 | x | × | - |
| chainer 6.7.0 | x | - | × |

[2020-07-24 12:26] kan-bayashi commented on #2188
And I found that ESPnet1 with torch=1.5.1 + multi-gpu did not work well.

[code]

[2020-07-24 12:30] kan-bayashi commented on #2188
Related:
https://github.com/pytorch/pytorch/pull/33907
https://github.com/huggingface/transformers/issues/3936

[2020-07-24 12:35] kamo-naoyuki commented on #2188
Someone already reported this issues? This line seems to send StopIteration, so it can be solved if we derives the device number using the other way, e.g. from input tensor.

[2020-07-24 12:37] kan-bayashi commented on #2188
We should change `next(m.parameters()).device`

[2020-07-24 12:41] kan-bayashi commented on #2188
Oh already @unilight reported in #2169

[2020-07-24 12:49] kan-bayashi commented on #2194
Unfortunately, the quality of `egs/libritts/tts1` pretrained model for open speaker is not so good.
Recently, I implement global style token in ESPnet2 (#2139).
Not well documented yet, but you can try it.

[2020-07-24 12:56] kan-bayashi commented on #2187
The training curve seems strange, maybe preprocessing is something wrong.
Could you provide the procedure of your training?

[2020-07-24 12:59] kan-bayashi commented on #2194
I remembered that the input for `egs/libritts/tts1` pretrained model is uncased char, not phoneme.
(e.g. Hello, world.)

[2020-07-24 13:03] kan-bayashi commented on #2213
The main difference is feature extraction setting and input format.
If you want to use libritts pretrained model + PWG, please use uncased char as the inputs for `egs/libritts/tts1` pretrained model.

[2020-07-24 13:47] RuslanSel commented on #2187
Train.log - https://www.sendspace.com/file/9asogl (i restart training from 20 epochs).

[2020-07-24 14:50] #2121 closed

[2020-07-24 15:16] Jxu-Thu commented on #2211
Ok, Thanks!

[2020-07-24 15:38] kamo-naoyuki commented on #2200
Could you create a recipe of mini_an4/enh1 and add it in ci/test_integration.sh? I think you can create a recipe with num_spk=1.

[2020-07-24 15:40] sw005320 commented on #2200
Please reflect https://github.com/espnet/espnet/pull/2212 to `enh.sh`

[2020-07-24 15:49] kamo-naoyuki commented on #2200
I also reflected it to enh.sh. We might update the system more, for now, you don't need to care it. I'll follow it.

[2020-07-24 15:51] sw005320 commented on #2200
@kamo-naoyuki, thanks for taking care of it!

[2020-07-24 22:12] sw005320 commented on #2211
@Jxu-Thu, please let me know if it solves the problem. Then, I’ll merge #2211

[2020-07-24 22:19] sw005320 commented on #2175
As you can see in the ljspeech text processing part, it requires linguistic knowledge, and we may not able to help it due to the lack of knowledge about Korean.

[2020-07-24 22:20] sw005320 commented on #2178
I recommend you to check the Kaldi documentation https://kaldi-asr.org/doc/data_prep.html and other Kaldi tutorials.

[2020-07-24 22:22] sw005320 commented on #2182
Thanks for your note. Please let us know if you have something particularly required some help from us.

[2020-07-24 22:23] sw005320 commented on #2192
Sounds very good. Please let us know if you want to have some questions and help about it.

[2020-07-24 22:31] sw005320 commented on #2207
I think we can use check https://espnet.github.io/espnet/tutorial.html#how-to-use-finetuning

[2020-07-25 08:38] RuslanSel commented on #2194
Yes, it was the problem with the input format. I used uppercase characters like in LJSpeech.
Thank you!

[2020-07-25 08:38] #2194 closed

[2020-07-25 11:03] #2011 closed

[2020-07-25 13:34] ajaysg commented on #2178
THank you. Can I use only CPU for training and inference of espnet?

[2020-07-25 14:18] kamo-naoyuki commented on #2178
We define several options in run.sh

https://github.com/espnet/espnet/blob/cf12d0ea3f4bf2325310b4c2da397ff52f330ff8/egs/yesno/asr1/run.sh#L13

and ngpu=0 indicates cpu mode.

[code]

but training on CPU is not realistic.

[2020-07-25 14:18] #2178 closed

[2020-07-25 17:17] ajaysg commented on #2178
Atleast can I run inference in CPU?

[2020-07-26 15:51] ajaysg opened #2224 "Espnet installation doubt!!"
Do I have to install Kaldi before running the following commands for CPU installation?
`$ cd <espnet-root>/tools`
`$ make KALDI=<kaldi-root> CUPY_VERSION='' -j 10`

or the above commands will install Kaldi?

Also one more question,
I have pre-installed conda in my system, but the above commands are downloading conda again and installing. Is it safer to run the above commands inside pre-installed c

[2020-07-26 16:02] kamo-naoyuki commented on #2224
Please read our documentation.

If you have an anaconda but you want to recreate it by the Makefile, then I recommend you deactivating the environment.

[2020-07-26 16:21] ajaysg commented on #2224
I read the documentation and Installed Kaldi as per Step 2. But when I run the above mentioned Commands for espnet installation as per Step 3B, Kaldi is again being downloaded and installed. That's why I asked the question.

[2020-07-26 16:24] kamo-naoyuki commented on #2224
Read the Makefile. You can understand it can't happen.

[2020-07-27 16:06] seanle24245 commented on #2213
Thank you!  I didn't realize I had to change trans_type to "char" instead of "phn".  What exactly does phn mean?  Does trans_type mean transformer type?  Also, I see that on the list of usable pretrained vocoder models there is "libritts.wavenet.mol.v1".  Is this vocoder usable with the TTS-Demo code?  I see that the two files inside are of type .pth and .json instead of .pkl and .yaml.

[2020-07-27 16:39] seanle24245 commented on #2213
I'm using the lj speech parallel wavegan for the moment during synthesis.  Would using the libritts wavenet potentially improve the quality?

[2020-07-27 20:08] xkr1 commented on #2196
Thanks for the links!

In a different implementation of RNN-T greedy search (my own Tensorflow-based decoder) I noticed that there were times when multiple symbols are emitted at the same time step. When I get a chance I'll modify my implementation to your method and compare the final WER on Librispeech. The findings should be equally applicable to your implementation. Will get back to you soon.

[2020-07-28 02:01] hchung12 opened #2226 "espnet2 inference error without language model"
If not using a language model, the espnet2 asr_inference.py causes the following error.

File "espnet2/espnet2/bin/asr_inference.py", line 152, in __init__
self.lm_train_args = lm_train_args
UnboundLocalError: local variable 'lm_train_args' referenced before assignment

[2020-07-28 02:07] kamo-naoyuki commented on #2226
Thanks! I missed.

[2020-07-28 02:09] CathyW77 commented on #2207
@sw005320  thanks ~

[2020-07-28 03:21] #2226 closed

[2020-07-28 05:03] LittleChenCc opened #2228 "Can NOT reproduce the result of Transformer End-to-End ST on Must-C En-De"
I would like to ask if the config file given in the directory can be used to reproduce the results. I can reproduce the results of ASR-MTL, but not the results of e2e without MTL, or even fail to learn the semantic relation at all. Is there any trick I should be aware of? And can you tell me the number of GPUs you are using? Thanks a lot.

[2020-07-28 05:05] hirofumi0810 commented on #2228
@LittleChenCc Multitask or pre-training is essential for training Transformer-based ST.

[2020-07-28 05:55] LittleChenCc commented on #2228
I saw there is a result which is 16.40 for Transformer in md. I thought it should be the result of end-to-end model without MTL or PT, right? But I can't reproduce the result. My model can only achieve a meaningless result lower than 5.

[2020-07-28 05:55] LittleChenCc commented on #2228
I saw there is a result which is 16.40 for Transformer in md. I thought it should be the result of end-to-end model without MTL or PT, right? But I can't reproduce the result. My model can only achieve a meaningless result lower than 5.

[2020-07-28 06:05] hirofumi0810 commented on #2228
Although I don't remember the details, I might have got that number based on the codebase at that time.
But it is not stable and not reliable (it depends on the seed etc.).
And we know the solutions.
Why do you stick to the training from scratch?

[2020-07-28 06:20] LittleChenCc commented on #2228
I do agree with you, MTL or PT is essential for training ST. But I need a reasonable baseline result for my current research project, which does not use the transcription in ST, like [this paper](https://www.aclweb.org/anthology/N16-1109.pdf). So a comparable baseline is required. : )

[2020-07-28 06:49] #2188 closed

[2020-07-28 06:51] hirofumi0810 commented on #2228
I see. If you can use other ASR corpora, ASR encoder pre-training is effective. Otherwise, you might be able to train RNN models from scratch with a single ST objective.

[2020-07-28 07:02] LittleChenCc commented on #2228
I am trying to train an RNN-base model to see the result, it's much slower than training Transformer. Anyways, thanks for your advice.

[2020-07-28 08:31] zwglory commented on #2186
Hi，I got same problem about inference, have you fix it?

[2020-07-28 10:48] zwglory commented on #2186
it seem like just NOT ok for e2e_asr_transformer, may it work for e2e_asr.py with --api v1

[2020-07-28 12:35] HuJK opened #2229 "Could not find a version that satisfies the requirement cupy-cuda102==6.0.0"
[code]
cupy-cuda102 doesn't have version 6.0.0 , upgrade ```CHAINER_VERSION := 6.0.0``` to ```CHAINER_VERSION := 7.4.0```, please

[2020-07-28 12:49] kamo-naoyuki commented on #2229
I see, thank you for the quick report. I'll update the makefile to care it, but ESPnet requires chainer=6.0.0, so the workaround is:

[code]

[2020-07-28 14:05] kamo-naoyuki commented on #2229
Sorry, I told false. Cupy==6.0.0 doesn't support 10.2, so `pip install cupy==6.0.0` is failed too, isn't it? I don't have cuda==10.2 now.

[2020-07-28 14:18] HuJK commented on #2229
```pip install cupy==6.0.0``` success,but ```pip install cupy-cuda102``` failed.

https://github.com/espnet/espnet/blob/43093fab17885cbf717ad505f978442364f1dcd0/tools/Makefile#L39

[2020-07-28 14:22] kamo-naoyuki commented on #2229
Thanks. Officially cupy==6.0.0 with cuda=10.2 is not provided, so I'll decide disabling cupy if cuda=10.2 or later.

[2020-07-28 14:27] HuJK commented on #2229
They don't provide pre-built binary, but ```pip install cupy==6.0.0``` success.

I think use ```cupy==6.0.0``` instead of ```cupy-cuda102==6.0.0``` would better. (but slower, because  ```pip install cupy==6.0.0``` will compile cupy in time)

[2020-07-28 14:30] kamo-naoyuki commented on #2229
It doesn't support officially, so I think disabling is better. We can't test it for all cases.

[2020-07-28 14:43] kan-bayashi commented on #2213
phn means phoneme.

Sorry, WaveNet model is not supported in colab demo.
Please check this part.
https://github.com/espnet/espnet/blob/43093fab17885cbf717ad505f978442364f1dcd0/utils/synth_wav.sh#L342-L354

It can improve, but the generation is super slow compared with PWG.

[2020-07-28 15:32] #2229 closed

[2020-07-28 17:21] tbright17 commented on #2151
Same issue here. Could you please point to that specific PR? Thanks.

[2020-07-29 01:36] qmpzzpmq commented on #2151
@tbright17
https://github.com/espnet/espnet/pull/2066

[2020-07-29 04:46] #1878 closed

[2020-07-29 08:07] deepanshi-s commented on #1973
@mapa17 I tried to extract x-vectors according to the steps you mentioned. On modifying the run.sh file and running it, I get this error: compute-cmvn-stats: command not found. I have cloned kaldi in the espnet//tools folder. Could you please help me with this?

[2020-07-29 08:13] mmmmayi opened #2232 "bug: Expected object of backend CPU but got bacKend CUDA"
When I run the egs/voxforge/asr1/run_rnnt.sh with 4 GPU and train cofig of conf/tuning/transducer/train_transducer_both_init.yaml, I met the error of
`RuntimeError: Expected object of backend CPU but got backend CUDA for sequence element 1 in sequence argument 1 in sequence argument at position #1 'tensors'`.

The error occured beacuse of the code `ey = torch.cat((eys, att_c),dim=1)` in rnn_decode

[2020-07-29 09:11] b-flo commented on #2232
Hi,

I suppose you met the bug when `report_cer=True` or/and `report_wer=True`?

[2020-07-29 09:52] mmmmayi commented on #2232
yes. do I need to set them as False? why?

[2020-07-29 09:59] b-flo commented on #2232
I was just guessing what was the reason for the bug :)

I'll fix that, you can set the options to False for now.

[2020-07-29 11:41] zhucq opened #2234 "Question: windowsize in location-aware attention"
Hi, now I am use the LAS ASR model with "location-aware attention". I read the paper "Attention-Based Models for Speech Recognition", but find nothing about the windowsize.
In  your function "_apply_attention_constraint", "backward_window=1, forward_window=3". I am confused by those narrow window.
For example, my encode is 300 length, is it mean I will consume most 3 encode length when decoding a

[2020-07-29 11:52] sw005320 commented on #2234
We use very long filter size for ASR (e.g., 100) https://github.com/espnet/espnet/blob/master/egs/voxforge/asr1/conf/tuning/train_rnn.yaml#L14
Please check the configuration file instead of the default value in the class.

[2020-07-29 11:54] kan-bayashi commented on #2234
`_apply_attention_constraint ` is the function for TTS, which is introduced in Deep Voice 3.
What you have to check is `aconv-filts`.

[2020-07-29 12:11] zhucq commented on #2234
Thank you very much,
![image](https://user-images.githubusercontent.com/39935745/88798224-28266480-d1d7-11ea-9694-966f5c00677b.png)
Does you mean the k =10 and r = 100 ?
![image](https://user-images.githubusercontent.com/39935745/88798421-73407780-d1d7-11ea-80cf-e880b4c0068c.png)
And the “Sharpening” in this paper not apply ?

[2020-07-29 12:15] sw005320 commented on #2234
yes.

yes. (https://github.com/espnet/espnet/blob/6f6452a3891d11b0b0306084dd46a464ddf8e25c/espnet/nets/chainer_backend/rnn/attentions.py#L124)

[2020-07-29 12:17] zhucq commented on #2234
Understand, Thank you so much. I will close this.

[2020-07-29 12:17] #2234 closed

[2020-07-29 16:09] Emrys365 commented on #2200
It's now added in our develop branch.

[2020-07-29 16:43] kamo-naoyuki commented on #1836
@SeanNaren PyTorch 1.6.0 is out and amp becomes stable! https://github.com/pytorch/pytorch/releases
Now we can solve this problem, so I added amp to my TODO list.

[2020-07-29 17:00] kamo-naoyuki commented on #2200
@Emrys365 Could you merge it with the highest priority? I feel uneasy now when touching enhancement part.

[2020-07-29 17:00] mdabek opened #2236 "Voxforge [en] - missing reference files"
Hi,
I am using the Voxforge based experiment with RNN-T and I've set language to english in run_rnnt.sh
The training completes and during decoding I am receiving the following errors:
[code]
The training for italian language works fine. Is there any additional configuration I should update?

[2020-07-29 17:03] Emrys365 commented on #2200
Sure, I will make a PR soon.

[2020-07-30 03:00] Andy-Eum opened #2240 "Memory Issues with Default Librispeech ASR task"
When trying to run stage 5 of the default Librispeech Transformer Model, the GCP instance that it was run on crashes.

I found out the issue is that it uses over 60 GBs of memory when tried with nj 8 - understandable, so tried it again with nj 1 - but the same issue happens.

The memory usage increases in a linear format along the percentage of decoding done when viewed via log and htop - for exam

[2020-07-30 06:56] xcrpkuss opened #2241 "when run.sh how can I choose my conda environment?"
![image](https://user-images.githubusercontent.com/56855140/88890571-645bd280-d274-11ea-9ace-ee13751c3055.png)
I try "./run.sh --backend chainer" in egs/an4/asr1,but have the bug above.
the log said ：
“Traceback (most recent call last):
  File "/home/x50015769/ctc/espnet-master/egs/an4/asr1/../../../utils/copy-feats.py", line 6, in <module>
    from espnet.transform.transformation import Transform

[2020-07-30 07:41] saini-mh commented on #982
Hi all, any update for this issue? Currently, I am trying to implement a streaming system and facing similar issues.

[2020-07-30 08:21] kamo-naoyuki commented on #2241
I wrote about the setup flow at https://espnet.github.io/espnet/faq.html
so, you can choose your python by rewriting `path.sh`.

Sorry for the complicated system, but this is necessary.

I recently updated the system about the python environment, so I' like to ask you that which version do you use. The current system is more flexible: https://espnet.github.io/espnet/installation.html#step-2-instal

[2020-07-30 08:25] kan-bayashi commented on #2241
Maybe this is caused by `/path/to/kaldi/tools/env.sh`.
Could you try to remove `/path/to/kaldi/tools/python/python`?

[2020-07-30 08:31] kamo-naoyuki commented on #2241
@kan-bayashi Kaldi creates it by default? I forgot it.
but, the conda activate is called after kaldi/tools/env.sh, so it doesn't affect in my understanding?

[2020-07-30 08:34] kan-bayashi commented on #2241
Yes.

I think so, but some people reported this can fix a similar issue.
https://github.com/espnet/espnet/issues/1656#issuecomment-601033168

[2020-07-30 09:01] kamo-naoyuki commented on #2241
It's impossible. Even if the activate doen't work by some reason, kaldi/tools/python/python can't affect because we always invoke python as `python3`, not `python`.

[2020-07-30 09:08] kamo-naoyuki commented on #2241
And, i think we should remove the part of kaldi/tools/env.sh from path.sh. It just sets  as `python` to `/usr/bin/python2.7`, but it's unnecessary for us.  All kaldi scripts now supports python3 and also we don't use such scripts in kaldi.

[2020-07-30 09:25] xcrpkuss commented on #2241
Thank you！I solve this problem by rewrite path.sh!
And I use "Option D) using the existing Python/Anaconda without creating new environment",and install successfully.Thank you your great job and great project!

[2020-07-30 11:00] SeanNaren commented on #1836
Thanks @kamo-naoyuki just to warn you (might not impact you) but torch native AMP is broken for nn.LSTM, see issue here: https://github.com/pytorch/pytorch/issues/36428

[2020-07-30 11:20] kamo-naoyuki commented on #1836
Hmm, thanks, I didn't know it.

[2020-07-30 12:06] #2241 closed

[2020-07-30 12:50] xcrpkuss commented on #1482
When stage3: LM Preparation begin, it happened an error:
"run.pl: job failed, log is in exp/train_rnnlm_chainer_lm_word100/train.log"
and log said:
"bash: line 1: lm_train.py: command not found"
But I can find lm_train.py in espnet/bin/，how can I change this road?

[2020-07-31 00:11] sw005320 commented on #2240
I just checked the recent Librispeech Transformer Model, but I did not observe such huge memory consumption. Could you paste the decoding log file header?

[2020-07-31 00:44] kan-bayashi commented on #2019
FastSpeech2 is available now in ESPnet2.
I will close this issue.

[2020-07-31 00:44] #2019 closed

[2020-07-31 02:41] sigpro opened #2247 "why egs2 get worse result than egs at aishell"
From your results, egs2 get worse result in aishell , is there any different parameter ?
Thanks for your work!

[2020-07-31 02:59] Andy-Eum commented on #2240
This is from decode.1.log with nj 4.

``# asr_recog.py --config conf/decode.yaml --ngpu 0 --backend pytorch --batchsize 0 --recog-json /audio/data/librispeech/data/dump/dev_clean/deltafalse/split4utt/data_unigram5000.1.json --result-label /audio/data/librispeech/exp/train_960_pytorch_mytrain/decode_dev_clean_model.acc.best_decode_lm/data.1.json --model /audio/data/librispeech/exp/train_960_pytorch

[2020-07-31 03:27] kamo-naoyuki commented on #2247
Paarameter looks same and the feature is completely same, so It should reproduce the result originally. I'm not sure about this.

- There are some difference between espnet1 and 2( but, I don't think it affects much)
    - Optimizer scheduler
    - Batchify method
- The config file of espnet2 uses patience, but ESPnet1's config doesn't set it. (I think this is crucial)
- Some bugs?

We haven't tun

[2020-07-31 03:41] xcrpkuss opened #2248 "why I need to set every python shell road?such lm_train.py asr_train.py"
In stage 3:LM Preparation and stage 4: Network Training, I also come across the same trouble:
![image](https://user-images.githubusercontent.com/56855140/88997778-17830500-d323-11ea-89bd-fd11118d9578.png)

"run.pl: job failed, log is in exp/train_nodev_pytorch_train_mtlalpha1.0/train.log"
and the log file is also simple:
![image](https://user-images.githubusercontent.com/56855140/88997482-6aa88800

[2020-07-31 03:54] xcrpkuss commented on #2248
And every project,I have another same error:
"AttributeError: module 'matplotlib' has no attribute 'use'",the version of the matplotlib is 3.1.0
But they all have this error.
I delete the line to solve.But why it exist?
Thank you!

[2020-07-31 04:09] kamo-naoyuki commented on #2248
I can't understand why you met this error.

- Could you show your `path.sh`?
- Could you show the contents of espnet/bin with `ls -l`?
- Do you have python at espnet/tools/venv?

I don't know why you met error, but matplotlib has `use` method basically: https://matplotlib.org/3.1.1/api/matplotlib_configuration_api.html?highlight=use#matplotlib.use

I don't know about this, but anyway, your matplot

[2020-07-31 04:15] xcrpkuss commented on #1171
which version will match pytorch 1.1.0, I also meet this problem.
In the Makefile .it says I can install by pip,but I failed.

[2020-07-31 04:21] xcrpkuss commented on #2248
![image](https://user-images.githubusercontent.com/56855140/88999752-fe308780-d327-11ea-85b5-fbf0537c5ea5.png)
They all in espnet/bin,but I can't call them in run.sh.
And I  change the road of python in path.sh,do it make mistake?
![image](https://user-images.githubusercontent.com/56855140/88999689-d3deca00-d327-11ea-952d-930f8aca1aa0.png)
I don't use python in tools/venv/bin,but in my conda.
How

[2020-07-31 04:30] kamo-naoyuki commented on #2248
It's obviously wrong. Why you rewrite path.sh so...

[code]

[2020-07-31 07:15] #2248 closed

[2020-07-31 07:50] #2015 closed

[2020-07-31 09:35] xcrpkuss opened #2249 "how espnet fulfill keyword spotting task? with kaldi ?or I need write a script after espnet"

[2020-07-31 14:31] sw005320 commented on #2247
This is actually very important (fortunately or unfortunately)
espnet1 finally found a very robust setup with @ShigekiKarita's efforts, but I still cannot find such hyperparameters in espnet2.

Also, the espnet2 default feature is critically different (pitch feature and 8ms shift), which affects the performance and hyperparameters related to the number of samples.

But for the aishell task, I'm ge

[2020-07-31 15:02] sw005320 commented on #2240
Hmm, I tried to use the same setup with you and I still did not observe such an issue (around 2GB for one job). it might be due to your environment.
Could you use https://github.com/espnet/espnet/blob/master/utils/show_result.sh and show us your environments like https://github.com/espnet/espnet/blob/master/egs/aidatatang_200zh/asr1/RESULTS.md#environments ?

[2020-07-31 15:07] kamo-naoyuki commented on #2247
@sw005320 Oh, I'm grad to hear that.

[2020-07-31 15:23] sw005320 commented on #2249
We don't officially support such a function, and yes, it's better for you to make such a script by yourself.

[2020-07-31 16:06] b-flo commented on #2232
I just tested CER/WER reporting with RNN-T att. and It seems I already fixed this bug when I unified search methods in my current PR. I'm closing this issue, the fix should be available next week I think!

[2020-07-31 16:06] #2232 closed

[2020-08-01 07:13] ReinholdM opened #2251 "How to figure out the convergence step in exp results?"
I want to compare the convergence step between two different experiments. I've known the different convergence speeds, but I'm strange to figure out the convergence step clearly.

[2020-08-01 07:23] b-flo commented on #2084
Hi,

Sorry didn't see this one. I'll fix that in my PR!

[2020-08-01 17:53] #2183 closed

[2020-08-02 04:04] kamo-naoyuki commented on #2107
I fixed

[2020-08-02 04:04] #2107 closed

[2020-08-03 01:12] Andy-Eum commented on #2240
[code]
Here is the environment settings ran with show_result.sh.
2GB is nowhere near the memory I'm using currently to run stage 5.

[2020-08-03 09:59] #1904 closed

[2020-08-03 11:12] alexkararo commented on #1633
Hello!
I also need to get some timestamps for recognized tokens, if for words is not possible.

Anybody can point me to where I should start?
Thank you in advance!

[2020-08-03 12:20] sw005320 commented on #1633
You can use `utils/ctc_align_wav.sh`
https://github.com/espnet/espnet/blob/f0fd03d7864cbe5a84d17ae987e2396b970000dd/README.md#ctc-forced-alignment-demo although this is not very accurate, unfortunately.

[2020-08-03 12:27] sw005320 commented on #2240
Could you switch to use the latest espnet?

[2020-08-03 16:42] alexkararo commented on #1633
Thank you! Will test this.

If I may ask you one more question. I see in data.json that I can get the total log probability for each phrase.
Is there a way to extract the log probability for each token / word?

[2020-08-03 17:04] sw005320 commented on #1633
Unfortunately, it is not stored.
You may need to add a code to store it by yourself.

[2020-08-04 00:49] hchung12 opened #2261 "espnet2/train/reporter.py causes exception if accum_grad is not 1"
If accum_grad is not 1,  the number of elements of some keys such as 'optim_step_time' are not equal to the count value.
So, it causes the exception at line 175 of reporter.py

Here is the sample.
when accum_grad = 2, self.count=2, but the number of 'optim_step_time' items is 1.

defaultdict(<class 'list'>, {'iter_time': [Average(value=0.1262605399970198), Average(value=8.855300256982446e-05)], 'f

[2020-08-04 01:07] YangHan-Morningstar opened #2262 "Bug in Colab"
When I use the TTS demo in Colab, I got an error which is "fatal: Remote branch fix_import not found in upstream origin"in git clone. Could you tell me how to solve it? Thanks a lot!

[2020-08-04 01:23] kamo-naoyuki commented on #2261
Would you show the raw error log?

[2020-08-04 01:46] hchung12 commented on #2261
Here is the raw error log.

Traceback (most recent call last):
  File "/SPL37/bin/espnet/tools/venv/envs/espnet/lib/python3.7/runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "/SPL37/bin/espnet/tools/venv/envs/espnet/lib/python3.7/runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "/SPL37/bin/espnet/espnet2/bin/asr_train.py", line 23, in <module>
    ma

[2020-08-04 01:52] kamo-naoyuki commented on #2261
Thanks.

[2020-08-04 01:59] kan-bayashi commented on #2262
Sorry, this is my fault.
To quick fix, please change the line as follows:
`!git clone -q https://github.com/kan-bayashi/espnet.git -b fix_import`
to
`!git clone -q https://github.com/espnet/espnet.git`

I will fix lator.

[2020-08-04 02:51] YangHan-Morningstar commented on #2262
OK, thank you!

[2020-08-04 03:42] Andy-Eum commented on #2240
Was there any problems with memory in any of the previous versions? Especially around stage 5?
A project with other modified programs to work with this version is going on right now, and hence would rather not use the latest espnet. If the problem is due to a lower version, I'll eventually try to change all the settings.

[2020-08-04 04:11] xcrpkuss opened #2264 "fail to install kenlm，"undefined reference to `pthread_create'""
1.In run shell ./install_kenlm.sh,and have some errors.
![image](https://user-images.githubusercontent.com/56855140/89252099-5ed30380-d64b-11ea-8b01-b738dc8c1d01.png)
"In function `main':CheckSymbolExists.c:(.text+0x1b):
 undefined reference to `pthread_create'"
![image](https://user-images.githubusercontent.com/56855140/89252123-701c1000-d64b-11ea-8b83-6df64211f0cf.png)

2.I search some solution,

[2020-08-04 04:16] sw005320 commented on #2240
We’ve never had such reports, and I also did not have that issue personally. At that time I used the old pytorch (1.01), and many users were like that at that time.
However, some combinations (espnet and pytorch versions, but there are other possible combinations come from the OS, cuda, and cudnn versions) may cause such issues.
Due to our limited resource, we cannot test all espnet and pytorch ve

[2020-08-04 04:43] #2261 closed

[2020-08-04 04:51] Andy-Eum commented on #2240
Thank you for the kind answer. If I get the time, I'll try downgrading Pytorch or upgrading espnet. Seeing the other issue, seems like it might be a compatibility problem. Will inform if I get around such.

[2020-08-04 04:51] #2240 closed

[2020-08-04 06:49] kamo-naoyuki commented on #2264
The first one indicates that you don't have boost simply.

I can install kenlm without problem, so this is not an installation issue of espnet. You should ask at the other place.
At least, you should write your OS, gcc, and etc. whenever asking about compile issue.

[2020-08-04 06:49] #2264 closed

[2020-08-04 08:57] ldeseynes commented on #1633
There are no timestamps in result.json using ctc_align_wav.sh, should the config file be changed ? Also, is it possible to get these timestamps without providing the text beforehand ?

[2020-08-04 12:26] sw005320 commented on #1633
Sorry that this is an advanced method requiring enough knowledge.
What you can do is two-pass processing.
The first pass is based on normal decoding to get a result text and the second pass is to use `ctc_align_wav.sh`.
Also, `ctc_align_wav.sh` provides alignment information if you're familiar with CTC, and we can obtain timestamps based on the alignment information.

We are not planning to provid

[2020-08-04 17:13] yash-s20 opened #2270 "Cannot use locally modified files from environment"
Hi!
I was using a locally modified version of espnet, and now I've been trying to use espnet2. However, imports find espnet and espnet2 from site-packages rather that local paths. I was using yesno to setup and debug, and espnet2.asr.specaug cannot be imported (on Stage 9) because the specaug submodule is not available in the site-package espnet2.

Full log is here -

Even espnet(1) is using site-

[2020-08-04 17:29] kamo-naoyuki commented on #2270
I'm not sure, but do you ask about general importing system of Python?

- pip install <package-name/directory-path> (or, python setup.py install)
    - package are copied to the site-packages directory by default.
- pip install -e <directory-path>
    - Install on editable mode. i.e. The packages are not copied and you can use as it is.
- Set $PYTHONPATH: Directly overwrite the import path.

 If y

[2020-08-04 18:14] yash-s20 commented on #2270
Did not know about the usage of -e. Must've tripped over it in my older settings, and missed it in a resintallation. Thanks!

[2020-08-04 18:14] #2270 closed

[2020-08-04 20:29] alexkararo commented on #1633
Hello again,

I used the ctc_align_wav.sh, but I do not understand the output:

`{
    "utts": {
        "1_11": {
            "ctc_alignment": "T H E <blank> <blank> <blank> <blank> <blank> <unk> F <blank> <blank> <blank> A M <blank> <blank> I <blank> <blank> <blank> L <blank> Y <unk> T H E Y <unk> W E R E <blank> ............."
        }
    }
}`

Should I not get timestamps?

Thank you!

[2020-08-04 20:34] sw005320 commented on #1633
I think it's better to read some CTC papers to understand the output.
https://distill.pub/2017/ctc/ is good material.

[2020-08-04 20:39] alexkararo commented on #1633
Thank you!

[2020-08-04 22:58] Kyubyong opened #2271 "Question. Chinese/Japanese ASR models"
Hi, this is not an issue but a question, but do you have a recipe for Japanese/Chinese ASR? I found the common voice datasets for the languages, but I'm not sure if they fit the currently provided recipe.

And there's one more question if it's okay. Is the original script (mix of Kana and Kanji) better than Romaji when it comes to ASR in Japanese? (Or similarly: are Chinese characters better than

[2020-08-05 03:49] Jxu-Thu opened #2272 "How can automatically continue to train rather than training from scrath? (load checkpoint) And "--resume" means to do warm start ?"
Thanks for such a great code tools espnet!
Here I have a problem. I find that if my program failed, the codes will train from scratch rather than from last checkpoint I have trained.

And I'm confused with '--resume' option. 'resume' means that you should do 'warm start' from the resumed checkpoint?
I find the code
`chainer.serializers.load_npz(args.resume, trainer)`
but I'm not familiar with the

[2020-08-05 07:38] HelloMaster1954 commented on #2228
@LittleChenCc Hi, i had the same problem. I can't reproduce the BLEU score of 16.40 in must_c dataset.
The BLEU is lower than 5. This also confuses me. With the multi-task learning, i achieve the same BLEU of 22.31.
Similar phenomena also appear in libri_trans dataset. The BLEU drops to 7.82 from 15.71 without multi-task learning.
Have you found anything new?

[2020-08-05 12:33] sw005320 commented on #2272
Yes, you're right.

[2020-08-05 12:40] sw005320 commented on #2271
Yes, we have several Japanese/Chinese ASR, and actually their numbers are very good.
Please check https://github.com/espnet/espnet/blob/master/egs/README.md

We did not have very precise comparisons, but in general, the original script is comparable or better. Also, if we use Romaji or pinyin, the output sequence becomes longer, which increases the computational cost more than the benefit of reduc

[2020-08-05 18:33] shincling opened #2273 "The jobname issue in egs2/ 's newly update."
Hi, @kamo-naoyuki , I'm working on Espnet2-Enh realted works now.
I saw the newly update of egs2/Template/*/asr.sh or tts.sh about the jobname.
https://github.com/espnet/espnet/blob/981f5d63f1c2b9f80a534787e0bf77f1f5c39658/egs2/TEMPLATE/asr1/asr.sh#L711

I just install the lastest version of espnet, when I run egs2/mini_an4/asr1/run.sh it in JHU 's environment.  The jobname issue happens.
I feel t

[2020-08-05 20:08] seanle24245 commented on #2213
Thank you!

[2020-08-05 20:08] #2213 closed

[2020-08-06 02:44] kamo-naoyuki commented on #2273
My modification is correct, but you are using queue-freegpu.pl. I forgot the command.

[2020-08-06 03:45] shincling commented on #2273
Thanks~

[2020-08-06 04:50] #2273 closed

[2020-08-06 08:35] hchung12 opened #2275 "egs2/TEMPLATE/asr1/scripts/utils/show_asr_result.sh doesn't generate results."
The "decode" should be replaced to "inference" in egs2/TEMPLATE/asr1/scripts/utils/show_asr_result.sh.

[2020-08-06 08:59] kamo-naoyuki commented on #2275
Thanks!

[2020-08-06 11:11] #2275 closed

[2020-08-07 02:37] YangHan-Morningstar opened #2278 "Bug Report: Automatically Exit when running path.sh"
Hey, guys, when I use the command that "cd egs/ljspeech/tts1 && . ./path.sh", I automatically exit my Server and the message is "The standard file /home/yanghan/TTS/TTS_Self/espnet/egs/ljspeech/tts1/../../../tools/kaldi/tools/config/common_path.sh is not present -> Exit!", could you help me solve this? Looking forward to it~Thanks!

[2020-08-07 02:42] kamo-naoyuki commented on #2278
Did you install kaldi?
You don't have .../tools/kaldi/tools/config/common_path.sh as it said, so you need to put kaldi there.

[2020-08-07 06:13] yash-s20 commented on #2127
So as I understand this is a kaldi dependency for espnet2?

[2020-08-07 08:32] kamo-naoyuki commented on #2127
You don't need to compile kaldi itself, but need to compile sctk only. Sorry this is not documented. I forgot it.

[code]

You can also obtain it from https://www.openslr.org/resources/4/ manually.

[2020-08-07 09:35] yash-s20 opened #2280 "Chainer dependency for espnet2"
There's a useless dependency on chainer for espnet2 scripts, and it can be removed.

File is egs2/TEMPLATE/asr/scripts/utils/show_asr_result.sh

Line 32 imports chainer, but doesn't need to. Can be removed 😄

[2020-08-07 11:34] kamo-naoyuki commented on #2280
Oh! Yes, thank you!

[2020-08-07 11:48] sw005320 commented on #2127
How about including the install of `sph2pipe` and `sclite` in espnet?

[2020-08-07 11:51] sw005320 commented on #2127
But we may still need to set the path, so it is not an easy solution.

[2020-08-07 11:56] yash-s20 commented on #2127
Thanks @kamo-naoyuki , I was able to run the entire pipeline now.

[2020-08-07 17:30] #2280 closed

[2020-08-08 01:07] #1836 closed

[2020-08-08 01:45] marynader6 opened #2282 "error in training stage "Expected all tensors to be on the same device, but found at least two devices, cuda:0 and cpu!"
Hello guys!
we are running the recipe of ljspeech of version 0.8.0 but on our data set, we are using google colaboratory. At the stage of training we are getting this error "Expected all tensors to be on the same device, but found at least two devices, cuda:0 and cpu!". Any help ?
log file is attached.
[train.log](https://github.com/espnet/espnet/files/5044468/train.log)

Thanks in advance

[2020-08-08 08:10] YangHan-Morningstar commented on #2278
Ohh, sorry, it's my fault

[2020-08-08 09:03] #2278 closed

[2020-08-08 13:52] RenJinan commented on #2151
I encountered the same problem as you. Have you solved it?

[2020-08-10 01:39] #1935 closed

[2020-08-10 03:08] HelloMaster1954 commented on #2282
Hi.
It may be some tensor is on the CPU and some on the GPU.
I guess you can fix this bug with `tensor = tensor.to(device=torch.device("cuda:0"))`

[2020-08-10 10:30] astikbiswas commented on #2151
@RenJinan if you set --ngram-scorer "full", it should work fine...

[2020-08-10 14:11] qmeeus opened #2286 "Add teacher forcing option for transformers"
Hi,

I realised that it was not possible at the moment to use the decoder's prediction as input for the decoder's next step (the option is available for LSTMs with sampling-probability argument though). May I suggest to add this in the next release?

[2020-08-10 18:57] sw005320 commented on #2151
@astikbiswas and @qmpzzpmq, do you mean that it still has a problem when `--ngram-scorer "part"`?

[2020-08-10 21:14] sw005320 commented on #2286
Thanks.
Yes, we actually have the same request from the others, and we'll think about it.
@ShigekiKarita, I remember the discussion about this possibility. Could you remind me why we did not implement it? I just want to know If there are some technical difficulties.

[2020-08-11 01:07] qmpzzpmq commented on #2151
I fix this, after #2066 , both work.

[2020-08-11 01:20] sw005320 commented on #2151
Thanks. I just wanted to confirm it because the same question has been posted several times.

[2020-08-11 02:02] kamo-naoyuki commented on #2151
@qmpzzpmq  Could you add a unittest for NgramPartScorer?

[2020-08-11 02:26] qmpzzpmq commented on #2151
Yes, I will, but later.

[2020-08-11 02:54] sunnnnnnnny commented on #2151
@astikbiswas  hello, I meet the same problem.where is "--ngram-scorer" hyper?

[2020-08-11 04:41] kamo-naoyuki commented on #2200
I forgot to say. We are following google style docstring: https://sphinxcontrib-napoleon.readthedocs.io/en/latest/example_google.html

This is not important, so if you'll modify any docstrings, please change to the style at that time.
(e.g. https://github.com/espnet/espnet/blob/b2d1d44668d44885d8a0ac496dd59136a8d1d1cc/espnet2/enh/espnet_model.py#L328-L333)

[2020-08-11 05:12] astikbiswas commented on #2151
@sunnnnnnnny please find the snippet:-

`  asr_recog.py \
            --config ${decode_config} \
            --ngpu ${ngpu} \
            --backend ${backend} \
            --batchsize 0 \
            --recog-json ${feat_recog_dir}/split${nj}utt/data.JOB.json \
            --result-label ${expdir}/${decode_dir}/data.JOB.json \
            --model ${expdir}/results/${recog_model}  \
            --

[2020-08-11 05:18] HeYingnan opened #2288 "A question about how to train fastspeech model"
hi, I want to use egs/ljspeech/tts1/conf/tuning/train_fastspeech.v2.yaml with its teacher model egs/ljspeech/tts1/conf/tuning/train_pytorch_transformer.v1.yaml,but i don't know
trans_type="char" or "phn"???
and i want to know in this conf egs/ljspeech/tts1/conf/tuning/train_fastspeech.v3.yaml,
why transfer-encoder-from-teacher: False???
thank you!

[2020-08-11 05:23] #2272 closed

[2020-08-11 05:23] #2271 closed

[2020-08-11 05:24] #2207 closed

[2020-08-11 06:09] cosmo1995 commented on #2151
same problem with "--ngram-scorer part" . It works fine using "--ngram-scorer full" , but decoding is slower.

[2020-08-11 06:35] HeYingnan commented on #2288
teacher-model: exp/train_no_dev_pytorch_train_transformer.v1/results/model.last1.avg.best
               # you can download pretrained teacher model from google drive
               # https://drive.google.com/open?id=1arZAxZOLep-1W5ByQMD1lCX2tEASnw7p

in this url, i can't download the teacher model...

[2020-08-11 08:13] sunnnnnnnny commented on #2151
@astikbiswas  ok,thank you. I see it, i set `ngram-weight =0.0` solve it ,Hhhhhh.

[2020-08-11 08:45] astikbiswas commented on #2151
Hello,

making ngram scorer weight to 0, does not have any effect on n-gram on the
final output.

On Tue, 11 Aug, 2020, 1:44 pm sunnnnnnnny, <notifications@github.com> wrote:

[2020-08-11 08:47] b-flo commented on #2200
@kamo-naoyuki There is another docstring style I'm using which was used at one point (dunno why we discarded it?):

[code]

Should I modify all files to match google style?

[2020-08-11 09:44] kamo-naoyuki commented on #2200
If you notice it, but you don't need to change using your time.
(Actually we can replace all of them with something like sed command if we feel like it, so)

Also note that type information in docstring is not necessary, but type-annotation is more preferable.

[2020-08-11 11:06] qmeeus commented on #2286
I am happy to help if necessary

[2020-08-11 11:54] kan-bayashi commented on #2288
trans_type="char" or "phn"???

It depends on you. You can try both cases.
You can find the results of various combination:
https://github.com/espnet/espnet/blob/master/egs/ljspeech/tts1/RESULTS.md

This is because encoder structure is different from the teacher model.

Sorry, please find the pretrained model from here:
https://drive.google.com/drive/folders/1J1YCqm-B4Il6xjdXvLgSfhHJgZDyXKPq?usp=sh

[2020-08-11 12:31] HeYingnan commented on #2288
In fact, I don’t know how to set “train_config” and "teacher_model_path",i don't know which fastspeech model match which teacher model, can you give me a example?  I just started learning TTS. thank you very much.
# config files
train_config=conf/tuning/train_fastspeech.v2.yaml # you can select from conf or conf/tuning.
                                               # now we support tacotron2, tra

[2020-08-11 15:02] sw005320 commented on #2286
@qmeeus, that is great if you contribute it!
As I said, there are certain amounts of the request about it, and it could have a great benefit for the community.
We'll do our best to help your contribution.

[2020-08-11 17:33] wentaoxandry commented on #2037
OK， thank you :)

[2020-08-11 17:33] #2037 closed

[2020-08-12 00:10] Arafat4341 opened #2290 "Utilizing multiple voice of JVS"
I have trained Tacotron-2 model on JVS dataset for TTS. However I am not sure how to utilize multiple voice of it.
Can anyone tell me if there's any way to use different voice?

[2020-08-12 00:12] #2262 closed

[2020-08-12 00:22] YangHan-Morningstar opened #2291 "Training Self Encoder"
Hi guys, recently I have trained self vocoder following you amazing project and it's really useful, but now I want to train my own encoder, such as transformer or fastspeech model, and my dataset is about Mandarin. Could you tell me how to do it? I'm looking forward to this. Thank you!

[2020-08-12 03:02] sunnnnnnnny opened #2293 "About “Force alignment”"
Hello,I found that only English force alignment is supported, right?

[2020-08-12 06:43] gafsd opened #2295 "Vertical attention during training"
I am using ESPNet 1 ljspeech-like dataset for pretrained weights and am getting some attention graphs like this in training which I haven't seen before:
![individualImage](https://user-images.githubusercontent.com/62999745/89983349-f8349200-dca9-11ea-8f46-2ae8b7300890.png)

I recently updated to latest commit and I know there are lots of ESPNet2 changes so could this be version related?
I init fro

[2020-08-12 12:47] sunnnnnnnny opened #2296 "About "ipdb" debug"
I am a new man for espnet,when i use ipdb to debug,the program will failed.Could you tell me how to solve it? thank you.

[2020-08-12 12:58] kamo-naoyuki commented on #2296
Could you tell me your procedure of using ipdb and what's error?

[2020-08-12 13:30] sw005320 commented on #2293
It can be used for any language if we use an appropriate pre-trained model.
We actually used it for some Japanese data with the CSJ pre-trained model.

[2020-08-12 15:37] sw005320 commented on #2295
Basically such changes would not cause this change, but it might be.
It would be great if you try it with several different versions (e.g., v08, v07), and identify the issue due to the version or your ljspeech-like dataset.

[2020-08-12 15:57] gafsd commented on #2295
@sw005320 I just try on v0.8.0 and the attention graphs look normal.

[2020-08-12 16:07] sw005320 commented on #2295
Thanks. Then, it would be a bug. @kan-bayashi, could you check this issue?

[2020-08-12 16:23] kan-bayashi commented on #2295
How did you get this attention plot?
Is this a plot during training?

[2020-08-12 16:26] gafsd commented on #2295
Yes, from images tab in tensorboard, even after 11k steps.

[2020-08-12 17:12] gafsd commented on #2295
Sorry I did not save exact same data but here is a 0.8.0 graph after some small steps. I find these graphs helpful to track down utts with bad attention (there is sadly a limit to num-save-attention I think but I have set to 32 here).
![individualImage](https://user-images.githubusercontent.com/62999745/90045556-c9e2a100-dd01-11ea-800d-04da2ff2d1aa.png)

[2020-08-12 17:17] kan-bayashi commented on #2295
Thanks.
Could you try to remove `[::-1]` here?
https://github.com/espnet/espnet/blob/5410797ebc8c4db040a3c0e23eb47051ababe684/espnet/asr/asr_utils.py#L115

[2020-08-12 17:45] gafsd commented on #2295
Yes that seems to have fixed it.
![pre](https://user-images.githubusercontent.com/62999745/90048820-96564580-dd06-11ea-9b24-c84d3230001a.png)
![post](https://user-images.githubusercontent.com/62999745/90048827-98200900-dd06-11ea-9273-30f4fcd27dd6.png)

[2020-08-12 17:49] kan-bayashi commented on #2295
Thank you for your checking.
It really helps us!

@hirofumi0810 Is this change for ASR or ST?

[2020-08-12 17:55] gafsd commented on #2295
Thanks. If I could suggest it would be helpful to be able to see all attention plots in tensorboard if I set num-save-attention high. It is nice to check problematic input files.

[2020-08-12 20:25] seanle24245 opened #2297 "LibriTTS XVector Extraction with new speaker"
I've been able to use the extracted speaker embeddings during stage 3 of run.sh to produce specific voices from the libritts set.  If I have some new audio from someone I want to produce, what would be the easiest way to extract x-vectors from it?  I'm a little confused on what stages can run independently.  The only route I know would be to add new file to the whole training set and run run.sh, b

[2020-08-13 01:24] qmpzzpmq commented on #2151
WIP, I found it indeed exists.

[2020-08-13 01:47] sunnnnnnnny commented on #2296
For example, if I insert `ipdb.set_trace() ` in the program, I want to see the flow of data, and then the program will not stop here when the program is running. Below is my log
in this dic `espnet-master/egs/aishell/asr1`
 . ./path.sh
   4
[code]
and insert two lines(1341,1342) in espnet-master/espnet/asr/pytorch_backend/asr.py：`import ipdb;ipdb.set_trace()`

abd the log file
[code]

[2020-08-13 02:02] sunnnnnnnny commented on #2293
I think so too, but I encountered the following two problems:
1、,When I use the pre-trained model of wsj to align the examples provided by git,
when i run
[code]
The decoded text content can be deduplicated and blank to get the same content as the original text label. This is no problem, but the length of the unprocessed result obtained by decoding is not equal to the number of frames of the input

[2020-08-13 02:15] sw005320 commented on #2293
The number of frames after subsampling.
So, it would be 1/4 length from the original one (but subsampling factors depend on the model. Mostly 1/4, but it might be different in some cases).

Year, this looks very strange.
Can you make sure that the dictionary is correct?
@simpleoier, could you take a look at this case?

[2020-08-13 02:58] sunnnnnnnny commented on #2293
I also thought it was a dict problem at first，but the dict is constructed by reading the char_list of the downloaded model file model.json( from `align/download/ais1_v1_model/exp/train_sp_pytorch_train_pytorch_transformer_lr1.0/results/model.json`), it should be no problem.

[2020-08-13 03:02] everange-ustc opened #2298 "Is there a tts demo for softmax wavenet vocoder"
The pretrained model of the softmax wavenet vocoder is provided, but the demo (notebook) does not include the wavenet. Is there any possible to add this part in the notebook?

[2020-08-13 04:01] simpleoier commented on #2293
@sw005320 Thank you for your replying.
@sunnnnnnnny There must be something wrong. I could get exactly the same content as the text to be aligned. Here is my result:
[code]

Here is how I got it:
1. I prepared the dictionary by running the ESPnet egs/aishell/asr1 recipe (I ran this about 3 months ago)
2. I downloaded the model from the [egs/aishell/asr1](https://github.com/espnet/espnet/blob/maste

[2020-08-13 08:10] sunnnnnnnny commented on #2293
I found that the char_list that I got from `pretrain_model/exp/train_sp_pytorch_train_pytorch_transformer_lr1.0/results/model.json` is wrong as a dict. I regenerated the dict and everything works fine now,Thank you for your meticulous guidance.

[2020-08-13 08:11] #2293 closed

[2020-08-13 08:36] sunnnnnnnny commented on #2296
i find it  [https://github.com/espnet/espnet/issues/2172](url).

[2020-08-13 08:37] #2296 closed

[2020-08-13 09:38] sunnnnnnnny opened #2300 "About the meaning of forced alignment"
After I read the examples and codes about forced alignment, I think this is different from the perceived forced alignment. The result of forced alignment here is only the result of not deleted duplication and deleted blank after CTC decode?

[2020-08-13 10:52] AdolfVonKleist commented on #2300
If you are looking for something that provides timestamps at the word-level, maybe it is worth checking out :
 * https://github.com/cornerfarmer/ctc_segmentation

this knits everything together and is perhaps more similar in spirit to your perceived idea of forced-alignment (e.g., something like https://github.com/lowerquality/gentle )

[2020-08-13 11:58] sunnnnnnnny commented on #2300
@AdolfVonKleist  Thank you for your suggestion, I will try it now.

[2020-08-13 12:13] sunnnnnnnny commented on #2300
@AdolfVonKleist Initially, it turns out that neither of the two you said supports Chinese

[2020-08-13 12:55] b-flo commented on #2300
I'm not familiar with gentle but there is no language dependencies in CTC segmentation, it can be used for any language.

[2020-08-13 14:46] AdolfVonKleist commented on #2300
Just to be clear, I did not have anything to do with developing that module.  It is a subject for integration discussed here:

* https://github.com/espnet/espnet/issues/2192

as @b-flo mentions, it should work fine with any language for which you have compatible espnet model.  I can confirm it works very well for all the languages I have tried including English, French, Italian and German.

[2020-08-13 16:47] jamfly opened #2302 "[Bug] Install error with src/binding.cpp:8:14: fatal error: THC.h: No such file or directory #include "THC.h""
## Summary
Hi there, I follow the doc step by step
while I executing step 5. on Installation Espnet

## How to reproduce
[code]

I got

[code]

after some googling, It seems to be cuda path issue, however, I can ensure `CUDA_HOME` is correct. It echo the right one

I attach my log in here
[log.log](https://github.com/espnet/espnet/files/5070282/log.log)

## Env
python: python3.6 on conda
pytorch:

[2020-08-14 00:45] kamo-naoyuki commented on #2302
I can't reproduce. pytorch1.4+cuda10.2 is the reason? Please test pytorch1.6.

[2020-08-14 00:58] kamo-naoyuki commented on #2302
pytorch1.4 doesn't support cuda10.2?
https://pytorch.org/get-started/previous-versions/
So, you need to use pytorch>=1.5 or cuda<=10.1

[2020-08-14 02:30] jamfly commented on #2302
Hi @kamo-naoyuki:
it solves my problem, thank you for your help

[2020-08-14 02:32] kamo-naoyuki commented on #2302
Okay, thanks. I'll fix Makefile to avoid this problem.

[2020-08-14 02:32] #2302 closed

[2020-08-14 10:34] lumaku commented on #2300
@sunnnnnnnny You could train a Chinese model from the recipe `egs/aidatatang_200zh/asr1/` and use this to apply CTC segmentation. You don't need language model or attention-mechanism to generate alignments, only the CTC part. See pull request #2301 for the recipe.

[2020-08-14 12:15] gafsd opened #2309 "Small dataset inference issue"
I am still having issues with small datasets where inference starts out ok then mumbles after a second or so - now I wonder whether pretrained model male vs female make a difference (I have been trying with pretrained female ljspeech model for male dataset). What do you think?

[2020-08-14 15:34] 943274923 opened #2310 "The grad norm is nan"
I use espnet2, conf is librispeech/conf/train_asr_transformer.yaml gpu,v100*8,data about 5k hours. torch==1.2.0,cuda=9.2

log is :
[code]

[2020-08-14 15:47] #2174 closed

[2020-08-14 20:50] kamo-naoyuki commented on #2310
It' no problem.

[2020-08-14 20:50] #2310 closed

[2020-08-15 02:53] kan-bayashi commented on #2295
Thank you for your suggestions.
In decoding, we support the attention plot of all of the data.
It might help you.

[2020-08-15 02:57] kan-bayashi commented on #2309
Since I have no good male dataset, I have no clear answer.
In my experiences, adaptation with a female model + small male dataset works well.
But if you can prepare the good single male model, it is better to use it as the initial model.
Also, in the case of adaptation, it is better to clean the dataset as much as possible.
(Remove silence, add symbols corresponding to the pause, etc...)

[2020-08-15 02:59] kan-bayashi commented on #2298
Sorry, we do not support wavenet in colab demo, since it requires very long time to generate.
There is a bash script to run the decoding with wavenet.
The following part might help you.
https://github.com/espnet/espnet/blob/b4413f6259c49d2543db1e10417c08118a09d990/utils/synth_wav.sh#L342-L355

[2020-08-15 03:02] kan-bayashi commented on #2297
You can refer this part to extract the x-vector.
https://github.com/espnet/espnet/blob/b4413f6259c49d2543db1e10417c08118a09d990/utils/synth_wav.sh#L237-L285

That is an extracted x-vector files.

[2020-08-15 03:08] kan-bayashi commented on #2291
First, I recommend trying ESPnet2 CSMSC resiep (`egs2/csmsc/tts1`).
This is the recipe to train the Mandarin single speaker model.
Maybe you can understand the recipe flow and then try to build your own recipe (See https://github.com/espnet/espnet/tree/master/egs2/TEMPLATE).

[2020-08-15 03:48] #2295 closed

[2020-08-15 06:02] b-flo commented on #2297
Small precision: `.ark` is a archive format of Kaldi containing a specific Kaldi object (generally a `KaldiMatrix`). It's used by the I/O utility.

[2020-08-15 06:09] kan-bayashi commented on #2288
Sorry for the late reply.
The procedure of the training of FastSpeech in ESPnet1 is a bit complicated.
So I recommend trying ESPnet2 TTS.
I created documents about the ESPnet2 TTS training in #2312.
This will help you.

[2020-08-15 08:38] abnernn opened #2313 "How to set warmup-steps"
1.If i increase batch_ bins, how to set warmup-steps,What is the relationship to Nbatch or others.
2.If  ngpu and batch_ bins increased by 4 times(gpu:2->8,bins:15000000->70000000)，how to set accum_grad  and lr in espnet2

[2020-08-15 09:11] kamo-naoyuki commented on #2313
See:  https://espnet.github.io/espnet/espnet2_tutorial.html

If batch_type=numel, increasing batch_bins indicates larger batch_size. We can't know the actual batch_size of each mini-batch and the number of batches before executing. `warmup_steps` is nothing related to batch type, but relatively the number of iterations decreases, so it's better to decrease `warmup_steps` also.

You can know typica

[2020-08-15 12:47] samin9796 opened #2314 "Training Custom Dataset"
Hi! I want to train a model on my own dataset using docker container (ASR). I have got the following questions:

1. I came to know that I need to prepare text, wav.scp, utt2spk and spk2utt files. But I don't have speaker information. Is there any way to work without the last two files?
2. How can I initiate training? Do I need to split the dataset into train, test and validation sets? If so, how t

[2020-08-15 23:56] kamo-naoyuki commented on #2314
I recommend you using espnet2 . More easy.

Speaker information is not used now for ASR at all, except for the definition of validation set, therefore utt2spk and spk2utt can be dummy.
See: https://github.com/espnet/espnet/tree/master/egs2/TEMPLATE#about-kaldi-style-data-directory

You need to prepare a validation set at least. If it's not defined, normally, it's 1-5% samples of the training set r

[2020-08-16 07:01] #1969 closed

[2020-08-16 08:02] samin9796 commented on #2314
@kamo-naoyuki

For my own corpus, do I need to modify this part- "--docker-egs an4/asr1" ?

[2020-08-16 08:06] kamo-naoyuki commented on #2282
@kan-bayashi This error occurs if pytorch=1.6.

[2020-08-16 08:08] kamo-naoyuki commented on #2314
I don't know about docker. @Fhrozen

[2020-08-16 08:10] #2052 closed

[2020-08-16 10:04] Fhrozen commented on #2314
@samin9796 For using docker, you will need to add a new dir on egs2 with the name of your recipe and the task;
so:
[code]
So yes, you can run with `./run.sh --docker-gpu 0 --is-egs2 --docker-egs <my_new_recipe>/<my_task> --ngpu1`, change the recipe & task dirname

[2020-08-16 10:49] kan-bayashi commented on #2282
Sorry, I misss this issue.
I will check it.

[2020-08-16 10:56] samin9796 commented on #2314
@Fhrozen  I downloaded the docker image. I don't have anything in the `<my_new_recipe>/asr1` directory (No run.sh file). Could you please help me what to do next?

[2020-08-16 11:00] kamo-naoyuki commented on #2314
Please read https://github.com/espnet/espnet/tree/master/egs2/TEMPLATE and documentation all before asking.

[2020-08-16 13:01] #2282 closed

[2020-08-16 13:01] kan-bayashi commented on #2282
Fixed in #2317

[2020-08-16 13:50] #2314 closed

[2020-08-16 23:35] YangHan-Morningstar commented on #2291
I’ll try it. Thanks a lot!

Tomoki Hayashi <notifications@github.com>于2020年8月15日 周六11:09写道：

[2020-08-17 00:23] #2291 closed

[2020-08-17 01:37] sunnnnnnnny commented on #2300
Of course I also think that CTC-segment can be used in any language, but when I understand the char_list of TEDLIUM_release1.tar.gz pre-trained model, I think it is still very different from Chinese. Espnet Chinese speech recognition model modeling seems to be all In words

[2020-08-17 01:37] sunnnnnnnny commented on #2300
Of course I also think that CTC-segment can be used in any language, but when I understand the char_list of `TEDLIUM_release1.tar.gz `pre-trained model, I think it is still very different from Chinese. Espnet Chinese speech recognition model modeling seems to be all In words

[2020-08-17 06:36] Arafat4341 opened #2318 "AssertionError: Demo TTS not working"
Getting this error while running demo TTS notebook colab:

[code]

[2020-08-17 13:31] dipeshhoncho07 commented on #670
Hey, I went through the entire thread, I just want to ask, I want to use librispeech pretrained model for my other small dataset initialization. Is it possible to do so? If yes, then how?
Second question is that my small corpus has most of the utterances as long utterance. So, how to use those long utterance in training, because when I try to put the corpus on training then the out of memory probl

[2020-08-17 13:53] b-flo commented on #670
Hi,

Sure, please refer to https://espnet.github.io/espnet/tutorial.html#how-to-use-finetuning on how to use transfer learning!

Given your corpus mostly contains long utterances, I would suggest segmenting them manually or with some external tools. Not sure what is freely available thought, IIRC Kaldi may have some scripts for that.

[2020-08-17 14:14] khursani8 opened #2319 "How to fine tune espnet2 model?"
I tried to fine tune espnet2 model using enc-init and dec-init and got
[code]

I think because that is only for espnet v1
How to do it for espnet2?

Thanks

[2020-08-17 16:36] godspirit00 opened #2320 "Improving Chinese TTS"
Dear sir,
I have tried Mandarin speech synthesis using the Colab notebook and the result was great!
The problem is some characters with neutral tones (e.g. 的 -> de) will trigger warnings like "e is not included in dict." and the result of the characters were incorrect.
Now pypinyin 0.39.0 has added a keyword argument `neutral_tone_with_five` to `pinyin()`. So `text = pinyin(text, style=Style.TONE3

[2020-08-18 02:31] kan-bayashi commented on #2319
You can use `--pretrain_path` and `--pretrain_key` option.
https://github.com/espnet/espnet/blob/3cc59a16c3655f3b39dc2ae19ffafa7bfac879bf/espnet2/tasks/abs_task.py#L1040-L1054
You can add them in training config (*.yaml).

[2020-08-18 03:08] jamfly opened #2321 "[Dependency] mmseg on egs/hkust/asr1"
## Summary

In run.sh stage 0: Data preparation

script requires mmseg on [hkust_segment.py](https://github.com/42qu/mmseg)
however, mmseg using pyhon 2.7
and in [hkust_data_prep.sh](https://github.com/espnet/espnet/blob/master/egs/hkust/asr1/local/hkust_data_prep.sh)
[code]
seems use python3 to execute python2 script

I also tried [py3mmseg](https://github.com/bxshi/py3mmseg)
unfortunately, it di

[2020-08-18 03:16] D-Keqi commented on #2321
I come into the same problem with you, and I used py3mmseg to solve it temporarily, but I found that the text I processed cannot contain useful text.
details as follows：
20040527_210939_A901153_B901154-A-024861-025638 [VOCALIZED-NOISE]
20040527_210939_A901153_B901154-A-051456-051795 [VOCALIZED-NOISE]
20040527_210939_A901153_B901154-B-002285-002604 [VOCALIZED-NOISE]
20040527_210939_A901153_B901154-

[2020-08-18 03:17] D-Keqi commented on #2321
I also tried to set up a python2 environment, but I still encounter this kind of problem

[2020-08-18 03:19] jamfly commented on #2321
I downgrade to python2.7 and change those python3 command to python, i.e., `python local/hkust_segment.py `
only execute stage 0 and stop at 0
then switch to python 3.6 to execute following stage

[2020-08-18 03:30] D-Keqi commented on #2321
please check the file /espnet/egs/hkust/asr1/data/local/dev/text, in my condition, this file is wrong， it does not contain the correct text. Have you encountered a similar situation?

[2020-08-18 03:33] jamfly commented on #2321
mine seems work fine
[code]

[2020-08-18 03:41] D-Keqi commented on #2321
What other changes have you made to this text hkust_data_prep.sh? The only thing I have changed is line 38: from iconv -f GBK -t utf-8-| perl -e 'to: iconv -f GBK -t utf -8 | perl -e'. This is because an error was reported at the time, and then modified according to other issues.
I really don't know what went wrong

[2020-08-18 03:44] jamfly commented on #2321
no, I did what I mentioned above, I use python 2.7 to prepare data, and execute following script by python 3.6
I did try py3mmseg, it produced unusable files. so, I guess, we need to use different versions base on dependency

[2020-08-18 04:21] kamo-naoyuki commented on #2321
We can't allow to use python2 at all places any more, so we must move it to python3.

(From https://github.com/bxshi/py3mmseg)

Probably, the problem is here.
Could you insert encode and decode here with py3mmseg and tell me the result?
https://github.com/espnet/espnet/blob/a15fd3b33492e67d06e39de5c05f4a126af75518/egs/hkust/asr1/local/hkust_segment.py#L19-L20

[code]

[2020-08-18 04:40] D-Keqi commented on #2321
sorry, i does not work, and error message is as follows:

Traceback (most recent call last):
  File "/storage3/dengkeqi/tools/espnet/tools/venv/envs/esp/lib/python3.7/site-packages/mmseg-1.3.0-py3.7-linux-x86_64.egg/mmseg/_mmseg.py", line 131, in __iter__
    raise StopIteration
StopIteration

The above exception was the direct cause of the following exception:

Traceback (most recent call last):

[2020-08-18 04:47] D-Keqi commented on #2321
Sorry, it does not work, the error is as follows:
Traceback (most recent call last):
  File "/storage3/dengkeqi/tools/espnet/tools/venv/envs/esp/lib/python3.7/site-packages/mmseg-1.3.0-py3.7-linux-x86_64.egg/mmseg/_mmseg.py", line 131, in __iter__
    raise StopIteration
StopIteration

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "

[2020-08-18 05:29] kamo-naoyuki commented on #2321
Okay, It's a simple bug. Could you use python3.6 for workaround? if you have time. (I will also)

[2020-08-18 05:41] D-Keqi commented on #2321
It works! Thank you very much！

[2020-08-18 05:47] D-Keqi commented on #2321
I used python 3,7 before, and then used py3mmseg, but I could not prepare the data correctly. Then I used Anaconda3 to create a new python2.7 environment, and then installed mmseg. It still failed, and later I found out that this new environment is still calling py3mmseg installed in the python3.7 environment. So I uninstalled py3mmseg under python3.7 environment, and the result suggested: no modu

[2020-08-18 05:52] D-Keqi commented on #2321
If you use py3mmseg, you need to modify the hkust_segment.py file according to @kamo-naoyuki 's suggestions

[2020-08-18 06:29] kamo-naoyuki commented on #2321
Okay, thank you for confirming. I'll fix later this.

[2020-08-18 06:34] kan-bayashi commented on #2318
Fixed.

[2020-08-18 06:34] #2318 closed

[2020-08-18 07:28] marzieh-razavi opened #2323 "error when training fastspeech2"
Hello, Thanks for providing the fastspeech2 implementation in espnet2. I am getting the following error when trying to run fastspeech2. I am actually not sure how the phoneme durations are provided in the fastspeech2 implementation, should I provide it from the MFA or this step is done in your implementation itself while preparing the data?
Here is the error that I am currently getting:
File "espn

[2020-08-18 07:30] kan-bayashi commented on #2323
Please follow this instruction.
https://github.com/espnet/espnet/tree/master/egs2/TEMPLATE/tts1#how-to-run

[2020-08-18 08:28] cosmo1995 commented on #2151
add
def select_state(self, state, i):
    return state
in "ngram.py" solves this problem.
Is this right?

[2020-08-18 08:31] qmpzzpmq commented on #2151
@cosmo1995 yes
as https://github.com/espnet/espnet/pull/2299

[2020-08-18 08:34] cosmo1995 commented on #2151
OK, that's fine. I did not see that.

[2020-08-18 09:43] khursani8 commented on #2319
Wow, thanks

[2020-08-18 09:43] #2319 closed

[2020-08-18 09:47] ican24 opened #2327 "TTS: Some observations of active testing hoping to fix disovered issues"
Dear @kan-bayashi,

A long time I am testing ESPnet TTS+ParallelWaveGAN solution with the custom (Armenian) databases.
I would like to share with my observations hoping to fix disovered issues.
1. Some punctuation symbols like Comma, Colon ("." instead of ":") and another explanation mark ("`") are interpreted as pause or stop, while the Question ("՞") and Emphasis ("'") marks, which are directly

[2020-08-19 07:55] jamfly opened #2328 "How to load ESPnet1 ASR model in python"
## Summary

I executed HKUST recipe work fine, from stage 0 to stage 5 all worked fine. I can train model well and get the decoded result.
but when I used [asr_cli](https://espnet.github.io/espnet/notebook/asr_cli.html) as reference to load my model, I got error.

## Re-produce
[code]

## Error message
full error message is:  [error.log](https://github.com/espnet/espnet/files/5094778/error.log)

#

[2020-08-19 11:40] SazerLife opened #2329 "error: command 'gcc' failed with exit status 1"
Hi everyone! Could you help me with this issue? I tried to apply a lot of answers from other issues but have no found a solution. As I understand it, this problem is related to PyTorch and Cuda version? Now my Cuda version is 10.2.

[code]

I get this error when to execute the last command in an install tutorial ("make" into <espnet-root>/tools

[2020-08-19 12:46] kamo-naoyuki commented on #2329
Sorry, this is know issue and not fixed yet: https://github.com/espnet/espnet/issues/2302

[2020-08-19 12:56] kan-bayashi commented on #2328
`from espnet.nets.pytorch_backend.e2e_asr import E2E` is RNN.
You need to use `from espnet.nets.pytorch_backend.e2e_asr_transformer import E2E`.
You can use this function to load model.
https://github.com/espnet/espnet/blob/3b68f3a7ef6b334003d1a69279a11765f3ce3f3d/espnet/asr/pytorch_backend/asr_init.py#L158

[2020-08-19 13:01] kan-bayashi commented on #2320
Hi @godspirit00.

Thank you for your information.
The main reason of missing character is that we use the phoneme label provided by CSMSC dataset in training but we use pypinyin in demo.
ESPnet2 use pypinyin for both training and decoding so the problem might be solved.
You can try in https://colab.research.google.com/github/espnet/notebook/blob/master/espnet2_tts_realtime_demo.ipynb

If you add s

[2020-08-20 02:26] #2323 closed

[2020-08-20 02:38] jaesong commented on #2211
I confirmed the #2211 (c0cd327fd69446cca6ec77a0b51da14288c32d28) solves the issue on WSJ.

[2020-08-20 03:25] HeYingnan commented on #2288
thank you!

[2020-08-20 05:56] SazerLife commented on #2329
Sorry for the duplicate. I didn't found it before... And thx! This issue resolved my problem!

[2020-08-20 05:56] #2329 closed

[2020-08-20 05:57] #2288 closed

[2020-08-20 06:31] #2211 closed

[2020-08-20 07:31] lumaku commented on #2300
I would solve this by transcribing Hanzi to Pinyin with tone marks (我 --> wo3), and then either directly make a Pinyin dictionary or apply SentencePiece. There are NLP tools to convert Hanzi to Pinyin. It's not necessary for CTC segmentation, but a language model to convert Pinyin to Hanzi can be found in kaldi.

[2020-08-20 08:47] kamo-naoyuki commented on #2200
I think it's more readable that all entity of scripts and pyscripts are put at `egs2/TEMPLATE/asr1`. I mean `egs2/TEMPLATE/enh1/scripts` is a little bit complex because there are many symbolic links to `egs2/TEMPLATE/asr1/`.

Yes, it's also confusing if `egs2/TEMPLATE/asr1/scripts` has the scripts for the other task, but even though, I think it's better to put them `egs2/TEMPLATE/asr1`.

What do y

[2020-08-20 09:22] sunnnnnnnny commented on #2300
I  also do that as @lumaku said.

[2020-08-20 14:19] poor1017 opened #2335 "kenlm errors in egs/aishell/asr1/run.sh"
Summary

    When I run egs/aishell/asr1/run.sh, I got this error message:

stage 3: LM Preparation
=== 1/5 Counting and sorting n-grams ===
Reading /workspace/cpfs-data/Workstations/utils/espnet/egs/aishell/asr1/data/local/lm_train/train.txt
----5---10---15---20---25---30---35---40---45---50---55---60---65---70---75---80---85---90---95--100
./run.sh: line 195: 37921 Killed                  lmplz

[2020-08-20 15:12] kamo-naoyuki commented on #2335
Looks like OOM killer. Kenlm requires much memory in general.

[2020-08-21 02:46] m-koichi opened #2336 "Development plan for ESPnet2 sound event detection"
We are developing some functions for sound event detection in ESPnet2.
Sound event detection is somehow different from speech processing. However, some signal processing and machine learning techniques are common.
We are welcome to your comments and suggestions.
For now, we are planning to reproduce [this Conformer-based SED system](http://dcase.community/documents/challenge2020/technical_reports/

[2020-08-21 03:04] artingithug opened #2337 "Dependency joblib version conflict by setup.py of espnet ver. 0.9.1"
##### Description:
By pip3, espnet ver. 0.9.1 cannot be installed due to the version conflict on the dependency joblib library specified
in setup.py

##### Detail:
As below, pipenv exposed the version conflict on the dependency joblib library (when I have let pipenv attempt
resolving dependency versions since I couldn't install espnet ver. 0.9.1 by pip3):

    pipenv.exceptions.ResolutionFailure:

[2020-08-21 03:32] jamfly commented on #2328
Hi sorry for late response, it works.
thanks for your help.

[2020-08-21 03:57] #2328 closed

[2020-08-21 04:15] kamo-naoyuki commented on #2337
Pip3 will change the behaviour when version conflicting and such conflicting packages is not allowed after the updating. However, you can install espnet for now as it is if ignoring pipenv.

Anyway, we must solve this issue in the near future.
I removed underthesea from the requirements for workaround. I think the requirement is crazy. We shouldn't use such module. @kan-bayashi
We still have confl

[2020-08-21 07:22] poor1017 commented on #2335
@kamo-naoyuki
You are right, it does related to memory.

Bad Machine Memory:
`MemTotal:       263967804 kB
MemFree:        45624364 kB
MemAvailable:   173814840 kB
Buffers:          163592 kB
Cached:         99283784 kB
SwapCached:            0 kB
Active:         94148868 kB
Inactive:       51684704 kB
Active(anon):   46391796 kB
Inactive(anon):  1622892 kB
Active(file):   47757072 kB
Inactive(fil

[2020-08-24 04:12] #2003 closed

[2020-08-24 04:12] #2008 closed

[2020-08-24 04:12] #1926 closed

[2020-08-24 08:54] jeffwang2333 opened #2357 "Using Aishell for New wav File"
I've already trained the aishell model and finished testing it, now I want to use it for recognizing my own wav file. From a previously answered issue I found the method of changing the recog_wav.sh file, but I'm not sure about the exact changes I need to make. Can someone give me some suggestions on this?

[2020-08-24 09:11] b-flo commented on #2357
Hi,

It seems to me the printed usage from `recog_wav.sh` is self-explanatory:

[code]

The `# Decode using model file` part is what you're looking for!
I don't know if the script is up-to-date though as I use another one, feel free to report if there is any issue.

[2020-08-24 10:03] JinmingZhao opened #2358 "Bug when install espnet"
when make the espnet, there is a bug in the check_pytorch_cuda_compatibility.py

$cd espnet/tools
$make

when use pytorch = 1.1.0  and there is no maybe_supported variable in   'espnet/tools/check_pytorch_cuda_compatibility.py'

How to fix:
add  'maybe_supported=[]'  in the begin of the function: check()

[2020-08-24 17:09] rhoposit commented on #525
@sw005320 I am having a similar issue and the url linked above is stale. What is the check that I can do?

[2020-08-24 17:14] rhoposit commented on #176
I am having this problem now on iwslt16, I tried setting gpu=4, and gpu=1, with different batch sizes.

[2020-08-24 17:44] siddalmia opened #2359 "Resuming model from model.loss.best doesn't work"
Hi,

When I try to resume my model training / fine-tune my pretrained model from model.loss.best it errors as it is unable to find "trainer" in snapshot_dict.

Is there a way to override this?

Thanks
Sid

[2020-08-24 17:50] siddalmia commented on #2359
Ok looks like I can use enc-init and dec-init.

Thanks and sorry for the inconvenience.

[2020-08-24 17:50] #2359 closed

[2020-08-24 18:26] sw005320 commented on #525
Check https://github.com/espnet/espnet/pull/2360
I added the document about the check installation.

[2020-08-24 23:13] kamo-naoyuki commented on #2358
thanks, I missed,

[2020-08-25 00:09] #2358 closed

[2020-08-25 16:44] formiel opened #2363 "Bug: score_bleu.sh removes good tokens"
Hello,

While reproducing an experiment on MuST-C, I realized that the reference file used for computing BLEU is different from the original reference file: tokens such as `(_Gelächter_)` and `(_Applaus_)` are removed from both the reference and the hypothesis.

After checking `score_bleu.sh`, I think that the issue lies at [these lines](https://github.com/espnet/espnet/blob/d0846517c1a69cd32ac6c0

[2020-08-25 16:59] sw005320 commented on #2363
Indeed, it is critical.
@hirofumi0810, could you check this issue?

[2020-08-26 01:09] hirofumi0810 commented on #2363
Thanks, @formiel! I think this is OK because these labels can be removed in the recent IWSLT evaluation campaign.

@sw005320 What do you think about this? One possible solution is to make this an option.

[2020-08-26 09:57] ican24 commented on #2327
I hope you did not foget my request.
Additional observation:
The punctuation symbols are really trouble for ESPnet TTS. I did another machine learning with completely tested dataset and discovered that the run.sh at stage 5: Synthesis failed to decode, when it met punctuation symbols.
I am attaching generated png and wav files for same sample:
1. decoded png: exp/phn_train_no_dev_pytorch_train_pyt

[2020-08-26 12:42] kan-bayashi opened #2365 "ctc-segmentation installation is failed with pip in colab"
Recently `ctc-segmentation` is addded in requirements (#2301).
However, this causes the error in the installation with pip in colab.
(You can reproduce in [this notebook](https://colab.research.google.com/github/espnet/notebook/blob/master/espnet2_tts_realtime_demo.ipynb).)
This affects the demo notebook so I want to fix it as soon as possible.

@lumaku Could you check it?

[code]

[code]

[2020-08-26 13:03] kan-bayashi commented on #2327
Sorry for the late reply.

It depends on your dataset. If your data contains pause which corresponds to the punctuation symbols, the model interprets the symbols as the pause token. To avoid this issue, you need to remove the pause from your dataset.

I think this is caused by the text2mel model part due to attention failure.
This is a common issue of the auto-regressive text2mel model.
Maybe you

[2020-08-26 13:35] hirofumi0810 commented on #2363
@formiel One reference: https://www.aclweb.org/anthology/2020.acl-main.350.pdf
This recent ACL paper on simultaneous ST actually removed such labels in advance.

[2020-08-26 13:35] ican24 commented on #2327
Thank you very much!
I'll study all your recomendations to find best solutions.
A few minutes ago I found that the main punctuation symbols like Comma, Colon  are not purely ASCII characters in my phonetic conversation table. Do you confirm that they may cause above mentioned troubles?

[2020-08-26 13:39] kan-bayashi commented on #2327
I think the character of the symbol is not related.
Any symbol will be OK to use.
The problem is that the relationship of the pause in the dataset and the symbol which corresponds to the pause.

[2020-08-26 13:41] sw005320 commented on #2363
@formiel, could you clarify it?
I could read that it processes the longest matching instead of the shortest matching.

@hirofumi0810, if it is based on the longest matching, this would be an issue.

[2020-08-26 13:41] ican24 commented on #2327
Thank you for explanation!

[2020-08-26 14:11] ican24 commented on #2327
No my dataset is a clear in the start and end sections.  I had carefully trimmed it with the help of Kaldi tools.
Below is a sample.

![Screenshot from 2020-08-26 14-49-54](https://user-images.githubusercontent.com/19214100/91311994-9f85ee80-e7ab-11ea-9e37-f6425e3285b4.png)

Anyway your information is enough to start new investigation and testing.
I'll pubilsh results here.

Thank you again. Your

[2020-08-26 14:11] formiel commented on #2363
@sw005320 @hirofumi0810  Thank you for your replies!

I think that these lines removing all characters (except for the character`)` ) between the parenthesis `()` together with the parenthesis itself. Since some tokens such as `Applaus`, `Gelächter`, etc. are put in the parenthesis (similar to utterance IDs), they are deleted as well when we remove the utterance IDs.

Below is a test case includin

[2020-08-26 14:15] kan-bayashi commented on #2327
From your picture, the pause in the middle is too long.
It is better to remove the silence or divide into several sentences.

[2020-08-26 15:47] ican24 commented on #2327
Dear @kan-bayashi,

(In my case, we modify the pause to be less than 0.5 sec.)

Have you any recommendation to do it automatically?
Is there any tool to remove long pause from the middle of the audio file?

Thank you in advance!

[2020-08-26 15:54] sw005320 commented on #2363
Thanks for the clarification.
Unintentional longest matching seems to happen.

@hirofumi0810, could you fix it?
It would change the evaluation result, but I believe it would not be very large.

[2020-08-26 16:28] Piteryo commented on #2365
If you install it directly from github like `pip install git+https://github.com/lumaku/ctc-segmentation` then everything is ok.

[2020-08-26 16:33] hirofumi0810 commented on #2363
@formiel This is the expected behavior. We remove parenthesis together with characters inside.
Also, this is not the longest match. It should be the shortest match because `)` is included in the regular expression `'s/\([^\)]+\)//g;'`.

[2020-08-26 16:35] sw005320 commented on #2363
I see. Thanks for the clarification!
Maybe it's better to leave some documents about it?

[2020-08-26 17:14] formiel commented on #2363
Well, I was aware of what that regex does, but is it really what we want? The authors of MuST-C didn't seem to do that in their evaluations so it would be difficult to have a fair comparison between papers.

Your suggestion about making this an option seems reasonable to me, but then I wonder how you could accurately detect such non-verbal tokens in the predictions (which, unlike the ground-truth,

[2020-08-26 17:21] formiel commented on #2363
Or a much simpler solution: just replacing `perl -pe 's/\([^\)]+\)//g;'` with `perl -pe 's/\([^\)]+\)\n/\n/g;'`.

[2020-08-27 00:38] kan-bayashi commented on #2327
I used the force alignment results with pause insertion.
(Just cut the pause part and concatenate them.)

[2020-08-27 06:07] hirofumi0810 commented on #2363
The IWSLT organizers accept to remove these labels.

See
https://hal.archives-ouvertes.fr/hal-02895893/document
https://groups.google.com/g/iwslt-evaluation-campaign/c/13pm6nGXKlQ/m/ypQCzO6TBQAJ

[2020-08-27 09:31] AyaLahlou opened #2370 "espnet espnet2 installation failed with pip"
Hello, I'm having a problem installing espnet to run this notebook [espnet2_tts_demo](https://colab.research.google.com/github/espnet/notebook/blob/master/espnet2_tts_realtime_demo.ipynb#scrollTo=fjJ5zkyaoy29)
when I run this line `!pip install -q git+https://github.com/espnet/espnet.git` I get the following error

[code]

[2020-08-27 09:41] kan-bayashi commented on #2370
Sorry, this is a known issue (#2365).
We will fix soon. Please wait for a while.

[2020-08-27 09:42] #2370 closed

[2020-08-27 09:43] kan-bayashi commented on #2365
@Iumaku Could you merge @kamo-naoyuki 's patch?

[2020-08-27 09:57] kan-bayashi commented on #2370
For quick fixing, please the first cell as follows:
[code]

[2020-08-27 12:44] sw005320 commented on #2363
Thanks, @hirofumi0810 for further clarification.
To reconcile the evaluation setups for both IWSLT and MuST-C, it's better to 1) add an option to switch them or 2) we can make a test set for both IWSLT and MuST-C but select either of them in iwslt19 and must_c recipes, or whatever.
In either case, we may need to add the note about the above (and set the link of this issue) in `run.sh`.

Is that OK

[2020-08-27 14:18] chaitrasj commented on #2282
What is the solution for this probelm @kamo-naoyuki ?
I am trying to train my model, the code is working totally fine on my server machine which has Pytorch 1.4.0 installed. But when I am trying to run it on Google colab which has latest Pytorch 1.6, it gives me this error in the very first tensor allocation.
In my code all objects are getting allocated in cuda, i don't understand why in Colab it

[2020-08-27 15:00] picheny-nyu opened #2371 "Improved AMI results?"
I ran the basic AMI recipe and seem to be getting WERs of 21.1. The best numbers in the "results" file in the published recipe seem to be 25% at best, or worse. Has the system significantly improved since the AMI recipe was published (and if so, how?)

[2020-08-27 15:09] sw005320 commented on #2371
Yes, I think this would happen because we have some internal changes, e.g., initialization, CTC loss functions, as espnet or pytorch versions are updated. Such changes could affect the performance significantly for small amounts of a corpus such as AMI.

[2020-08-27 15:15] b-flo commented on #2371
Also, it seems that the best reported system with data augmentation is trained for 100 epochs while current config has epochs set to 200.

[2020-08-27 20:02] formiel commented on #2363
@sw005320 Sounds good to me. Thank you!

FYI, in my experiments, the new BLEU scores decrease from 0.02 to 0.31.

[2020-08-28 12:40] sharockys commented on #2094
Hello,
It seems that this fix has been #2091 has been removed from #2225.
Now this problem happens again.

[2020-08-28 12:47] kamo-naoyuki commented on #2094
No, there are not such problems.
What happened? Note that if you are using cuda>=10.2, cupy isn't installed.

[2020-08-28 12:49] kamo-naoyuki commented on #2094
Also, note that cupy.done no longer exists.

[2020-08-28 12:58] sharockys commented on #2094
Thank you for your quick response.
I am using cuda10.1
This is my error information.
[code]

[2020-08-28 12:59] sharockys commented on #2094
I am working on ubuntu18 and python3.6.

[2020-08-28 13:10] kamo-naoyuki commented on #2094
You can ignore cupy if you won't use chainer.

Hmm, but your result looks strange. Could you show the log of `showenv`, which is shown at the first by Makefile.

Could you show?

[2020-08-28 13:36] sharockys commented on #2094
Thank you. I don't really use chainer.
Hereby the log of `showenv` (if I am not confused. Sorry I don't know well Makefile.)
[code]

[2020-08-28 13:39] sharockys commented on #2094
TH_VERSION is 1.4.0 is just because I ran another test on pytorch 1.4.

[2020-08-28 13:44] kamo-naoyuki commented on #2094
Thanks, hmm, could you remove chainer.done and make again? It must install cupy, I believe.

[2020-08-28 14:03] sharockys commented on #2094
Indeed cupy is installed, I have seen it on the log.

By removing chainer.done and chainer_ctc
It gives me
[code]

[2020-08-28 14:08] kamo-naoyuki commented on #2094
Please show full log. It's waste of time.

[2020-08-28 14:28] sharockys commented on #2094
I am sorry. Thank you for your help again.
This is the full log.
[code]

[2020-08-28 14:34] kamo-naoyuki commented on #2094
The log doesn't include the instllation of chainer, obviously.

Oh no...,did you remove `chainer.done` from Makefile by any chance?
I mean, please remove the file named as chainer.done, not modifying Makefile.

[2020-08-28 14:39] kamo-naoyuki commented on #2094
FYI. Makefile manages the progressive status using the file existence and its timestamp.

[2020-08-28 15:03] sharockys commented on #2094
Ah ok, I misunderstood. Sorry again.
Thank you for explaining this to me. That was very kind of you.
Now this is the new log.  I deleted the container and create a new one to build again, so this is a fresh new build.

[build_log.txt](https://github.com/espnet/espnet/files/5142774/build_log.txt)

[2020-08-28 15:09] kamo-naoyuki commented on #2094
Okay thanks. Makefile installed cupy correctly. There are no problems, but you failed to import  cupy due to some error, so please do:

[code]

Probably, you meet some error.

[2020-08-28 15:14] sharockys commented on #2094
Thank you. I am leaving my office. I will check this tonight..
Once I got the result for the test, I put the feedback here.
Thank you again for the help and your valuable time.

[2020-08-28 15:58] sw005320 commented on #2363
Thanks!
I had a conversation with @hirofumi0810, and he would add some options in the script to switch between IWSLT and Must-C standards.

[2020-08-28 18:59] sharockys commented on #2094
Hello,
I tested and I did
[code]
No error suggested.
Anyway, thank you for you help.
Have a nice weekend!

[2020-08-28 19:12] kamo-naoyuki commented on #2094
Sorry, but I want to understand what happened for the other people. Could you pull espnet repo and make again? I updated repository to show error.

[2020-08-28 19:17] sharockys commented on #2094
Of course. I will try this right now.

[2020-08-28 20:23] sharockys commented on #2094
Hello.
This is the build log with raw error output..
[build_log.txt](https://github.com/espnet/espnet/files/5144037/build_log.txt)

[2020-08-28 21:04] #2196 closed

[2020-08-28 21:07] #878 closed

[2020-08-28 21:15] #1203 closed

[2020-08-28 21:15] #1369 closed

[2020-08-28 21:16] #1373 closed

[2020-08-28 21:22] #1475 closed

[2020-08-28 21:22] #741 closed

[2020-08-28 21:23] #1915 closed

[2020-08-28 21:26] kamo-naoyuki commented on #2094
Thanks, so your problem is clear.

[code]

You don't have it simply.

[2020-08-29 07:47] ican24 commented on #2327
Thanks a lot!
I am intensively using aeneas for dataset preparation.  So firstly I'll try it.
If you have other recommendation of  the force alignment tools, please inform me.

[2020-08-29 08:54] #2024 closed

[2020-08-29 08:54] #2022 closed

[2020-08-29 08:54] #2021 closed

[2020-08-29 08:54] #2020 closed

[2020-08-29 08:54] #2018 closed

[2020-08-29 09:50] Piteryo opened #2375 "Unable to set batch_size in tts training"
There is no such option in tts.sh (script fails if you try to pass it) and setting it in train.yaml also does nothing - it is always 20.

[2020-08-29 09:58] kan-bayashi commented on #2375
See https://espnet.github.io/espnet/espnet2_training_option.html#change-mini-batch-type
There are several mini-batch type.
In the following config, we use `batch_type=numel` and specify `batch_bins` instead of `batch_size` to enable us to use dynamic batch size.
https://github.com/espnet/espnet/blob/96b2fd08d4fd9276aabd7ad41ec5e02a88b30958/egs2/ljspeech/tts1/conf/tuning/train_tacotron2.yaml#L61-L6

[2020-08-29 10:00] Piteryo commented on #2375
it was unclear from the docs I read, thanks!

[2020-08-29 10:00] #2375 closed

[2020-08-29 10:18] kan-bayashi commented on #2375
Updated README https://github.com/espnet/espnet/pull/2376

[2020-08-29 10:28] ican24 commented on #2327
Much more easy to remove pause with the help of Audacity.
1. create new chain/macro with "Truncate Silence" + "Export wav"
2. apply to "files"
You may find your modified files in the "cleaned" folder of your files location.

[2020-08-29 20:42] samin9796 opened #2380 "Espnet 2 installation"
I found this link in the docs - [https://github.com/espnet/espnet/blob/master/doc/installation.md](url)
Do I need to follow this doc for Espnet 2 installation or is it for Espnet 1?

*** In this doc, step 1 is kaldi installation. Do I need this for Espnet 2?

[2020-08-30 03:05] kamo-naoyuki commented on #2380
You don't need to compile Kaldi to use espnet2, but some features are restricted for ASR recipe.

- Kaldi fbank and pitch feature are unavailable.
- Some recipe might still depend on Kaldi (This should be a bug. Please report me if you found.)

For ESPnet2 TTS/ENH recipe, there is no use to compile Kaldi.

[2020-08-30 07:47] Shengqiang-Li opened #2381 "Issue about training ngram LM"
It shows that no commad named lmplz when i try to train a ngram lm model，what should i do？

[2020-08-30 08:01] kamo-naoyuki commented on #2381
Install kenlm.

Don't you see an error before executing the part? I think you dare to delete the part to ignore the error. Please care before asking.

[2020-08-30 08:01] #2381 closed

[2020-08-30 08:27] #2380 closed

[2020-08-30 08:27] #2357 closed

[2020-08-30 08:28] #2313 closed

[2020-08-30 08:28] #2247 closed

[2020-08-30 08:28] #2224 closed

[2020-08-30 10:29] #2297 closed

[2020-08-30 15:12] formiel commented on #2363
@sw005320 That's great! I'm glad to hear that. I look forward to the update.

[2020-08-30 18:33] samin9796 commented on #2380
@kamo-naoyuki
I am getting this error while running the `make` command.

 #include <cublas_v2.h>
          ^~~~~~~~~~~~~
compilation terminated.
error: command 'gcc' failed with exit status 1
Makefile:155: recipe for target 'warp-transducer.done' failed
make: *** [warp-transducer.done] Error 1

I don't find any cublas_v2.h file. I am using cuda 10.0 version.

[2020-08-31 02:52] kamo-naoyuki commented on #2380
I tested from scratch just now, I didn't met the error, but I don't have cublas_v2.h, too.

Please show the least information, pytorch version, cuda version, OS, gcc version, using anaconda or not. Did you use setup_cuda_env.sh correctly? Do you have  cublas_v2.h there?

[code]

[2020-08-31 08:00] atiklt1972 commented on #670
Dear sw005320,
I am a beginner for an  end-to-end ASR concept and get  confused about a text used for language model   in non  end-to-end conventional approach. I haven't seen a way to use that text in end-to-end toolkits like espnet. am I right or not? I need a witness. On the other hand, the result (WER) found in espnet  is bad as compared to a result of the Kaldi toolkit. I am afraid of the res

[2020-08-31 08:05] atiklt1972 commented on #670
Dear sw005320,
Sorry for your information I prepared only training and test data of speech utterances with their corresponding texts for espnet experiment.

[2020-08-31 08:29] b-flo commented on #670
Hi,

Not sure if I correctly understood what you're asking so bear with me:

Most recipes have a LM training step included in the run script, e.g.: https://github.com/espnet/espnet/blob/master/egs/librispeech/asr1/run.sh#L172-L201
We usually use the transcriptions from the training set used to train the LM but you can use or augment with additional data.

The statement is too broad, more informati

[2020-08-31 08:31] AdolfVonKleist commented on #670
@dipeshhoncho07 if you are still looking for segmentation tools, aside from kaldi as already mentioned:

 * https://github.com/ina-foss/inaSpeechSegmenter
 * https://github.com/wiseman/py-webrtcvad

work very well together.   still requires some elbow-grease but the quality is excellent, especially if you need to cut out things like noise and music from real world recordings.

[2020-08-31 10:14] atiklt1972 commented on #670
Dear b-flo ,
Thank your fast response. I will reach out with the detail problem of my second question (bad WER result).

[2020-08-31 11:02] sharockys commented on #2094
Thank you very much. I found out that this is due to the docker build I used is not an nvidia-runtime. Once switch the build runtime to nvidia, I think that this is resolved.
I have learned a lot. Thank you again.

[2020-08-31 12:39] WuHao9408 opened #2386 "How to use a large number"

[2020-08-31 12:40] #2386 closed

[2020-08-31 13:28] WuHao9408 opened #2387 "How to use a large number to train a language model"
Can chainer use large-scale corpus （more than 100GB）to train a language model ? i don't know chainer Iterator whether need the whole dataset. I try to use pytorch IterableDataset to produce data to train, read lines as a batch, but it seems failed.

[2020-08-31 14:05] samin9796 commented on #2380
OS: Ubuntu 18.04 LTS
cuda version: 10.0
gcc version: 7.5.0
pytorch version: 1.2.0 (Trying to install it with `make TH_VERSION=1.2.0` command.

I am installing these under anaconda environment. I used this one - `. ./setup_cuda_env.sh /usr/local/cuda`
`find ${CUDA_HOME} -name cublas_v2.h` command returns nothing.

[2020-08-31 14:14] kan-bayashi commented on #2380
Did you install cuda correctly at `/usr/local/cuda`?
(You need to install cuda by yourself.
`cublas_v2.h` should be located in `/usr/local/cuda/include/`.
[code]

[2020-08-31 14:27] samin9796 commented on #2380
This is what I get:

nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2018 NVIDIA Corporation
Built on Sat_Aug_25_21:08:01_CDT_2018
Cuda compilation tools, release 10.0, V10.0.130

/usr/include/cuda.h /usr/local/cuda

ls: cannot access '/usr/local/cuda/include/': No such file or directory

cublas_api.h
cublas.h
cublas_v2.h
cublasXt.h
nvblas.h

If I use cuda-9.0 path as cuda root path then

[2020-08-31 14:50] kamo-naoyuki commented on #2387
LM training reads the whole text data at startup, so you need large amount of memory as the corpus.
IterableDataset can solve this problem if you correctly implement, but it's hard to shuffle the corpus. I don't know whether it affects the training result or not.

I recently implemented a new feature in espnet2 to handle large corpus by another solution.
If you split a large text file into sub tex

[2020-08-31 14:51] kan-bayashi commented on #2380
If `cublas_v2.h` is located in `/usr/include`, why don't you make symlink (`/usr/local/cuda/include -> `/usr/include`)?

[2020-09-01 04:04] xvolica commented on #2247
I am using hkust to test the difference between espnet1 and espnet2.
Using same parameters, the espnet2 get worse result than espnet1:

Corr | Sub | Del | Ins | Err | S.Err
-- | -- | -- | -- | -- | --
Espnet1.0 | 78.9 | 17.4 | 3.7 | 3.5 | 24.5 | 73
Espnet2.0,lr=0.005 | 74.9 | 20.1 | 5 | 3.2 | 28.3 | 77.2
Espnet2.0,noam | 76.5 | 18.8 | 4.7 | 3.3 | 26.8 | 75.9

[2020-09-01 06:29] keshawnhsieh opened #2390 "Recently updated setuptools cause installation failed"
[setuptools](https://pypi.org/project/setuptools/#history) updates its version to 50.0.0 yesterday and cause espnet installation failed. It's hard to debug because installation log doesn't show this failure cause explicitly, but rollback the version of setuptools to 49.6.0 do works.

[2020-09-01 07:31] 7zhanghao opened #2391 "Is there a egs using the specaugment?"
I want to use specaugment proposed by Google, but i can't find a egs.

[2020-09-01 07:34] kamo-naoyuki commented on #2391
You can find it https://github.com/espnet/espnet/blob/master/egs/librispeech/asr1/run.sh#L24 for example.