[2019-10-26 02:05] sw005320 commented on #1304
can you test a few more recpes? If we still observe it, we can just use this non tanh one.

[2019-10-26 02:29] simpleoier commented on #1304
No problem. I was going to.

[2019-10-26 02:33] RSSharma246 commented on #1304
Do you have numbers for the attention part, i.e., decoding ctc_weight !=0 for the mtl=0.5 model?
Might be interesting to see if those numbers improve and by how much?
Thanks

[2019-10-26 02:48] simpleoier commented on #1304
Do you mean decoding ctc_weight!=1.0?

[2019-10-26 02:49] RSSharma246 commented on #1304
Sorry, typo, that's what I meant

[2019-10-26 05:41] geekboood commented on #977
@lingjzhu Hi, I wonder how long does wavenet take to synthesize a piece of sound? The matrix shape I get from Transformer model is (472, 80) and I see the hop_size in your configuration is 300. As a result, it takes me 140400 steps to synthesize a piece of sound which need about one hour.

[2019-10-26 13:04] lingjzhu commented on #977
@geekboood Yes, WaveNet is very slow. In my case, it took 15 mins to generate a 6-second sentence on a 2080Ti. But one hour seems too long to me. Are you using a GPU? You can also try to synthesize multiple sentences together to speed up the synthesis speed.

[2019-10-26 13:33] r9y9 commented on #977
It depends, but it wouldn't be too slow if we increase the batch size. I usually use 64 or larger.

[2019-10-27 05:59] sknadig commented on #1294
I’m interested in this.
For feature extraction, in addition to the kaldi binaries, if we can have a pure TensorFlow [`tf.signal`](https://www.tensorflow.org/api_docs/python/tf/signal) based feature extraction, it would really help in porting models to [`tf.lite`](https://www.tensorflow.org/lite)/[`TensorFlow.js`](https://www.tensorflow.org/js) and other TensorFlow specific features.

I would like

[2019-10-27 07:22] ahmedalbahnasawy commented on #1285
okay thank you @sw005320 and @kan-bayashi I will start training by following the same conf file

[2019-10-27 17:33] simpleoier commented on #1304
@sw005320 Here, I put the results on WSJ recipe. There are still improvements when disabling the tanh for the last encoder layer.
* Here is the results for the current ESPnet (with tanh for the last encoder layer):
[code]
* Here is the results for the current ESPnet (disabling tanh for the last encoder layer):
[code]

[2019-10-29 12:21] geekboood opened #1316 "Why the result with Griffin-Lim algorithm is significantly worse than with vocoder?"
I have listen to the result of `csmsc.fastspeech.v3` and it has both GL and WaveNet sub-directories, but the GL results have apparent electronic sound glitches. But in NVIDIA's WaveGlow paper, the MOS for Griffin-Lim is 3.823 and for WaveNet is 3.885. I also hear the Griffin-Lim results on WaveGlow's homepage (`https://nv-adlr.github.io/WaveGlow`) and their results sound normal.

[2019-10-29 13:35] #1089 closed

[2019-10-29 15:17] Daniel-asr opened #1317 "Incompatibility in protobuf's version requirements"
I'm trying to install espnet. So I'm at the espnet directory and run:
`sudo python3 setup.py install`

And i get the error:
`error: protobuf 3.8.0 is installed but protobuf<3.8.0rc1,>=3.0.0 is required by {'chainer'}`

Before the error i see:
[code]

So basically I arrived to a point where, on one hand, **espnet needs protobuf>=3.8.0**
And, on the other, **chainer (v6.0.0) needs protobuf<3.8.0**

[2019-10-30 00:13] sw005320 commented on #1285
Thanks. Please let us know if you still have some issues.

[2019-10-30 00:14] sw005320 commented on #1304
This is very significant.
Could you make a PR?

[2019-10-30 00:37] sw005320 commented on #1316
@kan-bayashi, @r9y9, do you have some comments?

[2019-10-30 00:46] kan-bayashi commented on #1316
This is because in the case of GL we use inverse mel basis to covert mel filterbank to full spectrogram (80 dim -> 2048 or 1024 dim). In waveglow HP, the spectrogram is natural one i.e., magnitude itself is the same as the groundtruth. To improve the quality of GL, it is necessary to consider the use of additional network for the conversion such as CBHG.

[2019-10-30 00:47] sw005320 commented on #1294
Thanks.
This is a good point.
@hirofumi0810 and @kan-bayashi, can you also give us some comments?
Pytorch and chainer have the very similar base and we could have a unified design, but I'm not sure whether we can do the same thing for TF.

[2019-10-30 01:11] sw005320 opened #1318 "pure attention mode"
I think pure attention/ctc mode is not well documented. We just have https://github.com/espnet/espnet#ctc-attention-and-hybrid-ctcattention but this could not be working because of the lack of appropriate setting of several hyperparameters including
[code]
should be
[code]
or whatever.

Probably we should put some warning or chaning the default values of `maxlenratio` and `minlenratio` when `ctc-w

[2019-10-30 01:41] sw005320 commented on #1317
I just tested to install the current master but I did not encounter such an issue. Could you let me know your environment?

[2019-10-30 01:43] sw005320 commented on #1317
For example, something like that
[code]

[2019-10-30 02:25] xiechen0692 opened #1319 "How does the loss in asr be calculate?"
# Compute the loss at this time step and accumulate it
        if self.ngpu == 0:
            loss = self.model(*x).mean() / self.accum_grad

Hi, I dont understand the code in asr.py. Why can the loss result be calculate directly from model?
Thank you!

[2019-10-30 02:44] #1319 closed

[2019-10-30 04:19] Ajyy commented on #1318
Hi,

We have already follow your suggestion to set the parameters

`maxlenratio: 0.8
minlenratio: 0.3`

in both training and testing of a pure attention system.
The result is still extremely bad.

![543ec11501a8e7a784fcdc484928d11](https://user-images.githubusercontent.com/38291486/67827683-a7cdb880-fb0b-11e9-9f25-65f00f9f5d3e.png)

And by checking the decoding log, we find that the sentence lengt

[2019-10-30 04:20] cornerpanorama commented on #1218
I ran the asr with apex, met the problem:
RuntimeError: value cannot be converted to type at::Half without overflow: -340282346638528859811704183484516925440.000000
Have you met? Thanks

[2019-10-30 07:52] Daniel-asr commented on #1317
Thank you for the support. See the info below:
[code]

[2019-10-30 08:42] gs5264 commented on #1218
I didn't use apex，you can close the apex.

[2019-10-30 09:37] zzbghost opened #1320 "Is it support GST about tts"
Is it support global_style_tokens about tts ,thanks

[2019-10-30 12:22] sw005320 commented on #1317
We don't support pytorch >= 1.2 (see https://github.com/espnet/espnet/blob/master/tools/Makefile#L10). Could you please follow our default installation (https://github.com/espnet/espnet#installation)?

[2019-10-30 12:26] sw005320 commented on #1218
You mean you had an issue with apex in general or only in this multi GPU setting?
Could you clarify it?

[2019-10-30 12:35] hirofumi0810 commented on #1294
@sw005320 I don't really use TensorFlow anymore. But I will play the latest TensorFlow with my own framework. I will try to modify it so that it can be incorporated into ESPnet later.

[2019-10-30 12:49] sw005320 commented on #1318
This is the difficult part of the attention handling.
You can reduce the maxlenratio and minlenratio depending on the language or BPE unit.
You can also control the insertion penalty.
These control the length of the hypotheses, and probably you'll get some reasonable numbers when you reduce both ratios or increase the penalty.
Another possibility is to implement the coverage term during the beam s

[2019-10-30 12:51] sw005320 commented on #1320
Not GST, but we have such projects. Stay tuned.

[2019-10-30 13:27] cornerpanorama commented on #1218
In general. I wonder if there is something wrong with my apex.
I used the following command to install apex：
    pip install -v --no-cache-dir ./   (my pytorch version is 0.4.1)
when I ran the general code，occured the following warning：
    Warning:  multi_tensor_applier fused unscale kernel is unavailable, possibly because apex was installed without --cuda_ext --cpp_ext. Using Python fallback.  O

[2019-10-30 13:28] cornerpanorama commented on #1218
ok, thanks~

[2019-10-30 14:03] Daniel-asr commented on #1317
Ran all installations from scratch and now works. Thank you!

[2019-10-30 14:03] #1317 closed

[2019-10-30 14:04] sw005320 commented on #1317
Cool!

[2019-10-30 14:32] flip-arunkp opened #1322 "tts phoneme models not training in docker"
Hi,

When I use docker to train tts transformer v3 model which uses phonemes as input:

./run.sh --docker_gpu 0,1,2 --docker_egs ljspeech/tts1 --docker_folders /export/ljspeech/tts1 --ngpu 3 --train_config conf/tuning/transformer.v3.yaml

I get nltk module not found:

ModuleNotFoundError: No module named 'nltk'

I understand that it uses nltk (cmu) and g2p packages. How can we add these dependenci

[2019-10-30 14:46] sw005320 commented on #1322
I see.
I just searched `nltk` so I did not notice it.

[2019-10-30 14:50] flip-arunkp commented on #1322
OK. I think the old image is being used. I will clean them and build again. Thanks for prompt reply

[2019-10-31 02:10] cornerpanorama commented on #1218
Thank you for your suggestion. I'll have a try.I will raise it in another new issue，when i meet problems  later.

[2019-10-31 02:25] zzbghost commented on #1320
Great! That will be best if support voice clone.Thanks very much for your contribution

[2019-10-31 02:38] Ajyy commented on #1318
The CTC result is:

![2019-10-31 10-05-59 的屏幕截图](https://user-images.githubusercontent.com/38291486/67913713-eb3a2c80-fbc8-11e9-8a7c-8f2dd56e809f.png)

Back to the pure attention mode, do I need to set `minlenratio, maxlenration, ctc_weight and penalty` for the training part? Because I find these four parameters also appear in the asr_train.py.
(Although the result is also bad when setting them at

[2019-10-31 03:15] #1320 closed

[2019-10-31 06:16] ahmedalbahnasawy commented on #1285
<img width="828" alt="Screen Shot 2019-10-31 at 10 11 19 AM" src="https://user-images.githubusercontent.com/50653875/67923312-e96f6980-fbc6-11e9-9891-a4c9ee54efe8.png">
it looks better than the first time but still not healthy. i used the default conf file for libri. Furthermore, i 'm training librispeech corpus only.
could you till me how it should look like

[2019-10-31 07:33] #1322 closed

[2019-10-31 07:44] gs5264 commented on #1188
Are you still going on with the plan?

[2019-10-31 07:45] gs5264 commented on #1188
This will be very helpful for distributed training of pytorch.

[2019-10-31 07:49] lamudazh opened #1324 "can install in windows?"
Can this toolkit install in windows?

[2019-10-31 11:09] lamudazh opened #1325 "utt2spk_to_spk2utt.pl has syntax error"
when install $ ./run.sh --backend chainer, there is a error happens, says utt2spk_to_spk2utt.pl line21 has syntax error
line21: 'if (@argv >1){ '

for x in test train; do
    for f in text wav.scp utt2spk; do
        sort data/${x}/${f} -o data/${x}/${f}
    done
    sudo bash utils/utt2spk_to_spk2utt.pl data/${x}/utt2spk > data/${x}/spk2utt

[2019-10-31 11:11] kan-bayashi commented on #1325
Why did you use `sudo bash`?
This is the perl script.

[2019-10-31 15:22] lamudazh commented on #1325
restore to original also not work:
utils/utt2spk_to_spk2utt.pl data/${x}/utt2spk > data/${x}/spk2utt

[2019-10-31 18:19] sw005320 commented on #1285
Can you show us both the training and validation scores (perplexity)? I usually don't check the training loss only as it does not tell us enough information. Also, I do not think this looks wrong.

FYI, this is the behavior of the validation scores for 6 epochs that I have
[code]

[2019-11-01 05:49] tomkocse commented on #1318
@sw005320 Do you have a workable pure attention / CTC setup on ESPNET so that we can testify the performance of pure attention and pure CTC separately ?

[2019-11-01 06:29] Fhrozen commented on #1324
There are some ways to make it work, not fully. But, it also depends for the purpose.
If it is for decoding only or for training.
I may suggest three solutions (The docker and VM solutions are not consider due to obvious reasons):
- WSL (windows 10 subsystem linux), this could be the simplest way to install. You may no need any modification in the code. **Disadvantage**: It do not support GPU (in

[2019-11-01 09:23] dhgrs commented on #977
I agree with that WaveNet is slow. And I know two solutions. One is to use [nv-wavenet](https://github.com/NVIDIA/nv-wavenet). But it has some problems. Supported hardware is limited, network size is limited, MoL is not supported and so on. The other one is to use other neural vocoder which is faster than WaveNet. Like [WaveGlow](https://github.com/NVIDIA/waveglow), [LPCNet](https://github.com/moz

[2019-11-01 09:43] kan-bayashi commented on #977
Now I'm constructing Parallel WaveGAN as real-time neural vocoder.
Please look forward to it!
https://github.com/kan-bayashi/ParallelWaveGAN

[2019-11-01 20:04] #1304 closed

[2019-11-01 21:18] sw005320 commented on #1318
I have several invesitgation with RNN voxforge tasks (e.g., https://github.com/espnet/espnet/blob/master/egs/voxforge/asr1/RESULTS.md), but not transformer.

[2019-11-02 05:16] sknadig opened #1326 "How to trace (torch.jit.trace) the E2E model?"
How to serialize an [`E2E`](https://github.com/espnet/espnet/blob/master/espnet/nets/pytorch_backend/e2e_asr.py#L53) model using [`torch.jit.trace`](https://pytorch.org/docs/stable/jit.html#torch.jit.trace)

Here's a [sample notebook](https://gist.github.com/sknadig/3334de9c9db454eb89ac3542b38b7c9f) to replicate this issue.

I'm trying to add the graph to tensorboard. But, when I try to call the

[2019-11-02 06:37] kushagra1729 opened #1327 "Very poor results on Librispeech 100-hour dataset with mtlalpha=0 (pure attention)"
Hey all,

Thanks a lot for this wonderful repository. I was trying to train a pure attention based model (mtlalpha=0) on Librispeech 100-hours dataset. I used the default hyperparameters as given in the repository for training using an encoder-decoder architecture i.e. 5 encoder layers of 1024 units, 2 decoder layers of 1024 units just with the change that mtlalpha=ctc_weight=0. But I only got 35%

[2019-11-02 08:51] 943274923 opened #1328 "How to speed up training"
I tried training on 4GPUs(P100,16GB) on LibriSpeech 1000 hour data with conf/tuning/train_pytorch_transformer_large_ngpu4.yaml . it will  take me 9 days  for the training to complete. how to speed up training .

[2019-11-02 12:57] kan-bayashi commented on #977
I will make new issue for v.0.6.0.
Close this issue.

[2019-11-02 12:57] #977 closed

[2019-11-02 13:01] kan-bayashi opened #1329 "TTS development plan for v.0.6.0"
Continue from #977

## Action items

- [ ] VAE-based Tacotron2 (e.g. [GMVAE-Tacotron2](https://arxiv.org/pdf/1810.07217.pdf))
	- Tensorflow implementation (Thanks @rishikksh20)
	  https://github.com/rishikksh20/gmvae_tacotron
      https://github.com/rishikksh20/vae_tacotron2
- [x] Knowledge distillation for FastSpeech (#1287)
- [x] Integrate real-time neural vocoder ([Parallel WaveGAN](https://ar

[2019-11-02 15:10] r9y9 commented on #1329
https://arxiv.org/abs/1910.10288 This seems worth trying :) i.e., support for GMM attention and dynamic convolution attention (DCA).

[2019-11-02 17:34] rishikksh20 commented on #1329
@kan-bayashi Check this : https://github.com/rishikksh20/gmvae_tacotron , For GMVAE, it's working as style transfer but I am not able to figure out which latent variable responsible to control prosody of the voice.

[2019-11-03 01:46] kan-bayashi commented on #1329
@r9y9 Thanks. It looks nice. I added to action items.

Hi @rishikksh20. This is great!
We should check your implementation.
I'm very curious about the results on the noisy dataset.
Do you have any samples?

[2019-11-03 01:58] rishikksh20 commented on #1329
@kan-bayashi actually I am only tested on LJSpeech which is a kind of flat voice so hard to judge the performance of VAE but here are some samples: https://soundcloud.com/rishikesh-kumar-1/sets/vae_tacotron

[2019-11-03 03:05] kan-bayashi commented on #1329
@rishikksh20 Thanks for sharing samples!
Yes, even if without VAE, the model trained on ljspeech is good enough, I think.
To check the effectiveness of VAE, we should try multi-speaker setting e.g. LibriTTS.

[2019-11-03 12:14] ahmedalbahnasawy commented on #1328
@943274923 its depend on the stage you want to start. so if you want to start from stage 3 which is training LM or skip it at start by training ASR model (stage 4). try to increase your batch_size and decrease number of epochs.

[2019-11-03 12:38] 943274923 commented on #1328
Thank you，how many epochs do i need for 1000 hours data

---Original---
From: "ahmedalbahnasawy"<notifications@github.com&gt;
Date: Sun, Nov 3, 2019 20:14 PM
To: "espnet/espnet"<espnet@noreply.github.com&gt;;
Cc: "Mention"<mention@noreply.github.com&gt;;"943274923"<943274923@qq.com&gt;;
Subject: Re: [espnet/espnet] How to speed up training (#1328)

@943274923 its depend on the stage you want to st

[2019-11-03 12:46] kan-bayashi commented on #1328
The librispeech recipe uses `SpecAug` as default.
This requires many epochs to converge.
Around 30 epochs the performance is already good but if you continue to train, the performance will gradually improve.
So it depends on you to stop the training.

If the GPU utilization is not high (you can check via `nvidia-smi`), you can add `n-iter-processes: 4 or more` in config file to accelerate batch ma

[2019-11-03 22:11] sw005320 commented on #1329
- I think it's better to add very detail instructions of the subjective evaluation (e.g., step-by-step instruction with the snapshot). ESPnet's concept is to do everything including evaluation within a recipe. We cannot automatically include this part, but we should provide detailed instructions.
- make ASR subjective evaluation default for all TTS recipes
- Is it possible to centralize our curren

[2019-11-03 22:47] sw005320 commented on #1329
Also, we may have other objective evaluation measures, e.g., RMSE and CD when we have a ground truth sample. I know that this is not a good measure for TTS, but we could still discuss some aspects without subjective evaluation.

[2019-11-04 01:49] Cescfangs commented on #1327
same problem here with 120h Mandarin data, I was expecting Espnet to **overfit** on this small dataset, but got poor results instead

![acc](https://user-images.githubusercontent.com/11382612/68095939-60b73d00-fee8-11e9-857e-4d836840b7cd.png)

[2019-11-04 20:32] sw005320 commented on #1327
Is that based on transformer or RNN?

[2019-11-04 21:01] kushagra1729 commented on #1327
It's based on RNN

On Tue, 5 Nov 2019, 02:02 Shinji Watanabe, <notifications@github.com> wrote:

[2019-11-04 21:29] sw005320 commented on #1327
OK, could you share your training config parameters?
Could you start from the shallow models? You may also play with the scheduled sampling a bit.
I think we could make it work with some tweaking of some hyper-parameters.

[2019-11-05 01:49] tomkocse commented on #1327
I am having the same problem with librispeech 100-hour. I think the author has suggested a potential solution here:
https://github.com/espnet/espnet/issues/1318
though I don't think the problem is entirely solved.

[2019-11-05 02:02] tomkocse commented on #1318
@sw005320 In your investigation (https://github.com/espnet/espnet/blob/master/egs/voxforge/asr1/RESULTS.md#scheduled-sampling-experiments-by-enabling-mtlalpha00-and-scheduled-sampling-ratio-with-00-and-05), it seems that the result is poor at the very beginning ( WER 74.8). Then the result becomes better when you change the scheduled-sampling-ratio from 0.0 to 0.5 (WER 15.0 ).
However, the results

[2019-11-05 04:35] kan-bayashi commented on #1329
I finished Parallel WaveGAN implementation and made demo HP.
https://kan-bayashi.github.io/ParallelWaveGAN/
I think almost the same quality as the official samples.

[2019-11-05 14:57] sw005320 commented on #1318
I have several experiences:
- I don't usually use more than one decoder layer. This would not significantly improve the performance and make training difficult (more data would solve it).
- the number of encoder layers should also be smaller when the amount of training data is small.
- we may need some tweaks for neural network hyperparameters (initial learning rate, decay factor, decay strategy (

[2019-11-05 19:09] sw005320 commented on #1326
thanks for your report!
do you know more details about which functions in the decoder seem to cause the issue?
As you know the decoder part is more complicated and tricky due to the attention.

also how about trying it to the transformer?
the transformer forward is rathe simple.

[2019-11-06 09:58] ahmedalbahnasawy opened #1334 "Parser in e2e_asr_transducer is missing a return statment"
In the code: https://github.com/espnet/espnet/blob/master/espnet/nets/pytorch_backend/e2e_asr_transducer.py

You're not returning parser in `add_arguments`. This throws an error when attempting to call `E2E.build()`

[2019-11-06 11:28] sw005320 commented on #1334
Thanks for the report.
@b-flo, could you confirm it?

[2019-11-06 11:54] dfelmanl opened #1335 "Better performance with one GPU (with the exact same config)"
I am currently working with AWS and created an image of a machine with ESPnet installed and tested.

Then I spun up two machines over that image: One with one GPU and another one with eight; and ran the LibriSpeech recipe over a small dataset of 5h (yes, I know it is very small but at the moment we are not prioritized to get SOTA results).

After more than an hour or running I realized that not on

[2019-11-06 12:50] b-flo commented on #1334
Hi,

Thank you for the report!
I can confirm `parser` isn't returned as it should be. However before making any change, could you copy the error thrown please? I'm extensively using RNNT/RNNT-Att with arguments specific to the implementation and I did not encountered any errors. I'm a bit intrigued on why it wasn't reported/catched before.

[2019-11-06 12:59] rai4 commented on #1334
User classes are considered mutable. Python doesn't have (absolutely) private attributes, so you can always change a class by reaching into the internals. So the parser variable is considered a call by reference. I also did not encountered any errors.

[code]

[2019-11-06 13:02] rai4 commented on #1334
User classes are considered mutable. Python doesn't have (absolutely) private attributes, so you can always change a class by reaching into the internals. So the parser variable is considered a call by reference. I also did not encountered any errors.

[code]

[2019-11-06 13:02] kan-bayashi commented on #1335
If you use multi-gpu, the batch-size will be automatically multiplied by the number of gpus (if batch size = 32 and the number of gpus = 3, the actual batchsize will be 96 during training). Maybe you can find the warning messages in the `train.log`. In the case of small amount of training data with RNN, a large batch size causes serious performance degradation.

[2019-11-06 13:04] b-flo commented on #1334
That's why I suspected but I wanted to be sure given the error! Thanks for the info!

[2019-11-06 13:41] rai4 commented on #1335
@kan-bayashi The batch size increase log message is info level, not warning.
Also I didn't know at first whether there was no warning and whether the batch size would increase automatically, and when I did it myself, it ran out of memory.
So i suggest changing to a warning level.

[2019-11-06 13:42] kan-bayashi commented on #1335
I agree. I will make PR.

[2019-11-06 13:51] rai4 commented on #1335
@kan-bayashi, Thanks for your PR.

[2019-11-06 14:07] ahmedalbahnasawy commented on #1334
Thanks for taking the time to review my issue.
The issue arises when trying to import E2E asr_transducer, then using the command E2E.build(). The error occurs when the line `default_args, _ = add_arguments(argparse.ArgumentParser()).parse_known_args()` is executed in the file `(...)/espnet/utils/fill_missing_args.py`.
Using the available train an eval files will not yield that error, but creating

[2019-11-06 14:48] ahmedalbahnasawy commented on #1285
Thank you again @sw005320 i will show you the training and validation scores once i finish training the ASR

[2019-11-06 19:33] thethiny commented on #1334
Thank you for the PR that fixes the issue. I read your explanation and came to understanding of your point. What you're doing is passing a `parser `object by reference to the `add_argument `function, which is working well for you. However, in your code `/path/to/utils/fill_missing_args.py` you're assuming that `parser `is returned, since you're calling `parse_known_args()` on the execution of the

[2019-11-07 04:53] enamoria opened #1338 "Speaker mumbling when synthesize very long sentence"
Hello, I trained Transformer and Fastspeech and Tacotron2 (nvidia), all of them suffer from long sentence synthesis, when the speaker starts mumbling when the length of the (synthesized) audio exceed the maximum length of audio in the training set. I know cut the original sentence into slices can help fixing this, but it looks like a workaround to me, not a solution :D

This is the predicted melsp

[2019-11-07 06:53] vlad-winter opened #1339 "Error in decoding using a GPU"
Hi,

I'm running the LibriSpeech recipe. Up to stage 4, all went well. Next, I run stage 5:

`./run_orig.sh --backend pytorch --stage 5 --ngpu 1 --verbose 0`

with this configuration decode.yaml:

`batchsize: 4
beam-size: 4
ctc-weight: 0.0
lm-weight: 0.0
maxlenratio: 0.0
minlenratio: 0.0
penalty: 0.0
`

I modified the run.sh file to run the decoding on the GPU:

`

        # use CPU for decoding

[2019-11-07 08:11] ahmedalbahnasawy commented on #1339
change from --api v2 to api v1

[2019-11-07 09:17] vlad-winter commented on #1339
Batchsize was set to 0, and I tried both with v1 and v2.

[2019-11-07 09:33] kan-bayashi commented on #1339
Could you try to reduce nj and increase batchsize (e.g. nj=1 batchsize=16).

[2019-11-07 09:46] kan-bayashi commented on #1338
Did you try forward attention in Tacotron~2?
I've never tried to generate too long sentences but it is worthwhile to try.

Recently google guys have proposed dynamic convolution attention to avoid such kind of issue.
This paper might be interesting for you.
https://arxiv.org/abs/1910.10288
We will plan to implement this feature in v.0.6.0 (#1329).

[2019-11-07 10:13] vlad-winter commented on #1339
I've tried to reduce it to 16, it didn't work.
I'll try with 8 and 4.

[2019-11-07 10:16] kan-bayashi commented on #1339
This is because in the case of 16, 16 processes will be running on a single GPU, causing OOM error.
If you use job scheduler command backend `queue or slurm`, it is better to change `${decode_cmd}` to `${cuda_cmd} -gpu 1`.

[2019-11-07 11:49] vlad-winter commented on #1339
Thanks, I'll try and update.

[2019-11-07 12:13] vlad-winter commented on #1339
I ran with this conf:

`
#
    nj=1
    pids=() # initialize pids
    for rtask in ${recog_set}; do
    (
        decode_dir=decode_${rtask}_${recog_model}_$(basename ${decode_config%.*})_${lmtag}
        feat_recog_dir=${dumpdir}/${rtask}/delta${do_delta}

        # split data
        splitjson.py --parts ${nj} ${feat_recog_dir}/data_${bpemode}${nbpe}.json

        #### use CPU for decoding

[2019-11-07 14:22] rai4 commented on #1339
@vlad-winter
`nbest_hyps = model.recognize_batch(feats, args, train_args.char_list, rnnlm=rnnlm)`

The transformer model's recognize_batch function was executed because the decode batch size was not zero. However, the recognize_batch function is not yet implemented. Run decode batch size 0.

[2019-11-08 14:46] r9y9 commented on #1338
I would like to consider this a fundamental problem we need to address in the future. Can we tag a proper label for the issue?

[2019-11-08 14:50] r9y9 commented on #1329
I think it's time to test our models with hard input sentences (e.g., out of domain texts, long and short inputs, etc) to evaluate robustness of each model.

As a first step, how about trying the hard sentences noted in the [FastSpeech paper](https://arxiv.org/abs/1905.09263)? It would be great to add this to the action items.

[2019-11-09 19:04] #1136 closed

[2019-11-10 15:19] ahmedalbahnasawy commented on #324
@b-flo Is there a plan for Online Decoding now ?
decoding stage using RNN T model is very slow I tried beam search and greedy search and both of them are slow. I used 1 gpu for decoding but the GPU utilization is like 4% ? which model you think it could be fast, support online decoding and accurate ?
thanks

[2019-11-10 17:48] b-flo commented on #324
Hi,

It was delayed because of some other projects, I started working on the streaming decoder for RNN-T yesterday. I'll implement several architecture and techniques before proposing a version to ESPNET so it won't be available before several weeks.

About GPU decoding, I don't use it and it was disabled until recently (for a reason I can't recall and I still can't access my development notes. Th

[2019-11-11 14:31] rai4 commented on #324
@ahmedalbahnasawy Hi,

I also think that greedy search and beam search are slow, but we need to tell it the exact number. If possible, can you tell me how long it takes? For example, we can talk about the real time factor. See this paper for the real time factor. You have probably seen this already. https://arxiv.org/pdf/1811.06621.pdf
As a side note of my results, greedy search is much faster on

[2019-11-11 23:51] #942 closed

[2019-11-12 05:49] geekboood opened #1345 "Run tts_train.py in the shell causes all CPU cores 100%"
Hi, I try to run `tts_train.py` in the shell but it leads to all my CPU cores 100%. I encounter this under Linux and use `run.sh` under example dir will not cause this problem.

[2019-11-12 05:53] geekboood commented on #1345
Use `export OMP_NUM_THREADS=1` seems to fix this problem. But why? I thought this process is purely using PyTorch.

[2019-11-12 06:09] kan-bayashi commented on #1345
`OMP_NUM_THREADS` is the environmental variable to control the number of threads to be used in python libraries.
I'm not sure which part utilizes CPU power, but let me confirm whether you used gpu in the training.

[2019-11-12 07:55] geekboood commented on #1345
@kan-bayashi I use `nvidia-smi -lms` command and confirm that GPU is used. Also `export OMP_NUM_THREADS=1` is used by default in many `path.sh` file under examples in `egs` directory. To be more specific, I found this problem when I try to train the `csmsc/tts1` example.

[2019-11-12 07:58] kan-bayashi commented on #1345
By default, we use GPU but when you met the problem where all of cpu cores were used, did you use GPU?

[2019-11-12 08:49] geekboood commented on #1345
@kan-bayashi Yes. You can change the `export OMP_NUM_THREADS=1` to a larger number and  train the neural network by using GPU and see how it will utilize CPU.

[2019-11-12 09:03] kan-bayashi commented on #1345
OK. I think this is not problematic since there are many modules in training scripts such as data loader, hook functions, and so on.
So I will close this issue.
If you want a further investigation, please reopen this issue.

[2019-11-12 09:03] #1345 closed

[2019-11-13 06:20] tsxce opened #1347 "Error run.sh"
1.I am not sure where the mistake is. Does anyone meet this problem before?:
download_and_untar.sh: Successfully downloaded and un-tarred ./downloads/an4_sphere.tar.gz
stage 0: Data preparation
stage 1: Feature Generation
steps/make_fbank_pitch.sh --cmd run.pl --nj 8 --write_utt2num_frames true data/test exp/make_fbank/test fbank
utils/validate_data_dir.sh: Successfully validated data-directory da

[2019-11-13 14:56] sw005320 commented on #1347
Could you let me know your environment? Also, did you exactly follow our installation or customize it?

[2019-11-14 02:04] xiechen0692 commented on #1347
Because I want to install including kaldi, so start from ”Step 2-B) installation including Kaldi installation“.
My environment is : PYTHON_VERSION=3.7 TH_VERSION=1.0.1.post2 CUDA_VERSION=9.1
And I run the command: "make -j 10 PYTHON_VERSION=3.7 TH_VERSION=1.0.1.post2 CUDA_VERSION=9.1"
Then run:"cd egs/an4/asr1", "./run.sh --backend pytorch"

[2019-11-14 03:06] sw005320 commented on #1347
ok, can you simply install bzip2 in your environment?

[2019-11-14 04:14] xiechen0692 commented on #1347
Here are my new progress.
First, In the step2-A), I use the kaldi path which I installed before.
After step 2-A, there is a new KALDI in the espnet-master.
Second, I run command"make -j 10’ and "make check_install" check_install shows OK.
Then, I changed the "main root" in the egs/an4/asr1/path.sh first line to espnet-master so that it can find the "/tools/config/common_path.sh". After runnning "b

[2019-11-14 08:32] adhamel opened #1349 "Help with extending functionality of synth_wav.sh?"
I'm working on extending TTS to the languages and speakers available in /egs/m_ailabs but synth_wav.sh will only output a default speaker.

I have followed this procedure: executed run.sh through step 2, brought in a tacotron checkpoint, executed one epoch of training to obtain a proper snapshot, executed run.sh Stage 4 Network Decoding, and then the following for wav synthesis.
[code]

How are we

[2019-11-14 09:37] kan-bayashi commented on #1349
Hi @adhamel. Just now I made demo notebook for realtime generation.
https://colab.research.google.com/github/espnet/notebook/blob/master/tts_realtime_demo.ipynb
This notebook will help you!

[2019-11-14 09:49] kan-bayashi commented on #1212
I integrated with the real-time neural vocoder ParallelWaveGAN.
You can try in Google Colab.
https://colab.research.google.com/github/espnet/notebook/blob/master/tts_realtime_demo.ipynb
![img398](https://user-images.githubusercontent.com/22779813/68845686-24b58080-070f-11ea-91db-85f9198050cd.png)

[2019-11-14 09:56] adhamel commented on #1349
You are amazing!

[2019-11-14 10:09] adhamel commented on #1349
@kan-bayashi, this is great. I would like to expand to languages included in M-AILABS datasets. Do you know of any resources similar to open_jtalk that would make this possible?

[2019-11-14 11:16] kan-bayashi commented on #1349
@adhamel You means text front module?

[2019-11-14 14:07] kan-bayashi opened #1353 "--preprocess_conf is not needed to pack TTS models"
`--preprocess_conf` check is added in
https://github.com/espnet/espnet/commit/a3ebc07a3ffd0885fa17af7f041e7d511743820d#diff-b61f0f75b4324fab7fa1a2e458cd00cb
But for TTS, it is not needed.

[2019-11-14 16:50] danoneata opened #1356 "Obtaining output encodings for pretrained ASR models"
Hello!

For the pretrained ASR models is there an easy way of getting the `token`s and `tokenid`s of the groundtruth text? As far as I can tell, these encodings are obtained with `spm_encode`, but this requires the `bpemodel`, which is not packaged in the pretrained models:

[code]

I could try to reverse engineer the process based on the `char_list_dict` in the RNN-LM model, but I wonder if there

[2019-11-14 18:48] hirofumi0810 commented on #1353
@kan-bayashi This is an option. Why should we remove this?

[2019-11-14 18:49] hirofumi0810 commented on #1353
@kan-bayashi Sorry. I got it.

[2019-11-14 23:18] adhamel commented on #1349
I mean cleaners such as pypinyin and pyjtalk, though I have found a workaround. I would love to extend to French, for instance. Do you have a gauge of how involved creating a workable parallel wavegan model would be?

Also, I find the Mandarin implementation works well on a control sentence I confirmed with a native speaker. In case you would like the text front-end print statement to be consisten

[2019-11-14 23:59] kan-bayashi commented on #1349
If you build character-based model, the NLP preprocessing tools can be used.
@hirofumi0810 Do you know the preprocessing tools for French?

The building of Parallel WaveGAN is easy. What we need is to prepare `wav.scp` for training, development, and evaluation sets. Might you can understand the flow from the recipe
https://github.com/kan-bayashi/ParallelWaveGAN/blob/f07f2ef40ad2a604ae061d7ab397fc6

[2019-11-15 00:21] kan-bayashi commented on #1291
Fixed in #1331

[2019-11-15 00:21] #1291 closed

[2019-11-15 00:27] ftshijt opened #1357 "Sclite "Segmentation fault" encountered for Fr-Commonvoice"
I recently found that the sclite for WER get "segmentation fault" when computing the decoded french trn files.

The error message is as follows:

`tools/espnet/utils/score_sclite.sh: line 121: 14394 Segmentation fault      sclite -r ${dir}/ref.trn trn -h ${dir}/hyp.trn trn -i rm -o all stdout > ${dir}/result.txt`

The two relating trn file is in the following links (for you to check the error):
ht

[2019-11-15 07:57] Fhrozen commented on #1356
You can find a similar situation at #1275. Try to run the recipe up to stage 2. The bpe units should be the same as the one provided by the pre-trained,.

[2019-11-15 08:40] Imtinan1996 opened #1360 "TTS Tacotron 2, "Weak" Alignment, any suggestions?"
So i am trying to train Tacotron 2 on some custom dataset, i have a single speaker dataset, that is roughly around 11 hours.

I have trained other implementations of tacotron 1 before, and on this one implementation the alignment learnt was very good.

ESPNet though for some reason learns alignment, but its a bit "weak" meaning at every timestamp the predicted phonemes are a bit off sometimes.

I

[2019-11-15 10:22] b-flo commented on #1349
Hi @kan-bayashi ,

I'm mostly working with French resources (mainly for ASR though) so I could maybe provide some informations/tools if needed. However I'm not sure what you mean by "preprocessing tools for French"?

[2019-11-15 18:02] sw005320 commented on #1357
Can you tell me which file would have an issue (you can check it by feeding the same hyp or ref files for the script)?
Then, please try to find which line causes the issue.

[2019-11-15 18:04] sw005320 commented on #1356
I think this is an important point. We should include the BPE model when we pack the model. I'll ask people to do it.

[2019-11-15 18:12] sw005320 commented on #1360
My suggestion is to use a single GPU. We may not need to use 6 GPUs for such small data. ESPnet multiple GPU training is based on a simple data parallelization, and your method corresponds to the use of 6x32=192 batch size, which is too large for this data. Then, according to the general online-training theory, you require a lot of iterations to get some reasonable convergence.

[2019-11-15 19:46] danoneata commented on #1356
@Fhrozen Thanks for the suggestion! That should work for now, but I agree with @sw005320 that it would be better to pack it with the model because _(i)_ it is inconvenient to download a large dataset and _(ii)_ it can be error prone to retrain, as it's not always clear what parameters were used for a given pretrained model. I believe that having access to the BPE model can be useful in a number of

[2019-11-15 20:13] danoneata opened #1361 "join_suffix.py script might affect BPE units in TED-LIUM 2 recipe"
Hello! When running the TED-LIUM recipe `egs/tedlium2/asr1` I have some problems with the BPE model. Namely, among the units from `data/lang_char/train_trim_sp_unigram500_units.txt` I see tokens such as
[code]
which are obviously parts of the segment ids. Am I the only one experiencing this problem?

---

I did some debugging and the error traceback looks something along these lines:

1. The file

[2019-11-15 20:17] sw005320 commented on #1356
I fully agree with you. thanks for your suggestions!

[2019-11-16 07:31] 943274923 commented on #1328
Thank you, I set&nbsp;n-iter-processes: 8&nbsp;but it can not work ,train log is :
"
/data/espnet/tools/venv/lib/python3.7/site-packages/torch/nn/parallel/_functions.py:61: UserWarning: Was asked to gather along dimension 0, but all input tensors were scalars; will instead unsqueeze and return a vector.
&nbsp; warnings.warn('Was asked to gather along dimension 0, but all '
/data/espnet/tools/venv/

[2019-11-16 12:50] ahmedalbahnasawy commented on #324
@rai4 Hi,
Sorry for the delay,
I tested multiple audio waves using beam and greedy search decoding using RNN-T model. Greedy search is faster on GPU as you mentioned. RTF after loading the model once (all the audio waves are less than 8 seconds) is 0.5. For beam search on CPU it took more than 5 minutes to decode 8 second of audio.
@b-flo @rai4 @sw005320 i would like to share this paper https://ar

[2019-11-16 13:55] b-flo commented on #324
Hi,

I didn't observe such high RTF in my experiments however you should be aware that current RNN-T implementation was not designed to be fast. Outside architecture choice and optimization, there are several parts that will be redesigned for streaming/online decoding purpose.

[2019-11-16 13:58] kan-bayashi commented on #1349
@b-flo Maybe text cleaner or g2p module. I know the g2p for Japanese, English, and Mandarin but I have never used for the other language. Do you know such kind of tools?

[2019-11-16 15:33] b-flo commented on #1349
For g2p, the two available resources I know are : https://github.com/mozilla/g2p/tree/master/dicts/french and https://montreal-forced-aligner.readthedocs.io/en/latest/pretrained_models.html. I would recommend looking at the first link, it contains the phonetic lexicon previously provided by the LIUM in Sphinx4 and the phone set used in the g2p phone is similar to the one commonly used in French AS

[2019-11-17 01:10] #1353 closed

[2019-11-17 01:35] kan-bayashi commented on #1360
Hi @Imtinan1996. Thank you for using ESPnet-TTS!
I will list some basic techniques to get clear attention
- Remove silence at the beginning and the end of utterances. You can follow the following part:
https://github.com/espnet/espnet/blob/5d2d2fb2be3a714c4b7b8e5dfb6135abca78e973/egs/m_ailabs/tts1/run.sh#L98-L107
- Use small batch-size for the small dataset as @sw005320 said. In our implementation

[2019-11-17 01:37] #1316 closed

[2019-11-17 01:37] #1264 closed

[2019-11-17 02:16] kan-bayashi commented on #1349
That is nice. Thank you for your information, @b-flo. These modules will help you, @adhamel.

[2019-11-17 06:30] #1290 closed

[2019-11-17 06:46] ahmedalbahnasawy commented on #324
Hi @b-flo
Thank you for your clarification. Any plans for online streaming/decoding so i can contribute !

[2019-11-17 08:37] Imtinan1996 commented on #1360
Thank you @sw005320 for the suggestions, i changed it to single-GPU and these are the results so far.

![single_gpu_train_GIF](https://user-images.githubusercontent.com/30050508/69005025-15178100-0935-11ea-9034-949449f425d6.gif)

As you can see, even after 200 epochs, the results are not so good.

@kan-bayashi , thank you so much for your suggestions, though i am already following some of them, fo

[2019-11-17 08:54] kan-bayashi commented on #1360
@Imtinan1996 Sorry, I could not catch up your meaning. Did you already use this config?
https://github.com/espnet/espnet/blob/master/egs/ljspeech/tts1/conf/tuning/train_pytorch_tacotron2.v3.yaml
If so, v2 config is also worthwhile to use which utilize forward attention instead of location sensitive attention.

In your previous tacotron experiment, did you use reduction factor? Reduction factor als

[2019-11-17 09:01] kan-bayashi commented on #1360
I remembered that I also met such weak attention in m-ailabs recipes, where the SNR is not so good. If the reason of the weak attention is derived from the SNR of the target speech, we should try another extension such as VAE-based Tacotron 2 but I’m not sure.

[2019-11-17 09:12] Imtinan1996 commented on #1360
@kan-bayashi  yes i am already using https://github.com/espnet/espnet/blob/master/egs/ljspeech/tts1/conf/tuning/train_pytorch_tacotron2.v3.yaml, i will also try experimenting with V2 config aswell.

My previous experiments were on the implementation by Kyubyong here https://github.com/Kyubyong/tacotron, yes they did use a reduction factor of 5.

About the silence plots, yes they are existent in a

[2019-11-17 15:41] adhamel commented on #1349
@b-flo thank you for sharing this. I'm sure it will steer me in the correct direction.

@kan-bayashi I really appreciate all of your help here. Parallel WaveGAN is converging very nicely.
The discriminator loss (started training at 100k) is the only stubborn decline, hovering around ~.496-.497. If you like, after training on this different data set. I can let you know if I find any of the problems

[2019-11-17 21:25] ftshijt commented on #1357
After tests, a sample that caused the issue is recognized as follows. If we input the two lines to sclite, the segmentation fault can be reproduced.

`"MADAME DE FERNEUSE DONNA UN COUDAILLE TOUR D'ELLE, OBSERVANT ET DéTAIL.`
`M^{ME} DE FERNEUSE DONNA UN COUP D’œIL AUTOUR D’ELLE, OBSERVANT CES DéTAILS.`

The files can be found in the following link:
https://drive.google.com/file/d/1NvQWoYVETd4nmMLV

[2019-11-17 23:07] sw005320 commented on #1357
Thanks, we're almost there.
Could you find which character causes this issue?
`sclite` would work for Unicode and my guess is that some special ASCII symbols (e.g., ^, {, }, ") may cause some problems. My guess is "^". Actually, "M^{ME}" does not make sense for me and we could remove such references in the data preparation. But anyway, could you check to see which character causes the problem?

[2019-11-18 04:56] ftshijt commented on #1357
My experiment shows that the problem results from “**{}**”. The phrase "M^{ME}" occurs three times in the whole dataset (with the same text). I personally believe that maybe some specific notation for some grammar cases. However, consider its' rareness, I will remove it for further processing of the set (I will add it in further pr of commonvoice).

What do you think about it?

[2019-11-18 07:32] Imtinan1996 commented on #1360
UPDATE:

This is the alignment  after 125 epochs, its too early to make a blatant statement but the progress looks healthy, i will be sure to keep you guys updated

![espnet_alignment](https://user-images.githubusercontent.com/30050508/69032851-efeb4700-09f6-11ea-8bdc-9ea28a64be67.gif)

[2019-11-18 07:40] kan-bayashi commented on #1360
@Imtinan1996 It looks nice. What is the main defference?

[2019-11-18 07:54] b-flo commented on #1357
Hi,

That's an unusual way of annotating a shortened version of a word (M^{ME} -> Mme -> Madame).
IMO it should be normalized to the complete form during data preparation.

[2019-11-18 08:15] Imtinan1996 commented on #1360
i think the main difference was the silence trimming, since the aforementioned repo also utilizes silence trimming.

Thank you both for all your help.

Also, can we please keep the issue open for now, i will close it once i am able to post the final results.

[2019-11-18 08:40] kaituoxu opened #1369 "Transformer on Librispeech get RuntimeError: cuDNN error: CUDNN_STATUS_BAD_PARAM"
Hello, when I use Librispeech's config to train Transformer model on another dataset, I get `RuntimeError: cuDNN error: CUDNN_STATUS_BAD_PARAM` after about 500 iterations when I use 8 GPU. I can run the config successfully when I use 4GPU. The detailed traceback as follows:

[code]

[code]

[2019-11-18 10:38] kaituoxu commented on #1369
It seems sometime the input x of `x = self.conv(x)` will be
[code]

Related issue and solution: https://github.com/pytorch/pytorch/issues/15446

[2019-11-18 12:22] ahmedalbahnasawy opened #1370 "Vocab size to train LM and ASR"
what is the best vocab size to train huge english corpus+librispeech and which unit is better (unigram or bpe) ?

[2019-11-18 13:22] sw005320 commented on #1357
Thanks, @b-flo and @ftshijt.
I think we can remove them because this only happens three times (also the same text).

[2019-11-18 23:27] sw005320 commented on #1370
We did not observe large improvement when we use large BPE size. So, you can just use our default librispeech BPE size (5,000)

We did not observe a big difference.  I think either is fine.

[2019-11-18 23:34] sw005320 commented on #1369
Thanks for the report.
I cannot fully understand it because it works with 4 GPUs....
Could you specify which minibatch would cause this issue and report the shape of this?

[2019-11-18 23:41] sw005320 commented on #324
I, @ShigekiKarita, and @takaaki-hori are now working on faster decoding. Actually @takaaki-hori's batch decoding (https://github.com/espnet/espnet/blob/master/espnet/nets/pytorch_backend/rnn/decoders.py#L497) is quite fast (e.g., RTF is 0.1) but it only supports the old beam search (API v1) and RNN.
We're now trying to
1) implement @takaaki-hori's batch decoding on top of API v2
2) try to support

[2019-11-18 23:44] sw005320 commented on #1328
`n-iter-processes:` seems to have some issues. We actually did not observe the benefit of it in CLSP. Also, it makes training unstable (too slow or crash). This depends on the cluster setup and may not always be applied to the others, but just a note.

[2019-11-18 23:50] sw005320 commented on #1361
I don't know why it happens, as the Kaldi text format is like that
[code]
and `cut -f 2- -d" " data/${train_set}/text ` should extract `<word1> <word2> ...`. Or do you mean to say that the generated text is not like the above?

[2019-11-19 01:52] kaituoxu commented on #1369
For example, one minibatch is [8, 100, 80] (N, T, D), one sample of this minibatch is [1, 1, 80] so that it pad 99 along time axis, other samples are [1, 100, 80].

If split this minibatch between 4 gpus, each gpu will get [2, 100, 80], so there is no input's T less that conv's filter size(e.g. 3) .

But if split this minibatch betwwen 8 gpus, one gpu will get [1, 1, 80] (T=1), so on this gpu, the

[2019-11-19 02:11] kaituoxu commented on #1328
Hi @sw005320 , I get the same issue with @943274923 if I set `n-iter-processes=2 or 4`. And it seems that the training speed on 8 GPU is slower than on 4GPU, besides, the GPU-util is very small (20%+ on 8GPU, not stable on 4GPU: sometimes 0%, sometimes 20%, sometimes 90%).

I guess it because the dataloader of Chainer is slow, maybe implement dataloader with PyTorch will improve the training speed

[2019-11-19 03:46] gandolfxu opened #1371 "Question: what's the reason of "no hypothesis. Finish decoding.""
The log is pasted in the following. All the decoding results are the same.
Why?

2019-11-18 19:28:49,359 (asr_utils:407) INFO: reading a config file from exp/train_rnnlm_pyto    rch_lm/model.json
 13 2019-11-18 19:28:50,464 (asr:691) INFO: (1/896) decoding BAC009S0724W0121
 14 2019-11-18 19:28:50,835 (e2e_asr_transformer:245) INFO: input lengths: 105
 15 2019-11-18 19:28:50,835 (e2e_asr_transforme

[2019-11-19 04:09] 943274923 commented on #1328
i use pytorch

---Original---
From: "Kaituo XU 许开拓"<notifications@github.com&gt;
Date: Tue, Nov 19, 2019 10:11 AM
To: "espnet/espnet"<espnet@noreply.github.com&gt;;
Cc: "Mention"<mention@noreply.github.com&gt;;"943274923"<943274923@qq.com&gt;;
Subject: Re: [espnet/espnet] How to speed up training (#1328)

Hi @sw005320 , I get the same issue with @943274923 if I set n-iter-processes=2 or 4. And it

[2019-11-19 08:46] danoneata commented on #1361
That is indeed the text format, but for some lines there is only `<UTT ID>` and no words; for example:

[code]

Running the `cut -f 2- -d" "` command on these lines yields:

[code]

[2019-11-19 09:01] b-flo commented on #324
Hi,

Help on batch decoding for RNNT would be appreciated, notably to implement in the manner @sw005320 described (extending to a standard beam search would be quite straightforward in contrast). Right now, it's not a priority on my to-do list, I'm focused on optimizing/refining current implementation, incorporating new features and enabling streaming/online recognition on low-ressource devices .

[2019-11-19 10:25] Imtinan1996 commented on #1360
hi @kan-bayashi i needed some advice, so after further training the alignment is a lot better, but intelligibility in some samples is still an issue, _**especially**_ at the end of the sentences.

During my experimentations with libritts i identified that the data json files do not consist of a stop token (something tacotron2 reportedly generates). So when i wrote my custom data2json, i did not ap

[2019-11-19 12:14] kan-bayashi commented on #1360
In that case 78th element is stop token, which is  automatically added during batch preparation.
The problem is that the generation does not stop appropriately, right? (Consequently, the word around the end of sentence will be repeated.) If so, I recommend adjusting the bce-pos-weight. Making it larger value helps to stop the generation correctly.

[2019-11-19 12:16] kan-bayashi commented on #1360
You can check the stop token probability in the inference from the figures in the probs directory.

[2019-11-19 13:04] sw005320 commented on #1361
Oh, I got it.
If you add the option in `remove_longshortdata.sh --minchars 1` in
[code]
Then, it must be OK.
I think we need to change the default value of `minchars=1` in `remove_longshortdata.sh`.

[2019-11-19 13:07] sw005320 commented on #1371
Could you give us more information? What kind of data are you using? What configurations?

[2019-11-19 13:12] sw005320 commented on #1369
Thanks for the clarification, but I'm not sure yet why it becomes `[1, 1, 80] (T=1)`? Do we have such very short samples or bugs?

[2019-11-19 13:24] zhazl opened #1373 "RuntimeError: Error(s) in loading state_dict for E2E"
同一个环境venv下执行多个解码操作，出现
  warnings.warn(warning.format(ret))
Traceback (most recent call last):
  File "espnet/egs/hkust/asr1/../../../espnet/bin/asr_recog.py", line 166, in <module>
    main(sys.argv[1:])
  File "espnet/egs/hkust/asr1/../../../espnet/bin/asr_recog.py", line 154, in main
    recog(args)
  File "espnet/espnet/asr/pytorch_backend/asr.py", line 495, in recog
    torch_load(args.model,

[2019-11-19 14:25] ahmedalbahnasawy commented on #324
Thanks @sw005320 for the request,
I'm more than willing to help you to achieve this task within my capabilities and free time. I will try my best. If you would tell me what you need done, I'll be able to do it hopefully.

[2019-11-19 14:39] danoneata commented on #1361
Thanks! Yes, that's one possible solution. Another one would be to add the `-s` flag to the `cut` command – this would filter out the lines that do not contain the delimiter. However, I believe the root cause is related to the way in which `join_suffix.py` interacts with the STM files; but fixing this will require a bit more work and care.

I have realized that the same problem also occurs in the

[2019-11-19 14:40] ahmedalbahnasawy commented on #1373
you are loading incorrect model, ensure that recog_model argument is the path of your ASR model

[2019-11-19 15:22] ahmedalbahnasawy commented on #1370
I tried 10000 vocab size for english dataset mixed with Librispeech and 5000 also (unigram unit)
Both giving the same result.
I think vocab size should be 30K if we are using BPE unit

[2019-11-19 15:50] zhazl commented on #1373
Model path is correct. It had been tested successfully only using environ "venv" once.
🧐

------------------ Original ------------------
From: ahmedalbahnasawy <notifications@github.com&gt;
Date: Tue,Nov 19,2019 10:40 PM
To: espnet/espnet <espnet@noreply.github.com&gt;
Cc: zhazl <2505354006@qq.com&gt;, Author <author@noreply.github.com&gt;
Subject: Re: [espnet/espnet] RuntimeError: Error(s) in loa

[2019-11-20 03:06] WhiteFu commented on #1329
@kan-bayashi   Good Job! But I have a small problem, I hope you can guide me.   I want to know how to select the FFT/Shift/Win parameters.  Why 2048/300/1200 for CSMSC instead of 1024/256/1024?   Is it determined by experimental results?

[2019-11-20 03:07] gs5264 commented on #1328
PyTorch's speech is also slow. Gpu is not stable as well as chainer.

[2019-11-20 06:19] ahmedalbahnasawy commented on #1373
@zhazl sounds good

[2019-11-20 06:29] Imtinan1996 commented on #1360
Yes, this is exactly the problem.

Alright i will make the changes, but in accordance to that i have 2 questions

- What do you mean by a larger value? could you please give a rough estimate of what could be good to use, for example 2 is a larger value, and so is 10, and 100 and so on. What do you think would be large enough.
- Secondly, can i resume my training with this changed parameter? or is

[2019-11-20 08:50] kaituoxu commented on #1369
A sample in my dataset is [1, 1, 80]. Maybe it's a failure from feature extraction.

[2019-11-20 12:01] sw005320 commented on #1369
You could remove the very short utterance by https://github.com/espnet/espnet/blob/master/utils/remove_longshortdata.sh

[2019-11-20 12:29] kaituoxu opened #1375 "Is there any plan to support multi-machine multi-GPU ASR training?"
Hello, I notice that espnet's PyTorch version uses `data_parallel` to support multi-GPU, but to my understanding, this can only be used in single-machine. Is there any plan to support multi-machine multi-GPU ASR training? So that making 10k+ hours training feasible in the industry. Thx.

[2019-11-20 13:20] kan-bayashi commented on #1360
Around 10 is enough. For example, we use 5.0 for Transformer.

I'm not sure because I've never tried to change the hyperparameter during training. If you have time, it is better to train from scratch.

[2019-11-20 13:21] sw005320 commented on #1375
We have been working internally with several projects and it's working with some minor changes, but I want to move in this direction once we fix a new training abstraction design (e.g., #1372). We're thinking of a (super) major update for this.

[2019-11-21 01:46] hajime9652 commented on #1297
Let me know where is CTC-base VAD code.

[2019-11-21 03:30] kan-bayashi commented on #1360
@Imtinan1996 Another solution is adjusting `threshold` in `decode.conf` but you should check the sequence of the stop probabilities in `probs` to do it.

[2019-11-21 08:29] kan-bayashi commented on #1329
@WhiteFu For 24k Hz, we follow the setting in the original Tacotron 2 paper, as @r9y9 recommended #1192.

[2019-11-21 13:14] #1171 closed

[2019-11-21 16:51] takeofuture commented on #1297
@hajime9652
For Training,
espnet/bin/asr_train.py
it passed conf/train.yaml (eg: csj/asr1/conf/train.ytaml at run.sh Stage 4)

for decode,
espnet/bin/asr_recog.py
it passed conf/decode.yaml (eg: csj/asr1/conf/train.ytaml at run.sh Stage 5)

[2019-11-21 17:06] sw005320 commented on #1297
This is an example script
https://github.com/espnet/espnet/blob/master/egs/tedlium2/asr1/local/recog_wav.sh
I'm not sure how it is maintained.
@takenori-y, could you follow up it?

The actual implementation is around https://github.com/espnet/espnet/blob/2d2151de1262d2fca375d71bbcc4ef1b8570723c/espnet/nets/pytorch_backend/streaming/segment.py#L40

[2019-11-21 20:58] #1357 closed

[2019-11-22 01:02] takenori-y commented on #1297
The new version of the example script is
https://github.com/espnet/espnet/blob/master/utils/recog_wav.sh

Decoding hyperparameters can be tuned by modifying a yaml file. If `streaming-mode` is `segment`, CTC-based VAD is performed. The related hyperparameters are `streaming-min-blank-dur`, `streaming-onset-margin`, and `streaming-offset-margin`.

I think the old example script can be removed from

[2019-11-22 01:47] #1184 closed

[2019-11-22 02:54] WhiteFu commented on #1329
@kan-bayashi  Thanks for your reply:)

[2019-11-22 21:32] takeofuture opened #1378 "Does output of the confidence value (porobability) suported on asr_recog.py or other decoding utility?"
I wonder if it is possible to get confidence value(probability) in output of decoding result.
I am checking asr_recog.py .
But if you know in your mind, I appreciate.

Thank you!

[2019-11-23 08:32] #736 closed

[2019-11-23 09:32] #1178 closed

[2019-11-23 11:22] hajime9652 commented on #1297
hey gays, thanks
I'll check it later.

2019年11月22日(金) 10:02 Takenori Yoshimura <notifications@github.com>:

--
--
波田野創（Hajime HATANO）
アーニー株式会社（Ernie inc）
九州工業大学大学院生命体工学専攻古川研究室 ( Kyushu Institute of Tech. F-lab)

[2019-11-23 14:33] sw005320 commented on #1378
You can get n-best (`--nbest`) and by normalizing the probability (from the total log probability per hypothesis by setting `--verbose 1`), you can get a posterior probability for each hypothesis.

[2019-11-23 18:10] chrisspen opened #1379 "2-C installation fails with compilation error"
I installed all the listed dependencies on Ubuntu 18.04, and tried to run the make command for the 2-C step like:

    git clone git@github.com:espnet/espnet.git
    cd espnet
    sudo apt-get install libprotobuf10 protobuf-compiler libprotobuf-dev
    sudo apt-get install libsndfile1-dev
    virtualenv -p python3.6 .env
    . .env/bin/activate
    cd tools
    time make CUPY_VERSION='' -j 10

but

[2019-11-23 19:04] takeofuture commented on #1378
@sw005320
Thank you!
I tested, and for example if I --nbest 100 or so
I got scores on decode directory after running utils/recog_wav.sh (with --nbest 100 added --verbose 1 or 2) for each decoding results.
How can I interpret the scores?
Looks like higher is better but it is minus values

[code]

[2019-11-23 19:08] sw005320 commented on #1378
this is based on "log probability" and you can make it back to the probability by taking `exp` and then perform normalization to satisfy the sum-to-one probability condition.

[2019-11-23 19:20] sw005320 commented on #1379
This is more-like a Kaldi issue, and I recommend you to search for solutions in the Kaldi documents
 https://kaldi-asr.org/doc/matrixwrap.html may help your problem or forums.

[2019-11-23 19:25] sw005320 commented on #1379
This is not fully related, but you could refer to the Docker building script and find what you require more exactly. https://github.com/espnet/espnet/blob/master/docker/prebuilt/runtime/Dockerfile. Required libraries depend on the environment, and it is not easy for us to fully support everything....

[2019-11-23 19:46] takeofuture commented on #1378
@sw005320
Ah!  I see
Actually the first score with -12.956483840942383
has the perfect decoding text and it has much higher than 2nd highest one (-19.143564224243164).
It makes sense, so I should get very very high %  on th3 fist one if I normalizes it
Thank you for your advise!

[2019-11-24 00:00] chrisspen commented on #1378
Are you sure the score value is log probability? The value doesn't make any sense. Even though some models get close to 100% accurate on my test data, the scores are all large negative values, meaning if   I convert them to probability, they're all effectively 0. Is that intentional? Are these models just highly uncertain of all their predictions? Or does the score represent error, and be inverted

[2019-11-24 01:43] chrisspen opened #1380 "How to speed up CPU decoding?"
I'm finding that ASR works pretty well and has reasonably good accuracy, but the speed is quite slow. The 5-10 sec audio clips I'm testing with take about 5 min each to transcribe using the `recog_wav.sh` script. Is there any way to speed up this performance on a system with no GPU?

[2019-11-24 04:13] takeofuture commented on #1378
I did with --nbest 4 again and I got exactly the same score as --nbest 100
[code]
I assume
P1 = exp(-12.95) / (exp(-12.95)+exp(-19.14)+exp(-20.60)+exp(-20.79))
I can use it as confidence and my test result actually match

My example works since the1st  best score is outstandingly higher than others (It is actually the perfect decoding result)
But possibly if the most of scores are very close each

[2019-11-24 06:18] Imtinan1996 commented on #1360
Hi @kan-bayashi

Upon running a few more experiments, i came across variating results (both good and bad), but some of these i couldn't explain, could you help me understand why such differences?

for example, this is the alignment on epoch 120, training on config V3 on a single GPU (batch size per GPU = 32)

![0006a1bc-db20-45a4-b1fc-c4d766ada191 ep 120](https://user-images.githubusercontent.com/

[2019-11-24 07:07] ridhwan-saal opened #1381 "Question: RNN-T vs RNN-T Attn + What is the expected Vocab Size?"
I'm trying to train espnet on a character-level dataset. My question would be, as for the English language, what is the expected vocab size? Currently I have a-z plus space and apostrophe, totaling 28. Should we add some EOS, UNK, and PADs manually to the dictionary, and is there a specific numbering scheme?
And what do you suggest to try with, RNN-T with or without Attention (bi-di/uni-di)?

Than

[2019-11-24 08:35] b-flo commented on #1381
Hi,

Sounds good to me.

All special symbols are handled automatically (EOS/SOS, blank, " "/space and padding), you don't need to modify your transcripts. Also, note that RNN T / RNN T Att in espnet only deals with blank symbol, not EOS/SOS.

Depends on what you want to do and your dataset. From my experiments, RNN T with attention is slightly better in performance but is also slower than vanilla

[2019-11-24 09:45] ridhwan-saal commented on #1381
@b-flo
Thank you for the reply, however it got me confused when you said

and

So does that mean I should remove spaces from my dictionary?
Currently my dictionary looks like this:
[code]

[2019-11-24 10:29] b-flo commented on #1381
Sorry it lacked information.

Take a look at https://github.com/espnet/espnet/blob/master/egs/voxforge/asr1/run_rnnt.sh#L132-L139 (or any asr recipe) for a dict generation example.

First, we create a dict with `<unk> 1` as 0 is reserved for `<blank>` in espnet. Then, the text is tokenized (original space is converted to `<space>` by default and a -normal- space is inserted between each unit), sor

[2019-11-24 10:31] ridhwan-saal commented on #1381
Thank you for your helpful input, and you don't need to apologize as your help is greatly appreciated! This clears things up a lot. Thanks again.

[2019-11-24 11:30] Fhrozen commented on #1380
If you are using pytorch (because it does not use numpy) the only possible solutions I could suggest:
- Reduce the number of `beam-size` to 1 ~5
- Remove the use of LM (This may be harm the performance a lot)
- Try to use Sub-words. Most of the time could be consumed in nets trained at character-level. Sub-word will reduce the length of the output and therefore increase the decoding time.

Probabl

[2019-11-24 14:08] sw005320 commented on #1380
Also, we are working on focusing on major speed improvement. Please wait for a month.

[2019-11-25 03:56] JoeyHeisenberg opened #1382 "failed at loading the model when decoding on fastspeech.v3.single"
I try to train & decode on csmsc/conf/tuning/fastspeech.v3.single, but failed at decoding,
even with the model downloading from
!./espnet/utils/download_from_google_drive.sh \
    https://drive.google.com/open?id=1T8thxkAxjGFPXPWPTcKLvHnd6lG0-82R downloads tar.gz > /dev/null 2>&1

![image](https://user-images.githubusercontent.com/33407667/69510965-b5932400-0f79-11ea-8515-edd2e3ca5965.png)

![imag

[2019-11-25 04:02] kan-bayashi commented on #1382
What is your espnet version?
v3 config needs `espnet>=0.5.3`.

[2019-11-25 04:03] #1381 closed

[2019-11-25 04:43] JoeyHeisenberg commented on #1382
tts_decode.py --backend pytorch --ngpu 0 --verbose 0 --out exp/train_no_dev_pytorch_train_fastspeech.v3.single/outputs_model.last1.avg.best_decode/dev/feats.1 --json exp/train_no_dev_pytorch_train_fastspeech.v3.single/outputs_model.last1.avg.best_decode/dev/split16utt/data.1.json --model exp/train_no_dev_pytorch_train_fastspeech.v3.single/results/model.last1.avg.best --config conf/decode.yaml

[2019-11-25 04:54] JoeyHeisenberg commented on #1382
Thx， @kan-bayashi   After I update the version it did work！
![image](https://user-images.githubusercontent.com/33407667/69513442-be3c2800-0f82-11ea-9811-2bb9f20281db.png)

[2019-11-25 04:55] #1382 closed

[2019-11-25 06:54] #1189 closed

[2019-11-25 11:56] smolendawid opened #1383 "Is it possible to reuse Librispeech LM without wordpieces model?"
I'd like to use the LM model from here:

https://github.com/espnet/espnet/blob/master/egs/librispeech/asr1/RESULTS.md#pytorch-large-transformer-with-specaug-4-gpus--large-lm

Unfortunately, a word-pieces model isn't attached, so I am not able to train my own acoustic part, because I don't have unified inputs. Am I right? Is anyone able to share the correct BPE model with me?

[2019-11-25 14:38] sw005320 commented on #1383
@ShigekiKarita or @kan-bayashi, could you upload the BPE model?

[2019-11-25 14:48] sw005320 commented on #1378
Yes, to compute the probability you need to use the log sum exponential technique (https://en.wikipedia.org/wiki/LogSumExp) to avoid the underflow issues. Also, in this kind of case (not only for e2e ASR. It happens for the sequential data processing everywhere), the posterior becomes very peaky, i.e., the 1 best posterior becomes almost one and the others become almost zero. If you want to avoid

[2019-11-25 15:04] chrisspen commented on #1380
Where would I adjust the beam-size for, say, for the Tedlium3 model? If I search the egs/tedlium3 folder for "beam-size", I find multiple matches.

[2019-11-25 15:12] sw005320 commented on #1380
change https://github.com/espnet/espnet/blob/master/egs/tedlium3/asr1/conf/decode.yaml#L2

[2019-11-25 15:13] chrisspen commented on #1380
Thanks.

[2019-11-25 19:12] sw005320 opened #1384 "Toward fast decoding"
We're planning to work on the following items:

1. incorporate [batch decoding](https://github.com/espnet/espnet/blob/master/espnet/nets/pytorch_backend/rnn/decoders.py#L497) into our new [beam search interface](https://github.com/espnet/espnet/blob/master/espnet/nets/beam_search.py) (api_v2)
   - [x] batch beam search v2 for encoder-decoder, insertion penalty in transformer #1402
   - [ ] batch b

[2019-11-26 02:14] kan-bayashi commented on #1383
Here you are.
https://drive.google.com/drive/folders/1eO9uLEW0c6DlmpmSU8PdmTJDdJpyC5jp?usp=sharing

[2019-11-26 02:37] xinqipony opened #1385 "attention constrain of transformer TTS"
I noticed there're many issues especially when decoding long phone input for  transformer TTS(teacher),
in fastspeech , there's attention constrain in decoding process to avoid bad cases, in this code base, I see a guided attention, so how's the effect of it? anyone test it?

[2019-11-26 03:01] kan-bayashi commented on #1360
@Imtinan1996 Sorry for the late reply. Let me confirm one point. Did you explicitly reduce batchsize in config in the case of multi gpu?

[2019-11-26 03:02] kan-bayashi commented on #1349
It seems this issue is solved. I will close this issue.

[2019-11-26 03:02] #1349 closed

[2019-11-26 03:07] kan-bayashi commented on #1385
I did not explicitly evaluated objectively but if we add guided attention loss it helps to reduce repetition or deletion errors (when I compared some samples). But it is better to check the effect objectively using ASR results.

[2019-11-26 03:28] minhqp opened #1386 "Phoneme alignment"
Hi there,

Does anyone know how to get phoneme alignment? I used Kaldi with ```yesno``` dataset, and get phoneme alignment in ```exp/mono_0a/ali.1.gz```. Espnet use same style with Kaldi, but after training, I cannot find any file which contain phoneme alignment.

[2019-11-26 03:48] kan-bayashi commented on #1386
Because ESPnet is based on end-to-end training, we do not use any phoneme alignment.

[2019-11-26 03:58] #1386 closed

[2019-11-26 04:36] minhqp commented on #1386
Oh I see. Thank you!

[2019-11-26 04:38] Imtinan1996 commented on #1360
@kan-bayashi yes i changed the batch-size to 8, and set ngpus to 4. Technically the effective batch size is still 32, but yet i see this difference

[2019-11-26 04:41] kan-bayashi commented on #1360
I see. That's is strange.
I have no idea why the speed is different.
How about the final results? Is it different too much?

[2019-11-26 04:42] Imtinan1996 commented on #1360
Yes, it is very different, without the distributed smaller batch, the alignment almost never gets better (tested until ~1000 epochs)

[2019-11-26 06:48] kan-bayashi commented on #1360
Hmm... I'm not sure why it has happened.
How about the quality of the generated speech?

[2019-11-26 07:38] Cescfangs opened #1387 "failed to load rnnlm"
Using version 0.3.1, failed to load rnnlm before ASR training:
[code]
this error came from `asr/pytorch_backend/asr.py` in `torch.load`:
[code]
 to `lm/pytroch_backend/lm.py` inside `class ClassifierWithState(nn.Module).forward()`:
[code]
I am confused why `load` function would raise error in `forward`?

[2019-11-26 08:16] Imtinan1996 commented on #1360
The quality for the distributed training is desirable, whereas in the single GPU training some examples are okay(with a few mistakes here and there) and some are hardly intelligible.

Do you think in terms of gradient updation there is some bug, that is non existent in gradient averaging / batch update?

[2019-11-26 08:18] kan-bayashi commented on #1360
OK. I will check the code in detail.

[2019-11-26 08:38] kan-bayashi commented on #1360
I came up with one possible reason.
This line is the loss calculation.
https://github.com/espnet/espnet/blob/448947bf5a93b03208bfda5e8acb5428b3ac93da/espnet/tts/pytorch_backend/tts.py#L150
In the case of single gpu, `self.model(**x)` is the scalar value of loss.
The loss is calculated as the average of all of the bins of outputs.
Therefore, the long sequence in the batch is dominant.

However, in

[2019-11-26 08:42] kan-bayashi commented on #1360
By default, we use `batch-sort-key: shuffle`.
So the length of each item in the batch is different.
https://github.com/espnet/espnet/blob/448947bf5a93b03208bfda5e8acb5428b3ac93da/egs/ljspeech/tts1/conf/tuning/train_pytorch_tacotron2.v3.yaml#L39
If we use `batch-sort-key: output`, this issue will be solved.
But I'm not sure which is better length-sorted batch or `shuffle`+length-normalized loss.

[2019-11-26 09:05] #1191 closed

[2019-11-26 11:00] r9y9 commented on #1385
FWIW, constraining attention at inference time (e.g., monotonic) is worth trying and could alleviate alignment failures. A while ago I tried [attention constraints](https://github.com/r9y9/deepvoice3_pytorch/blob/6aef4c817745c58fe2fb56d36b533b86bd137fa3/deepvoice3_pytorch/deepvoice3.py#L150-L156) similar to [DeepVoice3](https://arxiv.org/abs/1710.07654), and it worked pretty well in practice. In m

[2019-11-26 11:03] kan-bayashi commented on #1385
@r9y9 This is interesting. Is it possible to integrate with Taco or Transformer?

[2019-11-26 11:03] r9y9 commented on #1385
I also see lots of alignment failures particularly in Transformer TTS and wanted to fix the practical issues. I wish I could have enough time to do it myself, but (I believe) we are always welcome to contributions.

[2019-11-26 11:08] r9y9 commented on #1385
To be honest, I'm not sure because I don't remember details (I guess I implemented it almost two years ago...) but I believe we can do similar in Taco and Transformer as well.

[2019-11-26 11:13] kan-bayashi commented on #1385
I see. I will check the paper and if possible, I will try to implement it.

[2019-11-26 12:31] sw005320 commented on #1383
Thanks a lot!

[2019-11-26 13:08] kan-bayashi commented on #1385
I understood the technique in Deep Voice 3. It is easy to implement for Tacotron2 but for Transformer it is not straightforward. This is because in the case of Transformer there are several diagonal attention heads. So we need to predefine the diagonal heads to apply this technique.

[2019-11-26 14:49] kobiche opened #1389 "Using trained Language Model for decoding process"
Hi,

I am currently trying to decode a sample dataset using the toolkit.
Inside the recog_wav.sh file, on stage 2, a LM and its dictionary is trained based on the reference. Then on lines 131-139 different folders are given to the function data2json.sh along the new LM and dictionary in order to create the json files:
https://github.com/espnet/espnet/blob/448947bf5a93b03208bfda5e8acb5428b3ac93da/e

[2019-11-26 17:18] smolendawid commented on #1383
Thank you!

[2019-11-26 17:18] #1383 closed

[2019-11-27 02:14] Cescfangs commented on #1387
and I found it was OK to load rnnlm in `recog()`, wired.

[2019-11-27 03:37] Cescfangs commented on #1387
I've figured it out in PR #1391

[2019-11-27 04:43] hajime9652 commented on #1297
Can I use this CTC-based VAD for Kaldi decoder?

[2019-11-27 07:22] kaituoxu opened #1392 "what does this do? FIXME: TOO DIRTY HACK"
Hello, I want to know what does this part code doing. So that I can decide whether to remove or modify these code when I add Horovod to Espnet. Thx.
https://github.com/espnet/espnet/blob/master/espnet/asr/pytorch_backend/asr.py#L448-L450

[2019-11-27 07:23] Imtinan1996 commented on #1360
Alright, i will try running an experiment with `length-sorted batch` in comparison to `shuffle+length-normalized loss` (which i already have in training).

And i will share the results whenever i can.

[2019-11-27 07:25] hefidi opened #1393 "Forced alignment with training data"
I completed the training with my data, but stuck to get alignment result between audio and transcript text. Does anyone suggest me how to do that?

[2019-11-27 07:31] Imtinan1996 commented on #1360
Also there is one other concern that i have, i havent seen the implementation in depth, but i assume that the number of steps per epoch is derived from the batch size and the data length `(n_steps = len(data) / batch_size )` If this is so, then i fear my comparison might be unfair.

Lets assume i have 3200 samples

When i set the batch size to 32 on a single GPU, the effective batch size is 32 and

[2019-11-27 07:40] kan-bayashi commented on #1360
In the case of multi-gpu, first, we make the list of mini-batches with the batch_size (= batch_size * num_gpus). And then each mini-batch will be split into the number of gpus in `forward` calculation. Therefore, the number of steps will be the same between `batch_size=32 & ngpu=1` and `batch_size=8 & ngpu=4`.

[2019-11-27 07:43] hieuthi opened #1394 "More detail description of pre-trained models (TTS)"
I am looking for details description of pre-trained acoustic and wavenet models but unable to find them.
As there a lot of new strategies now for training beside the vanilla training intra-corpus (transfer from another models, multispeaker with x-vector). It would be nice to know how exactly the model was train.

In particular. I am looking for description of libritts.wavenet.mol.v1 :
- Is it trai

[2019-11-27 07:45] kan-bayashi commented on #1360
Note that current implementation is not `length-normalized`.
The current implementation is just average over all of the bins.

[2019-11-27 08:22] kan-bayashi commented on #1394
Hi @hieuthi.
Thank you for your question and suggestion.
At first, I will answer your question.

Yes, the wavenet was trained using LibriTTS dataset.

Not sure what pre-train model means but this model was trained from scratch.

No, it did not use any speaker information. The wavenet is only conditioned on Mel spectrogram. That configuration is not used since `gin_channels` is set `-1`.

I will co

[2019-11-27 09:44] Yingzhu-Zhao opened #1395 "ASR hybrid attention/ctc and put ctc weight 0"
One question regarding attention/ctc hybrid model. I want to include attention loss only, and change ctc-weight to 0.0 in decode_rnn.yaml, and mtlalpha to 0.0 in train_pytorch_transformer_lr5.0_ag8.v2.yaml. But the result is too much worse. Any idea why?

[2019-11-27 12:34] sw005320 commented on #1387
Thanks. I merged #1391.

[2019-11-27 12:34] #1387 closed

[2019-11-27 22:55] RSSharma246 opened #1396 "Fisher Callhome Spanish ST recipe: lsm-type,lsm-weight missing"
In espnet/bin/st_train.py, the parser was changed recently, and the conf files, and other files including e2e_st.py were not changed to reflect that. This seems to break the recipe in egs/fisher_callhome_spanish/st1/
Please check the recent commit made for that file: reverting that commit should fix the issues.

Thanks

[2019-11-28 02:41] kan-bayashi commented on #1393
Because espnet is based on seq2seq models, obtaining the alignment between text and audio is not straightforward. You can use attention weight as a kind of the alignment, but compared to the forced alignment using GMM-HMM maybe it is not precise, I think.

[2019-11-28 02:47] kan-bayashi commented on #1395
Please check #1318

[2019-11-28 02:48] kan-bayashi commented on #1396
@hirofumi0810 Could you check it?

[2019-11-28 02:50] kan-bayashi commented on #1392
This line is needed to use chainer’s trainer.
I think you can remove if you move on to the other trainer.

[2019-11-28 02:51] kan-bayashi commented on #1392
Maybe you will interested in our new design #1372.

[2019-11-28 03:01] sw005320 commented on #1396
It may be better to have some integration tests for ST like https://github.com/espnet/espnet/blob/master/ci/test_integration.sh.

[2019-11-28 03:29] kan-bayashi commented on #1360
Sorry, `length-normalized` may confuse.
I mean `length-weighted-normalized` (not sure...).
[code]

[2019-11-28 07:37] kan-bayashi commented on #1360
I made new option `use-weighted-masking` in #1397.
I will also compare the results with ljspeech recipe.

[2019-11-28 07:51] hieuthi commented on #1394
Thank you for fast response

[2019-11-28 07:51] #1394 closed

[2019-11-28 08:09] hirofumi0810 commented on #1396
@RSSharma246 can you show me the error log?

[2019-11-28 19:25] wentaoxandry opened #1399 "Error with install"
Hello,
I have tried with espnet install, during make I havn't got any error, but  run  make check_install, I got follow results:
. venv/bin/activate; python check_install.py
INFO: python version = 3.7.3 (default, Mar 27 2019, 22:11:17)
[GCC 7.3.0]
INFO: library availableness check start.
INFO: # libraries to be checked = 9
INFO: --> espnet is installed.
INFO: --> kaldiio is installed.
INFO: --> ma

[2019-11-28 20:38] sw005320 commented on #1399
We prepare most versions of pytorch warp CTC (see https://github.com/espnet/warp-ctc#for-pytorch-10-or-11). I guess you ran the Makefile with some different (unsupported) setup. Could you tell me more exact information? (What kind of environment, which option did you use for make etc.)?

[2019-11-28 22:19] RSSharma246 commented on #1396
`Traceback (most recent call last):
  File "/x/espnet/egs/fisher_callhome_spanish/st1/../../../espnet/bin/st_train.py", line 311, in <module>
    main(sys.argv[1:])
  File "/x/espnet/egs/fisher_callhome_spanish/st1/../../../espnet/bin/st_train.py", line 305, in main
    train(args)
  File "/x/espnet/espnet/st/pytorch_backend/st.py", line 126, in train
    model = model_class(idim, odim, args)
  Fi

[2019-11-29 07:53] wentaoxandry commented on #1399
Thank you for you reply.
I have changed a lot of envorioment config, now it is working:) thank you for your help

[2019-11-29 07:54] #1399 closed

[2019-11-30 05:04] nanma opened #1400 "Confusion about knowledge distillation of FastSpeech"
The FastSpeech paper said, ‘We feed the text and speech pairs in the training set to the model again to obtain the encoder-decoder attention alignments, which are used to train the duration predictor’(In section 4.3 of the paper).

I guess feeding text and speech pairs to Transformer TTS means the inference procedure is in Ground Truth Aligned(GTA) mode, otherwise there is no need to feed the spee

[2019-11-30 05:22] kan-bayashi commented on #1400
Hi @nanma. Thank you for your question.
In the current master, we did not use knowledge distillation. Here, "do not use knowledge distillation" means that the target duration is generated by the teacher Transformer with teacher forcing. The teacher Transformer received the text and ground truth of feature sequences and then we can calculate the duration of each input token. The current implementat

[2019-11-30 12:45] JoeyHeisenberg opened #1401 "How to use transfer learning in tts_train.py"
After training the fastspeech.v3 model with baker dataset, I would like to retrain the model with another but smaller dataset, I only see "resume" option in tts_train.py, it that mean I only can load the model in snapshot but not in model.loss.best or model.last1.avg.best (second question is what is the differents between model.loss.best and model.last1.avg.best or how to generate the model.last1.

[2019-11-30 13:01] kan-bayashi commented on #1401
`model.last1.avg.best` is generated from here:
https://github.com/espnet/espnet/blob/2b9e8476b357eee78c0d5896833eeaeb0d1d5efe/egs/csmsc/tts1/run.sh#L168
This model parameters are average of the last N epochs. (last1 means just a final epoch.)

And there is `--pretrain-model` option for Tacotron 2 and Transformer.
Not yet added in FastSpeech but it is quite easy.
Please add following lines in `espn

[2019-11-30 23:59] RSSharma246 commented on #1396
Looks like issue is resolved. Thanks

[2019-11-30 23:59] #1396 closed

[2019-12-01 17:26] secretlyvogon commented on #1281
Hi, I am having the same issue! I followed all the steps suggested and the training does not start. I get the following output

`# asr_train.py --config conf/train.yaml --preprocess-conf conf/specaug.yaml --ngpu 0 --backend pytorch --outdir exp/train_960_pytorch_train_specaug/results --tensorboard-dir tensorboard/train_960_pytorch_train_specaug --debugmode 1 --dict data/lang_char/train_960_unigram

[2019-12-02 03:18] JoeyHeisenberg commented on #1401
Thx     : ）
@kan-bayashi

[2019-12-02 03:45] nanma commented on #1400
@kan-bayashi Thanks for your detailed answer！
I thought more about this training procedure based on your reply and the original paper, and I thought your implementation is in consistent with the paper, which is:

1. For training FastSpeech without knowledge distillation, use both text and ground truth feature sequences;
2. For training FastSpeech with knowledge distillation, use only text to gener

[2019-12-02 03:45] #1400 closed

[2019-12-02 05:38] #1401 closed

[2019-12-02 05:39] kan-bayashi commented on #1400
Right. Now I'm considering the good filtering method.

[2019-12-02 12:43] beidongjiedeguang opened #1403 "WARNING: --> espnet is not installed."
When I installed everything and then executed `python check_install.py `  at `espnet/tools` , I got this:
[code]
 What should I do ?

[2019-12-02 13:00] sw005320 commented on #1403
Does it happen in the current master?

[2019-12-03 01:57] beidongjiedeguang commented on #1403
Thank you for your reply. It may not be, I run it in docker image "espnet/espnet:gpu-cuda10.0-cudnn7-u18". How can I fix it？

[2019-12-03 02:24] kan-bayashi commented on #1360
I added the results in #1397.
In the case of LJspeech, the results are almost the same.

[2019-12-03 05:51] #1208 closed

[2019-12-03 07:47] kaituoxu commented on #1392
Got it. Thx.

[2019-12-03 08:00] #1392 closed

[2019-12-03 11:31] limitforever opened #1404 "How to adjust the voice speed in fastspeech?"
Hello,I have ran the  demo from"https://colab.research.google.com/github/espnet/notebook/blob/master/tts_realtime_demo.ipynb#scrollTo=PGLeZP1CCB2E"and yet got good results in synthsizing Chinese.
   And I want to have a futher study on FastSpeech.My question is how to adjust the voice speed in your code?Can you show me where I can find the parameter "alpha" which was noted in FastSpeech paper?

[2019-12-03 14:41] sw005320 commented on #1403
oh, I see. Maybe the docker image is not updated.
@Fhrozen, could you fix it (if my understanding is correct)?

[2019-12-03 15:09] Fhrozen commented on #1403
@beidongjiedeguang I am wondering if you are trying with the docker images on the hub or a local built.?
The docker images on the hub are a little out-of-date (I will update them tomorrow).
Meanwhile, can you try first with:`./build.sh fully_local 10.0` inside the docker folder and check if the errors remains.

[2019-12-03 15:24] ShigekiKarita opened #1405 "Multi encoder integration test is dead but not reported in CI"
https://travis-ci.org/espnet/espnet/jobs/620043261#L14985

I'm afraid that this line does not work well.
https://github.com/espnet/espnet/blob/2b9e8476b357eee78c0d5896833eeaeb0d1d5efe/ci/test_integration.sh#L8

[2019-12-04 02:45] kan-bayashi commented on #1404
Hi @limitforever.
Sorry, the feature is not supported officially.
I will implement within a month.

[2019-12-04 04:15] Yingzhu-Zhao commented on #1318
Is there a viable solution so far for pure attention transformer model on Librispeech dataset?

[2019-12-04 06:27] Imtinan1996 commented on #1360
hi @kan-bayashi thank you for making the changes. i was on a break so i am getting back a bit late. I will pull and try said experiments. Thanks alot

[2019-12-04 08:01] #1199 closed

[2019-12-04 08:01] #1175 closed

[2019-12-04 08:01] #1172 closed

[2019-12-04 09:01] #1202 closed

[2019-12-04 10:03] Fhrozen commented on #1403
@beidongjiedeguang #1409 just been merge with new updates for the docker container.
If you are using the one in the HUB please re-download it and test.

[2019-12-04 11:21] JoeyHeisenberg opened #1410 "The utilization rate of gpu is strang when training transformer & fastspeech"
when I trained TTS model on the  /csmsc/conf/tuning/fastspeech.v3&transformer.v1, the utilization rate of gpu would go to zero for a while(but the result is aceptable), but the rate of tacotron2.v3 was fine. Is there any explanation for that？
fastspeech on 3 gpu
![image](https://user-images.githubusercontent.com/33407667/70137854-ebe34880-16c9-11ea-8e44-0e5170a208ad.png)
transformer on 3 gpu
![ima

[2019-12-04 11:26] kan-bayashi commented on #1410
Maybe IO is bottleneck.
Try num-iter-threads > 0.
https://github.com/espnet/espnet/blob/beaef4e8c5f09cc655a6f7011f257d3800d311f8/espnet/bin/tts_train.py#L93
For example, you can add num-iter-threads: 4 in yaml config.

[2019-12-04 13:31] ShigekiKarita commented on #1410
Maybe attention plot is also bottleneck because Transformer's plot is very large. You can try num-save-attention: 0 in the training yaml
https://github.com/espnet/espnet/blob/beaef4e8c5f09cc655a6f7011f257d3800d311f8/espnet/bin/tts_train.py#L121-L122

[2019-12-05 02:11] RSSharma246 opened #1414 "Question:Integration of multiple optimizers for different layers"
I am interested in using multiple optimizers to train different layers in my ASR model. I would appreciate any suggestions on how to integrate this with the chainer trainer/ knowing if there is some compatibility in any experiment

[2019-12-05 02:43] JoeyHeisenberg commented on #1410
@kan-bayashi @ShigekiKarita I have tested on the experiment what you suggested, and the result support your guess @ShigekiKarita ，thx both of you ：)

test on default
![image](https://user-images.githubusercontent.com/33407667/70199126-d6166780-174b-11ea-8b0f-cb28cdd522b5.png)

test on num-iter-porcessed = 4
![image](https://user-images.githubusercontent.com/33407667/70199157-f2b29f80-174b-11ea-9f5

[2019-12-05 14:42] sw005320 commented on #1414
We have some experience with it. You may need to touch the trainer part.
First, you should make multiple optimizer instances (e.g., https://github.com/sw005320/espnet-1/blob/asrtts2/src/asrtts/asrtts_pytorch.py#L664-L667) and change the CustomUpdater to perform the optimization for each instance (e.g., https://github.com/sw005320/espnet-1/blob/asrtts2/src/asrtts/asrtts_pytorch.py#L401 and https://

[2019-12-06 01:22] mowayao commented on #1384
Any plan for hot-word decoding?

[2019-12-06 08:05] vcjob opened #1417 "Word timings, once again."
Hello everyone!

I know that question has already been asked multiple times, but anyway, DeepSpeech by Mozilla team has its feature, they use CTC as well, though. Therefore, are there any plans on implementing that feature? (I know it won't be perfect, but at least estimated). Or is there any helpful info on how where to start, where should one take CTC results (like when encoded is fed to beam se

[2019-12-06 08:26] hyx100e opened #1418 "must-c st task loss dont converged"
I use the default config with egs/must-c/st1/conf/train.yaml. And the data preprocess keep consistent with run.sh (from stage 1 to 3). But when I run the network stage(Exactly the same as the original code except use ctc loss),  use 1 gpu(22G) training one day(about 80k steps) but the loss still keep about 100-300. I set 0.5 weight with ctc loss and mtl loss, and use warp-ctc. So can you tell me s

[2019-12-06 10:33] kan-bayashi commented on #1417
Section 4.4 in this notebook will help you.
https://colab.research.google.com/github/espnet/interspeech2019-tutorial/blob/master/notebooks/interspeech2019_asr/interspeech2019_asr.ipynb

[2019-12-06 10:41] kan-bayashi commented on #1418
In speech translation, the alignment between inputs and outputs is not causal but CTC forces to be causal. Consequently the use of CTC has bad effect on training of ST model, I think.

[2019-12-06 10:42] #1410 closed

[2019-12-06 12:01] hyx100e commented on #1418
But it still never converged only use attention decoder. I noted that LabelSmoothing and KLdiv loss have been used, does it work well in your experimental?

[2019-12-06 12:33] kan-bayashi commented on #1417
And in the case of TTS, we calculate the duration of each character in the inputs using attention weight.
https://github.com/kan-bayashi/espnet/blob/afb17e6f1a99a66b228f0026e84efb6ebc0e35d9/espnet/tts/pytorch_backend/tts.py#L570-L585
I think we can do similar things in ASR to get the word timing.

[2019-12-06 12:37] kan-bayashi commented on #1418
Let me confirm your questions:
1. The model has never learned well if you use the default setting except for the use of `mtlalpha=0.5`.
2. If you use the default setting, the loss is not converged. Or did you make any change from the default settings? Please clarify the difference.

And it is better to add your training curve figure with the setting.

[2019-12-06 13:10] sw005320 commented on #1417
Very interesting.
What kinds of format do you prepare to output the alignment information?

[2019-12-06 13:15] sw005320 commented on #1384
What is hot-word decoding? Could you tell us the reference?

[2019-12-09 02:49] zqs01 opened #1419 "Question:Using different versions of espnet, with the same configuration file, the results are different"
Hello everyone, I have a question. Using different versions of espnet, with the same configuration file, I got different result. I use Transformer model for ASR without Language model, then  espnet(0.6.0) result is worse than espnet(0.5.3).
[code]

[2019-12-09 03:11] xinqipony commented on #1385
awesome, espnet team takes a real fast progress and action, great work! and could Transformer tts model be supported too?

[2019-12-09 04:54] sw005320 commented on #1419
How much they are different?

[2019-12-09 06:32] zqs01 commented on #1419
dataset: WSJ

espnet(0.5.3)

eval92 CER:5.2, WER:13.6
dev93 CER:6.7, WER:16.5

espnet(0.6.0)

eval92 CER:5.5, WER:14.0
dev93 CER:7.5, WER:17.8

[2019-12-09 06:36] zqs01 commented on #1419
dataset: WSJ

espnet(0.5.3)

eval92 CER:5.2, WER:13.6
dev93 CER:6.7, WER:16.5

espnet(0.6.0)

eval92 CER:5.5, WER:14.0
dev93 CER:7.5, WER:17.8

@sw005320 thank you for your reply

[2019-12-09 06:43] hlthu commented on #664
I am also wondering if there are the scripts to generate the WSJ_MIX data.

[2019-12-09 07:00] sw005320 commented on #664
@simpleoier, could you answer it? I don't fully understand the situation.

[2019-12-09 07:01] sw005320 commented on #1419
Is this difference reproducible?
We've always observed small differences.
If this degradation is consistent, we will try to find the reason.

[2019-12-09 07:06] zqs01 commented on #1419
Ok, I will do a few more experiments to test, thank you!

[2019-12-09 07:06] #1419 closed

[2019-12-09 07:22] wentaoxandry opened #1420 "Bad WER for new dataset"
Hello,
I'm interested in ESPnet with a new dataset, I have done some experiments, but I got bad WER.
The dataset, which I used is LRS2 corpus(large vocabulary).  I have tried training the example scripts from WJS, AMI, commonvoice, librispeech, but all got bad WER (over 50%). I want to ask if someone has an idea about that? Or how can I train the new dataset with ESPnet?
What I have done in my exp

[2019-12-09 07:54] Fhrozen commented on #1420
First to all, Thank you for using ESPnet.
Second, could you please share the link of the dataset (just to confirm is this: http://www.robots.ox.ac.uk/~vgg/data/lip_reading/lrs2.html).

You may need to be careful with the alignment of the audio with the text. Also, remember that the each recipe has its own way to prepare the lists (tag_of_each_uttr) and that this may be wrong in the output. As exam

[2019-12-09 08:03] wentaoxandry commented on #1420
Hello Fhrozen,
thank you for your reply!
Yes, the link of the dataset is http://www.robots.ox.ac.uk/~vgg/data/lip_reading/lrs2.html
For the alignment of the audio with the text, I think there is nothing wrong because I also trained the dataset with Kaldi script, which can get good results.
I also tried the AN4, and compared the json files with my files. It seems nothing wrong.
Thank you for your a

[2019-12-09 08:29] Fhrozen commented on #1420
Thank you for your quick response.
The larger I worked with were librispeech and tedlium 3.

Maybe you can try with librispeech  largest model.

[2019-12-09 08:40] wentaoxandry commented on #1420
Thank you, I will try it.
Now I'm trying with librispeech, I do not have 4 gpus so I reduce gpu number and reduce the batch-bins. Here are the training results, But I think something is wrong during training? Or I should run all epochs and see the decoding results?
Thank you
![loss](https://user-images.githubusercontent.com/47325204/70420204-78459080-1a67-11ea-92a7-ebcc1423efcc.png)
![acc](https:/

[2019-12-09 09:51] mowayao commented on #1384
Eh... I can't find any paper about this technique,  but the idea of hot-word decoding is quiet simple, that is, you can add some words in decoding procedure, which will bias the prediction words towards hot-words. Lots of ASR service provider company support this characteristics such as , https://www.huaweicloud.com/en-us/product/asrc.html

[2019-12-09 10:23] sw005320 commented on #1384
I see. This is what the standard e2e cannot handle easily compared with HMM based one because of the lack of the acoustic, lexical, and language model modules. There are several studies to incorporate hot words in e2e systems but espnet currently does not support it.

[2019-12-09 11:20] Fhrozen commented on #1420
Mhh, it does not look good.
Right now I cannot try it until get a copy of the LRS (need to get the agreement).

You see than the training is not good from the accuracy. Usually at epoch 8/10 it should be around 0.5-0.6 with large corpus. for small corpus (WSJ) it usually can reach 0.8 of val acc at epoch 10.

Will need to check the data once I get a copy.
In this case, try with the RNN to see if t

[2019-12-09 11:25] wentaoxandry commented on #1420
Thank you for your advice, I will try it

[2019-12-09 11:35] sw005320 commented on #1420
Thanks for your report!
The data look very interesting. It would be great if you consider making a PR for your recipe.
We'll support you.

Can you show me your config file?
We usually do not have such training/validation loss/acc degradation, and this is due to some wrong setup in the optimization-related hyperparameter.

[2019-12-09 12:01] wentaoxandry commented on #1420
@sw005320
Thank you for your support, here is config file which I used :
# librispeech
accum-grad: 4
adim: 512
aheads: 8
backend: pytorch
batch-bins: 1500000
dlayers: 6
dropout-rate: 0.1
dunits: 2048
elayers: 12
epochs: 120
eunits: 2048
grad-clip: 5
lsm-weight: 0.1
model-module: espnet.nets.pytorch_backend.e2e_asr_transformer:E2E
mtlalpha: 0.3
opt: noam
patience: 10
sortagrad: 0
transformer-attn-d

[2019-12-09 12:11] sw005320 commented on #1420
Can you decrease `transformer-lr`? (e.g., 5.0, 2.0, 1.0 etc.)?
Then, I guess you'd not have some degradations in the early epoch stage.
Also, you may increase `accum-grad` later.

The e2e model does not outperform the Kaldi especially in this range of the training data.
I think this is a reasonable number.

@ruizhilijhu, the data seem to be very interesting and you may also take a look at this.

[2019-12-09 12:14] kobiche commented on #1389
Do you know where the problem lies?

[2019-12-09 12:26] wentaoxandry commented on #1420
@sw005320 , thank you for your advice, I will try it. If I got the results, I will tell you as soon as possible.
I'm have read a paper https://ibug.doc.ic.ac.uk/media/uploads/documents/av_speech_hybridctcattention.pdf. In this paper with LRS2 and ESPnet, they got WER 8.3 for audio-only. I have tried to connect the authors, but haven't got reply. I'm not sure which script or config file they used,

[2019-12-09 12:34] Fhrozen commented on #1420
There are two parts you need to consider first. (Not sure if for kaldi is also required)
Language model:
[code]

Data Augmentation:
[code]
Maybe the result without this two should be similar (close) to the one you have reported for kaldi (WER: 10)

[2019-12-09 12:38] wentaoxandry commented on #1420
@Fhrozen , thank you for your reply, I have also tried the language model without the LibriSpeech corpus, the WER does not change. For data augmentation, now I haven't do any data augmentation, so all audios are clean signals.

[2019-12-09 13:24] wentaoxandry commented on #1420
@sw005320 , if you want we can work together to make a baseline script for LRS2.

[2019-12-09 13:35] sw005320 commented on #1420
Sure, let's do that. We can communicate through this issue or directly send an email to me (shinjiw@ieee.org) if you prefer it. Also, @ruizhilijhu (or others in JHU) would be interested in it.

[2019-12-09 15:38] simpleoier commented on #664
@hlthu Yes, there are scripts for generating the WSJ_MIX data.
Basically, it is the same process to generate wsj0_mix data as long as you have the mixture scheme.
I am still working on to push the new scripts for generate both the wsj0_mix and wsj_mix corpus. But you can refer to this first. And I really appreciate it if you provide feedback on how you feel about it.

[2019-12-09 22:29] ruizhilijhu commented on #1420
@wentaoxandry Hi, I am currently working on  multi-stream end-to-end ASR. Multimodal (visual+audio) ASR is one of the multi-stream scenarios. I am very interested in this dataset. If you'd like, we can work together to make a PR of this dataset on ESPnet. My email: ruizhili@jhu.edu

[2019-12-10 06:35] Imtinan1996 opened #1424 "QUESTIONS: Changing Outputs for TTS & Averaging Checkpoints"
I am using Tacotron2 trained on a custom dataset on V3 Config, along with a custom trained ParallelWaveGAN FROM @kan-bayashi implementation. Everything works well but i have two concerns.

Q1 - Is there a better way to average checkpoints? for TTS checkpoint averaging is done over the last n files, whereas for ASR it looks for val/mean/acc in the train log, and averages the best n files. Can somet

[2019-12-10 07:09] kan-bayashi commented on #1424
Hi @Imtinan1996.

Actually, I did not strictly check the effectiveness of the checkpoint averaging.
The difficult point is that while in the case of ASR, the validation accuracy is directly correlated to the WER or CER, the validation loss is not directly related to perceptual quality in the case of TTS. In my feeling, the validation loss best model is worse than the last epoch model but I have no

[2019-12-10 07:30] Imtinan1996 commented on #1424
Thank you for your response @kan-bayashi

I have faced similar problems. In my case the model at epoch ~800 performs better than at epoch ~1000. I guess for now its just manual opinion based evaluation.

Oh i missed that note, i'll try changing the dropout to see if it brings any changes into the output.

I actually have written a script, this also hosts a html frontend for easy inference, i would

[2019-12-10 14:48] r9y9 commented on #1424
I don't have enough experience on the model averaging and I have no idea when to stop training :( As @kan-bayashi said, validation losses are not necessarily related to perceptual quality and it is difficult to choose the best model based on the validation values. That being said, I think it's worth monitoring CER/WER during training and it would be helpful for model selection. In that case, we ne

[2019-12-10 17:18] sw005320 commented on #1389
First, `run.sh` is a script to make all models (e2e and language models) from scratch. We did not intend it for the adaptation scenario. Second, it seems that you used an LM as an argument of `--bpecode`, right? LM and BPE model are different. You need to feed the BPE model. Currently, the uploaded language model does not include the BPE model (which is a known issue) and you need to make a BPE mo

[2019-12-11 02:05] #1217 closed

[2019-12-11 02:45] hyx100e commented on #1418
Hi,
I trained 17 epoch for 1 day on 4 P40. But both loss and acc dont have significantly improved, it seem too slow. The curve figure and config.txt has shown below.

![st_17epoch](https://user-images.githubusercontent.com/28775368/70586601-81b73000-1c02-11ea-9c72-f9d9387fcbdc.jpg)

[config.txt](https://github.com/espnet/espnet/files/3948158/config.txt)

[2019-12-11 03:03] tomkocse commented on #1318
@sw005320 It will be great if you can release a fine-tuned pure LAS setup on Librispeech ? I think most ESPNET example are only tuned for mix CTC+LAS setup.

[2019-12-11 03:13] lijiangguo commented on #1248
Can anyone explain how vgglstm generates features? Does the conv layer need the entire input sequence or it only moves in frequency dimension?

[2019-12-11 04:49] unilight commented on #1424
I can provide some personal opinions regarding model selection in TTS.

As mentioned above, the validation loss does not correspond to perceptual quality. (I guess this is because validation loss is calculated under teacher forcing?) So is the case for testing time distortion measures. (MSE, MAE, MCD, etc.) As for WER/CER, I think it is good if you want to monitor _intelligibility_ but again,  it

[2019-12-11 07:45] sw005320 opened #1425 "ESPnet2 development discussion"
- This is an issue to discuss #1372
- python 3.7 is too aggressive (?) by @r9y9

links
- espnet2 modules https://github.com/espnet/espnet/tree/v.0.7.0/espnet2
- espnet2 examples https://github.com/espnet/espnet/tree/v.0.7.0/egs2

[2019-12-11 07:49] yoonjune commented on #1403
I have same issue with the latest version as you mentioned above.(espnet/espnet, tag "gpu-cuda10.0-cudnn7-u18"
I build docker image following command.

and got following error.
`stage 0: Data preparation
cat: /export/corpora4/CHiME4/CHiME3/data/WSJ0/wsj0/doc/indices/train/tr_s_wv1.ndx: No such file or directory
cat: /export/corpora4/CHiME4/CHiME3/data/WSJ0/wsj0/doc/indices/test/nvp/si_et_05.ndx: N

[2019-12-11 08:10] geekboood commented on #1425
I also encounter some inconvenience when I use espnet.
Firstly, as a PyTorch user, I agree that we should have a kaldi and chainer free version. I have seen both a python script uses librosa and a kaldi script to extract features, which is confusing. I think a pure python version and use librosa library could be more convenient. Also, my [previous issue](https://github.com/espnet/espnet/issues/134

[2019-12-11 08:32] kamo-naoyuki commented on #1425
This is about this part of my PR:

https://github.com/espnet/espnet/blob/f5d6c4ee0e48b87205e0af940d3aadaaf83e9aa4/setup.py#L10-L13

Basically I'm always aggressive about Python version, so I have used 3.7's features in espnet2 without thinking much.  please notify me if there are already any dependencies problems @r9y9
The default python installed by Anaconda is 3.8., I have tested now, so I think

[2019-12-11 09:03] Fhrozen commented on #1403
In case of use the containers from the Hub, you need first to delete the previously downloaded.
In case of use of building locally you need to modify the lines

https://github.com/espnet/espnet/blob/3a4b65e95289fabbf6500d75336a60085e61c42e/docker/prebuilt/local/Dockerfile#L30-L32

to:

[code]
I will try to update this in the master dockerfile

[2019-12-11 11:23] kobiche commented on #1389
Understood! Thanks!

When do you think it is going to be possible to download the BPE model?

[2019-12-11 15:19] r9y9 commented on #1425
What I wanted to say is that dropping support for a specific version of python, which is still widely used in the python community, is an aggressive decision. The decision may throw potential users away. In my opinion (philosophy?), we should generally try to give broader support to make the software available to as many users as possible. I know espnet is more like a research project and going fa

[2019-12-11 15:24] r9y9 commented on #1425
By the way, my *personal* reason not feeling like to move to python 3.7 is https://github.com/MattShannon/bandmat/issues/10#issuecomment-497389270; still not resolved yet :(

[2019-12-11 17:30] kamo-naoyuki commented on #1425
@r9y9 I agree it is better to support widely. You are right in general as we can't estimate the hidden user's to leave with strict requirements, of course, so this is just a philosophy problem. If for personal project, I never made such decision.

The encoding problem is not fatal issue for mature programmer as you, it's just using `open(encoding="utf8")` if setting `LC_ALL=C`, but for  beginner t

[2019-12-11 18:12] kamo-naoyuki commented on #1425
The features I used of Python3.7 are:

- dataclass: https://docs.python.org/3/library/dataclasses.html
- `from __future__ import annotation`
- open() without encoding; we always set LC_ALL=C for sorting order in `path.sh`.
It's not hard to take back 3.6 for now. Actually I'd like to use 3.8, it has many attractive features...

[2019-12-11 23:53] kan-bayashi commented on #1425
For encoding, PYTHONIOENCODING=UTF-8 is not working well?

[2019-12-12 01:26] ShigekiKarita commented on #1425
@geekboood thanks for comments

espnet2 will solve this by pytorch DataLoader.

@kamo-naoyuki made excellent changes on this. For example, espnet2 unified encoder/decoder interface that can compose RNN/Transformer/etc modules
- https://github.com/espnet/espnet/blob/v.0.7.0/espnet2/asr/encoder/abs_encoder.py
- https://github.com/espnet/espnet/blob/v.0.7.0/espnet2/asr/decoder/abs_decoder.py

and als

[2019-12-12 01:32] kamo-naoyuki commented on #1425
(The discussion for Python version is not high priority matter, so I finished to put comments, sorry @r9y9, and thanks)

@kan-bayashi
In my understanding, PYTHONIOENCODING has effects only for stdout and stdin.

[code]

[code]

[code]

Python uses many variables for encoding and they can have different values each other and I forget this complex system sometimes.

[2019-12-12 03:06] kan-bayashi commented on #1385
@xinqipony It is not straightforward in the case of Transformer because there are a lot of heads and only some of the heads are diagonal. I'm not sure what is happened we apply the attention constraint to all of the heads. But it is worthwhile to try. I will try it.

[2019-12-12 15:05] sharockys commented on #1403
Hello, I have tried to resolve this problem by cloning the repo and install it with `pip install .` with python in /espnet/tools/venv.
Somehow the installation worked but `from espnet import transfom` won't work, I copeid from the cloned repo `espnet/espnet` to `/espnet/tools/venv/bin/python3.7/site-packages/` and I made `check_install.py` worked.

[2019-12-13 07:34] sw005320 commented on #1425
I personally like the idea of using the latest (stable) python for this project. It yields better design and simpler codes than updating the python version later.

[2019-12-13 08:34] Fhrozen commented on #1425
FYI, in the example code : `python -m espnet2.bin.asr_train --print_config --optimizer adam --encoder_decoder transformer`
is written but the option `--optimizer` is `--optim`, Maybe this will be confusing for the documentation.

[2019-12-13 10:06] kamo-naoyuki commented on #1425
@Fhrozen o.k. thanx. l ll fix.

l couldn't decide such short word is better or formal is better.

[2019-12-14 00:26] kamo-naoyuki commented on #1405
The following shell script returns 0, so the ci never stop excluding the last block.

[code]

Is there reason you use subshell? How about simply executing these commands in the main shell?

[code]

Or,

[code]

[2019-12-14 00:28] ShigekiKarita commented on #1405
Thanks! Just shellcheck asked me to use sub when I do cd. I will turn off
the warning here.

2019年12月14日(土) 8:26 Naoyuki Kamo <notifications@github.com>:

[2019-12-14 02:24] #1230 closed

[2019-12-14 04:40] RSSharma246 opened #1434 "WarpCTC vs Pytorch CTC"
Have users found a specific reason to use Warp-CTC instead of the Pytorch default CTC?
I would prefer to use Pytorch > 1.0 for faster training, but it seems like WarpCTC is not compatible with Pytorch 1.3?
Is there a way to make a clean break for not using Warp-CTC and is it planned to move over to Pytorch CTC completely in the future?

[2019-12-14 04:58] RSSharma246 commented on #1414
Thanks.

[2019-12-14 04:58] #1414 closed

[2019-12-14 05:52] #1405 closed

[2019-12-14 08:01] beidongjiedeguang commented on #1403
Copy `/espnet/espnet`  to  ` /espnet/tools/venv/lib/python3.7/site-packages/ ` worked for me! @sharockys Thank you!

[2019-12-14 22:53] sw005320 commented on #1434
We had some benchmarks that Warp-CTC is better than PyTorch 1.0X default CTC.
PyTorch 1.3+ default CTC does not seem to have some issues, and I agree that we should switch to it in the near future.
Now, we're working on #1421 and if this is fixed, we may think of moving to default CTC.

[2019-12-15 03:35] sanzimu commented on #1425
RuntimeError happened to me when i run with docker ; RuntimeError: cannot cache function '__shear_dense' : no locator available for file librosa/util/utils.py ; the version of librosa 0.7.x will cause the error

[2019-12-15 05:39] sw005320 commented on #1425
we did not prepare the docker image for espnet2 yet.

[2019-12-15 08:54] ElijhaLee commented on #1328
Did anyone check the usage of shared memory when n_iter_processes>1? Someone told me when n-ter-processes is set to 10, the training speed is greatly improved and the usage of shared memory is ~300M which can be observed by `df /dev/shm`, while in my situation only 17M is used, and I didn't see much improvement on the training speed.

Can anyone check your /dev/shm ?

[2019-12-15 08:57] ElijhaLee commented on #1328
@943274923 Do you have any update? I tried the same setting(original `conf/tuning/train_pytorch_transformer_large_ngpu4.yaml` and without any modification on any code), the speech is 0.25iter/sec, do u have the same situation?

[2019-12-15 10:03] EsmaeilFarhang commented on #1212
----------------------------------------------------------------
Hi,
can you tell me, which parameters for waveglow should be changed?

[2019-12-15 21:13] #1231 closed

[2019-12-15 21:13] #1222 closed

[2019-12-15 21:13] #1224 closed

[2019-12-15 23:26] sw005320 commented on #1425
I commented on several ideas in https://github.com/espnet/espnet/pull/1439#issuecomment-565854783. These are basically about the model ecosystem.

[2019-12-16 06:51] takeofuture opened #1440 "Any semi-supervised recipe"
I am wondering if espnet has already the recipe for semi-supervised model
https://github.com/kaldi-asr/kaldi/blob/master/egs/fisher_english/s5/run.sh
https://github.com/ShigekiKarita/espnet-semi-supervised
I am trying to find how to prepare my own data.

[2019-12-16 11:17] llearner commented on #1282
Hi, i met the same problem as you, did you solve it? @Danielsen331

[2019-12-16 15:52] unilight commented on #1282
Same question here, not in tis dataset but the Librispeech. Any solution?
Another problem is that it seems like the shape of `encoder.input_layer.out.0.weight` is different if we use the same [config](https://github.com/espnet/espnet/blob/master/egs/librispeech/asr1/conf/tuning/train_pytorch_transformer_large_ngpu4.yaml) to initialize a new Transformer-ASR model.

[2019-12-16 21:04] #1215 closed

[2019-12-16 23:43] sw005320 commented on #1282
@ShigekiKarita, can you take a look at it?

[2019-12-18 08:19] dtchantao opened #1448 "RNNT training procedure"
Hi

I want to train ASR using RNNT model. But I didn't find any configuration for RNNT related training. Could you please help?

Thanks!

[2019-12-18 08:46] b-flo commented on #1448
Hi,

For RNNT config files, you can take a look at : https://github.com/espnet/espnet/tree/master/egs/voxforge/asr1/conf/tuning/transducer

[2019-12-18 10:23] unilight opened #1449 "Mask making in Transformer-based ASR and TTS are different"
Hi. I found that the making of masks in Transformer-ASR and Transformer-TTS is pretty different.

First, the source mask.
In Transformer-TTS, the [function](https://github.com/espnet/espnet/blob/master/espnet/nets/pytorch_backend/e2e_tts_transformer.py#L775-L802) below is used to make the source mask of shape `[batch_size, source_length, source_length]`:
[code]
In Transformer-ASR, [one line of cod

[2019-12-18 14:49] #1225 closed

[2019-12-19 09:35] HuimengZhang opened #1456 "Big difference between Default LM and Seq_RNN LM"
I Trained the same dataset using Default LM and Seq_RNN LM with similar model size, and got very different results. With Default LM, I trained 40 epochs. And the best epoch is the last one, with ppl at 7. While using Seq_RNN LM, it early stop at epoch 5, with ppl at 37. I looked at two RNNLM models, it seems to have the same architecture, only the Default LM is trained token by token (using LSTMCe

[2019-12-19 10:03] hlthu commented on #664
Yes, and you mean this file `https://github.com/espnet/espnet/blob/master/egs/wsj_mix/asr1/local/wsj_mix_scheme.tar.gz` is the mixture scheme for WSJ_2mix dataset?

[2019-12-19 12:34] simpleoier commented on #664
Yes, the file you mentioned is the mixture scheme for wsj-2mix.
And [this file](https://github.com/simpleoier/espnet/blob/wsj_mix_transformer/egs/wsj_mix/asr1/local/wsj_2mix_data_prep.sh) is another reference.

[2019-12-19 12:39] hlthu commented on #664
Ok, Thx

On Thu, Dec 19, 2019 at 8:34 PM xuankai@sjtu <notifications@github.com>
wrote:

--
Lu Huang
*Department of Electronic Engineering <http://www.ee.tsinghua.edu.cn>,
**Tsinghua
University <http://www.tsinghua.edu.cn>*
Mobile: (+86) 15313375025
Email: huanglu.th@gmail.com

[2019-12-19 14:58] Yogaht opened #1457 "How can I use the Chinese asr pretrained model？"

[2019-12-20 03:38] sw005320 commented on #1457
You can use the following resources:

- Script: https://github.com/espnet/espnet/blob/master/utils/recog_wav.sh
- Pretrained models:
  - HKUST https://drive.google.com/open?id=1x96BTGXpphdZU9_Ahb4hOqttQ5x-iuw1
  - AISHELL https://drive.google.com/open?id=1BIQBpLRRy3XSMT5IRxnLcgLMirGzu8dg

[2019-12-21 04:07] AndroYD84 opened #1459 "Combining multiple datasets to train a better pretrained model?"
I'm really impressed with ESPnet results, it's the most accurate speech to text solution I've tried after Google Cloud, I got the best overall results using the Librispeech pretrained model, however, occasionally Common Voice (my second favourite) could detect some words that Librispeech couldn't, so, what do you think about combining more datasets together (ie. Librispeech + Common Voice) and tra

[2019-12-21 11:22] xforceco opened #1460 "MemoryError for train_json = json.load(f)['utts']"
train_json = json.load(f)['utts']
  File "...lib/python3.6/json/__init__.py", line 299, in load
    parse_constant=parse_constant, object_pairs_hook=object_pairs_hook, **kw)
  File "...lib/python3.6/json/__init__.py", line 349, in loads
    s = s.decode(detect_encoding(s), 'surrogatepass')
MemoryError

I have a data.json file that is >10GB to load, I guess that is the reason.
Wonder if this toolki

[2019-12-21 20:34] craftfortress opened #1461 "Error on install :( - I spent a while on this (ubuntu)"
[code]

[2019-12-22 09:25] #1228 closed

[2019-12-23 01:49] takeofuture commented on #1440
I just read
http://www.merl.com/publications/docs/TR2019-100.pdf
It seems that this experiment has been done on librispeech,
Is there any recipe of semi-supervised on librispeech?

Thank you!

[2019-12-23 03:14] Cescfangs commented on #1228
I've been using ngram lm(Mandarin, character based) for shallow fusion, you can implement this using `KenLM` :
[code]

[2019-12-23 04:07] qmpzzpmq commented on #1228
@Cescfangs yes, I use this as well. the result is as not as good as RNNLM.

[2019-12-23 09:31] Cescfangs commented on #1228
Do you train ngram lm on ASR corpus only? I trained ngram lm on much larger corpus and it worked quite well(comparable with RNNLM)

[2019-12-23 11:16] qmpzzpmq commented on #1228
rnnlm and ngram trained with same data,ASR corups

[2019-12-23 11:59] sw005320 commented on #1440
https://github.com/espnet/espnet/pull/818 corresponds to it.
Please check it.

[2019-12-23 12:03] sw005320 commented on #1460
This is a known issue, and we're trying to solve it with espnet2 (https://github.com/espnet/espnet/tree/v.0.7.0).
In espnet2, we decided not to use the json format but use the traditional Kaldi style scp format for the scalability purpose.
You can find some examples at https://github.com/espnet/espnet/tree/v.0.7.0/egs2.
We actually want someone to test it with large scale data, and I really apprec

[2019-12-23 12:09] sw005320 commented on #1459
Thanks for your encouraging words!
Indeed, ESPnet can easily combine the multiple training data (but the use of pre-training model is not officially supported) by simply using `utils/combine_data.sh`.
You can find some examples in https://github.com/espnet/espnet/blob/master/egs/li10/asr1/run.sh and https://github.com/espnet/espnet/blob/master/egs/fisher_swbd/asr1/run.sh

@ftshijt, can you also th

[2019-12-23 12:16] sw005320 commented on #1461
Can you give us more information (ubuntu version, cuda version, actual make command)?

[2019-12-23 16:39] takeofuture commented on #1440
Thank you!
I got reply from
https://github.com/ShigekiKarita/espnet-semi-supervised as well.
Thank you!

[2019-12-23 16:57] #1403 closed

[2019-12-23 21:01] Fhrozen commented on #1461
This problem is coming from conda, I also observed in the installations of the docker containers and also observed outside espnet. The situation is that (eg.):
[code]
after a first call of the activate (numpy), the second time (and subsequent, I cannot remember) you call activate will generate the `not found` error. However, it was observed that the error does not break the installation, neither f

[2019-12-24 03:43] #1247 closed

[2019-12-24 08:43] #1226 closed

[2019-12-24 08:43] #1250 closed

[2019-12-24 10:23] EsmaeilFarhang opened #1464 "Train TTS in Other Language"
Hi,
is there any document to train (espnet tts transformer tts and fast speech)my own dataset in my own language?

[2019-12-24 11:26] Fhrozen commented on #1464
I think that you can take any recipe as [example](https://github.com/espnet/espnet/tree/master/egs/csmsc/tts1)
Then replace the stage of data downloading and data preparation to fit your own dataset
https://github.com/espnet/espnet/blob/6309f709a9583b06563404b39ff2a4b77b021bec/egs/csmsc/tts1/run.sh#L57-L72
And then, just train and test.

[2019-12-24 11:43] #1255 closed

[2019-12-24 12:48] kan-bayashi commented on #1464
Hi @EsmaeilFarhang.

As @Fhrozen said, what we need to prepare is the data preparation script.
Maybe our tutorial material helps you to understand recipe flow.
https://colab.research.google.com/github/espnet/interspeech2019-tutorial/blob/master/notebooks/interspeech2019_tts/interspeech2019_tts.ipynb

And I recommend using `egs/ljspeech/tts1` as a base recipe.
https://github.com/espnet/espnet/blob/

[2019-12-25 02:01] HuimengZhang commented on #1456
I think I know what's wrong:

torch.nn.LSTM takes input's shape as [seq_len, batch, input_size], while what you feed into LSTM is a tensor with the shape of  [batch, seq_len, input_size]. The input tensor should be permuted before feeding into LSTM.

[2019-12-25 02:32] kan-bayashi commented on #1449
Thanks for your valuable report, @unilight.
I will check this difference make outputs different today.

[2019-12-25 03:19] JoeyHeisenberg opened #1467 "VRAM is distributed unequally when training Tacotron2 on Muti-GPUs（3）"
VRAM is distributed unequally when training Tacotron2 on 3-GPUs (batch_size=10->10*3).
Though it did accelerate the training speed, I still want to set bigger batch_size to make it faster.
All GPUs will get their own batch_size data and pass the updated parameters to GPU:0 to caculate , It seems unreasonable that the need of GPU:0 VRAM is ten times bigger than other GPUs?

![image](https://user-im

[2019-12-25 03:33] kan-bayashi commented on #1467
Maybe this is because `batch-sort-key: shuffle`.
https://github.com/espnet/espnet/blob/1468ee0c1aaab1ffbc6d3247e7e0e3987e08117c/egs/ljspeech/tts1/conf/tuning/train_pytorch_tacotron2.v3.yaml#L39
In that case, the length of each item in batch is different.
Each item is sorted according to the length and then split into 3 gpus.
Therefore, the first split batch is bigger than the remaining batches.

T

[2019-12-25 04:39] JoeyHeisenberg commented on #1467
how much should I set the batch-bins？what is the meaning of 870 and 180 in batch-bins（80 is the dimention of mel spctrogram and 35 is the dimention of char）

[2019-12-25 05:19] kan-bayashi commented on #1467
Maximum or average length of output and input.
See more info at
https://github.com/espnet/espnet#how-to-set-minibatch

[2019-12-25 05:56] EsmaeilFarhang commented on #1464
@Fhrozen, @kan-bayashi thank you for your attention.
@kan-bayashi you mean first, running tacotron2, then use pre-train tacotron2 as a teacher mode for FastSpeech?

[2019-12-25 05:58] kan-bayashi commented on #1464
@EsmaeilFarhang Right. I made a brief README about fastspeech training.
https://github.com/espnet/espnet/blob/master/egs/ljspeech/README.md#tts1-recipe
Please check it.

[2019-12-25 06:00] EsmaeilFarhang commented on #1464
Thanks a lot.

[2019-12-25 06:49] samin9796 opened #1469 "Some questions regarding espnet speech to text toolkit"
1. Is it possible to train without building a phonetic dictionary? I want to work on Bengali language but there are not such dictionaries in this language.

2. Is rnn transducer implemented in espnet?

3. In the installation guide, the link provided to install both kaldi and espnet using miniconda is broken. Can you provide some clear documentation on how to install espnet using docker and without

[2019-12-25 06:57] kan-bayashi commented on #1449
Consequently, the calculated results are the same.
I made following test code. Please check it.
https://github.com/kan-bayashi/espnet/commit/0283738575f506a6d595b77102dacc15fb001e55
So I will unify the masking part.

[2019-12-25 07:10] gs5264 commented on #1456
Oh～This is really a problem. Has anyone tried this model?  ！

[2019-12-25 08:29] kan-bayashi commented on #1469
Hi @samin9796. I will answer your questions.

Yes, since our model is based on an end-to-end manner, the phonetic dictionary is not needed.

Yes. Both RNN-transducer and Attention RNN-trunsducer are available. You can try it in some recipes e.g. `egs/voxforge/asr1`. This is the configuration example.
https://github.com/espnet/espnet/blob/master/egs/voxforge/asr1/conf/tuning/transducer/train_transd

[2019-12-25 08:31] JoeyHeisenberg commented on #1467
@kan-bayashi  It did work, thx.  And I found some samples which have long input len and deleted it, guessing these do harm to the training

[2019-12-25 08:50] JoeyHeisenberg commented on #1467
![image](https://user-images.githubusercontent.com/33407667/71439956-959c7f00-2736-11ea-986f-20db0ba82f85.png)
->
![image](https://user-images.githubusercontent.com/33407667/71439962-99c89c80-2736-11ea-8223-27f6bb22a1d6.png)
really help a lot

[2019-12-25 08:51] kan-bayashi commented on #1467
Great!

[2019-12-25 08:51] #1467 closed

[2019-12-25 09:42] unilight commented on #1449
Thank you very much!

[2019-12-25 09:42] #1449 closed

[2019-12-25 14:41] sw005320 commented on #1456
I see.
This seems to be a bug...
@ShigekiKarita, could you check it (sorry to ask things when you're sick...)

[2019-12-25 14:54] ShigekiKarita commented on #1456
Yeah, it should be bug and initialized with batch_first=True. BTW I found this cudnn based impl is not faster than default, maybe I will remove this later instead of fixing it.

[2019-12-25 14:55] sw005320 commented on #1456
We may not need to keep both RNNLMs and I agree with removing it.
@HuimengZhang, is that OK?

[2019-12-25 15:07] TParcollet opened #1471 "CTC+Att. vs pure CTC decoding"
Hi there !

I am observing some strong differences in term of PER (on TIMIT) when using CTC+Att. vs pure CTC. This sounds weird to me, since the CTC vocabulary is the list of phonemes in both cases thus involving that the observed Loss should be quite related to the final PER. Nonetheless, I obtain a test PER of 18.4 with CTC+Att. (that is quite competitive for an E2E model on TIMIT) vs 43% with p

[2019-12-25 15:21] sw005320 commented on #1471
One clarification. Is it based on transformer (self-attention) or RNN?

[2019-12-25 15:21] TParcollet commented on #1471
Oh sorry, self-attention (it's 1D CNN-BLSTMP).

[2019-12-25 15:25] sw005320 commented on #1471
Thanks.
Can you share the training and decoding config files of pure CTC?

[2019-12-25 15:32] TParcollet commented on #1471
Please note that the blstmz is just a term that I use to change the vgg encoder to a 1D CNN.
Could it be because of the ctc-weight = 0.5?

**Training:**

etype: vggblstmz     # encoder architecture type
elayers: 5
eunits: 512
eprojs: 512
dlayers: 1
dunits: 512

atype: location
adim: 512
aconv-chans: 10
aconv-filts: 100

mtlalpha: 1.0

batch-size: 8
maxlen-in: 800  # if input length  > maxlen_in, b

[2019-12-25 15:35] sw005320 commented on #1471
Yes. please first change `ctc-weight = 1.0`.
We may also first check to see whether it's working without beam search by setting `beam-size: 1` and then setting `beam-size: 20`

[2019-12-25 15:36] samin9796 commented on #1469
@kan-bayashi Thanks a lot for your answers. I just want to be sure that as espnet uses kaldi style data preprocessing, then I can use grapheme instead of phoneme in the lexicon file, right? Is there any advantages or disadvantages of using docker? What would you recommend?

[2019-12-25 15:36] TParcollet commented on #1471
I'll try that thanks.

[2019-12-25 17:30] TParcollet commented on #1471
Ok so it went down to 25%, which is still a lot but way better.

[2019-12-25 20:29] #1254 closed

[2019-12-26 01:13] HuimengZhang commented on #1456
@sw005320 it's fine by me to remove the Seq_RNN.

[2019-12-26 02:44] kan-bayashi commented on #1469
Yes, we use kaldi style data prep but what we need to prepare is only wav.scp, utt2spk, spk2utt, and text. The other files are not needed.

About the advantage of the use of docker, it depends on your environment and purpose. If you use the container job manage system like kubeflow or your machine’s OS is not standard one, it is convenient, I think.

[2019-12-26 03:45] kan-bayashi commented on #1464
I will close this issue. If you have more questions, please re-open this issue.

[2019-12-26 03:45] #1464 closed

[2019-12-26 08:47] HuimengZhang opened #1473 "Fail to decode when using word-rnnlm if '<space>' is not in the corpus"
Hi, there:

I trained a character based E2E model and a sentencepiece based LM model using my own dataset. While decoding, the LookAheadWordLM need a space token https://github.com/espnet/espnet/blob/master/espnet/lm/pytorch_backend/extlm.py#L116. But i don't have it in my corpus. Can I simply change it like this:

[code]

[2019-12-26 08:55] dtchantao opened #1474 "How to do ASR demo"
Hi there, I have trained an RNNT model. How shall I do ASR demo using my trained mode?

[2019-12-26 10:27] #1471 closed

[2019-12-26 13:03] kaituoxu opened #1475 "transformer bug"
https://github.com/espnet/espnet/blob/master/espnet/nets/pytorch_backend/e2e_asr_transformer.py#L172 should be `ys_mask = target_mask(ys_in_pad, self.eos)` ?

[2019-12-26 14:17] kan-bayashi commented on #1475
Here we want to make a mask for padded part so self.ignore_id (padding id) is correct.

[2019-12-26 14:23] kan-bayashi commented on #1475
Oh, I checked the padding part and ys_in_pad is padded with eos. I will check more detail.

[2019-12-26 14:28] sw005320 commented on #1474
Cool.
We did not prepare an ASR demo for RNNT, but this page would be a good reference for you.
https://github.com/espnet/interspeech2019-tutorial

[2019-12-26 14:54] kan-bayashi commented on #1475
`ys_in_pad` is padded with `self.eos` in `add_sos_eos`.
https://github.com/espnet/espnet/blob/ddeb5daac9ffae1ee655913b591b15b57d1a0158/espnet/nets/pytorch_backend/transformer/add_sos_eos.py#L12-L30

In making the target mask, `ys_in_pad` and `self.ignore_id` are used.
https://github.com/espnet/espnet/blob/ddeb5daac9ffae1ee655913b591b15b57d1a0158/espnet/nets/pytorch_backend/e2e_asr_transformer.py#L

[2019-12-26 15:59] sw005320 commented on #1473
LookAheadWordLM assumes space-boundary based word models, and I don't recommend it in the above setup.
If you want to make it work in your setup, you may need some hacking, e.g., inserting the space between sentencepiece subwords in the original transcriptions/text and train char-based E2E model and sentencepiece language model with them.

[2019-12-27 07:02] hieuthi opened #1480 "Fbank data preparation for TTS. What did I miss?"
I try to understand the structure of TTS recipe do I play around with ljspeech recipe.
To understand the acoustic feature, I used "convert_fbank.sh" to synthesize waveform with the extracted feature from training data.
As I assume the feature in fbank/ folder is "raw", I don't reverse the cmvn but the generated speech sound a little off.
So what did I miss? Is there some form of filtering applied

[2019-12-27 07:07] kan-bayashi commented on #1480
Hi @hieuthi.
The sound seems strange.
Did you use exactly the same parameters for `make_fbank.sh` and `convert_fbank.sh`?

[2019-12-27 07:35] hieuthi commented on #1480
Found the problem.
The make_fbank.sh is run a long time ago with older version of the recipe with fmax and fmin is not set. while convert_fbank.sh is run with the newer version with famx=7600 and fmin=80
Thank you.

[2019-12-27 07:35] #1480 closed

[2019-12-27 23:03] harshikanu commented on #879
Another way to resolve this is to download Windows SDK 10 (latest version). If this alone doesn't work then download Visual Studio 2019 (again whichever is the latest version). This updates the wheel process.

[2019-12-28 20:10] takeofuture opened #1482 "Issue with Stage 3 (https://github.com/espnet/espnet/pull/818/files)"
I just want to report the error for this 818
(https://github.com/espnet/espnet/pull/818/files)
After I managed to run until Stage 2 (language model training)
But I got error on Stage 3 right before finishing epoch one
[code]
I wonder why error contains chainer even I select backend=pytorch
Anyhow,
I commented out and change output location in the original asrtts/run.sh

[code]
and change in Stage

[2019-12-29 07:47] takeofuture commented on #1482
I just resolved this
It was simply  slightly different core code in espnet/espnet
By replacing espnet/espnet from this branch (pull request)
It works, but it seems to quite a bit of changes from current main codes

[2019-12-29 14:13] craftfortress commented on #1461
Hi, thank you very much for your replies.

I am running Ubuntu on Windows.

I was able to get around this error by manually installing the libraries one by one.

However I now have one last library to install - Cupy.

1 - Do I need to install Cuda to get Cupy working?

2 - And finally a question Ive been dreading to ask - if I need Cuda ( I got the impression from the readme that was a choice) - d

[2019-12-30 01:22] Fhrozen commented on #1461
| Do I need to install Cuda to get Cupy working?
Yes,
| And finally a question Ive been dreading to ask - if I need Cuda ( I got the impression from the readme that was a choice) - does that mean I 100% need an nVidia chipset?
Yes

However, if you are running the examples, you do not need to install cupy. The framework works fine without cupy.

[2019-12-30 13:24] craftfortress commented on #1461
Thank you for your quick response and answering my question I will close this issue.  Keep up the great work.

[2019-12-30 13:24] #1461 closed

[2019-12-31 14:39] Daniel-asr opened #1484 "Running CMVN with python"
I am trying to run CMVN with python by adding the **.py** extensions to the _compute-cmvn-stats_ command on the run.sh file and to the _apply-cmvn_ command on the dump.sh file.

However, when I run apply-cmvn.py, it doesn't write to the feats.scp file (and feats.N.ark/scp) inside the dump directory. And then, in stage 2 I get the error:

[code]

Does anyone know how to run CMVN with the python scr

[2020-01-02 13:17] sw005320 commented on #1482
Yes, this is an experimental function and has a lot of changes. Making this PR to more regular espnet function is one of our important future work.

[2020-01-02 13:19] sw005320 commented on #1461
@craftfortress, I'm very curious whether espnet can be run with Ubuntu on Windows. Please post your progress if possible.

[2020-01-02 13:32] sw005320 commented on #1484
Can you follow the instruction and reduce the number of jobs (`$nj`)?

[2020-01-02 15:28] Daniel-asr commented on #1484
I managed to solve the problem:

It was the parsing of the ark files from _apply-cmvn.py_ to  _copy-feats.py_ through sys.stdout.buffer. For some reason, copy-feats could not read the apply-cmvn's output from sys.stdout.buffer.

I walk over the problem by writing into files, so there might be a bug somewhere. See the solution below.

BEFORE:
[code]

AFTER:
[code]

Thank you

[2020-01-02 16:26] sw005320 commented on #1484
This solution is a little bit risky because the input and output file names and logfile names are the same. Also, this solution is not great for the disk access perspective.

@kamo-naoyuki, do you have some comments?

[2020-01-03 00:17] kamo-naoyuki commented on #1484
It works for me. What kaldiio version did you use? Recently some bugs of kaldiio are fixed.

I found that run.pl can't stops with command failing in the flow of apply-cmvn and copy-feats

[code]

[2020-01-04 02:31] #1278 closed

[2020-01-04 10:17] qmpzzpmq opened #1488 "TransformerLM config"
is there any config file with TransformerLM?

[2020-01-05 13:41] sw005320 commented on #1488
It is not officially supported yet, but you could use it by following https://github.com/espnet/espnet/pull/1246

[2020-01-06 04:34] houwenxin opened #1489 "How should I reconfigure the `batch-bins` and `accum-grad` parameters in config?"
When running recipe of LibriSpeech, I found a reminding in egs/librispeech/asr1/run.sh:

                             # if you do not have 4 gpus, please reconfigure the `batch-bins` and `accum-grad` parameters in config.

When I refer to the conf/train.yaml, I found the following settings.

batch-bins: 15000000

If I only have one gpu, how should I reconfigure these two parameters?

[2020-01-06 04:53] houwenxin commented on #1489
And I wonder what the default `batchsize` is during network training? Is it decided by `batch-bins`? Or they need to be set individually?

[2020-01-06 04:53] houwenxin commented on #1489
Thank you in advance.

[2020-01-06 05:32] Fhrozen commented on #1489
For accum-grad: you can multiply it by 4 (gpus). Set --ngpu to 1. batch-bins should be also increased to 4 (because in multi gpu the batchsize increased by 4), but you will need to reduce the size depending on the memory capacity.

if you set batch-bins, then you do not need to set batchsize, and vice versa.

[2020-01-06 05:40] houwenxin commented on #1489
Thank you for your quick reply. But for `batch-bins`, I remembered that in PyTorch's DataParallel, the batch size for multiple gpus should be original batch size * npgu. So maybe the batch-bins should be decreased by a factor of 4 here?

[2020-01-06 07:44] sw005320 opened #1490 "espnet2 ASR recipe"
We're thinking of converting espnet ASR recipes to new espnet (espnet2) ASR recipes (https://github.com/espnet/espnet/tree/v.0.7.0/egs2).
The following is a current assignment.
I did not finish the assignment of some recipes, and if you volunteer to do it, please let me know!

@ftshijt, @Emrys365, @sas91, @YosukeHiguchi, @simpleoier,
Thanks a lot for helping it!
This is a temporal assignment. Plea

[2020-01-06 09:22] MorganCZY commented on #1151
@surajdurgesht Could you specify the steps and instructions when installing this espnet in anaconda environment? I'm facing the same error with you.

[2020-01-06 12:54] b-flo commented on #1490
Hi,

If you want I can take chime5, how2, vivos or/and yesno recipes!

[2020-01-06 13:47] sw005320 commented on #1490
that is very helpful!
thanks!

[2020-01-06 22:56] sw005320 commented on #1489
Another possibility is to use the configuration of https://github.com/espnet/espnet/blob/master/egs/librispeech/asr1/conf/tuning/train_pytorch_transformer_lr5.0_ag8.v2.yaml

This would provide reasonable performance with a single GPU (but slightly worse than 4GPU's one).

[2020-01-06 23:02] sw005320 commented on #1490
Added @ruizhilijhu's assignment.

[2020-01-07 05:06] houwenxin commented on #1489
Thank you very much.

[2020-01-07 07:43] #1303 closed

[2020-01-07 09:06] b-flo commented on #1151
Hi @MorganCZY,

@surajdurgesht problems were due to a CUDA version not supported yet (10.1). Installation steps given in https://github.com/espnet/espnet/blob/master/README.md are up-to-date.

[2020-01-07 16:43] #1192 closed

[2020-01-08 06:42] sakya27 opened #1493 "error while installing warp-ctc"
Hi everyone,
I am trying to install warp-ctc as a part of the espnet installation process . My build is failing in the following command:
``rm-rf warp-ctc; \
		git clone https://github.com/espnet/warp-ctc.git; \
		cd warp-ctc; git checkout -b pytorch-0.4 remotes/origin/pytorch-0.4; \
		mkdir build && cd build && cmake .. && $(MAKE) && cd ..; \
		. ../venv/bin/activate; pip install cffi; cd pytorch

[2020-01-08 09:12] sw005320 commented on #1493
Can you try it with PyTorch 1.0.1?

[2020-01-08 13:35] #1311 closed

[2020-01-08 15:47] ahmedalbahnasawy opened #1495 "e2e asr transducer (fbank with auxiliary information)"
I have a trained e2e ASR transducer model that trained on fbank features (Librispeech). I'm trying to concatenate auxiliary vector to the fbank input during testing. The idea is to feed the model contextual vector with the fbank vector. I reshaped the contextual vector C to concatenate it with the fbank, the input changed from [1, sequence, 83] to [1, sequence, 83+C]. The input to the first BLSTM

[2020-01-09 04:48] sw005320 commented on #1495
I think you should at least retrain the model.
I'm not sure exactly what is the auxiliary vector, but if it is a constant vector across frames in an utterance (like i-vector), applying a 2-D CNN to such vector seems to be less efficient.

[2020-01-09 06:39] ahmedalbahnasawy commented on #1495
The Auxiliary vector is what FAIR suggest in this paper https://arxiv.org/abs/1904.05862. C vector is  combination of multiple time-steps to obtain contextualized representations.

[2020-01-09 16:38] kobiche opened #1496 "Back transformation fbanks to wav file"
Hi, I've been trying to transform back the input of the encoder (attention location-aware mechanism) to a wav file using the function convert_fbank_to_wav.py. Just to be sure that I understand how it works, I decoded a sample (using the recog_wav.sh) and gave the path to the fresh extracted  feature banks:

`python3 convert_fbank_to_wav.py --filetype mat --fs 16000 --n_mels 83 scp:/PATH/TO/FEATURE

[2020-01-09 20:47] sw005320 commented on #1496
@kan-bayashi, can you comment about it?

[2020-01-09 20:53] sw005320 commented on #1490
@ftshijt, @Emrys365, @sas91, @YosukeHiguchi, @simpleoier, @ruizhilijhu,
What is your progress?
Maybe you can refer #1497.

[2020-01-10 01:33] kamo-naoyuki commented on #1490
Note that I focused only on creating better design system and I didn't have much times to check whether it could reproduce the previous performance.

Please not trust all codes and it's also very helpful to check the training procedures.
@sw005320 Please add voxforge and wsj. I just put the recipe. I mainly worked on RNN architecture, so I haven't see the result of transformer yet.

[2020-01-10 01:37] sw005320 commented on #1490
Could you let me know where possibly the result would be changed?
I know that refactoring changes the order of the initialization and we could not reproduce the same result, so I already did not care about reproducibility.
But if there would be potential algorithmic changes, we need some care.
Could you list such items if any?

[2020-01-10 02:44] kamo-naoyuki commented on #1490
I think you don''t need to care the new Trainer itself. Even if there are some bugs, I could follow it.

1.
There are possibility under the espnet2/asr/encoder and decoder.
I tried to merge E2E classes of RNN and Transformer to one class in espnet2 at the first. They has different interface each other, so I needed cut codes from them and unify them into same interface. I'm not original comitter of

[2020-01-10 04:03] sw005320 commented on #1490
Thanks!
Then, all of them seem to be minor and we should not have significant performance changes in theory.

[2020-01-10 11:48] AdolfVonKleist commented on #1490
If we are interested in sharing/submitting recipes for new corpora, should we focus on on v2 from the get-go?

[2020-01-11 00:47] simpleoier commented on #1490
Can anyone tell me how I can use the external text resources to train the language model, e.g. in Librispeech asr recipe?
It seems that only text with utt-id can be used in the espnet2. If I use the text without utt-id, then the first word will be cut off in [here](https://github.com/espnet/espnet/blob/e0fd073a70bcded6a0e6a3587630410a994ccdb8/espnet2/utils/fileio.py#L105).

[2020-01-11 02:17] panademo opened #1499 "Is MoL Wavenet able to decode in real-time on GPU?"
Hi, thank you so much for this fantastic repo and I apologize if this is an ignorant question, but on my GTX 1070 Ti the pre-trained wavenet.mol.v1 models don't decode mels faster than real-time. I probably just did something wrong when trying to run it (I'm pretty certain it is running on GPU as opposed to CPU though), but is it possible that this performance would be typical? I couldn't find any

[2020-01-11 02:37] r9y9 commented on #1499
Short answer: No.

Decoding MoL WaveNet involves autoregressive sampling operations and thus is inevitably slow either on CPU or GPU. Real-time factor (RTF; time in sec. to generate 1 sec. of audio) for WaveNet would be normally around 180 ~ 300. If you need real-time waveform generation, you might want to try Parallel WaveGAN instead, which is also supported in the repo.

As for the GPU speed ben

[2020-01-11 02:38] kamo-naoyuki commented on #1490
@simpleoier

I'm waiting anyone ask me about it.
You can use it with just giving unique ids to each lines yourself.  It should be done in local/data.sh .  e.g. `<text | awk '{ print NR, $1 }'` . This is wsj example.

https://github.com/espnet/espnet/blob/e0fd073a70bcded6a0e6a3587630410a994ccdb8/egs2/wsj/asr1/local/data.sh#L39-L42

[2020-01-11 02:44] kan-bayashi commented on #1499
[Our Parallel WaveGAN implementation](https://github.com/kan-bayashi/ParallelWaveGAN) inference speed is as follows:

[code]

You can try it with TTS models on Google Colab.
https://colab.research.google.com/github/espnet/notebook/blob/master/tts_realtime_demo.ipynb

[2020-01-11 02:47] kan-bayashi commented on #1496
Hi @kobiche.
Fbank feature for ASR is different from that for TTS.
For ASR, we use 80 fbank + 3 dim pitch features extracted by kaldi.
For TTS, we use 80 fbank extracted by librosa.
`convert_fbank_to_wav.py` is designed to use with TTS features.

In your case, the feature includes pitch features so the results will be wrong.

[2020-01-11 03:09] panademo commented on #1499
Thank you so much for the fast and super helpful responses! I had previously seen your speed benchmarks in the README for Parallel WaveGAN, and was blown away by its performance in the samples. It really is SOTA. Congrats, and thanks once again for the info!

[2020-01-11 03:13] #1499 closed

[2020-01-11 09:05] LamDang commented on #670
Hello,

I would like to do transfer learning from pretrained models to a new data set. But the SentencePiece model trained on target data set is not aligned with the pretrained model and the original SentencePiece model is not provided.

Is there any way I can work around it? Is it possible to include in the models export the SentencePiece model used for training?

Thanks,

[2020-01-11 10:41] ahmedalbahnasawy commented on #1495
@kan-bayashi @sw005320 could you help me to figure it out ?

[2020-01-11 13:20] zqs01 opened #1502 "Why add dropout to attention score?"
Hello everyone, I have a question. I use Transformer model for end-to-end ASR, Why add dropout to attention score? Any reference？ the path of attention.py is in espnet.nets.pytorch_backend.transformer.attention
[attention.py](https://github.com/espnet/espnet/blob/master/espnet/nets/pytorch_backend/transformer/attention.py)

[code]
why use ` p_attn = self.dropout(self.attn)`? Any reference?

Thank

[2020-01-11 13:33] kobiche commented on #1496
Is there any way to convert back to the original wav file?

[2020-01-11 13:43] AdolfVonKleist opened #1503 "Recipe-related questions for new corpora [not ports]"
Hi, I'm interested in potentially contributing espnet recipes for two Swiss corpora:

Swiss French Polyphone :
- http://catalog.elra.info/en-us/repository/browse/ELRA-S0030_02/

Swiss German Polyphone (aggregate of Speech DAT (I) and Speech DAT (II)
- http://catalog.elra.info/en-us/repository/browse/ELRA-S0096/
- https://catalogue.elra.info/en-us/repository/browse/ELRA-S0105/

Both are telephony d

[2020-01-12 01:15] kan-bayashi commented on #1496
For ASR features, there is no such a function.
If you use utils/compute-fbank-feats.py to extract fbank, it can be.

[2020-01-12 08:44] #1502 closed

[2020-01-12 12:04] #1469 closed

[2020-01-12 12:15] samin9796 opened #1507 "warp-transducer.done Error while installing"
This is what I get after I run  **make check_install** command:

[100%] Linking CXX executable test_time
make[3]: Leaving directory '/data/ahnaf/espnet_asr/espnet/tools/warp-transducer/build'
[100%] Built target test_time
make[2]: Leaving directory '/data/ahnaf/espnet_asr/espnet/tools/warp-transducer/build'
make[1]: Leaving directory '/data/ahnaf/espnet_asr/espnet/tools/warp-transducer/build'
. ve

[2020-01-13 11:19] luyizhou4 opened #1508 "Pure CTC decoding bug"
Hi, there!

I'm currently decoding my CTC model (mtlalpha 1.0) with pure CTC mode (ctc_weight 1.0), and find that in current implementation, ctc-prefix-search will also compute \<blank\> token's next-label-score, which to my understanding shall be excluded. Details below:

With ctc_weight=1.0, **ctc_beam** becomes the size of whole vocabulary (including \<blank\> token)

https://github.com/espnet/

[2020-01-13 13:37] #1294 closed

[2020-01-13 13:57] sw005320 commented on #1490
My suggestion is to go with v1 for now.
The transition from v1 to v2 would not be very difficult.

[2020-01-13 14:00] sw005320 commented on #670
Which model (recipe) are you using?
You can ask people who upload the model to do it for the corresponding sentence piece model as well.
Now, we try to include the sentence piece model for newly uploaded models.

[2020-01-13 14:57] sw005320 commented on #1503
Thanks for your great suggestions!

Definitely.

Right. This is no problem.

No problem.
We have several such recipes.

Ideally, it would be better to make them open for both speaker IDs and transcriptions.
In the hybrid system, people only care about the speaker ID overlap, but in the end-to-end system, we should also consider the transcription overlaps across training and test data.
This is beca

[2020-01-13 20:56] sw005320 commented on #1507
Did you correctly specify the cuda path (see https://github.com/espnet/espnet#step-1-setting-of-the-environment-for-gpu-support)?

[2020-01-13 20:58] sw005320 commented on #1495
I see.
If this auxiliary vector is changed across the frame, you may apply normal 2-D CNN.

[2020-01-13 21:15] LamDang commented on #670
Thanks, it is the fisher_callhome_spanish. Indeed having some standard format for models is great since it seems to take an important part in the package now.

@hirofumi0810 I sent you an email asking for the wordpiece model, wonder if you had a chance to look at it? Thanks again

[2020-01-13 21:52] sw005320 commented on #670
@hirofumi0810, could you repack the model including the sentencepiece model?
You could use https://github.com/espnet/espnet/blob/master/utils/pack_model.sh with `--dict` to include it.

[2020-01-13 23:10] samin9796 commented on #1507
@sw005320  I worked with different ASR tools using cuda before, so I thought my cuda path was set correctly. I found that my cuda version is 10.0 using the nvcc --version command. But in my pc, I can find only one file named "cublas_v2.h" which is located in this path **/usr/local/cuda-9.0** .  I can't find any folder for cuda 10.0 version in my pc but there is cuda 9.0 folder having the cublas_v2

[2020-01-13 23:21] sw005320 commented on #1507
Then, can you try it with cuda-9.0?
It seems that this is specific to your environments, and I could not give you more advice ([this](https://stackoverflow.com/questions/36279045/where-did-cuda-get-installed-in-my-computer) might help you???)

[2020-01-14 02:37] #1218 closed

[2020-01-14 08:09] ahmedalbahnasawy commented on #1507
I had the same issue before and i fixed it
[code]

[2020-01-14 14:13] #1194 closed

[2020-01-14 16:13] #1325 closed

[2020-01-14 17:06] sw005320 commented on #1508
I see.
Did you find any degradation?

@takaaki-hori, I think we should not consider the blank.
Can you check it?

[2020-01-14 17:44] samin9796 opened #1512 "useradd: UID 0 is not unique - Docker installation problem"
I am getting this error. Any solution please?

[sudo] password for shafkat:
Building docker image...
Now running docker build --build-arg FROM_TAG=gpu-cuda10.0-cudnn7-u18 --build-arg THIS_USER=shafkat --build-arg THIS_UID=0 -f prebuilt/Dockerfile -t espnet/espnet:gpu-cuda10.0-cudnn7-u18-user-shafkat .
Sending build context to Docker daemon  56.32kB
Step 1/8 : ARG FROM_TAG
Step 2/8 : FROM espnet/es

[2020-01-14 19:13] takaaki-hori commented on #1508
Yeah, the array `local_best_ids` should not include 0 (\<blank\>).
When ctc_weight != 1, there is no problem since the attention model gives a very low probability to \<blank\>, and `local_best_ids` does not include 0.
But, if ctc_weight = 1,  `local_best_ids` has all IDs.
So, we need to exclude 0 from `local_best_ids`, e.g., by making it with np.arange(1, odim).
It is also possible that we always

[2020-01-14 19:58] AdolfVonKleist commented on #1503
Great, thank you very much for the info!  We will cobble together a draft for review with this information in mind.

[2020-01-14 22:28] simpleoier commented on #1490
Can I ask about why the lr_scheduler, noamlr, only supports pytorch version >= 1.1.0 now?
In espnet1, it also supports 1.0.1, doesn't it?

[2020-01-14 22:30] kamo-naoyuki commented on #1490
Noam lr scheduler is implemented using batch-step Scheduler of PyTorch, which was implemented in 1.1.

[2020-01-14 22:59] sw005320 commented on #1508
Thanks!

[2020-01-15 06:01] luyizhou4 commented on #1508
Thanks for reply! Excluding 0 from local_best_ids improves my CTC result from 12.54% to 12.08%, and for reference greedy decoding WER is 12.10%.

[2020-01-15 08:06] sw005320 commented on #1508
thanks, this is significant.

[2020-01-15 10:03] #1324 closed

[2020-01-15 17:42] #720 closed

[2020-01-15 23:55] Fhrozen commented on #1512
There are two solutions
- Execute run without `sudo` ( `./run.sh --docker_gpu 7 --docker_egs chime4/asr1 --docker_folders...`), the code is supposed to work for a user without root access so the files can be accessible after processing.
- For root user set the flag `docker_user=false`. Smth like this: `sudo ./run.sh --docker_gpu 7 --docker_egs chime4/asr1 --docker_user=false --docker_folders...`

[2020-01-16 10:13] samin9796 commented on #1512
@Fhrozen I executed run without sudo but got this error:

Got permission denied while trying to connect to the Docker daemon socket at unix:///var/run/docker.sock: Get http://%2Fvar%2Frun%2Fdocker.sock/v1.40/images/json?filters=%7B%22reference%22%3A%7B%22espnet%2Fespnet%3Agpu-cuda10.0-cudnn7-u18%22%3Atrue%7D%7D: dial unix /var/run/docker.sock: connect: permission denied
Got permission denied while

[2020-01-16 10:25] Fhrozen commented on #1512
- About the first option, as I can see, your user account does not have access to the docker. I am wonder if you can check this. Try to follow the post-installation of docker in case you do not (https://docs.docker.com/install/linux/linux-postinstall/) and restart your PC. It will be better if you can avoid the use of sudo.

- For the second option, I am checking the code and cannot get idea what

[2020-01-16 10:45] samin9796 commented on #1512
@Fhrozen  This is the output:

[sudo] password for shafkat:
Building docker image...
Now running docker build --build-arg FROM_TAG=gpu-cuda10.0-cudnn7-u18 --build-arg THIS_USER=shafkat --build-arg THIS_UID=0 -f prebuilt/Dockerfile -t espnet/espnet:gpu-cuda10.0-cudnn7-u18-user-shafkat .
Sending build context to Docker daemon  56.32kB
Step 1/8 : ARG FROM_TAG
Step 2/8 : FROM espnet/espnet:${FROM_TAG}

[2020-01-16 10:51] Fhrozen commented on #1512
Ok, Thank you for the report, this seems like a bug for option 2.

It should not display
[code]

I will try to check and submit a PR. meanwhile you can test by commenting the lines:
https://github.com/espnet/espnet/blob/4733c9452eab5c87e7caf1cf5c061820cbf9a0b6/docker/run.sh#L75-L88
and also probably will need to move
https://github.com/espnet/espnet/blob/4733c9452eab5c87e7caf1cf5c061820cbf9a0b6/do

[2020-01-16 11:23] samin9796 commented on #1512
@Fhrozen  Well, I followed option 1 and this is what I got:

Building docker image...
Now running docker build --build-arg FROM_TAG=gpu-cuda10.0-cudnn7-u18 --build-arg THIS_USER=shafkat --build-arg THIS_UID=1003 -f prebuilt/Dockerfile -t espnet/espnet:gpu-cuda10.0-cudnn7-u18-user-shafkat .
Sending build context to Docker daemon  56.32kB
Step 1/8 : ARG FROM_TAG
Step 2/8 : FROM espnet/espnet:${FROM_

[2020-01-16 11:34] Fhrozen commented on #1512
Thank you for the report.
I also see this. The problem is that the current code is written for nvidia-docker 1.
While for new updates, is still not supported.

I will try to fix this ASAP.
meanwhile, you can change line https://github.com/espnet/espnet/blob/4733c9452eab5c87e7caf1cf5c061820cbf9a0b6/docker/run.sh#L100

with:

`docker run --gpus '"device=${docker_gpu}"'`

I suppose that you are alrea

[2020-01-16 12:41] samin9796 commented on #1512
@Fhrozen  Where can I follow the stages from? Any documentation on what command to use to start the training? I would like to train from scratch.

[2020-01-16 13:19] Fhrozen commented on #1512
Because of the recipe you are using is the  chime4/asr1, then you can check the code at https://github.com/espnet/espnet/blob/master/egs/chime4/asr1/run.sh
Detail information and example at the docs: https://espnet.github.io/espnet/notebook/asr_cli.html

[2020-01-18 03:59] takeofuture opened #1516 "Pretained Model Needed for SemiSupervised Librispeech"
I just started to modify JSUT recipe to make it ASRTTS
Ref:
https://github.com/espnet/espnet/pull/818/files
creatorscan:asrtts3-v.0.7.0

After Stage 1, I found the above ASRTTS recipe uses X-Vector Pretained Model (English)
[code]
I wonder if there is any pretained, X-Vector Model, if not, I guess I have to create by myself to apply ASRTTS to JSUT (assuming X-Vector Pretained model is language dep

[2020-01-19 10:43] xiaoyangnihao opened #1517 "which path is the teacher_model_path="" ?"
In the directory:   egs/ljspeech/tts1/run.sh  line 41. teacher_model_path=""

I fist run the this scirpt for with train_config=conf/tuning/train_pytorch_transformer.v2.yaml

Now I want to train a fastspeech model, but I am not sure which path is the teacher_model_path, does anybody can help me?

**teacher_model_path=""**
teacher_decode_config=conf/decode_for_knowledge_dist.yaml
do_filtering=false

[2020-01-19 11:09] 18445864529 opened #1518 "bash: line 1: 47826 Killed in recognition"
I modified the model a little to make it fit my task and ran it with the WSJ recipe. In the training stage it worked well but when doing recognition, it gave error as follows.

[code]

The error led me to the log files decode.\*.log, but when I opened them, no error or traceback was shown in the log.
Also, most of the decode.\*.logs have already shown the predictions and recognition results, the r

[2020-01-19 12:47] AdolfVonKleist commented on #1518
Perhaps it is an out of memory error?

[2020-01-19 15:34] #1327 closed

[2020-01-19 19:34] #1326 closed

[2020-01-20 01:49] xiaoyangnihao commented on #1517
Appereciate any help!

[2020-01-20 01:55] kan-bayashi commented on #1517
This README will help you.
https://github.com/espnet/espnet/blob/master/egs/ljspeech/README.md

You can specify your trained transformer model path (e.g. `exp/<path_to>/results/model.last1.best`).
Note that `transformer.v2` uses `reduction-factor: 2` and therefore you should modify `fastspeech.v4` config to make it use `reduction-factor: 2`.

[2020-01-20 02:01] kan-bayashi commented on #1516
X-vector seems to be language-independent since I used it for `egs/jnas/tts1` (Japanese multi-speaker TTS) and it works well.
Therefore, I think you can use the same model but please be careful x-vector is based on 16k and you should perform resampling.
And in the case of JSUT, since it is a single speaker, x-vector may not be needed if the ASR task is also JSUT.

[2020-01-20 02:48] xiaoyangnihao commented on #1517
@kan-bayashi thanks for your reply.
For me, is this path: espnet/egs/ljspeech/tts1/exp/char_train_no_dev_pytorch_train_pytorch_transformer.v2/results/snapshot.ep.1000  , the last snapshot.ep actually is the teacher_model_path, right ?

By the way, if I train tts2: tacotron2+CBHG as the teacher model, in the second step, I just need to modify train_config=conf/train_pytorch_tacotron2+cbhg.yaml to t

[2020-01-20 02:53] kan-bayashi commented on #1517
Both `snapshot.ep.*` and `model.*.best` can be used as a teacher.
And the path should be absolute or relative path from `egs/ljspeech/tts1` so in your case `exp/char_train_no_dev_pytorch_train_pytorch_transformer.v2/results/snapshot.ep.1000`.

Sorry, I've never tested fastpseech with tts2 (i.e. +CHBG). It may not work well.

[2020-01-20 04:35] Some-random opened #1521 "how much improvements can we get using pitch in ASR tasks?"
Pitch is considerable harder to get compared to Fbank and usually we would only use FBank features. I'm wondering how much improvements can we get using pitch in ASR tasks (like HKUST and AISHELL)?

[2020-01-20 07:10] xiaoyangnihao commented on #1517
@kan-bayashi  Thanks for your help, fastspeech model is training now.

I also wonder whether there is a simple way to sythesize some new sentences not in the raw LJSpeech data sets ?  Or on the other hand, how can I sythesize some new sentences with trained transformer model ?

[2020-01-20 07:57] kan-bayashi commented on #1517
Try `utils/synth_wav.sh` or please check the following notebook.
https://colab.research.google.com/github/espnet/notebook/blob/master/tts_realtime_demo.ipynb

[2020-01-20 12:08] Fhrozen commented on #1518
Yes, I am wondering how many CPUs and Memory do you have.
You need to remember that the decoding is processed in parallel for all the recog_sets.
https://github.com/espnet/espnet/blob/4733c9452eab5c87e7caf1cf5c061820cbf9a0b6/egs/wsj/asr1/run.sh#L247

Try reducing the previous number. As example. i have a pc with 12 processes (CPU) and 32G of memory and do not have that problem. If you have many CP

[2020-01-20 12:46] b-flo commented on #1521
I'm not sure in ESPNET (most recipe for tonal languages use fbank_pitch as default) but  https://www.cs.cmu.edu/~ymiao/pub/icassp2016_ctc.pdf report a 1% WER improvment on AISHELL adding pitch (with a CTC model).

[2020-01-20 14:40] #1335 closed

[2020-01-20 14:48] panademo opened #1523 "Is there a recipe for pretraining Tacotron's decoder?"
Hi, thank you so much for this fantastic repo. I am attempting to train my own TTS synthesizer from scratch with a relatively small dataset (~2.5h). I apologize if this is an ignorant question, but I was wondering if there was a recipe for pretraining Tacotron's decoder such as is described in the Tacotron team's paper: [Semi-Supervised Training for Improving Data Efficiency in End-to-End Speech S

[2020-01-20 15:40] #1285 closed

[2020-01-20 17:08] sw005320 commented on #1521
We actually referred that paper and included the pitch feature. We also recently observed the significant benefits of using the pitch feature for the Vietnamese corpus (https://github.com/espnet/espnet/pull/1497#discussion_r365274153)

[2020-01-21 05:59] Some-random commented on #1521
Thank you both for the quick answer! My problems are solved for now.

[2020-01-21 05:59] #1521 closed

[2020-01-22 09:27] tdeboissiere commented on #1347
@xiechen0692 Did you check your audio was at 16000 Hz in16 ?
I had the same error as you with an audio file sampled ad 22050 Hz

[2020-01-24 06:27] takeofuture commented on #1482
Just report what I encounter after I attempt to apply
https://github.com/creatorscan/espnet/tree/asrtts3-v0.7.0
to jsut without x-vector parts

Issue with passing arguments from run.sh
via
espnet/bin/asrtts_train.py
to
espnet/nets/pytorch_backend/e2e_asrtts.py
[code]
as well as
esp_asrtts/espnet/nets/pytorch_backend/e2e_tts.py
[code]

I hardcoded the values in
train_pytorch_transformer.yaml
and tr

[2020-01-24 06:30] takeofuture commented on #1482
Ex. In train_asrtts.yaml
use-speaker-embedding: false  # minues sign not under line
But in espnet/nets/pytorch_backend/e2e_asrtts.py
it uses args.use_speaker_embedding (under line not minus)
So some passing variables mismatch hapens as well as mismatch of variables

[2020-01-24 23:45] kamo-naoyuki commented on #1490
Does anyone test transformer with espnet2? I found the result is very worse in voxforge recipe and got different result from espnet1, so something is wrong.
I couldn't find the reason, I'd like anyone to investigate it.

[2020-01-25 04:43] sw005320 commented on #1490
@YosukeHiguchi, can you try it with your JSUT setup?

[2020-01-25 11:41] b-flo commented on #1490
I did test transformer for vivos results were bad as you observed. I just tried for how2 and it's more extreme:

[code]

Not sure if I can pinpoint the problem but I'll investigate.

[2020-01-26 11:42] EsmaeilFarhang commented on #1517
please, can you tell me what config file you are used?
I'm training tacotron2_v3 for my own language, and the result is so good., I'm trying to train train_fastspeech.v4.single.yaml config file with char_train_pytorch_tacotron2.v3 as a teacher mode, which parameters should be changed and should be set trans_type="phn" in this config file?
and what about training steps? is it similar to training ta

[2020-01-26 15:06] kamo-naoyuki commented on #1490
I found a bug just now, I'll fix it tomorrow. Thanks.

[2020-01-27 05:29] 18445864529 commented on #1518
Thanks a lot, and sorry for my late reply, Seems that reducing the nj number solved the problem :-)

[2020-01-27 05:30] 18445864529 commented on #1518
Thank you for the help!

[2020-01-27 08:56] #1518 closed

[2020-01-27 13:00] KirillRnd opened #1534 "Is it possible to export model as .pt/.pth?"
Hello, I'd like to export ESPNet model into readable format for [Netron](https://github.com/lutzroeder/netron). Are there any possible ways?

[2020-01-27 13:56] craftfortress opened #1535 "How to resolve incorrect sample rate error on example tts?"
When I try ../../../utils/synth_wav.sh --vocoder_models ljspeech.wavenet.mol.v1 example.txt with other models listed in the readme I get the above error.

I know its something simple Im doing wrong but what is it?

Thank you

[2020-01-27 13:59] craftfortress commented on #1461
I looked into this and found out the answer.

You CANNOT use the ubuntu on windows system as it does not allow low level access to the graphics card.

You also cannot use VirtualBox as this does not allow it either.

The only solution I found was to create a bootable instance of Ubuntu on my geforce machine, and turn off signed third party modules in my BIOS.  Now I finally have access to my gefor

[2020-01-27 18:24] craftfortress opened #1536 "RuntimeError: CUDA out of memory. Tried to allocate 539.12 MiB (GPU 0; 1.96 GiB total capacity; 731.36 MiB already allocated; 533.31 MiB free; 90.77 MiB cached)"
I have 19gb of memory so it is surprising to get this error, which occurs when I increase my example.txt size from one to a few sentences.

The solution seems to be to decrease the batch_size.

However I am unsure where in the code I can do this.

Can I please have a suggestion? Is there a config file?

I have reported this as an issue because expected results on a GTX 1050 should allow more than

[2020-01-27 18:24] #1535 closed

[2020-01-27 18:24] craftfortress commented on #1535
This looks like I was not using the right vocoder with the model so have closed the issue.

[2020-01-27 18:51] sw005320 commented on #1536
Which scripts are you using?

[2020-01-27 18:54] craftfortress commented on #1536
utils/synth_wav.sh example.txt

Should I be using the decoder script instead? If I had an example I would be happy to use that.  I have simple run the above command with a couple of sentences in Upper case.

Thank you for your time, Im so happy Ive finally got this running ! ( I had to buy a laptop just so I could get this repo to run! )

[2020-01-27 19:00] sw005320 commented on #1536
I see.
This should work for short sentences but not for long sentences.
Please use short sentences.
You may also switch to use RNN (ljspeech.tacotron2.v3), then it may make it work (but my recommendation is to use short sentences).

Great to hear that!

[2020-01-27 19:01] craftfortress commented on #1536
Thank you for your reply I will try it now

[2020-01-27 19:24] craftfortress commented on #1536
Perhaps my graphics card is not being used correctly. I will look into this now.

[2020-01-27 23:22] craftfortress commented on #1536
After lots of testing, it seem the program is very happy with around 3 sentences. It performs quickly. About 30 seconds.

If I do more however, the program hangs until an out of memory exception occurs.

My question is - is the project meant for just a couple of sentences?

If so that is ok, I can just feed sentences to it one at a time and then join them together.

I just wanted to check incase i

[2020-01-28 00:01] sw005320 commented on #1536
Yes, this is a single sentence based model.

[2020-01-28 03:55] kan-bayashi commented on #1517
If your teacher model is based on char, you must use `trans_type=char` for fastspeech.
And if you want to train knowledge distillation-based fastspeech (`v4`), please check `egs/ljspeech/tts1/run.sh`.
You can specify the `teacher_model_path=<your_teacher_model_path>` in `run.sh` and `train_config=conf/train_fastspeech.v4.yaml`.
And then run the `run.sh --stage 3`.

[2020-01-28 07:01] Imtinan1996 commented on #1536
Juts wanted to let you guys know, I am able to synthesize the whole sentence

"AS YOU SET OUT FOR ITHAKA HOPE YOUR ROAD IS A LONG ONE,FULL OF ADVENTURE FULL OF DISCOVERY. LAISTRYGONIANS, CYCLOPS, ANGRY POSEIDON DONT BE AFRAID OF THEM YOU’LL NEVER FIND THINGS LIKE THAT ON YOUR WAY AS LONG AS YOU KEEP YOUR THOUGHTS RAISED HIGH,AS LONG AS A RARE EXCITEMENT STIRS YOUR SPIRIT AND YOUR BODY. LAISTRYGONI

[2020-01-28 10:42] LEEYOONHYUNG opened #1538 "Why you apply a guided attention loss to only the two heads of two layers from the target side?"
Hi, there!

I notice that you apply a guided attention loss to several layers **from the target side.**
However, according to [here](https://arxiv.org/pdf/1809.08895.pdf), it is written that only alignments from certain heads of the **beginning** 2 layers’ are interpretable diagonal lines.

On the contrary, your [paper](https://arxiv.org/pdf/1909.06317.pdf)  is saying that it is because the enc-de

[2020-01-28 13:39] sw005320 commented on #1536
I guess this is because you use tacotron while @craftfortress uses transformer.

[2020-01-29 12:21] s-tomic commented on #1459
Did you manage to combine Common voice with Libri @AndroYD84 ?
I was trying to do so also, just common voice alone was failing on me in stage 1 due to Kaldi error.

[2020-01-29 15:34] simpleoier commented on #1490
I just got the RNN-based model on Librispeech with Adadelta. There are several points I want to mention.
1. The model was trained without spec-Aug technique, so the acc and loss may be worse.
2. The training on each epoch is slower than before (est. only 70% speed).

Here is the training curve. Do you guys have any comments?
![acc](https://user-images.githubusercontent.com/7897644/73370797-c8c8b58

[2020-01-29 17:14] sw005320 commented on #1490
Which optimizer did you use?
Epsilon-decay one (based on espent1) or others?

[2020-01-29 17:20] sw005320 commented on #1459
We did not encounter the problem of simply combining librispeech and common voice data (see https://github.com/espnet/espnet/blob/master/egs/li42/asr1/run.sh#L208-L217)

[2020-01-29 18:18] simpleoier commented on #1490
torch.optim.Adadelta with hyper-parameters (lr=1.0, rho=0.95, eps=1e-8, weight_decay=0.0)

[2020-01-29 22:55] #1356 closed

[2020-01-30 00:59] kamo-naoyuki commented on #1490
As far speed, report_cer=True report_wer=True now, but it takes quite some times (I forgot to enable for debugging).

Could you test ReduceLROnPlateau? This is one of the difference from v1  and I'd like to compare the result.

[2020-01-30 14:20] Emrys365 commented on #1490
Hi, I just finished and tested the recipes for aishell, timit and hkust. Here are the results.

It seems the results are much worse than those in the original recipes. Do you have some suggestions on the config?

   + Results on AiShell

   + Results on TIMIT

   + Results on HKUST
     + N/A (I don't have access to the dataset.)

[2020-01-30 14:36] b-flo commented on #1490
@Emrys365 Just looking at aishell and original config, I would suggest :

[code]

[2020-01-30 14:50] Emrys365 commented on #1490
Thank you for your suggestion! I will try this config.

[2020-01-30 14:54] kamo-naoyuki commented on #1490
@Emrys365 Thanks!
Did you check #1533 ? Maybe GRU is used due to bug, but it doesn't affect so much in my experiments.
How about trying another init method?
I'm investigating the performance difference between 1.0.1 and 1.4.0 now. xavier_uniform and xavier_normal seems better than chainer init  with v1.4.0 in voxforge. I also found that init=None, i.e. pytorch default,  is quite worse in v1.4.0.

[2020-01-30 14:57] sw005320 commented on #1490
I agree with this direction.
Anyway, it is great that immigration to espnet2 seems to be fine for most recipes.

[2020-01-30 14:59] Emrys365 commented on #1490
Thanks! I'll check the issue and  prepare the initial PR.

[2020-01-30 19:07] LamDang opened #1542 "Speeding up inference with ONNX"
Hello,

It seems that Transformers inference is still an issue (?), however recently Microsoft team release some nice optimization for Transformer for ONNX runtime. It seems that CPU inference get huge speedup.

See blog:
https://cloudblogs.microsoft.com/opensource/2020/01/21/microsoft-onnx-open-source-optimizations-transformer-inference-gpu-cpu/

And example:
https://github.com/onnx/tutorials/blo

[2020-01-30 23:20] sw005320 commented on #1542
This is very interesting.
Yes, we really want to work in this direction (whether onnix or jit), but so far we don't have enough resources to do it.
If you help that direction, this is very very helpful for us.

Probably you can start to check https://github.com/espnet/espnet/pull/1402
We try to make unified and flexible designs for ASR decoders with efficient parallelization.
If we put onnix conve

[2020-01-31 04:58] #1338 closed

[2020-02-02 13:42] #1371 closed

[2020-02-02 14:05] djo-koconi opened #1548 "ESPNET with noise reduction"
Hello and thank you for the great work.

Have anyone tried to successfully implement noise reduction as a espnet front end? I have tried multiple techniques without significant improvement. Or other pre-processing technique?

I consider implementing the noise reduction module into espnet and attempting to train them back to back. Any advice on the matter?

[2020-02-02 17:02] Fhrozen commented on #1548
Did you check for the DNN frontend? https://github.com/espnet/espnet/tree/master/egs/chime4/asr1_multich

You could try this for another multichannel recipe.

[2020-02-02 17:17] stefantomic commented on #1548
Thank you @Fhrozen .

This one seems to be multi-channel front end, while I am dealing with mono audio (stereo in best case) coming out of a PC microphone.

[2020-02-02 17:21] s-tomic commented on #1548
Thank you @Fhrozen .
This seems to be a multi channel front end, while I am dealing with mono input from a PC microphone, stereo in best case.

[2020-02-02 20:42] #1370 closed

[2020-02-03 13:40] #1375 closed

[2020-02-03 17:09] sw005320 commented on #1548
We usually did not get good improvements with single-channel enhancement, but it's worth to revisit it.
It would be great if you share your efforts when it works.

[2020-02-04 06:34] s-tomic commented on #1548
I agree @sw005320 , been trying multiple data augmentation (and noise reduction) techniques to increase model's robustness, but so far coudn't get it to exceed or improve the performance of Libri pre-trained one.

[2020-02-04 08:30] unilight commented on #1538
Hi @LEEYOONHYUNG , I'm not an official developer of the ESPNet, but I can provide some personal observations. I've tried to train a Transformer-TTS without guided attention (GA) and here's an example of the alignment plot.

![image](https://user-images.githubusercontent.com/11516009/73726621-39843c00-4773-11ea-8ce3-145c7e6b9f0b.png)

As you can see, diagonal alignment lines seems to appear randoml

[2020-02-04 09:46] djo-koconi opened #1552 "Number of layers in large transformer for Librispeech"
Hello,

I am unsure how the number of layers impacts the WER of the large transformer for Librispeech.
Is there a info about WER of a large transformer without the language model?

I am unable to train the large transformer due to cuda out of memory issue on 4 1080 gpus and test it out and in my own experiments.

[2020-02-04 14:11] sw005320 commented on #1552
@Fhrozen and @ShigekiKarita, I think you have some results for the number of layers, right? Could you share the result with @s-tomic?

[2020-02-04 14:52] ShigekiKarita commented on #1552
I tried to train deeper ones but I evaluated only validation accuracy (no WERs) and I got no improvement at that time:
- 12 layers: 94.5% (baseline before [this paper](https://arxiv.org/pdf/1909.06317.pdf))
- 14 layers: 94.7%
- 16 layers: 94.5%
- 24 layers: 93.8%
- 48 layers: 92.6%
- 96 layers: 92.3%

However, when we wrote [this paper](https://arxiv.org/pdf/1909.06317.pdf), @kan-bayashi found tha

[2020-02-04 15:00] ShigekiKarita commented on #1542
https://github.com/espnet/espnet/blob/e10b2cc916ec78f9b8757463e726711464e1e6e5/espnet/nets/pytorch_backend/e2e_asr_transformer.py#L313-L318
I tried to test it before and you can also try it by passing `model.recognize(..., use_jit=True)` but the jit version could not reproduce the existing one. This may be because there is some dynamic code execution inside the decoder forward. Maybe we should try

[2020-02-04 20:13] s-tomic commented on #1552
Thank you very much on this useful information @ShigekiKarita . I will look into the paper in depth.

I was actually curious about **performance comparison** between the default configuration in Libri with 4 layers and Large transformer one with 12.
How much does that increase in number of layers affects the performance?

[2020-02-04 22:15] LamDang commented on #1542
I did some test, while on Bert in transformers package I can see significant (around x2 speedup in my setup), but on encoder and decoder module of espnet (v1) there is no speedup.

I guess the optimization is quite specific to Bert and its implementation in the package.
Anyway it doesn't work out of the box as in the tutorial above. Maybe a rewrite of transformer using more standard block now avai

[2020-02-04 22:16] LamDang commented on #1542
Slightly related question: I found that decoders do return caches that could be use to speedup next iteration, how ever it is not used. Is there any reason for this?

[2020-02-05 02:47] #1496 closed

[2020-02-05 02:56] kan-bayashi commented on #1538
Hi @LEEYOONHYUNG @unilight.
Thank you for interesting report.
I also confirmed the diagonal lines tend to be appeared in 2 or 3 layers from the target side except for the final layer. Actually I’ve never seen the diagonal lines in the beginning layers, differently from the original paper.

[2020-02-05 06:52] EsmaeilFarhang opened #1557 "voice trembling, in FastSpeech TTS"
Hi,
I'm running Knowledge distillation FastSpeech using train_fastspeech.v4.single.yaml config file for my own language and use char based tacotron2_v3 as a teacher mode, after training the model for 1000 epoch, for the long sentence the voice is trembling. The longer the length of these sentences. The vibration increases.  in this model, The volume of voice is a bit low.
I'm testing Knowledge dis

[2020-02-05 07:04] kan-bayashi commented on #1557
Could you share the samples?
How was the quality of the teacher model?

[2020-02-05 07:28] EsmaeilFarhang commented on #1557
the quality of the teacher model is a bit better. teacher model trained only 200 epochs.
this is the Persian language
[sample.zip](https://github.com/espnet/espnet/files/4157982/sample.zip)

[2020-02-05 07:36] kan-bayashi commented on #1557
Thank you for sharing!
In the case of knowledge distillation training, we do not need to prepare the groundtruth of mel-spectrogram since we use generated one as the target of fastpseech. So it is worthwhile to try increasing the training data for fastspeech by using additional text data. According to the authors of FastSpeech, if we can use enough amount of text to generate training data, the Fas

[2020-02-05 08:07] kamo-naoyuki opened #1559 "Installation system"
I was wondering what system is the best for installation in a few weeks, but I couldn't give good answer myself.

Current:
We can find it in `tools/`. We are using Makefile.

Issues:
- Makefile has too difficult syntax. I don't think that all users understand it.
- Makefile  was originally developed mainly for compile language, e.g. c/c++.  Our usage seems strange and almost all advantage of Makef

[2020-02-05 08:35] fly12357 opened #1560 "How to synthesis Chinese with the "csmsc.fastspeech.v3" model?"
If it is possible for you to provide a simple example for Chinese TTS under the trained model "csmsc.fastspeech.v3".

Follow the steps of  "ljspeech" English TTS example, I meet the following problem: (The Chinese characters has been converted to pinyin)

![image](https://user-images.githubusercontent.com/40494145/73824893-ed4e0000-4835-11ea-8d87-c731e97c2a1b.png)

[2020-02-05 08:37] kan-bayashi commented on #1560
Please check our notebook.
https://colab.research.google.com/github/espnet/notebook/blob/master/tts_realtime_demo.ipynb

[2020-02-05 08:47] EsmaeilFarhang commented on #1557
thank's,
my dataset contains 18702 files and about 22 hours sound. you mean I should increase the size of my dataset and train fastspeech again?, whats about the teacher model? should be continue training?

[2020-02-05 09:41] fly12357 commented on #1560
Thank you. Very useful~

[2020-02-05 09:41] #1560 closed

[2020-02-05 13:00] sw005320 commented on #1559
At least making inference and training installations separately is one of our action items.
Also, I used to have several suggestions from other people to use `shell` instead of `make` like your suggestions, and I think this is a reasonable plan.

Is there any example of other open-source toolkits handling various tools and also allowing various modes (training and inference for several tasks)?
I o

[2020-02-05 16:39] ShigekiKarita commented on #1542
It is for a new model-independent implementation (https://github.com/espnet/espnet/blob/master/espnet/nets/beam_search.py) for `asr_recog.py --api v2 ...`. So we did not provide the cache mechanism in the old model-specific impl.

[2020-02-05 16:45] ShigekiKarita commented on #1552
We tried smaller models in WSJ before and we reproduced almost same performance to this paper https://ieeexplore.ieee.org/document/8462506
Honestly, I and (other ESPnet developers) have been lazy to test more settings because there are so many corpora and tasks (ASR, TTS, ST, MT). Maybe it is time to find more lightweight models as you mention.

[2020-02-05 18:16] LamDang commented on #1542
Ok thanks, as it doesn’t work out of the box with ONNX, let’s close this issue for now and reconsider after some time.

[2020-02-05 18:16] #1542 closed

[2020-02-06 04:50] LetterLi1997 opened #1561 "How do I train a multiple-speaker model (speech synthesis) based on Tacotron 2 and espnet?"
I'm new to Speech Synthesis & Deep Learning.

I have problem in training a multi-speaker model which should be created by **[Tacotron2][1]**. And I was told I can get some ideas from **[espnet][2]**, which is a end-to-end audio tools library. In this way, I found a good dataset called **libritts:** http://www.openslr.org/60/. And it's also found at **espnet**: https://github.com/espnet/espnet#tts-

[2020-02-06 05:39] Fhrozen commented on #1559
if the idea is to move to shell, I think that the docker build could be a template.
https://github.com/espnet/espnet/blob/master/docker/build.sh
I was also thinking about adding a second installation script for espnet2, because it does not need of chainer, cupy , and kaldi

[2020-02-06 07:15] s-tomic commented on #1552
Thank you @ShigekiKarita .

I will try to run the tests by myself and see the difference between large transformer and a 4 layer encoder which is in default train.yaml for Libri.

[2020-02-06 12:48] sw005320 commented on #1559
Yes, this can simplify our build process.

[2020-02-06 12:56] sw005320 commented on #1561
Sure, we're happy to help.
Can you clarify the questions more?
Which part you cannot understand and which part you think complex?
I also don't recommend to try a complicated problem (in your case multispeaker TTS) with the tiny data.
This just increases the difficulty that comes from the tiny data.
Instead, you should try a simple problem (single speaker TTS) with a sufficient amount of data, and

[2020-02-06 13:11] AdolfVonKleist commented on #1460
Probably a bit late to say, but we are currently using this with several thousands of hours of data [and getting very good results].  The JSON format can still be used without issue as long as you employ a serialization strategy more like what is used in logging libraries, e.g. `https://github.com/fluent/fluentd` or similar.  Every 'event', or in this case sample, is written unindented to a single

[2020-02-06 15:06] LetterLi1997 commented on #1561
**I genuinelly thanks for your kindness and notice!**

- Thanks~ I'm going to make my questions more clear.

- Thanks~ Here I'd like to ask how do you release the **libritts.tacotron2.v1**? I was wondering whether my target is the same as what you have done? Actually, I'd like to train a multi-speaker model by Tacotron2.
[![enter image description here][3]][3]
[![enter image description here][1]][

[2020-02-06 17:30] sw005320 commented on #1460
Thanks @AdolfVonKleist!
This is very interesting.
Actually, one of the motivations of espnets also comes from this issue (with the other problems).

[2020-02-06 21:36] #1379 closed

[2020-02-07 02:31] sw005320 commented on #1460
@AdolfVonKleist, can you explain a bit more details about how you make it?
We're very interested in it.
(you may make a new issue.)

[2020-02-07 09:18] lukecograph opened #1562 "Installation instructions do not work at all: Endless errors"
Hello.

I am on Ubuntu 18.04.

I have been struggling for a week now to get ESPNet up and running with no success so far. I believe that the installation instructions are incomplete and that many of the install scripts have errors.

I've had dozens and dozens and dozens of errors, most of which I have fixed, some of which I do not have a deep enough knowledge of the underlying framework to solve.

[2020-02-07 10:56] kdubovikov commented on #1562
After two days, I was finally able to successfully build espnet on Ubuntu 18.04. To do this, I had to build kladi manually:

[code]

[2020-02-07 11:01] kdubovikov opened #1563 "Using recog_wav.sh with pertained model ru_open_stt"
I am having problems with using models pretrained on ru_open_stt. I've downloaded models using the link in the [README.md](https://github.com/espnet/espnet/blob/master/egs/ru_open_stt/asr1/RESULTS.md) and extracted them into the experiment directory.
After that, I ran the following command to decode the wav file using those models:
[code]

It seems that the [ru_open_stt](https://github.com/espnet/

[2020-02-07 12:09] ShigekiKarita commented on #1562
For Kaldi issues, ask Kaldi forum or use our prebuilt binary used in CI https://github.com/espnet/espnet/blob/master/ci/install_kaldi.sh

And also see our CI settings for Ubuntu 18.04 https://github.com/espnet/espnet/blob/master/.circleci/config.yml#L19

[2020-02-07 12:50] sw005320 commented on #1508
@takaaki-hori, could you think of fixing this?

[2020-02-07 14:25] sw005320 commented on #1563
You could use https://github.com/espnet/espnet/blob/master/egs/ru_open_stt/asr1/conf/fbank.conf
It would be safe to execute `recog_wav.sh` at the recipe directory (that is `espnet/egs/ru_open_stt/asr1`).

[2020-02-08 15:52] #1378 closed

[2020-02-08 15:52] #1380 closed

[2020-02-10 05:49] #1297 closed

[2020-02-10 06:54] kdubovikov commented on #1562
@ShigekiKarita, this is a great suggestion. Although, I think that the installation manual should be updated. At least, it should include an OS version on which the setup scripts were tested, so the new users won't attempt to install it on other OS releases. I guess the current installation instructions at https://espnet.github.io/espnet/tutorial.html#installation were tested using Ubuntu 16.04? T

[2020-02-10 07:55] kdubovikov commented on #1563
@sw005320 thanks, I've successfully managed to launch the script now. I think it's worth mentioning in the docs that the expected audio format for this model is mono wave with 16000 Hz frequency and 16 bits per channel. The script fails silently when the format is invalid

[2020-02-10 16:38] RSSharma246 commented on #1318
Can the config files for pure attention mode/pure ctc be shared for the Voxforge results?
Thanks

[2020-02-10 16:52] #1448 closed

[2020-02-10 17:00] b-flo commented on #1318
Looking at `egs/voxforge/asr1/RESULTS.md`, the"default" config for CTC should be the same as `egs/voxforge/conf/tuning/train_rnn.yaml` with `mtlalpha: 0.0` and `sampling-probability: 0.5`

[2020-02-10 17:05] RSSharma246 commented on #1318
For attention only, alpha=0, and maxlenratio=0.8 and minlenratio=0.3 for both training and testing?

[2020-02-11 04:03] #1393 closed

[2020-02-11 04:03] #1395 closed

[2020-02-11 12:44] sw005320 commented on #1561
Yes.

I don't recommend to check the old version.
Maybe you first start to check
https://github.com/espnet/espnet/blob/master/egs/libritts/tts1/run.sh
If you want to understand more details, you can just read https://github.com/espnet/espnet/blob/master/espnet/nets/pytorch_backend/e2e_tts_tacotron2.py
and
https://github.com/espnet/espnet/tree/master/espnet/nets/pytorch_backend/tacotron2

This is f

[2020-02-11 12:57] sw005320 commented on #1563
Thanks for your input.
Can you suggest actual documentation about it?
I actually checked our `README.md` and in https://github.com/espnet/espnet/blob/master/README.md#asr-demo, it already says
[code]
Also, inside ../../../utils/recog_wav.sh, it even provides an example to change the audio to 16k in https://github.com/espnet/espnet/blob/master/utils/recog_wav.sh#L54-L56

If you suggest additional d

[2020-02-11 12:59] sw005320 commented on #1562
I agree with @kdubovikov
@ShigekiKarita, could you add some documentation in the installation part of README.md to include the sentences you mentioned above?

[2020-02-11 14:42] LetterLi1997 commented on #1561
Thank you so much!  I've located this 2 files as you list above at the latest master branch.
To be honest, it's hard for me to tune the Tacotron2 model as I want it to be.

-------
Thanks for your tips to build multi-speaker model, I think your solution is probably convenient one. I'm going to try it these days.

BTW, I'd like to share a repo based on Tacotron2 and libritts for multi-spaker TTS.
h

[2020-02-12 09:27] potato-inoue opened #1571 "ctc loss becomes 0.0 when --ctc_type "warpctc" was used"
Now I'm trying to construct asr model. When I use `--ctc_type "warpctc"`, CTC loss becomes 0.0 at 1st epoch, and keeps the value 0.0 till the last epoch. I don't know whether this problem happens in only my environment.
#### loss.png of  `--ctc_type "warpctc"`
![loss](https://user-images.githubusercontent.com/38646618/74320865-b8592480-4dc4-11ea-950f-12a13e80ca5b.png)

When I use `--ctc_type "buil

[2020-02-12 22:10] takaaki-hori commented on #1508
Yes, I am working on it now.

[2020-02-12 22:17] sw005320 commented on #1571
I just checked it in my environment with an4 with warpctc, and it seems to be working correctly...
[code]
At least the source code seems to be OK, but I did not reinstall it. So, I'll test it.
Could you also check to see what happened inside by using some debugger?

[2020-02-13 07:03] kamo-naoyuki commented on #1562
One of our problems about installation is having many options.

I think the installation for Kaldi via our Makefile is not practical. Actually, we need specify blas library and cuda path, at least. The parallel number for kaldi-make should be also different from our make-flow.

https://github.com/espnet/espnet#step-2-b-installation-including-kaldi-installation

[2020-02-13 11:26] akreal commented on #1562
Recently we got ASR inference to work without Kaldi at all, by replacing feature extraction with functions from `torchaudio` and normalization with regular torch operations. If feature extraction is the only function of Kaldi binaries in ESPnet, it may be possible to avoid compiling Kaldi.

[2020-02-13 12:14] marzieh-razavi commented on #1404
Hello, I was wondering if this feature (adjusting the voice speed) is currently supported.

[2020-02-13 14:20] sw005320 commented on #1562
Thanks @kamo-naoyuki and @akreal!
**espnet2** could make it Kaldi-free, and we can make our installation process simple by that.
I'll not touch the major change for the installation-related part for now, but if we have some simple solutions, we can do it.
Also, we started a discussion about the torchaudio team. I hope we could officially support torchaudio based feature extraction soon in addition

[2020-02-13 15:05] SeanNaren opened #1578 "On the fly feature generation from wav to spect for ASR"
Hey guys,

Any chance ESPnet supports/will support on the fly feature generation? This is something that internally has helped us a lot with ever-changing datasets!

I'm more than happy to help do this if needs be and deemed worth it, if someone can point me to the right places.

[2020-02-13 15:20] desothier1 opened #1579 "ESPnet ASR attention"
hi,

This might be some naive questions, but when analyzing, attention .png files in folder results/att_ws,
having a look at Y-axis decoder index, and X-axis encoder index,
Am I right that the Y-axis decoder index corresponds to the _target_ output transcription and not to the actually _predicted_ transcription, during training? If that is the case, I would have expected to find the actually predi

[2020-02-14 18:52] #1281 closed

[2020-02-15 05:02] Some-random opened #1582 "Why are we not using per-speaker normalization for HKUST and AISHELL"
Looking at the shell script (https://github.com/espnet/espnet/blob/master/egs/hkust/asr1/run.sh) it seems like we're not using per-speaker normalization for input feature on HKUST and AISHELL. But using this would clearly improve the performance.

[2020-02-15 05:19] Some-random opened #1583 "Learning rate adaptation"
I've tried the learning rate adaptation schedule in this script (https://github.com/espnet/espnet/blob/master/egs/hkust/asr1/run.sh) and found it confounding...

My two questions are:
1 Why are we not decreasing learning rate (like divide warmup_k by 10) throughout training?
2 What's the intuition behind average_checkpoint operation in decoding (like a paper?) and why is it getting much better res

[2020-02-15 10:12] sw005320 commented on #1582
We just do not want to use speaker information to make training simple (try to make e2e ASR work without using external knowledge like we don't use phoneme information).
If the performance improvement is very significant, we'll definitely revisit it. If you have such numbers, it is great if you share them with us!

[2020-02-15 10:19] sw005320 commented on #1579
I thought that we have such functions, but I also could not find them. @kan-bayashi, could you answer it for me? I think this is a very important function.

[2020-02-15 10:26] sw005320 commented on #1583
We have learning rate decay, e.g., for transformer https://github.com/espnet/espnet/blob/10d36929184606137c8a7b4b9ad9e3cc624e0c6a/espnet/scheduler/scheduler.py#L116
We also have learning rate decay in RNN through the epsilon decay.

It is not theoretically grounded for non-linear classifiers, but in general averaging operations makes the model more generalize (especially when the model is well con

[2020-02-15 12:13] kan-bayashi commented on #1579
TTS has it but ASR does not.
According to my memory, @potato-inoue has implemented such a function.

[2020-02-15 12:15] sw005320 commented on #1579
where exactly in TTS? can you also put it in ASR?

[2020-02-15 12:19] kan-bayashi commented on #1579
This is taco 2 case.
https://github.com/espnet/espnet/blob/5d07e0b321d5270a5416b851642ea5374c76bea9/espnet/nets/pytorch_backend/tacotron2/decoder.py#L543-L567

[2020-02-15 14:48] sw005320 commented on #1578
Thanks @SeanNaren for raising the issue.
We actually support the on-the-fly feature generation with our own feature extraction with https://github.com/espnet/espnet/blob/master/espnet/transform/transformation.py
@kamo-naoyuki, could you point out the documentation about it?

Also, espnet2 plans to make this on-the-fly feature generation default. (see https://github.com/espnet/espnet/blob/v.0.7.0/e

[2020-02-15 15:18] kamo-naoyuki commented on #1578
Sorry, it's not well documented now, if the other guys didn't create.

ESPnet1 example:
https://github.com/espnet/espnet/tree/master/egs/chime4/asr1_multich

We implemented it as preprocessing for input data when data loading time and it can be configured by json or yaml file:

- wav -> stft example
https://github.com/espnet/espnet/blob/master/egs/chime4/asr1_multich/conf/preprocess.json
- fbank/s

[2020-02-15 22:55] SeanNaren commented on #1578
Thanks guys! This can be closed but was just curious, when is ESPnet2 roughly scheduled to be released?

[2020-02-16 07:37] Some-random commented on #1583
Thanks for the answer to question 2! Perhaps I wasn't clear enough on question 1. The two learning rate schedules I was comparing were **divide warmup_k by 10 whenever loss doesn't decrease on dev set** v.s. **stick to original warmup_k and just wait for learning rate to decrease slowly**.

And I actually tried using the latter on HKUST and decoding with average_checkpoint, but got higher WER than