[2021-01-22 07:08] keshawnhsieh commented on #2608
I came across these same situations recently. See issues [here](https://github.com/espnet/espnet/issues/2893) and [here](https://github.com/espnet/espnet/issues/2797). By the way, I got such similar performance degradation under conformer model.

I am suspecting that the degradation is caused by some unknown bug in espnet during decoding rather than model itself?

Any updates since then you found

[2021-01-22 09:54] pengchengguo commented on #2893
Hi @sw005320 and @keshawnhsieh,
Thanks so much for the information. I have the well-trained models on Aishell1 and Switchboard. I am computing the CERs/WERs for the utterance of different lengths. (Sorry, my internet is not very good, it takes some time to download the models.)

[2021-01-22 10:18] yuriyarabskyy opened #2896 "MultiHeadAttention output depends on the number of heads"
Hi,

I was going through the MultiHeadAttention code https://github.com/espnet/espnet/blob/master/espnet/nets/pytorch_backend/transformer/attention.py
and noticed at line 36
[code]
that the dimensionality of the output layer is n_feat and in your formulation `n_feat = n_heads x d_k`, which would mean that your output dimensionality of the attention layer depends on the number of heads. However, in

[2021-01-22 10:39] kirianguiller commented on #2200
Thank you Li ! I will try this and will let you know how it is going :)

[2021-01-22 14:37] sw005320 commented on #2896
@ShigekiKarita, could you answer this question?
Yes, we know this setup, and when we tune the number of attention heads and attention dimensions, we consider it appropriately.

[2021-01-22 14:42] sw005320 commented on #2894
See https://espnet.github.io/espnet/tutorial.html#how-to-use-finetuning for espnet1 and https://github.com/espnet/espnet/issues/2319 for espnet 2

[2021-01-22 14:51] saharghannay commented on #2894
Hi,
Thank you for your answer.
But it seems that the Initialization with pre-trained ASR encoder is not implemented in "https://github.com/espnet/espnet/blob/master/espnet/asr/pytorch_backend/asr.py" , do we have to implement it ?

[2021-01-22 14:58] sw005320 commented on #2894
It is implemented and used for RNN-T and speech translation training for example.
You may also check some rnnt recipes.
Again please check https://espnet.github.io/espnet/tutorial.html#how-to-use-finetuning
If you specify the parameters (encoder, attention, decoder, whatever), you can fine-tune your model of the specific part.

[2021-01-22 15:12] saharghannay commented on #2894
But for speech translation they implemented the Initialization with pre-trained ASR encoder and MT decoder https://github.com/espnet/espnet/blob/master/espnet/st/pytorch_backend/st.py

[2021-01-23 01:54] wenjie-p opened #2897 "Question about the common voice results"
Hi, I have run the egs/commonvoice/asr1 code using the default config on the German (v5.1-2020-06-22) dataset. The training config is conf/tuning/train_transformer.yaml, I am glad that you have provide the pretrained model and the results. However, I found neither of them is similar to my exp results:

1. The WER of the transformer results on the German test set is 19% as shown in the RESULTS.md,

[2021-01-23 13:08] yuriyarabskyy commented on #2896
Yes, but if we imagine that `n_feat = 512, n_heads = 8  ->  d_k = 64` and the output of attention is then fixed to `n_feat = 512`, but maybe it's worth being able to specify the output dimension separately. Because let's say we want to increase the number of heads but keep the `d_k` fixed, then we would need to increase the `n_feat` variable in addition to increasing `n_heads` which would in turn

[2021-01-23 13:43] kan-bayashi commented on #2896
I think the current implementation uses fixed output dimension for the residual connection.

[2021-01-23 13:53] ShigekiKarita commented on #2896
IIRC I forked onmt and it has the same definition.
https://github.com/OpenNMT/OpenNMT-py/blob/58bae872d814e457a82dcb29d7688b965315b885/onmt/modules/multi_headed_attn.py#L54

Do you know existing implementations doing that? Just curious.

[2021-01-23 14:05] yuriyarabskyy commented on #2896
Oh I see, I was looking at this implementation

https://github.com/jadore801120/attention-is-all-you-need-pytorch/blob/fec78a687210851f055f792d45300d27cc60ae41/transformer/SubLayers.py#L22

So maybe this can also be tried out if you want to play around with this parameter :) I think the residual connection should not be a problem, because the input/output dimension can stay fixed. It just allows y

[2021-01-25 10:17] v-yunbin commented on #2100
@kan-bayashi my training have been interupted when it is epoch 420 （total epoch 1000）, how i restart the training from epoch 420?

[2021-01-25 11:01] lnalborczyk commented on #2865
Hi, I am sorry to get back to you again but I still have another newbie question. I am training a similar (to the default LJSpeech example) ASR model with a custom dataset in which I have only 150 pairs of audio + text. I would like to be sure of how the train/test split is done.

Out of the 150 sentences in my corpus, let's say I would like to use 120 for training and 30 for testing. Out of the 1

[2021-01-25 11:50] joanna-aflr commented on #2891
Thank you for the reply. I used teacher forcing, the same way as in the example. My commands look like this:

`./tts.sh --nj 48 --stage 7 --stop-stage 7 --cleaner tacotron_de --ngpu $ngpu --fs $fs --n_fft $n_fft --n_shift $n_shift \
  --tts_exp exp/tts_train_raw_char_tacotron_caito_de_en --inference_args "--use_teacher_forcing true" \
  --test_sets "${dset}_eval ${dset}_dev ${dset}_train" --nlsyms

[2021-01-25 18:33] Sebinsky commented on #2845
Thanks again!

The normal training process with one of the provided recipes as described in the espnet2 tutorial is no problem for me.
The problem is with the re-training. As you mentioned alread, there is no specific script for this task. I went through some of the source code but could not find any way to provide an existing model an re-train it with a text corpus. I would be really thankful if

[2021-01-25 20:42] #2852 closed

[2021-01-26 03:12] keshawnhsieh opened #2899 "Pretrained model link of aishell was unavailable"
Google drive link of pretrained model of aishell in this [readme](https://github.com/espnet/espnet/blob/master/egs/aishell/asr1/RESULTS.md) was unavailable now. Could you update it please.

[2021-01-26 05:44] oshindow opened #2900 "The prediction result is only <eos> when conformer decoding"
**Describe the bug**
We used a conformer script to train an ASR model and got a 9% ERR in the test set. But when we tried a new test set, all sentence decoding result was only `<eos> `

**Error logs**
the decode.log is as follows:
(asr:1015) INFO: (1/120) decoding 20210121134207
(e2e_asr_transformer:293) INFO: input lengths: 14
(e2e_asr_transformer:309) INFO: max output length: 14
(e2e_asr_transfo

[2021-01-26 05:48] ftshijt commented on #2897
We already solved the issue via emails. But I would still like to explain the issue here to other curious people.

The model published is trained in the monolingual fashion.

The major difference between RESULTS.md and your experiments is that the result we publish on common-voice did not apply spec-augmentation and speech perturbation. However, in the `run.sh`, we default set those augmentation m

[2021-01-26 08:14] wenjie-p commented on #2897
Hi Jiatong,

My apology for forgetting to mention about this issue in the email. Yes the problem was solved through the email and thanks for the great toolkit you guys have built! If you want any information (e.g. the pretrained models performance details), I would be very happy to help with!

[2021-01-26 08:30] WanderingSven commented on #2893
I also have done some experiment about short and long utterance on transformer and las. When the transformer model use absolute positional encoding, the performance on long utterance is worse than las and a large number of deletion errors at the end of the utterance. When the transformer use relative positional embedding, the deletion error will disappear. On the short utterance, the transformer a

[2021-01-26 10:46] keshawnhsieh commented on #2893
Did you use the RPE implemented in espnet or you just implemented it by yourself. The RPE implementation in espnet has some problems by now. Refer to this [PR](https://github.com/espnet/espnet/pull/2816)

[2021-01-26 13:51] GaofengCheng commented on #2893
@WanderingSven can you show more exact data, like how long is long ?

[2021-01-26 13:54] WanderingSven commented on #2893
I implement it by myself. It is different from the method used by conformer model @keshawnhsieh

[2021-01-26 13:58] sw005320 commented on #2893
We also have the same experimental results with modified RPEs for long recording (we found it independently on https://github.com/espnet/espnet/pull/2816). We'll share this result once it is ready.
Basically, the current bug in RPEs makes the issue in the long recording (but not very sure about the short recording).
So I hope https://github.com/espnet/espnet/pull/2816 would mitigate the issue to s

[2021-01-26 14:02] WanderingSven commented on #2893
I used a frame length of 25ms and a frame shift of 10ms for feature extraction. And I set the utterance that longer than 2 seconds as the long utterance. @GaofengCheng

[2021-01-26 14:28] sw005320 commented on #2899
Thanks for the report. I confirmed it.

![image](https://user-images.githubusercontent.com/11741550/105857570-69e26d00-5fb8-11eb-8798-ca223d4e3936.png)

@pengchengguo, could you deal with it?
Did you put it on your personal Google drive?
I just sent an invitation to my Google drive.
You can put these models there.

[2021-01-26 14:28] keshawnhsieh commented on #2893
Today I got some new updates to share. I tested WER on LibriSpeech with difference length of audio splits. I roughly split test clean into 3 parts which are 0-2s, 2-10s and 10s+ and tested WER accordingly.

The trained model I used was the one provided in [RESULTS](https://github.com/espnet/espnet/blob/master/egs/librispeech/asr1/RESULTS.md) of LibriSpeech recipe.
I decode with beam size =10. lm_w

[2021-01-26 15:12] szmmm opened #2902 "Audio Segmentation Package ESPNet1 TTS"
Hello! I am trying to manually segment an audio data set I have now. Each audio file is in .wav format, a few minutes long and I have the start and end time information for each utterance in the audio file. I want to ask what package is installed in ESPNet1 that might be handy to use to manually segment my own data set, and later on extract filter-bank features that are compatible to TTS training.

[2021-01-26 15:39] pengchengguo commented on #2893
Hi all,
I compared the CER results of utterances with different lengths on the Aishell-1 test set. The maximum length of the Aishell-1 corpus is 1468 frames, while the minimum length is 184 frames. Most of the utterances are shorter than 800 frames. I split the whole test set into four subsets, which are 0-400, 400-800, 800-1200, 1200-1600 frames. Here are some results.

| | 0-400 | 400-800 | 800-

[2021-01-26 16:00] sw005320 commented on #2893
Many thanks for the detailed report!
Hmm, new RPE seems to degrade the performance in the long recording (although we'd not have so many samples in this range and it is not very statistically reliable).
Do you have some ideas of why it does not work in the long recording, @pengchengguo?

[2021-01-26 16:11] sw005320 commented on #2902
If you have the start and end time information for each utterance, you can deal with this it through the `segment` file. You do not have to cut it by yourself. It would be internally handled. I don't know whether the `segment` file is used in TTS, but there are a lot of examples of using the `segment` file in the ASR recipe (e.g., tedlium2).

See also https://kaldi-asr.org/doc/data_prep.html
We fo

[2021-01-26 17:03] sknadig commented on #2902
@szmmm If you have the `segments` file, you might find Kaldi's  [extract_wav_segments_data_dir.sh](https://github.com/kaldi-asr/kaldi/blob/master/egs/wsj/s5/utils/data/extract_wav_segments_data_dir.sh) (which uses the `extract-segments` binary) useful.

[2021-01-26 17:19] lnalborczyk commented on #2865
Also, I can not get the LJspeech ASR example working at the phonetic level... when replacing "char" by "phn" in run.sh, everything works fine until stage 5, but I get and error during decoding. Here is one of the log file below (`espnet/egs/ljspeech/asr1/exp/phn_train_no_dev_pytorch_train_mtlalpha1.0/decode_phn_dev_decode_ctcweight1.0_lm_word100/log/decode.1.log`).

[code]

Any idea why this is ha

[2021-01-26 23:15] szmmm commented on #2902
Thank you very much for your reply. In the Kaldi documentation it says for data preparation the four files `text`, `utt2spkr`, `segment` and `wav.scp` would be sufficient. Can I use the same utterance name for the speaker name in `utt2spkr` if I do not know the speaker?

Are these files enough to do feature extraction later on and also generate the JSON files used for actual training? The exact sc

[2021-01-27 02:33] wenjie-p commented on #2897
Update:

I found that training the `de` German part will cause `nan loss`, during the training of `espnet`, however, the loss is pretty normal. Thus I think `espnet` have done some magic to handle this, after going through the code, I found `espnet` will not update the model if the loss is `nan` (shown in `espnet/espnet/asr/pytorch_backend/asr.py`). The `git log` shows that such functionality was

[2021-01-27 03:28] migi-gon commented on #2762
Hello! Have you implemented this teacher forcing in espnet 1 tts? I am also trying to do the same  but with no luck so far.

[2021-01-27 06:35] #2801 closed

[2021-01-27 07:51] sknadig commented on #2902
AFAIK you should have `wav.scp`, `text`, `segments`, `utt2spk`, `spk2utt` to move to the next steps.
Each segment corresponds to an utterance, so the keys in `segments` and `text` should match.
If you consider each audio file as a unique speaker, `utt2spk` will have the same keys as the `segments` file and speaker ID same as keys in `wav.scp`.
`wav.scp` can have different keys (maybe file name of

[2021-01-27 08:18] wenjie-p commented on #2897
Sorry, I found this assumption doesn't hold because common voice `v5.1` was released at 22 June, 2020.

[2021-01-27 14:25] pengchengguo commented on #2893
Sorry, I am not sure about the reason. Maybe I can test on more datasets and try to figure out it.

[2021-01-27 20:49] szmmm commented on #2902
Thank you. What if I have multiple speakers in one audio file (it's a conversation recording), and I do not have the information of which speaker spoke which utterance? Can I just use the same utterance name as the speaker ID? This might mean I will have the same number of speakers as the number of utterances. Will this be a problem? I thought this might be ok because x-vectors are extracted for e

[2021-01-27 21:24] ftshijt commented on #2897
Thanks for your comments. Yes, that may not be the problem. As the CTC has a requirement that speech features should be longer than the reference text, the NAN is basically because of failures to meet the requirement.

[2021-01-28 02:20] migi-gon opened #2908 "Teacher Forcing for Espnet v1 TTS"
Hello! I am trying to implement the code for teacher forcing decoding in espnet v1 tts. I would use the teacher-forced decoded mel-spectrograms to train my wavenet vocoder. I read and followed this issue: [#2762](https://github.com/espnet/espnet/issues/2762) but to no avail. Here are the snippets of code I have changed:

In espnet/tts/pytorch_backend/tts.py (line 691):
[code]
I have checked the co

[2021-01-28 05:37] kan-bayashi commented on #2908
Please add the batch dimension for the `xs` and `ys`.

[2021-01-28 05:37] #2908 closed

[2021-01-28 09:40] okkteam opened #2909 "Question about continue training"
**Describe the Question**
Thanks for your awesome work!
How to continue training after training is interrupted for some reason? When I tried `--enc-init=exp/{model}/result/snapshot.ep.10` and `--dec-init=exp/{model}/result/snapshot.ep.10`, the re-training loss of the beginning 200 iterations are still very high.

[2021-01-28 10:16] b-flo commented on #2909
Hi,

You should use `resume` option instead. You can find it at the top of `run.sh` (or you can specify `--resume` to your training command). The option takes a model snapshot path similarly to transfer learning options

[2021-01-28 11:07] okkteam commented on #2909
Now it has resumed, thank you very much! Can I close this question?

[2021-01-28 11:08] b-flo commented on #2909
No problem, I'll do it!

[2021-01-28 11:08] #2909 closed

[2021-01-28 15:16] okkteam commented on #2900
Then we checked the data to make sure they can hear clearly with 16k sample rate and 16 bit; however, the problem remains

[2021-01-28 23:38] MNCTTY commented on #1373
I have the same issue with ru_open_stt models

[2021-01-29 01:53] wenjie-p commented on #2897
Thanks for the explanation, which makes me much clear because previously I didn't take the CTC loss into account.

Here I also found something about the data split: The downloaded data seems to be accompanied with an official split. After check each split, I found that: train.tsv + dev.tsv + test.tsv << validated.tsv in terms of #utt. As suggested in the [discussion](https://discourse.mozilla.org/

[2021-01-29 03:19] evelynyhc opened #2912 "./tts.sh: line 192: utils/parse_options.sh: No such file or directory"
hello,  i have a question. when i want to run the vctk/tts1/run.sh, there are some problems like this:

./tts.sh: line 192: utils/parse_options.sh: No such file or directory

how can i save it? please help me, thanks!

[2021-01-29 03:22] sw005320 commented on #2912
You do not seem to set up the Kaldi correctly.
Please follow https://espnet.github.io/espnet/installation.html

[2021-01-29 03:45] evelynyhc commented on #2912
if i use egs2,  do i still need to install kaldi?

[2021-01-29 04:34] sw005320 commented on #2912
You don’t have to install Kaldi, but you have to put it under the espnet directory. But if you follow   https://espnet.github.io/espnet/installation.html, it should be done.
Again please carefully follow https://espnet.github.io/espnet/installation.html

[2021-01-29 06:00] evelynyhc commented on #2912
thx, i have sovled this problem by reading installation.html.

[2021-01-29 06:01] #2912 closed

[2021-01-29 08:44] lnalborczyk opened #2913 "Converting numpy arrays to kaldi-style ark files"
Hi,

thank you again for developing and maintaining this great toolkit!

I have some externally processed features stored in numpy arrays that I would like to convert to kaldi-style .ark files so that I can use them as input to train an ASR model. I was wondering whether such a function would be readily available in Kaldi and/or ESPnet?

Thanks!

[2021-01-29 08:50] jackyguo624 opened #2914 "Typo: idim should be odim"
https://github.com/espnet/espnet/blob/5160363973a1505b3987d6b37976bc04e1d4dad8/espnet/nets/pytorch_backend/transducer/blocks.py#L195

[code]

[2021-01-29 09:15] b-flo commented on #2914
Nice catch, thanks!

[2021-01-29 10:45] sknadig commented on #2913
See if kaldiio's [WriteHelper](https://github.com/nttcslab-sp/kaldiio#writehelper) solves your use case.

[2021-01-29 11:30] #2914 closed

[2021-01-29 18:19] sooftware opened #2917 "[Question] Implementation of Conformer's Relative Multi-Head Attention"
First of all, thank you for making a great open source. it is been helping me a lot in research.

As far as I understand, It is understood that Relative Positional Encoding Multi-Head Attention proposed in [Transformer-XL](https://arxiv.org/abs/1901.02860) paper is used in Conformer concept. I referred to [this class](https://github.com/espnet/espnet/blob/5298913c0b9c648dd5859ce15789eecfb6e18c27/e

[2021-01-30 06:37] mulgray commented on #2891
Hi,

I'm facing a similar problem.
I'm trying to do a fine tuning in FastSpeech2 on JVS with g2p of pyopenjtalk_accent_with_pause.

I first followed [this procedure](https://github.com/espnet/espnet/tree/master/egs2/jvs/tts1) to perform fine tuning from JSUT to JVS, and it worked. I know that both of these configurations are tacotron2 and g2p is pyopenjtalk.

Next, I followed [this procedure](http

[2021-01-30 11:04] kan-bayashi commented on #2891
@joanna-aflr Sorry for the late reply.
Hmm. Your command seems valid. Did you change reduction factor?

@mulgray In your case, you need to use the teacher model with `pyopenjtalk_accent_with_pause` since the durations represent that of each token. But the case should raise the error in stage 5. I will check the code.

[2021-01-30 11:07] #2913 closed

[2021-01-30 11:08] kan-bayashi commented on #2902
@szmmm Since we do not use speaker information, that is no problem.
You can use the same speaker e.g., `dummy`.

[2021-01-30 11:12] kan-bayashi commented on #2900
Did you perform normalization correctly?

[2021-01-30 11:22] okkteam commented on #2900
Yes, I think we perform normalization correctly. We add {train_set}/cmvn.ark to the new test set before training. Btw, could there be a broken while we transfer 8k,8bit data to 16k,16bit data by sox. Is there any check method? The only method we used is listening.

[2021-01-30 11:29] okkteam commented on #2900
Maybe we should compute the new test set cmvn.ark, and add it to itself...

[2021-01-30 11:30] okkteam commented on #2900
Maybe we should compute the new test set cmvn.ark, and add it to itself...

[2021-01-30 11:34] kan-bayashi commented on #2900
You need to use `cmvn.ark` computed over training data.
Maybe you can follow the procedure:
https://github.com/espnet/espnet/blob/master/utils/recog_wav.sh

[2021-01-30 11:39] joanna-aflr commented on #2891
Thank you for the reply.

I didn't change the reduction factor. What actually helped was to use a different teacher model to obtain the durations. I am not sure though where was the problem with the approach I posted before. It might have been related to the cleaner function that I modified to include Germanic umlauts in the token list. However, I used the same cleaner for the teacher training as

[2021-01-30 12:01] kan-bayashi commented on #2891
Ah ha. Maybe that is the problem.
Did you use the same cleaner in decoding?

[2021-01-30 13:29] okkteam commented on #2900
Thanks, it's a useful script. We did the steps correctly, but still no output results.

[2021-01-30 13:53] Mingrg opened #2918 "install error while run make"
Hi,
    I want to install the espnet2 by referring https://espnet.github.io/espnet/installation.html#step-2-installation-espnet.
    But when I do the `make` command, this error occurred:
    (my cuda is 10.2, so I use the 1.5.0 torch version)
[code]
And I don't know how to do with it, hope you can help me, thanks!

[2021-01-30 15:34] joanna-aflr commented on #2891
Yes, always the same one. But it is likely that it is related to the cleaner because the size of tensor always differed by 1, 2, or 3 and there are 3 additional characters in the German token list. So I'll double check this.

Thanks for your help!

[2021-01-30 19:56] kamo-naoyuki commented on #2918
You are using mirror index server. Check your pipyrc or pip.conf

[2021-01-31 02:50] wac81 opened #2919 "if i don't want use tacotron2 extract pitch and energy，how to train fastspeech2"
if i don't want use tacotron2 extract pitch and energy，how to train fastspeech2

[2021-01-31 03:43] sapphire008 opened #2920 "Aishell2 model for epsnet2"
First of all, I want to thank you for providing the pre-trained models on various languages for various tasks. I saw Aishell2 pretrained model is available for epsnet in the `egs` folder. However, I wonder if a pretrained model / recipe is also available for epsnet2? It would be nice if it can be used directly with model zoo as well. Thank you.

[2021-01-31 06:17] okkteam opened #2921 "RuntimeError: CUDA out of memory"
**Describe the bug**
When I used aishell data to train a transformer-transducer, 48GB of memory was not enough. In the past, the memory usage was 47909MiB/48600MiB(only espnet training), but today’s training is out of memory. In run.sh `N=0` to use all minibatches.

**Basic environments:**
-GPU: NVIDIA QUADRO RTX 8000 48GB

**transformer-transducer.yaml:**

batch-size: 20
maxlen-in: 800
maxlen-out

[2021-01-31 06:25] okkteam commented on #2798
![image](https://user-images.githubusercontent.com/49552492/106376419-1dd86380-63d0-11eb-98dc-0f4ee4235cde.png)

[2021-01-31 06:26] okkteam commented on #2921
![image](https://user-images.githubusercontent.com/49552492/106376439-4f512f00-63d0-11eb-9cdc-d273d09f864b.png)

[2021-01-31 08:45] Mingrg commented on #2918
Hi @kamo-naoyuki,
    Thank you for your reply! And I do not use mirror index server now, the error disappointed!
    But another error occurred:
[code]
Is there any permission problem? I don't have root permission. Where should I change?

[2021-01-31 08:59] b-flo commented on #2921
Hi,

We recently switched from LSTMCell to LSTM in RNN-decoder, I guess that could be the reason. However I didn't observe a memory increase with my current settings. Could you give more information about pytorch version, env, etc?

Also, I'm a bit perplexed you need so much memory given your architecture configuration. I'm not too familiar with aishell, do you use the default aishell (w/ configs

[2021-01-31 09:40] okkteam commented on #2921
Thanks for your work, we set a venv from python 3.6.9, torch 1.4.0 and warprnnt-pytorch 0.1. Another error occers just now: `CUDA error: an illegal memory access was encountered`, when I set batchsize is 16.

The recipe I used from https://github.com/espnet/espnet/issues/2606. They post a not bad CER.

[2021-01-31 09:52] okkteam commented on #2921
GPU Memory Track | 31-Jan-21-17:48:26 | Total Used Memory:8303.7 Mb

+ | 8 * Size:(16, 8, 403, 403)    | Memory: 665.22 M | <class 'torch.Tensor'>
+ | 1 * Size:(16, 403, 512)       | Memory: 13.205 M | <class 'torch.Tensor'>
+ | 1 * Size:(16, 16)             | Memory: 0.0010 M | <class 'torch.Tensor'>
+ | 8 * Size:(512, 2048)          | Memory: 33.554 M | <class 'torch.nn.parameter.Parameter'>
+ |

[2021-01-31 09:56] b-flo commented on #2921
OK so, this is not an OOM but a illegal memory access. That's weird, I didn't encountered that bug since it was fixed by Mingkun. Could you try training with `transducer-type: warp-rnnt` just to be sure?

Sorry what I meant was: did you use the default aishell run script (i.e.: egs/aishell/run.sh)? It's to know the data preparation steps

Also thanks for the report, I'll investigate in a short whi

[2021-01-31 10:06] okkteam commented on #2921
Yes, that's weird, there was no problem a few days ago... Ok, I will try with `transducer-type: warp-rnnt` in a minute.

Thanks for your help, I just run the default `run.sh` except speed-perturbed.

[2021-01-31 10:18] okkteam commented on #2921
Setting `trans-type: warp-rnnt` is work. This error `an illegal memory access was encountered`  occurred when using default `trans-type: warp-transducer`.

[2021-01-31 10:36] b-flo commented on #2921
Yeah memory usage exceeding 48Gb seems way too big to me but I'm not sure what's expected with Aishell. Let me familiarize with the corpus and recipe first.

Anyways, if you could train before recent changes, I may have overlooked something in my experiments. I'll try to adress the memory increase at least but it won't make a big difference. We have some items to address memory usage with transduc

[2021-01-31 11:13] b-flo commented on #2921
@okkteam Are you sure you espnet is up-to-date? In your report I'm confused by : `At espnet.nets.pytorch_backend.e2e_asr_transducer init: line 641Total Used Memory:16228.9Mb`

Current `e2e_asr_transducer.py` has 594 lines.

[2021-01-31 11:19] okkteam commented on #2921
Sorry，I added some neural network layers in the __init__ to fine-tune the model. I wrote them all under the `if...else` statement, so the number of lines has increased. But when OOM happened, I didn't run it, the model is just a  Transformer-LSTM transducer.

[2021-01-31 13:12] Mingrg commented on #2918
Thank you so much! It work!

[2021-01-31 16:04] sameerkhurana10 opened #2922 "Normalization After SpecAug in Espnet2"
Hi,

I had a question about Espnet2 ASR model. I notice that MVN normalization is applied after SpecAug. See [here](https://github.com/espnet/espnet/blob/master/espnet2/asr/espnet_model.py#L195)

I think this behavior is different from Espnet1. Is that correct?

SpecAug followed by MVN will lead to masked regions to be non-zero, but still constant. Is that okay?

Thanks for the clarification.

[2021-01-31 16:43] piggy2303 commented on #2370
thank god you are here :>

[2021-01-31 16:56] #2922 closed

[2021-01-31 16:57] sameerkhurana10 opened #2923 "Normalization After SpecAug"
Hi,

I had a question about Espnet2 ASR model. I notice that MVN normalization is applied after SpecAug. See [here](https://github.com/espnet/espnet/blob/master/espnet2/asr/espnet_model.py#L195)

I think this behavior is different from Espnet1. Is that correct?

SpecAug followed by MVN will lead to masked regions to be non-zero, but still constant. Is that okay?

Thanks for the clarification.

[2021-01-31 21:07] kamo-naoyuki commented on #2923
Oh... thanks. This is a bug.

@sw005320 This bug might change the result.

[2021-01-31 21:08] #2918 closed

[2021-01-31 21:52] #2902 closed

[2021-01-31 22:38] szmmm commented on #2762
@migi-gon Please read about the changes I mentioned above. Make sure you understand them and then in `espnet/tts/pytorch_backend/tts.py`, after data is loaded use the following code at the end:

[code]

The problem I had was the dimensionality of the tensors need to match the format used in functions, hence the `unsqueeze`. It is better to print out the tensors to see exactly what's going on. This

[2021-02-01 07:10] mulgray commented on #2891
@kan-bayashi
Thank you for the reply!
As you said, I took a closer look and found that stage 5 also failed.
I downloaded `kan-bayashi/jsut_tacotron2_accent_with_pause` and carefully retried the whole procedure, and it worked fine. Thank you very much.

[2021-02-01 13:54] pengchengguo commented on #2899
Sorry, I can find the pre-trained model in Google Drive. Maybe I forgot to update the link.
Hi @keshawnhsieh, please try this link: `https://drive.google.com/file/d/1pOhwj6JFqVyt5quW7BKWfJ3vfPFRoxpQ/view?usp=sharing`. I will modify the README file now.

[2021-02-01 14:13] pengchengguo commented on #2917
Hi @sooftware,

The relative positional encoding used in Conformer is the same as Transformer-XL. Actually, the `rel_shift` function is an efficient computation trick proposed in Appendix B of the Transformer-XL paper.

By the way, we also find some issues with the current implementation and make a new PR to fix such bugs. More details can be referred to https://github.com/espnet/espnet/pull/2816.

[2021-02-01 14:41] MNCTTY opened #2925 "Input data format for testing asr ru_open_stt models"
Hello! I want to test on my wav data this pretrained model (Dataset v1.01, Conformer (4 GPUs, specaug) + Transformer LM (4 GPUs)). And I found out, that I dont understand how I need to prepare audio data for it. I found this parameters in code
```:param ndnarray x: input acoustic feature (B, T, D) or (T, D)```
but can you explain what do they mean?

Thank you

[2021-02-01 16:09] sw005320 commented on #2923
I see (although I think it would not cause big changes).

[2021-02-01 17:50] akreal commented on #2925
Hi! You can try to use https://github.com/espnet/espnet/blob/master/utils/recog_wav.sh to run the model on your wav data.

[2021-02-02 03:31] wenjie-p commented on #2897
Update:

The final results on my machine trained using `transformer.yaml` with 100 epochs is as below:

[code]

The above model was trained on the data with kaldi 3-way speed augmentation (default in the `espnet/egs/commonvoice/asr1/run.sh`).

Hope this is helpful for you and others who want to use this recipe.

[2021-02-02 03:41] ftshijt commented on #2897
That's very cool. Sorry that I did not make the check by the week. Could you set a pull request about your results to the RESULTS.md in the related directory?

[2021-02-02 05:49] sooftware commented on #2917
Thanks for your answer!!

[2021-02-02 05:49] #2917 closed

[2021-02-02 06:16] qmpzzpmq commented on #2921
@okkteam hi
I am test this config for @b-flo, Could you tell me how many GPU you use?

[2021-02-02 06:19] okkteam commented on #2921
Thanks, Just 1 GPU, RTX 8000.

[2021-02-02 06:22] qmpzzpmq commented on #2921
I change your config a little bit for running as flowing:
batch-size: 10
maxlen-in: 800
maxlen-out: 150
criterion: "loss_eps_decay_only"
early-stop-criterion: "validation/main/loss"
sortagrad: 0
opt: adadelta
epochs: 20
patience: 0
accum-grad: 1
grad-clip: 5.0

etype: custom
# transformer-enc-input-layer: vgg2l
enc-block-arch:
        - type: transformer
          d_hidden: 512
          d_ff: 204

[2021-02-02 09:45] b-flo commented on #2921
@okkteam From what @qmpzzpmq and I tested, for `batchsize: 20` you would need (roughly) ~20Gb for peak memory usage and average memory usage should be below that. Please check the issue isn't related to the layers you added.

About multi-GPU, I pinpointed the issue. It will be fixed shortly, sorry about that.

[2021-02-02 09:52] okkteam commented on #2921
Thanks for your help and @qmpzzpmq, I will check that.

[2021-02-02 10:23] b-flo commented on #2921
I'm closing the issue but feel free to re-open if you have new information / reports!

[2021-02-02 10:23] #2921 closed

[2021-02-02 12:39] lyqlola commented on #2606
@zrsjta could you please share your config for the lstm version?

[2021-02-02 13:37] danoneata opened #2930 "Fine-tuning a pre-trained ASR model on a new dataset"
Hello!

I'm trying to fine-tune a pre-trained Espnet2 ASR model on a new dataset. I was not able to find a recipe for this exact scenario (although there seem to be [some instructions available for TTS](https://github.com/espnet/espnet/tree/master/egs2/jvs/tts1)) and I would need some guidance. Concretely, I'm interested in fine-tuning [the LibriSpeech-trained Transformer model](https://zenodo.org

[2021-02-02 15:58] sw005320 commented on #2930
Thanks for bringing interesting discussions!
I can answer some of them based on my experience.

Yes.
In general, the target dataset would have different statistics, and it would be safe to collect the in-domain statistics in stage 9.

If you mix the original and target data, I recommend you get the mixed data statistics.
Otherwise, you can use that of the target data obtained in stage 9.

I saw ma

[2021-02-02 16:51] #2897 closed

[2021-02-02 19:37] danoneata commented on #2930
Thank you for the quick and detailed answer, Shinji!

If I understand correctly, the `collect_stats` stage also computes the shapes of speech and text; we cannot run the training step (stage 10) without these quantities, can we?

Just to double check: mixing the data statistics can be achieved by adding each of the three quantities (`count`, `sum`, `sum_squared`) corresponding to the two datasets:

[2021-02-03 01:22] MNCTTY commented on #2925
Thank you! I saw this code, but, as I understood, I need use one model from the list "Available pretrained models in the demo script are listed as below." from main read.me, and models for ru_open_stt aren't in it

If I wrong, correct me please

[2021-02-03 01:38] akreal commented on #2925
You can edit this list and add model's link and name here:

https://github.com/espnet/espnet/blob/a5742a3b23d8a27c0c0ef02d105e1ab9d6321e08/utils/recog_wav.sh#L132-L139

[2021-02-03 03:26] sw005320 commented on #2930
Correct.

Yes.
But it may be easier to combine them in the data preparation stage and run it from the beginning.

This is case-by-case.
I prefer to use the vanilla SGD with a small learning rate, which is very safe.
But it often turns out that the standard optimization would work in many cases...

[2021-02-03 04:09] keshawnhsieh commented on #2899
It works now. Thanks.

[2021-02-03 04:09] #2899 closed

[2021-02-03 08:56] danoneata commented on #2930
Thank you for the further clarifications!

[2021-02-03 08:56] #2930 closed

[2021-02-03 09:16] lnalborczyk opened #2931 "Stage 5 error in egs/ljspeech/asr1 (phoneme-level)"
**Describe the bug**

I can not get the LJspeech ASR example working at the phonetic level... when replacing "char" by "phn" in run.sh, everything works fine until stage 5, but I get and error during decoding. Here is one of the log file below (`espnet/egs/ljspeech/asr1/exp/phn_train_no_dev_pytorch_train_mtlalpha1.0/decode_phn_dev_decode_ctcweight1.0_lm_word100/log/decode.1.log`).

Any idea why th

[2021-02-03 09:37] thehetpandya commented on #2446
Hi @kan-bayashi,
I wanted to know how many samples would be sufficient for the model to sound good enough? Also, do the audios need to be of any maximum length. Like while training DCTTS, I came across a problem of keeping the audios to be of 14 secs or smaller. Does that apply here?

[2021-02-03 12:51] flozi00 commented on #2609
https://github.com/huggingface/transformers/pull/9659#event-4279129673
Wave2vec 2 got merged into the transformers master, don't know if it helps ?
As I can see there is no training example at the moment, but the pretrained models by facebook can be loaded and used

[2021-02-03 14:19] FaridHaziyev opened #2935 "Problems on big sentences"
Hello, and thanks for this great tool that I use to train my own model.
I have trained tacotron2 for text2mel and full_band_melgan for vocoder.
In small sentences it gives fair results, but in big sentences it is like when a person starts to talk and gets tired of talking after a while.
Some words are ignored and the others are said with a very low volume.
If I split the sentence to smaller parts,

[2021-02-04 06:49] chenjiasheng commented on #2872
This is our approch in Mandarin:
1, Add a FC layer + CTC on top of your RNN-T encoder to outpt pinyin (phonetic of Mandarin) sequence. Fix other layers and train the ctc loss. Then you get the pinyin probability matrix/lattice.
2, Build a FST model cosuming CTC pinyin lattice and producing characters.
3, When decoding, choose FST result if any FST path is hit, otherwise choose transducer result.

[2021-02-04 16:41] sw005320 commented on #2872
I like this solution.
This is quite straightforward.
Did you do this with your own wFST-based decoder or other tools?
We're thinking of doing something similar with k2.

[2021-02-04 17:05] MNCTTY commented on #2925
Yeah, that list. And there is no model I wanted to test (I want to test this https://github.com/espnet/espnet/blob/master/egs/ru_open_stt/asr1/RESULTS.md)

Does you or anybody know what I should do with .wav file to feed it to the model?

[2021-02-04 17:30] sw005320 commented on #2925
You can just use  https://drive.google.com/file/d/1Gj--PtomC5j8pczdJdRMdxInIZsO-jxK/view?usp=sharing that @akreal shared with us. You can edit `espnet/utils/recog_wav.sh` and add this model to the above list, as @akreal mentioned, e.g.,
[code]

[2021-02-04 21:50] roholazandie opened #2943 "egs for CUM Audio dataset"
Hello, Is there any egs for CMU ARCTIC dataset in espnet?

http://www.speech.cs.cmu.edu/databases/an4/

Does this have acceptable quality for training the vocoder and TTS system for male voice?

[2021-02-05 07:29] r406 opened #2944 "Training Tacotron2 with two speaker data for TTS"
I have two female speaker audio data. I would like to train tacotron2 as multi-speaker with just two speaker data.
Can i used follow the run.sh of libritts to train the same.

[2021-02-05 07:33] kan-bayashi commented on #2944
You can do it. I recommend making your own recipe.
https://github.com/espnet/espnet/tree/master/egs2/TEMPLATE/tts1#faq
And then, you can use configurations in libritts or VCTK recipes.

[2021-02-05 07:35] kan-bayashi commented on #2943
You mean CMU arctic database?
http://www.festvox.org/cmu_arctic/

[2021-02-05 07:42] kan-bayashi commented on #2935
Tacotron2 (i.e., autoregressive models) has a problem when decoding a long sentence.
You can reduce the effect by using `use_att_constraint`.
Or you can use non-autoregressive models such as fastspeech2 to solve the issue.

[2021-02-05 07:43] kan-bayashi commented on #2919
If you can prepare the `durations` files using the other tool (e.g., force alignment), you can do it.

[2021-02-05 08:15] okkteam commented on #2606
@zrsjta Hi,
I want to know whether the 7.8%/8.9% CER obtained on aishell-1 dev/test set is trained by `vgglstmp` encoder instead of `vggblstmp`?

I have tuned an RNN-T model with encoder `vgglstm`, 8 layers, 1024 hidden, and decoder `lstm`, 2 layers, 1024 hidden. The final train/valid loss around 0.7/8.23 at epoch 18, and got much worse CER.

[2021-02-05 08:59] evelynyhc opened #2945 "tts_inference"
great work! i have a question, when i want to infer my trained models(vctk), i have this problem:
"tts_inference.py", line 137, in __call__
    raise RuntimeError("missing required argument: 'speech'")
RuntimeError: missing required argument: 'speech'

please tell me how to solve it, thanks!

[2021-02-05 09:02] kan-bayashi commented on #2945
Please provide code snippet to reproduce your error.
I could not find the reason without them.

[2021-02-05 09:11] evelynyhc commented on #2945
![image](https://user-images.githubusercontent.com/31717612/107012993-be65c380-67d4-11eb-8789-e23b3115ef86.png)
i write cmd like this, when i print wav=text2speech("Hello World")[0]
the error raised, i do not know what is the problem?

[2021-02-05 09:12] kan-bayashi commented on #2945
Please try colab at first.
You can understand.
https://colab.research.google.com/github/espnet/notebook/blob/master/espnet2_tts_realtime_demo.ipynb

[2021-02-05 09:12] #2945 closed

[2021-02-05 10:10] FaridHaziyev commented on #2935
Thank you very much. As a workaround I am splitting to sentences then applying the model and it works well. I will give fasstspeech2 a try.

[2021-02-05 10:25] FaridHaziyev opened #2946 "Different results when vocoder model is loaded"
Below code snippet is from E2E-TTS demo colab. When I load the vocoder, then results of the tacotron model changes. I think this may be something about pytorch, but I tried it in a different scenario. I do not use vocoder but use grifin lim algorithm for mel2wav, and test what wil happen if I load the vocoder model or not. When I just load the vocoder model but do not use it, results changed, comp

[2021-02-05 13:20] renepeinl commented on #2630
Hi,
we have two machines with 2x Titan RTX 24 GB GPU each. Do you see a way for us to train the Conformer model? We have a NVLink bridge for both machines, and Pytorch is supporting [Model Parallel training](https://pytorch.org/tutorials/intermediate/model_parallel_tutorial.html). A naive approach would think, that you simply have to cut the Conformer model in half and transfer the outputs of the

[2021-02-05 14:23] b-flo commented on #2606
FYI: It seems using multi GPUs results in some degradation from my recent experiments. I usually train with a single GPU so I didn't pay attention but with all the changes we may have introduced a bug somewhere impacting that. I'll investigate.

What about performance with the parameters he mentioned? Also, did you modify `accum-grad` according to the number of GPUs used?

[2021-02-05 14:45] okkteam commented on #2606
I use 1 GPU and `accum-grad=1`.
He used the uni-directional RNN Transducer model and got an 8.9% CER on Aishell-1 test set. According to my fine-tuning experience, I only get nearly result on the bi-directional RNN-T model with `4-layer 512-unit blstmp` encoder ,`1-layer 512-unit lstm` decoder and employed speed-perturbed.

[2021-02-05 14:45] okkteam commented on #2606
I use 1 GPU and `accum-grad=1`.
He used the uni-directional RNN Transducer model and got an 8.9% CER on Aishell-1 test set. According to my fine-tuning experience, I only get nearly result on the bi-directional RNN-T model with `4-layer 512-unit blstmp` encoder ,`1-layer 512-unit lstm` decoder and employed speed-perturbed.

[2021-02-05 15:13] okkteam commented on #2606
It's my pleasure to help!

[2021-02-05 19:12] sw005320 commented on #2630
This issue is about conformer ASR.
I suggest you make a new issue.
Also, we usually don't support the model parallel training.

[2021-02-06 18:15] pyyush opened #2947 "[Question] Shouldn't pred_pad be probabilities before applying argmax ?"
# e2e_st_transformer.py
line 225 - 237
- criterion (LabelSmoothingLoss) applies log_softmax to pred_pad inside but th_accuracy and error_calculator don't and directly apply argmax!
 `loss_att = self.criterion(pred_pad, ys_out_pad)`
 `self.acc = th_accuracy(pred_pad.view(-1, self.odim), ys_out_pad, ignore_label=self.ignore_id)`
 `ys_hat = pred_pad.argmax(dim=-1)`
  `self.bleu = self.error_calculato

[2021-02-07 12:07] evelynyhc opened #2948 "continue training"
hello, i am a new student in tts, and i want to train a multi-speakers by vctk, but i have some problems.
when i stop the training, i got some .pth , but i want to continue training, how can i use the pretrained models to continue it?

[2021-02-07 12:13] kan-bayashi commented on #2948
You can continue the training by re-running from stage 6, e.g., `run.sh --stage 6`.

[2021-02-07 12:13] #2948 closed

[2021-02-07 12:14] #2935 closed

[2021-02-07 12:16] kan-bayashi commented on #2946
See
https://github.com/espnet/espnet/issues/2647
https://github.com/espnet/espnet/issues/2875

[2021-02-07 12:16] #2946 closed

[2021-02-07 12:17] #2944 closed

[2021-02-07 12:39] evelynyhc commented on #2948
but i want to use my pretrained models, like 100epoch.pth, where should  i add it?

[2021-02-07 12:42] kan-bayashi commented on #2948
The training will continue from the latest epoch automatically.

[2021-02-07 12:59] evelynyhc commented on #2948
if i want to use the  specific model, how can i do it? thank you

[2021-02-07 13:13] kan-bayashi commented on #2948
Only the latest checkpoint can be used for the resume because the other .pth file does not include optimizer states. If you want to initialize the model parameters, please use init_param option.
https://espnet.github.io/espnet/espnet2_training_option.html#transfer-learning-fine-tuning-using-pretrained-model

[2021-02-07 13:39] evelynyhc commented on #2948
ok, i got it, thanks for your reply, and it's a great work!

[2021-02-07 13:39] evelynyhc commented on #2948
ok, i got it, thanks for your reply, and it's a great work!

[2021-02-08 07:05] FaridHaziyev commented on #2946
Actually I set the manual seed, and it gives same results each time but what I want to say is when I load the vocoder model, it changes the seed or something else happens and results changes. I do not use vocoder model, I just load it and it changes the result of the tacotron model.

In another scenario I do the char2mel at first then load the vocoder model and it gives the best result. Then I loa

[2021-02-08 08:57] FaridHaziyev commented on #2946
What I see is that when I load vocoder model it changes the tacotron model

[2021-02-08 09:18] kan-bayashi commented on #2946
I could not understand the meaning of `but not as good as the first scenario`.
The latter one seems the best way to fix the seed.

[2021-02-08 09:19] FaridHaziyev commented on #2946
First scenario is I apply tacotron model then load vocoder and apply vocoder model.

[2021-02-08 09:23] FaridHaziyev commented on #2946
I want to find what configuration is changed when I load the vocoder model

[2021-02-08 09:24] kan-bayashi commented on #2946
Why do you need to load the model every time?
I could not imagine. Why don't you fix the seed again?

[2021-02-08 09:26] FaridHaziyev commented on #2946
Even when I fix the seed again, results are not the same, they are changed.

[2021-02-08 09:27] FaridHaziyev commented on #2946
Loading again means, load tacotron apply it then load vocoder and apply

[2021-02-08 09:27] kan-bayashi commented on #2946
Please share the code to reproduce.

[2021-02-08 09:30] kan-bayashi commented on #2946
The randomness came from
- Dropout of Prenet in Tacotron2
- Input noise if you use PWG

[2021-02-08 09:34] FaridHaziyev commented on #2946
first one is like this :

`def char2mel(texts):
    set_deterministic_pytorch(Namespace(**{"seed":1, "debugmode":1}))
    idim, odim, train_args = get_model_conf(model_path)
    model_class = dynamic_import(train_args.model_module)
    model = model_class(idim, odim, train_args)
    torch_load(model_path, model)
    model = model.eval().to(device)

    mels = []
    with torch.no_grad():
        f

[2021-02-08 09:37] FaridHaziyev commented on #2946
second is like :
[code]

[2021-02-08 09:42] kan-bayashi commented on #2946
Please write the code to reproduce the error.

e.g.
[code]

[2021-02-08 09:46] kan-bayashi commented on #2946
I could not reproduce.
https://gist.github.com/kan-bayashi/0a4911719ca04e73f378b45c335c2dc4

[2021-02-08 10:21] FaridHaziyev commented on #2946
[code]

[2021-02-08 10:21] FaridHaziyev commented on #2946
I think my problem was this. This way assertion fails

[2021-02-08 10:32] kan-bayashi commented on #2946
This seems reasonable because you define the model after setting seed.
When initializing the model, the random initialization will be performed.
Therefore, the seed will be updated.
You need to fix the seed just before inference.

[2021-02-08 11:11] FaridHaziyev commented on #2946
thank you very much

[2021-02-08 12:30] lnalborczyk commented on #2931
NB: I also get the same error with the corpus phonetised by myself...

[2021-02-08 12:39] kan-bayashi commented on #2931
You may not be able to use word LM for phoneme.

[2021-02-08 13:35] lnalborczyk commented on #2931
Why is that? It seems to work well in other recipes...

[2021-02-08 13:39] kan-bayashi commented on #2931
Actually there is no ASR recipe using phoneme. Please use char LM.

[2021-02-08 13:51] lnalborczyk commented on #2931
Thanks for your answer. Sorry if that is a newbie question, but how can I disable the LM?

[2021-02-08 14:00] kan-bayashi commented on #2931
Remove lm related options here
https://github.com/espnet/espnet/blob/46f1e6b9ea9d2edd002690719e07cc5b97c7e4ac/egs/ljspeech/asr1/run.sh#L225-L229

[2021-02-08 15:07] renepeinl opened #2949 "Conformer-TTS with Model-parallel Training on 24 GB GPUs"
**Describe the bug**
Hi,
it's more an issue than a bug. We have two machines with 2x Titan RTX 24 GB GPU each. Do you see a way for us to train the Fastspeech2 Conformer model?
You specified, that you need at least 32 GB of Videoram for the model to train.
However, the Pytorch documentation sounds as if it wasn't too hard to link two GPUs in order to let larger models fit into the RAM of the GPU.

[2021-02-08 15:08] renepeinl commented on #2630
Thanks. I've done as you recommended.
https://github.com/espnet/espnet/issues/2949

[2021-02-09 00:37] kan-bayashi commented on #2949
Reduce `batch_bins` and increase `accume_grad`.
You can refer this config, which requres only 12 GB.
https://github.com/espnet/espnet/blob/46f1e6b9ea9d2edd002690719e07cc5b97c7e4ac/egs2/jsut/tts1/conf/tuning/train_conformer_fastspeech2.yaml#L91

[2021-02-09 00:37] #2949 closed

[2021-02-09 00:39] #2919 closed

[2021-02-09 00:39] #2943 closed

[2021-02-09 00:40] kan-bayashi commented on #2891
Maybe this issue is solved. I will close this issue.

[2021-02-09 00:40] #2891 closed

[2021-02-09 00:40] #2862 closed

[2021-02-09 19:43] PrathamSoni opened #2952 "Changes in original Torch SpecAugment"
Hello!

There's a pretty significant bug in the original repo by zcaceres. I've currently put up a PR for it on that repo and thought you all may be interested in that. Briefly, the process of choosing fitting points differs significantly from the original TF implementation.

I believe it's in https://github.com/espnet/espnet/blob/1f0baf29a3bba6f9740ff0da93b97af64a411882/espnet/utils/spec_augment.

[2021-02-09 21:26] sw005320 commented on #2952
Thanks for the variable information.
@bobchennan, could I ask you to take a look at this?

[2021-02-09 21:30] sw005320 commented on #2947
@hirofumi0810, could I ask you to comment on this question?

[2021-02-10 02:15] hfujihara opened #2953 "minlenratio may not be working as intended"
Hi,

Please correct me if I am wrong as I am not 100% sure about this and I might have missed something.

I encountered a case the decoder outputs very short results in ASR inference even when I set `minlenratio` to hight value.
I looked into the `espnet/blob/master/espnet/nets/beam_search.py` and found that, after `minlen` variable was calculated from `minlenratio` and logged like
https://github.

[2021-02-10 03:46] sw005320 commented on #2953
Oh, I think you're right...
@ShigekiKarita, can you make time to fix this?

[2021-02-10 07:37] weiyengs opened #2954 "How to use ESPNET2 to build a model using as a library?"
I see that there are examples for ESPNET1, are there any example notebooks for ESPNET2?

Looking to train a ASR model from scratch..

Thanks!

[2021-02-10 10:14] lnalborczyk opened #2955 "[Question] Randomised train/dev/test split for cross-validation"
Hi,

I am working with a clone of the ljspeech ASR recipe (egs/ljspeech/asr1). I would like to randomly split the available data in train/dev/test sets. In the `./run.sh` of this recipe, the dev set is currently made as follows:

https://github.com/espnet/espnet/blob/fcf20cc33acd09b8ae80c88703aee0b755ed7652/egs/ljspeech/asr1/run.sh#L90-L95

Where `./utils/subset_data_dir.sh` is used to pick the `-

[2021-02-10 11:40] hirofumi0810 commented on #2947
@pyyush This is not a speech translation specific question.
First of all, the current implementation is correct.
When calculating accuracy and task specific error rate (e.g., WER, BLEU), we pick up the best token id at each output timestep.
The score order in logits is the same as (log) probabilities.
Therefore, `log_softmax` operation is not necessary.
This is true when using greedy decoding as w

[2021-02-10 13:45] sw005320 commented on #2955
Probably you can find a better way, but how about making a shuffled list by yourself (e.g., using https://github.com/kaldi-asr/kaldi/blob/master/egs/wsj/s5/utils/shuffle_list.pl)?
Then, by using `utility/subset_data_dir.sh --utt-list` (https://github.com/kaldi-asr/kaldi/blob/master/egs/wsj/s5/utils/subset_data_dir.sh#L30), you can shuffle the list more explicitly.

[2021-02-10 13:47] lnalborczyk commented on #2955
Oh great, thank you! I did not notice the `--utt-list` option in `utils/subset_data_dir.sh`...

[2021-02-10 13:49] sw005320 commented on #2955
Year, this script provides several other useful options https://github.com/kaldi-asr/kaldi/blob/master/egs/wsj/s5/utils/subset_data_dir.sh#L15-L32
I think you may find a better way.

[2021-02-10 15:33] lnalborczyk opened #2956 "[Question] Using transfer learning to improve ASR on small corpora"
I would like to train an ASR (encoder-decoder) network on a very small French corpus containing around 100 sentences. To help with this task, I would like to first train a similar ASR network on a larger corpus (in French or in another language, cf. for instance the MSL corpus, https://arxiv.org/abs/2012.03411), to freeze the decoder's weights, and to use them to help with the decoding of the smal

[2021-02-10 15:40] lnalborczyk commented on #2955
Thanks! Here is my (inelegant) implementation, if it can be useful for others.

    # make a dev set
    utils/copy_data_dir.sh data/${trans_type}_train data/${trans_type}_train_full
    rm -rf data/${trans_type}_train

    # make a random list of items
    perl utils/shuffle_list.pl ${db_root}/data_p5/text > shuffled_list
    head -81 shuffled_list > shuffled_train
    tail -40 shuffled_list > sh

[2021-02-10 16:00] b-flo commented on #2956
Hi,

For transfer learning and freezing in ESPnet1, please refer to: https://espnet.github.io/espnet/tutorial.html#how-to-use-finetuning

[2021-02-10 16:56] #2956 closed

[2021-02-10 16:57] lnalborczyk commented on #2956
Perfect, thank you!

[2021-02-10 17:31] sw005320 commented on #2955
Very cool.
Thanks!

I think this deterministic way is intentional to get the same result for every experimental trial. `utils/shuffle_list.pl` accepts a random seed number `--srand`, and you can change this number to get different shuffled results but still we can keep the reproducibility if we use the same set of the seed numbers.

[2021-02-10 17:31] #2955 closed

[2021-02-11 01:24] sunasu91 opened #2958 "TTS Phone/Token boundaries?"
Hi,

I have built an English TTS system on LJSpeech (Tacotron2 model). Is there a way to get the phone level boundaries of the trained files? Token ID boundaries work too.

I could not figure out how to extract these boundaries. Can you please help?

[2021-02-11 18:06] pyyush commented on #2947
@hirofumi0810 Thanks for your explanation.

[2021-02-11 18:06] #2947 closed

[2021-02-12 03:20] navta commented on #2200
Hi, I'm looking for a recipe to reproduce Table 6 in your "ESPNET-SE: END-TO-END SPEECH ENHANCEMENT AND SEPARATION TOOLKIT DESIGNED FOR ASR INTEGRATION" paper.

I know the joint training with ASR task is PRing here. Just wondering if there is a working recipe in another place.

Thanks !

[2021-02-12 04:59] Emrys365 commented on #2200
Hi @navta, you could find an old version of recipes [here](https://github.com/LiChenda/espnet/tree/develop_rebased).

[2021-02-12 09:06] lnalborczyk commented on #2956
I am not sure I understand how to apply freezing and/or transfer learning in practice from the documentation alone. Is it as simple as executing `./run.sh --dec-init-mods=model.loss.best`?

Is there any example in the recipes?

[2021-02-12 09:21] b-flo commented on #2956
In general, options are passed to `asr_train.py` through training configs. Basically to transfer all modules weights from a pre-trained decoder you should put in your yaml file:

[code]

[2021-02-12 11:23] lnalborczyk commented on #2956
Thank you very much for your detailed answer! It helps a lot.

Similarly, is it possible to use a pre-trained LM during decoding? Is there any implementation example?

[2021-02-12 12:06] b-flo commented on #2956
Sorry, do you mean using a LM during decoding or using a pre-trained LM to finetune a model part (e.g.: transducer decoder/prediction net)?

For the first question, yes most models support decoding with a LM (shallow fusion). For the second one, it was disabled recently because of some changes and need to be updated.

[2021-02-12 12:24] lnalborczyk commented on #2956
Sorry for not being clear enough. Here is some context.

The context is the same as detailed at the top of this issue. I have trained on network (and a LM) on a large French ASR corpus.

Now I want to use both 1) the decoder from previous stage to help decoding a smaller corpus and 2) use the LM trained at previous stage to help with the decoding of the smaller corpus.

Thanks to you, I now know h

[2021-02-12 15:03] b-flo commented on #2956
It seems you want to decode a small corpus with a LM trained on another big corpus? If so, you only need to add `--rnnlm [lm_path]` (or `--word-rnnlm ...`) argument to ` asr_recog.py` in your run script.
If you want to do transfer learning between LM, sorry I'm not sure we are supporting the operation. But it would be easy to do as finetuning methods are model independent (see: https://github.com/

[2021-02-12 16:13] lnalborczyk commented on #2956
That's exactly what I am trying to do, thanks!

[2021-02-12 17:04] karkirowle opened #2961 "Speeding up decoding (batch decoding?)"
I'm writing because would like to speed up/parallelise the decoding a bit, and I'm stuck with it.

(1) I tried with the espnet_model_zoo interface and it takes between 7 to 11 seconds on a GeForce RTX 3090
Python multiprocessing makes it only a tiny bit faster (2-2.5 hour in total for 2000 utterances). Ideally, what I'm aiming for is to be able to do 2000 5-10 seconds long utterances within an hou

[2021-02-12 17:49] akreal opened #2962 "Zenodo Upload "Validation error""
Hello! I've set my `ACCESS_TOKEN` and try to upload a model, but get some "Validation error":

[code]

Does anybody know what is the problem?

[2021-02-12 20:55] sw005320 commented on #2962
Thanks, @akreal for the report.
I have recently uploaded models (one week ago), and I did not encounter such issues...
Was it stopped always with this error?

[2021-02-12 21:45] akreal commented on #2962
Yes, I tried several times and it was always this error.

[2021-02-13 01:40] kamo-naoyuki commented on #2962
Probably, the meta data has some problems. Could you print this value?

https://github.com/espnet/espnet_model_zoo/blob/893a934d260a91238efdc481b10870fda389f98e/espnet_model_zoo/zenodo_upload.py#L76

[code]

[2021-02-13 01:43] kamo-naoyuki commented on #2962
Otherwise, could you try with commenting this line?

https://github.com/espnet/espnet_model_zoo/blob/893a934d260a91238efdc481b10870fda389f98e/espnet_model_zoo/zenodo_upload.py#L163

[code]

[2021-02-13 11:27] ShreyaKhare opened #2964 "Initializaing Language model for RNN-Transducer"
I am trying to initialise the  RNN-decoder using pre-trained language model with a similar architecture (dlayers, dunits) .
I get following warning messages :
[code]
It seems the initalization is not correct, It will be great if somebody can point to sample configuration to do the same.
Thanks

[2021-02-13 11:32] b-flo commented on #2964
Hi,

Sorry, we made some changes in the transducer decoder and decoder initialization with a pre-trained LM is disabled currently. I'll fix that as soon as possible.

[2021-02-13 16:06] akreal commented on #2962
I tried to print the whole response:
[code]

Relevant part of the meta data:
[code]

[2021-02-13 17:20] kamo-naoyuki commented on #2962
@sw005320 Why you deleted espnet community on zenodo? It causes this error.

[2021-02-13 19:53] sw005320 commented on #2962
I actually cannot login to the zenodo.
Something seems to happen.
I’ll try another way.

[2021-02-14 03:20] tz579 commented on #2200
Dear Authors,

Is there any working recipe(s) in the https://github.com/LiChenda/espnet/tree/develop_rebased that uses the neural beamformer as the SE model? Either joint SE-ASR or standalone SE recipe is OK for me.

Thanks!

[2021-02-15 14:07] kamo-naoyuki commented on #2962
@akreal Now I removed the item from metadata. Please update espnet_model_zoo

[code]

Sorry for the inconvenience.

[2021-02-15 18:57] akreal commented on #2962
Now it worked. Thanks for you help!

[2021-02-15 18:57] #2962 closed

[2021-02-15 19:17] siddalmia opened #2970 "Old Docker Version failing recog_wav.sh due to a recent commit to support RNN-T decoding"
The BeamSearchTransducer function in https://github.com/espnet/espnet/blob/master/espnet/asr/pytorch_backend/asr.py#L38

causes old docker versions to fail which do not have espnet-2 installed.

@b-flo for the time being would it be okay to move this to - https://github.com/espnet/espnet/blob/master/espnet/asr/pytorch_backend/asr.py#L991

It seems like it's being used only for the RNN-T decoding.

[2021-02-15 19:47] b-flo commented on #2970
If I understand the issue correctly, it is caused by : [AbsDecoder](https://github.com/espnet/espnet/blob/master/espnet/nets/beam_search_transducer.py#L48) and its import from espnet2 (`from espnet2.asr.decoder.abs_decoder import AbsDecoder`), right?

If so, it should be line should be replaced by `decoder: Union[TransducerDecoderInterface, torch.nn.Module]` and import by `from espnet.nets.transdu

[2021-02-15 23:23] sw005320 commented on #2961
Batch decoding across the utterance is not supported yet in our current beam search functions (API v2)
Old beam search (API v1) has such functions.
We will develop this batch decoding but it would not be in the near future.

Note that I often use CPU multiple jobs (espnet recipe usually supports it), which is more efficient in terms of utilizing both CPU and GPU resources.

[2021-02-16 02:45] Emrys365 commented on #2200
Hi @tz579 , sorry for the late response. You could run egs2/chime4/enh1 and egs2/whamr/enh1 (set training, validation, adn evaluation sets to "*_single_*") for beamforming based SE. The joint SE-ASR for single-speaker is not yet tested.

[2021-02-16 07:54] b-flo commented on #2824
Hi,

Sorry it seems I missed this issue... It's fixed in #2932!

[2021-02-16 07:54] #2824 closed

[2021-02-16 07:59] karkirowle commented on #2961
Thanks for your reply. Looking forward to the added feature.

"Note that I often use CPU multiple jobs (espnet recipe usually supports it), which is more efficient in terms of utilizing both CPU and GPU resources."

I had a deeper look and I realise that it can be indeed parallelised by rewriting in utils/recog_wav.sh

 ${decode_cmd} ${decode_dir}/log/decode.log \
 ${decode_cmd} JOB=1:${nj} ${expd

[2021-02-16 08:05] #2867 closed

[2021-02-16 08:05] #2851 closed

[2021-02-16 08:05] #2835 closed

[2021-02-16 08:05] #2857 closed

[2021-02-16 08:06] #2711 closed

[2021-02-16 08:07] #2771 closed

[2021-02-16 08:07] #2773 closed

[2021-02-16 08:08] #2690 closed

[2021-02-16 08:11] #2603 closed

[2021-02-16 08:11] #2573 closed

[2021-02-16 08:13] #2449 closed

[2021-02-16 08:13] #2423 closed

[2021-02-16 08:21] #2553 closed

[2021-02-16 10:17] renepeinl commented on #2949
Thanks a lot. Your recommendation worked for us. Great tool.

[2021-02-17 04:17] ArkhamImp commented on #2487
I think I can help with the demo for VC if you need.

[2021-02-17 13:29] sw005320 commented on #2487
@kan-bayashi, what do you think?
I remember that you were working on VC in espnet2.
It would be great if you share your status.

[2021-02-17 23:41] #2970 closed

[2021-02-18 05:34] Wenlong-Y opened #2983 "How to synthesize with different voices with pretrained/localled trained models"
I am wondering whether I can use any pretrained model to generate speeches with difference voices. I tried libritts.wavenet.mol.v1 and libritts.tacotron2.v1 pretrained model and they work well. But I don't know how to input speaker's information so I can get speeches with different voices.

I also trained the libritts model  for 30 epocs on my own machine. Could you tell me how I can use the model

[2021-02-18 09:45] kan-bayashi commented on #2983
You can check the following script:
https://github.com/espnet/espnet/blob/master/utils/synth_wav.sh

To change the speaker, we need to extract x-vector from the reference speech.
In ESPnet2, I prepared multi-speaker demo.
https://colab.research.google.com/github/espnet/notebook/blob/master/espnet2_tts_realtime_demo.ipynb
Please check it.

[2021-02-18 09:45] #2983 closed

[2021-02-18 10:04] KAIMAN0 opened #2984 "`TypeError: plotfn() takes from 4 to 6 positional arguments but 7 were given` in Transformer-TTS"
**Describe the bug**
TypeError when train the egs/vcc20/vc1_task1/ also in egs/arctic/vc1/

**Conda environments:**
 - OS information: Ubuntu 18.04
 - python version: 3.7
 - espnet version: 0.9.7
 - Git hash [f1ad94ec49ccb61bcfba0175ae234609cee292a8]
   - Commit date [Thu Feb 18 04:09:51 2021 +0000]
 - pytorch version: 1.7.1
 - chainer version: 6.0.0

**Task information:**
 - Task: [TTS/VC]
 - Rec

[2021-02-18 12:02] kan-bayashi commented on #2984
Thank you for your report.
I reproduced this error. I will fix it.

[2021-02-18 16:56] #2964 closed

[2021-02-18 22:58] Huang17 opened #2989 "Pre-trained model for Streaming Transformer ASR"
@eml914  I noticed the Streaming Transformer ASR model has been merged into master branch. I am wondering if there are available pre-trained models for English and Chinese?

[2021-02-19 01:07] eml914 commented on #2989
Thank you for the question.  Our previous work was done in another implementation and the merged implementation is a re-written version for espnet2.  So unfortunately there is no available pre-trained model for espnet2 yet.

[2021-02-19 02:25] Huang17 commented on #2989
I see, thanks for your quick reply!

[2021-02-19 02:26] #2989 closed

[2021-02-19 02:28] sw005320 commented on #2989
If I have time, I’ll make some pre-trained models. I’ll discuss it with @eml914 internally.

[2021-02-19 02:33] ly1984 commented on #2849
@kan-bayashi because Mandarin is character bases, the model did not get the right prosody, for example, the pronunciation  of  "Monday" sound like "Mon" long pause "day".

@wac81 you need to re-train the fastspeech2-conformer model.
two methods to solve this problem
1：
1) change #1 #2 #3 #4 to # in data.sh
2)modify pypinyin_g2p_phone in phoneme_tokenizer.py to accept # as a token
3)when synthesis,

[2021-02-19 04:16] Wenlong-Y commented on #2983
Thanks a lot for the answer!

I tried the multi-speaker demo. It works well! I can generate speeches of difference voices by choosing from the list of speakers.

However, the reference speech doesn't seem to change the result much.

If I understand correctly, if I want the machine to generate speech with my own voice. I need to record an audio of myself with 24,000Hz mono and use this file as a re

[2021-02-19 04:53] kan-bayashi commented on #2983
Your insight is right.
If the model uses x-vector (i.e.s, spembs) + GST (extracted from reference speech), x-vector is dominant on the decision of speaker characteristics.
The demo does not support the extraction of x-vector since it requires kaldi.
It was a little bit complicated, but you can follow the following parts to extract x-vector.
https://github.com/espnet/espnet/blob/2cfecaf70a2d2826e43

[2021-02-19 05:33] rs-lin opened #2990 "the state-of-the-art model for TTS"
Hi,

I have been trying to generate audio from text with pertained models and this is by far the best open-source library for TTS I have found online. I really appreciate your effort.

I noticed that there're some differences between the audio generated by ESPnet and, say by Google Cloud's (https://cloud.google.com/text-to-speech) when given the same text. For example, if the text is something lik

[2021-02-19 06:45] Temicia opened #2991 "Different result on same model"
I want same result when running same code. But, sometimes I get different result on same code (I don't change any code)
In results/log, initial log is same. However, The loss was starting to change different from each other in random iter. and then printed different result

###  first log

        "main/loss_ctc": 35.50965264320374,
        "main/loss_att": 6.756946347951889,
        "main/acc": 0

[2021-02-19 06:57] eml914 commented on #2989
I'm currently making aishell model but for librispeech it would take some time.  I will let you know if I finished.

[2021-02-19 08:24] wac81 opened #2992 "how to retrain just with LM model in asr.sh"
how to retrain just with LM model in asr.sh

[2021-02-19 09:53] wac81 commented on #2849
This only happens in some cases，same word in sentences is different interword pause，some of the normal

#1 #2 #3 #4 can fix some of situation， but for new sentence Is it still in effect？

[2021-02-19 10:36] wac81 commented on #2990
may be comformer fastspeech2 model, but i think it's not difference from fastspeech2

[2021-02-19 12:53] sw005320 commented on #2989
Thanks! I think aishell and librispeech are enough for now, but if you need some help, please let me know.

[2021-02-19 13:57] WanderingSven opened #2995 "UnicodeDecodeError: 'utf-8' codec can't decode byte 0xd1 in position 0: unexpected end of data"
Hello, everyone:
       I am using LribriTTS recipe(https://github.com/espnet/espnet/blob/master/egs/libritts/tts1/conf/train_pytorch_tacotron
2%2Bspkemb.yaml) on espnet 1 to train a TTS model. I use 8 V100 GPUs server and use "pip install espnet" command to install the python environment. I executed the "dump.sh" file correctly. However, When I set "num_iter_processes" as 0, after training severa

[2021-02-19 16:43] sw005320 commented on #2991
Hi @Temicia, thanks for the report.
It is actually a known issue.
We were trying to make them at least in the first forward computation or inference, but the backpropagation part cannot be well handled.
That means that unfortunately, we'd have some variance in the final performance, but at least the inference part is deterministic.
Also, the first forward part is deterministic and you could debug

[2021-02-19 18:14] sw005320 commented on #2992
how about `./run.sh --stage 7 --stop_stage 8`?

[2021-02-19 20:58] Huang17 commented on #2989
Aishell and librispeech are good enough! Thanks for help again! @sw005320  @eml914

[2021-02-20 06:00] gafsd opened #2998 "Using mel spectrogram in different vocoders"
Hello I am using ESPNet2 and trying to feed the mel spectrogram I get from FS2 into different vocoders (not PWG). But the output of the spectrogram is not going into the other vocoders properly even if I use the right fmax and fmin. Is there some denormalisation I need to do? I have tried using both the spectrogram and the denormalised spectrogram I get from calling the text2speech model

[2021-02-20 13:53] rajeevbaalwan commented on #1370
Have you observed the effect when we reduce nbpe or moving towards character based ASR ?

[2021-02-21 08:43] ahmedalbahnasawy commented on #1370
@rajeevbaalwan not observe any improvement. Character based model suffers from contextual informations.

[2021-02-21 10:19] zyzpower opened #3003 "No module named espnet.utils.cli_utils"
I have a bug when I run asr transformer stage 5 decoding.
utils/splitjson.py", line 20, in <module>
    ImportErrorfrom espnet.utils.cli_utils import get_commandline_args
: No module named espnet.utils.cli_utils

**Basic environments:**
 - OS information: Linux 3.10.0-327.ali2012.alios7.x86_64 #1 SMP Mon Oct 9 14:09:14 CST 2017 x86_64
 - python version: 3.6.8
 - espnet version: 0.4.0
 - Git hash f

[2021-02-22 01:36] Temicia commented on #2991
Thank you for reply
One computer has different result, but the other has same result result on same script.
Can it be different for each computer?

And sometime CTC loss was negative in pytorch 1.6.0. When I use pytorch 1.0.1, this problem did not occur.

### train.log

    {
        "main/loss_ctc": 86.15477745056153,
        "main/loss_att": 26.781768016815185,
        "main/acc": 0.922490809535

[2021-02-22 02:46] wac81 commented on #2992
how can I just create new text train data without audio?

[2021-02-22 03:27] #2984 closed

[2021-02-22 16:21] sw005320 commented on #3003
Which recipe did you use?

Also, could you confirm that the path is correctly set?
(It's usually done correctly if you follow https://espnet.github.io/espnet/installation.html)

[2021-02-22 16:26] sw005320 commented on #2991
Yes, it happens.

For our record, could you share which GPU card, CUDA version, CuDNN version, and PyTorch version did you use?
(If you follow our bug report template (https://github.com/espnet/espnet/issues/new/choose), you can get such information).

[2021-02-23 03:03] zyzpower commented on #3003
I use librispeech. How to check if the path is correctly set? Actually previously my program has no such problem, not too sure what happened...

[2021-02-23 04:29] Temicia commented on #2991
I use

espnet version 0.9.7
pytorch 1.6.0
CUDA 10.1
GPU 1080 Ti
CuDNN 8.0.4

Thank you

[2021-02-23 06:30] keshawnhsieh opened #3007 "conformer asr model meets bottleneck on larger dataset"
By doing experiment on internal English asr dataset (~3000h), we see conformer based end-to-end model doesn't perform better than vanilla transformer based model.

Does anyone see such similar phenomenon?

[2021-02-23 12:29] sw005320 commented on #3007
The conformer model is more difficult to tune.
If it is well tuned, you may get better performance than transformer, but I believe the difference is not very large.

[2021-02-23 13:51] kan-bayashi commented on #2995
Why don't you update kaldiio?
[code]

[2021-02-23 13:56] kan-bayashi commented on #2998
Maybe the base of log is different.
This thread will help you.
https://github.com/kan-bayashi/ParallelWaveGAN/issues/169#issuecomment-649320778

[2021-02-23 14:00] kan-bayashi commented on #2958
Sorry for late reply.
You can find `durations` file in the decoding directory.
The file represents the number of frames of each input token.

[2021-02-23 14:36] gafsd commented on #2998
I tried this but not working
[code]

[2021-02-23 14:41] kan-bayashi commented on #2998
c is normalized one.
You should use denormalized one to normalize with another stats.
And the base of log is 10.
See
https://github.com/espnet/espnet/blob/6e1c4dd5fb08f2d8d838cf631ac4dcc7c3f11b1b/espnet2/tts/feats_extract/log_mel_fbank.py#L68

[2021-02-23 14:43] gafsd commented on #2998
Ok, I tried with denormalized one but not work and I used log10 in code?

[2021-02-23 14:45] kan-bayashi commented on #2998
We use log10 but maybe the other impl use ln.

[2021-02-23 14:46] kan-bayashi commented on #2998
Please carefully check both codes.

[2021-02-23 14:57] gafsd commented on #2998
Hm, seems to use magnitudes direct at least in this one?
https://github.com/rishikksh20/TFGAN/blob/main/utils/stft.py#L154
https://github.com/rishikksh20/TFGAN/blob/master/model/generator.py#L62

[2021-02-23 15:01] kan-bayashi commented on #2998
Please check your code again.
We use log10 and want to change to ln.
But you used exp at first.

[2021-02-23 15:04] kan-bayashi commented on #2998
The shared comment use the other repo txt2mel and my PWG.
Your case is my txt2mel and the other impl vocoder.

[2021-02-23 15:07] gafsd commented on #2998
Yes, sorry, just noticed. So just checking: c_d is in log10?

[2021-02-23 15:12] kan-bayashi commented on #2998
Yes, as you saw in https://github.com/espnet/espnet/blob/6e1c4dd5fb08f2d8d838cf631ac4dcc7c3f11b1b/espnet2/tts/feats_extract/log_mel_fbank.py#L68

[2021-02-23 15:16] gafsd commented on #2998
Hmmm it sound bad still but not sure if it is code or vocoder training... have tried changing to various bases
[code]

[2021-02-23 15:20] kan-bayashi commented on #2998
Is this stats vocoder’s one?
If so, why did not you change the base at first before normalization?

[2021-02-23 15:22] kan-bayashi commented on #2998
You should carefully check the order of the each operation.

[2021-02-23 15:28] gafsd commented on #2998
Yes stats from PWG dataset (same data). I thought ESPnet2 c_d [base 10] -> cmvn [base 10] -> switch to ln
I will check again

[2021-02-23 15:39] kan-bayashi commented on #2998
Well, it is difficult to understand your procedure...
If the vocoder did not perform the normalization, you do not need to normalize again.

[2021-02-23 15:44] gafsd commented on #2998
Yes, I agree. But I tried doing with normalized before
[code]
gives me https://www.dropbox.com/s/yw7a0kkm18xrghn/out.wav?dl=1
nearly can make out sound but seems wrong

[2021-02-23 15:46] WanderingSven commented on #2995
Because the version of Kaldiio is already the latest version @kan-bayashi

[2021-02-23 15:48] WanderingSven commented on #2995
The version of espnet is 0.9,7
Downloading espnet-0.9.7-py3-none-any.whl (723 kB)
2021-02-23T14:50:42.000Z /container_e136_1612860010045_3658_05_000002: Requirement already satisfied: tensorboardX>=1.8 in /opt/conda/envs/pytorch-py3.7/lib/python3.7/site-packages (from espnet) (2.0)
2021-02-23T14:50:42.000Z /container_e136_1612860010045_3658_05_000002: Collecting espnet-tts-frontend
2021-02-23T14:5

[2021-02-23 15:51] kan-bayashi commented on #2998
Why did you use c?

[2021-02-23 15:53] gafsd commented on #2998
Both c and c_d sound mostly the same. I tried both.

[2021-02-23 15:55] lnalborczyk opened #3009 "[Question] Creating a phoneme/character confusion matrix from result.txt"
Hi,

I am wondering whether there already exists a script (in ESPnet or elsewhere) allowing to produce a phoneme/character confusion matrix similar to the one below, from the content of the `exp/.../result.txt` file that is generated by ESPnet?

![image](https://user-images.githubusercontent.com/10812999/108866037-1b92af00-75f4-11eb-9ccc-fd307f90bd06.png)

I have came across [this script](https://

[2021-02-23 15:56] kan-bayashi commented on #2998
I give up today. Please find out by yourself.
If the melspc impl is the same as https://github.com/kan-bayashi/ParallelWaveGAN/issues/169#issuecomment-649320778, you can do it theoretically.

[2021-02-23 15:57] gafsd commented on #2998
Ok, thank you very much for trying to help. I will keep looking. It must be possible theoretically since all these vocoders accepts mel input.

[2021-02-23 16:06] sw005320 commented on #3009
We cannot use exactly the same ways since it is not easy to get an alignment in an end-to-end model.
However, you can play with `sclite`, which we use as our default scoring toolkit, to get some confusion errors (see page 9 in http://www.cs.columbia.edu/~julia/courses/CS4706/asreval.pdf)

[2021-02-23 16:10] sw005320 commented on #3003
Could you try to re-install espnet by following the instruction?
`espnet.utils.cli_utils` do exist in
https://github.com/espnet/espnet/blob/master/espnet/utils/cli_utils.py#L13
I actually don't know why it happens.

[2021-02-24 02:17] Guapi1997 commented on #2160
hi, you solve this problem now? I face the  problem, so want to hope some help

[2021-02-24 02:19] wac81 opened #3011 "how to train a multi-emotional vocoder？"
how to train a multi-emotional vocoder？

I have  English multi-emotional audio data, and I have a Chinese TTS model, how can I transfer emotional  to Chinese model with English data

[2021-02-24 03:51] keshawnhsieh commented on #3007
Which part should I concern when tuning conformer model?

As you mentioned some tips in [paper](https://arxiv.org/abs/2010.13956) of recent developments on espnet with conformer, LR and Conv kernel size are two main points, however I don't see any special settings in Aishell and LibriSpeech recipe related with LR.

[2021-02-24 07:33] lnalborczyk commented on #3009
Oh great, thank you! I will explore this option.

[2021-02-24 08:29] WuHao9408 commented on #2992
1. prepare your new train text (per line like "sent_id sent")
2. create  directory "dump/",  which is in the same path as "asr.sh"
 "/asr1/dump/srctexts" store train text  , "/asr1/dump/dev/text" store dev text, "/asr1/dump/test/text"  store test text.
3. ./run.sh --stage 5 --stop_stage 8 (if you want to use custom dictionary, replace token_list and start with 6)

[2021-02-24 09:49] wac81 commented on #2992
thank you, I have a question: this procedure can create a new dictionary with old train text? or just create a new dictionary with a new train set?

[2021-02-24 13:20] sw005320 commented on #3007
LR: https://github.com/espnet/espnet/blob/master/egs/aishell/asr1/conf/tuning/train_pytorch_conformer_kernel31.yaml#L36
Conv kernel size: https://github.com/espnet/espnet/blob/master/egs/aishell/asr1/conf/tuning/train_pytorch_conformer_kernel31.yaml#L48

We did not record such information in the final config to make the recipe simple, but if you check the conformed training config of the other rec

[2021-02-24 13:31] WuHao9408 commented on #2992
if you start with stage 5,  new dictionary will be created from new train text.
you had better to use dictionary from old train text,  which can keep same with acoustic model.
just start training at stage 6, and store old dictionary at "/asr1/data/token_list/char/tokens.txt", if you use "char".

the above directory  is not "dump/", the right path is "dump/fbank_pitch/", if you use "fbank_pitch"

[2021-02-24 14:49] tudor-mare opened #3013 "[ASR] Bad results on 8000hz custom dataset"
Hi,

I am currently trying to train an ASR solution based on the AN4 recipe. My dataset consists of 50hour transcribed audios sampled at 8000hz.

I tried using a small part of my dataset (1h, 1100 samples) so I experiment here and then move on the big dataset so I don't waste time, but I have problems training even on this small one.
As preprocessing I am applying a volume threshold at the start a

[2021-02-24 17:28] lnalborczyk commented on #2956
Sorry to revive this thread, but is there a way in ESPnet to transfer the decoder (as discussed abode) and to freeze the weights of the decoder for a given period of time (e.g., for the first ten epochs), before to resume to "normal" training?

[2021-02-24 23:41] sunasu91 commented on #2958
Hello,

Thank you for your reply.
However, in the directory ljspeech, I cannot find the decoding directory. I ran the recipe as is. Can you please let me know if you think I have made an error?

[2021-02-24 23:55] kan-bayashi commented on #2958
Try egs2.
https://github.com/espnet/espnet/tree/master/egs2/ljspeech/tts1
https://github.com/espnet/espnet/blob/master/egs2/TEMPLATE/tts1/README.md#how-to-run

[2021-02-24 23:55] #2958 closed

[2021-02-25 01:56] wac81 commented on #2992
thank you， i will try

[2021-02-25 10:23] tudor-mare commented on #3013
Update: I trained on full dataset with the same config as above and I get this results at the moment of writing (it still has 12 more hours to train).
![image](https://user-images.githubusercontent.com/34603830/109139156-dd1c0200-7763-11eb-8381-e7cd642a9006.png)

From what I see above I deduce that the ATT has not enough power to learn and the same for the LM model.
At the same time I find it weir

[2021-02-25 18:59] sw005320 commented on #3013
First, I don't recommend you to test your model with only one hour of training data. We cannot fully train the attention model.
I recommend you use around 15 hours of training data at least.
The voxforge Italian recipe is a similar range and also gives us a reasonable performance.
After you confirm it, you can just increase the training data.

But if I am in the same situation, I can directly use

[2021-02-25 22:47] MNCTTY opened #3017 "Error with using compute-fbank-feats.py"
Hello! I tried to use script compute-fbank-feats.py to compute fbank features from wav, and tried to use it according to its documentation https://espnet.github.io/espnet/apis/utils_py.html#compute-fbank-feats-py

as folllows:
[code]

but got an error:

[code]

wav.scp contains this text:
[code]

Does anyone have ideas how to solve this error?

[2021-02-26 01:14] qdenisq opened #3018 "Audio-to-text alignment with trained Espnet2 asr model"
Hi, can anyone tell how one does audio-to-text alignment using Espnet2? I can see there is `asr_align.py`  in Espnet and was curious if Espnet2 provides a similar interface. Thank you

[2021-02-26 01:42] sw005320 commented on #3018
Very good point!
Yes, right now, we only support it in espnet1.
@lumaku, are you interested in extending your CTC alignment to espnet2?
As you know, espnet2 is more portable and has better API, and your CTC alignment tool becomes more powerful in these regards.

[2021-02-26 03:19] Some-random opened #3019 "OneCycleLR"
Hi, I've read about OneCycleLR in this [paper](https://arxiv.org/abs/2010.13956) about Conformer in ESPNET and it looks like ESPNET has already implemented [it](https://github.com/espnet/espnet/blob/dab2092bc9c8e184c48cc6e603037333bd97dcd1/espnet2/schedulers/abs_scheduler.py#L81). I'm wondering how big of an improvement has one observed using OneCycleLR (in terms of training speed and final accura

[2021-02-26 04:46] ly1984 commented on #2849
https://github.com/Zeqiang-Lai/Prosody_Prediction

[2021-02-26 06:14] fabien-benoit-1984 commented on #2737
@tulasiram58827, @unilight There's some runtime error with [notebook](https://colab.research.google.com/gist/tulasiram58827/f9a22ba32569a476bfeb107fb1c872b4/voice_coversion_transformer.ipynb), [gist](https://gist.github.com//tulasiram58827/f9a22ba32569a476bfeb107fb1c872b4)
Screenshots:
1. [101](https://user-images.githubusercontent.com/74528656/109262640-f334cb80-7812-11eb-9e08-94977f876120.png)
`

[2021-02-26 06:27] jimbozhang opened #3020 ""can't set attribute" in lm_train.py"
**Describe the bug**
Please check the "To Reproduce" and the "Error logs" parts.

**Basic environments:**
[code]

**Environments from `torch.utils.collect_env`:**
[code]

**Task information:**
 - Task: ASR
 - Recipe: librispeech
 - ESPnet1

**To Reproduce**
Steps to reproduce the behavior:
1. move the libirispeech recipe directory: `cd egs/librispeech/asr1`
2. execute `run.sh`, without any extra a

[2021-02-26 07:15] unilight commented on #2737
Hi @fabien-benoit-1984 , I did not run the notebook, but as the error log reads, the cmvn file is missing. Can you check if it is correctly placed?

[2021-02-26 08:53] jimbozhang commented on #3020
Interim solution: downgrade `chainer` from v7.7.0 to v6.0.0.
Final solution: modify the codes to fit the latest version's chainer.

[2021-02-26 08:53] #3020 closed

[2021-02-26 09:04] gozluklufrodo opened #3021 "Female voice not as good as male voice"
I have trained the tacotron model with 3 different person voices. Male voice and the girl voice, which is very loud, gave way better results compared to the girl voice which is a little bit quiet. Is this a problem while training this model, or there could be problems in the audio dataset. I looked at the data but it seems cleaner than the other 2 datas.

[2021-02-26 10:47] #3017 closed

[2021-02-26 11:03] kamo-naoyuki commented on #3017
Sorry, this is a bug. I fixed.

[2021-02-26 11:19] MNCTTY commented on #3017
Thank you!

[2021-02-26 12:56] sw005320 commented on #3019
@pengchengguo, could you report it?
I think it is a good idea to record such trials in our issues.

[2021-02-27 10:38] pengchengguo commented on #3019
Hi @Some-random, thanks for your interest in our paper. Actually, we didn't tune many parameters and the OneCycleLR showed almost the same results as Warmup scheduler. Here are some results on Aishell-1 corpus.

| Model | Dev | Test |
| -- | -- | -- |
| Conformer (Warmup) | 4.7 | 5.2 |
| Conformer (OneCycleLR) | 4.6 | 5.1 |

It should be noted that both models are trained on ESPnet1 with `torch 1.

[2021-02-27 18:28] wac81 opened #3025 "got error: Keys are mismatched."
run this code:
`./run.sh --stage 7    --tts_exp exp/tts_train_raw_phn_pypinyin_g2p_phone  --inference_args "--use_teacher_forcing true"    --test_sets "tr_no_dev dev eval1"`

I got the error:

RuntimeError: Keys are mismatched. Text files are not sorted or not having the same keys at L2

 which files do i check?

[2021-02-28 11:35] lumaku commented on #3018
Yes, I can do that.
A small pre-trained model for English speech (librispeech/wsj), similar to wsj.transformer_small.v1 in espnet1, would be very helpful for testing. Does espnet2 currently have a similar model?

[2021-02-28 12:28] kamo-naoyuki commented on #3018
All pretrained models can be found in https://github.com/espnet/espnet_model_zoo

[2021-02-28 15:51] YoPatapon opened #3027 "Question about transducer nsc beam search"
In the implementation of nsc beam search (https://github.com/espnet/espnet/blob/master/espnet/nets/beam_search_transducer.py#L615:L616), it seems like you calculate the blank probability before local pruning which merged line 10 and line 12 of the original algorithm when n_step=1. Why is it equal to the original algorithm? In the original, V should be expanded first and then calculate the blank pr

[2021-02-28 20:39] b-flo commented on #3027
Hi,

Blank probabilities for `y'_{i}` hypothesis are computed after local pruning (see L.611-613) when `nstep` > 1. Maybe it's confusing because we don't use `\bar{V}` naming (we reuse `V`) and the same variable name is also used for beam log prob before and after local pruning (l.540 vs L.611).

I guess you mean "Why is it **not** equal to the original algorithm?" when `nstep` = 1? If so, we adde

[2021-02-28 22:32] MNCTTY opened #3028 "Runtime error while testing model on manually created fbanks"
Hello!
I try to test model `e2e_asr_conformer` on my wav files.
To create fbanks I used native espnet script from utils:
[code]

to read this file, I use the following code:
[code]
`out` is a tuple of int and tensor, so I think, that I should feed this tensor to the model, as follows:

[code]
but I got the error:
[code]

Can anyone explain me what I should do other way and why? Thank you!

[2021-03-01 04:18] kan-bayashi commented on #3025
Not sure from the log. You can try:
[code]

[2021-03-01 04:25] kan-bayashi commented on #3021
You can check the following points:
- The length of the pause
- The amount of training data
- Transcription correctness

Since we perform normalization over the training data, the amplitude is not a problem if that is consistent over the training data.
If the volume is changed utterance-by-utterance, you should consider the amplitude normalization.

[2021-03-01 05:36] fabien-benoit-1984 commented on #2737
I'm not sure. I'm reading at the moment https://github.com/espnet/espnet/tree/master/egs/vcc20/vc1_task1. Need to figure out what way it works. I thought @tulasiram58827 has managed to feed a custom .wav file. I assume that `cmvn.ark` is an intermediate file. I might be wrong. I'm getting familiar with espnet, kaldi and `vcc20`. It will take 1-2 weeks for me.

[2021-03-01 05:50] FaridHaziyev commented on #3021
After training for 220 epoch, it is diverged and I got NaN in the loss

[2021-03-01 07:38] YoPatapon commented on #3027
OK, I see. I noticed another difference. In the original algorithm, before local pruning, complete hypothesis (hyps extended with blank ) are only appended to S and incomplete hypothesis (hyps extended with K tokens) are appended to V. It seems like in your implementation, complete hypothesis are appended to both S and V. Is it also intended?

[2021-03-01 07:58] b-flo commented on #3027
It's not, it seems to be a mistake introduced in a previous refactor. I only saw it after your initial post, thanks ;)
I'll fix it but note that it won't change anything in terms of performance/speed

[2021-03-01 14:38] shanguanma opened #3031 "how to fix special layers(load pre-trained model and don't update it) in espnet2 ?"
When I am working on the joint enhanced model and asr model based on espnet2,  But I want to load a pre-trained enhanced model and fixed it, and only update the parameter of the ASR model. I put the below code into the trainer.py.
[code]
I compared the log between the enhanced module output of the joint model and the pure output of the enhanced model, The results are different. I don't know that w

[2021-03-01 15:23] gafsd commented on #3021
What do you normally use for amplitude normalisation?

[2021-03-01 15:39] #3027 closed

[2021-03-01 16:42] kamo-naoyuki commented on #3031
`--freeze_param`:
https://espnet.github.io/espnet/espnet2_training_option.html#freeze-parameters

[2021-03-01 16:42] #3031 closed

[2021-03-02 01:40] kamo-naoyuki commented on #3028
This script is not used for asr training of espnet1 but we use Kaldi, though I'm not sure your issue

https://github.com/espnet/espnet/blob/384440662d9b94885f715b83667a464fd27efd07/egs/librispeech/asr1/run.sh#L101-L102

[2021-03-02 06:16] fabien-benoit-1984 commented on #2737
@unilight
Screenshots:
1. [1](https://user-images.githubusercontent.com/74528656/109606452-c268d500-7b37-11eb-98eb-1d36907af6d5.png)
have got stuck with `sed: can't read downloads/tts1_TEF1/spk_xvector.scp: No such file or directory` (took 8 minutes before getting this error, will continue tomorrow)
[code]

[2021-03-02 10:48] qdenisq commented on #3018
@kamo-naoyuki @sw005320 I have one more question aside from the actual CTC alignment script and was hoping you could advise me on this. I have a Conformer trained on LIbrispeech with BPE vocabulary (size=5000) according to the recipe from [https://zenodo.org/record/4276519](https://zenodo.org/record/4276519). After taking argmax on ctc output I get the following:

**Argmax result**
[code]
, where

[2021-03-02 14:51] lumaku commented on #3018
The CTC layer does not assign time steps to tokens (as hybrid ASR does with states/phonemes), but rather fires when a token "occurs". That can be at the start, in the middle, or in the end of a word/token.
CTC segmentation takes the length of the tokens into account (which can be deactivated if needed).

[2021-03-02 15:03] sw005320 commented on #3018
Yes, @lumaku is right.
@qdenisq, I think you could use the fired timing as an approximated onset of the token, but as @lumaku says, it is often shifted.
Also, the shift becomes very large in the adverse environments (sometimes more than 10 frames).
This is just a note.

[2021-03-02 23:56] MNCTTY commented on #3028
Okay, thank you for answer, and what for do you usually use script utils/compute-fbank-feats.py?

[2021-03-03 00:08] kamo-naoyuki commented on #3028
utils/compute-fbank-feats.py is used for tts recipe.

https://github.com/espnet/espnet/blob/master/utils/make_fbank.sh

https://github.com/espnet/espnet/blob/6a154bcdf23fbc9cddb1004a5db0cf801f5e4dd6/egs/ljspeech/tts1/run.sh#L99-L109

Sorry for confusing.
The definition of mel filter is slightly different from Kaldi.

[2021-03-03 06:15] fabien-benoit-1984 commented on #2737
@unilight
Screenshots:
1. [image.png](https://user-images.githubusercontent.com/74528656/109760993-be54ba00-7c00-11eb-9f05-9fc8d617dde6.png)
I'm catching an error at stage 12. `local/update_json.sh: line 30: copy-vector: command not found`, `2021-03-03 06:12:12,998 (splitjson:52) INFO: number of utterances = 0 2021-03-03 06:12:12,998 (splitjson:54) ERROR: #utterances < #splits. Use smaller split n

[2021-03-03 06:54] Sxjdwang opened #3037 "Error of calculating x_mask in the forward function of the class Conv2dSubsampling"
**Describe the bug**
The class Conv2dSubsampling (from nets.pytorch_backend.transformer.subsampling) is a layer block to conduct convolutional 2D subsampling (to 1/4 length) with 2 2D convolution (width=3, stride=2). Meanwhile, it provides the corresponding x mask of the output tensor. However, the code deriving the output x_mask is inaccuracy.

x_mask = x_mask[:, :, :-2:2][:, :, :-2:2] where the

[2021-03-03 10:16] tudor-mare commented on #3013
Thanks for your response!

I have trained a model on the voxforge recipe (I used same config files) and have the following results:

![train](https://user-images.githubusercontent.com/34603830/109789063-996c4100-7c18-11eb-966f-e2e89f8f7b84.png)

![test](https://user-images.githubusercontent.com/34603830/109789078-a12be580-7c18-11eb-96be-61a64b7deb0f.png)

I can see that the Attention part of the m

[2021-03-03 12:36] MNCTTY commented on #3028
Understand, thank you!

[2021-03-03 14:57] sw005320 commented on #3013
Thanks for your report.
Year, can you train a model longer?
The convergence of the voxforge Italian recipe is slow (maybe we need to tune some optimization parameters, but we leave it as it is).

[2021-03-03 16:08] oplatek opened #3038 "czech data preparation for ASR - ffmpeg with pipe cause get_utt2dur.sh crash"
**The data preparation for Czech language uses ffmepg together with pipe in wav.scp which does not support wave length in the header.**

The wav.scp command is created here:
https://github.com/espnet/espnet/blob/a5742a3b23d8a27c0c0ef02d105e1ab9d6321e08/egs/commonvoice/asr1/local/data_prep.pl#L57

The ffmpeg problematic issue is described at:
https://trac.ffmpeg.org/ticket/7892

The error in the ou

[2021-03-03 16:52] kamo-naoyuki commented on #3038
If using pipe, no duration information can remain. This is general behaviour, not only ffmpeg, because audio tools streaming read an audio file, so there are no solutions for Kaldi system.

Removing the following block is a workaround since `utt2dur` from perturb_data_dir_speed.sh is not used in our recipe.

https://github.com/kaldi-asr/kaldi/blob/376281caa2e42085f157889dca8484dfef42ebee/egs/wsj/s

[2021-03-03 17:30] oplatek commented on #3038
Btw: I think that FFmpeg could potentially solve it by reading mp3 twice (I assume some CLI option would be needed e.g. --compute-length) or use the information from a header  - unfortunately [MP3 header does not contain duration information](https://en.wikipedia.org/wiki/MP3).

[2021-03-03 18:02] kamo-naoyuki commented on #3038
Good, this is better for us, thank you!

Potentially yes, maybe, ffmpeg doesn't prepare such options, I'm not sure.
Another idea is creating a reading tool to do it. This is not difficult.

[2021-03-03 23:36] MNCTTY commented on #3028
Excuse me, and can you say please, how to use make_fbank_pitch.sh for make fbank for one wav?

[2021-03-04 00:01] sw005320 commented on #3037
Thanks for your report.
I don't fully understand it, but if so, this would be a serious issue.
@ShigekiKarita, could you take a look at it?

[2021-03-04 00:43] kamo-naoyuki commented on #3028
Please see the usage.

https://github.com/kaldi-asr/kaldi/blob/376281caa2e42085f157889dca8484dfef42ebee/egs/wsj/s5/steps/make_fbank_pitch.sh#L29

[code]

[2021-03-04 05:04] ftshijt opened #3040 "Development Plan for ESPNet2 -- Speaker Diarization"
We have been developing (enhancing) the ESPnet2 for the speaker diarization task. The [base code](https://github.com/espnet/espnet/pull/2939) follows the [EEND](https://github.com/hitachi-speech/EEND)

Welcome your requests for these particular directions and contributions! The followings are our development plans.

## Progress & Plan

- [x] A new task for speaker diarization
- [x] Speaker diariza

[2021-03-04 07:07] FaridHaziyev commented on #3021
I have removed the silences in the audios and now I can see obvious improvement.
![telegram_16_F_2275111 ep 55](https://user-images.githubusercontent.com/15376005/109924442-b4eb5080-7cd9-11eb-9712-a01b72595ecc.png)
![telegram_16_F_2275111 ep 77](https://user-images.githubusercontent.com/15376005/109924460-bc125e80-7cd9-11eb-8476-053905943b2e.png)

[2021-03-04 11:36] LiChenda opened #3041 "Default "cudnn_deterministic=true" may make the training extremely slow in specific environment."
Edited:
I don't think this is a bug, somehow the system tag this issue with `Bug` automatically and I don't know how to remove it.

**Describe the bug**

Hi, when I use ESPnet2-SE to train a speech enhancement model with pytorch 1.7.1 and cudnn 8005, I have observed that the `ConvTranspose1d` and `torch.nn.functional.conv_transpose1d` become 10 times slower (In the jupyter test demo below) with  "

[2021-03-04 11:47] oplatek opened #3042 "Espnet2 Queue.pl get incorrect parameters for LM training"
Espnet2 Queue.pl get incorrect parameters for LM training - the log file is interpreted as an option.

Espnet commit: `628e769a30f998d8d928b0eef773e9c9cf3f6b2d tag: v.0.9.8`

[code]

IMO the problem is that the job array parameters for queue.pl are missing e.g. 1:1 for a single job.

The log was produced by running
[code]

[2021-03-04 11:47] oplatek commented on #3042
I will look into it, but I appreciate any hints, to speed up the debugging.

[2021-03-04 11:49] oplatek commented on #3038
FYI: I have managed to run successfully first two stages with the workaround from https://github.com/kaldi-asr/kaldi/pull/4467/files.

Feel free to close this issue.
I hit problems with LM training with stage 3 and I moved to the Espnet2 recipe in egs2/commonvoice/asr1 as you suggested - thank you!
I hit another issue which I reported here: https://github.com/espnet/espnet/issues/3042

[2021-03-04 11:59] OreoGuo opened #3043 "Error occurred when using installers/install_warp-transducer.sh"
**Describe the issue**
During my installation of Espnet, the following error occurred when using installers/install_warp-transducer.sh, how can I fix it?

(kaldi) root@crcga2:/opt/ga/espnet/tools# installers/install_warp-transducer.sh
Cloning into 'warp-transducer'...
remote: Enumerating objects: 11, done.
remote: Counting objects: 100% (11/11), done.
remote: Compressing objects: 100% (10/10), don

[2021-03-04 13:20] b-flo commented on #3043
Hi,

Did you properly setup your env? i.e., in `~/.bashrc`:

[code]

(there are some more but looking at your log, other var such as `CUDABIN` should be okay)

[2021-03-04 14:25] sw005320 commented on #3041
Thanks, @LiChenda!
Of course, the best solution is that it should be fixed by PyTorch since the deterministic option is useful for debugging, but let us think of making deterministic false as default given this.

[2021-03-04 14:47] OreoGuo commented on #3043
Thank you for your reply XD！！
I try to add PATH in `~/.bashrc` and now it just like:

[code]

But it still can't run successfully:
[code]

CMakeOutput.log:
[code]

CMakeError.log:
[code]

[2021-03-04 15:15] b-flo commented on #3043
Why? From what I recall, "-I" is used for header files, to specify the search path. And usually it yields such errors: `/usr/bin/ld: cannot find [some-headers] **`

Please add it back, source `.bashrc`, remove `warp-transducer` directory and re-do the install.

[2021-03-04 15:34] sw005320 commented on #3040
Thanks, @ftshijt for summarizing the status!
If someone is interested in contributing to this project, please feel free to contact us.
Also, we welcome any requests about this speaker diarization topics!

[2021-03-04 17:43] OreoGuo commented on #3043
I modified the `/.bashrc` and ran it again, but the same error was reported. Should I reinstall cuda? T T

[2021-03-04 18:38] kamo-naoyuki commented on #3042
Hi, you copied queue.conf from egs/ to egs2, right? It doesn't work for espnet2 because --name option is not defined. Please add the following.

[code]

[2021-03-04 18:42] kamo-naoyuki commented on #3041
Thank you.
Could you compare the time cost of 1.5.0 with 1.7.1.  If it's significantly slower than 1.5.0, it might be a bug of pytorch.

[2021-03-05 00:41] wingdi opened #3047 "can install in windows?"
**Describe the issue**
A clear and concise description of what the issue is.
Please check https://espnet.github.io/espnet/installation.html in advance.

**Show the `check_install.py` status by using the following command**
[code]

**Basic environments:**
 - OS information: [e.g., Linux 4.9.0-11-amd64 #1 SMP Debian 4.9.189-3+deb9u2 (2019-11-11) x86_64]
 - python version: [e.g. 3.7.3 (default, Mar 2

[2021-03-05 04:37] LiChenda commented on #3041
Hi, I have made the test.
In `1.5.0`, using `deterministic` is also slower than not using it, but it looks more acceptable than that in `1.7.1`.

Here I copy the test code and results :

[code]
7603
1.5.0

[code]

[code]
time cost: 1.5392048358917236

[code]
time cost: 3.6717991828918457

[2021-03-05 08:25] #3025 closed

[2021-03-05 09:39] kamo-naoyuki commented on #3041
Thanks. I got similar result as you. Maybe, latest cudnn has some problem. It's better to report at pytorch issue, I think.

Anyway, we probably should change the default to False. This is serious difference even if using old cudnn.

[2021-03-05 10:03] oplatek commented on #3042
@kamo-naoyuki that was it, thank you. Closing the issue.

[2021-03-05 10:03] #3042 closed

[2021-03-05 12:43] sw005320 commented on #3041
@yuyfujit, you may be interested in this discussion.
The reason we did not observe good speed improvement of light-weight/dynamic conv may come from this.

[2021-03-06 02:07] sw005320 commented on #3037
@Sxjdwang, did you observe some improvements with your fix?

[2021-03-06 07:13] keshawnhsieh opened #3051 "why not use larger batch size while training transformer lm?"
According to the conf in librispeech [recipe](https://github.com/espnet/espnet/blob/master/egs/librispeech/asr1/conf/tuning/lm_transformer.yaml), it cost 60days for 50 epochs. Obviously the batch size can be larger than 32 and thus the training time should be much shorter.

What's the concern here to keep a relatively small batch size when training transformer lm?

[2021-03-06 08:27] shanhaidexiamo opened #3052 "About run environment"
Sorry, I would like to ask if ESPnet supports 3090GPU. I tried Pytorch1.7.1 + Cuda10.1 and found that the code does not work

[2021-03-06 16:02] lumaku commented on #3018
Current progress: https://github.com/espnet/espnet/compare/master...lumaku:espnet2_ctc_segmentation

To test the new `CTCSegmentation` module:
[code]

Some remarks and discussion points:

* In my installation, an import error occurred in the text cleaner upon importing `Speech2Text` on some libraries that are optional for ASR. I changed the corresponding imports to conditional and included this in

[2021-03-07 01:37] Fhrozen commented on #3052
I tried RTX 3060Ti with Pytorch 1.7.1 + CUDA 11.0 and found no problem

[2021-03-07 03:36] wenjie-p opened #3053 "Question on the modeling unit set"
Hi,

Thanks for the great toolkit you have built! I have been using this toolkit for a while but got confused on how `espnet` deal with rare units.

It looks to me the modeling units set generated by `espnet` is through using `sentencepiece` to encode the `training` text, where most words can be encoded into normal `piece`, while the rare units are reserved in the `dict`. (suggested in this [line

[2021-03-07 04:35] shanhaidexiamo commented on #3052
Does espnet support cuda11.0?

[2021-03-07 04:36] shanhaidexiamo commented on #3052
Does espnet support cuda11.0?

[2021-03-07 06:04] Fhrozen commented on #3052
yes, pretty well:

[code]

[2021-03-07 06:29] shanhaidexiamo commented on #3052
OK，nice . Thank you  very much !

[2021-03-07 08:25] Sxjdwang commented on #3037
@sw005320 I have not compared the performance of an ASR system with and without my fix. However,  I feed 83D-feature (80 filter bank and 3 pitch feature) of a piece of speech and the 83D-feature with some zero padding in the frame dimension to a transformer network with a Conv2dSubsampling layer. The latent features of them after the transformer encoder are different.

[2021-03-07 08:43] Sxjdwang commented on #3037
Sorry. The latent features of them after the transformer encoder are different without my fix.

[2021-03-07 10:20] #3052 closed

[2021-03-07 21:31] Wenlong-Y commented on #2983
Thanks! I ended up copying my wav to the etc folder of the downloaded pretrained model. Then use synth_wav.sh of espnet  to generate a random sentence and get the xvector for the wav file. It works!

[2021-03-08 07:14] kamo-naoyuki commented on #3051
Larger batch size is used in the following recipe.

https://github.com/espnet/espnet/blob/master/egs2/librispeech/asr1/conf/tuning/train_lm_transformer2.yaml

[2021-03-08 07:14] #3051 closed

[2021-03-08 09:30] #3043 closed

[2021-03-08 09:38] kamo-naoyuki commented on #3018
Thanks.

Text cleaner is a mandatory module for espnet. Please keep `espnet2/text/cleaner.py` as it is.

Segments style is good for the output format of the command line tool.

Sorry, I'm not sure how you are giving the sampling rate to the ctc-segmentation function.

Please use ASRTask.build_streaming_iterator as it is. I'm not sure why you asked this.

[2021-03-08 09:38] wac81 commented on #2849
thank you again, probably solved most of the problems

[2021-03-08 09:38] #2849 closed

[2021-03-08 10:27] tudor-mare commented on #3013
Hello!

I have come back with another report. I've left the model to train for 400 epochs and those are the results:

![main](https://user-images.githubusercontent.com/34603830/110306289-56d6aa00-8006-11eb-81fc-0307778909ac.png)

![validation](https://user-images.githubusercontent.com/34603830/110306325-60601200-8006-11eb-8fce-cc412777fcd6.png)
I thought maybe the CTC CER will decrease and it did

[2021-03-08 13:59] sw005320 commented on #3013
Are you working on your own data?
If so, it would be better to check the data preparation or data themselves.
I created several recipes from scratch and without any tuning of some existing configs, but it's usually working if we have more than 100 hours of data.

[2021-03-08 16:28] sw005320 commented on #3053
The use of sentencepiece is actually to avoid <unk>.
All rare words can be a compound word of the piece and we can still handle them without introducing <unk>.
The reason we still maintain <unk> is that we have some unseen graphemes in the test set (but this is just used for logging. Not used for the actual algorithm) or some advanced decoding method (like word-based LM) requires <unk>.

[2021-03-08 20:42] MNCTTY commented on #3028
Hello! thank you for sharing the link

it seems to me, that I need more data than just `wav.scp` file in data dir:

https://github.com/kaldi-asr/kaldi/blob/376281caa2e42085f157889dca8484dfef42ebee/egs/wsj/s5/steps/make_fbank_pitch.sh#L29
adresses to some configs:
[code]
do you have any info where to find the most common examples? first of all I want just to run without any errors the script

I ran

[2021-03-08 22:51] kamo-naoyuki commented on #3028
You need to change the directory to egs/*/asr1.

I don't know what you'll use espnet for, please read the documentation and follow the basic instruction. It's the most fast path anyway, or please read the script. It's a simple script.

https://espnet.github.io/espnet/tutorial.html

[2021-03-08 22:51] #3028 closed

[2021-03-09 01:56] wenjie-p commented on #3053
Do you mean the use of `sentencepiece` is just providing tokenized results, the need of `sentencepiece` should be minimized for `espnet`?

In my observation, the words involved rare units can be divided into two cases: 1) part of the word are rare units; 2) the whole word can be rare units. I think what you mean is the first case, where we still have the potential to recognize part of the word? Pl

[2021-03-09 14:04] wang304381190 opened #3061 "Questions in pretrained speech translation"
I use pretrained ASR model for ST in EN->ZH.
Firstly, I train an asr model until I get ctc loss equals 7. But when I fine-tune it on ST, the loss_asr equals 1762 (mtl_alpha=1) in first 100 iteration. Do I make a mistake in load asr model?
I set             enc-init-mods: encoder.embed,encoder.encoders,encoder.after_norm

[2021-03-09 15:15] wang304381190 commented on #3061
Thanks for your attention and apply so quickly, I'm sorry to bother you so late.
I also think the problem is in loading vocab, but I really don't know how to solve it.
Because Chinese and English is different absolutely, so I made dictionary respectively, 10k bpe for Chinese and 5k bpe for English.
I copied the dict_en in asr1/data/lang_1spm/train_sp_bpe5000_units.txt  to st1/data/lang_1spm/train_

[2021-03-09 15:24] hirofumi0810 commented on #3061
@wang304381190 I think it's not a problem. It is natural to think that ASR and ST models use different vocabularies.
ASR vocab is usually built on transcription only. However, ST/MT vocabs are build on the joint transcription and translation.
You don't have to copy the source dict (En). Instead, you can build the joint En and Zh vocabulary in the ST recipe.
Although Kanji characters and alphabets

[2021-03-09 16:46] sw005320 commented on #3053
Sorry, I cannot understand your questions.
Anyway, we usually using top N units, and rare units (low-frequency ones) are not used at all.
So, as long as we set N correctly, we would not have serious low-frequency issues.

[2021-03-09 16:52] SiddheshSingh opened #3064 "Segmentation fault on using multiple GPUs"
Segmentation Fault Error.

Training stops after 1 epoch on using multiple GPUs - showing segmentation fault. However, with the same script and model weights, training is successful in the case of a single GPU. [The memory on the Single GPU was the same as the  Memory of each GPU on Multiple GPU machine = 16GB].

**Basic environments:**
 - OS information: - OS information: Linux 5.4.0-1037-aws #39~

[2021-03-09 19:19] SiddheshSingh opened #3065 "Failed to load object from archive"
I had successfully trained a dataset using kaldi, and since espnet uses same structure so I had used the same files to train on espnet. However, while creating cmvn features these errors are occurring.

Command:
compute-cmvn-stats scp:data/${train_set}/feats.scp data/${train_set}/cmvn.ark

#### Error Log

WARNING (compute-cmvn-stats[5.5.843~2-21c1]:Read():util/kaldi-holder-inl.h:77) Reading Table

[2021-03-09 19:26] MihikaNigam commented on #3064
i also faced same issue

[2021-03-10 01:24] kamo-naoyuki commented on #3064
Could you follow our template format to report issues? There are no information, so no one can help you.

[2021-03-10 01:45] wenjie-p commented on #3053
I am very sorry for not making it clear. I think I should give some concrete details.

I am running the recipe of egs/commonvoice/asr1 on the German data part. In the run.sh, the bpe unit size is set to 150, while the output size is 346 as shown in the model.json. By going through the units set in the model.json, I found many units only appears 3 times in the training transcripts. I also checked t

[2021-03-10 04:30] kamo-naoyuki commented on #3018
@lumaku I thought about how giving it. My concerning is that we can't use the other frontend for alignment if we derive the information from DefaultFrontend. We need to implement additional interface for all frontend for extensiblity.

About`hop_length` and `subsampling_factor `, how about calculating from the audio length and the output length from the encoder? In this way, it's not necessary to

[2021-03-10 20:49] sw005320 commented on #3065
Did you check that utterance, e.g., it is too long or too short?

[2021-03-11 02:47] wenjie-p opened #3067 "Question on the espnet1 ASR decoding mechanism"
Hi,

According to the paper `Hybrid CTC/Attention Architecture for End-to-End Speech Recognition`, the decoding mechanism seems to be very complicated. And my understanding is that:

`espnet` decoding = CTC/Attention Hybrid + LM, where the CTC/Attention can be two-pass or one-pass decoding, and the LM is integrated by shallow fusion.

Please correct me if I am wrong. My question is that how to dec

[2021-03-11 08:24] lumaku commented on #3018
I like your idea to derive the calculate the ratio of audio length to encoded frames, as it is more user-friendly. This value can be determined automatically from the model - I checked, it only takes a few milliseconds. Then, only `fs` is needed, at the initialization of the module.

[2021-03-11 14:22] sw005320 commented on #3067
All of our implementations are one-pass and score combinations of attention, CTC, and LM are done during beam search.
We don't officially provide two-pass decoding

[2021-03-11 19:15] sw005320 commented on #3037
@pengchengguo will investigate this issue.

[2021-03-12 04:06] hchung12 opened #3072 "Question on chunk shift in ChunkIterFactory.build_iter()"
In the code, shift width is calculated as a ratio of utterance length as follows:
S = int(L * self.chunk_shift_ratio)

Shouldn't shift width be calculated as a ratio of chunk length like below ?
S = int(W * self.chunk_shift_ratio)

[2021-03-12 05:15] kamo-naoyuki commented on #3072
Oh, thanks! You are right. I'll fix.
@ftshijt You may use ChunkIterFactory? This is a serious bug, sorry.

[2021-03-12 05:23] ftshijt commented on #3072
Oh, this should be a problem. Thanks for letting me know. For current diarization training, I'm setting the shift to 0, so it should not have problems with that

[2021-03-12 06:04] #3072 closed

[2021-03-12 11:28] wang304381190 commented on #3061
How about enc-init-mods? Only encoder.encoders is enough? Will the addition of encoder.embed and encoder.after_norm harm the performance?
Also, I would like to accomplish ST from English to Chinese, but the BLUE is terrible every time, could you please help me find the reasons? Training information are as follows.

I set train.conf as:
mtlalpha: 1.0  asr-weight: 0.2  mt-weight: 0.2  enc-init-mods:

[2021-03-12 13:50] gbaian10 opened #3075 "csmsc/tts1 HTTP request sent, awaiting response... 403 Forbidden"
As title, I can't start a brand new CSMSC training.

[2021-03-12 16:47] roshansh-cmu opened #3076 "OOM Handling during training"
OOMs can be handled during model training in ESPNet2 by skipping the problematic batch or reducing the batch size dynamically as done in Fairseq here:

https://github.com/pytorch/fairseq/blob/50a671f78d0c8de0392f924180db72ac9b41b801/fairseq/trainer.py#L188

This feature would be useful for ESP2 model training

[2021-03-12 21:38] sw005320 commented on #3076
Year, that sounds very useful option.
One of the most frequent questions is actually about it.
However, this is also useful in general since it lets users know that the data preparation or the batch size is wrong.
But it is still useful to finish it with the correct error message.

[2021-03-12 22:25] kamo-naoyuki commented on #3076
The implementation is easy. I'll implement it as an option as you request.

I think auto scaling of batch size in lightning is the best way, but this is a little bit hard to implement because we use variable batch size.

https://pytorch-lightning.readthedocs.io/en/latest/advanced/training_tricks.html#auto-scaling-of-batch-size

[2021-03-12 22:28] roshansh-cmu commented on #3076
The easiest thing might be to just start with skipping the batch, and we can explore changing the batching after I think. Or we can just go through the batch, look for the input with the largest element(s), and run training separately on the remainder and the large elements separately, and make a single model update. Those might be easier than batch scaling

[2021-03-13 14:04] pengchengguo commented on #3037
Hi @Sxjdwang,

Thanks so much for your report.

I think this problem (I am not sure is an error) is caused by the difference of convolutional operation in PyTorch and subsampling operation in NumPy.

Assume we have two utterances in a batch, `x1.length = 15, x2.length = 11`, so `x2` will be padded to the same length as `x1`. The `x2` can be described as the diagram, where `T = True` means real fra

[2021-03-13 14:14] pengchengguo commented on #3037
A most simple solution to solve this problem is generating the mask after subsampling. For example:

[code]

But I'm not sure whether such modifications will bring compatibility issues with our pre-trained models.

[2021-03-13 14:17] pengchengguo commented on #3037
Please correct me if I misunderstood.

[2021-03-13 15:12] sw005320 opened #3078 "asr.sh fails in stage 4 if we have reco2dur"
**Describe the bug**
When we have `reco2dur` in the data directory, `asr.sh` fails in stage 4 with the following error message:
[code]
It seems that `apply_map.pl` tried to use the recording ID (`AUD0000000003` in the above case) instead of the segment ID (`-AUD0000000003_S0000001` in the above case)

**Basic environments:**
- OS information: Linux 3.10.0-862.11.6.el7.x86_64 #1 SMP Tue Aug 14 21:4

[2021-03-13 15:48] arsyed opened #3079 "Segmentation fault when running AN4 recipe."
**Describe the bug**
Running the AN4 recipe results in segmentation fault in Stage 3 (LM Preparation).  This is after a fresh installation of espnet following the steps in the [documentation](https://espnet.github.io/espnet/installation.html).

**Basic environments:**

- OS information: `Linux 4.4.0-190-generic #220-Ubuntu SMP Fri Aug 28 23:02:15 UTC 2020 x86_64`
- python version: `3.8.8 (default,

[2021-03-14 01:32] wenjie-p opened #3080 "Pure CTC didn't early stop"
Hi,

I recently found my model didn't early stop, after going through the code, I found there may be a typo here:

https://github.com/espnet/espnet/blob/f92aa89217ee69d5d89f46eadee145f304488a7b/espnet/utils/training/train_utils.py#L35

[2021-03-14 03:38] wenjie-p commented on #3067
Hi,

Sorry to reopen this issue, but I have another related question:

 I have noticed that word-based rnnlm can be enabled for joint decoding by passing `--word-rnnlm` option to `espnet/espnet/bin/asr_recog.py`. However, I didn't see any option explicitly to enable word-based ngram decoding. I pass the word-ngram model directly but found it perform worse than word-piece ngram. Is there a switch f

[2021-03-14 08:27] b-flo commented on #3080
Hi,

There is no typo, see class documentation: https://docs.chainer.org/en/stable/reference/generated/chainer.training.triggers.EarlyStoppingTrigger.html

[2021-03-14 09:24] wenjie-p commented on #3080
Oh sorry, thanks for the clarification!

Actually I was running the pure CTC mode with VGGBLSTM model, but found it didn't early stop as the validation loss keeps increasing.

![image](https://user-images.githubusercontent.com/21860575/111063105-d7eedf00-84e7-11eb-882b-d22b093fbdbe.png)

I found the code:

https://github.com/espnet/espnet/blob/master/espnet/asr/pytorch_backend/asr.py#L800-L834

Wh

[2021-03-14 10:11] wenjie-p commented on #3080
The recipe I ran is `egs/commonvoice/asr1/` with config for rnn training:

[code]

And patience = 3 in my exp.

[2021-03-15 02:20] wingdi commented on #3047
thanks ~

[2021-03-15 02:20] #3047 closed

[2021-03-15 04:45] Shengqiang-Li opened #3084 "Questions about training conformer on librispeech using egs2"
I have only 4 GPUS in my server，but the default config need 16 GPUS，how can i modify the config file so that i can train conformer on librispeech using egs2？

[2021-03-15 05:28] kamo-naoyuki commented on #3084
https://espnet.github.io/espnet/espnet2_training_option.html#gradient-accumulating

There are two ways.

- Halve batch_bins and double accum_grad as you need.
- torch.utill.checkpoint: You need to modify the model to use it.

[2021-03-15 06:18] Shengqiang-Li commented on #3084
Thank you very much. I have changed the batch_bins to 1/4 of default set, and set the accum_grad to 4 times of the default set.  Is that right?

[2021-03-15 08:33] Arafat4341 opened #3086 "Bad output for asr inference for 8 KHz input audio"
I am trying `kan-bayashi/csj_asr_train_asr_transformer_raw_char_sp_valid.acc.ave` pre-trained model for transcribing japanese speech.

I am getting better results for a 16000 sample rate, 16 bit, mono input.
But I am getting terrible results for an actual 8000 Hz 16 bit mono input. No matter if I convert the audio into 16 KHz or not, I always get same output.

Is there any way to improve the quali

[2021-03-15 08:50] SiddheshSingh commented on #3065
I have checked the length, is there any particular reason as to why would compute-cmvn work on Kaldi on same dataset, but not on espnet?

[2021-03-15 08:53] Shengqiang-Li commented on #3084
The batch type in egs2 is numel, is the batchsize unified for each iteration? Can i change the batch_bins and accum_grad and keep batch_bins*accum_grad same as original value?

[2021-03-15 12:30] #2737 closed

[2021-03-15 12:49] SiddheshSingh commented on #3064
Can you point me towards it? Where can I find the correct template for a new issue? Is it the same one as bug template. Thanks

[2021-03-15 13:08] kamo-naoyuki commented on #3064
Yes, I mean the template for bug because this is a bug report.

[2021-03-15 13:27] sw005320 commented on #3065
Sorry, I cannot find a reason.
Can you paste the exact command line of using Kaldi `compute-cmvn`?
As the error suggests, it might include "add the permissive (p, ) option to the rspecifier" in the Kaldi case(?).

[2021-03-15 13:43] SiddheshSingh commented on #3065
Hi, I have used the command:
compute-cmvn-stats scp:data/${train_set}/feats.scp data/${train_set}/cmvn.ark

[2021-03-15 14:15] sw005320 commented on #3067
Please use the exactly same word-piece for n-gram by following https://github.com/espnet/espnet/blob/master/egs/aishell/asr1/run.sh#L192-L193 and https://github.com/espnet/espnet/blob/master/egs/aishell/asr1/run.sh#L266

We don't support a word-based n-gram.

[2021-03-15 14:53] sw005320 commented on #3086
The model would not be robust for such changes.
So, I recommend you retrain the CSJ model with 8kHz downsampled audios (or retrain it with first downsampling the audio to 8kHz and then upsampling it to 16 kHz by sox).

[2021-03-15 21:53] kevinghst opened #3088 "Positional encoding in conformer subsampling layer"
Hi,

First of all, thanks for the great work!

I am currently trying to use your [Conformer Encoder](https://github.com/espnet/espnet/blob/master/espnet2/asr/encoder/conformer_encoder.py):

I notice that as in the original Conformer paper, it uses relative position in the [RelPositionMultiHeadedAttention](https://github.com/espnet/espnet/blob/de0a3f5e69e691fd069ee4381873a784e6ff9d56/espnet/nets/py

[2021-03-15 22:22] sw005320 commented on #3088
Thanks for your question.
I see your point.
@pengchengguo, did you test it with and without RPE in the Conv2dSubSampling layer?

[2021-03-16 02:45] jens-totemic commented on #2990
I'm experiencing the same issue. For example in this sentence here:
"TTS comes with pretrained models, tools for measuring dataset quality and already used in 20+ languages for products and research projects."

In this sentence, the abbreviation "TTS" is  not correctly spoken letter by letter and the "+" in 20+ is also omitted.

I tried it in both espnet 1 and 2 notebooks here with the pretrained

[2021-03-16 05:07] wenjie-p commented on #3067
Thanks for your reply!

[2021-03-16 05:08] #3067 closed

[2021-03-16 06:01] kamo-naoyuki commented on #3064
Could you tell us which recipe you used for our record?

You can detect where seg fault comes from using PYTHONFAULTHANDLER. This is a common technique.

[code]

However, in most cases, segmentation fault can't be avoided in the environments because it's a bug of Python, or something.
(In your case, some library might be not thread safe, so you might avoid it with DistributedDataParallel, but espn

[2021-03-16 06:11] pengchengguo commented on #3088
Hi @kevinghst,

Thanks so much for your interest.

The class `Conv2dSubSampling` includes two main modules, which are a multi-layer `Conv2d` to subsample the input frames and a `PositionalEncoding` to compute some positional encodings. In other words, this class has two different functions. For Transformer models, it will return the scaled summation of  `x` and `pos_emb`, while for Conformer model

[2021-03-16 09:11] tudor-mare commented on #3013
Thank you very much!
I took another look at my data preparation and you were right, I mismanaged my labels. Now the training looks like this:
![image](https://user-images.githubusercontent.com/34603830/111283830-3337e300-8648-11eb-905e-a0eebc85f217.png)
![image](https://user-images.githubusercontent.com/34603830/111283874-3c28b480-8648-11eb-9914-3b033a82d7e3.png)
Now I am going to look into furthe

[2021-03-16 10:03] #3013 closed

[2021-03-16 11:06] kevinghst commented on #3088
Interesting. Thanks!

[2021-03-16 11:06] #3088 closed

[2021-03-16 18:50] SiddheshSingh commented on #3064
Hi, I have used the scripts from AN4 egs directory, is there any recommendation to which is considered golden recipie for asr?

Also, I exported export PYTHONFAULTHANDLER=0 but couldnt get the trace for segmentation error. Can you guide me how to get the loc where segmentation error is happening.

[2021-03-17 02:37] kamo-naoyuki commented on #3064
Thanks.

I don't know the detail of PYTHONFAULTHANDLER. How about gdb if you'll dive into it more?

 I think  ESPnet2 may work in your environment, but I recommend you reinstalling Python and pytorch rather than sticking your environment. Indeed, your problem is not a fault of espnet.
Anyway, there is nothing we can do for espnet side, I'll close this issue.

[2021-03-17 02:37] #3064 closed

[2021-03-17 03:28] Shengqiang-Li commented on #3084
Thank you very much.

[2021-03-17 07:40] Sxjdwang commented on #3037
@pengchengguo I agree with you that it may not influence the performance much although the original code generates inaccurate masks. Even it may enhance models' robustness.

[2021-03-17 10:02] Ryuk17 commented on #2956
Thank you very much for your detailed answer!
What's the meaning of the '0' in 'enc.0' and '1' in dec.1?

[2021-03-17 10:23] b-flo commented on #2956
That's the layer number (from 0 to N-1)!

[2021-03-17 14:05] danoneata opened #3090 "How to drop samples larger than `batch_bins` when training (in order to avoid out of memory errors)?"
Hello!

Is there a way to have `batch_bins` specify the _maximum_ number of bins allowed by a batch (in the case of batches of type `length` or `numel`)? If I understand correctly, the current implementation groups the samples into a number of bins that are closest, [but also greater](https://github.com/espnet/espnet/blob/master/espnet2/samplers/num_elements_batch_sampler.py#L93) than `batch_bins`

[2021-03-18 03:32] peter-yh-wu commented on #3078
+1 Experienced this bug as well

[2021-03-18 06:25] Arafat4341 commented on #3086
Unfortunately I cannot afford the CSJ dataset! Thanks for the advice though! Now I know why I was getting poor results!

[2021-03-18 06:25] #3086 closed

[2021-03-18 07:33] day9011 opened #3092 "Error mask split in subsampling"
in pytorch, get subsampling mask by split like: mask[:, :, :-2:2][:, :, :-2:2] where error after conv.
example:
lens = torch.LongTensor([[24], [40], [60], [100]]).cpu()
lens after conv:
tensor([[ 5],
        [ 9],
        [14],
        [24]])
mask = make_mask_by_length(a, lens).unsqueeze(-2)
new_mask = mask[:, :, :-2:2][:, :, :-2:2]
print(torch.sum(new_mask.int(), -1))
tensor([[ 6],
        [10],

[2021-03-18 09:17] kamo-naoyuki commented on #3090
Thanks. I'll consider it.

It doesn't exist for sampler side now.
If you'll remove long samples, or samples having the other problems, from your training data, you can delete the lines of them from `shape` text directly.

[2021-03-18 18:07] szmmm opened #3093 "Make attention plots during ESPNet1 TTS decoding"
Hello, I am trying to use the ESPNet1 Tacotron 2  for syngthesis, and I would like to do some investigations on the attention during decoding. I am using this old version of [ESPNet](https://github.com/creatorscan/espnet) so there might be some differences in the code (I fixed the plot bug mentioned in [#1761](https://github.com/espnet/espnet/pull/1761) )

I understand that during training some at

[2021-03-19 00:25] kan-bayashi commented on #2983
You need to install kaldi.
https://espnet.github.io/espnet/installation.html#step-1-optional-install-kaldi

[2021-03-19 00:28] kan-bayashi commented on #3093
Current decoding script support the saving of attention weight.
You can refer this part.
https://github.com/espnet/espnet/blob/96e6eb97bacb428d9979661725657b5c38a17dee/espnet/tts/pytorch_backend/tts.py#L570-L748

[2021-03-19 00:40] kan-bayashi commented on #3090
For quick fixing, how about filtering in stage 4?
https://github.com/espnet/espnet/blob/96e6eb97bacb428d9979661725657b5c38a17dee/egs2/TEMPLATE/asr1/asr.sh#L527

[2021-03-19 01:39] kan-bayashi commented on #2990
The problem of G2P.
You can use easier representation for G2P.
e.g. "T T S" or "20 plus"

[2021-03-19 03:10] kan-bayashi commented on #3075
Now CSMSC is not free.
You need to apply the form to get the dataset.

[2021-03-19 05:27] #3084 closed

[2021-03-19 07:57] Alex-Songs commented on #3040
cool

[2021-03-19 10:40] danoneata commented on #3090
Thank you both for the advice! That's really helpful! I somehow missed the stage 4 (as I've written my own bash wrappers to perform fine-tuning). Also, it's good to know that I can directly alter the shape files as they contain information on both the audio and text shapes.

For my part, you can close this issue—probably such a feature is not top of your priority list :-)

[2021-03-19 11:59] kruthikakr opened #3094 "Speech to Speech"
Hi.. Looking for way to achieve speech to speech translation..  the step is english speech to say French /Geprman speech with out converting to text in between.. any help is much appreciated .

[2021-03-19 11:59] kruthikakr opened #3095 "Speech to Speech"
Hi.. Looking for way to achieve speech to speech translation..  the step is english speech to say French /Geprman speech with out converting to text in between.. any help is much appreciated .

[2021-03-19 14:08] sw005320 commented on #3094
We have an end-to-end speech to text translation and using TTS to generate speech
https://github.com/espnet/notebook/blob/master/st_demo.ipynb
But we don't have a direct speech to speech translation without intermediate text representation.

[2021-03-19 14:08] sw005320 commented on #3095
This is a duplicated issue (#3094).

[2021-03-19 14:08] #3095 closed

[2021-03-19 14:16] gbaian10 commented on #3075
I have CSMSC data, but I don't know how to skip Download step and conform to the format.

[2021-03-19 16:29] sw005320 commented on #3092
Is that the same issue as https://github.com/espnet/espnet/issues/3092?
If so, we'll definitely revisit it.

[2021-03-19 16:30] sw005320 commented on #3037
I fully agree.
We'll revisit it after Interspeech.
My only concern is that we may not use our pre-trained model, but probably not.
We can also keep some compatibility.

[2021-03-19 17:26] jens-totemic commented on #2990
Thank you @kan-bayashi. I filed an improvement request to the g2p project - if it would be handled there it could avoid the separate pre-processing step.

[2021-03-20 12:03] 3139725181 commented on #2495
how to solve it...

[2021-03-22 04:58] sciai-ai opened #3097 "using arpabet during inference"
Hi I was wondering if it's possible to use arpabet or cmu symnols during inference so that we can control the pronunciations of different words? for example.

Does the g2p_en model supports this

I tried this in the inference notebook but the model still produce {HH AW1 S S T AH0 N}  as individual letters

[code]

[2021-03-22 06:40] animebing opened #3098 "volume questions about tts results"
When I use the tts model trained on csmsc dataset with fastspeech2 , I have following issues
1. when do tts on a long sentence, I will split it into several short sentences, then do tts on each short sentence, and finally concatenate short audio to a long audio. In the long audio, I find the volume of the beginning of next sentence is a little larger than previous sentence, which is a little stran

[2021-03-22 07:47] qmpzzpmq commented on #2495
@Cescfangs no

[2021-03-22 07:47] qmpzzpmq commented on #2495
ngram right now doesn't support batch

[2021-03-22 08:06] unilight commented on #3098
Can you give some samples?

[2021-03-22 08:59] animebing commented on #3098
@unilight Thanks for your response. One audio sample is in the attachment, which is composed by three short audio. The text used here is ["作为本地生活服务领域的两大寡头。", "当下美团和饿了么的竞争早就不止于最初的外卖服务。", "而是涉及到本地生活服务的众多维度。"]. And the volume in 0:03 and 0:07 (beginning of new sentence) is a little larger than previous sentence.

[1616402826.7082512.zip](https://github.com/espnet/espnet/files/6180706/1616402826.70825

[2021-03-22 11:59] AdolfVonKleist opened #3099 "Question about sentencepiece versioning and speed"
Is the espnet configuration for [sentencepiece](https://github.com/google/sentencepiece) pinned to a lower version due to performance issues with later versions of sentencepiece?

I noticed that if I install the latest version of sentencepiece via pip, or build it from source that the `unigram` type model is prohibitively, effectively unusably, slow to train.  It runs for hours and hours and never

[2021-03-22 12:28] sw005320 commented on #3099
Thanks for the report.
The reason for using the old version is for stable installation and leave it as it is https://github.com/espnet/espnet/issues/832

@jnishi, do you have some comments about it?

[2021-03-22 17:07] unilight commented on #3098
@animebing I opened the file you attached with Audacity, but I don't really observe the issue you mentioned.
![image](https://user-images.githubusercontent.com/11516009/112029379-24838b80-8b74-11eb-98a9-349c210d563a.png)

[2021-03-22 18:03] AdolfVonKleist commented on #3099
I don't know about the integration issues, but I am fairly sure that I found the issue related to the training time degradation, and now submitted a possible fix:
- https://github.com/google/sentencepiece/pull/642

this can be closed.

[2021-03-23 03:47] Cescfangs opened #3100 "BatchBeamSearchOnlineSim is too slow"
`BatchBeamSearchOnlineSim` is about 6 times slower than `BatchBeamSearch` due to repeated labels in hyp, I've recorded search times(method `search()` been called) . For example, to decode hyp "背包客一个比一个年轻":
| 背包客一个比一个年轻     | search times |
| ------------------------ | ------------ |
| BatchBeamSearchOnlineSim | 59           |
| BatchBeamSearch-non-streaming    | 17           |
| BatchBeamSearch-Mo

[2021-03-23 04:27] hyung8758 opened #3102 "Question: importing a trained ESPnet ASR model to C++"
Hello all.

I saw a plan for updating torch script support in Development plan note v0.10.0 and I wonder when it will be updated.
I trained a few ASR models based on transformer networks and I would like to import this model in C++.
Or is there anyone who knows how to import the trained ESPnet ASR model in C++ instead of using torch script, then please let me know.

Thank you in advance.

[2021-03-23 04:31] #3102 closed

[2021-03-23 04:34] hyung8758 opened #3103 "Question: importing a trained ESPnet ASR model to C++"
Hello all.

I saw a plan for updating torch script support in Development plan note v0.10.0 and I wonder when it will be updated.
I trained a few ASR models based on transformer networks and I would like to import this model in C++.
Or is there anyone who knows how to import the trained ESPnet ASR model in C++ instead of using torch script, then please let me know.

Thank you in advance.

[2021-03-23 09:31] animebing commented on #3098
@unilight Thanks for your response, maybe the sample I choose is not very representative. In order to clarify the problem, I synthesis 600 short audios and compute the energy of each audio using the method provided in espnet2, then split the energy into 10 parts evenly along frames and compute mean energy in each part, finally average each part in all audios and I get the following figure. From th

[2021-03-23 09:36] unilight commented on #3098
Hmm, interesting. Have you plotted the same figure for the training data? Maybe such tendency (larger volume at the beginning of the sentence) is the nature of the training data and the model just learnsed it.

[2021-03-23 10:40] animebing commented on #3098
Yes, you are right, I do the same operation on 20% of training data, which gives the same result as following figure.

![valid_energy_train](https://user-images.githubusercontent.com/19849456/112133942-2ea29a00-8c07-11eb-8df1-79e91566ed23.png)

[2021-03-23 17:25] espnetUser opened #3104 "espnet2: Librispeech ASR Conformer training hangs at start of LM training stage"
**Describe the bug**
espnet2 librispeech recipe hangs at stage 7 at the beginning of start of LM training stage. Slurm is being used to schedule 2xGPU jobs on each of two nodes. No error is reported in logs but there is no progress and GPU utilization of all jobs stays at 0%.

Any feedback and pointers what could be causing this behaviour is appreciated.
Thanks!

**Basic environments:**
[code]

**

[2021-03-23 17:40] sw005320 commented on #3104
Thanks for the report.
This part is to read the entire text and make mini-batches.
It took 3 minutes in my environment.
It may take longer depending on the environment.

[2021-03-23 19:11] espnetUser commented on #3104
Thanks for the quick reply.

The jobs are running now with no progress for over 1.5 hours based on top command:
[code]
I tracked it down to this loop in espnet/espnet2/samplers/num_elements_batch_sampler.py which does not reach one of the break statements for some reason:

[code]

Log out put with my added log info from line 80:

[code]

[2021-03-24 04:32] kamo-naoyuki commented on #3104
It cannot measure time with inserting logging because logging itself takes some times, so I think, probably, it's not related to the essential problem.

The text of librispeech is large, so it takes very much times and much memory footprint. Indeed, it took ~12hours to load the text in my environment and training started after it. I think that this should be fixed for lm training using the other w

[2021-03-24 06:08] animebing opened #3105 "chinese tts with some english words"
How to do chinese tts for texts with some english words which is very common these days? There are some difficulties I have met:
1. there is not tts dataset with both chinese and english.
2. whether I can just use chinese tts model to do the work.

[2021-03-24 13:24] espnetUser commented on #3104
Thanks @kamo-naoyuki for your reply.

Yeah, adding the logging message wasn't meant to measure timing accurately but to determine/show where the training got "stuck". After seeing your reply that it took ~12h in your environment for this part to finish I left the job running over night and can confirm it did eventually complete ESPnetDataset loading step after ~10h in my environment (which is AWS)

[2021-03-24 14:48] espnetUser commented on #3104
Just a follow-up. I noticed that the jobs (when loading the LM training text) run with full 100% CPU load so I guess disk I/O seems not a major problem in my environment.

[2021-03-24 17:33] kamo-naoyuki commented on #3104
I can make  this code more faster. I didn't realize. Please wait.

[2021-03-25 01:09] kan-bayashi commented on #3098
This is interesting.
Since the fastspeech2 models the energy, the model can learn such a tendency.
A little bit complicated, but you can modify or limit the energy of each token if you dig into the energy predictor part.

[2021-03-25 01:21] kan-bayashi commented on #3075
You can follow this script.
https://github.com/espnet/espnet/blob/master/egs/csmsc/tts1/local/data_download.sh

[2021-03-25 04:34] kamo-naoyuki commented on #3104
I updated batch sampler.Could you check?

[2021-03-25 07:20] kan-bayashi commented on #3075
I added the instruction in #3109.

[2021-03-25 07:20] #3075 closed

[2021-03-25 07:21] #3093 closed

[2021-03-25 09:16] sciai-ai commented on #3097
can anyone please help, I believe that the espnet tacotron is trained on english cleaners and phoneme based using g2p, the symbols (tokens) are also listed in the config file, such as, AH0, IY etc. Is it possible to use these symbols to get a required pronunciation during inference?

[2021-03-25 10:45] kan-bayashi commented on #3097
You can build such g2p by yourself.
Current `g2p_en` function is very simple.
https://github.com/espnet/espnet/blob/bed4d4dc7df33bbfa5e2295612e556d5d9fa11e0/espnet2/text/phoneme_tokenizer.py#L99-L107
You can modified this to accept your desired input.

[2021-03-25 12:57] rs-lin opened #3111 "Error during finetuning: No such file: conf/tuning/finetune_tacotron2.yaml"
Hi,

I'm learning how to fine tune a pre-trained model following the example [here](https://github.com/espnet/espnet/blob/master/egs2/jvs/tts1/README.md) and I ran into this file not found issue during step 4.

Could you take a look at this?

Thanks!

[2021-03-25 14:46] Tirthankar-iiitb opened #3112 "Availability of Voice Conversion recipe in ESPnet2"
Request update on any planned early release of VC recipe in ESPnet2 for non-parallel corpus.  Have a use case with requirement of many Indian accented English TTS with small train corpus. Planning to use ESPnet2 platform with fine tuning the pre-trained models with non-parallel corpus.

[2021-03-25 15:40] espnetUser commented on #3104
I tried out your change and can confirm it reduced the LM training text loading significantly!

**without change: ~9 hours**
[code]
**with change: ~10 minutes**
[code]
Thanks @kamo-naoyuki for your quick response and help here!

I will close this issue.

[2021-03-25 15:41] espnetUser commented on #3104
Closing as issue resolved.

[2021-03-25 23:53] kan-bayashi commented on #3111
Please refer jvs recipe one.
https://github.com/espnet/espnet/blob/master/egs2/jvs/tts1/conf/tuning/finetune_tacotron2.yaml

[2021-03-25 23:53] #3111 closed

[2021-03-26 06:11] yileld opened #3113 "why is fastspeech2 different with paper？"
In the paper，length_regulator is after duration_predictor，but yours is after all three predictor. Is this better than original?

[2021-03-26 06:15] kan-bayashi commented on #3113
We use token-averaged embedding like fastpitch.
https://github.com/espnet/espnet/blob/bed4d4dc7df33bbfa5e2295612e556d5d9fa11e0/espnet2/tts/fastspeech2.py#L42-L54
See discussion in #2019

[2021-03-26 12:37] kevinghst commented on #1651
Hey there, thanks for the tips!

Quick follow up question regarding bottleneck layer. So I tried both [VGG2L](https://github.com/espnet/espnet/blob/master/espnet/nets/pytorch_backend/transducer/vgg2l.py) and [Conv2D](https://github.com/espnet/espnet/blob/master/espnet/nets/pytorch_backend/transformer/subsampling.py#L42) for my conformer transducer, but was not able to observe a significant differe

[2021-03-26 13:58] b-flo commented on #1651
Hi,

Depending on the task, there shouldn't be too much difference using VGG2L or Conv2D bottleneck. I suggest to carefully tune the conformer blocks and training parameters to yield better performance.
Unfortunately I don't have time to compile tips on that subject but stay tuned, we're currently working on SOTA transducer models and it will be easier for users to tune their models :)

[2021-03-27 00:51] kouohhashi opened #3115 "What does metrics like Corr mean?"
Hi, I'm new here and I have question about the metrics.

There are metrics like "Snt", "Wrd", "Corr",  "Sub", "Del", "Ins", "Err", "S.Err" in egs2 sections.
I can guess "Snt" means number of sentences and "Wrd" means number of words.
"Err" is error rate  and "S.Err" seems to be sentence error rate.

But I don't know "Corr", "Sub", "Del", and "Ins".
What do these mean?

And what is "TER" means?

Co

[2021-03-27 01:20] kouohhashi opened #3116 "data preparation for librispeech/asr1 recipe failed at utt2spk"
**Describe the issue**
When I run ./run.sh at egs2/librispeech/asr1, I got the error below.

I think data preparation failed seemingly when trying to identify speakers by utt2spk.

```local/data_prep.sh: line 65: data/test_clean/utt2spk: Is a directory```

How can I skip utt2spk part correctly?
I don't think we need to identify speaker for asr task.
Or do I need to install dependency?

Thanks in a

[2021-03-27 01:25] kouohhashi commented on #3116
It seems just removing `data/train_clean_100/utt2spk` and re-run` ./run.sh` works.

[2021-03-27 01:25] #3116 closed

[2021-03-27 06:18] kkm000 commented on #3038
We normally write both utt2num_frames and utt2dur files when extracting features. A separate run of utt2dur.sh over a whole dataset should not be required. Also, I think that we added an approximating conversion from utt2num_frames, if exists, to utt2dur in utils/get_utt2dur.sh.  @kamo-naoyuki, please open an issue in https://github.com/kaldi-asr/kaldi/ if the default mechanism does not work for y

[2021-03-27 07:25] kamo-naoyuki commented on #3038
I'm not sure what you pointed. We wasn't extracting features here, but using perturb_data_dir_speed.sh only.
There are not always utt2num_frames, you know, so I think your pointing  is not related to this issue.

[2021-03-27 09:00] sciai-ai commented on #3097
@kan-bayashi  thank you for your kind reply. I am getting good results with the tacotron + PWG.
However some words pronunciations is not very good. I can try to imprve the G2P mode too.

But I believe the tacotron espnet is trained on phoneme symbols which are generated in the config.yaml file. Should not the model support phoneme input text instead of character text? This will allow directly chan

[2021-03-27 12:44] shanguanma opened #3117 "Multi-input for E2E ASR in espnet2"
I want to use two different augment data to pass the same E2E ASR model in the espnet2 framework, how to use collect_feats function? Can you give some advice?

[2021-03-27 23:58] turian opened #3118 "Documentation needed on how to generate multi-speaker English voices"
**Describe the bug**

I see a description of multi-speaker English examples. However, there is no documentation about how to generate different English voices. I would really love to be able to do this.

[2021-03-28 00:14] turian commented on #3118
https://colab.research.google.com/github/espnet/notebook/blob/master/espnet2_tts_realtime_demo.ipynb#scrollTo=6K73pI6DKn4a

Found it here, thank you

[2021-03-28 00:18] #3118 closed

[2021-03-28 05:19] #3117 closed

[2021-03-29 02:25] kingsword5566 commented on #2872
That sounds great!
Is there any recipe about WFST decoder in ESPnet?

[2021-03-29 03:09] wac81 opened #3119 "is there a Speaker Recognition in egs2?"
is there a Speaker Recognition in egs2?

[2021-03-29 06:46] 7zhanghao opened #3120 "Is there an implementation of ctc shrink here?"

[2021-03-29 09:21] rook86 opened #3121 "fine tuning errors"
I want to perform a fine tuning by following https://github.com/espnet/espnet/tree/master/egs2/jvs/tts1

However, when downloading a pretrained model, error message appears. What can I do to solve this issue. Here is the error message.

Download file from Zenodo: error: unrecognized arguments: --cache_dir kan-bayashi/jsut_tacotron2

[2021-03-29 09:24] kan-bayashi commented on #3121
Please write the whole command to reproduce errors.

[2021-03-29 09:27] rook86 commented on #3121
espnet_model_zoo_download --unpack true --cache_dir downloads kan-bayashi/jsut_tacotron2

this is the command that I wrote. This was done under espnet/egs2/jvs/tts1

[2021-03-29 11:35] kan-bayashi commented on #3121
Sorry, there is a typo.
Please tyr:
`espnet_model_zoo_download --unpack true --cachedir downloads kan-bayashi/jsut_tacotron2`

[2021-03-29 12:40] rook86 commented on #3121
It worked! Thank you very much!

[2021-03-29 15:44] sw005320 commented on #3119
Not yet.
But we are planning to add such funtions.

[2021-03-30 00:08] #3121 closed

[2021-03-30 00:47] #3113 closed

[2021-03-30 08:10] rook86 opened #3124 "About transfer learning"
Hi, I want to execute transfer learning on my own dataset using the pretrained model that was trained by JVS. Is there any links that would be helpful? Also, what should I do to my own dataset to use it for transfer learning?

[2021-03-30 08:44] espnetUser commented on #3104
Hi @kamo-naoyuki, I am still having difficulties training the LM part for librispeech recipe.

I first got some cuda OOM failures and noticed that the LM config requires Tesla V100-SXM2(32GB) x 16 GPUs while my setup has Tesla V100-SXM2(16GB) x 16 GPUs. So I reduced batch_bins to 250000000 which solved the OOM issue.

However, training stops already after 2nd epoch with message:
[code]
Here is the

[2021-03-30 11:25] kamo-naoyuki commented on #3104
How about --use_amp false? The configuration uses amp.
Or, warmup_steps is too small? I'm not sure since I don't have enough experiments about amp.

[2021-03-31 15:29] arsyed opened #3125 "Difference in WERs from single vs multi-GPU"
I've run the AMI recipe (espnet v1) using the RNN model `train_rnn.yaml` with `ngpu=1` and `ngpu=2`.  The WERs are quite different (27.1 vs 41.1  -- result output pasted below).

Is this expected or is there any configuration I can tweak to improve the multiple GPU result?  I'd prefer to use multiple GPUs since it would help me run my experiments faster.  Thank you.

`ngpu=1`
[code]

`ngpu=2`
[cod

[2021-04-01 03:07] evelynyhc commented on #3003
hello, i meet the same problem, what can i do to solve it?

[2021-04-01 03:34] sciai-ai opened #3126 "JSUT PWG model loading error"
I trained the JSUT PWG vocoder model using egs2 recipe. When i try to load the model `vocoder = load_model(vocoder_path).to("cuda").eval()
`
I get the error

 [enforce fail at inline_container.cc:145] . PytorchStreamReader failed reading zip archive: failed finding central directory

When i used the pretrained JSUT PWG model from zoo i dont get this error. @kan-bayashi Can you please help? Than yo

[2021-04-01 07:03] Arafat4341 opened #3127 "Transfer pre-trained CSJ model to JSUT asr training in ESPNet2"
I want to train JSUT asr in espnet2. I want to load pre-trained CSJ model to transfer it's learning into JSUT ASR training. Basically I want to down-sample the audios of JSUT to 8K and train the transformer model but use the learning of pre-trained CSJ Transformer model.
Is there any way to do what I am trying to do?
Thanks in advance!

[2021-04-02 03:30] 3139725181 opened #3128 "How can i use a well-trained language model to score a sentence?"
How can i use a well-trained language model to score a sentence?

[2021-04-02 06:13] BarryKCL opened #3129 "espnet2 AISHELL training use my own Dataset in Stage 9: ASR collect stats"
RuntimeError: Caught RuntimeError in DataLoader worker process 0.
Original Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/torch/utils/data/_utils/worker.py", line 178, in _worker_loop
    data = fetcher.fetch(index)
  File "/usr/local/lib/python3.6/dist-packages/torch/utils/data/_utils/fetch.py", line 35, in fetch
    return self.collate_fn(data)
  File "/usr/loc

[2021-04-02 07:56] BarryKCL commented on #3129
duo to dual channel audio.

[2021-04-02 07:56] #3129 closed

[2021-04-02 18:10] turian opened #3130 "Option to perform inference deterministically and disable dropout?"
**Describe the bug**

[edited]

When running inference twice in the colab, different results are obtained. I am aware that one can use a manual seed https://github.com/espnet/espnet/issues/2647

I understand that for many TTS applications, non-determinism is value. However, there are also TTS experiments where determinism is important. I propose a configuration option that disables dropout and mak

[2021-04-03 05:48] sciai-ai commented on #3097
In Espnet1 (egs1) I am able to use the phn  model which allows me to specify Phonemes during inference.
`x = 'HH AW1 S S T AH0 N .'

This is not possible in ESPNET2(eg2) PHN model. Can i get the same functionality for the ESPNET2(eg2) PHN model?

[2021-04-03 08:06] #3128 closed

[2021-04-03 14:42] deepconsc opened #3131 "Parallel Tacotron 2"
Tacotron team has released Parallel Tacotron 2, with novel duration modelling technique.
[code]

Paper:  ```https://arxiv.org/pdf/2103.14574.pdf```

Would be awesome to see it implemented into espnet!

[2021-04-03 14:50] unilight commented on #3130
Hi @turian, as answered by @kan-bayashi in #2647, the Tacotron 2 paper said "In order to introduce output variation at inference time, dropout with probability 0.5 is applied only to layers in the pre-net of the autoregressive decoder." So dropout is applied by default in Tacotron 2 and many other TTS models that used a prenet-like module. See section 2.2 in https://arxiv.org/pdf/1712.05884.pdf.

[2021-04-03 15:13] turian commented on #3130
@unilight Having read the section, I understand that there is a desire in many TTS applications for varying output.

Nonetheless, there are also TTS applications in which determinism is important. That is why I propose a "deterministic" option.

I am aware from #2647 that one can set a manual seed. It has worked for me in the colab, but not in other experiments I have done.

Overall, I would like

[2021-04-03 15:18] turian commented on #2839
@roholazandie do you mind sharing your code?

[2021-04-03 16:39] turian opened #3132 "How to map from duration to phoneme location in TTS?"
I am trying to find where in the final audio, certain phonemes are.

I have already read
https://github.com/espnet/espnet/issues/2839 and am using a transformer.

I am confused tho because durations almost always seems to contain one more entry than the number of phonemes.

Also, there doesn't seem to be a clear mapping between the phonemes and the durations. Sometimes the durations are a few indi

[2021-04-03 17:41] unilight commented on #3130
why not? did you get non-deterministic values even when fixing the seed?

[2021-04-03 19:15] turian commented on #3130
@unilight I find that if a single phoneme changes, even with deterministic seed, a *lot* of the previous speech changes too, even if you re-use the duration. My main problem is I can't identify where the phonemes are in the speech based upon the duration: https://github.com/espnet/espnet/issues/3132

[2021-04-03 19:58] sw005320 commented on #3130
I also want to second @turian for the deterministic **option**.
The deterministic option will be important for some investigation.
Of course, we can still keep the non-deterministic version as the default, and it would not affect the current users.
@kan-bayashi, could you consider it?

[2021-04-04 02:39] turian commented on #1752
@kan-bayashi I don't see MoL-WaveNet in the espnet2 colab, can it be added?

[2021-04-04 03:31] kan-bayashi commented on #3126
I cannot reproduce. Please provide the code to reproduce this error.

[2021-04-04 03:36] kan-bayashi commented on #3132
Did you use the output of the duration predictor?

That is <eos> symbol.

Since our groundtruth of duration is calculated from the attention weight, i.e., data-driven manner.
Also the durations are predicted in the case of FastSpeech.
Therefore, there is no guarantee of the duration correctness.

If you want to get precise phoneme alignment, GMM-based force alignment is still the best, I think.

[2021-04-04 03:38] kan-bayashi commented on #3130
That is reasonable since the encoder encodes the whole of the input phoneme sequence.
If you change one of the input, the output should be changed.

[2021-04-04 03:39] kan-bayashi commented on #3130
I can add the option like `manural_seed` to fix the outputs.

[2021-04-04 03:43] kan-bayashi commented on #3097
You can do it by changing `g2p=none`.
You can edit `g2p` option in the config of the pretrained model.
See https://github.com/espnet/espnet/tree/master/egs2/TEMPLATE/tts1#supported-text-frontend

[2021-04-04 03:45] kan-bayashi commented on #3125
This is caused by the large batchsize.
If you used ngpu=2, the batch size will be doubled in ESPnet1.
In the case of RNN-based model, the large batch size caused less generalization performance.

[2021-04-04 03:47] kan-bayashi commented on #3124
First, make your own recipe for your dataset.
https://github.com/espnet/espnet/tree/master/egs2/TEMPLATE/tts1#how-to-make-a-new-recipe-for-my-own-dataset
Then, follow the following the steps:
https://github.com/espnet/espnet/tree/master/egs2/TEMPLATE/tts1#how-to-finetune-the-pretrained-model

[2021-04-04 12:26] hanna-dav opened #3134 "N-gram model in espnet2"
Hey!
I would like to run decoding on ESPNET2 using an n-gram model.
In ESPNET (original version), there is an option to run decoding using api=v2 which calls the recog_v2 function that supports n-gram.
Has anyone found something similar in ESPNET2?
Thanks in advance! :)

[2021-04-04 14:00] turian commented on #3130
@kan-bayashi would it also be possible to add --disable-dropout? I would be curious to hear what happens if dropout is disabled entirely. Thank you for the wonderful software.

[2021-04-04 14:17] turian commented on #3132
@kan-bayashi yes, I'm using the durations returned.

Can you recommend a good GMM-based forced alignment implementation for English?

[2021-04-04 20:41] arsyed commented on #3125
Thank you, I'll experiment with the batch size.

[2021-04-04 20:41] #3125 closed

[2021-04-05 16:44] #3021 closed

[2021-04-05 23:57] kan-bayashi commented on #3130
@turian Maybe the following issue helps you.
https://github.com/mozilla/TTS/issues/50
I've never tried, but the inference without dropout seems to degrade the performance.

[2021-04-06 10:16] wac81 opened #3135 "TTS Style Change ？is there any idea ？"
https://cloud.google.com/text-to-speech/?hl=zh-cn
like google wavenet method，and there are 4 wavenet {A/B/C/D}, i think it's add any array for tts model or vocodar model to change tts output voice.

so it’s any simple method to change TTS voice style for fastspeech2?

[2021-04-06 11:18] espnetUser commented on #3104
Thanks @kamo-naoyuki!

After adjusting the following settings in the LM config:

- batch_bins: 500000000 -> 250000000,
- learning rate: 0.005 -> 0.0025
- use_amp: true -> false

I was able to get the Transformer LM trained within 4 days on my V100 16GB cards.

With amp active the training did not work due to gradients becoming NANs. --use_amp true seems to be the default setting in the configurati

[2021-04-07 13:54] asadolahzade opened #3139 "GPU requirement for recipes"
Hi,
I'd like to know about the GPU resources (memory, ...) required for running any type of architecture and recipes. Can anyone help me where I can find such information?

Thanks.

[2021-04-08 04:29] sciai-ai opened #3141 "Finetuning an english base model using tacotron 2"
HI,

I have tried fine tuning using the JVS recipe (https://github.com/espnet/espnet/tree/master/egs2/jvs/tts1).

I first trained using a model using a custom dataset for a single English speaker and got good results. Now I tried to finetune the model using a smaller datasets of 30 minutes, I used the JVS finetuning recipe however the results are not meaningful. I removed silences and cleaned the

[2021-04-08 18:12] sw005320 commented on #3139
I usually use 1080Ti (11GB).
Most of the recipes except for large corpora (e.g., librispeech, gigaspeech, etc.) would work with such a GPU.

[2021-04-08 18:16] asadolahzade commented on #3139
Thank you.
How about LibriSpeech? What resource does it require to train esp. in terms of memory?
Thanks.

[2021-04-08 18:29] sw005320 commented on #3139
I'm using 4 Titan RTX (24GB). Some of the configurations I updated  (e.g., gigaspeech) are based on them.
I used to work with a single 1080Ti (11GB), as well.

Basically, we can make a similar setup across different GPUs by changing the batch size and accum_grad options so that the total batch size (batch size * accum_grad) would be the same.
For example, the current librispeech recipe uses the to

[2021-04-08 18:30] sw005320 commented on #3120
Could you give us some references?
We're working on some similar trials and may implement them upon request.

[2021-04-08 18:33] sw005320 commented on #3100
Thanks for your report.
Which task are you using?

@eml914, do you know what happened?

[2021-04-09 00:43] yangyi0818 opened #3143 "The libricss dataset decoding time is too long"
@akreal
hello, when I run the decoding step of libricss dataset in path-to-espnet/egs/libri_css/asr1/run.sh, I find it cost too much time.
The decoding of dev set, which only contains about 500 utterances, takes about 1 hour. The eval set, takes more than 9 hours. Why is that? Is it right?

[2021-04-09 00:45] Arafat4341 commented on #3127
@sw005320 Thanks a lot for your response.
Actually I want to use the STT model in a situation where input audios will be 8K audios.

[2021-04-09 01:09] 7zhanghao commented on #3120
Such as this paper "https://arxiv.org/abs/2005.07903".

[2021-04-09 01:10] 7zhanghao commented on #3120
Such as this paper "https://arxiv.org/abs/2005.07903".

[2021-04-09 08:21] ken57 opened #3146 "Construction of a noise robust speech recognition model."
We are struggling to build a noise robust speech recognition model.
I have questions about the noise robust speech recognition model using Espnet.

(1) Which method do you think is better on building a noise robust model: training with noise data augmentation or sound enhancement before recognition?
(2) I feel its difficult to recognize in environments where multiple people are talking simultaneou

[2021-04-09 08:29] ken57 commented on #3146
I'm sorry. I labeled this issue "installation" by mistake.
However, I don't know how to fix it...

[2021-04-09 12:22] akreal commented on #3143
Hello! Yes, it's quite slow, mostly because of relatively large beam size, I guess. You can try decreasing the beam size to 10 or 15 (currently hardcoded in `run.sh`) or increasing number of jobs.

[2021-04-09 19:16] sw005320 commented on #3146
Thanks for bringing important discussions.

My suggestion is to work on the noise data augmentation first.
espnet chime6 recipe includes such a process (https://github.com/kaldi-asr/kaldi/tree/master/egs/aspire/s5).
You can also find more examples in the Kaldi recipes (e.g., https://github.com/kaldi-asr/kaldi/tree/master/egs/aspire/s5).

We also have speech enhancement/separation + ASR recipes but

[2021-04-09 19:17] sw005320 commented on #3120
Thanks!
We will work on summarizing various non-autoregressive techniques and will consider it as one of the reference imlementations.

[2021-04-09 19:17] sw005320 commented on #3120
Thanks!
We will work on summarizing various non-autoregressive techniques and will consider it as one of the reference imlementations.

[2021-04-09 19:23] sw005320 commented on #3127
I see.
Anyway please check https://github.com/espnet/espnet/issues/2667 for pre-training and fine-tuning.

[2021-04-09 19:28] sw005320 commented on #3143
Yes, as @akreal mentions, the recipe overly tuned for the off-line best ASR setup. The ASR/LM model is very large and the beam size is extremely large, which is not our normal setup. Please let me know if decreasing the beam size does not completely solve your issues. We'll think of preparing a smaller model for fast inference (and minimizing the degradation).

[2021-04-10 08:24] 7zhanghao commented on #3120
I reproduced it myself, but the details may not be handled properly and the effect is not very good. Looking forward to your realization. After you reproduce, I hope you can inform me, so that I can learn your realization as soon as possible.

[2021-04-11 12:01] winlaic opened #3147 "Espnet2 ASR DataParallel API mismatching?"
In `espnet/espnet2/train/trainer.py:250,17`
It seems that `torch.nn.parallel.DataParallel` doesn't have a parameter `find_unused_parameters`.
Is it a bug?

[2021-04-12 02:46] yuekaizhang commented on #2694
@kamo-naoyuki , Hi, anyone is tuning swbd for espnet2? I'd love to do that if no one is doing it now.

[2021-04-12 02:57] kamo-naoyuki commented on #3147
Thanks, this is a bug.

[2021-04-12 03:05] kamo-naoyuki commented on #2694
@yuekaizhang Thank you! I'm glad if you do that!

[2021-04-12 03:47] #3147 closed

[2021-04-12 08:48] Cescfangs commented on #3100
I am using in-house data for training, the test set is from Aishell-1.
`BatchBeamSearchOnlineSim` assumes repeated labels as a sign to 'waiting' for next chunk and re-search current decoding step using more data, and the repeated labels are pretty common during decoding(`hop_size=10`).

[2021-04-12 09:27] eml914 commented on #3100
Thank you for report.
`BatchBeamSearchOnlineSim` does not decode in streaming way and decoding is not optimized.  So, it is simply for evaluating WER/CERs.
If the repetition occurs frequently, rewrite the following line to `False`
https://github.com/espnet/espnet/blob/ffcf39c27f9aa0cf15c7ae7a06a8a9d35871602e/espnet/nets/batch_beam_search_online_sim.py#L112
This change will ignore the repeated labe

[2021-04-12 11:37] ken57 commented on #3146
Thank you for your reply.

First, I will try the noise data augmentation reading the chime6 recipe.

I will also read the speech enhancement/separation recipes you introduced.

[2021-04-12 11:37] #3146 closed

[2021-04-13 00:47] WanderingSven opened #3151 "The dimension of speaker embedding is not 512 in espnet1"
Hello everyone:
         I use the egs/libritts/tts1 recipe to train multi-speaker TTS. The default pipeline of extracting x-vector is done, as follow:
[code]
However, the dimension of speaker embedding is 7185, not 512. The stage of extracting speaker embedding seems to be irrelative to other stages.
Where may the error occur?

[2021-04-13 01:57] ymzlygw opened #3152 "TTS fintuning param error in stage 6"
When I do tts fintuing using jvs recipe. I finished stage1-5, but in stage 6, When I using recommeded command :
$ ./run.sh --stage 6 --train_config conf/tuning/finetune_tacotron2.yaml \
    --train_args "--init_param downloads/2dc62478870c846065fe39e609ba6657/exp/tts_train_tacotron2_raw_phn_jaconv_pyopenjtalk/199epoch.pth" \
    --tag finetune_jsut_pretrained_tacotron2

**Error occurs with folloin

[2021-04-13 02:00] ymzlygw commented on #3141
Hi could you please help me about my problem? thanks !
in stage 6, When I using recommeded command :
$ ./run.sh --stage 6 --train_config conf/tuning/finetune_tacotron2.yaml
--train_args "--init_param downloads/2dc62478870c846065fe39e609ba6657/exp/tts_train_tacotron2_raw_phn_jaconv_pyopenjtalk/199epoch.pth"
--tag finetune_jsut_pretrained_tacotron2
**I get the following error:**
tts_train.py: error:

[2021-04-13 02:01] ymzlygw commented on #3141
Hi could you please help me about my problem? thanks !
in stage 6, When I using recommeded command :
$ ./run.sh --stage 6 --train_config conf/tuning/finetune_tacotron2.yaml
--train_args "--init_param downloads/2dc62478870c846065fe39e609ba6657/exp/tts_train_tacotron2_raw_phn_jaconv_pyopenjtalk/199epoch.pth"
--tag finetune_jsut_pretrained_tacotron2
I get the following error:
tts_train.py: error: unr

[2021-04-13 06:53] ymzlygw commented on #3152
After I git push the  Espnet.  The error message changed to following:

........
.......
[d6fbba8aac2b] 2021-04-13 06:46:09,918 (abs_task:1119) INFO: Scheduler: None
[d6fbba8aac2b] 2021-04-13 06:46:09,918 (abs_task:1129) INFO: Saving the configuration in exp/jvs080/tts_finetune_tacotron2_jvs080/config.yaml
[d6fbba8aac2b] 2021-04-13 06:46:09,931 (abs_task:1135) INFO: Loading pretrained params from

[2021-04-13 11:40] unilight commented on #3151
Hi @WanderingSven, I tried running `egs/libritts/tts1/run.sh`, and the followings are the first few lines of `dump/train_clean_460/data.json`:
[code]
It seems that the dimension of the x-vector is 512. Can you share your `dump/train_clean_460/data.json` or explain why you think the dimension is 7185?

[2021-04-13 12:26] fengpeng-yue commented on #3151
Thanks for your reply @unilight
The data.json is as follow:
[code]

[2021-04-13 12:27] WanderingSven commented on #3151
Thank you for your reply @unilight
The data.json is as follow:
[code]

[2021-04-13 12:29] WanderingSven commented on #3151
Thank you for your reply @unilight
The data.json is as follow:
[code]

[2021-04-13 18:16] tbright17 commented on #2872
Did you use Essen to do ctc-based WFST decoding?

[2021-04-14 07:38] jinggaizi commented on #2872
@tbright17 hi,  whats's Essen

[2021-04-14 07:45] tbright17 commented on #2872
https://github.com/srvk/eesen

[2021-04-14 07:51] jinggaizi commented on #2872
thanks, i saw a paper that have a similar work--  https://arxiv.org/abs/2104.03587

[2021-04-14 07:56] #3152 closed

[2021-04-14 21:43] tbright17 commented on #2872
Also saw this paper. Some previous studies also use Eesen for WFST based
CTC decoding but don't remember exactly which papers. Maybe K2 is a better
choice later on.

On Wed, Apr 14, 2021 at 12:51 AM jinggaizi ***@***.***> wrote:

[2021-04-14 21:43] tbright17 commented on #2872
Also saw this paper. Some previous studies also use Eesen for WFST based CTC decoding but don't remember exactly which papers. Maybe K2 is a better choice later on.

[2021-04-15 22:40] turian commented on #3130
@kan-bayashi yes I seem to have read this in another paper too, that they leave on dropout during inference. Manual seed would be nice.

[2021-04-16 06:52] sciai-ai commented on #3097
@kan-bayashi thank you, this is a great tool for TTS development. I will try this and close this issue for now

[2021-04-16 06:53] sciai-ai commented on #3126
@kan-bayashi the problem was happening as the device type was not consistent for vocoder and tacotron2 during inference, cpu vs gpu. Resolved and closing this.

[2021-04-16 06:54] sciai-ai commented on #3126
@kan-bayashi the problem was happening as the device type was not consistent for vocoder and tacotron2 during inference, cpu vs gpu. Resolved and closing this.

[2021-04-16 06:54] #3126 closed

[2021-04-16 07:23] kju196 opened #3156 "[ASR train] how to create speech_shape and text_shape.char"
Hi everyone,
I am new to espnet. I try to training Espnet with JSUT dataset follow the config file on modelzoo.
I got error:
`FileNotFoundError: [Errno 2] No such file or directory: 'exp/asr_stats_raw_char_sp/train/speech_shape'`

I saw in the config:

[code]

and

[code]

But I don't know how to create them.

Please show me if you know it.
Thank you very much.

[2021-04-16 07:29] kju196 commented on #3156
Wrong label :((

[2021-04-16 07:35] sciai-ai commented on #3141
@kan-bayashi Any tips on how to improve this? Many thanks!

@kan-bayashi any tips on how to imropve the finetuning? Many thanks! I also tried mozilla TTS but it also does not work for this task

[2021-04-16 07:35] sciai-ai commented on #3141
you need space before --init_param

[2021-04-16 07:50] ymzlygw commented on #3141
Thanks ! Ihave solved it!

[2021-04-16 10:25] hchung12 commented on #3072
In  the _generate_mini_batches() function in chunk_iter_factory.py, batch data is constructed like below
        while len(id_list) >= bs:

However, if len(id_list) is smaller than batch size, empty batch data is returned.
It should be modified something like below.
        for _ in range(0, len(id_list), bs):

[2021-04-16 16:36] unilight opened #3158 "Mask-CTC pretrained model on large-scale English benchmark datasets"
Hi, is it possible to release Mask-CTC pretrained models on large-scale English benchmark datasets? For example, the Tedlium2 model described in the paper. Other datasets like Librispeech would also be fine. Thanks a lot!

[2021-04-16 16:45] sw005320 commented on #3158
Those are good suggestions!
@YosukeHiguchi, @Jzmo, can you upload your configs and models?

[2021-04-16 21:03] vrunda-28 commented on #3139
Hi,
@sw005320 What if I want to use 2 GPU cards instead of 1? For ESPNET2, is this always the case that (batch bins*accum_grad) should be constant **irrespective of the number of GPUs**?

[2021-04-16 22:38] sw005320 commented on #3139
Correct.
So, you can increase them by yourself.

[2021-04-18 11:41] kan-bayashi commented on #3141
Most of the cases, the cleaning of training data is critical.
- remove silence
- adjust pose length
- add missing symbols
- etc..

See tips:
https://github.com/espnet/espnet/tree/master/egs2/TEMPLATE/tts1#why-the-model-cannot-be-trained-well-with-my-own-dataset

Related issue:
https://github.com/espnet/espnet/issues/2327
https://github.com/espnet/espnet/issues/2565

[2021-04-18 11:44] kan-bayashi commented on #3132
Sorry for the late reply.
https://github.com/pettarin/forced-alignment-tools
This repo helps you.

[2021-04-18 11:44] #3132 closed

[2021-04-18 11:49] kan-bayashi commented on #3151
Sorry for the late reply.
It seems strange. Could you teach me your kaldi version?

[2021-04-18 11:51] kan-bayashi commented on #3135
We support Multi-speaker + GST fastspeech2.
You can try in the notebook.
https://colab.research.google.com/github/espnet/notebook/blob/master/espnet2_tts_realtime_demo.ipynb

[2021-04-19 03:13] Jzmo commented on #3158
Sure, I will add the model link and configs when making pull request of my code.

[2021-04-19 08:21] WanderingSven commented on #3151
Thank you for your reply @kan-bayashi
The version of Kaldi I use is 5.5
![image](https://user-images.githubusercontent.com/26950286/115204585-39c7e780-a12b-11eb-946f-266b72da060b.png)

[2021-04-20 07:30] #3156 closed

[2021-04-20 08:19] AdolfVonKleist commented on #3099
My pull request on this topic was merged today:
 - google/sentencepiece#642

I think this conclusively resolves the issue [the unigram model training should be fast again as well].

[2021-04-20 08:19] #3099 closed

[2021-04-21 02:37] turian commented on #3132
Thank you @kan-bayashi

[2021-04-22 09:38] Freddy-pp opened #3160 "LightSpeech TTS"
Hello @kan-bayashi and all. First, I want to thank you for your really great work. And want to ask if you have any plans for LightSpeech TTS implementation in espnet project?

https://arxiv.org/abs/2102.04040
https://speechresearch.github.io/lightspeech/

[2021-04-22 13:27] WadoodAbdul opened #3161 "Error while finetuning a fastspeech2 model"
**The bug**
I'm trying to finetune the fastspeech2 model, "kan-bayashi/vctk_xvector_conformer_fastspeech2" on my own data. However a size mismatch error pops up in the stage 6, while copying checkpoint parameters.

**Basic environments:**
 - OS information: Ubuntu 18.0.4
 - python version:3.7.4 [GCC 7.3.0]]
 - espnet version: 0.9.9
 - pytorch version [ 1.4.0]

**Environments from `torch.utils.coll

[2021-04-22 23:15] xxjjvxb opened #3163 "egs2/wsj/asr1/README.md contains conf/decode.conf but it's conf/decode.yaml"
**Describe the bug**
decode.conf should be change to decode.yaml.

[2021-04-22 23:54] kan-bayashi commented on #3161
size mismatch for feats_extract.logmel.melmat: copying a param with shape torch.Size([1025, 80]) from checkpoint, the shape in current model is torch.Size([513, 80]).

It seems the fft and shift point settings are different.
And you need to also
- specify `--use_xvector` in stage 5 and stage 6
- use xvector fastspeech2 config in stage 5 (feature statistics calculation)

In espnet_model_zoo, there

[2021-04-23 00:08] kan-bayashi commented on #3151
I tested with the latest kaldi (cbed4ff68) but I could not reproduce this error.
[code]

[code]

[2021-04-23 00:30] vishal16babu opened #3165 "Instructions for training vocoder in voice conversion example"
https://github.com/espnet/espnet/tree/master/egs/arctic/vc1 run.sh script downloads pretrained vocoder for the target actor. Is there a recipe for training the vocoder? I want to do voice conversion from a single speaker A to another speaker B which are not part of the dataset used in the example

[2021-04-23 00:31] kan-bayashi commented on #3165
Please use https://github.com/kan-bayashi/ParallelWaveGAN.

[2021-04-23 00:31] #3165 closed

[2021-04-23 07:00] #3163 closed

[2021-04-23 09:00] AMG222 opened #3166 "Error in the **d.download_and_unpack(tag) of"
**Describe the issue**
Hi, I have a problem when I try to dowload the files in this instruction **d.download_and_unpack(tag)
Please help

[code]

**Basic environments:**
 - OS information: Windows 10 x64
 - python version: 3.9.4
 - espnet version: 0.9.9

[code]

[2021-04-23 09:07] kan-bayashi commented on #3166
zenodo seems down. Please retry several hours later.

[2021-04-23 09:07] #3166 closed

[2021-04-23 09:33] AMG222 commented on #3166
OMG Thanks, How I can execute the final part for use it without Internet conexion?

[2021-04-23 09:53] AMG222 commented on #3166
But in the colab runs well

[2021-04-23 10:00] kan-bayashi commented on #3166
Of course you need the internet connection.
If not, please download it manually and use it.

[2021-04-23 10:02] kan-bayashi commented on #3166
You can pass these arguments manually.
https://github.com/espnet/espnet/blob/e4a0018eeb408440fb2b40cb5b1130ac64c475fa/espnet2/bin/tts_inference.py#L54-L55

[2021-04-23 10:27] AMG222 commented on #3166
And wich arguments I need to use I'm confused

[2021-04-23 10:28] kan-bayashi commented on #3166
`train_config` and `model_file`.

[2021-04-23 10:33] AMG222 commented on #3166
And where are they? now I have this only to say hello world
import soundfile
import time
import torch
from espnet_model_zoo.downloader import ModelDownloader
from espnet2.bin.tts_inference import Text2Speech
from parallel_wavegan.utils import download_pretrained_model
from parallel_wavegan.utils import load_model
text2speech = Text2Speech("config.yml", "model.pth")
wav = text2speech("Hello World")

[2021-04-23 10:35] kan-bayashi commented on #3166
I could not understand your question.
I assume that you cannot use the internet connection in your env.
1. Download https://zenodo.org/record/4036268/files/tts_train_conformer_fastspeech2_raw_phn_tacotron_g2p_en_no_space_train.loss.ave.zip?download=1
2. Locate the file in your python env and unzip it.
3. Edit your code to specify the `traing_config` and `model_path` instead of `**d.download...`.

[2021-04-23 10:37] AMG222 commented on #3166
Aaaaa thank you

[2021-04-23 10:58] AMG222 commented on #3166
With this code
[code]
I obtain this
[code]

[2021-04-23 11:31] AMG222 commented on #3166
Where this should save? or I neet to hear it in the moment.

[2021-04-24 02:18] v-yunbin commented on #1324
@Fhrozen I install espnet in windows，and i just want to decode tts or asr model but not train model.
when decode in windows, I met errors: `C:\Users\GW00213025\Desktop\espnet-v.0.9.8\espnet-v.0.9.8>python F:\model\tts\ch-tts-inference.py
espnet.nets.pytorch_backend.e2e_tts_transformer:Transformer
Traceback (most recent call last):
  File "F:\model\tts\ch-tts-inference.py", line 33, in <module>

[2021-04-24 02:40] v-yunbin commented on #1324
I have installed espnet  in windows and decode tts model, it works

[2021-04-24 04:23] lin-nerd opened #3170 "The grad norm is nan in ESPnet2 ASR task"
I use ESPnet2 in ASR task, config is conf/train_asr_conformer.yaml

- python version: `3.8.5 (default, Sep  4 2020, 07:30:14)  [GCC 7.3.0]`
- espnet version: `espnet 0.9.9`
- pytorch version: `pytorch 1.4.0`

log is:

[user] 2021-04-23 19:22:52,420 (trainer:581) WARNING: The grad norm is nan. Skipping updating the model.
[user] 2021-04-23 19:22:53,113 (trainer:581) WARNING: The grad norm is nan. S

[2021-04-24 06:44] ymzlygw opened #3172 "Could you please tell me how to improve vc performance ?"
Hi, I have followed the jvs recipe to do the spk adaption and get some good . Really insteresting, but also find that  pronunciation of some words is a little strange.
And I want to know that how to improve the performance by using small datase(ex..100-200 utt) .
What params should i do some change on them ?  Really thanks for your recommendtations!

[2021-04-25 20:55] vishal16babu opened #3175 "compute-vad command not found"
After compiling kaldi as mentioned in the instructions, while running egs/vcc20/vc1_task1/run.sh, I encountered an error on stage 3 saying compute-vad command not found.

[code]

[code]

[2021-04-25 20:55] vishal16babu commented on #3175
Fixed this by going to <KALDI_ROOT>/src/ivectorbin and running make -j <NUM_CPU>
Please add this to the Kaldi installation instructions

[2021-04-25 22:05] vishal16babu commented on #3175
Looks like there are other binaries that need to be compiled for stage 3
`
cd <KALDI_ROOT>/src/bin
make -j <NUM_CPU>
cd ../ivectorbin
make -j <NUM_CPU>
cd ../nnet3bin
make -j <NUM_CPU>
`

[2021-04-25 23:56] kan-bayashi commented on #3175
Please follow the kaldi instruction.
https://github.com/kaldi-asr/kaldi/blob/master/INSTALL

[2021-04-25 23:56] #3175 closed

[2021-04-26 05:43] yuekaizhang commented on #3170
I encountered the same problem when trianing switchboard in espnet2.  _This training was stopped at 2epoch_. Any ideas about the issue?

[2021-04-26 07:40] yuekaizhang commented on #3170
Would you mind checking your train.yaml? I was wondering you use batch-bin or batch frames trainning. In my case, batch bin gave me this error.

[2021-04-26 14:32] AMG222 opened #3179 "The question marks (?) and exclamation symbols (!) don't make any difference in the speech"
**Describe the bug**
The question marks (?) and exclamation symbols (!) don't make any difference in the speech
I'm tryan to make three types of enphasis: advice, warnings and informative. If someone know how to change the enphasis or the intonation like the natural language please heal me

[2021-04-26 20:26] sw005320 commented on #3170
Thanks for the report.
It might be caused by CTC.
Can you add the following options in the config?
[code]

[2021-04-26 22:40] sw005320 commented on #3179
Thanks for your question.
@kan-bayashi, can you answer it for me?
I have checked espnet1 ASR recipe since it is easy to access the cleaned text and I found that the training data includes "?". So, I thought that it would work to some extent, but is my understanding wrong?
Did you prune the punctuation somewhere?

[2021-04-26 22:44] sw005320 commented on #3134
I forgot the status of it.
We have added an n-gram model in our scorer interface by @qmpzzpmq.
espnet2 also uses that scorer interface, and it is ready to be used for espnet2.

@qmpzzpmq, could you give us some comments about it?

[2021-04-26 22:48] sw005320 commented on #3112
@unilight or @kan-bayashi, can you tell me your opinion about it?
At least, it would be good to have VC with parallel corpora, and I remember that @kan-bayashi once mentioned this possibility.
Also, I think VC with non-parallel corpora in espnet2 would be very valuable, but probably it is not easy to port https://github.com/espnet/espnet/tree/master/egs/vcc20 since the recipe is very complicated.

[2021-04-26 22:50] sw005320 commented on #3103
I just added a feature request tag.
Indeed it is useful, but I personally don't have such experience.
I heard that some of them already tried it, and it would be great if they give us their experience about it.

[2021-04-27 03:07] qmpzzpmq commented on #3134
I will look at it. But it will take time since recently I am busy for move house. Thanks for you @sw005320

[2021-04-27 03:45] Lostsy opened #3181 "About time_warp"
Hi

I was using the time_warp module in Espnet. And I find some comments that the time_warp does not support batch style input. I think I have a solution for it.

File:
https://github.com/espnet/espnet/blob/master/espnet2/layers/time_warp.py

line 91
 ys.append(_y)

Then pad_list function accepts tensor of 2D. So, we just need to change the _y tenor from 3D to 2D.
My code:
ys.append(_y.squeeze(dim

[2021-04-27 08:46] #3161 closed

[2021-04-27 15:38] jdrex commented on #3170
We are seeing the same thing (with our own data) - adding the "ignore_nan_grad" option to the config helps in some cases but not in others. This issue was introduced sometime in the last few months - with the current version of the codebase, we are unable to train with a configuration that had previously worked fine.

[2021-04-27 16:13] hyung8758 commented on #3103
Thanks! it would be a very useful feature so I'm looking forward to it.

[2021-04-27 18:56] vishal16babu opened #3182 "CMU arctic database audios are not parallel"
In order to use https://github.com/espnet/espnet/tree/master/egs/arctic/vc1 ,  I downloaded the arctic dataset using the first step and compared two corresponding audio files:

1. egs/arctic/vc1/downloads/cmu_us_clb_arctic/wav/arctic_a0001.wav
2. egs/arctic/vc1/downloads/cmu_us_slt_arctic/wav/arctic_a0001.wav

Both audios have the same transcript but they're definitely not temporally aligned. http

[2021-04-28 02:04] sw005320 commented on #3134
Many thanks!
Yes, of course, take your time and do it with your own schedule.
But this would be a great addition for espnet2 ;)

[2021-04-28 02:18] lin-nerd commented on #3170
Thanks for your reply.
I will try to add the option in my config.

[2021-04-28 02:46] kan-bayashi commented on #3181
I think the problem is how to remove for loop here.
https://github.com/espnet/espnet/blob/55160fc20c48686808cbdf208919e668e3b1451a/espnet2/layers/time_warp.py#L85-L90

[2021-04-28 02:48] kan-bayashi commented on #3182
Since our model is based on sequence-to-sequence model, there is no need to align the pair of audio.
Attention will handle the time alignment issue.

[2021-04-28 02:57] kan-bayashi commented on #3179
It depends on the language and dataset.
In the case of English, we use ! and ? for the input.
However, since the model reflect the nature of the training data, the effect of such symbols depends on samples in the training data.

[2021-04-28 03:11] sw005320 commented on #3179
Thanks.
Year, the ljspeech espnet1 recipe includes "?" in several training utterances, so I thought that it would change some intonations during inference, but I could not recognize some changes as @AMG222 reported.

[2021-04-28 03:53] kan-bayashi commented on #3172
In the case of Japanese, g2p method affects the pronunciation.
You can find several choices:
https://github.com/espnet/espnet/blob/55160fc20c48686808cbdf208919e668e3b1451a/egs2/jvs/tts1/run.sh#L31-L45

And non-autoregressive model requires smaller amount of the training data than AR models.
The adaptation step is a little bit complicated, but it is worthwhile to try.
(Adap AR model -> generate dur

[2021-04-28 05:22] vishal16babu commented on #3182
I also had the same expectation. Thanks a lot for the confirmation.

[2021-04-28 05:22] #3182 closed

[2021-04-28 05:24] ymzlygw commented on #3172
Thanks, I'll try it!

[2021-04-28 07:51] ymzlygw commented on #3172
By the way, Could you please tell me is there any recipe about how to train multi-speaker model  of Japanese? Thanks!

[2021-04-28 08:40] lumaku commented on #3170
Also, check your training data.
Errors in CTC happen when the audio input is shorter than the ground truth.
I had a similar case with my network; using the Pytorch anomaly detection helped finding the error.

[2021-04-28 10:42] kan-bayashi commented on #3172
Currently, we have not yet supported Japanese multi-speaker recipe.
(You may be able to transfer egs/jnas/tts1 recipe to espnet2)

If you have such a dataset, you can try by following
https://github.com/espnet/espnet/tree/master/egs2/TEMPLATE/tts1#multi-speaker-model-with-x-vector-training

[2021-04-28 12:09] csukuangfj opened #3183 "the `dim` argument in LayerNorm is not used"
See
https://github.com/espnet/espnet/blob/55160fc20c48686808cbdf208919e668e3b1451a/espnet/nets/pytorch_backend/transformer/layer_norm.py#L36-L38

It always uses `x.tranpose(1, -1)` instead of `x.transpose(self.dim, -1)`.

It has not caused problems so far since the use case of LayerNorm in ESPnet happens to always be `dim==1`. See
https://github.com/espnet/espnet/blob/55160fc20c48686808cbdf208919e

[2021-04-28 13:38] sw005320 commented on #3170
Thanks, @lumaku.
Year, this is my general observation, but I'm a bit concerning about @jdrex and @yuekaizhang's comments.
Especially, switchboard must work.
So, I want @yuekaizhang's follow-up about it.

[2021-04-29 01:03] yuekaizhang commented on #3170
Thanks. After using ignore_nan, the swbd trianing in espnet2 works now. In every batch, there are always one or two samples got nan value which caused the problem. I will PR the swbd receipe for espnet2 when I got a resonable result. (WER for now is 20% and I am tuning it.)

[2021-04-29 08:16] WadoodAbdul commented on #3161
@kan-bayashi Could you please suggest a config for finetuning fastspeech model that has worked for you? Currently I've just reduced the learning rate and epochs.

[2021-04-29 10:50] AmirHussein96 commented on #3100
@eml914  While I was investigating how streaming works I noticed that the encoder encodes the entire speech before it fed to the decoder.  I thought based on the paper (https://arxiv.org/abs/2006.14941) each encoded block is fed to the decoder once they are encoded so that the decoder does not need to wait until the entire segment is encoded. As far as I understand this is not a streaming inferenc

[2021-04-29 10:55] AmirHussein96 opened #3184 "Streaming inference mode"
While I was investigating how streaming works I noticed that the encoder encodes the entire speech before it fed to the decoder.  I thought based on the paper (https://arxiv.org/abs/2006.14941) each encoded block is fed to the decoder once they are encoded so that the decoder does not need to wait until the entire segment is encoded. As far as I understand this is not a streaming inference mode, r

[2021-04-29 17:30] takeofuture opened #3185 "2021-04-29 17:00:44,044 (trainer:582) WARNING: The grad norm is nan. Skipping updating the model."
I am running espnet2 against CSJ.
But I got the warning
[code]
Initially I got error saying the shortage of my GPU Memory
So I decrease bin size 1/3

[code]
The loss is not decreasing so I guess the script does not do any update on the parameter to the model.

[ENVIRONMENT]
- OS information: Linux 5.4.0-1042-gcp #45~18.04.1-Ubuntu SMP Tue Apr 13 18:51:16 UTC 2021 x86_64
 - python version: `3.6.13

[2021-04-29 22:42] sw005320 commented on #3170
OK.
Probably we should make it as default?
We can do it during your PR.
WER 20% is a bit high side, but probably you can get a reasonable result.
If you want some help, please let me know.

[2021-04-29 22:47] sw005320 commented on #3185
If you reduce the batch size, I recommend you to increase the accum grad and make the total batch size (e.g., accum_grad * batch_bins) equal to the original config.
Also, grad norm nan would be mitigated by adding the following options to the config file.
[code]

[2021-04-30 00:56] will-rice commented on #3184
I have the same question. As far as I can tell most open-source implementations encode the full spectrogram. However, the way I interpreted the papers lead me to think that each chunk is encoded, then decoded. I'd really like to see how a person would know which to use based on the papers.

[2021-04-30 02:07] eml914 commented on #3184
Thank you for your comment.
The paper is based on the system that encodes each chunk then decode synchronously.  However, to fit the implementation into current espnet2 pipeline, I had to once aggregate all the encoded features and fed into the decoder.  In the decoder, or `self.beam_search`, the encoded features are split again into chunks, so that it reproduce streaming inference.  `self.beam_se

[2021-04-30 03:00] Lostsy commented on #3181
Hi, kan-bayashi

I think if we apply different timewarp in the batch, it will be difficult to remove the warp. I have no idea for the moment.

Regards

Yang

[2021-04-30 03:00] #3181 closed

[2021-04-30 08:02] oshindow opened #3186 "Questions about apply cmvn"
Hi, I don't understand why the cmvn.ark of `train set` is applied to both `test & dev set` in espnet. It seems that in Kaldi, each applies its own cmvn.ark (e.g., the `test set` will also calculate its own cmvn.ark and apply it). Is this approach because we use e2e model training?

If I replace the test data (from another data set or my own recording), should I also use the cmvn.ark of the `origin

[2021-05-01 11:30] AMG222 opened #3188 "I need necessarily a Nvidia GPU to use espnet?"
**Describe the issue**
I'm using a VMware to try my program that works in my machine Windows but in virtual machine don't appear the GPU like Nvidia. I want to use it in this SO, exists one way to use it without a Nvidia GPU?

**Basic environments:**
 - OS information: Debian10 x64
 - python version: 3.9
 - espnet version: 9.9.0

You can obtain them by the following command
[code]
**Error logs**
[

[2021-05-02 09:17] Fhrozen commented on #3188
You can find the instructions at: https://espnet.github.io/espnet/espnet2_tutorial.html#instruction-for-run-sh for each flag. But `--ngpu 0` should do the work.

[2021-05-03 09:11] AMG222 commented on #3188
How I don't have the utils/parse_options.sh file
And with
[code]
Print the same error

[2021-05-03 10:01] Fhrozen commented on #3188
Is that main.py from any recipe of ESPnet, or did you implement it yourself?. In case of self-implementation, remember to set `device="cpu"`, when calling `Text2Speech` from https://github.com/espnet/espnet/blob/master/espnet2/bin/tts_inference.py
https://github.com/espnet/espnet/blob/55160fc20c48686808cbdf208919e668e3b1451a/espnet2/bin/tts_inference.py#L41

[2021-05-03 10:49] AMG222 commented on #3188
Ok, Thank you so much now it's working. I write the device="cpu" in Text2Speech as you say

[2021-05-03 11:15] s920128 opened #3189 "Questions about AISHELL-2 recipe"
I run the AISHELL-2 recipe from stage 0 to stage 2.
In my train/text the sentence repeat 2 times.
like ` IC0001W0001 厨房用具    IC0001W0001 厨房用具 `
so in data.json of train set, the text and token are repeat 2 times too.
but dev/\*/text or test/\*/text seem to be correct.
I check the stage 0, train/text is correct before run `paste <(cut -f 1 data/${x}/text.org) <(cut -f 2 data/${x}/text.org | tr '[:l

[2021-05-03 17:10] AmirHussein96 commented on #3184
Thank you @eml914 for the clarification.  So theoretically if I removed the aggregation part from the encoder and fed the encoded representations once they are encoded directly to the decoder the model will run in streaming mode, right? Please let me know if my understanding is correct. Also, do you think such modification requires changing the currently available `espnet/nets/batch_beam_search_on

[2021-05-04 15:02] sw005320 commented on #3189
Thanks for your report.
This would be a bug.

@pengchengguo, could I ask you to check this?

[2021-05-04 15:14] sw005320 commented on #3186
Thanks!
This is a great point.
This cmvn process is intended for the training data whitening purpose, and not intended for the test data normalization purpose (per test set, speaker, or utterance).

You may have some gains if you apply it to the test data, and it would be great if you share your experience about it.