[2022-04-13 10:39] Taruguchi commented on #4240
When I try the training of vcth_noisy, I got the out-of-memory error in my environment.
So, I changed "batch_size" in train.yaml to 4, and tried my learning.

You told me that the error code 137 means the out-of-memory, so I changed "batch_size" to 2.

I modified enh.sh (JOB=16), and when this learning finished, enh_inference.16.log ended with code 0.
I will continue to modify enh.sh (JOB=2) and c

[2022-04-13 12:56] simpleoier commented on #3961
I guess that you did not install fairseq properly.
In the log, there should be a block of output similar to the following. Can you check if there is something related to fairseq?
[code]

[2022-04-13 15:37] nikolas-n commented on #4254
The error was due to the gcc compiler used.

Let me explain just in case someone else bumps into the same problem.

This compiler /usr/bin/x86_64-linux-gnu-gcc was linking to gcc-10 but it seems this is not compatible with python3.9(?). I used gcc-9 instead. This is what I did:

[code]
I ran `make` again and it worked.

[2022-04-13 15:37] #4254 closed

[2022-04-13 20:54] psydok opened #4273 "Is it possible to convert Speech2TextStreaming espnet2 to ONNX format?"
Can you suggest how to do this if possible?
Maybe there is some instruction on how to convert and then run for the stream?

Thanks for any hint or example!

[2022-04-13 22:59] sw005320 commented on #4273
Maybe, you can request it in https://github.com/Masao-Someki/espnet_onnx?

[2022-04-14 02:48] lin-nerd opened #4276 "Runtime Error in inference stage on ASR Task."
I have trained the HuBERT+Streaming Model in ESPnet2, and I have the following problems during the inference stage. I would like to ask if anyone has encountered this issue？
How to solve this problem.

[code]

[2022-04-14 04:52] psydok commented on #4273
@sw005320 Thank you very much!

Do I understand correctly that switching to onnx will optimize the speed of the model on inference?

[2022-04-14 04:54] psydok commented on #4273
Do you know if espnet_onnx is suitable for the Speech2TextStreaming model?...

[2022-04-14 07:12] rajeevbaalwan commented on #3961
Thanks for your quick reply, I have executed stage 10 which collects ASR stats, and parameter **feats_normalize=global_mvn** is set to global_mvn. Then I executed stage 11 where I got this error. I have checked the document and didn't find what value should I use for the **feats_normalize** parameter.

[2022-04-14 07:37] Muhammad-Ahmad-Ghani commented on #4244
@sw005320 Can you please upload the training code for the paper as well ? The source code.

[2022-04-14 07:48] Emrys365 commented on #4245
Do you mean replacing only test data or both training and test data?

[2022-04-14 07:51] takashin3391 commented on #4245
I mean replacing both training and test data.

[2022-04-14 09:11] Emrys365 commented on #4245
Okay, then what is the amount of training data (say ____ hours)?

[2022-04-14 09:17] takashin3391 commented on #4245
The amount of training data is about 8.5 hours.

[2022-04-14 09:29] Emrys365 commented on #4245
I think it is too small. If possible, please increase the amount to at least tens of hours.

[2022-04-14 10:20] kbramhendra commented on #4267
Hi,
    I have experimented with different learning rates lr, the model is training for some epochs and throwing this warning  "The grad norm is nan. Skipping updating the model." causing to fail the model completely.

[2022-04-14 11:01] YushiUeda commented on #4244
@Muhammad-Ahmad-Ghani Thanks for your interest! You can check the current status here https://github.com/espnet/espnet/pull/4234

[2022-04-14 11:40] sw005320 commented on #4273
@Masao-Someki, can you consider supporting a streaming mode in your repo?

[2022-04-14 11:49] sw005320 commented on #4276
Thanks for the report.
@D-Keqi, I think it is a good idea to support the HuBERT+Streaming model.
Can you take a look at this?

[2022-04-14 11:55] D-Keqi commented on #4276
Sure!
It seems that the length of your feats is only 1, thus resulting your issue. Please check the size of your feature extracted by hubert. @lin-nerd

[2022-04-14 12:01] Daniel-asr opened #4278 "Connection between output tokens and input audio"
I want to find a way to know which interval in the input audio correspond to every output token. For example, if in the audio it was said "hello", I want a mapping such as:
- H --> [0.2, 0.3] (seconds)
- E --> [0.3, 0.7]
- L --> [0.7, 1.1]
- L --> [0.7, 1.1]
- O --> [1.1, 1.8]

I saw this [attention images issue](https://github.com/espnet/espnet/issues/1254), which might help, since there is a lin

[2022-04-14 12:50] sw005320 commented on #4278
espnet models usually have an attention branch and we can get an onset token information (and offset from the previous frame of the succeeding token onset) by a Viterbi algorithm.

@lumaku, is it easy to obtain the token-level segmentation information from your CTC segmentation?
This is one of the frequent requests.

[2022-04-14 12:52] sw005320 commented on #4278
I would not recommend using the attention map to obtain the segmentation results.
The attention map is noisy and also in the transformer case, there are multiple attention maps and it is not trivial to aggregate such multiple information.

[2022-04-14 13:06] Daniel-asr commented on #4278
I agree. I believe that what makes the attention map noisy is the self-attention in the encoding layers.
I am curious about CTC segmentation option. How can we evaluate that option? @lumaku

[2022-04-14 13:08] sw005320 commented on #4278
Sorry "an attention branch" --> "a CTC branch"

[2022-04-14 13:29] Masao-Someki commented on #4273
@sw005320
Yes, it's okay! I will try it this weekend.

@psydok
Thank you for visiting my repo. Switching to onnx will improve the inference speed, but the TransformerDecoder does not speed up inference much.
I have only tested on the CPU, so inference on the GPU may give different results. I was planning to support onnxruntime-gpu this weekend, so I will check the inference speed at that time.

[2022-04-14 16:14] psydok commented on #4273
@Masao-Someki  Thank you very much for your work! It would be very interesting to try!

By the way, we also run the model on the CPU. For some reason, the GPU gives out very strange drawdowns in the speed of recognition - when working on the grpc service in a container.

[2022-04-14 20:49] Taruguchi commented on #4240
I'm sorry, I have one more question.
Is there a way to inference unknown data (voice and noise mixed) using the trained model?

In the training of vctk_noisy, "train", "validation", "test" data are prepared, and
each voice, noise and mixed wav are prepared respectivery.

What I want to know is whether inference of other wav data (mixed wav only) that doesn't belong to prepared data is feasible.
Or

[2022-04-16 14:57] takashin3391 commented on #4245
@Emrys365
Hello.
I have increased my training data to 30 hours and trained again.
(30 hours is almost the same amount of data as vctk_noisy)
However, the output audio was distorted.

I ran vctk_noisy again, but the output audio was distorted.
(Previously the output audio was not distorted)
It seems that once the output audio is distorted, the output results are distorted afterwards.

Importantly,

[2022-04-16 21:20] lumaku commented on #4278
It is possible, you can set the intervals (utterances) to single tokens.

Use a character-based model. Also, the number of output tokens of the ASR model must be at least 2 times larger compared to the number of ground truth tokens; if not, the aligned tokens will be overlap and become inaccurate.

The CTC output is always in the form of spikes at the output index when a certain token "occurs". Th

[2022-04-18 00:51] its-ogawa commented on #3731
I would like to wait for more answers if possible, do I need to close it?

[2022-04-18 01:24] #2456 closed

[2022-04-18 01:24] #2663 closed

[2022-04-18 01:24] #2695 closed

[2022-04-18 01:25] #2731 closed

[2022-04-18 01:25] #2714 closed

[2022-04-18 01:25] #2539 closed

[2022-04-18 01:25] #2733 closed

[2022-04-18 01:25] #2785 closed

[2022-04-18 01:25] #2820 closed

[2022-04-18 01:25] #2853 closed

[2022-04-18 01:25] #2879 closed

[2022-04-18 01:25] #2860 closed

[2022-04-18 01:25] #2882 closed

[2022-04-18 01:25] #2657 closed

[2022-04-18 01:25] #2886 closed

[2022-04-18 01:25] #2608 closed

[2022-04-18 01:25] #2894 closed

[2022-04-18 01:25] #2896 closed

[2022-04-18 01:25] #2892 closed

[2022-04-18 01:25] #2920 closed

[2022-04-18 01:25] #2925 closed

[2022-04-18 01:25] #2952 closed

[2022-04-18 01:25] #2961 closed

[2022-04-18 01:25] #2991 closed

[2022-04-18 01:25] #2995 closed

[2022-04-18 01:25] #2998 closed

[2022-04-18 01:25] #3011 closed

[2022-04-18 01:56] Pydataman opened #4282 "have you tested the effect of postnet on sound quality?"
FYI

[2022-04-18 02:24] #2992 closed

[2022-04-18 02:24] #3007 closed

[2022-04-18 02:24] #3019 closed

[2022-04-18 02:25] #3053 closed

[2022-04-18 02:25] #3061 closed

[2022-04-18 02:25] #3080 closed

[2022-04-18 02:25] #3065 closed

[2022-04-18 02:25] #2845 closed

[2022-04-18 02:25] #3090 closed

[2022-04-18 02:25] #3098 closed

[2022-04-18 02:25] #2990 closed

[2022-04-18 02:25] #3115 closed

[2022-04-18 02:25] #2839 closed

[2022-04-18 02:25] #3124 closed

[2022-04-18 02:25] #3127 closed

[2022-04-18 02:25] #3143 closed

[2022-04-18 02:25] #3130 closed

[2022-04-18 02:25] #3135 closed

[2022-04-18 02:25] #3160 closed

[2022-04-18 02:25] #3103 closed

[2022-04-18 02:25] #3100 closed

[2022-04-18 02:25] #3094 closed

[2022-04-18 02:25] #2495 closed

[2022-04-18 02:25] #3172 closed

[2022-04-18 02:25] #3219 closed

[2022-04-18 02:25] #3239 closed

[2022-04-18 02:25] #3244 closed

[2022-04-18 02:25] #3184 closed

[2022-04-18 02:25] #3266 closed

[2022-04-18 02:41] lin-nerd commented on #4276
@D-Keqi @sw005320 thanks for your reply.
I have confirmed my config file, the config of hubert is as follows:

#hubert
freeze_param: [
"frontend.upstream"
]

frontend_conf:
  n_fft: 512
  hop_length: 128

frontend: s3prl
frontend_conf:
    frontend_conf:
        upstream: hubert_large_ll60k  # Note: If the upstream is changed, please change the input_size in the preencoder.
    download_dir: ./hub

[2022-04-18 03:10] D-Keqi commented on #4276
I mean the size of your extracted feature 'feats.size(1)' = 1, this is weird.

[2022-04-18 03:43] #3351 closed

[2022-04-18 13:33] fclearner commented on #1496
@iustinaabc Hi, I met the same problem as you described, and i debug it finding that before write to wav
"write(
            args.outdir + "/%s.wav" % utt_id,
            args.fs,
            (y * np.iinfo(np.int16).max).astype(np.int16),
        )",
the y is too big to use np.int16, therefore it all becomes zero, I try to make a normalization before writing to wav file, it seems the back-transfor

[2022-04-18 16:32] sw005320 commented on #4278
Oh, I see. If we prepare a list of characters or tokens, the model expects to work on providing the token level alignments.
Thanks for your TIPS!

[2022-04-18 21:24] #3131 closed

[2022-04-18 21:24] #3272 closed

[2022-04-18 21:24] #3270 closed

[2022-04-19 06:46] GoArsenal opened #4285 "Get the number of gpus through the subprocess module"
**Describe the bug**
line 582 in `https://github.com/espnet/espnet/blob/master/espnet/bin/asr_train.py` , the raw code is `ngpu = len(p.stderr.decode().split("\n")) - 1` , maybe `ngpu = len(p.stdout.decode().split("\n")) - 1` is correct?

[2022-04-19 07:59] 7zhanghao opened #4286 "The problem of transformer learning rate adjustment."
Thanks to the implementation of various tasks in egs, we quickly get a good baseline on this basis.
However, due to differences in GPU types and memory, as well as some other structural changes, we usually need to adjust the learning rate by ourselfs.
Taking the transformer as an example, how to adjust the scaling factor and the number of warmup steps. In recent experiments, I always seem to be tr

[2022-04-19 11:51] sw005320 commented on #4286
Thanks for raizing the issue.
I usually try the following steps:

1. pick up a recipe and the corresponding config file that is close to your target task
2. check the total batch size (= batch size (`batch_bins` or `batch_size`) x `accum_grad`). See https://espnet.github.io/espnet/espnet2_training_option.html#change-mini-batch-type and https://espnet.github.io/espnet/espnet2_training_option.html#g

[2022-04-19 12:20] rajeevbaalwan opened #4287 "espnet2 decoding getting bad_alloc error"
I have trained espnet2 model using wav2vec features but while decoding at stage 12 i am getting following error:

Traceback (most recent call last):
  File "/espnet/tools/anaconda/envs/espnet_3.9/lib/python3.9/runpy.py", line 197, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "/espnet/tools/anaconda/envs/espnet_3.9/lib/python3.9/runpy.py", line 87, in _run_code
    e

[2022-04-19 15:03] AliNGatGeeks opened #4288 "Scaling Tacotron model for different data sizes"
Hi Guys
I am trying to train the Tacotron model on a dataset much smaller than Ljspeech dataset. about 2400 samples.
The model overfits after a couple of epochs using the config file used for training TTS on Ljspeech dataset.
Using default training config, the model doesn't overfit using default config until 37th or 38th epoch but the results using either Griffin lim algorithm or Parallel WaveGAN

[2022-04-19 20:59] miziworld opened #4290 "About Transfer Learning in Espnet2"
Hello, I want to develop cross language transfer learning in espnet2. According to espnet's documentation, this doesn't seem too difficult. However, I have a few questions that I have to ask.

1. When using cross language, does simply setting the --ignore_init_mismatch "true" option solve the problem of matching input and output sizes?
2. In general, it is known that the accuracy improves when tra

[2022-04-20 08:25] Taruguchi commented on #4240
@Emrys365
Hi, I will tell you I solved my problems.
The performance of my PC was low, and it caused the problem about code 137 (out-of-memory), and I solved this problem by changed multithread process of enhancement to single thread.
And, I could find the way of inference unknown data. I modified run.sh to process only stage 7.

[2022-04-20 08:47] Taruguchi opened #4291 "Where can I find the code about changing learning rate?"
I investigating how the results change as the learning rate change.
I refer to the learning of `vctk_noisy`.
I understand that there is the initial value `optim_conf lr:1.0-e03` in `train.yaml`.
Where is the code of changing the learning rate during training?

[2022-04-20 09:29] flp1990 opened #4292 "How add librispeech_100h egs?"
I have installed espnet, the asr scripts(960h) in libripseech execute correctly.
But in my installed version, there no egs2/librispeech_100h script.
How can I add librispeech_100h to my espnet?

[2022-04-20 09:34] Emrys365 commented on #4245
Did you somehow mix the vctk_noisy data and your own data? It could cause inconsistency in different runs of the same experiment.

Could you post your learning curves of each experiment?

[2022-04-20 10:54] sakibchowdhury131 opened #4294 "TTS dataset download from speech.cs.cmu.edu connection refused"
I was following the tts recipe from here: https://espnet.github.io/espnet/notebook/tts_cli.html

but at stage -1, the following error occurred. I'm sharing the output here:

stage -1: Data Download
local/download_and_untar.sh: downloading data (64 MB) from http://www.speech.cs.cmu.edu/databases/an4//an4_sphere.tar.gz.
--2022-04-20 10:49:39--  http://www.speech.cs.cmu.edu/databases/an4//an4_sphere.

[2022-04-20 11:19] Emrys365 commented on #4291
It depends on the `scheduler` specified in the config file.
For example, in [egs2/vctk_noisy/enh1/conf/tuning/train_enh_conv_tasnet.yaml](https://github.com/espnet/espnet/blob/master/egs2/vctk_noisy/enh1/conf/tuning/train_enh_conv_tasnet.yaml), the scheduler is configured as follows:
[code]

It means the learning rate scheduler is `ReduceLROnPlateau`, by referring to the supported schedulers defin

[2022-04-20 11:36] sw005320 commented on #4294
I confirmed the issue, and I'm asking my colleagues.

[2022-04-20 11:37] sw005320 commented on #4292
How to install it?
Docker?

[2022-04-20 12:25] flp1990 commented on #4292
Yeah, i don't know how to add it.

When I installed espnet, I noticed that it created a mini conda environment that automatically invoked conda when running run.sh

[2022-04-20 12:39] 7zhanghao commented on #4286
Thanks for your kind advice.

[2022-04-20 12:39] #4286 closed

[2022-04-20 13:19] sw005320 commented on #4292
@Fhrozen, does it happen?
I see from https://hub.docker.com/repository/docker/espnet/espnet that the latest one is pushed 21 days ago.
At that time, the `librispeech_100` recipe already exists.

[2022-04-20 13:52] flp1990 commented on #4292
I try it with the website “https://espnet.github.io/espnet/docker.html”
./run.sh --docker-gpu 0 --is-egs2 --docker-egs librispeech_100/asr1 --ngpu1
like this?

[2022-04-20 14:00] flp1990 commented on #4292
Then, i get this error as follow:
~/fanpeng/espnet_/espnet/docker$ ./run.sh --docker-gpu 0 --is-egs2 --docker-egs librispeech_100/asr1 --ngpu1
./run.sh: 行 92: docker: 未找到命令
./run.sh: 行 98: docker: 未找到命令
./run.sh: 行 111: docker: 未找到命令
Building docker image...
Now running docker build --build-arg FROM_TAG=gpu-latest --build-arg THIS_USER=wise --build-arg THIS_UID=1000 --build-arg EXTRA_LIBS=false -f

[2022-04-20 14:13] flp1990 commented on #4292
Thanks, I installed espnet again.
There have librispeech_100, it looks like it should work fine.

[2022-04-20 14:14] Fhrozen commented on #4292
dont forget to keep up to date your installation using git pull

[2022-04-20 14:30] flp1990 commented on #4292
yeah,  thanks.

[2022-04-20 17:43] sunotsue commented on #4085
Hi, were you able to resolve this?

[2022-04-20 19:32] boeddeker opened #4296 "Two times sqrt in utterance_mvn.py"
https://github.com/espnet/espnet/blob/c7881c215e019324257620bc1dd83cec898ba6a9/espnet2/layers/utterance_mvn.py#L73-L80

I was checking what `utterance_mvn` does and recognized that `sqrt` was used two times instead of just once to convert the variance to the standard deviation in `espnet2`.

[2022-04-21 01:34] picheny-nyu opened #4297 "Mysterious Error During Training of AISHELL4 Recipe"
I get the error at the bottom during training of the AISHELL4 recipe. In full honesty, I have made a number of changes to the recipe, so this is likely my fault, but I have absolutely no idea what the error even signifies so I don't have any idea where to even start looking. Perhaps some sort of OOV error?

Attached is the error log. I first ran this by breaking the job into 32 pieces, all but one

[2022-04-21 02:15] takashin3391 commented on #4245
@Emrys365
Thank you very much for your reply.

I have figured out why the output audio is distorted.
If I change `inference_args="--normalize_output_wav true"` to `inference_args="--normalize_output_wav false"` in `enh.sh`, the output audio is distorted.

What does normalization mean?

[2022-04-21 02:35] guoyifan97 opened #4298 "Espnet-SE: After using the new loss wrapper and criterion, cannot reproduce the performance in CHiME4/enh1/"
Hi there, thanks for your great work.

I just updated my local code following the PR #3838 (add the loss criterion and the wrapper), and find that the performance degrades on both sdr and asr performance. I also reinstalled the latest version of espnet  and got the same result as the updated code.

**This is the configure file before code update:**
espnet version: 0.10.3a3
torch version: 1.9.1+cu1

[2022-04-21 02:55] takashin3391 opened #4299 "How to run various networks with own data in Speech Enhancement task."
I want to compare the performance of various networks (e.g. Transformer, Conformer, DPRNN, etc.) using my own data.
I copied the `run.sh` and `train.yaml` files from the `wsj0_2mix` directory to my recipe.
Then I modified the options to match my own data.
However, I could not run the training with some errors.

What is the best way to get the various networks to work with own data?
(I copied the `

[2022-04-21 03:16] Emrys365 commented on #4298
Hi @guoyifan97 , I think the main difference is in the `use_noise_ref` behavior.

In the latest branch, we temporarily disable the loss calculation on the noise data specified in `noise1.scp`, even if `use_noise_ref` is set to True. This is because the new loss wrapper interface makes it a bit tricky to calculate additional losses on non-speech estimates.

[2022-04-21 03:20] Emrys365 commented on #4245
I see. You could check out `espnet2/bin/enh_inference.py` to understand how it works. Basically, it rescales the estimated audio to to in range [-1.0, 1.0]. If your model is trained with some scale-invariant loss, it is likely the model output will have a large magnitude, and normalization is needed in this case.

[2022-04-21 03:25] #4245 closed

[2022-04-21 03:35] Emrys365 commented on #4299
Does your data only contains a single speaker for each sample? If so, you will need to modify the value of `num_spk` in the yaml files you copied from wsj0_2mix, because it is a two-speaker mixture dataset.

[2022-04-21 06:06] rrr613 opened #4301 "tts multilingual language ID embedding"
### Hi,
I want to add language ID embedding to my FastSpeech2 model.

The file says that i have to add this to my config file.
`tts_conf:
    langs: 4  # Number of languages`

But I want to ask that should I write these commands into both the config file of Tacotron and FastSpeech2？

I train the Tacotron first as a teacher model. Then use knowledge distillation to train FastSpeech2.

There is anot

[2022-04-21 06:16] Subohao opened #4302 "Decoding error while using the model transfer from pretrained model"
**Describe the bug**
Dear developers,
I met some problems while applying the fine-tuning asr model to decode the test set, and I found no further information on solving this bug. Thanks for helping me!!
I think the bug is about the BeamSearchTransducer function initialization of asr_inference.py, and the description is provided below:

[code]

**Basic environments:**
 - OS information: Linux 5.4.0

[2022-04-21 06:28] takashin3391 commented on #4299
Thank you very much for your reply.

I modified the `num_spk` in the yaml file to 1 as advised.
The learning worked.

Thank you very much.

[2022-04-21 06:28] #4299 closed

[2022-04-21 06:32] b-flo commented on #4302
Hi,

`transducer_conf` is None which causes the error [here](https://github.com/espnet/espnet/blob/master/espnet2/bin/asr_inference.py#L145=). Until we fix it, I suppose you can either comment the line or manually set [these parameters](https://github.com/espnet/espnet/blob/master/espnet2/asr/transducer/beam_search_transducer.py#L54-L63=) to avoid `TypeError`.

P.S: It seems your repo is not up-to

[2022-04-21 06:38] guoyifan97 commented on #4298
@Emrys365 Thanks for your reply! But I think the loss types I use before and after the code update are both the MES loss on the spectrum, which don't involve the loss calculations for noisy data.

[2022-04-21 07:49] Emrys365 commented on #4298
Could you check whether `--use_noise_ref` is set to `true` in [egs2/chime4/enh1/run.sh](https://github.com/espnet/espnet/blob/master/egs2/chime4/enh1/run.sh#L32)? If so, an additional loss will be calculated on the estimated noise mask.

[2022-04-21 08:05] guoyifan97 commented on #4298
@Emrys365 Sure! I have checked, and it is set to false.

[2022-04-21 08:21] Emrys365 commented on #4298
Okay, then I will look into this issue and let you know once I find the cause.

[2022-04-21 08:22] guoyifan97 commented on #4298
@Emrys365 Thanks a lot!

[2022-04-21 08:25] Emrys365 commented on #4298
BTW, could you post the `config.yaml` file in your experiment directory?

[2022-04-21 08:30] guoyifan97 commented on #4298
Sure,

##############################
Before update:
`config: conf/tuning/train_enh_beamformer_mvdr_spectrum.yaml
print_config: false
log_level: INFO
dry_run: false
iterator_type: sequence
output_dir: exp/enh_train_enh_beamformer_mvdr_spectrum_raw
ngpu: 1
seed: 0
num_workers: 4
num_att_plot: 3
dist_backend: nccl
dist_init_method: env://
dist_world_size: null
dist_rank: null
local_rank: 0
dist_mast

[2022-04-21 08:38] Emrys365 commented on #4298
There are various differences, actually.

  * First, the `loss_type` is changed from `spectrum` to `spectrum_log`.
  * Second, the `ref_channel` is changed from 4 to 3. (This is because it is more common to use CH5 as the reference channel)

[code]

[2022-04-21 08:51] Subohao commented on #4302
@b-flo oh, thanks for the quick response.
I have commented on the `**transducer_conf` and directly set parameters.
It seems working now, really appreciate that!

[2022-04-21 08:57] Emrys365 commented on #4298
For the second point, please also take care of the `ref_channel` argument in run.sh to make sure they have the same value.

[2022-04-21 09:03] guoyifan97 commented on #4298
OK

[2022-04-21 11:02] kobenaxie opened #4303 "RNNT modified_adaptive_expansion_search is too slow."
Hi, I try to use `modified_adaptive_expansion_search` with beam_size 5 to recognize one wav, which costs 52.9s, while `ALSD` costs 0.87S. why the speed is so slow.

[2022-04-21 11:18] kan-bayashi commented on #4288
First, please check these points:
https://github.com/espnet/espnet/tree/master/egs2/TEMPLATE/tts1#why-the-model-cannot-be-trained-well-with-my-own-dataset

Several comments:
- Most of the cases, all you need is cleaning.
- In the case of TTS, validation best model does not produce the best results.  The overfitted model is often better than the validation best model in terms of the quality.
- Did

[2022-04-21 11:22] kan-bayashi commented on #4301
You should add to both models.

Once you run the command, `utt2lid` will be created in dump dir.
Then, you can run the training stage with `--use_lid true` option.

[2022-04-21 11:38] b-flo commented on #4303
Hi,

Can you give information? recipe, architecture, units, etc?

Nevertheless, I'm assuming you are modeling BPE? If so, the issue is known for ESPnet1 and due to `select_k_expansions(...)`, see [here](https://github.com/espnet/espnet/pull/4032#issuecomment-1073682573)

I'll fix it in ESPnet1 when I have time, for the moment please either use the changes from PR #4032 or use another time-synchron

[2022-04-21 11:46] Emrys365 commented on #4296
Thanks @boeddeker, this is indeed a bug. I will fix it immediately.

[2022-04-21 11:57] sw005320 commented on #4290
@DanBerrebbi, can you answer them for me?
Some of them are related to your experience.

[2022-04-21 12:01] sw005320 commented on #4297
I did not touch this recipe, so I'm not sure.
But the error comes from the mismatch of the input.
It might be due to that you feed the multichannel input (as AISHELL4 is an 8-channel data).

[2022-04-21 13:23] kobenaxie commented on #4303
Thank you for your reply, The dataset is AISHELL, vocab_size = 4442, encoder consist of 11 blocks. And I tried your PR, find the new implement cost 0.32s, which is faster than `ALSD`. but another problem is that the hyps in final beam are all same(beam_width=5). Can you take a look ?

[2022-04-21 16:22] DanBerrebbi commented on #4290
Yes @sw005320,
Hi @miziworld, thank you for your questions, here are my answers :

1. You should know that the way it works is initializing the new model with the pre-trained weights. If there is mismatch between the size of new model and pre-trained one, setting the --ignore_init_mismatch "true" will solve all the problems by initializing with the default way you did set up (such as xavier unifor

[2022-04-22 02:02] rrr613 commented on #4301
Thanks!

I ran the command to get the `utt2lid`.
But that's not work if I start training from stage 6.
It seems that I should do the token stage.

Does that mean I should do all the process start from stage 2 to stage 7 with `--use_lid true`?

[2022-04-22 06:27] Emrys365 commented on #4298
@guoyifan97, I retrained a neural beamformer with the [default config](https://github.com/espnet/espnet/blob/master/egs2/chime4/enh1/conf/tuning/train_enh_beamformer_mvdr.yaml), and the results I obtained below looks comparable to previous ones, even without the loss on the noise mask.

|dataset|PESQ|STOI|SDR|SI_SNR|
|---|---|---|---|---|
|enhanced_dt05_simu_isolated_6ch_track|2.613|94.726|13.809|

[2022-04-22 07:32] #4240 closed

[2022-04-22 07:38] rrr613 commented on #4301
`--use_lid true` option.

I ran the `$ ./run.sh --stage 2 --stop-stage 3 --use_sid true`
and then ran this command
`$ ./run.sh --stage 6 --use_sid true --train_config /path/to/your_multi_spk_config.yaml`

Then got this Error.

`Traceback (most recent call last):
  File "/data/espnet/tools/espnet/envs/3.8/lib/python3.9/runpy.py", line 197, in _run_module_as_main
    return _run_code(code, main_glob

[2022-04-22 07:46] kan-bayashi commented on #4301
Could you run with `--ngpu 0`? It may produce more precise log.

[2022-04-22 08:20] rrr613 opened #4305 "TTS language ID embedding architecture"
I use the language ID embedding in my model.

I want to know the architecture of it.

What is this architecture reference to?
Where could I read the document?

Thanks

[2022-04-22 08:58] b-flo commented on #4303
Oh, thank you for asking that! The original algorithm (in ESPnet1) doesn't include a duplication check but I wanted to try adding the merging procedure (from ALSD) in #4032, applied at each timestep. Could you please test by replacing the following:

[code]

with:

[code]

Note that depending on `expansion_gamma` and `expansion_beta` values, the pruning may be aggressive. Thus, you can end-up with

[2022-04-23 06:40] guoyifan97 commented on #4298
@Emrys365 , Hi, thanks again. In fact, I have noticed that the model trained with the MSE loss on spectrum performs best when being decoded with ASR model (At least with CHiME4 data set and the ASR model trained on wsj corpus). And I am interested with the ASR performance.  So I pay more attention to the ASR metrics.

And as mentioned last time, I have done another experiments with MSE loss on spe

[2022-04-23 08:09] b-flo commented on #4302
For reference: it was fixed in #4032. I'm keeping this issue open until the PR is merged or the bug is fixed in another PR.

[2022-04-23 11:15] wyunj opened #4307 "--api: command not found"
I train conformer model using librispeech recipe (my own data), but when in stage 5: decoding, I got this:
run.sh: line 312: --api: command not found

**Basic environments:**
 - OS information:  Linux
 - python version: 3.7.4
 - espnet version: 0.10.5a1
 - pytorch version 1.6.0

**Task information:**
 - Task: ASR
 - Recipe:  librispeech
 - ESPnet1

[2022-04-23 17:32] Mortyzhou-Shef-BIT opened #4308 "VITS Training on CSMSC corpus from scratch, but bad performance on rhythm at the beginning of a sentence"
VITS Training on CSMSC corpus from scratch, but bad performance on rhythm at the beginning of every sentences，the first words cannot synthesis well, and also with the end words on every sentences.

we trained to 69epoch now. Is the reason of this issue **untrained**?

[2022-04-23 20:16] picheny-nyu commented on #4297
That is the problem. The data is mixture of two corpora, one is multichannel and the other is single channel. It seems I have two options; somehow reduce the multichannel data to a single channel, or turn the single channel data into multichannel data by just repeating the waveform multiple times. Any feeling for what makes more sense?

[2022-04-23 21:27] sw005320 commented on #4297
My suggestion is to reduce the multichannel data to a single channel.
I also recommend using all eight-channel data as a single channel (i.e., eight times more data with the same transcription).
This data augmentation is known to be very effective in the far-field scenario.

[2022-04-24 01:38] guoyifan97 commented on #4298
@Emrys365 , thanks again. I find the main reason for the issue is that I didn't change the reference channel option in the run.sh, while the configure file in the new version of the espnet changed the reference channel from 3 to 4 as you mentioned. After unifying the reference channel in run.sh and config file, the problem disappeared. Thanks again!

[2022-04-24 02:27] kobenaxie commented on #4303
I will try it today.<br>
[code]
Should `recombine_hyps` first, and then `sorted` ?

[2022-04-24 05:12] triumph9989 opened #4311 "Can't run my modified model during the training stage"
**Describe the bug**
TypeError: forward() got an unexpected keyword argument 'lid'

**Basic environments:**
 - OS information: Linux 5.4.0-104-generic #118-Ubuntu SMP Wed Mar 2 19:02:41 UTC 2022 x86_64
 - python version: 3.8.12 (default, Oct 12 2021, 13:49:34)  [GCC 7.5.0]
 - espnet version: espnet 0.10.6
 - Git hash 4ab6912ae80bcc4454b30b62b36f6b40c03cf8cf
 - Commit date Thu Oct 21 18:40:13 2021

[2022-04-24 05:47] b-flo commented on #4303
It shouldn't make a difference in practice but yes, it should be `recombine_hyps` + `sorted` instead of `sorted` + `recombine_hyps` (pruning should be applied at the end anyway). Will change that in #4032.

[2022-04-24 06:25] Masao-Someki commented on #4273
@psydok
Sorry for the late reply.
I implemented the export script for the streaming model. It is not published on pypi yet, but you can clone and test it.
I tested inference speed on my CPU, and I found some speed up with quantization. However, I could not test the inference time between the torch version and the onnx version because of the difference between beam search implementation for streami

[2022-04-24 18:05] psydok opened #4313 "Is it possible in espnet version >= 0.10.6 to configure output of recognition confidence for each word and sentence?"
I was able to get the recognition confidence for the entire sentence, but only when the model was initialized with `nbest > 1`. Then I used _softmax_ and got the probabilities.
But what if `nbest = 1`? Or if I need to gain confidence in every word?

[2022-04-24 18:06] psydok commented on #4273
@Masao-Someki  Thank you very much!
I'll try it and let you know what happens!

[2022-04-24 18:13] gowtham1997 commented on #4054
I tried to use this recipe with librispeech and librispeech_100 and in both cases, I am getting ` cer_transducer=nan, wer_transducer=nan`  in the first few epochs but the loss is decreasing.

Is this normal? @sw005320

[code]

^ first 2 epochs logs for librispeech_100

[2022-04-25 00:16] kan-bayashi commented on #4313
`nbest=1` should have `score`.
https://github.com/espnet/espnet/blob/a3c7c50bccf84c1f40bf79d40bdd735f1b02d79f/espnet2/bin/asr_inference.py#L300
`hyp` has `score` attribute.

[2022-04-25 00:21] kan-bayashi commented on #4311
If you want to use additional inputs, you need to modify here
https://github.com/espnet/espnet/blob/a3c7c50bccf84c1f40bf79d40bdd735f1b02d79f/espnet2/tasks/asr.py#L378-L395
TTS case might be helpful:
https://github.com/espnet/espnet/blob/a3c7c50bccf84c1f40bf79d40bdd735f1b02d79f/espnet2/tasks/tts.py#L247-L267
And since the `lid` is not sequence, you need to add not_sequence option here.
https://gith

[2022-04-25 00:26] kan-bayashi commented on #4308
Not sure but at first, why don't you check the behavior of the pretrained model?
You can try it on colab.
https://colab.research.google.com/github/espnet/notebook/blob/master/espnet2_tts_realtime_demo.ipynb

[2022-04-25 00:28] kan-bayashi commented on #4307
Did you modify the run.sh by yourself?
Maybe unintented space is inserted after `\`

[2022-04-25 00:33] kan-bayashi commented on #4305
Lang ID -> Embedding layer -> Replicated -> concat with encoder state
https://github.com/espnet/espnet/blob/a3c7c50bccf84c1f40bf79d40bdd735f1b02d79f/espnet2/tts/tacotron2/tacotron2.py#L402-L414

[2022-04-25 01:44] #4298 closed

[2022-04-25 04:43] triumph9989 commented on #4311
Thanks, I have modified the asr.py, but it seems still appearing the same error. Moreover, I try to use the same method on another server without modifying the part you indicated and it can work. It makes me confused.

Following is the modified code,
[code]

[code]

[2022-04-25 10:37] psydok commented on #4313
Can you please tell me how to correctly translate these values ​​into probabilities from 0 to 1?

[2022-04-25 11:11] AliNGatGeeks commented on #4288
Thank you for tips. I started by working on text and cleaning it
I started a new training. I have three folder showing attention images

![training](https://user-images.githubusercontent.com/96764993/165077561-8651ebd8-4d94-4245-a13f-be44c9be9838.png)

this a sample from each folder. Do these seam good? I cant interpret the figures my self... any references to read more about them? or a few words

[2022-04-25 11:39] Mortyzhou-Shef-BIT commented on #4308
Thank you for your help, I prefer to train a model with **strict=False** in g2p function:
![image](https://user-images.githubusercontent.com/54799259/165081470-d984d991-6557-4aa2-a0b5-aab6529fdfa1.png)
Cause some phonemes with strict=True is not suitable for our corpus.
For example, “养” map to "yang3", but strict=True to generate "iang3", so some special words generate not suitable.

[2022-04-25 11:48] triumph9989 commented on #4313
Maybe use the sigmoid function?

[2022-04-25 11:58] kan-bayashi commented on #4308
I see. I'm not familiar with Mandarin, but you can add your own g2p function.
1. make your function by following https://github.com/espnet/espnet/blob/4323c523b4583671346b2d0532b0ddcbb99aa49f/espnet2/text/phoneme_tokenizer.py#L191-L206
2. add elif condition for your new g2p https://github.com/espnet/espnet/blob/4323c523b4583671346b2d0532b0ddcbb99aa49f/espnet2/text/phoneme_tokenizer.py#L385-L388
3.

[2022-04-25 12:01] kan-bayashi commented on #4288
It looks good except for the last part of the first example.
(Maybe it includes silence at the end of audio)
You can see bad and good examples in https://github.com/espnet/espnet/issues/1937

[2022-04-25 12:02] Mortyzhou-Shef-BIT commented on #4308
Awesome！ Thank you so much!

[2022-04-25 12:10] kan-bayashi commented on #4313
The score of each module (e.g., 'decoder') is sum of log softmax so applying exp will be probability, but I think it is not meaningful value.

[2022-04-25 12:11] psydok commented on #4313
I don't know if I'm right in calculating the probability in this way. You can view, pls?
[code]

[2022-04-25 12:20] kan-bayashi commented on #4313
I may misunderstand the value meaning.
Each score represents the sum of log softmax of each components.
What do you want to calculate?
If you want to get the score of sentence, you can use `score` instead of `scores`.

[2022-04-25 12:24] kan-bayashi commented on #4311
Oh sorry, you have already done it.
Then, `lid` is pass to `espnet_model` class:
https://github.com/espnet/espnet/blob/4323c523b4583671346b2d0532b0ddcbb99aa49f/espnet2/asr/espnet_model.py#L158-L165
`lid` will be stored in `kwargs`. You need to modify this function to pass lid for your own module.

[2022-04-25 12:45] psydok commented on #4313
I want to get the probability that the recognition is correct (confidence)... But I'm completely confused about the meanings.

[2022-04-25 12:55] kan-bayashi commented on #4313
The confidence is `score`.
The `score` is basically calculated in log scale to avoid underflow, and the `score` is calculated by weighted sum of `scores`.

[2022-04-26 01:37] triumph9989 commented on #4311
Not matter :)
It seems the same error.
It's odd that I can train on another server.
[code]

[2022-04-26 01:56] unparalleled-ysj commented on #3702
@ican24 @Fhrozen @sciai-ai Has anyone converted the tts model to onnx format and ran it successfully ？

[2022-04-26 03:05] rrr613 commented on #4301
I am not sure is that a bug?

There are two different language in my dataset.
The setting I used is:
`# e.g.
tts_conf:
    langs: 2  # Number of languages`

Then it shows the error above.
So I change the command into:
`# e.g.
tts_conf:
    langs: 3  # Number of languages`

It works.

[2022-04-26 03:05] unparalleled-ysj opened #4318 "Model deployment issues"
How to use C++ to call the trained vits model without relying on the pytorch environment, onnx or torch.jit.trace? Is there an example for reference?

[2022-04-26 03:38] kan-bayashi commented on #4301
0 is reserved for unknown langs for + 1 is needed.

[2022-04-26 03:38] #4301 closed

[2022-04-26 05:14] gowtham1997 commented on #4054
^ @b-flo / @kan-bayashi Do you think this is a known issue?  (cer and wer of transducer being nan?).

I also get loss of 0 or `src/binding.cpp:151: unsupported data type` (related [issue](https://github.com/HawkAaron/warp-transducer/issues/92) at warp-transducer repo) when I try to use rnnt with fp16 (--use_amp true in asr.sh step 10)

Please let me know if I'm missing some documentation regarding

[2022-04-26 06:00] b-flo commented on #4054
Hi,

If I'm not mistaken (didn't use this version in a while) `nan` is only used when CER/WER reporting is disabled? Otherwise, it should display a float value (<= 1.0).

This issue is known and on my TODO but it's not a priority right now. Btw, please do not open or link an issue from ESPnet to Mingkun's warp-transducer:

The original repo is not maintained anymore and our version has some minor

[2022-04-26 06:16] gowtham1997 commented on #4054
I guess I missed adding `--report-cer --report-wer` flags when running asr.sh.

I will try it out
Thanks

[2022-04-26 07:44] Fhrozen commented on #4318
once you get the model, you may follow the code written here: https://github.com/royshil/obs-backgroundremoval/tree/main/src
It is completely different, but it can help you to initialize, stream and run the model in CPP.

[2022-04-26 07:53] unparalleled-ysj commented on #4318
@Fhrozen Thank you for your reply, but my focus is on how to convert the VITS model to onnx format, or use JIT to export, I have found your related work, but you seem to have stopped updating
https://gist.github.com/Fhrozen/60b38bd3ee23492d28b602a0c9f92217?permalink_comment_id=4145051#gistcomment-4145051

[2022-04-26 11:47] sw005320 commented on #4318
See this project
https://github.com/Masao-Someki/espnet_onnx
We can request @Masao-Someki to support TTS

[2022-04-26 19:14] #4296 closed

[2022-04-27 01:51] unparalleled-ysj commented on #4318
@Masao-Someki That's great, looking forward to your support ！

[2022-04-27 10:01] triumph9989 opened #4325 "The additional model doesn't appear in ESPnetASRModel"
Recently, I train a modified ASR on a server.
But the additional model doesn't appear in ESPnetASRModel and an error occurs.

[code]

The following is the same method I tried and worked successfully on another server, but the espnet version is almost the same.
[code]
I don't have any idea to solve this weird bug.

[2022-04-27 11:55] sw005320 commented on #4325
Can you tell me each version?

[2022-04-27 14:32] IrisLhy opened #4326 "Joint GAN-TTS learning problem in fastspeech with multi GPU"
**Describe the bug**
The model can be launched on single GPU, but not multiples.

**Basic environments:**
 - python version: [e.g. 3.8.5 (default, Mar 27 2019, 22:11:17) [GCC 7.3.0]]
 - espnet version: [e.g. espnet 0.8.5]
 - Git hash [e.g. b88e89fc7246fed4c2842b55baba884fe1b4ecc2]
   - Commit date [e.g. Tue Sep 1 09:32:54 2020 -0400]
 - pytorch version [e.g. pytorch 1.7.1]

Is CUDA available: Yes

[2022-04-28 01:14] triumph9989 commented on #4325
Of course.
espnet: 0.10.6

[2022-04-28 02:37] IrisLhy commented on #4326
I solve this problem，
 `return loss, stats, after_outs if after_outs is not None else before_outs` in [tts](https://github.com/espnet/espnet/blob/9c523be4b81e90ce69ed0c423ddae308382b3654/espnet2/tts/fastspeech/fastspeech.py) need to change to
`            loss, stats, after_outs = force_gatherable(
                (loss, stats, after_outs), loss.device
            )`

[2022-04-28 02:37] #4326 closed

[2022-04-28 02:40] IrisLhy commented on #4326
code in need to change https://github.com/espnet/espnet/blob/9c523be4b81e90ce69ed0c423ddae308382b3654/espnet2/tts/fastspeech/fastspeech.py

optim_idx = 1
        loss, stats, weight, optim_idx = force_gatherable((loss, stats, batch_size, optim_idx), loss.device)

        # reset cache
        if reuse_cache or not self.training:
            self._cache = None
        return {
            "loss": l

[2022-04-28 04:40] triumph9989 commented on #4325
[code]

[2022-04-28 04:40] triumph9989 commented on #4325
Of course.
espnet: 0.10.6

[2022-04-30 11:37] #4208 closed

[2022-04-30 12:37] AliNGatGeeks commented on #4288
Thank you for you comment.
I continued working my case but I get bad results.
\
Task I am doing: train German TTS model with Tacotron 2 and ParallelWaveGAN v1
\
I think both models are working well individually, but when I combine them I get very poor result.

Generated wav:
['Im kompletten Wohnzimmer war der Fußboden mit Teppich ausgelegt.'](https://drive.google.com/file/d/1J30yeJHySoDLcQDZ_2tKLy

[2022-04-30 13:29] miziworld commented on #4290
Thank you so much for your kind and detailed reply. And I would like to ask a few more questions about this.

The reason I want to use transfer learning is 1. To train a pre-trained model with a large structure to increase the accuracy in a situation where the dataset is insufficient. For example, to perform the ASR function, a general model is Can I use transfer learning if I want to train on syl

[2022-04-30 18:49] cedilla1312 commented on #3577
Sorry, I forgot to reply. Your comments helped me so much, I will try one more thing to fix the issue, in case if it won't work, is it possible to send somebody (you/your team) privately subset of my Slovak Kaldi dataset so that sb. can figure out the compatibility problem (quest. 9 related)?

[2022-05-01 09:27] alexbernier opened #4331 "Errors when finetuning CFS2 + HifiGan"
Hi,

I traine my own Tacotron, Conformer FastSpeech 2 and HiFiGAN models, and now I would like to finetune CFS2 + HiFiGAN.

When following the instructions in egs2/TEMPLATE/tts1/README.md, I get the following error:

[code]

So I tried:
[code]

What did I wrong ?

**Basic environments:**
 - OS information: Ubuntu 20.04
 - python version: 3.8
 - espnet version: 395bda6123ae268f991e5
 - Git hash : 3

[2022-05-03 08:40] espnetUser commented on #4217
@D-Keqi: Thanks for your helpful reply! I  just had time to come back to this issue.

[code]
The configuration looks fine to me and from the logfile I can see the decoder results get output in a streaming fashion.

Thanks for pointing this out. This may explain the OOM issue.

[2022-05-03 08:45] espnetUser commented on #4217
@D-Keqi and @sw005320: Could you please clarify the following questions regarding streaming:

**1. Impact of repetition detection**
In https://arxiv.org/abs/2006.14941 repetition detection was found to be an important part of the streaming E2E model and if not used caused significant increase in word error rates for CSJ and Librispeech tasks. But the repetition detection seems to be turned off by

[2022-05-03 12:24] kan-bayashi commented on #4331
The hyperparameters of the pretrained model were mismatched with the joint model configuration.
Change the following parameters:
https://github.com/espnet/espnet/blob/b757b89d45d5574cebf44e225cbe32e3e9e4f522/egs2/ljspeech/tts1/conf/tuning/train_joint_conformer_fastspeech2_hifigan.yaml#L33-L34

[2022-05-03 12:25] #4331 closed

[2022-05-03 12:30] kan-bayashi commented on #4288
Please check the following points:
- Make sure the sample without the vocoder (i.e., griffin lim) sounds reasonable
- Make sure you used the totally same feature extraction setting (sampling rate / hop size / window size / min max ...)
- 75000 step is still in the pretraining phase, PWG will improve until 400k steps.

[2022-05-04 14:11] tarunsaib1997 opened #4334 "How to make frontend trainable in ESPNet2?"
**I was using the following conf in front-end part**

frontend: s3prl
frontend_conf:
   frontend_conf:
      upstream: modified_cpc  # Note: If the upstream is changed, please change the input_size in the preencoder.
   download_dir: ./hub
   multilayer_feature: True

preencoder: none
preencoder_conf:
   input_size: 256  # Note: If the upstream is changed, please change this value accordingly.

[2022-05-04 15:31] simpleoier commented on #4334
@tarunsaib1997 Do you have `freeze_param` in your config file and `frontend` is in the `freeze_param`?

[2022-05-04 16:08] tarunsaib1997 commented on #4334
**Below is the entire conf file content used:**

# This configuration requires Tesla V100-SXM2(32GB) x 16 GPUs It takes about 1.5 days.
batch_type: folded #numel
batch_bins: 5000000 #140000000
batch_size: 8
accum_grad: 2 #1
max_epoch: 100
patience: none
init: none
best_model_criterion:
-   - valid
    - acc
    - max
keep_nbest_models: 10

encoder: conformer
encoder_conf:
    output_size: 512

[2022-05-04 16:11] simpleoier commented on #4334
Did you update to the latest espnet?

[2022-05-04 16:18] tarunsaib1997 commented on #4334
Will try pulling out the latest repo and let you know @simpleoier in a while

[2022-05-04 16:41] nellorebhanuteja commented on #3496
@sw005320
I am facing the same issue
Any solution ??

[2022-05-04 18:34] Mortyzhou-Shef-BIT opened #4335 "When I finetuning with pretrained VITS model on CSMSC, I failed to change the learning rate."
When I finetuning with **pretrained VITS model** on CSMSC

Firstly, I set lr to 1.995e-05, I warmuped it and got a new finetuned model.

Then I stopped training and set learning rate to 1e-4.
![image](https://user-images.githubusercontent.com/54799259/166802616-f3593511-4d77-4898-866f-d8dbb2828f6b.png)

But the learning rate was failed to change in continued finetuning and it still was 1.995e-05
!

[2022-05-04 19:17] samin9796 opened #4336 "[TTS] RuntimeError: Keys are mismatched. Text files (idx=2) is not sorted or not having same keys at L6"
Hello!

I already trained a Tacotron 2 model on my custom dataset based on LJspeech recipe and would like to train FastSpeech 2 model. When I ran the following command-

I got the following error:
`RuntimeError: Keys are mismatched. Text files (idx=2) is not sorted or not having same keys at L6`

What can be the solution here?

[2022-05-04 20:15] samin9796 commented on #4336
Well, I used these and the problem got solved!

utils/fix_data_dir.sh dump/raw/dev
utils/fix_data_dir.sh dump/raw/eval1

[2022-05-04 20:15] #4336 closed

[2022-05-05 02:17] tarunsaib1997 commented on #4334
@simpleoier, any suggestions on how to rectify this?

[2022-05-05 06:08] D-Keqi commented on #4217
Hi,
1. Sorry, actually I do not have too much knowledge about the repetition detection mechanism.
2. You have mentioned "slow down dramatically", So you mean  the decoding speed becomes slower or the degradation of ASR accuracy?

[2022-05-05 11:24] tarunsaib1997 commented on #4334
**This got solved by pulling the latest stable release. I am checking the weights updation of the frontend weights with this stable release.**

[2022-05-05 13:16] #4308 closed

[2022-05-05 13:45] tarunsaib1997 commented on #4334
@sw005320 @simpleoier **I pulled the latest stable release but the front-end weights are not changing. Can you please help me out?**

[2022-05-05 13:48] simpleoier commented on #4334
I'll test it.

[2022-05-05 13:52] tarunsaib1997 commented on #4334
Can you use this config?

batch_type: folded #numel
batch_bins: 5000000 #140000000
batch_size: 8
accum_grad: 2 #1
max_epoch: 100
patience: none
init: none
best_model_criterion:
-   - valid
    - acc
    - max
keep_nbest_models: 10

encoder: conformer
encoder_conf:
    output_size: 512
    attention_heads: 8
    linear_units: 2048
    num_blocks: 12
    dropout_rate: 0.1
    positional_dropout_rate

[2022-05-05 14:07] simpleoier commented on #4334
Hi @tarunsaib1997 ,

[2022-05-05 14:17] tarunsaib1997 commented on #4334
If I comment out that line and rerun the code, the graidents should back-prop right? @simpleoier

[2022-05-05 14:19] simpleoier commented on #4334
Yes. In my case, the parameters in the frontend have non-zero gradient during back-prop. As a consequence, the optimizer would update the parameters.

[2022-05-05 14:22] tarunsaib1997 commented on #4334
Thanks, will check this out.

[2022-05-05 17:38] sw005320 commented on #4217
@eml914, can you answer the rest of the questions for us?

[2022-05-05 18:13] #4334 closed

[2022-05-06 00:27] Fhrozen commented on #4335
You are comparing the lr of optim1 (generator) with the optim2 (discriminator)
For the generator, you should modify optim1: https://github.com/espnet/espnet/blob/de624ed58953d17907fb241c5cb6514f27510162/egs2/csmsc/tts1/conf/tuning/train_full_band_vits.yaml#L136-L145

For the discriminator, you need to modify optim2, and check optim2, no optim1:
https://github.com/espnet/espnet/blob/de624ed58953d17

[2022-05-06 00:50] eml914 commented on #4217
Appologies for belated response.
The repetition detection sometimes becomes problematic, and I made some improvement in https://arxiv.org/abs/2201.10190 but not implemented yet.
The current streaming decoding cannot afford very long audio because the decoder still uses entire history whilst the encoder goes blockwise.  That is still future work and I have an idea to do sort of VAD within the strea

[2022-05-06 00:52] eml914 commented on #4217
So, for now an option is that to use LSTM decoder instead of transformer, which would not use that much memory I believe.

[2022-05-06 01:40] unparalleled-ysj commented on #4318
@Masao-Someki Hello, how is the progress, is it going well?

[2022-05-06 02:42] wyunj commented on #4307
Thanks very much. And I have another question, does gpu parallelism make a big difference? I train conformer model using my own data, everything esle is the same except the number of gpus. And the result,
- ngpu=2, wer=20.1
- ngpu=1, wer=19.0

[2022-05-06 03:25] Masao-Someki commented on #4318
@unparalleled-ysj
I'm working on it now!
I will merge TTS scripts in the next PR, and it will be finished by the end of this week at the latest.

[2022-05-06 12:04] tarun73 opened #4340 "Float16 or Half precision not supported by torch for training conformer"
Hi,
We tried training an ASR model -

- conformer transducer on
- espnet 2
- librispeech
- **train_dytpe = Float16**
- torch version - 1.7.1

When we run STAGE: 10 (collect stats)
we face this error:
`RuntimeError: "arange_cpu" not implemented for 'Half'`

Is float16 supported for ASR training?

[2022-05-06 12:21] jasonyong commented on #3611
Meet the same problem!

I download the same res in https://zenodo.org/record/4105763#.X40xe2j7QUE, use the config asr_train_asr_conformer3_raw_char_batch_bins4000000_accum_grad4_sp/config.yaml to decode.

Decoding param is beam:10, ctc_weight=0.4, the result is very wrong:
HYP: 房产市场将有过度上涨的
REF: 甚至出现交易几乎停滞的情况

When I print the feature extracted by frontend module, that is:
(Pdb) feats
tensor([[[14.

[2022-05-06 13:42] Ore-an opened #4342 "Chainer requirement in setup.py"
Chainer was set as optional and is not installed by default, but some not particularly optional modules using the pytorch backend still import it, such as
espnet/lm/pytorch_backend/lm.py
espnet/nets/pytorch_backend/e2e_asr.py
espnet/nets/pytorch_backend/e2e_asr_transducer.py

[2022-05-06 13:49] jasonyong commented on #3611
Hi @pengchengguo ,

Thanks for you replay. I have change the code to this commit (https://github.com/espnet/espnet/commit/161b1f2d22b84dc42fc5ce694de9e1d260e65e5d), but the result is the same.

Can @kamo-naoyuki figure that out?

By the way, @pengchengguo what's your best result on aishell-1 without LM, currently my best result is 5.2 on test, use the same structure of  the default config, with ut

[2022-05-06 13:54] Mortyzhou-Shef-BIT commented on #4335
Thank U for your help. I am sorry to give a wrong cut. So I re-defined my description:
**I changed the Optimizer1 and Optimizer2 to same learning rate.**
I finetuned the model with Optimizer1 and Optimizer2's lr = 2e-5  **firstly**

I stopped training and I want to used higher learning rate to finetuning the G and D.

Then I reset the learning rate of Optimizer1 and Optimizer2 to  lr = 4e-4 with c

[2022-05-08 08:46] helloworld02202 opened #4345 "Question on RPE for transformer decoder"
I can see relative positional encoding (RPE) is used in the encoder side
However, it is not used in the decoder in either self-attention or source-target-attention

Is there any particular reason for this design choice? Will it be supported in espnet in the future?

[2022-05-08 13:16] pengchengguo commented on #3611
Hi @jasonyong, I will decode w/o LM and post the results later.

[2022-05-08 15:32] AliNGatGeeks commented on #4288
Hi
thank you for your comments.
I checked and I had made a bad mistake! my sampling rate was 16K for Tacotron and 22K for PWGAN! So I have to train again ...

however, currently I have Tacotron model trained with16K sampling rate, do you recognize the following examples decoded with Griffin lim as reasonable?

<h3>Griffin lim example sound reasonable?</h3>

[Griffin lim: Das ist doch viel witziger

[2022-05-08 17:07] Masao-Someki commented on #4318
Hi, I'm working on TTS exportation with this PR [#21](https://github.com/Masao-Someki/espnet_onnx/pull/21) and I cannot merge it today. The code can export models and can be used for inference, but there are still some bugs, and the inference result is not correct. (and the code is not yet refactored, so it may be messy.)
I continue to work on this for this week and tell you when it's completed.

[2022-05-08 21:58] sw005320 commented on #4340
Thanks for the report.
It is a bug.
However, we usually use the mixed-precision based on `amp` (`use_amp: true`), which is more stable.
So, I recommend you use this.

[2022-05-08 21:59] sw005320 commented on #4307
Do you mean that you change the number of GPUs during training?
Our training is not deterministic, and such changes may happen, especially when that amount of training data is small.

[2022-05-09 03:43] pengchengguo commented on #3611
Hi @jasonyong, here are my results:

### CER

|dataset|Snt|Wrd|Corr|Sub|Del|Ins|Err|S.Err|
|---|---|---|---|---|---|---|---|---|
|decode_asr_rnn_asr_model_valid.acc.ave/dev|14326|205341|95.7|4.2|0.1|0.1|4.4|34.4|
|decode_asr_rnn_asr_model_valid.acc.ave/test|7176|104765|95.3|4.6|0.1|0.1|4.8|36.7|
|decode_asr_rnn_lm_lm_train_lm_transformer_zh_char_valid.loss.ave_asr_model_valid.acc.ave/dev|14326|205

[2022-05-09 03:44] wyunj commented on #4307
Thanks for your reply! yes, I found that the results varied greatly when I trained with different numbers of gpus. My training data is 300h.
![捕获](https://user-images.githubusercontent.com/99406640/167336325-3e81c584-5435-4ac1-963c-d7fbec0e6350.PNG)
Do you mean this function is not ensure pytorch produces deterministic results?

[2022-05-09 06:03] KennyChiou opened #4346 "Frequently get the index error of my streaming ASR application."
**Describe the bug**
It can work above half times but still could get like "IndexError: index 791 is out of bounds for dimension 0 with size 778".

**Basic environments:**
 - OS information: Linux 4.15.0-142-generic #146~16.04.1-Ubuntu SMP Tue Apr 13 09:27:15 UTC 2021 x86_64
 - python version: 3.8.12 (default, Oct 12 2021, 13:49:34)  [GCC 7.5.0]
 - espnet version: espnet 0.10.5a1
 - Git hash: 2851

[2022-05-09 09:10] jasonyong commented on #3611
Hi @pengchengguo ,

Thanks for posting your results.

So when using the default config, your feature input is raw(this is depending on data-loader), right?

[2022-05-09 09:16] pengchengguo commented on #3611
Yes, I use the raw waves as inputs and the fbank features will be extracted by `espnet/espnet2/asr/frontend/default.py` component.

[2022-05-09 09:21] jasonyong commented on #3611
Got it. Thank you!

[2022-05-09 11:31] sw005320 commented on #4307
This is already enabled, but randomness still exists.
Also, in espnet1, when we use multiple GPUs, the actual batch size is multiplied by the number of GPUs.
So, to get similar performance to the single GPU case, please make the batch size half.

[2022-05-09 11:40] sw005320 commented on #4346
Thanks for your report.
@D-Keqi, could you take a look at this error?
Babel is one of the most important recipes, and it would be great if we fix this issue.

[2022-05-09 20:25] sw005320 commented on #4342
It's optional for espnet2.

[2022-05-09 20:25] #4342 closed

[2022-05-09 20:26] sw005320 commented on #4345
I don't fully remember the discussion about it.
@pengchengguo, could you answer it for me?

[2022-05-09 23:39] kan-bayashi commented on #4288
I could not understand the lang but it sounds reasonable.

The feature extraction setting seems fine.

You can edit `dump/token_list/hogehoge/tokens.txt`, which is created in stage 4.
If you change it, you need to run the training again.
(And if you run the stage 4, it will be overwritten, be careful.)

You mean text 2 mel part? Yes, you should.
For the vocoder, the effect is not so serious.

[2022-05-10 07:15] pengchengguo commented on #4345
Hi @helloworld02202  and @sw005320,

1) Our implementation mainly focuses on the Conformer encoder following the original paper;
2) For the decoder part, it is sometimes hard to use Conformer architecture because its input may be very short (only having one or two characters for a Mandarin sentence), so we keep the Transformer for the decoder;
3) The RPE is proposed in the Transformer-XL and aims

[2022-05-10 08:34] D-Keqi commented on #4346
OK!

[2022-05-10 08:39] D-Keqi commented on #4346
Hi! @KennyChiou Have you ever made some modifications to the code of ESPnet. It seems that the issue is unrelated with streaming system, but related with the CTC prefix score calculation of EOS? I think the way you call your ASR model is right.

[2022-05-10 15:04] Masao-Someki commented on #4318
Hi @unparalleled-ysj ,
I just finished implementing the TTS model and released it on pypi.
You can export your VITS model as follows:

[code]
The exported model is located under `${HOME}/.cache/espnet_onnx/<tag_name>`.  I tested with `kan-bayashi/ljspeech_vits`, but if you have any problem with converting your model, please tell me then!

[2022-05-10 17:25] AliNGatGeeks opened #4353 "speeding up training Tacotron 2with multiple GPUs"
Hi

I am using 4GPUs for training TTS model and I have 24G ram on each GPU.
To speech up the process I changed the number of batch bins from 5120000 to 20400000 however, I didnt gain any speed!

what do I need to change in the setting to get best speed up?
this is my GPU utilization

![GPU util](https://user-images.githubusercontent.com/96764993/167698231-f59c1ef6-d14b-45d5-8c0a-918100e17767.png)

[2022-05-10 23:58] kan-bayashi commented on #4353
Please attach your config.

[2022-05-11 00:04] kan-bayashi commented on #4353
If you use the default one, you can find the following parameters:
https://github.com/espnet/espnet/blob/beb3360276aa9ff65fe84f4c5e99c0c063c2a6be/egs2/ljspeech/tts1/conf/tuning/train_tacotron2.yaml#L56-L57
`num_iters_per_epoch` decides the number of iterations of each epoch, so in the above case, the total iterations will be 500 * 200 = 100,000.
This iteration value is independent from the batch s

[2022-05-11 03:59] unparalleled-ysj opened #4354 "TTS lid=true bug"
@kan-bayashi  Hi when I set use_lid=true , the following error occurs, like the support for lid is incomplete
`RuntimeError: The data-name must be one of ('text', 'speech', 'spembs', 'sids', 'durations', 'pitch', 'energy') for GANTTSTask: "lids" is not allowed.`

[2022-05-11 04:34] kan-bayashi commented on #4354
Thank you for your report! That is a bug. I will fix it.

[2022-05-11 07:27] #4236 closed

[2022-05-11 07:28] kan-bayashi commented on #4354
Fixed in #4355

[2022-05-11 07:28] #4354 closed

[2022-05-11 08:39] unparalleled-ysj commented on #4354
@kan-bayashi I found another bug, when I set both use_xvector=true and use_lid=true, the following problem occurs，but when I just set use_xvector=true everything works fine
`Traceback (most recent call last):
  File "/root/anaconda3/envs/espnet/lib/python3.7/runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "/root/anaconda3/envs/espnet/lib/python3.7/runpy.py", line 85, i

[2022-05-11 08:59] kan-bayashi commented on #4354
Maybe the same question: https://github.com/espnet/espnet/issues/4301

[2022-05-11 11:59] Stasiche opened #4358 "KLDiv vs CrossEntropy in attention loss"
Hello! Could you please, explain me is there any strong reason to use KLdiv loss here instead of classic (in classification tasks) Crossentropy loss?
https://github.com/espnet/espnet/blob/39bae01e4a132da69b9b0d025da8c579a5f38b77/espnet2/asr/espnet_model.py#L139

[2022-05-11 23:31] pyf98 commented on #4358
[code]

The entropy of the true distribution will be a constant w.r.t. the network parameters, regardless of label smoothing. So, I think we can use either.

Regarding the implementation, I think it’s because PyTorch `CrossEntropyLoss` couldn’t support non-one-hot target distribution which is required for label smoothing. `KLDivLoss` supports it.

I just checked the latest PyTorch documentation. S

[2022-05-12 02:22] Macsim2 opened #4360 "conformer-transducer labels:bug"
Im sorry. plese delete this issue
I thought I could delete it
I'd repost it later

[2022-05-12 04:06] KennyChiou commented on #4346
@D-Keqi Hi, thank you for your help.
I don't remember that I modified "ctc_prefix_score.py".
But I copy the file from another server, and the same error still exists.

[2022-05-12 05:47] #4360 closed

[2022-05-12 09:57] #4318 closed

[2022-05-12 16:57] Stasiche commented on #4358
Okay, thank you very much!

[2022-05-12 16:57] #4358 closed

[2022-05-12 17:28] wyunj commented on #4307
Thanks very much! But I find that even under the condition of the same effective batch size, there is also a big difference in performance (like India 19.9/20.7). Is this because training is not deterministic? Our training data is 300h (Indian, US and England, 100h respectively) from CommonVoice corpus. The test set including extra 6 hours of data from Singapore, Australia and Cananda (as unseen d

[2022-05-13 07:25] AliNGatGeeks commented on #4288
Hi

- I trained my  Tacotron2 model again.
- I removed silence from the wav files at begging ,end and in between signal
- Also changed the sampling rate to 22050 so it matches  with the vocoder.
- I used previously trained vocoder (not trimmed and split wavs)
- However, The combined output of the Tacotron2 and Vocoder (Parallel WGAN) is **very noisy!**

I have provided some details below, and woul

[2022-05-13 07:28] kan-bayashi commented on #4288
How did you perform the decoding with the trained vocoder?
Please write the command as is.

[2022-05-13 07:45] AliNGatGeeks commented on #4288
`
 #load models
import os
model_root = '/home/ec2-user/SageMaker/espnet/egs2/German_Male/tts1/exp/tts_train_tacotron2_raw_char_tacotron'

model = '115epoch.pth'
model_file = os.path.join(model_root,model)
print(model_file)

vocoder= 'checkpoint-400000steps.pkl'
root = '/home/ec2-user/SageMaker/espnet/egs2/German_Male/tts1/decoder/'
vocoder_file = os.path.join(root,vocoder)
print(vocoder_file)

tex

[2022-05-13 07:47] kan-bayashi commented on #4288
`'/home/ec2-user/SageMaker/espnet/egs2/German_Male/tts1/decoder/'` include `stats.h5`?

[2022-05-13 07:54] AliNGatGeeks commented on #4288
**WOW**

Indeed it wasn't!!!!!!!!!!!!! I added this file and now its working !!!!
Thank you very very much

[2022-05-13 07:55] #4288 closed

[2022-05-13 08:19] miziworld opened #4362 "Multithreading when decoding ASR"
Hello, I'm working on making a real-time ASR system. In general, multi-threading is not available when operating using the python language, so multi-threading is used using the jit compiler or torchscript.
1. Are the options for omp_num_thread=1 in the path.sh of this project relevant to this?
If yes, is there any effect on increasing the inference time speed when performing ASR decoding with mult

[2022-05-13 08:56] WZLHQ opened #4363 "using ESPNet2 (not ESPNet1) as a library"
Could you please give me a example that using ESPNet2 as a library.
Thanks!

[2022-05-16 00:37] kan-bayashi commented on #4353
If you still have a question, please re-open.

[2022-05-16 00:37] #4353 closed

[2022-05-16 07:01] triumph9989 opened #4365 "Can't finish collect-stats by using s3prl as the frontend."
**Describe the bug**
Can't finish collect-stats by using s3prl as the frontend.

**Basic environments:**
 - OS information: Linux 5.4.0-104-generic #118-Ubuntu SMP Wed Mar 2 19:02:41 UTC 2022 x86_64
 - python version: 3.8.12 (default, Oct 12 2021, 13:49:34)  [GCC 7.5.0]
 - espnet version: espnet 202204
 - Git hash 4ab6912ae80bcc4454b30b62b36f6b40c03cf8cf
 - Commit date Thu Oct 21 18:40:13 2021 +09

[2022-05-16 11:26] akreal opened #4366 "Question on check_short_utt"
I use `Conv2dSubsampling2` and have a tensor of size `[1, 5, 80]` that can not be processed by this subsampling module. If I pad it to `[1, 7, 80]`, then it works, but with `[1, 6, 80]` it does not, so I assume the minimum length is 7 frames for `Conv2dSubsampling2`. However, `check_short_utt` requires it to be at least 3 frames:
https://github.com/espnet/espnet/blob/afa8f8ec5b8ec77deb1a3c1531915e

[2022-05-16 14:46] simpleoier commented on #4365
Hi @triumph9989. It's because of out of memory.
Can you confirm how much memory on your computing node and how much GPU each job can use?

[2022-05-16 16:46] Ore-an opened #4368 "Possible error with number of returned values in transformer encoder."
I'm not sure if development in espnet1 is still ongoing, but I found that in this line:

https://github.com/espnet/espnet/blob/afa8f8ec5b8ec77deb1a3c1531915ebbee7b80e6/espnet/nets/pytorch_backend/e2e_asr_transformer.py#L193

The transformer expects hs_intermediates to be returned by the encoder in every case. Looking at the encoder code, if the intermediate layers are not specified, it will return

[2022-05-17 02:52] triumph9989 commented on #4365
@simpleoier Sure, I use "hubert_large_ll60k" as my upstream.

**memory:**

[code]
**GPU information:**

Every 1.0s: nvidia-smi                                                                                                                           hdatanode7: Tue May 17 1030:005 2022
Tue May 17 10:50:03 2022
+-----------------------------------------------------------------------------+
| NVIDIA-

[2022-05-17 15:11] simpleoier commented on #4365
@triumph9989 How did you run the collect-stats, locally or by some resource manage system (e.g. slurm, gridengine)? Did you estimate how much RAM each collect-stats job can reserve? In my experience, each job may require around 6-8GB RAM.

[2022-05-17 19:34] ftshijt commented on #4366
Thanks for your investigation. I think it should be a bug here. When I was adding this check, I checked the other cases but not this one. Since it has two 3-kernel without padding, 7 should be a valid number. Could you start a PR to fix the issue?

[2022-05-17 19:35] ftshijt commented on #4363
We have a range of demo in colab at https://github.com/espnet/espnet#readme you may refer those for using espnet2 as a library

[2022-05-18 00:52] WZLHQ commented on #4363
Thanks!

[2022-05-18 08:33] akreal commented on #4366
Thank you for the answer! Sure, will do.

[2022-05-18 08:33] #4366 closed

[2022-05-18 14:25] sw005320 commented on #4368
Thanks for the report.
@YosukeHiguchi, could you check this issue?

[2022-05-18 17:43] roholazandie opened #4373 "Adding vocoder_tag (or vocoder_url) that supports urls to tts_inference"
Hi,
I made a pull request to parallel_wavegan repo in which we could have URLs for ```download_pretrained_model```. In the current implementation of ```Text2Speech.from_pretrained``` the vocoders are limited to predefined tag models and they should start with ```parallel_wavegan``` in [tts_inference](https://github.com/espnet/espnet/blob/3c96908edc5c592c9c99bba0640428613dc7c3cb/espnet2/bin/tts_inf

[2022-05-19 03:33] kan-bayashi commented on #4365
How about using utterance_mvn instead of global_mvn?

[2022-05-19 04:58] triumph9989 commented on #4365
@simpleoier Yes, I tried it and looks like the same result.

[2022-05-19 07:34] srikanthk20 commented on #2186
@wangydong  ... can you pls share the code base of how you achieved the batch support... Will be an interesting learn

[2022-05-19 08:11] lazykyama opened #4377 "Multi-GPU performance improvement for ASR in ESPnet1 by DDP"
**Describe the bug**

Dear ESPnet team,

This issue is a proposal to improve the multi-GPU training performance for **v1** ASR.
I'm filing this because I didn't find any other issues and/or PRs except for https://github.com/espnet/espnet/issues/3583 as far as I checked. (Sorry in advance if I overlooked any other similar issues/PRs and/or should discuss on https://github.com/espnet/espnet/issues/3

[2022-05-19 12:22] simpleoier commented on #4365
@triumph9989 Can you try to set `--nj 1` in run.sh?
In stage 10, the default is to run 32 parallel jobs at the same time. In that case, each job can use 180 / 32 = 5.6GB. It may depende on your settings. You may use less jobs. That's the reason why I asked you to estimate how much RAM each job can have.

[2022-05-19 14:17] espnetUser commented on #4217
Thank you @eml914 for your helpful response and my apologies for the late reply!

For now, I worked around the memory issue by splitting long audio files into smaller chunks using external VAD and glueing the hypos back together after decoding.

Looking forward to trying it! :) A quick search found this
"VAD-free Streaming Hybrid CTC/Attention ASR for Unsegmented Recording" (https://arxiv.org/pdf/

[2022-05-19 14:23] espnetUser commented on #4217
One last question where I would really appreciate your comment.

With respect to the contextual_block_conformer could you please clarify which of these parameters in the streaming config affects the "built-in" or "algorithmic" delay of the encoder:
[code]

Based on   https://arxiv.org/abs/2006.14941 (page 6: _"The theoretical delay was 0.64 seconds because the encoder block shifted every 16 frames

[2022-05-19 14:32] espnetUser commented on #3272
@sw005320: I am currently looking into
https://github.com/espnet/espnet/blob/master/utils/calculate_rtf.py
to make it work for espnet2. Has there been any work done on this topic already?

[2022-05-19 15:24] wyunj commented on #4307
In addition, I also run the model on librispeech100 (no speed disturb). Similar to CommonVoice, the smaller effective batch size is, the better the performance seems to be. However, Conformer encoder contains a lot of Batch normalization, so theoretically, the larger the batch size is, the better the performance will be. Now it seems that the result contradicts the theory. I wonder if you came to

[2022-05-19 19:24] sw005320 commented on #3272
No, we don't have any work for this.

[2022-05-19 20:06] sw005320 commented on #4307
Thanks for your report.
It is good to know that the similar "effective" batch size does not change the performance so much in this librispeech100 example (but it seems to happen in the other dataset...).
And I agree that too small batch size is harmful to the batch norm in conformer, but at the same time, too large batch size could make the optimization difficult for a small amount of training dat

[2022-05-19 20:10] sw005320 commented on #4377
Thanks a lot for your investigation!
We do not actively maintain espnet1, but this seems to be an important bug fix and it would be great if you make a PR.

The espnet2 multi-gpu issues seem to depend on the environments.
Our internal investigation by @pyf98 does not show the multi-GPU issue.

[2022-05-20 09:19] lazykyama commented on #4377
@sw005320
Thank you for the comment! Ok, let me make a PR to share current changes with the team after doing a small refactoring, and discuss more details. BTW, the overview of my modifications:
* adding a new script to launch multiple processes on each GPU like pytorch's `torch.distributed.launch`,
* adding a new option, `--use-ddp`, to `asr_train.py` to switch DDP and standard `data_parallel` wh

[2022-05-20 10:36] #4368 closed

[2022-05-20 10:59] sw005320 commented on #4377
Thanks a lot!
The robust scalability is an important function (and it is difficult to manage).
So, I really appreciate your investigation.

[2022-05-20 11:38] kan-bayashi commented on #4363
@WZLHQ If you satisfied, please close the issue by yourself.

[2022-05-20 11:38] #4363 closed

[2022-05-20 11:41] kan-bayashi commented on #4373
I understand your points since Iet me think in this weekend.

[2022-05-20 16:14] sw005320 commented on #3272
Thanks a lot!

[2022-05-21 14:16] teinhonglo commented on #4270
Hi Prof. Watanabe,

Thanks for the suggestion.
When I chopped the audio with VAD of py-webrtcvad (aggressive 0~3), the performance of the model improved (70% of WER -> 49% of WER).
But its performance is still not good enough?

[code]

How can i  can improve the performance?
Thank you in advance.

[2022-05-23 00:17] miziworld opened #4385 "Installation on Jetson boards"
Hello, I am trying to run espnet on various embedded boards.
In the case of Raspberry Pi, it runs smoothly, but in the case of the board of the jetson target, it is very difficult to match the version and dependencies of pytorch and related packages.
Also, in the case of jetpack, python3.6 is installed by default, but espnet is supported from 3.7 or later, so it is not easy to install pytorch corr

[2022-05-23 01:24] kamo-naoyuki commented on #4385
I think it works for almost all tasks, but it depens on your purpose.
It's better to try python3.6  and, if some problems happen, please ask it again.

[2022-05-23 02:11] eml914 commented on #4217
@espnetUser Thank you for your comments and questions!
We have tried rnn-t training for several times but not yet get better result than usual transformer.  But for the long audio case, it might be the solution.  What I ment was using LSTM which does not use all the history (but it uses all the encoder output if you use attention mechanism) and might be good for the long audio.  But further invest

[2022-05-23 04:16] yt605155624 commented on #4308
Could you please share the training log of vits csmsc?
I want to see the train loss and eval loss's order of magnitude
@[Mortyzhou-Shef-BIT](https://github.com/Mortyzhou-Shef-BIT)

[2022-05-23 04:28] yt605155624 commented on #4308
I reproduce VITS csmsc with paddlepaddle, and have trained for 1000 epoch(about 153000 iter) now, the eval/generator_loss is about 30+ , I want to known if the order of magnitude of loss is correct, I have trained HiFiGAN, the final eval/generator_loss is 24.927, so I think 30+ is normal for vits?

[2022-05-23 10:19] sw005320 commented on #4270
The second audio still looks too long. Can you try to chunk the audio in less than 15 seconds?

[2022-05-23 13:16] miziworld commented on #4385
I installed on Jetson nano board, and I think every installation is successed but the decoded results are weired.
The trained model works well with my PC environment with high accuracy, and I use the same model on jetson board.
What's the difference? and how to solve it?
My environment :
- python 3.7.9
- torch : 1.10.0 + cuda 10.2
- espnet2 / asr model
- decoding with device=cuda
- Done with local

[2022-05-23 13:55] espnetUser commented on #4217
@eml914: Thank you very much for the clarification!

[2022-05-23 17:06] bofenghuang opened #4386 "[Question] LibriSpeech ASR recipe with wav2vec2.0"
Hello,

Could you please tell me where I can find the results of this recipe [train_asr_transformer3_w2v_large_lv60_960h_finetuning_last_1layer](https://github.com/espnet/espnet/blob/master/egs2/librispeech/asr1/conf/tuning/train_asr_transformer3_w2v_large_lv60_960h_finetuning_last_1layer.yaml) on the librispeech ? Is there a big difference from the other wav2vec recipe [train_asr_conformer7_wav2v

[2022-05-23 20:28] jefflai108 opened #4388 "[Question] Training TTS model on English word input instead of Char/Phones"
Hi,

Is it possible to train TTS models on word-level inputs? I see the default options are either character / phone inputs. What would be the difficulties of training such TTS models?

Thanks!

[2022-05-24 00:41] mudong0419 commented on #4203
Any news? Is it available to train multi-speaker VITS model with GST? Wish good news from @kan-bayashi :)

[2022-05-24 13:25] Uriel-w opened #4389 "longformer report an error"
Excuse me, when running the source code longformer, there will be a problem that xs_pad.size(1) is greater than olens.max(). Is there any problem with the source code?

![cd171e2b498e3ba5f8607f7dc53282d](https://user-images.githubusercontent.com/60969278/170044634-71b8d4fa-4f6f-4a1d-a674-2e2d0b025c7f.png)

[2022-05-24 13:40] sw005320 commented on #4389
Which data (recipes) are you using?
Do you make it work with the other network, e.g., transformer/conformer?

[2022-05-25 02:32] kamo-naoyuki commented on #4385
Finally, did you use python3.7? I know some differences between python3.7 and python3.6, but I don't know about jetson, sorry.

Does it work for CPU mode (does it exist?)?

[2022-05-25 06:06] #4389 closed

[2022-05-25 10:07] supikiti opened #4390 "Dead link described in espnet1 jsut-based pretrained tts installer"
I tried to install the pretrained tts model, jsut.24k.phn.transformer, by using [this codes](https://github.com/espnet/espnet/blob/047d0c474c18a87c205e566948410be16787e477/egs/jvs/tts1/run.sh#L73).
However, I could not install it.
Could you please check if the link is valid ?
Or could you tell me if I can install it in another way ?

[2022-05-25 19:13] elhamadjidi opened #4391 "(asr.sh:252:main) ./asr.sh --stage 2 --ngpu 1 --train_set train --valid_set valid --test_sets test --lm_train_text data/train/text ./asr.sh: line 255: utils/parse_options.sh: No such file or directory"
I try to use my own dataset, with my own voice to train a model, I followed the instruction in [https://github.com/espnet/espnet/tree/master/egs2/TEMPLATE](url) but when I run this command `!./asr.sh \
 --stage 2 \
 --ngpu 1 \
 --train_set train \
 --valid_set valid \
 --test_sets "test" \
 --lm_train_text "data/train/text"` it gives me this error:
(asr.sh:252:main) ./asr.sh --stage 2 --ngpu 1 --t

[2022-05-25 21:36] elhamadjidi commented on #2930
Hi Dan,
I want to fine-tune any pre-trained model with children's voices, I want to make a TTS with children's voices. Can you tell me where to start? I am so confused with all the information here.

[2022-05-26 01:31] simpleoier commented on #4386
Sorry, there is no result for the first config.
The first config uses wav2vec2 as the encoder and finetune only the last layer during training. The second config uses wav2vec2 as the frontend (feature extraction) and the parameters are fixed. I suggest you to use the second config, and also try the some other techniques (like changing upstream model to xls-r, use [fused](https://espnet.github.io/e

[2022-05-26 04:03] nellorebhanuteja commented on #3040
Is this task active ?

[2022-05-26 04:12] ftshijt commented on #3040
@nellorebhanuteja  thanks for your following-up. We are still active in terms of diarization. Our latest goal is to publish the diarization+enhancement implementation boosted in https://github.com/espnet/espnet/pull/4339 by @YushiUeda

[2022-05-26 04:12] ftshijt commented on #3040
@nellorebhanuteja  thanks for your following-up. We are still active in terms of diarization. Our latest goal is to publish the diarization+enhancement implementation boosted in https://github.com/espnet/espnet/pull/4339 by @YushiUeda

[2022-05-26 11:43] kan-bayashi commented on #4390
Sorry, this is my fault. I changed permission.
BTW, ESPnet1-TTS (egs/*/tts1) is deprecated, so I recommend trying `egs2/*/tts1`.

[2022-05-26 11:43] #4390 closed

[2022-05-26 11:48] kan-bayashi commented on #4388
In terms of the implementation, that can be even if with the current implementation.
Prepare `text` as word split by space and use `token_type=phn` and `g2p=none`.

Basically, TTS dataset is not so large (in the case of single speaker around 10 ~ 100 hours).
Such a case, word representations are too sparse so I think it is impossible with only word representations as the inputs.

[2022-05-26 13:57] sciai-ai commented on #4318
@Masao-Someki Can you add onnx support for tacotron2 and fastspeech2

[2022-05-26 17:54] ftshijt commented on #4391
Could you check the following:
1. have you installed the espnet following the installation guide (which will clone kaldi for the corresponding file)?
2. where do you execute the commend? That should be in folders like `egs2/foo/${task}`

The `parse_options.sh` should be in `egs2/foo/${task}` piror to your running of asr.sh

[2022-05-26 18:40] roholazandie commented on #4373
I think if we let vocoder files be located on huggingface hub then we can solve this problem with minimum changes in the code. Any thoughts on this?

[2022-05-26 20:26] elhamadjidi commented on #4391
Yes I solved that, Now it gives me the error of `line 309: local/data.sh: No such file or directory` I am trying to fine-tune on of pre-trained model with my own dataset. Would you tell me how I can make the data.sh?

[2022-05-26 20:34] ftshijt commented on #4391
Please check the guidelines here https://github.com/espnet/espnet/tree/master/egs2/TEMPLATE#for-developers-how-to-makeport-new-recipe You can find various examples of `data.sh` at https://github.com/espnet/espnet/tree/master/egs2

[2022-05-26 21:22] #4386 closed

[2022-05-26 22:27] elhamadjidi commented on #4391
I managed to do the data partitioning with python and started `tts.sh` from stage 2, is that okay? I really didn't want to deal with `data.sh`

[2022-05-26 22:40] Masao-Someki commented on #4318
Hi @sciai-ai,
Thank you for your request!
I want to concentrate on model optimization of Transformer and Conformer based models this weekend, so I will add that two models next week.

[2022-05-27 07:23] srikanthk20 opened #4395 "Espnet2 inference Profile"
Hi,
I am trying to infer the CTC+Attention network with the following two different configuration in Espnet2

Config1:
---------
beam_size: 5
ctc_weight: 0.0
lm_weight: 0.0

Config2:
---------
beam_size: 5
ctc_weight: 1.0
lm_weight: 0.0

For a particular test data set the Config1 take ~170sec and for the same dataset the Config2 takes ~350sec.
Is it expected that the ctc_weight: 1.0 (CTC only deco

[2022-05-27 08:50] ily6 opened #4396 "AttributeError: 'NoneType' object has no attribute 'run'"
I train conformer model using aishell recipe(ESPnet2) , but when in training stage , I got this:

2022-05-26 21:31:26,160 (trainer:328) INFO: 50epoch results: [train] iter_time=6.764e-05, forward_time=0.043, loss_ctc=0.331, loss_att=0.502, acc=0.993, loss=0.225, backward_time=0.040, optim_step_time=0.038, optim0_lr0=1.133e-04, train_time=0.264, time=51 minutes and 57 seconds, total_count=1181200,

[2022-05-27 10:31] unparalleled-ysj opened #4397 "dev question"
@kan-bayashi I have a question, when I was doing finetune, due to the small amount of data, the data of dev was included in tr_no_dev. Does this have any effect on training?

[2022-05-27 11:27] kamo-naoyuki commented on #4396
This is a bug. I'll fix it.

For workaround, please install wandb, but your training has been finished successfully. You can ignore it.

[2022-05-27 13:59] sw005320 commented on #4395
Thanks for raising the question.
This is an important behavior in joint CTC/attention and I'll explain it in a bit more detail for our future reference.

This is related to whether we use the pre beam or not for CTC prefix score calculations.
First, CTC prefix score calculations are heavy.
To remove the computations, our joint CTC/attention decoding only performs the CTC prefix score calculations

[2022-05-27 17:58] ftshijt commented on #4391
The introduction of data.sh is only to uniform our recipe layout. If you have prepared the data already, there is no need for the step to train a model (and do the inference, and scoring). But if you are thinking about contributing a recipe, please add that.

[2022-05-27 23:40] G-Thor opened #4401 "MFCC extraction in stage 2 of tts recipe fails with sox pipe in wav.scp"
When extracting MFCCs in the TTS recipe, you run into problems if you trim the durations of audio files with sox pipes as part of your preprocessing.
This happens since the MFCC extraction datadir is copied from the original `data/${dset}` in the referenced line, rather than `${data_feats}${_suf}/${dset}`, which references trimmed files (dumped) instead.

https://github.com/espnet/espnet/blob/7698

[2022-05-28 00:31] #4396 closed

[2022-05-28 03:23] YoungKang1222 commented on #1233
i want to ask if my training data's format is "wav" and the feats_type is "raw",  whether the default strategy of espnet is  "normalization"?

[2022-05-28 08:17] miziworld commented on #4385
I succesfully reinstalled pytorch on Jetson environment and the problem disappeared. I used the wheel provided NVIDIA, and the version is pytorch 1.8.0 and python 3.8 It works both CPU  and GPU mode.

[2022-05-28 08:17] #4385 closed

[2022-05-28 08:34] miziworld opened #4403 "Check number of parameters per layer"
Hello, I am using espnet's ASR task usefully, and I am also using it satisfactorily on mobile devices.
However, as I have asked several times, it is very important for developers to check the number of parameters and calculation amount for each layer of the trained model.
@b-flo  answered a question I posted earlier, but I haven't been able to solve it properly. In general, the input size is fixed

[2022-05-29 17:17] nellorebhanuteja opened #4405 "Error while training joint TTS"
i am trying to run the recipe provided in this [page](https://github.com/espnet/espnet/blob/master/egs2/TEMPLATE/tts1/README.md#joint-text2wav-training).
However,  I run the following command
[code]

I am getting following error
[code]

[2022-05-30 00:00] kan-bayashi commented on #1233
As a default, we use global_mvn for feature normalization (mean variance normalization over training data).
https://github.com/espnet/espnet/blob/8c39ca54a89080c063970d20e23ccf54053a8e85/egs2/TEMPLATE/asr1/asr.sh#L95

[2022-05-30 00:04] #4401 closed

[2022-05-30 00:06] kan-bayashi commented on #4397
In general, we use dev set to monitor the overfitting.
I recommend using dev set which is independent from training data.
However, in the case of TTS, we do not use validation best model as the final model, so it might be OK.

[2022-05-30 00:08] kan-bayashi commented on #4405
Sorry for ambiguous README.
Could you add the options `tts_stats_dir` and `teacher_dumpdir` as the same as fastspeech2 case?

[2022-05-30 01:47] #4397 closed

[2022-05-30 04:15] YoungKang1222 commented on #1233
@kan-bayashi thanks！

[2022-05-30 15:50] nellorebhanuteja commented on #4405
It works now
thanks!

[2022-05-30 15:50] #4405 closed

[2022-05-30 20:36] danoneata commented on #2930
@elhamadjidi I haven't kept up with the latest developments in ESPnet. From what I recall, a tutorial on how to finetune a pretrained TTS model is available [here](https://github.com/espnet/espnet/tree/master/egs2/jvs/tts1) (I'm not sure if there are other more up-to-date resources). A list of pretrained TTS models is available [here](https://zenodo.org/communities/espnet/search?page=1&size=20&q=&

[2022-05-31 12:46] ComputerCrazyCookie opened #4409 "OSError Errno 36: File name too long"
**Describe the bug**
A clear and concise description of what the bug is.

**Basic environments:**
 - OS information: [e.g., Linux 4.9.0-11-amd64 #1 SMP Debian 4.9.189-3+deb9u2 (2019-11-11) x86_64]
 - python version: [e.g. 3.7.3 (default, Mar 27 2019, 22:11:17) [GCC 7.3.0]]
 - espnet version: [e.g. espnet 0.8.0]
 - Git hash [e.g. b88e89fc7246fed4c2842b55baba884fe1b4ecc2]
   - Commit date [e.g. Tue

[2022-05-31 13:03] sw005320 commented on #4409
Thanks for your report.
Indeed, the model name is too long.
We’ll be careful in the future model upload stages.
To avoid this issue temporary, you can download the model manually and rename it in your local.

[2022-05-31 14:47] elhamadjidi commented on #2930
Yeah, it helped, Thank you. One more question, I tried to do 2-5 stages with LJSpeech with my own dataset and it took 11 hours in google Colab and then stopped due to Colab problems. Do you suggest any platform that can handle all these computations in a reasonable time? I have a MacBook Pro, with no GPUs.

[2022-05-31 17:09] nellorebhanuteja opened #4410 "tensorboard graphs"
In the current setup when I type
[code]

i can visualize model training progress.
Can i also generate tensorboard graphs?
It will help me understand the architecture of underlying model

[2022-05-31 18:34] jwrh opened #4411 "Std::bad_alloc when running stage 10 for commonvoice dataset, French language"
**Describe the issue**
Running **stage 10**, for the `egs2/commonvoice/asr1` `French` would produce `std::bad_alloc` error. Note this does not happen with language with smaller `nbpe` , such as `cy` which only has a `nbpe = 150`

**`check_install.py` status**
[code]

**Basic environments:**
- OS information: Linux 5.4.0-110-generic #124-Ubuntu SMP Thu Apr 14 19:46:19 UTC 2022 x86_64
- python versi

[2022-05-31 20:04] vadimkantorov opened #4412 "cudnn ctc loss deterministic mode probably is not working"
According to https://github.com/pytorch/pytorch/issues/78475#issuecomment-1142559982, https://github.com/espnet/espnet/blob/5fa6dcc4e649dc66397c629d0030d09ecef36b80/espnet/nets/pytorch_backend/ctc.py#L65 should probably not have any effect on the underlying cudnn CTC loss algorithm.

[2022-05-31 21:54] kamo-naoyuki commented on #4410
No, it's not supported. I'll consider it.

[2022-06-01 08:06] Emrys365 commented on #4403
You could implement it manually I think. Below is a rough example:

[code]

[2022-06-02 00:55] kamo-naoyuki opened #4414 ""datasets/wideband/acoustic_params_wideband" and "datasets/wideband/dev_testset_wideband/track1" are required for DNS challenge recipe"
The  local/data.sh for dns_ins21 recipe says that "datasets/wideband/acoustic_params_wideband" and "datasets/wideband/dev_testset_wideband/track1" are required.

https://github.com/espnet/espnet/blob/45e8cb9173a072f85ee7a7ccbcae06af7c5c484a/egs2/dns_ins21/enh1/local/data.sh#L22

I couldn't find any clues to get them.  Could you tell me how to get them? I'm not familiar with DNS challenge.

[2022-06-02 05:42] dmjeonglib commented on #3762
Thanks to your great work on korean TTS. I'm working on korean TTS, and VITS model is so fast on inference on GPU. I'have found many single-speaker pretrained models, are there any multi-speaker korean VITS models? Thanks in advance.

[2022-06-03 00:41] sameerkhurana10 opened #4416 "Covost2 recipe: lowercase.perl not found"
hello,

I was trying to run the covost2 recipe under egs2.

When running the local/data.sh as follows:

[code]

I get the following issue:

[code]

More info
[code]

[2022-06-03 01:00] sw005320 commented on #4416
@ftshijt, can you check it?
Is it an issue of the path?

[2022-06-03 01:02] sameerkhurana10 commented on #4416
some more info:

I did do the following before running the above command:

[code]

[2022-06-03 01:04] ftshijt commented on #4416
Hi, it is not an issue for the path, but it is because you did not install Moses. Please install that from the `installer/install_moses.sh` Then it should work. I will add a check at st recipes later.

[2022-06-03 01:04] sw005320 commented on #4416
Yes, please add a check. I think we had a similar report.

[2022-06-03 01:06] sw005320 commented on #4416
Can you check through all ST recipes and add some checks like https://github.com/espnet/espnet/blob/master/egs2/aishell/asr1/local/path.sh?

[2022-06-03 02:55] sameerkhurana10 commented on #4416
the below worked
[code]

[2022-06-03 02:55] #4416 closed

[2022-06-03 07:02] tarun73 commented on #3950
Hi @sw005320, when you mention

can you please point to the part of the code or documentation, it would be very much helpful.

[2022-06-03 09:29] sw005320 commented on #3950
This is based on https://github.com/espnet/espnet/blob/b008ac7d58e9ced1a9f8c89cc85ee69d9e9461ab/espnet/nets/pytorch_backend/e2e_asr.py#L406

[2022-06-03 14:46] karthik19967829 commented on #4411
@jwrh afaik the issue arises from this line
`utils/copy_data_dir.sh data/"$(echo "validated_${lang}" | tr - _)" data/${train_set}`
Please try add some debugging in the above script to verify the same.
@simpleoier did we have a fix for this ?

[2022-06-03 14:54] karthik19967829 commented on #4411
@jwrh can you try working on a subset of data (e.g just dev in place of train) then we can quickly know if it is efficiency issue. As the same script works for Welsh , but not French seems Iike efficiency challenge, the recipe creator might have used much higher CPU RAM than what you are using , so please check the environment information if provided

[2022-06-03 16:26] karthik19967829 commented on #4411
@jwrh from the number of utterances , the French dataset seems to be 6x in terms of number of utterances.
please `htop` on another terminal / window , to see the CPU usage in real-time.

[2022-06-03 17:33] dv66 opened #4421 "Bengali TTS Model Using LJSpeech Recipe - Attention Plots Are Not Diagonal - Decoded Clips Are Totally Silent"
Hello,

We have been using Espnet successfully for Bengali ASR training for about 2 years now.

Currently we are trying to train a Bengali TTS model using LJSpeech/tts1 recipe. We are using [https://github.com/espnet/espnet/blob/master/egs/ljspeech/tts1/conf/tuning/train_pytorch_transformer.v1.single.yaml](url) with a reduced batch size (batch_bins: 341550) due to smaller video memory (8G VRAM RTX

[2022-06-04 02:59] Xiaoliang1223 opened #4422 "Espnet ST transformer model GPU decoding problem"
Hello, when I use ST Transformer  for GPU decoding, there is an error RuntimeError: Input type (torch.FloatTensor) and weight type (torch.cuda.FloatTensor) should be the same . I have tried to change run.sh like this:
        ${decode_cmd} JOB=1:${nj} ${expdir}/${decode_dir}/log/decode.JOB.log \
            st_trans.py \
            --config ${decode_config} \
            --ngpu ${dec_ngpu} \

[2022-06-05 21:34] ciphurus commented on #4294
Hi - any resolution or workaround for this? Following this collab https://colab.research.google.com/github/espnet/notebook/blob/master/espnet2_tutorial_2021_CMU_11751_18781.ipynb and still getting the error

[2022-06-06 00:47] kan-bayashi commented on #4421
I leave some comments:
- `egs/*/tts1` is deprecated. It is better to switch `egs2/*/tts1` (ESPnet2 based)
- Please check the following points https://github.com/espnet/espnet/tree/master/egs2/TEMPLATE/tts1#why-the-model-cannot-be-trained-well-with-my-own-dataset
- Please check the related issues
  - https://github.com/espnet/espnet/issues/2327
  - https://github.com/espnet/espnet/issues/2565
- `no

[2022-06-06 03:12] ily6 opened #4423 "ESPnet2 bpe"
I wonder if ESPnet2 supports bpe dropout? If so, where do I need to modify it?
Thanks in advance!

[2022-06-06 09:24] JJun-Guo opened #4424 "Is there any pre-trained model here?"
**Describe the bug**
A clear and concise description of what the bug is.

**Basic environments:**
 - OS information: [e.g., Linux 4.9.0-11-amd64 #1 SMP Debian 4.9.189-3+deb9u2 (2019-11-11) x86_64]
 - python version: [e.g. 3.7.3 (default, Mar 27 2019, 22:11:17) [GCC 7.3.0]]
 - espnet version: [e.g. espnet 0.8.0]
 - Git hash [e.g. b88e89fc7246fed4c2842b55baba884fe1b4ecc2]
   - Commit date [e.g. Tue

[2022-06-06 11:30] sw005320 commented on #4423
We don't support it.
You need to implement it by yourself.

[2022-06-06 11:41] sw005320 commented on #4294
It may not be fixed soon.
We'll host the data in a different place.

[2022-06-06 11:44] sw005320 commented on #4422
Can you try that with `batchsize: 0`?

[2022-06-06 12:01] Xiaoliang1223 commented on #4422
Yes I have since the default batchsize was 0 and the error was the same.
I found issue #1848 very similar so I tried to change batchsize and api version but nothing happened.

[2022-06-06 12:30] sw005320 commented on #4422
`st_trans.py` may not support GPU decoding.
@brianyan918, can you answer it for me?

[2022-06-06 15:22] elhamadjidi commented on #3999
Could you solve this? I have the same problem?

[2022-06-06 15:23] brianyan918 commented on #4422
Can you provide the full trace of the errors that you are facing?

[2022-06-06 15:56] Xiaoliang1223 commented on #4422
Sure.
2022-06-06 23:55:26,164 (st_trans:149) WARNING: CUDA_VISIBLE_DEVICES is not set.
2022-06-06 23:55:26,164 (st_trans:160) INFO: python path = /home/zlm/espnet-master/tools/s3prl:
2022-06-06 23:55:26,164 (st_trans:165) INFO: set random seed = 1
2022-06-06 23:55:26,164 (st_trans:168) INFO: backend = pytorch
2022-06-06 23:55:27,344 (deterministic_utils:26) INFO: torch type check is disabled
2022-

[2022-06-06 16:33] brianyan918 commented on #4422
May I see the error when using batchsize 1?

[2022-06-06 16:35] Xiaoliang1223 commented on #4422
# st_trans.py --config conf/decode.yaml --ngpu 1 --backend pytorch --batchsize 1 --trans-json dump/dev_org.en-de.de/deltafalse/split1utt/data_bpe8000.1.json --result-label exp/train_sp.en-de.de_tc_pytorch_train_bpe8000_specaug/decode_dev_org.en-de.de_decode/data.1.json --model exp/train_sp.en-de.de_tc_pytorch_train_bpe8000_specaug/results/model.val5.avg.best
# Started at Tue Jun  7 00:34:52 CST 20

[2022-06-06 18:18] Xiaoliang1223 commented on #4422
Ok thanks a lot

[2022-06-06 18:18] #4422 closed

[2022-06-06 19:14] sw005320 commented on #4294
See https://github.com/espnet/espnet/pull/4427

We copied it in a huggingface space.

[2022-06-06 21:43] sw005320 commented on #4294
@ciphurus and @sakibchowdhury131, can you test it?

[2022-06-07 01:57] simpleoier commented on #4411
@karthik19967829 This is a very rough range. Did you check which line exactly caused the error and why the error arose?

[2022-06-07 02:03] karthik19967829 commented on #4411
It's data copying issue , the French dataset is 5x bigger ,so leading to memory issues ,the same scripts works for Welsh as it's small

[2022-06-07 02:15] Macsim2 opened #4429 "Question about Speech2TextStreaming"
Hi, I'm trying to train Speech2TextStreaming model using Speech2Text params which use LegacyRelPositionMultiHeadedAttention with ConformerEncoder
pos_emb is missing during forwarding self-attention layer..
So. my question below are
1. For using Speech2TextStreaming, is it essential to use MultiHeadedAttention..?
2. If not 1. answer is false, what should i do..?

[2022-06-07 03:19] lazykyama commented on #4377
@sw005320 sorry for my too late action... I just made a PR for this issue. I would like you to review it and give me some feedback!

BTW, regarding multi-GPU performance in v2, it looks like there is another issue around scalability. It could be possible that I made any mistakes. So, at first, let me share my investigation results below, and I would like to know your thoughts. For example, the sit

[2022-06-07 13:29] sciai-ai commented on #4318
hi @Masao-Someki any news on this. Thanks

[2022-06-07 16:47] pyf98 commented on #4377
Hi @lazykyama Thanks for the investigation.

In ESPnet2, did you increase the `batch_bins` with more GPUs? The config is different from that in ESPnet1, as described below:
https://espnet.github.io/espnet/espnet2_training_option.html#the-relation-between-mini-batch-size-and-number-of-gpus

In ESPnet2, with more GPUs, the batch size needs to be scaled accordingly, which seems a more typical behavio

[2022-06-07 17:25] dv66 commented on #4421
Thank you very much. It seems there was silence at both ends of the audio files. After trimming those, we are seeing TTS audios are generated - attention plots are much better. (Although the audio files sounds a bit robotic)

[2022-06-08 00:01] kan-bayashi commented on #4421
This is because the outputs are generated by Griffin-LIm.
Please combine with neural vocoder.

[2022-06-08 00:01] #4421 closed

[2022-06-08 01:00] Macsim2 commented on #4429
@sw005320 Thank your response.

I didn't mean to..
I see my train config now that "rel_pos_type:latest" option is missing
I think that's why LegacyRelPositionMultiHeadedAttention was used though I wrote "selfattention_layer_type: rel_selfattn"

As your question, is it proper to use RelPositionMultiHeadedAttention in my situation?

[2022-06-08 01:37] #4410 closed

[2022-06-08 02:10] Macsim2 commented on #4429
I Have additional question..
I use TransducerDecoder but stopped because of below codes
`non_batch = [
            k
            for k, v in beam_search.full_scorers.items()
            if not isinstance(v, BatchScorerInterface)
        ]
assert len(non_batch) == 0
`
in espnet2/bin/asr_inference_streaming.py
this codes mean that non_batch scorers have to be None. but TransducerDecoder was non_batc

[2022-06-08 03:25] YoshikiMas commented on #4414
You could find them from [interspeech/adddata branch](https://github.com/microsoft/DNS-Challenge/tree/interspeech2021/adddata/datasets). I will add this description in data.sh.

[2022-06-08 05:25] nellorebhanuteja commented on #4410
@kamo-naoyuki

thanks for the update
I am trying to run tacotron2 training on LJSpeech
I am still not able to see graphs

[2022-06-08 05:36] kamo-naoyuki commented on #4410
Tensorboard graph is not always added because it depends on torch script.  If it's failed, there are no ways to see it.

Oh... I'll check it.

[2022-06-08 06:12] nellorebhanuteja commented on #4410
I also noticed the GPU usage is going to 100 % and stagnating there

[2022-06-08 07:59] lazykyama commented on #4377
Hi @pyf98 Thank you for your comment. As you pointed me out, by changing `batch_bins` from 35000000 (default) to 280000000 (x8 bigger), the 8GPUs performance has been improved and it achieved x6.48 faster in the context of 1GPU vs 8GPUs. Sorry to bother you.

BTW, hopefully, it would be great if ESPnet2 could have an option to enable auto-tuning for such parameters because it can be automated to a

[2022-06-08 08:33] kamo-naoyuki commented on #4410
I fixed it.

[2022-06-08 08:45] JiaYK opened #4432 "TTS training problems: Training jets failed"
Hi!
I used jets to run on the aishell3 dataset, but the text information was not aligned(the synthesized speech has no semantic information).
I have tried other models (such as joint fs2 hifigan, tacotron2, Vits) that can be aligned.
Is this normal? Jets' segmentation model will be more difficult to train.
Both use spid instead of xvector and gst.

Looking forward to your reply!

[2022-06-08 09:45] imdanboy commented on #4432
If alignment loss doesn't drop in first few epoch, how about scaling an alignment loss term by tuning `lambda_align`?
I have experienced an alignment issue in vctk datset so i tuned it 5.0 as far as i remember.

[2022-06-08 09:57] JiaYK commented on #4432
@kan-bayashi  Thank you very much for your reply.
alignment loss in first step is generator_align_loss=29.134,
in 989 epoch 601-650 batch is  generator_align_loss=24.842.
I think it's a good idea to scaling  alignment loss.
On the other hand, I trained aishell3 to use an rtx3090, so the batch_bins can only be reduced to 1200000, Should I increase training epoch to get better results (for vocoder)?

[2022-06-08 11:36] sw005320 commented on #4429
Yes, it is proper to use RelPositionMultiHeadedAttention. Legacy one is not maintained.

[2022-06-08 11:38] sw005320 commented on #4429
We do not have the implementation yet since TransducerDecoder does not use the ScorerInterface interface.

[2022-06-08 11:49] sw005320 commented on #4377
Thanks for your report!
I think this is a typical confusion.
It would be better to emphasize it in the doc.

@pyf98, could I ask you to add a remark about the different usage of the batch size to the following documents?
https://github.com/espnet/espnet/blob/master/doc/espnet2_tutorial.md
https://github.com/espnet/espnet/blob/master/doc/espnet2_distributed.md
https://github.com/espnet/espnet/blob/

[2022-06-08 13:38] kamo-naoyuki commented on #4410
Once again, tensorboard graph is not always added. If it's failed, it is impossible to add the graph.

[2022-06-08 16:08] Tonyyouyou opened #4434 "Try to use Hubert as front end but got error 'stack expects each tensor to be equal size' in stage 10"
**Describe the bug**
A clear and concise description of what the bug is.

**Basic environments:**
 - OS information: [ubuntu 18.04.6]
 - espnet version: [202205]
 - torch version [1.11.0]

**Bug detail**
[code]

[2022-06-08 19:26] pyf98 commented on #4377
Thanks @lazykyama for your new investigation. The batch size issue seems quite common.

@sw005320 I have updated the three docs and made a PR here: https://github.com/espnet/espnet/pull/4436

[2022-06-09 02:46] Jackiexiao commented on #4353
I am still confuse, why increase the batch bins, but batch size per gpu is not changed.

[2022-06-09 05:11] Macsim2 commented on #4429
I appreciate your reply..!
I hope the implementation will be completed ASAP

[2022-06-09 05:11] #4429 closed

[2022-06-09 07:29] #4414 closed

[2022-06-09 08:27] kan-bayashi commented on #4432
In my

[2022-06-09 10:55] JiaYK commented on #4432
Thank you very much for your experience. I changed alignment loss and retrained it. I hope the model can converge well.

[2022-06-09 15:38] sciai-ai commented on #4318
Can the mbmelgan vocoder is converted to onnx too?

[2022-06-09 17:15] A-Quarter-Mile opened #4437 "Development plan for ESPnet2 singing voice synthesis"
We are now migrating [Muskit](https://github.com/SJTMusicTeam/Muskits), an open-source music processing toolkit, into ESPnet2.
Muskit focuses on benchmarking the end-to-end singing voice synthesis and expects to extend more tasks in the future. The main structure and base codes are adapted from ESPnet.

We also expect to make some new attempts in combination with the existing tasks (eg. TTS) under

[2022-06-09 17:38] Masao-Someki commented on #4318
@sciai-ai
No, you cannot export your mbmelgan vocoder. Currently, only hifigan, melgan, and parallell_wavegan are supported.
However, you can export your custom vocoder by modifying the following scripts.
- `espnet_onnx.export.tts.models.__init__.py` to import your custom vocoder.
- `espnet_onnx.export.tts.models.vocoders.<create your vocoder file>` to define your exportation, such as dummy input

[2022-06-09 18:18] ftshijt commented on #4437
Many thanks! Looks very exciting~

[2022-06-10 02:19] Jackiexiao commented on #4318
do you have any plan to support export espnet model to torchscript/jit?

[2022-06-10 03:35] 1chimaruGin commented on #4434
Reinstall s3prl by using
[code]

[2022-06-10 03:57] Tonyyouyou commented on #4434
I try to return espnet version back to 202204, then the hubert is working now. I think the reason is due to the update of espnet

[2022-06-10 12:44] Masao-Someki commented on #4318
Currently, I don't have any plan to support torchscript/jit.

[2022-06-10 22:29] Tonyyouyou opened #4438 "When I try to use a self-supervised model as the front end, The logs file shows that some samples got nan grad. These were ignored for CTC loss"
When I try to use Wav2vec2 model as the front end, The logs file shows that some samples got nan grad. These were ignored for CTC loss

Issue
[code]
I think the issue is due to the downsampling of Wav2vec2 model, from the documentation, we can know that
[code]
But I did not find the parameter input_layer or other downsampling rate parameters in the encoder file.

My data has 44.1k sampling rate

[2022-06-11 05:53] seastar105 opened #4439 "[HELP] JETS Finetuning"
Hi, I'm trying to finetune JETS model trained on kss.

after, 200epochs model makes quite audible sound now, but attention plots are screwed up. I'm confused. is it trained well..?

![image](https://user-images.githubusercontent.com/30820469/173175102-d7bc3b39-3a59-4fb2-a028-44309294d126.png)

![image](https://user-images.githubusercontent.com/30820469/173175123-0f231702-d9a1-40d4-9638-ae26c3f4338

[2022-06-11 14:38] imdanboy commented on #4439
Your attention plot seems to be came from self-attention not alignment attention. So i am not sure how self
-attention plot looks like if it is trained well.

Instead, did you expect diagonal alignment attention plot between text and mel-spectrogram?
If so, plotting alignment attention plot yourself and checking its diagonality may be helpful.
Alignment attention matrix can be obtained from `torch

[2022-06-11 18:13] seastar105 commented on #4439
Thank you. I'll check torch.exp(log_p_attn)

[2022-06-11 22:38] ciphurus commented on #4294
Thanks. I tested it and it now the tutorial works. The data gets downloaded from the alternative site.

[2022-06-12 14:14] sw005320 commented on #4438
Which config file are you using?
@simpleoier, can you answer it for me?

[2022-06-12 14:39] Tonyyouyou commented on #4438
I use this config file https://github.com/espnet/espnet/blob/master/egs2/librispeech/asr1/conf/tuning/train_asr_conformer7_wav2vec2_960hr_large.yaml
But I change the downstream model to LSTM encoder-dcoder model

[2022-06-12 14:40] Tonyyouyou commented on #4438
I use this config file https://github.com/espnet/espnet/blob/master/egs2/librispeech/asr1/conf/tuning/train_asr_conformer7_wav2vec2_960hr_large.yaml
But I change the downstream model to LSTM encoder-dcoder model

[2022-06-12 22:02] simpleoier commented on #4438
@Tonyyouyou Which encoder type did you use? `rnn` or `vgg_rnn`?
By default, those two encoder types downsample the input with a factor of 4. You can check the details for [rnn](https://github.com/espnet/espnet/blob/master/espnet2/asr/encoder/rnn_encoder.py) and [vgg_rnn](https://github.com/espnet/espnet/blob/master/espnet2/asr/encoder/vgg_rnn_encoder.py). If you used `rnn`, you may change the subs

[2022-06-12 22:09] Tonyyouyou commented on #4438
I tried to use both rnn and vgg_rnn, Most of the examples turn out to be nan. If I want to change the subsample parameter in rnn config, Does this parameter refer specifically to the sampling rate?

[2022-06-12 22:14] simpleoier commented on #4438
@Tonyyouyou Oh, sorry. I missed a point. You are using 44.1 kHz data. It may not be suitable to use. These frontends were trained on 16 kHz data. You may first convert your data to 16 kHz in step 3 when doing wav formatting.

I didn't follow your question. But subsample parameter is not specific to a certain sampling rate. For example, we can use the same subsampling factor of 4 for 8 kHz or 16 kH

[2022-06-13 12:19] imdanboy opened #4440 "Why not use normalized text for kss recipe?"
Although normalizing korean text (such as digit or english --> valid korean) is supported by `g2pk` implicitly or by `korean_cleaner` explictly, it does not guarantee the result match the recorded text.
For example, digit conversion for 1/1_0033.wav by `korean_cleaner` is wrong in that the digit is recorded as "이십" actually.
[code]

Since kss dataset (https://www.kaggle.com/datasets/bryanpark/kore

[2022-06-14 06:56] tarunsaib1997 opened #4443 "Can we replicate fbank-pitch results for WSJ dataset in ESPNET2 as in ESPNet?"
***Claimed fbank-pitch results for WSJ with conformer setup as in paper***
--> dev93/ eval92 -- 7.7 / 5.3

***Tried replicating the resutls of WSJ Conformer recipe with ESPNet2 recipe***
--> Results we got -- 17.2/14.8
**Attaching the config files used**

**Train Config:**

batch_type: folded
batch_bins: 5000000 #140000000
batch_size: 8
accum_grad: 2
max_epoch: 100
patience: none
init: none
best_m

[2022-06-14 06:57] Yerzhaisang opened #4444 "No information about remaining time in train.log"
I believe in the log file there should be information about left time. I left below the full content of train.log.

python3 -m espnet2.bin.lm_train --ngpu 1 --use_preprocessor true --bpemodel none --token_type char --token_list data/kz_token_list/char/tokens.txt --non_linguistic_symbols none --cleaner none --g2p none --valid_data_path_and_name_and_type dump/raw/dev/text,text,text --valid_shape_fil

[2022-06-14 07:02] seastar105 commented on #4444
Left train time would appear after training 1 epoch maybe? https://github.com/espnet/espnet/blob/43ce0c69fb32961235534b348700dc6c74ad5792/espnet2/train/trainer.py#L261

[2022-06-14 07:10] Yerzhaisang commented on #4444
thank you for your comment. However, there is already 18 epoch

[2022-06-14 11:58] kan-bayashi commented on #4440
I agree with your suggestion. Let us use the normalized one.

[2022-06-15 01:49] sciai-ai opened #4447 "TTS voice cloining capability"
Hi,  I wanted to know if there is any recipe to do voice cloning, i.e given some amount of audio (10-30 seconds) and adapt pre-trained espnet text2mel and vocoder models to the new speaker.

[2022-06-15 06:38] sciai-ai opened #4448 "Text2Speech produces different outputs."
Hi, I tried synthesising  the wav file using 2 ways

Decoding using text2speech -> feat_gen -> vocoder produces different results than text2speech -> wav

[code]

[code]

[2022-06-15 07:59] Yerzhaisang opened #4450 "CUDA out of memory. I have a gpu with a quite enough memory (32 GB). CUDA is out of memory during the training ASR conformer. Which parameters should be decreased to complete training?"
Traceback (most recent call last):
  File "/raid/yerzhaisang_taskali/my_work/espnet/tools/anaconda/envs/espnet/lib/python3.8/runpy.py", line 194, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "/raid/yerzhaisang_taskali/my_work/espnet/tools/anaconda/envs/espnet/lib/python3.8/runpy.py", line 87, in _run_code
    exec(code, run_globals)
  File "/raid/yerzhaisang_taskali

[2022-06-15 08:54] supernaiter opened #4452 "How to shorten the beam search time?"
Hi, I'm trying to use ESPnet2 for interactive usage with multi-dimensional data (not speech, gesture).

Ideally, we’d like to use the real-time ASR demo for our usage, but that appears to be difficult. Therefore, we are attempting to use it for interactive systems by running run.sh --stage 11 as quickly as possible.

According to the log, it seems to take about 9 seconds to recognize a single samp

[2022-06-15 12:39] kan-bayashi commented on #4448
`'feat_gen'` is normalized one. And you performed normalization again (`normalize_before=True`).
You should use `feat_gen_denorm` -> `normalized_before=True` or `feat_gen` -> `normalize_before=False`.

[2022-06-15 12:50] sciai-ai commented on #4448
I tried what you suggested but yet the different exists. The sythesized quality is the same for both cases but the duration and the style of speech is different for the same text input. I think the mel spectograms produced are different in both cases.

[2022-06-15 12:54] kan-bayashi commented on #4448
It depends on the model.
Some text2mel models always use dropout, and some vocoders uses noise as the input.
If you want to fix it, please try `always_fix_seed` option.
https://github.com/espnet/espnet/blob/986dadbf85cc0af1e5c9ca8c71754724ef8e1c6f/espnet2/bin/tts_inference.py#L85

[2022-06-15 13:05] sciai-ai commented on #4448
Yes i had fixed the seed for both taco2 and mbmelgan yet see the difference

[2022-06-15 13:06] kan-bayashi commented on #4448
Please share the reproducible code.

[2022-06-15 13:22] sw005320 commented on #4452
How about using the python API?
https://espnet.github.io/espnet/notebook/espnet2_tutorial_2021_CMU_11751_18781.html?highlight=speech2text#Recognize-our-examples-of-pre-recorded-samples

[2022-06-15 13:23] sciai-ai commented on #4448
[code]

[code]

[2022-06-15 13:27] sciai-ai commented on #4448
How can i make it exactly the same then

[2022-06-15 13:28] kan-bayashi commented on #4448
Why do you want to separete?

[2022-06-15 13:34] kan-bayashi commented on #4448
I still could not understand your motivation why you want to check output consistency in separated case.

[2022-06-15 13:36] sciai-ai commented on #4448
As the model is in production, I only want to reduce the inference speed for my next model, but dont want to change the inference output style

[2022-06-15 13:43] supernaiter commented on #4452
Thank you for your quick response. Is this python API compatible with multi-dimensional data (not speech, gesture, 124 vectors)? Also, is it also possible to import a model, which is locally made and not in ModelZoo?

[2022-06-15 13:50] kan-bayashi commented on #4448
I'm not sure the consistency among the different versions.
And if you want to compare with onnx outputs, it may not guarantee the totally same as outputs in pytorch.

[2022-06-15 13:51] sciai-ai commented on #4448
yes that could be the reason as well. Thanks for your kind inputs

[2022-06-15 13:54] sw005320 commented on #4452
Yes. the format of the input comes from the model.
You can just feed the gesture vector.

Yes

[2022-06-15 15:12] Yerzhaisang commented on #4450
I can't allow multi-GPU training, because I have access to only one GPU. I have created a recipe from template egs2. My run.sh and config.yaml of ASR are located here: https://github.com/Yerzhaisang/Exp_espnet

[2022-06-15 16:48] sciai-ai commented on #4447
Which tts model has the best audio quality abs which one has the fastest inference speed.

[2022-06-15 19:11] Miamoto opened #4453 "ESPnet2 fine-tuning from Hugging Face"
Hello all!

I am fine-tuning a dataset on the below model from ESPnet, which is available on Hugging Face: espnet/simpleoier_librispeech_asr_train_asr_conformer7_hubert_ll60k_large_raw_en_bpe5000_sp.

1) In the first step I run ./run.sh --skip_data_prep true --skip_train true --download_model espnet/simpleoier_librispeech_asr_train_asr_conformer7_hubert_ll60k_large_raw_en_bpe5000_sp just to evalua

[2022-06-15 21:55] sw005320 commented on #4453
Can you make sure that the parameters are identical?
If not, please let us know which parameters are different.
Some parts might be unintentionally initialized.

[2022-06-16 02:51] supernaiter commented on #4452
Thank you. But I'm afraid I couldn't find the description about how to use my own model outside ESPnet model zoo on the python API. Could you indicate where it has it?

[2022-06-16 04:35] sciai-ai commented on #4448
@kan-bayashi How can I make the `Text2Speech` not to make the griffin-lim vocoder to save compute time as I use the vocoder directly on mel spectrogram features.

[2022-06-16 04:50] sciai-ai commented on #4448
Case1

@kan-bayashi I investigated this further, it appears the at the audio quality is very different between case 1 and 2 and cannot be explained by the difference in seed. I am attaching audio for your look

[Archive.zip](https://github.com/espnet/espnet/files/8915746/Archive.zip)

[2022-06-16 06:34] tarunsaib1997 commented on #4443
We have used the configuration that were put in this [conformer paper](https://arxiv.org/pdf/2010.13956.pdf). Also I have pasted the entire training and decoding configurations used in the first comment of this issue itself. I want to replicate the results that were produced in paper mentioned.

[2022-06-16 07:32] supernaiter commented on #4452
Hi, now I understood what to do. Thanks!

[2022-06-16 07:53] kan-bayashi commented on #4448
See this part
[code]

[2022-06-16 07:55] kan-bayashi commented on #4448
I think this is caused by the different seed on tacotron2.
You can confirm it by generating two audios with different seed.

[2022-06-16 10:39] Miamoto commented on #4453
I already checked, and the parameters are all equal. The only thing I need to remove that the original model does not have is the normalize.mean and normalize.std by setting feats_normalize to empty. This did not influence too much on the WER despite giving a higher WER with feats_normalize activated. The thing that was causing the problem was that I was copying the token_list from the config.yaml

[2022-06-16 11:27] sw005320 commented on #4443
I recommend you start from our config file.
We have tried the config in the conformer paper, but we did not get enough performance.

This is an espnet1 config.
https://github.com/espnet/espnet/blob/master/egs/wsj/asr1/RESULTS.md

[2022-06-16 11:28] sw005320 commented on #4453
OK, thanks for your report!

[2022-06-16 11:28] #4453 closed

[2022-06-17 07:31] 1chimaruGin commented on #3999
I face the same issue how can I solve it? @kamo-naoyuki

[code]

[2022-06-17 09:17] kamo-naoyuki commented on #3999
@1chimaruGin `sph2pipe` commands is failed, maybe.  This is not a bug, but your side problem. I can't help you.

[2022-06-17 09:22] kamo-naoyuki commented on #3999
For example, run the commands written in the scp file. There  are many solutions. Plase solve if by yourself.

[2022-06-18 03:44] #3980 closed

[2022-06-18 03:45] #4139 closed

[2022-06-18 04:59] seastar105 commented on #4439
![image](https://user-images.githubusercontent.com/30820469/174423447-a984c400-a1db-44c0-8131-7f04ddedd51a.png)

I could find text and mel-spectrogram attention plots have diagonality, thank you @imdanboy

[2022-06-18 04:59] #4439 closed

[2022-06-18 05:14] seastar105 opened #4458 "Is it possible to make mini-batch with speaker-equally sampled without reformatting data folder explicitly?"
I'm trying to make finetuning pipeline using espnet2-tts, now, and wanna do some experiment on finetuning.

From [Adapting TTS models For New Speakers using Transfer Learning](https://arxiv.org/abs/2110.05798), making mini-batch contain same sample number of original speaker and new speaker helps finetuning with single speaker model.

For example, when finetuning fintuning model trained on ljspeec

[2022-06-20 01:23] teinhonglo opened #4459 "The Bug in data preparation for How2 Summarization"
**To Reproduce**
Steps to reproduce the behavior:
1. move to a recipe directory, e.g., `cd egs2/how2_2000h/summ1`
2. `local/run_asr.sh --asr_tag asr_pretrain`

**Error logs**
[code]

Besides,
The link provided by [local/data.sh](https://github.com/espnet/espnet/blob/305e974e553ec0b36c74c2d8f52fc5fc06631e32/egs2/how2_2000h/sum1/local/data.sh#L20) is not available now.

Thanks in advnace.

[2022-06-20 03:18] #4448 closed

[2022-06-20 06:13] imiskolee commented on #4437
oh, amazing!  did any processing now, which branch for it or not started yet?

[2022-06-20 06:35] 1chimaruGin commented on #3999
@kamo-naoyuki

Yes, it solved.

[2022-06-20 08:48] wyunj opened #4460 "data loader"
Hi,
I have a question about the difference in data loading between ESPnet1 and ESPnet2. Espnet1 stores the processed data in a data.json file that is loaded directly during model training. Espnet2 seems to preprocess data in every epoch, including word segmentation, etc. What is the advantage of this over ESPnet1?
BTW, I wonder if subsequent epochs all use the data preprocessed in epoch1 instead o

[2022-06-20 09:20] kan-bayashi commented on #4458
I think it can be done by implementing sampler function.
https://github.com/espnet/espnet/tree/master/espnet2/samplers
And add it to build_batch_sampler's choice.
https://github.com/espnet/espnet/blob/305e974e553ec0b36c74c2d8f52fc5fc06631e32/espnet2/samplers/build_batch_sampler.py#L12-L69
https://github.com/espnet/espnet/blob/305e974e553ec0b36c74c2d8f52fc5fc06631e32/espnet2/samplers/build_batch_sa

[2022-06-20 10:58] sw005320 commented on #4460
espnet2 actually supports the processed data.
Please check https://github.com/espnet/espnet/blob/master/egs2/TEMPLATE/asr1/asr.sh#L507-L564

[2022-06-20 11:01] sw005320 commented on #4459
@roshansh-cmu, can you answer it for me?
Google drive downloading is tricky.
You may think of hosting it in the other storage (e.g., huggingface)

[2022-06-20 12:01] wyunj commented on #4460
Thanks for you reply! But I'm sorry I didn't make it clear. The preprocessing I'm talking about is the preprocessing for text during training, tokenization to characters, or sentencepieces.

[2022-06-20 12:16] sw005320 commented on #4460
Sorry.
I think you can still do that by providing a list and regarding the pre-processed token as a word.
https://github.com/espnet/espnet/blob/master/egs2/TEMPLATE/asr1/asr.sh#L668

[2022-06-20 16:42] Yerzhaisang opened #4461 "How can I proceed training with the last epoch?"
During the ASR training (11 stage) I got the following error:

Process SpawnProcess-1:
OSError: [Errno 28] No space left on device

How can I proceed training with the last epoch? Thank you

[2022-06-20 16:45] sw005320 commented on #4461
You do not seem to have enough disk space.
Please increase it by deleting files or adding more disks.

[2022-06-20 16:59] sw005320 commented on #4461
Yes, you can use the resume function.

[2022-06-20 18:09] Yerzhaisang commented on #4461
Cool, I was just afraid of losing information if I start from that stage. Thank you so much

[2022-06-20 18:09] #4461 closed

[2022-06-21 06:25] jonghwanhyeon opened #4462 "Silence is added between words"
Hello!

I am currently training VITS model using own dataset up to 420 epochs. While checking the synthesized results, silence is found between words.

For example,

*(Korean sentence: 앞이 보이지 않던 까맣게 번진 <silence added here>어둠도 더는 두렵지 않은 걸)*
![Spectogram](https://user-images.githubusercontent.com/1588996/174729478-0374ff7c-1a82-4687-9066-eaf716830b5c.png)
![Attention plot](https://user-images.github

[2022-06-21 08:00] ftshijt commented on #4437
Thanks for your interest in our plan @imiskolee We do not have any open codebases published yet, most codebases are still under private development. Please stay tuned~

[2022-06-21 12:09] roshansh-cmu commented on #4459
Thank you for opening this issue.

This issue might take se time to resolve due to server issues. I am investigating alternative storage and will respond here when the issue is resolved.

[2022-06-21 13:02] #4403 closed

[2022-06-21 14:25] Emrys365 commented on #4450
I mean where is your configuration file copied from? If the original config file is used for multi-GPU training, you will need to modify the hyperparameters to fit the single GPU environment.

Anyway, can you try reducing the value of `batch_bins`?

[2022-06-21 14:38] Yerzhaisang commented on #4450
Thank you so much. I am using 2 gpu's, and it's working.

[2022-06-21 14:38] #4450 closed

[2022-06-22 10:28] fabien-benoit-1984 commented on #2737
@vinson-zhang nah, perhaps i've given up back then.
[image](https://user-images.githubusercontent.com/74528656/175007669-8ceedbbc-c930-4889-86a8-ce58794645a6.png)

[2022-06-22 10:30] Yerzhaisang commented on #4444
Thank you. The issue was solved by re-installation

[2022-06-22 10:30] #4444 closed

[2022-06-23 05:34] tarun73 commented on #4147
@miziworld where you able to solve your issue.
i am facing a similar issue with conformer

- embedding  layers require weight observer with dtype=torch.quint8
- convolution layers require weight observer with dtype=torch.qint8

unable to find a way to send different dtypes for different layers.

[2022-06-23 07:14] vinson-zhang commented on #2737
@fabien-benoit-1984
Recompiling Kaldi will solve this problem

[2022-06-23 15:39] rishabh135 commented on #2127
Fount this issue and moreover since it seems that sclite installation requires Python2.7, would be great if there can be an update on the readme to resolve this error!

[2022-06-24 00:46] cycentum opened #4465 "ModuleNotFoundError: No module named 'espnet2.diar.layers' in Colab SE demo"
When running the Colab notebook of SE demo, I encountered the error

at “Enhance your own pre-recordings” cell.

I found the error is caused by espnet/espnet2/diar and espnet/espnet2/layer not properly installed.

In my local environment, I could fix the error by adding __init__.py in these directories.

Can I open a pull request to fix this bug?

**To Reproduce**
Run cells sequentially from the t

[2022-06-24 06:07] himanshucodz55 opened #4466 "RuntimeError: NCCL error in: /opt/conda/conda-bld/pytorch_1639180549130/work/torch/csrc/distributed/c10d/ProcessGroupNCCL.cpp:957, unhandled system error, NCCL version 21.0.3"
**Describe the bug**
I'm trying to train model in distributed mode using espnet2 librispeech recipe. i am using two oracle instance for distributed training each have single gpu(16gb nvidia)
**Basic environments:**
 - OS information: ubuntu 18.04
 - python version: 3.9
 - espnet version: espnet2
 - pytorch version: 1.10

Collecting environment information...
PyTorch version: 1.10

CUDA used to bui

[2022-06-24 07:50] tejassp2002 opened #4467 "Regarding Japanese ASR"
Hi @sw005320!
Thanks for this amazing library!

Basically, I'm dealing with Japanese ASR for longer speech. The existing pre-trained Japanese Model in model_zoo only works for audio<5sec.
1. I thought of checking out the streaming ASR for that instance, but unfortunately I couldn't find any pre-trained model of the [Streaming Transformer](https://arxiv.org/pdf/2006.14941.pdf) ASR for Japanese (tho

[2022-06-24 08:13] kamo-naoyuki commented on #4466
Your TCP connection is failed. Bacaislly, I recommend you to check the NCCL troubleshooting: https://docs.nvidia.com/deeplearning/nccl/user-guide/docs/troubleshooting.html

`10.0.0.196` is different from `192.9.138.186`, so I guess NCCL is using an incorrect network interface: ens3.

If so, you need to modify `NCCL_SOCKET_IFNAME` because the network interface is automatically selected by NCCL.

ht

[2022-06-24 14:51] chiayuli opened #4468 "Key mismatch while training LM on huge data which has been split into small sets"
Hello,
I was training transformer LM on huge data which has been split into 4 subsets (--num_splits_lm 4), but got "KeyError" during the training.
It turns out that some keys from lm_train.txt and text_shape.bpe in the same split are mismatched.
For example, some keys in lm_train.txt/split.0 are not found in text_shape.bpe/split.0

I looked into espnet/espnet2/bin/split_scps.py and found the suspi

[2022-06-24 21:25] danperazzo opened #4469 "Symbolic link not working for AmericasNLP baseline"
**Describe the bug**
I have been trying to test the baseline for the [AmericasNLP2022 competition,](https://github.com/espnet/espnet/tree/master/egs2/americasnlp22/asr1) and have been following the steps at [hugging_face](https://huggingface.co/espnet/americasnlp22-asr-gn).

However, the symbolic link in `utils` seens to been broken, and this is causing it to not work in the run script.
**Basic en

[2022-06-24 22:02] sw005320 commented on #4469
Thanks for your report.
We haven’t tested it for this huggingface description way and it may not be working.
@akreal, it is not your charge, but could I ask you to take a look at it? `pip install` may not be enough for this usage.

[2022-06-24 22:10] sw005320 commented on #4467
Thanks for your report!

@eml914, could I ask you whether you can upload some of your Japanese ASR models?
If not, we’ll prepare them.

The logits output is not supported in the Speech2Text interface.
You need to make a new Speech2Text interface for this purpose.

We also usually recommend some VAD tools (e.g., Kaldi or webrtc vad) to segment the audio in advance.

[2022-06-25 04:02] Emrys365 commented on #4465
Yes, I can reproduce this bug. @cycentum It would be great if you could make a PR to fix it!

[2022-06-25 20:39] akreal commented on #4469
Yes, `pip install` is not enough here, because it does not download Kaldi.
This huggingspace description comes from here:
https://github.com/espnet/espnet/blob/a2abaf11c81e58653263d6cc8f957c0dfd9677e7/egs2/TEMPLATE/asr1/scripts/utils/TEMPLATE_HF_Readme.md?plain=1#L18-L27
It assumes that ESPnet dependencies are already installed. Maybe the template could be updated to reflect this assumption, but a

[2022-06-25 20:52] akreal commented on #4469
@danperazzo
Additionally the last command needs some more arguments in this recipe:
[code]
(you can set `inference_nj` to number of CPU threads or desired number of parallel jobs)
I'll update it in the description when we'll decide how to handle the kaldi problem.

[2022-06-25 22:02] danperazzo commented on #4469
Hello @akreal and @sw005320, thank you for your response!

I managed to perform the steps detailed in the [instalation docs](https://espnet.github.io/espnet/installation.html) and, later, I performed the command you wrote (however, I took the dev_test argument since it was causing an error)

However, in this case I got another error, I anex the error log in this comment. (thanks for the help!)

[e

[2022-06-25 22:55] akreal commented on #4469
Two more tools (certain versions) also need to be installed:
[code]

And here is corrected decoding command:
[code]

[2022-06-26 11:16] danperazzo commented on #4469
Thanks for the help! I managed to run the example, however, the program froze my computer (I think I do not have enough RAM memory). Is there any parameter that I can diminish so that it can fit in my computer?

[2022-06-26 13:46] akreal commented on #4469
You can try to decrease `inference_nj` to 1 in order to have only one decoding job. If it's not enough, you could try quantization (add `quantize_asr_model: True` in `conf/decode_asr.yaml`), but I have not tried it and don't know if it works with this model or helps to decrease memory usage at all.

[2022-06-26 21:56] danperazzo commented on #4469
Thanks! Quantize the model actually resulted in a error but setting the `inference_nj` to 1 solved the problem!

[2022-06-27 01:50] sw005320 commented on #4469
Thanks a lot!
I think we collected enough information to fix this issue.
@akreal, could I ask you to make a PR to fix https://github.com/espnet/espnet/blob/master/egs2/TEMPLATE/asr1/scripts/utils/TEMPLATE_HF_Readme.md#demo-how-to-use-in-espnet2 ?

[2022-06-27 06:53] #4465 closed

[2022-06-27 09:40] himanshucodz55 commented on #4466
Thanks @kamo-naoyuki for your quick response. I have not installed NCCL before installation of ESPnet. I just reinstall ESPnet with torch NCCL. Error is solved.

[2022-06-27 16:59] #4291 closed

[2022-06-27 17:08] Taruguchi opened #4473 "Is it possible to get the erased noise wav file?"
I am trying speech enhancement using `vctk_noisy` recipe.
I use transformer, and the noises are disappeared and clear voices are inferenced.

I want to get not only clear voices but also the disappeared noises as wav files.
Is it possible?

[2022-06-28 05:21] Emrys365 commented on #4473
By default, the current SE training process will only use the speech signal as the target, so you cannot obtain the noise signal from the noisy input directly.
However, if you retrain the model by including another noise estimation loss, i.e., predicting both speech and noise signals at the same time, you can then easily extract the noise signal from the noisy input.

[2022-06-28 07:20] Taruguchi commented on #4473
Thank you for your answer.
I dont know what script to add to `espnet_model.py`, so please tell me the script I need to add.
Or, should I wait for the restoring function?

I understood that after Adding the script, each of the signal and noise will be learned.
And the time of inference, I can get two sounds, signal and noise.
Thats right?

[2022-06-28 08:45] kamo-naoyuki commented on #4468
Thank you for using the feature for huge data.

I think this is a bug. Thanks.

I think the following line is better to run the sort command

https://github.com/espnet/espnet/blob/57c05436bf72366333671fc7e4267b5216208c8a/egs2/TEMPLATE/asr1/asr.sh#L633

`text_shape` is always sorted if the source text is sorted.

[2022-06-28 09:31] yt605155624 opened #4475 "cython version monotonic_align is better than 'EXPERIMETAL' numba version"
As an experimental result, cython version monotonic_align is better than 'EXPERIMETAL' numba version

Do anyone has the same result?

cython version monotonic_align will get bad duration even though I train 320k x4 GPUs, but after I install cpython version monotonic_align and train more small iters, the result become better !

I test on my paddlepaddle version of VITS, do any one has the same resu

[2022-06-28 09:53] kan-bayashi commented on #4475
numba version is a kind of fallback method when cpython version is not available.
Therefore, I recommend using cpython version.

[2022-06-28 14:28] Emrys365 commented on #4473
Yes, the output during training and inference should be consistent in general SE models, so you can obtain both speech and noise signals as long as the model is configured to do so.

[2022-06-28 23:44] #4469 closed

[2022-06-29 07:34] puvvadasaikiran commented on #3741
am facing CUDA Error with ljspeech tts1 example execution on A100
is cuda 11 supported in tts?

[2022-06-29 07:45] kamo-naoyuki commented on #3741
ESPnet uses CUDA just depending on PyTorch, basically. So, the CUDA supported by ESPnet is always as same as PyTorch which you use.

Yes, of course, it's supported. Please update PyTorch.

[2022-06-29 07:45] #3741 closed

[2022-06-29 12:53] seastar105 commented on #4432
@JiaYK could you success to train multi speaker model?

[2022-06-30 03:28] JiaYK commented on #4432
To be honest, the training was not successful. I changed the parameter of ```lambda_align``` several times, but in the end, the alignment effect was very poor. There was no semantic information. I used aishell3 for testing. Maybe the data is not very good, which is also one reason.

[2022-06-30 03:47] li563042811 opened #4481 "Error while uncompress model.v1.tar.gz"
Hi,
    I'm using the egs/lrs/avsr1. But when I run run.sh and it exit at step 1 like this

stage 1: Data preparation
Download pretrained video feature extractor and check directory configuration
--2022-06-30 11:38:31--  https://docs.google.com/uc?export=download&confirm=t&id=1ITgdZoa8vQ7lDwi1jLziYGXOyUtgE2ow
Connecting to 172.18.18.131:80... connected.
Proxy request sent, awaiting response... 303

[2022-06-30 06:47] #4475 closed

[2022-06-30 07:33] chorongi opened #4482 "Black formatting issue for test CLI ESPNET"
**Describe the bug**
PR error for git CLI test for Centos7 and Debian9 when already used black to reformat all my files.

**Error logs**
Error Message is the following:
![image](https://user-images.githubusercontent.com/35532722/176608263-e5f9090e-59c4-4d07-a7cc-3665fcdd1f56.png)

**Basic environments:**
python==3.7.13
black==22.6.0

**Comments**
I would like to know exactly which black version is

[2022-06-30 08:26] kamo-naoyuki commented on #4482
We don't fix the version of black in CI tests, the latest version of black is automatically used.

The latest version is 22.6, and it shouldn't change the code. I think you had some mistakes.

[2022-06-30 08:49] kamo-naoyuki commented on #4482
Please open the PR. I can investigate the problem if needed.

[2022-06-30 10:52] nellorebhanuteja opened #4483 "Error in Joint TTS Training"
Hi

I am trying to train LJSpeech Joint TTS using the recipe provided
However, I am facing this error in the final batch of the final epoch.

[code]

Please let me know what is wrong

[2022-06-30 10:59] nellorebhanuteja opened #4484 "Decoding error for Joint TTS"
Hi

I am trying to run Stage 7 of the TTS recipe.
I trained my model using Joint Conformer FastSpeech2 HifiFAN config
I am getting following error while decoding
[code]

[2022-06-30 13:36] kan-bayashi commented on #4484
Please pass the option `--inference_model latest.pth` for `run.sh`

[2022-06-30 14:47] tejassp2002 commented on #4467
Thanks @sw005320 for your quick response!

I would really appreciate if @eml914 could upload some models for Japanese streaming ASR. Currently, I have no model from ESPnet for Japanese ASR which works for longer audios for benchmarking.

Also, thanks for the VAD suggestion.

[2022-06-30 20:47] ftshijt commented on #2673
Just a note for potential issues for future users reaching the issue, I recently also met the issue because I did not have the same keys presented in the stats. So please also make sure that you have the same keys for reduction in the function.

[2022-07-01 01:59] seastar105 commented on #4432
It's sad to hear failure. Maybe small(relatively) batch_bins affect training. I had better result with bigger batch_bins in my experiment(500000 vs 2000000) on finetuning setting. I'm gonna train on multi speaker dataset. I'll report if i get nice results

[2022-07-01 07:31] chiayuli commented on #4468
Thanks for the advice. It works for me.
Shall I close this issue ? You're gonna push the fix for the bug in espnet/espnet2/bin/split_scps.py, right ?

[2022-07-01 08:11] kamo-naoyuki commented on #4468
Thanks. Please keep it open until I fix this bug, then I'll close.

[2022-07-01 08:18] #4482 closed

[2022-07-01 16:07] JiaYK commented on #4432
The batch bins I use is 1200000 by one 3090. I look forward to your good news

[2022-07-02 03:54] teinhonglo commented on #4270
Hi Prof. Watanabe,

Thanks for the suggestion.
Based on VAD of py-webrtcvad (aggressive 0~3), I added the constraint of max seconds (15 seconds) to each audio segment.
After I applied the mechanism, the performance of the model improved (49% of WER -> 46% of WER).
[code]

I also noticed the issues, such as continuous background noise and a very low volume of speech, in our corpus.
for example:

Do

[2022-07-02 03:59] v-yunbin opened #4485 "decode speed is very slow on gpu"
i use asr_inference.py and pretrained aishell model to decode on gpu，a 9.3s audio cost 6minutes to decode on gpu.

[2022-07-02 07:07] AMITKESARI2000 opened #4486 "Segmentation Fault after running make command for espnet2 installation [Error 139]"
**Describe the issue**
Following the instructions in https://espnet.github.io/espnet/installation.html but getting issue when running the final make command `make TH_VERSION=1.10.1 CUDA_VERSION=11.3`.

### ERROR
[code]
---
Sequence of steps followed:
[code]
![image](https://user-images.githubusercontent.com/66141447/176990373-a59a216e-b831-4af6-9876-e28d5d527459.png)

**`check_install.py` status :

[2022-07-02 16:18] Emrys365 commented on #4473
@Taruguchi You also need to modify the model configuration file to set `predict_noise` to True and add a loss for the noise signal. For example:

[code]

[2022-07-03 11:39] kamo-naoyuki commented on #4486
Your python environment seems to have some problems.

Why didn't you choose the installation with anaconda?

[2022-07-04 02:32] v-yunbin commented on #4485
update，last time， when I test the speed，other training is going, the real speed is a 9.3s audio cost 16.9s to decode on gpu.

[2022-07-04 02:45] sw005320 commented on #4485
Can you report the cpu speed?
Also, can you show us the inference config file?

[2022-07-04 03:54] v-yunbin commented on #4485
@sw005320
1. teset script
[code]
2. config file（from wenet pretrained model）：
[code]
4. test the speed cpu vs gpu on  a 9.3s audio:
[code]

[2022-07-04 04:47] Taruguchi commented on #4473
@Emrys365 I modified yaml file, and the error was shown.
`ValueError: --criterions must be one of ('ci_sdr', 'coh', 'sdr', 'si_snr', 'snr', 'l1', 'dpcl', 'l1_fd', 'l1_td', 'mse', 'mse_fd', 'mse_td', None): --criterions si_snr_noise`

I will show my model configuration file below, please check it.
Can I use transfomer for such learning?

optim: adam
init: xavier_uniform
max_epoch: 10
batch_type: fo

[2022-07-04 05:44] rrr613 opened #4487 "Fastspeech2 attention default dimension"
I am reading the code.
I have a question but I couldn't find the reason.
Why the dimension of attention (or the feature) is 384?

I had read some papers that the dimension is set to 256.
Are there any specific reason for set to 384?

https://github.com/espnet/espnet/blob/d837c97c88f13ffe655a30bcff93d814f212b225/espnet2/tts/fastspeech2/fastspeech2.py#L53

Thanks

[2022-07-04 06:55] sw005320 commented on #4485
From the cpu/gpu speed comparisons, the result looks reasonable.
I think some inference config (e.g., beam size) was set too large (to get some reasonable performance?)

[2022-07-04 06:57] sw005320 commented on #4270
Thanks for your report. The result looks reasonable to me.
The background noise and volume issues should be fixed by re-training a model with matched conditions.

[2022-07-04 07:00] sw005320 commented on #4481
Thanks for the report.
@wentaoxandry, could you check this issue?

[2022-07-04 07:03] wentaoxandry commented on #4481
I will check this issue tomorrow

[2022-07-04 07:35] v-yunbin commented on #4485
beam_size  of inference config i used is 20,maybe it was too large. do  comparative experiment was done on beam_size parameter:
[code]

[2022-07-04 07:37] Taruguchi commented on #4473
@Emrys365

I changed the above settings.

[code]

As a result, learning was completed successfully.
There is `si_snr_loss_noise.png` in `images` folder.
It seems that there are only voice files in the `enhanced_test` folder.

I'm guessing that noise wav files can be obtained by changing the settings and executing inference.

[2022-07-04 08:05] AMITKESARI2000 commented on #4486
@kamo-naoyuki Can you please point me towards how to do that?

[2022-07-04 09:52] kamo-naoyuki commented on #4486
https://espnet.github.io/espnet/installation.html#step-2-installation-espnet

3. Setup Python environment -> Option A) Setup Anaconda environment

Basically, we recommend anaconda to build a clean environment.

[2022-07-04 10:43] tarunsaib1997 opened #4488 "Training issue while trying to train wav2vec as learnable frontend along with conformer on 8 GPU's"
[code]

This is the config for this:

[code]

**Can anyone help this out?**

[2022-07-04 12:50] kan-bayashi commented on #4487
I forgot the reason but maybe it is based on preliminary experiments.
So, there is no strong reason to choose this parameters.

[2022-07-04 12:53] kan-bayashi commented on #4488
Why don't you adding `unused_parameters: true` in your config? Like:
https://github.com/espnet/espnet/blob/d837c97c88f13ffe655a30bcff93d814f212b225/egs2/csmsc/tts1/conf/tuning/train_vits.yaml#L177

[2022-07-04 12:53] #4462 closed

[2022-07-04 12:54] Emrys365 commented on #4473
Oh sorry, I made a mistake when writing the configuration. It should be:
[code]

[2022-07-04 12:55] Emrys365 commented on #4473
Yes, this one is also okay, as the current code will automatically add a suffix to the loss name if `is_noise_loss` is True.

[2022-07-04 12:55] kan-bayashi commented on #4485
The TTS decoding is totally different from ASR one.
TTS decoding is much simpler than ASR.

[2022-07-04 19:18] AMITKESARI2000 commented on #4486
It's running now, thanks :)

[2022-07-05 00:20] #4486 closed

[2022-07-05 07:45] wentaoxandry commented on #4481
@li563042811 I have checked the compressed file. It seems that the compressed file is corrupted. I'm trying to reconstruct these files and upload them again. It costs some times. I will tell you when I finish.

[2022-07-06 06:25] Taruguchi commented on #4473
@Emrys365
Thank you.
Will the noise audio file output automatically?
Or, do I need to change the settings when I inference?

[2022-07-06 10:59] li563042811 commented on #4481
@wentaoxandry  I tried again according to your commitment and it worked. Thanks a lot.

[2022-07-06 11:05] #4481 closed

[2022-07-06 11:41] Miamoto opened #4491 "Inference with Ngram"
Hi!

I have trained the recipe in egs2/librispeech_100. This model uses BPE for the tokens. Now I was trying to perform decoding with an LM. I was trying to use the 4gram librispeech model available in https://www.openslr.org/11/. I converted to a binary format using kenlm and after decoding with a beam size of 60 and several ngram weights the model seems to not improve. With weight 0.1 in the ngr

[2022-07-06 15:10] Emrys365 commented on #4473
No, you will have to modify the code in [espnet2/bin/enh_inference.py](https://github.com/espnet/espnet/blob/master/espnet2/bin/enh_inference.py) to store the noise signals manually.

[code]

[2022-07-07 01:58] wendywong343 opened #4493 "Use pretrained model not trained on ESPnet"
Firstly, thank you so much for creating such an all-encompassing toolkit! I have some questions with regards to using pretrained models with ESPnet:

[2022-07-07 21:24] sw005320 commented on #4491
How to use the ngram language model?
I think it would be difficult to make it work with shallow fusion since ngram is based on a word while the ASR model is based on the BPE token.
Or are you using k2?
If so, please share the details (e.g, config files).

[2022-07-07 21:32] sw005320 commented on #4493
@akreal has a lot of experience (and some implementations) with the use of pre-trained LM models.

We also support several pre-trained SSL models as a frontend through s3prl (https://github.com/s3prl/s3prl e.g., https://github.com/espnet/espnet/blob/master/egs2/librispeech/asr1/conf/tuning/train_asr_conformer7_wavlm_large.yaml#L18-L23)

If you want to use the other models, you may need to implemen

[2022-07-08 02:23] gyc666 opened #4497 "Fine-tuning a pre-trained ASR model on Accent English Corpus"
Hello!

I'm trying to fine-tune a pre-trained GigaSpeech Espnet2 ASR model on a new dataset,

1. Do I need change the BPE model and Token list?
2. Is  better to freeze part of the network (e.g., the encoder) or to fine-tune the entire network?

Thank you!

[2022-07-08 08:27] xiabingquan opened #4498 "char_tokenizer use fixed space_symbol "<space>" instead of `self.space_symbol`"
**Describe the bug**
A bug about the [char_tokenizer](https://github.com/espnet/espnet/blob/master/espnet2/text/char_tokenizer.py).
In the class `CharTokenizer`, the space_symbol is defined by `self.space_symbol`. However, in the method `text2tokens`t, it says

[code]
It means that the space symbol is fixed to be `<space>` instead of `self.space_symbol`

It should be

[code]

In this way, the sett

[2022-07-08 08:35] kamo-naoyuki commented on #4498
Thanks. I think you are completely correct. Can you create a PR to fix it?

[2022-07-08 08:37] xiabingquan commented on #4498
You're welcome. I'll create a PR now : )

| |
夏炳权
|
|
***@***.***
|
On 7/8/2022 16:36，Naoyuki ***@***.***> wrote：

Thanks. I think you are completely correct. Can you create a PR to fix it?

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you authored the thread.Message ID: ***@***.***>

[2022-07-08 08:49] xiabingquan commented on #4498
Fixed in this [PR](https://github.com/espnet/espnet/pull/4499)

[2022-07-08 13:01] #4498 closed

[2022-07-08 18:45] Miamoto commented on #4491
Hmm, I am using BPE (This is the model I am doing experiments on: https://huggingface.co/jkang/espnet2_librispeech_100_conformer). So what do you recommend to do so that someone can replicate results easily with an available language model? If I need it to train myself, do you recommend I use the available text from training data or more? Or can I try to use available LMs from ESPnet?

Thanks a lo

[2022-07-08 20:17] akreal commented on #4493
Hi @wendywong343!

You can see an example of usage of tine-tuned `facebook/mbart-large-50-many-to-many-mmt` in this PR: https://github.com/espnet/espnet/pull/4099

It's still very experimental and there might be issues, but it works for me and you are welcome to try it and to let me know if something does not work for you.

[2022-07-09 19:06] picheny-nyu opened #4500 "Use of Multi-speaker TTS system based on x-vector?"
I would like to use one of the pretrained models that use x-vectors to synthesize speech for a speaker not in the training set. From what I understand from other discussions, x-vectors work better than GST. I would like to try such a system, but could really benefit from a pointer for how to extract the x-vectors at inference for the new speaker. All the examples seem to suggest I have to create a

[2022-07-10 13:13] kan-bayashi commented on #4500
The pretrained models used kaldi's x-vector.
You can refer this part to extract x-vector.
https://github.com/espnet/espnet/blob/ae99a1dcd3af8628f3cf8518e296cbef24f6e94f/utils/synth_wav.sh#L288-L314

However, this is based on kaldi, it is not so useful when you want to run in python API.
Now we support speech-brain's x-vector, so if you can train multi-spk model with the x-vector by yourself, it wi

[2022-07-10 13:14] sw005320 commented on #4491
OK.
Can you tell me the exact command to perform decoding with your LM shallow fusion?

[2022-07-10 13:15] sw005320 commented on #4491
There are several ways to incorporate an n-gram LM and I want to identify what is your current issue.

[2022-07-10 13:21] sw005320 commented on #4497
Please check
https://github.com/espnet/espnet/blob/master/egs2/mini_an4/asr1/transfer_learning.md
https://github.com/espnet/notebook/blob/master/espnet2_asr_transfer_learning_demo.ipynb
You can use the original BPE model or new models.

My experience is that we may not need to freeze a part of the network if we want to get the primary effect of fine-tuning. However, if you want to get marginal imp

[2022-07-11 04:42] linhthuy98 opened #4502 "SXSXDX"
**Describe the bug**
A clear and concise description of what the bug is.

**Basic environments:**
 - OS information: [e.g., Linux 4.9.0-11-amd64 #1 SMP Debian 4.9.189-3+deb9u2 (2019-11-11) x86_64]
 - python version: [e.g. 3.7.3 (default, Mar 27 2019, 22:11:17) [GCC 7.3.0]]
 - espnet version: [e.g. espnet 0.8.0]
 - Git hash [e.g. b88e89fc7246fed4c2842b55baba884fe1b4ecc2]
   - Commit date [e.g. Tue

[2022-07-11 06:51] b-flo commented on #4502
I'm closing this issue, the title makes no sense and only the template was posted.

If you have an issue with ESPnet, please update the post with the correct information and re-open it.

[2022-07-11 06:51] #4502 closed

[2022-07-11 08:55] aanugraha opened #4503 "Unrecognized arguments during LM training of egs2/chime4/enh_asr1"
**Describe the bug**
The provided recipe for joint speech enhancement and recognition based on the CHiME4 dataset (`egs2/chime4/enh_asr1`) uses a config file for LM training (`conf/train_lm_transformer.yaml`) that includes unrecognized arguments (including, `encoder` and `decoder`).

**Basic environments:**
- OS information: `Linux 5.13.0-52-generic #59~20.04.1-Ubuntu SMP Thu Jun 16 21:21:28 UTC 2

[2022-07-11 09:15] sw005320 commented on #4503
Thanks for the report.
@simpleoier, could you check it?

[2022-07-11 09:28] Yerzhaisang opened #4504 "Code-switching recipe"
During the training on code-switching data which parameters will be different from ones with monolingual data? Should `lang` parameter be initialized with two languages? For example, `lang=fr, eng`. Thank you for your response.

[2022-07-11 10:17] sw005320 commented on #4504
In many cases, the `lang` parameter is simply used as a model attribute. It is not used as a model parameter.

Some recipes use the language ID as a pre-fix to incorporate its information into a model (e.g., "I WANT TO GO HOME" --> "[ENG] I WANT TO GO HOME").
This is done at the data preparation stage.
In this case, making the above extension would let a model notify the monolingual and code-switc

[2022-07-11 13:28] Miamoto commented on #4491
And this is my config file for decoding:

beam_size: 60
ctc_weight: 0.3
lm_weight: 0
ngram_weight: 0.1
ngram_file: /exp/ngram/4gram.bin
maxlenratio: 0.0
minlenratio: 0.0
penalty: 0.0

[2022-07-11 16:19] deeplearner01 opened #4505 "Errors when doing fine-tuning with wav2vec2 model in Espnet"
Hi,

I use Espnet to read wav2vec2 pre-trained model which is downloaded from https://dl.fbaipublicfiles.com/fairseq/wav2vec/wav2vec_small.pt
For reading the wav2vec2 pre-trained model, I used the scripts in espnet-master/egs2/librispeech/asr1/run.sh and espnet-master/egs2/librispeech/asr1/asr.sh

However, when running the fine-tuning I got the follwing error:

File "../lib/python3.8/site-packages

[2022-07-11 17:38] picheny-nyu commented on #4500
Thanks. Could you clarify the following?

Some of the TTS pretrained multi speaker models in the model zoo use xvectors.

1. Do they also require kaldi to run? If so, is the Kaldi model downloaded with the TTS model?
2. If they use the speechbrain xvectors, is that model downloaded with the TTS model?
3. There seem to be some speechbrain xvector models available through huggingface. I assume to us

[2022-07-11 23:57] kan-bayashi commented on #4500
Right.

No. You need to do it manually.
https://github.com/espnet/espnet/blob/ae99a1dcd3af8628f3cf8518e296cbef24f6e94f/utils/synth_wav.sh#L305-L311

No. You need to do it manually.

Right. You need to train by yourself.

[2022-07-11 23:58] #4487 closed

[2022-07-11 23:58] #4483 closed

[2022-07-12 01:28] simpleoier commented on #4505
Hi @deeplearner01, I just want to confirm. Did you make any modification to ESPnet code? Also, can you paste the config you used?

[2022-07-12 03:58] xzwworkplace opened #4507 "Installation error with matplotlib on ubantu 20.04 with python3.9"
**Describe the issue**
Can't install matplotlib

**Environments from `torch.utils.collect_env`:**
[code]

**Error logs**
      BUILDING MATPLOTLIB
        matplotlib: yes [3.1.0]
            python: yes [3.9.12 (main, Jun  1 2022, 11:38:51)  [GCC 7.5.0]]
          platform: yes [linux]

      OPTIONAL SUBPACKAGES
       sample_data: yes [installing]
             tests: no  [skipping due to configu

[2022-07-12 05:19] xiabingquan opened #4508 "Training Default Transformer LM fails when using customized corpus"
### Problem Description

Recently I've been training a **char-level** language model for my own experiment. It's highly customized, so I changed the codes a little bit and only train the language model, but unfortunately that the training fails for some reasons. There're three problems I encountered:
1. About the loss. The cross entropy Loss declines super quickly, then plataeus, and then becomes

[2022-07-12 06:26] seastar105 commented on #4432
@yurtmete I've not started training. since I'm busy recently.. I'm gonna try KAIST AUDIOBOOK DATASET which has 11 speakers(6 male, 5 female maybe?). It's korean dataset

[2022-07-12 08:51] Taruguchi commented on #4473
@Emrys365
I changed code as you told, and I could get voice wav and noise wav! Thank you.

[code]
I think, this code should be changed as below. Is it right?
[code]

I appriciate you and I hope this function will be added main repository.

[2022-07-12 09:39] sw005320 commented on #4491
Thanks a lot.
I recommend you make an ngram language model that is the same vocabulary as the ASR model.
You can process the librispeech text with the ASR BPE model and make an ngram LM by using kenlm or whatever.

@qmpzzpmq, do you think it is expected behavior?
It seems that the current ngram code can accept a ngram language model that has a different vocabulary from ASR.

[2022-07-12 14:00] Emrys365 commented on #4473
Oh yes, you are right.

[2022-07-12 14:41] xiabingquan commented on #4508
I didn't change anything except for the `batch_bins`. Okay, I'll shut down the `accum_grad` first and see how things work. Thanks for your reply.

[2022-07-12 14:43] Yerzhaisang opened #4511 "----"

[2022-07-12 17:11] xiabingquan commented on #4508
I turned off the `accum_grad` and changed learning rate from `1e-3` to `1e-4`, but it still doesn't seem to be working. Here's the loss from tensorboard
![image](https://user-images.githubusercontent.com/53991699/178551965-2e2b9a54-52ff-495e-aedc-54f742759bb7.png)
The cross entropy loss drops from 3.64 to 2.3 in the first 1k iterations. It's just too fast. I'm not sure whether the loss will be NaN

[2022-07-12 17:17] sw005320 commented on #4508
`accum_grad` is to increase the batch size practically to make your trial similar to the large GPU memory trial. You said that your batch bins are smaller than that in the config file. Then, you have to increase `accum_grad`.

[2022-07-12 17:19] xiabingquan commented on #4508
ok. Trying it now.

[2022-07-12 17:31] xiabingquan commented on #4508
I got another question. Will the learning rate scales with the number of devices(which is a quite common operation)? For example, the learning rate in the configuration file is 1e-4, and we have 8 devices. Is the final learning rate still 1e-4 or 8e-4? I guess it's still 1e-4 becuase I didn't find any part of the codes scales learning rates.

[2022-07-12 20:18] picheny-nyu commented on #4500
The multi speaker TTS model (trained on libritts) in synth_wav.sh above is very slow for waveform generation with the default wavenet model. Do you have a pretrained multispeaker model that is based on something faster, say, parallel wavegan?

[2022-07-12 20:45] brianyan918 commented on #4493
Hi @wendywong343 -

The init you're looking for is:
[code]

You can also optionally provide the arg below, which will init the parts of modules that match while ignoring the parts that don't (e.g. if you try to init an 18 layer encoder with a 12 layer parameter, it will just init the first 12 layers).
`ignore_init_mismatch: true`

I actually do not recommend using this option. I prefer specifying

[2022-07-12 23:16] #4511 closed

[2022-07-13 03:01] karthik19967829 commented on #2751
@RuslanSel I am facing issues with installation on AWS instance , could you tell me what AWS AMI and instance you uses to install ?

[2022-07-13 05:52] aanugraha commented on #4503
@sw005320, @simpleoier, thanks for the prompt responses!

[2022-07-13 07:46] b-flo commented on #2751
@karthik19967829 What error are you encountering? The post is about `warp-rnnt` we removed one year ago

[2022-07-13 08:33] karthik19967829 commented on #2751
oh okay my bad ,I was facing some issue warp-transducer. Default installation script fails when it cannot find the CUDA path . But by following the instruction warp-transducer to cmake with cuda path param works .
Anyways I will try to add some error message or doc there to help others .
Thanks

[2022-07-13 08:47] b-flo commented on #2751
Hum, could you open a new issue please? Depending on the error, we may directly update `warp-transducer` or change install scripts.

[2022-07-13 11:03] karthik19967829 opened #4512 "warp transducer installation error"
**Describe the issue**
Getting the following while trying to use install_wrap-rrnt.sh

gcc -pthread -B /home/ubuntu/asr_research/espnet/tools/venv/envs/whale/compiler_compat -Wno-unused-result -Wsign-compare -DNDEBUG -fwrapv -O2 -Wall -fPIC -O2 -isystem /home/ubuntu/asr_research/espnet/tools/venv/envs/whale/include -fPIC -O2 -isystem /home/ubuntu/asr_research/espnet/tools/venv/envs/whale/include -

[2022-07-13 19:18] karthik19967829 commented on #4512
yes its `install_wrap-transducer.sh`
the the path /usr/local/cuda-10.2/include does have CUDA_runtime_api.h

Also according to [https://github.com/HawkAaron/warp-transducer](https://github.com/HawkAaron/warp-transducer ) if you have a non standard CUDA install, add -DCUDA_TOOLKIT_ROOT_DIR=/path/to/cuda option to cmake so that CMake detects CUDA.
Not sure why but I need to specify above to overcome

[2022-07-13 19:28] b-flo commented on #4512
Not sure why but I need to specify above to overcome basic build issues .

Not sure why but it should be investigated! If that's the cause, it can be added to the installer.
Note that I reinstalled several times `warp-transducer` in the last past days and didn't encounter any issue. However, @pengchengguo had to add some exports in the installer to make it work:

[code]

That's the ones I shared t

[2022-07-13 22:13] karthik19967829 commented on #4512
Actually even after adding these I still get the same error ```
cuda_runtime_api.h: No such file or directory
#include <cuda_runtime_api.h>
[code]

[2022-07-13 23:17] kan-bayashi commented on #4500
Right.

[2022-07-14 01:31] wendywong343 commented on #4493
Hi @sw005320 @akreal @brianyan918 !

Thank you so much for your help and replies! I'll definitely be looking into these!

[2022-07-14 05:49] b-flo commented on #4512
[code]

with symlinks: `/usr/local/cuda` -> `/etc/alternatives/cuda` -> `/usr/local/cuda-11.6`

[2022-07-14 07:26] A-d-DASARE opened #4513 "can someone pls help me with detailed instruction set/ manual for espnet2 for tts reciepe."
Assertion error: torch not compiled with cuda

[2022-07-14 07:30] kan-bayashi commented on #4512
https://github.com/espnet/espnet/blob/f2778f798b76e102602078213a21b63aa592be70/tools/setup_cuda_env.sh#L9-L13
You may need to export `CFLAGS` and `CPATH`.

[2022-07-14 12:29] kamo-naoyuki commented on #4513
Please reinstall pytorch with cuda.

[2022-07-15 01:16] #4473 closed

[2022-07-15 08:19] kamo-naoyuki commented on #4507
The matplotlib version required by espnet is too old (=3.1.0, sorry about this), and the wheel package of matplotlib=3.1.0 for python=3.9 and many-linux (https://pypi.org/project/matplotlib/3.1.0/#files) is not distributed in pypi, thus the build process from the source code is ran in this case (I'm not sure)

To build matplotlib, you need to install some additional libraries: https://matplotlib.o

[2022-07-15 10:18] Yerzhaisang opened #4515 "Decoding process"
Dear developers,

It's just little question. Which inference (pth file) is used during the decoding (12 stage)? For example, I have pth files with numbers of epochs and latest.pth, eth. in exp/asr_train_asr_conformer_raw_kz_char_sp. I don't know which one to use in order to fine-tune recipe. Thank you for your response.

[2022-07-16 11:04] Miamoto commented on #4491
I did what [sw005320](https://github.com/sw005320) mentioned. I used the text from here https://www.openslr.org/11/. Then  I executed espnet2.bin.tokenize_text to tokenise the file with BPE, and after that, I executed only stage 9 from the asr.sh file with 6-gram.

By decoding with this LM, I can go from 17.4 WER on the test other to 14.70 WER, and from 8.50 CER to 7.6 CER. I guess it is a reasona

[2022-07-17 22:52] karthik19967829 commented on #4512
thanks for the response @kan-bayashi @b-flo .
The issue was that I had to another `/ `on AWS instance to fix the path . For some reason it removes the the first slashes so the following works.

`export CFLAGS="-I/$CUDAROOT/include $CFLAGS" `

[2022-07-17 22:52] #4512 closed

[2022-07-17 22:59] karthik19967829 opened #4516 "How to load a pre-trained and encoder and decoder ?"
Hi I would like to load pre-trained conformer RNN-T .
I would like to load both the pre-trained encoder and decoder .
https://github.com/siddhu001/espnet/blob/936917515557de1dd8519d67c9b455670b166536/egs2/slurp_transcript/asr1/run.sh#L22

In the above I see we can load encoder , but how do we load encoder and decoder ?

[2022-07-18 08:08] sw005320 commented on #4491
I think so!
Glad to hear that you successfully make it work.

[2022-07-18 13:15] deeplearner01 commented on #4505
Hi @simpleoier

Do you have any idea on how to fix the error?
Can we load wave2vec2 fine-tuned model and do only the decoding in espnet?

Many thanks,
DL

[2022-07-18 14:58] simpleoier commented on #4505
Hi @deeplearner01, sorry for my late reply!
I tried to use a similar config as yours last week. It worked well. The major difference is the fairseq version.
I wanted to try your fairseq version, but I didn't find the version you specified: 1.0.0.
Instead, I used the commit [here](https://github.com/espnet/espnet/blob/f2778f798b76e102602078213a21b63aa592be70/tools/installers/install_fairseq.sh#L48)

[2022-07-19 13:14] semicarryispig opened #4518 "About the use of run.pl"
When run the code of espnet, I get the log below:
[code]

It gets error when come acoss the run.pl command.

I find that in kaldi https://github.com/kaldi-asr/kaldi/tree/master/egs/wsj/s5/steps/make_fbank.sh，the code looks like this:
![image](https://user-images.githubusercontent.com/7950895/179758630-e7134da6-ae1f-45c8-b731-08e31388bd2f.png)

while in espnet, the code looks like this:
![image](ht

[2022-07-19 15:36] skesiraju opened #4519 "[st.sh] Removing utterance IDs leaves trailing white spaces, that further affects the detokenizer.pl"
The following two lines removes the trailing `(utterance_ID)` from every line of the hypothesis and reference, but leaves trailing white space, which affects the subseqeunt `detokenizer.pl`
https://github.com/espnet/espnet/blob/f2778f798b76e102602078213a21b63aa592be70/egs2/TEMPLATE/st1/st.sh#L1469
https://github.com/espnet/espnet/blob/f2778f798b76e102602078213a21b63aa592be70/egs2/TEMPLATE/st1/st.s

[2022-07-19 15:42] deeplearner01 commented on #4505
Hi @simpleoier , thanks for your response.

I installed fairseq independently with espnet and called fairseq in espnet code by importing fairseq in the python script "espnet2/asr/encoder/wav2vec2_encoder.py". I have just realised that in espnet there is the install_fairseq.sh script but I haven't used this script to install fairseq.

After updating the versions of both espnet and fairseq, I manage

[2022-07-20 00:11] simpleoier commented on #4505
@deeplearner01 Good to know that it works!

(2). Does the stage 11 in the script asr.sh perform the fine-tuning if the config file mentioned above is used?

Yes, but it starts finetuning after 100000 batches. To see if the the model parameter is loaded from the pretrained model, can you check in the log if there is such a [line](https://github.com/espnet/espnet/blob/f2778f798b76e102602078213a21b63

[2022-07-20 01:03] Fhrozen commented on #4518
if the python script is not included in the $PATH env variable, then you will need to replace `compute-fbank-feats.py`  with `python <dir_file>/compute-fbank-feats.py`

[2022-07-20 01:05] Fhrozen commented on #4515
If there is no modification in the `run.sh` file of the recipe, then the default is https://github.com/espnet/espnet/blob/f2778f798b76e102602078213a21b63aa592be70/egs2/TEMPLATE/asr1/asr.sh#L122

[2022-07-20 03:25] semicarryispig commented on #4518
The problem is solved.
The reason is that my kaldi version is too old.

[2022-07-20 03:25] #4518 closed

[2022-07-20 12:00] iamanigeeit opened #4521 "What is the proper way to train FastSpeech2 with MFA?"
I have read the [TTS training guide](https://github.com/espnet/espnet/blob/master/egs2/TEMPLATE/tts1/README.md) and i follow [this issue](https://github.com/espnet/espnet/issues/2712).

Now i want to summarize the process to help everyone. Please correct if i'm wrong.

- Use `MFA validate` to get OOVs, run `MFA g2p` on OOVs and `MFA align` with expanded dictionary to obtain `.TextGrid` files
- Gen

[2022-07-21 02:50] kan-bayashi commented on #4521
OK

OK

Right.

Right. But you should add 0 at the end of each line of `durations` file, which if for `<eos>` symbol (`<eos>` is added internally).

Train the rest normally

Right.

[2022-07-21 10:06] deeplearner01 commented on #4505
Hi @simpleoier , sorry for the delay in my reply, just wanted to try changing the value of "freeze_finetune_updates" from 100000 to 1 and run the fine-tuning again to see if this can help before answering to your questions. However changing this value did not help.

I checked and it's true that the pre-trained model was loaded. The log file contains the line "Pretrained Wav2Vec model parameters re

[2022-07-22 03:06] iamanigeeit commented on #4521
@kan-bayashi Thanks for the reply, i will try it and maybe send a PR if i succeed.

To clarify: for each line in the `durations` file, adding all the numbers should give me the number of melspec frames, right? The MFA phoneme transcription does not have any silence or punctuation marks, so i need to add them back into the `data/*/text` and insert their duration into `durations`?

Example text: "ye

[2022-07-22 07:07] Shin-ichi-Takayama opened #4524 "How to use SeparateSpeech class in Torchserve"
Thank you for all your help.

I am trying to API the Transformer model for the speech enhancement task using torchserve.
I have confirmed that the noise is suppressed using `run.sh` before APIing.

To use torchserve, I need a handler to instantiate the model.
To try to instantiate the model, I created the following Python file in the espnet/espnet2/bin directory.

[code]

However, I am getting the

[2022-07-22 08:24] AliNGatGeeks opened #4525 "Text to Speech inference cant find espeak-ng error"
Hi

I am trying to train a model for text to speech in German.. I Have been able to train the model using espeak-ng backend, but at inference time I cant get the model to do inference. I am using Amazon Linux 2 as OS

**For training I run the following code**
I am using espak-ng german for training using the following commands

[code]

**For inference I run**
I tried both the espnet environment cr

[2022-07-22 10:33] sw005320 commented on #4524
I think these conda libraries are activated via `path.sh` in `run.sh`
https://github.com/espnet/espnet/blob/master/egs2/TEMPLATE/enh1/path.sh
Can you check it?

If you're only interested in inference, you can also check https://github.com/espnet/espnet_model_zoo#python-api-for-inference

[2022-07-22 12:14] #4303 closed

[2022-07-23 23:27] picheny-nyu opened #4527 "Problem decoding with a Transformer LM."
**Describe the bug**
Training seems to work fine for the RNNT but then I get this error. Please help! I can attach whatever files you need to examine.

Thanks
Michael

**Error logs**

[code]

[2022-07-24 07:14] b-flo commented on #4527
Hi,

It seems that your repo is not up-to-date. Could you pull the changes and test again, please?

[2022-07-24 07:44] xzwworkplace opened #4528 "when i run decode stage by conformer_streaming,i miss this error"
**Describe the bug**
Traceback (most recent call last):
  File "/home/shiyanshi/anaconda3/envs/espnet/lib/python3.9/runpy.py", line 197, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "/home/shiyanshi/anaconda3/envs/espnet/lib/python3.9/runpy.py", line 87, in _run_code
    exec(code, run_globals)
  File "/media/shiyanshi/E/espnet/espnet2/bin/asr_inference_streaming.py

[2022-07-24 18:12] himanshucodz55 opened #4531 "RuntimeError: [1] is setting up NCCL communicator and retreiving ncclUniqueId from [0] via c10d key-value store by key '0', but store->get('0') got error: Timeout waiting for key: default_pg/0/0 after 1800000 ms"
**Describe the bug**
Hi, @espnet team thanks for amazing work. I am running librispeech recipe with distributed mode using slurm on esonet2. i am running on two oracle instance each one has single gpu (Tesla V100). but when i ran stage 11 it created jobs on both machine and gpu memory is also utlized but it failed after sometime.

**Basic environments:**
 - OS information: Ubuntu 18.04 x86_64
 - p

[2022-07-24 21:33] kamo-naoyuki commented on #4531
I don't know the detail of this error. I think pytorch developers can answer it.

Depending on your environment, NCCL can be failed for different reasons, so I can't answer the reason for your error directly. Please refer to the troubleshooting of NCCL:
 https://docs.nvidia.com/deeplearning/nccl/user-guide/docs/troubleshooting.html

At the first, I recommend you check your network setting.

If you

[2022-07-25 03:21] picheny-nyu commented on #4527
That worked, thank you, though I did need to install fast_bss_eval for it to work.

I notice with the rnnt I am getting high deletion rates compared to the transformer model for the same amount of data. Any suggestions for how to tune to reduce this effect?

Thanks
Michael

[2022-07-25 03:31] liroda opened #4532 "fastspeech2 can inference batch？"
I looked the fastspeech2 code ？and does It not suport infernece batch? How can I change the code to  support the batch inference ?

[2022-07-25 03:40] wflrz123 opened #4533 "Training on own dataset"
[code]

When I was training with my own dataset, the shape of the speech became [33, 241, 2, 80]. It should have been [33, 241, 80], which is normal. I don't know where the setting caused this situation?Or is it caused by the preprocessing of the dataset?

[2022-07-25 04:09] kan-bayashi commented on #4533
It seems that your audio has 2 channel. Please convert your audio to mono.

[2022-07-25 04:09] #4533 closed

[2022-07-25 06:09] b-flo commented on #4527
Note that `fast_bss_eval` is unrelated to your issue, it's for speech enhancement. What you were missing is some fixes related to Transformer LM.

Sorry, it's a bit difficult to help you without any information on task, models (AM, LM), decoding process, etc.

I'm closing this issue. Feel free to open a new one if you need help on the performance part!

[2022-07-25 06:09] #4527 closed

[2022-07-25 07:09] himanshucodz55 commented on #4531
Thanks @kamo-naoyuki for your quick response. we ran the same experiments without slurm using NCCL, it's running fine. we set NCCL_SOCKET_IFNAME connection correctly and training was running successfully. when we running the stage 11 with slurm it gives error...

[2022-07-25 07:12] kamo-naoyuki commented on #4531
Do you mean you could run the distributed training without slurm?

[2022-07-25 08:35] himanshucodz55 commented on #4531
Yes, I am able to run distributed training using 2 hosts which have 2 gpu respectively without slurm. But when i start with using slurm ( after slurm installation and setup )gives me error.

[2022-07-25 09:33] kamo-naoyuki commented on #4531
Then, probably, this is a bug of espnet.

When running on slurm (=--dist_launcher slurm ), we automatically set the rank, local rank, worldsize, and hostname from the environment variables set by slurm e.g. SLURM_PROCID. https://github.com/espnet/espnet/blob/master/espnet2/train/distributed_utils.py

Could you check the value of each job using, e.g. , print function? I think the following line is

[2022-07-25 09:54] kamo-naoyuki commented on #4531
By the way,

There are no logging messages from espnet2. This is also a bug of espnet when using pytorch=1.12.
(Indeed, we should a local logger instead of global logging...)

[2022-07-25 10:21] v-yunbin commented on #4485
@sw005320  another thing is that pretrained model (https://huggingface.co/espnet/pengcheng_guo_wenetspeech_asr_train_asr_raw_zh_char) provided  by wenet recipe in espnet  is much worse than  pretrained model (https://huggingface.co/espnet/pengcheng_guo_wenetspeech_asr_train_asr_raw_zh_char)provided  by wenet recipe in wenet.
I test both model on same testset, I don't know why they had so big gap.

[2022-07-25 10:35] sw005320 commented on #4485
Can you tell me how much the performance gap is exactly?
I just added @pengchengguo to this thread.

[2022-07-25 12:24] kamo-naoyuki commented on #4531
Hmm, I found weird things in your logs.

There are 4 python prorcesses (=2processes x 2nodes). The logs of nvidia-smi has two processes for each node. This should be one for each node.

I think this is the reason. I think you modified our launch.py, right? `-N2` shouldn't be inseted here.

[2022-07-25 16:07] himanshucodz55 commented on #4531
@kamo-naoyuki there are total 4 process, 2 process running on each machine because task_per_node=2. btw i have ran the experiment without -N2 showing the same error.
**error log**
[code]

[2022-07-25 16:42] kamo-naoyuki commented on #4531
Please let me confirm:  task_per_node must be 1 because each node has single GPU in this case.

In your logs, there are still 4 processes, so this caused an error in espnet, at least.

Do you know why this value is 6?  In your slurm.conf, it was set to 12.

[2022-07-25 17:32] himanshucodz55 commented on #4531
Thanks for your response @kamo-naoyuki. Yes, ntask_per_node=1. I am just checking with  SLURM_CPUS_PER_TASK=6 what will happen but error is same. I have ran with SLURM_CPUS_PER_TASK=12 you can see in log above, still error is same.

[2022-07-25 17:50] kamo-naoyuki commented on #4531
Sorry, actually, I don't know all priority orders of slurm options, so I'm not sure why there are 4 processes.

Do you use select/linear plugin? What happens if --cpus-per-task 1?

However, I think you can solve this issues just by reading the documentation of slurm:  https://slurm.schedmd.com/sbatch.html

Please let me know if you find some solutions.

[2022-07-25 18:02] himanshucodz55 commented on #4531
if i ran with --cpus-per-task 1 still error is same. In espnet official documentation you have mentioned "2Hosts and 2GPUs for each node using Slurm with multiprocessing distributed (https://espnet.github.io/espnet/espnet2_distributed.html). could you pls share the log file if possible, i will help to solve the problem. or if you provide all config file that you have used with this exp, pls share.

[2022-07-25 18:19] kamo-naoyuki commented on #4531
Why did you change  from gpu=0  to gpu=1 ?

Could you also check SelectType value of slurm.conf of your slurm server (e.g. /etc/slurm/slurm.conf).
Maybe, espnet assumes SelectType=select/cons_res or SelectType=select/cons_tres

[2022-07-25 19:30] kamo-naoyuki commented on #4531
Oh, I found you ran srun with srun

[code]

Please don't touch launch.py.

[2022-07-26 02:27] Shin-ichi-Takayama commented on #4524
Thank you for your response.
I found that the library is activated using `path.sh`.
Does that mean that I cannot instantiate the model with a python script?

[2022-07-26 02:39] kan-bayashi commented on #4524
Why don't you just install humanfriedly?

[2022-07-26 02:52] Shin-ichi-Takayama commented on #4524
Yes, I understand that.
My question is why the library import error occurs even though `run.sh` is working.

Is it safe to install additional `humanfriendly` and `pytorch` in an environment where `run.sh` is working properly?

[2022-07-26 02:57] kan-bayashi commented on #4524
I don't know how to setup your environment but in a standard way, espnet create portable virtualenv in `tools`.
And if you source `path.sh`, the environment is activated.
Therefore, when we run `run.sh` we always use virtualenv created in `tools` since `path.sh` is sourced in `run.sh`.
So maybe when you run your API, you may not use the virtualenv.

[2022-07-26 02:58] pengchengguo commented on #4485
Hi @v-yunbin,
Sorry, I am not fully getting your question. Which two models show a performance gap? It seems that you post the same huggingface links. Could you please give me more detailed information?

[2022-07-26 02:59] wflrz123 opened #4534 "Official aishell3 generate"
# I want to use the official aishell3 model to generate audio, how to solve it?
from espnet2.bin.tts_inference import Text2Speech

model = Text2Speech.from_pretrained("ftshijt/ESPnet2_pretrained_model_ftshijt_aishell3_tts_train_raw_phn_pypinyin_g2p_phone_train.loss.best")

speech, *_ = model("text to generate speech from")

--------------------------------------------------------------------------

[2022-07-26 03:37] vinitunni opened #4535 "Gibberish output while using average checkpoints for transducers"
**Describe the bug**
When using the average checkpoints option for RNN-Transducers, Inference stage gives gibberish results. THis was primarily noticed when trying to train our own models. But I am seeing this issue with PreTrained RNNT model too (librispeech pretrained RNNT model). However, to ensure there is no issue of dictionary or encoding, I am able to use pre-trained "conformer-sp" model to

[2022-07-26 04:14] Shin-ichi-Takayama commented on #4524
Thank you for your response.
Is there any documentation on how to build an environment without a virtual environment?

I create an environment with the following Dockerfile.
[code]

[2022-07-26 04:20] kan-bayashi commented on #4524
If you just want to use as the library, simply do `pip install espnet`.
Please check the following notebook as an example.
https://colab.research.google.com/github/espnet/notebook/blob/master/espnet2_tts_realtime_demo.ipynb

And in your dockerfile case, you can add entrypoint to source `~/espnet/tools/activate_python.sh`.

[2022-07-26 04:31] kan-bayashi commented on #4534
The model may use GST, which requires additional reference speech.
You need to pass speech as well. Please check the multi-spk with GST example.
https://colab.research.google.com/github/espnet/notebook/blob/master/espnet2_tts_realtime_demo.ipynb

[2022-07-26 04:35] kan-bayashi commented on #4532
Not supported but theoretically it can be.
You can hack the following part:
https://github.com/espnet/espnet/blob/695c9954e20800875b22d985e9c0b0a70e8e2082/espnet2/tts/fastspeech2/fastspeech2.py#L694-L775
https://github.com/espnet/espnet/blob/695c9954e20800875b22d985e9c0b0a70e8e2082/espnet2/tts/espnet_model.py#L223-L308
https://github.com/espnet/espnet/blob/695c9954e20800875b22d985e9c0b0a70e8e2082/

[2022-07-26 04:37] BSen007 opened #4536 "Librispeech RNN-T training does not look good with Espnet2"
**Describe the bug**
A clear and concise description of what the bug is.

**Basic environments:**
 - OS information: e.g., Linux 4.9.0-11-amd64 #1 SMP Debian 4.9.189-3+deb9u2 (2019-11-11) x86_64
 - python version: `3.7.5 (default, Oct 25 2019, 15:51:11)  [GCC 7.3.0]`
 - espnet version: espnet 202205
 - Git hash: 41ed22a0ad2ef57bf7c57ba1209dbef4e9f924cb
 - Commit date: Wed Jul 6 20:59:31 2022 +0900

[2022-07-26 04:37] kan-bayashi commented on #4525
You need add path for espeak library.
When running `run.sh`, `tools/extra_path.sh` is sourced.
And then, LD_LIBRRARY_PATH is updated.

Before running inference scripts, you need to add their path.
https://github.com/espnet/espnet/blob/695c9954e20800875b22d985e9c0b0a70e8e2082/tools/extra_path.sh#L27-L28

[2022-07-26 04:40] kan-bayashi commented on #4521
@iamanigeeit Sorry for the late reply.

Right. It assumes that `sum(duration) == #mel frames`.

Right. You need to restore them. And please add 0 for `<eos>` like:

| data/*/text | sample1 | j | ɛ | s | , | b | ɐ | t | sil | |
|-------------|---------|---|---|---|---|---|---|---|-----|--|
| durations   | sample1 | 3 | 4 | 3 | 7 | 3 | 5 | 3 | 2   | 0 |

[2022-07-26 06:13] v-yunbin commented on #4485
have update the links.
I test them on a chinese audio, it shows obvious gap:
groudtuth: 哎曲大哥您好哎我是快乐购物方面的专属顾问曲大哥新年好因为啊因为今天是二零一九年第一天上班吗也是祝您和您家人在新的一年里万事如意
prediction of pretrained model provided by wenet recipe in espnet: 曲大哥你好我是快乐公舞方案的专属顾问曲大哥新年好因为今天是二零一九年也是新的一年里万事如意
prediction of pretrained model provided by wenet recipe in wenet: 大哥您好我是快乐公午发你的专属顾问齐大哥新年好因为因为今天是二零一九年第一天上班嘛也是祝您和您家人在新的一年里万事如意

[2022-07-26 07:56] b-flo commented on #4536
Hi,

Hum, torch 1.11 is supported by our fork of `warp-transducer` so it shouldn't be an issue. It may be worth trying though because I'm suspecting an issue with `warp-transducer` given the loss curves is totally off.

Not that I'm aware of, multiple groups (myself included) are currently using ESPnet2 Transducer without any issue.
However, the current training procedure is sensitive to some para

[2022-07-26 07:57] wflrz123 commented on #4534
Thank you~

[2022-07-26 07:57] #4534 closed

[2022-07-26 08:11] b-flo commented on #4535
Hi,

Sorry, I'm not sure I'm following everything.

1. Are we talking about ESPnet1 or ESPnet2 here?
2. Which Librispeech pre-trained models are you using?
3. The issue only happens when using a model with average checkpoints but everything is fine when taking the best one?

[2022-07-26 08:55] Shin-ichi-Takayama commented on #4524
Thank you for your response.
Thanks to your help, the import error has been resolved.
However, when I instantiate the model as in the following code, the error occurs.
[code]

Traceback (most recent call last):
  File "transformer_test.py", line 11, in <module>
    main()
  File "transformer_test.py", line 5, in main
    separate_speech = SeparateSpeech("./train_enh_transformer_tf.yaml", "./valid.

[2022-07-26 08:58] pengchengguo commented on #4485
Hi @v-yunbin,
Could you please add my WeChat (guopengcheng1220) for the discussion? It would be helpful to provide more experiment details.

[2022-07-26 09:16] vinitunni commented on #4535
Hello,

I am talking about ESPnet1 here

I am using the models mentioned in the [Results page](https://github.com/espnet/espnet/blob/master/egs/librispeech/asr1/RESULTS.md)
For RNNT, "pytorch large conformer-transducer with specaug + speed perturbation (4 GPUs)"
For conformer, "pytorch large conformer with specaug + speed perturbation (8 GPUs) + Transformer LM (4 GPUs)"

Yes, wierdly, in the model

[2022-07-26 09:21] himanshucodz55 commented on #4531
In my slurm.conf SelectType=select/linear
I am using single gpu in each machine that's why i have changed this parameter but i have checked with gpu=0 you can see log

[code]

[2022-07-26 09:23] b-flo commented on #4535
Hum, it looks strangely familiar to what we observed in #3948 but the related bug is already fixed

Is your repo up-to-date? If the information you provided in "Basic environments:" are correct, you're missing the fix.

[2022-07-26 09:30] himanshucodz55 commented on #4531
my stage 11 command is:
[code]

[2022-07-26 09:34] himanshucodz55 commented on #4531
ran without srun in stage 11 that i have mentioned above...
see the error:
[code]

[2022-07-26 09:34] kan-bayashi commented on #4524
Not sure for me.
@Emrys365 @LiChenda Could you help him?

[2022-07-26 09:57] vinitunni commented on #4535
Yes,
The changes to 'blocks.py' from this [PR](https://github.com/espnet/espnet/pull/4020/files) has solved this issue.
Thank you.

[2022-07-26 09:57] #4535 closed

[2022-07-26 15:18] Emrys365 commented on #4524
@Shin-ichi-Takayama Did you use the latest codebase to train the model? If so, there should be a key named `model_conf` in the config file `train_enh_transformer_tf.yaml`.

If you trained the model with an older version of espnet, then it is likely that the key `model_conf` is missing. To make it compatible with the latest code, you need to manually add the following content to the config file:
[c

[2022-07-26 16:22] kamo-naoyuki commented on #4531
Or, this job was executed by root,  so root doesn't have the write permission for /home/ubuntu/users/.
Please  recheck the setting of slurm or the user permission, or etc.

[2022-07-26 19:24] picheny-nyu opened #4540 "RNN-T Decoding - Large Number of Deletions Compared to Transformer/Conformer"
I am getting a lot of deletions in my RNN-T training/decoding setup relative to Transformer/Conformer. The data is the "Malach" corpus; about 200 hours of English but accented speech from Holocaust survivors.  Appreciate any insights/suggestions anyone may have!

This is the sclite outputs from all three systems:

|  Condition  |  # Snt  | # Wrd  |  Corr | Sub | Del | Ins | Err | S.Err |
| - | - |

[2022-07-26 20:24] b-flo commented on #4540
Interesting one! In general, the number of  insertions and deletions is somewhat balanced but several things can cause an high number of deletions.

Some initial questions:

- Did you use the pre-trained Librispeech model to finetune Malach model (or directly perform decoding to get these results)?
- What are `Transformer` and `Conformer`? Are they equivalent to Transformer and Conformer CTC-Att f

[2022-07-26 21:00] picheny-nyu commented on #4540
- No, I trained all of the models from scratch. I did not use any pre-trained models.
- Transformer was from the AMI egs2 recipe; conformer I copied from librispeech.
- yes, in all cases, I believe. They were all from train_lm_transformer2.yaml which was in the AMI recipe. I could redecode without it but you really think that would help?
- what other decoding meth
[result.txt](https://github.com/e

[2022-07-26 21:25] b-flo commented on #4540
Thanks, I'll take a closer look when I have time. From what I've seen, about 20% of the utterances account for most of the deletions. I'll also check the Malach dataset as I'm not familiar with it.

I think it could cause an higher number of deletions in some cases, yes. Although, it's unlikely to have such impact.

We have various decoding strategies for Transducer model outside default beam sear

[2022-07-27 02:08] picheny-nyu commented on #4540
Thanks. Here is a good reference on MALACH https://www.isca-speech.org/archive_v0/Interspeech_2019/pdfs/1907.pdf

[2022-07-27 02:17] elricwan opened #4541 "Voice conversion feature"
**Describe the bug**
A clear and concise description of what the bug is.

Would you please provide a voice conversion fine-tune example? Or any tutorial? Thank you.

**Basic environments:**
 - OS information: [e.g., Linux 4.9.0-11-amd64 #1 SMP Debian 4.9.189-3+deb9u2 (2019-11-11) x86_64]
 - python version: [e.g. 3.7.3 (default, Mar 27 2019, 22:11:17) [GCC 7.3.0]]
 - espnet version: [e.g. espnet 0.

[2022-07-27 02:48] zh794390558 opened #4542 "transducer loss impl formula diff in cpu and gpu"
@b-flo I read the source of transducer loss impl, but confused with cpu and gpu grad implementation, which has `Tp grad = exp(alphas[col] + betas[col] + logpk - logll[mb]);` in gpu grad kernel, but not in cpu. Can you give some explanation for that, thx very much.

[2022-07-27 02:54] Shin-ichi-Takayama commented on #4524
Thank you for your response.
I cloned and trained in early July. So I think it is an older version.
I added the following content to the config file.
[code]
The error in instantiating the model has been resolved.
However, the following new error occurred in the inference process.

Traceback (most recent call last):
  File "transformer_test.py", line 11, in <module>
    main()
  File "transformer_t

[2022-07-27 02:57] Emrys365 commented on #4524
The SeparateSpeech instance requires a batch of audio data as input. So you need to add a singleton dimension to the left if your input has only one dimension.

[2022-07-27 04:22] BSen007 commented on #4536
@b-flo thanks! can you please let me know which version of torch and espnet are you using? I can try the same!

[2022-07-27 05:47] iamanigeeit opened #4543 "Multiple TracerWarning on every epoch"
I am running FastSpeech2 and every epoch gives me this:

[code]

Is there some way to solve it?

[2022-07-27 06:08] b-flo commented on #4542
Hi,

Sorry, I don't know why Mingkun (the author of `warp-transducer`) made the CPU and GPU grad differ nor if it's intended.
I was made aware of the issue in a few instances but, well, the CPU version is not used so we didn't bother to rework it in our fork.

Btw,

https://espnet.github.io/espnet/tutorial.html#transducer

I'm closing the issue but feel free to open a new one in the highlighted re

[2022-07-27 06:08] #4542 closed

[2022-07-27 06:37] b-flo commented on #4536
Sure! I'm using torch 1.8.1 with CUDA 11.1 for my current experiments

I can give a commit hash because I'm working on another branch right now but it's up to date with master.

[2022-07-27 07:08] Shin-ichi-Takayama commented on #4524
Thank you for your response.
Thanks to your help, I got the following warning, but the inference worked.

/usr/local/lib/python3.6/dist-packages/torch/functional.py:573: UserWarning: stft will soon require the return_complex parameter be given for real inputs, and will further require that return_complex=True in a future PyTorch release. (Triggered internally at  ../aten/src/ATen/native/SpectralOp

[2022-07-27 08:49] Emrys365 commented on #4524
These warnings do not impact the inference result. So you can just ignore them.

(The amplitude of the result inferred by run.sh is higher)

Yes, `--normalize_output_wav True` is the cause.
To achieve the same effect, you could pass an additional argument when instantiating SeparateSpeech:
[code]

[2022-07-27 10:04] Shin-ichi-Takayama commented on #4524
Thank you very much.
Thanks to your help I was able to get it to work.

[2022-07-27 10:04] #4524 closed

[2022-07-27 10:54] BSen007 commented on #4536
ok will plan to work with 1.8.1 to see the behavior! thanks :)

[2022-07-27 12:00] picheny-nyu commented on #4540
I tried decoding with a beam size of 60. It increased the deletion rate to 30%. Happy to try other methods but I need some parameter recommendations. Also, is there some way on the default beam search to change the language model weight? Maybe I should lower that.

Thanks
Michael

[2022-07-27 14:17] AliNGatGeeks commented on #4525
I did some tests, in my case,
TOOL_DIR = /home/ec2-user/SageMaker/espnet/tools

no lib or lib64 where present in this path (is this going to be a problem?)

in TOOL_DIR/espean-ng/lib
I can see espeak-ng.so (but is seems to be hidden)

in any case running the commands

 export LD_LIBRARY_PATH="${TOOL_DIR}"/lib:"${TOOL_DIR}"/lib64:"${LD_LIBRARY_PATH:-}"
 export LD_LIBRARY_PATH="${TOOL_DIR}"/espeak-n

[2022-07-28 02:35] #4458 closed

[2022-07-28 06:36] AliNGatGeeks commented on #4525
I managed to solve the problem by using this command:

from phonemizer.backend.espeak.wrapper import EspeakWrapper
EspeakWrapper.set_library('/home/ec2-user/SageMaker/espnet/tools/espeak-ng/src/.libs/libespeak-ng.so.1.1.51')

Thank you very much