[2017-12-14 05:58] kan-bayashi opened #5 "CPU decoding uses a lot of threads"
Decoding process uses a lot of threads.
If we use the default recipe, load average becomes very big number.

![img076](https://user-images.githubusercontent.com/22779813/33977523-9aa85da2-e0de-11e7-99a6-87cf851386d5.jpg)

Why don't you add the regularization for the use of cpus when decoding?

[2017-12-14 06:04] sw005320 commented on #5
I did not have this issue.
Try to use one of the followings (put it in path.sh)

export MKL_NUM_THREADS=1
export NUMEXPR_NUM_THREADS=1
export OMP_NUM_THREADS=1

This happens when you use some blas libraries, although it would be better to put this inside the code.

[2017-12-14 06:09] kan-bayashi commented on #5
Thank you for quick response!
The problem is fixed!

I'll add these lines into path.sh.

[2017-12-14 06:09] #5 closed

[2017-12-14 10:56] ShigekiKarita opened #8 "map int instead of float"
Hi,

I think that this float cast from str might be wrong
https://github.com/espnet/espnet/blob/384b3450ee5b7e3b9147c28c6064b119ab766fda/src/nets/e2e_asr_attctc.py#L150

it could be
[code]

[2017-12-14 18:24] ShigekiKarita opened #9 "pytorch exp"
Hi, @sw005320

this is not an issue, just my homework for fun. I'm making pytorch backend on your script for chainer.

https://github.com/ShigekiKarita/espnet/blob/pytorch/src/bin/asr_train_th.py

Unless nothing is wrong (well, I don't think so ... for example, the lack of CTC loss implementation), pytorch seems twice faster than chainer in my poor environment (GTX760).

[2017-12-14 18:30] sw005320 commented on #9
Great!!!
I think it would be nice to have two implementations (like Keras that uses several backends).
We can discuss it tomorrow.
I'm really excited.

I would say that my chainer-based implementation is already very nice level in terms of training speed, and if it would be twice faster, it is super duper.

[2017-12-14 22:29] sw005320 commented on #8
Thanks!
I'll fix it.

[2017-12-14 22:44] sw005320 commented on #8
This is fixed.

[2017-12-14 22:44] #8 closed

[2017-12-15 06:31] ShigekiKarita commented on #9
Training BLSTMP on WSJ in 4 hours by pytorch and 1080ti

[code]

[2017-12-15 07:04] sw005320 commented on #9
This is amazing.
We should definitely consider to have both backends.
Please continue on it, and also try to include CTC and try to make it similar to the chainer backend.

[2017-12-15 07:42] ShigekiKarita commented on #9
@sw005320 I've implemented the CTC loss function with [WarpCTC binding](https://github.com/SeanNaren/warp-ctc) (not push yet). It does not matter at all in speed.

[code]

[2017-12-15 08:37] sw005320 opened #14 "python 2 and 3 compatible"
Some people reported an issue due to the python 2 and 3 compatibility.
Right now, the unicode type in python 2 would cause some issues, which are used in everywhere, and need to be fixed.

[2017-12-16 00:03] sw005320 opened #15 "Input frame lengths become shorter....."
@ShigekiKarita

old kaldi io
[code]

new kaldi io
[code]

[2017-12-16 01:07] ShigekiKarita commented on #15
oh. I will check the usage of new kaldi_io again.

[2017-12-16 12:02] kan-bayashi commented on #15
Hi. I tried voxforge recipe.
It works, but maybe due to this problem, the performace decreased.
[code]

[2017-12-16 13:21] kan-bayashi commented on #15
`asr_recog.py` does not work.
[code]

[2017-12-16 15:08] ShigekiKarita commented on #15
@sw005320 @kan-bayashi I'm stack in installing kaldi-python, especially boost-python part. Could you tell me your boost version?? I'm using boost 1.65.1 now.

[2017-12-16 15:18] ShigekiKarita commented on #14
For Python2/3 compatibility, I recommend you to use flake8/hacking linter.

[code]

[2017-12-16 15:50] ShigekiKarita commented on #15
I've just solved that problem when I configure boost as follows:
[code]

[2017-12-16 16:49] ShigekiKarita commented on #15
I finally figure out what is wrong. That is Python's lambda. It is beyond my understanding http://math.andrej.com/2009/04/09/pythons-lambda-is-broken/

I rewrite lazy_io.py much simpler without lambda as follows (NOTE: kaldi_io_py is a alias for kaldi-io-for-python)
[code]

here is a test code with voxforge scp
[code]

I have no idea why the outputs of kaldi-python and kaldi-io-python are differen

[2017-12-16 18:02] ShigekiKarita commented on #15
I also rerun voxforge exp

+ with kaldi_io

[code]

+ with lazy_io

[code]

I will test asr_recog.py after this training. As @kan-bayashi reported,  there seems to be some unicode problems in previous code.

[2017-12-16 23:14] sw005320 commented on #15
Thanks Shigeki.
Once you finish it, please PR it.

[2017-12-16 23:33] kan-bayashi commented on #14
@ShigekiKarita Thank you for your information.
I think at least we should add following lines to be compatible with `python 3`.
`from __future__ import print_function`
`from __future__ import division`

[2017-12-18 04:16] ShigekiKarita commented on #9
Pytorch backend is finally merged. As @sw005320 noted in #17, we need to add pytorch backend not only in WSJ but also in all the egs. It is not difficult for me and also for anyone else.

However there is a new concern about results. Here are WSJ-BLSTMP results by chainer and pytorch.

- chainer

![acc](https://user-images.githubusercontent.com/6745326/34089579-73f5c028-e3f4-11e7-9811-774a1fdbd7df

[2017-12-18 04:26] ShigekiKarita commented on #15
@sw005320 if you are OK, please close this issue

[2017-12-18 04:31] ShigekiKarita opened #18 "add unit-tests and Travis CI (.travis.yml)"
Testing python2/3 and chainer/pytorch compatibility by our hand will be hell. we need some continuous integration on this. I think chainer's setting is good for us to test and build doc automatically. https://github.com/chainer/chainer/blob/master/.travis.yml

[2017-12-18 04:41] #15 closed

[2017-12-18 04:53] sw005320 commented on #18
I understand and I will work on it. But at least, our setup is based on virtualenv and making an isolated setup with python 2.7, which is one way to avoid this kind of issues. So I want you to follow this setup for now.

[2017-12-18 05:11] ShigekiKarita commented on #18
gotcha 👌

[2017-12-18 05:24] ShigekiKarita commented on #18
I wonder if there were tiny toy example in espnet to run end-to-end test and benchmark in a short time. Some frameworks use AN4 for that purpose. I want someone to create AN4 egs because I'm not very familiar with kaldi.

- an4 in CNTK https://github.com/Microsoft/CNTK/tree/master/Examples/Speech/AN4
- an4 in torch deepspeech https://github.com/SeanNaren/deepspeech.torch
- an4 in pytorch deepspeec

[2017-12-18 06:09] sw005320 opened #19 "pytorch instllation"
I'm just trying to play with the pytorch backend.
Here is my note:
[code]

Then,
[code]
Then, I got the error:
[code]

[2017-12-18 06:14] ShigekiKarita commented on #19
you need this because pytorch has not have its official ctc implementation
now

https://github.com/SeanNaren/warp-ctc/tree/pytorch_bindings/pytorch_binding

2017/12/18 15:09 "Shinji Watanabe" <notifications@github.com>:

[2017-12-18 13:15] kan-bayashi commented on #19
Hi.
Which libraries should we mainly focus on?
Chianer or pytorch?

[2017-12-18 13:22] ShigekiKarita commented on #19
I think that chainer should be main at least until pytorch issues (loss normalization, vgg implementation in #9)  are closed

[2017-12-18 17:30] ShigekiKarita commented on #18
I'm working on it in advance of you. I just copied chainer/.travis.yml and delete and add a few lines. Although I wrote only stupid tests, we can [see a python2/3 unicode problem here](https://travis-ci.org/ShigekiKarita/espnet/builds/318193090)

Also there can be several problems and discussions.
- pytorch installation on Travis-CI might not be possible now https://github.com/uber/pyro/pull/627
-

[2017-12-19 05:10] sw005320 commented on #18
Thanks for the suggestion.
I can definitely make an4 egs.
Wait for a while.

[2017-12-19 07:17] sw005320 commented on #19
@ShigekiKarita , can you please provide the installation of warp-ctc/pytorch_binding

[2017-12-19 07:24] ShigekiKarita commented on #19
you can see it in my wip Makefile
https://github.com/espnet/espnet/pull/20/files

2017/12/19 16:17 "Shinji Watanabe" <notifications@github.com>:

[2017-12-19 15:47] ShigekiKarita commented on #14
In my opinion, there are no need to make scripts in `src/utils` python2/3 compatible because they are single-file-complete and only depend on python2 standard lib. Even they do not need venv.

So I propose that we just use a shebang `#!/usr/bin/env python2` instead of `#!/usr/bin/env python` until python2 dies. I've done some exps successful with PR #18

[2017-12-20 02:07] ShigekiKarita commented on #9
I summarize the differences between **default** behaviors in chainer and pytorch. I'm always trying to make pytorch's setting **consistent to chainer** in espnet.

this is a compatible options tested in `test/test_loss.py`

### CTC

[code]

Cross-entropy loss and accuracy in decoder is also tested in https://github.com/ShigekiKarita/espnet/blob/test-pytorch-loss/test/test_loss.py

## Weight initia

[2017-12-20 12:05] kan-bayashi opened #23 "Chainer CSJ results"
I finished testing CSJ recipe.
[code]

[2017-12-20 13:43] sw005320 commented on #23
Thanks.
Can you change --maxlenratio 0.5 --minlenratio 0.1?

[2017-12-20 23:14] kan-bayashi commented on #23
Here is the results.
Slightly worse than the results in papers.
[code]

[2017-12-21 01:52] kan-bayashi commented on #23
Results with `maxlenratio=0.5` & `minlenratio=0.1` & `penalty=0.1`.
Slightly improved.
[code]

[2017-12-21 01:56] sw005320 commented on #23
Thanks.
Please write them in RESULTS, and commit it.
It's good to know that our initial results are not so crazy.

[2017-12-21 03:04] #23 closed

[2017-12-21 06:39] kan-bayashi commented on #9
I had following error in tedlium recipe with pytorch.
[code]
I will investigate the reason.

[2017-12-21 07:43] ShigekiKarita commented on #9
@kan-bayashi Hmm, you seem to use blstmp not vgg blstmp. I think the zero-size should be happened in Encoder's subsample part. And tedlium has really short utt (please turn on verbose=2 to see the length). I will also check that.

[2017-12-21 07:52] ShigekiKarita commented on #9
BTW, I might finally figure out the last reason why pytorch's convergence is worse than chainer. The diff is ctc gradient that is also unormalized by batchsize as forward prop. I've fixed and tested in #20

![acc](https://user-images.githubusercontent.com/6745326/34245678-62203172-e66e-11e7-89cd-42d495851000.png)

current tested list

- https://github.com/ShigekiKarita/espnet/blob/test-pytorch-los

[2017-12-21 08:02] ShigekiKarita commented on #9
@kan-bayashi
I think this `ys` is a seq of target tokens. isnt it?

[code]

I wonder if chainer could ignore zero-size array for input in that case, we can also filter it out manually. Would you try to insert zero-size target assertion at `E2E.__call__` in `e2e_asr_attctc_th.py` like
[code]

[2017-12-21 08:06] ShigekiKarita commented on #9
BTW, I might finally figure out the last reason why pytorch's convergence is worse than chainer. The diff is ctc gradient that is also unormalized by batchsize as forward prop. I've fixed and tested in #20

![acc](https://user-images.githubusercontent.com/6745326/34245678-62203172-e66e-11e7-89cd-42d495851000.png)

current tested list

- https://github.com/ShigekiKarita/espnet/blob/test-pytorch-los

[2017-12-21 08:11] kan-bayashi commented on #9
@ShigekiKarita
Yes, I checked the `tokenid` in `data.json`.
And I found that it includes empty tokenid.
[code]
I agree with your idea, we should check the length of `ys` to skip or stop.

[2017-12-21 08:14] ShigekiKarita commented on #9
wow nice hack 👍

so as a workaround we will follow chainer at first. but it can be better to filter them out in data prep.

[2017-12-21 08:23] sw005320 commented on #9
We can make to use the following script as a default for all egs.
https://github.com/espnet/espnet/blob/master/egs/voxforge/asr1/local/remove_longshortdata.sh

[2017-12-21 08:38] kan-bayashi commented on #9
@sw005320 i
In the tedlium recipe, `remove_longshortdata.sh` is already performed in `run.sh`.
But `data.json` includes empy token.
Is it a bug of `remove_longshortdata.sh` or needs some option?

[2017-12-21 08:43] ShigekiKarita commented on #9
I've submitted the workaround and test for pytorch in PR #20 .

In this commit, I notice that chainer also fails when all the target have zero-length in a minibatch because of zero-div-error in CTC.

[2017-12-21 14:37] ShigekiKarita commented on #9
I'd like to report this as a result of the final pytorch backend because this is very close to the one of the chainer backend in https://github.com/espnet/espnet/issues/9#issuecomment-352322057

exp/train_si284_th_blstmp_ctc_adadelta/decode_test_dev93_beam20_eacc.best_p0_len0.3-0.8/result.txt:|  SPKR     |   # Snt     # Wrd   |  Corr        Sub       Del       Ins        Err     S.Err   |
exp/trai

[2017-12-22 08:53] ShigekiKarita commented on #18
@sw005320 now https://github.com/espnet/espnet/blob/master/.travis.yml is in this repo, you can enable travis ci. (I do not have such a permission.)

all you need to do is step1-2 in https://docs.travis-ci.com/user/getting-started#To-get-started-with-Travis-CI

[2017-12-25 00:17] sw005320 opened #28 "chainer vs. pytorch in terms of training speed"
Can you summarize chainer vs. pytorch back ends in terms of the training time?
With @ShigekiKarita 's efforts, we can compare them with almost same conditions (maybe with blstmp? @ShigekiKarita do you still need some time to finish vggblstmp in pytorch?). I will report them to the chainer issue. The chainer developer would give us some solutions.

[2017-12-25 00:35] sw005320 opened #29 "anaconda make"
@ShigekiKarita can you include your anaconda based make in Makefile?
If it is complicated, you can prepare different Makefile. Also do you have your own anaconda based path.sh? Is it possible to use one path.sh to handle both venv and anaconda environments?

[2017-12-25 01:47] ShigekiKarita commented on #29
OK, I will do it. It is nice to create env including the specific python interpreters. I think Makefile's venv/bin/activate rule can be as complicated as the following travis-CI script.
https://conda.io/docs/user-guide/tasks/use-conda-with-travis-ci.html#the-travis-yml-file

[2017-12-25 01:49] ShigekiKarita commented on #29
And I expect `path.sh` is OK because we can create `venv/bin/activate` with `conda create --prefix $(pwd)/venv` or something like that.

[2017-12-25 01:51] sw005320 commented on #29
I see.

[2017-12-25 02:06] ShigekiKarita commented on #28
these results are obtained with the final `test-pytorch-loss` branch (merged in #20) by Tesla K80 (not 1080ti)

## WSJ training results of blstmp

| |chainer| pytorch|
|:--|----:|----:|
|valid acc|93.6|93.9|
|dev CER|10.7|11.1|
|test CER|8.3|8.2|
|time|82129|34496|

additional info
- chainer https://github.com/espnet/espnet/issues/9#issuecomment-352322057 and [chainer.log](https://github.com/espne

[2017-12-25 02:41] ShigekiKarita opened #30 "copyright issues"
@ShigekiKarita (me) need to update test/*.py copyrights

@sw005320 I think you need to fill this line

https://github.com/espnet/espnet/blob/67359ba3c3dcd37243d9b93a98ce4e1ba6a3e299/LICENSE#L189

[2017-12-25 02:42] sw005320 commented on #30
Thanks.
Will do.

[2017-12-25 05:35] kan-bayashi commented on #28
I have no result of vggblsmtp with pytorch.
So I show the result of vggblstmp with chainer and that of blstmp with pytorch.

## tedlium recipe
|   | Chainer VGGMBLSTMP | Pytorch BLSTMP |
----|----|----
| dev CER | 12.3 % | 12.6 % |
| test CER | 12.0 % | 12.4 % |
| time (titan x pascal) | 339424 sec (94.3 h)  | 50686 sec (14.1 h) |

## csj recipe
|   | Chainer VGGMBLSTMP | Pytorch BLSTMP |
----|---

[2017-12-25 06:02] sw005320 commented on #30
#33 fixed it

[2017-12-25 06:02] #30 closed

[2017-12-25 06:02] sw005320 commented on #19
#33 fixed this issue.

[2017-12-25 06:02] #19 closed

[2017-12-25 06:58] ShigekiKarita opened #34 "Code linters"
Although @kan-bayashi cleaned up some lines in #25 , we still have bad lines

[code]

Do you think it's time to wake up these linters in .travis.yml?

https://github.com/espnet/espnet/blob/d50a8c2f2377fbe12c013edb3ef598f25d499fe1/.travis.yml#L26-L32

[2017-12-25 06:59] sw005320 commented on #34
I like your idea. Let's do it.

[2017-12-25 07:01] ShigekiKarita commented on #34
Because there are many bad lines, I will work on src/bin, src/nets and test at first.

[2017-12-25 07:03] sw005320 opened #35 "Toward a stable version"
I think we have fixed many issues, and we can add a version 1.0 (or 0.1) as a stable version.
Toward that we need to finish

- [ ] VGG2L for pytorch by @ShigekiKarita
- [x] AN4 recipe by me
- [x] AMI recipe
- [x] swbd recipe
- [x] fisher_swbd recipe
- [x] LM integration @sw005320
- [x] Attention/CTC joint decoding @takaaki-hori
- [x] End detection
- [ ] Documentation by @sw005320 @kan-bayashi
- [x

[2017-12-25 07:04] ShigekiKarita commented on #34
And E501 is also too much for current codes. I ignore it now.

[2017-12-25 07:05] kan-bayashi commented on #34
If you use nice editor such as vim, we should use syntactic plugin (pycodestyle, pyflakes, ...) to keep the pep8.

[2017-12-25 07:06] ShigekiKarita commented on #34
that is right. I'm using PyCharm that also help pep8

[2017-12-25 07:07] sw005320 commented on #34
@kan-bayashi do you want to fight with me (not only me, but 100 billion emacs users)? BTW, I'm kind of switching to pycharm for this development.

[2017-12-25 07:12] ShigekiKarita commented on #34
@sw005320 this is good for my emacs https://melpa.org/#/py-autopep8

[2017-12-25 08:16] sw005320 commented on #18
@ShigekiKarita I've finished the an4 example. I don't tune the performance so much, but I think it would be okay for the test purpose.

[2017-12-25 08:32] ShigekiKarita commented on #18
Thanks!

[2017-12-25 09:07] ShigekiKarita commented on #34
I think it is ready to unleash the linters in #37  but three things have been ignored yet

[code]

https://github.com/ShigekiKarita/espnet/blob/08104b080a56227a904c9e5c0a46412770294ffe/setup.cfg#L6-L10

1. `H102  Apache 2.0 license header not found`  I do not know how to deal
2. `max-line-length = 120` it can be painful to limit line-length to 79 chars
3. `exclude = src/utils` I did not touch this

[2017-12-25 13:31] sw005320 opened #38 "deeper better"
My previous experiments show that deeper encoders always yielded better performance (up to 10-12). @kan-bayashi could you perform such experience for CSJ, TEDLIUM, and Voxforge? I'll do it for CHiME-4, HKUST, and WSJ. Then, we can find optimal elayers and update run.sh and RESULTS. Now it's time to tune the performance. If GPUs are available, we should try it for both chainer and pytorch.

- [x] C

[2017-12-25 15:50] kan-bayashi commented on #38
@sw005320 After finishing #4, I will do it.

[2017-12-26 05:34] kan-bayashi commented on #35
At least, we should add docstring for `src/nets`.

[2017-12-26 05:37] ShigekiKarita commented on #35
I agree. Type (class) and shape are essential information for everyone.

[2017-12-26 08:29] kan-bayashi commented on #38
In the case of deeper encoder with blstmp, how do we perform subsampling?

[2017-12-26 09:10] kan-bayashi commented on #38
@sw005320 With the large encoder, out-of-memory error will happen.
Do you have any nice idea to adjust the parameters `maxlen_in` and `maxlen_out`?

[2017-12-26 12:24] #29 closed

[2017-12-26 13:11] sw005320 commented on #38
Please just try elayers from 4 to 6. I had vanishing gradient issues in 8 and more in this implementation (I did not observe it before). We may need to add residual connections. I think 4 to 6 does not have significant memory gains, and you can run it.

[2017-12-26 13:21] ShigekiKarita commented on #38
@sw005320 Maybe this is not relevant to that vanishing gradient.

I found that current chainer implementation do forget_bias=1.0 only in Decoder (default of L.StatelessLSTM). Have you try such a initialization in Encoder (not default of L.NStepLSTM)?

[2017-12-26 13:24] sw005320 commented on #38
forget_bias=1.0 does not always have better results based on the discussions with my friends, and I haven't tried it personally.

[2017-12-26 22:28] sw005320 commented on #38
4 -> 6 layers has some improvement in the WSJ recipe.
We may try it to the other recipes.
See #43

[code]

[2017-12-27 05:20] kan-bayashi commented on #38
In the case of voxforge recipe, large encoder is not so effective.
When`elayers=6`, it seems to need more epochs (see below figure)

## results
[code]
## acc plot with `elayers=5`
<img width="755" alt="2017-12-27 2 19 36" src="https://user-images.githubusercontent.com/22779813/34371479-061b2542-eb11-11e7-8443-4cc0eddd2e5a.png">

## acc plot with `elayers=6`
<img width="756" alt="2017-12-27 2 18 04

[2017-12-27 14:43] sw005320 commented on #38
ok
this task is relatively small and we may not have a benefit of deeper layers.
can you also check the result of elayers=4 with various search parameters and udate run.sh and RESULTS with the best setup?

[2017-12-27 20:21] sw005320 commented on #38
4 -> 6 layers has some improvement in the CHiME-4 recipe.
See @ #45
[code]

[2017-12-27 20:48] sw005320 commented on #35
Frankly, I don't have so much experience, and if @kan-bayashi initiates this, I'll follow you and add/modify/enhance the document.
Also, we should make a webpage somewhere.
Do you have any idea (just using github website host service?)?

[2017-12-27 21:52] sw005320 commented on #35
The implementation of the end detection is finished #46

[2017-12-27 22:51] sw005320 commented on #35
@ShigekiKarita I'm thinking of implementing the LM integration. This is performed by modifying an existing chainer's ptb recipe to train an LSTMLM (https://github.com/chainer/chainer/blob/master/examples/ptb/train_ptb.py). Then, integrate LSTMLM with our main E2E. Can I ask you to make pytorch version of the training part later? Once you make the LSTMLM training part, I can implement the pytorch i

[2017-12-28 02:10] ShigekiKarita commented on #35
@sw005320 It sounds nice. I like the separate ways because I'll be little bit away from here on a few weeks around Jan 1st but I will keep on watching and discussing with you.

And you can find PTB example in pytorch here https://github.com/pytorch/examples/tree/master/word_language_model

[2017-12-28 02:29] #34 closed

[2017-12-28 02:29] #18 closed

[2017-12-28 02:29] #9 closed

[2017-12-28 06:56] kan-bayashi commented on #38
From the results, the best `minlenratio` is 0.2 for voxforge recipe.
I will show the results w.r.t. elayers.
## `elayers=4`
[code]

## `elayers =5`
[code]

## `elayers=6`
[code]

And in the case of `elayers=6`, it requires around 30 epochs to converge (see below figure).
![img077](https://user-images.githubusercontent.com/22779813/34402804-7ea2d538-ebe7-11e7-81f8-30c4057fa1e0.jpg)

Consequently, I

[2017-12-29 01:14] sw005320 commented on #14
I found that the Unicode issue is affected by `LC_ALL=C` in `path.sh`, which causes issues even we use Python 3. we need some investigation.

[2017-12-29 01:36] ShigekiKarita commented on #14
could you share a snippet of LC_ALL affected one ? maybe we can avoid it by unsetting within python
[code]

[2017-12-30 09:00] sw005320 commented on #35
Which is easier for you to port to the pytorch-backend LSTMLM training?
https://github.com/chainer/chainer/blob/master/examples/ptb/train_ptb.py
or
https://github.com/chainer/chainer/blob/master/examples/ptb/train_ptb_custom_loop.py

[2017-12-30 09:23] ShigekiKarita commented on #35
I prefer the manual training loop because this trainer uses device operations inside it unlike e2e_asr_train.py (instead of the trainer, `model.__call__` does)

[2017-12-30 09:24] sw005320 commented on #35
Thanks.
This is my expectation.
I'll work on it.

[2018-01-04 09:02] kan-bayashi commented on #38
CSJ recipe result.

## Chainer backend
[code]

## Pytorch backend
[code]

I will change default parameters.

[2018-01-04 19:30] sw005320 commented on #35
@ShigekiKarita, @takaaki-hori and I discussed the possibility of implementing attention/CTC joint decoding, but it seems that warp_ctc does not provide enough interface to compute CTC scores efficiently. @takaaki-hori will explain it a bit more detail, but we may think to implement re-scoring rather than joint decoding.

[2018-01-05 07:27] ShigekiKarita opened #57 "Automatic doc build & deploy based on Travis-CI and travis-sphinx"
Manual deploy is troublesome. I've already tested [travis-sphinx](https://github.com/Syntaf/travis-sphinx)  that automates sphinx-doc build & gh-pages deploy with Travis-CI.

- [.travis.yml](https://github.com/ShigekiKarita/espnet/blob/master/.travis.yml#L46)
- [gh-pages](https://shigekikarita.github.io/espnet/apis/nets.html#nets.e2e_asr_attctc.Encoder)
  - I confirmed that my fix of typo `ENCODER

[2018-01-05 08:44] kan-bayashi commented on #57
Thanks @ShigekiKarita !
It is what I wanted :)

[2018-01-05 08:48] kan-bayashi commented on #38
Tedlium results with pytorch.
I will update the default parameters.
[code]

[2018-01-05 20:44] sw005320 commented on #38
Thanks @kan-bayashi .
We finished our initial goal, and I close this issue.

[2018-01-05 20:44] #38 closed

[2018-01-05 21:08] #57 closed

[2018-01-13 01:25] sw005320 opened #65 "chainer2pytorch"
I'm thinking making a simple converter from chainer-based rnnlm to pytorch, rather than make a pytorch version of a rnnlm training script equivalent to the chainer version. I found https://github.com/vzhong/chainer2pytorch, which seems to be a good example for it. What do you think? @ShigekiKarita, do you have some comments? #53

[2018-01-15 18:33] takaaki-hori commented on #35
@sw005320 , @ShigekiKarita , I added attention/CTC joint decoding and tested with Voxforge and WSJ.
I got some CER reduction (14.7->12.5 in Voxforge and 5.9->5.5 in WSJ), where I used decoding options "--minlenratio 0.0 --maxlenratio 0.0 --ctc-weight 0.3"
Can you take a look at the code and try it with other tasks? To test it, you first need to move to "joint-decoding" branch, and add "--ctc-weigh

[2018-01-16 16:05] sw005320 commented on #35
Great Hori-san. I'll review it. BTW, I'm also about to finish the LM integration and prepare to commit it (CER 5.9 -> 5.3, WER 18.0 -> 14.7 in the WSJ task).

[2018-01-18 03:43] ShigekiKarita commented on #65
It looks nice. I'm also thinking about such a unification. RNNLM is a good start because it is simple indeed.

For long term usage, there can be some hope in ONNX but not matured yet.
+ https://chainer.org/general/2018/01/17/onnx-support-by-chainer.html
+ http://pytorch.org/docs/master/onnx.html

[2018-01-18 04:15] ShigekiKarita commented on #65
I mean when chainer supports RNN onnx ops, it is done.  now
+ pytorch is ready (see "The operator set above is sufficient to export the following models:") http://pytorch.org/docs/master/onnx.html#supported-operators
+ chainer is not ready yet https://github.com/chainer/onnx-chainer#connection

[2018-01-18 18:32] sw005320 commented on #65
@unnonouno do you have comments on a schedule of ONNX RNN support in chainer?

[2018-01-19 06:36] mitmul commented on #65
@sw005320 I'm working on ONNX-Chainer, but not yet started making RNN exporting. Because there are several difficulties like how to detect the RNN block from the resulting computational graph generated by Chainer, etc. Could you make an issue in [chainer/onnx-chainer](https://github.com/chainer/onnx-chainer) repository? Let's discuss the design and so on there.

[2018-01-26 04:26] sw005320 commented on #35
Guys, by combining LSTMLM and joint attention/CTC decoding, we finally get CER 5.3 -> 3.8, WER 14.7 -> 9.3 in the WSJ task!!! The nice thing is that we don't have to set min/maxlength and penalty (all set to 0.0), while we might need to tune the CTC and LM weights (0.3 and 1.0, respectively, see #76).
@kan-bayashi, can you play with LSTMLM and joint decoding with the TEDLIUM recipe? You can train

[2018-01-27 03:45] kan-bayashi commented on #35
@sw005320 Great result! I will do it.

[2018-01-29 09:44] kan-bayashi opened #78 "wrong symlink to best model in lm_train.py"
`lm_train.py` wrongly makes symlink to best model.
[code]
I think above code should be as follows
[code]

[2018-01-29 15:11] #78 closed

[2018-01-29 21:14] sw005320 commented on #35
I just added the fisher_swbd recipe. The results will be added later. Also, I finished Librespeech experiments with pytorch, and we got 7.7% WER for clean conditions. This is not bad. I'll work on making a language model training script for pytorch. Then, we'll have some more improvements in the Librespeech and fisher_swbd recipes, like the WSJ case.

[2018-01-31 10:24] lahirufano opened #82 "Chainer or Pytorch"
Hi All,

Is it possible to use only Pytorch as the backend? If not, could someone tell me the purpose of having two deep learning frameworks?

Thanks,
Lahiru

[2018-01-31 17:49] sw005320 commented on #82
The current main programs uses chainer trainer/reporter functions, and it is not easy to make it run only with pytorch.

We're thinking of making these backends in more separately ways, but currently there are two reasons that these programs are in this shape.
1) we first made ESPnet with chainer, and added pytorch backend. We already had solid numbers with chainer, and wanted to reproduce the sam

[2018-02-01 09:07] lahirufano commented on #82
Thanks for your detailed explanation Shinji. I think it'll be more attractive if these two backends are more independent.

I recently read your journal paper on Hybrid CTC/Attention for E2E ASR, and currently looking to build some baselines and then to investigate research directions.

Moreover, I like espnet's decision to stick with Kaldi for data prep. This allows us to easily built-in Kaldi too

[2018-02-01 10:54] sw005320 commented on #82
Thanks, Lahiru for your feedback. We'll definitely work on it in near future. Yes, this tool is a kind of Kaldi spin off, and we'll keep this style.

[2018-02-02 08:42] kan-bayashi commented on #35
The results of tedlium with ctc joint decoding and lm rescoring are as follows:
[code]
for dev set, CER 12.6 -> 10.8, WER 24.8 -> 19.8
for test set, CER 11.9 -> 10.1, WER 23.4 -> 18.6

[2018-02-02 13:15] sw005320 commented on #82
@ShigekiKarita @takaaki-hori @kan-bayashi , I think it's time to consider some refactoring. How do we proceed? I'm thinking of making a tag on the current version as a kind of stable version, as we almost finished all items in #35. Then, move to refactoring. Do you have any suggestions on it? @lahirufano, of course we welcome your input.

[2018-02-03 15:56] sw005320 commented on #35
It seems that #85 solves randomness issues in the pytorch backend.

[2018-02-10 03:18] kan-bayashi commented on #35
Updated CSJ recipe results (#91).
[code]
task: (vggblmsp) -> (+ctc joint) -> + (lm rescoring)
eval1 : 10.2 -> 9.7 -> 8.8
eval2: 7.5 -> 6.9 -> 6.2
eval3: 8.0 -> 7.5 -> 7.0

[2018-02-12 18:18] sw005320 opened #96 "chainer_ctc installation"
@jheymann85, I have the following error message when installing it. Do you have any ideas?
[code]

[2018-02-12 18:56] takaaki-hori opened #97 "Travis CI (error: travis-sphinx build)"
@kan-bayashi @ShigekiKarita @sw005320
I got the following error message when testing my pull request #95 with Travis CI.
Do you have any ideas to pass this test?

$ travis-sphinx build --source=doc --nowarn
Traceback (most recent call last):
  File "/home/travis/virtualenv/python2.7.14/bin/travis-sphinx", line 11, in <module>
    sys.exit(main())
  File "/home/travis/virtualenv/python2.7.14/lib/py

[2018-02-12 20:39] jheymann85 commented on #96
Hm, seems to be an issue with Cython, does it work if you delete this line: https://github.com/espnet/espnet/blob/master/tools/Makefile#L42 ?

[2018-02-12 23:48] sw005320 commented on #96
It does not solve my issue. BTW, the conda version (`make -f conda.mk`) seems to work. It might be an issue of a system python in the CLSP cluster. We may think of only using the conda version. @ShigekiKarita, what do you think?

[2018-02-13 00:31] sw005320 commented on #96
I think I solved the issue by upgrading `setuptools`. I'll add `setuptools>=38.5.1` in `requirements.txt`.

[2018-02-13 01:49] kan-bayashi commented on #97
@takaaki-hori This error caused by the new version Sphinx (1.7>=).
It can be solved by modifying `doc/requirements.txt` as follows:
[code]

[2018-02-13 02:50] sw005320 commented on #97
thanks. can you push this in the main repo?

[2018-02-13 12:13] sw005320 commented on #97
It seems that #98 fixed this issue, and I close it.

[2018-02-13 12:13] #97 closed

[2018-02-14 00:45] sw005320 commented on #96
I believe #99 fixed the issue.

[2018-02-14 00:45] #96 closed

[2018-02-17 15:25] sw005320 opened #104 "Multiple GPU supports"
It seems that we can easily use multiple GPUs (data parallel) with chainer trainer. I want someone to consider this extension. Several tasks (e.g., Librispeech) take around one week, even with the pytorch backend (although this is still quite fast). With this extension, we could finish such tasks only within a few days.

[2018-02-17 15:27] sw005320 commented on #35
I think we almost finish all our targets except for VGG (@ShigekiKarita is this still difficult?). After refactoring #102, we can move on to a next development plan.

[2018-02-21 01:24] ShigekiKarita commented on #35
Yes, it is still difficult. I hope that someone else also takes a look at the connection part between VGG and BLSTMP.

[2018-02-21 02:55] sw005320 commented on #35
@ShigekiKarita, did you specify the that problem is the connection part? You mean VGG and BLSTMP themselves are correct?

[2018-02-21 03:13] ShigekiKarita commented on #35
Yes. For BLSTMP, experimental results are equal as seen in #9 . For VGG, chainer/pytorch impls show equal activations and gradients when all the parameters initialized with contantats w[:]=1 and b[:]=0 (without random values) #47. https://github.com/ShigekiKarita/espnet/blob/2a44f292d44c9e23c6ac8e24ea7eb9e2c64b0cb8/test/test_vgg.py

Hence, the last part is the connetion between VGG and BLSTMP.

[2018-02-21 04:54] kan-bayashi commented on #82
To use the current version, it is necessary to update warp_ctc.
[code]

[2018-02-21 04:57] kan-bayashi commented on #35
To use current version, we have to update warp-ctc (#105).
Please try following commands to update.
[code]

[2018-02-21 14:04] geniki commented on #35
Is the pytorch version of the LM integration a priority for this stable version?

Many thanks for the great repo.

[2018-02-21 14:06] sw005320 commented on #35
@kan-bayashi is considering it. It is not super high priority for now, but anyway we're working on it.

[2018-02-22 20:37] sw005320 commented on #104
#107 is dealing with it in the pytorch backend.

[2018-02-24 13:37] kan-bayashi commented on #104
For chainer (#109 )
It works but super lower gpu-utils :(

[2018-02-24 18:07] ShigekiKarita commented on #104
Have you linked cupy with [NCCL2](https://developer.nvidia.com/nccl)? It might not be enabled by default http://docs-cupy.chainer.org/en/stable/install.html#install-cupy-with-cudnn-and-nccl
On the other hand, pytorch is linked with NCCL2 by default (pip/conda).

[2018-02-24 18:08] ShigekiKarita commented on #104
http://docs-cupy.chainer.org/en/stable/install.html#id3

Oops, cupy does not support NCCL2

[2018-02-25 01:10] kan-bayashi commented on #104
@ShigekiKarita Thank you for your information.
And I noticed that I used `ParallelUpdater` but we should use `MultiprocessParallelUpdater`.

[2018-02-26 09:55] kan-bayashi commented on #104
I checked training time of CSJ recipe when using  `MultiProcessParallelUpdater`.
[code]
I think it is nice :)
And I also checked the performance, it is almost same as that with single gpu. (slightly better)
[code]

[2018-02-28 21:04] arnold36 commented on #82
Could you please look into the resume training option for PyTorch that is not currently implemented (https://github.com/espnet/espnet/blob/master/src/asr/asr_pytorch.py#L218)? Does this mixed backend create an issue for resuming training in PyTorch?

[2018-03-01 10:02] lahiruts commented on #14
Is it possible to have a readme file with the changes necessary to the master when someone want to use espnet using python 3?
I believe the recommended version to use is python 2.7?

[2018-03-01 20:39] sw005320 commented on #82
@bobchennan has a similar problem and try to fix it. @kan-bayashi, do you use this resume function?

[2018-03-01 20:41] sw005320 commented on #14
Thanks, I will add it. Our travis CI actually checks both python 2.7 and 3.6 , and basic parts should be OK, but I don't fully test both cases.

[2018-03-01 20:45] sw005320 commented on #14
@kan-bayashi, I think you're using python 3, right? Do you have any issues now?

[2018-03-01 20:58] ShigekiKarita commented on #14
I'm also using python3. I have known some issues like

- if kaldi installs python2 under tools (it can be happen when your python is 3), path.sh prefer kaldi’s python
- makefile has some hard coded lines like venv/lib/python2.7
- some utill scripts still have `#!/usr/bin/env python` but it should be `#!/usr/bin/env python2` because it is not compatible to python3 and do not use third party modules

[2018-03-01 21:12] ShigekiKarita commented on #14
TravisCI should use tools/Makefile to setup but kaldi is a problem. It took too long time to install and there is no test requires  kaldi when I setup the CI. I think Makefile
 should skip the kaldi build under the CI somehow.

I think many users do not compile kaldi everytime , they might put a link in tools/kaldi or install via conda

[2018-03-02 10:40] lahiruts commented on #14
@ShigekiKarita you are correct. I also use a link to my Kaldi installation under the tools folder.

[2018-03-10 02:55] sw005320 opened #115 "warpctc issue"
It seems that warpctc is not correctly installed, which makes travis check failed.

[2018-03-10 03:01] ShigekiKarita commented on #115
maybe we have to fix the warpctc version by git submodule. breaking change
of warpctc happens too frequently for us. do you agree?

2018/03/10 11:55 "Shinji Watanabe" <notifications@github.com>:

[2018-03-10 03:07] sw005320 commented on #115
Yes. BTW, I used to use hash to manage this kind of problems, but git submodule has more benefit?

[2018-03-10 03:12] ShigekiKarita commented on #115
Do you use hash only for detecting change? Git submodule is used for git
clone & checkout the specific commit.

2018/03/10 12:07 "Shinji Watanabe" <notifications@github.com>:

[2018-03-10 03:17] ShigekiKarita commented on #115
If you mean 'hash' as git commit id, git submodule is same basically.

2018/03/10 12:12 "Karita Shigeki" <shigekikarita@gmail.com>:

[2018-03-10 03:18] sw005320 commented on #115
Yes, I'm talking about SHA1 hash

[2018-03-10 04:31] ShigekiKarita commented on #115
BTW we should follow the latest warpctc version because it fixed the length / batch normalization that we patched in espnet.

[2018-03-10 04:32] r9y9 commented on #115
What errors are you seeing? It would be nice to report it to https://github.com/SeanNaren/warp-ctc/issues.

[2018-03-10 04:37] ShigekiKarita commented on #115
@r9y9 there are two errors
- python2 cannot import warpctc https://travis-ci.org/espnet/espnet/jobs/351600502#L843
- our patched normalization conflicts to the warpctc_pytorch update https://travis-ci.org/espnet/espnet/jobs/351600503

the first one might related to your PR? https://github.com/SeanNaren/warp-ctc/pull/27

[2018-03-10 04:46] r9y9 commented on #115
@ShigekiKarita Thanks, I was thinking I fixed a py2 issue... I will take a look later today for the first one.

[2018-03-18 02:09] r9y9 commented on #115
@ShigekiKarita Sorry, that was my fault. The import error should be fixed by https://github.com/SeanNaren/warp-ctc/pull/31

[2018-03-18 03:18] ShigekiKarita commented on #115
@r9y9 great! we will fix our normalization issue.

[2018-03-20 10:47] r9y9 commented on #115
@ShigekiKarita https://github.com/SeanNaren/warp-ctc/pull/31 PR was merged. Please let me know if it doesn't work.

[2018-03-26 02:18] lahiruts commented on #104
This gain is great.  When can we expect it to be merged?

[2018-03-27 17:34] sw005320 commented on #104
We're in the Interspeech mode, but we'll be back to the normal. Thanks for ping it! @bobchennan and @kan-bayashi, let's discuss it. I'll first discuss it with @bobchennan, and then share the idea to @kan-bayashi.

[2018-03-28 14:16] sw005320 commented on #35
@geniki We have finished the pytorch LM integration #114

We have finished the most of action items. I'll close this issue.

[2018-03-28 14:16] #35 closed

[2018-03-28 18:42] m-wiesner opened #123 "Pytorch RNNLM Without CTC"
When CTC weight is 0, RNNLM is not used.

[2018-03-28 18:55] sw005320 commented on #123
Thanks for the report. I'm trying to find it, but could you give me more input? Then, I could figure out what happens.

[2018-03-29 00:24] m-wiesner commented on #123
In recognize_beam() local_scores is initially set properly. However, the next line has a condition asking whether ctc is used in decoding. If it is used, things seem fine, however if the condition evaluates false then local_scores is reset by the last line that I pasted below.

if rnnlm:
                    rnnlm_state, z_rnnlm = rnnlm.predictor(hyp['rnnlm_prev'], vy)
                    local_lm_

[2018-03-29 07:14] ShigekiKarita commented on #115
I will update warp-ctc to HEAD after merging Makefile in #125

[2018-03-29 17:04] shrutijpalaskar commented on #123
I've observed the same thing

[2018-03-29 22:43] sw005320 commented on #123
Just make sure. This only happens in the pytorch, right? I think I can fix it.

[2018-03-30 00:13] sw005320 commented on #123
Can you test it?
We've finished #126

[2018-04-03 19:56] sw005320 commented on #123
This seems to be solved.

[2018-04-03 19:56] #123 closed

[2018-04-04 14:35] sw005320 commented on #65
Now we have RNNLM implementation for both chainer and pytorch. We still need such conversions, but close this issue for this particular RNNLM purpose.

[2018-04-04 14:35] #65 closed

[2018-04-06 22:58] sw005320 opened #133 "New development plan"
I'm now managing several development plans upon requests.
Please feel free to ask us any functions that you feel it is beneficial for your research.
What I got requests so far are

- Fix VGG-BLSTM in PyTorch
- Generalize to accept multiple input/output streams
- Back compatibility
- Add unidirectional LSTM layer in the encoder
- Output attention weights
- Output more detailed decoder information (

[2018-04-09 08:57] kan-bayashi commented on #104
@lahiruts It is merged. Please give a feedback if there is an issue.

[2018-04-09 18:57] shrutijpalaskar opened #135 "WER increases with increasing beam size, and with including LM"
Hello,

I am running experiments with the WSJ corpus using PyTorch. I only use the seq2seq part of the code with --mtlalpha set to 0. During decoding, even without a language model, the CER, WER with greedy decoding is best and increasing the beam size only leads to increased errors.

Upon LM training on the WSJ corpus, the best model perplexity reached is:
[code]

And decoding with including such

[2018-04-10 06:02] lahiruts commented on #104
@kan-bayashi  thanks. I tried to run the HKUST setup with 4 GPUs.  I ran into following error. I am using Chainer 3.5.0. What version are you using? Thanks.

Error is given below:

asr_train.py --ngpu 4 --backend chainer --outdir exp/train_nodup_sp_vggblstmp_e8_subsample1_2_2_1_1_unit320_proj320_ctcchainer_d1_unit300_location_aconvc10_aconvf100_mtlalpha0.5_adadelta_bs120_mli800_mlo150/results --de

[2018-04-10 09:05] lahiruts commented on #104
This issue was due to a problem with cuda configuration in my machine. Now it is fixed. I am running the HKUST set up now.

thanks!!

[2018-04-10 17:07] sw005320 commented on #135
Thanks for your report.
Yes, it must be a bug.
I'll check it soon.

[2018-04-11 23:07] sw005320 commented on #133
We (@arendo and @m-wiesner) are planning to add speech translation recipes.

[2018-04-15 17:25] sbhamad opened #141 "Mobile inference and training?"
Hi ESPNet,

I wonder if i could deploy my Chainer trained ESPNet model on mobile devices for on-device inference?

On-device training would be amazing, but inference would do for now.

Thanks

[2018-04-16 14:05] sw005320 commented on #141
I think this is no problem.
Please let me know if you need some help.

Shinji

[2018-04-16 14:31] saeedbinhamad commented on #141
I just need to know the best practice for deplpying a chaner model on mobile.

Shall i use onnx or what

[2018-04-17 14:01] sw005320 commented on #96
Do you have the exactly same error message? Can you put it here?

[2018-04-17 19:17] Fhrozen commented on #141
Using ONNX will be the best practice. There is an example for pytorch (https://discuss.pytorch.org/t/onnx-deploying-a-trained-model-in-a-c-project/9593/2) that can be easily use for any deep learning framework.

[2018-04-18 01:38] shunfeichen commented on #96
Sorry, I can't download the error message? I have two errors when installing. Fisrtly, when installing cupy, it have the following error message:
File "build/bdist.linux-x86_64/egg/setuptools_cython.py", line 21, in <module>
    AttributeError: 'module' object has no attribute 'Distutils'
Secondly, when installing chainer_ctc, it have the following error message:
File "build/bdist.linux-x86_64/egg

[2018-04-18 06:32] ShigekiKarita commented on #135
@shrutijpalaskar  I will try to reproduce this. Could you share us your decoding parameters (e.g., beam size, lmweight) and results (e.g., CER, WER)?

[2018-04-18 23:58] shrutijpalaskar commented on #135
@ShigekiKarita thank you for looking into this. The parameter values are as follows:

backend = pytorch
mtl alpha = 0
etype = blstmp
bs = 48
ls = unigram 0.05
beam size = 20
penalty = 0.0
max min ratio = 0.0, 0.0
ctc weight = 0
rnn_lm weights = 0.0, 0.3 and 1.0

And the results where we see that adding LM worsens performance are as follows:
** dev93 **
1. decode_test_dev93_beam20_eacc.best_p0.0_le

[2018-04-19 00:09] ShigekiKarita commented on #135
@shrutijpalaskar thanks

https://github.com/espnet/espnet/blob/4d6b1ecb430aa1701ffc6f4ad9f6d2c9b26428d4/src/nets/e2e_asr_attctc_th.py#L1725-L1726

as you can see here, lm_weight=1.0 ignores encoder-decoder score. i.e. no speech inputs. so larger LM weight does not always improve ASR because it is just a kind of hyper parameter.

btw, could you share us the results with larger beam-sizes? I hope th

[2018-04-23 20:58] sw005320 commented on #135
This is the case without beam search (greedy search). It seems that I did not use the same way for `recog_args.lm_weight` between beam search and greedy search. I'll fix it.
Also, I'll check @m-wiesner's report for the bug in the greedy search.

[2018-04-24 08:50] ASLPZHAO commented on #104
How to specify the GPU id? @lahiruts

[2018-04-26 04:56] kan-bayashi opened #143 "Need modification to be compatible with pytorch v0.4"
Hi all,

Pytorch is updated to version 0.4.
It requires some change to migrate from 0.3.1 to 0.4.
See detail from following url.
<http://pytorch.org/2018/04/22/0_4_0-migration-guide.html>

[2018-04-26 04:57] weiwchu commented on #104
I have two questions here:

**1.** @kan-bayashi It is great you added this multi-gpu support. **But I met an issue as mentioned below:**

I am running the Librispeech recipe. I kept all the parameters in the run.sh as default, only changed the backend from PyTorch (1GPU) to Chainer (3GPU), my estimated training time raised from 7 days to 10 days (supposed to be 7/3 ~= 2 days). The GPU usages are f

[2018-04-26 05:09] sw005320 commented on #104
Pytorch Multi-GPU support is almost ready. @bobchennan is working on at #107, and today we fixed several issues and now we're testing it (problem is that our cluster is super busy this week, and I cannot get multiple GPUs...), and will merge it tomorrow (hopefully 😀).
Thanks for your help.
If you take a look at #107 and review the code, that is great.

[2018-04-26 05:15] sw005320 commented on #104
Did you increase the batch size?
If you use 3 GPUs, you can increase the batch size x3.

[2018-04-26 06:11] weiwchu commented on #104
I did not. I am giving it a try. The initialization is a bit slow. Will see what happens tomorrow morning.

I will for sure! Thanks.

[2018-04-26 07:26] kan-bayashi commented on #104
@sw005320 @weiwchu Thank you for you report.
Which is better, automatically increasing batchsize or manually increasing it?

[2018-04-26 11:42] sw005320 commented on #104
@kan-bayashi, I was actually confused in the first time. There are two examples. So, I think it is better to automatically increasing batchsize.
Also, can you add a document about the following in README?

[2018-04-26 19:37] sw005320 opened #146 "Babel recipe"
We're planning to create a babel recipe for jsalt18.

[2018-04-27 02:35] kan-bayashi commented on #104
@sw005320 I fixed to automatically increase batchsize (see #148).

[2018-04-27 02:59] kan-bayashi commented on #104
@weiwchu @sw005320 I re-checked the effectiveness of chainer multi-gpus with voxforge recipe.

- Signle GPU
[code]

- 3GPUs
[code]

I think this is reasonable.

[2018-04-27 12:45] sw005320 commented on #146
@m-wiesner, please proceed with it. This should not be so difficult.

[2018-04-28 01:54] sw005320 commented on #143
This actually causes a problem when we install warp_ctc. @ShigekiKarita, can you fix it?
Easy solution is
[code]

[2018-04-28 01:59] sw005320 commented on #135
@m-wiesner, At least the problem of the beam size 1 would be fixed at #149.
@shrutijpalaskar, I'll now move on your problem. Sorry for my late response.

[2018-04-28 02:57] sw005320 opened #150 "warp_ctc in chainer as default?"
warp_ctc has some speed benefits, but most of recipes use chainer_ctc as default. So, probably, we should switch to use warp_ctc in chainer as default.
Also, pytorch uses warp_ctc, and we can make chainer and pytorch more consistent.
@jheymann85, @ShigekiKarita, @kan-bayashi, do you agree?

[2018-04-28 04:47] shrutijpalaskar commented on #135
Thanks a lot for looking into it @sw005320

I will get the results for varying beam sizes this weekend.

[2018-04-28 07:16] jheymann85 commented on #150
Yes, sounds reasonable

[2018-05-01 11:42] sw005320 commented on #146
#151

[2018-05-03 19:37] sw005320 commented on #150
My hesitation is that the warp_ctc installation is unstable. Last few days, I was actually fighting with warp_ctc installation in our new environments. I think we need some improvements on the installation.

[2018-05-04 13:55] chiayuli opened #154 "unexpected keyError during decoding"
Hi all,
I'm the beginner for ESpnet and I followed the instructions from ESpnet/egs/wsj/asr1/run.sh
the training of language model and acoustic model looks fine,

export CUDA_VISIBLE_DEVICES=0 ; ./run.sh --ngpu 1 --backend pytorch --etype blstmp

but I face problem during decoding... the following message is from decode.2.log
Does anyone face the same problem ? Any suggestion will be appreciated.

[2018-05-04 20:05] sw005320 commented on #154
Does this only happen in `decode.2.log`, and others are fine? Then, I'm expecting this is just a problem of some accidental data access. If this always happens, it would be due to some bugs. Can you just re-run only decoding by adding the option of `--stage 5`?

[2018-05-04 21:09] sw005320 commented on #154
Thanks.
I'll check it.

[2018-05-05 03:17] sw005320 commented on #154
I did not test the completely same setup, but I did not observe the issue. The training may have some issues. Can you take a look at exp/.../train.log? Also, can you check the model exists at exp/.../results/model.acc.best ?

[2018-05-05 04:57] kan-bayashi commented on #154
@chiayuli @sw005320
This is caused by the `torch.nn.DataParallel`.
We have to change the saving function when using `DataParallel` as follows:
(This is from my another project's codes)
[code]

@bobchennan Coud you fix it?

[2018-05-05 07:08] chiayuli commented on #154
Thanks, I'll try it and feedback to you.

[2018-05-05 12:51] bobchennan commented on #154
Yes that is caused by DataParallel. I will fix it soon.

[2018-05-07 18:35] bobchennan commented on #154
@chiayuli new updates of #157 should fix it.

Still for PyTorch Multi-GPU I think there are some problems. I would suggest to merge with #155 and we may test it as soon as possible.

[2018-05-07 22:03] sw005320 opened #161 "Installation issues"
ESPnet has several installation problems (many people pointed out).
#125 is one possible solution, and @jtrmal also proposed a shell script as follows

So, I'd like to ask your opinions, and want to fix this at least in a month for the workshop activity.

[2018-05-09 01:40] kan-bayashi commented on #161
I’m not sure current installation problems, but shell script based installation is easy to understand fro me.

[2018-05-09 03:08] sw005320 commented on #161
I think we can at least check whether required modules are correctly imported after the installation by checking e.g., `python -c 'import chainer'`

[2018-05-09 10:05] sw005320 commented on #150
#165 changes warpctc as default.

[2018-05-09 10:05] #150 closed

[2018-05-10 12:04] sw005320 commented on #161
Thanks @kan-bayashi and @jnishi. @jtrmal, could you initiate to consider the shell based installation?

[2018-05-10 12:50] sw005320 commented on #161
Thanks @jtrmal

The installation problems we had so far in addition to @jnishi's points are:

1. when our environments are updated (gcc 4.X -> gcc 6.X, cuda8.0 -> cuda9.1), warp_ctc cannot be correctly installed (the test is failed), @bobchennan is that correct?
2. the installation of `conda.mk` is failed when pytorch is updated from 0.31 to 0.40, again due to warp_ctc

I'll add others once I came

[2018-05-10 13:13] bobchennan commented on #161
Yes for warp-ctc test_gpu will fail due to incompatibility. But we can ignore that error and continue the installation process.

[2018-05-10 20:11] weiwchu commented on #104
@kan-bayashi @sw005320 @bobchennan  The results are cool, here are some my results that I wish to share with you:
This is on Voxforge task, default settings, using chainer ctc, torch 0.3.1, commit d5f83a9 on May 2, 2018

PyTorch single GPU is ~20% faster than Chainer single GPU. But the multiple GPU case, PyTorch cannot accelerate as much as Chainer does (5% vs 40%).(I am sure PyTorch/Chainer) is

[2018-05-10 20:28] sw005320 commented on #104
Thanks for your report. @bobchennan actually fix the pytorch multiple GPU issues at #169. Now we'll get the multiple GPU benefit even for the pytorch backend. So, could you try it?

Now we can also support the pure CTC mode (training and decoding).
I added that function to the latest README (https://github.com/espnet/espnet#ctc-attention-and-hybrid-ctcattention).

In my setup, hybrid CTC/attention

[2018-05-10 20:37] bobchennan commented on #104
Yes #169 and #155 fixed problem of PyTorch Multi-GPU part. I tried to train on WSJ and it only took 4.3 hour using 2 gpu

[2018-05-11 10:21] brijmohan opened #172 "Need help to analyze the results"
Hi,

I am trying to optimize the MTL architecture for my data. I need help to analyze the errors made by the model. I wish to generate alignment between characters and acoustic frames as depicted in [this](https://arxiv.org/pdf/1609.06773.pdf) paper on page 4.

Can I use `att_c` and `att_w` variables [here](https://github.com/espnet/espnet/blob/master/src/nets/e2e_asr_attctc.py#L694) to generate t

[2018-05-11 12:13] sw005320 commented on #172
Yes, `att_w` is an attention weight for each output time, and you can produce the alignments in the paper by simply  (2d) plotting `att_w` for all output time. We initially prepared such functions, but deleted it for some reason. It is great if you implement it and put a PR about it.

[2018-05-12 05:47] weiwchu commented on #104
@bobchennan this is brilliant!

Btw, the code quit when running librispeech task. Data splitting issue. I fixed the code. Runs fine now.
Should I create a PR?

@sw005320 I found chainer-ctc is faster for multiple GPUs, but slower for 1 GPU, compared to warp-ctc.

[2018-05-12 12:56] sw005320 commented on #104
Yes, please!

[2018-05-12 17:05] pozhijisi commented on #161
I am trying to install ESPnet with a (full) anaconda environment and will provide the installation recipe if succeeded. I know virtualenv is used in many places in ESPnet, but the installation experience with anaconda may be much better.

[2018-05-14 04:20] Fhrozen opened #176 "Multi GPUs training freezes after first iter"
I found this error while I was training the network for CHiME5.

PC setup:
Server (CentOS) with nvidia K80 and docker environment.

It stops after reporting the mtl loss and do not update (I needed to stop one container after 2 days without any update).

I am not sure if this is related to the setup or chainer ver(4.0) or docker environment. I tested different models on chainer and docker single g

[2018-05-14 20:29] pozhijisi commented on #143
Is upgrading to 0.4.0 a desired change? It may lose the compatibility to earlier versions of pytorch. If this issue is no longer open, can you please close it? @kan-bayashi

[2018-05-15 02:03] weiwchu commented on #104
@sw005320  I will create a PR

I am trying the ctc model only.
[code]

And got this error:

[code]

I can see this code in asr_pytorch.py that model.load_state_dict is determined by model.conf. And my model.loss.best file does contain 'module.predictor.enc.enc1.bilstm0.weight_ih_l0' key. Does that mean I used you 'CTC mode' in a wrong way?

[2018-05-15 02:13] bobchennan commented on #104
#157 fixed it. It is one problem of multigpu. Update your code.

[2018-05-15 07:12] jtrmal commented on #161
I don't think we should support too many ways how to install packages. In that case, I'd suggest offloading the work to the user, asking him/her to install the packages using the system-preferred installer. There is simply too much variability for us to be able to handle all of them well.
it can be either conda or venv or anything else, but just a single package manager. The packages we installed

[2018-05-15 16:28] pozhijisi commented on #161
Yes, I partially agree with you that a single/uniform installation recipe should be enough. My concern is that using virtualenv may not be easy since itself may need root privilege to be installed. If you do not have the root privilege on a server/cluster, anaconda may generally be a better choice. I will recall my PR for now, but hopefully it may assist you in designing the installation script us

[2018-05-15 22:01] kan-bayashi commented on #143
@pozhijisi It's not desired change, but we have to move on pytorch v0.4 sooner or later due to the development of new functions.

[2018-05-15 22:53] sw005320 commented on #143
@arendu may comment about this. We had discussions about this today.

[2018-05-16 00:00] arendu commented on #143
pytorch 4 has some significant changes compared to 3... maybe best to update after the workshop?

[2018-05-16 03:36] kan-bayashi commented on #154
There is still an error when loading the model trained with multi-gpu.
[code]

This should be
[code]
I will make PR to fix it.

[2018-05-16 03:39] bobchennan commented on #154
It is included in #173 :

        for k, v in state_dict.items():
            if k.startswith("module."):
                k = k[7:]
            new_state_dict[k] = v

but I agree it is better to make a separate pull request and merge it as soon as possible.

[2018-05-16 03:47] kan-bayashi commented on #154
Oh sorry, I overlooked it.
I will merge fixing PR.

[2018-05-16 18:06] #146 closed

[2018-05-18 21:29] shrutijpalaskar commented on #135
Hello, @sw005320 @ShigekiKarita @m-wiesner,

Here are the results for varying beam size with WSJ. The error decreases till beam=5 and then increases with increasing beam size. The vertical axis shows character or word error rate and the horizontal axis shows beam size. My experiments parameters are:

backend = pytorch
mtl alpha = 0
etype = blstmp
bs = 48
ls = unigram 0.05
penalty = 0.0
max min rat

[2018-05-19 14:04] zbcy12 opened #180 "KeyError: 'missing keys in state_dict when decoding"
Traceback (most recent call last):
  File "/home/bing/espnet/egs/librispeech/asr1/../../../src/bin/asr_recog.py", line 117, in <module>
    main()
  File "/home/bing/espnet/egs/librispeech/asr1/../../../src/bin/asr_recog.py", line 111, in main
    recog(args)
  File "/home/bing/espnet/src/asr/asr_pytorch.py", line 391, in recog
    model.load_state_dict(remove_dataparallel(torch.load(args.model, m

[2018-05-21 15:02] sw005320 commented on #135
Thanks for the report! This is quite valuable analysis.
One thing I want to mention is that the wide beam without any decoding parameter tuning tends to provide crazy  results (this was solved by using a joint CTC/attention decoding or setting max min ratios). I need to take a look at your results in more details. Could you provide either WER/CER with substitution, deletion, and insertion rates at

[2018-05-22 13:36] hirofumi0810 opened #182 "CTC in pytorch 0.4 degrades the performance"
I have confirmed that the warpctc pytorch binding degraded the CTC performance after updating to pytorch 0.4.
In addition, surprisingly, when building the master branch of pytorch (0.5), the CTC performance degraded further.
This is consistent to my experiments with TIMIT and CSJ corpora.

Therefore, I strongly recommend using pytorch 0.3 until releasing the new version of warp_ctc.
There was no s

[2018-05-22 14:26] bhigy opened #183 "TypeError with pytorch backend: expected torch.FloatTensor (got torch.LongTensor)"
Hi everyone,

I tried to run voxforge baseline with the toolkit but I get following error when using pytorch backend (see [the log](https://github.com/espnet/espnet/files/2027079/train.log) for detailed error):
`TypeError: expected torch.FloatTensor (got torch.LongTensor)`

I found a way to correct this and will propose a bugfix.

Bertrand

[2018-05-22 16:41] #176 closed

[2018-05-22 16:46] Fhrozen opened #185 "Using NCCLv1.x instead of 2.x for chainer MultiGPU"
Hello there.

Just to notify that nccl 2x is not working with chainer when using multiple GPU. I tried installing version for cuda 9.0 and cuda9.2, but the Grad norm moves between inf to nan only when those version are used. This was only tested on versions installed with apt.
To work with multiple GPU, by the moment, build the nccl lib from the git (ver.1.x).

I would like to know if someone else

[2018-05-22 16:50] sw005320 commented on #185
Thanks. I'm actually using nccl_2.1.15-1+cuda8.0_x86_64 and did not have an issue. So, it would come from some specific versions/environments.

[2018-05-22 17:54] Fhrozen commented on #185
Some details of my environ:
- CUDA 9.0 (installed by apt)
- CUDNN 7.0 (installed by apt)
- Chainer, cupy == 4.0 (installed by pip)

 I did not try to download the file from the NVIDIA website, so I am not sure if this is just related to apt or NCCL or some setups in my PC. But after making from pip. I did not have any trouble.

[2018-05-22 20:04] sw005320 commented on #182
Thanks. Fortunately, the standard `Makefile` uses pytorch 0.3.1, and would not have serious problems. If we use `conda.mk`, it will be a deal (#143). This convinced me that we should keep to use pytorch 0.3 for a while.

[2018-05-22 21:13] sw005320 commented on #180
This might be related to #154, which was fixed by #178. Can you try it with the latest version?

[2018-05-23 00:16] zbcy12 commented on #180
I have tried both of them but I will check it again. This only happens when I use pytorch during decoding.

[2018-05-23 10:02] lahirufano commented on #185
When I try to use multi-gpu training it gets stuck.

Could anyone tell me the exact versions that are used to train with multiple GPUs for the code in master?

I tried with multiple versions for CUDA, CUDNN and NCCL with no success.  I appreciate if someone can list working versions for above mentioned tools.

[2018-05-23 11:31] Fhrozen commented on #185
Getting stuck when using multi-gpu is a problem with the configuration of the ACS (most of the time).
The short solution could be found in this link (https://github.com/NVIDIA/caffe/issues/10).
[code]
And more details about similar problem on different framkeworks can be found here (https://devtalk.nvidia.com/default/topic/883054/multi-gpu-peer-to-peer-access-failing-on-tesla-k80-/?offset=26 https

[2018-05-23 13:53] mpc001 opened #186 "exploding gradients"
Hi, when I tried playing with my own dataset at networking training stage, some warnings appear:

2018-05-23 13:05:04,260 (e2e_asr_attctc:88) WARNING: loss (=250000064.000000) is not correct
2018-05-23 13:05:12,361 (e2e_asr_attctc:88) WARNING: loss (=1500000000.000000) is not correct
2018-05-23 13:05:13,682 (asr_chainer:132) WARNING: grad norm is nan. Do not update model.
2018-05-23 13:05:14,925 (

[2018-05-23 15:40] sw005320 commented on #186
There are several options

1. You can ignore the warning. This tends to happen when the length of characters in transcriptions are shorter than the length of subsampled input features during the CTC computation. You may also review your input and output lengths.
2. You can disable CTC with `mtlalpha=0.0` and `ctc_weight=0.0`. Then you may need to tune the search parameters to correctly output deco

[2018-05-23 20:14] mpc001 commented on #186
Hi, @sw005320,

Thanks for your help.
The warning message from (e2e_asr_attctc) disappeared but there still is a message "grad norm showing nan. Do not update model." from asr_chainer.py after disabling CTC.

Do you have any suggestions in solving this issue? Many thanks!

[2018-05-23 21:13] sw005320 commented on #186
OK. If it does not appear so often, you can just ignore it. Unfortunately, this may happen especially when we use some irregular data. If it appears every iteration, you may need to check your own data.

[2018-05-24 08:13] lahirufano commented on #185
@Fhrozen You are correct. Disabling ACS resolved the issue. Thanks a lot!

[2018-05-24 11:01] bhigy commented on #183
Downgrading pytorch from version 0.4.0 to 0.3.1 solved the issue.

[2018-05-24 11:01] #183 closed

[2018-05-24 11:41] sw005320 commented on #185
Thanks @Fhrozen, can you add this description somewhere in README? (adding short descriptions and link to this issue is fine).

[2018-05-25 18:56] shrutijpalaskar commented on #135
hello @sw005320 here are the detailed results:

It has an increase in number of insertions as you said
CER Dev93:
[code]

WER Dev93:
[code]

CER Eval92:
[code]

WER Eval92:
[code]

[2018-05-25 21:50] sw005320 opened #191 "pytorch GPU memory full error at validation"
I don't know why, but the pytorch backend uses a lot of GPU memory during validation (**which should not be**), and fails with an error due to the out of memory.
This is a librispeech task, and used to be working without such issues.
Can someone fix it?

[code]

[2018-05-26 07:32] kan-bayashi commented on #191
@sw005320 Could you test this patch? (#192)

[2018-05-28 10:00] lahirufano commented on #104
I see that the accuracy is low when training using multiple GPUs compared to single GPU training.

I have listed log outputs  right after one epoch is finished. This is for the Chainer backend.

- 1 GPU (validation accuracy after the first epoch 0.531604)

^[[4A^[[J0           22100       35.808      38.01          33.6059

[2018-05-28 14:31] sw005320 commented on #104
I think so. I also observed the same issue. The data parallel scheme corresponds to simply increase the minibatch size in theory. Then, larger minibtach size yields fewer updates, which often degrades the performance when we use small amount of training data (say < 100h). Some asynchronous updates or other variants can avoid it, but it complicates our implementation, and so far I don't think of im

[2018-05-28 15:01] zenogantner opened #193 "pre-trained models"
Hello, do you offer pre-trained models for download?

[2018-05-28 16:32] sw005320 commented on #193
Yes, we can. Which models do you want to use?

[2018-05-28 16:38] sw005320 commented on #191
Thanks! #192 seems to solve this issue. I confirmed it in my setup.

[2018-05-28 16:38] #191 closed

[2018-05-28 19:05] #135 closed

[2018-05-28 19:49] shrutijpalaskar opened #194 "Publishing commit changes"
Hello,

Would it be possible to publish "commit changes" -- a log of sorts where there is detailed information about commits, bug fixes, or pull requests that are merged into the master branch, which would also state or help users understand what changes are to be expected in the results across various commits.

This would help us understand why the results are changing even with the same seed, ac

[2018-05-29 23:13] sw005320 opened #195 "Modularization"
@hirofumi0810 pointed out that it would be better to modularize the network part (say split it to encoder, decoder, and attention parts). I want to ask your opinions about this direction.

[2018-05-29 23:48] sw005320 commented on #194
Thanks for the suggestion!
We started to use GitHub release https://github.com/espnet/espnet/releases
We'll use this function for our future update.

[2018-05-30 01:04] kan-bayashi commented on #195
I agree this idea.
`e2e_asr_attctc` and `e2e_asr_attctc_th` became bigger and difficult to maintain.
Separating each modules makes it easy to develop them.

[2018-05-30 08:55] lahirufano commented on #104
@sw005320  thanks for the detailed explanation. So, I will only use Muti-gpu training for larger tasks as advised.

[2018-05-30 16:40] takaaki-hori commented on #195
Considering future extension of e2e models, it would be better to split it into encoder, decoder, and attention parts so that we can easily add new modules and combine them accordingly.
For example, this kind of instantiation may be possible.

 e2e = E2E(encoder=VGGBLSTMP(...), decoder=LSTMDecoder(...), attention=MultiHeadAttention(...))

I am not sure this is the best way, but we will be able to

[2018-05-31 02:39] sw005320 commented on #195
Thanks fo your comments.
I tend to agree with modularization.
My concerns are as follows:

- one file is easy to edit (thousand lines are still OK level for me)
- I'm not sure that we can completely fix encoder/decoder/attention interfaces

[2018-05-31 05:32] pozhijisi commented on #195
Instead of using shared interfaces (which seems to be hard to design), what about placing combinations of (encoder, decoder, attention) into different folders?

For example, we may create different folders for (VGGBLSTMP, LSTM, MultiHeadAttention), (VGGBLSTMP, LSTM, Location), etc. Each folder can work independently.

Although this method may create many redundant files, it is like using a list da

[2018-05-31 07:44] mpc001 opened #197 "plotting validation accuracy during training the model"
Hi,

The curve "acc.png" plotted in the stage "Network Training" presenting the DNN accuracy. We can also predict the sequence using beam search and get a CER report in the stage "Decoding". However, A high classification accuracy in DNN but a low ASR performance, such as CER obtained in decoding.

Many thanks for your help!

[2018-05-31 09:39] #186 closed

[2018-05-31 13:57] sw005320 commented on #197
I'm expecting that search parameters (penalty, maxlenratio, minlenratio) are not appropriately set (I'm also assuming that you're using attention-encoder-decoder without CTC from #186). You can tune these parameters to get some reasonable numbers.
Also, if you tell me the insertion, deletion, and substitution errors, I can tell you how we change the search parameters.

[2018-06-01 10:03] hirofumi0810 opened #198 "Word boundary in CSJ"
CSJ includes word boundary informatoin (wb) though it depends on morphological analysis.

However, the current preprocessing removes wb, so we cannot compute WER.
I know including wb increases computational complexity, but it provides additional information to the network.
In addition, if we can utilize wb, word-level LMs can be used in the decoding stage (off course @takaaki-hori 's multi-level L

[2018-06-01 13:50] sw005320 commented on #198
My biggest concern is that this word boundary is based on a specific tool, and many people are using different tools (chasen or mecab with different dictionaries). Then, I had bad experience of having difficulties on comparing results. So, for now, I think we can ignore it.

[2018-06-01 13:50] sw005320 commented on #198
We can think of it after @takaaki-hori finished an implementation of multi-level LM decoding.

[2018-06-01 20:12] sw005320 opened #199 "chainer Linear link now supports multidimensional batch"
linear_tensor in https://github.com/espnet/espnet/blob/master/src/nets/e2e_asr_attctc.py#L46 can be replaced with this Linear link with axis specifications.
(https://github.com/chainer/chainer/pull/4204)

[2018-06-02 19:19] mpc001 commented on #197
Hi, @sw005320 ,

I list the detail information of validation set in ASR below. In this case, the frames we used is very close to the number of character we would predict.
 Corr                 Sub                Del                 Ins                Err               S.Err
52.3                30.3               17.3                13.8               61.5                99.0

Many thanks for your

[2018-06-04 21:05] #194 closed

[2018-06-05 21:29] sw005320 commented on #197
Thanks. The decoding parameters does not seem to be very strange.

Then, I think subsampling (we usually did to make the input length 1/4) seems to be a problem. I think you may think of tuning it. Subsampling is handled by `run.sh --subsample 1_2_2_1_1 --etype blstmp` (note that it is only handled by the blstmp architecture). If you change it as `1_1_1_1_1`, it will not perform subsampling.

[2018-06-05 21:46] mpc001 commented on #197
Hi, @sw005320,

Thanks for your kind reply.

The above results are obtained after changing from 1_2_2_1_1 to 1_1_1_1_1. Is it weird that the CTC weight increases WER but not CER? The encoding part uses mtlalpha=0.5. The decoding part beam_size=20, penalty=0, maxlenratio=0.0 minlenratio=0.0.

![1](https://user-images.githubusercontent.com/28733498/41004363-867db99c-6911-11e8-976b-1d438864be79.png)

[2018-06-05 21:57] sw005320 commented on #197
Thanks for showing interesting results. Frankly, I did not observe such behaviors, as I did not investigate these parameters so much in terms of both CER and WER. If I come up with some reasons, I'll let you know.

[2018-06-11 06:58] mpc001 opened #210 "A sudden change in "validation/main/acc" after loading the snapshot"
Hi,

After loading the training model from a snapshot snapshot_iter_136356, it's weird to have
a sudden change in "validation/main/loss_ctc".

    Before loading the snapshot
![video_acc_0](https://user-images.githubusercontent.com/28733498/41216773-9ffff5e8-6d4d-11e8-9a4d-0f2580898b28.png)

    After loading the snapshot:
![video_acc_2](https://user-images.githubusercontent.com/28733498/41216631-

[2018-06-11 20:10] sw005320 commented on #210
I actually don't test the resume function. @bobchennan, do you have any ideas (I remember that you used that function)?

[2018-06-11 20:40] bobchennan commented on #210
Yeah I think resume function didn't work since snapshot didn't include model itself.

This should fix it:
https://github.com/bobchennan/espnet/blob/22ae9cac2cc8f9920631406f9d609897eda78e6b/src/asr/asr_pytorch.py#L226

[2018-06-12 03:17] meisongzhu opened #212 "cupy out of memory error when running the voxforge example"
When I was running the voxforge example, the job failed in the stage 3: network training. In the log file, it indicates that an out of memory error occured.

My working computer has only one Quadro M1000M GPU card which has 2GB display memory. What should I do to avoid this kind of error?

The log file is provided below:
[train.log](https://github.com/espnet/espnet/files/2092415/train.log)

[2018-06-12 08:06] kan-bayashi commented on #172
I implemented attention visualization function (#202).

[2018-06-12 08:06] #172 closed

[2018-06-12 11:48] zh794390558 opened #213 "Does LibriSpeech train and test with maxlen_in=800 and max_out=150"
[code]

[2018-06-12 12:44] brijmohan commented on #172
Thanks @kan-bayashi :)

[2018-06-12 13:52] meisongzhu commented on #212
Thanks. I will try it later.

[2018-06-12 13:52] #212 closed

[2018-06-12 14:13] sw005320 commented on #210
@bobchennan, can you make a PR about this?

[2018-06-12 14:23] mpc001 commented on #210
Hi, @bobchennan and @sw005320

Thanks for your reply.

I implemented in Chainer backend not Pytorch backend. The resume part is as follows. It should be fine.

    # Resume from a snapshot
    if args.resume:
        chainer.serializers.load_npz(args.resume, trainer)

    # set up validation iterator

By the way, the weight might be loaded because "main/acc" seems similar at the iteration 136400.

[2018-06-13 03:15] wolverineq opened #218 "chime5 results"
Was the RESULTS in chime5/asr1 correspond to the run.sh?
For me I got about 10% worse WER than yours after running the original chime5/asr1/run.sh script and this makes me confused. Maybe you could offer me some tips on that?
Thanks

[2018-06-13 06:38] shubham-IISc opened #219 "CUDA check memory error"
I am using single GPU for librispeech task. Is it necessary to use multiple GPU? I am getting following error while training.
THCudaCheck FAIL file=/pytorch/torch/lib/THC/generic/THCStorage.cu line=58 error=2 : out of memory
Exception in main training loop: cuda runtime error (2) : out of memory at /pytorch/torch/lib/THC/generic/THCStorage.cu:58

I have incorporated commit suggested in  FIXED VARI

[2018-06-13 07:56] kan-bayashi commented on #219
Please follow the instruction in the issue (#212).

[2018-06-13 07:56] #219 closed

[2018-06-13 08:09] shubham-IISc commented on #212
thanks a lot. it worked

[2018-06-13 08:13] kan-bayashi commented on #210
I'm not sure, but I think, after loading, training started from the middle of the epoch, therefore, the accuracy was calculated using subset of the training data.  Consequently, the accuracy for plotting is overestimated. The fact that the accuracy in epoch 12 is reasonable value support this idea.

[2018-06-13 08:13] kan-bayashi commented on #213
Sorry, what is the your question?

[2018-06-13 08:15] kan-bayashi commented on #185
This problem seems to be solved. I closed this issue.

[2018-06-13 08:15] #185 closed

[2018-06-13 08:17] kan-bayashi commented on #82
This problem seems to be solved. I closed this issue.

[2018-06-13 08:17] #82 closed

[2018-06-14 02:30] zh794390558 commented on #213
Does LibriSpeech train and test with maxlen_in=800 and max_out=150

[2018-06-14 06:18] shubham-IISc opened #224 "accuracy metric while training"
Really incredible work. While training, in log file, I could not figure out what exactly is accuracy metric being displayed. Can it be changed to WER/CER while training as I would like to observe how my WER/CER vary with number of epochs on validation set?

[2018-06-14 10:09] mpc001 commented on #210
Hi, @kan-bayashi,

Thanks for your reply. I replicate the same experiment without reloading during training and get a similar result. I support your idea as well. Thanks for your help!

[2018-06-14 10:09] #210 closed

[2018-06-14 11:42] sw005320 commented on #210
@mpc001, can you send a PR about your change of the resume part?

[2018-06-14 16:31] sw005320 commented on #224
I tried to make the main terminal as simple as possible.
One way to monitor the accuracy, loss, etc. during training is to use the following:
[code]
I'll add it to https://github.com/espnet/espnet/blob/master/README.md

[2018-06-14 18:23] kan-bayashi commented on #224
Hi @shubham-IISc,
Maybe you want to check CER or WER for each epoch instead of accuracy, right?
Currently, we use sclite to calculate CER and WER, therefore it is a little bit difficult to integrate it with training process.
If there is nice python library which easily calculates CER, maybe we can use it.
Do you know such library?

[2018-06-14 18:57] pozhijisi commented on #224
xer [(https://github.com/jpuigcerver/xer)](https://github.com/jpuigcerver/xer) maybe the one you are looking for. @kan-bayashi

[2018-06-14 19:17] sw005320 commented on #224
Since we use teacher forcing during the training, the WER/CER is not correct anyway, and I feel like accuracies are good enough. But, actually @mn5k is working on incorporating the computation of the WER/CER during the training for his MWER training implementation (he performs decoding and exact WER/CER computation during training). So, once his implementation is fixed, we can use his development

[2018-06-15 02:13] luweishuang opened #228 "recognize_beam gpu running need 10 second per audio"
I run decoder module in gpu version with model.to_gpu() and rnnlm.to_gpu(). I found it need 10 second per audio and cpu version only need 4 second in a same audio.  With deeper analyse, I found in gpu version recognize_beam function need almost 9 second, espeacially ctc_prefix_score() and "hyps_best_kept = sorted(hyps_best_kept, key=lambda x: x['score'], reverse=True)[:beam]".  Is there some advic

[2018-06-15 02:30] kan-bayashi commented on #213
If not work due to out of memory error, please follow the instruction (#212).

[2018-06-15 12:44] sw005320 commented on #228
Actually recognize_beam did not consider the speed so much, but recently @mn5k is working on it (basically we're making a batch for all hypothesis, and also care about GPU processing). So, it will be faster and also consider GPU processing. Please wait for a while.

[2018-06-15 18:08] harikrishnavydana commented on #161
is there a way to install without virtual environments. if the system has all the packages installed in miniconda. how to use them? with the current package?

[2018-06-15 19:23] takaaki-hori opened #230 "RNNLM seems to be working in training mode when recognizing with PyTorch"
When using `asr_recog.py --backend pytorch`, the RNNLM module seems to be used in training mode, which means that the dropout function is still active even in the recognition phase.
I think we need to put `rnnlm.eval()` somewhere. Can someone fix this and check the performance difference?

[2018-06-15 22:55] sw005320 commented on #104
I think we finish our initial goal.

[2018-06-15 22:55] #104 closed

[2018-06-16 11:15] #230 closed

[2018-06-16 17:22] sw005320 opened #233 "error when no ended hypothesis"
The recognition program will be failed when there is no ended hypothesis.
This happens at
https://github.com/espnet/espnet/blob/master/src/nets/e2e_asr_attctc_th.py#L1894
https://github.com/espnet/espnet/blob/master/src/nets/e2e_asr_attctc.py#L824

We need to have some treatment, e.g., just pushing a null result to `ended_hyps` with warning when no ended hypothesis.

[2018-06-18 01:17] mdeisher opened #234 "dependency on missing chainer_ctc.warpctc"
I hope this is not a duplicate of #115.  It is not clear to me.  But asr_train.py fails due to a missing chainer component:

[code]
Where does chainer_ctc.warpctc normally come from?

[2018-06-18 06:10] sathvikask0 opened #236 "sclite error while decoding"
Thanks everyone for this toolkit. I was successfully able to train model for librispeech dataset.
But while running stage 4 , I am getting the following error:.
It could not find ref.trn and hyp.trn. I could find only ref.wrd.trn and hyp.wrd.trn in the corresponding location. Kindly help.

**_sclite: Error, Reference file 'exp/train_960_blstmp_e8_subsample1_2_2_1_1_unit320_proj320_d1_unit300_locat

[2018-06-18 11:31] #236 closed

[2018-06-18 13:37] sw005320 commented on #234
I'm expecting that chainer warp_ctc is not correctly installed at https://github.com/espnet/espnet/blob/master/tools/Makefile#L45
Please move to the `tools` directory, and build chainer warp_ctc again, e.g.,
[code]

[2018-06-18 14:11] mdeisher commented on #234
Thank you!  The problem was that chainer will not compile using gcc version 6.x (default compiler on Ubuntu 16.04).  Setting "export CC=gcc-5" and "export CXX=g++-5" and following your suggestion solved the problem.

[2018-06-18 19:37] mdeisher opened #238 "Memory limitations"
With CUDA 9.0 on GTX 980 Ti with 6GB memory:
[code]
Obviously, the recipe was designed for card(s) with more memory.  Any recommendations to run on a lower end card?  I adjusted batch size to 20 and it runs.  Does learning rate need to be adjusted to compensate?  I'm not too optimistic but will know in 3 days and 18 hours...

[2018-06-18 19:58] sw005320 commented on #238
You don't have to adjust the learning rate. You can just adjust the batch size.

[2018-06-18 20:07] ruizhilijhu opened #239 "Issue with PlotAttentionReport"
I was trying to rerun from a snapshot. And I got the following error related to PlotAttentionReport.

Any help is appreciated!

Error message:

Exception in main training loop: 'module' object has no attribute 'pyplot'
Traceback (most recent call last):
  File "/export/b11/ruizhili/espnet/tools/venv/local/lib/python2.7/site-packages/chainer/training/trainer.py", line 309, in run
    entry.extensio

[2018-06-18 21:00] sw005320 commented on #239
@kan-bayashi, do you have any idea? @ruizhilijhu said that it did not happen in the normal training. It just happened when we use a resume function.

[2018-06-19 01:36] kan-bayashi commented on #239
@ruizhilijhu Thank you for your report! I fixed it by following chainer PlotReport implementation.
<https://github.com/chainer/chainer/blob/v4.1.0/chainer/training/extensions/plot_report.py#L119>

[2018-06-19 05:08] Fhrozen opened #241 "NKF link down"
I tried to install the tools in a docker container, but it seems that the link
http://gigenet.dl.osdn.jp/nkf/64158/nkf-2.1.4.tar.gz is down.

FYI

[2018-06-19 06:40] ruizhilijhu commented on #239
@kan-bayashi Thanks! It works now.

[2018-06-19 08:20] #239 closed

[2018-06-19 09:34] zh794390558 commented on #213
I think if using `maxlen_in=800 ` and `max_out=150`, the training and test phase will not contained all data. Does this affect the result ?

[2018-06-19 15:21] sw005320 commented on #241
fixed #242. Can you check it?

[2018-06-19 19:03] Fhrozen commented on #241
Already fixed so I am closing it.

[2018-06-19 19:03] #241 closed

[2018-06-19 22:12] mdeisher commented on #238
Eventually, it ran out of memory again.  I attempted to resume from the latest checkpoint:
[code]
But it crashes right away with a seemingly unrelated problem.
[code]
I'm not sure why matplotlib is not working, but Is matplotlib really required for resume?

[2018-06-19 22:15] sw005320 commented on #238
this is solved recently #240

[2018-06-19 22:21] mdeisher commented on #238
Yes, that seems to have corrected it for me too.  Thank you for pointing it out.

[2018-06-20 07:56] luweishuang commented on #228
I use a process pool to accelerate cpu calucate and just find it cost much more time,need 60 second per audio, here is some of my code.
         hyps_best_kept = []
            with concurrent.futures.ProcessPoolExecutor(max_workers=8) as executor:
                print("len(hyps) = %d " % len(hyps))
                futures = [executor.submit(recognize_beam_hyp_out, i, item, self.embed, self.att,

[2018-06-20 08:20] 13913933991 opened #244 "wav's pitch feature"
Now I'm trying to extract wav's pitch feature by using python for performance considering, not by kaldi api from shell. Could you give me some advice?

[2018-06-20 12:30] sw005320 commented on #244
librosa (https://librosa.github.io/librosa/) may have such functions. @kan-bayashi, do you have some comments?

[2018-06-20 13:54] kan-bayashi commented on #244
Actually, I've never use pitch extraction function of librosa.
In the speech synthesis task, we often use WORLD to extract pitch.
(There is python wrapper <https://github.com/JeremyCCHsu/Python-Wrapper-for-World-Vocoder>)
But it requires to set the range of f0 of each speaker appropriately to reduce the pitch estimation error.

[2018-06-20 13:55] #238 closed

[2018-06-21 01:50] ShigekiKarita opened #247 "KeyError: 'validation/main/loss' in Pytorch"
I found that chainer reporter could not work with pytorch (from 0.4.0) anymore.

- testing with an4 (--backend chainer or pytorch 0.3.1.post2 is working)
- commit b2420d8492c7aa21049b8c712e6054e86de368ec (yesterday)
[code]

Here are two options for us.
1. find out what is wrong with chainer' callback hell
2. make pytorch script independent from chainer (reporter, iterator)

I prefer the second one

[2018-06-21 04:17] ShigekiKarita commented on #182
I think #250 fixes this issue. Could you test #250 in master.0.5.0?

[2018-06-21 04:18] ShigekiKarita commented on #247
Accidentally, I fixed the first option in #250.

[2018-06-21 04:52] kan-bayashi commented on #247
@ShigekiKarita In my case, reporter is working in pytorch v0.4 (#226)

[2018-06-21 12:55] shubham-IISc commented on #224
Hi @kan-bayashi  actually when I implemented CTC in tensorflow, I implemented my own CER python script based on minimum edit distance. But I believe, xer suggested by @pozhijisi could be helpful as well.

[2018-06-21 13:00] shubham-IISc commented on #224
@sw005320 yes i agree that WER/CER is not correct to evaluate on training set, but after each epoch, we may like to recognize and decode development set and observing WER/CER on it may give us better analysis of model fitting as our ultimate metric is WER once, training is completed. Correct me, if I am  wrong. thanks.

[2018-06-21 13:19] ShigekiKarita commented on #247
So it may be caused by the latest chainer? BTW I would look into your branch (I have not worked on LM parts). Thanks.

[2018-06-21 14:50] sw005320 commented on #224
I see the point. @mn5k, do you think it is possible to add your WER/CER computation during training (for training and validation data)? This would provide more detailed information when monitoring training in addition to accuracies and losses.

[2018-06-22 03:48] mn5k commented on #224
Yes, it is possible. I'll implement the option to monitor WER/CER.

[2018-06-24 07:59] mpc001 opened #254 "The consistent of hyperparameter ctc_weight and mtlalpha"
Hi,
    mtalpha in loss function and ctc_weight in joint-decoding use the same notation according to the tookit paper. Does that mean these two hyperparameters should be same? I notice script in voxforge and hkust recipe used distinct values for these two parameters. Many thanks in advance!

[2018-06-25 00:40] sw005320 commented on #254
This does not have to be same, although the paper uses the same notation. Thanks for your clarification. I'll revise the arxiv paper.

[2018-06-25 12:05] mpc001 commented on #254
Hi, @sw005320
Thanks for your quick reply!

[2018-06-25 12:05] #254 closed

[2018-06-26 09:10] shubham-IISc opened #255 "to experiment with content-based attention"
I wanted to observe the impact of convolutional features(improvements) implemented through location based attention in toolkit.
so, I tried with aconv-chans=0 and aconv-flts=0 (assumed that it will remove convolutional features) but that gives an error.
Is there anyway to experiment only with content based attention(without convolutional features)?
Thanks

[2018-06-27 02:02] wolverineq commented on #218
@sw005320 I used the v.0.1.0 release. However, I still got worse results (about 4% worse in WER) after running the original run.sh script. Now I suspect maybe there was something wrong with my data preprocessing, so could you tell me how many utterances are there in your data/train_worn_u200k/feats.scp & data/train_worn/feats.scp?

[2018-06-27 05:51] sathvikask0 opened #257 "Meaning of eps in train.log"
What does eps mean in the train.log file. Is it learning rate or some smoothening factor?

[2018-06-27 11:50] sw005320 commented on #255
We don't implement this due to our previous investigations, and if you want to do it, you can simply hack the corresponding lines as follows:
[code]
->
[code]
in the PyTorch backend https://github.com/espnet/espnet/blob/master/src/nets/e2e_asr_attctc_th.py#L762 or
[code]
->
[code]
in the Chainer backend https://github.com/espnet/espnet/blob/master/src/nets/e2e_asr_attctc.py#L506

[2018-06-28 14:11] ramon-astudillo opened #258 "Does warp_ctc require Lua Torch?"
I am trying to install `ESPNet` in another cluster and I am stuck at installing `warp_ctc`.  I think this is not related to https://github.com/espnet/espnet/issues/115 and https://github.com/espnet/espnet/issues/234

The problem seems to arise when making

https://github.com/SeanNaren/warp-ctc.git

It complaints about missing `FindTorch.cmake` at this point

[code]

A search for this problem leads

[2018-06-28 22:01] sw005320 commented on #257
This is a tuning parameter (epsilon) in AdaDelta
https://docs.chainer.org/en/stable/reference/generated/chainer.optimizers.AdaDelta.html#chainer.optimizers.AdaDelta
https://pytorch.org/docs/stable/_modules/torch/optim/adadelta.html

We'll change the epsilon when we observe the degradation of the validation accuracy at some epochs. So, the log monitors this epsilon value.

[2018-06-28 22:05] sw005320 commented on #218
I don't have `data/train_worn/feats.scp` but I have `data/train_worn/segments`
[code]
I hope it will help you find some reasons.

[2018-06-29 01:58] wolverineq commented on #218
Now I see the difference.
There were 159934 utts in my data/train_worn/segments too, however there were only 318835 utts remained in my data/train_worn_u200k/feats.scp after running this line in run.sh:

'remove_longshortdata.sh --nlsyms ${nlsyms} --minchars 1 data/train_worn_u200k_org data/train_worn_u200k'

So have you run this command or not? How many utts are there in your final dump/train_wor

[2018-06-29 13:44] ozancaglayan opened #259 "BLSTMP does not make use of dropout"
In `src/nets/e2e_asr_attctc_th.py:2045`, a dropout is given to the LSTM layers with `num_layers=1`. The dropout in PyTorch RNN layers are only effective if `num_layers > 1` since they are applied after each layer except the last layer.
https://pytorch.org/docs/0.3.1/nn.html?highlight=lstm#torch.nn.LSTM

[2018-06-29 23:39] ramon-astudillo commented on #258
This solved. The answer is that error is not fatal and the imports will work at the end.

[2018-06-29 23:39] #258 closed

[2018-07-01 13:23] wolverineq commented on #218
Could anyone answer that for me please, many thanks!

[2018-07-01 13:30] sw005320 commented on #218
Sorry, for the late response. I performed `remove_longshortdata.sh`, and then obtained the above utterance.
[code]

[2018-07-01 13:44] wolverineq commented on #218
Yes I also had 359874 utts in data/train_worn_u200k_org/feats.scp.
What about the number in data/train_worn_u200k/feats.scp since that is the feature directory used in end-to-end training?

[2018-07-01 13:45] sw005320 commented on #218
359281 utterances, as I showed you in the previous thread.

[2018-07-01 13:46] sw005320 commented on #218
It might be caused by `--minchars 1`. Can you test it with `--minchars 0`?

[2018-07-01 13:47] wolverineq commented on #218
Thanks very much! I get the problem now.

[2018-07-01 14:30] sw005320 commented on #218
This would be my fault. I was checking several configurations, and may leave wrong one. Once you get some similar results to my report, I'll fix it. So, please tell me your new result once you get it.

[2018-07-01 14:34] wolverineq commented on #218
OK，I am re-running the baseline script and will keep you informed of the results.

[2018-07-01 18:04] sw005320 commented on #259
Thanks for the note. It seems to be true, and we may need to perform dropout explicitly at somewhere in https://github.com/espnet/espnet/blob/master/src/nets/e2e_asr_attctc_th.py#L2062-L2076.

[2018-07-02 02:58] arendu opened #262 "setting `mtlalpha` and `ctc_weight` to 0 causes large increase in CER/WER"
I ran the latest code from the master branch and notice something odd. When `mtlalpha` and `ctc_weight` is `0.0` performance drops catastrophically. I tested this on voxforge italian. See numbers below:

| mtlalpha | ctc_weight | CER         |
|----------|------------|-------------|
| 0.5      | 0.3        | 14.5, 14.6  |
| 0.0      | 0.0        | 81.1, 81.6  |
| 0.5      | 0.0        | 18.6, 19.4

[2018-07-02 03:43] jnishi commented on #259
F.Y.I

It is said that applying dropout to recurrent neural networks simply does not work well. There are several ideas to apply dropout to LSTM, e.g. cell update vector only (https://arxiv.org/abs/1603.05118)
or output of each gate (https://www.isca-speech.org/archive/Interspeech_2017/pdfs/0129.PDF)

[2018-07-02 08:30] shubham-IISc opened #264 "Impact of label smoothening on librispeech"
I was trying experimenting with unigram label smoothing for librispeech dataset. I tried with different lsm weights of 0.01,0.02,0.05, but results are always worse than the case of no label smoothing(ON TEST_CLEAN)
Why overconfidence does not affect the model performance in this case? Is this because of clean test data? Kindly help.

[2018-07-02 08:33] shubham-IISc commented on #255
thanks.. it worked.

[2018-07-02 08:33] #255 closed

[2018-07-02 11:57] sw005320 commented on #264
I haven't tried the label smoothing in this data. @takaaki-hori, do you have comments about it?

[2018-07-02 13:32] takaaki-hori commented on #264
Me, either. I just checked error reduction on WSJ and Voxforge recipes.
Did you train the model with the full training set (train_960)?
With a large amount of training data for a small set of labels, the smoothing might have no effect.
But I have no idea about the reason at this moment. If you train a model with a small subset of Librispeech, we maybe figure it out.

[2018-07-02 14:00] shubham-IISc commented on #264
I have trained using train clean 360hrs data and test on test clean 100hrs data.  Can you please confirm if label smoothing improved results for  (CLEAN) test data of some other dataset.?
 It seems to me that overconfidence is not harming on clean test data because label smoothing allows the model to indicate sensible alternatives to a given character(such as its homophones) and data being clean,

[2018-07-02 14:07] shubham-IISc commented on #264
or maybe 360hrs is still huge training data as compared to WSJ training data.  So, maybe because of this reason , smoothing is not having any impact in this case.

[2018-07-03 07:55] softwarezch opened #269 "compute-stft-feats.py: 'module' object has no attribute 'BaseFloatMatrixWriter'"
When I ran espnet/utils/compute-stft-feats.py,
I got an error like this:

Traceback (most recent call last):
  File "/../compute-stft-feats.py", line 103, in <module>
    main()
  File "/../../../src/utils/compute-stft-feats.py", line 86, in main
    writer = kaldi_io.BaseFloatMatrixWriter(args.feats_wspecifier)
AttributeError: 'module' object has no attribute 'BaseFloatMatrixWriter'

I checked es

[2018-07-03 09:54] fotwo opened #270 "CTC loss was 0 when joint training on Ubuntu"
Hi all, I have reproduce the result on Centos7.2+cuda8.0, and I also installed the same code on Ubuntu16.04+cuda9.1, everything was ok during installation. However, actually, attention task was ok, while the ctc task loss was 0 all the time during joint ctc/attention training, "mltalpha=0.5". Here is the log file:
[code]
The backend is pytorch and I think it is the problem of warp-ctc on Ubuntu? I

[2018-07-03 09:56] sw005320 commented on #270
Which task are you using? Can you also provide your command line to execute it?

[2018-07-03 10:03] ayhyap opened #271 "(Minor) ctc_type argument in asr_train.py does nothing"
Unless i'm mistaken, the ctc_type argument for asr_train.py does nothing.

I've followed the code through multiple times - the pytorch implementation always uses warpctc and the chainer implementation always uses chainer's built-in ctc.

Recommend removing the argument or actually allowing more options?

[2018-07-03 10:05] fotwo commented on #270
All right, the command lines are:
[code]

[2018-07-03 10:07] sw005320 commented on #271
yes

https://github.com/espnet/espnet/blob/master/src/nets/e2e_asr_attctc.py#L138-L145

chainer CTC can be switched. Default is warpctc

[2018-07-03 10:11] sw005320 commented on #270
First, can you use `--etype blstmp` instead of `--etype vggblstmp`? The pytorch backend does not support VGG (it does not work for now). Other than that, it looks normal. Year, it seems that it is an issue due to warp-ctc. Can you test it with the chainer backend?

[2018-07-03 10:23] fotwo commented on #270
@sw005320 ok, I will try it. Actually, I have reproduced the results on Centos, using `vggblstmp`(it seems this option doesn't evoke an error). Then when it come to Ubuntu, the loss of attention task and the total acc were also ok, only the ctc loss was odd. During decode, I must set the `ctc-weight` to 0, otherwise the cer will be very bad. So have you ever tried warp-ct on Ubuntu successfully? i

[2018-07-03 10:31] ayhyap commented on #271
Yes, my bad. I forgot that the arguments are passed all the way to the model constructor so i skipped over checking that file.

[2018-07-03 10:31] #271 closed

[2018-07-03 10:34] sw005320 commented on #270
Thanks, I want to check whether it happens from pytorch warp-ctc or chainer warp-ctc, or original warp-ctc

I don't test it....
We should have a result with Ubuntu, and thanks for your note.
@Fhrozen, same things happen in your Ubuntu environment?

[2018-07-03 10:36] #143 closed

[2018-07-03 11:09] fotwo commented on #270
@sw005320 hi, I test backend chainer on Ubuntu via debugging. The ctc loss is ok, at least it is not zero.

[2018-07-03 11:22] fotwo commented on #270
when using:
[code]
it was terminated with evoking "CTC_STATUS_EXECUTION_FAILED: execution failed"

[2018-07-03 12:08] Fhrozen commented on #270
I tried to reproduce your error and I did not have any problem.
I was using a Ubuntu 16.04 OS with Cuda 9.0 and CuDNN 7 and without virtualenv.
The execution command is similar to yours. I also tested with gpu.

The single line of the error does not explain so much. Could you copy all the paragraph with the error. I think it should start with:
` Traceback (most recent call last): ` and should appe

[2018-07-03 17:02] arendu commented on #262
More info, I compared the performance with an older version of the code and I see a large change in performance.
Voxforge Italian:

| version | mtlalpha | ctc_weight | CER         |
|--------|----------|------------|-------------|
| current | 0.0      | 0.0        | 81.1, 81.6  |
| older version (may 22)| 0.0      | 0.0        | 18.2, 19.3 |

Voxforge French:

| version | mtlalpha | ctc_weight | C

[2018-07-03 17:05] arendu commented on #259
Is this for dropout in the recurrent weights? or dropout between consecutive rnn layers?

[2018-07-03 21:17] creatorscan commented on #262
I faced the same issue...
aw=attention weight, cw=ctc weight
atype | aw | cw  | cer   | wer   | cer   | wer  | ctcwt
noatt  |  1   | 0    | 68.7 | 85.1 | 67.7 | 85.1 | 0
noatt  | 0.5 | 0.5 | 26.7 | 44.8 | 28.2 | 48.2 | 0.5
noatt  | 0    | 1    | 31.1 | 61.4 | 32.8 | 67.1 | 1

[2018-07-04 03:07] fotwo commented on #270
Hi, @Fhrozen . it means you use pytorch backend with `--ctc_type warpctc`, and the ctc_loss is not 0 ?
When using `--ctc_type warpctc --backend chainer`, the error paragraph:
[code]
Thanks.

[2018-07-04 04:19] Fhrozen commented on #270
Just to confirm, I will like to know which recipe are you using. I tested with voxforge.
With `--backend pytorch --ctc_type warpctc`, the ctc is not zero:
[code]
When using `--ctc_type warpctc --backend chainer`:
[code]
I tried several ways to reproduce your error, but it was unsuccessful.  (Even using more GPU memory or incorrect number of gpus).
Just to outline, I am using Ubuntu 16.04, with CUD

[2018-07-04 04:55] jnishi commented on #259
Recurrent weights are (cf. https://arxiv.org/pdf/1409.2329.pdf)
Simplest way to apply dropout to rnn is to apply only between layers.

[2018-07-05 04:48] m-wiesner commented on #262
I definitely have this problem as well.

Backend: pytorch
elayers: 4
etype: blstmp
default for all other parameters.

CER
--------------------------------------
w/o ctc alpha = 0: 113.4, 111.9
w ctc alpha = 0.5: 14.7, 14.5

I'm running with mtlalpha= 0.0001. I suspect it's small bug in dealing with the mtlalpha=0 case which I noticed was recently added and was not in my prior versions.

[2018-07-05 09:50] ZhuoranLyu opened #276 "The performance of recog is poor."
Hi, I am trying to use ./run.sh to train and recog on voxforge. The training goes pretty well and it only takes about a couple of hours. However, the inference(recog) works unbelievably slow. It takes around 10 seconds to predict one short sentences. I was wondering if you guys met the similar problem. I noticed that it's using cpu to predict....

Thanks,
George

[2018-07-05 11:50] m-wiesner commented on #262
Update...

I ran with mtlalpha = 0.0001 and as suspected the numbers look good.

w/o ctc alpha = 0: 113.4, 111.9
w ctc alpha = 0.0001: 14.2, 14.2
w ctc alpha = 0.5: 14.7, 14.5

So someone should fix the mtlalpha=0 bug.

[2018-07-05 12:06] creatorscan commented on #262
Thabks. That's good to proceed.

On Thu, 5 Jul 2018 at 07:50, m-wiesner <notifications@github.com> wrote:

--
Peace,
Murali Karthick Baskar

[2018-07-05 13:51] sw005320 commented on #276
Thanks for your note. You're right that we don't do performance tuning for a decoder. One our trial is #237, which at least makes the neural network part faster by GPU.

[2018-07-05 14:50] ShigekiKarita commented on #276
If you have no configured BLAS/LAPACK for numpy, it takes very long time. Try [this](https://software.intel.com/en-us/articles/numpyscipy-with-intel-mkl) or conda environment.

[2018-07-05 14:51] #247 closed

[2018-07-05 17:14] sw005320 commented on #262
@arendu, can you test whether the same thing happen in the chainer backend? Now, I'm starting a debug.

[2018-07-05 17:28] arendu commented on #262
@sw005320 ok will run them in chainer and update you.

[2018-07-06 02:10] ZhuoranLyu commented on #276
Thank you for your reply. I'll look into that. BTW, another problem, when I run using pytorch backend and multi gpus, it gives me this erro.

`# asr_train.py --ngpu 4 --backend pytorch --outdir exp/tr_en_vggblstmp_e4_subsample1_2_2_1_1_unit320_proj320_d1_unit300_location_aconvc10_aconvf100_mtlalpha0.5_adadelta_bs30_mli800_mlo150/results --debugmode 1 --dict data/lang_1char/tr_en_units.txt --debugd

[2018-07-06 08:02] ZhuoranLyu opened #279 "Multi Gpus with pytorch backend problem."
I am using Pytorch 0.4 with 4 GTX 1080Ti. When I run using pytorch backend and multi gpus, it gives me this error.

`# asr_train.py --ngpu 4 --backend pytorch --outdir exp/tr_en_vggblstmp_e4_subsample1_2_2_1_1_unit320_proj320_d1_unit300_location_aconvc10_aconvf100_mtlalpha0.5_adadelta_bs30_mli800_mlo150/results --debugmode 1 --dict data/lang_1char/tr_en_units.txt --debugdir exp/tr_en_vggblstmp_e4_

[2018-07-06 09:06] ZhuoranLyu commented on #279
I am afraid this is because of using flatten_parameters with DataParallel.

[2018-07-06 12:02] sw005320 commented on #269
Sorry, about this.

you may need to
[code]
->
[code]
Also, change the writing part accordingly.
https://github.com/espnet/espnet/blob/master/src/tts/tts_pytorch.py#L532-L555
will be a good reference.

I'll fix it, but probably it takes time.

[2018-07-06 13:06] sw005320 commented on #279
Thanks for your report. @bobchennan, can you take a look at it?

[2018-07-09 03:16] ZhuoranLyu commented on #279
BTW, if I switch to pytorch 0.3.1, everything works fine.

[2018-07-09 13:15] sw005320 commented on #279
Thanks for your report. Yes, we first implemented it with pytorch 0.3.1, but we do not test it with pytrorch 0.4.0. We'll fix it soon.

[2018-07-10 18:24] arendu opened #283 "padding with `nan` in tts_pytorch?"
Just wondering if we should change this
[code]
in `tts_pytorch.py`. I believe @ruizhilijhu and @sw005320 mentioned that this can cause grad to become `nan`.

[2018-07-10 21:45] kan-bayashi commented on #283
Hi @arendu, thank you for your report.
Actually, Nan is the default value of padding, but when using, I specified the value 0 to pad.
Therefore, it does not cause a problem.
But I think we should remove default value to make it more clear.
I will fix it.

[2018-07-11 02:18] kan-bayashi commented on #283
Fixed (#284)

[2018-07-11 02:18] #283 closed

[2018-07-11 13:02] sw005320 commented on #279
#286

[2018-07-11 13:50] miguelvr opened #287 "Mapping multiple special tokens in dictionary"
Hey guys,

I'm trying to train the CGN (Dutch) corpus with ESPNET, and I would like to know what are the best practices for the data preparation, specifically to handle the transcriptions:

1) I have 2 special tokens in the transcriptions `xxx` and `ggg` which I have mapped to `<unk>` in the transcription file. However, in the dictionary creation step,  If I use the flag `--non-lang-syms` with a f

[2018-07-11 16:54] arendu opened #288 "setting mtlalpha to 1.0 does not create results/model.acc.best file"
When I train with `mtlalpha=1.0` the training completes with no errors but there is no `model.acc.best` model in results (although `model.loss.best` is created).

This breaks the subsequent decoding step.

Seems related to #262

[2018-07-11 17:07] sw005320 commented on #288
yes, please use `--recog_model loss.best`
See https://github.com/espnet/espnet#ctc-attention-and-hybrid-ctcattention

[2018-07-11 17:28] #288 closed

[2018-07-11 17:34] arendu commented on #161
all my install problems were solved when I used a clean bashrc file which only had the following lines:
[code]

So I suspect my bashrc had something conflicting before. Just FYI incase it helps others.

[2018-07-11 17:55] ruizhilijhu commented on #262
In my experiments, when mtlalpha=0 and system is trained without CTC, the model is trained properly according to validation accuracy.
In order to get a reasonable decoding results, first set ctcweight=0, and tune the maxlenratio and minlenratio to regularize the decoding length. I suggest to start with (0.8, 0.2).

[2018-07-11 20:53] sw005320 commented on #287
We did not expect that the training text includes <unk>.  How about just using another unk tag, e.g., <unk2> for xxx and ggg?

Of course it would reduce the confusability and  reduce the softmax dimension, but I think it would not have a big effect in terms of both speed and accuracy, but I just don't test it.

[2018-07-11 21:03] mdeisher commented on #141
I've been having difficulty exporting the model using torch.onnx.export due to not knowing how to set up the dummy input (second argument).  The examples on the web such as the one cited above are not much help.  Any suggestions?  Thanks!

[2018-07-11 21:19] Fhrozen commented on #141
Just to know, there are large literature in the following links ( https://pytorch.org/tutorials/advanced/super_resolution_with_caffe2.html , https://pytorch.org/docs/stable/onnx.html )

[code]

The current model of ESPnet is trained with variable utter lengths, so you will need to review some post about the enhance of shape for ONNX (https://github.com/onnx/onnx/issues/654).

Let us know if you ar

[2018-07-12 02:11] ZhuoranLyu commented on #279
@sw005320 I think it works no problem now. Thank you for your help.

[2018-07-12 03:00] ZhuoranLyu commented on #104
@sw005320 Hi, quick question. When training on librispeech-960, using 4x1080ti is indeed twice faster than  using 1x1080ti. However, the performance is not as accurate as using 1 GPU. The val accuracy goes up to about 96% after 15 epochs with 1 gpu, while it only reaches about 94% after 15 epochs with 4 gpus. Is this the expected result? Thanks a lot.

[2018-07-12 08:36] miguelvr commented on #287
@sw005320 My solution was to remove consider `<unk>` as a non-language symbol, but I remove it from the dictionary, forcing all `<unk>` symbols to be mapped to 1. But I guess your solution would work as well.

[2018-07-12 10:59] miguelvr commented on #279
still having the same issue, although it only happens during validation (commit c72b0687ebee68f401a72a8fa98998cb87f5642e)

[2018-07-12 11:28] miguelvr commented on #279
Shouldn't we be using [DistributedDataParallel](https://pytorch.org/docs/stable/distributed.html#launch-utility) instead of DataParallel?

[2018-07-12 12:18] miguelvr opened #290 "Warp CTC version in Makefile"
Since I couldn't run with multi GPU with pytorch 0.4.0, I decided to downgrade it to 0.3.1. However, I noticed a substantial slowdown in training. I think one factor might be the commit tag we are using in the Makefile, in which the GPU binding don't use the flag `voltile=True` (0.3.X) neither `with torch.no_grad()`, leading to the gradients being unnecessarily recorded in the CTC...

I might be w

[2018-07-12 12:32] sw005320 commented on #104
This is expected to some extent. Our multiple GPU implementation is a simple data parallel scheme, which corresponds to increase the minibatch size (four times more in your situation). In general, more batchsize -> less update -> may decrease the performance (not always true, but in general). So, for me, this is an expected result.

[2018-07-12 12:47] sw005320 commented on #287
I see. Thanks for your suggestion. I'll revisit this part to consider when we have `<unk>` in transcripts.

[2018-07-12 12:48] #287 closed

[2018-07-12 14:26] miguelvr opened #291 "Multi GPU Support for RNNLM"
Is there any know bottleneck preventing the language model to be wrapped with an `nn.DataParallel` call?

Otherwise, I can do a PR for multi GPU support (for pytorch).

Best regards,
Miguel

[2018-07-12 16:52] sw005320 commented on #291
Sounds great!
Please do a PR.

[2018-07-12 17:01] sw005320 commented on #279
@kan-bayashi @bobchennan, do you have any ideas?
(I don't have two GPU slots now to test it....)

[2018-07-12 18:58] b-flo opened #292 "Memory problem"
Hi,

I'm currently doing some experiments on end2end approaches for french using your toolkit but I'm facing a weird memory behaviour when training any network using attention mechanism.
Every training I tried end up with an out-of-memory at the same point, even if I try to set up to a tiny batch size or reduce any parameters of the network which could alleviate the related calculation.
I have 3 T

[2018-07-12 20:03] sw005320 commented on #292
Can you make sure that the input and output lengths?
`--verbose 1` tells you these information for each minibatch.
The attention mechanism requires (input length x output length) GPU memories, and this GPU out-of-memory issue would be easily happened. If it processes the long sentence,
I usually remove long sentences that have more than 3000 input frames or 400 characters (see https://github.com/e

[2018-07-12 20:56] mdeisher commented on #141
I looked in asr_pytorch.py and examined the size of the first utterance loaded using kaldi_io_py.read_mat.  Then I wrote the attached script.  But somehow the type or dimensions of the dummy input are still wrong.  Any ideas?  Thanks!

[espnet_export_py.txt](https://github.com/espnet/espnet/files/2190282/espnet_export_py.txt)

[2018-07-12 22:20] bobchennan commented on #279
Unless you are using multiple nodes to train the system which is not supported yet, you should not use DistributedDataParallel. I am not sure about 0.4 since recently I am using TF.

[2018-07-13 00:48] kan-bayashi commented on #279
I will investigate it today.

[2018-07-13 03:52] kan-bayashi commented on #279
@ZhuoranLyu Could you test this patch? #294

[2018-07-13 04:14] jnishi opened #295 "Exception about Kaldi file format in the CSJ recipe."
Hi.

Would you mind helping me? I run the CSJ script (egs/csj/asr1/run.sh)  with a command below.
`$ ./run.sh --ngpu 2 --batchsize 64 --elayers 4`

However, in the stage 4, an exception is thrown, and training process did not proceed any more.

This is error message which is written in `/egs/csj/asr1/exp/train_nodup_vggblstmp_e4_subsample1_2_2_1_1_unit320_proj320_d1_unit300_location_adim320_aconvc

[2018-07-13 04:39] jnishi commented on #295
Thank you for comments. I'm going to try it.

I also run the librispeech's recipe, but the error does not happen.

[2018-07-13 04:51] jnishi commented on #295
Sorry, I have not run the recipe of librispeech with the current master version. I'm going to run it later.

[2018-07-13 06:58] miguelvr commented on #279
@bobchennan DistributedDataParallel works for single nodes and it has been proved to have much better performance than data parallel. Check [this](https://github.com/NVIDIA/sentiment-discovery/blob/master/analysis/scale.md) and [this](https://github.com/SeanNaren/deepspeech.pytorch/issues/211)

[2018-07-13 07:56] ZhuoranLyu commented on #279
@kan-bayashi I think it works with no problem now. Thank you for your help. The only problem is that using multi gpus won't accelerate the loss converge too much. On the contrary, the loss can't converge as low as using single gpu. Here is the result. After first epoch, the loss of single gpu is 103 while the loss of multi gpus is 263. There is a huge gap. So I'd better use single gpu to train the

[2018-07-13 07:58] #292 closed

[2018-07-13 08:28] miguelvr opened #296 "Error on model loading"
I just trained a model with the pytorch backend, with multi-gpu, on pytorch version 0.3.1

When I try to decode my dev set I am getting this error:

[code]

Any idea what might be the problem?

Best regards,
Miguel

[2018-07-13 13:14] sw005320 commented on #290
Thanks. I'll test it.

[2018-07-13 13:21] bobchennan commented on #279
@miguelvr interesting to know. Clearly multiprocessing should be better since it potentially avoids GIL problem.

[2018-07-13 13:58] jnishi commented on #295
I tried the librispeech recipe again with current master version. I run it only 1 epoch, but used whole train data. The error did not happen.

[2018-07-13 19:11] creatorscan commented on #262
@sw005320 @takaaki-hori
The observations with only using attention with an4

Baseline with mtlalpha 0.5 on test set:
%CER    17.1
%CER   130.5 (maxlenratio=0.8, minlenratio=0.3)

The directory you can find these files are in:
`/home/hltmbask/espnet/egs/an4/asr1/exp{train_nodev_attention_pure,train_nodev_baseline} `

[2018-07-16 07:01] ZhuoranLyu commented on #279
@sw005320 Thanks. Another quick question, if I use vggblstmp encoder, shall I set do_delta=true instead of false in the run.sh?

[2018-07-16 14:32] ramon-astudillo opened #300 "Default Makefile installs pytorch 4.0"
Had to change this in `tools/Makefile`

[code]

BTW In my platform pytorch 4.0 causes a warp_ctc compile error.

[2018-07-16 14:34] miguelvr commented on #300
I think that is the intended behavior, as described in the README

[2018-07-16 14:35] ramon-astudillo commented on #300
From the other issues it seemed that we were delaying the transition to 4.0.

[2018-07-16 15:19] sw005320 commented on #279
You don't have to. I tested it, and this does not make significant difference.

[2018-07-18 17:24] geniki commented on #262
Your issue might be a consequence of this issue in warp_ctc https://github.com/SeanNaren/deepspeech.pytorch/issues/250 - the gradients wrt the CTC loss are not scaled by the hyperparameter.

[2018-07-19 15:13] creatorscan commented on #262
Further update on pure attention based models on voxforge Italian, bigger data compared to an4:

The training accuracy varies as follows:

[train_loss.txt](https://github.com/espnet/espnet/files/2210501/train_loss.txt)
[test_cer.txt](https://github.com/espnet/espnet/files/2210508/test_cer.txt)

[2018-07-19 16:31] ramon-astudillo opened #304 "gpu_id should be set to empty when cpu used"
Right now is set to [-1] e.g.

https://github.com/espnet/espnet/blob/974ade39bda50b5c8f88548a83748e29f005259b/src/asr/asr_pytorch.py#L257

This leads to false number of gpus used in places where the init function takes argument`device=gpu_id` and has
[code]
Example: `PytorchSeqUpdaterKaldi`

https://github.com/espnet/espnet/blob/974ade39bda50b5c8f88548a83748e29f005259b/src/asr/asr_pytorch.py#L105

[2018-07-19 17:55] sw005320 commented on #262
This is super critical for our MTL. Now, I found a lot of reasoning of our wired results. We'll work on fix it.
@jheymann85, just make sure. Your chainer warp CTC does not have such problems, right?

[2018-07-19 19:41] m-wiesner commented on #262
Ok. We've confirmed that this is at least partially a warp_ctc issue. The gradient is not scaled by mtlalpha and hence mtl_alpha = 0.0000000000001 results in the same gradient as mtl_alpha 1.0. Only the attention weight is being changed.

This means that there is probably another bug in the attention network.

[2018-07-21 04:12] kan-bayashi opened #305 "torch.matmul in AttLoc.forward requires much more GPU memory"
I found that `c = torch.matmul(w.unsqueeze(1), self.enc_h).squeeze(1)` in `AttLoc.forward` requires much more memory.
https://github.com/espnet/espnet/blob/master/src/nets/e2e_asr_attctc_th.py#L797-798

I confirmed that this causes OOM error when using ljspeech TTS recipe.

- Original version
batchsize 32 -> working

- Matmul version
batchsize 32 -> OOM error
batchsize 25 -> OOM error
batchsize 20

[2018-07-25 03:11] hirofumi0810 commented on #133
@sw005320

I'm interested in the extension of espnet for speech translation tasks.
So I want to add new recipes and develop some modules.

[2018-07-25 12:34] sw005320 commented on #133
Thanks. I'm also planning it. Let's do it :)

[2018-07-26 01:29] ramon-astudillo commented on #300
We are transiting to 4.0, all clear now.

To make Pytorch 4.0 run in my platform (SUSE) , the solution was to set the GCC to version 5 or more e.g. in your `~/.bashrc` set

[code]
Props to @creatorscan for this.

[2018-07-26 01:29] #300 closed

[2018-07-26 11:18] ShigekiKarita commented on #305
I agree. Could you revert it?

[2018-07-26 11:19] ShigekiKarita commented on #305
Does it only appear in CPU mode?

[2018-07-26 13:06] kan-bayashi opened #310 "Memory leaking in tts_pytorch"
I found that `tts_pytorch` has memory leaking problem.
But I have not yet found the reason.

[2018-07-26 13:57] Fhrozen opened #311 "MultiGPU error on WarpCTC"
I prepared a new docker container with the updated tools, and when I tried to run with multigpu, I got this error.
I am posting this here to know if someone else has a similar error with the new warpctc.

[code]

[2018-07-27 04:03] soumith commented on #279
DistributedDataParallel will be much better for RNNs. Please use that if possible, even on single node.

Have a look at our Launch Utility documentation that cleanly describes how to use DistributedDataParallel: https://pytorch.org/docs/stable/distributed.html#launch-utility

You can treat your training script has not getting a split input, which also simplifies your code a lot.

[2018-07-27 19:47] mallidi commented on #262
After updating my branch with the warp_ctc issue
I trained a network with mtlalpha=0.0 and decoded with ctcweight0.0 and [minlen, maxlen] = [0.2, 0.8]

baseline model (CER %) = 4.5
train_mtlalpha0.0, decode ctcweight=0.0 **without** [minlen, maxlen] constraint (CER %) = 23.6
train_mtlalpha0.0, decode **with** ctcweight=0.0 [minlen=0.2, maxlen=0.8]  (CER %) = 5.8

So my take is, if you want to trai

[2018-07-27 20:43] jnishi opened #316 "Version of Pytorch and Warp-CTC"
Pytorch 0.4.1 is released at yesterday. Now pytorch is fixed to 0.4.0 because older version of warp-ctc pytorch binding cannont be build with pytorch 0.4.1 (cf. https://github.com/espnet/espnet/pull/312).

Current version of original repository of warp-ctc now supports pytorch 0.4.1, but it cannot be built with pytorch 0.4.0. It means if my repository followed it, all user must use pytorch 0.4.1.

[2018-07-27 22:45] jnishi opened #317 "Error in Chainer RNNLM language model training."
When I run the script of CSJ recipe without `--ngpu` option, error occured.
[code]

This may be because `gpu_id` is defined [here](https://github.com/espnet/espnet/blob/master/src/lm/lm_chainer.py#L199) , but it does not executed when `gpu_id` equals to 0.

[2018-07-28 00:48] kan-bayashi commented on #305
Merged.

[2018-07-28 00:48] #305 closed

[2018-07-31 20:57] sas91 commented on #295
I faced the same issue recently. Guess this https://github.com/espnet/espnet/pull/319 should solve this issue.

[2018-08-02 02:41] ShigekiKarita opened #320 "pytorch 0.4.1 problems"
I'm testing 0.4.1 pytorch locally

https://github.com/pytorch/pytorch/releases

- no longer `_assert_no_grad` in torch
/src/nets/e2e_asr_attctc_th.py", line 462, in chainer_like_ctc_loss
from torch.nn.modules.loss import _assert_no_grad

- forked warp-ctc causes segmentation faults even with its `tests/test_cpu.py`
  - I confirmed origin https://github.com/SeanNaren/warp-ctc was OK. maybe it is ti

[2018-08-02 03:55] ShigekiKarita commented on #316
Thanks for report. I think supporting only 0.4.1 is the best.

[2018-08-02 04:10] #320 closed

[2018-08-02 04:10] ShigekiKarita commented on #320
duplicated #316

[2018-08-02 04:11] ShigekiKarita commented on #316
in SeanNaren branch, there already has been size_average option that is same to our normalization https://github.com/SeanNaren/warp-ctc/blob/pytorch_bindings/pytorch_binding/warpctc_pytorch/__init__.py#L41

[2018-08-02 09:06] kan-bayashi commented on #316
I also want to support only 0.4.1.
And we should conduct refactoring of scripts to remove the part related to `torch_is_old`.

[2018-08-02 09:13] sw005320 commented on #316
I agree

[2018-08-02 11:02] sw005320 commented on #276
Now I confirmed that the CPU computation with the pytorch backend is really slow compared with that with the chainer backend (possibly due to the lack of BLAS/LAPACK configurations for numpy, as @ShigekiKarita pointed out?). We'll work on it.

[2018-08-02 23:12] alirezadir opened #321 "Problem with creating docker image"
When I'm trying to run `./run.sh --docker_gpu 0 --docker_egs chime4/asr1 --docker_folders /export/corpora4/CHiME4/CHiME3 --dlayers 1 --ngpu 1` from docker folder to create a docker image, I get the following error:
`E: Held packages were changed and -y was used without --allow-change-held-packages.`
I tried adding the flag `--allow-change-held-package` after all `apt-get -y install`s in the  `espn

[2018-08-03 09:48] bluemonk482 opened #322 "Is there any already trained model?"
Is there any already trained model on conversions in English that I can use off-the-shelf? Thanks.

[2018-08-05 06:37] Fhrozen commented on #321
Hello there, I am wondering about your error. Could you try to prune your docker environment.
I tried with multiple environments (CentOS & Ubuntu) and I had no problem in the installation.
Could you give me more details about your PC and environment.

[2018-08-05 07:07] Fhrozen commented on #321
Hello there,
You need to add `--allow-change-held-packages` in the `apt-get remove -y libnccl`. This part of the code is the one which is raising the error. I will push a commit with this updates after some additional tests with docker.

[2018-08-06 02:15] Ina299 opened #324 "Is there a plan for Online Decoding?"
Hi, is it possible to use ESPnet for realtime ASR?
I find that Kaldi can do online decoding by using https://github.com/alumae/kaldi-gstreamer-server and
https://github.com/alumae/gst-kaldi-nnet2-online
I guess if I modify gst-kaldi-nnet2-online plugin properly, we can do online decoding by ESPnet.
Do you have such a plan for online decoding function?

[2018-08-06 09:02] b-flo commented on #324
Hi,

You don't really need Kaldi Gstreamer and alumae's wrapper of Nnet2decoder to do online decoding with Kaldi models, using `online2-wav-nnet2-latgen` is all you need for nnet2 models. As for chain models, use `online2-wav-nnet3-latgen` but you have to set acoustic-scale to 1.0 and shift_factor to 0.03.

I don't think you should use any of these binaries to build an online decoder for ESPnet as

[2018-08-06 20:10] sw005320 commented on #322
The most of models I have are based on (old) pytorch 0.3.1. I'm now preparing them with pytorch 0.4.x for Librispeech. @ruizhilijhu, @jnishi, do you have the latest pytorch Librispeech models?

[2018-08-06 20:15] ruizhilijhu commented on #322
I don’t have models in librispeech. Most of my experiments are in babel Vietnamese. Harish might have Liberispeech model.@mallidi

[2018-08-06 23:44] dneelagiri commented on #321
Hello, I had same issue mentioned above "Held packages" and  followed your recommendation to add --allow-change-help-packages and the script executed without failing at "Held packages" and failed with below error. I tried to install nvidia-docker but still see the same error

sudo ./run.sh --docker_gpu 0 --docker_egs chime4/asr1 --docker_folders /export/corpora4/CHiME4/CHiME3 --dlayers 1 --ngpu 1

[2018-08-06 23:56] Fhrozen commented on #321
@dneelagiri I found smth in the net about drivers error (https://github.com/NVIDIA/nvidia-docker/issues/319) Could you please check the link and follow the instructions to check your drivers.
If the error persist, could you give more details about your environment. I am wondering if you installed nvidia-docker(1) or 2.

[2018-08-07 00:59] alirezadir commented on #321
Hi, I added the flag `--allow-change-held-packages`, but now I'm getting the following error (just pasting the tail of the error):
[code]

[2018-08-07 05:27] jnishi commented on #322
@sw005320 I also don't have character model, though I have the subword model with 5000 units.

[2018-08-07 16:18] Fhrozen commented on #321
@alirezadir I finished some test with docker and I could run voxforge example using cuda9.1. It seems that the docker build employs the cuda folder already installed in your machine. So, if you are trying to install a cuda9.0 into a cuda9.1, it will raise the error that you described. I left the `--docker-cuda flag` in 9.0 for some test, but it is better to set it to your own pc cuda ver. or just

[2018-08-07 18:12] alirezadir commented on #321
@Fhrozen thanks for your response. On my own machine (ubuntu 16.04), I have cuda 8.0 with cudnn 5.1.10. I was trying the default values in your run.sh (cuda9.0) when it was throwing that error.
Now I left the docker_cuda and docker_cudnn empty, but I'm getting the following errors:
`E: Unable to locate package libnccl-dev
E: Unable to locate package libnccl2`

[2018-08-07 19:16] Fhrozen commented on #321
That seems to be a problem with the CUDA
 8 Docker container. It seems that it has not installed the nccl libs by default as the CUDA 9+. You need to delete the apt remove from the dockerfile. I will need to test on old version to check if there is any additional problem.

[2018-08-07 23:09] alirezadir commented on #321
Yes I realized when I was running `sudo ./run.sh` it couldn't locate my CUDA. So my question is if it's possible to create the docker image with CUDA 9.1 if my current machine has cuda 8.0 or 9.0. Also, I was wondering if cuda 9.0 is not supported (i.e. only 9.1 works)?  Thanks for your help.

[2018-08-07 23:58] weiwchu commented on #311
@Fhrozen I met the same issues as you. I dig into it, it seems there was some python binding issues with warp-ctc. But I don't have time to modify that, so I rollbacked to pytorch==0.3.1 other than using the latest pytorch 0.4 and Sean Naren's warp-CTC:
[code]
Then I was good to go. Hope that could also work for you.

[2018-08-08 01:17] GaofengCheng commented on #311
I also met this when using pytorch-4.0. Maybe pytorch-3.0 will help

[2018-08-08 02:27] Fhrozen commented on #321
@alirezadir I tried to do the same, running a docker cuda9.1 in a computer with 9.0 and had some other problems. I am not sure if it may be possible if you add cuda-9-1 in the apt-get install inside the docker container.
About cuda, any version 7.5+ is supported, so there may be not problem with cuda 9.0

[2018-08-08 13:43] shubham-IISc opened #331 "index out of range error"
Hello everyone! I was just running the chime5 baseline without making any changes.
During decoding, I am getting the following error:
![e](https://user-images.githubusercontent.com/35381101/43840720-f91c0c24-9b3e-11e8-8a46-d52be3d97f19.png)

Can someone please help me with this error. I tried but could not figure out that what exactly has went wrong.

Thanks

[2018-08-08 18:25] alirezadir commented on #321
@Fhrozen I installed cuda 9.1 and cudnn 7 on my machine, and tried the run.sh again, but still it fails on warp-ctc step:
`Step 21/24 : RUN make venv/lib/python2.7/site-packages/torch USE_VENV=OFF && make warp-ctc USE_VENV=OFF
`
...
[code]
I appreciate your help.

[2018-08-08 19:07] Fhrozen commented on #321
@alirezadir Now that is strange. I just built a docker container with cuda 9.1 4 days ago.
The cuda container 9.1 was built 2 weeks ago. Could you please give details about the docker and docker containers.
I am using a machine with centos 7.0, docker server 17.12-ce and run with the updated version of Espnet. As much as possible, try to prune your docker system just in case.
If this error continu

[2018-08-08 19:29] alirezadir commented on #321
@Fhrozen Sure, here is my complete log:
[log4.txt](https://github.com/espnet/espnet/files/2271665/log4.txt)
And here is my system info:
Ubuntu 16.04
Cuda compilation tools, release 9.1, V9.1.85
CUDNN 7.0.5
docker 18.06.0-ce
And here is the arguments in the run.sh file:
[code]

[2018-08-08 20:41] sw005320 opened #334 "Development plan for v.0.2.0"
@kan-bayashi, @jnishi, and me discussed the following development plan, which mainly cleans and refactors codes. We'll mainly work on https://github.com/espnet/espnet/tree/dev branch, then marge the branch to the master. If you have any suggestions for this, please let us know.
- [x] fix to use PyTorch 0.4.1 (stop to support PyTorch 0.3.x) (#332)
- [x] unify the data converter with TTS one (#343)

[2018-08-08 22:17] sw005320 commented on #331
Which version of pytorch are you using?

[2018-08-08 23:33] alirezadir commented on #321
@Fhrozen I was able to build the image pulling your latest commit on docker file :)

[2018-08-08 23:46] Fhrozen commented on #321
Glad to read that. Just to confirm, could you please test the AN4 and voxforge examples and compare the results? This will help to check the correctness of the docker container.

[2018-08-09 03:44] ZhuoranLyu commented on #279
@soumith Hi soumith, I tried to use DistributedDataParallel to train the model parallel. However, the problem is that it requires more memory than using DataParallel. Hence I have to reduce the batchsize and then the training time is much longer.

[2018-08-09 04:46] hlthu commented on #311
I used the advice provided by @weiwchu, and solved the problem.

[2018-08-10 05:14] sw005320 opened #344 "Chainer training is slow even when we only use CTC"
I'm now revisiting CTC, attention, and hybrid CTC/attention, and found that chainer training is very slow compared with pytorch training even when we only use CTC. This is strange for me because our CTC implementation is based on VGG-like CNN (cudnn), BLSTM (cudnn), and warp CTC, and it would not have significant speed difference between chainer and pytorch because both are simply using cudnn and

[2018-08-10 17:43] divyaneelagiri opened #345 "Multi GPU error when using docker for training"
Hello,

I created a docker image and was able to train using that for single GPU. However when I try to use multi GPU for training I get below error.  Can you please let me know how I can fix this issue?

Traceback (most recent call last):
  File "/espnet/tools/venv/local/lib/python2.7/site-packages/chainer/training/trainer.py", line 306, in run
    update()
  File "/espnet/tools/venv/local/lib/py

[2018-08-11 16:46] shubham-IISc commented on #331
thanks a lot. i got it resolved. I reinstalled pytorch and then it did not come.

[2018-08-12 12:16] lightwithshadow opened #348 "make erro(cython not install)"
mkl-random 1.0.1 requires cython, which is not installed.
mkl-fft 1.0.4 requires cython, which is not installed.

[2018-08-13 10:08] rishabh-09 opened #352 "queue.pl exit with status 139"
Hello everyone! I was trying to run the toolkit on librispeech/chime5 dataset without any changes in codes. I am using queue.pl.
While running asrtrain.py stage fro librispeech, I get the floowing error in my log file:
![s1](https://user-images.githubusercontent.com/42341068/44025616-390d7cb4-9f0e-11e8-9514-1b9314faab96.png)

Also, same error comes when I run asrtrain.py stage on chime5.
I could n

[2018-08-13 18:47] rishabh-09 commented on #352
Following is the status of my log file with verbose=1.

![s3](https://user-images.githubusercontent.com/42341068/44051342-38ea5cfe-9f57-11e8-97ad-0b60efc055eb.png)

I could see the loss and gradient calculated, but there seems to be some problem with updating the parameters.

[2018-08-14 12:41] sw005320 commented on #352
I have no idea what happened, but it may be due to some grid engine setup. We actually have to hard code some GPU handling in https://github.com/espnet/espnet/blob/master/src/bin/asr_train.py#L170-L182, and you may also need such things.

[2018-08-14 19:15] dneelagiri commented on #311
@Fhrozen I also had similar issue (https://github.com/espnet/espnet/issues/345). Can you please let me know if you have found any solution other than downgrading pytorch version?

[2018-08-15 01:23] butterl opened #356 "Any pretrained model or sample wav could be shared for Tacotron 2?"
Hi，
Thanks for sharing this project ！
I have tried locally to train but the due to the slow GPU，It runs much slow. Is there any  pretrained model or sample wav could be shared for the Tacotron 2 part? @kan-bayashi

BRs,
Butter

[2018-08-15 09:16] luweishuang opened #357 "about resume used in chainer"
in src/asr/asr_chainer.py ,I found that resume code as:
    # Resume from a snapshot
    if args.resume:
           chainer.serializers.load_npz(args.resume, trainer)
 and
       trainer = training.Trainer(updater, (args.epochs, 'epoch'), out=args.outdir) ,
updater is from train_iter and train_iter is training-set related.  Does it means when I don't  change any model network but changing training

[2018-08-15 15:37] sw005320 commented on #357
We don't support this function, although several people are working on some adaptation setup where they first read a model and their parameters instead of using a resume function (I believe). You could refer the recognition code, e.g., https://github.com/espnet/espnet/blob/master/src/asr/asr_chainer.py#L490-L502. @creatorscan may know more about this.

[2018-08-15 18:46] rishabh-09 commented on #352
Thanks for your reply. I hardcoded for cuda vsible device as you suggested in my code.
But, still the error remains same. I tried with run.pl and there also same error appeared.
I am using pytorch 0.4.0 .. should i consider updating it ? or could there be some other dependency missing?
Kindly help. @sw005320

[2018-08-15 18:48] sw005320 commented on #352
can you try pytorch 0.4.1?

[2018-08-15 18:54] rishabh-09 commented on #352
sure .. i will try it..

[2018-08-16 02:06] kan-bayashi commented on #356
Hi @butterl.
The audio samples are available from
(decoding with Griffin-Lim)
https://drive.google.com/drive/folders/1HswA8pIHmFoaNDdBAGWpoAghWyg3slDc?usp=sharing
(decoding with WaveNet vocoder)
https://drive.google.com/drive/folders/19z1Bndcp3hmofrVcZfPoJpLjQZkwEODK?usp=sharing

WaveNet vocoder is available from https://github.com/kan-bayashi/PytorchWaveNetVocoder

Pretrained model of LJspeech mo

[2018-08-16 02:11] sw005320 commented on #356
I think we shoud also use github release function to distribute models and data so that we can avoid version conflicts. See the draft of release v.0.1.4

[2018-08-16 03:13] butterl commented on #356
@kan-bayashi  thanks for reaching out！
The wavenet audio is very good ,what about the training steps?

Also I find the tacotron output have a lot robot-like sound reverb . I only have found [samples ](https://github.com/syang1993/gst-tacotron/files/2102924/eval-87k-r2.zip)in @syang1993 's repo not having this effect. Does it mean with espnet we need more training steps or need introduce some more

[2018-08-16 03:58] kan-bayashi commented on #356
Hi @butterl, thank you for your comments.
In the case of wavenet vocoder, we separately trained tacotron2 and wanvnet with same traininig data (LJSpeech), each of training requires about 3 days with single GPU.
If we perform joint training, the quality become better.

In the case of Griffin-lim samples, we do only 100 iterations to recover phase components.
This is the reason why the sample sounds

[2018-08-16 14:06] rishabh-09 commented on #352
Hey @sw005320 I installed pytorch 0.4.1 and rebuilt pytorch-bindings....
But while running asrtrain.py , I am getting following error:
![error](https://user-images.githubusercontent.com/42341068/44213524-85ac7c80-a18b-11e8-8d8d-80bdcb496717.png)

I just wanted to know if toolkit has been fixed to pytorch  0.4.1?

Thanks

[2018-08-17 00:49] alirezadir commented on #321
Hi @Fhrozen , I was able to run An4 and voxforge examples on my docker. I was wondering which part of results you wanted me to share (training or decoding test)?

[2018-08-17 00:57] alirezadir commented on #311
@Fhrozen I am having an exact similar issue. I was wondering if you have found a solution.

[2018-08-17 03:39] Fhrozen commented on #345
About docker, there is a new image that has been implemented for the new release of ESPnet and can be found at #346, I tested it with multigpu on Chainer. However, if you are training with pytorch there is an active thread with the current problem #311. Still working on the problem.

[2018-08-17 03:41] Fhrozen commented on #321
I would like to know if there is a big difference between the results given by the RESULT files and the obtained by yourself. Just want to confirm that the training and the evaluation works well in docker. I did not have any problem. BTW, we are implementing new docker into a dockerhub repository. More info in #346.

[2018-08-17 03:45] Fhrozen commented on #311
@dneelagiri  and @alirezadir . Due to lack of time, I could not test any solution directly.  I use multigpu on chainer. but the solution given by @weiwchu seems to be working. So it will be better if you rebuild the container modifying the required lines in /tools/Makefile

[2018-08-17 17:54] alirezadir commented on #345
Thanks @Fhrozen I was able to run Multi-GPU using chainer on my own docker.

[2018-08-17 17:54] alirezadir commented on #311
Thanks @Fhrozen, chainer worked for me :)

[2018-08-19 02:11] #182 closed

[2018-08-19 02:11] #180 closed

[2018-08-19 02:12] kan-bayashi commented on #182
Fixed.

[2018-08-19 02:12] kan-bayashi commented on #180
Now fixed.

[2018-08-19 02:12] kan-bayashi commented on #154
Now fixed.

[2018-08-19 02:12] #154 closed

[2018-08-19 10:59] jnishi commented on #344
I tried following conditions.

- dataset: librispeech
- parameters: `--mtlalpha 1.0 --ctc_weight 1.0`
- backend: both pytorch and chainer
- `dev` branch.

In pytorch backend, train log is listed as below.
[code]
In chainer backend, train log is listed as below.
[code]

It seems that  pytorch backend is around 1.1 times faster than chainer backend, but I don't think it is significant difference. Ho

[2018-08-19 22:23] shubham-IISc opened #363 "chainer cuda environment error"

[2018-08-19 22:49] #363 closed

[2018-08-20 02:51] #357 closed

[2018-08-21 13:58] jheymann85 commented on #262
Should be fine for Chainer. The gradient is scaled [here](https://github.com/jheymann85/chainer_ctc/blob/master/chainer_ctc/warpctc.py#L83) with the incoming (scalar) gradient as well as with the number of examples since we output the mean batch loss.

[2018-08-21 19:28] dneelagiri opened #364 "Nbest output after decoding"
Hello @Fhrozen ,

Currently there is only 1best hypothesis which can be output as part of espnet during decoding. Is there any possibility of supporting outputting nbest hypothesis similar to kaldi?

Thank you

[2018-08-21 19:32] Fhrozen commented on #364
Dear @dneelagiri
I was looking in the development plan #334 about your request.
@sw005320 Could you give more details about this?.

[2018-08-22 22:05] dneelagiri commented on #364
Thank you @Fhrozen . @sw005320 could you please let me know if the the nbest option will be available as part of next version?
Also I had one other question if you can please help with that too? Is the word-rnnlm support for espnet supported for chainer backend?
I tried to incorporate the word-rnnlm into librispeech following the wsj run.sh script. Although I receive a numpy error when I try to lo

[2018-08-23 20:53] #331 closed

[2018-08-23 20:53] #264 closed

[2018-08-23 21:47] sw005320 commented on #364
This is already supported. https://github.com/espnet/espnet/blob/master/src/bin/asr_recog.py#L48-L49
If you specify the option, the nbest results will be written `data.xxx.json` in the recognition result directory.

Yes, it is supported.
Please let me know the error message.

[2018-08-24 13:30] sw005320 commented on #322
I just prepared the librispeech model:
- ESPnet version 0.1.5: https://github.com/espnet/espnet/releases/tag/v.0.1.5
- Models: https://github.com/espnet/espnet/releases/download/v.0.1.5/librispeech_asr1.tgz
  - RNNLM: `exp/train_rnnlm_2layer_bs256_unigram2000/rnnlm.model.best`
  - ASR models: `exp/train_960_vggblstm_e4_subsample1_2_2_1_1_unit1024_proj1024_d1_unit1024_location1024_aconvc10_aconvf10

[2018-08-24 16:49] sw005320 commented on #334
@kan-bayashi, @creatorscan, @Fhrozen, @hirofumi0810, @jnishi, I just merged the dev branch to the master. Please continue your development, but send a PR toward the master branch (not dev branch).

[2018-08-25 02:02] #295 closed

[2018-08-25 08:25] #115 closed

[2018-08-25 08:25] #14 closed

[2018-08-26 13:47] #193 closed

[2018-08-26 13:50] #213 closed

[2018-08-26 13:53] #161 closed

[2018-08-26 14:06] kan-bayashi commented on #317
Fixed #379

[2018-08-26 14:06] #317 closed

[2018-08-26 14:27] kan-bayashi opened #380 "Chainer vs Pytorch: Re-visit computational time"
We like chainer but in terms of computational time, it is much slower than pytorch.
I summarized the result of comparison between chainer and pytorch using current version.
We want developpers of chainer to accelerate the training process.

## Environments

- CentOS 7
- Python 3.6
- Cuda 9.0
- Cudnn v7.2
- NCCL v2.2
- GTX Titan pascal (x 2)
- Chainer v4.3.1
- Cupy v4.3.0
- Pytorch v0.4.1

## Exper

[2018-08-27 09:15] kan-bayashi commented on #316
Now is fixed.

[2018-08-27 09:15] #316 closed

[2018-08-27 09:51] kan-bayashi commented on #311
Now this problem is fixed (https://github.com/jnishi/warp-ctc/pull/2).
Please re-setup warp-ctc using current master's Makefile.

[2018-08-27 09:51] #311 closed

[2018-08-27 09:55] kan-bayashi commented on #304
This `num_gpu` is used only for the scaling of loss/gradient in the case of multi-gpu.
So it causes no problem even if we use cpu.

[2018-08-27 09:55] #304 closed

[2018-08-27 09:57] kan-bayashi commented on #348
Please install Cython.
If you give us more information, we can give you more advice.

[2018-08-27 09:57] #348 closed

[2018-08-27 09:58] #356 closed

[2018-08-27 10:00] kan-bayashi commented on #364
Please use `--nbest` option for `asr_recong.py`.

[2018-08-27 10:00] #364 closed

[2018-08-27 10:01] kan-bayashi commented on #345
Duplicated (#311).

[2018-08-27 10:01] #345 closed

[2018-08-27 10:04] kan-bayashi commented on #279
The bug itself is fixed. I will close this issue.

[2018-08-27 10:04] #279 closed

[2018-08-27 10:07] kan-bayashi commented on #352
This is warpctc version mismatch issue.
Could you test using current master? It is better to start from setup.

[2018-08-27 10:08] kan-bayashi commented on #234
It seems to be solved. Close issue.

[2018-08-27 10:08] #234 closed

[2018-08-27 10:09] kan-bayashi commented on #290
In current master, this problem is fixed.
I close this issue.

[2018-08-27 10:09] #290 closed

[2018-08-27 10:10] kan-bayashi commented on #133
Move on to #334

[2018-08-27 10:10] #133 closed

[2018-08-27 10:11] kan-bayashi commented on #28
Continue to discuss in #380

[2018-08-27 10:11] #28 closed

[2018-08-27 10:15] kan-bayashi commented on #244
Please check the WORLD api.
`sp` is spectrum components, and `ap` is aperiodicity components.
You can use only 'f0'.

[2018-08-27 10:15] #244 closed

[2018-08-27 15:37] mdeisher commented on #141
We are still working on this but are not yet successful.  I think we are getting close.  EspNet conventions of storing parameters conflict with the ONNX exporter.  We are working on a patch.

[2018-08-28 02:05] kan-bayashi commented on #233
Fixed (#378)

[2018-08-28 02:05] #233 closed

[2018-08-28 03:18] kan-bayashi commented on #380
I'm not sure but in the case of chainer multi GPU, all of losses are gather into main gpu.
Therefore, main gpu requires slightly more memory.
If the batchsize is near the limit in the case of single gpu, the problem might be happen I think.

[2018-08-28 03:45] kan-bayashi commented on #262
Now we use @jnishi patched warp-ctc (https://github.com/jnishi/warp-ctc).
The problem of gradient scaling in warp-ctc is fixed.

And if we use only attention network, we should set appropriate `minlenratio`, `maxlenratio`, and `penalty`.
You can check these settings in our article.

[2] Shinji Watanabe, Takaaki Hori, Suyoun Kim, John R. Hershey and Tomoki Hayashi, "Hybrid CTC/Attention Architectur

[2018-08-28 03:45] #262 closed

[2018-08-29 09:16] Ina299 commented on #324
Thank you for your reply.
OK, I understand that ESPNet is not focusing on online decoding for now.
I need Gsteamer to use it from Websocket and it works on chain model.
Maybe I need to write decoder for ESPNet by myself on both cases (online2-wav-nnet3-latgen and Gstramer).
On research level, I guess we need to get rid of auto regressive component ... like Parallel-Wavenet done on the speech synth

[2018-08-29 14:58] b-flo commented on #324
I'm not familiar with Parallel-Wevenet so I could not say.

The main problem is that, for standard attention-based model, when decoding you integrate all the inputs h into context using the attention mechanism so you need to wait for the entire input to be seen before decoding.
[Chan. W & Lane I.](https://pdfs.semanticscholar.org/39a8/ce943d0b4171e7fa6e4cab2d80cdb23cdbf1.pdf) showed an online appr

[2018-08-30 05:40] trangnm58 opened #392 "Installation using "make -j" error"
I follow the instructions and run "make -j" in tools/ folder. I got the error as follow:
...
gcc.compile.c++ bin.v2/libs/wave/build/gcc-5.4.0/release/link-static/threading-multi/cpplexer/re2clex/cpp_re.o
gcc.archive bin.v2/libs/wave/build/gcc-5.4.0/release/link-static/threading-multi/libboost_wave.a
common.copy /home/trangnm/workspace/espnet-v.0.2.0/tools/mosesdecoder/opt/lib/libboost_wave.a
...fa

[2018-08-30 10:45] kan-bayashi commented on #392
Hi @trangnm58 .
Thank you for your report.
Could you run following commands step-by-step again?
[code]
Sometime `compile.sh` is failed if the server has the number of thread > 64.

And if you do not want to run speech translation recipe `egs/iwslt18`, you do not have to install moses.
You can skip it.

[2018-08-30 17:35] sw005320 commented on #392
@hirofumi0810, is this moses installation required? As far as I remember, you just use some moses scripts, and we may not have to install moses. Is that correct? If so, we can just git clone moses, and skip the installation.

[2018-08-31 01:15] trangnm58 commented on #392
Thank you, @kan-bayashi . I still got the same error but I will skip moses.
However, when I run "python check_install.py", I got warnings:

WARNING: --> chainer_ctc is not installed.
WARNING: --> warpctc_pytorch is not installed.

Can you show me where can I get these libraries?

[2018-08-31 05:14] trangnm58 commented on #392
I also got this error when I run "./run.sh --backend chainer" in "egs/an4/asr1/" directory:

`./run.sh: line 66: utils/parse_options.sh: No such file or directory`

[2018-08-31 05:35] kan-bayashi commented on #392
It seems that the installation is totally failed.
Please check your tools directory.
If the install is  succeeded, the structure is as follows:
[code]
If there is no `nkf`, `kaldi`, `kaldi-io-for-python`, or `sentencepiece`, please install them via following commands:
[code]

[2018-08-31 16:17] Fhrozen opened #400 "float division by zero when Using ngpu 0 on pytorch"
Currently, I am testing the docker containers and found that when I tried to run the pytorch training (on AN4/ASR1) using cpu it breaks due to this setup:
https://github.com/espnet/espnet/blob/76f6d177752d9706279937a4126ba53b040252ee/src/asr/asr_pytorch.py#L122
The chainer training in cpu has not this problem.

[2018-08-31 16:43] kan-bayashi commented on #400
Sorry, this is my mistake.
I’ve fixed it (#401).

[2018-08-31 16:46] Fhrozen commented on #400
Reported, PR and closing =)

[2018-08-31 16:46] #400 closed

[2018-08-31 17:13] trangnm58 commented on #392
I figured that there is something wrong with symlinks so I fixed it.
The problem is solved. Thank you!

[2018-08-31 17:14] #392 closed

[2018-08-31 18:28] dneelagiri opened #402 "Resume LM Training"
Hello,

When I try to train a 20GB training data file using pytorch RNNLM I always run into OOM issue where the training process is being killed by OS. For Network training there is option to use the snapshot and resume the training. Is there any similar option for RNNLM training where I can split 20G file and use the snapshot to continue training for other data.

This is useful not only for train

[2018-09-01 07:30] sw005320 commented on #402
Thanks for your feedback.
We're actually working on the LM training part more similar style to the main end-to-end ASR training including a resume function. So, please wait for a while.

[2018-09-01 20:28] sameerkhurana10 opened #404 "ASR training hangs in epoch 0, after few iterations"
Hi,

using
Espnet commit: 18ed8b0d76ae4bb32ce901152fdb35d1fc7484e4 - Tue Aug 28 10:56:46 2018 -0400
Pytorch: 0.4.1

Trying out librispeech. The training just stops (hangs) in epoch 0 after few iterations.

I am using pytorch backend with ngpus=4. There is no error in the log.

`tail -f train.log
0           300         288.4       324.985        251.815

[2018-09-01 21:14] kan-bayashi commented on #404
Hi @sameerkhurana10. Thank you for your report.
Which python do you use?

And could you try to change following lines as follows?
https://github.com/espnet/espnet/blob/afe1fe80a51d41d229baf476ca88e3c1e1a74590/src/asr/asr_pytorch.py#L267-L272
[code]
I'm not sure, but I doubt that data has not been sent from iterator.

[2018-09-01 21:51] sameerkhurana10 commented on #404
thanks @kan-bayashi

using python-3.6.

With the suggested changes, the epoch 0 is finished successfully.

[2018-09-01 22:12] kan-bayashi commented on #404
Thank you for your quick report.
If the training hangs with upper snippets, please let me know.
Maybe Multiprocessor has a bug if we use python3.

@jnishi, do you have any idea to fix it?

[2018-09-02 15:00] jnishi commented on #404
Thanks for reporting.

@kan-bayashi I have not heard about bugs related to MultiprocessIterator and python3. There are only open issues about MultiprocessIterator with OpenCV.

https://github.com/chainer/chainer/issues/4412
https://docs.chainer.org/en/latest/tips.html?highlight=Multiprocess#my-training-process-gets-stuck-when-using-multiprocessiterator

Anyway, I will try to run with multi-GPU and

[2018-09-03 10:36] kan-bayashi commented on #380
Hi @ShigekiKarita.

In the case of pytorch, current implementation returns summed loss scarlar, I think.
But in the case of chainer, we do not modified the model itself.
We just changed `updator` to enable multi-gpus.
So I’m not sure what happened actually.

If the server has a lot of cpus more than #jobs, $OMP_NUM_THREADS=1 is not the fastest setting, but I think this is very rare case.
In the ca

[2018-09-03 12:07] ShigekiKarita commented on #380
Actually, I have many CPU cores (~50) per single job, even
OMP_NUM_THREADS=1 was fastest when I benchmarked. Maybe omp algorithms or
CPU  cores are not smart as GPU cores.

2018年9月3日(月) 16:06 Tomoki Hayashi <notifications@github.com>:

[2018-09-06 03:46] stefbraun opened #409 "flac codec not installed by default"
Some recipes make use of the `flac` codec, e.g. librispeech. The `flac` codec is not installed on all systems (e.g. cluster), is it possible to add `flac` installation to the default installation routine?

[2018-09-07 07:02] kan-bayashi commented on #404
I also confirmed this phenomena.
It should be fixed.

[2018-09-07 20:55] sameerkhurana10 commented on #404
Hi,

After training for 12 epochs, I get the error:

`Exception in main training loop: [Errno 2] No such file or directory: train_trim/deltafalse/feats.24.ark`

But the file exists...

Something wrong with the iterator?

`Traceback (most recent call last):
  File "/data/sls/u/sameerk/zen/icassp2018/e2e_pt/tools/espnet/tools/venv/lib/python3.6/site-packages/chainer/training/trainer.py", line 306, i

[2018-09-08 00:29] dneelagiri commented on #402
@sw005320 : Thank you for considering the previous request. Would you kindly also consider any way to speed up RNNLM training. Currently for a 7G data and 500K vocab file I am running into OOM error even after using batch size 4. And if I used 20K vocab file training started but its taking 3-4 days for an epoch.

Thank you!!

[2018-09-08 00:55] sw005320 commented on #402
@takaaki-hori is working on #406. About the speed, 500k vocab sounds very large, and I'm not sure we can manage to make some speed up for this setup.

[2018-09-12 13:58] Yue-Rain opened #410 "Failed building wheel for cupy;conda.mk:24: recipe for target 'virtualenv' failed"
Hello!
when i follow the installation,in the Step 2-A) installation with compiled Kaldi,  I ran an error:

![esp](https://user-images.githubusercontent.com/35569373/45429116-39465500-b6d5-11e8-83c4-9a42aecd1c51.png)
any thought will be appreciated!

[2018-09-12 14:10] creatorscan opened #411 "Support for pytorch 0.3"
https://github.com/espnet/espnet/blob/1a28505220fd3bfe44574c027a4e299f9415594d/src/asr/asr_pytorch.py#L237

@kan-bayashi I guess this is specific to pytorch 0.4. Is this part of the plan to completely switch to pytorch 0.4 ?

[2018-09-12 16:29] ShigekiKarita commented on #411
Yes, we switched https://github.com/espnet/espnet/issues/316 (we forget to update README)

I think this PR is the turning point https://github.com/espnet/espnet/pull/332
You can use the last commit before merging this PR for 0.3 https://github.com/espnet/espnet/commit/70e06b78755b840aaec756809b72a8a3fbe86195

[2018-09-12 16:31] ShigekiKarita commented on #410
It seems to be cupy related issue. Ask here https://github.com/cupy/cupy/issues

[2018-09-12 16:36] ShigekiKarita commented on #310
@kan-bayashi Do you still have this issue? Maybe I can help now because I'm trying some TTS recipes recently.

[2018-09-12 17:32] #411 closed

[2018-09-12 20:36] sw005320 opened #412 "use hdf5 at feature dumping and reading"
@ShigekiKarita and @TsubasaOchiai pointed out the effectiveness of using the hdf5 format. This is one of our old action item, and I want to raise this issue. I found the following source https://github.com/simpdanny/caffe-kaldi/blob/master/kaldi-ark-to-hdf5.py, and it seems that it is very straightforward to call such function in `dump.sh`. Then, in the main ESPnet, we can just read hdf5 files ins

[2018-09-13 01:49] kan-bayashi commented on #310
Thank you @ShigekiKarita. I need your help.
Yes, tts recipe still has memory leaking issue.
I’ve tried several methods:
- Use `gc.colloct()` in the end of `update_core`
- removal of `batch` variable  in `update_core`
But there is no effect, memory is still leaking...

[2018-09-13 02:08] Yue-Rain commented on #410
ok,Thank you!!

[2018-09-13 16:45] Fhrozen commented on #412
I did something like that for another code (CHiME3)
I used python to convert the data from the mfcc and store it into h5py.
[mfcc_to_h5.txt](https://github.com/espnet/espnet/files/2380259/mfcc_to_h5.txt)

[2018-09-18 08:04] luweishuang opened #413 "draw attention png when inference a audio"
I want to draw every audio's attention png when doing recog function, and I add some code like this:
        att_ws = self.dec.calculate_all_attentions(h[0], y[0]['yseq'][1:-1])
             ......
        PlotAttentionReport._plot_and_save_attention(att_w, "att_ws/" + name + ".png")
but I got very strange attention results,
![guiji-20180831-326-it-001898](https://user-images.githubusercontent.com

[2018-09-18 09:07] kan-bayashi commented on #413
Hi @luweishuang.
Please let me know your espnet version (or commit id) and backend.
In current version,  you can use `e2e.calculate_all_attention`.
https://github.com/espnet/espnet/blob/master/src/nets/e2e_asr_th.py#L374
Please check the docstring to confirm your arguments are correct.

[2018-09-18 10:54] luweishuang commented on #413
I have fix the error in my code, but I found the decoder index exist value small than zero, like this

![guiji-20180831-datatang-it-001882](https://user-images.githubusercontent.com/12368977/45682880-44393380-bb74-11e8-812d-f655392e6633.png)
is that right?

[2018-09-18 12:09] kan-bayashi commented on #413
The behavior is by design of matplotlib (decoder outputs is too short (=4)).
`att_w` is a just a 2d matrix, so you can draw as you like.

[2018-09-18 18:46] alirezadir opened #414 "bugs in dokcer run.sh for root access"
Hello, I was trying to run the docker in root access, but faced two issues (potential bugs):
I think for root access `--docker_user` needs to be set as empty rather than `false`. Setting it to `false`, still passes the condition in shell script.

Also, in https://github.com/espnet/espnet/blob/f5a1dc148ad0f9b34aec02c9f46768555eefd3f0/docker/run.sh#L127
we need to add `cmd2="./run.sh $@"` beforehand

[2018-09-19 06:09] luweishuang commented on #413
Can I change a attention method because I found my test dataset perform a not so good alignment performance. Can you introduce a one which maybe have a better results, self-attention?

[2018-09-20 02:22] ruizhilijhu opened #416 "Issue when lm_weight=0"
I have run wsj script with wordLM.  I just used attention model without CTC. Without wordlm, the results looked reasonable. But when I use wordLM with lm_weight=0,0.5,1; the results are higher which are unexpected. Using the same LM on model trained with CTC, it worked fine.

Also, "no wordLM" should have the same results as "wordlm=0". Anyone experienced the similar issue before?

  | Dev |Dev| E

[2018-09-20 05:49] creatorscan commented on #416
I am also facing the se issue man..

On Thu, 20 Sep 2018 at 04:22, ruizhilijhu <notifications@github.com> wrote:

--
Peace,
Murali Karthick Baskar

[2018-09-20 17:33] sw005320 commented on #416
@ruizhilijhu, thanks for your report.
Can you give us the number of insertion, deletion, and substitution errors as well?
I just want to know whether it comes from a search issue.

@takaaki-hori, could you check this behavior?

[2018-09-23 06:28] chenzhehuai opened #419 "error when using ngpu=8"
version:
84f72a4950a23ee92e3a554ccc4960e565e5939e

command (in librispeech):
asr_train.py --ngpu 8 --backend pytorch --outdir exp/train_100_blstmp_e8_subsample1_2_2_1_1_unit320_proj320_d1_unit300_location_aconvc10_aconvf100_mtlalpha0.5_adadelta_bs20_mli800_mlo150.2c/results --debugmode 1 --dict data/lang_1char/train_100_units.txt --debugdir exp/train_100_blstmp_e8_subsample1_2_2_1_1_unit320_proj32

[2018-09-23 23:27] kan-bayashi commented on #419
I'm not sure, but maybe due to the small number of batchsize.
We change batchsize with respect to output / input length so batchsize will be less than #gpus.
You can use bigger batchsize or bigger `maxlen-out` / `maxlen-in` to avoid this problem.

[2018-09-23 23:44] chenzhehuai commented on #419
why shall we make batchsize less than #gpus? Moreover, I notice that real batchsize = batchsize * #gpu. Then why shall we use bigger batchsize?

[2018-09-24 00:09] kan-bayashi commented on #419
Actually, we do not assume the use of small batchsize with a lot of gpus.
As you mentioned, real batchsize is batchsize * #gpu.
But we dynamically change batchsize because there are quite long samples in such as librispeech dataset.
You can see this procedure in
https://github.com/espnet/espnet/blob/d53fff93e006bc16115871a96d9c28535480eb92/src/asr/asr_utils.py#L33-L58
In your case, real batchsize

[2018-09-24 06:50] chenzhehuai commented on #419
I made some modification like the following. But still obtain this error
[code]

[2018-09-24 06:53] kan-bayashi commented on #419
Did you set `min_batch_size=8`?
If ngpu = 8, batchsize should be more than 8.

[2018-09-24 14:44] chenzhehuai commented on #419
yes, i do so. then i still get the error before

[2018-09-24 16:12] ruizhilijhu commented on #416
DEV CER:

  | Corr | Sub | Del | Ins | Err | S.Err
-- | -- | -- | -- | -- | -- | --
No wordlm | 93.7 | 3.1 | 3.2 | 1.6 | 7.8 | 88.5
wordlm 0 | 84.4 | 2.8 | 12.8 | 1.4 | 17 | 90.1
wordlm 0.5 | 82.6 | 1.9 | 15.5 | 1.3 | 18.6 | 81.3
wordlm 1 | 69 | 2.3 | 28.7 | 2.5 | 33.5 | 88.5

DEV WER:

  | Corr | Sub | Del | Ins | Err | S.Err
-- | -- | -- | -- | -- | -- | --
No wordlm | 82.9 | 14.7 | 2.4 | 2.3 |

[2018-09-24 17:53] sw005320 commented on #416
Thanks. This looks like that it only increases the deletion. Anyway, @takaaki-hori is checking this.

[2018-09-24 19:16] ruizhilijhu commented on #416
FYI, it looks like if I train a model with only attention (no ctc), this problem exists.

[2018-09-25 00:15] kan-bayashi commented on #419
Hmm...
Let me confirm some points.
- Is it working with single gpu ?
- Is your warp-ctc version is matched with current master?
   You can see how-to-check in README.
- Is it working with chainer backend?

[2018-09-25 00:57] kan-bayashi commented on #419
Hmm...
Let me confirm some points

[2018-09-25 13:10] kan-bayashi commented on #310
@ShigekiKarita Did you get any idea?

[2018-09-25 14:00] sw005320 commented on #412
@ShigekiKarita, do you have comments about it?

[2018-09-26 01:00] ShigekiKarita commented on #412
It does not need heavy rewrite in `run.sh` and intermediate files (ark) but `ark,t` should be avoided by [kaldi-io-for-python](https://github.com/vesis84/kaldi-io-for-python) for faster processing.

[code]

[2018-09-26 01:40] ShigekiKarita commented on #412
Our preliminary experiment did following steps because hdf5 is little bit complex format to do parallel distributed creation unlike kaldi's scp/ark.
1. create ark files as same as the current recipe in the distributed way
2. convert them into single HDF5 files by `kaldi_io_py.read_scp` and `h5py.create_dataset`
3. replace kaldi_io_py in  `load_inputs_and_targets` with h5py

The problem is, as seen

[2018-09-26 02:07] ShigekiKarita commented on #310
Thanks for ping. I have done several experiments through this month with
- egs: librispeech/tts1, ljspeech/tts1
- pytorch: 0.4.1
- python: 3.6

Strangely, I have **never** seen MemoryError. If you might use Python2.7 (I remember), please try Python 3 instead.

[2018-09-26 03:09] kan-bayashi commented on #310
Thanks @ShigekiKarita.
I will try to use python3.

[2018-09-26 05:46] ShigekiKarita commented on #310
And also I found a strange line here
https://github.com/espnet/espnet/blob/f417aee2fc7b97155ae83392cfd31e8c724027cd/src/tts/tts_pytorch.py#L260-L266

I do not believe that chainer.iterators.MultiprocessIterator has maxtasksperchild in chainer 4.4.0? I'm using this without maxtasksperchild instead. What `chainer.__version__` are you using?

http://docs.chainer.org/en/stable/reference/generated/chai

[2018-09-26 05:48] ShigekiKarita commented on #310
Oh this one https://github.com/chainer/chainer/pull/4972?

[2018-09-26 07:16] chenzhehuai commented on #419
1. it works
2.
when i use py2.7, it works
when i use py3.7, the version check is fine. But then it complains pytorch is not installed with Numpy support (torch-0.4.1-cp37-cp37m-linux_x86_64.whl) during any runtime
then I install pytorch by myself (torch-0.4.1.post2-cp37-cp37m-linux_x86_64.whl), the version check is fail. it works in less than 7 gpus, and I observe the 8 gpu problem as above
3. i d

[2018-09-26 12:00] sw005320 commented on #414
It seems that #415 fixed the issue, and I'm closing this issue.

[2018-09-26 12:00] #414 closed

[2018-09-26 12:01] sw005320 commented on #402
@dneelagiri, #406 would fix your issue. Could you try the latest version?

[2018-09-26 12:20] kan-bayashi commented on #310
Yes, maybe that's one.
Now we use @jnishi patched chainer.
See https://github.com/espnet/espnet/blob/master/tools/prefetch.patch

[2018-09-26 12:27] kan-bayashi commented on #419
@chenzhehuai Thank you for your kind report.
I have no idea about this error...

@sw005320 @ShigekiKarita @jnishi
Do you have any idea to fix it?

[2018-09-26 15:53] oadams commented on #404
I can confirm that: (a) this bug is not python3 specific, I have run into the same issue with python2; (b) Replacing MultiprocessIterator with SerialIterator fixes the problem for me.

[2018-09-26 16:20] sw005320 commented on #404
We just started to use SerialIterator as a default (#424)

[2018-09-26 20:26] dneelagiri opened #425 "bpemode unigram vs bpe"
Hello,

Could you please help in understanding difference of using bpemode as unigram vs bpe. Couldnt find information in the below paper

https://arxiv.org/pdf/1807.04978.pdf

Thanks,
Divya

[2018-09-27 17:40] sas91 opened #426 "Can resume function be added to lm_train?"
It will be useful to have a resume function in lm_train similar to asr_train

[2018-09-27 17:53] arkhalid opened #427 "CUDNN_STATUS_EXECUTION_FAILED while trying multihead attention with Librispeech example"
Hi
I've been trying to run multihead attention for librispeech using docker using 8 GPU with CUDA 9.0 on AWS and received a `CUDNN_STATUS_EXECUTION_FAILED` error after 1500 steps. I appreciate your help and can provide any additional details that are required.

[2018-09-27 18:05] takaaki-hori commented on #426
`lm_train.py` already has option `--resume` to resume training from a snapshot.
In some recipes, `run.sh` also has `--lm-resume` option.

[2018-09-27 18:17] sas91 commented on #426
Thank you. Sorry I was using an older version.

[2018-09-27 18:19] #426 closed

[2018-09-27 20:45] dneelagiri commented on #402
@sw005320 I was able to use the resume successfully. On Libri 960 text LM training took about 3 hours.
One other issue I faced was gpu_id assignment. This seems to have been addressed already for  chainer in https://github.com/espnet/espnet/pull/379 . Can you also please update it for pytorch?

[2018-09-27 20:50] dneelagiri opened #429 "KenLM/ SRILM for decoding"
Hello,

Is there any plan to support KenLM/SRILM for decoding in ESPnet? CTC supports KenLM when decoding
https://medium.com/corti-ai/ctc-networks-and-language-models-prefix-beam-search-explained-c11d1ee23306

The training time is much faster than RNNLM

Thanks,
Divya

[2018-09-27 21:30] sw005320 commented on #429
We'll not support the n-gram LM during beam search to make our beam search algorithm simply in near future. We may support it with n-best rescoring.

[2018-09-27 23:58] chenzhehuai commented on #419
numpy==1.15.1

[2018-09-28 02:39] Fhrozen commented on #427
Hi there,
It seems an error with the memory. You need to check the length of the utterances and set a maxlen_in, it also may be necessary to reduce the number of files on each batchsize(bs).
Using location attention, it is possible to train (independent of the number of GPUs) the network with a bs 25, and a maxlen_in of 750. A multihead attention required more memory than the location one, so you

[2018-09-28 15:20] bobchennan commented on #419
Did you set CUDA_VISIBLE_DEVICES correctly? It looks like that you only got 7 gpus.

[2018-09-29 03:10] chenzhehuai commented on #419
@bobchennan it's not related to that

[2018-09-29 15:05] fotwo opened #430 "chunk_sizes assertion error in torch/cuda/comm.py during training"
Hi all, there is a strange error in my multigpu(4 gpu) training.
Here is Traceback:
[code]
I use 4 gpus, so I understand why it said expected 4, but what strange is this error occurs in the middle of the normal training, that is to say, the training can be conducted normally for some iterations, then it encounters this error(when batch size is 16, it takes about 0.5 hour to happen, after 8.83% of

[2018-09-29 16:55] #228 closed

[2018-10-04 05:16] sw005320 commented on #429
Yes, I have to agree that the LM training is slow.
Now, I'm training RNNLM with Librispeech text data (6.6G data without compression) with 5000 subword units, and it would take 3-4 days (see #407, but I internally update several things) when we use batchsize 1024.
If your data is only 1GB (without compression), it would be less than one day if you use a large batchsize. So, please first test this.

[2018-10-04 05:17] sw005320 commented on #291
@kan-bayashi, can you consider to implement multiple GPU functions in LM training?

[2018-10-05 10:58] kan-bayashi opened #433 "The use of CuDNN CTC"
Pytorch supports cndnn CTC in version 1.0.
https://pytorch.org/docs/master/nn.html?highlight=ctc#torch.nn.CTCLoss

We will consider the use of it.

[2018-10-05 11:01] sw005320 commented on #433
chainer may also support it soon by @aonotas

[2018-10-05 18:06] dneelagiri commented on #429
Thank you @sw005320 . I started training using the parameters you used to train Libri data (6.6G). Its interesting that you generated bpe from 960hrs data instead of entire data. Is it because the Network training is with 960 hours and using the bpe units from 6.6G file may impact network training results? If you want I can check generating bpe from 6.6G and training network with it to see, unless

[2018-10-05 23:16] arkhalid commented on #427
Thanks @Fhrozen. I was able to successfully train on a multi-gpu machine running 1080 TI GPUs with nvidia-384 driver. AWS instances have K80 GPU with nvidia-396. It might be difference between  GPUs or Dirver version. I have note been able to isolate that yet. Thanks for your help.

[2018-10-05 23:16] #427 closed

[2018-10-06 04:01] sw005320 commented on #429
I actually did not try it, but other people (e.g., @arendu) also suggested to use external text to build bpe. It is great if you try it.

[2018-10-08 19:01] #425 closed

[2018-10-10 21:14] alirezadir opened #434 "Working on multi-lingual branch"
Hi I would like to try multi-lingual experiments. However, it seems the multilingual branch is not updated to the latest changes of the branch master. Do you think it needs updates or it's in a good working condition?
Also, I see all the egs from master exist there, but isn't it supposed to be tested on a multi lingual dataset such as voxforge?

[2018-10-11 22:04] rzcwade commented on #141
Hi ESPnet, @sbhamad

I have tried exporting ESPnet pytorch model to ONNX with different approaches and I found out the following issues:

The args of onnx function cannot be keyword arguments as defined in the source code of onnx export function.

In the pytorch model case there’s dictionary inside the input, which caused exportation issue. You have to repacked the input data to model to avoid the

[2018-10-12 14:34] sw005320 commented on #434
Are you talking about https://github.com/espnet/espnet/tree/master/egs/li10/asr1 or https://github.com/espnet/espnet/tree/master/egs/jsalt18e2e/asr1? Yes, they are not updated so much, but I think you can do some basic experiments. If you check https://github.com/espnet/espnet/tree/master/egs/li10/asr1, the recipe includes the voxforge data. To run it, we need to run the voxforge recipe (and other

[2018-10-12 14:52] sw005320 commented on #141
Thanks for your reports. Our recent major modification (https://github.com/espnet/espnet/releases/tag/v.0.2.0) made the input as a Variable (e.g., https://github.com/espnet/espnet/blob/master/src/asr/asr_pytorch.py#L160-L163), but I may misunderstand your point.

[2018-10-12 22:44] rzcwade commented on #141
Hi @sw005320 ,

Thank you for your response. The input not being Variable type was the main issue of exporting to ONNX in the earlier espnet version I used. I will upgrade to 0.20 and try to export again.

Thank you!

[2018-10-13 08:49] sw005320 commented on #141
Thanks!
If you have any progress, please report it.
We're interested in your work, and happy to help.

[2018-10-18 18:01] dneelagiri opened #436 "GPU instance for decoding"
Hello,

Is there any plan to support using GPU instance for decoding? If not, can you please consider it?

Thanks,
Divya

[2018-10-18 18:12] xgp0602 opened #437 "ValueError: No JSON object could be decoded"
dictionary: data/lang_1char/train_nodev_units.txt
stage 2: Dictionary and Json Data Preparation
28 data/lang_1char/train_nodev_units.txt
/root/espnet/egs/an4/asr1/../../../src/utils/data2json.sh: line 52: bc: command not found
Traceback (most recent call last):
  File "/root/espnet/egs/an4/asr1/../../../src/utils/mergejson.py", line 64, in <module>
    out_dic[unicode('shape', 'utf-8')] = (int(dic

[2018-10-19 12:35] sw005320 commented on #436
Yes, we're working on that #237 by @mn5k. We internally found very good speed improvement with GPU decoding. It will be merged in a month.

[2018-10-19 14:46] Fhrozen commented on #437
I observe that you have this output:

Did you try to install first bc with: `sudo apt install bc` and then execute stage 2??

[2018-10-20 05:32] xgp0602 commented on #437
thank you very much,the issue has now been resolved by install bc

[2018-10-20 05:33] #437 closed

[2018-10-22 20:14] dneelagiri opened #439 "Decoding score"
Hello,

Is the decoding score reported as log to base 10 or base e?

Thanks,
Divya

[2018-10-22 20:59] sw005320 commented on #439
It's base e.

[2018-10-22 22:21] sw005320 commented on #322
Yes, as soon as I finished #407, I'll upload the librispeech model.

[2018-10-23 00:18] #439 closed

[2018-10-26 06:50] luweishuang opened #442 "how to calcualating asr recognition confidence"
I need to calcualate  recognition confidence just like other asr engine do, but I don't know how to do it , Would somebody gave some advice about this?

[2018-10-26 14:02] ShigekiKarita commented on #442
Hi,

If you are talking about the decoding score like `log P_encdec(y|x) + log P_ctc(y|x) + log P_lm(y)`,
https://github.com/espnet/espnet/blob/95eb4be0245d4c9acb7b89cef9ef3e330e168d83/src/nets/e2e_asr_th.py#L2148

this function saves the n-best metrics in somewhere like `egs/wsj/exp/train_xxx/decode_yyy/data.json`
https://github.com/espnet/espnet/blob/95eb4be0245d4c9acb7b89cef9ef3e330e168d83/src/

[2018-10-29 02:52] kamo-naoyuki commented on #412
@sw005320
I'm working about #120 now, and as far our DNN-HMM hybrid system, I have already implemented DNN-WPE (based on nara-wpe) + DNN-MVDR (based on Tsubasa Ochiai's code ) joint system with PyTorch. The system seems to work well with Reverb challenge and Chime4 challenge recipes, although the performance is not SOTA.

I'll transport my modules to Espnet and I'm grad if you'll do experiments wi

[2018-10-31 04:37] #321 closed

[2018-10-31 14:33] sw005320 opened #444 "Development plan for v.0.3.0"
If you have any suggestions for the plan, please let us know.

- [x] modularization #440, #484
- [x] add travis CI test for `run.sh` and `utils/*` #484
- [x] add test scripts for `utils/*` #498
- [x] add GRU architectures #496
- [x] tensorboard support #506
- [x] batch decoding #318
- [x] enhance (speech) translation recipes #468
- new ASR recipe #491
  - [x] improve the ASR baseline by speed pert

[2018-10-31 18:58] dneelagiri commented on #419
I am facing similar issue. Adjusting max_len_in and lax_len_out delays in getting the error.

[2018-11-04 01:13] fanlu opened #445 "unidirectional lstm do not convergence"
I want to use unidirectional lstm in network structure due to on line decoder, but add param bidirectional=False to Class BLSTM or BLSTMP made network unconvergece, Have you met this problem? @sw005320
this is my env below: base on kaldi aishell dataset
[code]

[2018-11-04 01:16] fanlu commented on #82
Is there any plan on this in roadmap 0.3? #444

[2018-11-05 02:34] sw005320 commented on #445
I did not try it personally, but someone told me that they tried, but they did not report like that. It seems that the encoder is not trained well anyway. Can you try it with a shallow network? You could also increase the number of units in the LSTM by following Librispeech or WSJ recipe.

[2018-11-05 02:38] sw005320 commented on #82
I think we fixed the resume function for the PyTorch backend. If you're talking about the other issue, please tell me.

[2018-11-05 06:10] fanlu commented on #445
yes, I setted elayers 3 and 1, the results seems very well like vggblstm and vggblstmp.
But why 5 elayers lstm or lstmp will lead to the acc around 0.5 in two epochs and can't decrease more in the last 28 epochs, seems to be a local minimum, and the local minimun are same when runing many exps use same default config

[2018-11-05 09:45] fanlu commented on #445
I also set mtlalpha to 0 and 1, this two mode both can converge. both loss seems very smaller.
another question: why ctc only mode do not output main/acc and validation/main/acc?
@sw005320
[code]

[2018-11-05 14:29] sw005320 commented on #445
Simply because we don't implement it. Using a beam search would be a bit heavy, but we can do it by using greedy search of CTC (frame-by-frame argmax, and convert it to the corresponding label sequence.)

[2018-11-05 15:43] fanlu commented on #445
mtlalpha equal 0 or 1 can converge, but why default 0.5 can not converge?

[2018-11-06 02:36] whaozl opened #447 "Does this support python3?"

[2018-11-06 08:01] fanlu opened #449 "Big dataset cause mergejson.py out of memory"
My dataset's volumn is 2900h, all data is 8k telephone audio, and do perturb to 3 times than original.
the part of mergejson.py in data2json.sh recipe will cause an out of memory error.
[code]
So can we change the style of data.json file to one json per line? @sw005320

[2018-11-06 13:11] sw005320 commented on #447
Yes.
Some data preprocessing script uses python2.

[2018-11-06 13:21] sw005320 commented on #449
Thanks for pointing out it.
This is an expected issue.
We'll work it later, but if you solve it and make a PR, that is great.

[2018-11-07 12:10] b-flo opened #451 "check_install.py : editdistance version problem"
Hi,

 In the lastest version it seems check_install.py will fails upon editdistance version if the package was installed with pip as the \__version__ attribute is not loaded (the [setup.py](https://github.com/aflc/editdistance/blob/master/setup.py) file is missing when installing with pip)

[code]

I don't know if someone experienced the same issue?
Using pkg_resources to get the version for this

[2018-11-07 16:53] sw005320 commented on #451
@kan-bayashi, can you fix it?

[2018-11-08 05:40] fanlu opened #452 "got a gradient error in first epoch"
Have you met this error before? @sw005320
[code]
[code]
[code]

[2018-11-08 06:00] sw005320 commented on #452
No.
Did it happen in some particular utterance?
Then you might need to check it to see if it is broken or not.

[2018-11-08 06:01] sw005320 commented on #449
#450 solved the issue.

[2018-11-08 06:01] #449 closed

[2018-11-08 06:02] sw005320 commented on #436
#318 is merged. Can you try it?

[2018-11-08 07:08] kan-bayashi commented on #451
Due to the change of the installl (#440), current `check_install.py` is not compatible with current master.
I will fix it.

[2018-11-08 09:30] fotwo opened #453 "long outputs in beam search"

[2018-11-08 09:32] ZhuoranLyu commented on #436
@sw005320 I tried with the newest commit with an4 example. However, the performance is not satisfied at all. Here is the result:

2018-11-08 17:31:25,029 (e2e_asr_th:2329) INFO: min output length: 0
2018-11-08 17:31:30,067 (asr_utils:458) INFO: groundtruth: FOUR ONE TWO TWO SIX EIGHT FOUR ONE FOUR TWO
2018-11-08 17:31:30,067 (asr_utils:459) INFO: prediction : FOUR ONE SEVEN TWO SIX THREE FOUR ONE

[2018-11-08 09:43] fotwo commented on #453
Hi all,
I encounter an issue when try to reproduce the result of attention-based model(only using attention via setting `mtlalpha` to 0.0).
While, the final model seems to output as long as the input sequence in beam search. Although `maxlenratio` can be used, it also harm the performance. I consider whether there are better solutions in both training and recognition procedure?
Thanks for help and

[2018-11-08 14:42] kan-bayashi commented on #451
Fixed in #455. But not smart way.
I will consider better way for the current installation.

[2018-11-08 14:42] #447 closed

[2018-11-08 15:38] b-flo commented on #451
I made a local fix by checking if a version match either through pkg_resources or importlib, passing an error message to assert containing a tag for the module used, when raising the error the correct module is selected. It works well and can handle mismatches between local/global installations but as if it's a bit... ugly.

Forgot to tell you about the missing parameter in logging.warn (l.88) gla

[2018-11-08 15:41] #451 closed

[2018-11-08 15:41] kan-bayashi opened #456 "How to install requirements related to test or doc"
In the current master, `test_requirements.txt` and `requirements.txt` are replaced by `setup.py`.
We can use `python setup.py test` to run `pytest`, but requirements for test is not installed in virtualenv.
Therefore, we cannot use linter libraries such `flake8` or `autopep8` written in test_requires of `setup.py`.

@kamo-naoyuki How do we install test or doc requirements written in `setup.py`?

[2018-11-08 15:52] kan-bayashi commented on #456
What I want to do is to update the contribution guide.
https://github.com/espnet/espnet/blob/master/CONTRIBUTING.md
I will update it if I understand how-to-install test requirements.

[2018-11-08 16:16] sw005320 commented on #453
@fotwo, did you observe it after our recent change by #318?
If so, @mn5k, can you handle this?

[2018-11-08 16:19] sw005320 commented on #436
Actually CPU decoding also becomes faster, and if you want to have a benefit of GPU, you may need to increase the batchsize during beam search. @mn5k, please follow up it.

[2018-11-09 00:39] kamo-naoyuki commented on #456
You can install them manually as following,

[code]

However,  `python setup.py test` also should install the requirements in my understanding. Could you check it again?  @kan-bayashi

[2018-11-09 00:47] kamo-naoyuki commented on #456
We also need to update https://github.com/espnet/espnet/blob/master/doc/README.md.

[2018-11-09 01:04] mn5k commented on #436
Thank you for the report. I'll check it.

[2018-11-09 03:01] kan-bayashi commented on #456
I will close.

[2018-11-09 03:01] #456 closed

[2018-11-09 11:34] fotwo commented on #453
what's more, both of two trained models(one is trained with `mtlalpha==0.0`, and the other is with `mtlalpha==0.5`) have the similar best performance on train-dev set which is about 65% acc.

[2018-11-09 12:01] fotwo commented on #453
It seems that when using ctc in decoding, it will produce `ctc_beam` to prune the score first.
Therefore, I try to change the `beam_size` to 1, and the decoding results look normal(length is similar with groundtruth).
However, when I changed `beam_size` to other value, e.g., 2, 5, 10. The decoding results will be very very long again.

[2018-11-09 13:00] mn5k commented on #436
I profiled the recog_set=test of an4, and also observed speed down by changing to GPU.
I'll investigate the details.

Here's my interim results.

|Code|nj|ngpu|batch|time|wer
|:---|:---|:---|:---|:---|:---|
|prev|1|0|N/A|4min39sec|28.1|
||10|0|N/A|2min30sec||
|current|1|0|1|3min02sec|25.1|
||10|0|1|2min35sec||
||1|1|1|6min55sec||
||1|1|10|3min06sec||

[2018-11-09 14:46] #199 closed

[2018-11-09 14:46] #224 closed

[2018-11-09 15:46] #197 closed

[2018-11-09 15:46] #218 closed

[2018-11-09 15:46] #198 closed

[2018-11-09 15:46] #195 closed

[2018-11-09 23:35] sw005320 commented on #452
Can you tell me more detailed information (input and output lengths)?
My suggestion is to remove these sentences. This may be just harmful.
`remove_longshortdata.sh` (e.g., used in https://github.com/espnet/espnet/blob/master/egs/librispeech/asr1/run.sh#L137) can also remove short utterances.

[2018-11-10 02:38] fanlu commented on #452
the lengths of input and output is 89 and 1/3
[code]
this is my training script
[code]
I don't know the data preparation and maxlen_in strategy，there is no error when using default maxlen_in 800.

[2018-11-10 11:19] #352 closed

[2018-11-10 14:02] sw005320 commented on #452
I think it comes from the multiple GPU issue, and it might assign blank utterance to some GPU (it would be a bug). @kan-bayashi, @bobchennan, do you have any idea? Also, I don't recommend to use `--maxlen_in 2200`. `--maxlen_in YYY` will be used to reduce the batch size if the input lengths in a minibatch is more than YYY. So your setup will require very large GPU memory. I usually do not touch th

[2018-11-10 14:04] sw005320 commented on #453
OK. @takaaki-hori, could you check this issue?

[2018-11-10 14:08] kan-bayashi commented on #452
I think this is the same problem in #419.
As I mentioned in #419, Idoubt that the batchsize become less than the number of gpus due to adaptive batchsize.

[2018-11-10 14:10] sw005320 commented on #452
I see. @kan-bayashi, can you fix it?
We may set the minimum batch size parameter when we build the minibatch by using the number of GPUs.

[2018-11-10 14:16] kan-bayashi commented on #452
OK. I will do it tomorrow.
But in #419, it has still the same error even if we set the minimum batchsize as #gpus.
So I do not have confidence on the reason...

[2018-11-10 14:34] sw005320 commented on #452
#gpus x 2

[2018-11-10 16:35] fanlu commented on #452
I just add try except on loss.backward to avoid this problem. I will try it again after @kan-bayashi 's fix.thanks
[code]

[2018-11-10 16:41] fanlu commented on #433
Is there any performance and speed comparison between cudnn ctc and warp ctc? thanks.

[2018-11-11 00:39] kan-bayashi commented on #452
@fanlu Could you test the patch #463?

[2018-11-11 00:42] kan-bayashi commented on #419
Maybe this error is fixed in #463.

[2018-11-11 12:42] fotwo commented on #453
Hi, @takaaki-hori , @sw005320 , I have figured out the reason.
It is my fault that setting `ctc_weight==0.3` when `mtlalpha==0.0`. So the `lpz` will be used in decoding, but do bad things(because CTC component was not optimized). Very sorry for this fault and thanks so much for help.

[2018-11-11 18:40] #453 closed

[2018-11-11 18:49] siddalmia commented on #433
You can see the speed comparisons here - http://danielgalvez.me/jekyll/update/2017/12/29/benchmarking-ctc-implementations.html

Though these would be the issues in using CuDNN CTC -
1. Maximum number of labels in any mini-batch member = 256 -- ( this is the same with tensorflow )
2. You must provide probabilities which have been calculated by softmax -- (this is slow and can have numerical instabi

[2018-11-12 05:06] #445 closed

[2018-11-12 08:42] aonotas commented on #433
I'm trying to merge cuDNN CTC in Chainer.

https://github.com/chainer/chainer/pull/5650
https://github.com/cupy/cupy/pull/1769

I will let you know when these PRs merged.

[2018-11-12 15:50] #324 closed

[2018-11-16 12:55] shanguanma opened #466 "use chainer to train wordlm"
Error log:
# lm_train.py --ngpu 1 --backend chainer --verbose 1 --outdir exp/train_rnnlm_chainer_1layer_unit700_sgd_bs128_word20000 --train-label data/local/wordlm_train/train.txt --valid-label data/local/wordlm_train/valid.txt --test-label data/local/wordlm_train/test.txt --resume --layer 1 --unit 700 --opt sgd --batchsize 128 --epoch 20 --maxlen 40 --dict data/local/wordlm_train/wordlist_20000.t

[2018-11-17 04:30] Fhrozen commented on #466
Did you try to set the CUDA_VISIBLE_DEVICES to target the GPU ID 2 or 3. GPU 0 or 1 seems to be already used. Before lm_train.py  use CUDA_VISIBLE_DEVICE=2 and report the output please.

[2018-11-17 05:07] shanguanma commented on #466
I changed the back end to pytorch, which is the same problem. I changed batch from 300 to 180, then to 20, and then to 2, which is the same problem of insufficient memory.
error log :
# lm_train.py --ngpu 1 --backend chainer --verbose 1 --outdir exp/train_rnnlm_chainer_1layer_unit700_sgd_bs2_word10000 --train-label data/local/wordlm_train/train.txt --valid-label data/local/wordlm_train/valid.txt -

[2018-11-17 06:01] takaaki-hori commented on #466
Log message: `2018-11-17 12:56:28,970 (lm_chainer:265) INFO: #sentences in the training data = 1` implies that sentences are not separated by line breaks in `train.txt`.
The input text format for `lm_train.py` has been changed by PR #406 , in which sentences need to be separated line by line, and do not require `<eos>` symbol at the end of each sentence.
I think `out of memory` could happen due to

[2018-11-17 20:19] #380 closed

[2018-11-20 21:40] sw005320 commented on #412
@kamo-naoyuki, do you have any update on this direction?

[2018-11-21 13:54] #466 closed

[2018-11-21 15:23] sw005320 opened #470 "CPU decoding speed of batch processing"
I'm testing my Librispeech recipe, and found significant speed degradation of the decoding (x10~x100 slower) due to #318. I used a default setup (CPU based and batch size = 1).

@mn5k, do you have any idea?

[2018-11-22 03:44] haiewu opened #471 "TypeError with pytorch backend: expected torch.cuda.FloatTensor (got torch.FloatTensor)"
when I tried to run voxforge baseline decoding with wordlm ,  I get following error when using pytorch backend :
Traceback (most recent call last):
  File "/../../../../espnet/egs/voxforge/asr1/../../../espnet/bin/asr_recog.py", line 120, in <module>
    main()
  File ""/../../../../espnet/egs/voxforge/asr1/../../../espnet/bin/asr_recog.py", line 114, in main
    recog(args)
  File ""/../../../../

[2018-11-22 04:59] kamo-naoyuki commented on #412
@sw005320 No. I don't have much time now. I'm sure to do, please wait 2 weeks at least.

[2018-11-22 11:05] sw005320 commented on #412
ok.

[2018-11-22 11:50] sw005320 commented on #471
@mn5k, can you deal with it?

[2018-11-22 11:58] sw005320 commented on #470
OK. For now, I disabled it. Can we make only CTC-prefix score computation original one in the batch processing? This would solve the issue I think.

[2018-11-22 12:27] sw005320 opened #473 "Multiple encoders achieved significant performance improvement, but..."
@ruizhilijhu's study of multiple encoders https://arxiv.org/pdf/1811.04897.pdf is quite impressive (the best WER (3.6%) in the WSJ task among the end-to-end ASR systems), and I want to incorporate it to the main ESPnet repository, but the current architecture is a little bit too complicated.

Do someone has some ideas of making multiple encoders more simple (I mean less parameters, less GPU memory

[2018-11-22 12:57] sw005320 opened #474 "ESPnet model zoo"
Many people are asking to share the trained models. I think we should make this to some extent.
We could refer some of the following pages, and may create a wiki to share the models.
https://github.com/BVLC/caffe/wiki/Model-Zoo
https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/detection_model_zoo.md

[2018-11-22 13:05] sw005320 commented on #474
I just prepared a blank wiki page.
https://github.com/espnet/espnet/wiki/Model-Zoo

[2018-11-24 11:35] karanMal opened #475 "Resuming Model from snapshot after increasing the data throwing Error."
**(I am using older version of the Toolkit ).**
I was trying to resume the training from a certain epoch's snapshot but i have to increase the data and then resume training on top of that . When I try this , the following error is being thrown ::

![image](https://user-images.githubusercontent.com/15909866/48967691-7ea6cd00-f00a-11e8-878a-07eca9384034.png)

Any changes did I have to do while resum

[2018-11-25 00:17] ShigekiKarita opened #476 "Python3 support for scripts using numpy"
https://docs.scipy.org/doc/numpy-1.14.1/neps/dropping-python2.7-proposal.html

Since numpy will drop python2 from Jan. 2019, we should rewrite python2 scripts with numpy under `utils` to python3 compatible. Here is a list of python2-only numpy scripts under `utils`

- splitjson.py

(EDITED these files seem to be python3 compatible already)

- compute-fbank-feats.py
- compute-stft-feats.py
- conver

[2018-11-25 00:41] ShigekiKarita commented on #474
I think it is good to provide the output label file `dict=data/lang_1char/${train_set}_units.txt` because it shows what kind of tokens can be predicted by the pretrained model

[2018-11-25 01:50] ShigekiKarita commented on #473
I agree with your opinion but there might be no heuristic solution for this.  One plausible solution is  model parallel. Data parallel does not always work for large models. Actually, model parallel is not difficult in chainer/pytorch when we do not use data parallel at the same time.

[code]

[2018-11-25 22:51] creatorscan commented on #473
@ruizhilijhu @ShigekiKarita The following paper discusses few solutions to handle the hierarchical structure  in section 3.
Here they mix data parallelism and model parallelism.
https://arxiv.org/pdf/1701.06538.pdf

[2018-11-26 08:35] marvinzh opened #479 "CSJ recipe with PyTorch backend"
when using PyTorch as the backend, the model outputs only \<EOS\> token in the decoding phase, while the Chainer backend is fine (under the same hyperparameter setting).

[2018-11-26 16:14] sw005320 commented on #471
@haiewu, can you check it? #478 would solve it.

[2018-11-26 19:15] JaejinCho opened #480 "mtlalpha experiments"
I am just curious about setting a proper value for mtlalpha. Recently I compared 0.2 and 0.5 for fisher_callhome_spanish and a model w/ 0.2 performed better than 0.5 as shown in the table (I set ctc_weight for decoding same as 0.3). I thought this is not ignorant difference.

mtlalpha | Fisher_dev | Fisher_test | Callhome_train | Callhome_dev | Callhome_test
-- |-- | -- | -- | -- | --
0.5 | 35 | 3

[2018-11-26 19:44] creatorscan commented on #480
One way to speculate is that CTC behaves better over attention with lesser amount of training data (eg: TIMIT, AN4, Voxforge). So setting mtlalpha=0.5 is fruitful.
Whereas, for bigger corpus such as:
WSJ  --- mtlalpha=0.2 was better.
Librespeech --- mtlalpha=0.5 achieves 4.6 over 4.8 (mtlalpha=0.2). I guess with bit more hyper-parameter search this difference can be closed.

[2018-11-27 00:32] sw005320 commented on #480
I agree with @creatorscan. I just don't tune mtlalpha so much, but I also empirically found that it would be good to set a smaller value for larger corpora.

[2018-11-27 01:32] sas91 commented on #476
@sw005320 run_wpe.py works on python3, I can modify the shebang. Are you going to change the default python installed in tools to be python3?

[2018-11-27 01:35] sw005320 commented on #476
It's fine if it's working with python3.

[2018-11-27 01:37] kan-bayashi commented on #475
This is because current snapshot contains the information about parameters, states of optimizer, and order of iterator.
Therefore, if you change the size of iterator, it causes above errors.
The easiest way is use `torch_load` function instead of `torch_resume`.
In this case, only parameters is loaded.
(Note that the number of epoch or iteration is initialized.)

[2018-11-27 01:43] kan-bayashi commented on #476
These above function is compatible with python3.

Some data prep scripts are working on only python2.
For example:
https://github.com/espnet/espnet/blob/master/egs/hkust/asr1/local/hkust_segment.py

This function uses `mmseg` which only support python2.
https://github.com/42qu/mmseg

[2018-11-27 01:48] kan-bayashi commented on #479
Could you share the hyper parameter setting and learning curve?
Compared to chainer, gradient vanishing is likely to occur in pytorch, especially in the case of deeper network.