[2019-06-18 19:06] ghost opened #878 "How to Setup Data in ESPNET?"
Hi,

I followed the instructions for the babel dataset:

train_data_dir_206=/export/babel/data/206-zulu/release-current/c$
train_data_list_206=./conf/lists/206-zulu/train.LimitedLP.list
train_data_dir_206_FLP=/export/babel/data/206-zulu/release-curre$
train_data_list_206_FLP=./conf/lists/206-zulu/train.FullLP.list
dev10h_data_dir_206=/export/babel/data/206-zulu/release-current/$
dev10h_data_list_2

[2019-06-18 19:06] sw005320 commented on #863
Thanks. I just want to make sure that you observed the negative CTC loss even for normal `asr`? Then, this is probably due to some transcription issues in AMI.

[2019-06-18 19:08] sw005320 commented on #878
You need to change all absolute paths (e.g., `/export/...`) to your Babel data.

[2019-06-18 19:09] sw005320 commented on #878
This seems to be duplicated with your old question #870.

[2019-06-18 19:12] Jzmo commented on #863
Yes there are some negative CTC loss for normal `asr` but much less than in multichannle reicpe, For example
[code]

[2019-06-18 19:15] sw005320 commented on #863
OK. Then, let's try to continue the training for both single- and multi-channel systems by skipping the negative CTC loss.

[2019-06-18 19:19] sw005320 commented on #863
@jnishi or @HawkAaron, do you know why such large negative values happen?  I used to observe large positive values, which I believe comes from the initial values for loss, but I have no idea about the negative large numbers...

[2019-06-18 19:22] nvidiaman commented on #878
@sw005320 thanks, but I can't make it work so added the lines as well.

I have babel dataset available and it looks like:

~/espnet/s5c/207-tokpisin-flp$ ls

cmd.sh	fbank	   README	  spkList.sub-train
conf	lang.conf  run-main.sh  spkList.train
data	local	   spkList.dev	  steps
exp	path.sh    spkList.dev2h  utils

But when I set the paths I still get the same error.

[2019-06-18 19:38] sw005320 commented on #878
I'm not sure, but if `~/espnet/s5c/207-tokpisin-flp` is your `207-tokpisin-flp` directory, then you can just replace `/export/.../` in https://github.com/espnet/espnet/blob/master/egs/babel/asr1/conf/lang.conf#L131-L137 with that directory.
It's hard to help you because I don't know the directory structure of your environment. Maybe better to read https://github.com/espnet/espnet/blob/master/egs/b

[2019-06-18 20:29] nvidiaman commented on #878
@sw005320 thank you,

is there some preprocesing required for the data?

What are the different types of files required?

Unable to open vocabulary file /home/nvm/espnet/s5c/207-tokpisin-flp/IARPA-babel207b-v1.0e-build/BABEL_OP2_207/conversational/reference_materials/lexicon.txt at local/prepare_acoustic_training_data.pl line 131.

cat: data/train.tmp/segments: No such file or directory
./utils/su

[2019-06-18 21:32] sw005320 commented on #878
@m-wiesner, @creatorscan, @takaaki-hori, can either of you answer this?
I just used this recipe with the data that @m-wiesner prepared and I could not answer it.

[2019-06-18 22:01] m-wiesner commented on #878
My first guess is that you forgot to set a path in **conf/lang.conf**

On line **256** in **conf/lang.conf** you need to set

**lexicon_file_206_FLP=/export/babel/data/206-zulu/release-current/conversational/reference_materials/lexicon.txt**

if you are running an experiment using the FLP configuration as opposed to the LLP configuration.

If that doesn't work I'll need some more details. If you c

[2019-06-18 22:28] nvidiaman commented on #878
@m-wiesner I have set the lexicon path as well.

Below is the directory structure of my babel distribution:

ls -R | grep ":$" | sed -e 's/:$//' -e 's/[^-][^\/]*\//--/g' -e 's/^/   /' -e 's/-/|/'
   .
   |-100-master-flp
   |---conf
   |---local
   |-101-cantonese-flp
   |---data
   |-----dev10h
   |-----dev2h
   |-----kenlm
   |-----lang
   |-------phones
   |-----lang_phn
   |-----lang_phn_test_

[2019-06-19 00:22] m-wiesner commented on #878
The distribution I have from the LDC looks something like this ..

IARPA_BABEL_OP1_206$ tree -d
.
|-- conversational
|   |-- dev
|   |   |-- audio
|   |   `-- transcription
|   |-- eval
|   |   |-- audio
|   |   `-- transcription
|   |-- reference_materials
|   |-- sub-train
|   |   |-- audio
|   |   `-- transcription
|   |-- training
|   |   |-- audio
|   |   `-- transcription
|   `-- untranscrib

[2019-06-19 00:28] m-wiesner commented on #878
Also it looks to me like you are pointing to a lot of already processed data instead of the original distribution. If you are at CMU perchance, maybe check MM3/babel-corpus

I think that is where your distribution would live.

[2019-06-19 00:42] nvidiaman commented on #878
@m-wiesner thanks a lot for the help!

Here are the paths in lang.conf for the experiment:

train_data_dir_207=/home/nvm/espnet/s5c/207-tokpisin-flp/IARPA-babel207b-v1.0e-build/BABEL_OP2_207/conversational/training
train_data_list_207=./conf/lists/207-tokpisin/sub-train.list
train_data_dir_207_FLP=/home/nvm/espnet/s5c/207-tokpisin-flp/IARPA-babel207b-v1.0e-build/BABEL_OP2_207/conversational/traini

[2019-06-19 01:03] m-wiesner commented on #878
lexicon_file_207=/home/nvm/espnet/s5c/207-tokpisin-flp/IARPA-babel207b-v1.0e-build/BABEL_OP2_207/conversational/reference_mat$

lexicon_file_207_FLP=/home/nvm/espnet/s5c/207-tokpisin-flp/IARPA-babel207b-v1.0e-build/BABEL_OP2_207/conversational/reference$

Are these the full paths? What is the dollar at the end?

The paths look good except for it should be

/home/nvm/espnet/s5c/207-tokpisin-flp/IAR

[2019-06-19 03:18] kamo-naoyuki commented on #876
As it is very hard to create the documentation for all `utils`, and I believe that there are not need to do much, so we must prioritize them. The highest priority is data.json, as @r9y9 said.
Small tutorial using Jupyter notebook is also helpful, like

[code]

I wanna create ci building for such jupyter notebook to avoid using obsolete method.

We may also need to categorize `utils` to make self d

[2019-06-19 03:58] chiennguyen196bg commented on #697
I need it too

[2019-06-19 06:44] chiennguyen196bg commented on #193
can you give me the pretrained model on Librispeech dataset?

[2019-06-19 11:47] lumaku opened #879 "install fails at building python-bottleneck because of ld incompability"
The venv setup using `make KALDI=/xxx/kaldi` fails on my system when building the python-package bottleneck. Here is the output:

[code]

I found a fix to this issue mentioned in: pytorch/pytorch#16683

On my system, `ld` is at version `2.32`, whereas the Anaconda `espnet/tools/venv/compiler_compat/ld` is at version `2.31.1`. These versions are not compatible.

After deleting the Anaconda `ld`, th

[2019-06-19 14:56] sw005320 commented on #876
Today, I, @ShigekiKarita, and @kan-bayashi discussed this issue.

1. We'll automatically generate the `class`, `binary`, and `utils/*.{sh.py}` descriptions, and update them to our webpage.

2. We'll add some descriptions by basically following @kamo-naoyuki's suggestions using Jupyter
 notebook, constantly (at least data structure, main loop etc.)

We are now working on 1.

[2019-06-19 15:19] sw005320 commented on #879
Thanks. I haven't touched `venv` for long time and I did not notice it.

@kan-bayashi, I thought that our CI checks the `venv` installation. Am I wrong? Where should we fix it?

[2019-06-19 18:03] lumaku commented on #879
This issue is relevant for users with the newer binutils 2.32. Ubuntu 18 has version 2.30; Ubuntu 19.04 has version 2.32. It's also an open issue in conda: conda/conda#8648. So probably you don't need to change anything for this issue, just wait it out until it's fixed, but the information here might help some users.

Steps to reproduce:

On branch `v.0.5.0`
My system: Arch Linux with binutils/ld

[2019-06-19 18:07] sw005320 commented on #879
Thanks for the clarification and TIPS.

[2019-06-19 21:24] sw005320 commented on #697
See #885

[2019-06-20 04:18] r9y9 opened #889 "Enhancing Transformer TTS"
S. Yang et al, "Enhancing Hybrid Self-attention Structure with Relative-position-aware Bias for Speech Synthesis,", Proc of ICASSP, 2019.

- Paper: https://ieeexplore.ieee.org/document/8682861
- Samples: https://syang1993.github.io/relation-aware/

It's worth trying the following two ideas:

- Relative position aware self-attention
- Hybrid architecture using both self-attention and RNN in encoder

[2019-06-20 05:36] ShigekiKarita opened #891 "cannot import using_transform_config"
@kamo-naoyuki When I generating doc, I cannot find this function in master and v0.5.0? Does this still exist?

[code]

[2019-06-20 10:51] kamo-naoyuki commented on #891
No, its obsolete function.

[2019-06-20 11:06] ShigekiKarita commented on #891
Do you mean master and v0.5.0 are broken?

[2019-06-20 11:07] kamo-naoyuki commented on #891
Yes. Hmm. We may need test codes for espnet.bin.

[2019-06-20 11:34] sw005320 commented on #889
I have a similar idea for ASR, but we always have some GPU memory issues.
Maybe it's not serious in TTS?

[2019-06-20 11:44] kan-bayashi opened #894 "Introduce flake8-docstrings & flake8-rst-docstrings"
To enrich documentations, we will introduce `flake8-docstrings` and `flake8-rst-docstrings` to check the docstrings in v.0.5.0.
First we try to remove the warnings and then add missing docstrings.

Related #876

[2019-06-20 11:55] sw005320 commented on #894
Great!
Could you tell me how we introduce them? (we could install them locally and we disable it CI)?
Then people may easily help it.

[2019-06-20 11:57] kan-bayashi commented on #894
These are plugings of flake, so what you need is just installing via pip

[code]

And then

[code]

[2019-06-20 13:03] kan-bayashi commented on #894
We are thinking about moving on the Google style docstring.
How do you think? @sw005320

[2019-06-20 13:19] sw005320 commented on #894
I don't have any preference, and this is no problem. Please go ahead.

[2019-06-20 14:03] CherrieWang97 opened #896 "How to train iwslt18 and tedlium2 together"
I'd like to train an ASR model using iwslt18 data and tedlium2 data together, should I pre-process these two corpus with the same process or can I just use the pre-process methods from the two recipe and train them together?
BTW, is there any better segmentation tools for iwslt18 audio? It seems that the official segmentation files are noisy.
Thanks

[2019-06-20 14:10] sw005320 commented on #863
Hi @Jzmo, my friend told me that softmax used in CTC may produce `0` and this would be replaced by the large negative number in https://github.com/espnet/espnet/blob/83101a26177500542d1fcff9c22bf7752c2f49ad/espnet/nets/pytorch_backend/e2e_asr.py#L137.
Could you check to see whether this happen?

[2019-06-20 14:30] sw005320 commented on #896
@hirofumi0810 could you answer the questions?

[2019-06-20 16:00] hirofumi0810 commented on #896
@CherrieWang97
For dataset concatenation, please refer to the multilingual recipe such as jsalt18e2e.
You should compute fbank in tedlium2 and iwslt18 at first, then concatenate these datasets.

For segmentation, we removed noisy utterances after forced alignments.
You can use filtered, clean utterances in the current recipe.

[2019-06-20 23:43] ShigekiKarita commented on #876
Item 1 is done. Now the `ci/doc.sh` script generates all the modules under `espnet` and tools under `espnet/bin` and `utils` automatically.

See updated master doc https://espnet.github.io/espnet/

[2019-06-21 00:26] sw005320 opened #902 "test error for test_eval_perm_free_error_py.bats"
@simpleoier, it's not always, but I observed that `test_eval_perm_free_error_py.bats` will be failed sometimes.
Do you know what happned?
Can you fix it?
[code]

[2019-06-21 00:58] simpleoier commented on #902
I will take a look at it.

[2019-06-21 02:25] kan-bayashi commented on #894
I am updating docstrings using google-style + flake8-docstrings.
I referred following examples:
https://sphinxcontrib-napoleon.readthedocs.io/en/latest/example_google.html

[2019-06-21 02:52] ShigekiKarita commented on #902
Maybe we should set seed
[code]

[2019-06-21 09:22] naxingyu opened #904 "matplotlib.use('Agg') fail"
It result in plot fail
[code]
I fixed this by applying a patch on `espnet/nets/pytorch_backend/transformer/plot.py`
[code]

[2019-06-21 11:45] simpleoier commented on #902
Thanks, this could solve the problem.

I guess the reason is because:
in `utils/min_perm_wer.py`, the action I used to choose the best permutation is:

While in `test_utils/test_eval_perm_free_error_py.bats`, the action I used to choose the best permutation was:

The former method uses the leftmost smallest "wer", however, the later one uses the rightmost smallest "wer".
When there are multiple ut

[2019-06-21 11:57] simpleoier commented on #902
This difference does not affect the real ASR performance, because the seq-length of every reference utterance is fixed. In this test script, I randomly generated the `(C S D I)` numbers. This leads to the fact that even though the wers are the same, the `(C+S+D)` and `(S+D+I)` may be different.

[2019-06-21 12:08] sw005320 commented on #902
OK, thanks.
Please make a PR to fix this test.

[2019-06-21 14:16] sw005320 commented on #904
Oh yes, it's better to have that (we put everywhere except for this file).
Could you make a PR? (or @ShigekiKarita, can you do it?)

[2019-06-21 14:16] sw005320 commented on #902
#908 fixed it.

[2019-06-21 14:16] #902 closed

[2019-06-21 15:09] kan-bayashi commented on #889
Thank you for your information.
This is related to my interspeech paper, i.e. dual-stream encoder Tacotron2.
In the case of TTS, the lengths of input sequence is not so large, and therefore, GPU memory might be a problem but not serious.

[2019-06-21 18:45] TParcollet opened #911 "Make impossible due to warp_ctc error"
Hi there,

I'm trying to install ESPNET in a cluster where Kaldi is already installed. So I basically follow the make KALDI=... CUDA=... cmd. Nonetheless, I obtain this weird error where apparently warp_ctc is not installed while the build of it seems ok ?
<img width="959" alt="Capture d’écran 2019-06-21 à 20 43 00" src="https://user-images.githubusercontent.com/11910731/59944580-6a726380-9465-11e

[2019-06-22 02:56] sw005320 commented on #911
It seems that the pytorch warp CTC installation has some issues.
Can you reinstall it (`rm warp-ctc.done; make warp-ctc.done`), and show us the error logs?

[2019-06-22 08:44] naxingyu commented on #904
ok, I'll make a PR.

[2019-06-22 08:49] TParcollet commented on #911
Hi,

Here is the log file attached to these cmd. Please note that few hundreds lines of "warning: Instruction 'shfl' without '.sync' is deprecated since PTX ISA version 6.0" are also showing.
[log.log](https://github.com/espnet/espnet/files/3316672/log.log)

 I also have a final warning of cc1plus: warning: command line option'-Wstrict-prototype' is valid for C/ObjC but not for C++.

![Capture d’é

[2019-06-22 08:52] naxingyu commented on #911
What's your gcc version?

[2019-06-22 08:53] TParcollet commented on #911
7.3.0 according to gcc --version

[2019-06-22 12:11] desothier1 commented on #670
Hi,
are there still plans to adapt your code to do transfer learning?
I try to train ASR using different datasets for training, but I cannot use ESPnet as transfer learning

Thanks for your info

[2019-06-22 12:15] kan-bayashi commented on #670
If you want to use exactly the same model, what you need is just changing following line.
https://github.com/espnet/espnet/blob/58dd32248d6a065e7d5a654b6380e460db136f8a/espnet/asr/pytorch_backend/asr.py#L383

[code]
And then use `--resume <your_pretrained_model_path>`.

[2019-06-22 12:19] #904 closed

[2019-06-22 12:35] kamo-naoyuki commented on #911
Can you show the error message when import warpctc?
[code]

[2019-06-22 12:36] desothier1 commented on #670
OK, previously I used  --resume <your_pretrained_model_path>
for resuming, and continuing training, starting from a previously trained model, but using exactly the same train data i used previously

I mean, transfer learning, starting from a previously trained model, but using different train data.
with just specifying the path to the previously trained model, --resume <your_pretrained_model_path>

[2019-06-22 12:39] kan-bayashi commented on #670
Yes, just change `torch_resume(args.resume, model)` to `torch.load(args.resume, model)` and then use --resume option.

[2019-06-23 08:35] TParcollet commented on #911
So, after sourcing tools/venv and import warpctc_pytorch I have:

![Capture d’écran 2019-06-23 à 10 35 46](https://user-images.githubusercontent.com/11910731/59973635-ad862100-95a2-11e9-82bb-d594ead6b492.png)

[2019-06-23 08:46] #591 closed

[2019-06-23 16:41] kamo-naoyuki commented on #911
I think you could get the following answer easily if you search the error message.

https://discuss.pytorch.org/t/undefined-symbol-when-import-lltm-cpp-extension/32627/5

As this thread said, the error comes from the ABI mismatching between pytorch and the pytorch extension. The warpctc_pytorch is built with GLIBCXX_USE_CXX11_ABI=0 by default, so I guess your pytorch was built with GLIBCXX_USE_CXX

[2019-06-23 16:43] TParcollet commented on #911
@kamo-naoyuki Interestingly this error is showing while installing with the embedded venv (not a pre-installed environnement). Why isn't pytorch installing with the right flags ? I will check that, thanks you .

[2019-06-23 16:54] kamo-naoyuki commented on #911
How did you install PyTorch? I mean, How did you run Makefile? I'm not sure.
`conda install -c pytorch pytorch` install the binary with `GLIBCXX_USE_CXX11_ABI=0`, or pip install pytorch is also, if my memory is correct, so basically this problem doesn't happen in normal setup of espnet.

[2019-06-23 17:19] TParcollet commented on #911
Well, I literally just tipped "make KALDI=myKaldiRoot CUDA=9.2". Then I sourced tools/venv and checked 'import warpctc_pytorch'.

[2019-06-23 17:27] kamo-naoyuki commented on #911
Can you check torch._C._GLIBCXX_USE_CXX11_ABI? Is it True?

[2019-06-23 17:30] TParcollet commented on #911
It is, I will check how to force this variable to be false when installing Pytorch.

[2019-06-24 02:11] kamo-naoyuki commented on #764
@Rpersie Have your training with the splitting data been fished? I'll also try it due to another reason, so I'd like you to tell me your result.

[2019-06-24 02:18] Rpersie commented on #764
Yeah, but the results are not very well.
![image](https://user-images.githubusercontent.com/12673020/59986440-73cc1d80-9669-11e9-8706-b479bc08a419.png)

[2019-06-24 02:29] Rpersie commented on #764
If you need it, I will try just split data and do not change the front-end code.

[2019-06-24 04:07] kamo-naoyuki commented on #764
Thanks! The degradation looks mysterious.

[2019-06-24 07:23] Emrys365 opened #916 "[Bug] 'espnet.nets.pytorch_backend.e2e_asr_transformer:E2E' object has no attribute 'recognize_batch'"
Hi,

When decoding with a trained Transformer model, the following error occurred:

[code]
I found the definition of `recognize_batch()` in `$ESPNET_ROOT/espnet/nets/pytorch_backend/e2e_asr.py`, but not in `$ESPNET_ROOT/espnet/nets/pytorch_backend/e2e_asr_transformer.py`. So I guess there is some undone work in the Transformer part.

[2019-06-24 09:02] #664 closed

[2019-06-24 09:02] #663 closed

[2019-06-24 10:02] Fhrozen commented on #916
Yesm you are right. The transformer has not yes implemented batch decoding or gpu decoding. This is the situation for both backends (pytorch and chainer). Probably will be added as a task for v0.5.0 #849

[2019-06-24 11:33] r9y9 commented on #561
I realized that we'd better support tokenization at training time on-the-fly for TTS to implement char/phoneme mixing (can be viewed as data augmentation) as proposed in [DeepVoice3](https://arxiv.org/abs/1710.07654) and [Representation mixing](https://arxiv.org/abs/1811.07240) papers. Showing by code:

[code]

Code looks like this: https://github.com/r9y9/deepvoice3_pytorch/blob/1c75289e47c6c6a5d

[2019-06-24 12:55] kan-bayashi commented on #561
This is great.
I feel this is needed especially when we use @takenori-y’s synth_wav.sh script.

Current TTS recipe does not use kaldi feature extraction tool except for compute-cmvn-stats but it can be replaced with @kamo-naoyuki ‘s tool.

But I want to keep the data structure because the use of the same structure as in ASR is easy to maintain and allow the use of kaldi’s utility tools.
Also, it c

[2019-06-24 14:03] fotwo opened #919 "How to reproduce the results"
Hi, I am currently working on reproducing some SOTA results mentioned in the README.md. However, the memory error happens when the model is very large(e.g, using single gpu to run 12 encooders and 6 decoders.).
So what is your gpu device(e.g. GTX1080ti)?
I think smaller batch size and multiple gpus maybe relieve the problem, e.g. `1xgpu batch32 --> 4gpu batch8`, but the results may be damaged? So

[2019-06-24 14:43] r9y9 commented on #561
To be clear, I'm not going to break everything in the current TTS recipe and not going to change the data.json format (am I right this is what you mean by the data structure?), but just adding another recipe that is more easily pluggable to the other neural vocoder implementations (well, talking about mine for now). Running a TTS example doesn't require users to know about the kaldi and espnet dat

[2019-06-24 15:01] Entonytang opened #920 "how to train encoder-decoder model in v0.4.0"
how to set train.yaml in v0.4.0? please give an example just like run.sh.

[2019-06-24 15:14] sw005320 commented on #919
Which recipe are you talking about?
We'll also put such information soon (GPU type, number of GPUs) for our recipe for the reproducibility.
I mostly used single GPU (GTX1080ti) to get the SOTA performance for most recipes (aishell, hkust, librispeech, tedlium2) based on the default setup without having the memory errors. If you have GPU memory issues, you can just slightly reduce the batch size.

[2019-06-24 15:15] sw005320 commented on #920
If you check the recipe, you could find several examples.

[2019-06-24 15:35] kan-bayashi commented on #561
In my understanding, `kaldi-free` means no use of compiled kaldi tools, but keep the kaldi fundamental data structure.
The structure I mean is that kaldi fundamental files:
[code]
I think a problem of kaldi dependecy is a heavy compile.
If we use only kaldi shell utilities, we do not need to compile, what we need is just clone kaldi.
By using this structure and shell utils, we can easy combine rec

[2019-06-24 15:46] Entonytang commented on #920
can you give me more detail response?
wsj/asr1/run.sh can't find the example (sorry to disturb)

[2019-06-24 15:56] kan-bayashi commented on #920
There are several config files.
Please see `egs/wsj/asr1/conf/tuning`.
You can change the training model by selecting config files.

e.g.
[code]

[2019-06-24 16:00] kan-bayashi commented on #561
Sorry for my conservative option :(
Maybe I can change my mind if you show some examples.

[2019-06-24 16:03] #334 closed

[2019-06-24 16:03] #310 closed

[2019-06-24 16:19] r9y9 commented on #561
It’s totally okay and thank you for your comments! I’m still at thinking the best way. I’ll show an example once it’s ready.

[2019-06-25 05:39] fotwo commented on #919
Thanks, I will try it and the work was on hkust.
Another interesting thing is that the memory usage seems to decrease after conducting resume-training(i.e., using `--resume` option), so is there any 'implicit mechanism' under this phenomenon (maybe some useless memory does not be released during direct training?). And could we utilize this 'mechanism' to reduce the memory usage further?
|  GPU   |

[2019-06-25 06:27] kan-bayashi commented on #822
Fixed #774 #822 #921

[2019-06-25 06:28] #822 closed

[2019-06-25 06:28] kan-bayashi commented on #841
Fixed #808

[2019-06-25 06:28] #841 closed

[2019-06-25 06:51] CherrieWang97 opened #922 "The file order is not match in iwslt18 st test set"
I notice that the file order in test set of iwslt18 is not match between .yaml and text

for example,  the dev2010.de file has 654 lines but the test-db-dev2010.yaml has 974 lines.
It makes the hypothesis generated by the model has 974 lines. And the file order is different. So I can't compute the bleu score. How to fix it?

[2019-06-25 11:51] sw005320 commented on #919
I did not observe it, and I cannot tell what happened. In my experience, the GPU  memory usage is quite stable, and GPU memory shortage errors are reproducible.

[2019-06-25 13:05] fotwo commented on #919
ok, thanks again.

[2019-06-25 13:05] #919 closed

[2019-06-25 15:59] sw005320 commented on #922
@hirofumi0810, could you answer it?

[2019-06-25 17:09] hirofumi0810 commented on #922
@CherrieWang97

This is true and expected.

This is not true. I prepared scripts for this. Can you show me log files if there is some bugs?

[2019-06-25 18:40] #911 closed

[2019-06-25 18:41] sw005320 commented on #911
Did you solve it or not yet? If you solved it, could you share your TIPS on how you solve this issue?

[2019-06-25 18:45] TParcollet commented on #911
Of course sorry. Well, it turns out that in my cluster, the automatic install was installing PyTorch with torch._C._GLIBCXX_USE_CXX11_ABI=1 . I, therefore, installed PyTorch inside a conda env manually following the advice of: [https://discuss.pytorch.org/t/undefined-symbol-when-import-lltm-cpp-extension/32627/2](url) . torch._C._GLIBCXX_USE_CXX11_ABI went to False and i eventually installed espne

[2019-06-25 18:46] sw005320 commented on #911
That's good to know. Thanks!

[2019-06-26 01:21] ShigekiKarita opened #928 "Number of .sph in Tedlium3"
The number of .sph files is different between ESPnet and Kaldi
- 1514 in https://github.com/espnet/espnet/blob/master/egs/tedlium3/asr1/local/download_data.sh
- 2351 in https://github.com/kaldi-asr/kaldi/blob/master/egs/tedlium/s5_r3/local/download_data.sh

In addition, I found it is 4683 when I downloaded it yesterday. Is it growing?

cc: @Masao-Someki

[2019-06-26 01:23] ShigekiKarita commented on #928
In the project page https://lium.univ-lemans.fr/ted-lium3/
it says

maybe kaldi is correct but the actual number is different...

[2019-06-26 01:27] ShigekiKarita commented on #928
I found TEDLIUM_release-3 contains additional sph
- `find db/TEDLIUM_release-3/ -name "*.sph" | wc -l` 4683
- `find db/TEDLIUM_release-3/data -name "*.sph" | wc -l` 2351

I will create PRs for ESPnet and Kaldi

[2019-06-26 01:27] #928 closed

[2019-06-26 16:27] #470 closed

[2019-06-27 01:40] sw005320 commented on #561
Sorry for my late response. I also want to see an example. I think we could find a nice solution for Kaldi-free but both Kaldi-like and generic pythonic styles can co-exist.

[2019-06-28 08:18] desothier1 commented on #670
Hi,

For trying out transfer learning
I tried what you proposed,
changing torch_resume(args.resume, model) to torch_load(args.resume, model) and then use --resume option.
This seems to be a first step, but I guess some other code should be modified

-So I took an existing trained model with ESPnet
-option resume used, for instance,
     resume=./exp/train_nodev_pytorch_blstmp_e4_subsample1_2_2_1_1

[2019-06-28 09:01] b-flo commented on #670
If you're using the resume function, the pre-trained model architecture should match the architecture you specified in your training config. In your case the only mismatched parameter is odim (your output dimension with extra labels included) so two possibilities :

  - The "bigger" dictionnary you used didn't have the same size as the pre-trained model you use, same problem as the smaller you use

[2019-06-28 11:14] kan-bayashi commented on #670
This may help you.
https://discuss.pytorch.org/t/how-to-load-part-of-pre-trained-model/1113
You can customize `torch_load` based on the above thread info.

[2019-06-28 11:30] desothier1 commented on #670
ok, thx for the info.
Last question, model version I use is v.0.3.1.
In this version
change torch_resume(args.resume, model) to torch_load(args.resume, model) and then use --resume option
not applicable yet ?

thanks

[2019-06-29 15:50] kamo-naoyuki opened #942 "Too deep directly structre"
`espnet/nets/pytorch_backend/transformer` looks too deep. What do you think, guys?

[2019-07-01 01:00] Natalia-T opened #944 "Scoring error in iwslt18 for asr1 and st1"
There are similar scoring errors in both scripts for iwslt18: asr1 and st1.

Scoring works for dev.de and  test.de,  but does not work for dev2010.de tst2010.de tst2013.de tst2014.de tst2015.de

This works:
`if [ ${rtask} = "dev.en" ] || [ ${rtask} = "test.en" ]; then
local/score_sclite.sh --case ${case} --nlsyms ${nlsyms} --wer true ${expdir}/${decode_dir} ${dict}`
This fails:
`else
set=$(echo ${

[2019-07-01 02:42] robothubtokyo opened #945 "How to improve outputs?"
I tried JSUT corpus and couldn't get good result, especially when I use original sentences.

ex)
sentences from JSUT corpus
REF:  水をマレーシアから買わなくてはならないのです。
HYP:  水をマレーシャーからなくてはならないのです。
REF:  木曜日、停戦会談は、何の進展もないまま終了しました。
HYP:  木曜日、定戦界団は、何の信点もないましました。

original sentences
REF:  お電話ありがとうございます。
HYP:  よどうな人がないます。
REF:  ありがとうございました。
HYP:  あちょうかいなしていないしなしていな。

What can I do to improve the outputs?

[2019-07-01 21:22] kan-bayashi commented on #945
JSUT is a small corpus and contains only single female speaker’s speech.
It is difficult to achieve an enough performance in decoding of original sentence (you mean original speech?).
It is better to try more large recipe e.g. CSJ.

[2019-07-01 21:24] kan-bayashi commented on #942
I agree but I have no good idea.
Do you have any suggestions?

[2019-07-01 21:24] #920 closed

[2019-07-02 03:32] robothubtokyo commented on #945
@kan-bayashi Thank you. I will try CSJ.

[2019-07-02 03:34] #945 closed

[2019-07-02 12:26] #682 closed

[2019-07-02 13:29] sw005320 commented on #944
Thanks a lot for the report.
@hirofumi0810 told me that he could fix it in his local, but `mwerSegmenter` is an external tool, and we could not directly fix it. Instead, I'm asking @hirofumi0810 to prepare a patch to fix this issue. @hirofumi0810 will follow up it.

[2019-07-02 15:54] kamo-naoyuki commented on #942
I just asked, so I don't have. Possible patterns are

- Use suffix
[code]
- Another root directory
[code]
- Throw away chainer.

[2019-07-02 17:13] sw005320 commented on #942
If we just want to avoid the deep directory structure, the following seems to be reasonable.

[2019-07-03 04:26] #669 closed

[2019-07-03 13:22] kamo-naoyuki commented on #942
I got another idea.

- Remove nets and pull up rnn, etc.
[code]

Or

[code]

[2019-07-06 08:37] robothubtokyo opened #951 "Process after output for Japanese"
I'm developing ASR for Japanese.
So I want to know WHAT is the type of the outputs from endtoend network, and
HOW are they converted to Japanese sentences.
Thank you.

[2019-07-07 02:20] #689 closed

[2019-07-07 12:30] Fhrozen commented on #951
Hey there, you can check at egs/csj/asr1 to look for japanese asr.
The output is japanese character such as the following sentence:
```と後相関性の高いニューロン間のシナプス結合は強くなるというヘブの学習則的観点からですまヘブのす学習則的観点ていう面をもうちょっとお説明しますと```
It can mix hiragana, katakana and kanji.
There is not conversion, the output of the network is a softmax layer with an index for each japanese character.

[2019-07-07 14:13] #693 closed

[2019-07-08 09:25] Pydataman opened #952 "ErrorCalculator does not work in corpus without <space>"
hello，when I run aishell recipe，error is as follows：

Traceback (most recent call last):
  File "espnet/bin/asr_train.py", line 373, in <module>
    main(sys.argv[1:])
  File "espnet/bin/asr_train.py", line 361, in main
    train(args)
  File "espnet-0.4.0-py3.6.egg/espnet/asr/pytorch_backend/asr.py", line 257, in train
  File "espnet-0.4.0-py3.6.egg/espnet/nets/pytorch_backend/e2e_asr_transformer

[2019-07-09 10:16] vinitunni opened #953 "CER and loss calculation for validation set during pure attention ASR (mtalpha=0)"
I am trying ASR task with Mozilla common voice dataset using a pure attention model (mtalpha=0, ctc_weight=0). However, while calculating validation values, the cer and loss values are significantly higher (cer_valid~4.0 to 5.0). I manually calculater cer/wer using the printed groundtruth and predictions (when verbose=1) and these values are closer to 0.7.
To further check, I ran expts with mtalph

[2019-07-09 18:14] jan-schuchardt commented on #952
Hey, I ran into the same issue with tedlium2. Seems like it is caused by the fact that sentencepiece is now used for token generation.
There no longer is a token "<space>", just normal spaces.
For now, I fixed it by just commenting out

`self.idx_space = self.char_list.index(self.space)
`
in line 109

and replacing

`if idx != -1 and idx != self.idx_blank and idx != self.idx_space:
`
with

`if idx

[2019-07-10 00:30] kan-bayashi commented on #952
Which version did you use? Could you checkt it via following command?

[code]

[2019-07-10 00:43] kan-bayashi commented on #952
I figured out this issue.
Some corpus does not include the symbol of “<space>”, but `ErrorCalculator` assumes it.
https://github.com/espnet/espnet/blob/9f0729f31bdf4ba6fdc5ca8a48042c9e6f24e00c/espnet/nets/e2e_asr_common.py#L102-L108
@Fhrozen could you fix it?

[2019-07-10 00:46] #951 closed

[2019-07-10 00:47] Fhrozen commented on #952
I am checking it now

[2019-07-10 01:02] kan-bayashi commented on #953
Do you mean printed ones represent this part?
https://github.com/espnet/espnet/blob/9f0729f31bdf4ba6fdc5ca8a48042c9e6f24e00c/espnet/nets/pytorch_backend/rnn/decoders.py#L211-L212
Here, predictions are calculated using teacher-forcing, so it becomes lower than actual CER.

And in pure attention mode, it is better to set `minlenratio`, `maxlenratio`. `penalty` not to repeat the sentence or to avoid

[2019-07-11 09:24] fuzhengjia opened #958 "ESPnet inference error: CUDA error: out of memory"
When we try the inference using GPU for decoding, we always got this "CUDA error: out of memory". We have tried different combination of batch size / thread / gpu, including different gpu types 1080ti, 2080ti and v100 (32G), even set the batchsize = 1.

Does any one experience similar issue before?

Thanks

[2019-07-11 10:18] sknadig commented on #958
I think reducing `nj` helps.
You can have less number of jobs with `nj`, say `nj=2`, and a larger batch, say `batchsize=16`.
But, if you have a larger `nj`, it will load the model `nj` times in parallel. Since the model takes large amount of memory, you end up with the CUDA error.

[2019-07-12 07:46] fuzhengjia commented on #958
Hi thanks.
We suddenly realize that this problem appears because our inference is based on transformer framework which at the moment is not supported, am I right?

[2019-07-12 11:43] #952 closed

[2019-07-12 12:42] kan-bayashi commented on #952
Fixed in #955

[2019-07-13 03:02] Rpersie commented on #764
@kamo-naoyuki  Recently, I implement the MVDR using steervector , but the espnet have the warnings in every epoch "grad norm is nan. Do not update model".  have you ever countered this problem ? Thank you !

[2019-07-13 12:57] jan-schuchardt opened #959 "Jump in acc/CER at end of epoch"
Hi,

I observed the following phenomenon when looking at the train.log file after training RNN models on Tedlium2:

Between the last iteration of epoch n and the 100th iteration of epoch n+1, there's often a noticeable increase increase in accuracy (often > 0.5% and definitely larger than intra-epoch improvements), even if the accuracy appears to have converged beforehand.

Is there some part of t

[2019-07-14 03:36] Pydataman opened #960 "some questions about param num-spkrs in asr_train.py"
hello,
in **asr_train.py**, param **num-spkrs** only is chosen one of [1, 2], but in aishell recipe and so on, number of speaker is more than 2. different speakers say the same thing, the asr features are different. If this parameter is defaulted to 1，why design **asr_mix.py**, and can only handle 2 speakers。

I am looking forward to reply
thanks！

[2019-07-15 00:02] geekboood opened #961 "Training performance issue"
Hi! When I try to train on Aishell dataset, it trains very slow. The weird thing is that one core of my CPU is always running at 100% but my GPU is only used about 30% ~ 40%. I wonder is there any dataset loading overhead (I have met this before but I cannot figure it out in this scenerio) or other things that slow my tranining process down or I can parallellize these CPU heavy usage operations.

[2019-07-15 02:41] #710 closed

[2019-07-15 05:18] geekboood commented on #961
I found that if I remove the code which write info to tensorboard, this CPU bottleneck will be greatly migitated. It seems that the training program write info every iteration so could we set a parameter to report every certain number of iterations?

[2019-07-15 05:25] robothubtokyo opened #962 "How to assess the result ?"
We trained a language model of English using an4 recipe.
Then we got the tensorboard result, but cannot tell whether it is good or not.
Could you tell me how to assess the result of ESPnet ?
![result_sample](https://user-images.githubusercontent.com/52391327/61197058-a79cdf00-a70d-11e9-9848-924e26640e1b.png)

Thank you.

[2019-07-15 06:01] robothubtokyo opened #963 "Customizing to recognize personal OOVs"
We want to recognize personal OOVs (out of vocabulary).
For example, people usually connect a Japanese word "O-ta" with "太田" or "大田", but sometimes with "多田". It happens especially when the listener's frequency in use of "多田" is higher than that of "太田" or "大田". In this case, "多田" is one of the listener's OOVs.
Assume that we already know someone's OOVs and pronunciations of each, can we customize

[2019-07-15 09:04] Rpersie commented on #764
I just check you code and plot the enhanced FFT Spectrogram. I just exit(1) the program after the beamforming. So the figure is just using the initialized parameters and the grad is not updated.
The first figure is the espnet results and the second is my improved results. I find my results is better
than the espnet. But it  has the warnings in every epoch "grad norm is nan. Do not update model".
C

[2019-07-15 15:03] sw005320 commented on #959
This may be due to the epsilon decay. Can you paste the learning curve (acc.png or loss.png generated under `results/` directory or the snapshot of the tensorboard?

[2019-07-15 15:05] sw005320 commented on #960
This is designed for multispeaker speech recognition (more than one speaker are speaking at the same time). @simpleoier, could you add more comments on the multispeaker setup in the `asr_train.py` to avoid such confusions.

[2019-07-15 15:07] sw005320 commented on #958
Right. We don't support GPU decoding for the transformer (one of our important action items).

[2019-07-15 18:16] sw005320 commented on #962
Did you train a language model or ASR model? The tensorboard log looks like an ASR model, but you mentioned LM, and I'm confused. To check the result, you should monitor the validation score (validation acc/loss/perplexity) instead of training ones. They have strong correlations to the final applications.

[2019-07-15 18:23] sw005320 commented on #961
Thanks for your TIPS. I did not notice it.
I agree that we don't need to set it every iteration.
In https://github.com/espnet/espnet/blob/master/espnet/asr/pytorch_backend/asr.py#L466,  can you change it something like below?
[code]
->
[code]
Please let me know if it solves your issue. We may do this as default.

[2019-07-15 18:28] sw005320 commented on #963
This is one of the issues that end-to-end methods cannot easily handle. The current ESPnet does not handle it.

[2019-07-16 01:28] geekboood commented on #961
@sw005320 I change the file and it does work. If the program writes info every iteration, it results in `2.9445 iters/sec`. After changing the code (I think this time it writes info every 100 iterations), it shows `4.4718 iters/sec`.

[2019-07-16 01:33] sw005320 commented on #961
Very cool! Could you make a PR for this? or we'll do it by ourselves.

[2019-07-16 01:38] geekboood commented on #961
@sw005320 Please do it for me. By the way, since Transformer can train in FP16, and on RTX cards it can significantly increase the training speed and allowing a bigger batchsize, could we introduce such feature to accelerate the training process?

[2019-07-16 01:49] sw005320 commented on #961
This is interesting. @ShigekiKarita, what do you think?

[2019-07-16 01:59] Rpersie opened #964 "Loss is ok, but grad norm is nan. Do not update model"
Recently, I change some code in the multichannel end-to-end chime4 asr. I estimate the TDOA and improve the beamforming using steer vector. I  check you code and plot the enhanced FFT Spectrogram. I just exit(1) the program after the beamforming. So the figure is just using the initialized parameters and the grad is not updated.The first figure is the espnet results and the second is my improved r

[2019-07-16 06:45] robothubtokyo commented on #962
Thank you.
I will check the validation score.

[2019-07-16 07:46] ShigekiKarita commented on #961
Wow, I will try that (but my RTX2080ti cards are not available in this week...). Previously I trained Transformer in FP16 with fairseq. It was really fast as seen in this paper https://arxiv.org/pdf/1806.00187.pdf

[2019-07-16 14:11] sw005320 commented on #764
This might be a bug due to your implementation. How did you get a steering vector? I believe we did not fully support this.

[2019-07-16 15:28] robothubtokyo opened #967 "Feature Generation error (CSJ)"
We encountered the following error when trying CSJ's Feature Generation.
Before running the script, we moved the data to HDD in our PC, and changed the line 37(CSJDATATOP=~/hdd_mount/CSJ_corpus).
How can we solve this error?

`
./run.sh --backend pytorch --ngpu 1
stage 0: Data Preparation
Finish processing original CSJ data
Warning: expected 986 data files (Case : Using 'Academic lecture' and 'Oth

[2019-07-16 15:38] robothubtokyo commented on #963
Thank you for your reply.
How about using synthesized speech to solve the problem ?
If we could make synthesized speech that contains OOVs, can we use it as an additional corpus ?

[2019-07-16 15:39] sw005320 commented on #963
Yes, this is one way (see https://arxiv.org/pdf/1807.10893.pdf).

[2019-07-16 15:42] sw005320 commented on #967
This seems to be a problem in Kaldi. Which version of Kaldi are you using?

[2019-07-16 15:43] sw005320 commented on #964
Can you check to see the nan issues happening for all iterations or some specific iteration? You could also identify which utterance cases such issues.

[2019-07-16 16:01] robothubtokyo commented on #967
Thank you for your reply.
We are using 5.5.

[2019-07-16 16:48] robothubtokyo commented on #963
Thank you so much !
We will try the way.

[2019-07-16 22:22] sw005320 commented on #967
Probably [this](https://groups.google.com/forum/#!topic/kaldi-help/N-Y4QXTHZk4) would help?

[2019-07-17 03:06] Xiaofei-Wang opened #969 "Cupy Import Error."
Does someone have the cupy import error during making the ESPnet?
For example, if I
`make KALDI=/path/to/kaldi CUDA_VERSION=9.0`
The cupy 6.0 still tries to find libraries of CUDA 10.0 on default, although I have correctly set the environment.

Instead of using
`cupy.done: espnet.done
ifneq ($(strip $(CUPY_VERSION)),)
	. venv/bin/activate && pip install cupy==$(CUPY_VERSION)
	touch cupy.done
endif

[2019-07-17 08:14] #963 closed

[2019-07-17 09:05] robothubtokyo commented on #967
Thank you.
We found some broken wave files in CSJ corpus.
Removing those, the error didn't appear.
I'm so sorry for bothering you.

[2019-07-17 10:18] #967 closed

[2019-07-17 11:44] simpleoier commented on #960
ok, I will take care of this.

[2019-07-17 13:10] sw005320 commented on #969
Thanks for the report.
If so, it would be better to switch to use `cupy-cuda80`, `cupy-cuda90`, `cupy-cuda100`, etc.(?)
Hmm, this is not so cool option.

[2019-07-18 05:02] #962 closed

[2019-07-18 08:10] iezhanqingran opened #971 "Cuda check"
Hi,
When i'm installing the espnet , there are the following warnings:
WARNING: --> it seems that cuda is not available in torch.
INFO: --> cudnn is available in torch.
INFO: --> cuda is available in chainer.
WARNING: --> it seems that cudnn is not available in chainer.
Do you have any ideas about there warnings? why the cuda is available in torch but it's not available in torch? I have set the cu

[2019-07-18 13:38] iezhanqingran commented on #971
There is another warning:  UserWarning: cuDNN is not enabled.
Please reinstall CuPy after you install cudnn

[2019-07-18 22:06] robothubtokyo opened #972 "Cycle-Consistency training"
Can we try Cycle-Consistency training [[https://arxiv.org/abs/1811.01690](url)] in ESPnet ?

[2019-07-19 12:53] sw005320 commented on #972
See #818. This is one of our first priority to finish this PR. @creatorscan is mainly working on it. It would be great if you help this development.

[2019-07-19 13:53] kan-bayashi opened #977 "Development plan of TTS recipes for v.0.5.0"
Continue from #561

- [x] Integrate neural vocoder #1081
- [ ] GPU batch inference
- [x] Multi-speaker Transformer #1001
- [x] Multi-speaker FastSpeech #1006
- [x] Add Transformer recipe
    - [x] JSUT #1009
    - [x] LibriTTS #1005
- [x] Add Chinese recipe #1259
- [ ] Re-design interface to be compatible with other types of embeddings
- [ ] Integrate online text cleaning in training #998

If you

[2019-07-19 13:53] kan-bayashi commented on #561
Continue on #977

[2019-07-19 13:53] #561 closed

[2019-07-22 09:03] Pydataman commented on #960
@simpleoier thanks

[2019-07-22 09:13] jan-schuchardt commented on #959
Hi, sorry for the late reply.
I ran the training without tensorboard logging (and before tensorboard logging was performed every 100 iterations) and the acc.png / loss.png plots are not informative, as they only plot per-epoch accuracy.
So I just created plots from the "results/log" file. Orange ticks indicate the end of an epoch.

The problem only seems to become apparent in low-capacity models:

[2019-07-23 04:22] sachinkum commented on #324
I've tried streaming with Transformers, BRNNs and RNN. None of them predict the same thing that is predicted with the complete audio. I've tried 100ms and 200ms chunks as well as (t-1, t), (t, t+1) and (t-1, t+1) chunks. Is there any way to actually use this for streaming yet?

[2019-07-23 06:06] sachinkum opened #982 "Streaming"
I've tried streaming with Transformers, BRNNs and RNN. None of them predict the same thing that is predicted with the complete audio. I've tried 100ms and 200ms chunks as well as (t-1, t), (t, t+1) and (t-1, t+1) chunks. Is there any way to actually use this for streaming yet?

[2019-07-23 11:50] Pydataman commented on #977
@kan-bayashi can you add transformer recipe for chinese corpus？

[2019-07-23 11:54] kan-bayashi commented on #977
@Pydataman Thank you for your suggestions!
I added it to action items.
BTW, I'm not familiar with Chinese TTS corpus.
So if you know the nice free corpus for Chinese TTS, please let me know.

[2019-07-24 02:22] Pydataman commented on #977
@kan-bayashi
ok
but I don't know how much data is in chinese, I have tts data for two people here, about 6 hours for each person. for traning tts, these data may be a bit less. In chinese tts, I can help and participate in this project. thanks

[2019-07-24 02:50] Pydataman opened #983 "some ideas about chinese asr"
for chinese asr, the target of model base on word,maybe beneficial for large amounts of asr data, avoid oov, but for small amount of data, base on phone or pinyin, maybe better.
I have read two articles and compared various unit targets.

1、A Comparison of Modeling Units in Sequence-to-Sequence Speech Recognition
with the Transformer on Mandarin Chinese
2、Syllable-Based Sequence-to-Sequence Speech

[2019-07-24 06:35] mowayao commented on #983
However, Paper 2 shows the experimental results on HKUST that characters is better modeling units than pinyin.

[2019-07-24 08:48] Pydataman commented on #983
@mowayao
there are some errors in pinyin to character，I guess.

[2019-07-24 09:23] mowayao commented on #983
Have you ever done some experiments to compare these two modeling units with different models such as ctc, ctc+attention?

[2019-07-24 17:06] #706 closed

[2019-07-25 00:19] sw005320 commented on #959
Thanks for your detailed analysis. I think such jumps may be reasonable because the initial iterations after every epoch use the same training data appeared in the previous epoch and could have some discontinuous accuracy jumps compared with other iterations. But I'm not sure.

[2019-07-25 00:24] sw005320 commented on #983
I'm not a big fan of using some language-specific process including the use of phoneme/pinyin dictionary on the e2e ASR. In the ESPnet Mandarin tasks (HKUST and AISHELL), both methods are comparable/superior to Kaldi-based hybrid systems based on phoneme dictionary and I think this is good enough, but it would be great if someone shows the effectiveness of introducing such methods.

[2019-07-25 00:27] sw005320 commented on #982
We have been working on the streaming process but we could not completely finish our implementation. Could you let us know which techniques you're working on more specifically? We may figure it out.

[2019-07-26 09:44] vinitunni commented on #953
I did make the above changes. But looks like my main issue was that ctc_weight was not being passed during training args and the default value of 0.3 was being used. Thus higher values during validation/;

[2019-07-26 09:44] #953 closed

[2019-07-27 12:39] #724 closed

[2019-07-28 12:41] #959 closed

[2019-07-29 06:44] Rpersie opened #992 "Some questions about MVDR Implementation in espnet"
Recently, I am working to improve the espnet beamformer. I want to implement the MVDR beamformer. In MVDR beamformer, we will encounter the  Eigenvalue decomposition.  Although the pytroch can not support complex Eigenvalue decomposition, the psd_s is  an  Hermite matrix. So we can use the real part and image part to construct a new real Symmetric matrix. Besides , the pytorch support the real Sym

[2019-07-29 06:49] Rpersie commented on #992
I verify the eigenvalue decomposition in matlab and it is ok !  Besides I use the pytorch torch.symeig to do the  eigenvalue decomposition

[2019-07-29 07:03] sachinkum commented on #982
While using transformer (e2e-transformer class), execution results in attribute errors if using window or segment streaming.
With BRNNs and RNNs, window streaming results in error **AttributeError: 'WindowStreamingE2E' object has no attribute 'retrieve_recognition'**.

With segment streaming, everything fininshes without any errors, but rsults in a blank decode output.

So while using the plain **

[2019-07-29 08:06] Rpersie commented on #964
thank you! I have resolved it. Because the eps=1e-15 is too small.

[2019-07-30 00:56] siddalmia opened #993 "The scoring script is incorrect if any pruning is done on the dictionary or in the case of word models"
Hi @sw005320 and other developers,

The command `json2trn.py ${dir}/data.json ${dic} --num-spkrs ${num_spkrs} --refs ${dir}/ref.trn --hyps ${dir}/hyp.trn` in the `score_sclite.sh` replaces all units in reference that are not in the dictionary with unk and then scores it.

This is wrong because you are modifying the reference transcription to match your dictionary. Let's say I train a model with di

[2019-07-30 03:16] kamo-naoyuki commented on #992
I often met such case that val-acc is better but the CER is worse with this task. I think one of the reason is the mismatch variability between dev set and eval set.
Your result looks better, or near, than the current implementation about dt, so that is not necessary due to bugs.

As general advise, it's better to test the gradient of eigen decomposition, but I think it may be O.K. I have also imp

[2019-07-30 03:18] Rpersie commented on #992
Thank you ! You results is better than the original beamformer?

[2019-07-30 03:20] kamo-naoyuki commented on #992
Sorry, I have not tested it on ESPNet.

[2019-07-30 03:27] Rpersie commented on #992
In my Implementation, I also encounter an problem. That is described in https://github.com/pytorch/pytorch/issues/23133
I just use this trick to do Eigenvalue decomposition, otherwise the torch.symeig() is not stable.
Do you think this trick is right ?  Thank you!

[2019-07-30 04:43] sw005320 commented on #993
Thanks. You're right. Let me try to fix it.

[2019-07-30 08:27] r9y9 commented on #792
A bit different topic though, we may also need to be consistent with the use of `A-to-B` or `A2B`. https://github.com/espnet/espnet/tree/master/utils

[2019-07-31 04:53] kamo-naoyuki opened #1012 "New style to describe input features"
I'd like to discuss about inputting data format for training program.

We encountered some issues with the current style of `data.json` now and I also feel some limitations about [LoadInputsAndTargets](https://github.com/espnet/espnet/blob/master/espnet/utils/io_utils.py) to describe training set.

#533

-  About JSON
    - JSON used much memory if the text file is too large because JSON doesn't s

[2019-07-31 06:04] sw005320 commented on #1012
@r9y9, do you have comments? We want to have opinions from non-ASR people.

[2019-07-31 06:14] #969 closed

[2019-07-31 15:20] #993 closed

[2019-08-01 02:49] jnishi commented on #700
Test code written above may not use cuDNN because input length must be same in the batch if we would like to use cudnn.

https://pytorch.org/docs/master/nn.html#ctcloss
[code]

[2019-08-01 06:09] Geish commented on #756
I'm interested in helping with this. Any work in progress or pointers to where changes need to be made?

[2019-08-01 06:13] sw005320 commented on #756
Thanks, @Geish. @jnishi, could you share your current status of using Pytorch 1.1 for ESPnet?

[2019-08-01 06:49] #703 closed

[2019-08-01 07:49] sw005320 commented on #1012
In addition to this change, I think it's better to use `sentencepiece` as default for all recipes and switch to use it or not by an option (e.g., `nbpe=0` to use a char-based one).

[2019-08-01 10:27] butsugiri commented on #1012
I really like the idea of shifting to format that supports lazy loading.
As one of the NLPer, I sometimes have to handle several gigabytes of text and thus the memory footprint is a huge problem.

Still, I am not so sure about the speed; my understanding is that processing json/hdf5 happens in CPU-side while GPU is operating a heavy computation.
Thus, as long as the processing completes faster tha

[2019-08-01 12:32] #971 closed

[2019-08-01 15:18] jnishi commented on #756
I merged original repository's patch which supports pytorch 1.1 into `pytorch-1.1` branch https://github.com/espnet/warp-ctc/tree/pytorch-1.1

However, espnet needs to be fixed to use pytorch 1.1, because interface of some functions differ from pytorch 1.0. (Sorry for missing of latest versions of error message.)

@Geish
Could you use `pytorch-1.1` branch and fix espnet?

[2019-08-01 16:52] Geish commented on #756
@jnishi I already tried that but I'm seeing an error running espnet and imoprting `ctcdecode` with that branch:
[code]
I looked online and the suggested fix is insufficient (to import `torch` first, which is what espnet does). Any pointers to why this is the case?

[2019-08-03 05:21] boystray opened #1038 "espnet/nets/chainer_backend/e2e_asr.py has bug"
when I run egs/an4/asr1$ ./run.sh --backend chainer, there is a error

stage 4: Network Training
run.pl: job failed, log is in exp/train_nodev_chainer_train_mtlalpha1.0/train.log

the following is exp/train_nodev_chainer_train_mtlalpha1.0/train.log
 `^[[JException in main training loop: unsupported operand type(s) for *: 'float' and 'NoneType'
Traceback (most recent call last):
  File "/media/boys

[2019-08-03 05:25] boystray commented on #1038
i found the code in espnet/nets/chainer_backend/e2e_asr.py is changed
the origin code is correct
        if alpha == 0:
            self.loss = loss_att
        elif alpha == 1:
            self.loss = loss_ctc
        else:
            self.loss = alpha * loss_ctc + (1 - alpha) * loss_att

[2019-08-03 06:03] Fhrozen commented on #1038
Thank you for the report.
I just submitted a PR to solve this issue. (#1039)

[2019-08-03 07:38] #834 closed

[2019-08-03 13:49] kan-bayashi commented on #1038
Fixed in #1039

[2019-08-03 13:49] #1038 closed

[2019-08-03 22:10] #696 closed

[2019-08-04 15:20] Yingzhu-Zhao opened #1045 "ImportError: No module named espnet.transform.transformation"
For new espnet 0.4.3, which running stage 1 feature generation, when running:
# compute global CMVN
compute-cmvn-stats scp:data/${train_set}/feats.scp data/${train_set}/cmvn.ark
there is one error:
Traceback (most recent call last):
File "/home/owner/expts/espnet_0.4.3_0801/egs/librispeech/asr1/../../../utils/copy-feats.py", line 6, in <module>
from espnet.transform.transformation import Transform

[2019-08-05 09:30] kan-bayashi commented on #1045
Hi @Yingzhu-Zhao. Thank you for your report.
Which recipe did you use?

[2019-08-05 14:24] jnishi commented on #756
Hi, I run current ``master` branch of espnet with `pytorch-1.1` of warpctc. It looks fine in my environment.

Your error seems to be due to lack of binary library. Are there any error in compiling of the warpctc or pytorch binding?

[2019-08-05 15:34] Yingzhu-Zhao commented on #1045
Hi, thanks for reply. I use librispeech training data 100hrs only.

[2019-08-05 21:03] sw005320 commented on #1012
Thanks, @butsugiri for your input!

This is true that we would not have large computations but the memory usage would be critical when we use json without lazy loading. (it would amount to ~10GB for 1,000 hours of data. If we use larger data (say 10,000 hours), it amounts to ~100GB...).

[2019-08-06 00:43] r9y9 commented on #889
This is on my todo list.

[2019-08-06 01:29] kan-bayashi commented on #1045
I’m not sure why this is happened.
Please make sure your installation is successfully done.
You can check via `cd tools; make check_install`

And if you make your own recipe, please make sure `path.sh` is correctly working.
You can check via following command
[code]

[2019-08-06 07:04] robothubtokyo opened #1048 "Cannot reach CER 5 ..."
We tried CSJ recipe and got the following result.
It's far from your results(CER4.1~5.7).
How can we get such a result ?

                     SYSTEM SUMMARY PERCENTAGES by SPEAKER

     ,-------------------------------------------------------------------.
     |  exp/train_nodup_sp_pytorch_train/decode_eval1_decode_lm/hyp.trn  |
     |--------------------------------------------------------------

[2019-08-06 08:17] kan-bayashi commented on #1048
Did you use transformer?
`https://github.com/espnet/espnet/blob/master/egs/csj/asr1/conf/tuning/train_pytorch_transformer.yaml`
For this results, I use exactly the same configure but I used `ngpu=2`.
(If we use `ngpu=2`, batchsize will be 32 -> 64.)
In the case of Transformer, a large batchsize is essential to achieve nice performance.
If you have many gpus, try `ngpu=2 or 3 or more....`.
If you d

[2019-08-06 10:04] Youyoun opened #1049 "Yesno results really high"
Hi,

By running the yesno recipe, we get an Error rate of 31.5% (according to `egs/yesno/asr1/RESULTS`).
How do you explain such a high WER for a task where kaldi gets 0% WER ?

[2019-08-06 13:39] zqs01 opened #1051 "RuntimeError: Expected tensor for argument #1 'indices' to have scalar type Long; but got torch.cuda.FloatTensor instead (while checking arguments for embedding)"
Hi everyone,

I use the transformer model for ASR, the default encoder type is "conv2d", but when I change the default encoder type to "embed", I get an error. How can I solve this problem?

RuntimeError: Expected tensor for argument #1 'indices' to have scalar type Long; but got torch.cuda.FloatTensor instead (while checking arguments for embedding)

[2019-08-06 13:41] kan-bayashi commented on #1051
embed of Transformer encoder is used for TTS.
It cannot be used for ASR.

[2019-08-06 13:41] #1051 closed

[2019-08-06 13:50] zqs01 commented on #1049
perhaps because the dataset is so small and is not suitable for deep learning. I just guess.

[2019-08-06 13:52] #961 closed

[2019-08-06 13:52] sw005320 commented on #1049
Yes, we made this recipe for the debugging purpose. We don't expect this to work normally due to very sparse training data.

[2019-08-06 14:34] Youyoun commented on #1049
All right, thanks for your answer. Was trying to play with the parametres to see the influence of each in the learning process, but I was getting 100% error everytime I changed a parameter.

Will move on to another dataset for testing !

[2019-08-06 14:34] #1049 closed

[2019-08-07 00:37] zqs01 opened #1052 "loss curve question"
![TIM截图20190807082854](https://user-images.githubusercontent.com/40491290/62585860-7fa83200-b8ed-11e9-8962-e1e347efe638.png)

when I use the Transformer for ASR and set the parameter "mtlalpha: 0", the loss curve can only show two. Is there any problems? Thanks.

[2019-08-07 02:18] kan-bayashi commented on #1052
Thank you for your report.
I also confirmed similar phenomena.
I will investigate it.

[2019-08-07 02:19] kan-bayashi commented on #1048
I updated default config to improve reproducibility. #1050

[2019-08-07 04:54] robothubtokyo commented on #1048
Thank you.
Can we use transformer without changing conf files?

[2019-08-07 05:17] kan-bayashi commented on #1048
You can check `--train_config` in `run.sh`.

[2019-08-07 08:16] robothubtokyo commented on #1048
Thank you.
Now we are using 2 GPU(1080&2070), but cannot set large batchsize(64).

train.log>>
RuntimeError: CUDA out of memory. Tried to allocate 21.75 MiB (GPU 0; 7.76 GiB total capacity; 6.36 GiB already allocated; 19.69 MiB free; 36.47 MiB cached)

[2019-08-07 08:23] kan-bayashi commented on #1048
Use large `accum_grad` and small `batchsize` to avoid OOM error.
`batchsize=32` and `accum_grad=4` is theoretically equal to `batchsize=128` and `accum_grad=1`.

[2019-08-07 12:40] ShigekiKarita commented on #1052
this is because loss equals loss_att if mtlalpha = 0.

https://github.com/espnet/espnet/blob/4f9c28e8193b58be97e80115d38c76f9275d9954/espnet/nets/pytorch_backend/e2e_asr_transformer.py#L190-L192

[2019-08-07 12:40] #1052 closed

[2019-08-07 12:44] ShigekiKarita commented on #1048
Also, you can try `--batch-bins` instead of `--batch-size` that can emplace more seqs https://github.com/espnet/espnet/blob/4f9c28e8193b58be97e80115d38c76f9275d9954/espnet/bin/asr_train.py#L164

[2019-08-09 03:29] r9y9 commented on #700
https://github.com/pytorch/pytorch/releases/tag/v1.2.0 FYI: Looks like the latest release contains a few fixes for pytorch's builtin CTC loss. Perhaps worth looking into the differences again?

nn.CTCLoss: fix some numerical stability issues. (21392)
nn.CTCLoss: disable buggy non-deterministic CudNN algorithm. (22977)
nn.CTCLoss: fixed empty target handling. (21910, 23298)

[2019-08-09 09:44] robothubtokyo opened #1071 "recog_wav.sh problem"
We tested trained models by using the following command and it doesn't work after 0.5.0. It seems that --cmvn is needed, but we cannot find such files. Could you tell me where cmvn files are? Thank you.

../../../utils/recog_wav.sh --recog_model exp/train_nodup_sp_pytorch_train/results/model.acc.best --lang_model exp/train_rnnlm_pytorch_lm/rnnlm.model.best --decode_config conf/decode.yaml --backen

[2019-08-09 12:54] sw005320 commented on #1071
You can find it at `data/train*/cmvn.ark`.

[2019-08-09 14:31] sw005320 commented on #700
I agree. If someone investigates it and shares it with us, this is very helpful.

[2019-08-09 18:20] hadaev8 opened #1073 "Multispeaker model published?"

[2019-08-09 19:15] sw005320 commented on #1073
We could make it with the old ESPnet, but not for the latest one.
@simpleoier, I think it's good to redo your experiments with the latest ESPnet and share the model. Can you do that?

[2019-08-09 19:19] simpleoier commented on #1073
Yes, I can start doing it immediately!

[2019-08-10 00:21] #1071 closed

[2019-08-10 00:21] #1048 closed

[2019-08-10 13:39] jnishi commented on #700
Label `0` of `np_target` cannot be used, because label `0` means blank. Blank label is only used in calculation of CTC loss.

I tested both pytorch 1.1.0 and 1.2.0 by the code below based on kamo-naoyuki's code.

[code]

The CTC losses are the almost same in pytorch 1.1.0.
[code]

They are also the same in pytorch 1.2.0.
[code]

CTC loss  calculation seems to have no problem.

[2019-08-11 03:00] kan-bayashi commented on #700
Why don’t you investigate the behavior when output is very long or output is shorter than input?

[2019-08-11 07:12] fanlu opened #1075 "multi gpu lm training throws CUDA out of memory exception"
There was an out of memory exception thrown when I use lm.yaml and lm_large.yaml in librispeech egs with multi gpu=4.
[code]

[2019-08-11 08:21] alpha19881007 commented on #1075
ensure your sentence length not too long, may be small than 128/256

[2019-08-11 12:57] fanlu commented on #1075
There is a same problem is egs tedlium3 too.And there was no problem in single gpu before.So Maybe It's a new bug in multi gpu recipe.

[2019-08-11 13:01] kan-bayashi commented on #1075
Could you check whether it works with small batchsize?
In multi-gpu case, we automatically increase `batchsize = batchsize * ngpu`.

[2019-08-11 13:03] fanlu commented on #1075
Yes.I have changed the batchsize from 512 to 256/128/32. There are exists the same problem also.

[2019-08-11 13:04] kan-bayashi commented on #1075
Thank you. There might be a bug.
We will investigate.

[2019-08-12 21:48] sw005320 commented on #700
This is a very good suggestion. We have some irregular behaviors in such setup. Could you test it ?

[2019-08-13 08:57] #765 closed

[2019-08-13 13:57] #779 closed

[2019-08-13 15:24] ShigekiKarita commented on #1075
I could reproduce this bug in TED-LIUM3. Because I tested multi GPU LM in AN4, I haven't met this problem. I suspect that this issue is related to chainer trainer because I just simply added `torch.nn.DataParallel` in the standard way. So I will create chainer-less `lm_train.py` for checking that.

[2019-08-13 15:47] kan-bayashi commented on #1075
Maybe this is related to following part
https://github.com/espnet/espnet/blob/8fdd8e96b0896d97a63ab74ceb1cbc01c7652778/espnet/lm/pytorch_backend/lm.py#L265-L270

The final loss calculation is conducted on only main gpu.

[2019-08-13 17:52] ShigekiKarita commented on #1075
Hmm, if so, this should be a pytorch bug. Maybe we can create the smallest example to reproduce this memory leak in multi GPUs to submit an issue to pytorch.

[2019-08-13 17:57] #784 closed

[2019-08-14 06:27] ShigekiKarita opened #1082 "Remove RNN specific options in train.yaml for #941"
After #941, many `run.sh` needs to be changed. For example `egs/an4/run.sh` has `--sampling-probability 0.0` in config but it is not acceptable anymore.

[2019-08-14 06:30] #1082 closed

[2019-08-14 06:31] ShigekiKarita commented on #1082
Oop it seems to be my mistake

[2019-08-14 06:38] #1045 closed

[2019-08-14 06:46] Yingzhu-Zhao opened #1084 "KeyError: 'validation/main/loss' in pytorch"
I use librispeech recipe and running train_100 data. However, when it finish training one epoch, there is one KeyError: 'validation/main/loss' error.

Exception in main training loop: 'validation/main/loss'
Traceback (most recent call last):
  File "/home/yingzhu.zhao/expts/espnet0630/tools/venv/lib/python3.6/site-packages/chainer/training/trainer.py", line 318, in run
    if entry.trigger(self):

[2019-08-14 10:11] #1075 closed

[2019-08-14 11:53] ShigekiKarita commented on #1084
How many iterations did you have in one epoch? If it was smaller than 100, decrease report interval by this option
https://github.com/espnet/espnet/blob/f1bb2416de55f14610d291e3c95dde1ec5028d7c/espnet/bin/asr_train.py#L55

[2019-08-14 12:58] Yingzhu-Zhao commented on #1084
one epoch have 3700 iteration

^[[J     total [..................................................]  0.98%
this epoch [################################################..] 97.63%
      3700 iter, 0 epoch / 100 epochs
    7.8019 iters/sec. Estimated time to finish: 13:21:43.525474.
^[[4A^[[J/home/yingzhu.zhao/expts/espnet0630/tools/venv/lib/python3.6/site-packages/sklearn/externals/joblib/ext
ernals/

[2019-08-14 13:00] Yingzhu-Zhao commented on #1084
I use the default e2e_transformer tuning parameters.

[2019-08-14 20:18] potato-inoue opened #1086 "Exception about reduction-factor and guided-attention"
Exception happened when I set `reduction-factor:2` or `reduction-factor:3` with `use-guided-attn-loss: true`.
Also I check the scripts can run in below condition:
- `reduction-factor:1` with `use-guided-attn-loss: true`
- `reduction-factor:2` with `use-guided-attn-loss: false`

Log about the exception is indicated below:
[code]

[2019-08-15 00:06] kan-bayashi commented on #1086
Thank you for your report! I will check it.

[2019-08-15 00:47] kan-bayashi commented on #1086
Fixed in #1087

[2019-08-15 01:00] #1086 closed

[2019-08-15 03:27] Yingzhu-Zhao commented on #1084
Also it has this message:
cloudpickle.py:47: DeprecationWarning: the imp module is deprecated in favour of importlib; see the module's documentation for alternative uses
  import imp

[2019-08-15 04:36] kan-bayashi commented on #1084
I have some questions:
- What is your environment?
   Please show the info via `cd egs/librispeech/asr1 && . ./path.sh && show_result.sh`.
- Is this error happened when you train from scratch? (Didn't you use `--resume` option?)

[2019-08-15 04:40] Yingzhu-Zhao commented on #1084
# RESULTS
## Environments
- date: `Thu Aug 15 12:39:38 CST 2019`
/home/yingzhu.zhao/expts/espnet0630/tools/venv/lib/python3.6/site-packages/chainer/backends/cuda.py:143: UserWarning: cuDNN is not enabled.
Please reinstall CuPy after you install cudnn
(see https://docs-cupy.chainer.org/en/stable/install.html#install-cudnn).
  'cuDNN is not enabled.\n'
- python version: `3.6.8 |Anaconda, Inc.| (defa

[2019-08-15 04:42] kan-bayashi commented on #1084
One more question:
- Did you use multiple gpu in training?

[2019-08-15 04:42] Yingzhu-Zhao commented on #1084
yes use 3 gpu

[2019-08-15 04:44] kan-bayashi commented on #1084
OK.
Then, could you check whether the same error will be occurred with a single gpu?

[2019-08-15 04:44] Yingzhu-Zhao commented on #1084
ok thanks let me see

[2019-08-15 04:46] Fhrozen opened #1088 "Warp-ctc request for cuda_ver in CPU standalone. (Enable Warp-ctc Issues?)"
@jnishi  from the update (@ysk24ok) to warp-ctc, it request for cuda version even when there is a CPU-only pc.

The output is:
[code]
https://github.com/espnet/warp-ctc/blob/4209ce47774b54f6e72a9be99c98bdd7d4843a78/pytorch_binding/setup.py#L65-L66

It will be better to set to:
[code]
or similar

* BTW, I am not sure if it is possible to enable issues in espnet/warp-ctc.

[2019-08-15 05:03] #787 closed

[2019-08-15 05:03] #748 closed

[2019-08-15 05:05] kan-bayashi commented on #1084
I checked the behavior with transformer + 3 gpus in an4 recipe, but I cannot reproduce your error.

[2019-08-15 05:48] Yingzhu-Zhao commented on #1084
when I first time run it, it does not have this error, then I added stochastic resnet in encoder_layer and it has this error, but when I revert it back, the error persists

[2019-08-15 05:55] kan-bayashi commented on #1084
I'm not sure your code is correctly reverted.
Make sure report function is correctly working.
https://github.com/espnet/espnet/blob/7e4fa82740f484006a0bf0c5c81dc5d3c8acf923/espnet/nets/pytorch_backend/e2e_asr_transformer.py#L224
And evaluator is correctly set.
https://github.com/espnet/espnet/blob/7e4fa82740f484006a0bf0c5c81dc5d3c8acf923/espnet/asr/pytorch_backend/asr.py#L465

[2019-08-15 06:43] robothubtokyo opened #1089 "How to recognize OOV's neighbors?"
We are trying CSJ recipe and got good results.
When there is an OOV in the sentence, however, some of the OOV's neighbor words cannot be recognized too.
What can we do to recognize such words?

[2019-08-15 08:48] ShigekiKarita opened #1091 "chainer is not working with `--ngpu 0`"
In my environment `master`, `egs/mini_an4/run.sh --ngpu 0 --backend chainer` is not working now. I attached train.log
[train.log](https://github.com/espnet/espnet/files/3504860/train.log)

[2019-08-15 11:36] Fhrozen opened #1093 "V.6.0.0 asr_train with transformer raise error"
Given that the argument `atype` was moved to e2e_asr.py, the asr.py will raise error in chainer backend when the config is set to train the transformer.

[code]

not sure if it is required to remove:

[code]
or not move to another part. Let me know to submit a PR

[2019-08-15 11:45] zqs01 opened #1094 "question:when I use Transformer model for ASR, how to set the beamsearch size?"
When I use Transformer model for ASR without language model, I set the "beam-size:1" in the "decode.yaml" and the result is very good, but when I adjust the "beam-size:10", the result is so bad. Why does this happen? Is the beam size not normally set to 10?

[2019-08-15 11:46] sw005320 commented on #1088
Done.

[2019-08-15 11:50] Fhrozen commented on #1088
Moved to warp-ctc issues.

[2019-08-15 11:50] #1088 closed

[2019-08-15 11:52] kan-bayashi commented on #1093
It seems that following lines are duplicated.
https://github.com/espnet/espnet/blob/8c810b713b0b47b94e8bf4faed33d5d7eb1e5a42/espnet/asr/chainer_backend/asr.py#L80-L82
https://github.com/espnet/espnet/blob/8c810b713b0b47b94e8bf4faed33d5d7eb1e5a42/espnet/nets/chainer_backend/rnn/attentions.py#L248-L258

We should remove first one.
BTW, in the latter one, we should use `raise NotImplementedError` ins

[2019-08-15 11:53] kan-bayashi commented on #1093
Also, this error will be also caused in master.

[2019-08-15 11:57] sw005320 commented on #1091
@Fhrozen, can you follow up it?
We may need to have an integration test (https://github.com/espnet/espnet/blob/master/ci/test_integration.sh) for chainer.

[2019-08-15 11:58] Fhrozen commented on #1091
Ok, I will check it . Not sure why is using cupy.ndarray.

[2019-08-15 12:12] sw005320 commented on #1094
Can you report the errors in more details (insertion, deletion, and substitution errors)?

[2019-08-15 12:18] sw005320 commented on #1089
Since the encoder-decoder model has never seen the OOV in a sentence, this OOV may break the context as well, but not sure.

This is a difficult issue and there are a lot of studies.
The most straightforward way is to add data that includes OOV.

[2019-08-15 12:46] #1093 closed

[2019-08-16 06:42] dsa934 opened #1100 "Question : Stage 3 LM preparation too slow"
Currently I am using gtx1660ti (single gpu)

I am running the librispeech recipe,
but after 4096 minutes it does not proceed to the next step(stage 4).

What should I do?

The run.sh file says that for a single gpu, change the accum_grad and batch-bin.
Is there an exact figure?

[2019-08-16 13:59] #1091 closed

[2019-08-16 16:23] #744 closed

[2019-08-16 19:36] sw005320 commented on #1100
Can you tell me more exactly what happened?

It depends on the batch size, but in my experiment, `accum-grad: 8` gave us reasonable performance with a single GPU.

[2019-08-17 00:30] dsa934 commented on #1100
Computer Spec : ubuntu 18.04LTS, GTX 1660ti ( single GPU), 64GB RAM, i7-9700k @ 3.6GHz(CPU)

When I first ran espnet / egs / librispeech / asr1 / run.sh, I got a cuda out of memory error.
so I changed ngpu in run.sh file from 4 to 1 and ran run.sh again.
then Stage 0 ~ 2 went without problems.

However,
the Stage_3 (LM preparation) phase has not progressed to the next stage, Stage_4, for 4 days.
I

[2019-08-17 09:32] Yingzhu-Zhao commented on #1084
Thanks I find I miss the evaluator.

[2019-08-17 09:32] #1084 closed

[2019-08-17 13:23] Fhrozen commented on #1100
You may reference to #572 for librispeech trainin in single gpu. The specs of the card where GTX 1080 Ti for 3.5 days. Now, you can check some specs on both cards like [here](https://www.gpucheck.com/compare/nvidia-geforce-gtx-1080-ti-vs-nvidia-geforce-gtx-1660-ti/intel-core-i7-7700k-4-20ghz-vs-intel-core-i7-8700k-3-70ghz/).

The GTX 1660 ti  is a Turing processor with better clock speeds that the

[2019-08-17 19:36] sw005320 commented on #1100
We changed the LM config from #527 setup. Now, we used very large LSTMLM as default, and it took a very long time now (more than a week).

@dsa934, it depends on your purpose, but if you just want to get some reasonable performance, you can just use the old language model (https://github.com/espnet/espnet/blob/master/egs/librispeech/asr1/conf/tuning/lm.yaml). It would take a few days.

We also now

[2019-08-17 20:45] dsa934 commented on #1100
Thank you for reply.

In summary, if I use LargeLM with my computer, it will take a week or more in Stage_3 only.
and it takes longer to proceed with the whole recipe?

So you told me that I had to use the old LM model to run the recipe faster.
all I have to do is modify run.sh code?
( e.g  lm_config = conf/lm.yaml  -> lm_config=conf/tuning/lm.yaml )

And if this recipe works in the future, can I

[2019-08-18 16:57] #786 closed

[2019-08-18 20:42] sw005320 commented on #1100
and it takes longer to proceed with the whole recipe?

Yes.

all I have to do is modify run.sh code?
( e.g lm_config = conf/lm.yaml -> lm_config=conf/tuning/lm.yaml )

Correct.

It depends on how you customize your model, but it should be.

[2019-08-19 10:48] dsa934 commented on #1100
Sorry, There is one more question.
I ran run.sh using the old LM. ( e.g lm_config = conf/lm.yaml -> lm_config=conf/tuning/lm.yaml )
and then

( In stage 3)
processed 40560000 lines
processed 40570000 lines
...
processed 40690000 lines
skipped 1 empty lines
filtered 0 lines
skipped 0 empty lines
filtered 0 lines

After this message, the process is in progress without a message.
Is it normal to take

[2019-08-19 12:41] sw005320 commented on #1100
Which part?
`spm_encode`?

[2019-08-19 13:04] dsa934 commented on #1100
![process](https://user-images.githubusercontent.com/32314968/63267006-1f8d9480-c2cc-11e9-8c96-f3394b2f9ab6.jpg)

here.
If the above state is maintained without any message,
all I have to do is just wait?

[2019-08-20 20:52] #1100 closed

[2019-08-20 21:43] Peidong-Wang opened #1114 "chime5 e2e model trained with beamformed data"
The chime5 folder only contains the results of the e2e model trained using the recordings of worn microphones.

I took a look at  espnet/milestones and did not find a plan in v0.5.2 or v0.6.0 for chime5 e2e model trained on beamformed data, which should be straightforward.

What is the reason of the missing result using beamformed training data? I just started digging into chime5 data so forgive m

[2019-08-21 02:38] Marcovaldong opened #1115 "A question about the implementation of RNNP?"
@takenori-y @sw005320 @ShigekiKarita I noticed that you have implemented the rnn with projection layer. However, I found that you just added a linear layer after the lstm/gru layer, which is different with the idea of lstmp in [the original paper](https://static.googleusercontent.com/media/research.google.com/zh-CN//pubs/archive/43905.pdf).

In original paper, lstmp layer will reduces the number o

[2019-08-21 02:42] sw005320 commented on #1115
The original paper's way cannot be easily implemented in the cudnn interface. We could implement it by ourselves but it's very slow compared with the current one based on cudnn.

[2019-08-21 02:48] sw005320 opened #1116 "missing test_set_iwslt2019.en directory in how2"
@hirofumi0810, `how2/asr1/run.sh` is failed due to the missing test_set_iwslt2019.en directory, e.g.,
[code]
Could you fix it?

[2019-08-21 02:50] hirofumi0810 commented on #1116
Is test_set_iwslt2019 installed in `data/local/`?

[2019-08-21 02:56] sw005320 commented on #1116
I think so. I found data/test_set_iwslt2019 but not data/test_set_iwslt2019.en

[2019-08-21 02:57] sw005320 commented on #1116
Is it ok to use test_set_iwslt2019 instead of test_set_iwslt2019.en?

[2019-08-21 03:09] Marcovaldong commented on #1115
@sw005320  emm, is there an improvement by using your rnnp?

[2019-08-21 03:49] Magic-Bubble opened #1118 "Why transformer on librispeech need 100 epochs？"
I run the transformer model on LibriSpeech, but it need 100 epochs. Is it possible to achieve the same effect in fewer epochs? I see BiLSTM with just 10 epochs.

[2019-08-21 03:53] ShigekiKarita commented on #1115
For training speed, I think without P is faster because it is pure CUDA fused layers by cudnn.

[2019-08-21 05:33] Marcovaldong commented on #1115
@ShigekiKarita enen, the focus of my current job is to improve the performance, so I want to know the implementation of lstmp and its performance. I'm looking for other structures which can achieve lower cer.

[2019-08-21 05:37] #755 closed

[2019-08-21 07:22] ShigekiKarita commented on #1115
Try Transformer. We rewrote many `egs/*/asr1/conf/train.yaml` for Transformer.

[2019-08-21 12:39] ShigekiKarita commented on #1118
It seems to depends on dataset size and regularization. When we did not use SpecAugment in LibriSpeech, it did not improve after 70 epochs. However, when we use it, it improved its accuracy even after 100 epochs.

[2019-08-21 12:41] kan-bayashi commented on #1118
And the required time of Transformer per epoch is much shorter than BiLSTM.

[2019-08-21 12:44] ShigekiKarita commented on #1094
Did you use Transformer with CTC? Without CTC and LM, I met a similar problem. You can check what hyps are inside beam, by `./run.sh --stage 5 --verbose 2 ...`. Sometimes, the large beam gets very wired hyps when it was large. I also found the beam size = 2 .. 4 might be ok at that time.

[2019-08-21 13:22] sw005320 commented on #1114
Hi @Peidong-Wang, thanks for pointing out the issue. We actually tried several data augmentation, but we still cannot get good improvement, although we did not try to include the beamformed data that you suggested. This would help to improve the performance to some extent I believe, but we may have some more fundamental issues for the CHiME-5 data.

[2019-08-21 13:46] Peidong-Wang commented on #1114
I see. Thanks for your reply.

[2019-08-21 14:11] #1116 closed

[2019-08-21 15:09] Peidong-Wang commented on #1114
I saw from DIHARD 2 website that chime6 data is being prepared. Will it solve the problems in chime5?

[2019-08-21 15:10] sw005320 commented on #1114
I don't think so. We would not change the training data basically.

[2019-08-21 15:14] Peidong-Wang commented on #1114
OK. Thanks.

[2019-08-21 15:14] #1114 closed

[2019-08-22 02:26] Magic-Bubble commented on #1118
OK. Have you tried decrease accum_grad to 1? It seems the number of optimizer steps within each epoch are small, maybe it leads to the large epochs?

[2019-08-22 02:31] kan-bayashi commented on #1118
Transformer requires a large batchsize to achieve good performance.
So if you use accum_grad=1, it causes serious performance degradation.

[2019-08-22 04:53] bobchennan commented on #404
same problem still. Considering re-write IO part with pytorch dataloader.

[2019-08-22 06:53] robothubtokyo opened #1121 "Cannot set ngpu=1 to recog_wav.sh"
We could run "run.sh --ngpu 1" and "recog_wav.sh --ngpu 0", but cannot run "recog_wav.sh --ngpu 1". How can we do?
Here is the log.
Thank you.

[code]

[2019-08-22 12:07] sw005320 commented on #1121
We don't support the GPU decoding for the transformer model for now. If you want to run it with a GPU, please use the RNN model.
@ShigekiKarita, can you add some error handling for this?

[2019-08-22 12:09] ShigekiKarita commented on #1121
Actually you can use GPU non-batch decoding with arbitrary pytorch models
with "--api v2" option.

2019年8月22日(木) 21:07 Shinji Watanabe <notifications@github.com>:

[2019-08-22 12:11] sw005320 commented on #1121
Oh yes! Then, it's further better if you have error handlings to use `--api v2` in the above case.

[2019-08-22 13:26] #814 closed

[2019-08-22 15:54] robothubtokyo commented on #1121
Thank you.
We added --api v2 at line.216 in recognizer_wav.sh, and got another error.
Here is the log.

`
\# asr_recog.py --config conf/decode.yaml --ngpu 1 --backend pytorch --debugmode 1 --verbose 1 --recog-json decode/2019-08-22T154318.292Z/dump/data.json --result-label decode/2019-08-22T154318.292Z/result.json --model exp/train_nodup_sp_pytorch_train/results/model.acc.best --api v2 --rnnlm exp

[2019-08-22 18:08] sw005320 commented on #404
@jnishi, could you take a look at it again?

[2019-08-22 20:56] Peidong-Wang opened #1123 "environmental variables for warp-transducer during installation"
I encountered an error mentioned in [https://github.com/HawkAaron/warp-transducer/issues/15](https://github.com/HawkAaron/warp-transducer/issues/15) during installation (Ubuntu 16.04, Cuda 10.0) and solved it by adding the following environmental variables to my bash profile (after the variables for espnet):

export CUDA_TOOLKIT_ROOT_DIR=$CUDA_HOME
export LD_LIBRARY_PATH="$CUDA_HOME/extras/CUPTI/l

[2019-08-22 23:30] sw005320 commented on #1123
Thanks.
I actually found that we only need to add
[code]
to https://github.com/espnet/espnet#step-1-setting-of-the-environment-for-gpu-support
I'll modify the description.

[2019-08-23 01:00] zqs01 commented on #1094
@ShigekiKarita I only used Transformer. The same problem with you. I will try the method you said. Thank you!

[2019-08-23 01:00] #1094 closed

[2019-08-23 03:13] #1123 closed

[2019-08-23 05:04] Magic-Bubble commented on #1118
That's true. I have tried accum_grad=1, it speed up convergence in the first epoch, but diverged after that. Thank you very much!

[2019-08-23 05:51] #1118 closed

[2019-08-23 07:19] kan-bayashi commented on #1121
Maybe fixed in #1127
Could you try the latest master?

[2019-08-23 16:30] kan-bayashi opened #1131 "Apex raise TypeError"
I met following error when running transformer multi-gpu training.

[code]

[code]

[2019-08-23 16:39] ShigekiKarita commented on #1131
Because NoamOptimizer is not derived from torch.optim.Optimizer, it failed type check. Maybe we should reimplement the noam as a lr scheduler for Adam optimizer or revisit #943.

[2019-08-23 16:43] ShigekiKarita commented on #1131
https://github.com/NVIDIA/apex/blob/880ab925bce9f817a93988b021e12db5f67f7787/apex/amp/_initialize.py#L155-L164

[2019-08-23 16:46] ShigekiKarita commented on #1131
Or simply, we can pass the adam inside noam `self.base` to apex.

[2019-08-23 17:13] kan-bayashi commented on #1131
Is it OK (I’m wandering because `initialize` returns optimizer)?
https://github.com/espnet/espnet/blob/f9e8f676be21d530b473384fb8c45afb17396be4/espnet/asr/pytorch_backend/asr.py#L425

[2019-08-23 17:32] kan-bayashi commented on #1131
Ah maybe I understand your point.
We can re-copy returned optimizer inside the Noam instance, right?

[2019-08-24 01:28] bobchennan opened #1132 "spm_train"
same problem as https://github.com/pytorch/fairseq/pull/972 for must_c

[2019-08-24 01:32] sw005320 commented on #1132
Thanks, @bobchennan for your report.
@ShigekiKarita, can you fix it?

[2019-08-24 02:31] robothubtokyo commented on #1121
Thank you.
We tried again and got another error.
Here is the log.
`\# asr_recog.py --api v2 --config conf/decode.yaml --ngpu 1 --backend pytorch --debugmode 1 --verbose 1 --recog-json decode/2019-08-24T020209.684Z/dump/data.json --result-label decode/2019-08-24T020209.684Z/result.json --model exp/train_nodup_sp_pytorch_train/results/model.acc.best --rnnlm exp/train_rnnlm_pytorch_lm/rnnlm.model.bes

[2019-08-24 02:36] ShigekiKarita commented on #1132
cc @hirofumi0810 do you think this change is reasonable?

[2019-08-24 02:39] ShigekiKarita commented on #1131
Yes. I think the patch like this can fix the problem
[code]
Noam is just calling its optimizer. So if calling `optimizer.step()` in trainer is valid, from noam is also valid.
https://github.com/espnet/espnet/blob/0063dc373029e94518d4e0ca58528e3fb32f4b74/espnet/nets/pytorch_backend/transformer/optimizer.py#L26

[2019-08-24 03:16] kan-bayashi commented on #1121
I believe fixed in #1133.

[2019-08-24 03:43] kan-bayashi commented on #1131
I found that we also need to change here, then it works!
https://github.com/espnet/espnet/blob/0063dc373029e94518d4e0ca58528e3fb32f4b74/espnet/asr/pytorch_backend/asr.py#L188

[2019-08-24 03:51] kan-bayashi commented on #1131
I will make PR.

[2019-08-24 03:52] robothubtokyo commented on #1121
We confirmed that it works normally.
Thank you!

[2019-08-24 03:53] #1121 closed

[2019-08-24 04:33] #1131 closed

[2019-08-24 04:38] hirofumi0810 commented on #1132
@ShigekiKarita This is fine.

[2019-08-24 04:40] ShigekiKarita commented on #1132
Can we remove your `.replace("\'", ""))`?
https://github.com/espnet/espnet/blob/9f51838d174ef159254f61dd5d7a466e70f84cc2/utils/spm_train#L17

[2019-08-24 04:41] hirofumi0810 commented on #1132
@ShigekiKarita Yes. We can follow fairseq in exactly the same way.

[2019-08-24 04:42] #777 closed

[2019-08-24 04:54] ShigekiKarita commented on #1132
Thanks. I will send PR soon.

[2019-08-24 06:46] #1132 closed

[2019-08-24 10:33] robothubtokyo opened #1136 "Faster recognizing"
We tested recog_wav.sh with GPU, and confirmed that GPU can decode faster than CPU.
Are there any ways to accelerate recognizing when we use GPU ?

[2019-08-24 13:24] kan-bayashi commented on #404
I met the same problem.
`MultiProcessIterator` is a buggy, I agree with @bobchennan.

[2019-08-24 13:33] kan-bayashi commented on #1136
I listed up general tips to make decoding faster:
- Use small beam size (of course this is the trade off with the performance)
- Make model smaller (of course this is the trade off with the performance)
- Use subword units to reduce the length outputs
- Use FP16 decoding (available with `--dtype float16` and `--api v2`)

[2019-08-24 16:02] ShigekiKarita commented on #1136
And also `ctc_weight=0.0` (and `lm_weight=0.0`) also speeds up because ctc/lm decoding is slow, while it degrades accuracy.

[2019-08-25 00:23] robothubtokyo commented on #1136
Thank you.
We tested

and got an error.
The log is here.
`\# asr_recog.py --config conf/decode.yaml --ngpu 1 --backend pytorch --debugmode 1 --verbose 1 --recog-json decode/2019-08-25T001300.407Z/dump/data.json --result-label decode/2019-08-25T001300.407Z/result.json --model exp/train_nodup_sp_pytorch_train/results/model.acc.best --api v2 --dtype float16 --rnnlm exp/train_rnnlm_pytorch_lm/rnnlm.mo

[2019-08-26 15:44] Peidong-Wang opened #1144 "RNN-transducer on an4 corpus"
I saw a RNN-transducer config in the voxforge folder [https://github.com/espnet/espnet/tree/master/egs/voxforge/asr1/conf/tuning](https://github.com/espnet/espnet/tree/master/egs/voxforge/asr1/conf/tuning) and tried it on an4. The results are bad (~86% error rate).

Is RNN-transducer working on voxforge, or is it still under development?

[2019-08-26 15:55] b-flo commented on #1144
Hi,

It is still under development however performances should not be so bad. As example I just reported results on voxforge for training from scratch and with pre-init : https://github.com/espnet/espnet/pull/1103#issuecomment-524901199

Which config did you use?

[2019-08-26 18:09] ShigekiKarita commented on #1136
I suspect that this kind of IndexError was caused by nan input in torch.topk.  And fp16 is easily caused nan by overflow. I wonder if apex.amp could be used in decoding (we currently use it only in training).

[2019-08-26 19:39] b-flo commented on #1144
When did you update your espnet and how did you train (cpu, gpu)? Also, I changed some things in #1129 as I had some degradations with LSTMCell.

[2019-08-26 19:46] b-flo commented on #1144
I attached the conf I used in edit 2. Could you try it? (rename to .yaml, it's not supported by github)
[train_transducer.txt](https://github.com/espnet/espnet/files/3542663/train_transducer.txt)
[decode_transducer.txt](https://github.com/espnet/espnet/files/3542665/decode_transducer.txt)

[2019-08-26 22:00] b-flo commented on #1144
Hum, I recommend updating your espnet please. If you don't have 8.7% CER on test with the configs I sent, I would be glad to have the logs! I trained on two different servers with one gpu and ended-up with the same score.
Thank you :)

[2019-08-26 22:31] b-flo commented on #1144
The configs I sent are for an4. I just reinstalled espnet on a new server and I end up with the same CER. Hum.

[2019-08-26 23:05] b-flo commented on #1144
Yes I have 8.7% CER on the an4 with the configs file I sent and by setting `recog_opts=""` in decoding stage!

[2019-08-26 23:23] b-flo commented on #1144
Ok great, thanks! You had the previous implementation, there was a problem in vanilla transducer I have to investigate.

[2019-08-26 23:35] #1144 closed, assigned to nobody

[2019-08-27 21:44] potato-inoue opened #1149 "Where is dict file of librispeech-asr1 demo?"
I want the dict file of librispeech-asr1 demo to compare one of libritts-tts1 demo. (https://github.com/espnet/espnet/blob/master/egs/librispeech/asr1/RESULTS.md#pytorch-large-transformer-with-specaug-4-gpus--large-lm)
The dict is not included in model files.
Can I generate the same dict by using egs/librispeech/asr1/run.sh ?

[2019-08-28 06:54] kan-bayashi commented on #1149
You can find it in `model.json`.
It is saved as `char_list`.

[2019-08-28 17:42] potato-inoue commented on #1149
I found it. Thanks.

I don't understand what the token `"笆 ~~~" ` indicates.
Is there reference for understanding this token?

[code]

[2019-08-28 21:56] potato-inoue commented on #1149
I solved this problem.
"笆、BANDON"  is garbled text by editor.
"▁BANDON" is correct text and indicates word.

[2019-08-28 21:56] #1149 closed

[2019-08-28 23:03] dtkettler opened #1150 "Error training on Fisher/Switchboard data"
I'm trying to run the fisher_swbd recipe.  I have all the data, set the paths appropriately, and the recipe successfully makes it through the Data preparation and Feature Generation phases so something should be right.  But then this happens:

[code]

Clearly there is something wrong with the formatting of the eval2000 data but the actual error is a bit inscrutable to me.  I tried looking at data/

[2019-08-28 23:07] qmpzzpmq commented on #942
sound reasonable

[2019-08-29 01:54] kan-bayashi commented on #1150
Could you try to use `--allow-one-column` option?
https://github.com/espnet/espnet/blob/3f67cab64690806b6db8d46c32b2ddac8cc93479/egs/swbd/asr1/run.sh#L172-L173

[2019-08-29 02:21] #528 closed

[2019-08-29 06:32] dkettlerveritone commented on #1150
Thanks, I added that and it seemed to help.  Made it to stage 3 but it's still working away so I'll have to wait to see if any more problems pop up.

[2019-08-29 12:03] surajdurgesht opened #1151 "Error while installing..."
if . venv/bin/activate && python -c 'import torch as t;assert t.__version__[0] == "1"' &> /dev/null; then \
        . venv/bin/activate && python -c "from distutils.version import LooseVersion as V;assert V('7') >= V('5.0'), 'Requires gcc>=5.0'"; \
fi
. venv/bin/activate; cd warp-transducer && mkdir build && cd build && cmake .. && make; true
mkdir: cannot create directory ‘build’: File exists
. v

[2019-08-29 14:09] b-flo commented on #1151
Hum, interesting. Could you do the following in `tools` dir please:
`rm -rf warp-transducer warp-transducer.done; make`

[2019-08-30 01:51] ShigekiKarita opened #1154 "index is missing in doc"
see "Indices and tables" https://espnet.github.io/espnet/

[2019-08-30 01:57] ShigekiKarita commented on #1154
maybe https://github.com/espnet/espnet/blob/master/doc/module2rst.py is not working?

[2019-08-30 03:48] surajdurgesht commented on #1151
after doing....

cc1plus: warning: command line option ‘-Wstrict-prototypes’ is valid for C/ObjC but not for C++
cc1plus: error: /home/iiit-dharwad/anaconda3/etc/profile.d/conda.sh/include: Not a directory
error: command 'gcc' failed with exit status 1
make: *** [Makefile:87: warp-ctc.done] Error 1

[2019-08-30 06:02] Geish opened #1156 "Beam Search limits nbest_hyps to beam size instead of just sorting"
https://github.com/espnet/espnet/blob/3f67cab64690806b6db8d46c32b2ddac8cc93479/espnet/nets/beam_search.py#L313

`top_beam_hyps` limits the input's size to `self.beam_size`, which is incorrect when `self.beam_size` is less than `args.nbest` — I suggest the following fix:

[code]
The above also fixes the problem with infinite recursion when `minlenratio` is < 0.1

[2019-08-30 06:02] b-flo commented on #1151
How did you `make` at the beginning? With `-j` option? If so, you can try #1153 it may be related.
It could explain why the first error seems to indicate a race condition situation (`mkdir: cannot create directory ‘build’: File exists` whereas it shouldn't exist before `mkdir build` is called) and why you fails on a previous target (`ẁarp-ctc`) while make should have restarted from `warp-tranducer

[2019-08-30 08:28] qmpzzpmq commented on #1150
how is going with it at stage 3?

[2019-08-30 09:28] #1154 closed

[2019-08-30 14:29] #820 closed

[2019-08-30 23:49] sw005320 commented on #1150
I strongly recommend you to also check `swbd/asr1/run.sh`. We recently revisited this recipe and got some reasonable performance compared with other studies.

[2019-08-31 04:00] dkettlerveritone commented on #1150
Made it to stage 4 but I got an error there which seemed to be GPU memory related (running this on 2080 Tis).  Tried running it again with a smaller batch size and it seems to be OK now.  It's still going of course but I've finished the first epoch at least so it's should be fine.

What's different in that recipe exactly?  Looks like it's just using Switchboard data but not Fisher.

[2019-08-31 08:59] surajdurgesht commented on #1151
I am getting error this now..............

2 errors detected in the compilation of "/tmp/tmpxft_0000410d_00000000-14_reduce.compute_75.cpp1.ii".
CMake Error at warprnnt_generated_reduce.cu.o.cmake:279 (message):
  Error generating file
  /home/iiit-dharwad/Documents/espnet-master/espnet-master/tools/warp-transducer/build/CMakeFiles/warprnnt.dir/src/./warprnnt_generated_reduce.cu.o

make[3]: *** [C

[2019-08-31 09:00] surajdurgesht commented on #1151
make -j 10

[2019-08-31 09:15] sw005320 commented on #1150
As far as I know, yes.

[2019-08-31 10:16] b-flo commented on #1151
Could you try one time without `-j` please? I think it's related to the issue I linked but I want to be sure the problem is not elsewhere, your logs could indicate multiple problems/causes (gcc, parallelization, path, etc).
Also, make sure you correctly set up your env as specified in [README](https://github.com/espnet/espnet/blob/master/README.md) and requirements are met. Thanks!

[2019-08-31 11:37] fanlu opened #1161 "tensorboard summary values are different with the value of console log"
<img width="1674" alt="image" src="https://user-images.githubusercontent.com/1620875/64063369-30bc9680-cc26-11e9-8302-4d9216e58534.png">
<img width="1497" alt="image" src="https://user-images.githubusercontent.com/1620875/64063381-492cb100-cc26-11e9-8490-0674c064c2d2.png">
such as the value of main/acc at iter 1101 is 0.03810,but the value of console log is 0.0235669.
and all values (main/loss   m

[2019-08-31 11:44] surajdurgesht commented on #1151
same error.

[2019-08-31 12:52] Rpersie opened #1163 "Some questions about chime4 asr1_multich baseline?"
Recently, I revisit the multichannel e2e experiments in chime4. I find the baseline system is trained with the multinoisy and si284(WSJ) data. The test noisy data is processed by beamforming.
But in some paper eg."THE MERL/SRI SYSTEM FOR THE 3RD CHIME CHALLENGE USING BEAMFORMING,ROBUST FEATURE EXTRACTION, AND ADVANCED SPEECH RECOGNITION" , retraining with the beamformed data is useful. So if this

[2019-08-31 13:16] b-flo commented on #1151
OK. Can you send the log file please? I'll try to pinpoint the problem. Also, it seems you've no CUDA version found, could give some details on your env/setup please?

[2019-08-31 13:27] #444 closed

[2019-08-31 13:28] ShigekiKarita opened #1164 "Development plan in v.0.6.0"
feel free to edit this and request new things
- [x] speech translation and ASR multi task learning #1139
- [ ] unify the beam search interface based on batch processing
  - [ ] batch processing for LM scoring in beam search
- [ ] transformer fast inference
- [ ] fix multiple GPU issues (distributed #688, non chainer trainer, data loader)
- [ ] use of transformer LM
- [ ] LMInterface in Chainer #11

[2019-08-31 13:33] kan-bayashi commented on #1156
Fixed in #1157

[2019-08-31 13:33] #1156 closed

[2019-08-31 13:48] surajdurgesht commented on #1151
bash: export: `=/home/iiit_admin/anaconda3/envs/sanjeet/lib/python2.7/site-packages:/home/iiit_admin/anaconda3/bin:/home/iiit_admin/anaconda3/bin:/home/iiit_admin/anaconda3/condabin:/home/iiit_admin/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin': not a valid identifier
(base) iiit_admin@gpu-sys-5038a-i:~/espnet$ conda activate espnet

[2019-08-31 14:00] b-flo commented on #1151
Can you edit your message to attach the logfile please? You can drag and drop a file in your github message.  It's a bit hard to follow the conversation like this.

[2019-08-31 14:03] kan-bayashi commented on #1151
In my case, I could not successfully make warp-trunsducer with CUDA 10.1.
I recommend to use CUDA 10.0.

[2019-08-31 14:07] kan-bayashi commented on #1151
Also, Pytorch has not yet support CUDA 10.1.
Therefore, it is better to avoid the use of CUDA 10.0.

[2019-08-31 14:16] b-flo commented on #1151
Thank you very much for the information @kan-bayashi! It may be related, could you try @surajdurgesht?

There are different build logs and intermediate commands in what you sent so it's a bit difficult to pinpoint, but some things confuse me at first glance:
- `bash: export:...: not a valid identifier` (path starts with "="?)
- `. venv/bin/activate; cd warp-transducer && mkdir build && cd build &&

[2019-08-31 14:24] ShigekiKarita commented on #1161
how about validation?

[2019-08-31 16:02] fanlu commented on #1161
the validation value of this two log is the same.

[2019-08-31 16:07] ShigekiKarita commented on #1161
Can you also check exp/*/results/log? Which one is same to the file?

I suspect that tb might report values at iter while the console logger
reports avg values in training.

In validation, we manually trigger tb summary writer after epoch.

2019年9月1日(日) 1:02 fanlu <notifications@github.com>:

[2019-08-31 16:30] fanlu commented on #1161
exp/train_sp_pytorch_spec3_bs128_niter4/train.log is same to exp/train_sp_pytorch_spec3_bs128_niter4/results/log.
What do you mean? Does console log report the avg value of last 100 iter per report iteration?

[2019-09-01 19:44] fotwo commented on #1144
@b-flo , I worked on voxforge 'it' corpus as [this merge](https://github.com/espnet/espnet/pull/1129#issue-310426756) mentioned.
I used the standard data preparation scripts, while the number of sentences in 'dt_it' is only 639, and the CER is much worse than the reported ['16.1%'](https://github.com/espnet/espnet/pull/1129#issue-310426756) via using configuration [file](egs/voxforge/asr1/conf/tun

[2019-09-01 19:58] b-flo commented on #1144
Hi!

Why do you have a lower number of sentences/characters? It should be :  `1082 79133`. I can't really say nor compare if I don't know which sentences where removed.

[2019-09-01 20:45] sw005320 commented on #1163
I'm a coauthor of this paper but I usually don't include the beamformed data because

1. this does not always improve the performance or this only has marginal performance.
2. we may need to re-train the model every time when we change the front-end.

You're right that it is not completely fair comparisons, but I think this is OK by considering the above fact.

[2019-09-02 00:23] bobchennan commented on #891
same problem for #1138

[2019-09-02 02:19] Rpersie commented on #1163
Thank you!

[2019-09-02 02:20] #1163 closed

[2019-09-02 02:31] ShigekiKarita commented on #891
It is now fixing at #1145

[2019-09-02 03:17] dsa934 opened #1167 "Question : batch-bin"
Sorry if it's a very basic question.

I am a newbie experimenting with the librispeech recipe on a single gpu (GTX 1660ti).

when I use librispeech recipe with espnet / egs / librispeech / asr1 / conf / tuning / train_pytorch_transformer_lr5.0_ag8.v2.yaml, I get a cuda out of memory issue.
So I arbitrarily modified the batch-bin of that file (e.g 5,992,000-> 3,000,000),
This solved the problem.

H

[2019-09-02 03:25] kan-bayashi commented on #1167
See https://github.com/espnet/espnet#how-to-set-minibatch to understand the difference.
And `ahead` is the number of heads in multihead attention.
if set `accum_grad=2`, the network is updated once per two forward propagation.
So `accum_grad=2` and `batch-size=32` is theoretically equal to `accum_grad=1` and `batch-size=64`.
This is useful to train network using a large batchsize with a single gpu

[2019-09-02 05:37] fotwo commented on #1144
@b-flo ,I find a large number of errors in `make_trans.log`, like:
[code]
the characters like `à` seems that cannot be tackled.

[2019-09-02 05:54] dsa934 commented on #1167
awesome thanks.

you mean batch-bin = ( batch_size *  ( mean(ilen) * idim + mean(olen) * odim )  )

if
![image](https://user-images.githubusercontent.com/32314968/64092618-8319c680-cd90-11e9-8857-860182d79d01.png)  then

![image](https://user-images.githubusercontent.com/32314968/64092697-cc6a1600-cd90-11e9-9b7e-362b6255b8e7.png)

is it right ?

[2019-09-02 05:59] kan-bayashi commented on #1167
That’s right.

[2019-09-02 06:40] b-flo commented on #1144
It sounds like an encoding problem.
The only things I touched is config files and run script. I'll check

[2019-09-02 07:23] dsa934 commented on #1167
Thanks a lot.

i love ESPnet

[2019-09-02 07:23] #1167 closed

[2019-09-02 19:29] mfch101 opened #1171 "unexpected keyword argument 'reduce'. when run to stage=4, asr_train.py, warp_ctc.CTCLoss(size_average=True, reduce=reduce)"
![image](https://user-images.githubusercontent.com/12197118/64131378-bf820c80-cdfa-11e9-9a21-573924a59f63.png)

self.ctc_loss = warp_ctc.CTCLoss(size_average=True, reduce=reduce)
 27 TypeError: __init__() got an unexpected keyword argument 'reduce'

[2019-09-02 22:30] #697 closed

[2019-09-03 04:16] EddieWang0317 opened #1172 "How to get phoneme's time information?"
Hello
I am working on a project trying to get the phone alignment information after CTC decoding. I have no idea of how to start.
Can someone give me a hint about it?
THX

[2019-09-03 05:46] Marcovaldong commented on #1115
I implemented [the lstmp](https://github.com/Marcovaldong/lstmp.pytorch) last week, and I got a better performance using it.

I'll try transformer.

[2019-09-03 06:52] surajdurgesht commented on #1151
Thanks you so much!
Yes i did..then...

cc1plus: warning: command line option ‘-Wstrict-prototypes’ is valid for C/ObjC but not for C++
src/binding.cpp:6:10: fatal error: torch/extension.h: No such file or directory
 #include <torch/extension.h>
          ^~~~~~~~~~~~~~~~~~~
compilation terminated.
error: command 'gcc' failed with exit status 1
make: *** [Makefile:87: warp-ctc.done] Error 1

[2019-09-03 07:03] surajdurgesht commented on #1151
Thank you!
Can you send me log file of installation? i am getting lot many errors..

[2019-09-03 08:16] kan-bayashi commented on #1151
Please make sure you followed README instruction.

[code]

[2019-09-03 11:00] surajdurgesht commented on #1151
I am doing in anaconda environment. Is this causing issue while installing?

[2019-09-03 11:41] surajdurgesht commented on #1151
while installing, i got this...

[2019-09-03 12:05] sw005320 commented on #1115
Sounds very cool.
How about the speed? (We may get some speed improvement in theory although cudnn LSTM is well optimized and may not outperform it).

[2019-09-03 12:07] kan-bayashi commented on #1151
Why did you use 10.1?

[2019-09-03 12:11] sw005320 commented on #1172
Most of our recipes (except for TIMIT) use graphemes and you cannot obtain the phone alignment information unless you use phone transcriptions instead of grapheme transcriptions. Once you successfully make a phone system, you could obtain it from either of

1. CTC softmax output
2. attention weight

[2019-09-03 12:14] sw005320 commented on #1171
Which version and what task?
We have several test scripts for the CTC loss and we would not have such errors in the normal case.

[2019-09-03 17:20] #896 closed

[2019-09-04 02:25] dsa934 opened #1175 "Librispeech Question"
hello, I am studying librispeech recipe and have 2 questions.

Q1.
Why use the Average ASR / LM model in the decoding stage ?
Does it mean that we store a snapshot of the appropriate weights found during learning in stage 4 and use the best of them in the decoding stage?

Q2.
How can I use other NN models?
In stage4, it seems that the encoder-decoder model is composed of BLSTM.

If i want to exper

[2019-09-04 03:20] #894 closed

[2019-09-04 06:57] b-flo commented on #1175
Hi,

Q1: During training, a snapshot is created at each validation step. The best model is selected according to a criterion (loss, accuracy), for each validation step if the value is lower (or higher) compared to the previous step the best model is updated/replaced.

Q2: The architecture of your model is defined by the config file you use. Take a look at the available configs file for different r

[2019-09-04 12:20] sw005320 commented on #1175
Additional comments to @b-flo's answers

Q1: averaging is quite powerful for Transformer (or I could say the warm-up optimizer). On the other hand, RNN/LSTM with adadelta does not have so large gains. Anyway, if you use Transformer, you should use the averaged model.

[2019-09-04 13:12] Marcovaldong commented on #1115
@sw005320  I didn't see the obvious speed decay. I think the current decay is acceptable.

[2019-09-04 13:34] zqs01 opened #1176 "question: how should I understand the att_ws files?"
Hello, everyone! I only used the Transformer model without LM or CTC. After running the code, I can get the att_ws file. But I can't understand why there are three common file names? As shown below, there are three "encoder.encoders.0.self_attn.ep.100.png" in each epoch. How should I understand these?
Thank you in advance!
![image](https://user-images.githubusercontent.com/40491290/64258234-785e5d

[2019-09-04 13:54] sw005320 commented on #1115
This is very cool!
Can we port your implementation to espnet?

[2019-09-05 03:20] DTDwind opened #1177 "How could I get number of parameters in model?"
Hello~
I want to get  the number of parameters in model, how could I do it best?
THX

[2019-09-05 03:35] kan-bayashi commented on #1177
Try following snippet.
[code]

See also:
https://discuss.pytorch.org/t/how-do-i-check-the-number-of-parameters-of-a-model/4325/7

[2019-09-05 03:37] kan-bayashi commented on #1176
`4k0c0303` represents utterance id.
So these three file are corresponding to different utterances.

[2019-09-05 03:49] DTDwind commented on #1177
In the exp/**/result I can only get snapshot.ep.* , model.loss.best and model.json, they only have the information of the model, but don't have the architecture, so I can't not use touch.load the model.
It will say "AttributeError: 'collections.OrderedDict' object has no attribute 'parameters'"

[2019-09-05 03:56] kan-bayashi commented on #1177
You can use our utility to load model.
[code]

[2019-09-05 04:03] DTDwind commented on #1177
I get error for this code.
![image](https://user-images.githubusercontent.com/22238266/64310989-ff045080-cfd4-11e9-966b-3d7736801fcf.png)

[2019-09-05 04:09] kan-bayashi commented on #1177
Did you modify `model.json`?

[2019-09-05 04:15] DTDwind commented on #1177
I didn't modify model.json, but I modified the node of VGG2L in encoders.py, and change its name to
 VGGC.

[2019-09-05 04:16] kan-bayashi commented on #1177
If you do not want to revert, just count from snapshot:

[code]

[2019-09-05 04:21] DTDwind commented on #1177
It work!!!
Thank you very much <3

[2019-09-05 04:21] #1177 closed

[2019-09-05 08:30] yjw123456 opened #1178 "Error in install related to gcc version warp-ctc"
Dear all,

I meet this issue during install
The thing is I do not have the sudo authority of the server. The version of gcc on the server is 4.85
and I install my own gcc 6 in anaconda.

The command I used  is:
make KALDI=/data1/tomasyu/tools/kaldi  PYTHON_VERSION=3.7 TH_VERSION=1.0.1 CUDA_VERSION=9.0

Can anyone provide some help? Thanks a lot!

###################################################

[2019-09-05 11:16] zqs01 commented on #1176
Oh, I get it. Thank you

[2019-09-05 11:16] #1176 closed

[2019-09-05 12:40] sw005320 commented on #1178
@ysk24ok, do you know how to deal with it?

[2019-09-05 12:43] kan-bayashi commented on #1178
Why don’t you add conda’s gcc-6 installation before following line?
https://github.com/espnet/espnet/blob/04018e33ec50ddee87d63e91ddd93e6c19310695/tools/Makefile#L91

[2019-09-05 12:58] ysk24ok commented on #1178
Since the log says `unsupported GNU version! gcc versions later than 5 are not supported!`, why not installing older version of gcc in anaconda?
Building warpctc requires gcc>=4.9, so gcc 4.9.X will be fine.

[2019-09-05 21:40] Peidong-Wang commented on #1178
Maybe due to cuda version? 9.0 might be too old for pytorch 1.0.1 using python 3.7.

[2019-09-06 02:00] #791 closed

[2019-09-06 02:00] #686 closed

[2019-09-06 07:01] b-flo commented on #1178
@Peidong-Wang This should not be a problem, in my case : pytorch version is `1.0.1.post2`, cuda version is `8.0` and python3 version is `3.7.3`.

[2019-09-06 16:24] TParcollet opened #1181 "Only encoder + custom model"
Hi there !

Thank you for the toolkit 👍

First, I'm wondering if it would be possible to not perform seq2seq training for ASR. Let's say I have a BLSTM model, and I want to directly train with CTC on it (with TIMIT, for example). Then, I would like to add a custom CNN model before the BLSTM, to finally have a CNN+BLSTM+CTC. Is it feasible ?

Thank you!

[2019-09-06 21:46] ShigekiKarita commented on #891
This bug is fixed. Thanks to #1145 @simpleoier

[2019-09-06 21:46] #891 closed

[2019-09-06 23:46] sw005320 commented on #1181
Thanks.
This is possible.
Actually, if we set some parameter appropriately, you can switch to pure CTC or attention.
See https://github.com/espnet/espnet#ctc-attention-and-hybrid-ctcattention
Then, you can customize the encoder by yourself to realize CNN+BLSTM+CTC.

[2019-09-07 00:14] ruizhilijhu opened #1182 "Error in installation related to h5py"
When I install the newest version of espnet using the following command
make -j 10 CUDA_VERSION=9.0
It shows the following error message:

  Building wheel for h5py (setup.py) ... error
  ERROR: Command errored out with exit status 1:
   command: /export/b17/xwang/espnet_test/espnet/tools/venv/bin/python -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/tmp/pip-install-zpnt98b3/h5py/set

[2019-09-07 00:21] sw005320 commented on #1182
Which version of h5py did you try to install?
Can you try to specify the version of h5py as 2.9.0?

[2019-09-07 00:39] ruizhilijhu commented on #1182
@sw005320 Thanks! It worked when I specify the version of h5py as 2.9.0
By default, in the setup.py, it is 'h5py>=2.9.0', and it installed 2.10.0 version.

[2019-09-07 00:43] kan-bayashi commented on #1182
It seems h5py 2.10.0 released today!
https://pypi.org/project/h5py/

[2019-09-07 00:49] sw005320 commented on #1182
Hmm. Should we fix to use 2.9.0? Or does it come from some pip cache issues? (pip may try to use some old-version cache and cause some conflicts??) @ruizhilijhu, can you uninstall h5py and try `. venv/bin/activate; pip --no-cache-dir install h5py`? If you still have the same problem, we should fix to use 2.9.0.

[2019-09-07 00:56] ruizhilijhu commented on #1182
@sw005320 I tried your suggestions. The same error is still there.

[2019-09-07 00:56] sw005320 commented on #1182
OK. We just fix it with 2.9.0. Could you make a PR?

[2019-09-07 01:01] lingjzhu commented on #977
Hello, I was wondering if this post is still relevant. But I know that there is a 12-hour Chinese TTS corpus. It can be found at this website:https://www.data-baker.com/open_source.html. The download link is at the end of the page.

[2019-09-07 01:11] ruizhilijhu commented on #1182
Done

[2019-09-07 09:57] wesky260643 opened #1184 "got cuda error when install espnet 0.5.2 with pytorch 1.2.0"
when install espnet 0.5.2 with command

, i got some cuda errors, the tail error message is as follow:
[code]

but, when i install with default pytorch version, the install process ended up with success.

[2019-09-07 12:50] mfch101 commented on #1171
I have soved the problem. I  exchange an another version of warp-ctc with the parameter reduce in wrapctc_loss function.

[2019-09-08 00:09] kan-bayashi commented on #1182
Fixed in #1183

[2019-09-08 00:09] #1182 closed

[2019-09-08 00:14] kan-bayashi commented on #1073
Published.
https://github.com/espnet/espnet/blob/master/egs/wsj_mix/asr1/RESULTS.md

[2019-09-08 00:14] #1073 closed

[2019-09-08 00:20] kan-bayashi commented on #1184
Thank you for your report @wesky260643.
Currently we have not yet supported Pytorch 1.2 since it has some breaking changes.
https://github.com/pytorch/pytorch/releases/tag/v1.2.0
We will fix it in future.

[2019-09-08 07:09] Fhrozen opened #1185 "Dataloader is killed (v.0.6.0)"
I am training iwslt19/asr1 with the last v.0.6.0 and I am getting this error when I try to train different  networks at the same time:

[code]
I am using : `n-iter-processes: 4` to speed up, i tried in a different in a pc with two training in simultaneous and have no problem. 4 training in simultaneous seems problematic.
@ShigekiKarita @bobchennan

[2019-09-08 13:25] bobchennan commented on #1185
Do you have any memory limitation? Do you run it with Docker?

[2019-09-08 13:34] bobchennan commented on #1185
According to https://github.com/pytorch/pytorch/issues/5040 PIL resize requires a lot of shared memory. You can try to remove specaug preprocessing to see if the problem exists. If you are using docker specify `--shm-size 50G`

[2019-09-08 14:32] Fhrozen commented on #1185
Well, I am using kind of docker (kubernetes pod) with 256Gb and 24 cpus, I can only run 2 training with `n-iter-processes: 4`, the other two has not this option. and works by now.

[2019-09-08 14:34] Fhrozen commented on #1185
Ok, I just checked, another training just get killed. to i am only trying now with 1 `n-iter-processes: 4` and the others without it.

[2019-09-08 14:55] TParcollet opened #1187 "error when decoding TIMIT"
Hi there,

Just running the run.sh of the TIMIT receipe gives me:
<img width="690" alt="Capture d’écran 2019-09-08 à 16 53 27" src="https://user-images.githubusercontent.com/11910731/64490028-68949100-d259-11e9-85a6-0f4e87745e45.png">

Any idea?

[2019-09-08 15:02] bobchennan commented on #1185
Try to specify `--shm-size 50G`.

Also try to run without `--preprocess-conf conf/specaug.yaml` to check if it is the problem of PIL.

[2019-09-08 19:22] TParcollet commented on #1181
Thank you!

[2019-09-08 19:22] #1181 closed

[2019-09-09 01:06] #922 closed

[2019-09-09 08:13] ShigekiKarita commented on #736
I am working on "sclite" (another C dependency in Kaldi) replacement here https://github.com/ShigekiKarita/kaldi-edit-distance

[2019-09-09 08:28] ShigekiKarita opened #1188 "OOP Task Trainer"
Recently, ESPnet has a lot of duplicated lines in `def train(args): ...` of ASR, ASR-MIX, LM, MT, TTS, ST, etc. It is hard to maintain and update because lots of complicated things (custom fp, data loader, transfer learning) are copy-and-pasted in the huge GOD functions. I wanna unify those duplicated parts. How about unifying these with extensible OOP-based design?

[code]

see also: https://gith

[2019-09-09 08:39] ShigekiKarita commented on #1187
I also met similar error in that ctc prefix score. Can you try adding an option `--batchsize 0` into `asr_recog.py` in `run.sh`? That disables batch decoding and fixed my case.

[2019-09-09 08:40] ShigekiKarita commented on #1178
It can be problem because the old CUDA limits gcc version in `#error`.

[2019-09-09 08:41] ShigekiKarita commented on #1178
I recommend the latest CUDA and GCC.

[2019-09-09 08:48] ShigekiKarita commented on #1188
I will rework chainer-free trainer #688  soon but we need to discuss this first.

[2019-09-09 09:50] TParcollet commented on #1187
Yep, it's working! Is it a problem only occuring with TIMIT?

[2019-09-09 09:55] ShigekiKarita commented on #1187
No. I met this in AN4. I will check recent changes in the ctc prefix score.

2019年9月9日(月) 18:50 Parcollet Titouan <notifications@github.com>:

[2019-09-09 10:00] TParcollet commented on #1187
Great! the results reported with TIMIT are reported as character error rate right? Is it possible to switch to Phoneme Error Rate?

[2019-09-09 10:16] b-flo commented on #1187
If `trans_type=phn` is set in `run.sh`, PER should be reported instead of CER, no?

[2019-09-09 11:03] TParcollet commented on #1187
Indeed! Thanks.

[2019-09-09 11:47] surajdurgesht commented on #1151
i was not knowing...
it was set by default

[2019-09-09 11:48] surajdurgesht commented on #1151
Now works fine...

[2019-09-09 11:48] surajdurgesht commented on #1151
Thank you very much!

[2019-09-09 12:28] kan-bayashi commented on #1188
I agree with your idea but I'm wondaring that whether we can remove duplicated lines if we use this OOP design.

[2019-09-09 12:48] fanlu commented on #1185
I have met the same problem with --preprocess-conf ""
[code]

[2019-09-09 12:50] ShigekiKarita commented on #1188
Yeah, I'm also afraid that copying fairseq is not enough for us. My goal is
not just splitting task-dependent and task-independent parts because the
task-dependent part still can be duplicated.

(I believe that TaskRunner is just a common part of existing Trainer and
Evaluator in all the tasks)

However, this idea can make relationship between tasks explicitly (instead
of randomly importing symbol

[2019-09-09 13:59] #1151 closed

[2019-09-09 15:46] siddalmia opened #1189 "Are the RESULTS numbers with or without LM"
Hi @sw005320 ,

If the numbers mentioned in the RESULTS section is with LM rescoring, would it make sense to add a no LM results as well?

Thanks
Sid

[2019-09-09 17:01] dkettlerveritone commented on #1150
So my training with the fisher_swbd recipe finished but the performance was very disappointing (WER int he 40s).  I thought I would give the swbd recipe mentioned a shot but I'm getting this error when I try to run that one:

[code]

Not really sure what's going on there...

[2019-09-10 02:31] ShigekiKarita commented on #1187
@takaaki-hori can you also check your recent update (i.e., ctc_window) is working with TIMIT and AN4 (mtlalpha=0.5)?

[2019-09-10 05:27] Marcovaldong commented on #1115
@sw005320  I'll do it when I am not busy.

[2019-09-10 06:58] ShigekiKarita commented on #1115
👍

[2019-09-10 14:53] siddalmia commented on #1189
After looking at some more files. It seems that all the numbers that are presented are with LM rescoring. Would it be possible to present numbers without LM as well? Just so that we know the model capability with and without LM.

[2019-09-10 14:54] siddalmia commented on #1189
I suppose just running the same decoding with `--lm-weight 0` should do the trick?

[2019-09-10 16:29] sw005320 commented on #1189
We usually use an LM based on shallow fusion during beam search (not n-best rescoring). Yes, we can get the non-LM result with `--lm-weight 0`.

[2019-09-11 05:20] lijuan123 commented on #1189
hi~  Can we use the BeamSearch function with general statistical language model such as n-gram model instead of rnn language model?  Looking forward to your reply, thank you!

[2019-09-11 08:14] bhigy opened #1191 "Issues with adam and gru using docker image"
Hi everyone,

I am trying to train some models on flickr8k audio captions corpus. I managed to train a baseline successfully using docker image and a configuration close to espnet/egs/chime4/asr1/conf/tuning/train_rnn.yaml. However, if I try to change the optimizer to adam, things break very badly (from ~7% CER to ~86%). Similar issue if I go from LSTM to GRU. Is there any known bug with GRU or ad

[2019-09-11 13:04] r9y9 opened #1192 "TTS recipes: suggestion to limit frequency range for log-melspectrogram"
Currently we don't limit the maximum frequency for log-melspectrogram, however, I believe limiting the maximum frequency to 8000kHz or lower (e.g. 7680) alleviates the over-smoothing problem. This will be particularly important when we combine E2E models with a neural vocoder.

Based on my limited experience though, using a full range of log-melspectrogram seems to suffer from over-smoothing. In m

[2019-09-11 14:21] kan-bayashi commented on #1192
Actually I did not compare so far.
We should limit the range, especially for > 16 kHz datasets.
Let us start to train those models!

[2019-09-11 15:09] #670 closed

[2019-09-11 15:56] sw005320 commented on #1191
How large is this data? We usually observe such significant degradations (sensitivities of the algorithms) for the small amount of training data (e.g., less than 20 hours). Also, this is related to the initialization, and other initializations may work.

[2019-09-12 07:43] bhigy commented on #1191
The amount of training data is around 35 hours so that might explain the bad results. Any recommendations on how I can solve the issue, like what can of initialization I should use?

[2019-09-12 13:44] kan-bayashi opened #1194 "Support Pytorch 1.2"
Pytorch 1.2 has some important breaking changes:
https://github.com/pytorch/pytorch/releases/tag/v1.2.0

Because of this changes, it is difficult to support pytorch 1.2 while keeping the compatibility with old pytorch versions.
So we are considering the end of support of pytorch <= 1.1.

If you have any opinion about this plan, please discuss here.

[2019-09-15 07:33] dsa934 commented on #1175
https://github.com/espnet/espnet/blob/2c961b3cd1843b332f5d5f960083abe3235ce0e5/espnet/bin/asr_train.py#L188

Can you explain about WPE?
I tried changing the configuration of the encoder decoder model from blstm to ligru but it didn't work.

If I run the code after modifying it like this:
https://github.com/espnet/espnet/blob/2c961b3cd1843b332f5d5f960083abe3235ce0e5/espnet/bin/asr_train.py#L189
def

[2019-09-17 07:11] Masao-Someki opened #1198 "Bug in rnn-transducer"
I tried to run the script of rnn-transducer, but there is a bug at decoding process.
[code]

[2019-09-17 07:14] Masao-Someki commented on #1198
Stage 0-4 have successfully processed, but only stage 5 has the error.

[2019-09-17 09:26] b-flo commented on #1198
Hi,

Thanks for the report! Sorry forgot to change the LM part, instead of:

`beam_hyp['score'] += recog_args.lm_weight * rnnlm_scores[0][ytu[k]]`

It should be this:

`beam_hyp['score'] += recog_args.lm_weight * rnnlm_scores[0][k]`

[2019-09-17 09:33] Masao-Someki commented on #1198
Okay, thank you!

[2019-09-17 09:33] #1198 closed

[2019-09-17 10:19] qmpzzpmq opened #1199 "transduce cuDNN error"
Just wnat know is it a bug? My environment is CUDA 10.0 cuDNN 7.5. It is fine with configure train_pytorch_transformer.yaml. Dataset is voxforge

[2019-09-17 10:27] qmpzzpmq commented on #1199
both backend have this issue

[2019-09-17 10:40] b-flo commented on #1199
Only pytorch is supported for rnn transducer.
Despite the error reported by cudNN I suspect an out-of-memory issue. Could you try to reduce batch, dim, etc?

[2019-09-17 10:49] qmpzzpmq commented on #1199
I alreay changed it to 1, but still have same problem.

[2019-09-17 10:57] b-flo commented on #1199
Ok. Could you give me more details on your setup please: pytorch version, gpu, install, etc?
I'll try to reproduce the error and fix it. It could take some time though, this kind of issues can be an hassle to pinpoint.

[2019-09-17 11:07] juandspy opened #1200 "Colab link in Docs > Speech Recognition Library is broken"
The [link ](https://colab.research.google.com/github/espnet/notebook/asr_library.ipynb) on the [documentation](https://espnet.github.io/espnet/notebook/asr_library.html#) redirects to a non valid notebook.
It should redirect to https://colab.research.google.com/github/espnet/notebook/blob/master/asr_library.ipynb.
I can't find the web file in the repo to make a Pull Request.

[2019-09-17 11:16] qmpzzpmq commented on #1199
it is
pytorch:1.0.1.post2,
there are 4 2080ti gpu,
I installed newest 0.5.2 version espnet

[2019-09-17 11:44] ShigekiKarita commented on #1200
Thanks for reporting. I am planning to update the notebook with our recent notebooks in INTERSPEECH 2019. I will fix that after returning from INTERSPEECH.

[2019-09-17 13:37] TParcollet opened #1201 "Simple custom GRU without packed sequences"
Hi there!

I'm trying to use a custom RNN instead of the ones provided, and unfortunately it does not operate on packed sequences.

As a first step, i'm just trying to reproduce the results with a simple GRU (torch.nn.GRU) that operates on unpacked sequences, but the PER on TIMIT explodes to 500%. Here is the implementation of this model:

<img width="871" alt="Capture d’écran 2019-09-17 à 15 38 3

[2019-09-17 15:17] b-flo commented on #1201
Hi,

Shouldn't you sort `pad_packed_sequence` input by sequence length and unsort `pack_padded_sequence` to go back to the original ordering? I'm not sure about your input and what you do outside `forward()` but if we only consider this snippet the order is not the same.

[2019-09-18 05:55] CherrieWang97 opened #1202 "Implement TCEN for speech translation"
I have implemented the architecture of the Tandem Connectionist Encoding Network (TCEN) for speech translation, which is based on our submitted AAAI2020 paper. https://arxiv.org/pdf/1909.07575.pdf

Features for TCEN:

1. It has a speech encoder and a text encoder, one for acoustic feature extraction and another for linguistic feature extraction
2. The model can be trained on ST data, ASR data, as

[2019-09-18 11:03] CherrieWang97 opened #1203 "Some bugs in training"
I find some bugs in mt.py and asr.py

In branch master, the code in espnet/mt/pytorch_backend/mt.py line 225-226:

` updater = CustomUpdater(
        model, args.grad_clip, train_iter, optimizer, converter, device, args.ngpu, args.accum_grad)`

It lacks parameter `grad_noise` as the initialization function for `CustomUpdater` is defined as:

`def __init__(self, model, grad_clip_threshold, train_it

[2019-09-18 16:06] MarkWuNLP commented on #1175
It sounds very interesting. @sw005320 Do you remember the WER improvement on Librispeech dataset with the averaging checkpoints?

Thank you!
Yu

[2019-09-19 08:39] EddieWang0317 commented on #1172
Hello
I try to take the CTC softmax matrix from:
https://github.com/espnet/espnet/blob/master/espnet/nets/pytorch_backend/e2e_asr.py#L424
and use Viterbi algorithm to decoding it. But my result is quite weird.
It just like it keep output 0 and some valid symbol at the end.
e.g. ```[0,0,0,0,0,0,0,0,133,22]``` or like
![圖片](https://user-images.githubusercontent.com/7881444/65227066-9223a700-dafa-11e

[2019-09-20 06:48] sw005320 commented on #1201
Did the training go well (validation loss/accuracy is in a similar range to the original LSTM)? I want to clarify the problem.

[2019-09-20 06:57] sw005320 commented on #1202
This sounds very good.
Can you also think of making a PR?
We'll help you.

[2019-09-20 06:59] sw005320 commented on #1175
I don't fully record it, but usually, we'll get 10% relative improvement.

[2019-09-20 07:04] sw005320 commented on #1172
CTC's `0` means the blank symbol in the original paper, which can be a silence symbol or the repetition of the previous token. We cannot easily distinguish either of them.

[2019-09-20 07:31] CherrieWang97 commented on #1202
Of course, I'll merge my code to epsnet v.0.6.0

[2019-09-20 08:57] TParcollet commented on #1201
Hi!

Well, here is a new picture with some curves. Blue curves represents the model described above, while orange ones depict the same model but without padding and packing (it's basically the same than you standard GRU).

<img width="1043" alt="Capture d’écran 2019-09-20 à 10 55 28" src="https://user-images.githubusercontent.com/11910731/65313768-38bc8600-db95-11e9-9f9c-aa03e82573ce.png">

I supp

[2019-09-20 12:33] yyggithub opened #1207 "First multi-speaker Transformer"
hello ,what is speaker embedding in the first multi-speaker transformer system ? Is x vextor?
can you answer where speaker embedding is placed in the system? I am trying  do multi-speaker transformer system. thanks!

[2019-09-20 14:49] TParcollet commented on #1201
My bad, just had to specify batch_first=True.

[2019-09-20 14:49] #1201 closed

[2019-09-20 21:35] sw005320 commented on #1201
Good to know. Please let us know if your custom GRU works well.

[2019-09-20 22:41] potato-inoue opened #1208 "How to implement transfer learning / adaptation for tts"
Now I try to implement speaker adaptation toward pre-trained model.
I added `torch_load(args.model, model)` into `espnet/tts/pytorch_backend/tts.py`. ([Codes](https://github.com/potato-inoue/espnet/commit/ec8d4fb8b73ff9b60dc66de9145dd1f3392d9b8f#diff-22acf0acda9e4fc1f05638b07a29baaa))
**But the loss became the same outline** even if `transformer-lr` decreased. ([Results](https://potato-inoue.githu

[2019-09-23 08:22] r9y9 commented on #1208
Why do you call `model.eval()` right after loading the model parameters?  Is it intentional?

What about trying single-speaker model adaptation first? Multi-speaker models are generally more difficult to train.

[2019-09-23 11:11] kan-bayashi commented on #1207
Sorry for late reply. I'm back from INTERSPEECH.
Pretrained speaker embedding is X-vector, which is trained by VoxCeleb corpus
I add or concat x-vector for each hidden state of encoder as follows:
- add: x-vector -> linear -> replicate -> + each encoder hidden state
- concat: x-vector -> replicate -> concat with each encoder hidden state -> linear

[2019-09-23 11:25] kan-bayashi commented on #1208
As @r9y9 said, only around 30 minutes speech is enough to fine-tune single speaker model (But I'm not sure it works with the different gender model).
I have no experience of the transformer based model adaptation, but I doubt that initial lr is too small.
Did you already try the other lr settings or have any references?

[2019-09-23 15:46] potato-inoue commented on #1208
@r9y9 , @kan-bayashi
I'm trying single-speaker model adaptation. I will show the result later.

I tried 9 kinds of lr ( 1e0 to 1e-8) in multi-speaker model adaptation. I have no reference at present.

[2019-09-24 02:10] kan-bayashi commented on #1208
And I heard that libritts includes pose in speech without any corresponding text.
This causes training failure.
To avoid this issue, VAE-based tacotron is needed.
https://arxiv.org/pdf/1810.07217.pdf

If I have a time, I will try to implement this model.

[2019-09-24 03:23] enamoria opened #1212 "Integrating waveglow with espnet fastspeech"
Hello, is anyone try this approach? This seems the fastest combination at this moment.
I've tried but it seems there is something wrong with my implementation, which generated inaudible audio (I can vaguely hear some words but it's far from wavenet option)
Sample
[waveglow+fastspeech](https://drive.google.com/file/d/1Kh9rkRoWSBte0D2EE06HNFeP_IJNQXCT/view?usp=sharing)

[2019-09-24 05:25] r9y9 commented on #1208
That sounds really great 👍

I noticed that @potato-inoue did trickly preprocessing for removing poses (correct me if I'm wrong) in #1056 (https://github.com/espnet/espnet/blob/a2181ad10929ae980c228f40533defa6904d9db0/egs/blizzard17/tts1/local/make_lab_wo_sil.py#L168-L181), but if we have GMVAE-like latent model, the model would be able to handle variations that are not explicitly shown in the inpu

[2019-09-24 05:29] r9y9 commented on #1212
Did you use the exact same parameters for log-melspectrogram extraction? I guess the reason you got non intelligible speech is the feature mismatch between espnet and waveglow.

[2019-09-24 06:13] yyggithub commented on #1207
Sincere thanks .  I understand what you say that  is you place the x-vector between Multi-head layer and FFN layer ,such as N=3,you do it in every layer.
for example, concat x-vector as follows:
  for i  in  N (N=3)
       ----->Multi-head->add&norm->concat x-vector->FFN->add&norm--->
I don't understand that each encoder hidden state  you say.I have concated speaker embedding with encoder output i

[2019-09-24 09:32] kan-bayashi commented on #1207
Here the encoder state means outputs of the final layer of the encoder.
Maybe you can understand by checking following part.
https://github.com/espnet/espnet/blob/a2181ad10929ae980c228f40533defa6904d9db0/espnet/nets/pytorch_backend/e2e_tts_transformer.py#L507-L513
https://github.com/espnet/espnet/blob/a2181ad10929ae980c228f40533defa6904d9db0/espnet/nets/pytorch_backend/e2e_tts_transformer.py#L773

[2019-09-24 10:14] kan-bayashi commented on #1212
Unfortunately, as @r9y9 said, hyperparamers of feature extraction is different.
It is necessary to fix the setting to use waveglow.

[2019-09-24 21:05] potato-inoue commented on #1208
VAE or GMVAE is very attractive!
Now I try to select speaker that includes no-/low-pose in speech without any corresponding text.

[2019-09-25 15:42] sw005320 commented on #1203
Sorry for my late response and thanks for finding critical bugs. You seem to include the bug fix of this in your PR #1210. Is it possible to make a separate PR? We can quickly merge this bug fix first.

[2019-09-26 07:50] shunfeichen opened #1213 "How to decode speech without text in test"

[2019-09-26 07:54] shunfeichen commented on #1213
I found the espnet decode speech need to make data2json file. However, if there is no text file in test, how to decode speech?
Thanks!

[2019-09-26 07:56] b-flo commented on #1213
Hi,

[recog_wav.sh](https://github.com/espnet/espnet/blob/master/utils/recog_wav.sh) is what you're looking for!

[2019-09-26 09:08] shunfeichen commented on #1213
Thank you,very much!

[2019-09-26 12:39] TParcollet opened #1214 "Subsample?"
Hi there!

I'm unsure about the effect of the subsample parameter in the config file. Is it only impacting the first layer, or is it parametrized for each layer? Like 2 means skipping 1 frame every 1 frame?

Thank you very much!

[2019-09-26 13:00] sw005320 commented on #1214
Correct.

`1_2_2_1_1` means that we skip 1 frame before they are fed to 2nd and 3rd LSTM layers respectively. `1` does not skip any frame. If we set `2_1_1`, this will skip 1 frame in the input (which is not recommended though).
However, our VGGBLSTM encoder includes the subsampling in the CNN stride function and this option is ignored.

[2019-09-26 13:02] TParcollet commented on #1214
Thanks for the fast answer, does it reduce the sequence size?

[2019-09-26 13:06] sw005320 commented on #1214
Yes, this is the intention of this implementation.

[2019-09-26 13:07] TParcollet commented on #1214
Interesting, thank you!

[2019-09-26 13:07] #1214 closed

[2019-09-26 14:07] SeanNaren opened #1215 "Consolidating differences between my warp-ctc and espnet"
Hey guys! Thanks so much for the work you've guys done, this library is looking awesome!

I noticed that you guys have your own warp-ctc fork and added pypi support to it which is really slick. What other changes have you guys made or plan to make?

One thing I'm curious about is the possibility of deprecating my warp-ctc repo, and using your support pypi repo as the default, would that be alright

[2019-09-26 15:51] sw005320 commented on #1215
@SeanNaren, first thanks a lot for your great work of the warp CTC pytorch implementation. We cannot make our system without your great work.
We really appreciate it.

We will not make significant changes for it, and we just try to maintain as it is with some bug fix if there are some or small interface extensions for our use if needed.

I personally think this is a good idea since we'll keep this

[2019-09-26 18:02] kamathhrishi opened #1217 "Error while installing espnet CPU (warp_transducer)"
I tried installing ESPNET on ubuntu 16.04 using command
`sudo make CUPY_VERSION='' -j 10`

I get the following error.

Any idea what the problem could be?

[code]

[2019-09-26 18:50] potato-inoue commented on #1208
I checked that single-speaker model adaptation is running. `model.eval()` was the reason to not train.
I have no pre-process for pose above you mentioned. Multi-speaker model has not checked yet.
- model: ljspeech.transformer.v1
- adapted speaker: speaker 237 (Female) from test_clean
<img src="https://user-images.githubusercontent.com/38646618/65694847-7481af00-e0b1-11e9-9851-e680d68b4882.png" wid

[2019-09-27 02:20] gs5264 opened #1218 "Multi-Process Single-GPU DistributedDataParallel bug"
I changed two files the asr.py and the asr_train.py to implement distributed computing on eight cards at two nodes. I have two nodes, each with four GPUs.
1.Pytorch 1.0.1
2.espnet/egs/hkust/as1
3.$: cd espnet/egs/hkust/as1     $:source path.sh

Situation 1：when I use command in two terminals：
1  $:python -m torch.distributed.launch --nproc_per_node=1 --nnodes=2 --node_rank=0 --master_addr="10.200.

[2019-09-27 03:43] ysk24ok commented on #1215
I also agree with the idea of integrating those diverged repositories.

I don't know how to do this specifically. espnet/warp-ctc is forked from SeanNaren/warp-ctc and users think the latter is the default.
Transferring ownership of SeanNaren/warp-ctc to espnet org written in  https://help.github.com/en/enterprise/2.16/user/articles/transferring-a-repository? But the page says `The target account

[2019-09-27 09:22] #1212 closed

[2019-09-27 13:26] SeanNaren commented on #1215
Oh I meant I'll turn it to read-only and make a change in the README to look at the espnet supported repo rather than transfer ownership. Might cause more confusion than anything!

[2019-09-27 14:00] yyggithub commented on #1207
Sincere thanks！

[2019-09-27 14:08] #1207 closed

[2019-09-28 05:33] #1200 closed

[2019-09-28 07:33] discdisk opened #1222 "about subsample"
I'm training a CTC only asr model. I noticed that there are subsampling operations in RNNP module but didn't exist in RNN module .

I want to ask why there are no subasmpling in normal RNN module, isn't that slow down the training /decoding speed?

And I also want to ask is it possible to train csj task with word output?

[2019-09-29 00:57] Fhrozen commented on #1222
Hello there,
 - The reason why RNNP has a subsampling module could be "Note that the outputs are often subsampled to reduce the computational complexity of the encoder network" https://www.merl.com/publications/docs/TR2017-190.pdf; and RNN seems to avoid this requirement.

- About CSJ task with word output, I could not find any example in an asian language with a word output. I suppose that this i

[2019-09-29 04:28] MarkWuNLP opened #1224 "A bug about ASR Transfromer decoding with GPU"
When I use the master branch to decode the results using the Librispeech model and config, it can yield results successfully on CPU but failed on GPU.

Several .cpu(), .cuda(), device="gpu" operations are needed in the
`def recognize(self, feat, recog_args, char_list=None, rnnlm=None, use_jit=False)`
function of the e2e_asr_transformer.py file.

[2019-09-29 06:37] #1161 closed

[2019-09-29 08:51] chengmengli06 opened #1225 "gpu 0 OOM for asr librispeech task"
I try to train librispeech asr using conf/tuning/train_pytorch_transformer_large_ngpu4.yaml. It is said that only 12 G memory is necessary, however oom still happens even with 16G memory. I noticed that GPU:0 consumes more memory than the others. My start script is:

under espnet/egs/librispeech/asr1:
../../../tools/venv/bin/python3 ../../../espnet/bin/asr_train.py --config conf/tuning/train_pytor

[2019-09-29 08:53] chengmengli06 opened #1226 "how much does wordpiece model improve e2e transformer asr models?"
how much does wordpiece model improve e2e transformer asr models? What is the accuracy on librispeech if grapheme is used instead of wordpiece using e2e transformer asr model?

[2019-09-29 09:02] chengmengli06 commented on #1224
that is it, I also meet the same problem, and sloved by several to('cuda')  and to('cpu') functions.

[2019-09-29 09:40] qmpzzpmq opened #1228 "is possible using ngram to replace rnnlm through srilm and score interface"

[2019-09-29 12:57] zh794390558 opened #1230 "remove Chainer dependence maybe good for user"
Since most people only using pytroch and tensorflow, the  Chainer dependence is not good for user reading code. So remove Chainer or separate Chainer with pytroch is prefer.

[2019-09-29 14:41] #764 closed

[2019-09-29 22:49] kan-bayashi commented on #1224
You can try —api v2 for asr_recog.py
It may work with gpu.

[2019-09-29 22:54] kan-bayashi commented on #1230
@ShigekiKarita is experimentally working on this issue #688
But we have to discuss the interface. (See also #1188)

[2019-09-29 22:58] kan-bayashi commented on #1228
Yes, it can be done with —api v2 if you implement ScorerInterface for N-gram.

[2019-09-29 23:33] kan-bayashi commented on #1225
Was the OOM error happened in the middle of training?
Due to specaug, sometimes the length of inputs becomes much longer, and then it causes OOM error.
Maybe it is better to reduce batch-bins and increase accum_grad to avoid OOM error while keeping the original batch-size.

And to increase the usage of GPU, you can try `--n-iter-processes 4 or more`.
It helps to reduce the bottleneck of loading ba

[2019-09-30 01:46] zh794390558 commented on #1230
great work.

[2019-09-30 04:03] chengmengli06 commented on #1225
It seems not caused by data augmentation. Even data augment is closed, it could still oom. I want to know what is your device configurations for training conf/tuning/train_pytorch_transformer_large_ngpu4.yaml ?

[2019-09-30 04:18] kan-bayashi commented on #1225
Hmm, I used GTX Titan (pascal, 12GB memories) x 4 in this configuration.
That is strange. I have just running w/ that config, but it works around 8~11GB memory.
What is your pytorch version?

[2019-09-30 05:02] chengmengli06 commented on #1225
# RESULTS
## Environments
- date: `Mon Sep 30 13:00:57 CST 2019`
- python version: `3.7.3 (default, Mar 27 2019, 22:11:17)  [GCC 7.3.0]`
- espnet version: `espnet 0.5.3`
- chainer version: `chainer 6.0.0`
- pytorch version: `pytorch 1.0.1.post2`
- Git hash: `33ef80069c6f42bfbccffe2ea2f8d812f1cbeaaa`
  - Commit date: `Sat Sep 28 21:17:19 2019 +0900`

## train_960_pytorch_train_specaug.good
### CER

[2019-09-30 05:11] chengmengli06 commented on #1225
I use cuda 10.0

[2019-09-30 05:27] kan-bayashi commented on #1225
Hmm. It seems no problem in the environment.
Did you add any special processing like speed perturbation?
If not, I have no idea why your environment requires so much GPU memory.

Easiest way to solve this issue is to reduce batch-bins (e.g. `batch-bins: 12000000` and `accum-grad: 5`).

[2019-09-30 05:30] kan-bayashi commented on #1225
@ShigekiKarita Do you have any idea?

[2019-09-30 05:40] fanlu opened #1231 "The log of ASR training is different from LM training's when arg.resume was setted"
the validation loss and acc caculated in ASR training will be recorded in exp/**/results/log generated by chiner.
How should I retain these values trained previously when I set resume params?
All training loss and validation ppl values in LM training will be retaioned when args.resume was setted. the log is below.
[code]

[2019-10-01 14:51] chengmengli06 commented on #1225
memory consumption on gpu:0 is continuously increasing. Do it has anything to do with torch.cuda.empty_cache(), and also what exactly the version of code you are using? @kan-bayashi

[2019-10-01 17:30] TParcollet opened #1233 "Normalization / standardization of the features."
Hi there!

Are the input features supposed to be normalized / standardized outside the toolkit (before creating the JSON format)?

I can't find a normalization strategy in asr.py.

Thank you!
Titouan.

[2019-10-01 18:00] sw005320 commented on #1215
I think this is an easy solution. If @ysk24ok is OK, let's do this.

We had some investigation on the old PyTorch (1.1) CTC and found some degradation compared with warp CTC. But this story can be changed for PyTorch 1.2 since I observer several code-level refinements for CTC on that version. Right now, we would not fully move to PyTorch 1.2 and cannot make such comparisons, but we'll think of it

[2019-10-01 18:06] sw005320 commented on #1222
I just want to follow up @Fhrozen's answers (that mostly answered them though).

- RNN is based on cudnn NStepLSTM. This does not allow us to perform subsampling, as we cannot access to the intermediate hidden state vectors between layers.

- We can use BPE or we may also use original word segmentation prepared in the CSJ corpus by modifying https://github.com/espnet/espnet/blob/master/egs/csj/asr

[2019-10-01 18:10] sw005320 commented on #1226
I think some recipes (e.g., swbd. Not clearly but the result with the larger BPE unit is better) show the effectiveness of the wordpeiece (BPE) from the grapheme unit. We did not compare the grapheme and wordpeiece (BPE), and always use wordpeiece (BPE) since it takes a very long time to train the grapheme system for Librispeech.

Note that larger BPE unit --> shorter utterance length --> smaller

[2019-10-01 18:12] sw005320 commented on #1224
Thanks.
@ShigekiKarita, could you fix it?

[2019-10-01 18:17] sw005320 commented on #1231
Oh, I did not notice this issue. Thanks for pointing out it. I actually thought that we cannot retain the information but LM training can do it... Hmm. I'll take a look at the difference of the resume function between ASR and LM.

[2019-10-01 18:26] sw005320 commented on #1233
Yes.

We don't have the normalization function in `asr.py`, but we have it in https://github.com/espnet/espnet/blob/master/espnet/transform/cmvn.py.

[2019-10-01 18:33] discdisk commented on #1222
Thanks for the answer, but can RNN module perform subsampling just like RNNP module?

https://github.com/espnet/espnet/blob/ec829fb95dbfcc61672960038643f4f8c8a19480/espnet/nets/chainer_backend/rnn/encoders.py#L78

Will that occur any problem?
Since I trained a model without the CNN block and only use CTC, so there is no subsampling performed, and the decoding speed is very slow and cost lot's of m

[2019-10-01 18:37] sw005320 commented on #1222
Yes, it is possible.
If you insert this subsampling in every layer by calling one-layer NStepLSTM, you can do it for RNN as well, but it will lose training speed benefits of multiple-layer NStepLSTM.

[2019-10-01 18:49] ShigekiKarita commented on #1224
No use v2 option as @kan-bayashi suggested

[2019-10-01 23:42] kan-bayashi commented on #1225
My environment is as follows.
[code]
I used the current master.
I did not perform any processing to clear the gpu memory such as `torch.cuda.empty_cache()`.

[2019-10-02 07:45] TParcollet commented on #1233
Thanks!

[2019-10-02 11:11] ysk24ok commented on #1215
This sounds easier and simpler 👍

[2019-10-02 13:04] SeanNaren commented on #1215
Sounds good, if we make any headway on that internally I'll let you guys know!

Also on the ESPnet warp-ctc it says you guys don't support Pytorch 1.2 (https://github.com/espnet/warp-ctc#for-pytorch-12). Any reason behind this? We've been running fine using warp-ctc with Pytorch 1.2

[2019-10-02 13:40] #972 closed

[2019-10-02 13:52] ysk24ok commented on #1215
It just means currently warp-ctc is not tested with PyTorch 1.2 on TravisCI and wheels for that version are not provided. We can support PyTorch 1.2 by testing and providing wheels, if there is no difficulty.
@sw005320 @jnishi what do you think?

[2019-10-02 13:53] sw005320 commented on #1215
Simply because main ESPnet does not support PyTorch 1.2 (e.g., https://github.com/espnet/espnet/issues/1194)

@sw005320 @jnishi what do you think?

Yes, let's do it.

[2019-10-02 14:58] jnishi commented on #1215
It sounds good!

However, is there any way to check whether warp-ctc work fine with Pytorch 1.2?
If there isn't, it would be better to add test code to this repository. For example, it will be good to check if warp-ctc's loss is same as  pytorch's loss.  cf. https://github.com/espnet/espnet/issues/700#issuecomment-520149874.

[2019-10-02 15:21] TParcollet commented on #1233
Sorry to bother again, but I still have concern with the normalization / standardization procedure. From my understanding, it is done within Kaldi with the following steps (TIMIT recipe of ESPnet):

<img width="660" alt="Capture d’écran 2019-10-02 à 17 17 02" src="https://user-images.githubusercontent.com/11910731/66057271-b9399a00-e538-11e9-9e50-ee1aabbd3670.png">

Nonetheless, when I train a sim

[2019-10-02 16:06] chengmengli06 commented on #1225
I also try 1080TI with 11GB memory, the result is the same:
RuntimeError: CUDA out of memory. Tried to allocate 685.00 MiB (GPU 0; 10.91 GiB total capacity; 3.07 GiB already allocated; 141.38 MiB free; 2.07 GiB cached)

On V100 16GB, I reduce sequence length to 12000000, the memory on gpu:0 is much larger than the others, which part of the code eats up extra memory:
|    0    126965      C   ...en

[2019-10-02 16:43] #1233 closed

[2019-10-03 05:00] kan-bayashi commented on #1225
Batch is sorted in the length (longer to shorter) and data parallel split into `#gpus` batches.
Therefore, GPU:0 basically requires a little bit larger memory than the other gpus (But 4GB seems a big difference).
The memory usage is updated during the training, so you can check the difference alway exists or not.

[2019-10-04 07:03] chengmengli06 commented on #1225
I try the docker, which cannot start either, having no nvidia-smi and python, how could the docker work? I am really disappointed about the reproductivity.

[2019-10-04 08:14] chengmengli06 commented on #1226
Shorter target sequence length means less error accumulations in decoding, which is important for long sequence prediction. But the vocabulary becomes much larger, which leads to higher computational cost.

[2019-10-04 09:25] #1213 closed

[2019-10-04 11:40] sw005320 commented on #1226
Yes, but the computation of that operation (high-dimensional linear matrix and softmax) can be easily accelerated, while the sequential processing is incremental and cannot be easily accelerated.

[2019-10-04 11:45] sw005320 commented on #1225
I know several people made it work (reproduce a similar result) and did not report such problems. This could be a problem with some specific cases (system, misuse, etc.).

[2019-10-04 12:07] kan-bayashi commented on #1225
@chengmengli06 I understood there is a gap among gpus in your environment, but if OOM error is not caused, it can be trained. Even if you adjust the batch-bins and accum-grad, does not it works without OOM error?

[2019-10-04 14:15] chengmengli06 commented on #1225
If change to 12000000 instead of 15000000，then it can be trained with 16G memory

[2019-10-04 20:50] JaejinCho opened #1239 "Libritts speaker numbers"
The numbers of speakers in each subset of data generated from the current recipe for libritts are not matching with what's reported in the libritts paper: https://arxiv.org/pdf/1904.02882.pdf
Does anyone know some reasons for this?

[2019-10-05 09:36] #960 closed

[2019-10-06 11:18] kan-bayashi commented on #1239
Could you report the difference?

[2019-10-07 15:54] TParcollet opened #1242 "List out of range when printing ground truth and predictions"
Hi there,

I'm playing with a custom encoder, and I obtain a weird behavior with this config file:

The 'blstms' indicates my specific encoder (which is just a variation of vgg, and only at the very first layer).

`
etype: vggblstms     # encoder architecture type
elayers: 3
eunits: 512
eprojs: 512
subsample: "1_1_1_1_1" # skip every n frame from input to nth layers

dlayers: 2
dunits: 512

atype:

[2019-10-07 16:00] TParcollet commented on #1242
Update: I printed `len(self.char_list)` and `idx`:

![Capture d’écran 2019-10-07 à 17 59 30](https://user-images.githubusercontent.com/11910731/66328112-5119f800-e92c-11e9-8d97-ad2f0438c773.png)

So the error is from the encoding of the output. I'll investigate this ...

[2019-10-07 16:30] TParcollet commented on #1242
Solved, it was a problem related to the data/train/text file!

[2019-10-07 16:30] #1242 closed

[2019-10-07 21:34] JaejinCho commented on #1239
I found the reason as you can see https://github.com/espnet/espnet/blob/2b14d3b04f3a3f8d8210410c8d88f22513d97399/egs/libritts/tts1/local/data_prep.sh#L51
Different chapters are considered different speakers and I found the number of speakers is the same as reported in the paper if I use only the ${reader}.

[2019-10-07 21:34] #1239 closed

[2019-10-08 01:15] #983 closed

[2019-10-08 07:12] ShigekiKarita commented on #1226
https://www.isca-speech.org/archive/Interspeech_2019/pdfs/1938.pdf
In this paper, we used char w/o data aug (see Table 2). Current ESPnet uses sentencepiece (see baseline w/o data aug)
https://github.com/espnet/espnet/blob/master/egs/tedlium2/asr1/RESULTS.md#note-contribution-on-wer

According to these, we reduced WER11.6% (char) -> WER11.0% (sentencepiece) on TED-LIUM2.

[2019-10-08 07:14] ShigekiKarita commented on #1228
I tried it before but I do not have any results now. see this snippet https://gist.github.com/ShigekiKarita/3b81a34b4530cf7cebb6754e30876985

[2019-10-08 07:15] chengmengli06 commented on #1226
I find out a bug, the generated word piece has no Z character, which will be mapped to <unk>

[2019-10-08 08:31] qmpzzpmq commented on #1228
Did you integrated into espnet? @ShigekiKarita

[2019-10-08 08:55] enamoria opened #1245 "How much data is sufficient for transformer tts training?"
Hello, I can't train a transformer system that can synthesize audible speech. I only have 6 hours of speech. I've successfully trained tacotron2 (with nvidia implementation, not with esp) so I think 6 hours are quite sufficient, but I can't make any audible audio with transformer.
I've tried 1000 epochs, no good result, with single GPU, small batch but accum_grad=8

I think the reason is i have on

[2019-10-09 01:23] shunfeichen opened #1247 "How to reduce training time"
Hello， I trained a model use my dataset without speed perturb， which takes about 5 days( 50 epoches, and 4 gpus ). However,when I do speed perturb, It needs to long times about 30 days (40 epoches, and 4 gpus). In my opinion, It just need 12 days (5x3x0.8). Why does it take so long? And how can I reduce the training time.
Thanks

[2019-10-09 02:22] Pydataman commented on #1245
@enamoria  English corpus?
I have trained tacotron、tacotron2、transformer tts and dc_tts on chinese corpus.it has about 6 hours.
The effect of dc_tts model is better than others.For transformer tts, 6 hours of data is quite small.

[2019-10-09 02:27] enamoria commented on #1245
But are you able to get audible speech with transformer? I can't even get intelligible speech

[2019-10-09 03:55] kan-bayashi commented on #1245
Hi @enamoria.
I check your figures. It seems that the utterances contains long silence in the back and forth.
![8 after_postnet_fbank ep 1000](https://user-images.githubusercontent.com/22779813/66450430-78d7a000-ea93-11e9-95c0-bdb61a7612be.png)
Trimming these parts helps to learn attention.
You can check this code to perform silence trimming.
https://github.com/espnet/espnet/blob/master/egs/m_aila

[2019-10-09 04:04] kan-bayashi commented on #1245
And we can successfully trained Transformer using Japanese Kana or Phoneme with 10 hours data.
You can check the results.
https://github.com/espnet/espnet/blob/master/egs/jsut/tts1/RESULTS.md

My recommendation is that:
- Trim the silence (Might need to tune some threshold)
- Try a small transformer with reduction factor (v2) and check it works

[2019-10-09 04:45] Pydataman commented on #1245
@enamoria no

[2019-10-09 04:50] Pydataman commented on #1245
@kan-bayashi can you try chinese tts use espnet? I do‘t know how to deal chinese corpus label，use pinyin or phoneme?

[2019-10-09 07:02] kan-bayashi commented on #1247
If the problem is caused by bottleneck of loading, you can add `n-iter-processes: 4 or more` in your yaml config.
(If the gpu util in `nvidia-smi` is too low, maybe the loading is bottleneck.)
This might accelerate the batch making steps.

[2019-10-09 08:59] hanqichen opened #1248 "the performance gap is too large between lstm and blstm in RNNT"
We use RNNT to train librispeech dataset, results are as follows：

| encoder type |  test-clean wer |
| ---- | ----|
| 4 layer blstm |  5.0 |
| 8 layer lstm |  12.0 |

The config of 4 layer blstm
[4 layer blstm.txt](https://github.com/espnet/espnet/files/3706309/4.layer.blstm.txt)

The config of 8 layer lstm
[8.layer lstm.txt](https://github.com/espnet/espnet/files/3706423/8.layer.lstm.txt)

Both

[2019-10-09 09:14] kan-bayashi commented on #1248
This title is a little bit misleading.
[code]
There are many differences b/w these models (In lstm, no vgg, deep archtecture, sortgrad...)
Did you compare the models whose difference is only type?
And it is better to show the learning curves.

[2019-10-09 09:25] b-flo commented on #1248
Hi,

I didn't use unidirectional lstm in my experiments so I can't really talk about performances but there isn't any issue related to lstm encoder in transducer that I know.

About the performance gap you report, it is a bit difficult to comment with only config files. Moreover your network config in both experiments are quite different (e.g.: different etype, eunits, dunits, joint space, subsamp

[2019-10-09 09:31] hanqichen commented on #1248
thanks for responses!

I will train the same architecture with only vggblstm switched to vgglstm in the next few days.

[2019-10-09 11:17] TParcollet opened #1250 "Strong negative impact of LayerNorm on inputs"
Hi there!

I'm quite skeptical in front of a recent finding while using vgg+blstm on TIMIT. I just added a LayerNorm in the vgg encoder right in top of the FBANK like:
![Capture d’écran 2019-10-09 à 13 13 32](https://user-images.githubusercontent.com/11910731/66476748-a70aaf00-ea96-11e9-8928-2caaa74352aa.png)

The training is multi-task (0.5) with 5 layers of BLSTM as encoder and 2 as decoder. Wit

[2019-10-09 12:56] kan-bayashi commented on #1250
What is the motivation of the use of LayerNorm for inputs?
The input features are already normalized to be a mean 0, variance 1 in each dimension in feature extraction step.
And if we use `LayerNorm` for the inputs, these will be normalized to be mean 0 variance 1 over dimensions of each frame.
It does not make sense for me because for example information of the power of each frame will be lost (t

[2019-10-09 12:58] shunfeichen commented on #1247
Thank you, add `n-iter-processes: 24` will recude training time. However, It will be  stop, no error, and the gpu utils is 0%.

[2019-10-09 13:02] TParcollet commented on #1250
In fact, I'm having the same issue with a model that uses LayerNorm on the inputs (that are raw waveforms). And I just wanted to reproduce this issue on the standard VGG, where it might make way less sense. Nonetheless, this is just a standardization operation so it should not completely block the convergence. In the model I'm investigating LayerNorm at the input is crucial, and weirdly, when used

[2019-10-09 13:03] kan-bayashi commented on #1247
Oh maybe this issue is the same.
https://github.com/espnet/espnet/issues/404
Could you try adding following code in the beginning of the `asr_train.py`?
[code]
Maybe you can add the above code just after following line:
https://github.com/espnet/espnet/blob/69f239c4ce116855f895b29d8d6d91aaeb5f359e/espnet/bin/asr_train.py#L355

[2019-10-09 13:25] kan-bayashi commented on #1247
I made PR to fix this issue (#1251).
But this issue is randomly happened I'm not confidence the solution works well or not.

[2019-10-10 00:23] shunfeichen commented on #1247
Thank you very much. But I have set up as  you said, It still can't run.

[2019-10-10 00:41] kan-bayashi commented on #1247
You mean added the code but the training stop silently?

[2019-10-10 00:54] shunfeichen commented on #1247
Yes, Just like before.GPU utils become 0%.

[2019-10-10 00:58] kan-bayashi commented on #1247
Hmm... It is not solved yet...
Our latest branch `v.0.6.0` replaced the iterator with Pytorch implementation.
I'm not sure the problem will be fixed but it is worthwhile to try.

[2019-10-10 01:29] shunfeichen commented on #1247
Thank you, I will try. I found it will appear warning "Was asked to gather along dimension 0, but all ' " when I set n-iter-processes.

[2019-10-10 01:56] kan-bayashi commented on #1250
As I mentioned, LayerNorm for the inputs lost important information, so this performance degradation is reasonable for me.
If we add the some trainable layers before LayerNorm, the performance will be improved.
Do you have any references which directly apply LayerNorm for feature sequences?

[2019-10-10 04:25] #404 closed

[2019-10-10 08:13] TParcollet commented on #1250
Hum. I'll try to put a LayerNorm after to see if the problem arises again. An example is SincNet: https://arxiv.org/pdf/1812.05920.pdf Note that the input features are raw waveforms.

[2019-10-10 08:19] TParcollet opened #1254 "Attention images generated?"
Hi!

I have two questions w.r.t to the attention images that are generated and available in Tensorboard. I'm training a very simple BLSTM on TIMIT with the config file provided in the recipe. At the end, I obtain 3 different pictures for the attention weights that are:
<img width="365" alt="Capture d’écran 2019-10-09 à 19 09 15" src="https://user-images.githubusercontent.com/11910731/66551154-2e17

[2019-10-10 09:17] qmpzzpmq opened #1255 "subword modeling in Chinese"
Hi, as mentioned, is subword modeling used in HKUST egs?

[2019-10-10 11:03] sw005320 commented on #1255
It mentioned "if necessary".
The HKUST recipe does not use subword modeling.

[2019-10-10 11:09] qmpzzpmq commented on #1255
Thanks for your reply. And I checked the source word. It is seems therer is a multiple-level lm, but it haven't finished, isn't it?

[2019-10-11 02:55] hanqichen commented on #1248
Hi，

I have trained the same architecture with only vggblstm switched to vgglstm，but it can't converge. The learning curves and config are as follows(both train with 4 gpu):

vgglstm
[config](https://github.com/espnet/espnet/files/3715424/vgglstm.txt)
![image](https://user-images.githubusercontent.com/11291324/66620676-ea3e5c80-ec13-11e9-887d-cb1d0dcae8f8.png)

vggblstm
[config](https://github.com

[2019-10-11 05:22] kan-bayashi commented on #1245
@Pydataman I will make the recipe using https://www.data-baker.com/open_source.html

[2019-10-11 07:53] kan-bayashi commented on #977
@lingjzhu Sorry for late reply. Thank you for sharing information.
I made the recipe using this dataset #1259

[2019-10-11 10:23] Pydataman commented on #1245
@kan-bayashi thanks。I am training transformer tts model use own chinese corpus.

[2019-10-11 10:25] kan-bayashi commented on #1245
I finished making the recipe #1259.
The training is not yet finished but it seems working well with transformer.

[2019-10-11 12:02] Pydataman commented on #1245
@kan-bayashi thanks

[2019-10-11 12:08] Pydataman opened #1261 "if have no teacher model, train errors use fastspeech model."
in e2e_tts_fastspeech.py
line 269 ~278, if techaer_model is None, self.duration_calculator is None,
line 305, typeError: "NoneType" object is not callable

[2019-10-11 12:37] Fhrozen commented on #1254
Is because the configuration for asr_train  as default saves three images. you can change it in your train.yaml file.

[code]

[2019-10-11 13:39] b-flo commented on #1248
Thanks for the report! Just to be sure, 160k iterations in your case should correspond to ~10/11 epochs (given batch is set to 20 and you're training with the 960h dataset without augmentation), right?
Also, could you share the learning curves for your initial model (8 layers) please?

I don't have time until the 21st but after that I'm working on the streaming version so I'll investigate unidirec

[2019-10-11 13:43] sw005320 commented on #1248
The number of parameters of vgglstm is smaller and we may need to increase the unit size to compensate it.

[2019-10-11 14:15] b-flo commented on #1248
From what I observe in my current experiments with a similar sized dataset (~750hours), RNN-transducer seems to perform better with a deeper architecture and a small number of units compared to others methods (classic and hybrid). In our comparison, the RNNT architecture (enc: vgg+5x384 blstm, dec:1x256 lstm, joint:256) outperformed our best JCA architecture (enc: vgg+3x1024 blstm, dec:2x1024 lstm

[2019-10-11 14:23] sw005320 commented on #1248
OK, then maybe better to use deeper vgglstm to compensate for the model parameter difference.

[2019-10-11 15:37] kan-bayashi commented on #1245
@Pydataman I generated samples using Transformer @ 200 epochs.
How do you think this samples?
I cannot understand the meaning but the quality sounds nice.
https://drive.google.com/open?id=1Si5CJ-b3iLKjW5bs-0Ll2EBnoCqMO_3n

[2019-10-11 15:39] kan-bayashi commented on #977
@lingjzhu That's great.
But we need to care about the hyperparameters of feature extraction.
Could you check the setting is the same?
https://github.com/espnet/espnet/blob/257d7cd14d47eff8846ed9db45b21a1c403f6d20/egs/csmsc/tts1/run.sh

[2019-10-11 16:21] r9y9 commented on #1261
This is expected because teacher model is required to train FastSpeech model.

[2019-10-11 16:31] lingjzhu commented on #977
I use the default setting of 16bit MOK in r9y9's repo. Here are the detailed parameters.
Unfortunately some parameters are differents, including sampling rate and fmin.
  "sample_rate": 22050,
  "num_mels": 80,
  "fmin": 125,
  "fmax": 7600,
  "fft_size": 1024,
  "hop_size": 256,
  "frame_shift_ms": null,
  "win_length": 1024,
  "win_length_ms": -1.0,
  "window": "hann",
  "highpass_cutoff": 70.0,

[2019-10-11 17:02] r9y9 commented on #977
Hi, thank you for using my repository! It would be really helpful if you could share us your trained model!

As you can see, some of the speech processing parameters are different between us and we will need to fix it if we want to combine our models. How about using fs=24000, n_shift=300, win_length=1200, n_fft=2048, fmin=80 (fmin quite depends on the dataset, but 80 sounds okay for me) for both

[2019-10-11 17:07] lingjzhu commented on #977
OK. Thanks for your reply. I use Nvidia's TTS and WaveGlow and found 22050 worked well with this dataset. But as you said, I think we should use consistent hyperparameters. I will change the hyperparamers and retrain the model.

[2019-10-11 17:10] lingjzhu commented on #977
@r9y9 Just to confirm, do you think the following hyperparameters work? If yes, I will retrain the model today.

{
  "name": "wavenet_vocoder",
  "input_type": "raw",
  "quantize_channels": 65536,
  "preprocess": "preemphasis",
  "postprocess": "inv_preemphasis",
  "global_gain_scale": 0.55,
  "sample_rate": 24000,
  "silence_threshold": 2,
  "num_mels": 80,
  "fmin": 80,
  "fmax": 7600,
  "fft_si

[2019-10-11 17:14] kan-bayashi commented on #977
About sampling rate, the original sampling rate is 48kHz, so I use 24 kHz (integer multiple downsampling is better).

[2019-10-11 17:17] r9y9 commented on #977
This is highly depending on the dataset you are working on. You need to turn the parameter so that clipping never happens.

Other parameters look good for me.

[2019-10-11 17:17] lingjzhu commented on #977
Thanks. I will share the model in a few days.

[2019-10-11 17:22] r9y9 commented on #977
FYI, pre-emphasis changes the gain of signals and that's why we need to tweak the global gain scaling parameter. If you want to know why we apply preemphasis on waveform as a preprocessing, please see LPCNet paper: https://jmvalin.ca/papers/lpcnet_icassp2019.pdf. In short, pre-emphasis has similar effects to noise shaping and reduces noise greatly at inference time.

[2019-10-11 19:37] TParcollet commented on #1254
Great thank you, any idea for the weird line?

[2019-10-11 20:46] lingjzhu commented on #977
Thanks! I am training the model now. After Stage 0 was completed,  numbers around 1.12 was suggested as the global scaling factor. So I set it to 1.10.

Could you please share some mel spectrograms predicted by your TTS models so that I can evaluate the WaveNet? Thanks.

[2019-10-12 01:58] hanqichen commented on #1248
Thanks for reply!

In my case, vgglstm ran 175k iterations which correspind to 14 epochs.

The 8 layers([config](https://github.com/espnet/espnet/files/3706423/8.layer.lstm.txt)) curve is as follows:
![image](https://user-images.githubusercontent.com/11291324/66692945-06a2cd80-ecd6-11e9-9787-786d0af5ec0d.png)

I'll try deeper vgglstm in the next few days.

[2019-10-12 03:57] lingjzhu commented on #1245
@kan-bayashi Just FYI, this sample sounds good and the sentence makes perfect sense to me.

[2019-10-12 04:28] kan-bayashi commented on #977
@lingjzhu Now I'm training the model.
Once finished, I will upload samples, models, and features!

[2019-10-12 06:05] Pydataman commented on #1261
@r9y9 ok

[2019-10-12 06:06] #1261 closed

[2019-10-12 09:29] Pydataman commented on #1245
@kan-bayashi sounds good, very clear

[2019-10-12 10:13] #964 closed

[2019-10-12 10:13] #982 closed

[2019-10-12 16:10] erogol opened #1264 "What is the memory requirement of Transformer TTS model?"
In [Mozilla TTS](https://github.com/mozilla/TTS) I try to keep model sizes reasonable and therefore my emphasis is mostly Tacotron. I see here people obtain good results with transformers but how does it compare with Tacotron in terms of training requirements?

My guess is that since spec sequences are too long, especially the decoder part should take a lot of memory at training time which would r

[2019-10-12 16:18] kan-bayashi commented on #1264
Hi @erogol.
In terms of training, Transformer requires large batch size (>64 according to original paper), requiring large GPU memory.
And as you said, sometimes there is a very long sentence which causes OOM easily.
To address these issues, we support dynamic batch making and gradient accumulation.
(See https://github.com/espnet/espnet#how-to-set-minibatch about batch making)
By using these techn

[2019-10-12 21:06] sw005320 opened #1266 "Using spawn in multiprocessing causes an error"
After #1251 is merged, we encountered the following error.
[code]
@kan-bayashi, can you fix it?
@arendu told me that `mp.set_start_method('spawn', force=True)` may solve it.

[2019-10-12 22:54] Shujian2015 commented on #1118
Have anyone tried even more epochs? I saw a post mentioned that SpecAug authors used 900 epochs for Libri (source: https://groups.google.com/d/msg/kaldi-help/_eer7j6SmKQ/LXnoGVvfAQAJ).

[2019-10-13 00:08] kan-bayashi commented on #1266
Sure.

[2019-10-13 00:41] kan-bayashi commented on #1266
I made PR to fix this issue #1267.

[2019-10-13 01:16] #1266 closed

[2019-10-13 06:13] #992 closed

[2019-10-13 10:49] #792 closed

[2019-10-14 01:23] kan-bayashi commented on #977
Hi @lingjzhu.
I finished the training of initial transformer.
You can download generated features.
https://drive.google.com/open?id=14LZZPPRCkmonMJbjOjfTZ7x8JaHDRMM2

[2019-10-14 13:07] Emrys365 opened #1272 "A bug in the implementation of DNN-based WPE?"
Hi, I was just checking the code in the front-end part.
I found that at the end of `dnn_wpe.py`, a non-inplace operation is used without using the returned value. Should `masked_fill` be replaced with `masked_fill_`?

https://github.com/espnet/espnet/blob/33ef80069c6f42bfbccffe2ea2f8d812f1cbeaaa/espnet/nets/pytorch_backend/frontends/dnn_wpe.py#L82

[2019-10-14 13:15] sw005320 commented on #1272
I think you're right.
@kamo-naoyuki, can you take a look at it?

[2019-10-14 13:18] sw005320 commented on #1118
Probably, yes. We actually observed some improvements, but we did not continue it as the gain was very small.

[2019-10-14 13:20] kan-bayashi commented on #1118
I tried until 150 epochs but no improvement was observed.
But if we use a larger model, might be different.

[2019-10-14 16:50] lingjzhu commented on #977
@kan-bayashi Hi, I have tested the WaveNet vocoder on the generated features. Here are some samples. They sound pretty good.
[samples.zip](https://github.com/espnet/espnet/files/3725509/samples.zip)

[2019-10-14 23:10] kan-bayashi commented on #977
@lingjzhu Cooool!
Could you upload your Wavenet model?

[2019-10-14 23:17] lingjzhu commented on #977
Sure. I haven't finished training yet. The model I used was trained for 500k iterations but there are still some noises. I will upload the model once the training is completed.

[2019-10-15 00:10] lingjzhu commented on #977
The model can be found at this link: https://drive.google.com/file/d/1qhfz1Kmj46hFByTN6m7Vgis2bxuaeLR_/view?usp=sharing

Here are samples for these two models. The sample generated by the "ema" model still contan some artifacts.
[009997_600k.zip](https://github.com/espnet/espnet/files/3726823/009997_600k.zip)

[2019-10-15 03:17] enamoria commented on #1245
@kan-bayashi Your recommendation helped. With some little modification in processing data, I'm able to synthesize better speech. Thanks for your suggestion.
I can make a PR for Vietnamese recipes, is that ok?

[2019-10-15 04:02] kan-bayashi commented on #1245
@enamoria That is very coool!
We are really welcome your PR!

[2019-10-15 04:21] #1245 closed

[2019-10-15 14:17] vcjob opened #1275 "How to use pretrained models"
Hello everyone!
I'm sorry to ask such a question, but, I spent a couple of hours trying to understand how to use pretrained model, but still can't figure it out.
Le't take an example: _https://github.com/espnet/espnet/blob/master/egs/ru_open_stt/asr1/RESULTS.md_
There you can see the link to pretrained model is available. I have downloaded it, unpacked the folders to the _egs/ru_open_stt/asr1/._ W

[2019-10-15 15:09] Fhrozen commented on #1275
Let me understand.
- First, did you execute the run.sh until stage 2? with: `./run.sh --stop_stage 2`
- Just in case, you execute until stage 1 `--stop_stage 1`, replace data/train/cmvn.ark with the one supplied by the download. also, maybe you need to replace data/lang_char/train_unigram100_units.txt in case the one generated in stage 2 is not similar to the one supplied by the download
- After t

[2019-10-15 18:21] takeofuture opened #1276 "For utils/recog_wav.sh which model should I select for Japanese decoding?"
I trained CSJ data and
--lang_model [path to train_rnnlm_pytorch_lm/rnnlm.model.best]
--recog_model [path to train_nodup_sp_pytorch_train/model.acc.best]
--decode_config conf/decode.yaml

But for Japnese, which model should I use?
Is this in taining folder in exp or I have to choose one of
    - tedlium2.rnn.v1
    - tedlium2.transformer.v1
    - tedlium3.transformer.v1
    - librispeech.transform

[2019-10-15 22:20] takeofuture commented on #1276
After try and error,
I found all of cmvn, recog_model "and" --lang_model are required.
I clear models= and it now works fine.(though I have not validate the result yet)
Thank you!
[code]

[2019-10-16 06:06] shunfeichen opened #1277 "How to compute perplexity of every sentence"
Hi, In Espnet, is there a tool or method to compute the perplexity  of every sentence ?

[2019-10-16 07:45] WhiteFu commented on #977
@lingjzhu  Are you using pretrain WaveGlow model from Nvidia?  Or training a new WaveGlow model by your Chinese corpus?  Can you improve some samples? I have been doing similar work recently.

[2019-10-16 11:56] lingjzhu commented on #977
@WhiteFu Please refer to this post for details and samples.
https://github.com/NVIDIA/waveglow/issues/132

[2019-10-16 14:38] Yingzhu-Zhao opened #1278 "stack encoder layer for transformer model"
Hi,

I see for multiple encoder layers in transformer encoder model, you use repeat.py function to repeat encoder_layer.py. However, I modify the code to be below, the result is very bad. Do you know why?

self.encoders = EncoderLayer(
            attention_dim,
            MultiHeadedAttention(attention_heads, attention_dim, attention_dropout_rate),
            PositionwiseFeedForward(attention_d

[2019-10-16 14:42] kan-bayashi commented on #1278
It seems that the same layer is used 12 times.

[2019-10-16 14:47] kan-bayashi commented on #1275
Maybe you can understand by using demo script `recog_wav.sh`
https://github.com/espnet/espnet#asr-demo
This script will automatically download pretrained model and then perform recognition.

@Fhrozen actually yes, currently the script give the results with `_`but we can just replace them.

[2019-10-16 14:51] #1276 closed

[2019-10-16 15:08] Yingzhu-Zhao commented on #1278
Hi, thanks for your reply. But for repeat.py function, isn't it repeat the same layer 12 times?

[2019-10-16 15:12] kan-bayashi commented on #1278
No. We define the layer 12 times.
Please carefully check the code.
https://github.com/espnet/espnet/blob/master/espnet/nets/pytorch_backend/transformer/repeat.py

[2019-10-17 00:13] vyraun opened #1281 "Network Not Training, without any error"
Hi,

My espnet set-up shows no issues in `make check_install`.

Yet, when I do `./run.sh` using the appropriate language numbers, the output just stops at
`
stage 3: Network Training
`
and in the `train.log` file it's just:

[code]

Even with `ngpu = 1` in `run.sh`, the same issue comes up. Any suggestions on how to fix this?

Thanks!

[2019-10-17 01:52] gs5264 commented on #1281
you can try :source path.sh first.

[2019-10-17 02:16] Danielsen331 opened #1282 "Aishell pretrain weight names can't match with the model to be load."
I try to use the pretrain aishell model to decode a wav file. The error as follows:
RuntimeError: Error(s) in loading state_dict for E2E:
	Missing key(s) in state_dict: "encoder.embed.conv.0.weight", "encoder.embed.conv.0.bias", "encoder.embed.conv.2.weight", "encoder.embed.conv.2.bias", "encoder.embed.out.0.weight", "encoder.embed.out.0.bias", "encoder.after_norm.weight", "encoder.after_norm.bias

[2019-10-17 05:20] takeofuture opened #1284 "Have anybody done Data Augumentation for Training?"
I wonder if somebody have tried the data augmentation on the training data on ESPNET.
If so, did you apply data augmentation on the spectrum after filter bank?

[2019-10-17 05:34] Fhrozen commented on #1284
I did for https://arxiv.org/abs/1811.02735.
In my case I applied it to the raw data (waveform) adding noise between 5 ~20 db

[2019-10-17 08:02] WhiteFu commented on #977
@lingjzhu Thank you very much!

[2019-10-17 08:44] WhiteFu commented on #1284
@Fhrozen How well does the Data Augmentation operation  work ? can you offer some samples?

[2019-10-17 09:27] kan-bayashi commented on #1281
Could you try following commands?
[code]

[2019-10-17 09:37] kan-bayashi commented on #1284
ESPnet supports kaldi's data augmentation such as speed perturbation and volume perturbation, which are applied for waveform.
See the example:
https://github.com/espnet/espnet/blob/3a709c896ec631edd55455b38cc70ea4fe6d5895/egs/csj/asr1/run.sh#L85-L88

Also we support SpecAugment, which appleid to feature vector.
The process is applied during feature loading in training.
You can use this by specifyi

[2019-10-17 10:50] ahmedalbahnasawy opened #1285 "Language model with 4 lstm layers is not learning"
I'm training RNNLM my conf file is similar to the default one in librispeech repo but the loss looks weird
![Screen Shot 2019-10-17 at 2 37 38 PM](https://user-images.githubusercontent.com/50653875/67001977-efa41700-f0eb-11e9-9cbb-8393f5b4081a.png)

[2019-10-17 19:34] lingjzhu commented on #977
@kan-bayashi I have finished training the WaveNet for 1000k steps.
They are available at:https://drive.google.com/file/d/1MQ562lpuDgYKozOP1Jv_gpsfmfLv1ax4/view?usp=sharing

Here is the configuration file.
[hparams.zip](https://github.com/espnet/espnet/files/3740974/hparams.zip)

Here are the audio samples of the Tacotron2 predicted mel spectrograms. There no substantial improvement compared to the

[2019-10-18 01:52] WhiteFu commented on #1284
@kan-bayashi  Thanks a lot. I will try it.

[2019-10-18 02:58] WhiteFu commented on #977
@lingjzhu  The audio quality is very good! Is your tacotron2’s configuration refer to espnet or Nvidia? Can you provide details about the audio preprocessing?

[2019-10-18 03:03] lingjzhu commented on #977
@WhiteFu The Tacotron2 predictions are those provdied by @kan-bayashi in this post. I used the same processing step as the Espnet recipe to train the WaveNet. All hyperparamers are specified in the hparams.zip. You'll need to look at r9y9's WaveNet vocoder to see how processing is carried out.

[2019-10-18 03:10] WhiteFu commented on #977
@lingjzhu Thank you for your patience, Effectively solved my confusion.
@kan-bayashi @r9y9 Thank you for providing such a wonderful repo!

[2019-10-18 03:49] takeofuture commented on #1284
@kan-bayashi @Fhrozen
Thank you for your suggestion and example!
I will take a look.

[2019-10-18 04:01] kan-bayashi commented on #977
@lingjzhu Thank you for your sharing!
I will add the model as pretrained model of this repo!

[2019-10-18 04:03] kan-bayashi commented on #977
@WhiteFu Note that the features are generated by our Transformer not Tacotron2.
(But the quality itself is almost the same among them)

[2019-10-18 04:26] Fhrozen commented on #1284
@WhiteFu , it worked pretty well. reducing the WER by 2% ave. on the CHiME-5 Corpus.
As @kan-bayashi mentioned, you can also try speed perturbation or spec-aug. But be careful, in case of librispeech (or similars) all of the proposed augmentation will work. In case of CHiME-5 or probably any similar corpus with similar acoustic characteristics, Spec-aug, speed perturb will only hurt the performanc

[2019-10-18 09:52] vcjob commented on #1275
Thank you for the help.
I did _./run.sh --stop_stage 2_ and had been waiting for more than one day for it to download everything and extract features. So now to run _./run.sh --stage 5_ I need to provide  _--snapshots_, which I don't have and not sure what is that? The models that I downloaded? Both for _train_rnnlm_pytorch_lm_unigram100_ and _train_pytorch_train_pytorch_transformer_large_ngpu4_?

[2019-10-18 10:45] kan-bayashi opened #1290 "ChainerDataLoader with multiprocessing will cause 'Can't pickle local object'"
ChainerDataLoader in v.0.6.0 with multiprocessing will cause following error.

[code]

[2019-10-18 11:13] kan-bayashi opened #1291 "Attention weight of Transformer TTS is wrong in inference the cache"
We need to calculate the attention weight incrementally.

https://github.com/espnet/espnet/blob/03724e6577f7dc8e56c1db3e7b07551a307b3131/espnet/nets/pytorch_backend/e2e_tts_transformer.py#L692-L697

[2019-10-18 13:38] vcjob commented on #1275
Thank you a lot! I just simply added a link to the Google drive for the corresponding model, and the script works just awesome!

[2019-10-18 14:36] vcjob opened #1293 "how to speed up recognition"
Hello everyone!

To transcribe a wav file I use _recog_wav.sh_.
Everything works fine, but afaik, model loading takes quite some time. So my idea is to make an API, which will load the models at its start once, and after that will just use loaded into the RAM models.
Due to run.pl, i'm confused a bit how to make this possible. Do you guys have any suggestion?
I need actually recognize short wavs,

[2019-10-18 15:16] fanlu commented on #1290
I have met the same issue
When I remove
[code]
the problem solved.

[2019-10-18 20:22] vyraun commented on #1281
thanks @gs5264 @kan-bayashi , tried both source path.sh and the given command, same issue happens, after

`stage 3: Network Training`

there is no output:

[code]

[2019-10-19 08:36] zqs01 commented on #1285
I also have the same question.
![图片](https://user-images.githubusercontent.com/40491290/67140539-22861080-f28e-11e9-8b08-f3b0c2845eff.png)
I use the default configuration:
`layer: 1         # 2 for character LMs

unit: 1000       # 650 for character LMs
opt: sgd          # adam for character LMs
sortagrad: 0 # Feed samples from shortest to longest ; -1: enabled for all epochs, 0: disabled, other:

[2019-10-19 14:45] #756 closed

[2019-10-19 15:40] sw005320 commented on #1293
If you check some of our google colab example (https://colab.research.google.com/github/espnet/interspeech2019-tutorial/blob/master/notebooks/interspeech2019_asr/interspeech2019_asr.ipynb), you can find a way to perform ESPnet pure python programing. I believe you can realize your idea by referring this code.

[2019-10-19 15:45] sw005320 opened #1294 "TensorFlow backend"
I'd like to make an issue to consider a development plan for the TensorFlow backend. TensorFlow is getting better and better with 2.0, and this is a great opportunity to consider it. Frankly, I'd not currently have such resources, and if you are interested in such a project and help us with this development, please let us know (or directly contact me (shinjiw@ieee.org)). I also welcome if you have

[2019-10-19 22:45] #1012 closed

[2019-10-20 01:45] #889 closed

[2019-10-20 07:21] ahmedalbahnasawy commented on #1285
my conf file is :
layer: 4 "lstm"
unit: 1024
opt: adam       # or adam
sortagrad: 0   # Feed samples from shortest to longest ; -1: enabled for all epochs, 0: disabled, other: enabled for 'other' epochs
batchsize: 256 # batch size in LM training
epoch: 20      # if the data size is large, we can reduce this
patience: 3
maxlen: 40     # if sentence length > lm_maxlen, lm_batchsize is automatically

[2019-10-20 22:56] takeofuture commented on #1293
I have the same issue.
120 secs wav by recog_wav.sh takes 5-6 hours if ngpu=0
I can reduce it by using gpu (ngpu=1)
But I got GPU Memory allocation error(GPU RAM 4GB)
if I try to decode 8 mins (480 secs) wav file.
I wonder this is why run.sh stage=5, ngpu set to 0 for CSJ in order to avoid GPU Memoery allocation error.

[2019-10-20 23:41] takeofuture opened #1297 "max recommended length for wav file (for utils/recog_wav.sh)"
I initially try decode 2 mins long wav and only first 2-3 sentence return reasonable response.
had rest of decoding result repeat the same. (Ex. Hai Hai Hai, 10-20 times and something else 20 times), this looks like some type of alignment issue.
(we use
#####hybrid CTC/attention
mtlalpha: 0.3
in conf/training.yaml
for training this model)

For testing purpose, I split about 1 2mins-long into small

[2019-10-21 02:00] mowayao commented on #1278
Cross-layer parameter sharing is not working on ASR?

[2019-10-21 02:25] kan-bayashi commented on #1297
That is one of the common problems of attetion-based ASR.
But we can significantly reduce them by using joint ctc attetion decoding.
Did you also use ctc_weight in decoding?
In our preliminary experiments, we can successfully decode even around 20 minutes speech if we use joint ctc attention decoding.

In terms of ASR corpora, the longest utterance is around 3000 frames i.e., 30 sec.
For example,

[2019-10-21 02:48] takeofuture commented on #1297
@kan-bayashi
Ok, I will try, I did use the default setting in conf/decode.yaml which is
ctc-weight: 0.3
I increase and see what happens
(Hope this is right direction to test)
Thank you!

[2019-10-21 02:50] kan-bayashi commented on #1293
Basically, we assume that the input utterance are split with a suitable length (e.g. less than 30 sec).
Since the encoder is blstm or Transformer without truncation, if you use very long utterances, it consumes much GPU memory.
For example, if you use 480 sec utterance, the number of frames will 48000.
That is too much for a GPU with 4 GB memory.

[2019-10-21 03:04] kan-bayashi commented on #1293
@takeofuture
The original data in CSJ is long utterance but it provide the segmentation so split utterances are used for training and evaluation.
And currently we use cpu decoding in the all of the recipes due to historical issue, but in future we will replace cpu decoding with gpu decoding as default.

[2019-10-22 09:49] flip-arunkp commented on #1192
Will fmin=125 and  fmax=7600 be applied to the ljspeech/tts1 recipes? Are the wavenet models for ljspeech trained with these limits or with no limits?

[2019-10-22 16:14] kobiche opened #1300 "Meaning of the variables used in decoder:"
I've been trying to make some sense about the meaning of the variables used in the decoder (espnet/espnet/nets/pytorch_backend/rnn/decoders.py -> Decoder -> recognize_beam(...) ) and linking their meaning to the paper Hybrid CTC/Attention Architecture for End-to-End Speech Recognition.

Leaving the CTC and LM aside, what are the meaning of the variables used in the lines 302-307 and how are they r

[2019-10-23 05:57] vcjob commented on #1293
Thank you a lot! That's what I've been looking for. I figured it out, and it works now just as I want.
Have a good one!

[2019-10-23 08:40] kaituoxu opened #1301 "import librosa get OSError"
Hi, after I pass `make check_install`, I got below import error when I tried to train models. After `apt-get install libsndfile1-dev`, this error gone. Maybe need to fix this problem in related install scripts. Thx.

[code]

[2019-10-23 10:49] ahmedalbahnasawy commented on #1285
@kan-bayashi could you check the conf file please

[2019-10-23 11:33] #1293 closed

[2019-10-23 11:59] Fhrozen commented on #1300
Are you referring to this part?:
https://github.com/espnet/espnet/blob/42dd17e382157e1038787c5f8dae1ecf360797c3/espnet/nets/pytorch_backend/rnn/decoders.py#L302-L307

If that is the case:
https://github.com/espnet/espnet/blob/42dd17e382157e1038787c5f8dae1ecf360797c3/espnet/bin/asr_recog.py#L82-L85

You can refer to the mentioned paper for `ctc-weight` (Eq. 45) \lambda

In case of `weights-ctc-dec`

[2019-10-23 12:23] vcjob opened #1303 "how to make LM flexible | change & update it"
Hello everyone!

I know, that the NN works in pair with LM, so LM kinda projects NN predicted phonemes to the real words, right?
Therefore, If the word is not presented in the LM, the ASR most likely suggest the closest word presented in LM, or just will omit it.
My question is, is there a way to quickly update the LM (push a new word into it OR pop some special words out)? Will it reduce performa

[2019-10-23 13:38] kobiche commented on #1300
Hey! I meant the variables att_c, att_w, ey_t, z_list and c_list.

[2019-10-23 15:27] Fhrozen commented on #1300
`att_c` is the attention weighted encoder state and `att_w` is the previous attention weight. More details in https://github.com/espnet/espnet/blob/master/espnet/nets/pytorch_backend/rnn/attentions.py.
In the paper, you may find `att_c` as `r_l` (Eq 27) and  `att_w` is `a_{lt}` (eq 26)

I cannot find ey_t in the code. Do you mean https://github.com/espnet/espnet/blob/f14b7e181f97851623348146d6725a

[2019-10-23 15:58] Fhrozen commented on #1303
Hi there,
Maybe there are some parts to clarify (I apologize in advance if I misunderstood you):

For ESPnet, LM is used to improve the performance of the end-to-end deep model and the recipes in
ESPnet works with words (or characters/sub-words) input and output.

I think that there are some recipes that maybe works with phonemes like https://github.com/espnet/espnet/tree/master/egs/timit/asr1. Bu

[2019-10-24 00:41] RSSharma246 opened #1304 "Question: Logits after tanh is taken even for last layer in RNN-P encoder"
In https://github.com/espnet/espnet/blob/7f687347c472e3c7082d74456ebc82dc7126e15a/espnet/nets/pytorch_backend/rnn/encoders.py#L79,
I notice that the tanh activation is applied even to the final layer output in the RNNP encoder, and I was wondering if there is a reason why this is done ? Shouldn't the activation be on the pre-final layers only?

[2019-10-24 05:29] kan-bayashi commented on #1301
Thank you for your report.
We will add the library as a pre-requirement in README.

[2019-10-24 05:30] #1284 closed

[2019-10-24 05:36] kan-bayashi commented on #1285
@ahmedalbahnasawy
Sorry for the late reply.
We are still fighting with ICASSP papers...
From your config, it seems that the biggest difference is an optimizer.
Did you try SGD instead of adam?

@zqs01 What is your task?

@ShigekiKarita and @sw005320 may give useful comments to you after the end of ICASSP...

[2019-10-24 05:37] #1277 closed

[2019-10-24 05:37] kan-bayashi commented on #1272
Fixed #1273

[2019-10-24 05:37] #1272 closed

[2019-10-24 05:37] #1275 closed

[2019-10-24 10:22] kobiche commented on #1300
Thanks! I think I grasped the general idea now!
I meant the `ey` that is displayed in the `recognize_beam(...)` function (which has the same function as the one you show)
https://github.com/espnet/espnet/blob/f14b7e181f97851623348146d6725ac17bb81527/espnet/nets/pytorch_backend/rnn/decoders.py#L368
Why is it the concatenation of the last letter of the sequence and the attention state?

[2019-10-24 10:45] Fhrozen commented on #1300
From the paper:

is another recurrent network conditioned on the previous
output cl−1 and hidden vector ql−1, similar to an RNNLM,

[2019-10-24 14:54] r9y9 commented on #1192
Not fully agreed yet. Current pretrained models are trained with no limits, but in future we may consider using band-limited feautures IMO.

[2019-10-24 15:30] flip-arunkp commented on #1192
thanks

[2019-10-25 02:01] gs5264 commented on #1218
I had solved this problem. The warp-ctc is the main reason.

[2019-10-25 09:12] #1115 closed

[2019-10-25 09:14] kobiche commented on #1300
Thanks again!

[2019-10-25 09:14] #1300 closed

[2019-10-25 09:45] Pydataman opened #1310 "some questions about espnet?"
hi
I have trained tts or asr model use espnet, how to use those models.
in utils, I see some functions, example as recog_wav.sh and synth_wav.sh, but I want to deploy those models in my server, those function are Inappropriate, do you have some advices for this?
thanks

example:
e2e_tts_transformer.py is dependent on so many functions, decoder.py、attention.py and so on

[2019-10-25 09:46] Pydataman opened #1311 "some question about espnet"
hi
I have trained tts or asr model use espnet, how to use those models.
in utils, I see some functions, example as recog_wav.sh and synth_wav.sh, but I want to deploy those models in my server, those function are Inappropriate, do you have some advices for this?
thanks

example:
e2e_tts_transformer.py is dependent on so many functions, decoder.py、attention.py and so on

[2019-10-25 09:51] #1310 closed

[2019-10-25 13:06] sw005320 commented on #1285
Compared with https://github.com/espnet/espnet/blob/master/egs/librispeech/asr1/conf/tuning/lm_large.yaml there are nother differences I found in addition to the optimizer, e.g., dropout, batchsize, etc. I recommend you to follow our default lm configs before you customize it by yourself.

[2019-10-25 13:12] sw005320 commented on #1304
Thanks for pointing out it. Frankly, I don't know which is better and it's worth considering to compare it. @simpleoier, could you use the an4/voxforge tasks and report the difference?

[2019-10-25 13:15] sw005320 commented on #1311
You may check #1293
@ShigekiKarita, your colab seems to be more important. Do you have a plan to clean up it and attach it somewhere in our documentation page?

[2019-10-25 14:32] simpleoier commented on #1304
Sure.

[2019-10-26 01:57] simpleoier commented on #1304
Alright, I tested it. The improvement can be observed if no tanh activation is applied to the final layer of the RNNP encoder.
Here is the results for the current ESPnet (with tanh for the last encoder layer):
* hybrid CTC/attention using word-LM
[code]
* CTC only using word-LM
[code]
Here is the results for the current ESPnet (disabling tanh for the last encoder layer):
* hybrid CTC/attention usi